.mp-apps-wrapper {
	background-color: #f4f8f9;
	padding: 15px 20px 20px;
	margin-top: 20px;
}

.mp-apps-title {
	font-size: 22px;
	line-height: 30px;
	font-family: "OpenSans-Regular", Arial, sans-serif;
	color: #525c69;
	margin-bottom: 10px;
}

.mp-apps-list {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}

.mp-apps-item {
	display: flex;
	align-items: flex-start;
	background-color: #fff;
	padding: 24px 19px 24px 28px;
	margin-bottom: 12px;
}

.mp-apps-item:last-child {
	margin-bottom: 0;
}

.mp-apps-subtitle {
	font-size: 22px;
	line-height: 22px;
	color: #333;
	font-family: "OpenSans-Semibold", Arial, sans-serif;
}

.mp-apps-desc {
	font-size: 13px;
	line-height: 21px;
	color: #525c69;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-bottom: 6px;
	margin: 6px 0 13px;
	border-bottom: 1px solid #eeeff0;
}

.mp-apps-icon {
	display: inline-block;
	vertical-align: top;
	width: 130px;
	height: 130px;
	margin-right: 30px;
	flex-shrink: 0;
	border: 2px solid transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.mp-apps-icon img {
	max-width: 100%;
	width: 130px;
	height: 130px;
}

.mp-apps-icon--purple {
	border-color: #bc9bd1;
}

.mp-apps-icon--red {
	border-color: #f6b6a8;
}

.mp-apps-icon--orange {
	border-color: #f7a901;
}

.mp-apps-icon--darkorange {
	border-color: #ff8d35;
}

.mp-apps-icon--grey {
	border-color: #f1ebeb;
}

.mp-apps-item--install {
	position: relative;
}

.mp-apps-item--install:before {
	content: url("/bitrix/components/bitrix/voximplant.config.partners/templates/.default/images/check-icon.svg");
	position: absolute;
	width: 47px;
	height: 47px;
	top: 113px;
	left: 135px;
}