/* >>> bizproc.workflow.setparameters */
.bp-question {
	font-weight: bold;
	color: #f43400;
	font-size: 16px;
	line-height: 23px;
	vertical-align: middle;
}

.bp-question span {
	display: inline-block;
	margin-right: 10px;
	width: 19px;
	height: 19px;
	line-height: 19px;
	border-radius: 50%;
	border: 2px solid #f43400;
	text-align: center;
}

.bp-setparameters p {
	font-size: 14px;
	color: #000;
	margin: 15px 0 15px;
}

.bp-setparameters p.hint {
	font-size: 12px;
	color: #81878a;
	margin: 10px 0 10px;
}

.bp-question-title {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	margin: 40px 0 10px;
	display: block;
}

.bp-question-item {
	padding: 12px 0;
	border-top: 1px solid #dee3e6;
	overflow: hidden;
	line-height: 45px;
}

.bp-question-item-avatar {
	position: relative;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	margin-right: 10px;
	display: inline-block;
	line-height: 34px;
	vertical-align: middle;
}

.bp-question-item-avatar-inner {
	overflow: hidden;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 34px;
}

.bp-question-item-avatar img {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	margin: auto;
	vertical-align: middle;
}

.bp-question-item-avatar i {
	background-color: #baed21;
	border: 2px solid #fff;
	border-radius: 50%;
	bottom: -2px;
	height: 9px;
	width: 9px;
	position: absolute;
	right: -3px;
}

.bp-question-item-info {
	display: inline-block;
	line-height: 17px;
	vertical-align: middle;
}

.bp-question-item-info span {
	color: #000;
	display: block;
}

.bp-question-divider {
	width: 100%;
	height: 1px;
	background: #dee3e6;
}

.bp-question-item-burger {
	cursor: pointer;
	display: inline-block;
	width: 17px;
	height: 6px;
	border-top: 2px solid #c7ccd0;
	border-bottom: 2px solid #c7ccd0;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 18px 0 8px;
}

.bp-question-item-burger:before {
	content: '';
	position: absolute;
	top: 2px;
	width: 17px;
	height: 2px;
	background: #c7ccd0;
}

.bp-setparameters textarea {
	color: #5e5e5e;
	padding: 15px 13px;
	border: 1px solid #c6cdd3;
	outline: none;
	min-height: 120px;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* <<< bizproc.workflow.setparameters */