.sender-footer-container {
	position: relative;
	text-align: left;
	padding: 0 0 0 30px;
}

.sender-add-template-container {
	float: right;
	height: 39px;
	line-height: 39px;
	vertical-align: middle;
	margin-right: 40px;
	color: #868c96;
	font-size: 13px;
}

.sender-add-template-label,
.sender-add-template-checkbox {
	cursor: pointer;
}

.sender-footer-container .webform-button-link {
	font: 12px/39px "OpenSans-Bold",Helvetica,Arial,sans-serif;
	transition: background .5s ease;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #535b69;
	border: 0;
	position: relative;
	height: 39px;
	margin: 0;
}

.sender-footer-container .webform-button-link:hover {
	border: 0;
	color: #80868e;
}

.sender-footer-buttons {
	height: 35px;
	opacity: 0;
}