body,
.bx-layout-inner-table,
.bx-layout-inner-inner-table {
	background: #fff !important;
}

#panel,
#header,
#footer,
.bx-im-bar,
.main-buttons,
.theme-video-container,
.start-page #sidebar,
.profile-menu {
	display: none !important;
}

.page-header {
	max-width: none !important;
}

.bx-layout-inner-left {
	width: 20px !important;
	visibility: hidden !important;
}

.bx-layout-inner-inner-cont {
	padding-right: 20px !important;
}

.pagetitle-inner-container > *:not(.pagetitle),
.pagetitle-star {
	display: none !important;
}

@media print {
	body {
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
	}
}