.bx-lists-table-content select[name="PROPERTY_212"] option {
    display: none;
}
.bx-lists-table-content select[name="PROPERTY_220"] option {
    display: none;
}
.bx-lists-table-content select[name="PROPERTY_221"] option {
    display: none;
}
.bp-task-block .data-table{
margin-top: -500px;
}

#bx-lists-div-list-44 option[value=""] {
    display: none;
}

.bp-task-block.bp-opacity-animation .data-table{
margin-top: -710px;
}

#form_lists_element_edit_44 .bx-buttons input[name="save"] {
    display: none;
}
.vnebu {
    position: absolute;
  
    color: #ff0000;
    display: none;
    margin-left: 380px;
}
.db {
    display: block;
    width: 330px;
    
}

@media screen and (min-width: 1661px) {
    .vnebu {
        position: absolute;

        
       margin-top: -29px;
        margin-left: 380px;
    }
    .db {
        margin-top: -36px;
    }
}
@media screen and (max-width: 1660px) {
    .vnebu {
        width: 165px;
        margin-top: -36px;
    }
}
@media screen and (max-width: 1450px) {
    .vnebu {
        width: 100px;
        margin-top: -53px;
    }
}
@media screen and (max-width: 1340px) {
    .vnebu {
        position: relative;
        margin-left: 0px;
        top: 0px;
        width: 100%;

        margin-top: 10px;
        
        /* margin-left: 380px; */
        /* width: 100px; */
    }
}

.bp-task-block a {
    /*display: block;*/
}