/*Grid*/
table.bx-interface-grid {border:none;}
table.bx-interface-grid td {border:none; border-right:1px solid #EDEDED;}
table.bx-interface-grid td.bx-left {border-bottom:none; border-left:1px solid #EDEDED;}
table.bx-interface-grid tr.bx-bottom td {border-bottom:none;}
table.bx-interface-grid tr.bx-even td {background-color:#F2F2F2;}
table.bx-interface-grid tr.bx-even td.bx-sorted {background-color:#EDEDED;}
table.bx-interface-grid tr.bx-odd td {background-color:white;}
table.bx-interface-grid tr.bx-odd td.bx-sorted {background-color:#F8F8F8;}

table.bx-interface-grid tr.bx-grid-gutter td {height:5px; background-color:#e5e5e5; border-right:1px solid #EBEBEB; border-top:1px solid #D9D9D9; border-bottom:none; border-left:none; padding:0px;}
table.bx-interface-grid tr.bx-grid-gutter td.bx-over {background-image:url(images/gutter_bg.png); background-repeat:repeat-x;}
table.bx-interface-grid tr.bx-grid-gutter td.bx-sorted {background-color:#C0C0C0;  border-top:1px solid #B7B7B7; border-right:1px solid #EBEBEB;}
table.bx-interface-grid tr.bx-grid-gutter td.bx-over-sorted {background-image:url(images/gutter_sort_bg.png); background-repeat:repeat-x;}
table.bx-interface-grid tr.bx-grid-gutter td.bx-left {border-left:1px solid #D6D6D6; border-top:1px solid #D9D9D9; border-right:1px solid #EBEBEB}
table.bx-interface-grid tr.bx-grid-gutter td.bx-right {border-right:1px solid #D6D6D6; border-top:1px solid #D9D9D9;}
table.bx-interface-grid tr.bx-grid-head td {border-right:1px solid #EBEBEB; border-bottom:1px solid #CDCDCD; border-top:none; border-left:none; color:black; font-weight:bold; background-color:#D9D9D9; background-image:url(images/listhead.png); background-repeat:repeat-x; background-position:top; cursor:default;}
table.bx-interface-grid tr.bx-grid-head td.bx-sorted {background-color:#C0C0C0; background-image:none; border-bottom:1px solid #C3C3C3; border-right:1px solid #EBEBEB;}
table.bx-interface-grid tr.bx-grid-head td.bx-left {border-left:1px solid #D6D6D6; border-bottom:1px solid #CDCDCD; border-right:1px solid #EBEBEB;}
table.bx-interface-grid tr.bx-grid-head td.bx-right {border-right:1px solid #D6D6D6;  border-bottom:1px solid #CDCDCD;}

table.bx-interface-grid tr.bx-selected td {background-color:#DAEC71; border-bottom:none;}
table.bx-interface-grid tr.bx-selected td.bx-sorted {background-color:#DAEC71;}
table.bx-interface-grid tr.bx-active td {background-color:#FFF46A;}
table.bx-interface-grid tr.bx-active td.bx-sorted {background-color:#FFF46A;}
table.bx-interface-grid tr.bx-over td {background-color:#FFFCB1; border-bottom:none;}
table.bx-interface-grid tr.bx-over td.bx-sorted {background-color: #FFFCB1;}

table.bx-interface-grid a.bx-action { margin:1px; display:inline-block; outline:none;}
table.bx-interface-grid a.bx-action:hover {margin:0; border:1px solid #AEB6C2; background-color:transparent;}
table.bx-interface-grid a.bx-action div {cursor:pointer; width:26px; height:18px; background-image:url(images/action.gif); background-repeat:no-repeat; background-position:3px 3px;}
table.bx-interface-grid a.bx-action:hover div, table.bx-interface-grid tr.bx-over a.bx-action div {background-image:url(images/action_hover.gif);}
table.bx-interface-grid a.pressed {margin:0; border:1px solid #A6A6A6; background-color:transparent;}
table.bx-interface-grid a.pressed div {background-image:url(images/action_hover.gif);}

table.bx-interface-grid tr.bx-grid-head a.bx-action { width: auto; margin: 0; border: none;}
table.bx-interface-grid tr.bx-grid-head a.bx-action div {background-image:url(images/action_head.gif);  background-position:4px 3px;}
table.bx-interface-grid tr.bx-grid-head a.bx-action:hover div {background-image:url(images/action_hover.gif);}
table.bx-interface-grid tr.bx-grid-head a.bx-action:hover {border:none; margin:0; background-color:transparent;}
table.bx-interface-grid tr.bx-grid-head a.pressed {border:none; background-color:transparent;}
table.bx-interface-grid tr.bx-grid-head a.pressed div {background-image:url(images/action_hover.gif);}

/*Grid Footer*/
table.bx-interface-grid tr.bx-grid-footer td {padding:4px 0px 4px 0px; background-color:#8A8A8A;}
table.bx-interface-grid tr.bx-grid-footer td,
tr.bx-grid-footer table.bx-grid-footer {color:#E0E0E0;}
tr.bx-grid-footer table.bx-grid-footer td {padding:4px 5px 4px 5px; border:none; border-right:1px solid #B4B4B4;}
tr.bx-grid-footer table.bx-grid-footer span { color:white;}
tr.bx-grid-footer table.bx-grid-footer span.modern-page-title {color:#E0E0E0;}
tr.bx-grid-footer table.bx-grid-footer div.modern-page-navigation a {color:white; text-decoration:underline;}

/*Sorting*/
table.bx-interface-grid table.bx-grid-sorting td {width:100%; padding:0px; border:0px; background-image:none; background-color:transparent;}
table.bx-interface-grid table.bx-grid-sorting td.bx-sort-sign {background-image:url(images/sort_no.gif);}
table.bx-interface-grid table.bx-grid-sorting td.bx-sort-up {background-image:url(images/sort_up.gif);}
table.bx-interface-grid table.bx-grid-sorting td.bx-sort-down {background-image:url(images/sort_down.gif);}

/* Drag-n-Drop*/
div.bx-drag-object {padding:5px; border:1px solid #CDCDCD; color:black; font-weight:bold; background-color:#D9D9D9; background-image:url(images/listhead.png); background-repeat:repeat-x; background-position:top; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

/* Filter */
table.bx-interface-filter tr.bx-filter-header td {background-color:#A1A1A1; background-image:url(images/filter/bg.png); border:1px solid #909090; border-top:1px solid #9A9A9A; border-bottom:1px solid #818181;}
a.bx-filter-show:hover, a.bx-filter-hide:hover, a.bx-filter-menu:hover, a.bx-filter-min:hover, a.bx-filter-max:hover {background-color:#B7B7B7;}
div.bx-filter-sep {background-color:#B7B7B7;}
div.bx-filter-off {background-image:url(images/filter/check-off.gif);}
div.bx-filter-on {background-image:url(images/filter/check-on.gif);}
a.bx-filter-show { background-image:url(images/filter/arrow-down.gif);}
a.bx-filter-hide { background-image:url(images/filter/arrow-up.gif);}
a.bx-filter-menu { background-image:url(images/filter/menu.gif);}
a.bx-filter-min { background-image:url(images/filter/minimize.gif);}
a.bx-filter-max { background-image:url(images/filter/maximize.gif);}
div.bx-filter-text { color:white; }