.disk-pagetitle {
	color: #000;
	font: 26px/26px "OpenSans-Light", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 21px 0 21px 5px;
	display: block;
	word-wrap: break-word;
}
.disk-workarea-content-paddings {
	overflow-x: auto;
	overflow-y: visible;
}
.disk-pagetitle-wrap {
	min-height: 74px;
	box-sizing: border-box;
	position: relative;
}
.disk-pagetitle-menu {
	float: right;
	text-align: right;
	z-index: 2;
	white-space: nowrap;
}
.disk-pagetitle-menu > div,
.disk-pagetitle-menu > span {
	display: inline-block;
	vertical-align: middle;
	float: none;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
}
.disk-slider-frame-popup {
	background: #eef2f4 !important;
	padding: 0 15px 21px 21px;
}

.disk-pagetitle-inner-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
	min-height: 74px;
	box-sizing: border-box;
}

.disk-pagetitle-inner-container .pagetitle-flexible-space {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}