*{
	padding:0;
	margin:0;
}
body{
	background:url(images/bg.png);
	background-size:7px 1px;
	font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-font-smoothing:antialiased;
}
/* ===== Ruble Symbol =====
* <span class="rub">q</span>
*/
@font-face{
	font-family:'als_rublregular';
	src:url('font/rouble-webfont.eot');
	src:url('font/rouble-webfont.eot?#iefix') format('embedded-opentype'),
	url('font/rouble-webfont.woff') format('woff'),
	url('font/rouble-webfont.ttf') format('truetype'),
	url('font/rouble-webfont.svg#als_rublregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
.rub{font-family:'als_rublregular'}
/* ===== end Ruble Symbol ===== */
.wrap{padding:13px 10px}
.order_itemlist_component{}
.order_itemlist_item_container{
	background:#fff;
	border-radius:5px;
	overflow:hidden;
	box-shadow:0 1px 1px 0 rgba(0,0,0,0.2);
	margin-bottom:7px;
}
.order_itemlist_item_title{
	height:26px;
	box-shadow:0 1px 1px 0 rgba(0,0,0,0.2);
}
.order_itemlist_item_title span{
	color:#fff;
	line-height:26px;
	padding:0 10px;
	display:inline-block;
	width:100%;
	box-sizing:border-box;
	background:url(images/gui.png) no-repeat 99% 7px;
	background-size:30px auto;
	font-size:14px;
	font-weight:bold;
}
.order_itemlist_item_customer,
.order_itemlist_item_delivery,
.order_itemlist_item_pay{
	font-size:13px;
	margin:5px 0;
	line-height:13px;
	color:#000;
	padding:2px 0 0 20px;
	width:100%;
	overflow:hidden;
	height:16px;
	white-space:nowrap;
	text-overflow:ellipsis;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background:url(images/gui.png) no-repeat;
	background-size:30px auto;
}
.order_itemlist_item_pay 	  {background-position:-1px -102px}
.order_itemlist_item_customer {background-position:-2px -23px}
.order_itemlist_item_delivery {background-position:-1px -41px}

.order_step1 .order_itemlist_item_title{
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#db4545), to(#c22727));
	background-image:-webkit-linear-gradient(#db4545 0%, #c22727 100%);
	background-image:linear-gradient(#db4545 0%, #c22727 100%);
	text-shadow:0 1px 0 #831f1f;
}

.order_itemlist_item_delivery.notallowed{background-position:-1px -61px}
.order_itemlist_item_pay.notallowed,
.order_itemlist_item_delivery.notallowed{color:#cc1717}

.order_step2 .order_itemlist_item_title{
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#eeb71f), to(#e18511));
	background-image:-webkit-linear-gradient(#eeb71f 0%, #e18511 100%);
	background-image:linear-gradient(#eeb71f 0%, #e18511 100%);
	text-shadow:0 -1px 0 #945e0e;
}
.order_step3 .order_itemlist_item_title{
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#28b2da), to(#167cbf));
	background-image:-webkit-linear-gradient(#28b2da 0%, #167cbf 100%);
	background-image:linear-gradient(#28b2da 0%, #167cbf 100%);
	text-shadow:0 1px 0 #831f1f;
}
.order_step3 .order_itemlist_item_delivery 	  {background-position:-1px -81px}
.order_completed .order_itemlist_item_title{
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#a4a9b1), to(#898f9a));
	background-image:-webkit-linear-gradient(#a4a9b1 0%, #898f9a 100%);
	background-image:linear-gradient(#a4a9b1 0%, #898f9a 100%);
	text-shadow:0 1px 0 #5e6268;
}


.order_itemlist_item_content{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:8px 8px 0;
	position:relative;
}
.order_itemlist_item_content.close{
	overflow:hidden;
	height:0;
	padding:0;
}
.order_itemlist_item_idshop{
	position:absolute;
	top:10px;
	right:0;
	background:#f0f1f2;
	padding:4px;
	border-radius:5px 0 0 5px;
	font-size:13px;
	font-weight:bold;
	color:#525253;
}
.order_itemlist_item_total .order_itemlist_item_idshop{
	top:0;
	bottom:0;
	border-radius:0
}
.order_itemlist_item_total{
	padding:5px;
	color:#000;
	position:relative;
	background:#f2f4f5;
	box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.1);
	height:15px;
	text-shadow:0 1px 0 #fff;
	margin:0;
}
.order_itemlist_item_price{
	position:absolute;
	left:5px;
	font-size:14px;
	font-weight:bold;
}
.order_itemlist_item_itemcount{
	position:absolute;
	right:5px;
	font-size:13px;

}
.order_completed .order_itemlist_item_total{
	border-radius:0;
	background:#fff;
	box-shadow:none;
	text-shadow:none;
}
.order_itemlist_item_total_completed{
	color:#8d97a2;
	font-size:13px;
	font-weight:bold;
	padding-left:20px;
	background:url(images/gui.png) no-repeat 0 -121px;
	background-size:30px auto;
}
.order_itemlist_item_total_completed span{color:#000}


/*=====================================================================*/
/*=====================================================================*/

.order_component{}
.order_title{
	color:#071c27;
	font-weight:bold;
	font-size:16px;
	position:relative;
	padding-bottom:10px;
	text-shadow:0 1px 0 #fff;
}
.order-title-date {
	font-size:14px;
	color:#6f7f8b;
}

.order_nav{margin-bottom:10px}
.order_nav ul{padding:0;margin:0;border-radius:5px}
.order_nav ul li{
	padding:0;
	margin:0;
	display:block;
	float:left;
	text-align:center;
	width:34%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#d1d8dc));
	background-image:-webkit-linear-gradient(#f9f9f9 0%, #d1d8dc 100%);
	background-image:linear-gradient(#f9f9f9 0%, #d1d8dc 100%);
	border-top:1px solid #a7bbc7;
	border-bottom:1px solid #90a0aa;
	box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.17);
}
.order_nav ul li:first-child{width:33%;border-radius:5px 0 0 5px;border-left:1px solid #a7bbc7}
.order_nav ul li:last-child {width:33%;border-radius:0 5px 5px 0;border-right:1px solid #a7bbc7}
.order_nav ul li.current{
	box-shadow:inset 0 1px 2px 0 #596b0c;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#829b12), to(#8bb21c));
	background-image:-webkit-linear-gradient(#829b12 0%, #8bb21c 100%);
	background-image:linear-gradient(#829b12 0%, #8bb21c 100%);
	border-top:1px solid #7d9cae;
	border-bottom:1px solid #7d9cae;
}
.order_nav ul li.current:first-child{border-left:1px solid #8ca1ad}
.order_nav ul li.current:last-child {border-right:1px solid #8ca1ad}
.order_nav ul li a{
	display:block;
	line-height:28px;
	color:#113549;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
}
.order_nav ul li:first-child a{}
.order_nav ul li:last-child  a{}
.order_nav ul li.current a{
	color:#fff;
	text-shadow:0 1px 0 #678313;
}
.order_infoblock{
	background:#fff;
	border-radius:5px;
	margin:8px 0;
	box-shadow:0 1px 1px 0 rgba(0,0,0,.15)
}

.order_infoblock.total div table tbody tr td.order_infoblock_content_table_tdvalue{
	text-align: right;
}

.order_infoblock.total div table.order_infoblock_content_table{
	border-collapse: collapse;
}

.order_infoblock_title{
	padding:9px 15px;
	color:#113549;
	font-weight:bold;
	font-size:14px;
	text-shadow:0 1px 0 #fff;
	position:relative;
}
.order_detail_container .order_infoblock_title{padding:9px 0}
.time_icon{
	display: inline-block;
	padding-left: 30px;
	background:url(images/icon_time.png) no-repeat 16px center;
	background-size:auto 11px;
}
.order_infoblock_title span{
	width:20px;
	height:20px;
	position:absolute;
	top:50%;
	margin-top:-10px;
	right:10px;
	display:block;
	background:url(images/gui.png) no-repeat;
	background-size:30px auto;
	background-position:0 -140px;
}
.order_infoblock_title_description{
	padding:0;
	font-style:italic;
	font-weight:normal;
}
.order_infoblock.close .order_infoblock_title span{background-position:0 -160px}
.order_infoblock_content{
	padding:9px 15px;
	border-top:1px solid #e7ebed;
}
.order_infoblock.close .order_infoblock_content,
.order_infoblock.close .order_detail_container,
.order_infoblock.close .order_detail_container_itogi{
	padding:0 15px;
	border:none;
	height:0;
	overflow:hidden;
}
.order_infoblock_content_table
{
	width: 100%;
}

.order_infoblock_content_table_tdtitle{
	font-size:13px;
	color:#798186;
	vertical-align:top;
	padding:2px 0;
}
.order_infoblock_content_table_tdvalue{
	font-size:13px;
	padding:2px 0;
	color:#000;
	vertical-align:top;
}

.order_infoblock_order_canceled{
	background:#f8d9d9;
	border-radius:5px;
	padding:3px 7px;
	display:inline-block;
	font-size:13px;
	text-align:center;
	display:block;
}
/*=====================================================================*/
/*=====================================================================*/
.order_detail_container{
	padding:0 10px;
	border-bottom:2px solid #d0d3d5;
	border-top:1px solid #e7ebed;
}
.order_detail_table{
	border-collapse:collapse;
	border-bottom:none;
	width:100%;
	margin:5px auto;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
.order_detail_table tr td{
	padding:0;
	vertical-align:top;
	padding:15px 0px ;
}
.order_detail_table_td_img img{
	max-width:75px;
	height:auto;
	margin:0 5px 0 0;
}
.order_detail_table_td_table{
	border:1px solid #ccc;
	border-collapse:collapse;
	width:100%;
}
.order_detail_table_td_table thead tr td{
	background:#e8ebee;
	color:#6e787f;
	font-size:12px;
	text-align:center;
	vertical-align:middle;
	padding:2px 5px;
	white-space:nowrap;
	border-right:1px solid #ccc;
}
.order_detail_table_td_table tbody tr td{
	text-align:center;
	vertical-align:top;
	padding:3px 5px;
	border-right:1px solid #ccc;
	font-size:12px;
	color:#000;
}
.order_detail_table_td_table tbody tr td .price{}
.order_detail_table_td_table tbody tr td .price_old{
	color:#a3a3a3;
	text-decoration:line-through;
}
.order_detail_table_td_table tbody tr td .price_sale{}
.order_detail_list_description_title{
	float:left;
	padding-top:2px;
	font-size:14px;
	line-height:15px;
	color:#ccc;
}
.order_detail_list_description_text{
	/*margin-left:200px;*/
	margin-top:10px;
	padding-bottom:10px;
}
.order_detail_list_description_text ul{
	margin-left:77px;
	display:block;
	padding:0;
}
.order_detail_list_description_text ul li{}

.order_detail_list_description_text ul li{
	font-size:14px;
	color:#000;
	padding:0;
	display:inline;
	font-style:italic;
	line-height:15px;
}
.order_detail_list_description_text ul li:after{content:", "}
.order_detail_list_description_text ul li:last-child:after{content:none}

.order_detail_container_itogi{padding:10px}
.order_detail_container_itogi_table{
	width:100%;
	border-collapse:collapse;
	/*border-radius:2px;*/
}
.order_detail_container_itogi_table tr td{
	vertical-align:middle;
	padding:5px;
	text-align:left;
}
.order_detail_container_itogi_table tr td:first-child{
	color:#5e6970;
	font-size:11px;
}
.order_detail_container_itogi_table tr td:last-child{
	color:#000;
	font-size:13px;
	font-weight:bold;
}
.order_detail_container_itogi_table_td_green{background:#edf2d4}
.order_detail_container_itogi_coupon{
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
}
.order_detail_container_itogi_coupon tr td{
	color: #112a38;
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
}
.order_detail_container_coupon_input_container input[type=text]{
	line-height: 30px;
	border: none;
	border-radius: 14px;
	display: block;
	background: transparent;
	width: 100%;
}
.order_detail_container_coupon_input_container{
	position: relative;
	border-radius: 5px;
	border: 1px solid #b9bcbe;
	background: #fff;
	margin: 0 5px;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1), 0 1px 1px 0 #fff;
}
.order_detail_container_coupon_button{

	padding:5px 15px;
	display:block;
	border-top:1px solid #f1f1f1;
	border-left:1px  solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	border-bottom:1px solid #a9a9a9;
	color:#133c53;
	font-size:14px;
	font-weight:bold;
	border-radius: 5px;
	text-shadow:0 1px 0 #fff;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e0e5e8));
	background-image:-webkit-linear-gradient(#fff 0%, #e0e5e8 100%);
	background-image:linear-gradient(#fff 0%, #e0e5e8 100%);
	text-decoration:none;
	box-shadow:0 1px 0 0 #e5e5e5, inset 0 0 1px 0 #e8ecee;
	line-height:18px;
}
/*=====================================================================*/
/*=====================================================================*/

.order_status_component,
.order_acceptpay_component{}
.order_status_title,
.order_acceptpay_title{
	color:#071c27;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	padding-bottom:10px;
	text-shadow:0 1px 0 #fff;
}
.order_status_infoblock,
.order_acceptpay_infoblock{
	background:#fff;
	border-radius:5px;
	margin:5px 0;
	padding:3px 10px;
	box-shadow:0 1px 1px 0 rgba(0,0,0,.15)
}
.order_status_infoblock ul,
.order_acceptpay_infoblock ul{display:block}
.order_status_infoblock ul li,
.order_acceptpay_infoblock ul li{
	padding:5px 0;
	display:block;
	border-bottom:1px solid #e7ecee;
}
/*.order_acceptpay_infoblock ul li:last-child{border-bottom:none}*/
.order_status_li_container,
.order_acceptpay_li_container{
	border-radius:5px;
	padding:5px;
}
.order_status_li_container    table>tr>td,
.order_acceptpay_li_container table>tr>td{min-height:30px;vertical-align:middle}
.order_status_li_container    .inputradio,
.order_status_li_container    .inputcheckbox,
.order_acceptpay_li_container .inputradio,
.order_acceptpay_li_container .inputcheckbox{
	background:url(images/gui.png) no-repeat;
	background-size:30px auto;
	background-position:0 -210px;
	width:30px;
	height:30px;
	position:relative;
	bottom:-2px;
	display:inline-block;
}
.order_status_li_container    .inputradio    input[type=radio],
.order_status_li_container    .inputcheckbox input[type=checkbox],
.order_acceptpay_li_container .inputradio    input[type=radio],
.order_acceptpay_li_container .inputcheckbox input[type=checkbox]{
	width:30px;
	height:30px;
	opacity:0;
}
.order_status_li_container.checked,
.order_acceptpay_li_container.checked{
	background:#ebf1f2;
	box-shadow:inset 0 1px 2px 0 rgba(0,0,0,.2)
}
.order_status_li_container.checked    .inputradio,
.order_acceptpay_li_container.checked .inputradio   {background-position:0 -180px}
.order_status_li_container.checked 	  .inputcheckbox,
.order_acceptpay_li_container.checked .inputcheckbox{background-position:0 -240px}
.order_status_li_container    label,
.order_acceptpay_li_container label,
.order_acceptpay_infoblock_title_tac{
	font-size:14px;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
	line-height:14px;
	color:#414b51;
}
.order_acceptpay_infoblock_money{
	font-weight:bold;
	font-size:22px;
	color:#414b51;
}
.order_status_buttons_container,
.order_acceptpay_buttons_container{
	text-align:center;
	margin:20px;
}
.order_acceptpay_infoblock_title{
	padding:9px 0;
	color:#8f9396;
	font-weight:bold;
	font-size:14px;
	text-shadow:0 1px 0 #fff;
	position:relative;
	border-bottom:1px solid #e7ecee;
}

.order_acceptpay_buttons_container{
	text-align:center;
	margin:20px;
}
.order_status_button,
.order_acceptpay_button{padding:2px 10px}
.order_acceptpay_button_shipping{
	padding-top:10px;
	display:inline-block;
}
.order_acceptpay_button_shipping a{
	float:left;
	padding:5px 15px;
	display:block;
	border-top:1px solid #989898;
	border-left:1px  solid #a0a0a0;
	border-right:1px solid #a0a0a0;
	border-bottom:1px solid #b2b2b2;
	color:#2f2f2f;
	font-size:14px;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#cdcdcd));
	background-image:-webkit-linear-gradient(#fcfcfc 0%, #cdcdcd 100%);
	background-image:linear-gradient(#fcfcfc 0%, #cdcdcd 100%);
	text-decoration:none;
	box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.24);
	line-height:25px;
}
.order_acceptpay_button_shipping a.current{
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#666), to(#b6b6b6));
	background-image:-webkit-linear-gradient(#666 0%, #b6b6b6 100%);
	background-image:linear-gradient(#666 0%, #b6b6b6 100%);
	color:#fff;
	text-shadow:0 1px 0 #808081;
	box-shadow:inset 0 1px 3px 0 rgba(0,0,0,.34);
	border-top:1px solid #575757;
	border-left:1px  solid #868686;
	border-right:1px solid #868686;
	border-bottom:1px solid #a8a8a8;
}
.order_acceptpay_button_shipping a:first-child{border-radius:5px 0 0 5px;border-right:none !important}
.order_acceptpay_button_shipping a:nth-child(2){border-radius:0 5px 5px 0;border-left:none !important}

/*=====================================================================*/
/*=====================================================================*/




.order_canceled_component{}
.order_canceled_title{
	color:#071c27;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	padding-bottom:10px;
	text-shadow:0 1px 0 #fff;
}
.order_canceled_infoblock{
	background:#fff;
	border-radius:5px;
	margin:5px 0;
	box-shadow:0 1px 1px 0 rgba(0,0,0,.15)
}
.order_canceled_infoblock_title{
	padding:9px 15px;
	color:#737373;
	font-weight:bold;
	font-size:14px;
	text-shadow:0 1px 0 #fff;
	position:relative;
}
.order_canceled_infoblock_textarea_container{padding:0 15px}
.order_canceled_infoblock_textarea{
	width:100%;
	min-width:100%;
	max-width:100%;
	min-height:100px;
	border:1px solid #a6a6a6;
	box-shadow:inset 0 1px 4px 0 rgba(0,0,0,.1);
	border-radius:2px;
}
.order_canceled_infoblock_desc{
	display:inline-block;
	padding:5px 15px 10px;
	font-size:13px;
	color:#737373;
}
.order_canceled_buttons_container{
	text-align:center;
	margin:20px;
}

.order_canceled_button{padding:2px 10px}

.order_infoblock_order_green{
	background: #d9f8d9;
	border-radius: 5px;
	padding: 3px 0;
	overflow: hidden;
	font-size: 13px;
	text-align: center;
	width: 100%
}

