.sender-start-wrap {
	color: #333;
}

.sender-start-link {
	display: inline-block;
	border: none;
	font: 15px/17px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #0063C6;
	transition: color .3s;
	cursor: pointer;
}

.sender-start-link:hover {
	border: none;
	color: #0643C6;
}

.sender-start-link-small-grey-bold {
	font: 10px/14px 'OpenSans-Bold', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgba(130,139,149,.5);
}

.sender-start-link-small-grey-bold:hover {
	color: rgba(130,139,149,1);
}

.sender-start-link-small-grey {
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A8ADB4;
}

.sender-start-link-small-grey:hover {
	color: #939295;
}

.sender-start-block {
	margin: 0 0 15px 0;
	padding: 16px 24px;
	background: #fff;
}

.sender-start-title {
	display: block;
	margin: 0 0 18px 0;
	padding: 0 0 17px 0;
	border-bottom: 1px solid rgba(82,92,105,.09);
	font: 18px/24px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sender-start-tile {
	display: flex;
	justify-content: space-around;
}

.sender-start-tile-item {
	position: relative;
	display: inline-block;
	margin: 0 0 25px 0;
	width: 210px;
	padding: 16px 15px 11px 15px;
	border: 2px solid transparent;
	border-radius: 2px;
	text-align: center;
	transition: border .3s;
	box-sizing: border-box;
	cursor: pointer;
}

.sender-start-tile-item:hover {
	border: 2px solid rgba(47,198,246,.32);
}

.sender-start-tile-icon {
	display: flex;
	margin: 0 auto 11px auto;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	background: rgba(47,198,246,.12);
}

.sender-start-tile-icon:before {
	content: '';
	display: inline-block;
	margin: auto;
	background-repeat: no-repeat;
}

.sender-start-tile-icon-email:before {
	margin: 14px 0 0 0;
	width: 99px;
	height: 82px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2099%2082%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22a%22%20width%3D%22103.9%25%22%20height%3D%22113.6%25%22%20x%3D%22-2%25%22%20y%3D%22-3.4%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%223%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.09%200%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowMatrixOuter1%22/%3E%3CfeMerge%3E%3CfeMergeNode%20in%3D%22shadowMatrixOuter1%22/%3E%3CfeMergeNode%20in%3D%22SourceGraphic%22/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill-rule%3D%22nonzero%22%3E%3Cpath%20fill%3D%22%2338BBE5%22%20d%3D%22M98.22%2034.766H23.194l37.514-21.983%22/%3E%3Cpath%20fill%3D%22%231DB2E1%22%20d%3D%22M23.193%2034.473H98.22V78.44H23.194%22/%3E%3C/g%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M79.345%202.142l10.58%2010.64v65.89H30.516V2.143%22/%3E%3Cg%20fill%3D%22%23A8ADB4%22%20transform%3D%22translate%2837.84%2014.83%29%22%20opacity%3D%22.308%22%3E%3Crect%20width%3D%2211.393%22%20height%3D%2212.687%22%20rx%3D%222%22/%3E%3Crect%20width%3D%2227.669%22%20height%3D%221.228%22%20x%3D%2214.648%22%20y%3D%22.409%22%20rx%3D%22.614%22/%3E%3Crect%20width%3D%2227.669%22%20height%3D%221.228%22%20x%3D%2214.648%22%20y%3D%223.683%22%20rx%3D%22.614%22/%3E%3Crect%20width%3D%2242.317%22%20height%3D%221.228%22%20y%3D%2216.779%22%20rx%3D%22.614%22/%3E%3Crect%20width%3D%2227.669%22%20height%3D%221.228%22%20x%3D%2214.648%22%20y%3D%226.957%22%20rx%3D%22.614%22/%3E%3Crect%20width%3D%2242.317%22%20height%3D%221.228%22%20y%3D%2220.053%22%20rx%3D%22.614%22/%3E%3Crect%20width%3D%2212.614%22%20height%3D%221.228%22%20x%3D%2214.648%22%20y%3D%2210.231%22%20rx%3D%22.614%22/%3E%3Crect%20width%3D%2242.317%22%20height%3D%221.228%22%20y%3D%2223.327%22%20rx%3D%22.614%22/%3E%3Crect%20width%3D%2218.717%22%20height%3D%221.228%22%20y%3D%2226.601%22%20rx%3D%22.614%22/%3E%3C/g%3E%3Cpath%20fill%3D%22%23E0E3E9%22%20fill-rule%3D%22nonzero%22%20d%3D%22M79.345%202.142v10.64h10.58%22/%3E%3Cg%20fill-rule%3D%22nonzero%22%20filter%3D%22url%28%23a%29%22%20transform%3D%22translate%2823.193%2035.292%29%22%3E%3Cpath%20fill%3D%22%2367D9FE%22%20d%3D%22M0%200l37.514%2021.748L0%2043.496M75.355%200L37.84%2021.748l37.515%2021.748%22/%3E%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M37.638%2014.324L0%2043.38h75.276%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%280%20.915%29%22%3E%3Cpath%20fill%3D%22%239DCF00%22%20fill-rule%3D%22nonzero%22%20d%3D%22M36.01%200c9.1%200%2016.48%207.42%2016.48%2016.575%200%209.154-7.38%2016.574-16.48%2016.574-9.1%200-16.48-7.422-16.48-16.575C19.53%207.42%2026.91%200%2036.01%200z%22/%3E%3Crect%20width%3D%2219.124%22%20height%3D%222.456%22%20y%3D%223.683%22%20fill%3D%22%23A8ADB4%22%20fill-opacity%3D%22.439%22%20rx%3D%221.228%22/%3E%3Crect%20width%3D%2211.393%22%20height%3D%222.456%22%20x%3D%225.697%22%20y%3D%229.413%22%20fill%3D%22%23A8ADB4%22%20fill-opacity%3D%22.439%22%20rx%3D%221.228%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M39.502%2011.795l.23-.947c.1-.435.457-.59.89-.59.076%200%20.178%200%20.28.027.432.05.712.333.712.716%200%20.078%200%20.155-.025.232l-2.215%208.47c-.05.206-.076.513-.076.666%200%20.308.202.512.584.512.712%200%201.756-.486%202.646-1.407%201.094-1.152%201.73-2.79%201.73-4.607%200-4.223-2.977-6.936-7.582-6.936-5.09%200-9.06%203.89-9.06%208.855%200%204.914%203.487%208.344%208.525%208.344%202.19%200%204.25-.64%205.955-1.767.127-.103.254-.128.407-.128.356%200%20.687.256.865.537.102.18.153.384.153.563%200%20.282-.128.538-.382.717-2.11%201.28-4.325%201.868-7.226%201.868-3.053%200-5.572-1.024-7.38-2.815-1.83-1.817-2.9-4.376-2.9-7.37%200-5.99%204.708-10.596%2011.044-10.596%205.725%200%209.466%203.505%209.466%208.572%200%202.33-.738%204.326-2.163%205.86-1.195%201.306-2.85%202.125-4.4%202.125-1.604%200-1.986-.742-1.986-1.69v-.178c-1.018%201.253-2.036%201.74-3.562%201.74-2.062%200-3.487-1.64-3.487-4.25%200-4.375%202.75-8.19%206.286-8.19%201.375%200%202.29.564%202.672%201.665zm-2.62.025c-.968%200-1.91.512-2.647%201.485-.992%201.33-1.654%203.43-1.654%204.965%200%201.69.586%202.533%201.782%202.533%201.044%200%202.06-.614%202.9-1.817.943-1.33%201.426-3.327%201.426-5.22%200-1.203-.738-1.946-1.807-1.946z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.sender-start-tile-icon-sms:before {
	width: 81px;
	height: 67px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20viewBox%3D%220%200%2081%2067%22%3E%3Cdefs%3E%3Cpath%20id%3D%22b%22%20d%3D%22M74.74%200H15.26C11.829%200%209%202.828%209%206.288v38.779c0%203.033%202.828%205.86%206.26%206.288H46c.351%200%201.018.516%202%201.547a778.634%20778.634%200%200%201%207.957%207.885c2.98%202.95%204.372%202.95%204.173%200v-9.432h14.61C78.171%2050.928%2081%2048.1%2081%2045.067V6.288C81%202.828%2078.172%200%2074.74%200z%22/%3E%3Cfilter%20id%3D%22a%22%20width%3D%22104.2%25%22%20height%3D%22109.5%25%22%20x%3D%22-2.1%25%22%20y%3D%22-2.4%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%223%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeColorMatrix%20in%3D%22shadowOffsetOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.06%200%22/%3E%3C/filter%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22nonzero%22%20d%3D%22M4.364%2024h39.272C46.115%2024%2048%2025.934%2048%2028.46v26.118c0%202.313-1.885%204.247-4.364%204.459H22.442a77.029%2077.029%200%200%201-5.61%206.37c-2.079%202.124-3.118%202.124-3.118%200v-6.37h-9.35C1.885%2058.825%200%2056.891%200%2054.577V28.46C0%2025.934%201.885%2024%204.364%2024z%22%20opacity%3D%22.1%22/%3E%3Cg%20fill-rule%3D%22nonzero%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%3Cuse%20fill%3D%22%23FF799C%22%20xlink%3Ahref%3D%22%23b%22/%3E%3C/g%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M35.27%2028.837c0%201.353-.488%202.42-1.462%203.2-.974.778-2.33%201.168-4.066%201.168-1.6%200-3.014-.3-4.245-.902V29.35c1.012.45%201.868.769%202.569.953.7.185%201.341.277%201.923.277.697%200%201.232-.133%201.604-.4.373-.266.56-.663.56-1.19%200-.293-.083-.555-.247-.784-.164-.229-.405-.45-.723-.661-.318-.212-.965-.55-1.943-1.015-.916-.43-1.603-.844-2.061-1.24a4.658%204.658%200%200%201-1.097-1.385c-.274-.527-.41-1.142-.41-1.846%200-1.326.45-2.369%201.348-3.127.899-.76%202.141-1.139%203.727-1.139.78%200%201.523.093%202.23.277a15.33%2015.33%200%200%201%202.22.78l-1.025%202.47c-.8-.327-1.461-.556-1.984-.686a6.386%206.386%200%200%200-1.543-.195c-.602%200-1.063.14-1.385.42-.32.28-.481.646-.481%201.098%200%20.28.065.524.194.733.13.208.337.41.62.605.284.195.956.545%202.016%201.05%201.401.67%202.361%201.342%202.881%202.016.52.673.78%201.498.78%202.476zM44.333%2033l-3.61-11.761h-.092c.13%202.392.195%203.989.195%204.788V33h-2.84V18.009h4.327l3.548%2011.464h.061l3.763-11.464h4.327V33H51.05v-7.096c0-.335.005-.72.015-1.158.01-.438.057-1.6.139-3.487h-.092L47.246%2033h-2.912zm22.302-4.163c0%201.353-.487%202.42-1.461%203.2-.974.778-2.33%201.168-4.066%201.168-1.6%200-3.015-.3-4.245-.902V29.35c1.012.45%201.868.769%202.569.953.7.185%201.341.277%201.922.277.697%200%201.232-.133%201.605-.4.373-.266.559-.663.559-1.19%200-.293-.082-.555-.246-.784-.164-.229-.405-.45-.723-.661-.318-.212-.966-.55-1.943-1.015-.916-.43-1.603-.844-2.061-1.24a4.658%204.658%200%200%201-1.098-1.385c-.273-.527-.41-1.142-.41-1.846%200-1.326.45-2.369%201.349-3.127.899-.76%202.141-1.139%203.727-1.139.78%200%201.523.093%202.23.277a15.33%2015.33%200%200%201%202.22.78l-1.025%202.47c-.8-.327-1.461-.556-1.984-.686a6.386%206.386%200%200%200-1.544-.195c-.601%200-1.063.14-1.384.42-.321.28-.482.646-.482%201.098%200%20.28.065.524.195.733.13.208.337.41.62.605.284.195.956.545%202.015%201.05%201.402.67%202.362%201.342%202.882%202.016.52.673.779%201.498.779%202.476z%22/%3E%3C/g%3E%3C/svg%3E');
}

.sender-start-tile-icon-messenger:before {
	width: 45px;
	height: 85px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2045%2085%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22b%22%20width%3D%2245%22%20height%3D%2282%22%20rx%3D%223%22/%3E%3Cfilter%20id%3D%22a%22%20width%3D%22106.7%25%22%20height%3D%22107.3%25%22%20x%3D%22-3.3%25%22%20y%3D%22-1.8%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%223%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.06%200%22%20in%3D%22shadowOffsetOuter1%22/%3E%3C/filter%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%3Cuse%20fill%3D%22%239DCF00%22%20xlink%3Ahref%3D%22%23b%22/%3E%3Crect%20width%3D%2241%22%20height%3D%2260%22%20x%3D%222%22%20y%3D%228%22%20fill%3D%22%23FFF%22%20opacity%3D%22.98%22%20rx%3D%221%22/%3E%3Crect%20width%3D%2241%22%20height%3D%227%22%20x%3D%222%22%20y%3D%2261%22%20fill%3D%22%23EDEEF0%22%20opacity%3D%22.75%22%20rx%3D%221%22/%3E%3Cpath%20fill%3D%22%238BDEF8%22%20fill-rule%3D%22nonzero%22%20d%3D%22M31%2013H9c-.94%200-2%20.936-2%202v5l-2%202%202%202v5c0%20.922%201.06%201.86%202%202h22c.94-.14%202-1.078%202-2V15c0-1.064-1.06-2-2-2z%22/%3E%3Cg%20fill%3D%22%23FFF%22%20opacity%3D%22.5%22%3E%3Cpath%20d%3D%22M10%2016h19v2H10zM10%2020h19v2H10zM10%2024h11v2H10z%22/%3E%3C/g%3E%3Cpath%20fill%3D%22%238BDEF8%22%20fill-rule%3D%22nonzero%22%20d%3D%22M14%2053h22c.94%200%202-.936%202-2v-6l2-2-2-2v-4c0-.922-1.06-1.86-2-2H14c-.94.14-2%201.078-2%202v14c0%201.064%201.06%202%202%202z%22/%3E%3Cg%20fill%3D%22%23FFF%22%20opacity%3D%22.5%22%3E%3Cpath%20d%3D%22M15%2038h19v2H15zM15%2042h19v2H15zM15%2046h11v2H15z%22/%3E%3C/g%3E%3Ccircle%20cx%3D%2223%22%20cy%3D%2274%22%20r%3D%224%22%20fill%3D%22%23525C69%22%20opacity%3D%22.4%22/%3E%3C/g%3E%3C/svg%3E');
}

.sender-start-tile-icon-informer:before {
	width: 64px;
	height: 67px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2064%2067%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cdefs%3E%3Cpath%20id%3D%22b%22%20d%3D%22M52.88%2051.015c-2.56-2.537-13.697-5.775-14.827-5.825-1.13-.05-5%203.785-6.12%204.892-1.12%201.11-10.945-7.457-11.108-7.644-.162-.185-8.847-9.88-7.718-11%201.13-1.12%204.988-4.944%204.94-6.064-.046-1.122-4.688-13.425-5.88-14.687-1.19-1.263-6.52-.77-8.66%201.354-1.832%201.813-8.48%2011.208%203.417%2027.564%202.235%203.26%204.84%206.255%207.763%208.93h.01v.008c2.7%202.896%205.724%205.475%209.015%207.693%2016.488%2011.755%2025.97%205.17%2027.8%203.36%202.143-2.122%203.927-6.043%201.367-8.58%22/%3E%3Cfilter%20id%3D%22a%22%20width%3D%22105.5%25%22%20height%3D%22111.3%25%22%20x%3D%22-2.8%25%22%20y%3D%22-2.8%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%223%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.06%200%22%20in%3D%22shadowOffsetOuter1%22/%3E%3C/filter%3E%3Cpath%20id%3D%22d%22%20d%3D%22M37.915%2035.39c2.224.97%204.68%201.508%207.26%201.508%2010.038%200%2018.175-8.137%2018.175-18.175S55.213.548%2045.175.548%2027%208.685%2027%2018.723c0%204.9%201.94%209.348%205.092%2012.616-.965%202.294-2.357%204.716-4.178%207.265%204.477-.976%207.81-2.048%2010-3.215z%22/%3E%3Cfilter%20id%3D%22c%22%20width%3D%22108.3%25%22%20height%3D%22115.8%25%22%20x%3D%22-4.1%25%22%20y%3D%22-3.9%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%3CfeOffset%20dy%3D%223%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.05%200%22%20in%3D%22shadowOffsetOuter1%22/%3E%3C/filter%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%28.086%20.395%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%3Cuse%20fill%3D%22%23359FD0%22%20xlink%3Ahref%3D%22%23b%22/%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23c%29%22%20xlink%3Ahref%3D%22%23d%22/%3E%3Cuse%20fill%3D%22%2355D0E0%22%20xlink%3Ahref%3D%22%23d%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M46.035%2012.515c1.752%200%202.803-1.105%202.803-2.803%200-1.294-.782-1.995-2.103-1.995-1.752%200-2.776%201.05-2.776%202.776%200%201.267.754%202.022%202.075%202.022zm1.887%2016.202l.27-1.995-1.295-.19c-.404-.053-.43-.107-.377-.538l1.59-11.322h-5.742l-.27%202.05%201.322.457c.242.08.323.268.27.565l-.998%207.198-.647%203.64.054.134h5.822z%22/%3E%3C/g%3E%3C/svg%3E');
}

.sender-start-tile-icon-yandex:before {
	width: 94px;
	height: 36px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2094%2036%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FF0303%22%20fill-rule%3D%22nonzero%22%20d%3D%22M15.152.345h-4.964c-4.876%200-9.013%203.587-9.013%2010.552%200%204.178%202.004%207.26%205.573%208.778l-6.66%2011.65c-.22.38%200%20.674.347.674h3.09c.263%200%20.437-.085.524-.296l6.05-11.438h2.178v11.438c0%20.126.13.295.304.295h2.7c.262%200%20.35-.127.35-.338V.767c0-.296-.175-.422-.48-.422zm-2.874%2017.22h-1.83c-2.872%200-5.658-2.026-5.658-7.09%200-5.277%202.612-7.43%205.267-7.43h2.22v14.52z%22/%3E%3Cpath%20d%3D%22M41.787%2016.28c-.305%205.066-1.175%209.202-3.396%2012.874h6.313V13.327h-2.786c0%20.717-.043%201.857-.13%202.954zm16.376-3.88c-1.524%200-2.44%201.814-2.83%205.4-.088.677-.088%201.31-.088%201.31s1.568-.168%202.57-.168h2.873s0-.76-.043-1.436c-.218-3.25-1.09-5.106-2.482-5.106z%22/%3E%3Cpath%20fill%3D%22%23000%22%20fill-rule%3D%22nonzero%22%20d%3D%22M31.07%2010.545h-2.698c-.218%200-.348.168-.348.295v8.06h-5.008v-8.06c0-.21-.087-.295-.305-.295h-2.7c-.216%200-.346.126-.346.295v20.513c0%20.21.087.336.304.336h2.743c.176%200%20.306-.127.306-.337V21.56h5.008v9.793c0%20.21.13.336.348.336h2.7c.217%200%20.303-.17.303-.337V10.84c0-.17-.13-.295-.304-.295zM93.61%2029.92l-.348-1.436c-.042-.127-.086-.17-.217-.17-.217%200-1.393.464-3.09.464-3.31%200-4.92-3.08-4.92-7.976%200-4.306%201.35-8.568%203.612-8.568.61%200%201.35.17%202.526%201.225.13.125.218.167.348.167.132%200%20.263-.085.393-.296l1.176-1.855c.086-.127.13-.255.13-.38%200-.17-.175-.296-.436-.422-1.785-.887-3.004-1.055-4.05-1.055-4.092%200-7.27%204.726-7.27%2012.112%200%206.373%203.047%2010.045%207.4%2010.045%201.83%200%203.79-.843%204.573-1.393.174-.127.217-.295.174-.463zM74.08%2020.08l5.225-9.242c.087-.127.043-.295-.13-.295h-2.57c-.74%200-1.002.253-1.262.8l-3.92%207.894c-.217.464-.435.758-.653.886V10.84c0-.17-.087-.295-.26-.295h-2.83c-.13%200-.262.126-.262.295v20.555c0%20.126.087.294.26.294h2.83c.175%200%20.262-.127.262-.295V20.8c.13.085.218.21.306.38l4.963%209.876c.26.507.652.633%201.22.633h2.784c.175%200%20.218-.17.132-.295L74.08%2020.082zm-24.37%208.95h-.522c-.653%200-.827-.254-.827-.76V10.84c0-.21-.086-.295-.26-.295h-8.71c-.216%200-.347.126-.347.295v1.52c0%205.106-.304%2011.69-3.09%2016.67h-.96c-.26%200-.348.128-.348.34v6.16c0%20.212.175.295.305.295h2.09c.48%200%20.653-.337.653-.633V31.69h9.318v3.84c0%20.17.13.295.306.295h2.22c.26%200%20.522-.21.522-.633V29.37c0-.212-.13-.34-.347-.34zm-4.702%200h-6.313c2.22-3.673%203.09-7.81%203.396-12.874.088-1.097.13-2.237.13-2.954h2.788V29.03zM58.292%209.617c-4.702%200-6.792%205.74-6.792%2011.985%200%206.374%202.96%2010.172%207.314%2010.172%202.133%200%204.006-.8%204.964-1.393.174-.084.217-.21.174-.38l-.348-1.434c-.044-.17-.13-.253-.35-.253-.172%200-1.435.463-3.22.463-3.353%200-4.92-2.827-4.92-6.54v-1s1.697.197%202.7.197h6.356v-1.773c0-6.54-2.396-10.044-5.878-10.044zm-.48%209.158c-1%200-2.568.17-2.568.17s0-.634.087-1.31c.392-3.588%201.307-5.402%202.83-5.402%201.395%200%202.265%201.856%202.483%205.107.043.676.043%201.436.043%201.436h-2.873z%22/%3E%3C/g%3E%3C/svg%3E');
}

.sender-start-tile-icon-google:before {
	width: 107px;
	height: 35px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20107%2035%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23EA4335%22%20d%3D%22M46.01%2018.084c0%205-3.92%208.683-8.728%208.683-4.81%200-8.727-3.684-8.727-8.683%200-5.035%203.918-8.684%208.727-8.684%204.81%200%208.728%203.65%208.728%208.684zm-3.82%200c0-3.125-2.272-5.262-4.908-5.262-2.636%200-4.907%202.137-4.907%205.262%200%203.093%202.27%205.26%204.907%205.26%202.636%200%204.907-2.17%204.907-5.26z%22/%3E%3Cpath%20fill%3D%22%23FBBC05%22%20d%3D%22M64.737%2018.084c0%205-3.92%208.683-8.727%208.683-4.81%200-8.728-3.684-8.728-8.683%200-5.03%203.92-8.684%208.728-8.684s8.727%203.65%208.727%208.684zm-3.82%200c0-3.125-2.272-5.262-4.907-5.262-2.636%200-4.907%202.137-4.907%205.262%200%203.093%202.27%205.26%204.907%205.26%202.635%200%204.906-2.17%204.906-5.26z%22/%3E%3Cpath%20fill%3D%22%234285F4%22%20d%3D%22M82.688%209.924v15.59c0%206.414-3.79%209.033-8.27%209.033-4.215%200-6.753-2.815-7.71-5.117l3.326-1.382c.592%201.413%202.043%203.08%204.38%203.08%202.868%200%204.645-1.765%204.645-5.09V24.79h-.134c-.855%201.053-2.503%201.973-4.58%201.973-4.35%200-8.337-3.782-8.337-8.648%200-4.902%203.985-8.715%208.335-8.715%202.075%200%203.722.92%204.58%201.942h.134V9.928h3.628v-.004zm-3.358%208.19c0-3.057-2.044-5.292-4.644-5.292-2.636%200-4.844%202.235-4.844%205.293%200%203.026%202.208%205.23%204.844%205.23%202.6%200%204.644-2.204%204.644-5.23z%22/%3E%3Cpath%20fill%3D%22%2334A853%22%20d%3D%22M89.4%201.054v25.45h-3.727V1.053%22/%3E%3Cpath%20fill%3D%22%23EA4335%22%20d%3D%22M103.27%2020.946l2.967%201.973c-.957%201.412-3.264%203.847-7.25%203.847-4.94%200-8.632-3.813-8.632-8.683%200-5.165%203.722-8.684%208.206-8.684%204.515%200%206.724%203.586%207.445%205.524l.396.987-11.628%204.808c.89%201.743%202.275%202.63%204.216%202.63%201.946%200%203.295-.954%204.283-2.402zm-9.126-3.125l7.774-3.22c-.427-1.085-1.714-1.84-3.228-1.84-1.942%200-4.644%201.71-4.546%205.06z%22/%3E%3Cpath%20fill%3D%22%234285F4%22%20d%3D%22M14.165%2016.156V12.47h12.438c.122.644.184%201.403.184%202.225%200%202.764-.757%206.182-3.196%208.618-2.373%202.466-5.405%203.782-9.42%203.782C6.723%2027.095.463%2021.042.463%2013.61.464%206.18%206.724.128%2014.17.128c4.117%200%207.05%201.613%209.256%203.715l-2.605%202.6c-1.58-1.48-3.72-2.63-6.655-2.63-5.436%200-9.688%204.372-9.688%209.8%200%205.425%204.252%209.798%209.688%209.798%203.526%200%205.534-1.413%206.82-2.697%201.044-1.042%201.73-2.53%202-4.56l-8.82.003z%22/%3E%3C/g%3E%3C/svg%3E');
}

.sender-start-tile-icon-facebook:before {
	width: 115px;
	height: 23px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20115%2023%22%3E%3Cpath%20d%3D%22M59.483%2011.268c-.94%200-1.617.296-2.303.598v6.82c.657.06%201.034.06%201.658.06%202.255%200%202.564-.99%202.564-2.376v-3.258c0-1.022-.353-1.844-1.92-1.844zm-14.97-.372c-1.565%200-1.922.825-1.922%201.847v.574h3.84v-.574c0-1.022-.356-1.847-1.918-1.847zm-29.002%207.1c0%20.808.398%201.228%201.274%201.228.94%200%201.496-.294%202.18-.596v-1.62h-2.053c-.972%200-1.4.175-1.4.988zm58.535-6.728c-1.566%200-2.11.822-2.11%201.844v3.732c0%201.026.544%201.85%202.11%201.85%201.563%200%202.11-.824%202.11-1.85v-3.732c0-1.022-.547-1.844-2.11-1.844zM7.833%2022.18H3.228V11.47h-2.3V7.78h2.3V5.566c0-3.01%201.3-4.8%204.99-4.8h3.074v3.69h-1.92c-1.438%200-1.533.516-1.533%201.478L7.832%207.78h3.48l-.407%203.69H7.833v10.71zm15.74.028h-3.84l-.165-.932c-1.753.932-3.317%201.084-4.35%201.084-2.813%200-4.312-1.807-4.312-4.305%200-2.948%201.748-4%204.876-4h3.183v-.637c0-1.505-.18-1.947-2.587-1.947H12.44l.385-3.69h4.304c5.284%200%206.442%201.605%206.442%205.667v8.76zm13.05-10.466c-2.387-.393-3.073-.48-4.222-.48-2.064%200-2.688.438-2.688%202.122v3.186c0%201.684.624%202.124%202.69%202.124%201.148%200%201.834-.088%204.222-.483v3.6c-2.092.45-3.455.57-4.607.57-4.944%200-6.91-2.5-6.91-6.108v-2.585c0-3.612%201.966-6.114%206.91-6.114%201.152%200%202.515.12%204.607.57v3.6zm14.413%204.53H42.59v.298c0%201.684.625%202.124%202.69%202.124%201.854%200%202.987-.088%205.37-.483v3.6c-2.3.45-3.497.57-5.753.57-4.944%200-6.91-2.5-6.91-6.108v-2.955c0-3.158%201.458-5.744%206.525-5.744s6.524%202.556%206.524%205.744v2.955zm14.97.07c0%203.487-1.037%206.03-7.323%206.03-2.27%200-3.602-.19-6.107-.562V1.872l4.604-.738v6.974c.995-.355%202.283-.535%203.455-.535%204.604%200%205.37%201.983%205.37%205.17v3.598zm14.758.075c0%203.01-1.293%205.927-6.703%205.927-5.412%200-6.73-2.918-6.73-5.927V13.51c0-3.01%201.318-5.928%206.73-5.928%205.41%200%206.704%202.92%206.704%205.93v2.905zm14.747%200c0%203.01-1.293%205.927-6.702%205.927-5.413%200-6.73-2.918-6.73-5.927V13.51c0-3.01%201.317-5.928%206.73-5.928%205.41%200%206.703%202.92%206.703%205.93v2.905zm15.135%205.764h-4.99l-4.22-6.768v6.77H96.83V1.87l4.605-.738v13.074l4.22-6.427h4.99l-4.607%207.015%204.607%207.386zM88.792%2011.27c-1.564%200-2.106.822-2.106%201.844v3.732c0%201.026.542%201.85%202.106%201.85%201.562%200%202.115-.824%202.115-1.85v-3.732c0-1.022-.553-1.844-2.115-1.844zm24.04%207.114c.774%200%201.392.608%201.392%201.366%200%20.77-.618%201.372-1.4%201.372-.776%200-1.406-.6-1.406-1.372%200-.758.63-1.366%201.407-1.366h.006zm-.007.213c-.625%200-1.136.516-1.136%201.153%200%20.65.51%201.16%201.14%201.16.63.005%201.135-.51%201.135-1.154%200-.643-.504-1.16-1.134-1.16h-.005zm-.265%201.95h-.253v-1.526c.132-.018.26-.036.448-.036.24%200%20.397.048.493.114.093.068.144.17.144.316%200%20.2-.138.322-.308.37v.013c.138.024.232.145.264.37.037.236.075.327.1.377h-.264c-.038-.05-.076-.19-.108-.39-.037-.193-.138-.266-.34-.266h-.176v.656zm0-.845h.183c.207%200%20.383-.073.383-.262%200-.133-.1-.267-.383-.267-.083%200-.14.007-.183.013v.517z%22%20fill%3D%22%233B5998%22/%3E%3C/svg%3E');
}

.sender-start-tile-icon-insta:before {
	width: 122px;
	height: 29px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20122%2029%22%3E%3Cpath%20d%3D%22M98.65%208.666c-.573.022-1.92.4-2.162%204.177-.242%203.777.75%204.755%201.59%204.866.837.11%202.315-1.245%202.403-5.267.09-4.022-1.83-3.777-1.83-3.777M80.47%2020.282c-3.317%202.89-3.604%204.957-3.604%204.957s-.327%201.693%201.27%201.776c1.918.196%202.24-2.156%202.292-4.214.025-.972.04-2.52.04-2.52M78.505%208.548c-.582.023-2.047.538-2.378%204.194-.246%203.827.76%204.818%201.613%204.93.85.113%202.35-1.26%202.44-5.335.09-4.075-1.676-3.79-1.676-3.79m-11.736-.015c-.573.022-1.92.4-2.16%204.177-.244%203.776.75%204.754%201.587%204.865.838.11%202.316-1.244%202.404-5.266.088-4.023-1.832-3.778-1.832-3.778m55.16%206.424c0%204.29-2.576%204.222-2.576%204.222-2.45.088-3.078-2.526-3.233-5.183-.117-2%200-4.222%200-4.222s-.018-.103-.085%200c-.82%201.5-1.377%203.78-1.65%205.543-.198%201.28-.22%202.35-.22%202.35s.035.242-.168.38c-1.33.617-2.188-.26-2.49-1.237-.404-.927-.64-6.505-.64-6.797%200-.292-.237-.068-.237-.068-1.834%203.106-1.85%207.67-1.85%208.598%200%20.926-1.567.635-1.567.635-1.33-.103-1.28-.755-1.28-.755l-.06-1.108c-.46.86-1.32%201.977-2.642%201.89-1.998-.13-2.386-2.22-2.416-2.572%200%200-.995%202.603-3.734%202.573-1.86-.03-2.607-1.97-2.607-1.97s-.747%202.03-2.577%201.955c-1.83-.072-3.34-2.204-3.223-4.967.118-2.764.542-4.147.542-4.147s.147-.28-.102-.294c-.25-.014-1.83.03-1.83.03s-.894%203.617-4.672%208.115c0%200%20.03%201.406.03%202.97-.002%202.957-.366%206.924-4.335%207.248-3.434-.234-3.24-2.906-3.24-2.906-.082-.786.41-2.232%202.456-4.174%202.048-1.94%202.867-2.685%202.867-2.685l-.08-1.238c-1.312%202.19-3.318%202.065-3.318%202.065s-1.55.318-2.853-2.008c-.383.796-1.253%202.155-2.677%201.997-2-.222-2.397-2.237-2.427-2.592%200%200-1%202.622-3.75%202.592-1.868-.03-2.618-1.985-2.618-1.985-.216-.396-.383-.997-.47-1.35-.023.07-.048.15-.084.242-.422%201.094-1.472%203-3.08%203.026-2.958%200-3.083-4.63-3.083-4.63-.854%202.054-2.53%204.684-5.646%204.666-3.117-.02-3.49-1.153-3.49-1.315%200-.16-.054-.34.302-.864.356-.522.66-.738.908-.738.25%200%20.695.378.695.378s.677.666%201.443.666c.98-.036%201.194-.828%201.265-1.64.07-.81-.5-1.673-1.283-2.394-.783-.72-1.39-1.26-1.39-1.26-1.12%201.91-1.977%203.205-2.6%204.322-1.514%202.486-3.017%202.87-3.598%202.792-.802-.108-1.568-.937-1.603-3.35-.037-2.413.177-6.538.177-6.754%200-.216-.196-.108-.196-.108-2.992%203.206-3.883%209.797-3.883%209.923%200%20.127-.267.27-.534.27s.09-.017-.98-.053c-1.068-.036-.997-2.09-.997-2.09l.07-9.816c.02-.324.322-.468%201.337-.198%201.016.27.98.613.98.613l-.036%205.69c2.62-7.798%204.596-6.574%205.79-5.98%201.193.595%201.033%201.46%201.033%201.46s-.125%204.286-.18%205.8c-.052%201.512.162%202.106.5%202.16.838.2%203.812-5.6%203.812-5.6-1.318-1.442-.598-3.2.428-3.963.697-.52%201.55-.577%201.55-.577s1.336-.072%201.3%201.063c.036%201.243-1.336%202.756-1.336%202.756%202.654%201.908%203.9%202.916%204.097%204.393.09.708-.07%201.153-.07%201.153%201.888-1.657%202.03-3.512%202.03-3.512l.036-6.196-2.796-.036s-.214-.018-.25-.54c0-.99.517-1.405.517-1.405l2.672.036s.088-2.792.106-3.242c.09-.647.498-.738%201.674-.432s1.176.577%201.176.577l-.143%203.26s2.94.144%203.332.18c.39.036.516.144.427.81-.09.667-.48.83-.48.83l-3.314.07-.232%207.187c0%201.117.053%203.747%201.087%203.728%201.443.072%202.298-3.187%202.298-3.187l.017-.026c-.016-.508-.006-1.118.066-1.802.273-2.62%201.43-5.688%204.088-5.688%200%200%201.62-.06%202.472%201.57l.03-.593s-.06-.71%201.06-.533c1.116.18%201.498.624%201.47.98%200%200-.207%204.56-.09%207.258.15%201.566.417%202.492%201.207%202.428.68-.1%201.163-1.04%201.455-1.838-.988-8.296%203.51-9.302%203.51-9.302s1.992-.147%202.9%201.53l.03-.56s-.09-.735.967-.53c0%200%20.44.06.907.236.468.176.614.294.614.735%200%20.44-.088%208.192-.088%208.192s2.344-3.176%202.93-6.263c0%200-.82-.618-.76-1.5.057-.882.496-1.94%201.785-1.94%201.29%200%201.348%201.146%201.143%201.94%200%200%201.084-.147%202.02-.382.94-.235%202.198-.383%202.286%201.088.057.53-.177.94-.177.94s-.732%203.264-.615%204.588c.117%201.324.47%203.323%201.494%203.087%201.025-.234%201.376-1.704%201.376-1.704s-.412-1.702-.205-3.676c.273-2.6%201.425-5.645%204.07-5.645%200%200%201.613-.06%202.462%201.558l.03-.588s-.06-.706%201.054-.53c1.112.177%201.493.618%201.463.97%200%200-.205%204.53-.087%207.205.15%201.554.414%202.473%201.2%202.41.76-.022%201.398-1.315%201.793-2.37l-.006-.39.026-7.646c.063-.436.455-.462.455-.462l.908.142c1.276.193%201.1.682%201.1.682v4.325c.946-2.935%201.4-4.055%201.83-4.802.365-.636%201.565-.22%201.565-.22s1.3.35%201.326%201.56c-.038%201.994.24%205.245.24%205.245.005.05.05.067.073.045.02-.018.022-.07.022-.07.257-2.093%201.436-5.526%201.907-6.418.472-.892%201.835-.257%201.835-.257%201.633.566%201.414%201.544%201.414%201.544-.488%208.393.54%208.942%201.145%208.993.607.052.927-.738%201.062-1.116.135-.376.303-1.2.404-1.526.1-.326.42-.343.42-.343s.37.087.37.396M27.115%202.208C28.954.385%2030.096.33%2030.096.33s.36-.054%201.23.254c.87.31.907.78.907.78v13.342c.112%203.734-.808%205.17-1.913%206.168-.628.514-1.132.58-1.194.58-.153%200-.27-.018-.297-.226-.027-.21.16-.753.16-.753.558-1.425.513-3.89.513-3.89l.054-14.377s.045-.263-.18-.18c-2.173%201.885-2.443%204.543-2.515%205.83-.035%201.932.795%202.93.795%202.93s.216.19.19.462c0%20.368-.338.34-.338.34-.818-.076-2.12-1.01-2.587-2.135-.387-.83-.378-1.728-.378-1.728.027-1.13.728-3.696%202.57-5.52m-8.62%2016.372c0%20.328-.258.594-.576.594H3.13c-.32%200-.577-.266-.577-.595V9.303H4.48c-.145.546-.222%201.12-.222%201.712%200%203.568%202.81%206.472%206.266%206.472%203.455%200%206.267-2.904%206.267-6.472%200-.593-.077-1.166-.222-1.712h1.927v9.275zm-7.97-11.657c2.187%200%203.96%201.833%203.96%204.093s-1.773%204.09-3.96%204.09c-2.19%200-3.963-1.83-3.963-4.09s1.774-4.093%203.962-4.093zm3.985-3.57c0-.33.258-.596.576-.596h2.785c.32%200%20.577.267.577.595V6.23c0%20.328-.258.594-.576.594h-2.784c-.318%200-.576-.266-.576-.595V3.35zM18.35.326H2.65C1.295.327.2%201.46.2%202.857v16.268c0%201.397%201.096%202.53%202.45%202.53h15.7c1.354%200%202.45-1.133%202.45-2.53V2.855c0-1.396-1.096-2.528-2.45-2.528z%22%20fill%3D%22%232B6BA3%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
}

.sender-start-tile-icon-vk:before {
	width: 52px;
	height: 51px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2052%2051%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%28.5%29%22%3E%3Crect%20width%3D%2251.5%22%20height%3D%2251%22%20fill%3D%22%235181B8%22%20rx%3D%2219%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M42.278%2018.072c.24-.796%200-1.38-1.146-1.38h-3.79c-.964%200-1.41.504-1.65%201.062%200%200-1.927%204.658-4.658%207.683-.883.876-1.285%201.155-1.766%201.155-.24%200-.59-.28-.59-1.075v-7.445c0-.955-.28-1.38-1.083-1.38H21.64c-.603%200-.966.442-.966.863%200%20.905%201.366%201.114%201.506%203.662v5.534c0%201.215-.22%201.435-.702%201.435-1.285%200-4.41-4.68-6.265-10.033-.363-1.04-.727-1.46-1.696-1.46h-3.79c-1.083%200-1.3.504-1.3%201.062%200%20.995%201.285%205.932%205.983%2012.46%203.132%204.46%207.545%206.877%2011.56%206.877%202.41%200%202.708-.536%202.708-1.46v-3.37c0-1.074.228-1.29.99-1.29.563%200%201.527.28%203.776%202.43%202.57%202.548%202.993%203.69%204.44%203.69h3.79c1.082%200%201.623-.536%201.31-1.595-.34-1.056-1.568-2.588-3.196-4.404-.883-1.034-2.208-2.15-2.61-2.706-.562-.717-.402-1.036%200-1.673%200%200%204.618-6.448%205.1-8.638z%22/%3E%3C/g%3E%3C/svg%3E');
}

.sender-start-tile-name {
	font: 15px/20px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sender-start-tile-campaign .sender-start-tile-item {
	width: 185px;
}

.sender-start-tile-campaign .sender-start-tile-icon {
	background: transparent;
	border-bottom: 2px solid rgba(130,139,149,.15);
	border-radius: 0;
}

.sender-start-tile-campaign .sender-start-tile-icon {
	width: auto;
	max-width: 120px;
}

.sender-start-table {
	margin: -17px 0 0 0;
	width: 100%;
	border-collapse: collapse;
	color: #525C69;
}

.sender-start-table-row {
	height: 60px;
	border-bottom: 1px solid rgba(82,92,105,.09);
}

.sender-start-table-row:last-child {
	border-bottom: none;
}

.sender-start-table-item {
	padding: 0 10px 0 0;
}

.sender-start-table-name {
	margin: 0 0 4px 0;
	max-width: 310px;
	font: 14px/16px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sender-start-table-desc {
	font: 13px/15px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgba(149,159,171,.7);
}

.sender-start-link-desc {
	color: #959FAB;
}

.sender-start-campaign-create {
	text-align: center;
}

.sender-start-campaign-create-desc {
	margin: 38px 0 28px 0;
	font: 24px/33px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sender-start-campaign-create.webform-small-button {
	margin: 0 0 60px 0;
}