/*bp-popup*/

.bp-popup {
	position: relative;
	/*display: inline-block;*/
	border: 15px solid #eef2f4;
	border-radius: 3px;
}
.bp-popup-title
{
	padding: 6px 0px 11px 0px;
	font-weight: bold;
	font-size: 14px;
	color: #80868e;
}

.bp-task-page {
	position: relative;
	padding: 20px 25px 25px 90px;
}
.bp-task-page.no-photo
{
	padding-left: 20px;
}

.bp-comments-block {
	padding: 20px;
	border-top: 11px solid #eef2f4;
}

.bp-avatar {
	position: absolute;
	left: 20px;
	top: 20px;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
}

.bp-avatar img {
	width: 50px;
	position: absolute;
	border-radius: 50%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.bp-task-page .bp-title {
	font-size: 17px;
	font-weight: bold;
	color: #000;
	vertical-align: top;
}

.bp-task-page .bp-title-desc {
	display: block;
	color: #535c69;
	font-size: 14px;
	line-height: 17px;
	position: relative;
	padding-left: 45px;
	min-height: 34px;
	margin: 15px 0 5px;
}

.bp-task-page .bp-title-desc .bold {
	color: #000;
	font-weight: bold;
}

.bp-task-page .bp-title-desc-icon {
	width: 36px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
	margin: auto;
}

.bp-task-page .bp-title-desc-link {
	color: #0063c6;
	font-size: 14px;
	line-height: 17px;
	font-weight: bold;
	border-bottom: 1px solid transparent;
	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.bp-task-page .bp-title-desc-link:hover {
	border-bottom: 1px solid;
}

.bp-task-page .bp-short-process-inner {
	position: relative;
	overflow: hidden;
}

.bp-task-page .bp-short-process-inner .bp-short-process {
	height: 77px;
	float: left;
	margin: 12px 0px;
	margin-right: 30px;
}

.bp-task-page .bp-short-process, .bp-task-page .bp-btn-panel {
	display: inline-block;
	vertical-align: middle;
	padding: 13px 0;
}

.bp-task-page .bp-short-process-inner .bp-btn-panel {
	display: table;
	overflow: hidden;
	padding: 0;
	height: 102px;
	border-collapse: separate;
}

.bp-task-page .bp-short-process-inner .bp-btn-panel .bp-btn-panel-inner {
	display: table-cell;
	vertical-align: middle;
	line-height: normal;
}

.bp-task-page .bp-short-process {
	margin-right: 30px;
	padding: 0;
}

.bp-task-page .bp-btn-panel .bp-button {
	margin: 3px 0;
	line-height: 18px!important;
	padding: 8px 10px;
	height: auto;
}

.bp-task-page .bp-task-block {
	position: relative;
	padding: 15px 20px;
	background: #e8f9fe;
	border-radius: 2px;
	color: #000;
	font-size: 13px;
	margin-top: 4px;
	margin-bottom: 16px;
}

.bp-task-page .bp-task-block-title {
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
}

.bp-task-page .bp-task-block-delegate
{
	color: black;
	margin-left: 7px;
	text-decoration: underline;
}

.bp-popup-window {
	background: #ffffff;
	padding: 0 10px 0;
	border: 0;
	box-shadow: 2px 6px 21px 6px rgba(83,92,105,.15);
}

.bp-popup-window.popup-window-titlebar .popup-window-top-row .popup-window-center-column,
.bp-popup-window.popup-window-titlebar .popup-window-top-row .popup-window-left-column,
.bp-popup-window.popup-window-titlebar .popup-window-top-row .popup-window-right-column {
	background: #fff !important;
	box-shadow: none;
	border: none;
}

.bp-popup-window.popup-window-titlebar .popup-window-top-row .popup-window-center-column {
	height: 50px;
}


.bp-popup-window .popup-window-content {
	background: #eef2f4;
	padding: 25px 15px 10px;
	width: 630px;
}
/* TABS*/
.bp-tab-container{
	margin-top:16px;
}
.bp-tabs-block {
	border-bottom: 1px solid #c6cdd3;
	min-height: 42px;
}

.bp-tab {
	background-color: #eef2f4;
	border-radius: 2px 2px 0 0;
	color: #535c69;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 42px;
	height: 42px;
	margin-right: 10px;
	padding: 0 18px;
	vertical-align: top;

	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}

.bp-tab:hover {
	background-color: #d6f1fb;
}

.bp-tab-active,
.bp-tab:active {
	background-color: #fff !important;
	border: 1px solid #c6cdd3;
	border-bottom-color: #fff;
	height: 41px;
	margin-bottom: -1px;
	line-height: 40px;
	padding: 0 17px;
}

.bp-tab-content {
	padding: 15px;
	display: none;
	border: 1px solid #c6cdd3;
	border-top: none;
}
.bp-tab-content.active {
	display: block;
}

/* Comments */
.bp-task-page .feed-comments-block
{
	margin: 0;
}
.bizproc-item-buttons
{
	margin-top: 15px;
	text-align: left;
}
.bizproc-task-table
{
	border-spacing: 0;
	margin-top: 10px;
}
.bizproc-task-table td:first-child
{
	padding: 0;
	padding-right: 5px;
	font-weight: bold;
	text-align: left;
}
.bizproc-task-table textarea
{
	width: 100%;
	min-height: 100px;
	resize: vertical;
}

.bizproc-task-table select
{
	max-width: 350px;
}

.bizproc-field-description
{
	font-weight: normal;
	font-style: italic;
}

.bp-task-page .required
{
	color: red;
	padding-right: 1px;
}

.bp-task-page .bp-status {
	display: table;
	overflow: hidden;
	height: 102px;
	border-collapse: separate;
}

.bp-task-page .bp-status-cancel,
.bp-task-page .bp-status-ready {
	display: table;
	overflow: hidden;
	height: 102px;
	border-collapse: separate;
}

.bp-task-page .bp-status-cancel span,
.bp-task-page .bp-status-ready span {
	display: table-cell;
	vertical-align: middle;
	line-height: normal;
}

.green {
	color: green;
}
.orange {
	color: orange;
}
.red {
	color: red;
}

p.time_wasted {
	font-size: 20px;
}