.report-visualconstructor-properties-in-heed-button {
	vertical-align: middle;
	padding: 0 12px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
	line-height: 26px;
	height: 26px;
	border-radius: 15px;
	background: rgba(125, 214, 243, .2);
	transition: .1s;
	font-size: 12px;
	color: #828B95;
	cursor: pointer;
}

.report-visualconstructor-properties-in-heed-button:hover {
	background: rgba(125, 214, 243, .28);
	color: #525C69;
}

.report-visualconstructor-dashboard-widget-dark .report-visualconstructor-properties-in-heed-button {
	background: rgba(255, 255, 255, .1);
	color: rgba(255,255,255,.65);
}

.report-visualconstructor-dashboard-widget-dark .report-visualconstructor-properties-in-heed-button:hover {
	background: rgba(255, 255, 255, .2);
	color: rgba(255,255,255,1);
	transition: .5s;
}

.report-visualconstructor-widget-timer-period-mark-container {
	position: absolute;
	font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
	font-size: 10px;
	z-index: 1;
	right: 20px;
	line-height: 18px;
}

.report-visualconstructor-dashboard-widget-dark .report-visualconstructor-widget-timer-period-mark-container {
	line-height: 29px;
	color: #fff;
}

.report-visualconstructor-dashboard-widget-light .report-visualconstructor-widget-timer-period-mark-container {
	color: #000;
	background-color: rgba(239, 239, 239, .5);
	padding: 0 12px 2px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.report-visualconstructor-demo-flag {
	display: none;
	background-color: rgba(255, 255, 255, .92);
	border: 2px solid #69c5ef;
	border-radius: 2px;
	color: #000;
	font-size: 14px;
	min-height: 130px;
	margin-top: -70px;
	position: fixed;
	right: 70px;
	top: 50%;
	width: 380px;
	padding: 20px 0 0 20px;
	z-index: 250;
}

.report-visualconstructor-demo-flag-text {

}

.report-visualconstructor-demo-flag-close-button {
	cursor: pointer;
	height: 20px;
	position: absolute;
	right: 2px;
	top: 5px;
	text-align: center;
	width: 20px;
}

.report-visualconstructor-demo-flag-close-button::before {
	background-color: #b0b8c1;
	content: '';
	height: 10px;
	left: 9px;
	position: absolute;
	top: 5px;
	width: 2px;
	transition: background-color .2s linear;
	transform: rotate(45deg);
}

.report-visualconstructor-demo-flag-close-button::after {
	background-color: #b0b8c1;
	content: '';
	height: 10px;
	left: 9px;
	position: absolute;
	top: 5px;
	width: 2px;
	transition: background-color .2s linear;
	transform: rotate(-45deg);
}

.report-visualconstructor-demo-flag-visible {
	display: block;
}

.report-visualconstructor-demo-flag-hide-link
{
	border-bottom: 1px solid #71b3ee;
	display: inline-block;
	color: #2196e8;
	cursor: pointer;
	margin-top: 25px;
}

.report-visualconstuctor-widget-property-invisible
{
	display:none;
}