.search-title-top-result {
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	padding: 18px 0;
}


.header-search {
	position: relative;
	height: 34px;
	flex:1;
	order: 3;
	/*top: 15px;*/
	overflow: hidden;
}

.header-search-inner {
	height: 34px;
	max-width: 650px;
	border-radius: 17px;
	margin: 0 25px 0 0;
	padding: 0 14px;
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	overflow: hidden;
}

.header-search-form {
	height: 36px;
	position: relative;
}

.header-search-input {
	background: none ;
	border: medium none;
	box-shadow: none;
	box-sizing: border-box;
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	height: 34px;
	outline: medium none;
	margin: 0 35px 0 5px;
	padding: 0 35px 0 0;
	text-indent: 0;
	width: 100%;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.header-search-active .header-search-input {
	color: #535c69;
}

.header-search-icon {
	display: block;
	height: 32px;
	position: absolute;
	right: 0;
	top: 1px;
	width: 35px;
}

.header-search-icon:before {
	content: '';
	height: 16px;
	width: 16px;
	top: 9px;
	right: 0;
	position: absolute;
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214.219%22%20height%3D%2214.25%22%20viewBox%3D%220%200%2014.219%2014.25%22%3E%0A%09%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23a5adb3%22%20d%3D%22M13.895%2012.32l-3.662-3.663c-.015-.015-.034-.026-.05-.04A5.544%205.544%200%201%200%208.6%2010.2c.013.016.024.034.04.05l3.662%203.662a1.127%201.127%200%200%200%201.593-1.593zM5.553%209.8A4.232%204.232%200%201%201%209.785%205.57%204.233%204.233%200%200%201%205.553%209.8z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.search-title-top-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.search-title-top-item {
	width: 45%;
	margin-right: 20px;
	padding: 5px 0;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.search-title-top-item:nth-child(2n) {
	margin-right: 0;
}

.search-title-top-item-link {
	text-decoration: none;
	font-size: 0;
	display: flex;
	align-items: center;
	transition: background-color .4s ease;
}

.search-title-top-item-text {
	width: 100%;
	color: #525c69;
	font: 14px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	transition: border-bottom-color .3s linear;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.search-title-top-item-text span {
	border-bottom: 1px solid transparent;
	transition: border-bottom-color .3s linear;
}

.search-title-top-subtitle-text {
	color: #525c69;
	font: 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.search-title-top-subtitle {
	padding-bottom: 16px;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}

.search-title-top-block-section .search-title-top-subtitle {
	margin-bottom: 16px;
}

.search-title-top-block-tools .search-title-top-subtitle {
	margin: 0 23px 0 21px;
}

.search-title-top-block {
	margin-bottom: 35px;
	padding: 0 23px 0 21px;
	position: relative;
}

.search-title-top-block-section {
	margin-bottom: 27px;
}

.search-title-top-item-img {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	max-width: 100%;
	background-color: #a6acb3;
	background-size: cover;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: none;
	margin-right: 9px;
	flex-shrink: 0;
}

.search-title-top-item-img-default-users {
	background-image: url(images/upic-user.svg);
}

.search-title-top-item-img-default-sonetgroups {
	background-image: url(images/upic-group.svg);
}

.search-title-top-more-text {
	font-size: 12px;
	color: #abadb4;
	cursor: pointer;
}

.search-title-top-more-block .search-title-top-item-selected .search-title-top-more-text {
	color: #000;
	text-decoration: underline;
}

.search-title-top-block-section .search-title-top-item, .search-title-top-block-tools .search-title-top-item {
	width: auto;
	border-radius: 16px;
	box-sizing: border-box;
	margin-bottom: 9px;
	padding: 0;
	transition: all .4s ease;
}

.search-title-top-block-tools .search-title-top-item-link {
	padding: 4px 12px 6px 11px;
}

.search-title-top-block-section .search-title-top-item-link {
	padding: 6px 16px 8px 15px;
	width: 100%;
	box-sizing: border-box;
}

.search-title-top-block-tools .search-title-top-item {
	background-color: transparent;
	border: 1px solid #e8e8eb;
	margin-right: 9px;
	transition: all 100ms linear;
}

.search-title-top-block-section .search-title-top-item {
	margin-right: 12px;
	background-color: #eff3f4;
}

.search-title-top-block-tools {
	margin-bottom: 15px;
	padding: 0;
}

.search-title-top-list-height-wrap {
	height: 55px;
	overflow: hidden;
	transition: .2s;
}

.search-title-top-more {
	margin: 6px 0 0 5px;
}

.search-title-top-block-users .search-title-top-item {
	position: relative;
	padding: 3px 0;
}

.search-title-top-block-users .search-title-top-item-message {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 15px;
	cursor: pointer;
	flex-shrink: 0;
	background: url(images/message.svg);
	opacity: 0;
	transition: opacity 100ms linear;
}

.search-title-top-block-users .search-title-top-item-link {
	padding: 4px 14px 4px 4px;
	margin-right: 4px;
	border-radius: 20px;
}

.search-title-top-block-users .search-title-top-item:hover .search-title-top-item-message {
	opacity: 0.35;
}

.search-title-top-block-users .search-title-top-item:hover .search-title-top-item-message:hover {
	opacity: 1;
}

.search-title-top-block-sonetgroups .search-title-top-item-link {
	padding: 4px 14px 4px 4px;
	border-radius: 20px;
}

.search-title-top-block-sonetgroups .search-title-top-item {
	padding: 3px 0;
}

.search-title-top-block-tools .search-title-top-item-selected,
.search-title-top-block-section .search-title-top-item-selected {
	background-color: #d5f4fd;
	border-color: transparent;
}

.search-title-top-block-users .search-title-top-item-selected .search-title-top-item-link,
.search-title-top-block-sonetgroups .search-title-top-item-selected .search-title-top-item-link{
	background-color: #d5f4fd;
}

.search-title-top-block-users .search-title-top-item-text {
	max-width: 180px;
	width: 100%;
}

.search-title-top-block-tools .search-title-top-list-wrap {
	width: 100%;
	overflow: hidden;
	transition: height 200ms ease;
	padding: 21px 73px 0 21px;
	box-sizing: border-box;
	margin-left: 0;
}

.search-title-top-block-section .search-title-top-list-wrap {
	margin-left: 0;
}

.search-title-top-arrow {
	position: absolute;
	top: 58px;
	right: 33px;
	width: 13px;
	height: 13px;
	background: url(images/arrow.svg) no-repeat center;
	box-sizing: border-box;
	transition: transform 200ms 0s ease-in-out;
	transform: rotate(180deg);
	transform-origin: center 65% 0;
}

.search-title-top-block-tools .search-title-top-list-wrap-hover .search-title-top-arrow {
	transform: rotate(0deg);
}

.search-title-top-block:last-child {
	margin-bottom: 0;
}

.title-search-result .title-search-waiter {
	padding: 12px 14px;
}

.title-search-waiter .title-search-waiter-img {
	display: inline-block;
	background-image: url('images/waiter-white.gif');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	border: none;
	vertical-align: middle;
	margin: 0 5px 0 6px;
}

.title-search-waiter .title-search-waiter-text {
	display: inline-block;
	color: #ccc;
	font-style: italic;
	font-size: 13px;
	vertical-align: middle;
	height: 20px;
}

.title-search-result.search-title-top-result-header {
	border: none;
	box-shadow: 0 6px 21px 0 rgba(83,92,105,0.15);
	min-width: 500px;
}

.search-title-top-delete {
	position: absolute;
	right: -30px;
	top: 7px;
	width: 20px;
	height: 20px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2211%22%20viewBox%3D%220%200%2012%2011%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.587%205.503l4.4-4.398-1.132-1.13-4.4%204.397L2.06-.026l-1.13%201.13%204.397%204.4L.927%209.9l1.13%201.132%204.4-4.398%204.398%204.398%201.13-1.13-4.398-4.4z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	opacity: 0;
	transition: all 250ms ease;
}

.header-search-not-empty .search-title-top-delete{
	opacity: .8;
	right: -6px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2211%22%20viewBox%3D%220%200%2012%2011%22%3E%3Cpath%20fill%3D%22%23a5adb3%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.587%205.503l4.4-4.398-1.132-1.13-4.4%204.397L2.06-.026l-1.13%201.13%204.397%204.4L.927%209.9l1.13%201.132%204.4-4.398%204.398%204.398%201.13-1.13-4.398-4.4z%22/%3E%3C/svg%3E');
}

.header-search-not-empty .search-title-top-delete:hover{
	opacity: 1;
}

.header-search-not-empty .header-search-icon-title {
	right: 8px;
}

.header-search-not-empty .header-search-icon-title:before {
	right: 9px;
}

.header-search-icon:before {
	transition: all 250ms ease;
}

.search-title-top-nothing {
	height: 288px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search-title-top-nothing-icon {
	width: 62px;
	height: 62px;
	margin-bottom: 20px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2262%22%20height%3D%2262%22%20viewBox%3D%220%200%2062%2062%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cg%20fill%3D%22none%22%3E%0A%3Cpath%20opacity%3D%220.2%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M%2060.7764%2054.5712L%2044.0407%2037.8368C%2044.0188%2037.8236%2043.9969%2037.8148%2043.9793%2037.7973C%2046.659%2033.9075%2048.2422%2029.202%2048.2422%2024.1194C%2048.2422%2010.7967%2037.4403%200%2024.1211%200C%2010.7975%200%200%2010.7967%200%2024.1194C%200%2037.4465%2010.7975%2048.2432%2024.1211%2048.2432C%2029.1997%2048.2432%2033.9099%2046.6601%2037.7956%2043.9762C%2037.8131%2043.9938%2037.8175%2044.0245%2037.835%2044.042L%2054.5751%2060.7765C%2056.2066%2062.4078%2058.8774%2062.4078%2060.5089%2060.7765L%2060.7764%2060.509C%2062.4079%2058.8776%2062.4079%2056.2026%2060.7764%2054.5712ZM%205.82855%2024.1194C%205.82855%2014.0156%2014.0166%205.82812%2024.1211%205.82812C%2034.2257%205.82812%2042.4137%2014.0156%2042.4137%2024.1194C%2042.4137%2034.2232%2034.2257%2042.4151%2024.1211%2042.4151C%2014.0166%2042.4151%205.82855%2034.2232%205.82855%2024.1194Z%22%20fill%3D%22%23A7ABB0%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A')
				no-repeat center;
}

.search-title-top-nothing-text {
	color: #828b95;
	opacity: .3;
	font-size: 26px;
	line-height: 32px;
}

.search-title-top-list-limits {
	display: flex;
	padding: 0 29px 0 11px;
	color: #525C69;
}

.search-title-top-list-limits-icon {
	display: inline-block;
	margin: 5px 18px 0 0;
	width: 20px;
	height: 24px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2020%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M8.907%2018.676a.81.81%200%200%200%20.808.808.81.81%200%200%200%20.808-.808v-2.164a1.73%201.73%200%200%200-.808-3.263%201.732%201.732%200%200%200-.808%203.263v2.164zm-6.678%203.11H17.56V9.34H2.23v12.446zM3.59%207.832V4.82A4.825%204.825%200%200%201%208.41%200h2.773a4.825%204.825%200%200%201%204.82%204.82v3.012h1.824c.665%200%201.205.54%201.205%201.205v13.052c0%20.666-.54%201.205-1.205%201.205H1.962c-.665%200-1.204-.54-1.204-1.205V9.037c0-.666.539-1.205%201.204-1.205H3.59zm1.561%200h9.29V4.82c0-1.989-1.27-3.26-3.258-3.26H8.41c-1.988%200-3.259%201.271-3.259%203.26v3.012z%22%20fill%3D%22%23469AF9%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.search-title-top-list-limits-name {
	display: block;
	margin: 0 0 12px 0;
	font: 19px/32px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search-title-top-list-limits-content {
	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.search-title-top-list-limits-content p {
	margin: 0 0 20px 0;
}

.search-title-top-list-limits-content p:last-child {
	margin: 0;
}