.crm-order-shipment-product-list-barcode-content{
	background-color: white;
	width: 100%;
}

.crm-order-shipment-product-list-barcode-content table,
.crm-order-shipment-product-list-barcode-content tr{
	width: 100%;
}

.crm-order-shipment-product-list-barcode-content tr,
.crm-order-shipment-product-list-barcode-content th,
.crm-order-shipment-product-list-barcode-content td
{
	height: 23px;
	color: #525c69;
	text-transform: uppercase;
	font: 600 11px/23px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	white-space: nowrap;
	overflow: hidden;
	max-width: calc(100% - 30px);
	text-overflow: ellipsis;
	background-color: white;
	padding: 5px 10px;
}

.crm-order-shipment-product-list-barcode-content th{
	border-bottom: 1px solid #e8ecee;
	padding: 11px 0;
}

.crm-order-shipment-product-list-barcode-content input{
	box-sizing: border-box;
	padding: 10px 9px;
	min-height: 39px;
	width: 100%;
	outline: none;
	border: 1px solid #c4c7cc;
	border-radius: 1px;
	background-color: #fff;
	color: #424956;
	font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 220ms all ease;
}

.crm-order-shipment-product-list-barcode-content .sale-order-shipment-barcode {
	border: none;
}

.crm-order-shipment-product-list-barcode-content .sale-order-shipment-barcode.exists input{
	border-color: green;
}

.crm-order-shipment-product-list-barcode-content .sale-order-shipment-barcode.not-exists input{
	border-color: red;
}