.bx-im-dialog {
	display: flex;
	height: 100%;
	overflow: hidden;
}
.bx-im-dialog-ajax {
	text-decoration: dotted;
}
.bx-im-dialog-list {
	overflow-y: auto;
	width: 100%;
}
.bx-im-dialog-list-scroll-blocked {
	overflow: hidden;
}
.bx-im-dialog-list-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 0;
}
.bx-im-dialog-scroll-button-box {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 55px;
	height: 55px;
	z-index: 1;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
.bx-im-dialog-scroll-button {
	background: #fff;
	border: 1px solid #ececec;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
	border-radius: 50%;
	width: 34px;
	height: 34px;
	margin-top: 10px;
	margin-left: 7px;
	cursor: pointer;
	transition: background-color .2s;
	text-align: center;
}
.bx-im-dialog-scroll-button:hover {
	background-color: #f9f9f9;
}

.bx-im-dialog-scroll-button-arrow {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-top: 3px solid #bbb8b8;
	border-right: 3px solid #bbb8b8;
	transform: rotate(135deg);
	margin-top: 11px;
	cursor: pointer;
	box-sizing: content-box;
}
.bx-im-dialog-scroll-button-counter {
	width: 100%;
	text-align: center;
	margin-top:-7px;
	position: absolute;
}
.bx-im-dialog-scroll-button-counter-digit {
	display: inline-block;
    font: 11px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
	padding: 0 5px 0 5px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #17b0e1;
}


.bx-im-dialog-scroll-button-enter-active, .bx-im-dialog-scroll-button-leave-active {
	transition: bottom .2s ease-out;
}
.bx-im-dialog-scroll-button-enter, .bx-im-dialog-scroll-button-leave-to {
	bottom: -60px;
}

.bx-im-dialog-message-animation-enter-active, .bx-im-dialog-message-animation-leave-active {
	transition: 0s;
}

.bx-im-dialog-list-item {}

.bx-im-dialog-group {
	font: 14px/19px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	position: relative;
}
.bx-im-dialog-group-date {
	background-color: rgba(7, 5, 27, 0.62);
	border: 1px solid rgba(7, 5, 27, 0.1);
	text-shadow: none; color: #fff!important;
	display: inline-block;
	padding: 5px 15px;
	border-radius: 15px;
	font-size: 14px;
	text-decoration: none;
	margin: 10px 15px;
}
.bx-im-dialog-group-float.bx-im-dialog-group-date
{
	position: absolute;
	display: block;
	margin-top: 32px;
	z-index: 30;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.bx-im-dialog-load-more {
	position: relative;
	text-align: center;
}
.bx-im-dialog-load-more + .bx-im-dialog-list-box { padding-top: 0; }
.bx-im-dialog-load-more-history {
	padding-bottom: 0;
}
.bx-im-dialog-load-more-unread {
    padding-top: 0;
    padding-bottom: 13px;
}

.bx-im-dialog-load-more-text:before {
	position: absolute;
	margin-left: -30px;
	margin-top: 4px;
	width: 20px;
	height: 20px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1%2010c0%204.9706%204.0294%209%209%209s9-4.0294%209-9-4.0294-9-9-9c-2.4048%200-4.5893.9432-6.2038%202.4798%22%20stroke%3D%22%23677B8F%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	-ms-animation: bx-im-dialog-load-more .8s linear infinite;
	-webkit-animation: bx-im-dialog-load-more .8s linear infinite;
	animation: bx-im-dialog-load-more .8s linear infinite;
	content: ""
}
.bx-im-dialog-load-more-text {
	display: inline-block;
	height: 29px;
	font: 15px/29px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #687B8C;
	vertical-align: top;
	padding: 10px 15px;
	padding-left: 30px;
}
.bx-im-dialog-dark-background .bx-im-dialog-load-more-text {
	color: #949494;
}

@-webkit-keyframes bx-im-dialog-load-more {
	0% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@keyframes bx-im-dialog-load-more {
	0% {
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%
	{
		-moz-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

.bx-im-dialog-status {
	padding: 0 20px 15px;
	display: block;
	font: 15px/19px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #585858;
	word-wrap: break-word;
	vertical-align: middle;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	cursor: default;
	position: relative;
}

.bx-im-dialog-status-enter-active, .bx-im-dialog-status-leave-active {
	transition: opacity .1s ease-out;
}
.bx-im-dialog-status-leave-active {
	transition: opacity .05s ease-out;
}
.bx-im-dialog-status-enter, .bx-im-dialog-status-leave-to {
	opacity: 0;
}

.bx-im-dialog-status-writing {
	width: 20px;
	height: 11px;
	display: inline-block;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%222%22%3E%0A%20%20%3Cg%20fill%3D%22%23717171%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Crect%20width%3D%221.6%22%20height%3D%222%22%20rx%3D%22.8%22/%3E%0A%20%20%20%20%3Crect%20width%3D%221.6%22%20height%3D%222%22%20x%3D%223.2%22%20rx%3D%22.8%22/%3E%0A%20%20%20%20%3Crect%20width%3D%221.6%22%20height%3D%222%22%20x%3D%226.4%22%20rx%3D%22.8%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	background-position: bottom left;
	vertical-align: middle;
}
.bx-im-dialog-status-writing:before {
	-webkit-animation: imWriting 1.4s linear infinite;
	animation: imWriting 1.4s linear infinite;
	content: '';
	height: 16px;
	position: absolute;
	width: 19px;
	margin-left: 10px;
	margin-top:-1px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%3E%0A%20%20%3Cpath%20fill%3D%22%23717171%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.8128%204.807L5.1751%202.1694a.041.041%200%200%200-.0578%200L.0328%207.2538c-.0739.0733%200%202.696%200%202.696s2.6222.0734%202.6961%200l5.0845-5.0844a.0416.0416%200%200%200-.0006-.0583zM1.0647%208.9376v-1.047h1.0495V8.94H1.0647v-.0025zm8.8785-6.2584L7.3054.0413a.0421.0421%200%200%200-.0578%200L6.1144%201.1746a.0416.0416%200%200%200%200%20.0577l2.6378%202.6378a.041.041%200%200%200%20.0577%200l1.1338-1.1333a.0427.0427%200%200%200-.0028-.0577h.0023z%22/%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	zoom:1;
}

@-webkit-keyframes imWriting {
	0% { margin-left: 1px; margin-top:-0px; }
	20% { margin-left: 4px; margin-top:-1px; }
	60% { margin-left: 8px; margin-top:-2px; }
	65% { margin-left: 8px; margin-top:-2px; }
	70% { margin-left: 8px; margin-top:-3px; -webkit-transform:rotate(-20deg); transform:rotate(-20deg); }
	90% { margin-left: 8px; margin-top:-5px; -webkit-transform:rotate(-40deg); transform:rotate(-40deg);  }
	100% {  margin-left: 1px; margin-top:-3px; }
}

@keyframes imWriting {
	0% { margin-left: 1px; margin-top:-0px; }
	20% { margin-left: 4px; margin-top:-1px; }
	60% { margin-left: 8px; margin-top:-2px; }
	65% { margin-left: 8px; margin-top:-2px; }
	70% { margin-left: 8px; margin-top:-3px; transform:rotate(-20deg); }
	90% { margin-left: 8px; margin-top:-5px; transform:rotate(-40deg);  }
	100% {  margin-left: 1px; margin-top:-3px; }
}