.tm-popup-section {height:23px;  white-space: nowrap; position: relative; background: #e8e8e8; font: normal normal normal 12px/23px Arial, Helvetica, sans-serif; border-radius: 2px;}
.tm-popup-section-left, .tm-popup-section-text, .tm-popup-section-right { display: inline-block; height:23px; vertical-align: top;}
.tm-popup-section-left { width: 3px; background: url(images/timeman-sprite.2.png) no-repeat -7px -17px; }
.tm-popup-section-right { width: 3px; position:absolute; top:0; right:0; background: url(images/timeman-sprite.2.png) no-repeat -10px -17px; }
.tm-popup-section-text { padding: 0 8px; color:#000;  }
.tm-popup-section-right-link { position: absolute; right:11px; top: 0; font-size:11px; line-height:21px; color: #949494; text-decoration: underline; cursor: pointer;}
.tm-popup-section-right-link:hover { color: #156cb6; }

