/* ======================================================== Webforms ==============================================================*/
.webform { font: normal normal normal 12px/normal Verdana, sans-serif; }

.webform-corners-top,
.webform-corners-bottom {
	position: relative;
	overflow: hidden;
	height: 4px;
}

.webform-left-corner,
.webform-right-corner {
	position: relative;
	overflow: hidden;
	width: 4px;
	height: 16px;
}

.webform-right-corner {
	position: absolute;
	top: -4px;
	right: 0;
}

.webform-corners-bottom .webform-left-corner,
.webform-corners-bottom .webform-right-corner { margin-top: -8px; }

.webform-content { padding: 7px 20px 15px 16px; }

.webform-main-fields {
	margin: 0 0 3px 0;
	background-color: #f4f0d2;
}

.webform-main-fields .webform-round-corners { background-color: #ebe6c2; }

.webform-main-fields .webform-left-corner,
.webform-main-fields .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 0; }

.webform-main-fields .webform-content .webform-left-corner,
.webform-main-fields .webform-content .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -17px; }

.webform-main-fields .webform-content .webform-content {
	padding: 5px 10px;
	border-right: 1px solid #e5e1c5;
}

.webform-main-fields .webform-field-round-corners .webform-corners-bottom { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -161px; }

.webform-additional-fields { background-color: #eee; }

.webform-additional-fields .webform-round-corners { background-color: #e5e5e5; }

.webform-additional-fields .webform-left-corner,
.webform-additional-fields .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -34px; }

.webform-additional-fields .webform-content .webform-left-corner,
.webform-additional-fields .webform-content .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -5px 0; }

.webform-additional-fields-content { margin: 15px 0 0; }

.webform-additional-fields .webform-content .webform-content {
	padding: 7px 10px;
	border-right: 1px solid #dfdfdf;
}

.webform-additional-fields .webform-field-round-corners .webform-corners-bottom { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -165px; }

.webform-main-block { background-color: #f8f6e4; }

.webform-main-block .webform-content {
	padding: 14px 20px 11px 15px;
	border-right: 1px solid #e8e6d6;
	border-left: 1px solid #e8e6d6;
}

.webform-main-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -386px; }

.webform-main-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -383px; }

.webform-main-block .webform-left-corner,
.webform-main-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -5px -17px; }

.webform-main-content { overflow: hidden; }

.webform-main-title {
	float: left;
	margin-right: .5em;
	color: #4c431f;
	white-space: nowrap;
}

.webform-main-text {
	overflow: hidden;
	color: #000;
}

.webform-main-block-topless .webform-corners-top,
.webform-main-block-bottomless .webform-corners-bottom { display: none; }

.webform-main-block-topless .webform-content { border-top: 1px solid #e8e6d6; }

.webform-main-block-bottomless .webform-content { border-bottom: 1px solid #e8e6d6; }

.webform-additional-block { background-color: #f3f3f3; }

.webform-additional-block .webform-content {
	padding: 11px 20px 7px 16px;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
}

.webform-additional-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -160px; }

.webform-additional-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -157px; }

.webform-additional-block .webform-left-corner, .webform-additional-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -5px -34px; }

.webform-additional-content { overflow: hidden; }

.webform-additional-title {
	float: left;
	margin-right: 0.5em;
	color: #4c431f;
	white-space: nowrap;
}

.webform-additional-text {
	overflow: hidden;
	color: #000;
}

.webform-additional-block-topless .webform-corners-top,
.webform-additional-block-bottomless .webform-corners-bottom { display: none; }

.webform-additional-block-topless .webform-content { border-top: 1px solid #e1e1e1; }

.webform-additional-block-bottomless .webform-content { border-bottom: 1px solid #e1e1e1; }

.webform-warning-block { background-color: #ffe168; }

.webform-warning-block .webform-content {
	padding: 11px 20px 11px 16px;
	border-right: 1px solid #ebd165;
	border-left: 1px solid #ebd165;
}

.webform-warning-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -172px; }

.webform-warning-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -169px; }

.webform-warning-block .webform-left-corner,
.webform-warning-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -10px -34px; }

.webform-warning-content { overflow: hidden; }

.webform-warning-title {
	float: left;
	margin-right: .5em;
	color: #4c431f;
	white-space: nowrap;
}

.webform-warning-text {
	overflow: hidden;
	color: #000;
}

.webform-warning-block-topless .webform-corners-top,
.webform-warning-block-bottomless .webform-corners-bottom { display: none; }

.webform-warning-block-topless .webform-content { border-top: 1px solid #ebd165; }

.webform-warning-block-bottomless .webform-content { border-bottom: 1px solid #ebd165; }

.webform-error-block {
	margin-bottom: 17px;
	background-color: #ffebeb;
}

.webform-error-block .webform-content {
	padding: 6px 18px 6px 10px;
	border-right: 1px solid #ffa7a7;
	border-left: 1px solid #ffa7a7;
	color: #d10000;
}

.webform-error-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -152px; }

.webform-error-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -149px; }

.webform-error-block .webform-left-corner,
.webform-error-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -15px -34px !important; }

.webform-error-block-topless .webform-corners-top,
.webform-error-block-bottomless .webform-corners-bottom { display: none; }

.webform-error-block-topless .webform-content { border-top: 1px solid #ffa7a7; }

.webform-error-block-bottomless .webform-content { border-bottom: 1px solid #ffa7a7; }

.webform-error-list {
	margin: 0;
	padding: .3em 0 .3em 2em;
}

.webform-error-list li {
	margin: 0;
	padding: 0;
}

.webform-additional-select-block { background-color: #fff !important; }

.webform-additional-select-block .webform-content {
	padding: 5px !important;
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
}

.webform-additional-select-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -156px; }

.webform-additional-select-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -153px; }

.webform-additional-select-block .webform-left-corner,
.webform-additional-select-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -10px 0 !important; }

.webform-additional-select-block-topless .webform-corners-top,
.webform-additional-select-block-bottomless .webform-corners-bottom { display: none; }

.webform-additional-select-block-topless .webform-content { border-top: 1px solid #dedede; }

.webform-additional-select-block-bottomless .webform-content { border-bottom: 1px solid #dedede; }

.webform-row { margin: 0 0 11px; }

/* Webforms controls */
.webform-field {
	margin: 0;
	color: #171717;
}

.webform-field-label {
	margin: 0 0 2px 4px;
	color: #7a7869;
}

.webform-field-textbox {
	border: none;
	background-color: #fff;
}

.webform-field-textbox-double {
	border: 1px solid #f9f7e8;
	background-color: #fff;
}

.webform-field-textbox-inner {
	padding: 3px 6px 4px;
	border: 1px solid #d9d9d9;
}

span.webform-field-textbox,
span.webform-field-textbox-double,
span.webform-field-textbox-inner { display: inline-block; }

.webform-field-textbox input,
.webform-field-textbox-double input {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	color: #000; font: normal normal normal 13px/normal Arial, Helvetica, sans-serif;
}

.webform-field-textbox input[type="text"],
.webform-field-textbox-double input[type="text"] { outline: none; }

.webform-field-textbox input.inactive,
.webform-field-textbox-double input.inactive { color: #999; }

.webform-field-textbox-clearable { position: relative; }

.webform-field-textbox-clearable .webform-field-textbox-inner { padding-right: 20px; }

.webform-field-textbox-clear {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 20px;
	height: 24px;
	outline: none;
	background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -17px 10px;
	cursor: pointer;
}

.webform-field-textbox-empty .webform-field-textbox-clear {
	display: none;
	cursor: default
}

.webform-field-combobox {
	display: inline-block;
	border: 1px solid #f9f7e8;
	background-color: #fff;
	white-space: nowrap;
}

.webform-field-combobox-inner {
	padding: 5px 0 5px 8px;
	border: 1px solid #d9d9d9;
}

.webform-additional-fields .webform-field-combobox { border: 1px solid #f6f6f6; }

.webform-field-combobox input {
	padding: 0;
	width: 238px;
	border: 0;
	background-color: #fff;
	color: #000;
	vertical-align: top;
}

.webform-field-combobox input[type="text"] { outline: none; }

.webform-field-combobox-arrow {
	display: inline-block;
	width: 25px;
	outline: none;
	background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -15px -14px;
	vertical-align: top;
	text-decoration: none !important;
}

.webform-field-combobox input,
.webform-field-combobox-arrow { font: normal normal normal 15px/normal Arial, Helvetica, sans-serif; }

.webform-field-combobox-disabled .webform-field-combobox-arrow { display: none; }

.webform-field-combobox-disabled input { color: #999; }

.webform-field-date {
	display: inline-block;
	padding: 3px 6px 4px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	vertical-align: top;
}

.webform-field-date input {
	padding: 0;
	width: 140px;
	border: 0;
	background-color: #fff;
	color: #191919;
	vertical-align: top;
	font: normal normal normal 13px/normal Arial, Helvetica, sans-serif;
}

.webform-field-date input[type="text"] { outline: none; }

.webform-field-textarea {
	border: 1px solid #f9f7e8;
	background-color: #fff;
}

.webform-field-textarea-inner {
	padding: 8px;
	border: 1px solid #d9d9d9;
}

.webform-additional-fields .webform-field-textarea { border: 1px solid #f6f6f6; }

.webform-field-textarea textarea {
	padding: 0;
	width: 99%;
	height: 100px;
	outline: none;
	border: 0;
	background-color: #fff;
	color: #000;
	font: normal normal normal 14px/normal Arial, Helvetica, sans-serif;
	resize: none;
}

.webform-field-textarea textarea.inactive { color: #999; }

.webform-field-checkbox-options .webform-field-checkbox-option {
	margin: 0;
	height: 19px;
}

.webform-field-checkbox-option input,
.webform-field-checkbox-option label { vertical-align: middle; }

.webform-field-checkbox-option input {
	margin: 0;
	padding: 0;
	width: 14px;
}

.webform-field-checkbox-option label { margin: 0 0 0 5px; }

.webform-field-checkbox-option-disabled label { color: #a9a792; }

.webform-field-upload-list {
	margin: 0 0 11px 2.8em;
	padding: 0;
}

.webform-field-upload-list a.upload-file-name {
	margin: 0 0 0 -4px;
	color: #0069c4;
	text-decoration: underline;
	white-space: normal;
	word-wrap: break-word;
}

.webform-field-upload-list a.upload-file-name:hover { color: #1c91e7; }

.webform-field-upload-list li {
	margin: 0 0 3px -5px;
	color: #888;
	white-space: nowrap;
}

.webform-field-upload-list li.uploading { color: #bbb; }

.webform-field-upload-list li.uploading a.upload-file-name {
	opacity: .5;
	cursor: default;
}

.webform-field-upload-list a.delete-file {
	display: inline-block;
	margin: 0 0 0 6px;
	width: 15px;
	height: 16px;
	outline: none;
	background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -280px;
	vertical-align: top;
}

.webform-field-upload-list a.delete-file:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -17px -280px; }

.webform-field-upload-list i {
	display: none;
	margin: 0 0 0 8px;
	width: 15px;
	height: 15px;
	background: url(/bitrix/js/main/core/images/popup/upload-waiting.gif) no-repeat 0 2px; vertical-align: top;
}

.webform-field-upload-list li.uploading i { display: inline-block; }

.webform-field-upload-list:empty {
	margin: 0;
	padding: 0;
}

.webform-field-upload {
	overflow: hidden;
	width: 250px;
	height: 27px;
}

.webform-field-upload:hover .webform-button,
.webform-field-upload:hover .webform-button-text {
	color: #535c69;
	cursor: pointer !important;
}

.webform-field-upload input {
	margin-top: -50px;
	margin-left: -410px;
	height: 100px;
	font-size: 150px;
	opacity: 0;
}

.webform-field-action-link,
.webform-field-action-link:link,
.webform-field-action-link:visited,
.webform-field-action-link:hover,
.webform-field-action-link:active {
	display: inline-block;
	outline: none;
	border-bottom: 1px dashed #938f79;
	color: #757361;
	text-decoration: none;
	font-size: 13px;
	cursor: pointer;
}

.webform-field-action-link.selected {
	padding-bottom: 1px;
	border: 0;
	color: #2f2e27 !important;
	cursor: default;
}

.webform-field-additional-link {
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

.webform-field-additional-link i {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -177px;
	vertical-align: middle;
}

.webform-field-additional-link.selected i { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -193px; }

.webform-field-additional-link span {
	margin: 0 0 0 5px;
	border-bottom: 1px dashed #4d4d4d;
	color: #171717;
	vertical-align: middle;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Webforms buttons */
.webform-buttons {
	margin: 15px 0 0;
	text-align: center;
}

.webform-button,
.webform-small-button,
.webform-button-upload {
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 18px;
	height: 47px;
	outline: none;
	border: none;
	border-radius: 2px;
	background: #ecedef;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	color: #7a818a;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	font: normal 12px/47px "OpenSans-Bold", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: background-color 0.2s linear, color 0.2s linear;
	-webkit-font-smoothing: antialiased;
}

.webform-button:link,
.webform-button:visited,
.webform-small-button:link,
.webform-small-button:visited,
.webform-button-upload:link,
.webform-button-upload:visited { color: #7a818a; }

.webform-small-button,
.webform-button.webform-button-upload,
.webform-small-button.webform-button-upload,
.webform-field-upload {
	box-sizing: border-box;
	margin: 0 12px 0 0;
	height: 39px;
	line-height: 39px;
}

.webform-button-text,
.webform-small-button-text,
.webform-button-upload .webform-button-text {
	display: inline;
	padding: 0;
	height: auto;
	border: none;
	background: none !important;
	color: #7a818a;
	text-transform: uppercase;
	text-shadow: none !important;
	font-weight: normal;
	font-size: 12px;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	line-height: 47px;
	transition: color 0.25s linear;
}

.webform-small-button-icon {
	position: relative;
	display: inline-block;
	height: 20px;
	outline: none;
	border: none;
	background: none;
	vertical-align: top;
	text-decoration: none !important;
	line-height: 39px;
	cursor: pointer;
}

.webform-small-button:active .webform-button-icon,
.webform-small-button:active .webform-small-button-icon,
.webform-small-button:hover .webform-button-icon,
.webform-small-button:hover .webform-small-button-icon { opacity: 1; }

.webform-small-button:active .webform-button-icon,
.webform-small-button:active .webform-small-button-icon { opacity: 1 !important; }

.webform-small-button.webform-small-button-plus .webform-small-button-icon,
.webform-small-button.webform-small-button-disk .webform-small-button-icon,
.webform-small-button.webform-small-button-check-round .webform-small-button-icon,
.webform-small-button.webform-small-button-dropdown .webform-small-button-icon {
	margin: -2px -5px 0 5px;
	width: 12px;
	height: 8px;
	background-repeat: no-repeat;
	vertical-align: middle;
	transition: background-image 0.25s linear;
}

.webform-small-button.webform-small-button-dropdown .webform-small-button-icon { margin: -2px 0 0; }

.webform-small-button.webform-small-button-dropdown .webform-small-button-text + .webform-small-button-icon { margin: -2px -5px 0 5px; }

.webform-small-button.webform-small-button-plus .webform-small-button-icon {
	margin-left: 7px;
	height: 12px;
}

.webform-small-button.webform-small-button-disk .webform-small-button-icon {
	margin: -2px 11px 0 0;
	width: 17px;
	height: 12px;
}

.webform-small-button.webform-small-button-check-round .webform-small-button-icon {
	margin: -2px 7px 0 -3px;
	width: 16px;
	height: 15px;
}

.webform-small-button.webform-small-button-check-round .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2215%22%20viewBox%3D%220%200%2016%2015%22%3E%0A%09%3Cpolygon%20id%3D%22a%22%20points%3D%2214.148%2014%200%2014%200%200%2014.148%200%2014.148%2014%2014.148%200%200%200%200%2014%2014.148%2014%22/%3E%0A%09%3Cg%20transform%3D%22translate%281%29%22%3E%0A%20%09%09%3Cpath%20fill%3D%22%23535C68%22%20d%3D%22M4.8638%2C5.0571%20L3.5148%2C6.4031%20L6.9648%2C9.8551%20L8.3138%2C8.5101%20L14.1478%2C2.6891%20L12.8028%2C1.3431%20L6.9688%2C7.1631%20L4.8638%2C5.0571%20Z%20M12.0678%2C7.2841%20C11.9178%2C9.9641%209.7178%2C12.0971%206.9998%2C12.0971%20C4.1848%2C12.0971%201.9038%2C9.8151%201.9038%2C7.0001%20C1.9038%2C4.1851%204.1848%2C1.9031%206.9998%2C1.9031%20C7.6458%2C1.9031%208.2568%2C2.0361%208.8248%2C2.2551%20L10.2658%2C0.8111%20C9.2908%2C0.2951%208.1798%2C0.0001%206.9998%2C0.0001%20C3.1338%2C0.0001%20-0.0002%2C3.1341%20-0.0002%2C7.0001%20C-0.0002%2C10.8661%203.1338%2C14.0001%206.9998%2C14.0001%20C10.8658%2C14.0001%2013.9998%2C10.8661%2013.9998%2C7.0001%20C13.9998%2C6.4881%2013.9418%2C5.9911%2013.8378%2C5.5111%20L12.0678%2C7.2841%20Z%22/%3E%0A%09%3C/g%3E%0A%3C/svg%3E%0A'); }

.webform-small-button:active.webform-small-button-check-round .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2215%22%20viewBox%3D%220%200%2016%2015%22%3E%0A%09%3Cpolygon%20id%3D%22a%22%20points%3D%2214.148%2014%200%2014%200%200%2014.148%200%2014.148%2014%2014.148%200%200%200%200%2014%2014.148%2014%22/%3E%0A%09%3Cg%20transform%3D%22translate%281%29%22%3E%0A%20%09%09%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M4.8638%2C5.0571%20L3.5148%2C6.4031%20L6.9648%2C9.8551%20L8.3138%2C8.5101%20L14.1478%2C2.6891%20L12.8028%2C1.3431%20L6.9688%2C7.1631%20L4.8638%2C5.0571%20Z%20M12.0678%2C7.2841%20C11.9178%2C9.9641%209.7178%2C12.0971%206.9998%2C12.0971%20C4.1848%2C12.0971%201.9038%2C9.8151%201.9038%2C7.0001%20C1.9038%2C4.1851%204.1848%2C1.9031%206.9998%2C1.9031%20C7.6458%2C1.9031%208.2568%2C2.0361%208.8248%2C2.2551%20L10.2658%2C0.8111%20C9.2908%2C0.2951%208.1798%2C0.0001%206.9998%2C0.0001%20C3.1338%2C0.0001%20-0.0002%2C3.1341%20-0.0002%2C7.0001%20C-0.0002%2C10.8661%203.1338%2C14.0001%206.9998%2C14.0001%20C10.8658%2C14.0001%2013.9998%2C10.8661%2013.9998%2C7.0001%20C13.9998%2C6.4881%2013.9418%2C5.9911%2013.8378%2C5.5111%20L12.0678%2C7.2841%20Z%22/%3E%0A%09%3C/g%3E%0A%3C/svg%3E%0A'); }

.webform-small-button.webform-small-button-plus .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2210px%22%20width%3D%2210px%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23535C68%22%20d%3D%22M4%204H0v2h4v4h2V6h4V4H6V0H4v4z%22/%3E%3C/svg%3E'); }

.webform-small-button:active.webform-small-button-plus .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2210px%22%20width%3D%2210px%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M4%204H0v2h4v4h2V6h4V4H6V0H4v4z%22/%3E%3C/svg%3E'); }

.webform-small-button.webform-small-button-disk .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2212%22%20viewBox%3D%220%200%2017%2012%22%3E%3Cpath%20fill%3D%22%23535C68%22%20d%3D%22M2%2C7%20L17%2C7%20C18.3%2C7%2018%2C6.4%2018%2C5.7%20C18%2C5.7%2015.5%2C0.1%2015%2C0.1%20L4%2C0.1%20C3.4%2C0.1%201%2C5.7%201%2C5.7%20C1%2C6.4%200.8%2C7%202%2C7%20Z%20M17%2C8%20L2%2C8%20C1.5%2C8%201%2C8.4%201%2C9%20L1%2C11%20C1%2C11.5%201.5%2C12%202%2C12%20L17%2C12%20C17.5%2C12%2018%2C11.5%2018%2C11%20L18%2C9%20C18%2C8.5%2017.5%2C8%2017%2C8%20Z%20M9.9%2C10%20L2.1%2C10%20C2%2C10%202%2C10%202%2C9.9%20L2%2C9.1%20C2%2C9%202%2C9%202.1%2C9%20L9.9%2C9%20C10%2C9%2010%2C9%2010%2C9.1%20L10%2C9.9%20C10%2C10%2010%2C10%209.9%2C10%20Z%20M13.9%2C10%20L12.1%2C10%20C12%2C10%2012%2C10%2012%2C9.9%20L12%2C9.1%20C12%2C9%2012%2C9%2012.1%2C9%20L13.9%2C9%20C14%2C9%2014%2C9%2014%2C9.1%20L14%2C9.9%20C14%2C10%2013.9%2C10%2013.9%2C10%20Z%22%20transform%3D%22translate%28-1%29%22/%3E%3C/svg%3E%0A'); }

.webform-small-button:active.webform-small-button-disk .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2212%22%20viewBox%3D%220%200%2017%2012%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M2%2C7%20L17%2C7%20C18.3%2C7%2018%2C6.4%2018%2C5.7%20C18%2C5.7%2015.5%2C0.1%2015%2C0.1%20L4%2C0.1%20C3.4%2C0.1%201%2C5.7%201%2C5.7%20C1%2C6.4%200.8%2C7%202%2C7%20Z%20M17%2C8%20L2%2C8%20C1.5%2C8%201%2C8.4%201%2C9%20L1%2C11%20C1%2C11.5%201.5%2C12%202%2C12%20L17%2C12%20C17.5%2C12%2018%2C11.5%2018%2C11%20L18%2C9%20C18%2C8.5%2017.5%2C8%2017%2C8%20Z%20M9.9%2C10%20L2.1%2C10%20C2%2C10%202%2C10%202%2C9.9%20L2%2C9.1%20C2%2C9%202%2C9%202.1%2C9%20L9.9%2C9%20C10%2C9%2010%2C9%2010%2C9.1%20L10%2C9.9%20C10%2C10%2010%2C10%209.9%2C10%20Z%20M13.9%2C10%20L12.1%2C10%20C12%2C10%2012%2C10%2012%2C9.9%20L12%2C9.1%20C12%2C9%2012%2C9%2012.1%2C9%20L13.9%2C9%20C14%2C9%2014%2C9%2014%2C9.1%20L14%2C9.9%20C14%2C10%2013.9%2C10%2013.9%2C10%20Z%22%20transform%3D%22translate%28-1%29%22/%3E%3C/svg%3E%0A'); }

.webform-small-button.webform-small-button-dropdown .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A'); }

.webform-small-button:active.webform-small-button-dropdown .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A'); }

.webform-button-active.webform-small-button.webform-small-button-dropdown .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A'); }

.webform-button-disable.webform-small-button.webform-small-button-dropdown .webform-small-button-icon {
	opacity: .3;
	cursor: default;
}

.webform-small-button-transparent.webform-small-button-dropdown .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A'); }

.webform-small-button-accept.webform-small-button-dropdown .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A'); }

.webform-small-button-accept:active.webform-small-button-dropdown .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A'); }

.webform-button-active.webform-small-button-accept.webform-small-button-dropdown .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A'); }

.webform-small-button-decline.webform-small-button-dropdown .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A'); }

.webform-small-button-blue.webform-small-button-dropdown .webform-small-button-icon { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A'); }

.webform-button-disable.webform-small-button-blue .webform-small-button-text { color: #95e3fa !important; }

.webform-button-text,
.webform-small-button-text,
.webform-button-upload .webform-button-text {
	display: inline;
	padding: 0;
	height: auto;
	outline: none;
	border: none;
	background: none !important;
	color: #7a818a;
	vertical-align: top !important;
	text-decoration: none !important;
	text-transform: uppercase;
	text-shadow: none !important;
	font: normal 12px/47px "OpenSans-Bold", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: color 0.25s linear;
}

.webform-small-button-text {
	height: auto;
	line-height: 39px;
}

.webform-button-upload .webform-button-text {
	display: inline-block;
	height: auto;
	vertical-align: top;
	font: 12px/39px "OpenSans-Bold", Helvetica, Arial, sans-serif;
	cursor: pointer;
}

.webform-button-upload { }

.webform-button:hover,
.webform-button:hover .webform-button-text,
.webform-small-button:hover,
.webform-small-button:hover .webform-small-button-text,
.webform-button-upload:hover,
.webform-field-upload:hover .webform-button-upload {
	background: #cfd4d8;
	color: #535c69;
}

.webform-button:active,
.webform-button-active,
.webform-button-active:link,
.webform-button-active:visited,
.webform-button-active:active,
.webform-button-active:hover,
.webform-small-button:active,
.webform-small-button-active,
.webform-small-button-active:link,
.webform-small-button-active:visited,
.webform-small-button-active:active,
.webform-small-button-active:hover,
.webform-small-button-active:hover .webform-button-text,
.webform-small-button-active:hover .webform-small-button-text,
.webform-button-active:hover .webform-small-button-text,
.webform-button-active:hover .webform-button-text,
.webform-button-transparent.webform-button-active,
.webform-small-button-transparent.webform-button-active,
.webform-small-button-transparent.webform-small-button-active,
.webform-field-upload:active .webform-button-upload,
.webform-field-upload:active .webform-button-text {
	background: #868d95;
	box-shadow: none !important;
	color: #fff;
}

.webform-button:active .webform-button-text,
.webform-button-active .webform-button-text,
.webform-button-active .webform-small-button-text,
.webform-small-button:active .webform-small-button-text,
.webform-small-button-active .webform-small-button-text,
.webform-field-upload:active .webform-small-button-text { color: #fff; }

.webform-button-accept,
.webform-button-accept:link,
.webform-button-accept:visited,
.webform-button-accept .webform-button-text,
.webform-button-create,
.webform-button-create:link,
.webform-button-create:visited,
.webform-button-create .webform-button-text,
.webform-small-button-accept,
.webform-small-button-accept:link,
.webform-small-button-accept:visited,
.webform-small-button-accept .webform-small-button-text,
.webform-small-button-create,
.webform-small-button-create:link,
.webform-small-button-create:visited,
.webform-small-button-create .webform-small-button-text {
	background: #bbed21;
	box-shadow: none;
	color: #535c69;
}

.webform-button-accept:hover,
.webform-button-create:hover,
.webform-small-button-accept:hover,
.webform-small-button-create:hover {
	background: #d2f95f;
	color: #535c69;
}

.webform-button-accept:active,
.webform-button-create:active,
.webform-small-button-accept:active,
.webform-small-button-create:active,
.webform-button-accept.webform-button-active,
.webform-button-create.webform-button-active,
.webform-small-button-accept.webform-button-active,
.webform-small-button-accept.webform-small-button-active,
.webform-small-button-create.webform-button-active,
.webform-small-button-create.webform-small-button-active {
	background: #b2e233 !important;
	color: #535c69;
}

.webform-button-accept:active .webform-button-text,
.webform-button-create:active .webform-button-text,
.webform-button-accept.webform-button-active .webform-button-text,
.webform-button-create.webform-button-active .webform-button-text,
.webform-small-button-accept:active .webform-small-button-text,
.webform-small-button-create:active .webform-small-button-text,
.webform-small-button-accept.webform-button-active .webform-small-button-text,
.webform-small-button-accept.webform-small-button-active .webform-small-button-text { color: #535c69; }

.webform-button-accept.webform-button-text-white,
.webform-button-accept.webform-button-text-white:link,
.webform-button-accept.webform-button-text-white:visited,
.webform-small-button-accept.webform-button-text-white,
.webform-small-button-accept.webform-button-text-white:link,
.webform-small-button-accept.webform-button-text-white:visited { color: #fff; }

.webform-button-decline,
.webform-button-decline:link,
.webform-button-decline:visited,
.webform-button-decline .webform-button-text,
.webform-small-button-decline,
.webform-small-button-decline:link,
.webform-small-button-decline:visited,
.webform-small-button-decline .webform-small-button-text {
	background: #f1361b;
	box-shadow: none;
	color: #fff;
}

.webform-button-decline:hover,
.webform-button-decline:hover .webform-button-text,
.webform-small-button-decline:hover,
.webform-small-button-decline:hover .webform-small-button-text {
	background: #cc1a00;
	color: #fff;
}

.webform-button-decline:active,
.webform-button-decline.webform-button-active,
.webform-small-button-decline:active,
.webform-small-button-decline.webform-button-active,
.webform-small-button-decline.webform-small-button-active {
	background: #d24430 !important;
	color: #fff;
}

.webform-button-blue,
.webform-button-blue:link,
.webform-button-blue:visited,
.webform-button-blue .webform-button-text,
.webform-button-blue .webform-small-button-text,
.webform-small-button-blue,
.webform-small-button-blue .webform-small-button-text,
.webform-small-button-blue:link,
.webform-small-button-blue:visited,
.webform-small-button-blue .webform-small-button-text {
	background: #3bc8f5;
	box-shadow: none;
	color: #fff;
}

.webform-button-blue:hover,
.webform-button-blue:hover .webform-button-text,
.webform-small-button-blue:hover,
.webform-small-button-blue:hover .webform-small-button-text {
	background: #3fddff;
	color: #fff;
}

.webform-button-blue:active,
.webform-button-blue.webform-button-active,
.webform-small-button-blue:active,
.webform-small-button-blue.webform-button-active,
.webform-small-button-blue.webform-small-button-active {
	background: #13b1e3 !important;
	color: #fff;
}

.webform-button-transparent,
.webform-small-button-transparent {
	background: none;
	box-shadow: inset 0 0 0 1px #a1a6ac;
	color: #535c69;
}

.webform-button-disable,
.webform-button-disable .webform-button-text,
.webform-button-disable .webform-small-button-text,
.webform-small-button-disable,
.webform-small-button-disable .webform-small-button-text {
	color: #b6c1cf !important;
	cursor: default;
}

.webform-button-disable,
.webform-small-button-disable {
	background: #ecedef !important;
	box-shadow: 0 0 0 1px #c6cdd3 inset !important;
}

.webform-button-create.webform-button-disable,
.webform-button-create.webform-button-disable .webform-button-text,
.webform-button-accept.webform-button-disable,
.webform-button-accept.webform-button-disable .webform-button-text,
.webform-small-button-create.webform-button-disable,
.webform-small-button-accept.webform-button-disable,
.webform-small-button-create.webform-button-disable .webform-small-button-text,
.webform-small-button-accept.webform-button-disable .webform-small-button-text,
.webform-small-button-create.webform-small-button-disable,
.webform-small-button-accept.webform-small-button-disable,
.webform-small-button-create.webform-small-button-disable .webform-small-button-text,
.webform-small-button-accept.webform-small-button-disable .webform-small-button-text {
	background: #bbed21 !important;
	box-shadow: none !important;
	color: #a0c83c !important;
}

.webform-button-decline.webform-button-disable,
.webform-button-decline.webform-button-disable .webform-button-text,
.webform-small-button-decline.webform-button-disable,
.webform-small-button-decline.webform-small-button-disable,
.webform-small-button-decline.webform-small-button-disable .webform-small-button-text,
.webform-small-button-decline.webform-button-disable .webform-small-button-text {
	background: #f1361b !important;
	box-shadow: none !important;
	color: #f8a498 !important;
}

.webform-button-blue.webform-button-disable,
.webform-small-button-blue.webform-button-disable,
.webform-small-button-blue.webform-small-button-disable {
	background: #3bc8f5 !important;
	box-shadow: none !important;
	color: #95e3fa !important;
}

.webform-button-link {
	display: inline-block;
	margin: 8px 15px 0 0;
	border-bottom: 1px solid transparent;
	text-decoration: none !important;
	font: normal normal normal 14px/normal "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: border-bottom-color 0.25s linear;
}

.webform-button-link:hover { border-bottom: 1px solid; }

.webform-button-link-cancel { color: #d20000 !important; }

.webform-small-button-link {
	display: inline-block;
	margin: 0 15px 0 0;
	vertical-align: middle;
	text-decoration: underline !important;
}

.webform-small-button-separate-wrap {
	position: relative;
	display: inline-block;
	margin-right: 12px;
	padding-right: 0;
	height: 39px;
	border-radius: 0;
	box-shadow: none;
	vertical-align: middle;
	font-size: 0;
}

.webform-small-button-separate-wrap .webform-small-button {
	margin: 0;
	padding-right: 44px;
	border-radius: 0;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	vertical-align: top;
}

.webform-small-button-right-part {
	position: absolute;
	top: 1px;
	right: 1px;
	display: block;
	margin: 0;
	width: 30px;
	height: 37px;
	border-radius: 0 3px 3px 0;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%3E%3Cpath%20fill%3D%22%23535c68%22%20d%3D%22M4%2C4L0%2C0.015H8Z%22/%3E%3C/svg%3E%0A) no-repeat center center;
	vertical-align: top;
	cursor: pointer;
	transition: background-color 0.25s linear;
}

.webform-small-button-right-part:before,
.webform-small-button-accept + .webform-small-button-right-part:before {
	display: block;
	margin-top: 6px;
	width: 1px;
	height: 26px;
	background: rgba(83, 92, 104, .25);
	content: '';
}

.webform-small-button-accept + .webform-small-button-right-part:before,
.webform-small-button-decline + .webform-small-button-right-part:before { margin-top: 7px; }

.webform-small-button-right-part:after { display: none; }

.webform-small-button-right-part:hover { background-color: #cfd4d8; }

.webform-small-button-separate-wrap .webform-small-button-accept,
.webform-small-button-separate-wrap .webform-small-button-blue,
.webform-small-button-separate-wrap .webform-small-button-decline { box-shadow: none; }

.webform-small-button-separate-wrap .webform-small-button { border-radius: 2px; }

.webform-small-button-blue + .webform-small-button-right-part,
.webform-small-button-decline + .webform-small-button-right-part {
	top: 0;
	right: 0;
	width: 31px;
	height: 39px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4%2C4L0%2C0.015H8Z%22/%3E%3C/svg%3E%0A) no-repeat center center #ecedef;
}

.webform-small-button-accept + .webform-small-button-right-part { background-color: #bbed21; }

.webform-small-button-accept + .webform-small-button-right-part:hover {
	background-color: #d2f95f;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%3E%3Cpath%20fill%3D%22%23535c68%22%20d%3D%22M4%2C4L0%2C0.015H8Z%22/%3E%3C/svg%3E%0A');
}

.webform-small-button-decline + .webform-small-button-right-part,
.webform-small-button-decline + .webform-small-button-right-part:hover,
.webform-small-button-blue + .webform-small-button-right-part,
.webform-small-button-blue + .webform-small-button-right-part:hover { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4%2C4L0%2C0.015H8Z%22/%3E%3C/svg%3E%0A'); }

.webform-small-button-decline + .webform-small-button-right-part:before,
.webform-small-button-blue + .webform-small-button-right-part:before {
	background-color: rgba(255, 255, 255, .5);
}

.webform-small-button-decline + .webform-small-button-right-part { background-color: #f1361b; }

.webform-small-button-decline + .webform-small-button-right-part:hover { background-color: #cc1a00; }

.webform-small-button-blue + .webform-small-button-right-part { background-color: #3bc8f5; }

.webform-small-button-blue + .webform-small-button-right-part:hover { background-color: #3fddff; }

.webform-small-button-blue + .webform-small-button-right-part:active { background-color: #13b1e3; }

.bx24-top-toolbar-add .webform-small-button-blue + .webform-small-button-right-part,
.bx24-top-toolbar-add .webform-small-button-blue + .webform-small-button-right-part:hover { background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4%2C4L0%2C0.015H8Z%22/%3E%3C/svg%3E%0A'); }

.bx24-top-toolbar-add .webform-small-button-right-part:before {
	margin-top: 8px;
	height: 18px;
}

.webform-small-button-add .webform-small-button-icon,
.bx24-top-toolbar-add .webform-small-button-icon {
	position: relative;
	margin: 11px 9px 0 -6px;
	width: 11px;
	height: 11px;
}

.webform-small-button-add .webform-small-button-icon {
	margin: 14px 9px 0 -2px;
	width: 11px;
	height: 11px;
}

.webform-small-button-add .webform-small-button-icon:before,
.bx24-top-toolbar-add .webform-small-button-icon:before {
	position: absolute;
	top: 4px;
	left: 0;
	display: block;
	width: 11px;
	height: 3px;
	background: #fff;
	content: "";
}

.webform-small-button-add .webform-small-button-icon:after,
.bx24-top-toolbar-add .webform-small-button-icon:after {
	position: absolute;
	top: 0;
	left: 4px;
	display: block;
	width: 3px;
	height: 11px;
	background: #fff;
	content: "";
}

.webform-small-button-forward .webform-small-button-icon,
.webform-small-button-back .webform-small-button-icon {
	display: inline-block;
	margin: -3px 5px 0 -5px;
	width: 7px;
	height: 11px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2029.719%2046.688%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M24.436%2C1.665L30.8%2C8.029%2C7.465%2C31.364%2C1.1%2C25ZM7.465%2C18.636L30.8%2C41.971l-6.364%2C6.364L1.1%2C25Z%22%20transform%3D%22translate%28-1.094%20-1.656%29%22/%3E%3C/svg%3E) center center no-repeat;
	vertical-align: middle;
}

.webform-small-button-forward .webform-small-button-icon {
	margin: -3px -5px 0 5px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2029.719%2046.688%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M8.564%2C48.335L2.2%2C41.971%2C25.535%2C18.636%2C31.9%2C25Zm16.971-16.97L2.2%2C8.029%2C8.564%2C1.665%2C31.9%2C25Z%22%20transform%3D%22translate%28-2.188%20-1.656%29%22/%3E%3C/svg%3E%0A') center center no-repeat;
}

/*region Loading*/
.webform-button-wait,
.webform-small-button-wait {
	position: relative;
	color: transparent !important;
}

.webform-button-wait .webform-button-text,
.webform-small-button-wait .webform-small-button-text { opacity: 0; }

.webform-button-wait:before,
.webform-small-button-wait:before {
	position: absolute;
	top: 13px;
	left: 50%;
	display: block;
	margin: 0 0 0 -11px;
	padding-right: 6px;
	width: 15px;
	height: 21px;
	border-radius: 50%;
	background: none !important;
	box-shadow: inset 0 0 0 1px #fff;
	color: #fff;
	content: '_';
	text-align: right;
	font-weight: normal;
	font-size: 10px;
	font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 10px;
}

.webform-small-button-wait:before { top: 10px; }

.webform-button-wait:after,
.webform-small-button-wait:after {
	position: absolute;
	top: 17px;
	left: 50%;
	display: block;
	margin: 0 0 0 -1px;
	padding: 0;
	width: 1px;
	height: 7px;
	background: #fff !important;
	content: '';
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-animation: webform-button-clock 1s infinite linear;
	animation: webform-button-clock 1s infinite linear;
}

.webform-small-button-wait:after { top: 14px; }

.webform-button-create.webform-button-wait:before,
.webform-button-accept.webform-button-wait:before,
.webform-small-button-accept.webform-small-button-wait:before,
.webform-small-button-transparent.webform-small-button-wait:before,
.webform-button-transparent.webform-button-wait:before {
	box-shadow: inset 0 0 0 1px #535c69;
	color: #535c69;
}

.webform-button-create.webform-button-wait:after,
.webform-button-accept.webform-button-wait:after,
.webform-small-button-accept.webform-small-button-wait:after,
.webform-small-button-transparent.webform-small-button-wait:after,
.webform-button-transparent.webform-button-wait:after { background: #535c69 !important; }

@-webkit-keyframes webform-button-clock {
	0% {
		-webkit-transform: rotate(0deg);
		margin-left: -1px;
	}
	50% {
		-webkit-transform: rotate(180deg);
		margin-left: 0;
	}
	100% {
		-webkit-transform: rotate(360deg);
		margin-left: -1px;
	}
}

@keyframes webform-button-clock {
	0% {
		transform: rotate(0deg);
		margin-left: -1px;
	}
	50% {
		transform: rotate(180deg);
		margin: 0;
	}
	100% {
		transform: rotate(360deg);
		margin-left: -1px;
	}
}

/*endregion*/

/*region Triangle Icon*/
.webform-button-icon-triangle {
	display: inline-block;
	margin: -2px 0 0 3px;
	width: 0;
	height: 0;
	vertical-align: middle;
}

.webform-button-icon-triangle-down .webform-button-icon-triangle {
	border-width: 5px 4px 0;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
}

.webform-button-icon-triangle-up .webform-button-icon-triangle {
	border-width: 0 4px 5px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}

/*endregion*/

/*region Deprecated selectors */
.webform-button-left,
.webform-button-right,
.webform-small-button-left,
.webform-button-upload .webform-button-left,
.webform-small-button-right,
.webform-button-upload .webform-button-right { display: none; }

/*endregion*/

.webform-button-rounded { border-radius: 25px; }

/*===========================================Users popups======================================================================*/
.finder-box {
	overflow: hidden;
	padding: 2px 6px 6px;
	width: 395px;
	background: #fff;
	font: normal normal normal 12px/normal Arial, Helvetica, sans-serif;
}

.finder-box-multiple { width: 595px; }

.finder-box-layout { width: 100%; }

.finder-box-left-column {
	padding: 0;
	vertical-align: top;
}

.finder-box-multiple .finder-box-left-column { padding: 0 15px 0 0; }

.finder-box-right-column {
	width: 200px;
	border: 1px solid #e2e2e2;
	background: #f5f5f5;
	vertical-align: top;
}

.finder-box-search { margin: 0 0 7px; }

.finder-box-search-textbox {
	width: 100%;
	border: 1px solid;
	border-color: #b0b0b0 #e2e2e2 #e2e2e2 #b0b0b0;
	font-size: 15px;
}

.finder-box-tabs {
	margin: 0 0 7px;
	white-space: nowrap
}

.finder-box-tab,
.finder-box-tab-left,
.finder-box-tab-right,
.finder-box-tab-text {
	display: inline-block;
	height: 21px;
	vertical-align: top;
	cursor: pointer;
}

.finder-box-tab-left, .finder-box-tab-right { width: 4px; }

.finder-box-tab { margin: 0 3px 0 0; }

.finder-box-tab-left { }

.finder-box-tab-right { }

.finder-box-tab-text {
	padding: 0 5px;
	color: #333;
	font-weight: bold;
	line-height: 21px;
}

.finder-box-tab:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -621px; }

.finder-box-tab:hover .finder-box-tab-left { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -599px; }

.finder-box-tab:hover .finder-box-tab-right { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -4px -599px; }

.finder-box .finder-box-tab-selected { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -643px; }

.finder-box .finder-box-tab-selected .finder-box-tab-left { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -8px -599px; }

.finder-box .finder-box-tab-selected .finder-box-tab-right { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -12px -599px; }

.finder-box-tabs-content {
	position: relative;
	overflow: auto;
	margin: 7px 0 0;
	min-height: 150px;
	max-height: 200px;
}

.finder-box-tab-content { display: none; }

.finder-box-tab-content-selected { display: block; }

.finder-box .finder-box-item {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0 5px 2px 0;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.finder-box-item-text { padding: 3px 5px; }

.finder-box-item-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 17px;
	height: 21px;
	background: #fff;
}

.finder-box-item-left { margin: 0 3px 0 0; }

.finder-box-item:hover { background: #f0f0f0; }

.finder-box-item:hover .finder-box-item-icon { background: #f0f0f0 url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -19px -469px; }

.finder-box-item-selected:hover .finder-box-item-icon { background: #f0f0f0 url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -20px -577px; }

.finder-box-item-selected .finder-box-item-text { color: #666; }

.finder-box-tab-columns {
	width: 100%;
	table-layout: fixed;
}

.finder-box-tab-columns td {
	padding: 0;
	width: 50%;
	vertical-align: top
}

.finder-box-selected-items {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 235px;
}

.finder-box-selected-title {
	margin: 0 8px;
	height: 32px;
	color: #6e6e6e;
	line-height: 32px;
}

.finder-box-selected-item {
	overflow: hidden;
	margin: 0 5px 10px;
}

.finder-box-selected-item-icon {
	float: left;
	width: 13px;
	height: 15px;
	background: url(/bitrix/js/main/core/images/controls-sprite.png?2) no-repeat 0 -282px;
	cursor: pointer;
}

.finder-box-selected-item-icon:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png?2) no-repeat -17px -282px; }

.finder-box-selected-item .finder-box-selected-item-text {
	display: block;
	overflow: hidden;
	padding: 0 0 0 4px;
	color: #000;
	text-decoration: none;
}

.finder-box-selected-item .finder-box-selected-item-text:hover { text-decoration: underline; }

.finder-box-tab-note {
	display: inline-block;
	margin: 0 0 0 5px;
	font-style: italic;
}

.company-structure { padding: 0 0 0 3px; }

.company-department { padding: 10px 0 0; }

.company-department-first { padding: 3px 0 0; }

.company-department-inner {
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.company-department-arrow {
	float: left;
	width: 16px;
	height: 17px;
	background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -16px -175px;
}

.company-department-opened .company-department-arrow { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -16px -191px; }

.company-department-text {
	display: inline-block;
	overflow: hidden;
	padding: 1px 5px;
	color: #000;
	font: normal normal normal 12px/normal Arial, Helvetica, sans-serif;
}

.company-department-inner:hover .company-department-text,
.company-department-inner:hover .company-department-arrow { background-color: #f0f0f0; }

.company-department-children {
	display: none;
	margin-left: 3px;
	padding: 0 0 0 13px;
}

.company-department-children-opened {
	display: block;
	border-left: 1px solid #f0f0f0;
}

.company-department-employees {
	margin: 0 0 0 -10px;
	padding: 5px 0 0;
}

.company-department-employee {
	position: relative;
	margin: 5px 10px 0 0;
	cursor: pointer;
}

.company-department-employee-avatar {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 24px;
	height: 24px;
	background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -664px;
}

.company-department-employee-info {
	margin: 0 0 0 32px;
	padding: 2px 0;
}

.company-department-employee-name { color: #000; }

.company-department-employee-position {
	color: #b2b2b2;
	font-size: 11px;
	line-height: 11px;
}

.company-department-employee-icon {
	position: absolute;
	top: 10px;
	right: 5px;
	width: 11px;
	height: 11px;
}

.company-department-employee:hover { background-color: #f0f0f0; }

.company-department-employee:hover .company-department-employee-icon { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -19px -474px; }

.company-department-employee-selected:hover .company-department-employee-icon { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -19px -584px; }

.company-department-employees-loading { font-style: italic; }

/*intranet structure*/
.structure-department-head {
	position: absolute;
	visibility: hidden;
	margin-right: 15px;
	width: 15px;
	height: 16px;
	background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -281px;
	cursor: pointer;
}

.structure-department-head:hover { background-position: -17px -281px !important; }

/******************************* titlebar buttons *****************************************/

.intranet-title-buttons {
	position: absolute;
	top: 5px;
	right: 0;
	white-space: nowrap;
}

.intranet-title-button {
	display: inline-block;
	margin-left: 5px;
	height: 19px;
	outline: medium none;
	vertical-align: top;
	text-decoration: none !important;
	cursor: pointer;
}

.intranet-title-link {
	display: inline-block;
	margin: 0 0 0 5px;
	height: 19px;
	color: #0069c4;
	vertical-align: top;
	text-decoration: underline;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 19px;
	cursor: pointer;
}

.intranet-title-button-create-icon {
	display: inline-block;
	width: 11px;
	height: 19px;
	background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat scroll -19px -470px transparent;
	vertical-align: top;
}

.invite-dialog-sonetgroup-wrap {
	margin-bottom: 10px;
	max-width: 500px;
	background: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
}

.invite-dialog-inv-block {
	padding: 15px 0;
	width: 520px;
	color: #000;
	font-weight: bold;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
}

.invite-dialog-inv-link {
	border-bottom: 1px dashed #2067b0;
	color: #2067b0;
	cursor: pointer;
}

a.invite-dialog-inv-link,
a.invite-dialog-inv-link:active,
a.invite-dialog-inv-link:visited,
a.invite-dialog-inv-link:hover { text-decoration: none; }

.invite-dialog-inv-form {
	padding: 21px 16px 15px 15px;
	min-width: 490px;
	background-color: #f9fafa;
}

.invite-dialog-inv-form .errortext {
	padding-bottom: 10px;
	color: #f00;
}

.invite-dialog-inv-form-table {
	width: 100%;
	border: none;
	border-spacing: 0;
}

.invite-dialog-inv-form-l {
	padding: 9px 10px 18px 3px;
	width: 85px;
	color: #555;
	vertical-align: top;
	text-shadow: 0 1px #fcfdfd;
	font-size: 14px;
}

.invite-dialog-inv-form-r {
	padding: 0 0 18px;
}

.invite-dialog-inv-form-footer .invite-dialog-inv-form-l,
.invite-dialog-inv-form-footer .invite-dialog-inv-form-r {
	padding-bottom: 0;
	border-top: 1px solid #e5e8e9;
}

.invite-dialog-inv-form-footer .invite-dialog-inv-form-l { padding-top: 29px; }

.invite-dialog-inv-form-footer .invite-dialog-inv-form-r { padding-top: 20px; }

.invite-dialog-inv-form-inp {
	padding: 0 0 0 2%;
	width: 97%;
	height: 30px;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	background-color: #fff;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.invite-dialog-inv-form-textarea {
	overflow: auto;
	padding: 10px;
	width: 93%;
	height: 75px;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	background-color: #fff;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	resize: none;
}

.invite-dialog-inv-form-textarea-active { color: #000 !important; }

.invite-dialog-inv-form-select {
	padding: 5px 3px 5px 0;
	width: 100%;
	height: 32px;
	outline: none;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	background-color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.invite-dialog-inv-form-hidden-text {
	padding-top: 7px;
	height: 32px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.invite-dialog-inv-form-checkbox-wrap { padding-top: 12px; }

.invite-dialog-inv-form-checkbox {
	margin-top: 2px;
	vertical-align: top;
}

.invite-dialog-inv-form-checkbox-label {
	display: inline-block;
	margin-left: 5px;
	color: #555;
	vertical-align: middle;
	font-size: 13px;
}

.invite-dialog-inv-text-bold {
	padding: 10px 0;
	color: #555;
	font-weight: normal;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.invite-dialog-inv-success-block { padding: 10px; }

.invite-dialog-box-info-set {
	margin-top: 4px;
	border: 1px solid #d9e5e7;
	background-color: #fafcfc;
	color: #555;
}

.invite-dialog-box-info-set.invite-dialog-box-info-set-inactive {
	border: 1px solid #f3f7f8;
	background-color: #f3f7f8;
	box-shadow: none;
}

.invite-dialog-box-info-block {
	overflow: hidden;
	padding: 7px;
	white-space: nowrap;
}

.invite-dialog-box-info-set-inactive .invite-dialog-box-info-block-body { display: none; }

.invite-dialog-box-info-btn {
	display: inline-block;
	padding: 0 5px;
	height: 23px;
	border: 1px solid;
	border-color: #fafcfc;
	border-radius: 2px;
	color: #2067b0;
	vertical-align: middle;
	text-shadow: 0 1px #fff;
	font-weight: bold;
	font-size: 13px;
	line-height: 23px;
	cursor: pointer;
}

.invite-dialog-box-info-set.invite-dialog-box-info-set-inactive .invite-dialog-box-info-btn {
	border: 1px solid #f3f7f8;
}

.invite-dialog-box-info-btn-active {
	border-color: #adb2ba #bac0c7 #dae0e3;
	background-image: -webkit-linear-gradient(top, #dae3e6, #e4ebed);
	background-image: -moz-linear-gradient(top, #dae3e6, #e4ebed);
	background-image: -ms-linear-gradient(top, #dae3e6, #e4ebed);
	background-image: -o-linear-gradient(top, #dae3e6, #e4ebed);
	background-image: linear-gradient(to bottom, #dae3e6, #e4ebed);
}

.invite-dialog-box-info-btn-text { border-bottom: 1px dashed #2067b0; }

.invite-dialog-box-info-btn-active .invite-dialog-box-info-btn-text { border-bottom: none; }

.invite-dialog-box-info-text {
	display: inline-block;
	margin: 0 8px;
	vertical-align: middle;
	font-size: 14px;
}

.invite-dialog-box-info-left,
.invite-dialog-box-info-right {
	display: inline-block;
	margin-right: 3%;
	width: 47%;
	vertical-align: top;
}

.invite-dialog-box-info-right { margin: 0 0 0 3%; }

.invite-dialog-box-info-label {
	display: block;
	padding-bottom: 5px;
	color: #555;
	font-size: 14px;
}

.invite-dialog-box-info-close-open {
	float: right;
	padding-right: 11px;
	background: url(../../images/intranet/intranet-mail-popup-arrows.png) no-repeat right 100px;
	color: #8a8b8b;
	font-size: 12px;
	cursor: pointer;
}

.invite-dialog-box-info-open { background-position: right 7px; }

.invite-dialog-box-info-close { background-position: right -10px; }

.invite-dialog-form-table {
	margin-bottom: 6px;
	width: 100%;
}

.invite-dialog-form-table td {
	padding: 0;
	vertical-align: top;
	text-align: right;
}

.invite-dialog-form-table td:first-child { text-align: left; }

.invite-dialog-update-link {
	border-bottom: 1px dashed;
	color: rgba(128, 128, 128, 0.48);
	text-decoration: none;
}

.invite-dialog-copy-link {
	margin-top: 7px;
	color: rgba(128, 128, 128, 0.87);
	font-size: 13px;
	cursor: pointer;
	display: inline-block;
	margin-left: 6px;
}

.invite-dialog-settings {
	border-bottom: 1px dashed;
	text-decoration: none;
}

.invite-dialog-settings-link {
	margin-top: 10px;
	color: rgba(128, 128, 128, 0.87);
	font-size: 11px;
}

.bx-hint-help-icon {
	top: 12px;
	right: 0;
	display: inline-block;
	margin-left: 7px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #bfc5ca none repeat scroll 0 0;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
	line-height: 16px;
	cursor: help;
}

.webform-rounded-cogwheel.webform-small-button {
	position: relative;
	margin: 0;
	padding: 0 10px 0 7px;
	width: 20px;
	border-radius: 30px;
	box-shadow: none;
	text-align: center;
	font-size: 0;
}

.webform-rounded-cogwheel.webform-small-button:hover {
	background: transparent;
	box-shadow: none;
}

.webform-small-button.webform-cogwheel {
	box-sizing: border-box;
	padding: 0 11px !important;
	height: 39px;
	box-shadow: inset 0 0 0 1px #a1a6ac;
	line-height: 0;
	transition: .3s;
}

.webform-small-button.webform-cogwheel.webform-button-disable { box-shadow: none !important; }

.webform-small-button.webform-cogwheel.webform-button-disable .webform-button-icon { opacity: .45 !important; }

.webform-rounded-cogwheel .webform-button-icon,
.webform-cogwheel .webform-button-icon {
	display: inline-block;
	margin: 11px 0 0 0;
	width: 17px;
	height: 17px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C68%22%20d%3D%22M11.654%2C23.56%20L11.654%2C22.093%20L10.234%2C22.093%20C10.124%2C21.403%209.86%2C20.767%209.471%2C20.221%20L10.467%2C19.226%20L9.43%2C18.189%20L8.434%2C19.184%20C7.892%2C18.79%207.26%2C18.522%206.571%2C18.404%20L6.571%2C17%20L5.106%2C17%20L5.106%2C18.4%20C4.41%2C18.513%203.772%2C18.778%203.224%2C19.17%20L2.234%2C18.18%20L1.196%2C19.218%20L2.186%2C20.206%20C1.789%2C20.756%201.523%2C21.396%201.409%2C22.093%20L0%2C22.093%20L0%2C23.56%20L1.41%2C23.56%20C1.527%2C24.25%201.795%2C24.885%202.188%2C25.43%20L1.188%2C26.428%20L2.225%2C27.465%20L3.225%2C26.465%20C3.775%2C26.855%204.413%2C27.117%205.105%2C27.23%20L5.105%2C28.655%20L6.57%2C28.655%20L6.57%2C27.225%20C7.258%2C27.111%207.888%2C26.843%208.43%2C26.453%20L9.435%2C27.459%20L10.475%2C26.421%20L9.465%2C25.413%20C9.853%2C24.873%2010.118%2C24.243%2010.233%2C23.559%20L11.653%2C23.559%20L11.654%2C23.56%20Z%20M5.82%2C25.6%20C4.284%2C25.6%203.038%2C24.353%203.038%2C22.816%20C3.038%2C21.276%204.284%2C20.031%205.821%2C20.031%20C7.361%2C20.031%208.606%2C21.278%208.606%2C22.817%20C8.606%2C24.354%207.36%2C25.601%205.822%2C25.601%20L5.82%2C25.6%20Z%22%20transform%3D%22translate%280%20-17%29%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	background-size: cover;
	vertical-align: top;
}

.webform-small-button.webform-cogwheel:hover { background: #cfd4d8; }

.webform-small-button.webform-cogwheel:active { background: #868d95; }

.webform-small-button.webform-cogwheel:active .webform-button-icon {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M11.654%2C23.56%20L11.654%2C22.093%20L10.234%2C22.093%20C10.124%2C21.403%209.86%2C20.767%209.471%2C20.221%20L10.467%2C19.226%20L9.43%2C18.189%20L8.434%2C19.184%20C7.892%2C18.79%207.26%2C18.522%206.571%2C18.404%20L6.571%2C17%20L5.106%2C17%20L5.106%2C18.4%20C4.41%2C18.513%203.772%2C18.778%203.224%2C19.17%20L2.234%2C18.18%20L1.196%2C19.218%20L2.186%2C20.206%20C1.789%2C20.756%201.523%2C21.396%201.409%2C22.093%20L0%2C22.093%20L0%2C23.56%20L1.41%2C23.56%20C1.527%2C24.25%201.795%2C24.885%202.188%2C25.43%20L1.188%2C26.428%20L2.225%2C27.465%20L3.225%2C26.465%20C3.775%2C26.855%204.413%2C27.117%205.105%2C27.23%20L5.105%2C28.655%20L6.57%2C28.655%20L6.57%2C27.225%20C7.258%2C27.111%207.888%2C26.843%208.43%2C26.453%20L9.435%2C27.459%20L10.475%2C26.421%20L9.465%2C25.413%20C9.853%2C24.873%2010.118%2C24.243%2010.233%2C23.559%20L11.653%2C23.559%20L11.654%2C23.56%20Z%20M5.82%2C25.6%20C4.284%2C25.6%203.038%2C24.353%203.038%2C22.816%20C3.038%2C21.276%204.284%2C20.031%205.821%2C20.031%20C7.361%2C20.031%208.606%2C21.278%208.606%2C22.817%20C8.606%2C24.354%207.36%2C25.601%205.822%2C25.601%20L5.82%2C25.6%20Z%22%20transform%3D%22translate%280%20-17%29%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	background-size: cover;
}

.sonet-filter-menu-settings-icon.webform-rounded-cogwheel {
	border: none !important;
	background: none !important;
	box-shadow: none !important;
	opacity: .45;
	transition: .3s;
}

.sonet-filter-menu-settings-icon.webform-rounded-cogwheel:hover { opacity: 1; }

.tasks-add-button-wrapper.webform-small-button {
	padding-left: 0;
	background: transparent !important;
}

.invite-dialog-phone-item {
	position: relative;
	margin-bottom: 7px;
	display: flex;
	align-items: center;
}

.invite-dialog-phone-flag-block {
	position: absolute;
	top: 9px;
	left: 10px;
	border-right: 1px solid #d1d4d8;
	padding: 0 22px 0 0;
	box-sizing: border-box;
	cursor: pointer;
	height: 19px;
	display: flex;
	align-items: center;
	background: transparent url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%226%22%20height%3D%223%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M3%203l3-3H0z%22%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E) no-repeat left 25px top 8px;
}

.invite-dialog-phone-input {
	background: #fff;
	border: 1px solid #c4c7cc;
	border-radius: 1px;
	font-size: 15px;
	line-height: 19px;
	padding: 8px 10px 8px 57px;
}

.invite-dialog-phone-label, .invite-dialog-inv-label {
	color: #80868e;
	font-size: 14px;
	margin-bottom: 8px;
	display: inline-block;
}

.invite-dialog-inv-label {
	margin-bottom: 0;
}

.invite-dialog-phone-list-add {
	color: #80868e;
	border-bottom: 1px dashed rgba(82, 92, 105, .3);
	transition: border-color .2s linear;
}

.invite-dialog-phone-list-add:hover {
	border-color: rgba(82, 92, 105, .8);
	color: #80868e;
}

.invite-dialog-phone-delete {
	cursor: pointer;
	width: 25px;
	height: 25px;
	display: inline-block;
	opacity: .5;
	transition: opacity .2s linear;
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNy43ODcgMUw1IDMuNzg3IDIuMjEzIDEgMSAyLjIxMyAzLjc4NyA1IDEgNy43ODcgMi4yMTMgOSA1IDYuMjEzIDcuNzg3IDkgOSA3Ljc4NyA2LjIxMyA1IDkgMi4yMTMiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat center;
}

.invite-dialog-phone-delete:hover {
	opacity: 1;
}

.invite-dialog-inv-form-wrap {
	background: #f9fafa;
	padding-bottom: 13px;
}

.invite-dialog-inv-text {
	margin-left: 13px;
}

.invite-dialog-inv-text-field {
	background: #f4f4f4;
	border: 1px solid #e3e6e9;
	border-radius: 2px;
	color: rgba(83, 92, 105, .5);
	padding: 10px 15px;
	margin-right: 13px;
	min-height: 100px;
	box-sizing: border-box;
	width: 615px;
}

.invite-dialog-inv-form-wrap .invite-dialog-inv-form {
	padding-bottom: 0;
}

.invite-dialog-wrap {
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	padding: 10px;
	background: #fff;
}

.invite-dialog-inner {
	background: #eef2f4;
	border-radius: 2px;
	padding: 10px 16px 20px;
}

.popup-window-tabs-content.popup-window-tabs-content-invite {
	background: #fff;
	padding: 0;
	border: none;
}

.popup-window-tabs-content-invite .popup-window-tab-content {
	background: #fff;
	padding: 0;
}

.invite-dialog-inv-link-block {
	border-top: 1px solid rgba(82, 92, 105, .1);
	padding-top: 7px;
	margin-top: 17px;
}