.userfieldemployee-control
{
	display: flex;
	padding: 3px 32px 0 3px;
	height: auto;
	min-height: 38px;
	color: #535c69;
	flex-wrap: wrap;
	box-sizing: border-box;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.employee.field-item .uf-employee-wrap
{
	position: relative;
	display: block;
	margin-bottom: 5px;
	padding: 13px 10px;
	border: 1px solid #edeef0;
	border-radius: 1px;
	background-color: #fdfdfd;
	transition: 160ms all ease;
}

.employee.field-item .uf-employee-image
{
	display: block;
	overflow: hidden;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #535c6a url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2247.188%22%20height%3D%2254.063%22%20viewBox%3D%220%200%2047.188%2054.063%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20fill%3A%20%23fff%3B%20fill-rule%3A%20evenodd%3B%20%7D%3C/style%3E%3C/defs%3E%3Cpath%20id%3D%22Shape_2_copy_4%22%20data-name%3D%22Shape%202%20copy%204%22%20class%3D%22cls-1%22%20d%3D%22M47.18%2054.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585a17.394%2017.394%200%200%201-4.887-2.223c-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04a27.05%2027.05%200%200%200%200-7.918c-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217a7.1%207.1%200%200%201-.14%201.732c-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16S-.012%2054.06-.012%2054.06h47.19z%22/%3E%3C/svg%3E) no-repeat center;
	background-size: 15px;
}

.employee.field-item .uf-employee-data
{
	position: absolute;
	top: 50%;
	right: 10px;
	left: 50px;
	transform: translateY(-50%);
}

.employee.field-item .uf-employee-name,
.employee.field-item .uf-employee-position
{
	display: block;
	overflow: hidden;
	width: 100%;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.employee.field-item .uf-employee-position
{
	color: #80868e;
	font: 12px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
