.btn-add-element {background-image:url(images/add_element.gif);}
.btn-edit-sections {background-image:url(images/edit_sections.gif);}
.btn-edit-list {background-image:url(images/edit_list.gif);}
.btn-list-bizproc {background-image:url(images/list_bizproc.gif);}
