/*new clasess for icons*/

.connector-icon {
	display: inline-block;
	width: 44px;
	height: 44px;
	background: #f2f2f2;
	border-radius: 50%;
	background-color: #ebeff2;
	/*background-size: 50% 50%;*/
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}

.connector-icon-square {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.connector-icon-22 {
	width: 22px;
	height: 22px;
}

.connector-icon-30 {
	width: 30px;
	height: 30px;
}

.connector-icon-40 {
	width: 40px;
	height: 40px;
}

.connector-icon-fbinstagram {
	background-size: 57%;
	background-color: #d12988;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20135.25%20135.25%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M97.93%2C0H37.32A37.37%2C37.37%2C0%2C0%2C0%2C0%2C37.32v60.6a37.36%2C37.36%2C0%2C0%2C0%2C37.32%2C37.32h60.6a37.37%2C37.37%2C0%2C0%2C0%2C37.32-37.32V37.32A37.37%2C37.37%2C0%2C0%2C0%2C97.93%2C0Zm25.32%2C97.93a25.35%2C25.35%2C0%2C0%2C1-25.32%2C25.32H37.32A25.35%2C25.35%2C0%2C0%2C1%2C12%2C97.93V37.32A25.35%2C25.35%2C0%2C0%2C1%2C37.32%2C12h60.6a25.35%2C25.35%2C0%2C0%2C1%2C25.32%2C25.32Zm0%2C0%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M67.62%2C32.78a34.85%2C34.85%2C0%2C1%2C0%2C34.85%2C34.85A34.89%2C34.89%2C0%2C0%2C0%2C67.62%2C32.78Zm0%2C57.7A22.85%2C22.85%2C0%2C1%2C1%2C90.48%2C67.63%2C22.88%2C22.88%2C0%2C0%2C1%2C67.62%2C90.47Zm0%2C0%22/%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M103.94%2C22.6a8.8%2C8.8%2C0%2C1%2C0%2C6.22%2C2.57%2C8.83%2C8.83%2C0%2C0%2C0-6.22-2.57Zm0%2C0%22/%3E%3C/svg%3E');
}
.connector-icon-network {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%233AC8F5%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M22.09%2017.926h-1.386v3.716h3.551v-1.386H22.09v-2.33zm-.616%207.356a4.718%204.718%200%201%201%200-9.436%204.718%204.718%200%200%201%200%209.436zm9.195-6A5.19%205.19%200%200%200%2023.721%2014a5.19%205.19%200%200%200-9.872%201.69A6.234%206.234%200%200%200%2015.233%2028h14.761c2.444%200%204.425-1.724%204.425-4.425%200-3.497-3.406-4.379-3.75-4.293z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-vkgroup {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%233871BA%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M30.889%2026.837c-.026-.055-.05-.1-.072-.137-.364-.657-1.06-1.463-2.088-2.42l-.022-.022-.01-.01-.011-.012h-.011c-.467-.445-.762-.744-.886-.898-.226-.292-.277-.587-.153-.887.087-.226.415-.704.984-1.434.299-.387.535-.697.71-.93%201.261-1.68%201.808-2.753%201.64-3.22l-.065-.11c-.043-.065-.156-.126-.338-.18-.183-.055-.416-.064-.7-.028l-3.15.022a.408.408%200%200%200-.218.006l-.142.033-.055.027-.044.033a.486.486%200%200%200-.12.115.752.752%200%200%200-.109.191%2017.894%2017.894%200%200%201-1.17%202.464c-.27.453-.517.845-.744%201.178a5.663%205.663%200%200%201-.568.733%203.968%203.968%200%200%201-.416.378c-.124.095-.218.135-.284.12a8.002%208.002%200%200%201-.186-.043.728.728%200%200%201-.246-.269%201.203%201.203%200%200%201-.125-.427%204.716%204.716%200%200%201-.039-.443%209.28%209.28%200%200%201%20.006-.526c.007-.226.01-.38.01-.46%200-.277.006-.579.017-.903l.027-.772c.008-.19.011-.391.011-.603%200-.211-.013-.377-.038-.498a1.706%201.706%200%200%200-.114-.35.59.59%200%200%200-.225-.263%201.262%201.262%200%200%200-.366-.148c-.386-.088-.878-.135-1.476-.142-1.356-.015-2.227.073-2.613.262-.153.08-.292.19-.416.329-.13.16-.15.248-.054.263.437.065.747.222.929.47l.066.132c.05.095.102.263.153.504.05.24.084.507.098.799.036.533.036.99%200%201.369-.036.38-.07.675-.104.887a1.778%201.778%200%200%201-.147.515c-.066.13-.11.211-.132.24a.188.188%200%200%201-.054.055.818.818%200%200%201-.296.055c-.102%200-.226-.051-.371-.153a2.625%202.625%200%200%201-.454-.422%205.636%205.636%200%200%201-.53-.75c-.197-.321-.401-.7-.613-1.139l-.175-.318c-.109-.204-.258-.502-.448-.892s-.357-.769-.503-1.134a.722.722%200%200%200-.262-.35l-.055-.033a.748.748%200%200%200-.175-.093%201.159%201.159%200%200%200-.251-.071l-2.996.022c-.306%200-.514.07-.623.208l-.044.066a.355.355%200%200%200-.033.175c0%20.08.022.179.066.295.437%201.03.913%202.023%201.426%202.98.514.955.96%201.726%201.34%202.31.379.584.765%201.135%201.159%201.653.393.518.654.85.781.997.128.146.228.255.301.328l.274.263c.175.175.431.385.77.63.34.244.715.485%201.127.722.412.238.89.431%201.437.58.547.15%201.08.21%201.597.182h1.257c.255-.023.448-.103.58-.241l.043-.055a.727.727%200%200%200%20.082-.203c.026-.09.038-.191.038-.3a3.614%203.614%200%200%201%20.071-.85c.055-.251.117-.441.186-.569a1.4%201.4%200%200%201%20.422-.482.713.713%200%200%201%20.087-.038c.175-.058.38-.002.618.17.237.172.459.383.667.635.208.252.457.535.749.849.291.314.546.547.765.7l.219.132c.146.088.335.168.568.241.233.073.437.091.613.055l2.799-.044c.276%200%20.492-.046.645-.137.153-.091.244-.192.273-.301a.85.85%200%200%200%20.006-.373%201.376%201.376%200%200%200-.077-.29z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-livechat {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFA900%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12%2012h11.785a2%202%200%200%201%202%202v7.227a2%202%200%200%201-2%202h-5.893l-4.384%204.318v-4.318H12a2%202%200%200%201-2-2V14a2%202%200%200%201%202-2zm17.923%205.182a2%202%200%200%201%202%202v6.363a2%202%200%200%201-2%202h-1.508V31l-3.507-3.455h-5.016a2%202%200%200%201-2-2v-.59h6.65a3%203%200%200%200%203-3v-4.773h2.381z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-skype {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%2302AFF0%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M30.561%2022.282c.08-.507.123-1.025.123-1.554%200-5.498-4.457-9.955-9.956-9.955-.527%200-1.047.043-1.553.123a6.016%206.016%200%200%200-8.279%208.28%2010.137%2010.137%200%200%200-.122%201.552c0%205.499%204.457%209.954%209.954%209.954.528%200%201.048-.04%201.554-.12a6.016%206.016%200%200%200%208.28-8.28zm-5.106%202.974c-.421.606-1.04%201.08-1.848%201.42-.81.342-1.768.512-2.873.512-1.325%200-2.423-.232-3.289-.7a4.261%204.261%200%200%201-1.497-1.346c-.384-.561-.58-1.111-.58-1.647%200-.316.121-.591.356-.815.237-.226.543-.34.903-.34.296%200%20.55.09.756.266.205.176.377.432.517.77.169.392.352.719.547.98.193.258.466.474.819.642.349.17.813.254%201.395.254.795%200%201.438-.172%201.93-.512.494-.342.732-.76.732-1.263%200-.401-.128-.72-.39-.969-.266-.252-.608-.444-1.033-.578a18.596%2018.596%200%200%200-1.716-.43c-.963-.21-1.769-.454-2.42-.735-.654-.282-1.174-.668-1.56-1.155-.386-.492-.579-1.103-.579-1.827%200-.69.203-1.308.61-1.845.408-.54.996-.952%201.764-1.239.765-.287%201.666-.43%202.698-.43.825%200%201.539.095%202.143.285.602.191%201.105.444%201.506.76.4.317.693.65.879%201%20.186.351.28.694.28%201.028%200%20.311-.121.594-.356.84a1.175%201.175%200%200%201-.887.373c-.316%200-.564-.073-.736-.227-.168-.15-.344-.388-.534-.72-.241-.462-.53-.822-.865-1.08-.326-.253-.865-.385-1.614-.384-.693%200-1.248.142-1.667.42-.42.28-.622.607-.623.99%200%20.24.07.442.208.615.141.174.337.326.589.453.252.13.508.23.766.302.26.074.693.18%201.294.322.754.162%201.438.344%202.052.542.614.199%201.137.438%201.57.724.435.285.776.648%201.019%201.087.245.439.367.976.367%201.607%200%20.76-.211%201.444-.633%202.05z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-telegrambot {
	background-color: #20a4e2;
	background-position: 40% center;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20300%20300%22%3E%3Cpath%20d%3D%22M5.299%2C144.645l69.126%2C25.8l26.756%2C86.047c1.712%2C5.511%2C8.451%2C7.548%2C12.924%2C3.891l38.532-31.412%20%20%20c4.039-3.291%2C9.792-3.455%2C14.013-0.391l69.498%2C50.457c4.785%2C3.478%2C11.564%2C0.856%2C12.764-4.926L299.823%2C29.22%20%20%20c1.31-6.316-4.896-11.585-10.91-9.259L5.218%2C129.402C-1.783%2C132.102-1.722%2C142.014%2C5.299%2C144.645z%20M96.869%2C156.711l135.098-83.207%20%20%20c2.428-1.491%2C4.926%2C1.792%2C2.841%2C3.726L123.313%2C180.87c-3.919%2C3.648-6.447%2C8.53-7.163%2C13.829l-3.798%2C28.146%20%20%20c-0.503%2C3.758-5.782%2C4.131-6.819%2C0.494l-14.607-51.325C89.253%2C166.16%2C91.691%2C159.907%2C96.869%2C156.711z%22%20fill%3D%22%23ffffff%22/%3E%3C/svg%3E%0A');
	background-size: 59% auto;
}
.connector-icon-facebook {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%2338659F%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M18.161%2018.289H16v3.704h2.161V33h4.44V21.994h2.98s.279-1.776.415-3.718h-3.378v-2.533c0-.378.484-.887.963-.887H26V11h-3.29c-4.658%200-4.549%203.707-4.549%204.261v3.028z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-facebookcomments {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%2338659F%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.76%2017.843H9v2.97h1.76v8.823h3.613v-8.823h2.425s.227-1.424.338-2.98h-2.749v-2.03c0-.304.394-.712.783-.712h1.97V12h-2.678c-3.792%200-3.703%202.972-3.703%203.416v2.427zM22%2016.015h9a2%202%200%200%201%202%202v5.247a2%202%200%200%201-2%202h-4.5l-3.611%203.556v-3.556H22a2%202%200%200%201-2-2v-5.247a2%202%200%200%201%202-2z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-viber {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23995ACA%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M32.508%2015.53l-.007-.027c-.53-2.17-2.923-4.499-5.12-4.983l-.025-.006a28.14%2028.14%200%200%200-10.712%200l-.025.006c-2.197.484-4.59%202.813-5.121%204.983l-.006.027a21.443%2021.443%200%200%200%200%209.135l.006.026c.509%202.078%202.723%204.3%204.839%204.91v2.423c0%20.877%201.056%201.308%201.657.675l2.426-2.552c.527.03%201.053.047%201.58.047%201.79%200%203.579-.171%205.356-.514l.024-.005c2.198-.485%204.59-2.814%205.121-4.984l.007-.026c.656-3.031.656-6.105%200-9.135zm-2.01%208.435c-.35%201.374-2.148%203.082-3.577%203.398-1.87.352-3.755.503-5.638.452a.134.134%200%200%200-.1.04L19.43%2029.64l-1.865%201.899c-.136.14-.376.045-.376-.15v-3.895a.135.135%200%200%200-.11-.131h-.001c-1.429-.316-3.226-2.024-3.577-3.399a18.53%2018.53%200%200%201%200-8.013c.351-1.374%202.148-3.082%203.577-3.398a26.437%2026.437%200%200%201%209.843%200c1.43.316%203.227%202.024%203.578%203.398a18.511%2018.511%200%200%201%200%208.014zm-5.676%202.065c-.225-.068-.44-.115-.64-.198-2.068-.861-3.97-1.973-5.478-3.677-.858-.968-1.529-2.062-2.096-3.22-.269-.549-.496-1.12-.727-1.686-.21-.517.1-1.05.427-1.44a3.37%203.37%200%200%201%201.128-.852c.334-.16.663-.068.906.216.527.614%201.01%201.259%201.402%201.97.24.438.175.973-.262%201.27-.106.073-.202.158-.301.24a.99.99%200%200%200-.228.24.662.662%200%200%200-.044.58c.538%201.486%201.446%202.64%202.935%203.263.238.1.477.215.751.183.46-.054.609-.56.931-.825.315-.258.717-.262%201.056-.046.34.215.668.447.995.68.321.23.64.455.936.717.285.251.383.581.223.923-.294.625-.72%201.146-1.336%201.478-.174.093-.382.124-.578.184-.225-.069.196-.06%200%200zm-2.378-11.847c2.464.075%204.488%201.86%204.922%204.517.074.452.1.915.133%201.375.014.193-.087.377-.278.38-.198.002-.286-.178-.3-.371-.025-.383-.042-.767-.09-1.146-.256-2.003-1.72-3.66-3.546-4.015-.275-.054-.556-.068-.835-.1-.176-.02-.407-.031-.446-.27a.32.32%200%200%201%20.297-.37c.048-.003.096%200%20.143%200%202.464.075-.047%200%200%200zm2.994%205.176c-.004.033-.006.11-.023.183-.06.265-.405.298-.484.03a.918.918%200%200%201-.028-.254c0-.558-.105-1.115-.347-1.6-.249-.5-.63-.92-1.075-1.173a2.786%202.786%200%200%200-.857-.306c-.13-.025-.26-.04-.39-.06-.157-.026-.241-.143-.234-.323.007-.169.114-.29.272-.28.52.035%201.023.165%201.485.45.94.579%201.478%201.493%201.635%202.713.007.055.018.11.022.165.009.137.014.274.023.455-.003.033-.009-.18%200%200zm-.996.397c-.275.005-.423-.144-.451-.391-.02-.173-.035-.348-.077-.516a1.447%201.447%200%200%200-.546-.84%201.436%201.436%200%200%200-.444-.21c-.202-.057-.412-.04-.613-.09-.219-.052-.34-.226-.305-.427a.394.394%200%200%201%20.417-.311c1.275.09%202.186.737%202.316%202.209.01.104.02.213-.003.313a.325.325%200%200%201-.294.263c-.275.005.125-.008%200%200z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-yandex {
	background-color: #3a78db;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M28.8170335%2C24.0591798%20C28.7486131%2C24.904848%2028.3736128%2C25.5589794%2027.6575195%2C25.9957397%20C26.5646095%2C26.6623846%2025.4561585%2C27.303397%2024.3551752%2C27.9569229%20C24.2264076%2C28.0332147%2024.1034931%2C28.1193962%2023.9777529%2C28.2009355%20C23.6261649%2C28.3131531%2023.3589418%2C28.6163019%2022.9439791%2C28.6009628%20C22.367956%2C28.5795688%2021.9051595%2C28.2205131%2021.8980955%2C27.6457009%20C21.8811417%2C26.2778982%2021.8502617%2C24.9064626%2021.9313974%2C23.5428984%20C21.9879099%2C22.588242%2022.5455665%2C21.8354156%2023.2772006%2C21.227907%20C23.4271604%2C21.103176%2023.5839824%2C20.9865182%2023.7379788%2C20.8662274%20C25.2343472%2C20.0159172%2026.7307157%2C19.1656069%2028.2272859%2C18.3152967%20C28.7696034%2C18.0073039%2028.8991784%2C18.0710822%2028.8882796%2C18.6771781%20C28.8557849%2C20.4710441%2028.9621494%2C22.2663229%2028.8170335%2C24.0591798%20M19.492886%2C18.4674766%20C18.1412298%2C17.6589451%2016.7607118%2C16.8986511%2015.394322%2C16.1149448%20C14.8764259%2C15.8178509%2014.8590685%2C15.6543685%2015.3581944%2C15.3657514%20C16.8771678%2C14.4873868%2018.4025998%2C13.6203246%2019.9328757%2C12.7615375%20C20.791461%2C12.279769%2021.6615506%2C12.3231625%2022.5205395%2C12.7784912%20C22.8658709%2C12.9615511%2023.2067619%2C13.1524824%2023.5498731%2C13.3399826%20C24.4966582%2C13.8905751%2025.4357737%2C14.4548921%2026.3932557%2C14.9857053%20C26.837282%2C15.2319381%2027.1386143%2C15.5534534%2027.1321558%2C16.0699367%20C27.1261008%2C16.5848053%2026.7605865%2C16.852432%2026.352486%2C17.0867568%20C25.380674%2C17.6450189%2024.4171371%2C18.2182164%2023.4505727%2C18.7851572%20C22.0724767%2C19.4096195%2020.7714798%2C19.2326145%2019.492886%2C18.4674766%20M19.7998696%2C28.2132472%20C19.7940166%2C28.7868483%2019.6474879%2C28.8708097%2019.1655176%2C28.5957152%20C17.7038639%2C27.7613495%2016.2153669%2C26.9699737%2014.7940792%2C26.0720315%20C14.0440785%2C25.5981344%2013.5098342%2C24.9014169%2013.5235587%2C23.9011468%20C13.5449526%2C22.3490733%2013.5037793%2C20.7961924%2013.5108434%2C19.2441188%20C13.5146781%2C18.3586901%2014.3076686%2C17.9132511%2015.0812835%2C18.3483968%20C16.0129313%2C18.8723478%2016.9298454%2C19.4227385%2017.865328%2C19.9390199%20C19.169756%2C20.6591498%2019.7409352%2C21.8043338%2019.7960349%2C23.2393459%20C19.827924%2C24.0670512%2019.8018879%2C24.8969766%2019.8018879%2C25.7262965%20C19.8018879%2C26.5552128%2019.8081447%2C27.3843309%2019.7998696%2C28.2132472%20M28.8293452%2C13.8790708%20C28.2787526%2C13.5654268%2027.7186741%2C13.2612688%2027.1797877%2C12.9349096%20C25.9470093%2C12.1885418%2024.7124145%2C11.4466143%2023.4618752%2C10.7309247%20C22.1711716%2C9.91351279%2020.799736%2C9.72661811%2019.4410157%2C10.4528028%20C17.7569452%2C11.353167%2016.1295891%2C12.3596937%2014.4800316%2C13.3244417%20C14.0251065%2C13.5904538%2013.5643283%2C13.8504109%2013.1312009%2C14.1491195%20C12.0251719%2C14.9122392%2011.442892%2C15.9914248%2011.4253328%2C17.3224944%20C11.3938473%2C19.6903652%2011.3910217%2C22.0594471%2011.4269475%2C24.4273179%20C11.4487451%2C25.8673758%2012.0980326%2C27.0113489%2013.3453427%2C27.7575148%20C15.3842305%2C28.9771741%2017.4437049%2C30.1623206%2019.4852165%2C31.3779433%20C19.7990623%2C31.564838%2020.1320989%2C31.7074632%2020.4721657%2C31.7464851%20L21.8304824%2C31.7464851%20C22.7558734%2C31.4903627%2023.5847897%2C31.0392724%2024.3678905%2C30.4947347%20C26.0043291%2C29.5295832%2027.7130505%2C28.6923079%2029.2695366%2C27.586161%20C30.9715576%2C26.3765869%2030.9731618%2C24.7471301%2030.9718634%2C24.6007857%20C30.9254025%2C19.3643432%2030.9001433%2C16.734734%2030.8960855%2C16.7119583%20C30.666201%2C15.4319517%2029.9375943%2C14.5103954%2028.8293452%2C13.8790708%20Z%22/%3E%3C/svg%3E%0A');
}
.connector-icon-botframework {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%2306AFE5%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M13%2013h7v7h-7v-7zm0%209h7v7h-7v-7zm9-9h7v7h-7v-7zm0%209h7v7h-7v-7z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-twilio {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23E42E3A%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M18.565%2021.419a2.04%202.04%200%200%200-2.037%202.037%202.04%202.04%200%200%200%202.037%202.037%202.04%202.04%200%200%200%202.037-2.037%202.034%202.034%200%200%200-2.037-2.037zm4.956%200a2.04%202.04%200%200%200-2.037%202.037%202.04%202.04%200%200%200%202.037%202.037%202.04%202.04%200%200%200%202.037-2.037%202.04%202.04%200%200%200-2.037-2.037zm-4.956-4.956a2.04%202.04%200%200%200-2.037%202.037%202.04%202.04%200%200%200%202.037%202.037%202.04%202.04%200%200%200%202.037-2.037%202.034%202.034%200%200%200-2.037-2.037zm4.956%200a2.04%202.04%200%200%200-2.037%202.037%202.04%202.04%200%200%200%202.037%202.037%202.04%202.04%200%200%200%202.037-2.037%202.04%202.04%200%200%200-2.037-2.037zm-2.516-5.458c-5.523%200-10%204.477-10%2010s4.477%2010%2010%2010%2010-4.477%2010-10c-.01-5.523-4.477-10-10-10zm0%2016.569a6.569%206.569%200%201%201%200-13.138%206.569%206.569%200%200%201%200%2013.138z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-telegram {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M25.616%2016.036L17.8%2023.269a1.61%201.61%200%200%200-.502.965l-.266%201.964c-.035.263-.405.289-.478.035l-1.024-3.582a.948.948%200%200%201%20.417-1.068l9.471-5.807c.17-.104.346.125.2.26m3.793-3.997L9.52%2019.677a.568.568%200%200%200%20.005%201.064l4.847%201.8%201.876%206.005c.12.385.592.527.906.272l2.701-2.192a.809.809%200%200%201%20.983-.028l4.872%203.522c.336.242.811.06.895-.344l3.57-17.09a.57.57%200%200%200-.765-.647%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-facebookmessenger {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%230183FF%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M14.854%2031.373v-4.231a.169.169%200%200%200-.054-.129%209.016%209.016%200%200%201-1.31-1.511%208.37%208.37%200%200%201-1.028-2.028%208.19%208.19%200%200%201-.388-1.659c-.064-.497-.09-1.004-.064-1.511a8.527%208.527%200%200%201%201.733-4.737%208.862%208.862%200%200%201%201.815-1.788%209.123%209.123%200%200%201%202.663-1.355%209.515%209.515%200%200%201%201.597-.35A8.275%208.275%200%200%201%2020.992%2012c.406%200%20.812.028%201.21.074.487.064.974.166%201.443.304a8.76%208.76%200%200%201%201.887.802%208.9%208.9%200%200%201%202.148%201.677%208.673%208.673%200%200%201%202.176%204.12%208.265%208.265%200%200%201%20.135%202.664%208.431%208.431%200%200%201-.605%202.34%208.66%208.66%200%200%201-1.597%202.507%208.935%208.935%200%200%201-3.16%202.24c-.686.295-1.399.497-2.13.608-.596.101-1.2.138-1.805.11a9.324%209.324%200%200%201-1.742-.24c-.118-.027-.235-.054-.343-.082-.045-.01-.072-.01-.118.018-.767.47-1.525.94-2.292%201.41-.425.268-.858.526-1.291.793l-.054.028zm.514-7.797c0%20.009.01.009.01.018a580.834%20580.834%200%200%200%204.152-2.36c.054-.027.08-.027.126.02l2.265%202.312c.046.047.064.047.109%200%20.568-.635%201.128-1.271%201.697-1.907.93-1.051%201.868-2.092%202.798-3.143.054-.065.108-.12.162-.184a.148.148%200%200%200-.108.046c-1.354.765-2.708%201.53-4.053%202.304-.054.027-.081.027-.126-.019l-2.266-2.313c-.045-.046-.063-.046-.108%200-.569.636-1.128%201.272-1.697%201.908-.93%201.05-1.869%202.092-2.798%203.143-.054.055-.109.11-.163.175z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-groupme {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%231DB0ED%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M20.445%2019.264c.17-.007.341%200%20.511%200h.511c.075%200%20.102-.027.102-.103v-1.005c0-.076-.02-.103-.095-.103-.347.007-.695%200-1.035%200-.068%200-.096.027-.096.096v1.02c0%20.081.028.095.102.095zm8.46-3.01a3.02%203.02%200%200%200-.164-.856%203.481%203.481%200%200%200-1.396-1.813c-.62-.41-1.314-.582-2.05-.582-2.786-.007-5.565%200-8.35%200-.307%200-.613.014-.92.048a3.25%203.25%200%200%200-1.13.349%203.459%203.459%200%200%200-1.37%201.273%203.324%203.324%200%200%200-.517%201.786c-.007%202.58-.007%205.159%200%207.732%200%20.54-.027%201.081.02%201.622.034.444.15.869.354%201.266.252.485.593.903%201.029%201.231.586.431%201.24.67%201.961.685.988.013%201.976.006%202.97%200%20.068%200%20.13%200%20.17.068.157.253.314.513.47.766.3.486.606.972.906%201.465.041.061.068.082.116%200%20.13-.212.266-.425.395-.637.32-.52.647-1.033.967-1.553.048-.075.096-.11.184-.11.92.007%201.846%200%202.765.007.28%200%20.552-.02.831-.075.872-.178%201.574-.643%202.105-1.355.477-.643.674-1.382.681-2.176.007-1.471%200-2.942%200-4.728-.027-1.266.034-2.84-.027-4.414zm-11.143%203.12c0-.09.027-.117.116-.117.354.007.708%200%201.062.007.096%200%20.13-.02.13-.123a22.782%2022.782%200%200%201%200-.965c0-.096-.028-.123-.123-.116-.177.007-.361%200-.538%200h-.552c-.068%200-.095-.02-.095-.096%200-.376.007-.746%200-1.122%200-.096.048-.096.116-.096h1.049c.102%200%20.136-.034.136-.137-.007-.349%200-.698-.007-1.047%200-.089.014-.137.123-.13.347.007.694.007%201.042%200%20.095%200%20.122.028.122.123-.007.35%200%20.698-.007%201.047%200%20.117.041.15.15.15.32-.006.634-.006.954%200%20.095%200%20.13-.02.13-.122-.008-.35%200-.698-.008-1.047%200-.11.035-.144.143-.144.348.007.695.007%201.043%200%20.102%200%20.122.034.122.13-.007.356%200%20.712-.007%201.068%200%20.088.028.116.116.116.361-.007.715%200%201.076%200%20.089%200%20.116.02.116.11-.007.355-.007.711%200%201.067%200%20.102-.034.13-.13.13-.347-.007-.7%200-1.048-.007-.089%200-.123.02-.123.116.007.329.007.657%200%20.979%200%20.089.027.116.116.11.347-.008.702%200%201.049-.008.102%200%20.143.028.136.137-.007.356-.007.712%200%201.068%200%20.082-.027.11-.109.11-.347-.008-.701%200-1.049-.008-.116%200-.15.041-.15.151.007.349%200%20.698.007%201.047%200%20.089-.02.116-.109.116a28.21%2028.21%200%200%200-1.076%200c-.095%200-.116-.034-.116-.123.007-.356%200-.712.007-1.067%200-.096-.027-.124-.123-.124-.326.007-.653.007-.973%200-.11%200-.137.041-.137.144.007.35%200%20.705.007%201.054%200%20.089-.02.116-.109.116a26.8%2026.8%200%200%200-1.049%200c-.095%200-.116-.034-.116-.123.007-.349%200-.698.007-1.047%200-.11-.034-.144-.143-.144-.347.007-.695%200-1.042.007-.088%200-.13-.013-.122-.116-.007-.349-.007-.712-.014-1.074zm9.229%203.859c-.123.28-.313.52-.497.76a7.077%207.077%200%200%201-.654.704%206.14%206.14%200%200%201-1.362%201.013%206.332%206.332%200%200%201-1.676.657%206.856%206.856%200%200%201-1.124.171c-.238.02-.477.007-.708.02a7.178%207.178%200%200%201-1.873-.198%206.676%206.676%200%200%201-2.466-1.197%206.929%206.929%200%200%201-.899-.835%204.72%204.72%200%200%201-.742-1.013c-.116-.219-.19-.458-.082-.705a.728.728%200%200%201%20.892-.397c.273.082.457.274.613.5.463.684%201.083%201.197%201.792%201.608a5.691%205.691%200%200%200%201.798.657c.272.055.545.082.824.089a5.507%205.507%200%200%200%201.996-.329%205.906%205.906%200%200%200%201.757-.999c.415-.335.749-.732%201.049-1.17.197-.294.585-.451.885-.376.545.137.681.588.477%201.04z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-kik {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23212121%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M27.959%2020.957l1.863-1.653c.31-.304.532-.652.532-1.087%200-.565-.399-1.087-1.02-1.087-.4%200-.71.218-1.02.566l-2.928%202.913v-5.392A1.19%201.19%200%200%200%2024.19%2014c-.665%200-1.198.565-1.198%201.217v9.522a1.19%201.19%200%200%200%201.198%201.218c.665%200%201.197-.566%201.197-1.218v-1.391l.932-.87%202.04%202.957c.266.391.577.565%201.02.565.577%200%201.11-.435%201.11-1.13%200-.261-.09-.522-.311-.783l-2.218-3.13zm-7.968-3.653c-.665%200-1.197.566-1.197%201.218v6.217a1.19%201.19%200%200%200%201.197%201.218c.666%200%201.198-.566%201.198-1.218v-6.217c-.045-.696-.577-1.218-1.198-1.218zm-5.023%203.653l1.863-1.653c.31-.304.532-.652.532-1.087%200-.565-.4-1.087-1.02-1.087-.4%200-.71.218-1.02.566l-2.928%202.913v-5.392A1.19%201.19%200%200%200%2011.198%2014c-.666%200-1.198.565-1.198%201.217v9.522a1.19%201.19%200%200%200%201.198%201.218c.665%200%201.197-.566%201.197-1.218v-1.391l.932-.87%202.04%202.957c.266.391.577.565%201.02.565.577%200%201.11-.435%201.11-1.13%200-.261-.09-.522-.311-.783l-2.218-3.13zm16.701-.653c-.754%200-1.33.566-1.33%201.305s.576%201.304%201.33%201.304c.754%200%201.331-.565%201.331-1.304%200-.74-.577-1.305-1.33-1.305z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-slack {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23776EBD%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M30.017%2021.525a1.577%201.577%200%200%200-2.083-.796l-.758.34-1.944-4.346.758-.339a1.576%201.576%200%200%200-1.287-2.878l-.758.34-.339-.76a1.576%201.576%200%201%200-2.877%201.288l.34.759-4.346%201.943-.34-.758a1.576%201.576%200%200%200-2.877%201.286l.34.758-.759.34a1.575%201.575%200%201%200%201.287%202.878l.759-.34%201.943%204.346-.759.339a1.577%201.577%200%200%200%201.287%202.878l.758-.34.34.759a1.575%201.575%200%201%200%202.876-1.286l-.338-.76%204.346-1.942.339.756a1.575%201.575%200%201%200%202.877-1.285l-.34-.758.758-.34a1.575%201.575%200%200%200%20.797-2.082zM19.953%2024.3l-1.944-4.346%204.346-1.943%201.944%204.345-4.346%201.944z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-emailoffice365 {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%230071C5%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M18.533%2019.85c-.41-.549-1.213-.54-1.635-.069-.206.23-.335.498-.414.791-.138.513-.142%201.034-.068%201.555.047.334.151.65.347.93.328.469.855.629%201.354.408.302-.134.487-.38.619-.669.183-.402.227-.831.244-1.269-.024-.249-.038-.5-.076-.746a2.04%202.04%200%200%200-.371-.93m12.42-3.36c-.152-.284-.359-.466-.711-.465-2.07.006-4.14.003-6.21.001-.085%200-.11.022-.11.109.003%201.173.002%202.346%200%203.52%200%20.063.02.1.074.134.392.242.783.485%201.172.732.095.06.174.056.266-.006l4.91-3.286c.217-.145.437-.285.656-.428v-.223l-.047-.089m-5.436%205.462c-.16.105-.29.104-.45-.005l-1.05-.716c-.025-.017-.053-.032-.09-.054l-.003.073c0%201.62%200%203.239-.002%204.858%200%20.087.038.094.107.093h2.22c1.283%200%202.566%200%203.85-.003a.896.896%200%200%200%20.859-.628c.01-.03.028-.06.042-.09v-7.154l-.083.06-5.4%203.566m-5.3-.583c.001.739-.09%201.377-.376%201.976-.269.563-.653%201.024-1.237%201.29a2.275%202.275%200%200%201-1.157.188c-.999-.085-1.606-.676-2.004-1.53a3.558%203.558%200%200%201-.305-1.253c-.049-.662-.014-1.316.192-1.952.195-.602.514-1.125%201.037-1.507.378-.276.807-.4%201.275-.413.538-.016%201.027.112%201.449.45.489.39.782.907.954%201.497.126.437.177.883.171%201.254m-.078-8.798l-2.97.57c-1.047.202-2.095.401-3.143.602l-1.979.381c-.015.003-.03.002-.046.002v14.588l4.192.87%203.524.737%203.15.654c.02.004.039.016.058.025h.262V12.17c0-.189%200-.187-.18-.152-.956.185-1.912.37-2.868.553z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-webchat {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%234393D0%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M25.183%2020.983c-.845%200-1.521.694-1.521%201.561%200%20.868.676%201.562%201.521%201.562.845%200%201.521-.694%201.521-1.562%200-.867-.76-1.561-1.52-1.561zm-4.14%200c-.846%200-1.522.694-1.522%201.561%200%20.868.676%201.562%201.521%201.562.845%200%201.521-.694%201.521-1.562%200-.867-.676-1.561-1.52-1.561zm-4.057%200c-.845%200-1.521.694-1.521%201.561%200%20.868.676%201.562%201.52%201.562.846%200%201.522-.694%201.522-1.562%200-.867-.676-1.561-1.521-1.561zM29.83%2013H12.169c-.084%200-.169.087-.169.174V28.79c0%20.087.085.174.169.174h17.662c.084%200%20.169-.087.169-.174V13.174c0-.087-.085-.174-.169-.174zm-2.535%201.649c0-.174.084-.26.253-.26h.845c.17%200%20.254.086.254.26v.867c0%20.174-.085.26-.254.26h-.845c-.169%200-.253-.086-.253-.26v-.867zm-2.197%200c0-.174.084-.26.253-.26h.845c.17%200%20.254.086.254.26v.867c0%20.174-.085.26-.254.26h-.845c-.169%200-.253-.086-.253-.26v-.867zm-11.662%200c0-.174.084-.26.253-.26h8.535c.17%200%20.254.086.254.26v.867c0%20.174-.085.26-.254.26H13.69c-.169%200-.253-.086-.253-.26v-.867zM28.986%2027.75c0%20.174-.085.26-.254.26H13.183c-.169%200-.253-.086-.253-.26V17.685c0-.173.084-.26.253-.26h15.55c.168%200%20.253.087.253.26V27.75z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-directline {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%234393D0%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M21%2012c-3.802%200-6.983%202.328-8.38%205.664v.077A9.018%209.018%200%200%200%2012%2021c0%204.966%204.034%209%209%209s9-4.034%209-9-4.034-9-9-9zm7.37%2010.94h-3.103c.078-.621.078-1.242.078-1.862%200-.854-.078-1.707-.155-2.483h3.18c.233.776.389%201.63.389%202.483%200%20.62-.078%201.319-.233%201.94%200-.078-.078-.078-.155-.078zM21%2028.914c-1.164%200-2.405-1.862-2.948-4.733h5.974c-.62%202.87-1.862%204.733-3.026%204.733zm-3.181-5.974c-.078-.621-.078-1.242-.078-1.862%200-.854.078-1.707.156-2.483h6.129c.077.776.155%201.63.155%202.483%200%20.62%200%201.319-.078%201.862H17.82zm-4.655-1.862c0-.854.155-1.707.388-2.483h3.18c-.077.776-.154%201.63-.154%202.483%200%20.62%200%201.241.077%201.862h-3.258a7.652%207.652%200%200%201-.233-1.862zM21%2013.164c1.086%200%202.25%201.552%202.87%204.112h-5.663c.543-2.483%201.707-4.112%202.793-4.112zm6.905%204.112h-2.87c-.31-1.474-.854-2.793-1.475-3.724%201.862.698%203.414%202.017%204.345%203.724zm-9.465-3.647c-.621.931-1.164%202.173-1.474%203.724h-2.871a7.607%207.607%200%200%201%204.345-3.724zm-4.656%2010.552h3.026c.31%201.785.854%203.259%201.63%204.267-2.095-.698-3.802-2.25-4.656-4.267zm9.699%204.267c.776-1.008%201.319-2.56%201.63-4.267h3.025c-.854%202.017-2.56%203.569-4.655%204.267z%22/%3E%3C/g%3E%3C/svg%3E');
}
.connector-icon-botframework-msteams {
	background-size: 50%;
	background-color: #5455B0;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2093%2093%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M59.8127%2C33.6932%20C62.6427%2C36.0142%2066.5957%2C36.0892%2069.4417%2C33.8732%20C72.3087%2C31.6422%2073.2557%2C27.6852%2071.6887%2C24.4892%20C70.1357%2C21.3232%2066.5617%2C19.5242%2063.2167%2C20.2242%20C59.5417%2C20.9942%2058.5407%2C22.6122%2058.5407%2C27.7812%20C58.5407%2C32.6492%2058.5407%2C32.6492%2059.8127%2C33.6932%20L59.8127%2C33.6932%20Z%20M84.7917%2C40.0892%20C89.0347%2C40.1072%2092.5267%2C36.7282%2092.6027%2C32.5322%20C92.6797%2C28.2692%2089.1227%2C24.7342%2084.7777%2C24.7562%20C80.5557%2C24.7782%2077.0897%2C28.2382%2077.0937%2C32.4282%20C77.0977%2C36.6292%2080.5567%2C40.0712%2084.7917%2C40.0892%20L84.7917%2C40.0892%20Z%20M92.5667%2C44.9862%20L77.1797%2C44.9862%20L77.1797%2C67.8832%20C80.2187%2C68.2252%2082.9897%2C68.0522%2085.6807%2C67.4012%20C88.8077%2C66.6442%2091.7507%2C65.1752%2092.2777%2C61.6852%20C93.1137%2C56.1382%2092.5287%2C50.5262%2092.5667%2C44.9862%20L92.5667%2C44.9862%20Z%20M58.6537%2C74.0892%20C61.0207%2C75.0042%2063.3417%2C75.2022%2065.7437%2C74.8952%20C71.6347%2C74.1412%2074.0707%2C71.4092%2074.0787%2C65.4732%20C74.0827%2C62.3052%2074.0797%2C59.1382%2074.0797%2C55.9712%20L74.0797%2C40.2622%20L58.6537%2C40.2622%20L58.6537%2C74.0892%20Z%20M12.4797%2C29.2982%20C21.5367%2C28.7242%2030.5857%2C28.1512%2039.8207%2C27.5662%20L39.8207%2C35.3722%20C36.4657%2C35.5582%2033.1097%2C35.7432%2029.5357%2C35.9402%20L29.5357%2C65.6882%20L21.5887%2C65.6882%20L21.5887%2C36.4112%20L12.4797%2C36.4112%20L12.4797%2C29.2982%20Z%20M-0.0003%2C80.3642%20C18.5197%2C84.4762%2036.8697%2C88.5512%2055.3287%2C92.6502%20L55.3287%2C0.0002%20C36.7497%2C4.1292%2018.4077%2C8.2062%20-0.0003%2C12.2972%20L-0.0003%2C80.3642%20Z%22/%3E%0A%3C/svg%3E%0A');
}

.connector-icon-callback {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FF5752%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M29.586%2027.024c.583.588.566%201.56-.039%202.168l-.838.824L28.69%2030c-.354.278-.762.51-1.199.682a4.946%204.946%200%200%201-1.223.308c-.192.02-4.632.438-10.142-5.092-3.986-4.001-5.455-6.95-5.067-10.177.045-.402.144-.803.303-1.224.173-.442.405-.852.682-1.208l-.022-.022.827-.836c.606-.608%201.575-.626%202.159-.04l2.936%202.948c.583.586.567%201.558-.04%202.167l-.488.49-.992.995.159.287c.519.938%201.229%202.223%202.578%203.578%201.346%201.351%202.624%202.063%203.558%202.583l.292.163%201.48-1.485c.605-.607%201.573-.625%202.158-.04l2.936%202.947zM21.88%2011.54a.794.794%200%200%201%20.537-1.493c3.99%201.44%206.67%204.355%207.998%208.683a.792.792%200%201%201-1.515.466c-1.184-3.86-3.509-6.39-7.02-7.656zm-1.23%203.805a.794.794%200%200%201%20.6-1.468c2.427.994%204.215%202.839%205.342%205.492a.792.792%200%201%201-1.458.621c-.968-2.279-2.455-3.813-4.484-4.645z%22/%3E%3C/g%3E%3C/svg%3E');
}

.connector-icon-call {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%2355D0E0%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M29.157%2027.02c.57.587.553%201.56-.038%202.168l-.819.824-.018-.016a4.742%204.742%200%200%201-2.366.99c-.187.02-4.524.438-9.907-5.092-3.894-4-5.33-6.948-4.95-10.174.044-.402.14-.804.296-1.224.169-.442.395-.852.666-1.207L12%2013.266l.808-.835c.593-.609%201.54-.626%202.11-.04l2.868%202.946c.57.587.553%201.558-.039%202.167l-.477.49-.97.995c.051.091.102.187.156.286.507.939%201.2%202.224%202.519%203.578%201.314%201.35%202.563%202.063%203.476%202.582l.285.163%201.445-1.484c.591-.608%201.537-.625%202.109-.04l2.868%202.946zm-7.53-15.48a.799.799%200%200%201-.465-1.015.769.769%200%200%201%20.99-.478c3.898%201.439%206.517%204.354%207.814%208.68a.797.797%200%200%201-.513.992.77.77%200%200%201-.967-.525c-1.156-3.859-3.428-6.388-6.858-7.654zm-1.2%203.804a.8.8%200%200%201-.424-1.035.767.767%200%200%201%201.01-.433c2.37.994%204.117%202.838%205.219%205.491a.8.8%200%200%201-.41%201.04.767.767%200%200%201-1.015-.419c-.946-2.279-2.399-3.813-4.38-4.644z%22/%3E%3C/g%3E%3C/svg%3E');
}

.connector-icon-unknown-mail {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%234393D0%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M28.954%2015H13.046c-.58%200-1.046.484-1.046%201.072v10.856A1.06%201.06%200%200%200%2013.046%2028h15.908c.58%200%201.046-.484%201.046-1.072V16.072c0-.595-.466-1.072-1.046-1.072zM21%2021.099l-5.809-4.301H26.81L21%2021.098zm-7.246%205.103v-8.25l6.733%204.986c.007.007.014.007.02.014.007.007.02.014.027.02.027.015.048.029.075.042h.006a.407.407%200%200%200%20.081.035c.007%200%20.014.007.02.007.061.02.122.034.183.041h.013c.034%200%20.061.007.095.007.033%200%20.06%200%20.094-.007h.014a.865.865%200%200%200%20.182-.041c.007%200%20.013-.007.02-.007.027-.014.054-.02.081-.035h.007c.027-.013.047-.027.074-.041.007-.007.02-.014.027-.02.007-.008.013-.008.02-.015l6.733-4.985v8.25H13.754z%22/%3E%3C/g%3E%3C/svg%3E');
}

.connector-icon-email {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%2390BE00%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M30.867%2015.528v11.667c0%20.73-.638%201.324-1.428%201.324h-17.01c-.79%200-1.429-.592-1.429-1.324V15.528v.315l9.934%207.757%209.933-7.757v-.315zM12.528%2014H29.34l-8.405%206.113L12.528%2014z%22/%3E%3C/g%3E%3C/svg%3E');
}

.connector-icon-webform {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%2300B4AC%22%20d%3D%22M0%200h42v42H0z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M24.906%2015.079c0%20.542-.458.985-1.018.985h-8.181c-.56%200-1.019-.443-1.019-.985v-.05c0-.543.459-.986%201.019-.986h8.18c.561%200%201.02.443%201.02.986v.05zm-1.778%204.393c0%20.542-.458.985-1.018.985h-6.403c-.56%200-1.02-.443-1.02-.985v-.051c0-.542.46-.985%201.02-.985h6.403c.56%200%201.018.443%201.018.985v.051zm0%204.392c0%20.543-.458.985-1.018.985h-6.403c-.56%200-1.02-.442-1.02-.985v-.05c0-.542.46-.985%201.02-.985h6.403c.56%200%201.018.443%201.018.985v.05zM28.886%2011H13.114C12.5%2011%2012%2011.485%2012%2012.077v16.846c0%20.592.501%201.077%201.114%201.077h15.772C29.5%2030%2030%2029.515%2030%2028.923V12.077c0-.592-.501-1.077-1.114-1.077z%22/%3E%3C/g%3E%3C/svg%3E');
}