.sonet-groups-title-button-search {
	display: inline-block;
	height: 39px;
	margin: 0 11px 0 0;
	vertical-align: top;
}

.sonet-groups-title-button-search-textbox {
	display: block;
	white-space: nowrap;
	height: 39px;
	padding: 0 10px;
	background: #fff;
	box-sizing: border-box;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.sonet-groups-title-button-search-input {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	border: none;
	font: 14px/30px "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 0;
	outline: none;
	padding: 0;
	width: 130px;
	-webkit-transition: width 250ms ease;
	-moz-transition: width 250ms ease;
	-ms-transition: width 250ms ease;
	-o-transition: width 250ms ease;
	transition: width 250ms ease;
	background-color: transparent;
}

.sonet-groups-title-button-search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #b1b6bb;
	-webkit-transition: color .3s;
	transition: color .3s;
}
.sonet-groups-title-button-search-input:hover::-webkit-input-placeholder {
	color: #80868e;
}
.sonet-groups-title-button-search-full .sonet-groups-title-button-search-input:hover::-webkit-input-placeholder {
	color: #b1b6bb;
}
.main-ui-filter-search-filter::-moz-placeholder { /* Firefox 19+ */
	color: #b1b6bb;
	-webkit-transition: color .3s;
	transition: color .3s;
	opacity: 1;
}
.sonet-groups-title-button-search-input:hover::-moz-placeholder {
	color: #80868e;
}
.sonet-groups-title-button-search-full .sonet-groups-title-button-search-input:hover::-moz-placeholder {
	color: #b1b6bb;
}
.sonet-groups-title-button-search-input:-ms-input-placeholder { /* IE 10+ */
	color: #b1b6bb;
	-webkit-transition: color .3s;
	transition: color .3s;
}
.sonet-groups-title-button-search-input:hover:-ms-input-placeholder {
	color: #80868e;
}
.sonet-groups-title-button-search-full .sonet-groups-title-button-search-input:hover:-ms-input-placeholder {
	color: #b1b6bb;
}
.sonet-groups-title-button-search-input:-moz-placeholder { /* Firefox 18- */
	color: #b1b6bb;
	-webkit-transition: color .3s;
	transition: color .3s;
	opacity: 1;
}
.sonet-groups-title-button-search-input:hover:-moz-placeholder {
	color: #80868e;
}
.sonet-groups-title-button-search-full .sonet-groups-title-button-search-input:hover:-moz-placeholder {
	color: #b1b6bb;
}

.sonet-groups-title-button-search-icon {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 16px;
	background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214.219%22%20height%3D%2214.25%22%20viewBox%3D%220%200%2014.219%2014.25%22%3E%0A%09%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23c6c8cc%22%20d%3D%22M13.895%2012.32l-3.662-3.663c-.015-.015-.034-.026-.05-.04A5.544%205.544%200%201%200%208.6%2010.2c.013.016.024.034.04.05l3.662%203.662a1.127%201.127%200%200%200%201.593-1.593zM5.553%209.8A4.232%204.232%200%201%201%209.785%205.57%204.233%204.233%200%200%201%205.553%209.8z%22/%3E%3C/svg%3E') center center no-repeat;
	cursor: pointer;
}

.sonet-groups-title-button-search-full .sonet-groups-title-button-search-input {
	width: 250px;
}

.webform-small-button.sonet-groups-add-button { margin-left: 10px; }