.crm-tracking-entity-path-icon {
	width: 14px;
	height: 14px;
	margin: 0 5px 0 0;
	transform: translateY(2px);
	cursor: help;
}

.bx-ie .crm-tracking-entity-path-icon {
	width: 14px;
}

.crm-tracking-entity-path-arrow {
	width: 6px;
	height: 9px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%226%22%20height%3D%229%22%20viewBox%3D%220%200%206%209%22%3E%0A%20%20%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.5%22%20d%3D%22M3.043%204.263L0%201.145%201.014.106l4.057%204.157L1.014%208.42%200%207.38z%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
}

.crm-tracking-entity-path-item {
	cursor: help;
}