.task-form {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.template-bitrix24 .task-info {
	margin: 0 -15px;
}

.task-info-panel {
	background: #fff;
	border-bottom: 1px solid #edeef0;
	line-height: 34px;
	padding-bottom: 15px;
}

.task-info-panel-title {
	padding: 0 25px 0 22px;
	overflow: hidden;
}

.task-list-back {
	position: relative;
	font-size: 12px;
	color: #535c69;
	font-family: 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 25px;
	padding-left: 18px;
}

.task-list-back:before {
	content: '';
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -216px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 11px;
	height: 13px;
}

.task-list-back:hover {
	color: #535c69;
}

.task-info-panel-title input {
	width: 100%;
	line-height: 32px;
	height: 32px;
	border: none;
	outline: none;
	font-size: 19px;
	/*color: rgba(0,0,0,0.64);*/
	font-family: 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.task-info-editor {
	background: #fff;
}

.task-info-panel-important {
	float: right;
	padding-right: 20px;
}

.task-info-panel-important label {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: rgba(0,0,0,0.5);
	padding-right: 20px;
}

.task-info-panel-important input {
	vertical-align: middle;
	display: inline-block;
}

.task-info-panel-important label:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	-webkit-box-shadow: 0 1px 0 #ffffff;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -103px;
	width: 12px;
	height: 16px;
}

.task-info-panel-important input[type=checkbox]:checked + label:after {
	background-position: 0 -85px;
}

.task-options {
	position: relative;
	padding: 0 5px;
	background: #f8f9fa;
}

.task-options {
	margin: 6px 0 0 0;
}
.task-additional-block {
	margin: 20px 0 0 0;
}

.task-options.task-checklist {
	padding: 20px 25px;
}

.task-options.task-checklist .task-checklist-title {
	color: #000;
}

.task-options-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 0 25px;
	margin-bottom: 15px;
}

.task-options-subtitle {
	position: relative;
	color: rgba(83,92,105,0.6);
	font-weight: bold;
	font-size: 9px;
	text-transform: uppercase;
	margin: 15px 25px 5px;
}

.task-options-subtitle span {
	cursor: pointer;
}

.task-options-resolved .task-options-subtitle span:before {
	content: '';
	height: 0;
	border: 3px solid transparent;
	border-left: 3px solid #c6cacf;
	border-right: none;
	display: inline-block;
	vertical-align: middle;
	margin: -2px 0 0 2px;
	width: 4px;
}

.task-options-resolved-open .task-options-subtitle span:before {
	content: '';
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-top: 3px solid #c6cacf;
	border-bottom: none;
	display: inline-block;
	vertical-align: middle;
	margin: -3px 3px 0 0;
}

.task-options-resolved .task-options-field {
	display: none;
}

.task-options-resolved-open .task-options-field {
	display: block;
}

.task-options-checkstatus {
	font-size: 13px;
	color: rgba(83,92,105,0.7);
	font-weight: normal;
}

.task-options:after {
	position: absolute;
	content: '';
	left: 1px;
	right: 1px;
	top: 0;
	margin: auto;
	height: 1px;
	background: #f0f1f3;
}

.task-options:after {
	top: auto;
	bottom: 0;
}

.task-options-field {
	position: relative;
	margin-bottom: 1px;
	overflow: hidden;
}

.task-options-field-container {
	margin: 7px 0 5px 0;
}

.task-options-field-inner {
	display: inline-block;
	padding: 7px 60px 7px 0;
	margin: 0;
	position: relative;
}

.task-checklist .task-options-field-inner {
	padding-left: 25px;
}

.task-checklist .task-options-field-inner:hover {
	background: #eceef0;
}






.task-options-checkbox {
	float: left;
	margin: 3px 8px 1px 0;
}

.task-options-field-divider {
	position: relative;
	height: 16px;
	width: 520px;
	cursor: move;
	opacity: 0.4;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.task-options-field-divider:hover {
	opacity: 1;
}

.task-options-field-divider:before {
	content: '';
	position: absolute;
	background: #a5abb2;
	display: block;
	top: 0;
	bottom: 0;
	left: 25px;
	right: 0;
	margin: auto;
	height: 2px;
}

.task-options-field-divider:hover:before {
	right: 15px;
}

.task-options-field-divider:after {
	content: '';
	position: absolute;
	left: 25px;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 11px;
	height: 2px;
	background: #a5abb1;
	box-shadow: 0 -4px 0 0 #a5abb1, 0 4px 0 0 #a5abb1, 5px 0px 0 0 #f8f9fa, -5px 0px 0 0 #f8f9fa;
	display: none;
}

.task-options-field-divider-close {
	display: none;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -15px;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
	opacity: 0.5;
}

.task-options-field-divider:hover:after,
.task-options-field-divider:hover .task-options-field-divider-close {
	display: block;
}


.task-checklist .task-dashed-link {
	margin: 0 0 5px 25px;
}

.task-checklist-field-add + .task-dashed-link {
	line-height: 30px;
	margin: 10px 0 5px;
	overflow: hidden;
	display: block;
}

.task-dashed-link {
	display: inline-block;
	vertical-align: middle;
	line-height: 22px;
	font-size: 14px;
	color: #1f67b0;
}

.task-dashed-link-inner {
	border-bottom: 1px dashed rgba(31,103,176,0.5);
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 18px;
}

.task-dashed-link .task-dashed-link-active,
.mode-unit-selected-days [data-unit="days"],
.mode-unit-selected-hours [data-unit="hours"],
.mode-unit-selected-mins [data-unit="mins"]{
	color: #535c69;
	font-weight: bold;
	border-bottom: 1px dashed transparent;
	cursor: default;
}

.task-dashed-link .task-dashed-link-inner:hover {
	border-bottom: 1px dashed rgba(31,103,176,1);
}

.task-options-strings-blocks {
	list-style-type: none;
	margin: 0 5px;
	border-spacing: 15px;
	min-width: 835px;
}

.task-options-sheduling-block {
	position: relative;
	margin-top: 0;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	max-width: 660px;
	height: 0;
	opacity: 0;
}

.task-options-item-open-inner-sh .task-options-sheduling-block,
.task-options-item-open-inner-sett .task-options-settings-block {
	height: auto;
	opacity: 1;
	margin-top: 11px;
}

.task-options-destination-block {
	position: relative;
}

.task-options-destination {
	position: relative;
	background: #bcedfc;
	color: #1f6ab5;
	padding: 0 13px;
	line-height: 30px;
	display: inline-block;

	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}
.task-inline-selector-item.hover-delete .task-options-destination{
	background: #86e2ff;
}

.task-options-destination .task-option-inp-del:after {
	width: 6px;
	height: 6px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat -2px -17px;
}

.task-options-destination-title {
	font-size: 14px;
	color: #5e6675;
	min-width: initial;
	margin-right: 15px;
	width: 120px;
	vertical-align: top;
	padding: 13px 0 13px 0;
}

.task-options-destination-text {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}

.task-options-destination-wrap .task-options-date {
	width: 100%;
	height: 38px;
	border: none;
	position: absolute;
	margin: -4px -5px 0;
}

.task-options-destination-wrap .task-options-inp {
	height: 30px;
	line-height: 30px;
}

.task-options-item-destination .task-options-item-open-inner {
	display: block;
	overflow: hidden;
}
.task-options-item-open-inner.wide {
	width: 100%;
}

.task-options-destination-wrap {
	position: relative;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	padding: 5px 5px 0 5px;
	background: #fff;
	max-width: 786px;
	min-height: 35px;
}
.task-options-destination-wrap.date {
	min-height: 35px;
}

span.task-options-destination-wrap {
	display: inline-block;
	vertical-align: middle;
	min-width: 191px;
	max-width: none;
	margin: 0 10px 0 0;
	width: auto;
}

.task-options-destination-loader {
	color: gray;
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
	line-height: 32px;
	padding: 0 0 4px 10px;
}

.task-options-destination-wrap-popup {
	position: absolute;
	padding: 20px;
	font-size: 13px;
	color: #000;
	background: #fff;
	z-index: 3;
	top: -65px;
	box-shadow: 2px 6px 21px 0 rgba(83,92,106,0.15);
}

.task-options-destination-wrap-popup:before {
	content: '';
	position: absolute;
	border: 10px solid transparent;
	border-top: 10px solid #fff;
	border-bottom: none;
	bottom: -10px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0;
	height: 0;
}

.task-dashed-link-add .task-dashed-link-inner {
	color: #5e6675;
	margin: 0 0 0 10px;
	border-bottom: 1px dashed rgba(94,102,117,0.5);
}

.task-dashed-link-add .task-dashed-link-inner:first-child {
	margin-left: 0;
}

.task-dashed-link-add .task-dashed-link-inner:hover {
	border-bottom: 1px dashed #5e6675;
}

.task-option-inp-del {
	width: 30px;
	height: 30px;
	margin: auto;
	z-index: 1;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-right: -13px;
}

.task-option-inp-del:after {
	content: '';
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -15px;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0.2;
}

.task-option-inp-del:hover:after {
	opacity: 0.4;
}

.task-options-divider-block {
	padding:  0 15px;
}

.task-options-divider {
	height: 1px;
	position: relative;
}

.task-options-divider:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	background: #e7e9eb;
}

.task-options-sheduling-block .task-options-divider,
.task-options-settings-block .task-options-divider {
	margin-bottom: 11px;
}

.task-options-panel {
	margin: -20px 0;
	padding: 16px 0;
}

.task-options-panel-item-container {
	overflow: hidden;
}

.task-options-panel-item {
	position: relative;
	cursor: pointer;
	font-size: 14px;
	color: rgba(94,102,117,0.7);
	padding: 0 10px;
	display: inline-block;
	line-height: 32px;
}

.task-options-panel-item:hover {
	color: rgba(94,102,117,1);
}

.task-options-panel-more {
	color: #5e6675;
	padding-left: 26px;
	float: left;
	font-weight: bold;
}

.task-options-panel-more:hover:before {
	opacity: 1;
}

.task-options-panel-more:before {
	content: '';
	position: absolute;
	width: 11px;
	height: 7px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -197px;
	top: 0;
	bottom: 0;
	left: 7px;
	margin: auto;
	opacity: 0.7
}

.task-options-panel-more-open:before,
.task-options-panel.open .task-options-panel-more:before{
	background-position: 0 -207px;
}

.task-options-panel-hide {
	float: right;
}

.task-options-item {
	position: relative;
	padding: 11px 30px 11px 0;
	border-bottom: 1px solid #e6e9ec;
	margin: 0 20px;
	/*overflow: hidden;*/
}

.task-options-item-project .task-options-destination-text {
	max-width: 360px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.task-options-item-open .task-dashed-link {
	display: block;
	margin: 11px 0;
	line-height:19px;
}
.task-options-field-duration .task-dashed-link {
	display: block;
	margin: 0;
}

.task-dashed-link-terms.task-dashed-link {
	display: inline-block;
	margin: auto;
}

.task-options-destination-input-box {
}

.task-options-destination-inp {
	background: #fff;
	border: none;
	color: #555;
	display: inline-block;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 30px;
	min-width: 108px;
	outline: none;
	padding: 0;
	vertical-align: middle;
}

.task-options-destination-link {
	border-bottom: 1px solid transparent;
	color: #2067b0;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	line-height: 17px;
	text-decoration: none;
	vertical-align: middle;
	position: relative;
	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
	margin: 6px 10px 7px 10px;
}

.task-options-destination-link:hover {
	border-bottom: 1px solid;
	color: #2067b0;
}

/*
.task-options-item:last-child {
	border-bottom: none;
}
*/

.task-options-item-param {
	color: #5e6675;
	font-size: 14px;
	text-align: left;
	padding-right: 10px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
	width: 130px;
}

.task-options-item-destination .task-options-item-param {
	float: left;
	margin: 11px 4px 11px 0;
}

.task-options-task-other {
	border-spacing: 0;
}

.task-options-task-other thead td {
	padding: 10px 5px;
	font-size: 13px;
	color: #535c69;
}

.task-options-task-other td:first-child {
	position: relative;
	white-space: normal;
}

.task-options-task-other td {
	border-bottom: 1px solid #e6e9ec;
	padding: 7px 1px;
	white-space: nowrap;
}

.task-options-task-other td:nth-of-type(5) .task-option-fn {
	max-width: 245px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.task-options-task-other tbody td:last-child .task-option-fn {
	padding-left: 10px;
	border-left: 1px solid #dfe4e6;
	line-height: 48px;
}

.task-options-task-other .task-options-inp-container {
	width: 135px;
}

.task-options-task-other .task-options-inp-container.task-options-inp-int {
	width: 58px;
}

.task-options-task-other .task-options-inp-container.task-options-inp-amt {
	width: 40px;
}

.task-options-task-other .task-option-fn {
	margin-left: 5px;
}

.task-options-task-other .task-field-title-del {
	top: 0;
	bottom: 0;
	right: 0;
}

.task-options-title-del {
	cursor: pointer;
	display: inline-block;
	height: 40px;
	opacity: 0.5;
	vertical-align: middle;
	width: 29px;
	position: relative;
}
.task-options-title-del:before {
	content: '';
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -13px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 14px;
	height: 12px;
}

.task-options-connect {
	border-spacing: 0;
}

.task-options-connect .task-dashed-link .task-dashed-link-inner {
	margin-right: 0;
}

.task-options-connect .task-dashed-link {
	display: inline-block;
	margin: 10px 0 0 5px;
}

.task-options-connect .task-options-field-inner {
	display: table-row;
	padding: 0;
	line-height: 38px;
}

.task-options-connect td {
	position: relative;
}

.task-options-connect td:first-child {
	vertical-align: top;
}

.task-options-connect .task-field-label {
	padding-top: 10px;
}

.task-options-item-timeman .task-field-label {
	margin: 12px 5px 12px 0;
}

.task-options-item-se-projectdependence .task-dashed-link {
	margin: 10px 0;
}

.task-options-inp-container {
	position: relative;
	width: 200px;
	height: 36px;
	line-height: 36px;
	background: #fff;
	border: 1px solid #c6cdd3;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 2px;
}

.task-options-inp-container-period {
	width: 130px;
}

.webform-buttons-fixed {
	box-shadow: 0 -2px 4px 0 #c6c9cb;
	overflow: hidden;
	position: fixed;
	left: 240px;
	right: 84px;
	bottom: 0;
	z-index: 99;
	padding: 15px;
	background: #fff;
	text-align: left;
}

/*----------------------------------------------------------------------*/
.task-top-panel {
	padding: 0 15px 15px;
	border-bottom: 1px solid #f0f1f2;
	margin-bottom: 13px;
	overflow: hidden;
	line-height: 46px;
}

.task-top-panel-link {
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
	color: #535c69;
	padding: 0 10px;
}

.task-info-head {
	height: 50px;
	background: #d6f1fb;
	padding: 0 17px;
	line-height: 50px;
}

.task-info-head-title {
	font-weight: bold;
	font-size: 15px;
	color: #535c69;
}

.task-info-head-panel {
	float: right;
}

.task-info-head-panel-action {
	position: relative;
	display: inline-block;
	width: 22px;
	height: 22px;
	cursor: pointer;
	vertical-align: middle;
}

.task-info-head-panel-action:before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 12px;
	height: 2px;
	background: #929ca5;
	box-shadow: 0 -4px 0 0 #929ca5, 0 4px 0 0 #929ca5;
}

.task-info-head-panel-action:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border: 3px solid transparent;
	border-top: 3px solid #929ca5;
	height: 0;
	border-bottom: none;
}

.task-info-head-panel-priority {
	margin-right: 15px;
	vertical-align: middle;
	font-size: 12px;
	color: #535c69;
}

.task-info-head-panel-priority span {
	border-bottom: 1px dashed;
	position: relative;
	margin-left: 18px;
	cursor: pointer;
}

.task-info-head-panel-priority span:hover {
	border-bottom: 1px dashed transparent;
}

.task-info-head-panel-priority span:before {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #a2b1ba;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -13px;
	margin: auto;
}

.task-info-head-panel-priority .task-info-priority-low:before {
	background: #a2b1ba;
}

.task-info-head-panel-priority .task-info-priority-middle:before {
	background: #25990a;
}

.task-info-head-panel-priority .task-info-priority-high:before {
	background: #ea1e1e;
}

.task-info-main {
	padding: 18px;
	background: #f0f4f5;
}

.task-info-main-panel-view {
	position: relative;
	float: right;
	font-size: 13px;
	color: #535c69;
	padding: 0 15px;
	line-height: 32px;
	border-left: 1px solid #edeef0;
	cursor: pointer;
}

.task-info-main-panel-view:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 3px;
	margin: auto;
	border: 3px solid transparent;
	border-top: 3px solid #929ca5;
	height: 0;
	border-bottom: none;
}

.task-options-title-set-wrap {
	right: 7px;
	top: 0;
	position: absolute;
}

.task-field-label-title {
	display: block;
	color: #565e6a;
	font-size: 13px;
	text-align: left;
	font-weight: bold;
	line-height: 26px;
	padding-left: 30px;
}

.task-options-field-duration .task-options-inp-container {
	width: 133px;
}

.task-options-field-duration .task-dashed-link {
	text-align: right;
	display: block;
	margin-top: 5px;
	line-height: normal;
}

.task-options-field-duration .task-dashed-link .task-dashed-link-inner {
	margin: 0 10px 0 0;
}

.task-options-radio {
	display: inline-block;
	vertical-align: middle;
}

.task-field-label {
	display: inline-block;
	font-size: 14px;
	color: #535c69;
	vertical-align: middle;
	line-height: 18px;
	margin-right: 5px;
}

.task-field-checkbox {
	float: left;
	margin: 3px 8px 1px 0;
	top: auto;
	width: auto;
	height: auto;
}

.task-options-settings-block {
	position: relative;
	max-width: 660px;
}

.task-options-settings-block a {
	margin: 2px 0 0 6px;
	vertical-align: middle;
	display: inline-block;
	border-bottom: 1px solid transparent;
}

.task-options-settings-block a:hover {
	border-bottom: 1px solid;
}

.task-options-checkbox + .task-field-label {
	overflow: hidden;
	display: block;
}

.task-options-checkbox:checked + .task-field-label {
	text-decoration: line-through;
}

.task-options-param .task-field-label {
	display: inline-block;
	line-height: 38px;
	vertical-align: middle;
}

.task-options-param .task-options-checkbox {
	margin: 13px 8px 12px 0;
}

.task-options-param .task-options-inp-container {
	margin: 0;
}

.task-options-param .task-options-field {
	margin: -6px 0;
}

.task-options-param .task-options-help {
	margin: 11px 0 11px 5px;
}

.task-options-param .task-field-drg-btn {
	top: 10px;
}

.task-options-param .task-options-inp-container {
	width: 72px;
}

.task-field-label-br {
	display: block;
	margin: 5px 0 5px;
}

.task-options-field-ready .task-field-label {
	text-decoration: line-through;
}

.task-options-day-container {
	line-height: 38px;
	background: #eeeff1;
	display: inline-block;
	border-radius: 2px;
}

.task-options-day {
	display: inline-block;
	padding: 0 17px;
}

.task-options-day input {
	margin: 0;
	vertical-align: middle;
}

.task-options-help {
	margin-left: 5px;
	margin-top: 2px;
	float: right;
	font-size: 0;
}

.task-options-field-left .task-dashed-link {
	font-size: 13px;
}

.task-options-inp-container .task-dashed-link {
	line-height: 36px;
	margin-left: 8px;
	position: absolute;
	z-index: 3;
}

.task-options-date .task-options-inp {
	padding-right: 32px;
}

.task-options-date:after {
	content: '';
	position: absolute;
	width: 18px;
	height: 15px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -269px;
	right: 6px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
	opacity: 0.7;
}

.task-options-inp {
	position: absolute;
	line-height: 36px;
	font-size: 15px;
	border: none;
	top: 0;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
	padding: 0 8px;
	background: transparent;
	z-index: 2;
	outline: none;
	color: #535c69;
	height: 36px;
}

select.task-options-inp {
	padding: 0 4px;
}

.task-options-date .task-option-inp-del {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
	background: #fff;
}

.task-options-inp-container-time {
	color: #535c69;
	line-height: 39px;
	display: inline-block;
	vertical-align: middle;
}

.task-options-inp-container-time .task-options-inp-container {
	width: 51px;
	margin: 0 5px;
}

.task-option-fn {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #535c69;
	margin-right: 5px;
	line-height: 38px;
}

.task-options-inp-int {
	width: 50px;
}

.task-options-connect {
	display: none;
}

.task-options-item-open-inner {
	display: inline-block;
	vertical-align: middle;
}

.task-options-item-open .task-options-item-open-inner {
	vertical-align: top;
}

.task-options-item-open .task-options-item-param {
	padding: 11px 10px 11px 0;
}

.task-options-item-more {
	display: inline-block;
}

.task-options-item-open-inner-sett {
	margin-left: 145px;
	display: block;
}

.task-field-label-repeat {
	padding: 12px 0;
}

.task-options-field-fn,
.task-message-label{
	font-size: 14px;
	color: #5e6675;
	background: #ebf5b5;
	line-height: 17px;
	padding: 11px 15px;
	position: relative;
	max-width: 585px;
}
.task-message-label {
	margin-bottom: 10px;
}
.task-options-field-fn {
	margin-top: 13px;
}

.task-options-field-fn span {
	display: block;
	overflow: hidden;
}

.task-options-field-ok {
	background: #d5f9af;
}

.task-options-field-warning,
.task-message-label.error{
	background: #fee7e7;
}

.task-options-field-norm,
.task-message-label.warning {
	background: #ffeca8;
}

.task-options-field-red {
	background: #ffdcdc;
}

.task-options-field-ok:before {
	content: '';
	width: 15px;
	height: 14px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -251px;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

.task-options-field-warning:before,
.task-message-label.error:before {
	content: '';
	width: 16px;
	height: 16px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -232px;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

.feed-add-destination-plus {
	height: 18px;
	border-bottom: 1px solid transparent;
	color: #2067b0;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin: 7px 0 7px 0;
	line-height: 17px;
	text-decoration: none;
	vertical-align: top;
	position: relative;
	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.feed-add-destination-link:before, .task-options-tags-add:before {
	display: none;
}

.task-options-destination-wrap .feed-add-destination-link {
	margin-bottom: 0px;
	margin-left: 5px;
}

.task-options-strings-blocks li.task-options-destination-block {
	padding: 5px 0px;
	margin-top: 0;
}

.task-options-field-left.task-options-field-nol {
	margin-top: 21px;
	margin-right: 0;
}

.task-options-field-nol {
	margin: 24px 0 15px 0;
}

.task-options-repeat .task-options-field-nol .task-options-field {
	display: block;
	padding: 7px 12px 7px 7px;
	background: #edf1f2;
	margin: 0 1px 3px 0;
}

.task-options-field-nol .task-options-field .task-field-label {
	line-height: 38px;
	margin-right: 0;
}

.task-option-save {
	position: relative;
	float: right;
	font-size: 13px;
	color: #aaadb2;
	border-bottom: 1px dashed;
	margin: 11px 0;
	cursor: pointer;
}

.task-option-save:hover {
	border-bottom: 1px dashed transparent;
}

.task-options-task-name {
	font-weight: bold;
	font-size: 14px;
	color: #1f67b0;
	text-decoration: underline;
	max-height: 64px;
	display: block;
	overflow: hidden;
	position: relative;
	width: 165px;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 5px;
}

@media only screen and (max-width: 1200px) and (min-width: 0) {
	.webform-small-button-text span {
		display: none;
	}
	.task-options-task-other td:first-child {
		white-space: normal;
		max-width: 170px;
	}
}

@media only screen and (min-width: 1300px) {
	.task-options-task-name {
		width: 230px;
	}
	.task-options-task-other td {
		padding: 7px 7px;
	}
	.task-options-task-other .task-options-inp-container {
		width: 150px;
	}
}

/* for js logic */
.user-item-set-empty-true .user-item-set-empty-block-on,
.user-item-set-empty-false .user-item-set-empty-block-off,
.group-item-set-empty-true .group-item-set-empty-block-on,
.group-item-set-empty-false .group-item-set-empty-block-off,
.tag-item-set-empty-true .tag-item-set-empty-block-on,
.tag-item-set-empty-false .tag-item-set-empty-block-off,
.task-item-set-empty-true .task-item-set-empty-block-on,
.task-item-set-empty-false .task-item-set-empty-block-off
{
	display: none !important;
}

.hidden-soft {
	display: none;
}

.task-options-destination-loader {
	color: gray;
	font-size: 13px;
	padding: 1px 0 0 10px;
}

.search .task-options-destination-link,
.search .feed-add-destination-link{
	display: none;
}

.task-options-destination-inp,
.task-options-destination-loader{
	display: none;
}

.search .task-options-destination-input-box {
	display: inline-block;
}

.loading .task-options-destination-loader,
.search.ready .task-options-destination-inp {
	display: inline-block;
}

/*
.mode-loading .task-options-destination-input-box,
.mode-loading .task-options-destination-loader

.search .task-options-destination-input-box,
.expanded .task-options-destination-input-box{
    display: inline-block;
}
.search.expanded .task-options-destination-inp{
    display: inline;
}
*/

.tasks-task-mpf-link {
	margin-right: 15px;
	position: relative;
	cursor: pointer;
	opacity: 0.5;
	top: -8px;
}

/*
.user-item-set-min.search .task-inline-selector-item {
    display: none;
}
*/

/*
.search .task-inline-selector-item,
.expanded .task-inline-selector-item
{
    display: none;
}
*/

.tasks-task-mpf-link:hover {
	opacity: 1;
}

.task-openable-block {
	overflow: hidden;
}

.task-openable-block.invisible {
	height: 0;
	opacity: 0;
}
.task-edit-block-place.invisible {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.task-inline-selector-item {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	white-space: nowrap;
	margin: 0 5px 5px 0;
	height: 30px;
}

.task-inline-selector-item-mail .task-options-destination,
.task-inline-selector-item-extranet .task-options-destination {
	background: #ffed8b;
}

.task-inline-selector-item-mail .task-options-destination-text,
.task-inline-selector-item-extranet .task-options-destination-text,
.task-inline-selector-item-mail:hover .task-options-destination-text,
.task-inline-selector-item-extranet:hover .task-options-destination-text {
	color: #bf7700;
}

.task-inline-selector-item-mail.hover-delete .task-options-destination,
.task-inline-selector-item-extranet.hover-delete .task-options-destination{
	background: rgba(255,237,139,0.5);
}

.task-inline-selector-item-mail .task-options-destination-text:before,
.task-inline-selector-item-extranet .task-options-destination-text:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 14px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -351px;
	margin-right: 5px;
}

.task-inline-selector-item-mail .task-options-destination-text:before {
	background-position: 0 -366px;
}

.task-inline-selector-item.invisible {
	opacity: 0;
	overflow: hidden;
	width: 0;
}
.task-inline-selector-item.fixed-width {
	min-width: 150px;
}

.task-hide-label,
.mode-opened .task-additional-label {
	display: none;
}

.mode-opened .task-hide-label {
	display: inline-block;
}

.mode-replication-off .task-options-repeat {
	display: none;
}

.task-repeat-warning {
	display: none;
}

.mode-replication-off .task-repeat-warning {
	display: block;
}

.webform-buttons.pinned {
	box-shadow: 0 -2px 4px 0 #c6c9cb;
	overflow: hidden;
	position: fixed;
	left: 240px;
	right: 84px;
	bottom: 0;
	z-index: 99;
	padding: 15px;
	background: #fff;
	/*text-align: left;*/
}

.tasks-success-message {
	height: 500px;
	color: green;
}

/* alternative additional block */

.task-additional-alt {
	cursor: pointer;
	padding-bottom: 15px;
	border-bottom: 1px solid #f0f1f3;
}

.task-additional-alt-promo {
	overflow: hidden;
	padding-left: 10px;
	color: rgba(94, 102, 117, 0.7);
	min-height: 20px;
}

.task-additional-alt-promo:before {
	content: "("
}
.task-additional-alt-promo:after {
	content: ")"
}

.task-additional-alt-promo-text {
	margin-right: 5px;;
	line-height: 18px;
}

.task-additional-alt-promo-text:last-child {
	margin-right: 0;
}
.task-additional-alt-promo-text:after {
	content: ","
}

.task-additional-alt-promo-text:last-child:after {
	content: ""
}

.task-additional-alt-more {
	display: inline-block;
	overflow: hidden;
	float: left;
	font-weight: bold;
	padding-left: 26px;
	cursor: pointer;
	color: #5e6675;
	position: relative;
}
.task-additional-alt-more:hover {
	opacity: 1;
}
.task-additional-alt-more:before {
	content: '';
	position: absolute;
	width: 11px;
	height: 7px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -197px;
	top: 0;
	bottom: 0;
	left: 7px;
	margin: auto;
	opacity: 0.7;
}
.task-additional-alt:hover .task-additional-alt-more:before {
	opacity: 1;
}

.task-additional-alt.opened .task-additional-alt-more:before{
	background-position: 0 -207px;
}

.task-checklist-container {
	position: relative;
}
.task-options-more {
	margin-top: 0;
}
.tasks-form-footer-container {
	position: relative;
	text-align: left;
}

.tasks-form-footer-container .webform-button-link {
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 12px;
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-ms-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #535b69;
	border: none;
	position: relative;
	line-height: 39px;
	height: 39px;
	margin: 0;
}

.tasks-form-footer-container .webform-button-link:hover {
	border: none;
	color: #80868E;
}

/* pin */

.task-option-fixedbtn {
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	top: 17px;
	right: 0;
	visibility: hidden;
}
.task-option-fixedbtn:after {
	content: '';
	width: 17px;
	height: 17px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -51px;
	position: absolute;
	margin: auto;
	top: 8px;
	left: 8px;
	opacity: 0.5;
}
.task-option-fixedbtn:hover:after {
	opacity: 1;
}
.pinned .task-option-fixedbtn:after{
	background-position: 2px -68px;
}

.task-checklist-container .task-option-fixedbtn {
	top: 26px;
	right: 26px;
}
.tasks-form-footer-container .task-option-fixedbtn {
	top: 9px;
	right: 30px;
}

.pinned .task-option-fixedbtn,
.pinable-block:hover .task-option-fixedbtn{
	visibility: visible;
}

.task-destination-control {
}

.task-options-date.t-empty .task-option-inp-del {
	display: none;
}
.task-edit-crm-block {
	margin: 13px 0;
}

.task-property-name {
	margin-top: 14px;
}
.task-property-value {
	margin-top: 5px;
	margin-bottom: 15px;
}

.task-options-destination-wrap.readonly .task-options-destination{
	background: #B8BCBF;
}
.task-options-destination-wrap.readonly .task-options-destination a {
	color: #F8F9FA;
}
.task-options-destination-wrap.readonly .feed-add-destination-link {
	display: none;
}