.sender-call-number-container {
	flex: 1;
}

.sender-call-number-informer {
	display: flex;
	align-items: center;
	padding: 10px 16px;
	min-height: 48px;
	border-radius: 2px;
	background: #F8FAFB;
	color: #525C69;
	box-sizing: border-box;
}

.sender-call-number-name {
	display: inline-block;
	margin: 0 5px 0 0;
}

.sender-call-number-link {
	display: inline-block;
	margin: 0 5px 0 0;
	border-bottom: 1px dashed #7BAEE0;
	color: #0063C6;
	transition: border-bottom .3s;
}

.sender-call-number-link:hover {
	border-bottom: 1px dashed transparent;
	color: #0063C6;
	cursor: pointer;
}

.sender-call-number-informer-hint {
	margin: 0 0 0 auto;
}