.ftr-set-cont-error {
  background: #ffd1d1;
  background-image: -webkit-linear-gradient(top, #fedcdc, #ffd1d1);
  background-image: -moz-linear-gradient(top, #fedcdc, #ffd1d1);
  background-image: -ms-linear-gradient(top, #ffd1d1, #fb8787);
  background-image: -o-linear-gradient(top, #ffd1d1, #fb8787);
  background-image: linear-gradient(to bottom, #fedcdc, #ffd1d1);
  border: 1px solid;
  border-color: #dcbebe #d9adad #d9adad;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #4a4a4a;
  font-size: 12px;
  margin-bottom: 14px;
  text-shadow: 0 1px #fff;
  padding: 11px 16px 12px;
}

.ftr-set-cont-info {
  background: #e0ffcc;
  background-image: -webkit-linear-gradient(top, #e0ffcc, #c5ffa9);
  background-image: -moz-linear-gradient(top, #e0ffcc, #c5ffa9);
  background-image: -ms-linear-gradient(top, #e0ffcc, #9cff6c);
  background-image: -o-linear-gradient(top, #e0ffcc, #9cff6c);
  background-image: linear-gradient(to bottom, #e0ffcc, #c5ffa9);
  border: 1px solid;
  border-color: #b5dccf #9ed9b4 #7dd99e;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  color: #4a4a4a;
  font-size: 12px;
  margin-bottom: 14px;
  text-shadow: 0 1px #fff;
  padding: 11px 16px 12px;
}

.ftr-set-select-block {
  padding-top: 14px;
}

.ftr-set-select-label {
  display: inline-block;
  font-size: 14px;
  color: #41474f;
  margin-right: 15px;
  vertical-align: middle;
}

.ftr-set-select {
  background-color: #fff;
  border: 1px solid;
  border-color: #b9bcbe #bcc0c2 #c1c5c8;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 27px;
  padding: 2px;
}

.ftr-set-item-select-wrap {
  display: inline-block;
  margin-right: 10px;
}

.ftr-set-main-wrap {
  margin: 3px;
}

.ftr-set-item-crm-rule {
  height: 0;
  transition: height .5s;
  padding: 0!important;
  overflow: hidden;
  white-space: nowrap;
}

.ftr-set-top-title {
  background-image: -webkit-linear-gradient(top, #d3edf7, #b5e1f1);
  background-image: -moz-linear-gradient(top, #d3edf7, #b5e1f1);
  background-image: -ms-linear-gradient(top, #d3edf7, #b5e1f1);
  background-image: -o-linear-gradient(top, #d3edf7, #b5e1f1);
  background-image: linear-gradient(to bottom, #d3edf7, #b5e1f1);
  border: 1px solid;
  border-color: #c6e4ef #acdaea;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  color: #41474f;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 34px;
  padding-left: 12px;
  text-shadow: 0 1px #fff;
}

.ftr-set-cont-block {
  padding-right: 5px;
}

.ftr-set-cont-title {
  background-color: #eef3f4;
  color: #5c6470;
  font-size: 16px;
  font-weight: bold;
  line-height: 37px;
  height: 38px;
  margin-bottom: 28px;
  padding: 0 20px;
}

.ftr-set-item {
  margin: 0 20px 0 24px;
  overflow: hidden;
  padding-bottom: 20px;
  vertical-align: top;
}

.ftr-set-inner .ftr-set-item {
  margin: 0;
  padding-bottom: 10px;
}

.ftr-set-checkbox {
  margin: 0 9px 0 0;
}

.ftr-set-item-cont-block {
  overflow: hidden;
  vertical-align: top;
}

.ftr-set-cont-item-title {
  color: #000;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 12px;
}



.ftr-set-item-text {
  font-size: 13px;
  color: #000;
  padding-bottom: 13px;
}

.ftr-set-item-select-block {
  padding-bottom: 14px;
}

.ftr-set-item-select-text {
  color: #000;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}

.ftr-set-item-select {
  border: 1px solid;
  border-color: #b9bcbe #bdc1c3 #c1c5c8;
  -webkit-box-shadow: inset 0 1px 2px #dbdbdb;
  box-shadow: inset 0 1px 2px #dbdbdb;
  border-radius: 2px;
  height: 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-width: 180px;
  margin: 0;
  outline: none;
  padding: 7px 6px 6px 3px;
  vertical-align: middle;
  width: auto !important;
}

.ftr-set-item-input {
  min-width: 380px;
}

.ftr-set-item-select option {
  padding: 7px 6px 6px 3px;
}

.webform-small-button-link {
  cursor: pointer;
  color: #000;
}

.ftr-set-footer-btn {
  padding: 0 0 26px;
  text-align: center;
}

.ftr-set-footer-btn .webform-button,.ftr-set-footer-btn .webform-small-button-link {
  vertical-align: middle !important;
}

.ftr-set-footer-btn .webform-small-button-link {
  margin-top: -2px;
}

.ftr-set-wrap {
  padding: 17px 0 0 15px;
  max-width: 1200px;
  overflow: hidden;
}

.ftr-set-wrap-small {
  max-width: 900px;
}

.ftr-set-block-wrap {
  color: #000;
  margin-top: 45px;
  font-size: 13px;
  position: relative;
}

.ftr-set-block-wrap-2 {
  margin-top: 20px;
}

.ftr-set-block {
  background-color: #f4f8f9;
  border: 1px solid;
  border-color: #cfd1d2 #d1d5d6 #d3d7d8;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px #e4e8e9;
  box-shadow: inset 0 1px 2px #e4e8e9;
  padding: 0 25px 0;
  overflow: hidden;
}

.ftr-set-block-inner-wrap {
  display: none;
}

.ftr-set-inp-wrap {
  overflow: hidden;
  padding: 0 6px;
}

.ftr-set-inp {
  background-color: #fff;
  border: 1px solid;
  border-color: #b9bcbe #bdc1c3 #c1c5c8;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px #e7e7e7;
  box-shadow: inset 0 1px 2px #e7e7e7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 39px;
  outline: none;
  padding: 0 5px;
  vertical-align: middle;
  width: 275px;
}

.ftr-set-inp-disabled {
  background-color: #d9d9d9;
}

.ftr-set-inp-name .ftr-set-inp {
  width: 100%;
}

.ftr-set-checkbox {
  display: inline-block;
  margin: 0 5px 0 0;
}

.ftr-set-label {
  color: #000;
  display: inline;
  font-size: 13px;
  vertical-align: middle;
}

.ftr-set-footer .webform-button {
  margin-left: 6px;
}

.ftr-set-inner-wrap {
  border-radius: 0 0 3px 3px;
  border: 1px solid #b2c6cc;
  border-top: none;
  padding: 19px 12px 0;
}

.ftr-set-inner {
  overflow: hidden;
  padding-top: 34px;
  padding-bottom: 34px;
}

.ftr-set-title {
  color: #000;
  font-size: 19px;
  padding: 3px 0 42px;
}

.ftr-set-item-error-block {
  margin: 0 !important;
}

.ftr-set-cont-title-link {
  border: 1px solid #ebecec;
}

.ftr-set-item-block {
  color: #000;
  background-color: #fafcfc;
  border: 1px solid;
  border-color: #d8e4e7 #d5e1e5 #d3dfe2;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(88, 112, 118, .1);
  border-radius: 3px;
  font-size: 13px;
  padding: 14px 25px 14px 25px;
  max-width: 824px;
  margin-bottom: 18px;
}

.ftr-set-item-block .ftr-set-item {
  display: inline-block;
  vertical-align: middle;
}

.ftr-set-cont-left .ftr-set-item,.ftr-set-item-block .ftr-set-item {
  position: relative;
  padding-bottom: 20px;
  white-space: nowrap;
}

.ftr-set-item-block-inp .ftr-set-item:first-child {
  margin-right: 30px;
}

.ftr-set-item-block-inp .ftr-set-item:first-child {
  margin-right: 23px;
}

.ftr-set-b-text-block {
  font-weight: bold;
  margin-bottom: 18px;
}

.ftr-set-text-block {
  margin-bottom: 18px;
}

.ftr-set-select-block {
  margin-bottom: 18px;
}

.ftr-set-select-block .ftr-set-item-select {
  margin-bottom: 8px;
  width: 210px;
}

.ui-btn.ftr-set-footer-btn-link {
  font-size: 14px;
}