.task-checklist .task-detail-link{
	margin: 0 0 5px 25px;
}

.task-checklist-title{
	display: inline-block;
	color: #535c69;
	font-size: 14px;
	line-height: 18px;
	margin: 0 8px 8px 0;
	padding: 0;
}

.task-checklist-status{
	font-size: 13px;
	color: rgba(83, 92, 105, .7);
	font-weight: normal;
}

.task-checklist-subtitle{
	position: relative;
	color: rgba(83, 92, 105, .6);
	font-weight: bold;
	font-size: 9px;
	text-transform: uppercase;
	margin: 15px 0 5px;
}

.task-checklist-subtitle span{
	cursor: pointer;
}

.task-checklist-subtitle-arrow:before{
	content: '';
	height: 0;
	border: 3px solid transparent;
	border-left-color: #c6cacf;
	border-right: none;
	display: inline-block;
	vertical-align: middle;
	margin: -2px 0 0 2px;
	width: 4px;
}

.task-checklist-subtitle-arrow.down:before{
	width: 0;
	border: 3px solid transparent;
	border-top-color: #c6cacf;
	border-bottom: none;
	margin: -1px 3px 0 0;
}

.task-checklist-status{
	opacity: 1;
	transition: opacity 0.2s linear;
}

.task-checklist-status.invisible{ opacity: 0; }

.task-checklist-resolved .tasks-checklist-dropzone.invisible,
.task-checklist-field-inner-add.invisible{
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.task-field-divider{
	position: relative;
	height: 16px;
	max-width: 690px;
	cursor: move;
	opacity: 0.4;
	transition: opacity .2s linear;
	margin-left: 25px;
}

.tasks-checklist-item.nodrag .task-field-divider{ cursor: auto; }

.task-field-divider:hover{ opacity: 1; }

.task-field-divider:before{
	content: '';
	position: absolute;
	background: #a5abb2;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 13px;
	margin: auto;
	height: 1px;
	-webkit-animation: divider-line-moveRight .5s linear;
	-moz-animation: divider-line-moveRight .5s linear;
	-ms-animation: divider-line-moveRight .5s linear;
	-o-animation: divider-line-moveRight .5s linear;
	animation: divider-line-moveRight .5s linear;
}
@-webkit-keyframes divider-line-moveRight{ 0%, 75%{ right: 30px } 100%{ right: 13px; } }
@-moz-keyframes divider-line-moveRight{ 0%, 75%{ right: 30px } 100%{ right: 13px; } }
@-ms-keyframes divider-line-moveRight{ 0%, 75%{ right: 30px } 100%{ right: 13px; } }
@-o-keyframes divider-line-moveRight{ 0%, 75%{ right: 30px } 100%{ right: 13px; } }
@keyframes divider-line-moveRight{ 0%, 75%{ right: 30px } 100%{ right: 13px; } }

.task-field-divider:hover:before{
	right: 30px;
	-webkit-animation: divider-line-moveLeft .125s linear;
	-moz-animation: divider-line-moveLeft .125s linear;
	-ms-animation: divider-line-moveLeft .125s linear;
	-o-animation: divider-line-moveLeft .125s linear;
	animation: divider-line-moveLeft .125s linear;
}
@-webkit-keyframes divider-line-moveLeft{ 0%{ right: 13px } 100%{ right: 30px; } }
@-moz-keyframes divider-line-moveLeft{ 0%{ right: 13px } 100%{ right: 30px; } }
@-ms-keyframes divider-line-moveLeft{ 0%{ right: 13px } 100%{ right: 30px; } }
@-o-keyframes divider-line-moveLeft{ 0%{ right: 13px } 100%{ right: 30px; } }
@keyframes divider-line-moveLeft{ 0%{ right: 13px } 100%{ right: 30px; } }

.tasks-checklist-item.nodrag .task-field-divider:hover:before{ right: 0; }

.task-field-divider:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 11px;
	height: 2px;
	background: #a5abb1;
	box-shadow: 0 -4px 0 0 #a5abb1, 0 4px 0 0 #a5abb1, 5px 0 0 0 #f8f9fa, -5px 0 0 0 #f8f9fa;
	opacity: 0;
	transition: opacity .2s linear;
}

.task-field-divider:hover:after{
	opacity: 1;
}

.task-field-divider-close{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 13px;
	margin: auto;
	cursor: pointer;
}

.task-field-divider-close:after,
.task-field-divider-close:before{
	content: "";
	position: absolute;
	height: 2px;
	width: 12px;
	background-color: #979797;
	top: 50%;
	left: 50%;
	opacity: 0;
	transition: 200ms opacity linear;
}

.task-field-divider-close:hover:after,
.task-field-divider-close:hover:before{
	opacity: 1 !important;
}

.task-field-divider .task-field-divider-close:before{
	-webkit-animation: divider-close-hide-before .5s linear;
	-moz-animation: divider-close-hide-before .5s linear;
	-ms-animation: divider-close-hide-before .5s linear;
	-o-animation: divider-close-hide-before .5s linear;
	animation: divider-close-hide-before .5s linear;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	transform: translateX(-50%) translateY(-50%) rotate(0deg);
}
@-webkit-keyframes divider-close-hide-before{
	0%, 50% { opacity: .7; }
	0% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);}
	50%, 100%{ -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	75%, 100%{ opacity: 0; }
}
@-moz-keyframes divider-close-hide-before{
	0%, 50% { opacity: .7; }
	0% { -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);}
	50%, 100%{ -moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	75%, 100%{ opacity: 0; }
}
@-ms-keyframes divider-close-hide-before{
	0%, 50% { opacity: .7; }
	0% { -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);}
	50%, 100%{ -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	75%, 100%{ opacity: 0; }
}
@-o-keyframes divider-close-hide-before{
	0%, 50% { opacity: .7; }
	0% { -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);}
	50%, 100%{ -o-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	75%, 100%{ opacity: 0; }
}
@keyframes divider-close-hide-before{
	0%, 50% { opacity: .7; }
	0% { transform: translateX(-50%) translateY(-50%) rotate(-45deg);}
	50%, 100%{ transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	75%, 100%{ opacity: 0; }
}

.task-field-divider .task-field-divider-close:after{
	-webkit-animation: divider-close-hide-after .5s linear;
	-moz-animation: divider-close-hide-after .5s linear;
	-ms-animation: divider-close-hide-after .5s linear;
	-o-animation: divider-close-hide-after .5s linear;
	animation: divider-close-hide-after .5s linear;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(0deg);
	transform: translateX(-50%) translateY(-50%) rotate(0deg);
}
@-webkit-keyframes divider-close-hide-after{
	0%, 50% { opacity: .7; }
	0% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);}
	50%, 100%{ -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	75%, 100%{ opacity: 0; }
}
@-moz-keyframes divider-close-hide-after{
	0%, 50% { opacity: .7; }
	0% { -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);}
	50%, 100%{ -moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	75%, 100%{ opacity: 0; }
}
@-ms-keyframes divider-close-hide-after{
	0%, 50% { opacity: .7; }
	0% { -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);}
	50%, 100%{ -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	75%, 100%{ opacity: 0; }
}
@-o-keyframes divider-close-hide-after{
	0%, 50% { opacity: .7; }
	0% { -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);}
	50%, 100%{ -o-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	75%, 100%{ opacity: 0; }
}
@keyframes divider-close-hide-after{
	0%, 50% { opacity: .7; }
	0% { transform: translateX(-50%) translateY(-50%) rotate(45deg);}
	50%, 100%{ transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	75%, 100%{ opacity: 0; }
}

.task-field-divider:hover .task-field-divider-close:before{
	-webkit-animation: divider-close-show-before .5s linear;
	-moz-animation: divider-close-show-before .5s linear;
	-ms-animation: divider-close-show-before .5s linear;
	-o-animation: divider-close-show-before .5s linear;
	animation: divider-close-show-before .5s linear;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	opacity: .7;
}
@-webkit-keyframes divider-close-show-before{
	0%, 25% { opacity: 0; }
	0%, 50% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	50%, 100%{ opacity: .7;}
	100%{ -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);}
}
@-moz-keyframes divider-close-show-before{
	0%, 25% { opacity: 0; }
	0%, 50% { -moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	50%, 100%{ opacity: .7;}
	100%{ -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);}
}
@-ms-keyframes divider-close-show-before{
	0%, 25% { opacity: 0; }
	0%, 50% { -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	50%, 100%{ opacity: .7;}
	100%{ -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);}
}
@-o-keyframes divider-close-show-before{
	0%, 25% { opacity: 0; }
	0%, 50% { -o-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	50%, 100%{ opacity: .7;}
	100%{ -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);}
}
@keyframes divider-close-show-before{
	0%, 25% { opacity: 0; }
	0%, 50% { transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	50%, 100%{ opacity: .7;}
	100%{ transform: translateX(-50%) translateY(-50%) rotate(-45deg);}
}

.task-field-divider:hover .task-field-divider-close:after{
	-webkit-animation: divider-close-show-after .5s linear;
	-moz-animation: divider-close-show-after .5s linear;
	-ms-animation: divider-close-show-after .5s linear;
	-o-animation: divider-close-show-after .5s linear;
	animation: divider-close-show-after .5s linear;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	opacity: .7;
}
@-webkit-keyframes divider-close-show-after{
	0%, 25% { opacity: 0; }
	0%, 50% { -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	50%, 100%{ opacity: .7;}
	100%{ -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);}
}
@-moz-keyframes divider-close-show-after{
	0%, 25% { opacity: 0; }
	0%, 50% { -moz-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	50%, 100%{ opacity: .7;}
	100%{ -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);}
}
@-ms-keyframes divider-close-show-after{
	0%, 25% { opacity: 0; }
	0%, 50% { -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	50%, 100%{ opacity: .7;}
	100%{ -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);}
}
@-o-keyframes divider-close-show-after{
	0%, 25% { opacity: 0; }
	0%, 50% { -o-transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	50%, 100%{ opacity: .7;}
	100%{ -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);}
}
@keyframes divider-close-show-after{
	0%, 25% { opacity: 0; }
	0%, 50% { transform: translateX(-50%) translateY(-50%) rotate(0deg);}
	50%, 100%{ opacity: .7;}
	100%{ transform: translateX(-50%) translateY(-50%) rotate(45deg);}
}

.task-field-divider-close:hover{
	opacity: 1;
}

.task-field-divider:hover:after,
.task-field-divider:hover .task-field-divider-close{
	display: block;
}

.tasks-checklist-item.nodrag .task-field-divider:hover:after,
.tasks-checklist-item.nodrag .task-field-divider:hover .task-field-divider-close{
	display: none;
}

.task-field-drg-btn{
	cursor: move;
	top: 0;
	left: 0;
	position: absolute;
	height: 34px;
	width: 25px;
	opacity: 0;
	transition: opacity .2s linear;
}

.task-field-drg-btn:hover{ opacity: 1 !important; }

.task-field-drg-btn:before{
	width: 11px;
	height: 2px;
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 7px;
	margin: auto;
	background: #c1c5cb;
	box-shadow: 0 -4px 0 0 #c1c5cb, 0 4px 0 0 #c1c5cb;
}

.task-checklist-field-inner:hover .task-field-drg-btn{ opacity: .7; }

input.task-checklist-field-checkbox{
	margin: 0;
	position: absolute;
	left: 27px;
	top: 11px;
}

input.task-checklist-field-add{
	border: 1px solid #c6cdd3;
	outline: none;
	line-height: 22px;
	color: #535c69;
	font-size: 14px;
	padding: 0 6px;
	height: 22px;
	border-radius: 2px;
	top: auto;
	width: 615px;
}

.block-on input.task-checklist-field-add{
	vertical-align: middle;
	display: inline-block;
}

.task-checklist-field-inner-add{
	padding: 0 60px 0 25px;
	display: block;
	position: relative;
}

.task-checklist-field-inner .task-checklist-field-add{
	max-width: 595px;
}

.task-checklist-field{
	position: relative;
	margin: 0 0 1px;
}

.task-checklist-field-inner{
	display: inline-block;
	padding: 8px 65px 8px 47px;
	margin: 0;
	position: relative;
	transition: background-color .2s linear;
	max-width: 100%;
}

.task-checklist-field-inner:hover{ background: #eceef0; }

.task-detail .task-checklist-field-inner:hover{ background: #f3f2e4; }

.task-checklist-field-label{
	display: block;
	font-size: 14px;
	color: #535c69;
	line-height: 18px;
}

.tasks-wg-checklist .task-dashed-link{ margin: 0 20px 0 0; }

.block-on .task-dashed-link{
	vertical-align: middle;
	display: inline-block;
}

.task-checklist-field-add + .task-dashed-link{
	line-height: 30px;
	margin: 10px 0 5px;
	overflow: hidden;
}

.tasks-btn-edit.task-field-title-edit,
.tasks-btn-delete.task-field-title-del {
	opacity: 0;
}

.tasks-btn-edit.task-field-title-edit,
.tasks-btn-delete.task-field-title-del,
.tasks-btn-apply.task-field-title-ok {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 2px;
	top: 2px;
	z-index: 2;
	transition: opacity .2s linear;
}

.tasks-btn-edit.task-field-title-edit{ right: 26px; }

.task-field-title-del:hover,
.task-field-title-edit:hover{ opacity: 1 !important; }

.task-checklist-field-inner:hover .tasks-btn-delete.task-field-title-del,
.task-checklist-field-inner:hover .tasks-btn-edit.task-field-title-edit {
	opacity: .7;
}

.tasks-btn-apply.task-field-title-ok{
	display: block;
	right: 30px;
}

.task-checklist-field-edit .task-checklist-field-inner,
.tasks-checklist-item.mode-edit .task-checklist-field-inner{
	width: 100%;
	box-sizing: border-box;
	max-width: 715px;
	padding: 5px 60px 5px 45px;
}

.task-detail .tasks-checklist-item.mode-edit .task-checklist-field-inner{ padding-left: 47px; }

.task-detail .tasks-checklist-item.mode-edit .task-checklist-field-checkbox{
	position: absolute;
	left: 25px;
}

.task-checklist-field-inner-add{
	width: 100%;
	box-sizing: border-box;
	max-width: 715px;
}

.task-detail .block-on input.task-checklist-field-add{ width: 735px; }

.task-options-param .task-field-title-edit,
.task-options-param .task-field-title-del{
	top: 0;
	bottom: 0;
	margin: auto;
}

.task-checklist-field-edit .task-field-title-edit,
.task-checklist-field-edit .task-field-title-del,
.task-checklist-field-edit .task-field-title-ok,
.tasks-checklist-item.mode-edit .task-field-title-edit,
.tasks-checklist-item.mode-edit .task-field-title-del,
.block-on.task-checklist-field-inner-add .task-field-title-del{ display: inline-block; }

.task-options-reminder .task-field-title-del{ float: right; }

.tasks-checklist-dropzone{ margin: 0 0 0 -20px; }

/* for js logic */
.hidden,
.mode-read .block-edit,
.off .block-on,
.mode-edit .block-read{ display: none !important; }

.task-checklist-field.flying .task-field-drg-btn{ opacity: .7; }

.task-checklist-field.flying,
.task-field-divider.flying{
	box-shadow: 1px 6px 43px -8px rgba(0, 0, 0, .64);
	background: #e6edef !important;
	opacity: 0.7 !important;
	width: 50%;
	max-width: 35%;
}

.task-checklist-field.flying .task-options-drg-btn,
.task-field-divider.flying .task-options-drg-btn{ opacity: 1 !important; }

.task-checklist-field.flying .task-options-drg-btn-f,
.task-field-divider.flying .task-options-drg-btn-f{
	width: 15px;
	height: 2px;
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 10px;
	margin: auto;
	background: #5e6675;
	box-shadow: 0 -4px 0 0 #5e6675, 0 4px 0 0 #5e6675;
}

.task-field-divider.flying:before{ left: 13px; }

.flying .task-field-divider:after{ display: block !important; opacity: 1; }

.tasks-checklist-dropzone .a-generic .separator,
.tasks-checklist-dropzone .a-separator .generic{ display: none; }

.task-checklist-actions{ margin: 6px 0 0 20px; }

.tasks-checklist-item-marker,
.tasks-checklist-zone-marker{
	height: 1px;
	font-size: 0;
	max-width: 677px;
	padding: 0;
	margin: 0 13px 0 25px;
}

.tasks-checklist-item.after .tasks-checklist-item-marker,
.tasks-checklist-dropzone.top .tasks-checklist-zone-marker{
	background-color: #a5abb2;
	opacity: .7;
}

.task-detail-content .hidden{
	display: none;
}

.tasks-wg-checklist.nodrag .task-field-drg-btn,
.tasks-checklist-item.noedit .task-field-title-del,
.mode-edit .task-field-title-del,
.task-checklist-form-vpadding .task-field-title-del,
.tasks-checklist-item.noedit .task-field-title-edit{
	opacity: .7;
}

.tasks-checklist-item.noedit .task-field-divider-close,
.tasks-checklist-item.noedit .task-field-title-ok{
	display: none;
}

.tasks-wg-checklist .chunk-stroke-out,
.tasks-wg-checklist .stroke-out{
	text-decoration: line-through;
	color: gray;
}

.tasks-wg-checklist a.chunk-stroke-out{
	color: darkgray !important;
}

.a-separator .task-checklist-flying-generic,
.a-generic .task-checklist-flying-separator{
	display: none;
}

.task-checklist-form-vpadding{
	padding: 4px 0;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	max-width: 715px;
}

.tasks-checklist-item.ghost{
	opacity: .3;
}

.noedit .tasks-btn-edit,
.noedit .tasks-btn-delete,
.noedit .task-field-drg-btn {
	display: none;
}