.bx-vi-docs-body {
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
}
.bx-vi-docs-body p {
	margin: 0 0 26px 0;
}

.tel-phones-list-notice-status-IN_PROGRESS {
	background-color: #fbf7cc;
	color: #41474f;
}
.tel-phones-list-notice-status-VERIFIED {
	background-color: #f1f5de;
	background-image: -webkit-linear-gradient(top, #f1f5de, #e6edc2);
	background-image:    -moz-linear-gradient(top, #f1f5de, #e6edc2);
	background-image:     -ms-linear-gradient(top, #f1f5de, #e6edc2);
	background-image:      -o-linear-gradient(top, #f1f5de, #e6edc2);
	background-image:         linear-gradient(to bottom, #f1f5de, #e6edc2);
	color: #41474f;
}