.crm-recur-options-field-fn{
	font-size: 14px;
	color: #5e6675;
	background: #ebf5b5;
	line-height: 17px;
	padding: 11px 15px;
	position: relative;
	max-width: 585px;
}

.crm-recur-options-field-fn span {
	display: block;
	overflow: hidden;
}

.crm-recur-options-field-ok {
	background: #d5f9af;
	display: inline-block;
	vertical-align: top;
	max-width:none;
}

.crm-recur-options-field-norm{
	background: #ffeca8;
}

.crm-recur-options-field-ok:before {
	content: '';
	width: 15px;
	height: 14px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -251px;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}