.imconnector-contact-block {
	padding-bottom: 10px;
}

.imconnector-contact-wrap {
	padding-top: 15px;
	padding-bottom: 15px;
	/*border-top: 1px solid rgba(82, 92, 105, .1);*/
	/*border-color: rgba(255, 255, 255, .2);*/
}

.imconnector-contact-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.imconnector-contact-item {
	width: 179px;
	min-height: 105px;
	height: 50px;
	border-radius: 1px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
	transition: all .2s linear;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	margin-top: 1%;
	margin-right: 1%;
}

.imconnector-contact-item:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0 4px 10px;
	transition: all 0.15s linear;
	transform: translate(0, -1px);
}

.imconnector-contact-item-selected {
	border: none;
	border-radius: 3px;
}

.imconnector-contact-item-selected:before {
	content: '';
	position: absolute;
	bottom: 9px;
	left: 14px;
	width: 12px;
	height: 10px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2210%22%20viewBox%3D%220%200%2012%2010%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%3Cg%20id%3D%22Canvas%22%20fill%3D%22none%22%3E%0A%3Cg%20id%3D%22Combined%20Shape%22%20opacity%3D%220.4%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M%200.0296066%205.46273L%200%205.46273L%200%200L%201.89733%200L%201.89733%203.59501L%2010.9392%203.59505L%2010.9392%205.49238L%200.0296498%205.49238L%200.0296066%205.46273Z%22%20transform%3D%22matrix%280.707107%20-0.707107%200.707107%200.707107%200%205.73523%29%22%20fill%3D%22white%22/%3E%0A%3C/g%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A);
}

.imconnector-contact-item-selected .imconnector-contact-logo {
	border-color: rgba(255, 255, 255, .3);
}

.imconnector-contact-name-text {
	color: #525c69;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 130px;
	display: inline-block;
	vertical-align: middle;
	font: 13px/20px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.imconnector-contact-item-selected .imconnector-contact-name-text {
	color: #fff;
}

.imconnector-contact-logo-container {
	margin-bottom: 10px;
}

.imconnector-contact-logo {
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	border: 1px solid transparent;
	box-sizing: border-box;
}

.imconnector-contact-item-selected .imconnector-contact-logo {
	border-color: rgba(255, 255, 255, .3);
}

.imconnector-imessage-background-color {
	background-color: #000000;
}