.crm-start-row {
	padding: 15px;
	position: relative;
	z-index: 99;
}

.crm-start-row + div:not(crm-start-row) {
	position: relative;
	z-index: 9;
}

.crm-start-row-margin-bottom {
	margin-bottom: 20px;
}

.crm-start-row-margin-bottom + .crm-start-row .crm-start-graph-month-progress-point {
	box-shadow: none;
}

.crm-start-row-flex {
	margin: 15px 14px 15px 0;
	padding-top: 25px;
	display: flex;
}

.crm-start-target {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	height: 40px;
	width: 49%; /*TODO: temporary for dev*/
	white-space: nowrap;
	font-size: 16px;
}

.crm-start-target-right {
	text-align: right;
}

.crm-start-target-title,
.crm-start-target-total,
.crm-start-target-currency,
.crm-start-target-month {
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.crm-start-target-title {
	font-size: 13px;
	color: #828b95;
	line-height: 48px;
}

.crm-start-target-title:after {
	content: '';
	width: 8px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 10px;
	height: 1px;
	background: #828b95;
}

.crm-start-target-total {
	line-height: 44px;
	font-size: 29px;
	color: #333;
}

.crm-start-target-total span {
	font-size: 18px;
	color: #878787;
}

.crm-start-target-month {
	font-size: 16px;
	line-height: 51px;
	color: #525c69;
}

.crm-start-target-month-swipe {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 22px;
	height: 22px;
	opacity: .6;
	cursor: pointer;
	transition: .1s;
}

.crm-start-target-month-swipe:hover {
	opacity: .8;
}

.crm-start-target-month-swipe:after {
	content: '';
	width: 6px;
	height: 6px;
	border-top: 1px solid #828b95;
	border-right: 1px solid #828b95;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -3px 0 0 -3px;
	transform: rotate(-135deg);
}

.crm-start-target-month-swipe-right:after {
	transform: rotate(45deg);
}

.crm-start-graph-content {
	position: relative;
	background: transparent;
	height: 0;
	opacity: .5;
	overflow: hidden;
	transition: .2s;
}

.crm-start-graph-content-open {
	opacity: 1;
	height: 82px;
	background: #fff;
}

.crm-start-graph-row {
	background: #f0fbfe;
	border-radius: 1px;
	margin-bottom: 3px;
	transition: .2s;
}

.crm-start-graph-row:hover,
.crm-start-graph-row-open {
	background: #dbf5fd;
}

.crm-start-graph-row-open {
	border: 1px solid rgba(25,183,233,.48);
}

.crm-star-graph-row:first-child {
	border-radius: 1px 1px 0 0;
}

.crm-star-graph-row:last-child {
	border-radius: 0 0 1px 1px;
	margin: 0;
}

.crm-start-graph-head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	white-space: nowrap;
	padding: 0 13px;
}

.crm-start-graph-head-dropdown:before {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 10px;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%208%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%233bc8f5%22%20fill-rule%3D%22evenodd%22%20d%3D%22M93.9664794%2C3%20L93.9664794%2C0%20L91.9664794%2C0%20L91.9664794%2C3%20L89%2C3%20L89%2C5%20L91.9664794%2C5%20L91.9664794%2C8%20L93.9664794%2C8%20L93.9664794%2C5%20L96.9426894%2C5%20L96.9426894%2C3%20L93.9664794%2C3%20Z%22%20transform%3D%22translate%28-89%29%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	background-size: 8px 8px !important;
	transform: translateY(-50%);
	-webkit-border-radius: 100%;
	border-radius: 100%;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	transition: .1s;
}

.crm-start-graph-head.crm-start-graph-head-dropdown:hover:before {
	background: #3bc8f5 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%208%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M93.9664794%2C3%20L93.9664794%2C0%20L91.9664794%2C0%20L91.9664794%2C3%20L89%2C3%20L89%2C5%20L91.9664794%2C5%20L91.9664794%2C8%20L93.9664794%2C8%20L93.9664794%2C5%20L96.9426894%2C5%20L96.9426894%2C3%20L93.9664794%2C3%20Z%22%20transform%3D%22translate%28-89%29%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
}

.crm-start-graph-head-open.crm-start-graph-head-dropdown:before {
	background: #3bc8f5 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%222%22%20viewBox%3D%220%200%208%202%22%3E%0A%20%20%3Crect%20fill%3D%22%23fff%22%20width%3D%228%22%20height%3D%222%22/%3E%0A%3C/svg%3E%0A') center center no-repeat !important;
}

.crm-start-graph-head-dropdown > .crm-start-graph-title > .crm-start-graph-title-link {
	padding-left: 27px;
}

.crm-start-graph-head {
	background: transparent;
	transition: .2s;
	border: 1px solid transparent;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
}

.crm-start-graph-head-open {
	border: 1px solid #91dcf4;
	border-bottom: none;
	background: #dbf5fd;
}

.crm-start-graph-head-inactive {
	opacity: .5;
}

.crm-start-graph-head-inactive .crm-start-graph-title-position {
	color: #ff8683;
}

.crm-start-graph-content {
	transition: .2s;
	border-radius: 0 0 3px 3px;
	border: 1px solid transparent;
	background: transparent;
	border-top: none;
}

.crm-start-graph-content-open {
	border: 1px solid #91dcf4;
	background: #fff;
	border-top: none;
}

.crm-start-graph-title,
.crm-start-graph-wrapper {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 14px;
}

.crm-start-graph-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	-ms-flex-item-align: center;
	align-self: center;
	max-width: 312px;
	min-width: 312px;
}

.crm-start-saletarget-general-progress .crm-start-graph-title {
	-ms-flex-item-align: auto;
	align-self: auto;
}

.crm-start-row-flex .crm-start-graph-title {
	max-width: 326px;
	min-width: 326px;
}

.crm-start-graph-title-avatar {
	width: 35px;
	height: 35px;
	margin: 0 8px 0 27px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2089%2089%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20fill%3D%22%23535C69%22%20cx%3D%2244.5%22%20cy%3D%2244.5%22%20r%3D%2244.5%22/%3E%3Cpath%20d%3D%22M68.18%2071.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585-1.734-.483-3.383-1.233-4.887-2.223-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04.388-2.625.388-5.293%200-7.918-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217c.024.58-.023%201.162-.14%201.732-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16-.78%203.093-3.095%2015.32-3.095%2015.32H68.18z%22%20fill%3D%22%23FFF%22/%3E%3C/svg%3E');
	background-size: cover;
	border-radius: 100%;
}

.crm-start-graph-title-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-item-align: center;
	align-self: center;
	overflow: hidden;
	min-width: 230px;
}

.crm-start-graph-title-link {
	font-family: "OpenSans-Semibold", Helvetica, Arial, sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	font-size: 14px;
	color: #2167b0;
}

.crm-start-graph-title-position {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	color: #9b9b9b;
}

.crm-start-graph-title-text {
	font-size: 15px;
	color: #525c69;
}

.crm-start-graph-wrapper {
	width: calc(100% - 312px);
	position: relative;
}

.crm-start-graph-wrapper-line {
	position: absolute;
	width: 3px;
	background: #dae4e9;
	top: -1px;
	bottom: -5px;
	transition: .3s;
}

.crm-start-graph-head-open .crm-start-graph-wrapper-line {
	top: 0;
	bottom: -90px;
}

.crm-start-graph-progress {
	display: block;
	overflow: hidden;
	margin: 13px 0 0 0;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(151,151,151,.4);
	height: 26px;
	border-radius: 1px;
	position: relative;
	z-index: 9;
}

.crm-start-graph-progress-total {
	display: inline-block;
	height: 26px;;
	padding: 0 9px;
	line-height: 26px;;
	color: #525c69;
	font-size: 13px;
}

.crm-start-graph-progress-total:after {
	content: '%';
}

.crm-start-graph-progress-more .crm-start-graph-progress-total {
	margin-left: -60px;
	color: #fff;
}

.crm-start-graph-progress-line {
	float: left;
	overflow: hidden;
	height: 100%;
	min-width: 4px;
	background: #5fd3e1;
	border-radius: 2px;
}

.crm-start-graph-total-sum {
	display: block;
	overflow: hidden;
	text-align: right;
	padding: 3px 0 5px 0;
	font-size: 13px;
	color: #828b95;
	position: relative;
	z-index: 9;
}

.crm-start-graph-month-progress {
	position: relative;
	white-space: nowrap;
	background: rgba(130, 139, 149, 0.1);
	border-radius:2px;
	height: 28px;
}

.crm-start-graph-month-progress-line {
	float: left;
	overflow: hidden;
	height: 100%;
	min-width: 4px;
	background: #2fc6f6;
	border-radius: 2px;
}

.crm-start-graph-month-progress-point {
	position: absolute;
	background: #b3e600;
	border-radius: 0 0 6px 6px;
	width: 3px;
	height: 33px;
	top: 50%;
	margin-top: -17px;
}

.crm-start-graph-month-progress-point:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100px;
	top: -100px;
	left: -0;
	background: #dae4e9;
}

.crm-start-widget-saletarget-company .crm-start-graph-month-progress-point:before {
	display: none;
}

.crm-start-graph-month-progress-baloon {
	position: absolute;
	top: -33px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	padding: 5px 15px;
	box-shadow:0 2px 6px 0 rgba(0,0,0,.16);
	border-radius: 37px;
	text-align: center;
}

.crm-start-graph-month-progress-point-left .crm-start-graph-month-progress-baloon {
	transform: none;
	left: -13px;
}

.crm-start-graph-month-progress-point-right .crm-start-graph-month-progress-baloon {
	transform: none;
	left: auto;
	right: -10px;
}

.crm-start-graph-month-progress-baloon:after {
	content: '';
	width: 10px;
	height: 5px;
	box-sizing: border-box;
	border: 5px solid transparent;
	border-top: 5px solid #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -9px;
}

.crm-start-graph-month-progress-point-left .crm-start-graph-month-progress-baloon:after {
	transform: none;
	left: 10px;
}

.crm-start-graph-month-progress-point-right .crm-start-graph-month-progress-baloon:after {
	transform: none;
	left: auto;
	right: 10px;
}

.crm-start-graph-month-progress-baloon-day,
.crm-start-graph-month-progress-baloon-date {
	display: block;
	white-space: nowrap;
	text-align: center;
}

.crm-start-graph-month-progress-baloon-day {
	font-size: 11px;
	line-height: 11px;
	margin-bottom: 2px;
	text-transform: uppercase;
	color: #525c69;
	font-family: "OpenSans-Semibold", Helvetica, Arial, sans-serif;
}

.crm-start-graph-month-progress-baloon-date {
	font-size: 8px;
	line-height: 8px;
	opacity: .5;
}

.crm-start-graph-month-scale {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 11px;
	margin: 7px 0;
	position: relative;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.crm-start-graph-month-scale-item {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 4px;
	position: relative;
}

.crm-start-graph-month-scale-28 .crm-start-graph-month-scale-item:nth-child(29),
.crm-start-graph-month-scale-28 .crm-start-graph-month-scale-item:nth-child(30),
.crm-start-graph-month-scale-28 .crm-start-graph-month-scale-item:nth-child(31),
.crm-start-graph-month-scale-30 .crm-start-graph-month-scale-item:nth-child(31) {
	display: none;
}

.crm-start-graph-month-scale-item:after{
	content: '';
	position: absolute;
	width: 1px;
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: .2;
	background: #828b95;
	border-radius: 2px;
}

.crm-start-graph-month-scale-28 .crm-start-graph-month-scale-item:nth-child(28):after,
.crm-start-graph-month-scale-28 .crm-start-graph-month-scale-item:nth-child(14):after,
.crm-start-graph-month-scale-30 .crm-start-graph-month-scale-item:nth-child(15):after,
.crm-start-graph-month-scale-31 .crm-start-graph-month-scale-item:nth-child(15):after,
.crm-start-graph-month-scale-item:first-child:after {
	opacity: 1;
}

.crm-start-graph-month-scale-item-first,
.crm-start-graph-month-scale-item-middle,
.crm-start-graph-month-scale-item-last {
	position: absolute;
	font-size: 12px;
	color: #525c69;
	bottom: -23px;
}

.crm-start-graph-month-scale-item-first {
	left: 0;
}

.crm-start-graph-month-scale-item-last {
	right: 0;
}

.crm-start-graph-month-scale-item-middle {
	left: 50%;
	transform: translateX(-50%);
}

.crm-start-row-result {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -9px;
	font-size: 16px;
}

.crm-start-row-result-item {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 30%;
	position: relative;
	padding: 10px 20px 5px 20px;
	background: #f0fbfe;
	border-radius: 3px;
	margin: 0 9px;
}

.crm-widget-right .crm-start-row-result-item-total .crm-start-row-result-item-total-sum,
.crm-widget-right .crm-start-row-result-item-total,
.crm-widget-left .crm-start-row-result-item-total .crm-start-row-result-item-total-sum,
.crm-widget-left .crm-start-row-result-item-total {
	font-size: 20px;
}

.crm-widget-right .crm-start-row-result-item-total span,
.crm-widget-left .crm-start-row-result-item-total span {
	font-size: 15px;
	padding-left: 5px;
}

.crm-widget-right .crm-start-row-result,
.crm-widget-left .crm-start-row-result {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 -1px;
}

.crm-widget-right .crm-start-row-result-item,
.crm-widget-left .crm-start-row-result-item {
	box-sizing: border-box;
	margin: 0 2px;
}

.crm-widget-right .crm-start-row-result-item-title,
.crm-widget-left .crm-start-row-result-item-title {
	margin: 0;
}

.crm-start-row-result-item-alert {
	background: #ffe9e8 !important;
}

.crm-start-row-result-item-alert:before {
	background: #ff8683 !important;
}

.crm-start-row-result-item:before {
	content: '';
	width: 5px;
	border-radius: 2px 0 0 2px;
	background: #72d8f9;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

.crm-start-row-result-item:nth-child(2) {
	background: #f0f2f4;
}

.crm-start-row-result-item:nth-child(2):before {
	background: #c4c9cd;
}

.crm-start-row-result-item:nth-child(3) {
	background: #f0f7d7;
}

.crm-start-row-result-item:nth-child(3):before {
	background: #b8dc45;
}

.crm-start-row-result-item-title {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 20px;
	font-size: 13px;
	color: #333;
	opacity: .84;
}

.crm-start-row-result-item-total {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 34px;
	line-height: 44px;
	margin: 0 3px;
	color: #333;
}

.crm-start-row-result-item-total .crm-start-row-result-item-total-sum {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 34px;
	line-height: 44px;
	margin: 0 3px;
	color: #333;
	opacity: 1;
}

.crm-start-row-result-item-total span {
	opacity: .6;
	font-size: 24px;
	line-height: 46px;
	padding-left: 8px;
	color: #333;
}

.crm-start-graph-user-plan {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 16px;
	background: #fff;
	padding: 15px;
}

.crm-start-graph-user-plan-item {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
	padding: 0 16px;
}

.crm-start-graph-user-plan-item {
	min-width: 280px;
}

.crm-start-graph-user-plan-item:before {
	content: '';
	width: 3px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border-radius: 2px 0 0 2px;
	background: #72d8f9;
}

.crm-start-graph-user-plan-item:nth-child(2):before {
	background: #c4c9cd;
}

.crm-start-graph-user-plan-item:nth-child(3):before {
	background: #b8dc45;
}

.crm-start-graph-user-plan-item-alert:before {
	background: #ff8683 !important;
}

.crm-start-graph-user-plan-title {
	font-size: 13px;
	color: #333;
	opacity: .7;
}

.crm-start-graph-user-plan-sum,
.crm-start-graph-user-plan-total {
	font-size:22px;
	color: #333;
}

.crm-start-graph-user-plan-sum {
	opacity: 1;
}

.crm-start-graph-user-plan-total span,
.crm-start-graph-user-plan-symbol {
	color: #333;
	opacity: .6;
}

.crm-start-popup-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.crm-start-popup-row-new {
	-webkit-animation: crmStartPopupAddBlock .3s linear forwards;
	animation: crmStartPopupAddBlock .3s linear forwards;
}

@-webkit-keyframes crmStartPopupAddBlock {
	from {
		opacity: .5;
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes crmStartPopupAddBlock {
	from {
		opacity: 0;
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.crm-start-popup-users {
	display: block;
	transition: .3s;
}

.crm-start-popup-row-remove {
	-webkit-animation: crmStartPopupRemoveBlock .2s linear forwards;
	animation: crmStartPopupRemoveBlock .2s linear forwards;
}

.crm-start-popup-row-inactive {
	opacity: .5;
}

.crm-start-popup-row-inactive .crm-start-popup-personal-title-position
{
	color: #ff8683;
}

@keyframes crmStartPopupRemoveBlock {
	from {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	to {
		opacity: 0;
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
	}
}

@-webkit-keyframes crmStartPopupRemoveBlock {
	from {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	to {
		opacity: 0;
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
	}
}

.crm-start-popup-row-block {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.crm-start-popup-row-border {
	padding-bottom: 18px;
	margin-bottom: 18px;
	border-bottom: 1px solid #dde2e6;
}

.crm-start-popup-row-margin-bottom {
	margin-bottom: 20px;
}

.crm-start-popup-row-title {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-item-align: center;
	align-self: center;
	max-width: 165px;
}

.crm-start-popup-row-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.crm-start-popup-text {
	display: inline-block;
	margin-right: 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	color: #525c69;
}

.crm-start-popup-link {
	display: inline-block;
	padding-bottom: 1px;
	margin-right: 25px;
	font-size: 14px;
	color: #0063c6;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px dashed #0063c6;
}

.crm-start-popup-link-plus {
	margin: 0 0 0 18px;
	position: relative;
}

.crm-start-popup-link-plus:before {
	content: '+';
	position: absolute;
	left: -12px;
	top: 1px;
}

.crm-start-dropdown {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	height: 36px;
	line-height: 36px;
	padding: 0 35px 0 15px;
	cursor: pointer;
	background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI1IDE2Ij4gIDxwb2x5Z29uIGZpbGw9IiM1MzVDNjkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSIzLjU0NiA3LjQyNSAzLjU0NiAxLjYwNyAxLjYwNyAxLjYwNyAxLjYwNyA4LjM5NCAxLjYwNyA5LjM2NCA5LjM2NCA5LjM2NCA5LjM2NCA3LjQyNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTQ1IDkuOSAxLjY1NykiLz48L3N2Zz4=) right center no-repeat;
}

.crm-start-dropdown-text {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	color: #333;
}

.crm-start-popup-personal-remove {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 23px;
	height: 58px;
	cursor: pointer;
	opacity: 0;
	transition: .2s;
}

.crm-start-popup-personal-remove:hover {
	opacity: 1;
}

.crm-start-popup-personal-remove:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 10px;
	height: 10px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNy43ODcgMUw1IDMuNzg3IDIuMjEzIDEgMSAyLjIxMyAzLjc4NyA1IDEgNy43ODcgMi4yMTMgOSA1IDYuMjEzIDcuNzg3IDkgOSA3Ljc4NyA2LjIxMyA1IDkgMi4yMTMiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-size: cover;
}

.crm-start-popup-personal:hover + .crm-start-popup-personal-remove {
	opacity: .7;
}

.crm-start-popup-personal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(100% - 23px);
	box-sizing: border-box;
	padding: 10px;
	background: rgba(255,255,255,.5);
	border: 1px solid rgba(198, 205, 211, .5);
	border-radius: 2px;
}

.crm-start-popup-personal-title,
.crm-start-popup-personal-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	align-self: center;
}

.crm-start-popup-personal-content {
	max-width: 220px;
}

.crm-start-popup-personal-title-name {
	display: inline-block;
	margin-left: 10px;
	font-family: "OpenSans-Semibold", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #2167b0;
}

.crm-start-popup-input {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	opacity: .6;
	transition: .2s;
}

.crm-start-popup-input:focus {
	opacity: 1;
}

.crm-start-popup-config {
	float: left;
	margin: 7px 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #0063c6;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	transition: .1s;
}

.crm-start-popup-config:hover {
	border-bottom: 1px solid #0063c6;
}

.crm-start-popup-copy {
	float: right;
	margin: 7px 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #525c69;
	opacity: .5;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	transition: .1s;
}

.crm-start-popup-copy:hover {
	opacity: .9;
}

.crm-start-popup-personal-title-avatar {
	display: inline-block;
	vertical-align: middle;
	min-width: 35px;
	width: 35px;
	height: 35px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2089%2089%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20fill%3D%22%23535C69%22%20cx%3D%2244.5%22%20cy%3D%2244.5%22%20r%3D%2244.5%22/%3E%3Cpath%20d%3D%22M68.18%2071.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585-1.734-.483-3.383-1.233-4.887-2.223-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04.388-2.625.388-5.293%200-7.918-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217c.024.58-.023%201.162-.14%201.732-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16-.78%203.093-3.095%2015.32-3.095%2015.32H68.18z%22%20fill%3D%22%23FFF%22/%3E%3C/svg%3E');
	background-size: cover !important;
	border-radius: 100%;
}

.crm-start-popup-personal-title-position {
	display: inline-block;
	margin-left: 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #9b9b9b;
}

.crm-start-popup-personal-title-wrapper,
.crm-start-popup-personal-title-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.crm-start-popup-personal-title-info {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}