.tasks-scrum-wrapper .workarea-content-paddings { padding-right: 15px !important; }

.tasks-scrum-wrapper .pagetitle-below { margin-right: 15px; }

.tasks-scrum-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.tasks-scrum-action-epic {
	position: relative;
	margin-left: 12px;
}

.tasks-scrum-action-epic::after {
	display: block;
	content: '+';
	position: absolute;
	left: -12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.tasks-scrum-group-actions-active {
	position: relative;
}

.tasks-scrum-sprints {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-width: calc(50% - 8px);
	max-width: calc(50% - 8px);
	/*padding: 0 0 0 8px;*/
}

.tasks-scrum-sprint-create {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
	width: 100%;
}

.tasks-scrum-sprint-create::after {
	position: static;
	top: auto;
	left: auto;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px);
}

.tasks-scrum-sprint-create span {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.tasks-scrum-dragndrop {
	position: absolute;
	left: 2px;
	top: 12px;
	width: 6px;
	height: 14px;
	background: no-repeat center url(images/dragndrop.svg);
	opacity: 0;
	-webkit-transition: 170ms linear all;
	-o-transition: 170ms linear all;
	transition: 170ms linear all;
	cursor: -webkit-grab;
	cursor: grab;
	z-index: 10;
	padding: 4px;
}

/** page **/
.tasks-pagetitle-view .pagetitle-below,
.tasks-pagetitle-view .ui-side-panel-wrap-below {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0 5px 0 13px;
	border-top: 1px solid #dce2e6;
}

.tasks-pagetitle-view .pagetitle-below { min-height: 53px }

.tasks-scrum-switcher {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	height: 53px;
	color: #545c6a;
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
}

.tasks-scrum-switcher-views {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
}

.tasks-scrum-switcher-tab,
.tasks-scrum-switcher-tab:link,
.tasks-scrum-switcher-tab:visited {
	margin: 0 18px 0 0;
	color: #545c6a;
	text-decoration: none;
	white-space: nowrap;
	font: 14px/30px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.32px;
	cursor: pointer;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}

.bitrix24-light-theme .tasks-scrum-switcher-tab,
.bitrix24-light-theme .tasks-scrum-switcher-tab:link,
.bitrix24-light-theme .tasks-scrum-switcher-tab:visited {
	color: #fff;
}

.bitrix24-light-theme .tasks-scrum-switcher-tab:hover {
	color: #fff;
}

.tasks-scrum-switcher-tab:empty { display: none; }

.tasks-scrum-switcher-tab:hover { color: #1f2127; }

.tasks-scrum-switcher-views .tasks-scrum-switcher-tab-active {
	border-bottom: 2px solid #b1b8bf;
}

.bitrix24-light-theme .tasks-scrum-switcher-views .tasks-scrum-switcher-tab-active {
	color: rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	color: #fff;
}

.tasks-scrum-active-sprint-stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
}

.tasks-scrum-actions-complete-sprint {
	padding-left: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
}

.tasks-scrum-team-speed-button-container {
	padding-left: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
}

.tasks-scrum-entity-items-faded {
	opacity: 0.5;
	pointer-events: none;
}

.tasks-scrum-completed-sprint-title {
	width: 100%;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

.tasks-scrum-project-side-panel {
	padding: 0 20px;
	color: #333;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
}

.tasks-scrum-project-side-panel-header {
	padding-left: 5px;
	margin: 20px 0 23px;
}

.tasks-scrum-project-side-panel-header-title {
	font: 24px/30px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-scrum-project-side-panel-chart {
	padding: 15px 0 0 0;
	background: white;
	height: 600px;
}

.tasks-scrum-project-dod-options {
	margin-top: 15px;
}
.tasks-scrum-sprint-dragndrop {
	width: 18px;
	height: 17px;
	background: no-repeat center url(images/dragndrop.svg);
	opacity: 0;
	-webkit-transition: 170ms linear all;
	-o-transition: 170ms linear all;
	transition: 170ms linear all;
	cursor: -webkit-grab;
	cursor: grab;
	z-index: 10;
	padding-left: 2px;
}

.tasks-scrum-sprint-header-empty {
	padding-right: 18px;
}

.tasks-scrum-sprint-header:hover .tasks-scrum-sprint-dragndrop { opacity: .5; }

.tasks-scrum-sprint-dragndrop:hover { opacity: 1; }

.tasks-scrum-sprint-sprint-add-drop {
	margin: 10px 0 0;
	width: 100%;
	height: 70px;
}

.tasks-scrum-sprint-sprint-add-drop .ui-ctl-label-text small {
	font-size: 10px;
	padding-top: 0;
}

.tasks-scrum-sprint {
	margin: 0 0 10px;
	background-color: #fff;
	border-radius: 1px;
	overflow: hidden;
}

.tasks-scrum-sprint-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 8px 0;
}

.tasks-scrum-sprint-header-active { background-color: #eaf5c5; }

.tasks-scrum-sprint-header-completed { background-color: #eaeaea; }

.tasks-scrum-sprint-header-planned { background-color: #d1eef9; }

.tasks-scrum-sprint-header-name-container { min-width: 0; }

.tasks-scrum-sprint-header-name {
	display: block;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #333;
	letter-spacing: 0.4px;
	min-width: 1px;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	border: none;
	border-bottom: 1px solid transparent;
	background: none;
	outline: none;
	padding: 0;
}

input.tasks-scrum-sprint-header-name { border-bottom: 1px solid rgba(51, 51, 51, 0.45);}

.tasks-scrum-sprint-header-edit {
	background: no-repeat center url(images/edit.svg);
	width: 22.5px;
	height: 22.5px;
	min-width: 22.5px;
	max-width: 22.5px;
	opacity: 0;
	-webkit-transition: 170ms linear all;
	-o-transition: 170ms linear all;
	transition: 170ms linear all;
}

.tasks-scrum-sprint-header:hover .tasks-scrum-sprint-header-edit { opacity: .5; }

.tasks-scrum-sprint-header-title-edit .tasks-scrum-sprint-header-edit { opacity: 0; }

.tasks-scrum-sprint-header-edit:hover {
	cursor: pointer;
	opacity: 1;
}

.tasks-scrum-sprint-header-remove {
	background: no-repeat center url(images/remove.svg);
	width: 22.5px;
	height: 22.5px;
	min-width: 22.5px;
	max-width: 22.5px;
	opacity: 0;
	-webkit-transition: 170ms linear all;
	-o-transition: 170ms linear all;
	transition: 170ms linear all;
}

.tasks-scrum-sprint-header:hover .tasks-scrum-sprint-header-remove { opacity: .5; }

.tasks-scrum-sprint-header-title-edit .tasks-scrum-sprint-header-remove { opacity: 0; }

.tasks-scrum-sprint-header-remove:hover {
	cursor: pointer;
	opacity: 1;
}

.tasks-scrum-sprint-header-params {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-scrum-sprint-header-stats {
	color: #6b6f76;
	text-decoration: none;
	font-size: 12px;
}

.tasks-scrum-sprint-header-stats .ui-ctl-label-text {
	padding: 0;
	font-size: 12px;
}

.tasks-scrum-sprint-header-stats-kanban {
	color: #545c6a;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

.bitrix24-light-theme .tasks-scrum-sprint-header-stats-kanban {
	color: #fff;
}

.tasks-scrum-sprint-date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #525c69;
	letter-spacing: 0;
}

.tasks-scrum-sprint-date .tasks-scrum-sprint-date-separator {
	padding: 0 5px 0 5px;
	cursor: default;
}

.tasks-scrum-sprint-date-start {
	border-bottom: 1px dashed rgba(66, 87, 105, 0.4);
	text-decoration: none;
	cursor: pointer;
	line-height: 13px;
}

.tasks-scrum-sprint-date-end {
	border-bottom: 1px dashed rgba(66, 87, 105, 0.4);
	text-decoration: none;
	cursor: pointer;
	line-height: 13px;
}

.tasks-scrum-sprint-header-button { padding: 0 0 0 15px; }

.tasks-scrum-sprint-header-tick { cursor: pointer; }

.tasks-scrum-sprint-header-tick .ui-btn.ui-btn-light {
	--ui-btn-background-hover: transparent;
	--ui-btn-background-active: transparent;
	--ui-btn-border-color-hover: transparent;
}

.tasks-scrum-sprint-sub-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 10px 9px 20px;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2066b0;
	border-bottom: 1px solid #dce2e6;
}

.tasks-scrum-sprint-story-point-title {
	font: bold 10px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*text-transform: uppercase;*/
	opacity: 0.65;
	color: #525c69;
	letter-spacing: 0.1px;
	margin-left: 5px;
}

.tasks-scrum-sprint-story-point-done-title,
.tasks-scrum-sprint-story-point-in-work-title {
	opacity: 0.56;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c69;
	margin-left: 10px;
}

.tasks-scrum-sprint-story-point {
	background: rgba(82, 92, 105, 0.11);
	border-radius: 4px;
	font: 13px "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(82, 92, 105, 0.9);
	letter-spacing: 0;
	text-align: center;
	padding: 0 8px;
	margin-left: 5px;
	min-height: 19px;
}

.tasks-scrum-sprint-story-point-in-work {
	color: #009ed0;
	background: rgba(0, 166, 218, 0.1);
}

.tasks-scrum-sprint-story-point-done {
	background: rgba(92, 151, 0, 0.1);
	color: #599100;
}

.tasks-scrum-sprint-header-event-params {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-scrum-sprint-actions {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 11px 0 15px;
}

.tasks-scrum-sprint-action { padding: 0 15px 7px 0; }

.tasks-scrum-sprint-items {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 0 10px 10px 10px;
}

.tasks-scrum-sprint-items.tasks-scrum-sprint-items-group-mode {
	padding: 0 10px 10px 26px;
}

.tasks-scrum-sprint-content {
	display: none;
}

.tasks-scrum-sprint-start-popup,
.tasks-scrum-sprint-start-popup-duration,
.tasks-scrum-sprint-start-popup-taken {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.tasks-scrum-sprint-start-popup-content-title { font-weight: bold; }

.tasks-scrum-sprint-start-popup-content-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 0;
}

.tasks-scrum-sprint-complete-popup,
.tasks-scrum-sprint-complete-popup-result,
.tasks-scrum-sprint-complete-popup-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.tasks-scrum-sprint-complete-popup-result-header {
	font-weight: bold;
	padding: 0 0 10px 0;
}

.tasks-scrum-sprint-complete-popup-move-header {
	font-weight: bold;
	padding: 10px 0 10px 0;
}

.tasks-scrum-sprint-complete-popup-move-select {
	padding: 2px 0 10px 0;
}

.tasks-scrum-sprint-complete-popup-result-completed,
.tasks-scrum-sprint-complete-popup-result-uncompleted {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum-sprint-complete-popup-move-sprint {
	display: none;
}
.tasks-scrum-sprint-sidepanel {
	padding: 0 20px;
	color: #333;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-scrum-sprint-sidepanel-block {
	background: #fff;
	padding: 17px 20px 24px;
}

.tasks-scrum-sprint-sidepanel-block + .tasks-scrum-sprint-sidepanel-block {
	margin-top: 15px;
}

.tasks-scrum-sprint-sidepanel-title {
	font-size: 18px;
	line-height: 24px;
	border-bottom: 1px solid #edeef0;
	padding-bottom: 17px;
	margin-bottom: 20px;
}

.tasks-scrum-sprint-sidepanel-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-bottom: 37px;
	padding-top: 2px;
}

.tasks-scrum-sprint-sidepanel-info-box {
	background: #ebf5cc;
	width: 50%;
}

.tasks-scrum-sprint-sidepanel-info-box + .tasks-scrum-sprint-sidepanel-info-box {
	margin-left: 7px;
}

.tasks-scrum-sprint-sidepanel-info-title {
	font-size: 14px;
	line-height: 20px;
	padding: 8px 16px 10px;
	background: #daeba4;
}

.tasks-scrum-sprint-sidepanel-info-box-story {
	background: #dcf3fd;
}

.tasks-scrum-sprint-sidepanel-info-box-story .tasks-scrum-sprint-sidepanel-info-title {
	background: #bfe7f9;
}

.tasks-scrum-sprint-sidepanel-info-content {
	text-align: right;
	padding: 27px 18px 14px 16px;
	font: 51px/60px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-scrum-sprint-sidepanel-epic {
	font-family: "OpenSans-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-scrum-sprint-sidepanel-epic-title {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 13px;
}

.tasks-scrum-sprint-sidepanel-epic-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.tasks-scrum-sprint-sidepanel-epic-item {
	font-size: 12px;
	line-height: 18px;
	display: inline-block;
	border-radius: 2px;
	padding: 1px 8px 2px;
	color: #525c69;
}

.tasks-scrum-sprint-sidepanel-epic-item + .tasks-scrum-sprint-sidepanel-epic-item {
	margin-left: 7px;
}

.tasks-scrum-sprint-sidepanel-info-extra {
	font-size: 35px;
	line-height: 42px;
}

.tasks-scrum-sprint-sidepanel-header {
	padding-left: 5px;
	margin: 20px 0 23px;
}

.tasks-scrum-sprint-sidepanel-header-title {
	font: 24px/30px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-scrum-sprint-sidepanel-text {
	color: #525c69;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-scrum-sprint-sidepanel-title-icon {
	padding-left: 46px;
	margin-bottom: 17px;
	position: relative;
}

.tasks-scrum-sprint-sidepanel-title-icon:before {
	content: '';
	width: 34px;
	height: 34px;
	position: absolute;
	left: 0;
	top: -3px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2234%22%20height%3D%2234%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M17%200c9.389%200%2017%207.611%2017%2017s-7.611%2017-17%2017S0%2026.389%200%2017%207.611%200%2017%200zm6.588%209H10.412C9.632%209%209%209.632%209%2010.412v13.176c0%20.78.632%201.412%201.412%201.412h13.176c.78%200%201.412-.632%201.412-1.412V10.412C25%209.632%2024.368%209%2023.588%209zm-.94%202.353v8.235h-2.824v3.06h-5.648v-3.06h-2.823v-8.235h11.294zm-3.242%201.753l-3.294%203.342-1.317-1.365-1.036%201.318%202.353%202.352%204.236-4.235-.942-1.412z%22/%3E%3C/svg%3E);
}

.tasks-scrum-sprint-sidepanel-label {
	margin-bottom: 14px;
}

.tasks-scrum-sprint-sidepanel-subtitle {
	font-family: "OpenSans-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-scrum-sprint-sidepanel-field {
	margin-bottom: 14px;
}

.tasks-scrum-sprint-sidepanel-uncompleted-list {
	margin-top: 12px;
}

.tasks-scrum-sprint-sidepanel-info-box-w100 {
	width: 100%;
	position: relative;
}

.tasks-scrum-sprint-sidepanel-info-dif {
	position: absolute;
	top: 46px;
	left: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font: 29px/36px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-scrum-sprint-sidepanel-info-dif-icon {
	font-size: 19px;
	line-height: 26px;
}

.tasks-scrum-sprint-sidepanel-info-dif-arrow {
	width: 10px;
	height: 37px;
	display: block;
	margin-right: 9px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2219%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.106%200L10%205.033%208.874%206.191%205.796%203.025V19H4.204L4.203%203.025%201.126%206.191%200%205.033%204.894%200%205%20.109z%22/%3E%3C/svg%3E) no-repeat center;
}

.tasks-scrum-sprint-sidepanel-info-dif-val {
	position: relative;
	font-size: 29px;
	line-height: 36px;
	margin-right: 3px;
}

.tasks-scrum-sprint-sidepanel-info-dif-plus .tasks-scrum-sprint-sidepanel-info-dif-val:before {
	content: "+";
}

.tasks-scrum-sprint-sidepanel-info-dif-min .tasks-scrum-sprint-sidepanel-info-dif-arrow {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.tasks-scrum-sprint-sidepanel-info-dif-min .tasks-scrum-sprint-sidepanel-info-dif-val:before {
	content: "-";
}

.tasks-scrum-sprint-sidepanel-info-dif-block {
	font-size: 0;
}

.tasks-scrum-sprint-sidepanel-speed {
	margin: 33px 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.tasks-scrum-sprint-sidepanel .tasks-scrum-item {
	padding: 10px 0 1px 17px;
}

.tasks-scrum-sprint-sidepanel-chart {
	padding: 15px 0 0 0;
	background: white;
	height: 600px;
}
.tasks-scrum-item {
	margin: 10px 0 0;
	padding: 8px 0 4px 17px;
	background: #fff;
	border: 1px solid rgba(82, 92, 105, 0.14);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
	        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #333;
	-webkit-transition:
		180ms linear color,
		180ms linear border-color,
		180ms linear background-color;
	-o-transition:
		180ms linear color,
		180ms linear border-color,
		180ms linear background-color;
	transition:
		180ms linear color,
		180ms linear border-color,
		180ms linear background-color;
	position: relative;
}

.tasks-scrum-item:hover {
	cursor: pointer;
	border-color: rgba(82, 92, 105, 0.44);
}

.tasks-scrum-item.tasks-scrum-item-group-mode {
	border: 1px solid #d1eef9;
	background: #e2f8ff;
}

.tasks-scrum-item.tasks-scrum-item-group-mode:hover {
	border: 1px solid #8cb6c6;
}

.tasks-scrum-item.tasks-scrum-item-decomposition-mode {
	border: 1px solid #7bd500;
}

.tasks-scrum-item.tasks-scrum-item-decomposition-mode:hover {
	border: 1px solid #7bd500;
}

.tasks-scrum-item-group-mode-container {
	display: none;
	position: relative;
	right: 41px;
	width: 0;
}

.tasks-scrum-item-group-mode-container input {
	cursor: pointer;
}

.tasks-scrum-item-inner {
	max-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum-item .task-title-indicators {
	position: relative;
	top: 7px;
}

/*.tasks-scrum-item-edit-mode .tasks-scrum-dragndrop {display: none;}*/

.tasks-scrum-item:hover .tasks-scrum-dragndrop { opacity: .5; }

.tasks-scrum-item:hover .tasks-scrum-dragndrop:hover { opacity: 1; }

.tasks-scrum-item-name {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	max-width: 100%;
	min-width: 0;
}

/*.tasks-scrum-item-name-text {
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #333;
	padding: 16px 14px;
}*/

.tasks-scrum-item-name-field {
	width: auto !important;
	min-width: 0;
	margin-bottom: 3px;
}

.tasks-scrum-item-name-field div.ui-ctl-element[contenteditable] {
	padding: 4px 4px 7px;
	font-size: 15px;
}

.tasks-scrum-item-params {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
	padding-right: 6px;
}

/*.tasks-scrum-item-story-points-field .ui-ctl-element {padding-top: 10px !important;}*/

.tasks-scrum-item-responsible {
	margin-top: 6px;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-size: cover;
	margin-right: 10px;
}

.tasks-scrum-item-story-points {
	/*padding: 7px 0;*/
	text-align: center;
}

.tasks-scrum-item-story-points .ui-ctl {
	width: 100%;
	text-align: right;
	padding: 0;
	vertical-align: middle;
	min-width: 40px;
}

.tasks-scrum-item-story-points .ui-ctl .ui-ctl-element {
	text-align: center;
	position: relative;
}

.tasks-scrum-item-story-points .ui-ctl .ui-ctl-element:after {
	content: "";
	position: absolute;
	width: calc(100% - 24px);
	border-bottom: 1px dashed rgba(82, 92, 105, 0.71);
	bottom: 4px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.tasks-scrum-item-tags-container {
	margin-left: 5px;
	margin-right: 4px;
	margin-bottom: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
}

.tasks-scrum-item-tags-container div {
	margin-top: 2px;
	margin-bottom: 2px;
	padding-bottom: 2px;
}

.tasks-scrum-item-epic-label {
	border-radius: 2px;
	border: none;
}

.task-title-indicators {
	margin-right: 10px;
}

.task-title-indicators .ui-label {
	margin-right: 1px;
}

.task-comments-counter {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.task-attachment-counter.ui-label + .task-checklist-counter.ui-label,
.task-checklist-counter.ui-label + .task-attachment-counter.ui-label {
	margin-left: 0;
}
.tasks-scrum-backlog {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: #fff;
	border-radius: 1px;
	min-width: calc(50% - 8px);
	max-width: calc(50% - 8px);
}

.tasks-scrum-backlog-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	font-size: 10px;
	padding: 14px 0 14px;
	border-bottom: 1px solid #edeefe;
}

.tasks-scrum-backlog-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 10px 0 0;
}

.tasks-scrum-backlog-action-epic {
	position: relative;
	margin-left: 12px;
}

.tasks-scrum-backlog-action-epic::after {
	display: block;
	content: '+';
	position: absolute;
	left: -12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.tasks-scrum-backlog-title {
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #333;
	letter-spacing: 0;
	margin-right: 10px;
}

.tasks-scrum-backlog-title-spacer {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.tasks-scrum-backlog-epics-title {}

.tasks-scrum-backlog-story-point-title {
	font: bold 10px/13px "OpenSans-Semibold", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1px;
	opacity: .5;
	font-size: 11px;
	color: #333;
}

.tasks-scrum-backlog-story-point {
	background: rgba(82, 92, 105, 0.11);
	border-radius: 4px;
	font: 13px "OpenSans-Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(82, 92, 105, 0.9);
	letter-spacing: 0;
	text-align: center;
	padding: 3px 12px;
	margin-left: 5px;
	font-size: 15px;
	color: #525c69;
}

.tasks-scrum-backlog-items {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 0 0 10px;
}

.tasks-scrum-backlog-items.tasks-scrum-backlog-items-group-mode {
	padding: 0 0 10px 16px;
}
.tasks-scrum-entity-title-btn {
	height: 20px;
}

.tasks-scrum-entity-title-btn-dod {
	padding-left: 10px;
}

.tasks-scrum-entity-title-btn-dod .tasks-scrum-entity-dod-icon {
	background: url(images/dod.svg) no-repeat 0 center;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.tasks-scrum-entity-title-btn-task .tasks-scrum-entity-tasks-icon {
	background: url(images/number-task.svg) no-repeat 0 center;
	width: 13px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
}

.tasks-scrum-entity-title-btn-burn-down-chart .tasks-scrum-entity-burn-down-chart-icon {
	background: url(images/burn-down-chart.svg) no-repeat 0 center;
	width: 23px;
	height: 21px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.tasks-scrum-entity-tasks-title {
	font: 13px "OpenSans-Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(82, 92, 105, 0.9);
	letter-spacing: 0;
	text-align: center;
	padding: 0 12px 0 0;
	font-size: 14px;
	color: #525c69;
}
.tasks-scrum-epic-form { padding: 0 12px 0 20px; }

.tasks-scrum-epics-list { padding: 0 12px 0 20px; }

.tasks-scrum-epic-header {
	padding: 19px 5px 22px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.tasks-scrum-epic-header-title {
	font: 24px/32px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

.tasks-scrum-epic-form-container {
	background-color: #fff;
	padding: 19px 17px;
}

.tasks-scrum-epic-form-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.tasks-scrum-epic-form-header-title {
	border-bottom: 1px solid rgba(82, 92, 105, 0.2);
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-bottom: 12px;
	font: 18px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

.tasks-scrum-epic-form-header-title-control {
	width: 100%;
	border-color: transparent;
	font: 18px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

.tasks-scrum-epic-form-header-separate {
	width: 22px;
	max-width: 22px;
	min-width: 22px;
}

.tasks-scrum-epic-header-color {
	width: 64px;
	max-width: 64px;
	min-width: 64px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-bottom: 1px solid rgba(82, 92, 105, 0.2);
	padding: 0 13px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum-epic-header-color-current {
	width: 19px;
	height: 19px;
	border-radius: 2px;
}

.tasks-scrum-epic-header-color-btn-angle {
	width: 8px;
	height: 8px;
	border-left: 2px solid;
	border-bottom: 2px solid;
	border-color: rgba(87, 96, 110, 0.51);
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	margin-left: 11px;
	margin-top: -4px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.tasks-scrum-epic-form-additional {
	background-color: #f8f9fa;
	padding: 19px 16px;
}

.tasks-scrum-epic-grid-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum-epic-grid-name-color {
	width: 19px;
	height: 19px;
	border-radius: 2px;
}

.tasks-scrum-epic-grid-tags {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.tasks-scrum-epic-grid-tags div {
	cursor: pointer;
	margin-bottom: 7px;
	margin-right: 0;
}

.tasks-scrum-epic-name-label {
	margin-left: 10px;
	color: #525c69;
}

.tasks-scrum-epic-name-label:hover {
	color: #525c69;
	cursor: pointer;
	text-decoration: underline;
}

.tasks-scrum-epic-form-files:not(:empty) {
	border-top: 1px solid rgba(82, 92, 105, 0.2);
	padding-top: 20px;
}

.tasks-scrum-epics-empty-image {
	/*background: no-repeat center url(images/epic-empty.svg);*/
	width: 124px;
	height: 124px;
	margin-bottom: 58px;
}

.tasks-scrum-epics-empty {
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 75px 50px 60px;
}

.tasks-scrum-epics-empty-first-title {
	font: 37px/32px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c69;
	margin-bottom: 67px;
}

.tasks-scrum-epics-empty-second-title {
	font: 20px/32px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a8adb4;
	margin-bottom: 47px;
}

.tasks-scrum-epic-color-popup .main-color-picker-box {
	width: 30px;
	height: 30px;
}

.tasks-scrum-epic-color-popup .main-color-picker-preview {
	width: 28px;
	height: 28px;
}

.tasks-scrum-decomposition-structure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 10px 0 0;
	padding: 0;
	background: #fff;
	position: relative;
}
.tasks-scrum-actions-panel-container {
	position: absolute;
	-webkit-transform: translateY(-36px);
	-ms-transform: translateY(-36px);
	transform: translateY(-36px);
	-webkit-transition: 250ms all ease;
	-o-transition: 250ms all ease;
	transition: 250ms all ease;
	z-index: 90;
	text-align: center;
	height: 0;
}

.tasks-scrum-actions-panel {
	padding: 8px 12px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	border-radius: 2px;
	z-index: 100;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	/*-webkit-box-align: stretch;*/
	/*-ms-flex-align: stretch;*/
	/*align-items: stretch;*/
	height: 34px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.tasks-scrum-actions-panel-btn {
	position: relative;
	height: 18px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-scrum-actions-panel-btn-remove .tasks-scrum-actions-panel-icon {
	background: no-repeat center url(images/remove.svg);
	width: 20px;
	top: -1px;
	position: relative;
}

.tasks-scrum-actions-panel-btn-sprint .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/sprint.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-task .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/task.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-backlog .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/backlog.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-attachment .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/attachment.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-move .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/transfer.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-btn-decomposition .tasks-scrum-actions-panel-icon {
	background: no-repeat 0 center url(images/decompoz.svg);
	width: 20px;
}

.tasks-scrum-actions-panel-icon {
	display: inline-block;
	height: 20px;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.tasks-scrum-actions-panel-icon + .tasks-scrum-actions-panel-text { margin-left: 5px; }

.tasks-scrum-actions-panel-text {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	color: #858c96;
	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
}

.tasks-scrum-actions-panel-separator {
	width: 27px;
	position: relative;
	-ms-flex-preferred-size: 27px;
	flex-basis: 27px;
}

.tasks-scrum-actions-panel-separator::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13px;
	width: 1px;
	background-color: #e3e4e7;
}
.diskuf-extended {
	display: block;
	overflow: hidden;
	margin: 0 -10px;
}

.diskuf-extended-item {
	background-color: transparent;
	display: block;
	cursor: pointer;
	height: 36px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	outline: none;
	white-space: nowrap;
	-webkit-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c68;
	line-height: 36px;
}

.diskuf-extended-item:hover,
.diskuf-extended-item-active {
	color: #333;
	background-color: #f6f8f9;
}

.diskuf-extended-item label {
	cursor: pointer;
}
.tasks-scrum-input {
	margin: 10px 0 0;
}