.sidebar-widget {
    background: none repeat scroll 0 0 #ffffff;
    margin-bottom: 17px;
}
.sidebar-widget-top {
    height: 52px;
    position: relative;
}
.sidebar-widget-item {
    border-bottom: medium none;
    color: #2067b0;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    overflow: hidden;
    padding: 14px 0 11px 17px;
}
.widget-last-item {
    border: medium none !important;
    border-radius: 0 0 5px 5px;
    box-shadow: none;
    margin-bottom: 0;
}
.sidebar-user-info {
	display: block;
	overflow: hidden;
}
.user-avatar {
    background-color: #7e8691;
    background-image: url("images/user-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    display: block;
    float: left;
    height: 50px;
    margin-right: 11px;
    width: 50px;
}
.user-birth-name {
	display: inline-block;
	margin-bottom: 3px;
	padding: 3px 0 0;
	width: 100%;
}
.user-birth-date {
	color: #80868e;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	width: 100%;
}
.today-birth .user-birth-date {
	color: #d58f06;
}