.crm-report-regular-customers-modal {
	display: block;
	top: 350px;
	padding: 15px 16px 0 13px;
	min-width: 157px;
	border-left: 3px solid transparent;
	background: #fff;
	box-shadow: 0 6px 21px 0 rgba(83,92,105,.15);
	box-sizing: border-box;
}
.crm-report-regular-customers-modal-title {
	display: block;
	margin: 0 0 17px 0;
	padding: 0 0 12px 0;
	border-bottom: 1px solid rgba(130,139,149,.19);
	font: 13px "OpenSans-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.crm-report-regular-customers-group-values {
	display: flex;
}
.crm-report-regular-customers-modal-line {
	display: block;
	margin: 0 0 12px 0;
	font: 20px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	text-align: left;
}

.crm-report-regular-customers-group-values > .crm-report-regular-customers-modal-line {
	padding: 0 15px;
}

.crm-report-regular-customers-group-values > .crm-report-regular-customers-modal-line:first-child {
	border-right: 1px solid rgba(224,224,224,.6);
}

.crm-report-regular-customers-modal-subtitle {
	display: block;
	margin: 0 0 2px 0;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A8ADB4;
	opacity: .84;
}
