.sender-start-wrap {
	color: #333;
}

.sender-start-block {
	margin: 0 0 50px 0;
}

.sender-start-title {
	font: 16px/24px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	margin-bottom: 12px;
}

.bitrix24-light-theme .sender-start-title {
	color: #fff;
}

.ui-tile-list-item-selected:before {
	width: 0 !important;
}