.disk-ui-file-thumbnails {
	display: flex;
	margin-left: -20px;
	width: -webkit-calc(100% + 37px);
	width: calc(100% + 37px);
	overflow: hidden;
}

/*.disk-ui-file-thumbnails:after {*/
/*	content: "";*/
/*	display: block;*/
/*	padding-bottom: 100%;*/
/*}*/

.disk-ui-file-thumbnails-main,
.disk-ui-file-thumbnails-secondary {
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100%;
}

.disk-ui-file-thumbnails-main {}

.disk-ui-file-thumbnails-secondary {
	display: none;
}

.disk-ui-file-thumbnails-item {
	position: relative;
	display: block;
	margin: 0;
	padding-bottom: 100%;
	background: #ebecf0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.disk-ui-file-thumbnails-img {
	position: absolute;
	/*left: 50%;*/
	/*top: 50%;*/
	display: block;
	width: 100%;
	height: 100%;
	/*height: auto;*/
	/*transform: translate(-50%,-50%);*/
}

.disk-ui-file-thumbnails-number {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	font: 23px 'Roboto', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	transform: translate(-50%,-50%);
	z-index: 3;
}

.disk-ui-file-thumbnails-vertical-remain .disk-ui-file-thumbnails-main {
	flex-basis: 50%;
	margin-right: 4px;
}

.disk-ui-file-thumbnails-vertical-remain .disk-ui-file-thumbnails-secondary {
	display: flex;
	flex-basis: 50%;
	flex-direction: column;
}

.disk-ui-file-thumbnails-vertical-full .disk-ui-file-thumbnails-main {
	flex-basis: 66%;
	margin-right: 4px;
}

.disk-ui-file-thumbnails-vertical-full .disk-ui-file-thumbnails-secondary {
	display: flex;
	flex-basis: 34%;
	flex-direction: column;
}

.disk-ui-file-thumbnails-vertical-remain .disk-ui-file-thumbnails-secondary .disk-ui-file-thumbnails-item,
.disk-ui-file-thumbnails-vertical-full .disk-ui-file-thumbnails-secondary .disk-ui-file-thumbnails-item {
	margin-bottom: 4px;
}

.disk-ui-file-thumbnails-vertical-remain .disk-ui-file-thumbnails-secondary .disk-ui-file-thumbnails-item:last-child,
.disk-ui-file-thumbnails-vertical-full .disk-ui-file-thumbnails-secondary .disk-ui-file-thumbnails-item:last-child {
	margin-bottom: 0;
}

.disk-ui-file-thumbnails-more .disk-ui-file-thumbnails-secondary .disk-ui-file-thumbnails-item:last-child:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 2;
}

.disk-ui-file-thumbnails-more .disk-ui-file-thumbnails-secondary .disk-ui-file-thumbnails-item:last-child .disk-ui-file-thumbnails-number {
	display: block;
}

.disk-ui-file-thumbnails-horizontal {}

.disk-ui-file-thumbnails-horizontal-remain {}

.disk-ui-file-thumbnails-horizontal-full {}

/*.disk-ui-file-thumbnails-horizontal-full.disk-ui-file-thumbnails:after {*/
/*	content: none;*/
/*}*/

.disk-ui-file-thumbnails-horizontal-full.disk-ui-file-thumbnails {
	flex-direction: column;
	align-items: stretch;
}

.disk-ui-file-thumbnails-horizontal-full .disk-ui-file-thumbnails-main {
	flex: 1 0 66%;
	margin-bottom: 4px;
}

.disk-ui-file-thumbnails-horizontal-full .disk-ui-file-thumbnails-main .disk-ui-file-thumbnails-item {
	padding-bottom: 66%;
}

.disk-ui-file-thumbnails-horizontal-full .disk-ui-file-thumbnails-secondary {
	display: flex;
	flex: 1 0 34%;
}

.disk-ui-file-thumbnails-horizontal-full .disk-ui-file-thumbnails-secondary .disk-ui-file-thumbnails-item {
	margin-right: 4px;
	padding-bottom: 34%;
	height: 0;
}

.disk-ui-file-thumbnails-horizontal-full .disk-ui-file-thumbnails-secondary .disk-ui-file-thumbnails-item:last-child {
	margin-right: 0;
}

/*.disk-ui-file-thumbnails-horizontal-full .disk-ui-file-thumbnails-img {*/
/*	!*position: static;*!*/
/*	top: 0;*/
/*	left: 0;*/
/*	!*height: auto;*!*/
/*	height: 100%;*/
/*	transform: initial;*/
/*}*/

.disk-ui-file-thumbnails-grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(12, 8vw);
	grid-gap: 4px;
	width: -webkit-calc(100% + 37px);
	width: calc(100% + 37px);
	margin-left: -21px;
}

.disk-ui-file-thumbnails-grid-horizontal-full.disk-ui-file-thumbnails-grid {
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 8vw);
}

.disk-ui-file-thumbnails-grid-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: #ebecf0;
	overflow: hidden;
}

.disk-ui-file-thumbnails-grid-img {
	display: block;
}
.disk-ui-file-thumbnails-grid-img.disk-ui-file-thumbnails-grid-img-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.disk-ui-file-thumbnails-grid-flexible-img.disk-ui-file-thumbnails-grid-flexible-width-img .disk-ui-file-thumbnails-grid-img {
	width: 100%;
}

.disk-ui-file-thumbnails-grid-flexible-img.disk-ui-file-thumbnails-grid {
	display: block;
}

/* region VERTICAL VIEW */

.disk-ui-file-thumbnails-grid-item-1 {
	grid-column: 1 / span 8;
	grid-row: 1 / span 12;
}

.disk-ui-file-thumbnails-grid-vertical-two .disk-ui-file-thumbnails-grid-item-2 {
	grid-column: 5 / span 4;
	grid-row: 1 / span 12;
}

.disk-ui-file-thumbnails-grid-vertical-two .disk-ui-file-thumbnails-grid-item-1,
.disk-ui-file-thumbnails-grid-vertical-three .disk-ui-file-thumbnails-grid-item-1 {
	grid-column: 1 / span 4;
	grid-row: 1 / span 12;
}

.disk-ui-file-thumbnails-grid-vertical-three .disk-ui-file-thumbnails-grid-item-2 {
	grid-column: 5 / span 4;
	grid-row: 1 / span 6;
}

.disk-ui-file-thumbnails-grid-vertical-three .disk-ui-file-thumbnails-grid-item-3 {
	grid-column: 5 / span 4;
	grid-row: 7 / span 6;
}

.disk-ui-file-thumbnails-grid-vertical-full .disk-ui-file-thumbnails-grid-item-1 {
	 grid-column: 1 / span 5;
	 grid-row: 1 / span 12;
}

.disk-ui-file-thumbnails-grid-vertical-full .disk-ui-file-thumbnails-grid-item-2 {
	grid-column: 6 / span 3;
	grid-row: 1 / span 4;
}

.disk-ui-file-thumbnails-grid-vertical-full .disk-ui-file-thumbnails-grid-item-3 {
	grid-column: 6 / span 3;
	grid-row: 5 / span 4;
}

.disk-ui-file-thumbnails-grid-vertical-full .disk-ui-file-thumbnails-grid-item-4 {
	grid-column: 6 / span 3;
	grid-row: 9 / span 4;
}

/* endregion */

/* region HORIZONTAL VIEW */

.disk-ui-file-thumbnails-grid-horizontal-two .disk-ui-file-thumbnails-grid-item-2 {
	grid-column: 1 / span 12;
	grid-row: 7 / span 6;
}

.disk-ui-file-thumbnails-grid-horizontal-two .disk-ui-file-thumbnails-grid-item-1,
.disk-ui-file-thumbnails-grid-horizontal-three .disk-ui-file-thumbnails-grid-item-1 {
	grid-column: 1 / span 12;
	grid-row: 1 / span 6;
}

.disk-ui-file-thumbnails-grid-horizontal-three .disk-ui-file-thumbnails-grid-item-2 {
	grid-column: 1 / span 4;
	grid-row: 7 / span 6;
}

.disk-ui-file-thumbnails-grid-horizontal-three .disk-ui-file-thumbnails-grid-item-3 {
	grid-column: 5 / span 8;
	grid-row: 7 / span 6;
}

.disk-ui-file-thumbnails-grid-horizontal-full .disk-ui-file-thumbnails-grid-item-1 {
	grid-column: 1 / span 12;
	grid-row: 1 / span 8;
}

.disk-ui-file-thumbnails-grid-horizontal-full .disk-ui-file-thumbnails-grid-item-2 {
	grid-column: 1 / span 4;
	grid-row: 9 / span 4;
}

.disk-ui-file-thumbnails-grid-horizontal-full .disk-ui-file-thumbnails-grid-item-3 {
	grid-column: 5 / span 4;
	grid-row: 9 / span 4;
}

.disk-ui-file-thumbnails-grid-horizontal-full .disk-ui-file-thumbnails-grid-item-4 {
	grid-column: 9 / span 4;
	grid-row: 9 / span 4;
}

/* endregion */

.disk-ui-file-thumbnails-grid-number {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	font: 23px 'Roboto', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	transform: translate(-50%,-50%);
	z-index: 3;
}

.disk-ui-file-thumbnails-grid-more .disk-ui-file-thumbnails-grid-item-4:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 2;
	pointer-events: none;
}

.disk-ui-file-thumbnails-grid-more .disk-ui-file-thumbnails-grid-number:last-child {
	display: block;
}
