.sonet-members-item {
	position: relative;
	min-height: 136px;
}
* html .sonet-members-item { zoom: 1; }
.sonet-members-item-name {
	color: #59626F;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	text-transform: uppercase;
}
.sonet-members-item-menu { color: #b2b2b2; font-size: 13px; right: 0; top: 0; position: absolute; }
.sonet-members-item-menu-title {
	color: #1069C3;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	padding-right: 9px;
	position: relative;
	font-family: Arial,Verdana,Helvetica,sans-serif;
}
.sonet-members-item-menu-arrow { background: url("images/group-list-sprite.png") no-repeat -36px -99px; height: 3px; top: 7px; right: 4px; position: absolute; width: 5px; }

.sonet-members-member-block-shift { margin-left:-7px; }
* html .sonet-members-member-block-shift { margin-left:-25px; }
.sonet-members-separator { background: url("images/group-list-sprite.png") no-repeat right -121px #F2F2F2; height: 1px; font-size: 1px; overflow: hidden; margin: 5px 0 8px; }
.sonet-members-member-img-wrap { display: block; float: left; padding-left: 7%; vertical-align: top; zoom: 1; }
* html .sonet-members-member-img-wrap { padding-left: 18px; }
.sonet-members-member-img {
	float: left;
	display: inline-block;
	height: 42px;
	width: 42px;
	border: none;
	border-radius: 100%;
	vertical-align: top;
}

.sonet-members-member-block {
	position: relative;
	display: inline-block;
	margin: 0 1% 8px 0;
	padding: 5px 0 3px;
	height: auto;
	width: 28%;
	min-width: 240px;
	border: 1px solid transparent;
	border-radius: 4px;
	vertical-align: top;
	transition: border .3s;
	overflow: hidden;
}
* html .sonet-members-member-block { padding-left: 25px; width: 250px; }
* + html .sonet-members-member-block { width: 46%; overflow: hidden; position: relative; }
.sonet-members-item .sonet-members-member-block-over {
	border: 1px solid #EDEEF0;
}
.sonet-members-item .sonet-members-member-block-active { background-color: #f5f1db!important; }
.sonet-members-member-text {
	display: block;
	overflow: hidden;
	padding-left: 3%;
	padding-right:3%;
	width:auto;
	opacity: 1;
	transition: opacity .4s;
}
* html .sonet-members-item .sonet-members-member-text { padding-right: 7px; padding-left: 7px; width: 345px; zoom: 1; }
.sonet-members-checkbox { display: none; left: 2%; top: 4px; margin: 0; border: 0; overflow: hidden; height: 15px; width: 15px; padding: 0; font-size: 1px; line-height: 1; position: absolute; }
* html .sonet-members-checkbox { left: 2px; top: 4px; }
.sonet-members-item .sonet-members-member-block-over .sonet-members-checkbox,
.sonet-members-item .sonet-members-member-block-active .sonet-members-checkbox { display: block; }
.sonet-members-caption { color: #23ae26; display: block; font-size: 11px; }
.sonet-members-member-title {
	display: block;
	margin-bottom: 4px;
	max-width: 167px;
	font-size: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	zoom: 1;
}
.sonet-members-member-link,
.sonet-members-member-link:hover,
.sonet-members-member-link:visited,
.sonet-members-member-link:active { font-size: 15px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.sonet-members-member-link { text-decoration: none; }
.sonet-members-member-link:hover { text-decoration: underline; }
.sonet-members-member-description { display: block; text-overflow: ellipsis; overflow: hidden; font-size: 13px; color: #7F7F7F; white-space: nowrap; zoom: 1; }
.sonet-members-nav { padding: 10px 0 20px 0; }

.sonet-members-error-text-block { padding: 20px; }

.sonet-members-close {
	position: absolute;
	top: 5px;
	right: 5px;
	opacity: 0;
	transition: opacity .3s;
	cursor: pointer;
	z-index: 2;
}

.sonet-members-member-block:hover .sonet-members-close {
	opacity: 1;
}

.sonet-members-close-item {
	display: inline-block;
	width: 11px;
	height: 11px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.076%205.485l3.448-3.448-1.59-1.59-3.45%203.447L2.04.446.45%202.036l3.446%203.45L.446%208.93l1.59%201.59%203.45-3.446%203.447%203.447%201.59-1.59%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	opacity: .3;
	transition: opacity .3s;
	box-sizing: border-box;
}

.sonet-members-close-item:hover {
	opacity: 1;
}

.sonet-members-member-button.ui-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 0 0 8px;
	transform: translate(-50%,-50%);
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: opacity .4s;
}

.sonet-members-member-block.delete .sonet-members-member-button.ui-btn {
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
}

.sonet-members-member-block.delete .sonet-members-member-text {
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
}

.sonet-slider-frame-popup .socialnetwork-group-users-content {
	padding: 15px 15px 20px;
}

.sonet-members-hint {
	position: relative;
	top: -1px;
	background: #bfc5ca none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	margin-left: 7px;
	right: 0;
	text-align: center;
	width: 16px;
	cursor: help;
}
