div.filter-field span.filter-date-interval {
    position: relative;
}

span.remove_period {
    display: inline-block;
    width: 15px;
    height: 12px;
    background: #FF0000;
    text-align: center;
    font-size: 20px;
    line-height: 9px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: -4px;
}