.user-profile-edit-help {
	background: #bfc5ca none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	margin-left: 7px;
	right: 0;
	text-align: center;
	top: 12px;
	vertical-align: middle;
	width: 16px;
	cursor: help;
}