/** Hack for hiding special filter fields. See BaseFilter::FIELD_FOR_PRESET_ALL and BaseFilter::FIELD_PRESET_ID **/
.main-ui-filter-wrapper div[data-name="SENDER_SELECT_ALL"],
.main-ui-filter-popup-field-list div[data-name="SENDER_SELECT_ALL"] {
	display: none;
}
.main-ui-filter-wrapper div[data-name="BX_PRESET_ID"],
.main-ui-filter-popup-field-list div[data-name="BX_PRESET_ID"] {
	display: none;
}
.main-ui-filter-search .main-ui-filter-search-square .main-ui-square-item {
	max-width: 250px;
}
.main-ui-filter-add-container {
	display: none;
}




.bx-sender-segment-edit-wrapper {
	padding: 25px;
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bx-sender-caption {
	display: block;
	margin: 0 0 6px 0;
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868E;
}

.bx-sender-form-control {
	display: inline-block;
	padding: 7px 30px 7px 14px;
	min-width: 308px;
	height: 38px;
	border: none;
	-webkit-box-shadow: inset 0 0 0 1px #C6CDD3;
	box-shadow: inset 0 0 0 1px #C6CDD3;
	border-radius: 2px;
	font: 15px/17px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	box-sizing: border-box;
	vertical-align: middle;
	transition: border-color .3s ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	text-indent: 1px;
	text-overflow: '';
}

.bx-sender-form-control:focus {
	-webkit-box-shadow: inset 0 0 0 1px rgba(81, 203, 238, 1);
	box-shadow: inset 0 0 0 1px rgba(81, 203, 238, 1);
}

.bx-sender-letter-field-select {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2219%22%20height%3D%227%22%20viewBox%3D%220%200%2019%207%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20points%3D%223.546%207.425%203.546%201.607%201.607%201.607%201.607%208.394%201.607%209.364%209.364%209.364%209.364%207.425%22%20transform%3D%22rotate%28-45%20.657%203.485%29%22/%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	background-position: right center;
	font: 15px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.bx-sender-letter-field-input {
	width: 100%;
}

.bx-sender-letter-steps {
	margin: -15px;
	background: #eef2f4;
}
.bx-sender-letter-step {
	padding: 25px;
	margin: 0 0 30px 0;
	background: #ffffff;
}
.bx-sender-letter-step-caption {
	margin: 0 0 30px 0;
	font: 26px/25px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bx-sender-letter-types {
	height: 40px;
}
.bx-sender-letter-type {
	background: #85c2f7;
	color: white;
	padding: 15px;
	float: left;
	margin: 0 10px 0 0;
	cursor: pointer;
	font: 20px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bx-sender-letter-type:hover {
	background: #5cb4ff;
}


.bx-sender-letter-field {
	margin: 0 0 30px;
}
/*.bx-sender-letter-field .bx-sender-caption {*/
	/*margin: 0 0 10px;*/
	/*font: 16px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;*/
/*}*/
.bx-sender-letter-field .bx-sender-value {

}


.sender-segment-counter-item {
	margin: 0 0 0 5px;
	border-bottom: 1px solid transparent;
	color: #2067b0;
	transition: border-color .2s linear;
	transform: translate(0,-50%);
	cursor: pointer;
}
.sender-segment-counter-item:hover {
	border-color: #2067b0;
	text-decoration: none;
}

/*
    box list, example: group page, mailing chain page
*/
.sender-box-selector{
	background-color: #E0E8EA;
	padding: 10px;
	margin-bottom: 30px;
}
.sender-box-selector-caption{
	font-weight: bold;
	padding-bottom: 5px;
}
.sender-box-selector-control{

}

.sender-box-list {
	margin: 0 0 30px 0;
	padding: 16px 20px;
	background: rgba(234,241,244,.52);
}
.sender-box-list select {max-width: 570px;}
.sender-box-list-item{
	margin-top: 15px;
	border-radius: 5px;
}
.sender-box-list-item-hidden {

}

.sender-box-list-item-caption{
	vertical-align: middle;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	position: relative;
	height: 39px;
	border: none;
	border-radius: 2px;
	background: #fff;
	font: 15px/39px "Helvetica Neue", Arial, Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	z-index: 1;
	overflow: hidden;
	-webkit-box-shadow: inset 0 0 0 1px #C6CDD3;
	box-shadow: inset 0 0 0 1px #C6CDD3;
	cursor: pointer;
	margin: 0 0 8px 0;
	padding: 0 0 0 15px;
	color: #b6bbc0;
}
.sender-box-list-item-caption a {
	position: absolute;
	top: 50%;
	left: 15px;
	display: inline-block;
	margin: 1px 0 0 0;
	border-bottom: 1px solid transparent;
	font: bold 13px/17px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #2067b0;
	vertical-align: top;
	transition: border-bottom-color .2s linear;
	transform: translate(0,-50%);
	cursor: pointer;
}

.sender-box-list-item-caption-image{
	display: inline-block;
	vertical-align: middle;
	height: 14px;
	width: 20px;

	background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4351px!important;
}
.sender-box-list-item-hidden .sender-box-list-item-caption-image{
	background: url("images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4331px!important;
}
.sender-box-list-item-caption-delete{
	float: right;
	height: 20px;
	width: 23px;
	margin-top: -2px;
	cursor: pointer;
	opacity: 0.5;
	background: url(images/sender/bx-admin-sprite-small-2.png) no-repeat 6px -2446px;
}
.sender-box-list-item-caption-delete:hover {
	opacity: 1;
}
.sender-box-list-item-caption-additional{
	float: right;
	padding-right: 50px;
	vertical-align: sub;
	line-height: 20px;
}
.sender-box-list-item-caption-additional-less{
	font-weight: normal;
	padding-right: 5px;
	color: #485b6d;
	text-shadow: 0 1px 0 #fff;
}
.sender-box-list-item-caption-additional.loading{
	position: relative;
}
.sender-box-list-item-caption-additional.loading .connector_form_counter{
	background-image: url(images/wait.gif);
	position: absolute;
	width: 19px;
	height: 19px;
	top: 0;
	right: 30px;
}
.sender-box-list-item-caption-name {
	vertical-align: sub;
	margin: 0 0 0 15px;
}
.sender-box-list-item-caption-show {
	margin: 0 0 0 100px;
}
.sender-box-list-item-block{
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #e6e6e6;

	position: absolute;
	margin: -17px 0 0 300px;
	z-index: 100;
}
.sender-box-list-item-hidden .sender-box-list-item-block{
	display: none;
}
.sender-box-list-item-block-item{
	padding: 30px;
	border-radius: 4px;
	color: #a9adb2;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	opacity: .7;
	cursor: default;
}
.sender-box-list-item-block-item td {
	padding-left: 10px;
}
.sender-box-list-item-block-item td:first-child {
	text-align: right;
}
.sender-box-list-item-block-item td:last-child {
	text-align: left;
}


/*
    group page summary address counter
*/
div.sender-group-address-counter{
	padding: 0;
}
div.sender-group-address-counter .sender-group-address-counter-img{
	background-position: center -248px;
	vertical-align: middle;
	margin: 0 0 0 20px;
}
div.sender-group-address-counter .sender-group-address-counter-text{
	font-size: medium;
	color: #3E494D;
	padding-left: 0;
	vertical-align: middle;
	margin: 0 0 0 30px;
}
div.sender-group-address-counter .sender-group-address-counter-cnt{
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
	color: #41474f;
	text-shadow: 0 1px 0 #fff;
	vertical-align: middle;
	margin: 0 0 0 30px;
}
div.sender-group-address-counter .sender-group-address-counter-cnttext{
	float: right;
	font-size: small;
	padding-right: 20px;
	color: #3E494D;
}

.sender-box-connector {
	/*padding: 16px 22px;*/
	margin: 0 0 30px 0;
	border-radius: 2px;
	overflow: hidden;
}

.sender-box-name {
	display: block;
	margin: 0 0 7px 0;
	font: 14px/16px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
}

.sender-box-filter {
	display: block;
	width: 100%;
}

.sender-box-filter .main-ui-filter-search {
	margin: 0 0 8px 0;
	width: 100%;
	-webkit-box-shadow: inset 0 0 0 1px #C6CDD3;
	box-shadow: inset 0 0 0 1px #C6CDD3;
}

.sender-box-desc {
	float: left;
	width: 100%;
}
.sender-box-desc,
.sender-box-desc a,
.sender-box-desc .sender-box-list-item-caption-additional-less {
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #828B95;
}

.sender-box-desc .sender-box-list-item-caption-additional {
	float: none;
}

.sender-box-informer {
	display: flex;
	align-items: center;
	padding: 12px 14px;
	min-height: 43px;
	background: #F8F4BC;
	font: 14px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #91711E;
	box-sizing: border-box;
}

.sender-box-informer-text {
	display: inline-block;
	margin: 0 3px 0 0;
}

.sender-box-informer-icon {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2013%2013%22%3E%3Cg%20fill%3D%22none%22%20opacity%3D%22.7%22%3E%3Cpath%20fill%3D%22%2391711E%22%20d%3D%22M12.48%206.49C12.48%203.183%209.8.5%206.49.5%203.183.5.5%203.182.5%206.49c0%203.31%202.682%205.99%205.99%205.99%203.31%200%205.99-2.68%205.99-5.99z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.06%204.842c0-.308.098-.62.296-.936.197-.316.486-.578.865-.785.38-.207.823-.31%201.33-.31.47%200%20.884.086%201.244.26.36.173.638.41.834.707.196.298.294.623.294.973%200%20.275-.056.517-.168.724-.11.208-.244.387-.398.538-.154.15-.43.404-.83.76-.11.1-.198.19-.265.266-.065.076-.114.146-.147.21-.032.062-.057.125-.075.19-.018.062-.045.173-.08.332-.062.337-.255.505-.58.505-.168%200-.31-.055-.425-.165-.115-.11-.172-.274-.172-.49%200-.273.043-.51.127-.71.084-.198.196-.373.336-.524.14-.15.327-.33.564-.537.207-.183.357-.32.45-.412.092-.093.17-.195.233-.31.063-.112.095-.236.095-.37%200-.258-.097-.477-.29-.655-.192-.178-.44-.268-.746-.268-.358%200-.62.09-.79.27-.167.18-.31.445-.427.795-.11.367-.32.55-.627.55-.182%200-.335-.064-.46-.192s-.187-.267-.187-.416zm2.372%205.33c-.197%200-.37-.064-.518-.192-.147-.128-.22-.307-.22-.537%200-.205.07-.376.213-.516s.318-.21.525-.21c.205%200%20.376.07.516.21.14.14.21.31.21.516%200%20.227-.074.405-.22.535-.146.13-.314.194-.506.194z%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	cursor: pointer;
}

.sender-box-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.sender-box-button-container .webform-button-link {
	margin: 0 15px 0 0;
}

.sender-box-label {
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #000;
}

.sender-box-label-name {
	margin: 0 3px 0 0;
}

.sender-box-button-container .sender-box-label {
	position: absolute;
	right: 0;
}

.sender-flex-control {
	display: flex;
	align-items: center;
	margin: 0 0 13px 0;
}

.sender-flex-control .sender-ui-tile-selector-wrap {
	flex: 1;
	margin: 0 16px 0 0;
}

.sender-link {
	display: inline-block;
	border-bottom: 1px solid transparent;
	font: bold 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #0063C6;
	transition: border-bottom .3s;
}

.sender-link:hover {
	border-bottom: 1px solid #0063C6;
}

.sender-segment-selector-wrapper {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*********** LOAD ANIMATION **********************/
.sender-segment-edit-loader {
	display: none;
}
.loading .sender-segment-edit-count {
	display: none;
}
.loading .sender-segment-edit-loader {
	display: inline-block;
}


/********* LOADER *************/
.sender-segment-edit-circular {
	margin: 0 4px 0 0;
	height: 12px;
	width: 12px;
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.sender-segment-edit-inner-path {
	stroke: rgba(205,0,0,.17);
	stroke-width: 4;
	stroke-dasharray: 200, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
}

.sender-segment-edit-path {
	stroke: rgb(128, 128, 128);
	stroke-width: 4;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}