.intranet-stresslevel-instruction-wrapper {
	padding: 20px 20px 25px;
	border-bottom: 20px solid #eef2f4;
}

.intranet-stresslevel-instruction {
	display: block;
	position: relative;
	padding: 4px 0 0 40px;
	margin-bottom: 20px;
}

.intranet-stresslevel-instruction-step {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	text-align: center;
	line-height: 25px;
	border: 2px solid #3bc8f5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #000;
}

.intranet-stresslevel-instruction-apps-wrapper {
	display: block;
	overflow: hidden;
}

.intranet-stresslevel-instruction-apps {
	display: block;
	overflow: hidden;
}

.intranet-stresslevel-instruction-apps-item {
	display: inline-block;
	position: relative;
	vertical-align: top;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 35px;
	padding: 0 0 0 35px;
	background: left center no-repeat;
}

.intranet-stresslevel-instruction-apps-item-android {
	padding-right: 22px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2226%22%20height%3D%2231%22%20viewBox%3D%220%200%2026%2031%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3.87705171%2C11.6157272%20L3.87705171%2C19.4102166%20C3.87705171%2C20.4467895%203.06260161%2C21.2747016%202.02602876%2C21.2747016%20C0.996186898%2C21.2747016%206.99884595e-13%2C20.4400585%206.99884595e-13%2C19.4102166%20L6.99884595e-13%2C11.6157272%20C6.99884595e-13%2C10.5993474%200.996186898%2C9.76470428%202.02602876%2C9.76470428%20C3.04240864%2C9.76470428%203.87705171%2C10.5993474%203.87705171%2C11.6157272%20Z%20M4.60399891%2C22.1833855%20C4.60399891%2C23.2872683%205.49248993%2C24.1757593%206.5963727%2C24.1757593%20L7.93584022%2C24.1757593%20L7.9560332%2C28.2883958%20C7.9560332%2C30.772132%2011.6715411%2C30.7519391%2011.6715411%2C28.2883958%20L11.6715411%2C24.1757593%20L14.1754703%2C24.1757593%20L14.1754703%2C28.2883958%20C14.1754703%2C30.7586701%2017.9111712%2C30.7654011%2017.9111712%2C28.2883958%20L17.9111712%2C24.1757593%20L19.2708317%2C24.1757593%20C20.3612525%2C24.1757593%2021.2497435%2C23.2872683%2021.2497435%2C22.1833855%20L21.2497435%2C10.1079849%20L4.60399891%2C10.1079849%20L4.60399891%2C22.1833855%20Z%20M21.2968604%2C9.45507863%20L4.52995799%2C9.45507863%20C4.52995799%2C6.57421381%206.25309208%2C4.07028458%208.81086926%2C2.76447203%20L7.52524968%2C0.388431653%20C7.33678189%2C0.0586130183%207.81468236%2C-0.150047751%207.97622618%2C0.132653936%20L9.28203873%2C2.52888729%20C11.6311551%2C1.48558344%2014.3302832%2C1.53943138%2016.5717037%2C2.52888729%20L17.8707852%2C0.139384929%20C18.03906%2C-0.150047751%2018.5102295%2C0.0653440108%2018.3217617%2C0.395162646%20L17.0361422%2C2.76447203%20C19.5737264%2C4.07028458%2021.2968604%2C6.57421381%2021.2968604%2C9.45507863%20L21.2968604%2C9.45507863%20Z%20M9.80705615%2C5.71937776%20C9.80705615%2C5.33571118%209.4974305%2C5.01262354%209.10030193%2C5.01262354%20C8.71663536%2C5.01262354%208.41374069%2C5.33571118%208.41374069%2C5.71937776%20C8.41374069%2C6.10304433%208.72336635%2C6.42613198%209.10030193%2C6.42613198%20C9.4974305%2C6.42613198%209.80705615%2C6.10304433%209.80705615%2C5.71937776%20Z%20M17.4400017%2C5.71937776%20C17.4400017%2C5.33571118%2017.1303761%2C5.01262354%2016.7534405%2C5.01262354%20C16.3563119%2C5.01262354%2016.0466863%2C5.33571118%2016.0466863%2C5.71937776%20C16.0466863%2C6.10304433%2016.3563119%2C6.42613198%2016.7534405%2C6.42613198%20C17.1303761%2C6.42613198%2017.4400017%2C6.10304433%2017.4400017%2C5.71937776%20Z%20M23.8209827%2C9.76470428%20C22.8046028%2C9.76470428%2021.9699597%2C10.5791544%2021.9699597%2C11.6157272%20L21.9699597%2C19.4102166%20C21.9699597%2C20.4467895%2022.8046028%2C21.2747016%2023.8209827%2C21.2747016%20C24.8575555%2C21.2747016%2025.8470114%2C20.4400585%2025.8470114%2C19.4102166%20L25.8470114%2C11.6157272%20C25.8470114%2C10.5791544%2024.8508245%2C9.76470428%2023.8209827%2C9.76470428%20Z%22/%3E%3C/svg%3E');
}

.intranet-stresslevel-instruction-apps-item-ios {
	margin-left: 30px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2225%22%20height%3D%2230%22%20viewBox%3D%220%200%2025%2030%22%3E%0A%20%20%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20.8808528%2C15.7490647%20C20.8675825%2C13.310521%2021.9690193%2C11.4699853%2024.1984335%2C10.1145006%20C22.9510232%2C8.32712113%2021.0666373%2C7.34373021%2018.5784518%2C7.15103875%20C16.2229695%2C6.96499182%2013.6485269%2C8.52645713%2012.706334%2C8.52645713%20C11.7110598%2C8.52645713%209.42856431%2C7.21748408%207.63707074%2C7.21748408%20C3.93465069%2C7.27728488%203.85469434e-13%2C10.1743014%203.85469434e-13%2C16.0680023%20C3.85469434e-13%2C17.80887%200.318487746%2C19.6095385%200.955463237%2C21.4633633%20C1.80476389%2C23.901907%204.87020845%2C29.8819869%208.06835623%2C29.7823189%20C9.74041689%2C29.7424517%2010.9214756%2C28.5929475%2013.0978085%2C28.5929475%20C15.2077899%2C28.5929475%2016.3025915%2C29.7823189%2018.1670718%2C29.7823189%20C21.3917603%2C29.7358072%2024.1652577%2C24.300579%2024.9747474%2C21.8553908%20C20.6486222%2C19.8155191%2020.8808528%2C15.8753109%2020.8808528%2C15.7490647%20Z%20M17.1404822%2C4.83505804%20C18.9605477%2C2.67428727%2018.793875%2C0.70691883%2018.7405397%2C-1.0125234e-13%20C17.1338153%2C0.093366638%2015.2737484%2C1.09372347%2014.2137102%2C2.3274969%20C13.0470016%2C3.64796793%2012.3603102%2C5.28188409%2012.5069822%2C7.12254067%20C14.2470448%2C7.25592158%2015.8337685%2C6.36226947%2017.1404822%2C4.83505804%20Z%22/%3E%0A%3C/svg%3E%0A');
}

.intranet-stresslevel-instruction-apps-item-ios:before {
	content: '';
	width: 1px;
	height: 22px;
	background: #d8d8d8;
	position: absolute;
	left: -30px;
	top: 50%;
	transform: translateY(-50%);
}

.intranet-stresslevel-instruction-apps-link {
	clear: both;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #2066b0;
	margin: 15px 0 15px 0;
	line-height: 20px;
	cursor: pointer;
	padding-bottom: 1px;
	border-bottom: 1px dashed rgba(39,107,179,.4);
}

.intranet-stresslevel-instruction-apps-link:hover {
	border-bottom: 1px dashed rgba(39,107,179,1);
}

.intranet-stresslevel-instruction-apps-input {
	overflow: hidden;
	margin-bottom: 15px;
}

.intranet-stresslevel-instruction-apps-input-wrapper {
	display: block;
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition: .2s;
}

.intranet-stresslevel-instruction-apps-input-wrapper-show {
	height: 56px;
	animation: intranet-stresslevel-instruction-apps-input-show .1s linear forwards;
	animation-delay: .25s;
}

.intranet-stresslevel-instruction-apps-input {
	display: block;
	overflow: hidden;
}

@keyframes intranet-stresslevel-instruction-apps-input-show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.intranet-stresslevel-instruction-wrapper .ui-alert {
	margin-bottom: 0;
}

.intranet-stresslevel-instruction-wrapper .ui-text-2 {
	margin-bottom: 20px;
}

.intranet-stresslevel-instruction-wrapper .ui-alert-message {
	color: #525c69;
}

.intranet-stresslevel-instruction-wrapper .ui-alert-message a {
	display: inline-block;
	color: #2066b0;
	text-decoration: none;
	border-bottom: 1px dashed rgba(39,107,179,.4);
}

.intranet-stresslevel-instruction-wrapper .ui-alert-message a:hover {
	border-bottom: 1px dashed rgba(39,107,179,.8);
}

/*graph widget*/
.intranet-stresslevel-instruction-graph {
	display: flex;
	position: relative;
	height: 175px;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
}

.intranet-stresslevel-instruction-graph:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 0;
	bottom: 45px;
	left: 57px;
	background: #d8d8d8;
}

.intranet-stresslevel-instruction-graph-col {
	display: flex;
	position: relative;
	flex: 1;
	align-items: flex-end;
	flex-direction: column;
	max-width: 57px;
}

.intranet-stresslevel-instruction-graph-col:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	height: 3px;
	width: 1px;
	background: #d8d8d8;
}

.intranet-stresslevel-instruction-graph-col:first-child:after {
	display: none;
}

.intranet-stresslevel-instruction-graph-col:nth-child(2) {
	border-bottom: 1px solid #d8d8d8;
}

.intranet-stresslevel-instruction-graph-col:first-child {
	border-right: 1px solid #d8d8d8;
	border-bottom: none;
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: column;
	max-width: 30px;
}

.intranet-stresslevel-instruction-graph-col {
	position: relative;
	margin-bottom: 45px;
}

.intranet-stresslevel-instruction-graph-col:first-child .intranet-stresslevel-instruction-graph-col-param {
	flex-grow: 0;
	padding-right: 5px;
	font-size: 9px;
	color: #7e8792;
}

.intranet-stresslevel-instruction-graph-col:first-child .intranet-stresslevel-instruction-graph-col-param:after {
	content: '%';
	color: #7e8792;
}

.intranet-stresslevel-instruction-graph-col-param {
	flex: 1;
}

.intranet-stresslevel-instruction-graph-col-graph {
	position: absolute;
	bottom: 0;
	left: 6px;
	right: 6px;
}

.intranet-stresslevel-instruction-graph-col-graph-green {
	background: #9DCF00;
}

.intranet-stresslevel-instruction-graph-col-graph-yellow {
	background: #FFA900;
}

.intranet-stresslevel-instruction-graph-col-graph-red {
	background: #FF5752;
}

.intranet-stresslevel-instruction-graph-col-graph-unknown {
	background: #C8CBCE;
}

.intranet-stresslevel-instruction-graph-col-info {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: -45px;
	left: 0;
	right: 0;
	height: 45px;
	justify-content: center;
	align-items: center;
	font-size: 11px;
}

.intranet-stresslevel-instruction-graph-col-date,
.intranet-stresslevel-instruction-graph-col-value {
	flex-grow: 0;
}

.intranet-stresslevel-instruction-graph-col-value {
	color: #a8adb4;
}

.intranet-stresslevel-instruction-graph-col-date {
	color: #333;
}

.intranet-stresslevel-instruction-graph-col-value:after {
	content: '%';
}

.intranet-stresslevel-instruction-graph-col-value:empty:after {
	display: none;
}

.intranet-stresslevel-instruction-img {
	display: block;
	position: relative;
	width: 236px;
	height: 205px;
	margin: 0 auto 20px auto;
	background: url(images/intranet-stresslevel-content-stresslevel.png) center top no-repeat;
	background-size: 100%;
}

.intranet-stresslevel-instruction-img-title,
.intranet-stresslevel-instruction-img-value,
.intranet-stresslevel-instruction-img-text {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.intranet-stresslevel-instruction-img-title {
	top: 84px;
	opacity: .7;
	font-family: "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #525C69;
	letter-spacing: 0;
	text-align: center;
}

.intranet-stresslevel-instruction-img-value {
	top: 97px;
	font-family: "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
	font-size: 46px;
	color: #525C69;
	letter-spacing: -0.45px;
	text-align: center;
}

.intranet-stresslevel-instruction-img-value:after {
	content: '%';
	position: absolute;
	top: 19px;
	right: -21px;
	opacity: .54;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	font-size: 24px;
	color: #525C69;
	text-align: center;
}

.intranet-stresslevel-instruction-img-text {
	bottom: 0;
	padding: 0 25px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	color: #fff;
	white-space: nowrap;
	font-family: "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
	font-size: 17px;
	text-align: center;
}

.intranet-stresslevel-instruction-img-green .intranet-stresslevel-instruction-img-text {
	background: #9dcf00;
}

.intranet-stresslevel-instruction-img-yellow .intranet-stresslevel-instruction-img-text {
	background: #f7a700;
}

.intranet-stresslevel-instruction-img-unknown .intranet-stresslevel-instruction-img-text {
	background: #c8cbce;
}

.intranet-stresslevel-instruction-img-red .intranet-stresslevel-instruction-img-text {
	background: #FF5752;
}

.intranet-stresslevel-instruction-img-arrow {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	margin-left: -50px;
	top: 74px;
	border-radius: 100%;
}

.intranet-stresslevel-instruction-img-arrow:after {
	content: '';
	position: absolute;
	width: 85px;
	height: 26px;
	background-size: 100%;
	top: 50%;
	margin-top: -13px;
	left: -69px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2268%22%20height%3D%2224%22%20viewBox%3D%220%200%2068%2024%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-opacity%3D%22.795%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23FFF%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20d%3D%22M34%2C47%20C27.9235253%2C47%2025%2C44.5578776%2025%2C37.409886%20C25%2C32.5193227%2027.3717514%2C14.3210372%2032.1301172%2C-17.3624362%20C32.2334247%2C-18.0503071%2032.769344%2C-18.5926143%2033.4559426%2C-18.7040649%20C34.3281364%2C-18.8456419%2035.14996%2C-18.2533599%2035.2915365%2C-17.3811686%20C40.4362531%2C14.3126671%2043%2C32.5128101%2043%2C37.409886%20C43%2C44.5578776%2040.0764747%2C47%2034%2C47%20Z%22%20transform%3D%22rotate%28-90%2034%2012.5%29%22/%3E%3C/svg%3E') center center no-repeat;
	background-size: 100%;
}
.intranet-stresslevel-instruction-img-arrow:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	border-radius: 100%;
	z-index: 9;
}