.pagetitle-inner-container-documents {
	display: flex;
	align-items: center;
}

.pagetitle-inner-container-documents .pagetitle {
	margin-right: 70px;
}

.docs-region-wrap {
	margin-bottom: 26px;
}

.docs-region-container {
	display: flex;
	flex-direction: column;
}
.docs-region-label {
	font-size: 13px;
	line-height: 19px;
	color: #a9adb2;
}
.docs-region-phrases-title {
	font-size: 16px;
	line-height: 25px;
	color: #475767;
	margin-bottom: 15px;
}

.docs-region-input {
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	overflow: hidden;
	min-height: 38px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	padding-left: 5px;
	font-size: 14px;
	margin-top: 5px;
}

.docs-region-select-wrap{
	display: flex;
}
.docs-region-select {
	padding: 9px 30px 9px 12px;
	width: 375px;
	display: flex;
	margin: 5px 26px 0 0;
	height: 38px;
	border-radius: 2px;
	border: 1px solid #c6cdd3;
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPath%3C/title%3E%3Cpath%20d%3D%22M5.485%204.228L1.37.114%200%201.484l4.8%204.8.685.687%205.486-5.485L9.6.115%205.484%204.227z%22%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') no-repeat center right 13px;
	background-size: 11px 11px;
	font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #475767;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	box-sizing: border-box;
	cursor: pointer;
}