.bx-step-opacity {
	transition: 300ms opacity ease;
}

#workarea-content {
	background-color: transparent !important;
}

.workarea-content-paddings {
	padding: 0 15px 0 0 !important;
}

.crm-table {
	width: 100%;
}

.crm-table-left-column {
	width: 50%;
	vertical-align: top;
	padding-right: 5px;
}

.crm-table-right-column {
	width: 50%;
	vertical-align: top;
	padding-left: 5px;
}

.crm-block-inner-table {
	width: 100%;
	border-spacing: 0;
}

.crm-footer-container {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 900;
	padding: 10px 0 10px 0;
	background-color: #fff;
	text-align: center;
}