div.visible-off {
    display: none;
}
span.visible-off {
    display: none;
}
a.visible-off {
    display: none;
}

a.disable-link {
    pointer-events: none;
    cursor: default; color:black
}

span.error {
    color: red;
}

table.field-types-table {width: 100%;}
table.field-types-table tr td { background: url(../images/hr.gif) no-repeat bottom left; padding-bottom: 31px;padding-top: 21px; }
table.field-types-table tr:first-child  td{ padding-bottom: 26px;padding-top: 4px; }
div.field-types-name {padding-bottom: 8px}
div.field-types-name a {font-size: 18px; color: #000000;}
div.field-types-name a:hover {color: #3d3d3d}
div.field-types-desc {padding-bottom: 8px; color: #666666; font-size: 12px;}
div.field-types-add  {background:url(../images/add_field.gif) no-repeat 1px 0px; padding-left: 22px; padding-bottom: 5px; }
div.field-types-add  a {font-size: 13px;}
div.field-types-list  {background:url(../images/view_fields.gif) no-repeat; padding-left: 22px; height: 20px; line-height: 18px; }
div.field-types-list  a {font-size: 13px;}

div.field-types-list a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #666666; /* цвет текста для нективной ссылки */
}

.login-btn {
    background: #2fc6f7;
    color: #fff;
    display: inline-block;
    outline: none !important;
    border: none;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    font-family: 'geometriamedium';
    border-radius: 20px;
    padding: 0 30px;
    height: 42px;
    line-height: 42px;
    font-size: 21px !important;
    -webkit-appearance: none;
}
a.login-btn {
    height: 38px;
    min-width: 110px;
    line-height: 37px;
    padding: 0 20px;
}
.bx-ie .login-btn {
    padding-top: 0;
}
.login-btn:hover  {background: #1ab8eb;color: #fff;}
.login-btn:active {background: #1a83bf;color: #fff;}
.login-btn.wait {
    background:#13b1e3 url(../images/ld_blue.gif) center no-repeat;
    background-size: auto 70% !important;
    color: rgba(0,0,0,0);
}

.login-btn-deactivate {
    background: #8c969a;
    color: #fff;
    cursor: default;
}
.login-btn-deactivate:hover  {background: #8c969a;color: #fff;}
.login-btn-deactivate:active {background: #8c969a;color: #fff;}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

table.customers {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.customers td, .customers th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
.customers tr:nth-child(even) {
    background-color: #dddddd;
}