.report-configuration-big-label-item .report-configuration-col-content {
    /*display: inline-block;*/
}

.report-configuration-big-label-item .report-configuration-input-pencil {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2211%22%3E%3Cpath%20fill%3D%22%2389919B%22%20d%3D%22M8.64%200L11%202.36%203.76%209.6%201.4%207.24%208.64%200zM.01%2010.674a.262.262%200%200%200%20.066.25c.066.066.16.092.25.066l2.797-.754-2.36-2.36-.753%202.798z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    transition: opacity .3s;
    cursor: pointer;
}

.report-configuration-col-content .report-configuration-input-pencil {
    opacity: 0;
}

.report-configuration-col-content:hover .report-configuration-input-pencil {
    opacity: .5;
}

.report-configuration-col-content .report-configuration-input-pencil:hover {
    opacity: 1;
}

.report-configuration-big-label-item .report-configuration-preview-invisible {
    display: none;
}

.report-configuration-big-label-item .report-configuration-field-input {
    border: 1px solid #c6cdd3;
    color: #535c69;
    background: #fff;
    padding: 5px;
    font: 17px "Helvetica Neue", Arial, Helvetica, sans-serif;
    max-width: 80%;
    transition: border 500ms, width 500ms;
}

.report-configuration-big-label-item .report-configuration-field-input-inactive {
    display: inline-block;
    cursor: pointer;
    font: 17px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: rgba(82, 92, 105, .8);
    white-space: nowrap;
    text-overflow: ellipsis;
    /*width: auto;*/
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: border 0ms, width 0ms;
}
