.bx-im-element-chat-teaser {
	display: block;
	text-align: left;
	word-break: break-all;
	margin-top: 2px;
	margin-bottom: 7px;
	margin-left: 5px;
	margin-right: 5px;
}
.bx-im-message-type-system .bx-im-element-chat-teaser {
	margin-left: 15px;
}

.bx-im-element-chat-teaser-join {
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 4px 10px;
	display: inline-block;
	text-decoration: none;
	background-color: #fff;
	border-radius: 4px;
	color: #333;
	text-align: center;
	min-width: 24px;
	transition: opacity .5s;
	opacity: 1;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.bx-im-element-chat-teaser-comment {
	font-size: 13px;
	margin-left: 10px;
}

.bx-im-element-chat-teaser-counter {
	border-bottom: 1px dashed #000;
	cursor: pointer;
}