.salescenter-userconsent-form-settings-section {
	background: #fff;
	padding: 20px 14px 10px 25px;
}

.salescenter-userconsent-form-settings-inner {
	margin-bottom: 18px;
}

.salescenter-userconsent-control-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 100%;
	vertical-align: middle;
	box-sizing: border-box;
}

.salescenter-userconsent-control-container,
.salescenter-userconsent-control-checkbox-container {
	margin: 2px 0 18px 0;
}

.salescenter-userconsent-control-container,
.salescenter-userconsent-control-checkbox-container {
	margin: 2px 0 18px 0;
}

.salescenter-userconsent-control-checkbox-container.salescenter-userconsent-agreement-container {
	margin: 0;
}

.salescenter-userconsent-control-checkbox-label {
	display: flex;
	align-items: flex-start;
	color: #525c69;
	font: 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.salescenter-userconsent-control-checkbox-label .ui-hint-icon {
	margin-top: 2px;
}

.salescenter-userconsent-control-checkbox {
	margin: 2px 10px 0 0;
}

.invisible {
	height: 0;
	opacity: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
