.crm-task-list-mail-editor .bxhtmled-button-bbcode {
	min-width: 24px;
	width: auto;
	text-align: center;
}

.crm-task-list-mail-editor .bxhtmled-button-bbcode i {
	background: none;
}

.crm-task-list-mail-editor .bxhtmled-button-bbcode:before {
	content: 'html';
	font-size: 10px;
	color: rgb(51, 66, 75);
}

.new-from-email-dialog-content {
	position: relative;
	margin: 0 20px;
	overflow-y: hidden;
}

.new-from-email-dialog-block {
	width: 100%;
	overflow-y: hidden;
	transition: height .1s ease-in;
}

.new-from-email-dialog-block-hidden {
	height: 0;
}

.new-from-email-dialog-block-content {
	padding: 10px 0;
}

.new-from-email-dialog-hint-icon {
	margin-left: 5px;
	background: #bfc5ca;
	color: #ffffff;
	height: 16px;
	width: 16px;
	line-height: 17px;
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
}

.crm-task-list-mail-item-inner-body blockquote {
	margin: 0 0 0 5px;
	padding: 5px 5px 5px 8px;
	border-left: 4px solid #e2e3e5;
}
