table.sonet-message-form  
{
	width: 100%;
	border: 1px solid #ABC4D0;
	border-collapse:collapse;
	padding: 0px;
}
table.sonet-message-form td, table.sonet-message-form tbody td
{
	font-weight:normal;
	font-size:11px;
	border:none;
	padding:7px;
}

table.sonet-message-form th
{
	font-weight:normal;
	font-size:12px;
	background-color:#F0F5F7;
	padding: 7px;
	border:none;
}

table.sonet-message-form th.sonet-message-form-small
{
	font-size:11px;
}

table.sonet-message-form-smile tbody td, table.sonet-message-form-smile td
{
	border:none;
	padding:3px;
}

.required-field
{
	font-weight:bold;
	color:#FF0000;
}

div.sonet-cntnr-user-request-group { margin-bottom: 2em; }

.sonet-user-request-group-description-colspan {
	padding: 14px 8px 14px 11px;
}

.sonet-user-request-group-description-left-col {
	color: #7f7f7f;
	padding: 0 8px 0 11px;
	vertical-align: top;
	width: 80px;
}

.sonet-user-request-group-description,
.sonet-user-request-group-description-left-col {
	padding-bottom: 14px;
}

.sonet-user-request-group-description {
	text-align: left;
	vertical-align: top;
}

.sonet-user-request-group-message-text {
	position: relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #80868e;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	outline: 0;
	width: 90%;
	min-height: 75px;
	line-height: 18px;
	padding: 0 8px;
}