.config-webform-field-upload {
	overflow: hidden;
	width: 200px;
}
.config-webform-field-upload:hover .webform-button-text {
	color: #000000;
	cursor: pointer !important;
}
.config-webform-field-upload input {
	opacity: 0;
}
.config-webform-button-upload, .config-webform-button-upload .config-webform-button-left, .config-webform-button-upload .config-webform-button-right, .config-webform-button-upload .config-webform-button-text {
	cursor: pointer;
	display: inline-block;
	height: 27px;
	line-height: 27px;
	vertical-align: top;
}
.config-webform-button-upload .config-webform-button-left {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat 0 -222px;
	width: 6px;
}
.config-webform-button-upload .config-webform-button-text {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat-x 0 -251px;
	color: #5b5b5b;
	font: 14px/26px Arial,Helvetica,sans-serif;
	padding: 0 8px;
	text-shadow: none;
}
.config-webform-button-upload .config-webform-button-right {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat right -222px;
	width: 6px;
}
.config-webform-logo-img {
	background: none repeat 0 0 #ffffff;
	border: 1px solid #ced0d1;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #f5f5f5 inset, 0 0 0 1px #e9eced;
	display: inline-block;
	padding: 3px;
}
.config_logo_delete_link {
	line-height: 40px;
	margin-top: 10px;
	margin-left: 15px;
	vertical-align: top;
}

.config_notify_message
{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fdfaea;
	border-color: #e5e0c4 #f1edd7 #f9f6e4;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px #ede8cc inset;
	color: #555555;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 12px;
	padding: 11px 14px;
	position: relative;
}

.config-vm-popup-input {
	background-color: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 30px;
	padding: 0 0 0 3%;
	width: 97%;
	font-size: 13px;
}