.btn-add-field {background-image:url(images/add_field.gif);}
.btn-edit-list {background-image:url(images/edit_list.gif);}
.btn-view-elements {background-image:url(images/view_elements.gif);}
.btn-view-fields {background-image:url(images/view_fields.gif);}

.ajax-mode-err-container { margin: 0 0 16px 0; }
