.bx-im-quote-panel {
	border-top: 1px solid rgba(31,170,241,.26);
	background: #fff;
	width: 100%;
	box-sizing: border-box;
}
.bx-im-quote-panel-wrap {
	position: relative;
}

.bx-im-quote-panel-box {
	font: 14px/19px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	position: relative;
	border-left: 2px solid #333;
	margin: 8px 16px;
	padding-left: 10px;
}
.bx-im-quote-panel-box > div {
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 20px;
	overflow: hidden;
}
.bx-im-quote-panel-box-title {
	font-weight: bold;
	margin-right: 16px;
}
.bx-im-quote-panel-close {
	position: absolute;
	top: 4px;
	right: 4px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.722%204.747L10.108.36a.69.69%200%200%201%20.975.974L6.697%205.722l4.386%204.386a.69.69%200%200%201-.975.975L5.722%206.696l-4.386%204.387a.69.69%200%201%201-.975-.975l4.386-4.386L.361%201.335a.69.69%200%201%201%20.975-.974l4.386%204.386z%22/%3E%3C/svg%3E') center no-repeat;
	transition: opacity .3s;
	opacity: .2;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
	z-index: 10;
}
.bx-im-quote-panel-close:hover {
	opacity: .8;
}


.bx-im-quote-panel-animation-show {
	animation: bx-im-quote-panel-animation-show .2s ease-out forwards;
}
.bx-im-quote-panel-animation-close {
	animation: bx-im-quote-panel-animation-close .2s linear forwards;
}

@keyframes bx-im-quote-panel-animation-show {
	0% {
		height: 0;
	}
	100% {
		height: 57px;
	}
}
@keyframes bx-im-quote-panel-animation-close {
	0% {
		height: 57px;
	}
	100% {
		height: 0;
	}
}
