.task-form-field.readonly .task-form-field-item {
  background: #b8bcbf;
}
.task-form-field.readonly .task-form-field-item .task-form-field-item-text {
  color: #f8f9fa;
}
.task-form-field.readonly .task-form-field-item.hover-delete {
  background-color: #9da3a7;
}
.task-form-field.readonly .task-form-field-link {
  display: none;
}
.task-form-field .task-form-field-item[data-bx-type~="group"] {
  background: #ADE7E4;
}
.task-form-field .task-form-field-item[data-bx-type~="group"] .task-form-field-item-text {
  color: #116F6B;
}
.task-form-field .task-form-field-item[data-bx-type~="group"].hover-delete {
  background-color: #8CDDDA;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"],
.task-form-field .task-form-field-item[data-bx-type~="mail"],
.task-form-field .task-form-field-item[data-bx-type~="crmemail"] {
  background: #ffed8b;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"] .task-form-field-item-text,
.task-form-field .task-form-field-item[data-bx-type~="mail"] .task-form-field-item-text,
.task-form-field .task-form-field-item[data-bx-type~="crmemail"] .task-form-field-item-text {
  color: #bf7700;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"].hover-delete,
.task-form-field .task-form-field-item[data-bx-type~="mail"].hover-delete,
.task-form-field .task-form-field-item[data-bx-type~="crmemail"].hover-delete {
  background-color: #ffe558;
}
.task-form-field .task-form-field-item[data-bx-type~="extranet"] .task-form-field-item-text:before {
  display: inline-block;
  background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -351px;
}
.task-form-field .task-form-field-item[data-bx-type~="mail"] .task-form-field-item-text:before {
  display: inline-block;
  background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -366px;
}
.task-form-field .task-form-field-item[data-bx-type~="crmemail"] .task-form-field-item-text:before {
  display: inline-block;
  background: url(/bitrix/js/tasks/css/images/icon-crmuser-block.png) no-repeat 0 0!important;
}
.task-form-field .task-form-field-item[data-bx-type~="department"] {
  background: #e2e3e5;
}
.task-form-field .task-form-field-item[data-bx-type~="department"] .task-form-field-item-text {
  color: #535c69;
}
.task-form-field .task-form-field-item[data-bx-type~="department"].hover-delete {
  background-color: #c7c9cd;
}
.task-form-field .tasks-h-invisible .invisible {
  width: 0;
  opacity: 0;
  overflow: hidden;
}
