.tasks-checklist-zone-noselect * {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.tasks-checklist-zone-disabled {
	pointer-events: none;
	opacity: .7;
}

.tasks-checklist-wrapper {
	background: #f8f9fa;
	box-sizing: border-box;
	padding: 13px 0 0;
	margin-bottom: 15px;
	position: relative;
	transition: 170ms linear all;
}

.tasks-checklist-list-actions {}

.tasks-checklist-wrapper.tasks-checklist-collapse { margin-bottom: 25px; }

.tasks-checklist-wrapper::after,
.tasks-checklist-wrapper::before {
	content: "";
	display: block;
	background-color: #eff1f3;
	position: absolute;
	height: 6px;
	box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.12);
	transition: 250ms linear all;
	opacity: 0;
	bottom: 0;
}

.tasks-checklist-wrapper::after {
	left: 6px;
	right: 6px;
}

.tasks-checklist-wrapper.tasks-checklist-collapse::after {
	bottom: -6px;
	opacity: 1;
}

.tasks-checklist-wrapper::before {
	left: 12px;
	right: 12px;
}

.tasks-checklist-wrapper.tasks-checklist-collapse::before {
	bottom: -12px;
	opacity: 1;
}

/*region header*/
.tasks-checklist-header-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 21px 14px;
}

.tasks-checklist-header-block {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
}

.tasks-checklist-header-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-checklist-header-name {
	min-width: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-checklist-header-name.tasks-checklist-header-name-edit-mode {
	flex: 1
}


.tasks-checklist-header-name-text {
	font: bold 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid transparent;
	color: #525c69;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	bottom: -1px;
	position: relative;
}

.tasks-checklist-header-name.tasks-checklist-item-hidden + .tasks-checklist-header-progress-block {display: none;}


.tasks-checklist-header-name-edit-btn {
	width: 10px;
	height: 10px;
	background: url(images/edit.svg);
	margin-left: 10px;
	opacity: 0;
	transition: 250ms linear opacity;
	cursor: pointer;
}

.tasks-checklist-header-name-editor .ui-ctl-element { font: bold 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;}

.tasks-checklist-header-block:hover .tasks-checklist-header-name-edit-btn { opacity: .8; }

.tasks-checklist-header-name-edit-btn:hover {opacity: 1;}

.tasks-checklist-header-actions {
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-checklist-empty .tasks-checklist-action-group-btn {display: none;}

.tasks-checklist-action-group-btn {
	font: 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #80868e;
	border-bottom: 1px dashed;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	padding: 0;
	position: relative;
	margin-left: 20px;
	vertical-align: middle;
	transition: 170ms linear all;
}

.tasks-checklist-action-group-btn:hover {
	text-decoration: none;
	color: #333;
}

.tasks-checklist-item-group-editor-expand .tasks-checklist-action-group-btn {
	color: #276bb2;
	border-color: #a4c0de;
}

.tasks-checklist-action-group-btn::after {
	content: '';
	opacity: 0;
	display: block;
	width: 9px;
	position: absolute;
	height: 5px;
	box-sizing: border-box;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-left: 2px solid #276bb2;
	border-bottom: 2px solid #276bb2;
	left: -15px;
	top: 5px;
	transition: 170ms linear all;
}

.tasks-checklist-item-group-editor-expand .tasks-checklist-action-group-btn::after { opacity: 1; }

.tasks-checklist-action-collapse-btn {
	margin-left: 20px;
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.tasks-checklist-action-collapse-btn::after,
.tasks-checklist-action-collapse-btn::before {
	content: '';
	display: block;
	width: 8px;
	height: 2px;
	background-color: #828b95;
	position: absolute;
	top: 50%;
	left: 50%;
}

.tasks-checklist-collapse .tasks-checklist-action-collapse-btn::after {
	margin-left: -2px;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.tasks-checklist-collapse .tasks-checklist-action-collapse-btn::before {
	margin-left: 2px;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.tasks-checklist-action-collapse-btn::before {
	margin-left: -2px;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.tasks-checklist-action-collapse-btn::after {
	margin-left: 2px;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

/*endregion*/

/*region wrapper drag&drop*/
.tasks-checklist-wrapper-dragndrop {
	width: 20px;
	position: absolute;
	height: 20px;
	left: 1px;
	top: 16px;
	background: no-repeat center url(images/dragndrop.svg);
	opacity: 0;
	transition: 250ms linear all;
	cursor: grab;
	z-index: 10;
}

.tasks-checklist-header-wrapper:hover .tasks-checklist-wrapper-dragndrop {opacity: .6;}

.tasks-checklist-wrapper .tasks-checklist-wrapper-dragndrop:hover { opacity: 1; }

.tasks-checklist-wrapper-draggable {
	display: block;
	position: absolute;
	z-index: 50;
	transform: rotate(1deg);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	transform-origin: 0 0;
}

.tasks-checklist-wrapper.tasks-checklist-wrapper-draggable .tasks-checklist-wrapper-dragndrop {
	opacity: 1;
	cursor: grabbing;
}

.tasks-checklist-wrapper-drop-place {
	min-height: 40px;
	border: 2px dashed #cdd0d4 !important;
	border-radius: 2px;
	box-sizing: border-box;
}

.tasks-checklist-wrapper-draggable .tasks-checklist-items-wrapper {
	display: none;
}

/*endregion*/

/*region Progress*/
.tasks-checklist-header-progress { padding-left: 28px; }

.tasks-checklist-empty .tasks-checklist-header-progress {display: none;}

.tasks-checklist-item-new .ui-progressround,
.tasks-checklist-item-group-editor-expand .ui-progressround { --ui-current-round-color: #cdd0d3 !important; }

.tasks-checklist-header-progress .ui-progressbar-track {
	position: relative;
	margin-bottom: -2px;
	width: 80px;
}

.tasks-checklist-header-progress .ui-progressbar-text-before,
.tasks-checklist-header-progress .ui-progressbar-status-percent { display: none; }

.tasks-checklist-header-progress .ui-progressbar-text-after {
	font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #80868e;
	padding-left: 9px;
}

/*endregion*/

/*region Checklist Items*/
.tasks-checklist-items-wrapper {
	padding: 0;
	transition: 250ms linear all;
}

.tasks-checklist-collapse .tasks-checklist-items-wrapper { border-top-color: transparent; }

.tasks-checklist-sublist-items-wrapper {
	padding-left: 30px;
	box-sizing: border-box;
}

/**/
.tasks-checklist-item:focus { outline: none; }

.tasks-checklist-item-show {
	transition: 250ms cubic-bezier(.14, .35, .31, 1) all, 250ms cubic-bezier(1, .01, .69, 1) opacity;
}

.tasks-checklist-item-hide {
	transition: 250ms linear all, 250ms cubic-bezier(1, .01, .69, 1) opacity;
}

.tasks-checklist-item-inner {
	padding: 15px 11px 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	transition: 170ms linear background-color;
}

.tasks-checklist-item-hidden { display: none; }

.tasks-checklist-item-inner.tasks-checklist-item-new { padding: 15px 11px 9px 21px; }

.tasks-checklist-item-inner::after {
	border-top: 1px solid #edeff1;
	position: absolute;
	content: '';
	top: 0;
	left: 17px;
	right: 11px;
}

.tasks-checklist-item-drop-place .tasks-checklist-item-inner::after { top: -4px; }

.tasks-checklist-item-inner.tasks-checklist-item-selected { background-color: #f3f4f5; }

/*region drag&drop*/
.tasks-checklist-item-dragndrop {
	width: 21px;
	height: 22px;
	background: no-repeat center url(images/dragndrop.svg);
	opacity: 0;
	margin-top: 6px;
	transition: 250ms linear all;
	cursor: grab;
	z-index: 10;
}

.tasks-checklist-item-inner:hover > .tasks-checklist-item-dragndrop { opacity: .6; }

.tasks-checklist-item-inner > .tasks-checklist-item-dragndrop:hover,
.tasks-checklist-item.tasks-checklist-item-draggable .tasks-checklist-item-dragndrop { opacity: 1; }

.tasks-checklist-item.tasks-checklist-item-draggable .tasks-checklist-item-dragndrop { cursor: grabbing; }

.tasks-checklist-item-drop-place {
	padding: 0 11px 2px;
	margin-top: 4px;
}

.tasks-checklist-item-drop-place .tasks-checklist-item-inner {
	min-height: 40px;
	border: 2px dashed #cdd0d4 !important;
	border-radius: 2px;
	box-sizing: border-box;
}

.tasks-checklist-item.tasks-checklist-item-draggable {
	position: absolute;
	z-index: 800;
	opacity: .9;
	padding: 0 11px;
}

.tasks-checklist-group-draggable {
	display: block;
	background-color: #f3f4f5;
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transform: rotate(1deg);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	transform-origin: 0 0;
}

.tasks-checklist-item.tasks-checklist-item-draggable .tasks-checklist-item-inner {
	background-color: #f3f4f5;
	z-index: 100;
	position: relative;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.tasks-checklist-item.tasks-checklist-item-draggable .tasks-checklist-item-inner::after,
.tasks-checklist-item.tasks-checklist-item-draggable .tasks-checklist-item-inner::before { content: none; }

.tasks-checklist-item-draggable .tasks-checklist-item-attachment,
.tasks-checklist-item-draggable .tasks-checklist-sublist-items-wrapper { display: none; }

/*endregion*/

/*region additional*/
.tasks-checklist-item-additional-block {
	margin-top: 6px;
	height: 22px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}

.tasks-checklist-item-important {
	width: 17px;
	height: 17px;
	margin-right: 6px;
	cursor: pointer;
	position: relative;
	box-shadow: none;
	tab-index: 1;
	border: none;
	display: inline-block;
	line-height: 22px;
	vertical-align: top;
	background: no-repeat center url(images/important.svg);
}

.tasks-checklist-item-important:focus {
	outline: none;
	background-color: #e0e5ea;
	border-radius: 2px;
}

.tasks-checklist-item-create-task {
	width: 25px;
	tab-index: 1;
	height: 21px;
	box-shadow: none;
	border: none;
	position: relative;
	margin-left: 5px;
	display: block;
	background: no-repeat center url(images/task.svg);
	opacity: 0;
	transition: 250ms linear all;
	cursor: default;
}

.tasks-checklist-item-remove {
	width: 25px;
	tab-index: 1;
	height: 22px;
	box-shadow: none;
	border: none;
	position: relative;
	margin-left: 5px;
	display: block;
	background: no-repeat center url(images/remove.svg);
	opacity: 0;
	transition: 250ms linear all;
	cursor: default;
}

.tasks-checklist-item-group-editor-expand .tasks-checklist-item-create-task,
.tasks-checklist-item-group-editor-expand .tasks-checklist-item-remove { display: none; }

.tasks-checklist-item-remove:focus,
.tasks-checklist-item-create-task:focus {
	outline: none;
	background-color: #e0e5ea;
	border-radius: 2px;
}

.tasks-checklist-item-remove:focus,
.tasks-checklist-item-inner:hover .tasks-checklist-item-remove,
.tasks-checklist-item-create-task:focus,
.tasks-checklist-item-inner:hover .tasks-checklist-item-create-task { opacity: .8; }

.tasks-checklist-item-inner .tasks-checklist-item-remove:hover,
.tasks-checklist-item-inner .tasks-checklist-item-create-task:hover {
	opacity: 1;
	cursor: pointer;
}

/*endregion*/

/*region flags*/
.tasks-checklist-item-flag-block {
	padding: 1px;
	height: 22px;
	margin-top: 6px;
	-ms-flex-preferred-size: 30px;
	flex-basis: 30px;
	max-width: 30px;
	min-width: 30px;
	line-height: normal;
	box-sizing: border-box;
}

.tasks-checklist-item-flag {
	position: relative;
	width: 20px;
	height: 20px;
}

.tasks-checklist-item-flag-element {
	position: absolute;
	top: -7px;
	left: -7px;
	width: 20px;
	height: 20px;
	border: 7px solid transparent;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
	transition: 250ms linear all;
}

.tasks-checklist-item-new .tasks-checklist-item-flag-element,
.tasks-checklist-item-group-editor-expand .tasks-checklist-item-flag-element { cursor: default; }

.tasks-checklist-item-flag-element:focus,
.tasks-checklist-item-flag-element:hover {
	border-color: #ebedef;
	outline: none;
}

.tasks-checklist-item-new .tasks-checklist-item-flag-element:hover,
.tasks-checklist-item-group-editor-expand .tasks-checklist-item-flag-element:hover { border-color: transparent; }

.tasks-checklist-item-flag-element-decorate {
	border: 1px solid rgba(76, 86, 100, 0.38);
	display: block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 50%;
	position: relative;
	z-index: 10;
	transition: 250ms linear all;
}

.tasks-checklist-item-new .tasks-checklist-item-flag-element-decorate,
.tasks-checklist-item-group-editor-expand .tasks-checklist-item-flag-element-decorate { border-color: #cdd0d3 !important; }

.tasks-checklist-item-flag-sub-checklist-progress + .tasks-checklist-item-flag-element-decorate {
	background-color: transparent;
	border-color: transparent;
}

.tasks-checklist-item-solved > .tasks-checklist-item-flag-block .tasks-checklist-item-flag-element-decorate,
.tasks-checklist-item-solved > .tasks-checklist-item-flag-block .tasks-checklist-item-flag-sub-checklist-progress + .tasks-checklist-item-flag-element-decorate {
	background-color: #2fc6f6;
	border-color: #2fc6f6;
}

.tasks-checklist-item-group-editor-expand .tasks-checklist-item-new > .tasks-checklist-item-flag-block .tasks-checklist-item-flag-element-decorate,
.tasks-checklist-item-group-editor-expand .tasks-checklist-item-solved > .tasks-checklist-item-flag-block .tasks-checklist-item-flag-element-decorate,
.tasks-checklist-item-solved.tasks-checklist-item-new > .tasks-checklist-item-flag-block .tasks-checklist-item-flag-sub-checklist-progress + .tasks-checklist-item-flag-element-decorate {
	background-color: #cdd0d3;
	border-color: #cdd0d3;
}

.tasks-checklist-item-flag-element-decorate::after {
	content: '';
	height: 6px;
	width: 10px;
	border: 2px solid #fff;
	box-sizing: border-box;
	border-top: none;
	border-right: none;
	background: transparent;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-5px, -4px) rotate(-45deg);
	-ms-transform: translate(-5px, -4px) rotate(-45deg);
	transform: translate(-5px, -4px) rotate(-45deg);
	transition: 250ms linear all;
}

.tasks-checklist-item-flag-element:focus .tasks-checklist-item-flag-element-decorate::after,
.tasks-checklist-item-flag-element:hover .tasks-checklist-item-flag-element-decorate::after {
	opacity: 1;
	outline: none;
	border-color: #e6e7e9;
}

.tasks-checklist-item-new .tasks-checklist-item-flag-element-decorate::after,
.tasks-checklist-item-group-editor-expand .tasks-checklist-item-flag-element-decorate::after { border-color: #f8f9fa !important; }

.tasks-checklist-item-new > .tasks-checklist-item-flag-block .tasks-checklist-item-flag-element-decorate::after,
.tasks-checklist-item-solved > .tasks-checklist-item-flag-block .tasks-checklist-item-flag-element-decorate::after {
	opacity: 1;
	border-color: #fff;
}

.tasks-checklist-item-flag-sub-checklist-progress {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	box-shadow: inset 0 0 0 1px rgba(76, 86, 100, 0.38);
}

.tasks-checklist-item-flag-sub-checklist-progress .ui-progressround-track { margin: 0; }

/*endregion*/

.tasks-checklist-item-content-block {
	margin-top: 9px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-height: 22px;
	line-height: normal;
	display: flex;
	align-items: flex-start;
}

.tasks-checklist-item-new .tasks-checklist-item-content-block {
	padding: 0;
	margin: -3px 0 2px;
	position: relative;
}

.tasks-checklist-item-number::after { content: '. '; }

.tasks-checklist-item-number,
.tasks-checklist-item-description {
	position: relative;
	display: inline-block;
	font: 14px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c69;
}

.tasks-checklist-item-description-text { display: inline; }

.tasks-checklist-item-new > .tasks-checklist-item-content-block .tasks-checklist-item-description-text,
.tasks-checklist-item-solved > .tasks-checklist-item-content-block .tasks-checklist-item-description-text { text-decoration: line-through; }

/*region watcher*/
.tasks-checklist-item-auditor {
	position: relative;
	white-space: nowrap;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	padding-left: 24px;
}

.tasks-checklist-item-auditor-link {
	color: #2066b0;
	font: 14px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid transparent;
}

.tasks-checklist-item-auditor-link:hover { border-bottom: 1px solid; }

.tasks-checklist-item-auditor-icon {
	display: inline-block;
	width: 20px;
	position: absolute;
	top: 2px;
	left: 0;
	height: 12px;
	margin-right: 5px;
	background: no-repeat center right url(images/watcher.svg);
}

/*endregion*/

/*region responsible*/
.tasks-checklist-item-accomplice {
	position: relative;
	white-space: nowrap;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	padding-left: 20px;
}

.tasks-checklist-item-accomplice-link {
	color: #2066b0;
	font: 14px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	border-bottom: 1px solid transparent;
}

.tasks-checklist-item-accomplice-link:hover { border-bottom: 1px solid; }

.tasks-checklist-item-accomplice-icon {
	display: block;
	position: absolute;
	width: 20px;
	top: 0;
	left: 0;
	bottom: 0;
	height: 18px;
	background: no-repeat center url(images/responsible.svg);
}

/*endregion*/

/*region link in content*/
.tasks-checklist-item-link {
	color: #2066b0;
	white-space: nowrap;
	font: 14px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	border-bottom: 1px solid transparent;
}

.tasks-checklist-item-link:hover { border-bottom: 1px solid; }

/*endregion*/

.tasks-checklist-item-actions-block {
	margin-top: 6px;
	height: 22px;
}

.tasks-checklist-item-actions-block,
.tasks-checklist-item-group-editor-collapse .tasks-checklist-item-actions-block {
	padding-left: 0;
	display: none;
	overflow: hidden;
	opacity: 0;
	box-sizing: border-box;
}

.tasks-checklist-item-group-editor-expand .tasks-checklist-item-actions-block {
	padding-left: 10px;
	display: block;
	width: 30px;
	opacity: 1;
	min-width: 30px;
	max-width: 30px;
}

.tasks-checklist-item-group-editor-collapse .tasks-checklist-item-actions-block {
	-webkit-animation: linear 200ms checklistGroupEditorCollapse;
	animation: linear 200ms checklistGroupEditorCollapse;
}

@-webkit-keyframes checklistGroupEditorCollapse {
	0% { opacity: 1; }
	0%, 50% {
		padding-left: 10px;
		width: 30px;
		min-width: 30px;
		max-width: 30px;
	}
	50%, 100% {opacity: 0;}
	100% {
		width: 0;
		min-width: 0;
		padding-left: 0;
		max-width: 0;
	}
}

@-webkit-keyframes checklistGroupEditorCollapse {
	0% { opacity: 1; }
	0%, 50% {
		padding-left: 10px;
		width: 30px;
		min-width: 30px;
		max-width: 30px;
	}
	50%, 100% {opacity: 0;}
	100% {
		width: 0;
		min-width: 0;
		padding-left: 0;
		max-width: 0;
	}
}

@keyframes checklistGroupEditorCollapse {
	0% { opacity: 1; }
	0%, 50% {
		padding-left: 10px;
		width: 30px;
		min-width: 30px;
		max-width: 30px;
	}
	50%, 100% {opacity: 0;}
	100% {
		width: 0;
		min-width: 0;
		padding-left: 0;
		max-width: 0;
	}
}


/*region added new item*/
.tasks-checklist-items-list-actions {
	padding: 21px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}

.tasks-checklist-items-list-actions::after {
	content: '';
	display: block;
	border-top: 1px solid #edeff1;
	position: absolute;
	top: 0;
	left: 17px;
	right: 11px;
}

.tasks-checklist-item-list-action-separator-flex {
	width: 1px;
	height: 20px;
	background-color: #d7dbde;
	margin: 0 24px;
}

.tasks-checklist-item-list-action-spacer-flex {
	flex: 1;
}

.tasks-checklist-item-add-btn,
.tasks-checklist-item-default-btn,
.tasks-checklist-item-remove-btn {
	color: #80868e;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom: 1px dashed;
	position: relative;
	margin-left: 12px;
	cursor: pointer;
	transition: 170ms linear all;
}

.tasks-checklist-item-add-btn:hover,
.tasks-checklist-item-default-btn:hover,
.tasks-checklist-item-remove-btn:hover { border-bottom: 1px dashed; }

.tasks-checklist-item-add-btn::before {
	content: '+';
	position: absolute;
	margin-left: -12px;
}

.tasks-checklist-item-remove-btn { color: #b73232; }

/*endregion*/

/*endregion*/

/*region filelist*/
.tasks-checklist-item-attachment {}

.tasks-checklist-item-attachment-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 0 0 51px;
}

.tasks-checklist-item-attachment-file {
	width: 69px;
	padding: 5px 11px 5px 0;
}

.tasks-checklist-item-attachment-file-cover {
	width: 69px;
	height: 69px;
	background-size: cover;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.tasks-checklist-item-attachment-file-cover .ui-icon {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 50px;
	position: absolute;
}

.tasks-checklist-item-attachment-file-name,
.tasks-checklist-item-attachment-file-size,
.tasks-checklist-item-attachment-file-revert {
	color: #a8adb4;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 12px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-checklist-item-attachment-file-name {
	padding-top: 3px;
	transition: 170ms linear all;
}

.tasks-checklist-item-attachment-file-size,
.tasks-checklist-item-attachment-file-revert { font-size: 11px; }

.tasks-checklist-item-attachment-file-download {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	position: absolute;
	bottom: 4px;
	left: 4px;
	opacity: 0;
	transition: 250ms linear all;
	background: rgba(47, 198, 246, 0.6) center no-repeat url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%229%22%20height%3D%2211%22%20viewBox%3D%220%200%209%2011%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M8.7260984%2C6.16130318%20L11.520905%2C6.16130318%20L7.67804592%2C9.65481143%20L3.83518685%2C6.16130318%20L6.62999345%2C6.16130318%20L6.62999345%2C2.66779493%20L8.7260984%2C2.66779493%20L8.7260984%2C6.16130318%20Z%20M4%2C11.3421067%20L11.3368056%2C11.3421067%20L11.3368056%2C12.67544%20L4%2C12.67544%20L4%2C11.3421067%20Z%22%20transform%3D%22translate%28-3.078%20-2.665%29%22/%3E%0A%3C/svg%3E%0A);
}

.tasks-checklist-item-attachment-file-cover:hover .tasks-checklist-item-attachment-file-download { opacity: 1; }

.tasks-checklist-item-attachment-file-cover .tasks-checklist-item-attachment-file-download:hover {
	background-color: rgba(47, 198, 246, 1);
	cursor: pointer;
}

.tasks-checklist-item-attachment-file-remove {
	background-color: #fff;
	position: absolute;
	width: 21px;
	height: 21px;
	top: -9px;
	right: -9px;
	opacity: 0;
	border-radius: 50%;
	transition: 250ms linear all;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.tasks-checklist-item-attachment-file-cover:hover .tasks-checklist-item-attachment-file-remove { opacity: 1; }

.tasks-checklist-item-attachment-file-cover .tasks-checklist-item-attachment-file-remove:hover { cursor: pointer;}

.tasks-checklist-item-attachment-file-remove::after,
.tasks-checklist-item-attachment-file-remove::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 2px;
	background: #abb2bb;
	z-index: 1;
}

.tasks-checklist-item-attachment-file-remove::after {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.tasks-checklist-item-attachment-file-remove::before {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.tasks-checklist-item-attachment-file .ui-progressround-track { margin: 0; }

/*endregion*/

/*region Panel*/
.tasks-checklist-item-editor-panel-container {
	position: absolute;
	transform: translateY(-36px);
	transition: 250ms all ease;
	z-index: 90;
	text-align: center;
	height: 0;
}

.tasks-checklist-item-editor-panel {
	padding: 8px 12px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	border-radius: 2px;
	z-index: 100;

	display: inline-flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	height: 34px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tasks-checklist-item-editor-group-panel {

}

.tasks-checklist-item-editor-panel-separator {
	width: 27px;
	position: relative;
	-ms-flex-preferred-size: 27px;
	flex-basis: 27px;
}

.tasks-checklist-item-editor-panel-separator::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 13px;
	width: 1px;
	background-color: #e3e4e7;
}

.tasks-checklist-item-editor-panel-btn {
	position: relative;
	height: 18px;
	box-sizing: border-box;
	cursor: pointer;
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-checklist-item-editor-panel-text {
	order: 2;
	color: #858c96;
	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
}

.tasks-checklist-item-editor-panel-icon {
	display: inline-block;
	height: 20px;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.tasks-checklist-item-editor-panel-icon + .tasks-checklist-item-editor-panel-text { margin-left: 5px; }

.tasks-checklist-item-editor-panel-btn-remove .tasks-checklist-item-editor-panel-icon {
	background: no-repeat center url(images/remove.svg);
	width: 20px;
	top: -1px;
	position: relative;
}

.tasks-checklist-item-editor-panel-btn-important .tasks-checklist-item-editor-panel-icon {
	background: no-repeat center url(images/important_not.svg);
	width: 13px;
}

.tasks-checklist-item-editor-panel-btn-important-selected .tasks-checklist-item-editor-panel-icon {
	background: no-repeat center url(images/important.svg);
	width: 13px;
}

.tasks-checklist-item-editor-panel-btn-checklist .tasks-checklist-item-editor-panel-icon {
	background: no-repeat 0 center url(images/checklist.svg);
	width: 20px;
}

.tasks-checklist-item-editor-panel-btn-attachment .tasks-checklist-item-editor-panel-icon {
	background: no-repeat center url(images/attachment.svg);
	width: 30px;
}

.tasks-checklist-item-editor-panel-btn-tabin .tasks-checklist-item-editor-panel-icon {
	background: no-repeat center url(images/tabin.svg);
	width: 30px;
}

.tasks-checklist-item-editor-panel-btn-tabout .tasks-checklist-item-editor-panel-icon {
	background: no-repeat center url(images/tabout.svg);
	width: 30px;
}

.tasks-checklist-item-editor-panel-btn-auditor .tasks-checklist-item-editor-panel-icon {
	background: no-repeat 0 center url(images/watcher.svg);
	width: 18px;
}

.tasks-checklist-item-editor-panel-btn-accomplice .tasks-checklist-item-editor-panel-icon {
	background: no-repeat center url(images/responsible.svg);
	width: 12px;
}

/*endregion*/


.tasks-checklist-animate-show-fade {
	-webkit-animation: linear 220ms animateShowFade;
	animation: linear 220ms animateShowFade;
}

@-webkit-keyframes animateShowFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes animateShowFade {
	0% { opacity: 0; }
	100% { opacity: 1; }
}