.order_itemlist_item_container{
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow:0 1px 1px 0 rgba(0,0,0,0.2);
	margin-bottom: 16px;
}

.order_itemlist_item_container a{text-decoration:none;}

.order_step1 .order_itemlist_item_title{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#db4545), to(#c22727));
	background-image: -webkit-linear-gradient(#db4545 0%, #c22727 100%);
	background-image: linear-gradient(#db4545 0%, #c22727 100%);
	text-shadow:0 1px 0 #831f1f;
}

.order_itemlist_item_delivery.notallowed{background-position:-1px -61px}
.order_itemlist_item_pay.notallowed,
.order_itemlist_item_delivery.notallowed{color: #cc1717}

.order_step2 .order_itemlist_item_title{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeb71f), to(#e18511));
	background-image: -webkit-linear-gradient(#eeb71f 0%, #e18511 100%);
	background-image: linear-gradient(#eeb71f 0%, #e18511 100%);
	text-shadow:0 1px 0 #945e0e;
}

.order_step3 .order_itemlist_item_title{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28b2da), to(#167cbf));
	background-image: -webkit-linear-gradient(#28b2da 0%, #167cbf 100%);
	background-image: linear-gradient(#28b2da 0%, #167cbf 100%);
	text-shadow:0 1px 0 #831f1f;
}

.order_step3 .order_itemlist_item_delivery 	  {background-position:-1px -81px}

.order_completed .order_itemlist_item_title{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a4a9b1), to(#898f9a));
	background-image: -webkit-linear-gradient(#a4a9b1 0%, #898f9a 100%);
	background-image: linear-gradient(#a4a9b1 0%, #898f9a 100%);
	text-shadow:0 1px 0 #5e6268;
}

.order_itemlist_item_title{
	height: 26px;
	box-shadow:0 1px 1px 0 rgba(0,0,0,0.2);
}

.order_itemlist_item_title span,
.order_itemlist_item_title_container{
	color: #fff;
	line-height:26px;
	padding: 0 40px 0 10px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	background: url(images/gui.png) no-repeat 99% 7px;
	background-size:30px auto;
	font-size: 14px;
	font-weight: bold;
}

.order_itemlist_item_title_number{
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	max-width: 67%;
	float: left;
}

.order_itemlist_item_title_date{
	float: right;
	display: inline-block;
	max-width: 33%;
	overflow: hidden;
	white-space: nowrap;
}

.order_itemlist_item_content{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 8px 8px 0;
	position: relative;
}
.order_itemlist_item_content.close{
	overflow: hidden;
	height: 0;
	padding: 0;
}

.order_itemlist_item_customer,
.order_itemlist_item_delivery,
.order_itemlist_item_pay{
	font-size: 13px;
	margin: 5px 0;
	line-height: 13px;
	color: #000;
	padding: 2px 0 0 20px;
	width: 100%;
	overflow: hidden;
	height: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: url(images/gui.png) no-repeat;
	background-size:30px auto;
}

.order_itemlist_item_default{
	font-size: 13px;
	margin: 5px 0;
	line-height: 13px;
	color: #000;
	padding: 2px 0 0 20px;
	width: 100%;
	text-overflow: ellipsis;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: url(images/gui.png) no-repeat;
	background-size:30px auto;
	}

.order_itemlist_item_pay 	  {background-position:-1px -102px}
.order_itemlist_item_customer {background-position:-2px -23px}
.order_itemlist_item_delivery {background-position:-1px -41px}
.order_itemlist_item_default  {background: url(images/dot.png) no-repeat; background-position: 2px 5px; background-size: 9px;}

.order_itemlist_item_total .order_itemlist_item_idshop{
	top: 0;
	bottom: 0;
	border-radius: 0
}
.order_itemlist_item_total{
	padding: 5px;
	color: #000;
	position: relative;
	background: #f2f4f5;
	box-shadow:inset 0 1px 1px 0 rgba(0,0,0,.1);
	height: 15px;
	text-shadow:0 1px 0 #fff;
	margin: 0;
}

.order_completed .order_itemlist_item_total{
	border-radius: 0;
	background: #fff;
	box-shadow:none;
	text-shadow:none;
}
.order_itemlist_item_total_completed{
	color: #8d97a2;
	font-size: 13px;
	font-weight: bold;
	padding-left: 20px;
	background: url(images/gui.png) no-repeat 0 -121px;
	background-size:30px auto;
}
.order_itemlist_item_total_completed span{color: #000;}

.order_itemlist_item_price{
	position: absolute;
	left: 5px;
	font-size: 14px;
	font-weight: bold;
}
.order_itemlist_item_itemcount{
	position: absolute;
	right: 5px;
	font-size: 13px;

}

.order_itemlist_item_idshop{
	position: absolute;
	top: 10px;
	right: 0;
	background:#f0f1f2;
	padding: 4px;
	border-radius: 5px 0 0 5px;
	font-size: 13px;
	font-weight: bold;
	color: #525253;
}
