.salescenter-main-header-feedback-container {
	margin-left: auto;
}

.salescenter-crmstore-container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #525c69;
	line-height: 18px;
	background: #fff;
	min-height: calc(100vh - 74px - 20px) !important;
}

.salescenter-crmstore-container:before {
	content: '';
	position: absolute;
	top: 15%;
	left: 4%;
	pointer-events: none;
	width: calc(100% - 110px);
	padding-top: 30%;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22684%22%20height%3D%22229%22%20viewBox%3D%220%200%20684%20229%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M647.683428%20225.444802L565.563292%20225.444802C564.860615%20225.444802%20564.163997%20225.418408%20563.474341%20225.366541%20544.914934%20224.936512%20530%20209.492859%20530%20190.505245%20530.005396%20181.250598%20533.623401%20172.377179%20540.058095%20165.837039%20543.356436%20162.484647%20547.256358%20159.886076%20551.499377%20158.150094%20551.428392%20157.208363%20551.392245%20156.256711%20551.392245%20155.296472%20551.39809%20145.531492%20555.21575%20136.168823%20562.005383%20129.268147%20568.795015%20122.367471%20578.000449%20118.494055%20587.596592%20118.5%20599.888981%20118.51526%20610.741757%20124.770412%20617.26403%20134.317728%20620.361326%20133.201027%20623.695477%20132.594078%20627.169022%20132.595942%20642.513391%20132.614738%20655.116218%20144.517513%20656.57721%20159.739175%20671.279743%20163.000862%20682.282216%20176.329489%20682.269231%20192.265477%20682.254242%20210.630241%20667.615898%20225.50761%20649.568656%20225.5%20648.93588%20225.5%20648.30731%20225.481168%20647.683428%20225.444802L647.683428%20225.444802zM118.448702%2058.9834921L93.712405%2058.9834921C93.5007441%2058.9834921%2093.290908%2058.9755985%2093.0831694%2058.9600869%2087.4926891%2058.8314802%2083%2054.2128178%2083%2048.5342789%2083.0016253%2045.7665341%2084.0914438%2043.1128012%2086.0297078%2041.1568715%2087.0232371%2040.154287%2088.1979749%2039.3771443%2089.4760605%2038.8579721%2089.4546785%2038.5763329%2089.4437902%2038.2917268%2089.44379%2038.0045522%2089.4455508%2035.0841844%2090.5955096%2032.284134%2092.6406885%2030.2203804%2094.6858673%2028.1566268%2097.4587358%2026.998222%20100.349294%2027%20104.052018%2027.0045637%20107.3211%2028.8752634%20109.285745%2031.7305354%20110.218715%2031.396569%20111.223031%2031.2150514%20112.269335%2031.2156087%20116.891379%2031.2212301%20120.687613%2034.7809384%20121.127694%2039.3332113%20125.556404%2040.3086689%20128.870578%2044.2948004%20128.866667%2049.0607034%20128.862152%2054.5529693%20124.452777%2059.0022759%20119.016572%2059%20118.825967%2059%20118.636628%2058.9943679%20118.448702%2058.9834921L118.448702%2058.9834921z%22%20opacity%3D%22.117%22/%3E%0A%20%20%20%20%3Cpath%20stroke%3D%22%232FC6F6%22%20d%3D%22M90.3649648%2C227.449182%20L27.3078012%2C227.449182%20C26.7682403%2C227.449182%2026.2333312%2C227.42908%2025.703769%2C227.389578%20C11.4526532%2C227.062068%202.20268248e-13%2C215.300179%202.20268248e-13%2C200.839209%20C0.00414325063%2C193.790868%202.78228197%2C187.03287%207.72325709%2C182.051898%20C10.2559376%2C179.498716%2013.2505506%2C177.519644%2016.5086151%2C176.19752%20C16.4541087%2C175.480297%2016.4263527%2C174.755519%2016.4263521%2C174.0242%20C16.4308406%2C166.587189%2019.3622875%2C159.456579%2024.5758075%2C154.201023%20C29.7893275%2C148.945467%2036.8578561%2C145.995472%2044.226397%2C146%20C53.6652903%2C146.011622%2061.9987548%2C150.775547%2067.0069792%2C158.046784%20C69.385284%2C157.196305%2071.9454612%2C156.734053%2074.6126742%2C156.735472%20C86.3950752%2C156.749787%2096.0723427%2C165.814943%2097.1941873%2C177.407764%20C108.483745%2C179.891865%20116.932157%2C190.04295%20116.922186%2C202.179801%20C116.910677%2C216.166409%20105.670407%2C227.497017%2091.812565%2C227.491221%20C91.3266786%2C227.491221%2090.8440216%2C227.476878%2090.3649648%2C227.449182%20L90.3649648%2C227.449182%20Z%22%20opacity%3D%22.201%22/%3E%0A%20%20%20%20%3Cpath%20stroke%3D%22%232FC6F6%22%20d%3D%22M665.747299%2C35.9814286%20L638.011418%2C35.9814286%20C637.77409%2C35.9814286%20637.538809%2C35.9725484%20637.305879%2C35.9550978%20C631.037484%2C35.8104153%20626%2C30.61442%20626%2C24.2260638%20C626.001822%2C21.1123508%20627.223795%2C18.1269014%20629.397098%2C15.9264805%20C630.511105%2C14.7985729%20631.828294%2C13.9242873%20633.261363%2C13.3402187%20C633.237389%2C13.0233745%20633.22518%2C12.7031926%20633.22518%2C12.3801213%20C633.227154%2C9.09470749%20634.51656%2C5.94465078%20636.809742%2C3.62292798%20C639.102924%2C1.30120517%20642.212038%2C-0.00200019815%20645.453112%2C0%20C649.604838%2C0.0051341713%20653.270337%2C2.10967128%20655.473219%2C5.32185232%20C656.519324%2C4.94614009%20657.645425%2C4.74193286%20658.818607%2C4.74255983%20C664.001131%2C4.74888383%20668.257706%2C8.75355572%20668.751152%2C13.8748627%20C673.716898%2C14.9722525%20677.432957%2C19.4566504%20677.428571%2C24.8182913%20C677.423509%2C30.9970905%20672.479443%2C36.0025604%20666.38403%2C36%20C666.170311%2C36%20665.958013%2C35.9936639%20665.747299%2C35.9814286%20L665.747299%2C35.9814286%20Z%22%20opacity%3D%22.302%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E') center no-repeat;
	background-size: contain;
}

.salescenter-crmstore-title {
	position: relative;
	padding: 5px 0 15px 0;
	font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;;
	font-size: 33px;
	color: #0b66c3;
	text-align: center;
	line-height: 28px;
}

.salescenter-crmstore-sub-title {
	position: relative;
	font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;;
	font-size: 17px;
	color: #333;
	text-align: center;
	line-height: 24px;
	margin-bottom: 10px;
}

@media (max-width: 900px) {
	.salescenter-crmstore-sub-title br {
		display: none;
	}
}

.salescenter-crmstore-contnet {
	position: relative;
	display: block;
	margin: 0 auto 20px auto;
	max-width: 800px;
	text-align: center;
}

.salescenter-crmstore-video {
	position: relative;
	display: block;
	margin: 0 auto 20px auto;
	padding: 10px 10px 7px 10px;
	background: #fff;
	box-shadow: 0 6px 21px 0 rgba(83,92,105,.15);
}

.salescenter-crmstore-contnet-link {
	position: relative;
	font-size: 14px;
	color: #2066b0;
	line-height: 20px;
	border-bottom: 1px dashed rgba(39,107,100,.4);
	cursor: pointer;
}

.salescenter-crmstore-contnet-link:hover {
	border-bottom: 1px dashed rgba(39,107,100,.8);
}

.salescenter-crmstore-contnet--line {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #525c69;
	text-align: center;
	line-height: 18px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(82,92,105,.1);
	max-width: 680px;
}

.salescenter-crmstore-contnet--bg {
	font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #333;
	text-align: center;
	margin-bottom: 15px;
}