.sender-contact-import-wrap {
	position: relative;
	padding: 21px;
	background: #fff;
}

.sender-contact-import-list-box {
	position: relative;
	margin: 0 0 15px 0;
}

.sender-contact-import-set {
	margin: 20px 0 20px 0;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868E;
}

.sender-form-control {
	display: inline-block;
	padding: 7px 30px 7px 14px;
	min-width: 308px;
	height: 38px;
	border: none;
	-webkit-box-shadow: inset 0 0 0 1px #C6CDD3;
	box-shadow: inset 0 0 0 1px #C6CDD3;
	border-radius: 2px;
	font: 15px/17px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	box-sizing: border-box;
	vertical-align: middle;
	transition: border-color .3s ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	text-indent: 1px;
	text-overflow: '';
}

.sender-form-control-select {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2219%22%20height%3D%227%22%20viewBox%3D%220%200%2019%207%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20points%3D%223.546%207.425%203.546%201.607%201.607%201.607%201.607%208.394%201.607%209.364%209.364%209.364%209.364%207.425%22%20transform%3D%22rotate%28-45%20.657%203.485%29%22/%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	background-position: right center;
	/*font: 15px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;*/
}

.sender-contact-import-list-caption {
	margin: 0 0 5px 0;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868E;
}

.sender-contact-import-list-textarea {
	width: 100%;
	min-height: 234px;
	border: 1px solid #C6CDD3;
	outline: 0;
	resize: none;
	box-sizing: border-box;
}

.sender-contact-import-progress-box {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 25px 25px 42px 25px;
	width: 95%;
	background: #F1F9FC;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	z-index: 11;
}

.sender-contact-import-progress-inner {}

.sender-contact-import-progress {
	margin: 0 0 15px 0;
	font: 18px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sender-contact-import-progress-bar {
	position: relative;
	height: 15px;
	width: 100%;
	border-radius: 8px;
	background: rgba(46,198,247,.2);
	overflow: hidden;
}

.sender-contact-import-progress-bar-item {
	position: absolute;
	width: 30%;
	height: 15px;
	border-radius: 8px;
	background: #2EC6F7;
	transition: width .3s;
}

.sender-box-informer {
	display: flex;
	align-items: center;
	padding: 12px 14px;
	min-height: 43px;
	background: #F8F4BC;
	font: 14px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #91711E;
	box-sizing: border-box;
}

.sender-box-informer-text {
	display: inline-block;
	margin: 0 3px 0 0;
}

.sender-contact-import-popup-confirm {
	position: absolute;
	top: -8px;
	left: 50%;
	padding: 14px 39px 14px 23px;
	max-width: 322px;
	background: #FFFCCD;
	color: #333;
	transform: translate(-50%,0);
	box-shadow: 0 6px 21px rgba(83,92,105,.15);
	box-sizing: border-box;
	z-index: 9;
}

.sender-contact-import-popup-close {
	position: absolute;
	top: 8px;
	right: 7px;
	width: 16px;
	height: 16px;
	transition: opacity .3s;
	opacity: .4;
	cursor: pointer;
}

.sender-contact-import-popup-close:hover {
	opacity: 1;
}

.sender-contact-import-popup-close-item {
	display: inline-block;
	margin: 3px 0 0 5px;
	width: 8px;
	height: 8px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23B0B8C1%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.07%203.657l2.122-2.12L5.778.12%203.656%202.244%201.536.12.12%201.537l2.122%202.12L.122%205.78l1.413%201.415%202.12-2.122L5.78%207.194l1.414-1.415-2.12-2.12z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.sender-contact-import-loader {
	opacity: 0;
	transition: opacity 0.4s;
}
.sender-contact-import-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.79);
	z-index: 10;
}