div.crm-view-progress {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 0 16px 0 16px;
	max-height: 0;
	border-bottom: 3px #eef2f4 solid;
	background: #fff8d5;
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #716e62;
	box-sizing: border-box;
}

.crm-view-progress-info {
	/*width: 440px;*/
	padding: 0 15px 0 0;
	box-sizing: border-box;
}

.crm-view-progress-info .crm-view-progress-text,
.crm-view-progress-info .crm-view-progress-text-button.crm-view-progress-link {
	margin: 0 0 0 0.4em;
}

.crm-view-progress-inner {
	display: flex;
	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.crm-view-progress-row {
	display: flex;
	padding: 10px 0;
	width: 100%;
	border-top: 1px solid rgba(113,110,98,.1);
}

.crm-view-progress-row:first-child {
	border-top: none;
}

.crm-view-progress-bar {
	flex: 1;
	position: relative;
	margin: 2px 0 0 0;
	height: 8px;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	background: #f2e59e;

}

.crm-view-progress-bar:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
	background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
	-webkit-background-size: 25px 25px;
	-moz-background-size: 25px 25px;
	background-size: 25px 25px;
	-webkit-animation: crmViewProgressMove 36s linear infinite;
	-moz-animation: crmViewProgressMove 36s linear infinite;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
	z-index: 1;
}

.crm-view-progress-bar-line {
	position: absolute;
	height: 100%;
	background: #ebcd2c;
	border-radius: 5px;
	-webkit-transition: width 1s linear;
	transition: width 1s linear;
	z-index: 2;
}

.crm-view-progress-line-5	{ width: 5%; }
.crm-view-progress-line-10	{ width: 10%; }
.crm-view-progress-line-15	{ width: 15%; }
.crm-view-progress-line-20	{ width: 20%; }
.crm-view-progress-line-25	{ width: 25%; }
.crm-view-progress-line-30	{ width: 30%; }
.crm-view-progress-line-35	{ width: 35%; }
.crm-view-progress-line-40	{ width: 40%; }
.crm-view-progress-line-45	{ width: 45%; }
.crm-view-progress-line-50	{ width: 50%; }
.crm-view-progress-line-55	{ width: 55%; }
.crm-view-progress-line-60	{ width: 60%; }
.crm-view-progress-line-65	{ width: 65%; }
.crm-view-progress-line-70	{ width: 70%; }
.crm-view-progress-line-75	{ width: 75%; }
.crm-view-progress-line-80	{ width: 80%; }
.crm-view-progress-line-85	{ width: 85%; }
.crm-view-progress-line-90	{ width: 90%; }
.crm-view-progress-line-95	{ width: 95%; }
.crm-view-progress-line-100	{ width: 100%; }

.crm-view-progress-steps {
	padding: 0 0 0 10px;
	text-align: right;
	box-sizing: border-box;
}

.crm-view-progress-show.crm-view-progress {
	-webkit-animation: crmViewProgressshow .3s linear forwards;
	animation: crmViewProgressshow .3s linear forwards;
}

.crm-view-progress-hide.crm-view-progress {
	-webkit-animation: crmViewProgresshidden .3s linear forwards;
	animation: crmViewProgresshidden .3s linear forwards;
}

.crm-view-progress-link {
	display: inline-block;
	margin: 0 0 0 auto;
	border-bottom: 1px solid rgba(113,110,98,.5);
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #716e62;
	text-decoration: none;
	transition: border-bottom .3s, color .3s;
	cursor: pointer;
}

.crm-view-progress-link:hover {
	border-bottom: 1px solid transparent;
	color: #716e62;
}

.crm-view-progress-text-button.crm-view-progress-link {
	margin: 0;
}

.crm-view-progress-bar-active.crm-view-progress {
	flex-direction: row;
	min-height: 42px;
}

.crm-view-progress-bar-active .crm-view-progress-link {
	margin: 0 0 0 20px;
}

.crm-view-progress-row-hidden .crm-view-progress-row:not(:first-child) {
	display: none;
}

@keyframes crmViewProgressMove {
	0% {
		background-position: 100% 50%;
	}
	99.999% {
		background-position: 50% 0;
	}
	100% {
		background-position: 50% 0;
	}
}

@-webkit-keyframes crmViewProgressMove {
	0% {
		background-position: 100% 50%;
	}
	99.999% {
		background-position: 50% 0;
	}
	100% {
		background-position: 50% 0;
	}
}

@-webkit-keyframes crmViewProgresshidden {
	0% {
		max-height: 5000px;
		opacity: 1;
		visibility: visible;
	}
	50% { opacity: 1; }
	99.999% {
		visibility: visible;
	}
	100% {
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes crmViewProgresshidden {
	0% {
		max-height: 5000px;
		opacity: 1;
		visibility: visible;
	}
	50% { opacity: 1; }
	99.999% {
		visibility: visible;
	}
	100% {
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

@-webkit-keyframes crmViewProgressshow {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% {
		max-height: 5000px;
		opacity: 1;
		visibility: visible;
	}
}

@keyframes crmViewProgressshow {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100% {
		max-height: 5000px;
		opacity: 1;
		visibility: visible;
	}
}