.crm-entity-wrap { position: relative; }

.crm-entity-section { }

/* crm-entity-section-control */
.crm-entity-section.crm-entity-section-control {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 900;
	box-sizing: border-box;
	padding: 10px 0 0;
	background-color: #fff;
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .05);
	text-align: center;
	transition: all 300ms ease;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}

.crm-entity-wrap.crm-section-control-active .crm-entity-section.crm-entity-section-control {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.crm-entity-section-control .webform-button-link {
	position: relative;
	margin: 0;
	height: 39px;
	border: none;
	color: #535b69;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font: 12px/39px "OpenSans-Bold", Helvetica, Arial, sans-serif;
	transition: color .25s ease;
}

.crm-entity-section-control .webform-button-link:hover {
	border: none;
	color: #80868e;
}

.crm-entity-section-control-error-block {
	overflow: hidden;
	margin-top: 10px;
	max-height: 150px;
	transition: all 300ms ease;
}

.crm-entity-section-control-error-text {
	padding: 20px;
	width: 100%;
	background-color: #fae5e8;
	color: #d0011b;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}