.intranet-license-restriction-container {
	margin: 0 auto;
	padding: 40px 0 50px;
	max-width: 895px;
	border-bottom: 1px solid #edeef0;
	text-align: center;
}

.intranet-license-restriction-title {
	margin: 0 auto;
	max-width: 670px;
}

.intranet-license-restriction-title-item {
	margin: -25px 0 65px;
	font: 36px/49px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.intranet-license-restriction-logo {
	margin: 0 0 73px;
	padding: 22% 0 0;
	height: 0;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20276%20205%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20stroke%3D%22%23FF5752%22%20stroke-width%3D%229%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M127%205l122%20195H5z%22/%3E%3Cg%20transform%3D%22translate%28187%2096%29%22%3E%3Ccircle%20cx%3D%2243%22%20cy%3D%2243%22%20r%3D%2243%22%20fill%3D%22%23359FD0%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%226%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M63.583%2053.234c0-1.99-2.6-4.26-7.72-5.585-1.735-.485-3.384-1.235-4.888-2.225-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.696%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04.388-2.624.388-5.292%200-7.917-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217c.024.58-.023%201.163-.14%201.733-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16C22.315%2057.832%2020%2065.06%2020%2065.06h47.19c.003-3.217-3.607-11.826-3.607-11.826z%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%28167%2096%29%22%3E%3Ccircle%20cx%3D%2243%22%20cy%3D%2243%22%20r%3D%2243%22%20fill%3D%22%23359FD0%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%226%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M63.583%2053.234c0-1.99-2.6-4.26-7.72-5.585-1.735-.485-3.384-1.235-4.888-2.225-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.696%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04.388-2.624.388-5.292%200-7.917-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217c.024.58-.023%201.163-.14%201.733-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16C22.315%2057.832%2020%2065.06%2020%2065.06h47.19c.003-3.217-3.607-11.826-3.607-11.826z%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%28147%2096%29%22%3E%3Ccircle%20cx%3D%2243%22%20cy%3D%2243%22%20r%3D%2243%22%20fill%3D%22%23359FD0%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%226%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M63.583%2053.234c0-1.99-2.6-4.26-7.72-5.585-1.735-.485-3.384-1.235-4.888-2.225-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.696%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04.388-2.624.388-5.292%200-7.917-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217c.024.58-.023%201.163-.14%201.733-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16C22.315%2057.832%2020%2065.06%2020%2065.06h47.19c.003-3.217-3.607-11.826-3.607-11.826z%22/%3E%3C/g%3E%3Cpath%20fill%3D%22%23FF5752%22%20d%3D%22M136.755%2073.69L118.8%2076.255l3.375%2064.125h11.34l3.24-66.69zm1.08%2086.67c0-5.4-4.455-9.855-9.855-9.855-5.535%200-9.855%204.455-9.855%209.855%200%205.535%204.185%209.99%209.72%209.99%205.4%200%209.99-4.455%209.99-9.99z%22/%3E%3C/g%3E%3C/svg%3E');
	background-position: center;
	background-repeat: no-repeat;
}

.intranet-license-restriction-desc {
	color: #535c69;
	font: 14px/30px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.intranet-license-restriction-info {
	color: #333;
	font: 15px/15px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.intranet-license-restriction-info:first-child { margin: 0 0 17px; }

.intranet-license-restriction-warning {
	margin: 47px auto;
	padding: 12px 0 16px;
	max-width: 740px;
	border-radius: 4px;
	background: rgba(247, 204, 0, .1);
	color: #333;
	text-align: center;
	font: 16px/30px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.intranet-license-restriction-warning-text {
	margin: 0 auto;
	max-width: 640px;
}

.intranet-license-restriction-link {
	display: inline-block;
	border-bottom: 1px solid transparent;
}

.intranet-license-restriction-link:hover { border-bottom: 1px solid #0063c6; }

.intranet-license-restriction-text-bold {
	display: inline-block;
	font: 15px/15px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.intranet-license-restriction-count {
	color: #d0011b;
	font: 15px/15px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}