.sonet_call_btn {
	width:21px;
	height:23px;
	background:url(images/tel-btn.png) no-repeat center left;
	display:inline-block;
	vertical-align:middle;
	line-height:26px;
	cursor:pointer;
}

.user-profile-otp-link-blue {
	margin-bottom:10px; margin-right:15px; display:inline-block;
}

.user-profile-email-help {
	background: #bfc5ca none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	margin-left: 7px;
	right: 0;
	text-align: center;
	top: 12px;
	vertical-align: middle;
	width: 16px;
	cursor: help;
}

.user-profile-block {
	width: 100%;
	table-layout: fixed;
}

.user-profile-nowrap-second {
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.user-profile-block-col-1 {
	width: 135px;
}

.user-profile-img-default {
	margin: 47px 37px;
}

.user-profile-img-wrap {
	border-collapse: collapse;
}

.user-profile-status-icon {
	font-weight: bold;
	color: #717171;
}

.user-activity-status {
	margin-top: 5px;
}

@media (max-width: 1260px) {
	.user-profile-block-wrap-l .webform-small-button {
		margin: 0;
	}

	.user-profile-block-wrap-l .user-profile-img-wrap td {
		height: auto;
	}
	.user-profile-img-wrap img {
		display: inline-block;
		max-width: 200px;
		height: auto;
	}
}