.b24-form-field-a-slide-enter-active { transition: all .3s ease; }

.b24-form-field-a-slide-leave-active { transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); }

.b24-form-field-a-slide-enter, .b24-form-field-a-slide-leave-to {
	transform: translateY(-5px);
	opacity: 0;
}