.b24-form-dropdown { position: relative; }

.b24-form-dropdown-header {
	display: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	min-height: 38px;
}

.b24-form-dropdown-title {
	display: block;
	margin: 15px;
	font: 20px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;;
	font: 20px/24px var(--b24-font-family);
	color: #000;
	color: var(--b24-text-color);
	overflow: hidden;
	white-space: nowrap;
}

.b24-form-dropdown-container {
	position: absolute;
	z-index: 20;
	min-width: 100%;
	max-height: 400px;
	overflow-y: auto;
	background-color: #fff;
	background-color: var(--b24-popup-background-color);
	box-shadow: 0 6px 21px rgba(0, 0, 0, 0.5);
	border-radius: 0 0 4px 4px;
}

.b24-form-dropdown-slide-enter-active { transition: all .3s ease; }

.b24-form-dropdown-slide-leave-active { transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0); }

.b24-form-dropdown-slide-enter,
.b24-form-dropdown-slide-leave-to {
	transform: translateY(-20px);
	opacity: 0;
}

@media (max-width: 520px) {
	.b24-form-dropdown {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		display: block;
	}

	.b24-form-dropdown-container {
		position: absolute;
		bottom: 0;
		margin-top: 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		border-radius: 10px 10px 0 0;
		max-height: 85vh;
		min-height: 50vh;
	}

	.b24-form-dropdown-header { display: block; }

	.b24-form-dropdown-slide-enter,
	.b24-form-dropdown-slide-leave-to {
		transform: translateY(600px);
		opacity: 1;
	}
}