/*region main section*/

#left-panel {
	padding: 0 0 0 21px !important;
}

#workarea-content {
	background-color: #EEF2F4 !important;
}

.salescenter-wrapper {}

.salescenter-cashbox-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	-webkit-box-align: start;
	align-items: flex-start;
	margin-right: 15px;
}

.salescenter-main-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	-webkit-box-align: start;
	align-items: flex-start;
}

.salescenter-main-header-left-block { padding-right: 45px; }

.salescenter-logo-container {
	position: relative;
	min-width: 97px;
	max-width: 97px;
	width: 97px;
	height: 97px;
	border-radius: 50%;
}

.salescenter-atol-icon { width: 97px; }

.salescenter-atol-icon i {
	background-image: url(images/atol.svg);
	background-size: 70% auto;
	background-color: #EC1B2F;
}

.salescenter-orange-icon { width: 97px; }

.salescenter-orange-icon i {
	background-image: url(images/orangedata.svg);
	background-size: 70% auto;
	background-color: #FF9A01;
}

.salescenter-checkbox-icon { width: 97px; }

.salescenter-checkbox-icon i {
	background-image: url(images/checkbox.svg);
	background-size: 70% auto;
	background-color: #272BED;
}

.salescenter-offline-icon, .salescenter-rest-icon { width: 97px; }

.salescenter-offline-icon i, .salescenter-rest-icon i {
	background-image: url(images/offline.svg);
	background-size: 50% auto;
	background-color: #359FD0;
}

.salescenter-angle-icon-after {
	cursor: pointer;
}
.salescenter-angle-icon {
	width: 10px;
	height: 10px;
	position: relative;
	display: inline-block;
	margin-left: 10px;
}
.salescenter-angle-icon::before {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	margin-left: -3px;
}
.salescenter-angle-icon::after {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	margin-left: 3px;
}

.salescenter-angle-icon::after, .salescenter-angle-icon::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 9px;
	height: 2px;
	background-color: #535c68;
	content: "";
	transition: all 250ms ease;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
}

.salescenter-main-header-right-block { }

.salescenter-main-header-title-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.salescenter-main-header-feedback-container {
	margin-left: auto;
}

.salescenter-main-header-switcher-container {
	margin-left: 30px;
}

.salescenter-main-header-switcher-container > .ui-switcher {
	display: block;
}

.salescenter-separator {
	margin: 20px 0;
	border: none;
	border-bottom: 1px solid #e9e9e9;
}

.salescenter-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 43px;
	height: auto;
	transform: translate(-50%, -50%);
}

/*endregion*/

/*region section*/
.salescenter-section {
	margin-bottom: 15px;
	padding: 25px 20px;
	background-color: #fff;
}

.salescenter-header {
	color: #333;
	font: 18px/21px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region form*/
.s-tracker-label { }

.b24-integration-wrap { display: none; }

.b24-integration-wrap-animate .b24-integration-wrap { display: block; }


.ui-ctl-after.ui-hint .ui-hint-icon{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
/*endregion*/

.salescenter-link-container {
	margin-bottom: 12px;
}

.salescenter-link {
	border-bottom: 1px solid;
	text-decoration: none;
	transition: 250ms linear all;
}

.salescenter-link:hover {
	border-bottom-color: transparent;
	text-decoration: none;
}

.salescenter-img-container {
	padding-top: 10px;
	text-align: center;
}

.img-response {
	max-width: 100%;
	height: auto;
}

.pagetitle-wrap {
	display: none;
}

.salescenter-cashbox-page-invisible {
 	height: 0;
 	opacity: 0;
	overflow: hidden;
 	margin: 0;
 	padding: 0;
 }

.salescenter-cashbox-page-hide {
	animation: page-hide .20s ease forwards;
}

.salescenter-cashbox-page-show {
	animation: page-show .50s ease-out forwards;
}


.salescenter-border-block {
	border-bottom: 1px solid #E6E9EC;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.salescenter-form-settings-section {
	background: #fff;
	padding: 20px 14px 10px 25px;
	margin-bottom: 15px;
}

.salescenter-form-settings-block + .salescenter-form-settings-block {
	border-top: 1px solid rgba(82, 92, 105, .1);
	padding-top: 20px;
}

.salescenter-form-settings-inner {
	margin-bottom: 18px;
}

.salescenter-form-settings-title {
	font: 18px "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	border-bottom: 1px solid rgba(82, 92, 105, .1);
	padding: 0 0 16px 7px;
	margin: 7px 0 16px;
}

.salescenter-form-settings-title-top {
	margin-top: 15px;
}

.salescenter-form-settings-title-other {
	margin-top: 0;
}

.salescenter-control-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 100%;
	vertical-align: middle;
	box-sizing: border-box;
}

.salescenter-control-container,
.salescenter-control-checkbox-container {
	margin: 2px 0 18px 0;
}

.salescenter-control-block {
	display: flex;
	width: 100%;
}

.salescenter-control-inner {
	display: flex;
	align-items: center;
}

.salescenter-control-input {
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 12px;
	height: 39px;
	width: 100%;
	outline: none;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	background-color: #fff;
	color: #424956;
	vertical-align: middle;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 15px/23px "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: border .3s ease, background-color .3s ease, color .3s ease;
	flex: 6;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	z-index: 1;
}

.salescenter-control-inner.width-80 {
	width: 80px;
}

.salescenter-control-input:hover {
	border-color: #66afe9;
}

.salescenter-control-checkbox-label {
	display: flex;
	align-items: flex-start;
	color: #525c69;
	font: 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.salescenter-control-checkbox {
	margin: 0 10px 0 0;
}

.salescenter-control-subtitle {
	display: flex;
	align-items: center;
	margin: 0 0 6px 0;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a9adb2;
	/*font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525C69;*/
}

.salescenter-control-required:after {
	content: "*";
	color: red;
}

select.salescenter-control-input {
	padding: 0 30px 0 6px;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPath%3C/title%3E%3Cpath%20d%3D%22M5.485%204.228L1.37.114%200%201.484l4.8%204.8.685.687%205.486-5.485L9.6.115%205.484%204.227z%22%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') center right 10px no-repeat;
	background-size: 12px 12px;
}

.salescenter-offline-instruction-list {
	list-style-type: none;
	counter-reset: num;
	margin: 20px 0 40px 5px;
	padding: 0;
}

.salescenter-offline-instruction-item {
	position: relative;
	padding-left: 33px;
}

.salescenter-offline-instruction-item:before {
	counter-increment: num;
	content: counter(num);
	color: #fff;
	position: absolute;
	left: 0;
	top: -1px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2fc6f6;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	font: 11px/15px 'OpenSans-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	box-sizing: border-box;
}

.salescenter-offline-instruction-item + .salescenter-offline-instruction-item {
	margin-top: 20px;
}

.salescenter-offline-icon {
	width: 97px;
	height: 97px;

}

.salescenter-cashbox-wrapper-offline .salescenter-main-header-left-block {
	padding-right: 20px;
	padding-top: 12px;
}

.salescenter-offline-instruction-link {
	margin-left: 9px;
}

.salescenter-button-container {
	padding-top: 5px;
}