.docs-placeholder-wrap {
	max-width: 800px;
}

.docs-placeholder-wrap-slider {
	padding: 0 26px 0 27px;
}

.docs-placeholder-section {
	padding: 27px 25px 34px 27px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.docs-placeholder-title-inner {
	padding-bottom: 15px;
	margin-bottom: 23px;
	border-bottom: 1px solid #dcdee1;
}

.docs-template-pagetitle-inner {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
}

.docs-placeholder-title-item {
	font-size: 20px;
	line-height: 24px;
	color: #434d59;
}

.docs-placeholder-detail {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 12px;
}

.docs-placeholder-item {
	width: 220px;
	margin-right: 40px;
	margin-bottom: 15px;
}

.docs-placeholder-wrap-slider .docs-placeholder-item {
	width: 190px;
}

.docs-placeholder-item:nth-child(3n+3) {
	margin-right: 0;
}

.docs-placeholder-item-inner {
	font-size: 11px;
	line-height: 20px;
	text-transform: uppercase;
}

.docs-placeholder-name {
	color: #333;
	word-wrap: break-word;
}

.docs-placeholder-code {
	color: #828b95;
	word-wrap: break-word;
}

.docs-placeholder-inner-slider {
	background: #fff;
}

.docs-placeholder-block-hidden {
	height: 0;
	overflow: hidden;
	transition: height .3s ease-in-out;
}

.docs-placeholder-block-show {
	height: 100px;
}

.docs-placeholder-btn {
	opacity: 1;
	transition: opacity .5s ease-in-out;
}

.docs-placeholder-btn-hidden {
	opacity: 0;
	height: 0;
}
.pagetitle-container-docs-template .main-ui-filter-search {
	max-width: 500px;
}
.docs-template-grid {
	width: 100%;
	height: 621px;
}
.docgen-placeholder-copy {
	cursor: pointer;
}

.docs-template-pagetitle-inner .pagetitle {
	margin-right: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}