div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.event
{
	background: url("images/popup/event.gif") no-repeat  0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.quote
{
	background: url("images/popup/quote.png") no-repeat  0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.invoice
{
	background: url("images/popup/invoice.png") no-repeat  0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.task
{
	background: url("images/popup/task.gif") no-repeat  0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.calendar
{
	background: url("images/popup/calendar.gif") no-repeat 0 0 !important;
}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.bizproc {
	background: url("images/popup/bizproc.gif") no-repeat 2px 0 !important;
 	width: 18px !important;
 	height: 18px !important;
}
a.bizproc {
	display:block; 
	padding-right:20px;
}
a.bizproc_status_attention {
	background: url("images/bizproc/bizproc_attention.gif") no-repeat right center;
}

a.bizproc_status_inprogress {
	background: url("images/bizproc/bizproc_attention.gif") no-repeat right center;
}

.crm-order-list-basket-item div{
    margin: 2px;
	padding: 3px;
}
.crm-order-list-basket-item span{
	white-space: nowrap;
	padding: 3px;
	margin: 2px;
}
.crm-order-list-basket-item-props div{
	padding: 1px;
	font-size: 11px;
}

.crm-order-list-basket-item,
.crm-order-list-shipment,
.crm-order-list-payment{
    border-bottom: 1px solid lightgray;
    padding: 1px 0 1px 0;
}

.crm-order-list-basket-item:last-child,
.crm-order-list-shipment:last-child,
.crm-order-list-payment:last-child{
    border-bottom: none;
}

.crm-order-list-shipment div,
.crm-order-list-payment div{
    white-space: nowrap;
    padding: 1px;
    margin: 1px;
}

.crm-order-list-shipment div.marked,
.crm-order-list-payment div.marked{
    color: red;
}

.crm-order-list-props-group-name{
	font-weight: bold;
}

.crm-order-list-props-group{
	padding-bottom: 10px;
}

.crm-order-list-props-group:last-child{
	padding-bottom: 0;
}