.sender-template-preview {
	width: 100%;
}

.sender-template-preview-frame {
	width: 800px;
	height: 600px;
}

.sender-template-caption {
	font-weight: bold;
	font-size: 14px;
}
.sender-template-list-caption {
	font-weight: bold;
	margin-left: 20px;
}
.sender-template-type-selector{
	width: 300px;
	-webkit-user-select: none;
	overflow: hidden;
	margin-bottom: 30px;
}
.sender-template-type-selector-title {
	position: relative;
	font-weight: bold;
	margin-bottom: 30px;
	height: 15px;
	font-size: 14px;
}

.sender-template-type-selector-title:after {
	content: '';
	position: absolute;
	left: 0;
	right: 30px;
	top: 30px;
	margin: auto;
	height: 1px;
	background: rgb(224, 224, 224);
}

.sender-template-type-selector-button{
	padding: 7px 13px;
	margin-bottom: 10px;
	display: inline-block;
	float: left;
	clear: left;
	font-weight: normal;
	cursor: pointer;
}
.sender-template-type-selector-button:hover, .sender-template-type-selector-button-selected{
	color: #fff;
	background-color: #5CC3EF;
}

.sender-template-list-container {
	width: 100%; margin-left: 20px;
}
.sender-template-btn-close{
	background: url("/bitrix/panel/main/images/popup_sprite.png") no-repeat 0 -30px;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	width: 28px;
	background-position: 0 -90px
}
.sender-template-list-type-blockempty{
	margin: 50px 0;
	font-size: 38px;
	color: #dddddd;
	text-align: center;
}
.sender-template-list-type-block{
	width: 140px;
	margin-right: 40px;
	text-align: center;
	margin-bottom: 40px;
	display: inline-block;
	vertical-align: bottom;
}

.sender-template-list-type-block-img{
	height: 185px;
	width: 140px;
	background-color: #ECECEC;
	margin-top: 10px;
	cursor: pointer;
}
.sender-template-list-type-block-img img{
	height: 185px;
	width: 140px;
}


.sender-tpl {
	padding: 0 15px;
	overflow: hidden;
	color: #333;
	font: 18px/24px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sender-tpl-section {
	display: block;
}

.sender-tpl-items {
	font-size: 0;
	margin: 0 -20px;
}

.sender-tpl-item {
	display: inline-block;
	vertical-align: top;
}

.sender-tpl-content {
	cursor: pointer;
}

.sender-tpl-content,
.sender-tpl-items-show-all .sender-tpl-item-hidden .sender-tpl-content {
	display: block;
	overflow: hidden;
	position: relative;
	opacity: 1;
	height: 208px;
	background: #fff;
	margin: 0 20px 30px 20px;
	border-radius: 1px;
	font-size: 12px;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	transition: .2s;
}

.sender-tpl-item-hidden {
	display: none;
}

.sender-tpl-items-show-all .sender-tpl-item-hidden {
	display: inline-block;
}

.sender-tpl-item-hidden .sender-tpl-content {
	opacity: 0;
	height: 0;
	box-shadow: none;
	margin: 0;
}

.sender-tpl-items-show-all .sender-tpl-item-hidden .sender-tpl-content {
	opacity: 0;
	-webkit-animation: senderShowItemsAll .2s linear forwards;
	animation: senderShowItemsAll .2s linear forwards;

}

@keyframes senderShowItemsAll {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.sender-tpl-content:hover {
	box-shadow: 0 5px 12px rgba(0,0,0,.2);
}

.sender-tpl-item-description {
	display: block;
	overflow: hidden;
	padding: 11px 12px;
	font-size: 12px;
	line-height: 14px;
	color: #828b95;
}

.sender-tpl-item-description-hot {
	padding-right: 45px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23FF5752%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M14.3457559%2C9.31994377%20C13.4669061%2C8.90791986%2012.8006717%2C8.29540307%2012.5235035%2C7.30106676%20C12.5135873%2C7.2653433%2012.469742%2C7.25254909%2012.4433959%2C7.27838839%20C11.6880128%2C8.01884733%2011.2105271%2C8.88343524%2010.9716141%2C9.87290473%20C10.6706274%2C11.1191617%2010.2976996%2C12.3367696%209.74224506%2C13.4914099%20C8.61451025%2C15.8355103%207.00870642%2C17.7203827%204.69835167%2C18.9242908%20C4.66002654%2C18.9442617%204.54133019%2C19.0123897%204.52188661%2C19.0294487%20C4.50856776%2C19.0411391%204.53194866%2C19.1160981%204.55537818%2C19.1150445%20C4.67594093%2C19.1096446%204.79668329%2C19.1058369%204.91744707%2C19.1022305%20C5.26683397%2C19.0917965%205.61640026%2C19.0830464%205.9623157%2C19.0422931%20C7.35326088%2C18.8785271%208.61349658%2C18.3311856%209.80990873%2C17.6218843%20C11.6564656%2C16.5272012%2013.2485546%2C15.1149707%2014.7184408%2C13.5516681%20C15.5327379%2C12.6857255%2016.2576432%2C11.7533533%2016.7653151%2C10.6671997%20C16.9190166%2C10.3385138%2017.0246439%2C9.98679834%2017.1455344%2C9.64235799%20C17.0917242%2C9.58666552%2017.0834121%2C9.57808587%2017.0296506%2C9.52234323%20C16.1088026%2C9.84801873%2015.2167797%2C9.72835519%2014.3457559%2C9.31994377%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M15.5635963%2C8.73090282%20C16.0510552%2C8.80074881%2016.537172%2C8.79719983%2016.9835702%2C8.53763101%20C17.1488569%2C8.44156196%2017.2198929%2C8.32119222%2017.1361808%2C8.14029257%20C17.0353186%2C7.92247361%2016.9334126%2C7.70509828%2016.8246465%2C7.47229472%20C16.8126166%2C7.44656458%2016.7805038%2C7.436657%2016.7552012%2C7.4505079%20C15.756323%2C7.99710088%2014.4436239%2C7.47796324%2014.179215%2C6.43638544%20C14.1729515%2C6.41164112%2014.1485935%2C6.3956214%2014.1228435%2C6.4002548%20C13.8995947%2C6.44032875%2013.6747054%2C6.48005767%2013.4501641%2C6.52170895%20C13.28274%2C6.55276257%2013.229202%2C6.66425985%2013.2224414%2C6.81814778%20C13.2055896%2C7.20079737%2013.3838506%2C7.50172172%2013.6388643%2C7.76799418%20C14.1610707%2C8.31325629%2014.8137666%2C8.62339815%2015.5635963%2C8.73090282%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M19.2546614%2C3.90389407%20C17.5486992%2C3.98783068%2016.1667019%2C4.607321%2015.2438354%2C5.90440784%20C14.7676937%2C6.57365465%2014.7766325%2C6.78273934%2015.793113%2C7.03435388%20C15.871883%2C7.05383655%2015.9561247%2C7.05544789%2016.0501721%2C7.06267455%20C16.0779095%2C7.06482301%2016.1029924%2C7.04719584%2016.1073264%2C7.02278146%20C16.1338178%2C6.87551396%2016.1479033%2C6.75183074%2016.1843087%2C6.63361635%20C16.5706828%2C5.37842457%2017.809388%2C4.52992743%2019.2820197%2C4.51635304%20C19.4742858%2C4.51459521%2019.5947162%2C4.4479928%2019.6523581%2C4.2971608%20C19.7442384%2C4.05658156%2019.5936327%2C3.88724346%2019.2546614%2C3.90389407%22/%3E%0A%3C/svg%3E%0A') right 12px center no-repeat;
}

.sender-tpl-item-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	padding: 0 12px;
	line-height: 38px;
	height: 38px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	font-family: OpenSans-SemiBold, Helvetca, Arial, sans-sarif, serif;
}

.sender-tpl-item-title-name {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sender-tpl-item-title-demo {
	display: none;
	float: right;
	line-height: 38px;
	height: 38px;
	padding: 0 12px;
	color: #535c69;
	font-size: 11px;
	margin-right: -12px;
	border-radius: 0 1px 0 0;
	font-family: OpenSans-Bold, Helvetca, Arial, sans-sarif, serif;
}

.sender-tpl-content:hover .sender-tpl-item-title-demo {
	/*display: block;*/
	opacity: 0;
	-webkit-animation: senderDemoShow .1s linear forwards;
	animation: senderDemoShow .1s linear forwards;
}

@-webkit-keyframes senderDemoShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes senderDemoShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.sender-tpl-item-image {
	display: block;
	overflow: hidden;
	position: relative;
	height: 120px;
	background: #f5f9fa url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%22101%22%20height%3D%22101%22%20viewBox%3D%220%200%20101%20101%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22b%22%20points%3D%2232%2037%200%2062%2064%2062%22/%3E%0A%20%20%20%20%3Cfilter%20id%3D%22a%22%20width%3D%22103.1%25%22%20height%3D%22116%25%22%20x%3D%22-1.6%25%22%20y%3D%22-4%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%0A%20%20%20%20%20%20%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%0A%20%20%20%20%20%20%3CfeColorMatrix%20in%3D%22shadowOffsetOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.0912307518%200%22/%3E%0A%20%20%20%20%3C/filter%3E%0A%20%20%3C/defs%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M49.9793814%2C0%20C78.3904004%2C0%20101%2C22.6092051%20101%2C51.0206186%20C101%2C78.3904004%2078.3904004%2C101%2049.9793814%2C101%20C22.6092051%2C101%200%2C78.3904004%200%2C51.0206186%20C0%2C22.6092051%2022.6095996%2C0%2049.9793814%2C0%20Z%22%20opacity%3D%22.6%22/%3E%0A%20%20%20%20%3Cg%20transform%3D%22translate%2818%2018%29%22%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%2347C1D1%22%20fill-rule%3D%22nonzero%22%20points%3D%2264%2024%200%2024%2032%205%22/%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%2347C1D1%22%20fill-rule%3D%22nonzero%22%20points%3D%220%2024%2064%2024%2064%2061%200%2061%22/%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%20points%3D%2247%200%2056%209%2056%2061%206%2061%206%200%22/%3E%0A%20%20%20%20%20%20%3Cpath%20fill%3D%22%23FFA900%22%20d%3D%22M13%2C8%20L21%2C8%20L21%2C8%20C21.5522847%2C8%2022%2C8.44771525%2022%2C9%20L22%2C17%20L22%2C17%20C22%2C17.5522847%2021.5522847%2C18%2021%2C18%20L13%2C18%20L13%2C18%20C12.4477153%2C18%2012%2C17.5522847%2012%2C17%20L12%2C9%20L12%2C9%20C12%2C8.44771525%2012.4477153%2C8%2013%2C8%20Z%22%20opacity%3D%22.5%22/%3E%0A%20%20%20%20%20%20%3Cpath%20fill%3D%22%23A8ADB4%22%20d%3D%22M25.5%208L45.5%208%2045.5%208C45.7761424%208%2046%208.22385763%2046%208.5L46%208.5%2046%208.5C46%208.77614237%2045.7761424%209%2045.5%209L25.5%209%2025.5%209C25.2238576%209%2025%208.77614237%2025%208.5L25%208.5%2025%208.5C25%208.22385763%2025.2238576%208%2025.5%208zM25.5%2011L45.5%2011%2045.5%2011C45.7761424%2011%2046%2011.2238576%2046%2011.5L46%2011.5%2046%2011.5C46%2011.7761424%2045.7761424%2012%2045.5%2012L25.5%2012%2025.5%2012C25.2238576%2012%2025%2011.7761424%2025%2011.5L25%2011.5%2025%2011.5C25%2011.2238576%2025.2238576%2011%2025.5%2011zM12.5%2021L45.5%2021%2045.5%2021C45.7761424%2021%2046%2021.2238576%2046%2021.5L46%2021.5%2046%2021.5C46%2021.7761424%2045.7761424%2022%2045.5%2022L12.5%2022%2012.5%2022C12.2238576%2022%2012%2021.7761424%2012%2021.5L12%2021.5%2012%2021.5C12%2021.2238576%2012.2238576%2021%2012.5%2021zM25.5%2014L45.5%2014%2045.5%2014C45.7761424%2014%2046%2014.2238576%2046%2014.5L46%2014.5%2046%2014.5C46%2014.7761424%2045.7761424%2015%2045.5%2015L25.5%2015%2025.5%2015C25.2238576%2015%2025%2014.7761424%2025%2014.5L25%2014.5%2025%2014.5C25%2014.2238576%2025.2238576%2014%2025.5%2014zM12.5%2024L45.5%2024%2045.5%2024C45.7761424%2024%2046%2024.2238576%2046%2024.5L46%2024.5%2046%2024.5C46%2024.7761424%2045.7761424%2025%2045.5%2025L12.5%2025%2012.5%2025C12.2238576%2025%2012%2024.7761424%2012%2024.5L12%2024.5%2012%2024.5C12%2024.2238576%2012.2238576%2024%2012.5%2024zM25.5%2017L33.5%2017%2033.5%2017C33.7761424%2017%2034%2017.2238576%2034%2017.5L34%2017.5%2034%2017.5C34%2017.7761424%2033.7761424%2018%2033.5%2018L25.5%2018%2025.5%2018C25.2238576%2018%2025%2017.7761424%2025%2017.5L25%2017.5%2025%2017.5C25%2017.2238576%2025.2238576%2017%2025.5%2017zM12.5%2027L45.5%2027%2045.5%2027C45.7761424%2027%2046%2027.2238576%2046%2027.5L46%2027.5%2046%2027.5C46%2027.7761424%2045.7761424%2028%2045.5%2028L12.5%2028%2012.5%2028C12.2238576%2028%2012%2027.7761424%2012%2027.5L12%2027.5%2012%2027.5C12%2027.2238576%2012.2238576%2027%2012.5%2027zM12.5%2030L26.5%2030%2026.5%2030C26.7761424%2030%2027%2030.2238576%2027%2030.5L27%2030.5%2027%2030.5C27%2030.7761424%2026.7761424%2031%2026.5%2031L12.5%2031%2012.5%2031C12.2238576%2031%2012%2030.7761424%2012%2030.5L12%2030.5%2012%2030.5C12%2030.2238576%2012.2238576%2030%2012.5%2030z%22%20opacity%3D%22.5%22/%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23E0E3E9%22%20fill-rule%3D%22nonzero%22%20points%3D%2247%200%2047%209%2056%209%22%20opacity%3D%22.341%22/%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%2355D0E0%22%20fill-rule%3D%22nonzero%22%20points%3D%220%2025%2032%2043%200%2062%22/%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%2355D0E0%22%20fill-rule%3D%22nonzero%22%20points%3D%2264%2025%2032%2043%2064%2062%22/%3E%0A%20%20%20%20%20%20%3Cg%20fill-rule%3D%22nonzero%22%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%2347C1D1%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23b%22/%3E%0A%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A') center center no-repeat;
	background-size: 100px 100px;
}

/*.sender-tpl-content-mail .sender-tpl-item-image,
.sender-tpl-content-messenger .sender-tpl-item-image,
.sender-tpl-content-call .sender-tpl-item-image,
.sender-tpl-content-sms .sender-tpl-item-image {
	height: 170px;
}*/

.sender-tpl-content-without-description .sender-tpl-item-image {
	height: 170px;
}

.sender-tpl-content-without-description .sender-tpl-item-description {
	display: none;
}

.sender-tpl-mail .sender-tpl-item-image {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%22101%22%20height%3D%22101%22%20viewBox%3D%220%200%20101%20101%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22b%22%20points%3D%2232%2037%200%2062%2064%2062%22/%3E%0A%20%20%20%20%3Cfilter%20id%3D%22a%22%20width%3D%22103.1%25%22%20height%3D%22116%25%22%20x%3D%22-1.6%25%22%20y%3D%22-4%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%0A%20%20%20%20%20%20%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%0A%20%20%20%20%20%20%3CfeColorMatrix%20in%3D%22shadowOffsetOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.0912307518%200%22/%3E%0A%20%20%20%20%3C/filter%3E%0A%20%20%3C/defs%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M49.9793814%2C0%20C78.3904004%2C0%20101%2C22.6092051%20101%2C51.0206186%20C101%2C78.3904004%2078.3904004%2C101%2049.9793814%2C101%20C22.6092051%2C101%200%2C78.3904004%200%2C51.0206186%20C0%2C22.6092051%2022.6095996%2C0%2049.9793814%2C0%20Z%22%20opacity%3D%22.6%22/%3E%0A%20%20%20%20%3Cg%20transform%3D%22translate%2818%2018%29%22%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%2347C1D1%22%20fill-rule%3D%22nonzero%22%20points%3D%2264%2024%200%2024%2032%205%22/%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%2347C1D1%22%20fill-rule%3D%22nonzero%22%20points%3D%220%2024%2064%2024%2064%2061%200%2061%22/%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%20points%3D%2247%200%2056%209%2056%2061%206%2061%206%200%22/%3E%0A%20%20%20%20%20%20%3Cpath%20fill%3D%22%23FFA900%22%20d%3D%22M13%2C8%20L21%2C8%20L21%2C8%20C21.5522847%2C8%2022%2C8.44771525%2022%2C9%20L22%2C17%20L22%2C17%20C22%2C17.5522847%2021.5522847%2C18%2021%2C18%20L13%2C18%20L13%2C18%20C12.4477153%2C18%2012%2C17.5522847%2012%2C17%20L12%2C9%20L12%2C9%20C12%2C8.44771525%2012.4477153%2C8%2013%2C8%20Z%22%20opacity%3D%22.5%22/%3E%0A%20%20%20%20%20%20%3Cpath%20fill%3D%22%23A8ADB4%22%20d%3D%22M25.5%208L45.5%208%2045.5%208C45.7761424%208%2046%208.22385763%2046%208.5L46%208.5%2046%208.5C46%208.77614237%2045.7761424%209%2045.5%209L25.5%209%2025.5%209C25.2238576%209%2025%208.77614237%2025%208.5L25%208.5%2025%208.5C25%208.22385763%2025.2238576%208%2025.5%208zM25.5%2011L45.5%2011%2045.5%2011C45.7761424%2011%2046%2011.2238576%2046%2011.5L46%2011.5%2046%2011.5C46%2011.7761424%2045.7761424%2012%2045.5%2012L25.5%2012%2025.5%2012C25.2238576%2012%2025%2011.7761424%2025%2011.5L25%2011.5%2025%2011.5C25%2011.2238576%2025.2238576%2011%2025.5%2011zM12.5%2021L45.5%2021%2045.5%2021C45.7761424%2021%2046%2021.2238576%2046%2021.5L46%2021.5%2046%2021.5C46%2021.7761424%2045.7761424%2022%2045.5%2022L12.5%2022%2012.5%2022C12.2238576%2022%2012%2021.7761424%2012%2021.5L12%2021.5%2012%2021.5C12%2021.2238576%2012.2238576%2021%2012.5%2021zM25.5%2014L45.5%2014%2045.5%2014C45.7761424%2014%2046%2014.2238576%2046%2014.5L46%2014.5%2046%2014.5C46%2014.7761424%2045.7761424%2015%2045.5%2015L25.5%2015%2025.5%2015C25.2238576%2015%2025%2014.7761424%2025%2014.5L25%2014.5%2025%2014.5C25%2014.2238576%2025.2238576%2014%2025.5%2014zM12.5%2024L45.5%2024%2045.5%2024C45.7761424%2024%2046%2024.2238576%2046%2024.5L46%2024.5%2046%2024.5C46%2024.7761424%2045.7761424%2025%2045.5%2025L12.5%2025%2012.5%2025C12.2238576%2025%2012%2024.7761424%2012%2024.5L12%2024.5%2012%2024.5C12%2024.2238576%2012.2238576%2024%2012.5%2024zM25.5%2017L33.5%2017%2033.5%2017C33.7761424%2017%2034%2017.2238576%2034%2017.5L34%2017.5%2034%2017.5C34%2017.7761424%2033.7761424%2018%2033.5%2018L25.5%2018%2025.5%2018C25.2238576%2018%2025%2017.7761424%2025%2017.5L25%2017.5%2025%2017.5C25%2017.2238576%2025.2238576%2017%2025.5%2017zM12.5%2027L45.5%2027%2045.5%2027C45.7761424%2027%2046%2027.2238576%2046%2027.5L46%2027.5%2046%2027.5C46%2027.7761424%2045.7761424%2028%2045.5%2028L12.5%2028%2012.5%2028C12.2238576%2028%2012%2027.7761424%2012%2027.5L12%2027.5%2012%2027.5C12%2027.2238576%2012.2238576%2027%2012.5%2027zM12.5%2030L26.5%2030%2026.5%2030C26.7761424%2030%2027%2030.2238576%2027%2030.5L27%2030.5%2027%2030.5C27%2030.7761424%2026.7761424%2031%2026.5%2031L12.5%2031%2012.5%2031C12.2238576%2031%2012%2030.7761424%2012%2030.5L12%2030.5%2012%2030.5C12%2030.2238576%2012.2238576%2030%2012.5%2030z%22%20opacity%3D%22.5%22/%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%23E0E3E9%22%20fill-rule%3D%22nonzero%22%20points%3D%2247%200%2047%209%2056%209%22%20opacity%3D%22.341%22/%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%2355D0E0%22%20fill-rule%3D%22nonzero%22%20points%3D%220%2025%2032%2043%200%2062%22/%3E%0A%20%20%20%20%20%20%3Cpolygon%20fill%3D%22%2355D0E0%22%20fill-rule%3D%22nonzero%22%20points%3D%2264%2025%2032%2043%2064%2062%22/%3E%0A%20%20%20%20%20%20%3Cg%20fill-rule%3D%22nonzero%22%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%2347C1D1%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23b%22/%3E%0A%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
}

.sender-tpl-call .sender-tpl-item-image {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%22101%22%20height%3D%22101%22%20viewBox%3D%220%200%20101%20101%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpath%20id%3D%22b%22%20d%3D%22M69.2968535%2C66.6431454%20C67.0502498%2C64.4147932%2057.2690616%2C61.5708651%2056.2768393%2C61.527725%20C55.284617%2C61.4845849%2051.8848452%2C64.8511719%2050.9009191%2C65.8234834%20C49.916993%2C66.7974542%2041.2889729%2C59.2744843%2041.1462787%2C59.1102201%20C41.0035845%2C58.9476151%2033.3760829%2C50.432423%2034.3683052%2C49.4501561%20C35.3605275%2C48.4662299%2038.7486846%2C45.107939%2038.7072038%2C44.1240129%20C38.6657229%2C43.1384275%2034.5889834%2C32.3334916%2033.5436656%2C31.2251229%20C32.4983478%2C30.1167541%2027.8159876%2C30.5498144%2025.9360748%2C32.4147941%20C24.3282764%2C34.0060001%2018.4894298%2C42.2573739%2028.9376303%2C56.6213682%20C30.9005048%2C59.4835479%2033.1885894%2C62.115094%2035.7554254%2C64.4645703%20L35.7637215%2C64.4645703%20L35.7637215%2C64.4712072%20C38.1347678%2C67.0148139%2040.7912025%2C69.2796692%2043.6815892%2C71.2276106%20C58.1617298%2C81.5513685%2066.4894285%2C75.7689358%2068.0972268%2C74.1793891%20C69.9787989%2C72.3144093%2071.5451164%2C68.8714975%2069.2968535%2C66.6431454%22/%3E%0A%20%20%20%20%3Cfilter%20id%3D%22a%22%20width%3D%22106.3%25%22%20height%3D%22112.9%25%22%20x%3D%22-3.2%25%22%20y%3D%22-3.2%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%0A%20%20%20%20%20%20%3CfeOffset%20dy%3D%223%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%0A%20%20%20%20%20%20%3CfeColorMatrix%20in%3D%22shadowOffsetOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.06%200%22/%3E%0A%20%20%20%20%3C/filter%3E%0A%20%20%20%20%3Cpath%20id%3D%22d%22%20d%3D%22M56.1553098%2C52.4397276%20C58.1082383%2C53.2915975%2060.2646393%2C53.7640904%2062.5313968%2C53.7640904%20C71.3470341%2C53.7640904%2078.4935202%2C46.6176044%2078.4935202%2C37.8019671%20C78.4935202%2C28.9863298%2071.3470341%2C21.8398438%2062.5313968%2C21.8398438%20C53.7157595%2C21.8398438%2046.5692735%2C28.9863298%2046.5692735%2C37.8019671%20C46.5692735%2C42.1054491%2048.2723145%2C46.0111646%2051.0412078%2C48.8819247%20C50.1941714%2C50.8974229%2048.9711141%2C53.0245268%2047.3720359%2C55.2632362%20C51.3038157%2C54.405667%2054.2315737%2C53.4644974%2056.1553098%2C52.4397276%20Z%22/%3E%0A%20%20%20%20%3Cfilter%20id%3D%22c%22%20width%3D%22112.5%25%22%20height%3D%22120.9%25%22%20x%3D%22-6.3%25%22%20y%3D%22-6%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%0A%20%20%20%20%20%20%3CfeMorphology%20in%3D%22SourceAlpha%22%20operator%3D%22dilate%22%20radius%3D%22.5%22%20result%3D%22shadowSpreadOuter1%22/%3E%0A%20%20%20%20%20%20%3CfeOffset%20dy%3D%223%22%20in%3D%22shadowSpreadOuter1%22%20result%3D%22shadowOffsetOuter1%22/%3E%0A%20%20%20%20%20%20%3CfeComposite%20in%3D%22shadowOffsetOuter1%22%20in2%3D%22SourceAlpha%22%20operator%3D%22out%22%20result%3D%22shadowOffsetOuter1%22/%3E%0A%20%20%20%20%20%20%3CfeColorMatrix%20in%3D%22shadowOffsetOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.05%200%22/%3E%0A%20%20%20%20%3C/filter%3E%0A%20%20%3C/defs%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M49.9793814%2C0%20C78.3904004%2C0%20101%2C22.6092051%20101%2C51.0206186%20C101%2C78.3904004%2078.3904004%2C101%2049.9793814%2C101%20C22.6092051%2C101%200%2C78.3904004%200%2C51.0206186%20C0%2C22.6092051%2022.6095996%2C0%2049.9793814%2C0%20Z%22%20opacity%3D%22.6%22/%3E%0A%20%20%20%20%3Cuse%20fill%3D%22black%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%0A%20%20%20%20%3Cuse%20fill%3D%22%2347C1D1%22%20xlink%3Ahref%3D%22%23b%22/%3E%0A%20%20%20%20%3Cuse%20fill%3D%22black%22%20filter%3D%22url%28%23c%29%22%20xlink%3Ahref%3D%22%23d%22/%3E%0A%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20stroke%3D%22%23979797%22%20stroke-opacity%3D%22.311%22%20xlink%3Ahref%3D%22%23d%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFD47F%22%20d%3D%22M63.246735%2C32.2016736%20C64.7856207%2C32.2016736%2065.708952%2C31.2309919%2065.708952%2C29.7394566%20C65.708952%2C28.6030488%2065.0223723%2C27.9874945%2063.8622893%2C27.9874945%20C62.3234037%2C27.9874945%2061.4237474%2C28.9108259%2061.4237474%2C30.4260364%20C61.4237474%2C31.538769%2062.086652%2C32.2016736%2063.246735%2C32.2016736%20Z%20M64.9039965%2C46.4304468%20L65.1407481%2C44.6784847%20L64.0043403%2C44.5127586%20C63.6492128%2C44.4654083%2063.6255376%2C44.4180579%2063.672888%2C44.0392553%20L65.0697226%2C34.0956867%20L60.0269128%2C34.0956867%20L59.7901612%2C35.8949991%20L60.9502442%2C36.2974769%20C61.1633207%2C36.3685024%2061.2343461%2C36.5342285%2061.1869958%2C36.7946553%20L60.3110148%2C43.115924%20L59.7428108%2C46.312071%20L59.7901612%2C46.4304468%20L64.9039965%2C46.4304468%20Z%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
}

.sender-tpl-sms .sender-tpl-item-image {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%22101%22%20height%3D%22101%22%20viewBox%3D%220%200%20101%20101%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpath%20id%3D%22b%22%20d%3D%22M76.1304348%2C25%20L29.8695652%2C25%20C27.1994483%2C25%2025%2C27.1998373%2025%2C29.8909427%20L25%2C60.051756%20C25%2C62.4107603%2027.1994483%2C64.6105977%2029.8695652%2C64.9426987%20C40.490707%2C64.9426987%2048.4601112%2C64.9426987%2053.7777778%2C64.9426987%20C54.0510935%2C64.9426987%2054.569612%2C65.3438078%2055.3333333%2C66.1460259%20C56.9292929%2C67.6987061%2058.9920949%2C69.7430684%2061.5217391%2C72.2791128%20C63.8405797%2C74.5736291%2064.9227053%2C74.5736291%2064.7681159%2C72.2791128%20L64.7681159%2C64.9426987%20L76.1304348%2C64.9426987%20C78.8005517%2C64.6105977%2081%2C62.4107603%2081%2C60.051756%20L81%2C29.8909427%20C81%2C27.1998373%2078.8005517%2C25%2076.1304348%2C25%20Z%22/%3E%0A%20%20%20%20%3Cfilter%20id%3D%22a%22%20width%3D%22105.4%25%22%20height%3D%22112.2%25%22%20x%3D%22-2.7%25%22%20y%3D%22-3.1%25%22%20filterUnits%3D%22objectBoundingBox%22%3E%0A%20%20%20%20%20%20%3CfeOffset%20dy%3D%223%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%0A%20%20%20%20%20%20%3CfeColorMatrix%20in%3D%22shadowOffsetOuter1%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.06%200%22/%3E%0A%20%20%20%20%3C/filter%3E%0A%20%20%3C/defs%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M49.9793814%2C0%20C78.3904004%2C0%20101%2C22.6092051%20101%2C51.0206186%20C101%2C78.3904004%2078.3904004%2C101%2049.9793814%2C101%20C22.6092051%2C101%200%2C78.3904004%200%2C51.0206186%20C0%2C22.6092051%2022.6095996%2C0%2049.9793814%2C0%20Z%22%20opacity%3D%22.603%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22nonzero%22%20d%3D%22M21.3636364%2C46%20L51.6363636%2C46%20C53.5467931%2C46%2055%2C47.4842667%2055%2C49.4222222%20L55%2C69.4666667%20C55%2C71.2416593%2053.5467931%2C72.7259259%2051.6363636%2C72.8888889%20L35.2987013%2C72.8888889%20C34.017316%2C74.5185185%2032.5757576%2C76.1481481%2030.974026%2C77.7777778%20C29.3722944%2C79.4074074%2028.5714286%2C79.4074074%2028.5714286%2C77.7777778%20L28.5714286%2C72.8888889%20L21.3636364%2C72.8888889%20C19.4532069%2C72.7259259%2018%2C71.2416593%2018%2C69.4666667%20L18%2C49.4222222%20C18%2C47.4842667%2019.4532069%2C46%2021.3636364%2C46%20Z%22%20opacity%3D%22.1%22/%3E%0A%20%20%20%20%3Cg%20fill-rule%3D%22nonzero%22%3E%0A%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%0A%20%20%20%20%20%20%3Cuse%20fill%3D%22%2347C1D1%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23b%22/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Ctext%20fill%3D%22%23FFFFFF%22%20font-family%3D%22OpenSans-Bold%2C%20Open%20Sans%22%20font-size%3D%2218%22%20font-weight%3D%22bold%22%3E%0A%20%20%20%20%20%20%3Ctspan%20x%3D%2235.1%22%20y%3D%2251%22%3ESMS%3C/tspan%3E%0A%20%20%20%20%3C/text%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
}

.sender-tpl-config {
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%,-50%) scale3d(1.2,1.2,1.2);
	transform: translate(-50%,-50%) scale3d(1.2,1.2,1.2);
	transition: .2s;
	z-index: 99;
}

.sender-tpl-content:hover .sender-tpl-config {
	opacity: 1;
	-webkit-transform: translate(-50%,-50%) scale3d(1,1,1);
	transform: translate(-50%,-50%) scale3d(1,1,1);
}

.sender-tpl-config-item {
	display: block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	color: #333;
	padding: 0 19px 0 25px;
	margin: 2px 0;
	height: 26px;
	line-height: 26px;
	border-radius: 13px;
	text-decoration: none;
	background: transparent;
	font-family: OpenSans-Bold, Helvetca, Arial, sans-sarif, serif;
	transition: .1s;
}

.sender-tpl-config-item:hover {
	background: rgba(107, 114, 125, .15);
}

.sender-tpl-config-item:before {
	content: '';
	width: 4px;
	height: 4px;
	background: #6b727d;
	position: absolute;
	top: 11px;
	left: 13px;
	border-radius: 100%;
}

.sender-tpl-title {
	display: block;
	margin: 0 0 18px 0;
	padding: 0 0 17px 0;
	border-bottom: 1px solid rgba(82,92,105,.09);
}

.sender-tpl-item-show-more {
	clear: both;
	display: block;
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;
	height: 40px;
	opacity: 1;
	transition: .4s;
}

.sender-tpl-item-show-hide {
	height: 0;
	opacity: 0;
	margin: 0;
}