.structure-dept-emp-popup
{
    position: relative;
    max-height: 250px;
    width: 230px;
    overflow-y: auto;
    overflow-x: hidden;
}

.structure-dept-block, .structure-move-employee, .structure-dept-emp-popup {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}

.structure-dept-emp-popup a,.structure-dept-block a {text-decoration: none; color: #2067B0;}
.structure-dept-emp-popup a:hover, .structure-dept-block a:hover {text-decoration: underline; color: #2067B0;}

.structure-avatar {
    background:url("images/structure_company_sprite.png") no-repeat 1px 1px #fff;
    border:1px solid #f6f7f7;
    box-shadow: 0 0 3px rgba(172,172,172,0.6);
    height:21px;
    left:0;
    top:0;
    padding:1px;
    position:absolute;
    width:21px;
}

.structure-employee-name {color:#000; font-size:11px; line-height:12px; margin-top:3px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:100%;}

.structure-employee-post {color:#5d5d5d; font-size:10px; line-height:11px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.structure-employee-post {
    display:inline-block; max-width:127px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}

.bx-popup-head {border-bottom: solid 1px #DADADA;}





.structure-boss-block {
	height:30px; margin:8px 8px 0 9px; padding:0 0 0 34px; position:relative;
}




.task-direct-wrap {
	margin-bottom:40px;
}

.task-direct-table {
	border: 1px solid;
	border-color: #e7eef0 #dce6e9 #d8e2e5;
	border-radius: 3px;
	border-spacing: 0;
	width: 100%;
}

.task-direct-cell {
	border-left: 1px solid #eef3f4;
	background-color: #fff;
	height: 54px;
	text-align: center;
	padding: 0;
}

.task-direct-grey-row .task-direct-cell {
	border-left-color: #ecf1f3;
	background-color: #fafbfc;
}

.task-direct-cell:first-child {
	border-left: none;
	padding-left: 14px;
	text-align: left;
}

.task-direct-title .task-direct-cell {
	background-color: #fafbfc;
	-webkit-box-shadow: inset 0 1px 0 #fefefe;
	box-shadow: inset 0 1px 0 #fefefe;
	border-left: 1px solid #ecf1f3;
	color: #4f5d67;
	font-size: 14px;
	height: 46px;
	text-align: center;
	vertical-align: middle;
}

.task-direct-title .task-direct-name {
	border: none;
	colr:#41474e;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	width: 38%;
}

.task-direct-title-text {
	background: url(images/table/task-direct-sprite.png) no-repeat 100px;
	display: inline-block;
	min-height: 13px;
}

.task-direct-do .task-direct-title-text {
	background-position: left -75px;
	padding-left: 15px;
}
.task-direct-help .task-direct-title-text {
	background-position: left -47px;
	padding-left: 23px;
}
.task-direct-instructed .task-direct-title-text {
	background-position: left -22px;
	padding-left: 18px;
}
.task-direct-watching .task-direct-title-text {
	background-position: left 3px;
	padding-left: 23px;
}

.task-direct-total .task-direct-cell {
	background-color: #e0f7fd;
	background-image: -webkit-linear-gradient(top, #e5f8fd, #dbf5fc);
	background-image:    -moz-linear-gradient(top, #e5f8fd, #dbf5fc);
	background-image:     -ms-linear-gradient(top, #e5f8fd, #dbf5fc);
	background-image:      -o-linear-gradient(top, #e5f8fd, #dbf5fc);
	background-image:         linear-gradient(to bottom, #e5f8fd, #dbf5fc);
	border-top: 1px solid #dceef3;
	border-left: 1px solid #d4eef5;
	-webkit-box-shadow: inset 0 1px 0 #e2f5fa;
	box-shadow:inset 0 1px 0 #e2f5fa;
	color: #535b67;
	font-size: 17px;
	font-weight: bold;
	height: 38px;
	text-shadow: 0 1px #fff;
}

.task-direct-total .task-direct-total-title {
	color: #515965;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 0 1px #fff;
}

.task-direct-number-block {
	display: inline-block;
	position: relative;
}

.task-direct-number {
	color: #3b434d;
	font-size: 17px;
}

a.task-direct-number:hover {
	color: #3b434d;
	text-decoration: underline;
}

.task-direct-counter {
	background-color: #f3e0e0;
	border-radius: 7px;
	color: #535b67;
	font-size: 10px;
	height: 13px;
	line-height: 13px;
	right: -16px;
	text-align: center;
	top: -4px;
	padding: 0 1px;
	position: absolute;
	min-width: 12px;
}

.task-direct-total .task-direct-counter {
	right: -21px;
	top: -9px;
}

.task-direct-responsible:hover .task-direct-counter {
	background-color: #da5151;
	background-image: -webkit-linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	background-image: -moz-linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	background-image: -o-linear-gradient(top, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	background-image: linear-gradient(to bottom, #eba2a2 0%,#e47f7f 50%,#da5151 51%,#d54545 100%);
	border: 2px solid #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.32);
	box-shadow: 0 2px 4px rgba(0,0,0,.32);
	color: #fff;
	right: -21px;
	line-height: 16px;
	height: 16px;
	font-size: 12px;
	font-weight: bold;
	top: -9px;
	text-shadow: 0 1px rgba(0,0,0,.15);
	min-width: 11px;
	text-align: center;
	padding: 0 3px;
	position: absolute;
}

.task-direct-respons-block {
	min-height: 35px;
	padding-left: 44px;
	position: relative;
}

.task-direct-respons-img {
	background: url(images/avatar.png) no-repeat center center;
	border: 1px solid #eee;
	border-radius: 1px 1px 1px 1px;
	box-shadow: 0 0 1px #F0F0F0 inset;
	height: 30px;
	left: 0;
	padding: 2px;
	position: absolute;
	top: 0;
	width: 30px;
}

.task-direct-respons-alignment {
	display: inline-block;
	height: 35px;
	margin-left: -1px;
	vertical-align: middle;
	width: 1px;
}

.task-direct-respons-right {
	display: inline-block;
	vertical-align: middle;
	max-width: 270px;
}

.task-direct-respons-name {
	color: #1a60a9;
	display: block;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.task-direct-respons-post {
	color: #717272;
	display: block;
	font-size: 11px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.task-direct-respons-post strong {color: #000;}

.task-direct-responsible:hover .task-direct-cell {
	-webkit-box-shadow: 2px 0 0 2px #cccfd3;
	box-shadow: 2px 0 0 2px #cccfd3;
	position: relative;
	z-index: 2;
}

.task-direct-responsible:hover .task-direct-cell:first-child {
	-webkit-box-shadow: 0 0 0 2px #cccfd3;
	box-shadow: 0 0 0 2px #cccfd3;
}

.task-direct-responsible:hover .task-direct-cell:last-child {
	-webkit-box-shadow: -2px 0 0 0 #fff, 0 0 0 2px #cccfd3;
	box-shadow: -2px 0 0 0 #fff, 0 0 0 2px #cccfd3;
}

.task-direct-grey-row:hover .task-direct-cell:last-child {
	-webkit-box-shadow: -2px 0 0 0 #fafbfc, 0 0 0 2px #cccfd3;
	box-shadow: -2px 0 0 0 #fafbfc, 0 0 0 2px #cccfd3;
}

.task-direct-subdepart .task-direct-cell {
	border-top: 1px solid #fff;
	border-left: 1px solid #e2e8ea;
	background-color: #eff1f2;
	background-image: -webkit-linear-gradient(top, #f2f4f5, #eef0f1);
	background-image:    -moz-linear-gradient(top, #f2f4f5, #eef0f1);
	background-image:     -ms-linear-gradient(top, #f2f4f5, #eef0f1);
	background-image:      -o-linear-gradient(top, #f2f4f5, #eef0f1);
	background-image:         linear-gradient(to bottom, #f2f4f5, #eef0f1);
	height: 33px;
}

.task-direct-subdepart .task-direct-cell:first-child {
	border-left: none;
	height: 24px;
	padding: 4px 5px 5px 14px;
}

.task-direct-subdepart:last-child  .task-direct-cell{
	border-bottom: 1px solid #fff;
}

.task-direct-subdepart .task-direct-counter {top: -3px;}



.task-direct-subdepart-sign {
	color: #8c9198;
	font-size: 13px;
	float: left;
	margin:2px 11px 0 0;
	text-shadow: 0 1px #f7f8f9;
}

.task-direct-subdepart-link {
	color: #4e5154;
	display: block;
	font-size: 16px;
	overflow: hidden;
	text-shadow: 0 1px #fbfbfc;
	text-decoration: none;
}

.task-direct-subdepart-link:hover {
	color: #4e5154;
	text-decoration: underline;
}

/*=================================project-table===========================*/

.task-project-table .task-direct-cell {
	height: 75px;
}

.task-project-table .task-direct-total .task-direct-cell{
	height: 38px;
}

.task-project-table .task-direct-title .task-direct-cell{
	height: 46px;
}

.task-project-table .task-direct-respons-block {
	min-height: 48px;
	padding-left: 70px;
}

.task-project-table .task-direct-respons-img {
	background: url(images/table/default-user-avatar.png) no-repeat center 2px #fff;
	height: 42px;
	width: 42px;
}

.task-project-table .task-direct-respons-alignment {height: 48px;}

.task-project-table .task-direct-respons-right {
	margin-top: 2px;
}

.task-project-director {
	background: url(images/table/task-direct-sprite.png) no-repeat center -103px #fff;
	border: 1px solid;
	border-color: #f6f6f6 #e4e4e4 #c9c9c9;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	border-radius: 2px;
	display: inline-block;
	margin: 0 2px;
	height: 17px;
	padding: 2px;
	vertical-align: middle;
	width: 17px;
}

.task-project-table .task-direct-respons-post {
	display: inline-block;
	margin-right: 2px;
	vertical-align: middle;
	width: auto;
}

.task-project-party,
.task-project-party-list {
	color: #717272;
	display: inline-block;
	font-size: 11px;
	line-height: 12px;
	vertical-align: middle;
}

.task-project-party-list {
	border-bottom: 1px dashed #717272;
	cursor: pointer;
	vertical-align: top;
}

.task-direct-respons-block .profile-menu-avatar {
	top: 0;
	left: 0;
	position: absolute;
	border-radius: 50%;
}

.task-direct-wrap .profile-menu-avatar {
	margin: 0 10px 0 0;
	width: 50px;
	height: 50px;
}

/*================================= EOF project-table ===========================*/
