.crm-wizard-block {
	background: #fff;
	padding: 23px;
}

.crm-wizard-header {
	font: 22px/28px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0 0 15px;
}

.crm-wizard-block + .crm-wizard-block {
	margin-top: 15px;
}

.crm-wizard-desc-text {
	font-size: 14px;
	line-height: 20px;
	color: #525c69;
}

.crm-wizard-block-desc {
	display: flex;
}
.crm-wizard-block-desc.crm-default-block-desc {
	display: none;
}
.crm-wizard-icon {
	display: block;
	width: 96px;
	height: 96px;
	border-radius: 3px;
	background: #f0f0f0 url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2247%22%20height%3D%2240%22%20viewBox%3D%220%200%2047%2040%22%3E%0A%20%20%3Cg%20fill%3D%22%23B8BCC1%22%20transform%3D%22translate%28.038%20-.312%29%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M12.920903%2010.6714376C12.6387306%2011.9979048%2011.5956061%2013.0410573%2010.2691887%2013.3231472%207.74029746%2013.8609914%205.54345802%2011.6634407%206.08139249%209.13501329%206.335785%207.93941363%207.53718498%206.73788914%208.73274884%206.48343905%2011.2611576%205.94526957%2013.458853%208.14233157%2012.920903%2010.6714376M18.1262536%208.54338339L16.2762975%208.23473989C16.1448681%207.69741236%2015.9545951%207.18324256%2015.7076261%206.70261097%2015.6972457%206.68238999%2015.699658%206.65806349%2015.7139291%206.6403715L16.8747564%205.20100263C17.1266433%204.89064719%2017.1152045%204.444125%2016.8496534%204.14461385L16.1138823%203.31652624C15.8471794%203.0173139%2015.4049106%202.95404104%2015.0675518%203.16717763L13.4854657%204.16173624C12.7996051%203.68254423%2012.0239928%203.32685383%2011.1876692%203.11727804%2011.165492%203.11170649%2011.1486684%203.09360519%2011.1448866%203.07101863L10.8415796%201.24823857C10.7766197.854415753%2010.4358216.565450079%2010.0357751.565450079L8.92699042.565450079C8.52775324.565450079%208.18578783.854415753%208.1222753%201.24823857L7.81728753%203.07169874C7.81350573%203.09422927%207.79671328%203.1122761%207.77456715%203.11782119%207.09774862%203.28744524%206.46203192%203.55515656%205.87968068%203.90516647%205.86005577%203.91696321%205.835404%203.91609324%205.81675954%203.902776L4.34283618%202.85086936C4.01858145%202.61919725%203.57318446%202.65542631%203.29020276%202.93781506L2.50688673%203.72171004C2.22449642%204.00469641%202.18826579%204.4501043%202.42055886%204.77437614L3.47493535%206.25125025C3.48822614%206.26986825%203.48914436%206.29451846%203.47737874%206.31414182%203.13077556%206.89199379%202.86584692%207.52393024%202.69639716%208.19459673%202.69079449%208.21674752%202.67275699%208.23349018%202.65025292%208.23724087L.816793545%208.54341141C.423579235%208.60834173.134045513%208.94919128.134045513%209.34926575L.134045513%2010.4572131C.134045513%2010.8572596.423579235%2011.1981371.816793545%2011.2630675L2.65019067%2011.5692116C2.67272586%2011.5729887%202.69079449%2011.5897594%202.69636604%2011.6119366%202.83420737%2012.1594828%203.03054995%2012.6832472%203.28866202%2013.1708105%203.29941604%2013.1911404%203.29714384%2013.2158451%203.28268584%2013.2337566L2.12758572%2014.6643993C1.87657039%2014.9744574%201.88710653%2015.4212785%202.15267326%2015.7205173L2.88786853%2016.5486313C3.15458693%2016.8483884%203.59710476%2016.9105189%203.93449465%2016.6979254L5.5076476%2015.709673C5.52693013%2015.697551%205.55150408%2015.6980412%205.57036641%2015.7108153%206.24180015%2016.1645665%206.99923494%2016.4987037%207.81109347%2016.6979254L8.12230642%2018.5581858C8.18581896%2018.9520351%208.52775324%2019.2410288%208.92699042%2019.2410288L10.0357751%2019.2410288C10.4358371%2019.2410288%2010.7766197%2018.9520631%2010.8415796%2018.5582138L11.1454002%2016.7350789C11.149182%2016.7125204%2011.1660056%2016.6944471%2011.1881828%2016.6889021%2011.8562549%2016.5216156%2012.4837077%2016.2586323%2013.0605652%2015.914793%2013.0801901%2015.9031053%2013.1047485%2015.9040297%2013.1233152%2015.9172925L14.6600507%2017.0148593C14.9837452%2017.2473749%2015.4294534%2017.2109%2015.7121394%2016.9276148L16.4957979%2016.1439657C16.7778458%2015.8618478%2016.8160374%2015.4166843%2016.5818144%2015.0918148L15.4878457%2013.557974C15.4745549%2013.5393559%2015.4736523%2013.5147322%2015.4854179%2013.4951353%2015.8330483%2012.9153286%2016.0993931%2012.2821689%2016.2679091%2011.6084847%2016.2734495%2011.5863075%2016.2915181%2011.5694839%2016.3140533%2011.5657052L18.1268762%2011.2630145C18.5212578%2011.1980562%2018.8096242%2010.8572051%2018.8096242%2010.4571587L18.8096242%209.34921127C18.8090328%208.94919128%2018.5206663%208.60834173%2018.1262536%208.54338339M36.7034729%2025.473052C36.2280095%2027.7081633%2034.4703337%2029.4658863%2032.2353064%2029.9412109%2027.9740979%2030.847484%2024.2724002%2027.1445879%2025.1788255%2022.8841609%2025.6074796%2020.8695628%2027.6318512%2018.8449814%2029.646389%2018.4162303%2033.9067845%2017.509409%2037.6099244%2021.2114817%2036.7034729%2025.473052M45.4745438%2021.8872583L42.3573482%2021.3671907C42.1358883%2020.4617881%2041.8152763%2019.5954066%2041.3991309%2018.7855373%2041.3816397%2018.7514647%2041.3857045%2018.7104743%2041.4097515%2018.6806631L43.3657578%2016.2553114C43.7901898%2015.7323592%2043.7709153%2014.9799645%2043.3234589%2014.4752851L42.0836768%2013.0799487C41.6342796%2012.5757728%2040.8890521%2012.4691573%2040.320599%2012.8282947L37.6547671%2014.5041365C36.4990847%2013.6966929%2035.1921698%2013.0973508%2033.7829558%2012.7442134%2033.7455869%2012.7348253%2033.717239%2012.7043244%2033.7108666%2012.6662658L33.1997911%209.59486216C33.090333%208.93126654%2032.5160845%208.44435633%2031.842002%208.44435633L29.9736881%208.44435633C29.3009692%208.44435633%2028.7247539%208.93126654%2028.6177346%209.59486216L28.103827%2012.6674118C28.0974546%2012.705376%2028.0691592%2012.7357851%2028.0318427%2012.7451286%2026.8913963%2013.0309469%2025.820207%2013.4820433%2024.838939%2014.0718137%2024.8058708%2014.0916914%2024.7643323%2014.0902255%2024.7329162%2014.0677858L22.2493398%2012.295312C21.7029671%2011.904942%2020.9524685%2011.9659884%2020.4756413%2012.4418164L19.1557455%2013.7626877C18.6799149%2014.2395227%2018.6188659%2014.9900397%2019.0102822%2015.5364412L20.7869177%2018.0249897C20.8093128%2018.0563612%2020.81086%2018.0978971%2020.7910348%2018.1309627%2020.2070048%2019.1046493%2019.7605972%2020.1694689%2019.4750726%2021.2995491%2019.465632%2021.3368734%2019.4352387%2021.3650849%2019.3973191%2021.3714049L16.3079207%2021.8873055C15.6453504%2021.9967137%2015.157483%2022.5710488%2015.157483%2023.2451785L15.157483%2025.1120816C15.157483%2025.7861641%2015.6453504%2026.3605464%2016.3079207%2026.4699547L19.3972142%2026.9858107C19.4351862%2026.9921752%2019.465632%2027.020434%2019.4750202%2027.0578029%2019.7072843%2027.980424%2020.0381236%2028.8629725%2020.4730452%2029.6845219%2020.4911658%2029.718778%2020.4873371%2029.7604056%2020.4629752%2029.7905867L18.5166193%2032.2012347C18.0936558%2032.723686%2018.1114093%2033.4765842%2018.5588921%2033.9808047L19.7977039%2035.3761856C20.2471272%2035.8812794%2020.9927744%2035.9859699%2021.56128%2035.6277477L24.2120593%2033.9625319C24.2445506%2033.9421062%2024.2859579%2033.9429323%2024.3177412%2033.9644568%2025.4491141%2034.7290323%2026.7253997%2035.292057%2028.0933899%2035.6277477L28.6177871%2038.7623061C28.7248064%2039.4259463%2029.3009692%2039.9129038%2029.9736881%2039.9129038L31.842002%2039.9129038C32.5161107%2039.9129038%2033.090333%2039.4259935%2033.1997911%2038.7623533L33.711732%2035.6903518C33.7181043%2035.6523404%2033.7464522%2035.6218867%2033.7838211%2035.6125433%2034.9095297%2035.3306638%2035.9667942%2034.8875341%2036.9388053%2034.3081614%2036.9718735%2034.2884674%2037.0132546%2034.2900251%2037.0445397%2034.312373L39.6339552%2036.1617847C40.1793838%2036.553576%2040.9304069%2036.4921153%2041.4067359%2036.0147768L42.7272086%2034.6943198C43.2024624%2034.218948%2043.2668155%2033.4688429%2042.8721475%2032.9214343L41.0287986%2030.3368964C41.0064034%2030.3055248%2041.0048825%2030.2640335%2041.0247077%2030.2310126%2041.6104686%2029.2540322%2042.0592624%2028.1871513%2042.3432137%2027.0519864%2042.3525492%2027.0146175%2042.382995%2026.9862696%2042.4209672%2026.9799025L45.4755929%2026.4698655C46.1401299%2026.36041%2046.6260305%2025.7860723%2046.6260305%2025.1119898L46.6260305%2023.2450867C46.6250339%2022.5710488%2046.1391334%2021.9967137%2045.4745438%2021.8872583%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A) center center no-repeat;
	background-size: cover;
	flex-shrink: 0;
	margin: 7px 19px 0 0;
}
.crm-wizard-switcher {
	padding: 13px 0 13px 13px;
}


.crm-wizard-settings-block {
	padding: 13px 0;
}

.crm-wizard-settings-block-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-wizard-settings-block + .crm-wizard-settings-block {
	border-top: 1px solid #eeeff0;
}

.crm-wizard-settings-name-block {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.crm-wizard-settings-name {
	color: #333;
	font-size: 15px;
	line-height: 21px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 7px;
}

.crm-wizard-settings-detail {
	color: #a8adb4;
	font-size: 13px;
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.crm-wizard-settings-control-btn {
	margin-right: 32px;
}

.crm-wizard-subject {
	padding-bottom: 19px;
	border-bottom: 1px solid #eeeff0;
}

.crm-wizard-subject-text {
	font: 16px/22px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.crm-wizard-settings-control {
	display: flex;
	align-items: center;
	position: relative;
}

.ui-btn.crm-wizard-settings-control-checked {
	padding-left: 24px;
	pointer-events: none;
}

.crm-wizard-settings-control-checked:before {
	content: '';
	width: 18px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 6px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%239DCF00%22%20fill-rule%3D%22evenodd%22%20d%3D%22M8.037%208.962L6.249%207.174%204.985%208.438l2.983%202.984.001-.001.07.068%205.549-5.55-1.264-1.263-4.287%204.286zm.904%207.006A7.984%207.984%200%20118.941%200a7.984%207.984%200%20010%2015.968z%22/%3E%3C/svg%3E);
}
.ui-btn[data-bx-control="not-actual"] {
	pointer-events: none;
	--ui-btn-color: #80868e;
}

.crm-wizard-settings-block-hidden {
	transition: all .2s linear;
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.crm-wizard-settings-block-hidden-inner {
	padding: 14px 18px 26px;
	margin-top: 15px;
	background: #f6f8f9;
}

.crm-wizard-settings-block-hidden-notice {
	text-transform: uppercase;
	font-size: 10px;
	line-height: 16px;
	border-radius: 13px;
	display: inline-block;
	margin-bottom: 13px;
	padding: 5px 12px;
	font-weight: 700;
}

.crm-wizard-settings-block-hidden-notice-unselected {
	background: #f9eeb4;
	color: #9d802f;
}

.crm-wizard-settings-block-hidden-notice-selected {
	background: #e1edbc;
	color: #668d13;
	position: relative;
	margin-right: 23px;
}

.crm-wizard-settings-block-hidden-notice-selected:after {
	content: '';
	width: 16px;
	height: 16px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2217%22%3E%3Cpath%20fill%3D%22%239DCF00%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.577%209.422L5.863%207.71%204.652%208.92l2.86%202.86v-.002l.066.066%205.318-5.318-1.211-1.212-4.108%204.108zm.867%206.714a7.651%207.651%200%20110-15.302%207.651%207.651%200%20010%2015.302z%22/%3E%3C/svg%3E);
	position: absolute;
	right: -23px;
	top: 4px;
}

.crm-wizard-settings-block-hidden-input {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: 4px;
	width: 70%;
}

.crm-wizard-settings-block-hidden-input-inner {
	width: 100%;
	margin-right: 10px;
}

.crm-wizard-settings-block-hidden-input-label {
	color: #a8adb4;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 5px;
}

.crm-wizard-settings-block-list {
	list-style: none;
	padding: 0;
	margin: 7px 0;
}

.crm-wizard-settings-block-list li {
	display: block;
	margin-bottom: 5px;
	width: auto;
	padding-left: 15px;
	position: relative;
}

.crm-wizard-settings-block-list li:before {
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 6px;
	background: #2067b0;
}

.crm-wizard-settings-block-provider-list {
	list-style: none;
	margin: 4px 0;
	padding: 0;
}

.crm-wizard-settings-block-provider-list li {
	position: relative;
	color: #333;
	padding-left: 4px;
	margin-bottom: 7px;
}

.crm-wizard-settings-block-provider-list li:before {
	content: '-';
}

.crm-wizard-settings-block-provider-list li a {
	margin-left: 4px;
}

/*Logic*/
button[data-bx-control="ok"],
button[data-bx-control="in-progress"],
button[data-bx-control="not-checked"],
button[data-bx-control="not-actual"],
button[data-bx-control="not-correct"] {
	display : none;
}

div[data-bx-status="ok"] button[data-bx-control="ok"],
div[data-bx-status="not-checked"] button[data-bx-control="not-checked"],
div[data-bx-status="in-progress"] button[data-bx-control="in-progress"],
div[data-bx-status="not-actual"] button[data-bx-control="not-actual"],
div[data-bx-status="not-correct"] button[data-bx-control="not-correct"] {
	display : block;
}
