/*.bx-messenger-list-recent {*/
/*	width: 80px;*/
/*}*/

.bx-messenger-list-recent .subtitle-left-icon-open {
	background: red;
	margin-right: 5px;
	height: 10px;
	width: 10px;
}

.bx-messenger-list-recent .title-left-icon-open {
	background: green;
	margin-right: 5px;
	height: 10px;
	width: 10px;
}

.bx-messenger-list-recent .title-right-icon-open {
	background: yellow;
	margin-left: 5px;
	height: 10px;
	width: 10px;
}

.bx-messenger-list-recent .date-left-icon-open {
	background: blue;
	margin-right: 5px;
	height: 10px;
	width: 10px;
}

.bx-messenger-list-recent .avatar-top-left-icon-open {
	background: lightsalmon;
	position: absolute;
	height: 10px;
	width: 10px;
	top: 0;
	left: 0;
}

.bx-messenger-list-recent .avatar-bottom-right-icon-open {
	background: lightseagreen;
	position: absolute;
	height: 10px;
	width: 10px;
	top: 25px;
	left: 25px;
}