.sender-trigger-chain-wrap {
	padding: 20px;
	background: white;
}

.sender-trigger-start-after-event {
	display: none;
}
.sender-trigger-chain-container-letter:first-child .sender-trigger-start-after-event{
	display: initial;
}
.sender-trigger-chain-container-letter:first-child .sender-trigger-start-after-letter{
	display: none;
}

.sender-link-email,
.sender_letter_container-author {
	display: inline-block;
	/*border-bottom: 1px solid transparent;*/
	color: #1c53a2;
	font-weight: 400;
	text-decoration: none;
	/*transition: border-bottom .3s;*/
	cursor: pointer;
}

.sender-link-email:hover,
.sender_letter_container-author:hover {
	/*border-bottom: 1px solid #1c53a2;*/
	text-decoration: underline;
}

/*
    mailing group
*/
.sender-mailing-group{

}
.sender-mailing-group-head-img{

}
.sender-mailing-group-head-img-inc{
	background-position: center -213px;
}
.sender-mailing-group-head-img-exc{
	background-position: center -182px;
}
.sender-mailing-group-head-text{
	font-weight: bold;
	font-size: 15px;
}
.sender-mailing-group-block-all{
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
	display: inline-block;
}
.sender-mailing-group-block-sel{
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
	display: inline-block;
}
.sender-mailing-group-block-sect-delim{
	width: 90px;
	text-align: center;
}


.sender-mailing-group-container {
	display: flex;
	padding: 15px;
}

.sender-mailing-group-container.sender-mailing-group-add {
	background: #e4f2f7;
	color: #345f71;
}
.sender-mailing-group-container.sender-mailing-group-add .adm-white-container-p {
	border-left: 1px solid #d7e5ea;
}

.sender-mailing-group-container.sender-mailing-group-del {
	background: #fde4e1;
	color: #9e2f2f
}
.sender-mailing-group-container.sender-mailing-group-del .adm-white-container-p {
	border-left: 1px solid #f1cecc;
}
.sender-mailing-group-container.sender-mailing-group-ok {
	background: #E7F0CF;
	color: #738A37;
}
.sender-mailing-group-container.sender-mailing-group-ok .adm-white-container-p {
	border-left: 1px solid #D4E49A;
}

.sender-mailing-group-container .sender-mailing-group-container-title {
	position: relative;
	float: left;
	/*display: inline-block;*/
	display: table;
	padding-right: 27px;
	padding-left: 38px;
	font: bold 20px/27px "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-shadow: rgb(255, 255, 255) 0 1px 0;
}

.sender-mailing-group-container .sender-mailing-group-container-title span {
	display: table-cell;
}

.sender-mailing-group-container .sender-mailing-group-container-title:before {
	content: '';
	position: absolute;
	width: 23px;
	height: 23px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	background: url("images/bx-admin-sprite-small-2.png") no-repeat 0 -4642px!important;
}
.sender-mailing-group-container.sender-mailing-group-del .sender-mailing-group-container-title:before {
	background: url("images/bx-admin-sprite-small-2.png") no-repeat 0 -4672px!important;
}
.sender-mailing-group-container.sender-mailing-group-ok .sender-mailing-group-container-title:before {
	background: url("images/bx-admin-sprite-small-2.png") no-repeat 0 -4702px!important;
}

.sender-mailing-group-container .adm-white-container-p {
	font-weight: normal;
	padding-left: 25px;
	display: block;
	overflow: hidden;
	height: 27px;
	min-height: 27px;
	display: table;
}
.sender-mailing-group-container .adm-white-container-p span {
	display: table-cell;
	vertical-align: middle;
}

.sender-mailing-container{
	background: rgb(244, 249, 249);
	border: 1px solid rgb(230, 230, 230);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 3px;
	padding: 20px;
}


.sender-time-dialog {
	padding: 10px 0px;
	display: none;
}
#bx-admin-prefix #sender-letter-container-time-dialog .popup-window-close-icon{
	background-color: #fff;
}

.sender-trigger-status-mailing {
	margin-bottom: 10px;
	background: url(images/container-letter-bg.png) repeat-y 5px 0;
	padding: 0 0 25px 30px;
}

.sender-trigger-status-mailing-finish {
	background: none;
}

.sender-trigger-status-mailing-title {
	position: relative;
	font: bold 17px/36px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #2d2e2f;
}

.sender-trigger-status-mailing-title:before {
	content: '';
	position: absolute;
	top: 12px;
	bottom: 0;
	left: -29px;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #949caa;
	display: block;
	box-shadow: 0 5px 0 0 #fff, 0 -12px 0 0 #fff;
}

.sender-trigger-status-mailing-desc {
	color: #536677;
	font-size: 14px;
	background: #e3ecee;
	line-height: 37px;
	padding: 0 17px;
	border-radius: 3px;
	font-weight: bold;
}

.sender-trigger-chain-container-letter {
	background: url(images/container-letter-bg.png) repeat-y 5px 0;
	padding: 0 0 25px 30px;
	margin-top: 10px;
}

.sender-trigger-status-mailing-time {
	position: relative;
	font-size: 14px;
	color: #2d2e2f;
	line-height: 16px;
	margin-bottom: 15px;
	font-weight: bold;
}

.sender-trigger-status-mailing-time:before {
	display: inline-block;
	content: '';
	width: 12px;
	height: 30px;
	background: #fff url("images/bx-admin-sprite-small-2.png") no-repeat 0 -4726px;
	position: absolute;
	left: -30px;
	top: 10px;
	bottom: 0;
	margin: auto;
}

.sender_letter_container_move {
	width: 14px;
	padding: 4px 0;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.sender_letter_container_burger {
	position: relative;
	width: 14px;
	height: 2px;
	background: #6f797e;
}

.sender_letter_container_burger:before,
.sender_letter_container_burger:after {
	content: '';
	position: absolute;
	width: 14px;
	height: 2px;
	background: #6f797e;
	top: -4px;
}

.sender_letter_container_burger:after {
	bottom: -4px;
	top: auto;
}

.sender_letter_container_head h3 {
	font-size: 17px;
	font-weight: bold;
	color: #2d2e2f;
	margin: 0 0 15px;
	min-height: 21px;
}

.sender_letter_container_head {}

.sender_letter_container_sorter_view {
	height: 45px;
	float: left;
	padding: 30px 33px 30px 15px;
	text-align: center;
	border-right: 1px solid #eeeff0;
	margin-right: 20px;
}
.sender_letter_container_sorter_view .sender_letter_container_sorter_text {
	font-size: 24px;
	font-weight: bold;
	line-height: 37px;
	display: inline-block;
}
.sender_letter_container_sorter_icon {
	position: relative;
	width: 47px;
	height: 37px;
	background: #fff;
	border: 2px solid #9ba3b2;
	display: block;
	padding-left: 12px;
	text-align: left;
}
.sender_letter_container_sorter_icon:before {
	content: '';
	position: absolute;
	top: 2px;
	right: 2px;
	width: 7px;
	height: 7px;
	background: #9ba3b2;
}
.sender_letter_container_sorter_icon:after {
	content: '';
	position: absolute;
	width: 18px;
	height: 6px;
	border-top: 2px solid #8aa3ac;
	border-bottom: 2px solid #8aa3ac;
	right: 3px;
	bottom: 3px;
	box-shadow: inset 0 2px 0 0 #fff, inset 0 -2px 0 0 #fff;
	background: #8aa3ac;
}

.sender_letter_container-info {
	display: block;
	font-size: 12px;
	color: #86898b;
	margin-bottom: 20px;
}

.sender_letter_container-author {
	/*color: #474747;*/
	font-size: 12px;
}

/*.sender_letter_container-author:hover {*/
	/*text-decoration: none;*/
/*}*/

.sender_letter_container-create {
	font-weight: bold;
	color: #383b3c;
}

.sender_letter_container_button_show {
	font-size: 14px;
	font-weight: bold;
	color: #475056;
	text-shadow: 0 1px 0 #fff;
	background: #f6f5f9;
	text-decoration: none;
	display: inline-block;
	line-height: 29px;
	padding: 0 30px 0 15px;
	border-radius: 3px;
	position: relative;
}

.sender_letter_container_button_show:before {
	content: '';
	position: absolute;
	top: 0px;
	bottom: 0;
	right: 13px;
	margin: auto;
	height: 0;
	border: 4px solid transparent;
	border-top: 4px solid #475056;
	border-bottom: none;
}

.sender_letter_container_button_show.sender_letter_container_button_hide:before {
	border: 4px solid transparent;
	border-bottom: 4px solid #475056;
	border-top: none;
}

.sender_letter_container_button_show:hover {
	text-decoration: none;
}

.sender_letter_container {
	border-radius: 3px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.29);
	padding: 15px;
	position: relative;
	background: #fff;
}

.sender_letter_container_button_delete {
	position: absolute;
	width: 13px;
	height: 20px;
	display: block;
	top: 4px;
	right: 10px;
	text-decoration: none;
	line-height: 10px;
	font-size: 19px;
	color: #576166;
	font-weight: bold;
	background: url("images/bx-admin-sprite-small-2.png") no-repeat 0 -2446px;
}

.sender_letter_container_button_delete:hover {
	background: url("images/bx-admin-sprite-small-2.png") no-repeat -4px -2987px;
}

.sender_letter_container_body {
	border-top: 1px solid #dee3e8;
	margin-top: 25px;
	padding: 20px 0px 0px 35px;
}

table.trigger_chain_item {
	padding: 5px 0;
	width: 100%;
}

table.trigger_chain_item td {
	padding: 5px 0;
}

table.trigger_chain_item .bx-ed-type-selector {
	text-align: left !important;
}
table.trigger_chain_item .typearea, table.trigger_chain_item input.sender_letter_container_subject{
	width: 98% !important;
}

table.trigger_chain_item td:first-child {
	font-weight: bold;
	font-size: 14px;
}

.sender-trigger-add-letter {
	position: relative;
	background: url(images/container-letter-bg.png) repeat-y 5px 0;
	padding: 0 0 25px 30px;
}

.sender-trigger-add-letter:before {
	content: '';
	position: absolute;
	top: 10px;
	bottom: 0;
	left: 1px;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #949caa;
	display: block;
	box-shadow: 0 10px 0 0 #fff, 0 -10px 0 0 #fff;
}