.sale-address-control-top-margin-5 {
	margin-top: 5px;
}

.sale-address-control-top-margin-width-820 {
	max-width: 820px !important;
}

.sale-address-control-path-input {
	display: inline-flex;
	align-items: center;
}

.ui-ctl-element.sale-address-control-path-input,
.ui-ctl-element.sale-address-control-path-input:hover {
	flex: none;
	display: block;
	overflow: hidden;
	max-width: calc(100% - 30px);
	position: relative;
	width: auto;
	margin-left: 1px;
	padding: 8px 0 !important;
	max-height: none;
	white-space: normal;
	height: auto;
	border: 1px solid transparent !important;
	/*border-bottom: 1px dashed rgba(32, 102, 176, .4) !important;*/
	text-decoration: underline;
	color: #2066b0;
	cursor: pointer;
	transition: .1s;
}

.sale-address-control-path-control:hover .sale-address-control-path-input[contenteditable="false"] {
	max-width: calc(100% - 56px);
}

.sale-address-control-path-input[contenteditable="false"] + .ui-ctl-icon-search {
	display: none;
}

.sale-address-control-path-edit {
	display: none;
	vertical-align: middle;
	width: 30px;
	height: 39px;
	cursor: pointer;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M16.4358633%2C5.03481936%20L18.9864331%2C7.61224176%20L9.00876666%2C17.563056%20L6.45819647%2C14.9856339%20L16.4358633%2C5.03481936%20Z%20M5.02558382%2C18.6726366%20C5.00146497%2C18.7639157%205.0273066%2C18.8603615%205.09277206%2C18.9275292%20C5.1599603%2C18.9946969%205.25643572%2C19.0205306%205.34774281%2C18.9946969%20L8.19893597%2C18.2265744%20L5.79394162%2C15.8223165%20L5.02558382%2C18.6726366%20Z%22%20transform%3D%22translate%28-5%20-5%29%22/%3E%3C/svg%3E') center 12px no-repeat;
	background-size: 12px;
}

.sale-address-control-path-input[contenteditable="false"] +
.ui-ctl-icon-search +
.sale-address-control-path-edit {
	display: inline-block;
	opacity: 0;
}

.sale-address-control-path-input[contenteditable="false"]:hover + .ui-ctl-icon-search + .sale-address-control-path-edit {
	opacity: .4 !important;
}

.sale-address-control-path-input[contenteditable="false"] +
.ui-ctl-icon-search +
.sale-address-control-path-edit:hover {
	opacity: .7 !important;
}

.sale-address-control-path-icon-clean,
.sale-address-control-path-input-custom {
	margin-top: 10px;
}