.salescenter-delivery {
	display: block;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding: 10px 0 0 0;
	box-sizing: border-box;
}

.crm-entity-stream-section-content .salescenter-delivery {
	width: auto;
	margin-right: 13px;
}

.salescenter-delivery-header {
	display: block;
	font-size: 0;
}

.salescenter-delivery-header-method {
	/*display: inline-block;*/
	display: none;
	margin-right: 13px;
}

.salescenter-delivery-selector {
	display: inline-flex;
	align-items: center;
	position: relative;
	height: 34px;
	margin-left: 6px;
	border-radius: 17px;
	box-sizing: border-box;
	border: 1px solid rgba(82,92,105,.17);
	font-size: 14px;
	color: #333;
	letter-spacing: normal;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	transition: .1s;
}

.salescenter-delivery-selector:first-child {
	margin-left: 0;
}

.salescenter-delivery-selector--dark {
	background: rgba(121,135,154,.15);
	border-color: transparent;
}

.salescenter-delivery-selector--hover {
	cursor: pointer;
}

.salescenter-delivery-selector--inline {
	padding: 0;
	border-color: transparent;
}

.salescenter-delivery-selector--checkbox {
	position: relative;
	border: 1px solid rgba(82,92,105,.17);
}

.salescenter-delivery-selector--checkbox:hover {
	border-color: rgba(82,92,105,.35);
}

.salescenter-delivery-selector--checkbox .salescenter-delivery-selector-text {
	margin-left: 5px;
}

.salescenter-delivery-selector--checkbox input {
	margin-left: 12px;
}

.salescenter-delivery-selector--checkbox input + .salescenter-delivery-selector-text:after {
	content: '';
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border: 2px solid transparent;
	border-radius: 34px;
	pointer-events: none;
	transition: .1s;
}

.salescenter-delivery-selector--checkbox input:checked + .salescenter-delivery-selector-text:after {
	border-color: #2fc6f6;
}

.salescenter-delivery-selector-text {
	margin: 0 18px;
}

.salescenter-delivery-selector--inline .salescenter-delivery-selector-text {
	margin: 0 13px 0 0;
	color: #80868e;
	border-bottom: 1px dashed rgba(130,139,149,.4);
}

.salescenter-delivery-selector--hover:hover .salescenter-delivery-selector--inline,
.salescenter-delivery-selector--inline .salescenter-delivery-selector-text:hover {
	border-color: rgba(130,139,149,.8);
}

.salescenter-delivery-selector-arrow {
	flex: 1;
	position: relative;
	margin: 0 5px 0 -13px;
	min-width: 26px;
	height: 100%;
	opacity: .5;
	transition: none;
	cursor: pointer;
}

.salescenter-delivery-selector-arrow:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 9px;
	transform: rotate(-45deg);
	width: 6px;
	height: 6px;
	border-bottom: 2px solid;
	border-left: 2px solid;
	border-color: #525c69;
}

.salescenter-delivery-selector-arrow:hover,
.salescenter-delivery-selector--hover:hover .salescenter-delivery-selector-arrow {
	opacity: 1;
	transition: .1s;
}

.salescenter-delivery-selector--hover:not(.salescenter-delivery-selector--dark):hover .salescenter-delivery-selector {
	border-color: rgba(47,198,246,.9);
}

.salescenter-delivery-car {
	display: block;
	white-space: nowrap;
	margin: 26px -9px 15px -9px;
}

.salescenter-delivery-car-item {
	display: inline-block;
	position: relative;
	width: 255px;
	box-sizing: border-box;
	vertical-align: top;
	margin: 0 9px;
	padding: 7px 14px 9px 14px;
	border: 1px solid rgba(168,173,180,.58);
	border-radius: 3px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	cursor: pointer;
}

.salescenter-delivery-car-item:not(.salescenter-delivery-car-item--selected):hover {
	border-color: rgba(168,173,180,.9);
}

.salescenter-delivery-car-item--selected {
	border-color: #2fc6f6;
}

.salescenter-delivery-car-item--selected:before {
	content: '';
	position: absolute;
	top: -7px;
	right: -7px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #2fc6f6 url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.627%205.81L10.402%200%2012%201.607%204.652%209l-.025-.025L4.602%209%200%204.373l1.598-1.607z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E)
	no-repeat center;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.11);
	z-index: 9;
}

.salescenter-delivery-car-item--selected:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #2fc6f6;
	border-radius: 2px;
	pointer-events: none;
}

.salescenter-delivery-car-title {
	display: block;
	overflow: hidden;
	margin-bottom: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: "OpenSans-SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 23px;
}

.salescenter-delivery-car-container {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.salescenter-delivery-car-image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 74px;
	height: 74px;
	margin: 0 5px;
	border-radius: 100%;
	background: rgba(168,173,180,.15) center no-repeat;
}

.salescenter-delivery-car-image--car {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2246%22%20height%3D%2218%22%20viewBox%3D%220%200%2046%2018%22%3E%3Cpath%20opacity%3D%22.5%22%20fill%3D%22%23525C69%22%20d%3D%22M9.3565622%2C10.6643334%20C11.1839022%2C10.6643334%2012.6652022%2C12.1457334%2012.6652022%2C13.9730334%20C12.6652022%2C15.8004334%2011.1839022%2C17.2817334%209.3565622%2C17.2817334%20C7.5292222%2C17.2817334%206.0478722%2C15.8004334%206.0478722%2C13.9730334%20C6.0478722%2C12.1457334%207.5292222%2C10.6643334%209.3565622%2C10.6643334%20Z%20M36.2186022%2C10.6643334%20C38.0459022%2C10.6643334%2039.5273022%2C12.1457334%2039.5273022%2C13.9730334%20C39.5273022%2C15.8004334%2038.0459022%2C17.2817334%2036.2186022%2C17.2817334%20C34.3912022%2C17.2817334%2032.9099022%2C15.8004334%2032.9099022%2C13.9730334%20C32.9099022%2C12.1457334%2034.3912022%2C10.6643334%2036.2186022%2C10.6643334%20Z%20M26.9993022%2C0.715593401%20C28.6745022%2C1.2585634%2032.3983022%2C3.5481134%2034.4882022%2C5.5361134%20C38.2301022%2C6.5280534%2041.5361022%2C6.9630934%2043.8327022%2C9.0172234%20L44.0275134%2C9.43439682%20C44.7057786%2C10.9323251%2044.9839105%2C12.1321501%2044.7409022%2C14.7063334%20L40.9336022%2C14.7120334%20C40.9720022%2C14.4717334%2040.9915022%2C14.2246334%2040.9915022%2C13.9730334%20C40.9915022%2C11.3370334%2038.8546022%2C9.2001634%2036.2186022%2C9.2001634%20C33.5826022%2C9.2001634%2031.4457022%2C11.3370334%2031.4457022%2C13.9730334%20C31.4457022%2C14.2295334%2031.4659022%2C14.4813334%2031.5048022%2C14.7268334%20L15.4150127%2C14.7296518%20C14.9640797%2C14.7292074%2014.5151484%2C14.7287026%2014.0688022%2C14.7281334%20L14.0882022%2C14.6035334%20C14.1154022%2C14.3972334%2014.1295022%2C14.1868334%2014.1295022%2C13.9730334%20C14.1295022%2C11.3370334%2011.9926022%2C9.2001634%209.3565622%2C9.2001634%20C6.7205622%2C9.2001634%204.5836522%2C11.3370334%204.5836522%2C13.9730334%20C4.5836522%2C14.2142334%204.6015422%2C14.4512334%204.6360722%2C14.6828334%20L4.03165928%2C14.6431907%20C1.99661168%2C14.4823797%200.801048807%2C14.0995247%200.297223198%2C13.7970334%20C-0.0131968017%2C13.6506334%20-0.306130802%2C6.6840234%200.663982198%2C5.8043434%20C1.3218022%2C5.0783634%205.4541722%2C4.4473134%206.6215922%2C4.1014934%20L7.12267586%2C3.75681402%20C8.77969673%2C2.60152599%2011.0866022%2C0.899829116%2013.5433022%2C0.353823401%20C17.0037022%2C-0.122197599%2023.0486022%2C-0.221951599%2026.9993022%2C0.715593401%20Z%20M15.1157022%2C1.4933634%20C14.9566022%2C1.5158834%2014.8047022%2C1.5769634%2014.6805022%2C1.6790434%20L14.501795%2C1.83368556%20C13.8811361%2C2.39790299%2013.0252931%2C3.46298067%2012.3692022%2C5.4316534%20C12.3064022%2C5.6202134%2012.4466022%2C5.8137434%2012.6454022%2C5.8172734%20C15.6353022%2C5.8704134%2018.0051022%2C5.8441734%2020.6460022%2C5.8138134%20C20.8286022%2C5.8117134%2020.9672022%2C5.6486834%2020.9388022%2C5.4683034%20L20.6092334%2C3.43653934%20C20.5156709%2C2.87151646%2020.4113272%2C2.24844423%2020.2962022%2C1.5673234%20C20.2732022%2C1.4307734%2020.1595022%2C1.3273534%2020.0213022%2C1.3188534%20C18.3146022%2C1.2139034%2016.6794022%2C1.2720734%2015.1157022%2C1.4933634%20Z%20M21.8799022%2C1.3862034%20C21.6921022%2C1.3822534%2021.5505022%2C1.5528634%2021.5847022%2C1.7374934%20L22.1020449%2C4.5579719%20C22.1650422%2C4.9069589%2022.2233622%2C5.2328294%2022.2770022%2C5.5355834%20C22.3022022%2C5.6776934%2022.4248022%2C5.7816634%2022.5691022%2C5.7833134%20L25.2687615%2C5.80999451%20C27.0939022%2C5.82339896%2028.9800355%2C5.82429673%2030.9887022%2C5.7902434%20C31.2183022%2C5.7863534%2031.3537022%2C5.5389834%2031.2124022%2C5.3580634%20C29.9485022%2C3.7402534%2027.2028022%2C2.4667634%2025.9392022%2C1.7992234%20C25.9094022%2C1.7834434%2025.8780022%2C1.7732734%2025.8446022%2C1.7682034%20C24.3244022%2C1.5371834%2023.0028022%2C1.4098534%2021.8799022%2C1.3862034%20Z%22%20transform%3D%22translate%28.5%29%22/%3E%3C/svg%3E');
}

.salescenter-delivery-car-item--selected .salescenter-delivery-car-image--car {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2246%22%20height%3D%2218%22%20viewBox%3D%220%200%2046%2018%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M9.3565622%2C10.6643334%20C11.1839022%2C10.6643334%2012.6652022%2C12.1457334%2012.6652022%2C13.9730334%20C12.6652022%2C15.8004334%2011.1839022%2C17.2817334%209.3565622%2C17.2817334%20C7.5292222%2C17.2817334%206.0478722%2C15.8004334%206.0478722%2C13.9730334%20C6.0478722%2C12.1457334%207.5292222%2C10.6643334%209.3565622%2C10.6643334%20Z%20M36.2186022%2C10.6643334%20C38.0459022%2C10.6643334%2039.5273022%2C12.1457334%2039.5273022%2C13.9730334%20C39.5273022%2C15.8004334%2038.0459022%2C17.2817334%2036.2186022%2C17.2817334%20C34.3912022%2C17.2817334%2032.9099022%2C15.8004334%2032.9099022%2C13.9730334%20C32.9099022%2C12.1457334%2034.3912022%2C10.6643334%2036.2186022%2C10.6643334%20Z%20M26.9993022%2C0.715593401%20C28.6745022%2C1.2585634%2032.3983022%2C3.5481134%2034.4882022%2C5.5361134%20C38.2301022%2C6.5280534%2041.5361022%2C6.9630934%2043.8327022%2C9.0172234%20L44.0275134%2C9.43439682%20C44.7057786%2C10.9323251%2044.9839105%2C12.1321501%2044.7409022%2C14.7063334%20L40.9336022%2C14.7120334%20C40.9720022%2C14.4717334%2040.9915022%2C14.2246334%2040.9915022%2C13.9730334%20C40.9915022%2C11.3370334%2038.8546022%2C9.2001634%2036.2186022%2C9.2001634%20C33.5826022%2C9.2001634%2031.4457022%2C11.3370334%2031.4457022%2C13.9730334%20C31.4457022%2C14.2295334%2031.4659022%2C14.4813334%2031.5048022%2C14.7268334%20L15.4150127%2C14.7296518%20C14.9640797%2C14.7292074%2014.5151484%2C14.7287026%2014.0688022%2C14.7281334%20L14.0882022%2C14.6035334%20C14.1154022%2C14.3972334%2014.1295022%2C14.1868334%2014.1295022%2C13.9730334%20C14.1295022%2C11.3370334%2011.9926022%2C9.2001634%209.3565622%2C9.2001634%20C6.7205622%2C9.2001634%204.5836522%2C11.3370334%204.5836522%2C13.9730334%20C4.5836522%2C14.2142334%204.6015422%2C14.4512334%204.6360722%2C14.6828334%20L4.03165928%2C14.6431907%20C1.99661168%2C14.4823797%200.801048807%2C14.0995247%200.297223198%2C13.7970334%20C-0.0131968017%2C13.6506334%20-0.306130802%2C6.6840234%200.663982198%2C5.8043434%20C1.3218022%2C5.0783634%205.4541722%2C4.4473134%206.6215922%2C4.1014934%20L7.12267586%2C3.75681402%20C8.77969673%2C2.60152599%2011.0866022%2C0.899829116%2013.5433022%2C0.353823401%20C17.0037022%2C-0.122197599%2023.0486022%2C-0.221951599%2026.9993022%2C0.715593401%20Z%20M15.1157022%2C1.4933634%20C14.9566022%2C1.5158834%2014.8047022%2C1.5769634%2014.6805022%2C1.6790434%20L14.501795%2C1.83368556%20C13.8811361%2C2.39790299%2013.0252931%2C3.46298067%2012.3692022%2C5.4316534%20C12.3064022%2C5.6202134%2012.4466022%2C5.8137434%2012.6454022%2C5.8172734%20C15.6353022%2C5.8704134%2018.0051022%2C5.8441734%2020.6460022%2C5.8138134%20C20.8286022%2C5.8117134%2020.9672022%2C5.6486834%2020.9388022%2C5.4683034%20L20.6092334%2C3.43653934%20C20.5156709%2C2.87151646%2020.4113272%2C2.24844423%2020.2962022%2C1.5673234%20C20.2732022%2C1.4307734%2020.1595022%2C1.3273534%2020.0213022%2C1.3188534%20C18.3146022%2C1.2139034%2016.6794022%2C1.2720734%2015.1157022%2C1.4933634%20Z%20M21.8799022%2C1.3862034%20C21.6921022%2C1.3822534%2021.5505022%2C1.5528634%2021.5847022%2C1.7374934%20L22.1020449%2C4.5579719%20C22.1650422%2C4.9069589%2022.2233622%2C5.2328294%2022.2770022%2C5.5355834%20C22.3022022%2C5.6776934%2022.4248022%2C5.7816634%2022.5691022%2C5.7833134%20L25.2687615%2C5.80999451%20C27.0939022%2C5.82339896%2028.9800355%2C5.82429673%2030.9887022%2C5.7902434%20C31.2183022%2C5.7863534%2031.3537022%2C5.5389834%2031.2124022%2C5.3580634%20C29.9485022%2C3.7402534%2027.2028022%2C2.4667634%2025.9392022%2C1.7992234%20C25.9094022%2C1.7834434%2025.8780022%2C1.7732734%2025.8446022%2C1.7682034%20C24.3244022%2C1.5371834%2023.0028022%2C1.4098534%2021.8799022%2C1.3862034%20Z%22%20transform%3D%22translate%28.5%29%22/%3E%3C/svg%3E');
}

.salescenter-delivery-car-image--truck {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2246%22%20height%3D%2225%22%20viewBox%3D%220%200%2046%2025%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M-3.55271368e-15%2C0.98484697%20C-3.55271368e-15%2C0.440932576%200.440931818%2C-1.24344979e-14%200.984849242%2C-1.24344979e-14%20L30.3093189%2C-1.24344979e-14%20C30.8532583%2C-1.24344979e-14%2031.2941674%2C0.440931818%2031.2941674%2C0.98484697%20L31.2941674%2C14.2875894%20L-3.55271368e-15%2C14.2875894%20L-3.55271368e-15%2C0.98484697%20Z%20M32.1755311%2C4.63504394%20C32.1755311%2C4.22221818%2032.5043189%2C3.88553636%2032.917122%2C3.87873333%20C34.8525765%2C3.84684697%2039.9412886%2C3.77498333%2040.4353038%2C3.89162727%20C42.1672735%2C4.30051364%2044.4759856%2C9.48137727%2045.2362886%2C11.2956197%20C45.4084098%2C11.7063773%2045.4756826%2C12.1484985%2045.4465917%2C12.5928924%20L45.1743189%2C16.7498621%20L40.6805311%2C16.7498621%20C40.0303795%2C16.4142561%2039.2926523%2C16.2247864%2038.5105311%2C16.2247864%20C35.9495462%2C16.2247864%2033.8631826%2C18.2570591%2033.7761371%2C20.7968318%20L33.6906826%2C20.7968318%20C32.8538644%2C20.7968318%2032.1755311%2C20.1184985%2032.1755311%2C19.2816803%20L32.1755311%2C4.63504394%20Z%20M42.2592432%2C18.0652409%20C42.8475765%2C18.8255439%2043.2098492%2C19.7697106%2043.2450008%2C20.7968318%20L43.4900765%2C20.7968318%20C44.2884098%2C20.7968318%2044.9497735%2C20.1773621%2045.0019705%2C19.3807712%20L45.0881068%2C18.0652409%20L42.2592432%2C18.0652409%20Z%20M15.7359856%2C20.9620591%20C15.7359856%2C23.0513773%2014.0422735%2C24.7450894%2011.9530311%2C24.7450894%20C9.86371288%2C24.7450894%208.17000076%2C23.0513773%208.17000076%2C20.9620591%20C8.17000076%2C18.8727409%209.86371288%2C17.1790288%2011.9530311%2C17.1790288%20C14.0422735%2C17.1790288%2015.7359856%2C18.8727409%2015.7359856%2C20.9620591%20Z%20M13.9296977%2C20.9620591%20C13.9296977%2C22.0537258%2013.0446977%2C22.9387258%2011.9530311%2C22.9387258%20C10.8612886%2C22.9387258%209.97628864%2C22.0537258%209.97628864%2C20.9620591%20C9.97628864%2C19.8703167%2010.8612886%2C18.9853167%2011.9530311%2C18.9853167%20C13.0446977%2C18.9853167%2013.9296977%2C19.8703167%2013.9296977%2C20.9620591%20Z%20M42.2935614%2C20.9620591%20C42.2935614%2C23.0513773%2040.5998492%2C24.7450894%2038.5106068%2C24.7450894%20C36.4212886%2C24.7450894%2034.7275765%2C23.0513773%2034.7275765%2C20.9620591%20C34.7275765%2C18.8727409%2036.4212886%2C17.1790288%2038.5106068%2C17.1790288%20C40.5998492%2C17.1790288%2042.2935614%2C18.8727409%2042.2935614%2C20.9620591%20Z%20M40.4872735%2C20.9620591%20C40.4872735%2C22.0537258%2039.6022735%2C22.9387258%2038.5106068%2C22.9387258%20C37.4188644%2C22.9387258%2036.5338644%2C22.0537258%2036.5338644%2C20.9620591%20C36.5338644%2C19.8703167%2037.4188644%2C18.9853167%2038.5106068%2C18.9853167%20C39.6022735%2C18.9853167%2040.4872735%2C19.8703167%2040.4872735%2C20.9620591%20Z%20M-3.55271368e-15%2C15.2844833%20L31.2941674%2C15.2844833%20L31.2941674%2C20.0392561%20C31.2941674%2C20.4576652%2030.9550008%2C20.7968318%2030.5365917%2C20.7968318%20L16.687425%2C20.7968318%20C16.6003795%2C18.2570591%2014.5140159%2C16.2247864%2011.9530311%2C16.2247864%20C9.39197045%2C16.2247864%207.30560682%2C18.2570591%207.21854621%2C20.7968318%20L0.757576515%2C20.7968318%20C0.339178788%2C20.7968318%20-3.55271368e-15%2C20.4576652%20-3.55271368e-15%2C20.0392561%20L-3.55271368e-15%2C15.2844833%20Z%20M36.249622%2C5.62956667%20C35.8381826%2C5.6363697%2035.5105311%2C5.97238485%2035.5105311%2C6.3839%20L35.5105311%2C9.97380152%20C35.5105311%2C10.3922106%2035.8496977%2C10.7313773%2036.2681068%2C10.7313773%20L42.1929553%2C10.7313773%20C42.7303795%2C10.7313773%2043.0928038%2C10.1896348%2042.872728%2C9.69933182%20C42.2662129%2C8.34789242%2041.1663644%2C6.10380152%2040.3918947%2C5.71253636%20C40.1343947%2C5.58245303%2037.549925%2C5.60806667%2036.249622%2C5.62956667%20Z%22%20opacity%3D%22.5%22/%3E%3C/svg%3E');
}

.salescenter-delivery-car-item--selected .salescenter-delivery-car-image--truck {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2246%22%20height%3D%2225%22%20viewBox%3D%220%200%2046%2025%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M-3.55271368e-15%2C0.98484697%20C-3.55271368e-15%2C0.440932576%200.440931818%2C-1.24344979e-14%200.984849242%2C-1.24344979e-14%20L30.3093189%2C-1.24344979e-14%20C30.8532583%2C-1.24344979e-14%2031.2941674%2C0.440931818%2031.2941674%2C0.98484697%20L31.2941674%2C14.2875894%20L-3.55271368e-15%2C14.2875894%20L-3.55271368e-15%2C0.98484697%20Z%20M32.1755311%2C4.63504394%20C32.1755311%2C4.22221818%2032.5043189%2C3.88553636%2032.917122%2C3.87873333%20C34.8525765%2C3.84684697%2039.9412886%2C3.77498333%2040.4353038%2C3.89162727%20C42.1672735%2C4.30051364%2044.4759856%2C9.48137727%2045.2362886%2C11.2956197%20C45.4084098%2C11.7063773%2045.4756826%2C12.1484985%2045.4465917%2C12.5928924%20L45.1743189%2C16.7498621%20L40.6805311%2C16.7498621%20C40.0303795%2C16.4142561%2039.2926523%2C16.2247864%2038.5105311%2C16.2247864%20C35.9495462%2C16.2247864%2033.8631826%2C18.2570591%2033.7761371%2C20.7968318%20L33.6906826%2C20.7968318%20C32.8538644%2C20.7968318%2032.1755311%2C20.1184985%2032.1755311%2C19.2816803%20L32.1755311%2C4.63504394%20Z%20M42.2592432%2C18.0652409%20C42.8475765%2C18.8255439%2043.2098492%2C19.7697106%2043.2450008%2C20.7968318%20L43.4900765%2C20.7968318%20C44.2884098%2C20.7968318%2044.9497735%2C20.1773621%2045.0019705%2C19.3807712%20L45.0881068%2C18.0652409%20L42.2592432%2C18.0652409%20Z%20M15.7359856%2C20.9620591%20C15.7359856%2C23.0513773%2014.0422735%2C24.7450894%2011.9530311%2C24.7450894%20C9.86371288%2C24.7450894%208.17000076%2C23.0513773%208.17000076%2C20.9620591%20C8.17000076%2C18.8727409%209.86371288%2C17.1790288%2011.9530311%2C17.1790288%20C14.0422735%2C17.1790288%2015.7359856%2C18.8727409%2015.7359856%2C20.9620591%20Z%20M13.9296977%2C20.9620591%20C13.9296977%2C22.0537258%2013.0446977%2C22.9387258%2011.9530311%2C22.9387258%20C10.8612886%2C22.9387258%209.97628864%2C22.0537258%209.97628864%2C20.9620591%20C9.97628864%2C19.8703167%2010.8612886%2C18.9853167%2011.9530311%2C18.9853167%20C13.0446977%2C18.9853167%2013.9296977%2C19.8703167%2013.9296977%2C20.9620591%20Z%20M42.2935614%2C20.9620591%20C42.2935614%2C23.0513773%2040.5998492%2C24.7450894%2038.5106068%2C24.7450894%20C36.4212886%2C24.7450894%2034.7275765%2C23.0513773%2034.7275765%2C20.9620591%20C34.7275765%2C18.8727409%2036.4212886%2C17.1790288%2038.5106068%2C17.1790288%20C40.5998492%2C17.1790288%2042.2935614%2C18.8727409%2042.2935614%2C20.9620591%20Z%20M40.4872735%2C20.9620591%20C40.4872735%2C22.0537258%2039.6022735%2C22.9387258%2038.5106068%2C22.9387258%20C37.4188644%2C22.9387258%2036.5338644%2C22.0537258%2036.5338644%2C20.9620591%20C36.5338644%2C19.8703167%2037.4188644%2C18.9853167%2038.5106068%2C18.9853167%20C39.6022735%2C18.9853167%2040.4872735%2C19.8703167%2040.4872735%2C20.9620591%20Z%20M-3.55271368e-15%2C15.2844833%20L31.2941674%2C15.2844833%20L31.2941674%2C20.0392561%20C31.2941674%2C20.4576652%2030.9550008%2C20.7968318%2030.5365917%2C20.7968318%20L16.687425%2C20.7968318%20C16.6003795%2C18.2570591%2014.5140159%2C16.2247864%2011.9530311%2C16.2247864%20C9.39197045%2C16.2247864%207.30560682%2C18.2570591%207.21854621%2C20.7968318%20L0.757576515%2C20.7968318%20C0.339178788%2C20.7968318%20-3.55271368e-15%2C20.4576652%20-3.55271368e-15%2C20.0392561%20L-3.55271368e-15%2C15.2844833%20Z%20M36.249622%2C5.62956667%20C35.8381826%2C5.6363697%2035.5105311%2C5.97238485%2035.5105311%2C6.3839%20L35.5105311%2C9.97380152%20C35.5105311%2C10.3922106%2035.8496977%2C10.7313773%2036.2681068%2C10.7313773%20L42.1929553%2C10.7313773%20C42.7303795%2C10.7313773%2043.0928038%2C10.1896348%2042.872728%2C9.69933182%20C42.2662129%2C8.34789242%2041.1663644%2C6.10380152%2040.3918947%2C5.71253636%20C40.1343947%2C5.58245303%2037.549925%2C5.60806667%2036.249622%2C5.62956667%20Z%22/%3E%3C/svg%3E');
}

.salescenter-delivery-car-item--selected .salescenter-delivery-car-image {
	background-color: rgba(47,198,246,.15);
}

.salescenter-delivery-car-param {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.salescenter-delivery-car-param table {
	border-collapse: collapse;
	font-size: 13px;
	line-height: 21px;
}

.salescenter-delivery-car-param table td:first-child {
	padding-left: 0;
	color: #9ba1aa;
}

.salescenter-delivery-car-param table td {
	padding-left: 9px;
	color: #525c69;
}

.salescenter-delivery-additionally {
	margin-bottom: 20px;
}

.salescenter-delivery-additionally-options {
	letter-spacing: 5px;
	padding: 10px 0 0 0;
}

.salescenter-delivery-additionally-options .salescenter-delivery-selector {
	margin-bottom: 10px;
}

.salescenter-delivery-path {
	display: block;
	position: relative;
	padding-top: 20px;
	border-top: 1px solid rgba(82,92,105,.1);
}

.salescenter-delivery-path:before {
	content: '';
	position: absolute;
	top: 54px;
	bottom: 20px;
	left: 12px;
	width: 2px;
	opacity: .37;
	background: #2fc6f6;
}

.salescenter-delivery-path-item {
	display: block;
	position: relative;
	overflow: hidden;
}

.salescenter-delivery-path-item:last-child .salescenter-delivery-path-control {
	position: relative;
}

.salescenter-delivery-path-item:last-child .salescenter-delivery-path-control:before {
	content: '';
	position: absolute;
	left: 0;
	top: 35px;
	width: 30px;
	bottom: 0;
	background: #fff;
}

.salescenter-delivery-path-item:last-child {
	margin-bottom: 30px;
}

.salescenter-delivery-path-item + .salescenter-delivery-path-item {
	margin-top: 30px;
}

.salescenter-delivery-path-title {
	display: block;
	overflow: hidden;
	margin: 0 0 -5px 27px;
	opacity: .9;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 22px;
	transition: .1s;
}

.salescenter-delivery-path-item--editable .salescenter-delivery-path-title {
	margin-bottom: 5px;
}

.salescenter-delivery-path-title-ordinary {
	display: block;
	overflow: hidden;
	margin: 0;
	opacity: .9;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 22px;
	transition: .1s;
}

.salescenter-delivery-path-control {
	display: flex;
}

.salescenter-delivery-path-control .ui-ctl {
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.sale-address-control-top-margin-width-820 {
	max-width: 820px;
}

.salescenter-delivery-path-icon {
	flex: 1;
	min-width: 26px;
	max-height: 39px;
	min-height: 39px;
	margin-bottom: 0;
	margin-top: 3px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2223%22%20height%3D%2230%22%20viewBox%3D%220%200%2023%2030%22%3E%3Cpath%20fill%3D%22%2338B1FF%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%223%22%20d%3D%22M8.25031499%2C-1.5%20C10.9535749%2C-1.5%2013.390376%2C-0.412620715%2015.1518952%2C1.34889851%20C16.9131449%2C3.11014815%2018.00063%2C5.54661309%2018.00063%2C8.25031499%20C18.00063%2C12.3387234%2015.4823354%2C17.6254607%2010.1695245%2C24.0476173%20C9.41775784%2C24.7342631%208.77959484%2C24.9321778%208.20557085%2C24.9346596%20C7.47672382%2C24.9378109%206.80791491%2C24.630851%206.32717062%2C24.0598336%20L6.32717062%2C24.0598336%20L5.97953039%2C23.6436987%20C0.907859656%2C17.5235307%20-1.5%2C12.3721575%20-1.5%2C8.25031499%20C-1.5%2C5.54661309%20-0.412514891%2C3.11014815%201.34873474%2C1.34889851%20C3.11025397%2C-0.412620715%205.54705504%2C-1.5%208.25031499%2C-1.5%20Z%20M8.25031499%2C5.99847003%20C7.62011955%2C5.99847003%207.05437236%2C6.24058446%206.64827555%2C6.64668128%20C6.2420239%2C7.05293292%205.99991%2C7.61886103%205.99991%2C8.24887502%20C5.99991%2C8.87907047%206.24202443%2C9.44481765%206.64812125%2C9.85091447%20C7.05437289%2C10.2571661%207.620301%2C10.49928%208.25031499%2C10.49928%20C8.88033352%2C10.49928%209.44625711%2C10.2571661%209.85250488%2C9.85091833%20C10.2586056%2C9.44481764%2010.50072%2C8.87906593%2010.50072%2C8.24887502%20C10.50072%2C7.61867958%2010.2586056%2C7.05293239%209.85250874%2C6.64683557%20C9.44625709%2C6.24058393%208.88032898%2C5.99847003%208.25031499%2C5.99847003%20Z%22%20transform%3D%22translate%283%203%29%22/%3E%3C/svg%3E') center no-repeat
}

.salescenter-delivery-path-icon--green {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2223%22%20height%3D%2230%22%20viewBox%3D%220%200%2023%2030%22%3E%3Cpath%20fill%3D%22%239dcf00%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%223%22%20d%3D%22M8.25031499%2C-1.5%20C10.9535749%2C-1.5%2013.390376%2C-0.412620715%2015.1518952%2C1.34889851%20C16.9131449%2C3.11014815%2018.00063%2C5.54661309%2018.00063%2C8.25031499%20C18.00063%2C12.3387234%2015.4823354%2C17.6254607%2010.1695245%2C24.0476173%20C9.41775784%2C24.7342631%208.77959484%2C24.9321778%208.20557085%2C24.9346596%20C7.47672382%2C24.9378109%206.80791491%2C24.630851%206.32717062%2C24.0598336%20L6.32717062%2C24.0598336%20L5.97953039%2C23.6436987%20C0.907859656%2C17.5235307%20-1.5%2C12.3721575%20-1.5%2C8.25031499%20C-1.5%2C5.54661309%20-0.412514891%2C3.11014815%201.34873474%2C1.34889851%20C3.11025397%2C-0.412620715%205.54705504%2C-1.5%208.25031499%2C-1.5%20Z%20M8.25031499%2C5.99847003%20C7.62011955%2C5.99847003%207.05437236%2C6.24058446%206.64827555%2C6.64668128%20C6.2420239%2C7.05293292%205.99991%2C7.61886103%205.99991%2C8.24887502%20C5.99991%2C8.87907047%206.24202443%2C9.44481765%206.64812125%2C9.85091447%20C7.05437289%2C10.2571661%207.620301%2C10.49928%208.25031499%2C10.49928%20C8.88033352%2C10.49928%209.44625711%2C10.2571661%209.85250488%2C9.85091833%20C10.2586056%2C9.44481764%2010.50072%2C8.87906593%2010.50072%2C8.24887502%20C10.50072%2C7.61867958%2010.2586056%2C7.05293239%209.85250874%2C6.64683557%20C9.44625709%2C6.24058393%208.88032898%2C5.99847003%208.25031499%2C5.99847003%20Z%22%20transform%3D%22translate%283%203%29%22/%3E%3C/svg%3E');
}

.salescenter-delivery-path-input {
	display: inline-flex;
	align-items: center;
}

.salescenter-delivery-path-input[contenteditable="false"] {
	flex: none;
	display: block;
	overflow: hidden;
	max-width: calc(100% - 30px);
	position: relative;
	width: auto;
	margin-left: 1px;
	padding: 0 !important;
	max-height: 20px;
	border: 1px solid transparent !important;
	border-bottom: 1px dashed rgba(32, 102, 176, .4) !important;
	color: #2066b0;
	cursor: pointer;
	transition: .1s;
}

.salescenter-delivery-path-control:hover .salescenter-delivery-path-input[contenteditable="false"] {
	max-width: calc(100% - 56px);
}

.salescenter-delivery-path-input[contenteditable="false"] + .ui-ctl-icon-search {
	display: none;
}

.salescenter-delivery-path-edit {
	display: none;
	vertical-align: middle;
	width: 30px;
	height: 39px;
	opacity: 0;
	cursor: pointer;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M16.4358633%2C5.03481936%20L18.9864331%2C7.61224176%20L9.00876666%2C17.563056%20L6.45819647%2C14.9856339%20L16.4358633%2C5.03481936%20Z%20M5.02558382%2C18.6726366%20C5.00146497%2C18.7639157%205.0273066%2C18.8603615%205.09277206%2C18.9275292%20C5.1599603%2C18.9946969%205.25643572%2C19.0205306%205.34774281%2C18.9946969%20L8.19893597%2C18.2265744%20L5.79394162%2C15.8223165%20L5.02558382%2C18.6726366%20Z%22%20transform%3D%22translate%28-5%20-5%29%22/%3E%3C/svg%3E') center 12px no-repeat;
	background-size: 12px;
}

.salescenter-delivery-path-input[contenteditable="false"] +
.ui-ctl-icon-search +
.salescenter-delivery-path-edit {
	display: inline-block;
}

.salescenter-delivery-path-control:hover
.salescenter-delivery-path-input[contenteditable="false"] +
.ui-ctl-icon-search +
.salescenter-delivery-path-edit {
	opacity: .4;
}

.salescenter-delivery-path-control:hover
.salescenter-delivery-path-input[contenteditable="false"] +
.ui-ctl-icon-search +
.salescenter-delivery-path-edit:hover {
	opacity: .7;
}

.salescenter-delivery-bottom {
	display: block;
	overflow: hidden;
	padding: 10px 0 0 0;
}

.salescenter-delivery-bottom-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.salescenter-delivery-bottom-col {
	display: flex;
	min-height: 39px;
	align-items: center;
	font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #525c69;
}

.salescenter-delivery-bottom-col--light {
	color: #828b95;
}

.salescenter-delivery-icon-config {
	display: inline-block;
	width: 22px;
	height: 22px;
	opacity: .4;
	cursor: pointer;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M15.077904%2C12.6913799%20C14.8239394%2C13.8852057%2013.8850923%2C14.824047%2012.691272%2C15.0779291%20C10.4151847%2C15.561991%208.43795534%2C13.5841867%208.92211446%2C11.308592%20C9.15107628%2C10.2325476%2010.2323767%2C9.15117084%2011.3084244%2C8.92216475%20C13.5840774%2C8.43781009%2015.5620771%2C10.4151746%2015.077904%2C12.6913799%20M19.4145333%2C10.8349653%20L17.8296133%2C10.57054%20L17.8296133%2C10.57054%20C17.7170133%2C10.1101933%2017.554%2C9.66968667%2017.3424133%2C9.25791333%20C17.33352%2C9.24058933%2017.3355867%2C9.219748%2017.3478133%2C9.20459067%20L18.3423333%2C7.97143467%20C18.5581333%2C7.70554267%2018.5483333%2C7.322992%2018.3208267%2C7.06639067%20L17.6904667%2C6.35694%20C17.4619733%2C6.10059467%2017.0830667%2C6.04638667%2016.79404%2C6.228988%20L15.4386133%2C7.08106%20L15.4386133%2C7.08106%20C14.8510133%2C6.67052%2014.18652%2C6.365788%2013.4700133%2C6.18623733%20C13.4510133%2C6.181464%2013.4366%2C6.165956%2013.43336%2C6.14660533%20L13.1735067%2C4.584968%20C13.1178533%2C4.24756667%2012.82588%2C4%2012.4831467%2C4%20L11.5332133%2C4%20C11.1911733%2C4%2010.8982%2C4.24756667%2010.8437867%2C4.584968%20L10.5824933%2C6.147188%20C10.5792533%2C6.16649067%2010.5648667%2C6.181952%2010.5458933%2C6.18670267%20C9.96604%2C6.33202533%209.4214%2C6.56138267%208.92248%2C6.861248%20C8.90566667%2C6.87135467%208.88454667%2C6.87060933%208.86857333%2C6.8592%20L7.60581333%2C5.957996%20C7.32801333%2C5.75951467%206.94642667%2C5.79055333%206.70398667%2C6.03248533%20L6.03289333%2C6.70407467%20C5.79096%2C6.94651867%205.75992%2C7.32811467%205.95893333%2C7.60592933%20L6.86225333%2C8.87121733%20C6.87364%2C8.887168%206.87442667%2C8.90828667%206.86434667%2C8.92509867%20C6.5674%2C9.420164%206.34042667%2C9.96156533%206.19525333%2C10.536148%20C6.19045333%2C10.5551253%206.175%2C10.5694693%206.15572%2C10.5726827%20L4.58493333%2C10.8349893%20C4.24805333%2C10.8906173%204%2C11.1826347%204%2C11.525392%20L4%2C12.474608%20C4%2C12.8173413%204.24805333%2C13.1093827%204.58493333%2C13.1650107%20L6.15566667%2C13.4272947%20C6.17497333%2C13.4305307%206.19045333%2C13.4448987%206.19522667%2C13.4638987%20C6.31332%2C13.933%206.48153333%2C14.3817267%206.70266667%2C14.7994387%20C6.71188%2C14.816856%206.70993333%2C14.8380213%206.69754667%2C14.8533667%20L5.70793333%2C16.0790467%20C5.49288%2C16.344684%205.50190667%2C16.7274907%205.72942667%2C16.9838587%20L6.35929333%2C17.693332%20C6.5878%2C17.950144%206.96692%2C18.0033733%207.25597333%2C17.8212373%20L8.60374667%2C16.974568%20C8.62026667%2C16.9641827%208.64132%2C16.9646027%208.65748%2C16.9755467%20C9.23272%2C17.3642907%209.88164%2C17.6505573%2010.5771867%2C17.8212373%20L10.5771867%2C17.8212373%20L10.8438133%2C19.4149853%20C10.8982267%2C19.7524093%2011.1911733%2C20%2011.5332133%2C20%20L12.4831467%2C20%20C12.8258933%2C20%2013.1178533%2C19.7524333%2013.1735067%2C19.4150093%20L13.4338%2C17.853068%20C13.43704%2C17.8337413%2013.4514533%2C17.8182573%2013.4704533%2C17.8135067%20C14.0428133%2C17.6701867%2014.5803733%2C17.44488%2015.0745867%2C17.1503013%20C15.0914%2C17.140288%2015.11244%2C17.14108%2015.1283467%2C17.1524427%20L16.44492%2C18.0927653%20C16.72224%2C18.2919693%2017.1040933%2C18.26072%2017.34628%2C18.01802%20L18.0176667%2C17.3466413%20C18.2593067%2C17.1049413%2018.2920267%2C16.7235547%2018.09136%2C16.445228%20L17.15412%2C15.1311347%20C17.1427333%2C15.115184%2017.14196%2C15.094088%2017.15204%2C15.0772987%20C17.4498667%2C14.5805587%2017.6780533%2C14.0381093%2017.8224267%2C13.4609413%20C17.8271733%2C13.4419413%2017.8426533%2C13.427528%2017.86196%2C13.4242907%20L19.4150667%2C13.1649653%20C19.7529467%2C13.1093133%2020%2C12.8172947%2020%2C12.4745613%20L20%2C11.5253453%20C19.9994933%2C11.1826347%2019.75244%2C10.8906173%2019.4145333%2C10.8349653%22%20transform%3D%22translate%28-4%20-4%29%22/%3E%3C/svg%3E') center no-repeat;
	background-size: 10px;
}

.salescenter-delivery-icon-config:hover {
	opacity: .6;
}

.salescenter-delivery-status {
	display: inline-block;
	padding: 0 9px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #525c69;
	text-align: center;
	background: #f1f1f1;
	border-radius: 13.5px;
}

.salescenter-delivery-status--success {
	background: rgba(232,238,175,.8);
	color: #668d13;
}

span + .salescenter-delivery-status {
	margin-left: 5px;
}

.salescenter-delivery-table-total {
	border-collapse: collapse;
	text-align: right;
	margin-bottom: -15px;
}

.salescenter-delivery-table-total td {
	white-space: nowrap;
}

.salescenter-delivery-table-total tr:first-child td {
	padding-bottom: 5px;
}

.salescenter-delivery-table-total td:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 39px;
}

.salescenter-delivery-table-total td:first-child {
	padding-right: 5px;
}

.salescenter-delivery-table-total td:last-child {
	min-width: 130px;
	padding-right: 5px;
}

.salescenter-delivery-table-total-result {
	font-family: "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
	font-size: 21px;
	color: #525c69;
	text-align: right;
}

.salescenter-delivery-table-total-result td {
	border-top: 1px solid rgba(82,92,105,.1);
}

.salescenter-delivery-table-total-result td:before {
	height: 54px;
}

.salescenter-delivery-table-total-symbol {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 5px;
	color: rgba(82,92,105,.5);
}

.salescenter-delivery-table-total-result .salescenter-delivery-table-total-symbol {
	font-family: "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
	font-size: 21px;
}

.ui-ctl.salescenter-delivery-bottom-input-symbol,
.salescenter-delivery-bottom-input-symbol {
	display: inline-flex;
	position: relative;
	flex-direction: row;
	align-items: initial;
	max-width: 116px;
}

.salescenter-delivery-bottom-input-symbol .ui-ctl-element {
	text-align: right;
	border-right: none;
	border-radius: 2px 0 0 2px;
	padding-right: 0 !important;
}

.salescenter-delivery-bottom-input-symbol span {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	max-width: 25px;
	min-width: 18px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 5px 0 3px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: rgba(82,92,105,.5);
	border: 1px solid #c6cdd3;
	border-left: none;
	border-radius: 0 2px 2px 0;
	background-color: #fff;
	transition: border .3s ease, background-color .3s ease, color .3s ease, padding .3s ease;
}

.salescenter-delivery-bottom-input-symbol .ui-ctl-element:focus + span,
.salescenter-delivery-bottom-input-symbol .ui-ctl-element:hover + span {
	border-color: #66afe9;
}

.salescenter-delivery-bottom-update-icon {
	padding-left: 39px !important;
}

.salescenter-delivery-bottom-update-icon:after {
	position: absolute;
	top: 50%;
	left: 9px;
	transform: none;
	display: block;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2C11.9567221%20L20%2C6.08704953%20L18.3131479%2C7.77439526%20C16.9397729%2C6.08359388%2014.8491032%2C5%2012.5002468%2C5%20C8.35790686%2C5%205%2C8.35790686%205%2C12.5002468%20C5%2C16.6425868%208.35790686%2C20%2012.5002468%2C20%20C14.2670726%2C20%2015.8877736%2C19.3848939%2017.1698206%2C18.3630081%20L15.2692118%2C16.0309363%20C14.5060063%2C16.6302452%2013.5458285%2C16.991114%2012.5002468%2C16.991114%20C10.0200757%2C16.991114%208.00937963%2C14.980418%208.00937963%2C12.5002468%20C8.00937963%2C10.0200757%2010.0200757%2C8.00888596%2012.5002468%2C8.00888596%20C14.0177719%2C8.00888596%2015.3585651%2C8.76320553%2016.1711371%2C9.91591246%20L14.1303275%2C11.9567221%20L20%2C11.9567221%20Z%22%20transform%3D%22translate%28-5%20-5%29%22/%3E%3C/svg%3E%0A') no-repeat center 4px;
	content: '';
	transition: 160ms color linear, 160ms opacity linear, 160ms background-color linear;
}

.salescenter-delivery-waiter {
	display: inline-block;
}

.salescenter-delivery-waiter-alert {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	height: 31px;
	padding: 0 16px 0 32px;
	background: rgba(157,207,0,.2);
	border-radius: 16px;
	font-size: 14px;
	line-height: 31px;
	color: #0c0c0c;
}

.salescenter-delivery-waiter-alert:before {
	  content: '';
	  position: absolute;
	  left: 10px;
	  top: 7px;
	  width: 16px;
	  height: 16px;
	  opacity: 0.37;
	  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%234B6200%22%20fill-rule%3D%22evenodd%22%20d%3D%22M10.5214929%2C3.00000102%20L10.5217072%2C5.25663479%20C7.56936121%2C5.49992413%205.24911709%2C7.97524107%205.24911709%2C10.9929571%20C5.24911709%2C14.1718782%207.82387507%2C16.7489029%2011%2C16.7489029%20C14.1761249%2C16.7489029%2016.7508829%2C14.1718782%2016.7508829%2C10.9929571%20C16.7508829%2C10.834148%2016.7444571%2C10.676841%2016.7318515%2C10.5212824%20L18.9863347%2C10.5210199%20C18.9954028%2C10.6771734%2019%2C10.8345279%2019%2C10.9929571%20C19%2C15.4151248%2015.418278%2C19%2011%2C19%20C6.581722%2C19%203%2C15.4151248%203%2C10.9929571%20C3%2C6.7315833%206.32598846%2C3.24771956%2010.5214929%2C3.00000102%20Z%22%20transform%3D%22translate%28-3%20-3%29%22/%3E%3C/svg%3E') center no-repeat;
	  animation: .85s salescenter-delivery-waiter-alert linear infinite;
}

@keyframes salescenter-delivery-waiter-alert {
	from {
		transform: rotate(0)
	}
	to {
		transform: rotate(360deg)
	}
}

.salescenter-delivery-waiter-text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 9px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 12px;
	color: #828b95;
}

.salescenter-delivery-comment {
	padding: 20px 0;
	border-bottom: 1px solid rgba(82,92,105,.1)
}

.salescenter-delivery-comment-title--open,
.salescenter-delivery-comment-title--hide {
	cursor: pointer;
}

.salescenter-delivery-comment-title--open:before,
.salescenter-delivery-comment-title--hide:before {
	display: inline-block;
	vertical-align: text-bottom;
	width: 9px;
	margin-right: 3px;
}

.salescenter-delivery-comment-title--open:before {
	content: '+';
}

.salescenter-delivery-comment-title--hide:before {
	content: '-';
}

.salescenter-delivery-comment-textarea-wrapper {
	height: auto;
	min-height: 39px;
}

textarea.ui-ctl-element.salescenter-delivery-comment-textarea {
	height: auto;
	min-height: auto;
	padding: 10.5px 11px;
	max-width: 846px;
	box-sizing: border-box;
}

.salescenter-delivery-manager-wrapper {
	padding: 20px 0;
}

.salescenter-delivery-manager {
	display: flex;
	max-width: 450px;
	position: relative;
	padding: 13px 10px;
	border: 1px solid #edeef0;
	border-radius: 1px;
	background-color: #fdfdfd;
}

.salescenter-delivery-manager-avatar {
	display: block;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	background: #7b8691 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M72.7856666%2C62.2540935%20C72.7856666%2C59.9430795%2069.7566666%2C57.3030635%2063.7856666%2C55.7650542%20C61.7635193%2C55.2035354%2059.8406739%2C54.3318402%2058.0856666%2C53.1810386%20C57.7026666%2C52.9630373%2057.7606666%2C50.945025%2057.7606666%2C50.945025%20L55.8386666%2C50.6530233%20C55.8386666%2C50.4890223%2055.6746666%2C48.0690076%2055.6746666%2C48.0690076%20C57.9746666%2C47.299003%2057.7376666%2C42.7549755%2057.7376666%2C42.7549755%20C59.1976666%2C43.5619804%2060.1486666%2C39.9709586%2060.1486666%2C39.9709586%20C61.8766666%2C34.9769284%2059.2886666%2C35.2779302%2059.2886666%2C35.2779302%20C60.1106666%2C31.5399076%2059.2886666%2C26.0778745%2059.2886666%2C26.0778745%20C58.1386666%2C15.9618133%2040.8186666%2C18.7078299%2042.8716666%2C22.0128499%20C37.8096666%2C21.0788443%2038.9646666%2C32.5639138%2038.9646666%2C32.5639138%20L40.0646666%2C35.5329318%20C37.9086666%2C36.9249402%2039.4066666%2C38.6119504%2039.4796666%2C40.5529621%20C39.5856666%2C43.4179795%2041.3406666%2C42.8249759%2041.3406666%2C42.8249759%20C41.4496666%2C47.5530045%2043.7866666%2C48.1750083%2043.7866666%2C48.1750083%20C44.2266666%2C51.1440262%2043.9526666%2C50.6390232%2043.9526666%2C50.6390232%20L41.8706666%2C50.8890247%20C41.8989236%2C51.5642186%2041.8438415%2C52.240321%2041.7066666%2C52.9020369%20C39.2576666%2C53.9950435%2038.7356666%2C54.6290473%2036.3006666%2C55.6950538%20C31.6006666%2C57.7480662%2026.4926666%2C60.4180824%2025.5856666%2C64.0121041%20C24.6786666%2C67.6061259%2023.0006666%2C75.9951766%2023.0006666%2C75.9951766%20L76.0006666%2C75.9951766%20L72.7856666%2C62.2540935%20Z%22/%3E%3C/svg%3E%0A') center no-repeat;
	background-size: cover;
	border-radius: 100%;
}

.salescenter-delivery-manager-content {
	display: inline-flex;
	flex-direction: column;
	align-self: center;
}

.salescenter-delivery-manager-name {
	color: #2067b0;
	cursor: pointer;
}

.salescenter-delivery-manager-phone {
	color: #80868e;
}

.salescenter-delivery-manager-edit {
	position: absolute;
	top: -7px;
	right: 6px;
	z-index: 11;
	background-color: #fdfdfd;
	border-radius: 7px;
	padding: 0 5px;
	color: #767b81;
	font: 8px/14px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
	opacity: 0;
	cursor: pointer;
	transition: .2s;
}

.salescenter-delivery-manager:hover .salescenter-delivery-manager-edit {
	opacity: 1;
}

.salescenter-delivery-method {
	display: block;
	margin: 0 -7px;
}

.salescenter-delivery-method.ui-ear-container {
	padding: 7px 0 4px 0;
}

.salescenter-delivery-header .ui-ear {
	background-size: contain;
}

.salescenter-delivery-header .ui-ear-left {
	background-position: left center;
}

.salescenter-delivery-header .ui-ear-right {

}

.salescenter-delivery-method-item {
	display: inline-flex;
	position: relative;
	width: 194px;
	margin: 0 7px;
	box-sizing: border-box;
	padding: 6px 7px;
	border: 1px solid rgba(168,173,180,.58);
	border-radius: 3px;
	cursor: pointer;
}

.salescenter-delivery-method-item--selected {
	border-color: #2fc6f6;
}

.salescenter-delivery-method-item--selected:before {
	content: '';
	position: absolute;
	top: -7px;
	right: -7px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #2fc6f6 url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.627%205.81L10.402%200%2012%201.607%204.652%209l-.025-.025L4.602%209%200%204.373l1.598-1.607z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E)
	no-repeat center;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.11);
	z-index: 9;
}

.salescenter-delivery-method-item--selected:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #2fc6f6;
	border-radius: 2px;
	pointer-events: none;
}

.salescenter-delivery-method-item--add {
	border: 1px dashed rgba(168,173,180,.58) !important;
}

.salescenter-delivery-method-item--add:hover {
	border: 1px dashed rgba(168,173,180,.8) !important;
}

.salescenter-delivery-method-item--add:before {
	content: none !important;
	box-shadow: none !important;
}

.salescenter-delivery-method-item--add .salescenter-delivery-method-name {
	opacity: .5;
	font-family: "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #525c69;
	line-height: 23px;
}

.salescenter-delivery-method-image {
	display: block;
	position: relative;
	width: 34px;
	height: 34px;
	min-width: 34px;
	margin-right: 9px;
}

.salescenter-delivery-method-image:empty:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(82,92,105,.1) url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2222%22%20height%3D%2212%22%20viewBox%3D%220%200%2022%2012%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M23.3620671%2C11.5681391%20C24.2594497%2C11.5681391%2025.0469739%2C12.1658607%2025.2883561%2C13.0301697%20L27.5596388%2C21.1628763%20C27.7081949%2C21.6948063%2027.397409%2C22.2464493%2026.865479%2C22.3950054%20C26.7779098%2C22.4194615%2026.6874144%2C22.4318609%2026.5964943%2C22.4318609%20L7.40325132%2C22.4318609%20C6.85096657%2C22.4318609%206.40325132%2C21.9841457%206.40325132%2C21.4318609%20C6.40325132%2C21.3417174%206.41543986%2C21.2519878%206.43948569%2C21.1651105%20L8.68983268%2C13.0346382%20C8.92966905%2C12.1681127%209.71826005%2C11.5681391%2010.617364%2C11.5681391%20L23.3620671%2C11.5681391%20Z%20M12.3610423%2C17%20L9.26802257%2C17%20L9.26802257%2C20.0930197%20L12.3610423%2C20.0930197%20L12.3610423%2C17%20Z%20M18.5487304%2C17%20L15.4541424%2C17%20L15.4541424%2C20.0930197%20L18.5487304%2C20.0930197%20L18.5487304%2C17%20Z%20M24.7348905%2C17%20L21.6418708%2C17%20L21.6418708%2C20.0930197%20L24.7348905%2C20.0930197%20L24.7348905%2C17%20Z%20M21.6418708%2C13.9069803%20L18.5488511%2C13.9069803%20L18.5488511%2C17%20L21.6418708%2C17%20L21.6418708%2C13.9069803%20Z%20M15.4541424%2C13.9069803%20L12.3611227%2C13.9069803%20L12.3611227%2C17%20L15.4541424%2C17%20L15.4541424%2C13.9069803%20Z%22%20opacity%3D%22.454%22%20transform%3D%22translate%28-6%20-11%29%22/%3E%3C/svg%3E') center no-repeat;
}

.salescenter-delivery-method-image img {
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.salescenter-delivery-method-image-more {
	display: block;
	position: relative;
	width: 34px;
	height: 34px;
	min-width: 34px;
	margin-right: 9px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34'%3E%3Cg fill='none'%3E%3Cpolygon fill='%23525C69' points='19 17 23 21 21 23 17 19 13 23 11 21 15 17 11 13 13 11 17 15 21 11 23 13' opacity='.7' transform='rotate(45 17 17)'/%3E%3Crect width='34' height='34' fill='%23D8D8D8' opacity='.2'/%3E%3C/g%3E%3C/svg%3E");
}

.salescenter-delivery-method-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.salescenter-delivery-method-title,
.salescenter-delivery-method-name {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.salescenter-delivery-method-title:empty,
.salescenter-delivery-method-name:empty {
	display: none;
}

.salescenter-delivery-method-title {
	opacity: .5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #525c69;
	line-height: 13px;
}

.salescenter-delivery-method-name {
	font-family: "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

.salescenter-delivery-errors-container-alert {
	display: inline-flex;
	width: auto;
	padding: 11px 24px 11px 11px;
}
