.report-configuration-simple-colorpicker-item {
    min-width: unset;
}

.report-configuration-simple-colorpicker-item-hidden {
    display: none;
}

.report-color-picker {
    width: 100%;
}
.report-color-picker-color {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(151, 151, 151, .2);
    background: #fff;
    border-radius: 2px;
}

.report-color-picker-input {
    display: none;
    vertical-align: middle;
    padding: 0 9px;
    max-width: 85px;
    border: none;
    height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.report-color-picker-reset {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 24px;
    opacity: .5;
    position: relative;
    cursor: pointer;
    transition: .2s;
}

.report-color-picker-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 16px;
    height: 30px;
    transition: opacity .3s;
    opacity: .5;
    cursor: pointer;
}

.report-color-picker-wrapper:hover {
    opacity: 1;
}

.report-configuration-color-picker-item {
    width: 16px;
    height: 15px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M8.384%2014.679c-.714-.177-1.272-.611-1.774-1.115-1.574-1.58-3.135-3.16-4.702-4.74-.038-.038-.044-.095-.107-.114-.043.428.132.756.383%201.052.157.182.345.333.483.535.551.812.257%201.253-.37%201.693-.22.158-.47.258-.765.22-.508-.069-.771-.73-.834-1.114-.063-.384-.075-.837-.025-1.057.05-.22.132-.642.17-.964.05-.421.15-.83.15-1.259%200-.346-.113-.673-.132-1.013-.063-.995.332-1.832.884-2.607C2.71%202.85%203.858%201.691%205.293.841%205.801.545%206.623.362%206.798.343c.17-.019.727-.019.922.038a3.36%203.36%200%200%201%201.442.837%20646.118%20646.118%200%200%201%205.072%205.094c.507.522.877%201.158.965%201.882.044.327.038.397.019.516-.019.12-.1.447-.163.668-.251.919-.79%201.668-1.398%202.367-.765.881-1.593%201.693-2.602%202.304-1.818.976-2.527.667-2.67.63zm.47-10.376c-.219.617-.583%201.14-1.003%201.625-.77.875-1.605%201.687-2.677%202.197-.708.333-1.448.541-2.275.548.163.258.4.384.576.566a639.611%20639.611%200%200%200%203.574%203.576c.395.397.827.75%201.392.888.608.145%201.21.1%201.774-.17%201.711-.812%203.003-2.078%203.837-3.784.558-1.133.313-2.185-.54-3.06-1.404-1.454-2.84-2.87-4.269-4.3-.012-.012-.037-.018-.106-.05a5.05%205.05%200%200%201-.283%201.964zM7.068%205.506a.628.628%200%200%200%20.388-.27c.54-.744.922-1.562%201.035-2.469.125-1.083-.364-1.75-1.41-1.775-.621-.02-1.223.226-1.762.547-1.48.882-2.671%202.047-3.411%203.633-.144.309-.094.435.245.523.557.144%201.128.138%201.623.126a14.427%2014.427%200%200%200%203.292-.315z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
}

.report-color-picker-reset:hover {
    opacity: 1;
}

.report-color-picker-reset:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .1s;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M7.787%201L5%203.787%202.213%201%201%202.213%203.787%205%201%207.787%202.213%209%205%206.213%207.787%209%209%207.787%206.213%205%209%202.213%22%20fill%3D%22%23535C69%22%20/%3E%3C/svg%3E') center center no-repeat;
}