.href-action {text-decoration:none;border-bottom:1px dashed #2775C7;}
.href-action:hover {text-decoration:none;border-bottom:1px dashed #CF1C3E;}
.href-action:hover {text-decoration:none;border-bottom:1px dashed #CF1C3E;}
.value-input {width:100%;}

table.status div.sort-up { width: 13px; height: 13px; background:url(images/sort_up.gif) top left; cursor:pointer;outline:none}
table.status div.sort-up:hover { width: 13px; height: 13px; background:url(images/sort_up.gif) bottom left; cursor:pointer;}
table.status div.sort-down { width: 13px; height: 13px; background:url(images/sort_down.gif) top left; cursor:pointer;outline:none}
table.status div.sort-down:hover { width: 13px; height: 13px; background:url(images/sort_down.gif) bottom left; cursor:pointer;}
table.status div.delete-action { width: 13px; height: 13px; background:url(images/delete.gif) top left; cursor:pointer; margin-left: 8px;outline:none}
table.status div.delete-action:hover { width: 13px; height: 13px; background:url(images/delete.gif) bottom left; cursor:pointer; margin-left: 8px;}
table.status div.recovery-action { width: 13px; height: 13px; background:url(images/recovery.gif) top left; cursor:pointer; margin-left: 8px;outline:none}
table.status div.recovery-action:hover { width: 13px; height: 13px; background:url(images/recovery.gif) bottom left; cursor:pointer; margin-left: 8px;}
div.status-field-add  {margin-left: 48px; background:url(images/add_field.gif) no-repeat;padding-left: 20px;}
div.status-field-add a{font-size: 13px; margin-top: 5px; text-decoration: none; border-bottom: 1px dashed #0069c;outline:none}
div.status-field-add a:hover  {text-decoration: none; border-bottom: 1px dashed #E00000}
input#field-DEAL_STAGE-9 { font-style: italic; }
.crm-sale-settings-container table.bx-edit-table td.bx-field-name { width: 35%; }

.space-to-insert
{
	margin-bottom: 5px;
	opacity: 1;
	height: 47px;
	background-color: #e2f5fc;
	border: 2px dashed #a7b0b5;
	border-radius: 2px;
}
.crm-config-status-block-color-picker
{
	float:left;
	width:1px;
	height:1px;
	visibility:hidden;
	position:absolute;
}

/* PopUp style */
.bx-crm-popup-content {
	background: #eef2f4;
	padding: 10px;
	width: 360px;
	margin-left: 6px;
	margin-right: 6px;
}
.bx-crm-popup-paragraph {
	font-size: 15px;
	color: #545c69;
}
.bx-crm-popup-container {
	background: #f8fafb;
}
.bx-crm-popup-title {
	padding: 6px 0 11px 6px;
	font-weight: bold;
	font-size: 14px;
	color: #80868e;
}
.bx-crm-popup-buttons {
	padding: 0;
	margin: 10px 10px 7px 10px;
	text-align: center;
	position: relative;
	zoom: 1;
}
.bx-crm-template-name {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	margin: 15px 0 10px;
	display: block;
	padding: 0 15px 0;
}
/* Alert style */
.bx-crm-alert {
	background-color: #fffcde;
	color: #000;
	font-size: 15px;
	min-height: 45px;
	text-align: center;
	padding: 12px 40px 12px 60px;
	position: relative;
	width: 280px;
}
.bx-crm-aligner {
	display: inline-block;
	height: 45px;
	margin-left: -1px;
	vertical-align: middle;
	width: 1px;
}
.bx-crm-alert-text {
	display: inline-block;
	vertical-align: middle;
}
.bx-crm-alert-footer {
	text-align: center;
}
.bx-crm-alert-popup {
	background-color: #fffcde !important;
	border: 1px solid #f0f0f0 !important;
	border-radius: 3px !important;
	-webkit-box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17) !important;
	box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17) !important;
}

.crm-configs-footer {
	border: 1px solid #e1e2e3;
	border-radius: 3px;
	padding: 15px;
}

.crm-sale-settings-container {
	margin: 20px;
}

.crm-sale-settings-button-container {
	margin: 20px;
}

.crm-sale-settings-hidden-mode {
	display: none;
}

.crm-sale-settings-option-block {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.crm-sale-settings-option-label {
	margin-right: 7px;
}
.crm-sale-settings-option-content {
	width: 40%;
	margin-bottom: 5px;
}