.employee-search-wrap {
	max-width: 550px;
	overflow: hidden;
}

.employee-search-wrap-cancel {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat 0 -280px;
	cursor: pointer;
	height: 19px;
	position: absolute;
	right: 5px;
	top: 6px;
	width: 13px;
}
.employee-search-wrap-cancel:hover {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -17px -280px;
}

.employee-filter {
	display: inline-block;
}
.employee-filter-block {
	background: url("../images/template_sprite.png?10") repeat-x 0 -956px;
	height: 40px;
	padding: 0 10px;
	position: relative;
}
.employee-filter-left {
	background: url("../images/template_sprite.png?10") no-repeat -28px -914px;
	height: 40px;
	left: 0;
	position: absolute;
	top: 0;
	width: 5px;
}
.employee-filter-right {
	background: url("../images/template_sprite.png?10") no-repeat -36px -914px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	width: 5px;
}

.employee-filter-block .filter-but-wrap {
	height: 22px;
	margin: 8px 5px 0 0;
}

.employee-filter-block .pagetitle-but-text {
	font-size: 14px;
	position: relative;
}

.filter-but-more {
	margin: 0 !important;
	position: absolute;
	right: 15px;
	top: 8px;
}

.filter-but-icon {
	background: url("../images/template_sprite.png?10") no-repeat 0 0;
	height: 12px;
	left: 0;
	position: absolute;
}

.filter-but-ABC .filter-but-text-block {
	height: 23px;
	padding-top: 2px !important;
}

.filter-but-ABC .filter-but-icon {
	background-position: -154px -753px;
	top: 5px;
	width: 28px;
}

.filter-but-more .filter-but-icon {
	background-position: -75px -940px;
	top: 8px;
	width: 19px;
}

.filter-but-more .filter-but-text-block {
	padding-left: 19px;
}

.filter-but-Ab {
	display: inline-block;
	font-family: 'Times New Roman';
	font-size: 17px;
	line-height: 18px;
	margin-right: 3px;
	vertical-align: baseline;
}

.filter-but-blue {
	color: #3b7db9;
}

.employee-table-wrap {
	margin: 8px 0 10px;
	overflow: hidden;
}

.employee-table {
	border: medium none;
	margin-top: -1px;
	width: 100%;
}
.employee-table td {
	border-bottom: 1px solid #e3ebed;
	color: #555555;
	font-size: 13px;
	line-height: 17px;
	padding: 24px 0 18px;
	vertical-align: top;
}
.employee-table-info {
	padding-right: 10px !important;
	width: 35%;
}
.employee-table-phone {
	padding-right: 10px !important;
	width: 40%;
}
.employee-table-dept {
	width: 20%;
}
.employee-info-block {
	margin-left: 3px;
	min-height: 60px;
	padding-left: 65px;
	position: relative;
}
.employee-info-block.no-photo {
	padding-left: 15px;
}
.employee-info-block .user-avatar {
	left: 0;
	margin: 0;
	position: absolute;
	top: 3px;
}
.employee-name {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
	overflow: hidden;
	padding-right: 21px;
	position: relative;
	white-space: nowrap;
}
.employee-name-extranet {
	padding-left: 16px;
	position: relative;
}
.employee-name-extranet:before {
	background: url("../images/template_sprite.png?10") no-repeat -35px -1607px;
	content: "";
	height: 13px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 13px;
}
.employee-name-link {
	color: #2067b0 !important;
	vertical-align: middle;
	white-space: normal;
}
.employee-name-extranet .employee-name-link {
	color: #d9930a !important;
}
.employee-user-action {
	background: url("../images/template_sprite.png?10") no-repeat -22px -1001px;
	cursor: pointer;
	display: inline-block;
	height: 15px;
	margin-left: 5px;
	vertical-align: middle;
	width: 15px;
}
.employee-post {
	margin-bottom: 2px;
}

.employee-state {
	padding-left: 17px;
	position: relative;
}

.employee-state:before {
	background-color: #baed21;
	border-radius: 50%;
	content: '';
	height: 9px;
	left: 4px;
	top: 5px;
	position: absolute;
	width: 9px;
}

.employee-state-offline .employee-state:before {
	background-color: #f1361b;
}
.employee-admin {
	display: inline-block;
	margin-top: 8px;
	white-space: nowrap;
}
.employee-admin-left {
	background: url("../images/template_sprite.png?10") no-repeat 0 -998px;
	display: inline-block;
	height: 21px;
	vertical-align: top;
	width: 6px;
}
.employee-admin-text {
	background: url("../images/template_sprite.png?10") repeat-x 0 -1022px;
	color: #ffffff;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	padding: 1px 3px 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	vertical-align: top;
}
.employee-admin-right {
	background: url("../images/template_sprite.png?10") no-repeat -7px -998px;
	display: inline-block;
	height: 21px;
	vertical-align: top;
	width: 6px;
}
.employee-dept-post {
	background-color: #fdce5a;
	border-radius: 2px;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 19px;
	margin-top: 3px;
	min-width: 93px;
	padding: 2px 7px;
	text-align: center;
	height: 20px;
}
.employee-dept-leader {
	background-color: #fdce5a;
	background-image: linear-gradient(to bottom, #fcdd59, #ffc15d);
}
.employee-dept-integrator {
	background-color: #48B2BE;
	color: #ffffff;
	text-shadow: 1px 1px 0 #848e9a;
}
.employee-dept-admin {
	background-color: #47B0DF;
	color: #ffffff;
	text-shadow: 1px 1px 0 #848e9a;
}
.employee-dept-extranet {
	background-color: #9faab8;
	background-image: linear-gradient(to bottom, #abb4c0, #949faf);
	color: #ffffff;
	text-shadow: 1px 1px 0 #848e9a;
}
.employee-info-block .employee-dept-extranet {
	margin-top: 8px;
}
.employee-dept-fired {
	background-color: #d7d7d7;
	background-image: linear-gradient(to bottom, #dfdfdf, #d1d1d1);
	color: #404040;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.employee-info-block .employee-dept-fired {
	margin-top: 8px;
}
.employee-dept-inactive, .employee-dept-invited {
	background-color: #bdd36b;
	background-image: linear-gradient(to bottom, #c9db86, #b0cb4f);
	color: #373e1d;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}
.employee-info-block .employee-dept-inactive, .employee-info-block .employee-dept-invited {
	margin-top: 8px;
}
.employee-ABC-popup {
	padding: 1px 8px;
	width: 255px;
}
.employee-ABC-letter {
	border-bottom: 1px solid #555555;
	color: #555555 !important;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 3px 2px;
	padding-bottom: 1px;
	vertical-align: top;
}
.employee-ABC-letter:hover {
	text-decoration: none;
}
.employee-ABC-vowels {
	color: #2067b0 !important;
}