table.crmRoleTable tr:first-child th {
    background-color: #f4f0d2;
    border: 1px solid #ece8cb;
    padding: 0.7em 1em;
    color: #8a8877;
    text-align: left;
}

table.crmRoleTable tr td {
    text-align: left;
    padding: 10px;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

table.crmRoleTable tr td b {
    padding-right: 5px;
}

A.crmPermA {
    display: inline-block;
    float: right;
    width: 13px;
    height: 13px;
    cursor: pointer;
    margin-left: 3px;
    margin-top: 3px;
}

A.crmPermADelete {
    background: url(images/delete.gif) top left;
}

A.crmPermADelete:hover {
    background: url(images/delete.gif) bottom left;
}

.hidden {
    display: none;
}

.task-options-inp-container {
    position: relative;
    width: 51px;
    height: 36px;
    line-height: 36px;
    background: #fff;
    border: 1px solid #c6cdd3;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
}

.task-options-inp {
    line-height: 36px;
    font-size: 15px;
    border: none;
    padding: 0 8px;
    background: transparent;
    z-index: 2;
    outline: none;
    color: #535c69;
    height: 36px;
}

#addNewCourseSprint div {
    padding: 20px 10px;
}

#error-block {
    color: red;
}

#statistics-container div {
    padding: 20px 10px;
}

.testing-results th {
    text-align: center !important;
}

.testing-results td:last-child {
    text-align: center !important;
}

.webform-small-button-blue.wait {
    background: #13b1e3 url(images/ld_blue.gif) center no-repeat;
    background-size: auto 70% !important;
    color: rgba(0, 0, 0, 0);
}