span.divPermsBoxText
{
    border-bottom: 1px dashed #999999;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    padding: 0 1px;
}
span.divPermsBoxTextGray,
table.crmPermRoleTable option.divPermsBoxOptionGray
{
	color: #838383;
}
span.divPermsBoxText:hover
{
    border-bottom: 1px dashed #FF0000;
    color: #FF0000;
}
span.divPermsBoxTextDisabled {
	color: #838383;
	border-bottom: none;
}
span.divPermsBoxTextDisabled:hover {
	color: #838383;
	border-bottom: none;
	cursor: default;
}
A.crmPermRoleTreePlus,
A.crmPermRoleTreeMinus
{
	padding-right: 18px;
}
A.crmPermRoleTreePlus { background:url(images/plus.gif) no-repeat center left; }
A.crmPermRoleTreeMinus { background:url(images/minus.gif) no-repeat center left; }
table.crmPermRoleTable
{
	width: 100%; 
	padding: 0;
	margin: 0;
}
table.crmPermRoleTable tr:first-child th:first-child
{
	width: 139px;	
	border: 1px solid #ece8cb;	
	border-right: 0;
	text-align: left;
}
table.crmPermRoleTable tr:first-child th.last-child {	 border-right: 1px solid #ece8cb; }
table.crmPermRoleTable tr:first-child th
{
	padding: 2px 10px; 	
	text-align: center;	
	border-left: 0;
	background-color: #f4f0d2;	
	border-bottom: 1px solid #ece8cb;		
	height: 30px;	
	line-height: 30px;
	text-align: center;
}
table.crmPermRoleTable tr td:first-child
{
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	padding-left: 10px;
	text-align: left;
}
table.crmPermRoleTable tr td
{
	padding: 2px 10px;
	text-align: center;
	border-bottom: 0;
	border-right: 1px solid #e3e3e3;	
	border-left: 0;
	border-top: 0;
	height: 35px;
	vertical-align: middle;
	text-align: center;
	width: 100px;
}
table.crmPermRoleTable tr.crmPermRoleFields td:first-child { padding-left: 30px; }
table.crmPermRoleTable tr.ConfigEdit td
{
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;	
}
table.crmPermRoleTable tr:last-child td
{
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}
table.crmPermRoleTable tr td select
{
	width: 90px;
	border: 1px solid #e3e3e3;
	margin-right: 10px;
}
input.crmPermRoleName
{
	border: 1px solid #e3e3e3;
	padding-left: 5px;
	width:275px;
}