.header-search-logo {
	float: left;
}

.header-search {
	position: relative;
	height: 34px;
	top: 15px;
	overflow: hidden;
}

.header-search-inner {
	height: 34px;
	max-width: 650px;
	border-radius: 17px;
	margin: 0 25px 0 0;
	padding: 0 14px;
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.header-search-form {
	height: 36px;
	position: relative;
}

.header-search-input {
	background: none ;
	border: medium none;
	box-shadow: none;
	box-sizing: border-box;
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	height: 34px;
	outline: medium none;
	margin: 0 35px 0 5px;
	padding: 0 35px 0 0;
	text-indent: 0;
	width: 100%;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.bx-ie8 .header-search-input {
	background: none repeat 0 0 #414a5a;
	line-height: 32px;
}

.header-search-active .header-search-input {
	color: #535c69;
}

.header-search-icon {
	cursor: pointer;
	display: block;
	height: 32px;
	position: absolute;
	right: 0;
	top: 1px;
	width: 35px;
}

.header-search-icon:before {
	content: '';
	height: 16px;
	width: 16px;
	top: 9px;
	right: 0;
	position: absolute;
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214.219%22%20height%3D%2214.25%22%20viewBox%3D%220%200%2014.219%2014.25%22%3E%0A%09%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23a5adb3%22%20d%3D%22M13.895%2012.32l-3.662-3.663c-.015-.015-.034-.026-.05-.04A5.544%205.544%200%201%200%208.6%2010.2c.013.016.024.034.04.05l3.662%203.662a1.127%201.127%200%200%200%201.593-1.593zM5.553%209.8A4.232%204.232%200%201%201%209.785%205.57%204.233%204.233%200%200%201%205.553%209.8z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.header-search-icon {
	cursor: pointer;
	display: block;
	height: 32px;
	position: absolute;
	right: 0;
	top: 1px;
	width: 35px;
}

.header-search-icon:before {
	content: '';
	height: 16px;
	width: 16px;
	top: 9px;
	right: 0;
	position: absolute;
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214.219%22%20height%3D%2214.25%22%20viewBox%3D%220%200%2014.219%2014.25%22%3E%0A%09%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23a5adb3%22%20d%3D%22M13.895%2012.32l-3.662-3.663c-.015-.015-.034-.026-.05-.04A5.544%205.544%200%201%200%208.6%2010.2c.013.016.024.034.04.05l3.662%203.662a1.127%201.127%200%200%200%201.593-1.593zM5.553%209.8A4.232%204.232%200%201%201%209.785%205.57%204.233%204.233%200%200%201%205.553%209.8z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.header-search.timeman-simple {
	/*max-width: 550px;*/
}

div.title-search-result {
	border: 1px solid #c6c6c6;
	display: none;
	overflow: hidden;
	z-index: 305;
}
div.title-search-result-header {
	min-width: 350px;
}

table.title-search-result {
	border: medium none;
	border-collapse: collapse;
	width: 10%;
}
table.title-search-result th {
	background-color: #f7f7f7;
	border-right: 1px solid #e8e8e8;
	color: #949494;
	font-weight: normal;
	padding: 2px 12px 2px 14px;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
	width: 1%;
}
table.title-search-result td {
	background-color: #ffffff;
	color: #000000;
	font-weight: normal;
	padding-bottom: 2px;
	padding-top: 2px;
	text-align: left;
	white-space: nowrap;
}
table.title-search-result td.title-search-item {
	padding-left: 8px;
	padding-right: 15px;
}
table.title-search-result td.title-search-item a {
	color: #000000;
	padding-left: 4px;
	padding-right: 15px;
	text-decoration: none;
	vertical-align: top;
}
table.title-search-result td.title-search-item img {
	vertical-align: top;
}
table.title-search-result td.title-search-item b {
	color: #cf0000;
	font-weight: normal;
}
table.title-search-result td.title-search-item .title-search-item-img,
table.title-search-result td.title-search-item .title-search-item-text {
	display: inline-block;
	vertical-align: middle;
}

table.title-search-result td.title-search-item .title-search-item-img {
	background-color: #a6acb3;
	background-size: cover;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: none;
	margin-right: 5px;
}

.title-search-item-img-users {
	background-image: url('images/upic-user.svg');
}
.title-search-item-img-sonetgroups {
	background-image: url('images/upic-group.svg');
}


table.title-search-result tr.title-search-selected td, table.title-search-result tr.title-search-selected a, table.title-search-result tr.title-search-selected td.title-search-more a {
	background-color: #fff2be;
}
table.title-search-result td.title-search-more {
	font-size: 11px;
	font-weight: normal;
	padding-left: 24px;
	padding-right: 15px;
	padding-top: 0;
}
table.title-search-result td.title-search-more a {
	color: #999999;
	padding-left: 12px;
	padding-right: 15px;
	text-decoration: none;
}
table.title-search-result td.title-search-all {
	padding-left: 24px;
	padding-right: 15px;
}
table.title-search-result td.title-search-all a {
	color: #808080;
	padding-left: 4px;
	text-decoration: none;
}
table.title-search-result td.title-search-separator, table.title-search-result th.title-search-separator {
	font-size: 4px;
	padding-bottom: 0;
	padding-top: 0;
}
body table.title-search-result {
	border-radius: 0 0 3px 3px;
	table-layout: fixed;
	width: 100%;
}
body div.title-search-result {
	box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
	border: none;
}
body table.title-search-result th {
	background-color: #f8fafb;
	border: 0 none;
	color: #5c6470;
	font: bold 13px/16px "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
	padding: 10px 22px 10px 17px;
	text-align: left;
	text-overflow: ellipsis;
	width: 150px;
}
body table.title-search-result td.title-search-all {
	padding: 15px 15px 15px 20px;
}
body table.title-search-result td.title-search-item {
	overflow: hidden;
	padding: 6px 14px;
}

body table.title-search-result .title-search-waiter {
	padding: 12px 14px;
}
.title-search-waiter .title-search-waiter-img {
	display: inline-block;
	background-image: url('images/waiter-white.gif');
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	border: none;
	vertical-align: middle;
	margin: 0 5px 0 6px;
}

.title-search-waiter .title-search-waiter-text {
	display: inline-block;
	color: #CCCCCC;
	font-style: italic;
	font-size: 13px;
	vertical-align: middle;
	height: 20px;
}

body table.title-search-result td.title-search-item img {
	display: none;
}
body table.title-search-result td.title-search-item a {
	color: #555555;
	display: block;
	font: 13px/16px "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
	padding: 6px 0 6px 6px;
	text-overflow: ellipsis;
}
body table.title-search-result td.title-search-all a {
	color: #2067b0;
	font: bold 13px/16px "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-left: 0;
}
body table.title-search-result td.title-search-item b {
	color: #2067b0;
}
body table.title-search-result td.title-search-separator, body table.title-search-result th.title-search-separator {
	display: none;
}
body table.title-search-result tr.title-search-selected th, body table.title-search-result tr.title-search-selected td, body table.title-search-result tr.title-search-selected a, body table.title-search-result tr.title-search-selected td.title-search-more a {
	background-color: #e6edef;
}
body div.title-search-fader {
	display: none !important;
}
body table.webdav-title-search-result th {
	display: none;
}