.tasks-automation .automation-base, .tasks-automation .bizproc-automation-status-bg {
	width: 100%;
}

.tasks-automation .automation-base-node-top {
	min-height: 23px;
	border-bottom: none;
	margin-bottom: 21px;
	display: flex;
	align-items: center;
}

.tasks-automation .bizproc-automation-edit-robots {
	margin: 0;
}

.tasks-automation .automation-base-button {
	flex-shrink: 0;
}

.tasks-automation .bizproc-automation-status-list-item {
	border-bottom: none;
}

.tasks-automation .bizproc-automation-status-list-item:last-child .bizproc-automation-robot-btn-block {
	margin: 0;
}

.tasks-automation .bizproc-automation-btn-add,
.tasks-automation .bizproc-automation-robot-btn-add {
	background: transparent;
	border: 1px dashed #c6cdd2;
}

.tasks-automation .bizproc-automation-btn-add:hover,
.tasks-automation .bizproc-automation-robot-btn-add:hover {
	border-color: #80868e;
}

.tasks-automation .bizproc-automation-status-list-item:after {
	border-color: #c1c4c6;
}

.tasks-automation .bizproc-automation-status-title-right {
	background: #ebf1f4;
}

.tasks-automation .bizproc-automation-status-list-item:before {
	top: 0;
}

.tasks-automation .bizproc-automation-status-list-item:last-child .bizproc-automation-status-title-right {
	display: none;
}

.tasks-automation .bizproc-automation-status-list-item:nth-last-child(2) .bizproc-automation-status-title-right {
	display: block;
}

.tasks-automation .automation-base-node-title {
	font: 26px/32px "OpenSans-Light",Helvetica,Arial,sans-serif;
}

.tasks-automation .ui-btn-dropdown.tasks-automation-group-selector {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}