.sale-products-gift{ padding:0 15px;}

.catalog-products-viewed-header {
	margin: 5px 0;
	padding: 5px 15px;
	border-bottom: 2px solid #d9dee6;
	color: #000;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
}
