.tasks-quick-form-button.webform-small-button {
	padding: 0 14px;
}

.tasks-quick-form-button .webform-small-button-icon {
	display: inline-block;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2219%22%20viewBox%3D%220%200%2010%2019%22%3E%3Cpath%20fill%3D%22%23535C68%22%20d%3D%22M7%200L0%2011h4l-2%208%208-11H6%22/%3E%3C/svg%3E') center center no-repeat;
	width: 10px;
	height: 19px;
	margin: 9px 0 0 0;
}

.tasks-quick-form-button-active .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2219%22%20viewBox%3D%220%200%2010%2019%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M7%200L0%2011h4l-2%208%208-11H6%22/%3E%3C/svg%3E');
}

.webform-small-button-transparent.webform-small-button.tasks-quick-form-button {
	border: 1px solid #c8d1d6;
	-webkit-box-shadow: none;
	box-shadow: none;
	box-sizing: border-box;
}

.webform-small-button-transparent.webform-small-button.tasks-quick-form-button.webform-button-disable {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	pointer-events: none;
}

.webform-small-button-transparent.webform-small-button.tasks-quick-form-button.webform-button-disable .webform-small-button-icon {
	opacity: .45 !important;
}

.tasks-quick-form-button-active {
	background: #efc12c !important;
	border: 1px solid #efc12c !important;
}

.webform-small-button-transparent.webform-small-button.tasks-quick-form-button:active,
.webform-small-button-transparent.webform-small-button.tasks-quick-form-button:hover {
	background: #cfd4d8;
}

.task-top-panel-create-container {
	position: relative;
	padding: 0 10px;
	line-height: 32px;
	height: 32px;
	vertical-align: middle;
	float: right;
	display: block;
	margin-left: 10px;
	width: 178px;
}

.task-top-panel-create-container-big {
	display: block;
	float: none;
	overflow: hidden;
	width: auto;
	padding-right: 10px;
	margin: 0 28px 0 0;
}

.task-top-panel-create-container input {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	outline: none;
	color: #535c69;
	font-size: 15px;
	box-sizing: border-box;
	width: 100%;
	height: 32px;
	padding: 0 10px 0 10px;
	line-height: 32px;
	background: #fff;
	border: 1px solid #d0d2d5;
}

.task-top-panel-create-container input[disabled],
.task-top-panel-leftmiddle-open textarea[disabled] {
	background: #ebebe4;
	opacity: 0.6;
}

.task-top-panel-righttop {
	clear: both;
	display: none;
	position: relative;
	background: #fffded;
	padding: 18px 15px 12px 15px;
	border-bottom: 1px solid #f2f0e3;
	margin-bottom: 18px;
}

.task-top-panel-righttop-open {
	display: block;
}

.task-top-panel-leftbottom {
	overflow: hidden;
	line-height: 32px;
	margin-left: 300px;
}


.task-top-panel-leftbottom .task-top-panel-two-inright {
	float: right;
	position: static;
	margin-left: 20px;
}

.task-top-panel-middle {
	display: block;
	padding: 15px 0 0;
	line-height: 39px;
}

.task-top-panel-leftmiddle {
	float: right;
	line-height: 39px;
	font-size: 14px;
}

.task-top-panel-leftmiddle .task-top-panel-tab {
	border-bottom: 1px dashed #535c69;
	color: #535c69;
	margin: 10px 0 20px 15px;
	line-height: 18px;
	display: inline-block;
	cursor: pointer;
}

.task-top-panel-leftmiddle .task-top-panel-tab:hover {
	color: #000;
}

.task-top-panel-tab-close {
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: none;
	vertical-align: middle;
}

.task-top-panel-tab-close-active {
	display: inline-block;
}

.task-top-panel-tab-close:before,
.task-top-panel-tab-close:after,
.task-widg-white-close:before,
.task-widg-white-close:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 2px;
	background: #cccabe;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.task-top-panel-tab-close:after,
.task-widg-white-close:after {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.task-top-panel-tab-close:hover:before,
.task-top-panel-tab-close:hover:after,
.task-widg-white-close:hover:before,
.task-widg-white-close:hover:after {
	background: #99988e;
}

.task-top-panel-leftmiddle-open {
	float: none;
	display: block;
	text-align: right;
}

.task-top-panel-leftmiddle textarea {
	display: none;
}

.task-top-panel-leftmiddle-open textarea {
	display: block;
	background: #fff;
	font-size: 14px;
	color: #535c69;
	padding: 9px;
	height: 109px;
	border: 1px solid #d0d2d5;
	width: 100%;
	max-width: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	box-sizing: border-box;
	margin-bottom: 18px;
	outline: none;
}

.task-top-panel-leftmiddle-open .task-top-panel-leftmiddle-description {
	color: #000;
}

.task-top-panel-inleft {
	overflow: hidden;
	display: block;
	white-space: nowrap;
}

.task-top-panel-inleft, .task-top-panel-two-inright {
	color: rgba(83,92,105,0.6);
	font-size: 14px;
}

.task-top-panel-create-link {
	position: relative;
	font-weight: bold;
	color: #535C69;
	cursor: pointer;
}

.task-top-panel-create-link span {
	border-bottom: 1px dashed #a9adb4;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
	vertical-align: middle;
	max-width: 95px;
	white-space: nowrap;
	display: inline-block;
}

.task-new-item-error-popup {
	width: 350px;
	padding: 10px;
	font-size: 12px;
	color: red;
}

@media only screen and (max-width: 1440px) and (min-width: 1280px) {
	.task-top-panel-create-link span {
		max-width: 150px;
	}
}

@media only screen and (max-width: 1600px) and (min-width: 1440px) {
	.task-top-panel-create-link span {
		max-width: 200px;
	}
}

@media only screen and (max-width: 1920px) and (min-width: 1600px){
	.task-top-panel-create-link span {
		max-width: 250px;
	}
}

@media only screen and (min-width: 1920px) {
	.task-top-panel-create-link span {
		max-width: 300px;
	}
}

.task-top-panel-switch {
	margin: 0 8px;
}

.task-top-panel-from-to {
	margin: 0 8px;
}

.task-top-panel-create-link:hover span {
	border-bottom: 1px dashed #535c69;
}

.task-top-panel-two-inright .task-top-panel-create-link {
	margin-right: 15px;
}

.task-top-panel-two-inright .task-top-panel-create-link:after {
	content: '';
	position: absolute;
	border: 3px solid transparent;
	border-top: 3px solid #a3a9b1;
	border-bottom: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 0;
	height: 0;
	right: -9px;
	opacity: 0.6;
}

.task-top-panel-two-inright .task-top-panel-create-link:hover:after {
	opacity: 1;
}

.task-top-panel-create-text {
	vertical-align: middle;
}

.task-menu-popup-item-selected .menu-popup-item-text { font-weight: bold; }

.task-top-notification {
	display: none;
	position: relative;
	background: #fff4cb;
	color: #000000;
	font-size: 14px;
	padding: 9px 15px 9px 15px;
	margin: 0;
}

.task-top-notification-active {
	display: block;
}

.task-top-notification-inner {
	margin-right: 40px;
}

.task-top-notification-message {
	font-weight: bold;
}

.task-top-notification-link {
	color: #008fe4;
	text-decoration: underline;
	margin: 0 6px;
	cursor: pointer;
}

.task-top-notification-link:hover {
	text-decoration: underline;
}

.task-top-notification-hide {
	position: absolute;
	top: 8px;
	right: 9px;
}

.task-top-panel-two {
	color: #4f5d67;
	min-height: 42px;
	line-height: 42px;
	margin: 18px 0;
	padding: 0 0;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	position: relative;
}

span.task-top-panel-text {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	line-height: normal;
}

.task-top-panel-two-inright {
	position: absolute;
	right: 0;
	top: 0;
}

.task-top-panel-two-inright .webform-small-button-transparent,
.task-top-panel-two .webform-small-button-transparent {
	margin-right: 0;
}

.task-top-panel-tre {
	background: #f6f8f9;
	height: 46px;
	line-height: 46px;
	color: #535c6a;
	font-size: 14px;
	padding: 0 15px;
	margin: 0 0 18px 0;
}

.task-top-panel-tre a {
	text-decoration: none;
	font-size: 14px;
}

.task-top-panel-tre a:hover {
	text-decoration: none;
	border-bottom: 1px solid;
}

.task-top-panel-tre .task-green-text {
	color: #2a820b;
}

.task-top-panel-tre .task-red-text {
	color: #c63734;
}

.task-top-panel-tre .task-brown-text{
	color: #9a6d1e;
}

.task-main-notification-icon-counter {
	display: inline-block;
	vertical-align: middle;
	min-width: 12px;
	padding: 0 4px;
	height: 20px;
	background: #f73100;
	border-radius: 10px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-right: 5px;
}

