.bx-destination-input-box {
	display : none;
}
.bx-destination-input {
	background:#fff;
	border:none; color:#555;
	display:inline-block;
	font-size:12px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: -6px 9px 0px 0;
	height: 30px;
	min-width:108px;
	outline:none;
	padding:0;
	vertical-align:middle;
}

.bx-destination-add {
  	border-bottom: 1px dashed transparent;
    color: #2067b0;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    margin: 7px 7px 7px 3px;
    position: relative;
    transition: border-bottom-color 0.2s linear 0s;
    vertical-align: top;
}
.bx-destination-add:hover {
	border-bottom: 1px dashed #2067b0;
}
.bx-destination {
	border-radius: 1px;
	font-size: 13px;
	display: inline-block;
	font-weight: bold;
	margin: 0 6px 6px 0;
	height: 30px;
	line-height: 29px;
	overflow: hidden;
	padding: 0 30px 0 13px;
	position: relative;
	vertical-align: middle;
	z-index: 2;

	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}
.bx-destination a:link, .bx-destination a:visited, .bx-destination a:active, .bx-destination a:hover {text-decoration:none;}
.bx-destination-wrap {
	display: inline-block;
    min-height: 36px;
}

.bx-destination-wrap .bx-destination {padding-right:30px;}
.bx-destination-wrap .bx-destination {padding-right:30px;}
.bx-destination-del-but {background:url("images/sprite.png") no-repeat;
 	cursor: pointer;
    height: 25px;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 1px;
    width: 24px;
}
.bx-destination-wrap-item {
	display: inline-block;
	min-height: 30px;
	margin-bottom: 6px;
	vertical-align: middle;
	z-index: 2;
	min-width: 1px;
}
.bx-destination:hover {text-decoration:none;}
.bx-destination-all-users {
	background: #dbf188;
	color: #535c69 !important;
}
.bx-destination-all-users .bx-destination-del-but {background-position:-107px -39px;}
.bx-destination-hover.bx-destination-all-users {
background-color: #b2e233;
}
.bx-destination-hover.bx-destination-all-users .bx-destination-del-but {background-position:-27px -60px;}
.bx-destination-users {
	background-color: #bcedfc;
	color: #1f6ab5 !important;
}
.bx-destination-users .bx-destination-del-but {background-position:-122px -35px;}
.bx-destination-hover.bx-destination-users {
	background-color: #86e2ff;
}
.bx-destination-hover.bx-destination-users .bx-destination-del-but {background-position:-72px -56px;}

.tel-set-melody-block {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tel-set-melody-block .tel-set-melody-item {
	position: relative;
	display: block;
}
.tel-set-melody-block .tel-set-melody-item input {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity: 0;
}
.tel-set-melody-block .tel-set-player-wrap {
	display: inline-block;
}
.tel-set-melody-block .tel-set-file-wrap {
	display: inline-block;
}
.tel-set-melody-block .webform-field-upload {
	display: none;
}
.tel-set-melody-block .webform-field-upload-list {
	padding: 0;
	margin: 0;
}
.tel-set-melody-block .webform-field-upload-list .upload-file-name {
	border-bottom: 1px dashed #2067b0;
	color: #2067b0;
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
}
.tel-set-melody-block .webform-field-upload-list .upload-file-error {
	color: red;
	font-size: 11px;
	margin-left: -7px;
}
.tel-set-melody-block .webform-field-upload-notice {
	display: none;
}
.tel-set-melody-block .tel-set-melody-item .tel-set-item-melody-link {
	display: inline-block;
}
.tel-melody-group { height: auto; opacity: 1; transition: all .5s;}

.tel-melody-group-open span {
	margin-bottom: 26px;
    margin-left: 66px;
}

.tel-melody-group-hide {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.tel-set-height-animated {
	overflow: hidden;
	transition: max-height .3s ease-out;
}

.tel-set-inp-line-prefix {
	width: initial !important;
}

.tel-dayoff-melody {
	transition: max-height 0.3s ease-in;
	max-height: 0;
}

.tel-dayoff-melody-visible {
	max-height: 150px;
}


.voximplant-page-menu-sidebar {
	float: left;
	position: relative;
	padding: 0;
}

.voximplant-melody {
	position: relative;
}
.voximplant-melody .voximplant-control-description {
	display: block;
}

.voximplant-audio-player-control .webform-field-upload {
	display: none;
}

.voximplant-audio-player-control .webform-field-upload-notice {
	display: none;
}

.voximplant-audio-player-control input {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity: 0;
	cursor: pointer;
}

.voximplant-melody-container {
	display: none;
}
.voximplant-melody-container.active {
	display: block;
}
