.social-group-copy-form {
    padding: 15px 15px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(131, 133, 134);
    font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.social-group-copy-name {
    padding-bottom: 15px;
    line-height: 34px;
    border-bottom: 1px solid rgb(237, 238, 240);
    background: rgb(255, 255, 255);
}
.social-group-copy-name-title {
	color: #333;
    overflow: hidden;
	font: 19px/32px OpenSans-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 32px;
}
.social-group-copy-name-title input {
	border: none;
    width: 100%;
    height: 32px;
    outline: none;
	color: #333;
    font: 19px/32px OpenSans-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.social-group-copy-name-title .ui-ctl-element {
	padding: 0;
}
.bx-firefox .social-group-copy-name-title input::-moz-placeholder,
.bx-firefox .social-group-copy-name-title input:-moz-placeholder {
    color: #a8a8a8;
    text-overflow: ellipsis;
    opacity: 1;
    transition: color 270ms ease;
}
.social-group-copy-name-title input:focus:-moz-placeholder,
.social-group-copy-name-title input:focus::-moz-placeholder { color: rgba(0, 0, 0, 0) }
.bx-ie .social-group-copy-name-title input:-ms-input-placeholder {
    color: #a8a8a8;
    text-overflow: ellipsis;
    opacity: 1;
    transition: color 270ms ease;
}
.bx-ie .social-group-copy-name-title input:focus:-ms-input-placeholder { color: rgba(0, 0, 0, 0) }
.bx-chrome .social-group-copy-name-title input::-webkit-input-placeholder {
    color: #a8a8a8;
    text-overflow: ellipsis;
    opacity: 1;
    transition: color 270ms ease;
}
.social-group-copy-name-title input:focus::-moz-placeholder {
	color: rgba(0, 0, 0, 0);
}

.social-group-copy-description {
    background: rgb(255, 255, 255);
}

.social-group-copy-description-area {
	padding: 14px 0;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

.social-group-copy-description-area textarea {
	min-height: 100px;
	width: 100%;
	padding: 0;
	outline: none;
	border: none;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
    resize: none;
}

.social-group-copy-description {
    border: none;
    outline: none;
	color: #333;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.social-group-copy-description {
	border-bottom: 1px solid rgb(237, 238, 240);
	margin-bottom: 15px;
}
.social-group-copy-separator-line {
    border-bottom: 1px solid rgb(237, 238, 240);
}

/* fields */
.social-group-copy-fields {
    position: relative;
    padding: 7px 5px;
    background: rgb(248, 249, 250);
}
.social-group-copy-fields-item {
    position: relative;
    display: flex;
    margin: 0 13px;
    padding: 11px 0;
}
.social-group-copy-fields-item-column-left {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    min-width: 175px;
}
.social-group-copy-fields-item-column-right {
    flex: 5 1 0;
}
.social-group-copy-fields-item-name {
    padding-right: 10px;
    color: rgb(93, 101, 117);
    font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.social-group-copy-ui-ctl-element {
	width: 100%;
    padding: 0;
}
.social-group-copy-custom-container {
    display: none;
}

.social-group-copy-link-upload .webform-field-upload {
    height: 17px;
    line-height: 16px;
    cursor: pointer;
    font-size: 13px;
}
.social-group-copy-link-upload .webform-small-button.webform-button-upload,
.social-group-copy-link-upload .webform-small-button.webform-button-replace {
    height: 16px;
    background: transparent;
    font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #525C69;
    white-space: nowrap;
    transition: border-bottom .3s ease;
    text-align: left;
    text-transform: inherit;
    box-shadow: none;
    cursor: pointer;
}
.social-group-copy-link-upload .webform-small-button.webform-button-upload {
	display: inline-block;
	vertical-align: middle;
    border-bottom: 1px dashed rgba(130,139,149,.5);
    color: #828B95;
    text-decoration: none;
    transition: border-bottom .3s;
}
.social-group-copy-link-upload.social-group-copy-link-upload-set .webform-field-upload {
    display: none;
}
.social-group-copy-link-upload .webform-field-upload:hover .webform-button-upload,
.social-group-copy-link-upload .webform-field-upload:hover .webform-button-replace {
    border-bottom: 1px dashed transparent;
    background: transparent;
    color: #828B95;
}
.social-group-copy-link-upload .webform-field-item-wrap {
    align-items: center;
}
.social-group-copy-link-upload .webform-field-upload-list del {
    font-size: 13px;
}
.social-group-copy-link-upload .webform-field-upload-list a.upload-file-name {
	display: inline-block;
	vertical-align: middle;
    border-bottom: 1px dashed rgba(130,139,149,.5);
    color: #828B95;
    text-decoration: none;
    transition: border-bottom .3s;
	white-space: nowrap;
}
.social-group-copy-link-upload .webform-field-upload-list a.upload-file-name:hover {
    border-bottom: 1px dashed transparent;
    color: #828B95;
}
.social-group-copy-link-upload-set .webform-field-upload-icon {
	display: inline-block;
	vertical-align: middle;
}
.social-group-copy-link-upload .upload-file-name {
    line-height: 16px;
}

.social-group-copy-link-upload {
	display: flex;
}

.social-group-copy-link-upload-inner {
	flex: 1;
	max-height: 39px;
}

.social-group-copy-link-upload-inner .file-input {
	min-height: 29px;
}

.social-group-copy-link-upload .webform-field-upload .webform-small-button {
    position: static;
    line-height: 12px;
}
.social-group-copy-link-upload.social-group-copy-link-upload-set .webform-field-upload {
    display: none;
}
.social-group-copy-fields-item.hide {
    display: none;
}

/* blocks */
.social-group-copy-blocks {
    position: relative;
}
.social-group-copy-options-block {
    overflow: hidden;
    margin: 20px 0 10px;
    transition: all 300ms ease;
}
.social-group-copy-options-list.hide {
    display: none;
}
@-webkit-keyframes fade-out {
    0% {opacity: 1; max-height: 700px}
    50% {opacity: 0.9;}
    100% {opacity: 0; max-height: 0}
}
@keyframes fade-out {
    0% {opacity: 1; max-height: 700px}
    50% {opacity: 0.9;}
    100% {opacity: 0; max-height: 0}
}
.fade-out {
    -webkit-animation: fade-out 0.2s ease-out both;
    animation: fade-out 0.2s ease-out both;
}
@-webkit-keyframes fade-in {
    0% {opacity: 0; max-height: 0}
    50% {opacity: 0.9;}
    100% {opacity: 1; max-height: 700px}
}
@keyframes fade-in {
    0% {opacity: 0; max-height: 0}
    50% {opacity: 0.9;}
    100% {opacity: 1; max-height: 700px}
}
.fade-in {
    -webkit-animation: fade-in 0.2s ease-in both;
    animation: fade-in 0.2s ease-in both;
}
.social-group-copy-switcher {
    padding-bottom: 13px;
    cursor: pointer;
}
.social-group-copy-switcher-more {
    position: relative;
    display: inline-block;
    float: left;
    padding-left: 26px;
    color: rgb(94, 102, 117);
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
}
.social-group-copy-switcher-more::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7px;
    margin: auto;
    width: 11px;
    height: 7px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPath%3C/title%3E%3Cpath%20d%3D%22M5.485%204.228L1.37.114%200%201.484l4.8%204.8.685.687%205.486-5.485L9.6.115%205.484%204.227z%22%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    transition: transform .3s;
    opacity: .7;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.social-group-copy-switcher.opened .social-group-copy-switcher-more::before {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.social-group-copy-switcher-promo {
    padding-left: 10px;
    min-height: 20px;
    color: rgba(94, 102, 117, 0.7);
    overflow: hidden;
}
.social-group-copy-switcher-promo::before {
    content: "( ";
}
.social-group-copy-switcher-promo::after {
    content: ")";
}
.social-group-copy-switcher-promo-text {
    margin-right: 5px;
    line-height: 18px;
}
.social-group-copy-switcher-promo-text::after {
    content: ",";
}
.social-group-copy-switcher-promo .social-group-copy-switcher-promo-text:last-child::after {
    content: "";
}
.social-group-copy-options-list {
    position: relative;
    margin: 6px 0 0;
    padding: 7px 5px;
    background: rgb(248, 249, 250);
}

.sgcp-switch-project .sgcp-block-project { display: block!important; }
.sgcp-switch-project .sgcp-inlineblock-project { display: inline-block!important; }
.sgcp-switch-project .sgcp-flex-project { display: flex!important; }

.sgcp-switch-project .sgcp-block-nonproject,
.sgcp-switch-project .sgcp-inlineblock-nonproject,
.sgcp-switch-project .sgcp-flex-nonproject { display: none!important; }

/* options */
.social-group-copy-options-item {
    position: relative;
    display: flex;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid rgb(230, 233, 236);
}
.social-group-copy-options-item.item-highlight {
    background: rgba(187,237,33, .2);
}
.social-group-copy-options-item.invisible {
    display: none;
}
.social-group-copy-options-item:last-child {
    border-bottom: none;
}
.social-group-copy-options-item-column-left {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    min-width: 175px;
    padding-left: 13px;
}
.social-group-copy-options-item-name {
	display: block;
	margin-right: 15px;
    font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #525c69;
	line-height: 26px;
}
.social-group-copy-options-item-column-right {
    flex: 5 1 0;
    overflow: hidden;
}
.social-group-copy-form-field-list-block .social-group-copy-options-item-column-left {
    align-items: flex-start;
}
.social-group-copy-features-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.social-group-copy-feature-item {
	flex: 1;
	position: relative;
	min-width: 200px;
	max-width: 320px;
	margin: 0 15px 15px 15px;
}

.social-group-copy-feature-item-tree .social-group-copy-checkbox {
	position: relative;
	margin: 0;
	padding-left: 20px;
}

.social-group-copy-feature-item-tree .social-group-copy-checkbox:before {
	content: '';
	position: absolute;
	width: 1px;
	left: 5px;
	top: 0;
	bottom: 0;
	background: #979ca4;
	opacity: .5;
}

.social-group-copy-feature-item-tree .social-group-copy-checkbox:last-of-type:before {
	height: 50%;
	bottom: auto;
}

.social-group-copy-feature-item-tree .social-group-copy-checkbox:first-of-type:before {
	top: auto;
	height: calc(50% - 8px);
}

.social-group-copy-feature-item-tree .social-group-copy-checkbox:after {
	content: '';
	position: absolute;
	height: 1px;
	left: 6px;
	width: 12px;
	top: 50%;
	transform: translateY(-50%);
	opacity: .5;
	background: #979ca4;
}

.social-group-copy-feature-item-tree .social-group-copy-checkbox:first-of-type {
	padding-left: 0;
}

.social-group-copy-feature-item-tree .social-group-copy-checkbox:first-of-type:after {
	display: none;
}

/*todo for pavel */
.social-group-copy-field-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2px 0;
    flex: 1 1 0;
}
.social-group-copy-field-block.social-group-copy-field-block-between {
    box-sizing: border-box;
    width: 45px;
    height: 1px;
    background-color: rgb(220, 222, 225);
    background-clip: content-box;
    padding: 0 15px;
}
.social-group-copy-field-container-datetime .social-group-create-field-block.social-group-create-field-block-between {
    flex: 1 0 auto;
}
.social-group-copy-field-datetime {
    max-width: 360px;
}
.social-group-copy-field-datetime .main-ui-date-button {
    right: 1px;
    left: auto;
}
.social-group-copy-field-datetime .main-ui-control .main-ui-control-input {
    padding: 0 10px 0 10px;
}
.social-group-copy-field-datetime .main-ui-control-value-delete {
    z-index: 100;
}
.social-group-copy-field-block.social-group-copy-field-block-left,
.social-group-copy-field-block.social-group-copy-field-block-between,
.social-group-copy-field-block.social-group-copy-field-block-right {
    flex: 1 1 auto;
}