.popup-window-custom-title {
	font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #80868e;
	line-height: 49px;
	padding: 0 0 0 0;
}

.popup-window-table {
	width: 100%;
}

.popup-window-table-left-column {
	width: 20%;
}

.popup-window-table-custom-button {
	width: 100%;
	max-height: 30px;
	background-color: transparent;
	text-align: left;
	border: none;
	border-radius: 1px;
	padding: 3px;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	cursor: pointer;
	outline: none;
}

.popup-window-table-custom-button:hover {
	background-color: #d9dee0;
}

.popup-window-table-custom-button-label {
	cursor: pointer;
}