html {
    -webkit-text-size-adjust: none;
}
body {
	outline: none; -webkit-tap-highlight-color: transparent;
}
* {
	-webkit-user-select: none;
}
.user-can-select {
	-webkit-user-select: initial;
}