.req { color: red; }

.bx-slst .dropdown-block.bx-ui-slst-input-block { border: 1px solid #ccd5db; }

.sale-personal-profile-detail-input-file { display: none !important; }

.sale-personal-profile-detail-load-file-info {
	margin-left: 5px;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.42857143;
	cursor: pointer;
}

.sale-personal-profile-detail-load-file-cancel {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(/bitrix/components/bitrix/sale.personal.profile.detail/templates/.default/images/sale-profile-detail-sprite.svg) 1px 1px no-repeat;
	opacity: 1;
	cursor: pointer;
	transition: opacity .3s ease;
}

.sale-personal-profile-hide { display: none; }

.sale-personal-profile-detail-load-file-cancel:hover { opacity: 0.5; }

.sale-personal-profile-detail-prop-img img {
	max-width: 100px;
	max-height: 100px;
}

.sale-profile-detail-form .dropdown-block.bx-ui-sls-input-block {
	display: block;
	margin: 6px 0;
	width: 100%;
	height: 34px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	background-image: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	color: #555;
	font-size: 14px;
	line-height: 1.42857143;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.location-block-wrapper-delimeter {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #aeb1b3;
}

.sale-profile-detail-form .bx-sls .dropdown-fade2white { height: 30px; }

.sale-personal-profile-detail-property-radio .radio input[type="radio"] {
	position: relative;
	margin-left: 0;
}

.input-group-addon .bx-calendar {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(images/calendar.svg) no-repeat center;
	background-size: 18px auto;
}