.im-bar-mode table.bx-layout-inner-inner-table td.bx-layout-inner-inner-cont,
.im-bar-mode .start-page table.bx-layout-inner-inner-table td.bx-layout-inner-inner-cont {
	padding-right: 66px;
}

#header {
	background: transparent;
}

.bx-layout-inner-table {
	background: transparent;
}

.header-search-inner {
	background-color: rgba(0,0,0,.07);
}

.header-search-active .header-search-inner {
	background-color: rgb(255,255,255);
}

.header-search-input::-webkit-input-placeholder {
	color: rgba(51,51,51,.8);
}

.header-search-input::-moz-placeholder {
	color: rgba(51,51,51,.8);
	opacity:  1;
}
.header-search-input:-ms-input-placeholder {
	color: rgba(51,51,51,.8);
}

.header-search-active .header-search-input::-webkit-input-placeholder {
	color: #333;
}

.header-search-active .header-search-input::-moz-placeholder {
	color: #333;
	opacity:  1;
}
.header-search-active .header-search-input:-ms-input-placeholder {
	color: #333;
}

.header-search-icon:before {
	background-size: 15px 15px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20149%20148%22%3E%0A%09%3Cpath%20fill%3D%22%23616e7d%22%20d%3D%22M147.366%20130.93L104.6%2087.87a56.827%2056.827%200%200%200%208.942-30.72C113.542%2025.64%2088.074%200%2056.774%200S0%2025.64%200%2057.15s25.468%2057.14%2056.77%2057.14a56.3%2056.3%200%200%200%2032.854-10.56l42.382%2042.66a5.264%205.264%200%200%200%207.583%200l7.97-8.03a5.28%205.28%200%200%200-.194-7.43zM8.943%2057.35a47.827%2047.827%200%201%201%2047.826%2048.14A47.954%2047.954%200%200%201%208.942%2057.35z%22/%3E%0A%3C/svg%3E');
}

.header-search-active .header-search-icon:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20149%20148%22%3E%0A%09%3Cpath%20fill%3D%22%23a5adb3%22%20d%3D%22M147.366%20130.93L104.6%2087.87a56.827%2056.827%200%200%200%208.942-30.72C113.542%2025.64%2088.074%200%2056.774%200S0%2025.64%200%2057.15s25.468%2057.14%2056.77%2057.14a56.3%2056.3%200%200%200%2032.854-10.56l42.382%2042.66a5.264%205.264%200%200%200%207.583%200l7.97-8.03a5.28%205.28%200%200%200-.194-7.43zM8.943%2057.35a47.827%2047.827%200%201%201%2047.826%2048.14A47.954%2047.954%200%200%201%208.942%2057.35z%22/%3E%0A%3C/svg%3E');
}

.header-search-not-empty .search-title-top-delete {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2211%22%20viewBox%3D%220%200%2012%2011%22%3E%3Cpath%20fill%3D%22%23535c69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.587%205.503l4.4-4.398-1.132-1.13-4.4%204.397L2.06-.026l-1.13%201.13%204.397%204.4L.927%209.9l1.13%201.132%204.4-4.398%204.398%204.398%201.13-1.13-4.398-4.4z%22/%3E%3C/svg%3E');
}

.header-search-active .search-title-top-delete {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2211%22%20viewBox%3D%220%200%2012%2011%22%3E%3Cpath%20fill%3D%22%23a5adb3%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.587%205.503l4.4-4.398-1.132-1.13-4.4%204.397L2.06-.026l-1.13%201.13%204.397%204.4L.927%209.9l1.13%201.132%204.4-4.398%204.398%204.398%201.13-1.13-4.398-4.4z%22/%3E%3C/svg%3E');
}

.logo-text {
	color: rgba(51, 51, 51, .7);
}

/* content layout */
.bx-layout-inner-inner-table {
	background-color: transparent;
}

/* timeman styles */
.bx-time {
	color: rgba(51, 51, 51, .7);
}

.timeman-block {
	text-shadow: none;
}

.timeman-right-side {
	color: rgba(51, 51, 51, .7);
}

.timeman-block-active .timeman-background {
	background-color: rgba(255,255,255,.7) !important;
	border-color: rgba(255,255,255,.8) !important;
}

.timeman-start .timeman-background,
.timeman-paused .timeman-background {
	background-color: rgba(145, 179, 62, .2);
	border-color: rgba(175, 199, 118, .3);
}

.timeman-start:hover .timeman-background,
.timeman-paused:hover .timeman-background {
	background-color: rgba(125, 150, 76, .5);
}

.timeman-expired .timeman-background {
	background-color: rgba(175, 57, 62, .7);
	border-color: rgba(196, 114, 118, .7);
}

.timeman-block:hover .timeman-background {
	background: rgba(255,255,255,.5);
}

.timeman-expired .timeman-background {
	background-color: rgba(175, 57, 62, .4);
	border-color: rgba(196, 114, 118, .6);
}

.timeman-not-cl-text {
	color: rgba(51, 51, 51, .7);
}

.timeman-beginning-but i {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2217%22%20viewBox%3D%220%200%2016%2017%22%3E%0A%20%20%3Cg%20fill%3D%22%23333%22%20opacity%3D%220.7%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M8.2%2C0.8%20C12.5%2C0.8%2016%2C4.3%2016%2C8.6%20C16%2C12.9%2012.5%2C16.4%208.2%2C16.4%20C3.9%2C16.4%200.4%2C12.9%200.4%2C8.6%20C0.4%2C4.3%203.9%2C0.8%208.2%2C0.8%20Z%20M8.2%2C15.6%20C12%2C15.6%2015.1%2C12.5%2015.2%2C8.6%20C15.2%2C4.7%2012%2C1.6%208.2%2C1.6%20C4.3%2C1.6%201.2%2C4.8%201.2%2C8.6%20C1.2%2C12.5%204.4%2C15.6%208.2%2C15.6%20Z%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M10.7%2C6%20L5.6%2C6%20C5.5%2C6%205.5%2C6.1%205.5%2C6.1%20L5.5%2C11.2%20C5.5%2C11.3%205.6%2C11.3%205.6%2C11.3%20L10.7%2C11.3%20C10.8%2C11.3%2010.8%2C11.2%2010.8%2C11.2%20L10.8%2C6.1%20C10.8%2C6%2010.8%2C6%2010.7%2C6%20Z%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
}

.timeman-completed .timeman-beginning-but i,
.timeman-start .timeman-beginning-but i {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cg%20fill%3D%22%23333%22%20opacity%3D%220.7%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M8.2%2C0.3%20C12.5%2C0.3%2016%2C3.8%2016%2C8.1%20C16%2C12.4%2012.5%2C15.9%208.2%2C15.9%20C3.9%2C15.9%200.4%2C12.4%200.4%2C8.1%20C0.4%2C3.8%203.9%2C0.3%208.2%2C0.3%20Z%20M8.2%2C15.1%20C12%2C15.1%2015.1%2C12%2015.2%2C8.1%20C15.2%2C4.2%2012%2C1.1%208.2%2C1.1%20C4.3%2C1.1%201.2%2C4.3%201.2%2C8.1%20C1.2%2C12%204.4%2C15.1%208.2%2C15.1%20Z%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M7%2C4.7%20C6.8%2C4.6%206.6%2C4.7%206.6%2C4.8%20L6.6%2C11.7%20C6.6%2C11.9%206.9%2C11.9%207%2C11.8%20L11.5%2C8.3%20C11.6%2C8.2%2011.6%2C8.1%2011.5%2C8%20L7%2C4.7%20Z%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
}

.timeman-paused .timeman-beginning-but i {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2217%22%20viewBox%3D%220%200%2016%2017%22%3E%0A%20%20%3Cg%20fill%3D%22%23333%22%20opacity%3D%220.7%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M8.2%2C0.8%20C12.5%2C0.8%2016%2C4.3%2016%2C8.6%20C16%2C12.9%2012.5%2C16.4%208.2%2C16.4%20C3.9%2C16.4%200.4%2C12.9%200.4%2C8.6%20C0.4%2C4.3%203.9%2C0.8%208.2%2C0.8%20Z%20M8.2%2C15.6%20C12%2C15.6%2015.1%2C12.5%2015.2%2C8.6%20C15.2%2C4.7%2012%2C1.6%208.2%2C1.6%20C4.3%2C1.6%201.2%2C4.8%201.2%2C8.6%20C1.2%2C12.5%204.4%2C15.6%208.2%2C15.6%20Z%22/%3E%0A%20%20%20%20%3Cpath%20d%3D%22M7.5%205L5.7%205C5.6%205%205.5%205.1%205.5%205.2L5.5%2012.1C5.5%2012.2%205.6%2012.3%205.7%2012.3L7.5%2012.3C7.6%2012.3%207.7%2012.2%207.7%2012.1L7.7%205.2C7.6%205.1%207.6%205%207.5%205zM10.6%205L8.9%205C8.8%205%208.7%205.1%208.7%205.2L8.7%2012.1C8.7%2012.2%208.8%2012.3%208.9%2012.3L10.6%2012.3C10.7%2012.3%2010.8%2012.2%2010.8%2012.1L10.8%205.2C10.8%205.1%2010.7%205%2010.6%205z%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
}

.user-block:hover {
	background: rgba(255,255,255,.5);
}

.user-block-active {
	background: rgba(255,255,255,.7) !important;
}

.user-name {
	color: rgba(51, 51, 51, .7);
}

.user-name:after {
	border-top-color: rgba(51, 51, 51, .5);
}

.help-block {
}

/* footer */
#copyright {
	color: #333;
}

.footer-link,
.footer-discuss-link  {
	border-left: 1px solid rgba(51,51,51,.3);
	color: #333;
	-webkit-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
}

.footer-link:hover,
.footer-discuss-link:hover {
	color: #000;
}

#bitrix24-logo {
	border: 1px solid rgba(0,0,0,.06);
	margin: 1px;
	width: 109px;
	background: rgba(0,0,0,.07) url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2289%22%20height%3D%2217%22%20viewBox%3D%220%200%2089%2017%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22%232FC7F7%22%3E%3Cpath%20d%3D%22M.024%201.467h7.338l-.58%201.88H2.35V5.68h.766c1.204%200%202.277.153%203.103.59.98.51%201.58%201.42%201.58%202.852%200%202-1.202%203.502-4.624%203.502H.035V1.467h-.01zM3.21%2010.73c1.592%200%202.252-.508%202.252-1.572%200-.616-.236-1.03-.625-1.266-.425-.25-1.038-.32-1.734-.32h-.767v3.17h.873v-.01zm5.827-6.116h2.218V7.82c0%20.663-.012%201.302-.07%201.763h.046c.19-.32.58-.993%201.04-1.656l2.288-3.3h2.24v8.01h-2.24V9.43c0-.663.035-1.302.082-1.763h-.047c-.188.32-.59.994-1.038%201.656l-2.29%203.3h-2.24v-8.01h.012zM20.103%206.507h-2.395V4.614h7.562l-.59%201.893h-2.29v6.117h-2.287M25.966%204.934c.885-.308%201.97-.52%203.173-.52%202.984%200%204.494%201.68%204.494%204.2%200%202.4-1.628%204.188-4.223%204.188-.39%200-.778-.048-1.155-.154v4h-2.29V4.933zm3.268%205.986c1.368%200%202.053-.9%202.053-2.307%200-1.56-.85-2.32-2.254-2.32-.283%200-.53.013-.778.108v4.355c.306.094.59.165.98.165zm5.474-6.306h2.218V7.82c0%20.663-.012%201.302-.07%201.763h.046c.19-.32.578-.993%201.038-1.656l2.29-3.3h2.24v8.01h-2.24V9.43c0-.663.034-1.302.082-1.763h-.048c-.188.32-.59.994-1.038%201.656l-2.29%203.3h-2.24v-8.01h.012zm9.237%200h2.29V7.68h.848c.968%200%20.932-1.622%201.64-2.58.307-.426.78-.7%201.51-.7.236%200%20.66.037.92.12v1.952c-.13-.047-.306-.083-.472-.083-.258%200-.423.082-.553.248-.4.508-.472%201.538-1.074%201.916v.036c.39.153.673.437.92.946l1.44%203.088h-2.478l-.943-2.508c-.2-.497-.402-.71-.626-.71h-1.12v3.218h-2.29v-8.01h-.01zM51.78%208.66c0-2.543%201.97-4.247%204.316-4.247%201.086%200%201.794.308%202.218.58V6.91c-.578-.438-1.19-.675-1.97-.675-1.404%200-2.24%201.065-2.24%202.426%200%201.503.848%202.32%202.134%202.32.708%200%201.25-.202%201.852-.545l.65%201.562c-.662.473-1.7.816-2.81.816-2.665-.023-4.15-1.798-4.15-4.152z%22/%3E%3C/g%3E%3Cpath%20fill%3D%22%230066A1%22%20d%3D%22M84.21.047c-2.29%200-4.153%201.858-4.153%204.153%200%202.295%201.852%204.153%204.152%204.153s4.152-1.846%204.152-4.14c0-2.308-1.852-4.166-4.153-4.166zm0%207.395c-1.782%200-3.22-1.444-3.22-3.23%200-1.787%201.438-3.23%203.22-3.23%201.78%200%203.22%201.443%203.22%203.23.012%201.786-1.44%203.23-3.22%203.23z%22/%3E%3Cpath%20fill%3D%22%230066A1%22%20d%3D%22M84.68%203.74V2.353h-.93v2.318h2.312V3.74%22/%3E%3Cg%20fill%3D%22%230066A1%22%3E%3Cpath%20d%3D%22M66.36%203.797c0-1.064-.885-1.443-1.817-1.443-1.263%200-2.29.414-3.244.84l-.662-1.964C61.71.745%2063.198.2%2064.956.2c2.76%200%204.093%201.385%204.093%203.337%200%203.42-4.696%204.378-5.486%206.98h5.65v2.177h-9C60.73%206.6%2066.36%206.247%2066.36%203.797z%22/%3E%3Cpath%20d%3D%22M68.766%208.116l6.206-7.88h1.84V7.69h1.84v2.07h-1.84v2.946h-2.5V9.76h-5.546V8.116zm4.412-.426h1.133V6.353c0-.958.072-2.07.12-2.307L71.632%207.75c.212-.025%201.12-.06%201.545-.06z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E') center no-repeat;
}

#bitrix24-logo.bitrix24-logo-en {
	width: 90px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2266%22%20height%3D%2213%22%20viewBox%3D%220%200%2066%2013%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22%232FC7F7%22%3E%3Cpath%20d%3D%22M.024%201.495h3.503c2.42%200%203.504%201.408%203.504%202.828%200%20.91-.46%201.81-1.32%202.248v.036c1.333.355%202.088%201.444%202.088%202.698%200%201.692-1.32%203.348-3.964%203.348H.024V1.495zM3.22%206.05c1.015%200%201.546-.58%201.546-1.3%200-.758-.507-1.362-1.593-1.362h-.825V6.05h.873zm.307%204.71c1.286%200%201.935-.44%201.935-1.456%200-.864-.65-1.36-1.71-1.36H2.348v2.815h1.18zm5.238-8.59c0-.734.59-1.326%201.393-1.326.778%200%201.368.557%201.368%201.326%200%20.745-.59%201.36-1.368%201.36-.803-.012-1.393-.603-1.393-1.36zM9%204.642h2.29v8.01H9v-8.01zm4.473%205.928V6.417h-1.475V4.642h1.475v-1.88l2.3-.663V4.64h2.418l-.53%201.775h-1.9V9.99c0%20.745.237.994.768.994.437%200%20.885-.154%201.192-.355l.66%201.56c-.59.403-1.64.628-2.442.628-1.51%200-2.465-.84-2.465-2.248zm5.544-5.928h1.935l.26.852c.672-.627%201.32-1.053%202.182-1.053.39%200%20.86.12%201.215.368L23.806%206.7c-.4-.248-.802-.307-1.015-.307-.495%200-.884.166-1.486.663v5.584h-2.29V4.642zM24.81%202.17c0-.734.59-1.326%201.392-1.326.78%200%201.368.557%201.368%201.326%200%20.745-.59%201.36-1.368%201.36-.79-.012-1.392-.603-1.392-1.36zm.236%202.472h2.288v8.01h-2.288v-8.01zM30.944%208.618L28.02%204.642h2.37l1.793%202.437%201.793-2.438h2.372l-2.962%203.976%202.997%204.034h-2.37l-1.853-2.508-1.864%202.508h-2.372%22/%3E%3C/g%3E%3Cg%20fill%3D%22%230066A1%22%3E%3Cpath%20d%3D%22M43.733%203.766c0-1.064-.885-1.443-1.817-1.443-1.262%200-2.288.414-3.244.84l-.66-1.976c1.073-.485%202.56-1.03%204.317-1.03%202.76%200%204.093%201.385%204.093%203.337%200%203.42-4.695%204.378-5.486%206.98h5.65v2.177h-9c.507-6.08%206.146-6.435%206.146-8.884z%22/%3E%3Cpath%20d%3D%22M46.128%208.085l6.194-7.88h1.84V7.66h1.84v2.07h-1.84v2.945h-2.49V9.73H46.13V8.084zm4.424-.426h1.133V6.32c0-.958.07-2.07.118-2.307l-2.82%203.703c.236-.024%201.133-.06%201.57-.06z%22/%3E%3C/g%3E%3Cpath%20fill%3D%22%230066A1%22%20d%3D%22M61.582.075c-2.29%200-4.153%201.858-4.153%204.153%200%202.295%201.852%204.153%204.152%204.153s4.153-1.857%204.153-4.152S63.87.075%2061.582.075zm0%207.395c-1.78%200-3.22-1.444-3.22-3.23%200-1.787%201.44-3.23%203.22-3.23%201.78%200%203.22%201.443%203.22%203.23%200%201.786-1.44%203.23-3.22%203.23z%22/%3E%3Cpath%20fill%3D%22%230066A1%22%20d%3D%22M62.042%203.767V2.382h-.92V4.7h2.3v-.933%22/%3E%3C/g%3E%3C/svg%3E');
}

#bitrix24-logo.bitrix24-logo-ua {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2278%22%20height%3D%2217%22%20viewBox%3D%220%200%2078%2017%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22%230066A1%22%3E%3Cpath%20d%3D%22M55.743%203.854c0-1.064-.885-1.443-1.817-1.443-1.263%200-2.29.415-3.244.84l-.66-1.975C51.093.79%2052.58.245%2054.338.245c2.76%200%204.092%201.385%204.092%203.337%200%203.42-4.695%204.378-5.485%206.98h5.65v2.178h-9c.518-6.082%206.146-6.436%206.146-8.886z%22/%3E%3Cpath%20d%3D%22M58.15%208.173l6.193-7.88h1.84v7.454h1.84v2.07h-1.84v2.946h-2.5V9.817h-5.546V8.173h.012zm4.41-.426h1.134V6.41c0-.958.07-2.07.118-2.307l-2.796%203.703c.212-.024%201.12-.06%201.545-.06z%22/%3E%3C/g%3E%3Cg%20fill%3D%22%232FC7F7%22%3E%3Cpath%20d%3D%22M.024%201.524h7.338l-.58%201.88H2.35v2.332h.766c1.204%200%202.277.154%203.103.592.98.508%201.58%201.42%201.58%202.85%200%202-1.202%203.503-4.624%203.503H.035V1.525h-.01zm3.185%209.264c1.592%200%202.252-.51%202.252-1.574%200-.615-.236-1.03-.625-1.266-.425-.248-1.038-.32-1.734-.32h-.767V10.8h.873v-.012zm5.555-8.59c0-.733.59-1.325%201.393-1.325.778%200%201.368.557%201.368%201.326%200%20.744-.59%201.36-1.368%201.36-.803-.013-1.393-.604-1.393-1.36zM9%204.672h2.29v8.01H9V4.67zM14.558%206.564h-2.395V4.67h7.562l-.59%201.894h-2.288v6.117h-2.29M20.42%204.99c.886-.307%201.97-.52%203.175-.52%202.984%200%204.494%201.68%204.494%204.2%200%202.402-1.63%204.188-4.224%204.188-.39%200-.78-.047-1.156-.153v4h-2.29V4.99zm3.28%205.987c1.37%200%202.054-.9%202.054-2.307%200-1.562-.85-2.32-2.254-2.32-.283%200-.53.013-.778.108v4.354c.295.094.578.165.98.165zM28.904%202.2c0-.735.59-1.327%201.393-1.327.778%200%201.368.557%201.368%201.326%200%20.744-.59%201.36-1.368%201.36-.803-.013-1.393-.604-1.393-1.36zm.236%202.47h2.288v8.01h-2.29V4.67zm3.727%200h2.29v3.066h.848c.968%200%20.932-1.62%201.64-2.58.307-.426.78-.698%201.51-.698.236%200%20.66.036.92.12v1.95c-.13-.047-.306-.082-.47-.082-.26%200-.426.083-.556.248-.402.51-.473%201.538-1.074%201.917v.037c.39.153.672.437.92.946l1.44%203.088h-2.478l-.944-2.507c-.2-.497-.4-.71-.625-.71h-1.134v3.218h-2.29V4.67zM40.69%208.72c0-2.544%201.97-4.248%204.317-4.248%201.085%200%201.793.308%202.218.58v1.917c-.578-.438-1.192-.675-1.97-.675-1.404%200-2.242%201.065-2.242%202.426%200%201.502.85%202.318%202.135%202.318.708%200%201.25-.2%201.853-.544l.65%201.562c-.66.473-1.7.816-2.808.816-2.655-.023-4.153-1.798-4.153-4.152z%22/%3E%3C/g%3E%3Cpath%20fill%3D%22%230066A1%22%20d%3D%22M73.59.104c-2.287%200-4.15%201.858-4.15%204.153%200%202.295%201.85%204.153%204.15%204.153%202.302%200%204.154-1.846%204.154-4.14%200-2.296-1.852-4.166-4.153-4.166zm0%207.395c-1.78%200-3.22-1.445-3.22-3.23%200-1.788%201.44-3.23%203.22-3.23%201.783%200%203.222%201.442%203.222%203.23%200%201.785-1.44%203.23-3.22%203.23z%22/%3E%3Cpath%20fill%3D%22%230066A1%22%20d%3D%22M74.064%203.796V2.41h-.932v2.32h2.312v-.934%22/%3E%3C/g%3E%3C/svg%3E');
}

.bx-lang-btn {
	border: 2px solid transparent;
}

.bx-lang-btn {
	border: 1px solid rgba(0,0,0,.06);
	margin: 1px;
	background: rgba(0,0,0,.09) no-repeat center;
}

.bx-lang-btn-icon:after {
	border-color: rgba(51,51,51,.8) transparent transparent transparent;
}

.page-header {
	border-top: 1px solid rgba(0,0,0,.06);
}

.start-page .page-header,
.profile-menu-mode .page-header,
.top-menu-mode .page-header {
	border: none;
}

.start-page #sidebar {
	padding-top: 0;
}

.workarea-transparent #workarea-content {
	background: transparent;
}

.workarea-transparent .workarea-content-paddings {
	padding-top: 0;
}

.workarea-content-paddings {
	padding: 15px 15px 20px;
}

.start-page .workarea-content-paddings {
	padding: 0 0 15px 0;
}

.pagetitle {
	color: #333;
}

.pagetitle-star {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2017%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23AFB5BB%22%20d%3D%22M13.915%2016.225l-.936-5.461%203.968-3.868-5.484-.797-2.452-4.97L6.558%206.1l-5.484.797%203.969%203.868-.937%205.461%204.905-2.578%204.904%202.578z%22/%3E%3C/svg%3E');
}

/* socialnetwork.log.ex */
.feed-post-block {
	background: #fff;
	margin-bottom: 15px;
}

.feed-add-post-block {
	padding-top: 4px;
	background: #fff;
}

.feed-new-message-informer-place {
	background-color: transparent;
}

/* tasks.interface.toolbar */
.tasks-counters {
	color: #333;
}

.tasks-pagetitle-view .pagetitle-below {
	border-color: #dce2e6;
}

.tasks-view-switcher-list-item,
.tasks-view-switcher-list-item:link,
.tasks-view-switcher-list-item:visited {
	color: #333;
}

.tasks-view-switcher-list .tasks-view-switcher-list-item-active {
	border-bottom: 2px solid rgba(0,0,0,.16);
}

.tasks-interface-toolbar-button-text {
	color: #333;
}

.tasks-interface-toolbar-button-icon-arrow-down {
	opacity: .8;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPath%3C/title%3E%3Cpath%20d%3D%22M5.485%204.228L1.37.114%200%201.484l4.8%204.8.685.687%205.486-5.485L9.6.115%205.484%204.227z%22%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
}

.pagetitle-below .tasks-counter-text,
.pagetitle-below .task-status-text-color-overdue, .pagetitle-below .task-status-text-color-overdue:hover {
	color: #333;
}

.pagetitle-below .tasks-counter-container:hover .tasks-counter-inner:after {
	border: 1px solid rgba(0,0,0,.06);
	background: rgba(0,0,0,.07);
}

.pagetitle-toolbar-field-view .webform-small-button-separate-wrap {
	margin: 0;
}

/* intranet-common */

.pagetitle-wrap .webform-rounded-cogwheel .webform-button-icon,
.pagetitle-wrap .webform-rounded-cogwheel:action .webform-button-icon {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M11.654%2C23.56%20L11.654%2C22.093%20L10.234%2C22.093%20C10.124%2C21.403%209.86%2C20.767%209.471%2C20.221%20L10.467%2C19.226%20L9.43%2C18.189%20L8.434%2C19.184%20C7.892%2C18.79%207.26%2C18.522%206.571%2C18.404%20L6.571%2C17%20L5.106%2C17%20L5.106%2C18.4%20C4.41%2C18.513%203.772%2C18.778%203.224%2C19.17%20L2.234%2C18.18%20L1.196%2C19.218%20L2.186%2C20.206%20C1.789%2C20.756%201.523%2C21.396%201.409%2C22.093%20L0%2C22.093%20L0%2C23.56%20L1.41%2C23.56%20C1.527%2C24.25%201.795%2C24.885%202.188%2C25.43%20L1.188%2C26.428%20L2.225%2C27.465%20L3.225%2C26.465%20C3.775%2C26.855%204.413%2C27.117%205.105%2C27.23%20L5.105%2C28.655%20L6.57%2C28.655%20L6.57%2C27.225%20C7.258%2C27.111%207.888%2C26.843%208.43%2C26.453%20L9.435%2C27.459%20L10.475%2C26.421%20L9.465%2C25.413%20C9.853%2C24.873%2010.118%2C24.243%2010.233%2C23.559%20L11.653%2C23.559%20L11.654%2C23.56%20Z%20M5.82%2C25.6%20C4.284%2C25.6%203.038%2C24.353%203.038%2C22.816%20C3.038%2C21.276%204.284%2C20.031%205.821%2C20.031%20C7.361%2C20.031%208.606%2C21.278%208.606%2C22.817%20C8.606%2C24.354%207.36%2C25.601%205.822%2C25.601%20L5.82%2C25.6%20Z%22%20transform%3D%22translate%280%20-17%29%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
}

.pagetitle-wrap .webform-small-button-transparent.webform-small-button-dropdown .webform-small-button-icon,
.pagetitle-wrap .webform-small-button-transparent:active.webform-small-button-dropdown .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A');
}

.pagetitle-wrap .webform-small-button.webform-small-button-plus .webform-small-button-icon,
.pagetitle-wrap .webform-small-button:active.webform-small-button-plus .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2210px%22%20width%3D%2210px%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M4%204H0v2h4v4h2V6h4V4H6V0H4v4z%22/%3E%3C/svg%3E');
}

.pagetitle-wrap .webform-small-button.webform-small-button-disk .webform-small-button-icon,
.pagetitle-wrap .webform-small-button:active.webform-small-button-disk .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2212%22%20viewBox%3D%220%200%2017%2012%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M2%2C7%20L17%2C7%20C18.3%2C7%2018%2C6.4%2018%2C5.7%20C18%2C5.7%2015.5%2C0.1%2015%2C0.1%20L4%2C0.1%20C3.4%2C0.1%201%2C5.7%201%2C5.7%20C1%2C6.4%200.8%2C7%202%2C7%20Z%20M17%2C8%20L2%2C8%20C1.5%2C8%201%2C8.4%201%2C9%20L1%2C11%20C1%2C11.5%201.5%2C12%202%2C12%20L17%2C12%20C17.5%2C12%2018%2C11.5%2018%2C11%20L18%2C9%20C18%2C8.5%2017.5%2C8%2017%2C8%20Z%20M9.9%2C10%20L2.1%2C10%20C2%2C10%202%2C10%202%2C9.9%20L2%2C9.1%20C2%2C9%202%2C9%202.1%2C9%20L9.9%2C9%20C10%2C9%2010%2C9%2010%2C9.1%20L10%2C9.9%20C10%2C10%2010%2C10%209.9%2C10%20Z%20M13.9%2C10%20L12.1%2C10%20C12%2C10%2012%2C10%2012%2C9.9%20L12%2C9.1%20C12%2C9%2012%2C9%2012.1%2C9%20L13.9%2C9%20C14%2C9%2014%2C9%2014%2C9.1%20L14%2C9.9%20C14%2C10%2013.9%2C10%2013.9%2C10%20Z%22%20transform%3D%22translate%28-1%29%22/%3E%3C/svg%3E%0A');
}

.pagetitle-wrap .webform-small-button.webform-small-button-check-round .webform-small-button-icon,
.pagetitle-wrap .webform-small-button:active.webform-small-button-check-round .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2215%22%20viewBox%3D%220%200%2016%2015%22%3E%0A%09%3Cpolygon%20id%3D%22a%22%20points%3D%2214.148%2014%200%2014%200%200%2014.148%200%2014.148%2014%2014.148%200%200%200%200%2014%2014.148%2014%22/%3E%0A%09%3Cg%20transform%3D%22translate%281%29%22%3E%0A%20%09%09%3Cpath%20fill%3D%22%23333%22%20d%3D%22M4.8638%2C5.0571%20L3.5148%2C6.4031%20L6.9648%2C9.8551%20L8.3138%2C8.5101%20L14.1478%2C2.6891%20L12.8028%2C1.3431%20L6.9688%2C7.1631%20L4.8638%2C5.0571%20Z%20M12.0678%2C7.2841%20C11.9178%2C9.9641%209.7178%2C12.0971%206.9998%2C12.0971%20C4.1848%2C12.0971%201.9038%2C9.8151%201.9038%2C7.0001%20C1.9038%2C4.1851%204.1848%2C1.9031%206.9998%2C1.9031%20C7.6458%2C1.9031%208.2568%2C2.0361%208.8248%2C2.2551%20L10.2658%2C0.8111%20C9.2908%2C0.2951%208.1798%2C0.0001%206.9998%2C0.0001%20C3.1338%2C0.0001%20-0.0002%2C3.1341%20-0.0002%2C7.0001%20C-0.0002%2C10.8661%203.1338%2C14.0001%206.9998%2C14.0001%20C10.8658%2C14.0001%2013.9998%2C10.8661%2013.9998%2C7.0001%20C13.9998%2C6.4881%2013.9418%2C5.9911%2013.8378%2C5.5111%20L12.0678%2C7.2841%20Z%22/%3E%0A%09%3C/g%3E%0A%3C/svg%3E%0A');
}

.pagetitle-wrap .webform-small-button-transparent,
.pagetitle-wrap .webform-small-button.webform-cogwheel:active,

.webform-small-button.bx24-top-toolbar-button,
.tasks-interface-toolbar-button-block,
.bx-disk-search-settings-btn,
.webform-small-button-transparent.webform-small-button.tasks-quick-form-button,
.webform-small-button.webform-cogwheel {
	border: 1px solid rgba(0,0,0,.06);
	color: rgba(51,51,51,.8);
	background: rgba(0,0,0,.07);
	box-shadow: none;
}


.pagetitle-wrap .webform-small-button-transparent:hover,

.webform-small-button.bx24-top-toolbar-button.webform-button-active,
.webform-small-button.bx24-top-toolbar-button:hover,
.tasks-interface-toolbar-button-block:hover,
.bx-disk-search-settings-btn:hover,
.webform-small-button-transparent.webform-small-button.tasks-quick-form-button:hover,
.webform-small-button.webform-cogwheel:hover {
	background: rgba(0,0,0,.1);
}


.pagetitle-wrap .webform-small-button-transparent:active .webform-small-button-text,
.pagetitle-wrap .webform-small-button-transparent:hover .webform-small-button-text,
.pagetitle-wrap .webform-small-button-transparent .webform-small-button-text,

.webform-small-button.bx24-top-toolbar-button .webform-small-button-text {
	color: #333;
}

.webform-small-button.socialnetwork-group-actions-button {
	padding-right: 18px;
}

.webform-small-button.socialnetwork-group-actions-button .webform-small-button-icon {
	opacity: .8;
	width: 10px;
	height: 12px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPath%3C/title%3E%3Cpath%20d%3D%22M5.485%204.228L1.37.114%200%201.484l4.8%204.8.685.687%205.486-5.485L9.6.115%205.484%204.227z%22%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') center center no-repeat;
}

.socialnetwork-group-chat-button .webform-small-button-icon {
	opacity: .8;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2216px%22%20height%3D%2215px%22%20viewBox%3D%220%200%2016%2015%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M6.75%2C12%20L3%2C15%20L3%2C12%20L1.00087166%2C12%20C0.448105505%2C12%200%2C11.544239%200%2C10.9975267%20L0%2C1.00247329%20C0%2C0.448822582%200.444630861%2C0%201.00087166%2C0%20L14.9991283%2C0%20C15.5518945%2C0%2016%2C0.455760956%2016%2C1.00247329%20L16%2C10.9975267%20C16%2C11.5511774%2015.5553691%2C12%2014.9991283%2C12%20L6.75%2C12%20Z%20M5.21311514%2C11%20L7.0456543%2C10%20L14%2C10%20L14%2C2%20L2%2C2%20L2%2C10%20L5.00350952%2C10.0026855%20L5.00350952%2C11%20L5.21311514%2C11%20Z%20M3%2C5%20L5%2C5%20L5%2C7%20L3%2C7%20L3%2C5%20Z%20M7%2C5%20L9%2C5%20L9%2C7%20L7%2C7%20L7%2C5%20Z%20M11%2C5%20L13%2C5%20L13%2C7%20L11%2C7%20L11%2C5%20Z%22%20id%3D%22Combined-Shape-Copy%22%20fill%3D%22%23333%22%3E%3C/path%3E%0A%3C/svg%3E') no-repeat 0 0;
}

.socialnetwork-group-notification-button.webform-button-active .webform-small-button-icon,
.socialnetwork-group-notification-button .webform-small-button-icon {
	opacity: .8;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%2211%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M-1-1h12v13H-1z%22/%3E%3Cg%3E%3Cpath%20d%3D%22M6.854-78.365zm.8%2085.7c-.3%200-.9-.2-1-1v-2.1c0-1-.8-1.8-1.7-1.9v-1.8c0-.3-.2-.5-.5-.5h-.7c-.3%200-.5.2-.5.5v1.8c-1%20.1-1.7.9-1.7%201.9v2.1c0%20.8-.6.9-1%201h-.2c-.1%200-.3.1-.3.3v1.2c0%20.1.1.3.3.3h2.9v.6c0%20.3.2.5.5.5h.7c.3%200%20.5-.2.5-.5v-.6h2.9c.1%200%20.3-.1.3-.3v-1.2c0-.2-.1-.3-.3-.3h-.2z%22%20fill%3D%22%23333%22/%3E%3C/g%3E%3C/svg%3E');
}

.webform-small-button.bx24-top-toolbar-button .webform-small-button-icon:before,
.webform-small-button.bx24-top-toolbar-button .webform-small-button-icon:after {
	display: none;
}

.pagetitle-wrap .webform-cogwheel .webform-button-icon,
.pagetitle-wrap .webform-cogwheel:active .webform-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M11.654%2C23.56%20L11.654%2C22.093%20L10.234%2C22.093%20C10.124%2C21.403%209.86%2C20.767%209.471%2C20.221%20L10.467%2C19.226%20L9.43%2C18.189%20L8.434%2C19.184%20C7.892%2C18.79%207.26%2C18.522%206.571%2C18.404%20L6.571%2C17%20L5.106%2C17%20L5.106%2C18.4%20C4.41%2C18.513%203.772%2C18.778%203.224%2C19.17%20L2.234%2C18.18%20L1.196%2C19.218%20L2.186%2C20.206%20C1.789%2C20.756%201.523%2C21.396%201.409%2C22.093%20L0%2C22.093%20L0%2C23.56%20L1.41%2C23.56%20C1.527%2C24.25%201.795%2C24.885%202.188%2C25.43%20L1.188%2C26.428%20L2.225%2C27.465%20L3.225%2C26.465%20C3.775%2C26.855%204.413%2C27.117%205.105%2C27.23%20L5.105%2C28.655%20L6.57%2C28.655%20L6.57%2C27.225%20C7.258%2C27.111%207.888%2C26.843%208.43%2C26.453%20L9.435%2C27.459%20L10.475%2C26.421%20L9.465%2C25.413%20C9.853%2C24.873%2010.118%2C24.243%2010.233%2C23.559%20L11.653%2C23.559%20L11.654%2C23.56%20Z%20M5.82%2C25.6%20C4.284%2C25.6%203.038%2C24.353%203.038%2C22.816%20C3.038%2C21.276%204.284%2C20.031%205.821%2C20.031%20C7.361%2C20.031%208.606%2C21.278%208.606%2C22.817%20C8.606%2C24.354%207.36%2C25.601%205.822%2C25.601%20L5.82%2C25.6%20Z%22%20transform%3D%22translate%280%20-17%29%22/%3E%0A%3C/svg%3E%0A');
}

/*.pagetitle-wrap .webform-small-button:last-child {*/
	/*margin-right: 0;*/
/*}*/

.tasks-quick-form-button .webform-small-button-icon {
	opacity: .8;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2219%22%20viewBox%3D%220%200%2010%2019%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M7%200L0%2011h4l-2%208%208-11H6%22/%3E%3C/svg%3E');
}

.bx-placeholder {
	max-width: none;
}

.bx-placeholder:first-child {
	margin-top: 0;
}

.bx-placeholder:before {
	content: '';
	display: block;
	height: 20px;
	position: relative;
	z-index: 1;
	background: #fff;
}

.bx-placeholder-wrap {
	padding-bottom: 0;
	border-bottom: 0;
}

.pagetitle-container .webform-small-button:last-of-type,
.pagetitle-flexible-space .webform-small-button:last-child,
.crm-interface-toolbar-button-container .webform-small-button:last-child {
	margin-right: 0;
}

/* END OF COGWHEEL */

.pagetitle-toolbar-field-view .webform-small-button.bx24-top-toolbar-add {
	margin: 0;
}

/* crm */

.crm-feed-top-nav-item, .crm-feed-top-nav-item-more {
	color: #333;
}

.crm-pagetitle-view .pagetitle-below {
	border-top: 1px solid rgba(220,226,230,.5);
}

/* crm.entity.counter.panel */

.crm-counter,
.crm-counter-text,
.crm-counter-overdue .crm-counter-number,
.crm-counter-nodate .crm-counter-number,
.crm-counter-container:hover.crm-counter-overdue .crm-counter-text,
.crm-counter-container:hover.crm-counter-nodate .crm-counter-text {
	color: rgba(51,51,51,.8);
}

.crm-counter-number,
.crm-counter-total:hover,
.crm-counter-total,
.crm-counter-container:hover .crm-counter-inner:after {
	border: 1px solid rgba(0,0,0,.06);
	color: rgba(51,51,51,.8);
	background: rgba(0,0,0,.07);
}

/* crm.interface.filter */

.crm-view-switcher-list-item,
.crm-view-switcher-list-item-active {
	color: rgba(51,51,51,.8);
}

.crm-view-switcher-list-item-active {
	border-bottom:	2px solid rgba(0,0,0,.08)
}

/* main kanban */

.main-kanban-column:before {
	border-left: 1px dashed rgba(255,255,255,.55);
}

/* crm kanban */

.crm-page-nocounter {
	color: #333;
}

/* timeman */

.timeman-tasks:before {
	opacity: .7;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%226%22%20height%3D%229%22%20viewBox%3D%220%200%206%209%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23333%22%20points%3D%226%200%200%200%200%209%201%209%201%205%206%205%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
}

.timeman-event:before {
	opacity: .7;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%229%22%20height%3D%2211%22%20viewBox%3D%220%200%209%2011%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M9.2%2C8.1%20L9%2C8.1%20C8.7%2C8.1%208.1%2C7.9%208%2C7.1%20L8%2C5%20C8%2C4%207.2%2C3.2%206.3%2C3.1%20L6.3%2C1.3%20C6.3%2C1%206.1%2C0.8%205.8%2C0.8%20L5.1%2C0.8%20C4.8%2C0.8%204.6%2C1%204.6%2C1.3%20L4.6%2C3.1%20C3.6%2C3.2%202.9%2C4%202.9%2C5%20L2.9%2C7.1%20C2.9%2C7.9%202.3%2C8%201.9%2C8.1%20L1.7%2C8.1%20C1.6%2C8.1%201.4%2C8.2%201.4%2C8.4%20L1.4%2C9.6%20C1.4%2C9.7%201.5%2C9.9%201.7%2C9.9%20L4.6%2C9.9%20L4.6%2C10.5%20C4.6%2C10.8%204.8%2C11%205.1%2C11%20L5.8%2C11%20C6.1%2C11%206.3%2C10.8%206.3%2C10.5%20L6.3%2C9.9%20L9.2%2C9.9%20C9.3%2C9.9%209.5%2C9.8%209.5%2C9.6%20L9.5%2C8.4%20C9.5%2C8.2%209.4%2C8.1%209.2%2C8.1%20Z%22%20transform%3D%22translate%28-1%29%22/%3E%0A%3C/svg%3E%0A');
}

/* socialnetwork */

.socialnetwork-group-description-wrapper {
	display: block;
	overflow: hidden;
	background: #fff;
	padding: 10px 0 0 0;
}

.composite-mode .intranet-loader-path {
	stroke: #333;
}

.composite-mode .intranet-loader-container {
	opacity: 0.3;
}

/* calendr */

.calendar-sync-button .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%3E%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M15.678%2014.202H8.415c-1.426%200-2.594-1.167-2.594-2.593v-.744h3.702l-4.32-4.32-4.318%204.32h3.173v.643c0%202.457%202.01%204.468%204.468%204.468h7.042c1.852%200%203.45-1.144%204.124-2.76l-1.75-.37c-.444.802-1.287%201.354-2.262%201.354M8.415%201.776h7.263c1.426%200%202.592%201.166%202.592%202.593v.66h-3.653l4.318%204.32%204.32-4.32h-3.22v-.562C20.035%202.01%2018.025%200%2015.568%200H8.526c-1.83%200-3.41%201.116-4.1%202.7l1.76.37c.45-.768%201.277-1.294%202.23-1.294%22/%3E%3C/svg%3E');
}

.calendar-sync-button-confirm.calendar-sync-button .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2018%22%3E%3Cg%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M11.12%2015.978H8.524c-2.458%200-4.468-2.01-4.468-4.47v-.642H.884l4.32-4.32%204.318%204.32h-3.7v.743c0%201.425%201.167%202.592%202.593%202.592h2.704v1.776zM8.414%201.776c-.952%200-1.78.526-2.23%201.295L4.428%202.7c.69-1.584%202.27-2.7%204.1-2.7h7.04c2.458%200%204.468%202.01%204.468%204.468v.56h3.22l-4.32%204.32-4.318-4.32h3.653v-.66c0-1.426-1.166-2.592-2.592-2.592H8.415zM17.4%2015.223l-2.528-2.527-1.263%201.264%202.526%202.525L17.4%2017.75l5.766-5.77-1.263-1.262%22/%3E%3C/g%3E%3C/svg%3E');
}

.calendar-sync-button-warning.calendar-sync-button .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2224%22%20height%3D%2219%22%20viewBox%3D%220%200%2024%2019%22%3E%3Cg%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M11.884%2015.978h-3.36c-2.457%200-4.467-2.01-4.467-4.47v-.642H.884l4.32-4.32%204.318%204.32h-3.7v.743c0%201.425%201.167%202.592%202.593%202.592h3.47v1.776zM8.414%201.776c-.95%200-1.778.526-2.228%201.295l-1.76-.37c.69-1.584%202.27-2.7%204.1-2.7h7.042c2.457%200%204.467%202.01%204.467%204.468v.56h3.22l-4.32%204.32-4.318-4.32h3.653v-.66c0-1.426-1.166-2.592-2.592-2.592H8.415zM15%2010h1.96v5.876H15z%22/%3E%3Crect%20width%3D%221.96%22%20height%3D%222%22%20x%3D%2215%22%20y%3D%2217%22%20rx%3D%22.98%22/%3E%3C/g%3E%3C/svg%3E');
}

.calendar-view-switcher-list-item {
	color: rgba(51,51,51,.8);
}

.calendar-pagetitle-view .pagetitle-below {
	border-top: 1px solid rgba(0,0,0,.1);
}
