a.menu-item-link,
.menu-favorites-more-btn,
.menu-favorites-more-btn:hover {
	color: #333;
}

.menu-item-block:hover,
.menu-item-block-hover,
.menu-favorites-more-btn:hover {
	background: rgba(0,0,0,.05);
}

.menu-item-active .menu-item-link-text,
.menu-animation-opening-mode .menu-item-active .menu-item-link-text {
	background-color: rgba(0, 0, 0, .35);
	color: #fff;
}

.menu-item-plus-icon {
	background-color: rgba(0,0,0,.1);
}

.menu-item-plus:hover .menu-item-plus-icon {
	background-color: rgba(0,0,0,.2);
}

.menu-item-plus-icon:before,
.menu-item-plus-icon:after {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%208%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5%2C3%20L8%2C3%20L8%2C5%20L5%2C5%20L5%2C8%20L3%2C8%20L3%2C5%20L0%2C5%20L1.2246468e-16%2C3%20L3%2C3%20L3%2C0%20L5%2C0%20L5%2C3%20Z%22/%3E%0A%3C/svg%3E%0A');
	opacity: .6;
}

.menu-collapsed-mode.menu-sliding-mode .menu-item-plus-icon:before,
.menu-collapsed-mode.menu-sliding-mode .menu-item-plus-icon:after {
	opacity: .5;
}

.menu-collapsed-mode.menu-sliding-mode .menu-item-plus:hover .menu-item-plus-icon:before,
.menu-collapsed-mode.menu-sliding-mode .menu-item-plus:hover .menu-item-plus-icon:after {
	opacity: 1;
}

.menu-item-index {
	background-color: rgba(0,0,0,.1);
	color: rgba(51,51,51,.6);
}

.menu-favorites-more-icon {
	border-color: rgba(0, 0, 0, .5) transparent transparent transparent;
}

.menu-favorites-more-btn-open .menu-favorites-more-icon {
	border-color: transparent transparent rgba(0, 0, 0, .5) transparent;
}

.menu-settings-btn-text,
.menu-sitemap-btn-text,
.menu-invite-employees-text {
	color: rgba(82, 92, 105, .8);
}

.menu-settings-btn:hover .menu-settings-btn-text,
.menu-sitemap-btn:hover .menu-sitemap-btn-text,
.menu-invite-employees:hover .menu-invite-employees-text {
	color: rgba(82, 92, 105, 1);
}

.menu-settings-btn-text:after {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M8.216%206.494a2.217%202.217%200%200%201-1.704%201.703%202.255%202.255%200%200%201-2.69-2.69c.163-.769.935-1.54%201.703-1.704a2.255%202.255%200%200%201%202.691%202.69m3.345-1.367l-1.189-.198a4.483%204.483%200%200%200-.365-.985.037.037%200%200%201%20.004-.04l.746-.924a.524.524%200%200%200-.016-.68l-.473-.531a.525.525%200%200%200-.672-.096l-1.017.639a4.471%204.471%200%200%200-1.476-.671.037.037%200%200%201-.028-.03L6.88.439A.524.524%200%200%200%206.362%200H5.65a.523.523%200%200%200-.517.439L4.937%201.61a.037.037%200%200%201-.028.03%204.47%204.47%200%200%200-1.217.506.037.037%200%200%201-.04-.002l-.948-.676a.525.525%200%200%200-.676.056l-.503.504a.525.525%200%200%200-.056.676l.678.95c.008.011.009.027.001.04a4.482%204.482%200%200%200-.502%201.208.037.037%200%200%201-.03.028L.44%205.126A.525.525%200%200%200%200%205.644v.712c0%20.257.186.476.439.518l1.178.196a.037.037%200%200%201%20.03.028c.088.352.214.688.38%201.002a.037.037%200%200%201-.004.04l-.742.92a.525.525%200%200%200%20.016.678l.472.532a.525.525%200%200%200%20.673.096l1.01-.635a.037.037%200%200%201%20.041%200%204.47%204.47%200%200%200%201.44.635l.2%201.195c.04.253.26.439.517.439h.712a.524.524%200%200%200%20.518-.439l.195-1.171a.037.037%200%200%201%20.028-.03c.43-.107.832-.276%201.203-.497a.037.037%200%200%201%20.04.001l.988.706c.208.149.494.126.676-.056l.503-.504a.523.523%200%200%200%20.056-.676l-.703-.986a.037.037%200%200%201-.002-.04%204.46%204.46%200%200%200%20.503-1.212.037.037%200%200%201%20.03-.028l1.164-.194A.524.524%200%200%200%2012%206.356v-.712a.525.525%200%200%200-.44-.518%22%20fill%3D%22%23525C69%22%20fill-rule%3D%22nonzero%22%20opacity%3D%221%22/%3E%3C/svg%3E') center center no-repeat;
}

.menu-sitemap-btn-text:after {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2012%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M7.897%203.627l1.369%202.371a2.122%202.122%200%200%201%202.653%202.05%202.119%202.119%200%201%201-3.475-1.627l-1.33-2.305a2.115%202.115%200%200%201-1.507-.039L4.292%206.354a2.119%202.119%200%201%201-.846-.381l1.401-2.427a2.119%202.119%200%201%201%203.05.08z%22%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') center center no-repeat;
}


.menu-invite-employees-text:after {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6.954%205.004H12v1.95H6.954V12H4.983V6.954H0v-1.95h4.983V0h1.971v5.004z%22%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
}

.menu-settings-btn:hover .menu-settings-btn-text:after,
.menu-sitemap-btn:hover .menu-sitemap-btn-text:after,
.menu-invite-employees:hover .menu-invite-employees-text:after {
	opacity: 1;
}

.menu-favorites-btn-icon {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M10.09.854l2.056%202.078-8.042%208.02L2.05%208.873l8.04-8.02zM.894%2011.846a.215.215%200%200%200%20.054.205c.054.054.132.075.206.054l2.297-.619L1.513%209.55l-.62%202.297z%22%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') center center no-repeat;
	opacity: .6;
}

.menu-item-sepor-text {
	background: rgba(0,0,0,.1);
	color: rgba(51,51,51,.8);
}

.menu-item-sepor-text-line {
	background: rgba(0,0,0,.2);
}

.menu-item-show-link { color: rgba(0,0,0,.4) }
.menu-item-show-link:hover { color: rgba(0,0,0,.7) }

.menu-settings-save-btn {
	background-color: rgba(0,0,0,.35);
	color: #333;
}

.menu-settings-save-btn:hover {
	background-color: rgba(0,0,0,.5);
}

.menu-item-draggable .menu-item-link {
	color: rgba(0,0,0,.7) !important;
}

/* sitemap menu */
.sitemap-menu {
	opacity: .45;
}

.sitemap-menu:hover,
.sitemap-menu.sitemap-menu-open {
	opacity: .7;
}

.sitemap-menu-lines,
.sitemap-menu-lines:after,
.sitemap-menu-lines:before {
	background: #333;
}