table.bx-layout-inner-inner-table td.bx-layout-inner-inner-cont,
.start-page table.bx-layout-inner-inner-table td.bx-layout-inner-inner-cont {
	padding-right: 81px;
}

.bx-im-bar {
	background-color: rgba(255,255,255,.15);
	border-left: 1px solid rgba(255,255,255,.2);
}

.bx-im-border-b {
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.bx-im-bottom-block {
	border-top: 1px solid rgba(255,255,255,.2);
}

.bx-im-search:before {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%3E%0A%20%20%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M1.648%2C6%20C1.648%2C3.597%203.597%2C1.648%206%2C1.648%20C8.403%2C1.648%2010.352%2C3.597%2010.352%2C6%20C10.352%2C8.403%208.403%2C10.352%206%2C10.352%20C3.597%2C10.352%201.648%2C8.403%201.648%2C6%20L1.648%2C6%20Z%20M16.916%2C15.565%20L10.863%2C9.504%20C11.575%2C8.518%2012%2C7.31%2012%2C6%20C12%2C2.687%209.314%2C0%206%2C0%20C2.687%2C0%200%2C2.687%200%2C6%20C0%2C9.313%202.687%2C12%206%2C12%20C7.281%2C12%208.465%2C11.595%209.44%2C10.912%20L15.498%2C16.978%20L16.916%2C15.565%20Z%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	opacity: .5;
}

.bx-im-search:hover:before {
	opacity: .7;
}

.bx-im-search:hover,
.bx-im-user:hover,
.bx-im-informer:hover,
.bx-im-informer:hover,
.bx-im-btn-wrap:hover,
.bx-im-users-wrap .bx-messenger-cl-item:hover {
	background-color: rgba(255,255,255,.15);
}

.bx-im-users-wrap .bx-messenger-recent-group-title {
	color: rgba(51,51,51,.7);
	text-shadow: none;
}
