.autocomplete-select {
	align-items: center;
	background: #f9f9f8;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	color: #363b3e;
	cursor: pointer;
	display: flex;
	font-size: 16px;
	font-weight: 500;
	justify-content: left;
	min-height: 44px;
	padding: 5px 10px;
	position: relative;
	transition: 0.2s;
	width: 100%;
}

.autocomplete-options {
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	color: #363b3e;
	display: none;
	left: 0;
	max-height: 221px;
	overflow-y: scroll;
	position: relative;
	top: 50px;
	width: 100%;
}

.autocomplete-select--opened .autocomplete-options {
	display: block;
}

.autocomplete-option {
	background: #fff;
	border-bottom: 1px solid #e4e4e4;
	box-sizing: border-box;
	height: 44px;
	line-height: 25px;
	padding: 10px;
}

.autocomplete-option--disabled {
	color: #e4e4e4;
}

.autocomplete-option--selected {
	color: #e4e4e4;
	cursor: initial;
	pointer-events: none;
}

.autocomplete-option--hidden {
	display: none;
}

.autocomplete-selected-label {
	align-items: 'center';
	border-radius: 4px;
	color: #fff;
	cursor: initial;
	display: inline-flex;
	justify-content: 'center';
	margin: 5px 10px 5px 0;
	padding: 3px 7px;
}

.autocomplete-selected-label:last-of-type {
	margin-right: 0;
}

.autocomplete-placeholder--hidden {
	display: none;
}