.report-widget-number-block-container
{
    height: 100%;
}

.report-widget-number-block-row-container
{
    height: 130px;
    margin-bottom: 10px;
    display: flex;
}

.report-widget-number-block-row-container:last-child
{
    height: 185px;
    margin-bottom: 0;
}

.report-widget-number-block-item
{
    position: relative;
    flex: 1;
    border: none;
}

.report-widget-number-block-first-block
{
}

.report-widget-number-block-second-block
{
    margin-right: 10px;
	max-width: calc(50% - 5px);
}

.report-widget-number-block-third-block
{
	max-width: calc(50% - 5px);
}

.report-widget-number-block-second-block .report-widget-number-block-item-header,
.report-widget-number-block-third-block .report-widget-number-block-item-header {
	display: block;
	line-height: 45px;
	padding: 0 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.report-widget-number-block-item > .report-widget-number-block-value-container
{
    font-size: 66px;
	position: absolute;
	bottom: 0;
	right: 0;
    color: #fff;
    font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-align: right;
    border: none;
}

.report-widget-number-block-second-block  .report-widget-number-block-value-container,
.report-widget-number-block-third-block  .report-widget-number-block-value-container {
	font-size: 55px;
}

.report-widget-number-block-item > .report-widget-number-block-value-container {
	padding: 5px 20px;
}

.report-widget-number-block-item-header
{
    display: flex;
    background: rgba(0,0,0,.05);
    padding: 0 0 0 20px;
    line-height: 45px;
    color: #fff;
}

.report-widget-number-block-title-container
{
    flex: 1;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
}