.socialnetwork-group-leave-text {
	font: 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #828B95;
}
.sonet-slider-frame-popup .socialnetwork-group-leave-content
{
	padding: 15px 15px 20px;
}