.mail-blacklist-popup-textarea {
	min-height: 250px;
	min-width: 100%;
}

.mail-blacklist-popup-textarea-wrapper {
	min-width: 600px;
	min-height: 250px;
}

.mail-blacklist-is-iframe .main-ui-filter-search {
	width: 100%;
	margin-top: 0;
}
