.bizproc-document-wait {
	cursor: wait;
}


ul.bizproc-document-list, ul.bizproc-document-list li {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	list-style-type: none;
}

ul.bizproc-document-workflow-list-item {
	width: 100%;
	box-sizing: border-box;
	min-height: 98px;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.bizproc-document-wait .bizproc-document-workflow-list-item {
	opacity: .5;
}

ul.bizproc-document-workflow-list-item li {
	margin-top: 3px;
}

ul.bizproc-document-workflow-list-item table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

ul.bizproc-document-workflow-list-item td, ul.bizproc-document-workflow-list-item th {
	border: none;
	margin: 0;
	padding: 0.3em 0.6em
}

ul.bizproc-document-workflow-list-item thead th {
	text-align: left;
	padding: 0.5em 0.6em
}

ul.bizproc-document-workflow-list-item div.bizproc-document-workflow-toolbar span {
	display: block;
	float: left;
	padding-bottom: 2px;
}

ul.bizproc-document-workflow-list-item div.bizproc-document-workflow-toolbar span a {
	margin: 0 5px;
}

ul.bizproc-document-workflow-list-item .bizproc-document-control + .bizproc-document-control {
	border-left: 1px solid #cfcfcf;
}

.bizproc-document-workflow-toolbar {
	float: right;
	font-weight: normal;
}

ul.bizproc-document-workflow-list-item td.bizproc-field-name {
	width: 30%;
}

ul.bizproc-document-workflow-list-item li.bizproc-document-process {
	border: 1px solid #e0dabf;
}

li.bizproc-document-process thead th {
	background-color: #f2eccd;
}

li.bizproc-document-process tbody th, li.bizproc-document-process tbody td {
	background-color: #fcfaef;
}

li.bizproc-document-process tbody tr:first-child td {
	padding-top: 0.7em;
}

li.bizproc-document-process tbody tr:last-child td {
	padding-bottom: 0.7em;
}

ul.bizproc-document-workflow-list-item li.bizproc-document-hastasks {
	border: 1px solid #e0cbcf;
}

li.bizproc-document-hastasks thead th {
	background-color: #f2dada;
}

li.bizproc-document-hastasks tbody th, li.bizproc-document-hastasks tbody td {
	background-color: #faf0f0;
}

ul.bizproc-document-workflow-list-item li.bizproc-document-finished {
	border: 1px solid #d8d8d8;
}

li.bizproc-document-finished thead th {
	background-color: #e4e4e4;
}

li.bizproc-document-finished tbody th, li.bizproc-document-finished tbody td {
	background-color: #f4f4f4;
}

.bizproc-document-toolbar-bottom {
	text-align: center;
	padding: 5px 0;
}

.bizproc-field-value-tasks {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.bizproc-page-document {
	padding: 5px 0;
}