.intranet-user-otp-con-top {
	display: flex;
	margin: 0;
	padding: 20px 15px;
	flex-wrap: wrap;
}

.ui-page-slider-wrapper .intranet-user-otp-con-top {
	margin: -15px -15px 0 -15px;
}

.intranet-user-otp-con-top-title {
	padding-right: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

.intranet-user-otp-con-top-title:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.intranet-user-otp-con-top-status {
	flex: 1;
	white-space: nowrap;
}

.intranet-user-otp-con-top-status-block {
	display: inline-block;
	vertical-align: middle;
	padding: 0 21px 0 11px;
	margin-right: 9px;
	height: 39px;
	line-height: 39px;
	border-radius: 3px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.intranet-user-otp-con-top-status-block:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	margin-right: 9px;
	border-radius: 50%;
}

.intranet-user-otp-con-top-status-block-off {
	background: rgba(255,87,82,.1);
	color: #ff5752;
}

.intranet-user-otp-con-top-status-block-off:before {
	background: #ff5752 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2217%22%20viewBox%3D%220%200%2015%2017%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7.38539338%2C0.0194885046%20C6.71643066%2C0.597997736%205.5111189%2C1.36120879%204.3435138%2C1.97315156%20C3.1759087%2C2.58509433%202.03680533%2C3.04121501%201.13596796%2C3.04121501%20C1.08883601%2C3.04121501%200.948203021%2C3.1651254%200.942882456%2C3.21225735%20C0.207792162%2C9.26337789%202.69207159%2C12.9261674%207.46144982%2C16.3713011%20C7.49413802%2C16.3948661%207.65681808%2C16.3948668%207.68950627%2C16.3713011%20C12.4589429%2C12.9261674%2014.943884%2C9.26337789%2014.2080736%2C3.21225735%20C14.2027525%2C3.16588631%2014.0621181%2C3.04121501%2014.0149881%2C3.04121501%20C13.1141702%2C3.04121501%2011.9750858%2C2.58509433%2010.8074418%2C1.97315156%20C9.63979777%2C1.36120879%208.43442813%2C0.597978275%207.76556271%2C0.0194885046%20C7.73971691%2C-0.0025566146%207.42036238%2C-0.0101591448%207.38539338%2C0.0194885046%20Z%22/%3E%3Crect%20width%3D%2220%22%20height%3D%223.6%22%20x%3D%22-2%22%20y%3D%225.765%22%20fill%3D%22%23FFF%22%20stroke%3D%22%23FF5752%22%20stroke-width%3D%222%22%20transform%3D%22rotate%28-45%208%207.565%29%22/%3E%3C/g%3E%3C/svg%3E') center center no-repeat;
}

.intranet-user-otp-con-top-status-block-on {
	background: rgba(115,198,0,.1);
	color: #528d00;
}

.intranet-user-otp-con-top-status-block-on:before {
	background: #528d00 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2217%22%20viewBox%3D%220%200%2014%2017%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.56982128%2C0.0194885046%20C5.90085855%2C0.597997736%204.69554679%2C1.36120879%203.52794169%2C1.97315156%20C2.36033659%2C2.58509433%201.22123322%2C3.04121501%200.320395856%2C3.04121501%20C0.273263905%2C3.04121501%200.132630912%2C3.1651254%200.127310348%2C3.21225735%20C-0.607779947%2C9.26337789%201.87649948%2C12.9261674%206.64587772%2C16.3713011%20C6.67856591%2C16.3948661%206.84124597%2C16.3948668%206.87393416%2C16.3713011%20C11.6433708%2C12.9261674%2014.1283119%2C9.26337789%2013.3925015%2C3.21225735%20C13.3871804%2C3.16588631%2013.246546%2C3.04121501%2013.199416%2C3.04121501%20C12.2985981%2C3.04121501%2011.1595137%2C2.58509433%209.99186969%2C1.97315156%20C8.82422567%2C1.36120879%207.61885602%2C0.597978275%206.9499906%2C0.0194885046%20C6.9241448%2C-0.0025566146%206.60479027%2C-0.0101591448%206.56982128%2C0.0194885046%20Z%22/%3E%3C/svg%3E') center center no-repeat;
}

.main-app-passwords-title {
	display: block;
	overflow: hidden;
	background: #eef2f4;
	padding: 18px 0 15px 0;
	margin: 0 -15px 15px -15px;
	font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

.intranet-user-otp-con-top-status-link {
	display: inline-block;
	color: #2066b0;
	border-bottom: 1px dashed rgba(39,107,179,.4);
	cursor: pointer;
}

.intranet-user-otp-con-top-status-link:hover {
	border-bottom: 1px dashed rgba(39,107,179,.6);
}