.blog-post-preview {
	font: 13px/19px "Helvetica Neue",Helvetica,Arial,sans-serif
}

.blog-post-preview-header-title {
	font-weight: bold;
}

.blog-post-preview-header-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 7px 0 0;
	background: transparent;
	border-radius: 50%;
	overflow: hidden;
}
.blog-post-preview-header-icon > img {
	vertical-align: middle;
}

.blog-post-preview-info { }
.blog-post-preview-info td { padding: 0; vertical-align: top;}


