.task-iframe-popup,
.task-iframe-popup.task-form-page,
.task-iframe-popup.task-detail-page{
	background: #eef2f4 !important;
	padding: 0 15px 21px 21px;
}
.crm-iframe-popup.crm-detail-page.template-bitrix24.crm-iframe-popup-no-scroll.crm-order-shipment-product-list-barcode-wrapper{
	padding: 0 15px;
}
.crm-order-shipment-product-list-barcode-wrapper .crm-entity-card-container{
	width:100%;
	max-width: 500px;
}
.fields.crm_status select,
.field-item input,
.field-item select,
.field-item textarea,
.field-item .main-ui-control.main-ui-select,
.field-item .main-ui-control.main-ui-multi-select,
.uf-address-search-input,
.crm-entity-widget-content-input,
.crm-entity-widget-content-select,
.crm-entity-widget-content-textarea,
.crm-entity-widget-content-date-input,
.crm-entity-widget-content-block-clients,
.crm-entity-widget-content-block-requisites,
.crm-entity-widget-content-block-recurring,
.crm-entity-widget-resourcebook-container,
.crm-entity-widget-content-block-multiselect select,
.crm-entity-widget-content-block-field-textarea textarea {
	display: block;
	box-sizing: border-box;
	padding: 10px 9px;
	min-height: 39px;
	max-width: 100%;
	width: 100%;
	outline: none;
	border: 1px solid #c4c7cc;
	border-radius: 1px;
	background-color: #fff;
	color: #424956;
	font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 220ms all ease;
}

.crm-entity-widget-content { padding-bottom: 15px; }

.crm-entity-card-widget-edit {
	background-color: #fff;
	position: relative;
	z-index: 140;
	box-sizing: border-box;
	margin-bottom: 15px;
	border-radius: 1px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
	transition: background-color 250ms linear;
}
.crm-entity-card-container-content { }
.crm-entity-widget-content-block-title {
	position: relative;
	margin-bottom: 5px;
	color: #a3a9b1;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.crm-entity-widget-content-block-title {
	position: relative;
	margin-bottom: 5px;
	color: #a3a9b1;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.crm-entity-widget-content-block-draggable-btn-container {
	position: absolute;
	top: -4px;
	left: -3px;
	width: 21px;
	height: 22px;
}
.crm-entity-card-widget-edit .crm-entity-widget-content-block { padding: 0 28px 0 15px; }

.crm-entity-widget-content-input.barcode-error { border-color: #ff0000; }
.crm-entity-widget-content-input.barcode-ok { border-color: #00ff00; }