.bx-conference-quick-create-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #EDEEF0;
}

.bx-conference-quick-create-wrap.bx-conference-quick-create-wrap-dark {
	background: #4a4a4a;
}

.bx-conference-quick-create-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 630px;
	max-height: 600px;
	overflow-y: auto;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22629%22%20height%3D%22297%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.06%22%3E%3Cpath%20d%3D%22M99.7%20296.954H30.128c-.596%200-1.186-.023-1.77-.066C12.636%20296.526%200%20283.536%200%20267.565c.005-7.784%203.07-15.248%208.521-20.749a29.023%2029.023%200%20019.693-6.465c-.06-.793-.09-1.593-.09-2.4.004-8.214%203.238-16.09%208.99-21.894%205.753-5.804%2013.551-9.062%2021.68-9.057%2010.415.013%2019.61%205.274%2025.135%2013.305a24.81%2024.81%200%20018.391-1.449c13%20.016%2023.676%2010.028%2024.914%2022.831%2012.456%202.744%2021.777%2013.955%2021.766%2027.359-.013%2015.447-12.414%2027.96-27.703%2027.954a27.64%2027.64%200%2001-1.598-.046zM608.558%2062.968H560.02c-.415%200-.827-.016-1.235-.047C547.815%2062.668%20539%2053.575%20539%2042.396a20.689%2020.689%200%20015.945-14.525%2020.244%2020.244%200%20016.762-4.526%2022.266%2022.266%200%2001-.063-1.68c.004-5.75%202.26-11.262%206.273-15.325A21.24%2021.24%200%2001573.043%200c7.265.009%2013.68%203.692%2017.535%209.313a17.257%2017.257%200%20015.855-1.014c9.069.012%2016.518%207.02%2017.382%2015.982%208.69%201.92%2015.193%209.768%2015.185%2019.151-.009%2010.813-8.661%2019.572-19.328%2019.568-.374%200-.745-.011-1.114-.032z%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 6px 21px 0 rgba(83,92,105,.15);
}

.bx-conference-quick-create-wrap-dark .bx-conference-quick-create-content {
	border: 1px solid rgba(255,255,255,0.41);
	background-color: rgba(255,255,255,0.08);
}

.bx-conference-quick-create-title {
	width: 480px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #525C69;
	padding: 25px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.bx-conference-quick-create-wrap-dark .bx-conference-quick-create-title {
	color: rgba(255,255,255,0.7);
}

.bx-conference-quick-create-field-block {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.bx-conference-quick-create-field-label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: rgba(82,92,105,0.66);
	margin-bottom: 6px;
}

.bx-conference-quick-create-wrap-dark .bx-conference-quick-create-field-label {
	color: rgba(255,255,255,0.7);
}

.bx-conference-quick-create-field-input {
	box-sizing: border-box;
	width: 480px;
	height: 40px;
	border-radius: 2px;
	padding: 8px 15px;
	background: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	border: 1px solid #C6CDD3;
}

.bx-conference-quick-create-wrap-dark .bx-conference-quick-create-field-input {
	border: none;
}

.bx-conference-quick-create-field-input:focus {
	outline: none;
}

.bx-conference-quick-create-button {
	margin-top: 40px;
	margin-bottom: 40px;
}

.bx-conference-quick-create-button button.ui-btn-disabled {
	pointer-events: none;
}

.bx-conference-quick-create-button .bx-conference-quick-create-button-start {
	width: 220px;
	height: 40px;
}

.bx-conference-quick-create-button .bx-conference-quick-create-button-cancel {
	height: 40px;
}

.bx-conference-quick-create-wrap-dark .bx-conference-quick-create-button .bx-conference-quick-create-button-cancel {
	color: #fff;
}

.bx-conference-quick-create-link-wrap {
	position: relative;
}

.bx-conference-quick-create-link-copy {
	position: absolute;
	width: 28px;
	height: 28px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1.898%208.472V2.094c0-.108.088-.196.196-.196h6.378c.107%200%20.195.088.195.196V2.4h1.899V.641A.642.642%200%20009.926%200H.64A.642.642%200%20000%20.64v9.285c0%20.353.288.64.64.64h1.655V8.668h-.201a.196.196%200%2001-.196-.195zm10.223%203.442a.208.208%200%2001-.207.207H5.161a.208.208%200%2001-.207-.207V5.161c0-.113.094-.207.207-.207h6.753c.114%200%20.207.094.207.207v6.753zm1.148-8.86H3.713a.66.66%200%2000-.659.66v9.555a.66.66%200%2000.66.659h9.555a.661.661%200%2000.659-.66V3.714a.66.66%200%2000-.66-.659z%22%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.5%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	top: 6px;
	right: 12px;
	cursor: pointer;
}

.bx-conference-quick-create-wrap .ui-tag-selector-outer-container {
	box-sizing: border-box;
	width: 480px;
	border-radius: 2px;
}

.bx-conference-quick-create-error-wrap {
	width: 480px;
	display: flex;
	flex-direction: column;
}

.bx-conference-quick-create-error-wrap .ui-alert-message + .ui-alert-message {
	margin-top: 10px;
}