#salescenter_orders_toolbar .salescenter-toolbar-communication-button {
	background-color: transparent;
	margin-right: 12px;
	box-shadow: inset 0 0 0 1px #a1a6ac;
}
#salescenter_orders_toolbar .salescenter-toolbar-communication-button:active {
	background-color: #868d95;
}
#salescenter_orders_toolbar .salescenter-toolbar-communication-button:hover {
	opacity: 1;
	background: #cfd4d8;
}