.sonet-slider-frame-popup .socialnetwork-group-content {
	padding: 15px 15px 20px;
	position: relative;
}

.socialnetwork-group-box {
	display: flex;
	align-items: center;
	padding: 10px 0;
	min-height: 61px;
	border-bottom: 1px solid rgba(82,92,105,.1);
	box-sizing: border-box;
}

.socialnetwork-group-box:last-child {
	border: 0;
}

.socialnetwork-group-title {
	display: inline-block;
	margin: 20px 0;
	font: 19px "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #3B3B3B;
}

.socialnetwork-group-desc {
	margin: 10px 0 31px 0;
	font: 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #8F959D;
}

.socialnetwork-group-link {
	display: inline-block;
	border-bottom: 1px dashed rgba(82,92,105,.58);
	font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525C69;
	transition: border-bottom .3s;
	cursor: pointer;
}

.socialnetwork-group-link:hover {
	border-bottom: 1px dashed transparent;
	color: #525C69;
}

.socialnetwork-group-left {
	flex: 0 1 130px;
	margin: 0 19px 0 0;
	font: 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #828B95;
}

.socialnetwork-group-right {
	flex: 1;
	color: #525C69;
}

.socialnetwork-group-user-box {
	display: flex;
	flex-wrap: wrap;
	max-width: 312px;
}

.socialnetwork-group-user {
	display: inline-block;
	margin: 0 10px 15px 0;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	cursor: pointer;
}

.socialnetwork-group-user-more {
	display: inline-block;
	align-self: center;
	height: 32px;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #828B95;
	transition: opacity .3s;
	cursor: pointer;
}

.socialnetwork-group-user-more:hover {
	opacity: .6;
}

.socialnetwork-group-tag-box {
	display: flex;
	flex-wrap: wrap;
}

.socialnetwork-group-tag {
	display: inline-block;
	border-bottom: 1px solid transparent;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1069C3;
	transition: border-bottom .3s;
	cursor: pointer;
}

.socialnetwork-group-tag:after {
	content: ',';
	margin: 0 5px 0 0;
}
.socialnetwork-group-tag:last-child:after {
	content: '';
	margin: 0;
}


.socialnetwork-group-tag:hover {
	border-bottom: 1px solid #1069C3;
}

.socialnetwork-group-fav-switch,
.socialnetwork-group-fav-switch:before,
.socialnetwork-group-fav-switch:after {
	background: url("images/sprite.png?1") no-repeat 37px -1027px;
	cursor: pointer;
	height: 65px;
	position: absolute;
	right: 0;
	top: 0;
	width: 65px;
	z-index: 10;
}

.socialnetwork-group-fav-switch:before,
.socialnetwork-group-fav-switch:after {
	background-position: -26px -1025px;
	content: '';
	opacity: 0;

	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.socialnetwork-group-fav-switch:hover:before {
	opacity: 1;
}

.socialnetwork-group-fav-switch-active:after {
	background-position: -91px -1025px;
	opacity: 1;
}

.socialnetwork-group-fav-switch-active:hover:before {
	opacity: 0;
}


.socialnetwork-group-wait-cont { height: 31px; }
.socialnetwork-group-wait-icon { height: 31px; width: 31px; background: url('images/wait.gif') no-repeat 0 0; display: inline-block; position: relative; left: 1px; top: 1px; }
.socialnetwork-group-wait-text { height: 31px; display: inline-block; position: relative; padding: 0 10px 0 5px; left: 1px; top: -11px; color: #7F7F7F; }
