.report-visualconstructor-add-form-container {
    padding: 26px 34px 26px 34px;
}

.report-visualconstructor-add-header-container {
    display: flex;
    align-items: center;
    margin: 0 0 22px 0;
}

.report-visualconstructor-add-title-container {
    font: 24px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
}


.report-visualconstructor-view-miniatures-wrapper {
    height: 199px;
    overflow: hidden;
}

.report-create-widget-by-category-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.report-create-widget-icon {
    position: relative;
    height: 70px;
    width: 70px;
	background: rgba(168,173,180,.34);
	border: 1px solid rgba(82,92,105,.74);
	margin-bottom: 20px;
	opacity: .2;
	transition: .1s;
    border-radius: 50%;
}

.report-create-widget-icon:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -13px 0 0 -13px;
	width: 26px;
	height: 26px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2226px%22%20height%3D%2226px%22%20viewBox%3D%220%200%2026%2026%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cg%20stroke-width%3D%221%22%20transform%3D%22translate%28-396.000000%2C%20-154.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M412%2C164%20L422%2C164%20L422%2C170%20L412%2C170%20L412%2C180%20L406%2C180%20L406%2C170%20L396%2C170%20L396%2C164%20L406%2C164%20L406%2C154%20L412%2C154%20L412%2C164%20Z%22%20fill%3D%22%23525C69%22%3E%3C/path%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') center center no-repeat;
}

.report-create-widget-by-category-container:hover .report-create-widget-icon {
	opacity: .35;
}

.report-create-title-inner {
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #6d7985;
	line-height: 25px;
}

.report-visualconstructor-view-miniatures-category-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid rgba(159,166,174,.20);
    text-align: left;
    word-wrap: break-word;
}

.report-visualconstructor-view-miniatures-category-title-name {
    font: 18px/24px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.report-visualconstructor-view-miniatures-category-value {
    font: 13px/24px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: rgba(128,134,142,.82);
}

.report-visualconstructor-view-miniatures-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 0 0;
}
.report-visualconstructor-view-miniature-item {
    position: relative;
    flex: 1;
    flex-basis: calc(33.3333% - 15px);
    /*flex-grow: 0;*/
    margin: 0 15px 15px 0;
    padding: 10px 14px;
    min-width: 180px;
    max-width: 274px;
    width: calc(33.3333% - 15px);
    background: #fff;
    vertical-align: top;
    text-align: center;
    transition: all .3s;
    min-height: 190px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    box-sizing: border-box;
    cursor: pointer;
}

.report-visualconstructor-view-miniature-item:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.15);
}

.report-visualconstructor-view-miniature-container:hover {
    border: 1px solid #1ec6f9;
    box-shadow: 0 0 0 1px #1ec6f9;
}

.report-visualconstructor-view-miniature-img-container {
    position: relative;
    margin: 0 0 35px 0;
}
.report-visualconstructor-view-miniature-img-container > img {
    height: 70px;
}

.report-visualconstructor-view-miniature-title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 13px/20px 'OpenSans-SemiBold', "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 0 0 10px 0;
    margin: 0 0 25px 0;
    border-bottom: 1px solid rgba(216,216,216,.35);
    text-align: left;
}

.report-visualconstructor-view-miniature-close {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 12px;
    height: 12px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.076%205.485l3.448-3.448-1.59-1.59-3.45%203.447L2.04.446.45%202.036l3.446%203.45L.446%208.93l1.59%201.59%203.45-3.446%203.447%203.447%201.59-1.59%22/%3E%3C/svg%3E') no-repeat;
    transition: opacity .3s;
    opacity: .6;
    cursor: pointer;
}

.report-visualconstructor-view-miniature-close:hover {
    opacity: 1;
}

.report-visualconstructor-view-miniature-description {
    margin-top: 20px;
    width: 100%;
    font-size: 12px;
}

.report-visualconstructor-view-miniature-text {
    height: 31px;
    max-width: 250px;
    font: 11px/15px 'OpenSans-SemiBold', "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #828B95;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.report-visualconstructor-view-miniatures-border-box {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    padding: 20px 0;
    border-top: 1px solid rgba(159,166,174,.20);
}

.report-visualconstructor-view-miniatures-border-box .report-visualconstructor-view-miniature-show-all {}

.report-pattern-widget-remove-confirm-dialog-content-container
{

}