.sale-shipment-basket-barcodes-dialog .sale-order-shipment-barcode,
.sale-shipment-basket-barcodes-dialog .sale-order-shipment-barcode.exists,
.sale-shipment-basket-barcodes-dialog .sale-order-shipment-barcode.not-exists{
	border: none;
}

.sale-shipment-basket-barcodes-dialog .sale-order-shipment-barcode.exists input{
	border-color: green;
}

.sale-shipment-basket-barcodes-dialog .sale-order-shipment-barcode.not-exists input{
	border-color: red;
}

.sale-shipment-basket-barcodes-dialog .sale-shipment-basket-barcodes-dialog-product-name,
.sale-shipment-basket-barcodes-dialog .sale-shipment-basket-barcodes-dialog-store-name{
	padding: 5px;
	border-bottom: solid 1px #dce7ed;
}

.sale-shipment-basket-barcodes-dialog th{
	font-weight: normal;
	font-style: italic;
	background-color: #e2ebee;
	text-align: center;
}

