.crm-iframe-popup.crm-detail-page.template-bitrix24.crm-iframe-popup-no-scroll.crm-order-shipment-voucher-wrapper  { padding: 0 15px; }
.crm-order-shipment-voucher-wrapper .crm-entity-card-container{
	width:100%;
	max-width: 500px;
}
