.sitemap-menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 33px;
	height: 62px;
	vertical-align: middle;
	cursor: pointer;
	overflow: hidden;
	opacity: 0.3;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.sitemap-menu:hover,
.sitemap-menu.sitemap-menu-open {
	opacity: 1;
}

.sitemap-menu-lines {
	display: block;
	position: absolute;
	top: 30px;
	left: 9px;
	right: 8px;
	height: 2px;
	background: #fff;
	-webkit-transition: background 0s .3s;
	transition: background 0s .3s;
}

.sitemap-menu.sitemap-menu-open .sitemap-menu-lines {
	background: transparent;
}

.sitemap-menu-open .sitemap-menu-lines {
	background: transparent;
}

.sitemap-menu-lines:before {
	top: -5px;
	-webkit-transition-property: top, -webkit-transform;
	transition-property: top, transform;
}

.sitemap-menu-open .sitemap-menu-lines:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.sitemap-menu-lines:after {
	bottom: -5px;
	-webkit-transition-property: bottom, -webkit-transform;
	transition-property: bottom, transform;
}

.sitemap-menu-open .sitemap-menu-lines:after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sitemap-menu-lines:after,
.sitemap-menu-lines:before {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	content: "";

	-webkit-transition-duration: .3s, .3s;
	transition-duration: .3s, .3s;
	-webkit-transition-delay: .3s, 0s;
	transition-delay: .3s, 0s;
}

.sitemap-menu-open .sitemap-menu-lines:after,
.sitemap-menu-open .sitemap-menu-lines:before {
	-webkit-transition-delay: 0s, .3s;
	transition-delay: 0s, .3s;
}

.sitemap-window {
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2500;
	overflow-y: auto;
	transform: translateY(-110%);
}

.sitemap-window-open {
}

.sitemap-window-overlay {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 0.65);
	z-index: 2450;
}

.sitemap-content {
	display: none;
	-moz-columns: 250px auto;
	-webkit-columns: 250px auto;
	columns: 250px auto;
	padding: 32px 30px 30px 24px;
}

.sitemap-window .sitemap-content {
	display: block;
}

.sitemap-section {
	width: 250px;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
	padding-bottom: 10px;
}

.sitemap-section-title {
	display: block;
	padding: 5px 21px 8px 20px;

	font-size: 22px;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 25px;
}

.sitemap-section-item {
	display: block;
	font-size: 14px;
	font-family: "Helvetica New", Helvetica, Arial, sans-serif;
	color: #535c69;
	padding: 11px 21px 12px 21px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 25px;
	margin-bottom: 4px;
}

.sitemap-section-item:last-child {
	margin-bottom: 13px;
}

.sitemap-section-item:hover,
.sitemap-section-title:hover {
	background: #f5f5f6;
	color: #000;
}

.sitemap-close-link {
	display: block;
	position: absolute;
	width: 60px;
	height: 45px;
	right: 0;
	top: 0;
	color: #788089;
	cursor: pointer;
	font-size: 15px;
}

.sitemap-close-link:hover {
	color: #12b2ea;
}

.sitemap-close-link:hover:before,
.sitemap-close-link:hover:after {
	background: #505a65;
}

.sitemap-close-link:before,
.sitemap-close-link:after {
	display: block;
	width: 15px;
	height: 2px;
	right: 23px;
	top: 30px;
	position: absolute;
	content: "";
	background: #a8adb2;
}

.sitemap-close-link:before {
	transform: rotate(45deg);
}

.sitemap-close-link:after {
	transform: rotate(-45deg);
}