.bx-vi-block form
{
	margin: 0;
	padding: 15px;
	background: #f8f8f8;
	border-radius: 4px 0 0 4px;
}
.bx-vi-block .webform-small-button.webform-small-button-wait
{
	position: relative;
}
.bx-vi-block .webform-small-button span.wait {
	display: none;
}
.bx-vi-block .webform-small-button.webform-small-button-wait span.wait {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background:url("/bitrix/components/bitrix/main.post.form/templates/.default/images/waiter-button-light.gif") no-repeat 0 0;
	background-position: 50% 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top:0;
	left:0;
}


.bx-vi-options dl, .bx-vi-options dt, .bx-vi-options dd
{
	margin: 0;
	padding: 0;
}
.bx-vi-options dl, .bx-vi-options dt
{
	padding-bottom: 15px;
}
.bx-vi-options dd span
{
	color: #5e5e5e;
	margin-left: 15px;
	font-size: 90%;
}

.bx-vi-filter input{
	width: 260px;
}


.bx-vi-block form
{
	margin: 0;
	padding: 15px;
	background: #f8f8f8;
	border-radius: 4px 0 0 4px;
}
.bx-vi-block .webform-small-button.webform-small-button-wait
{
	position: relative;
}
.bx-vi-block .webform-small-button span.wait {
	display: none;
}
.bx-vi-block .webform-small-button.webform-small-button-wait span.wait {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background:url("/bitrix/components/bitrix/main.post.form/templates/.default/images/waiter-button-light.gif") no-repeat 0 0;
	background-position: 50% 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top:0;
	left:0;
}

.bx-vi-options dl, .bx-vi-options dt, .bx-vi-options dd
{
	margin: 0;
	padding: 0;
}
.bx-vi-options dl, .bx-vi-options dt
{
	padding-bottom: 15px;
}
.bx-vi-options dd span
{
	color: #5e5e5e;
	margin-left: 15px;
	font-size: 90%;
}

.bx-vi-filter input{
	width: 260px;
}


