.bx-timeman-timecontrol
{
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444444;
	border: 5px solid #e591a6;
	border-top: 0;
	height: 330px;
	width: 730px;
	display: inline-block;
	overflow: hidden;
}

.bx-timeman-timecontrol-title {
	height: 30px;
	line-height: 30px;
	background-color: #e591a6;
}
.bx-timeman-timecontrol-title-text {
	display: inline-block;
	float: left;
	color: #fff;
	padding-left: 5px;
}
.bx-timeman-timecontrol-title-domain {
	display: inline-block;
	float: right;
	color: #f9c6d2;
	font-size: 13px;
	padding-right: 5px;
}
.bx-timeman-timecontrol-title-close {
	display: inline-block;
	float: right;
	color: #f9c6d2;
	font-size: 13px;
	padding-right: 5px;
	cursor: pointer;
}

.bx-timeman-timecontrol-box {
	height: 100%;
}
.bx-timeman-timecontrol-image {
	display: inline-block;
	width: 200px;
	height: 300px;
	background: url(../images/bg.png);
}
.bx-timeman-timecontrol-content {
	display: inline-block;
	width: 505px;
	height: 300px;
	margin-left: 14px;
	padding-top: 20px;
	vertical-align: top;
	box-sizing: border-box;
}

.bx-timeman-timecontrol-message {}
.bx-timeman-timecontrol-message-avatar {
	background: url(../images/avatar-default.png);
	background-color: #545D69;
	background-size: cover;
	width: 34px;
    height: 34px;
	border: 1px solid #ccc;
	border-radius: 50%;
	display: inline-block;
}
.bx-timeman-timecontrol-message-box {
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}

.bx-timeman-timecontrol-message-marta {}
.bx-timeman-timecontrol-message-marta .bx-timeman-timecontrol-message-avatar {
	background-image: url(../images/avatar-marta.png);
	background-color: #e591a6;
	margin-top: 2px;
}

.bx-timeman-timecontrol-message-marta-1 { position: relative; }
.bx-timeman-timecontrol-message-marta-2 {}

.bx-timeman-timecontrol-message-user {
	padding-top: 22px;
}
.bx-timeman-timecontrol-message-user-type-selector {
	padding-top: 9px;
}

.bx-timeman-timecontrol-time-help {
    border-radius: 50%;
    background-color: #e591a6;
    font-weight: bold;
    color: #fff;
    width: 14px;
    height: 14px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    cursor: pointer;
}

.bx-timeman-timecontrol-selector {
	display: inline-block;
	margin-left: 22px;
	cursor: pointer;
}
.bx-timeman-timecontrol-selector:first-child {
	margin: 0;
}
.bx-timeman-timecontrol-selector-radio {
	border: 2px solid #b6b7b7;
	background-color: #faf9f9;
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
}
.bx-timeman-timecontrol-selector:hover .bx-timeman-timecontrol-selector-radio {
	border-color: #37bd32;
}
.bx-timeman-timecontrol-selector-selected .bx-timeman-timecontrol-selector-radio {
	border-color: #37bd32;
}
.bx-timeman-timecontrol-selector-focused .bx-timeman-timecontrol-selector-radio {
	border-color: #37bd32;
}
.bx-timeman-timecontrol-selector-selected .bx-timeman-timecontrol-selector-radio::before {
	content: "";
	height: 9px;
	width: 9px;
	position: absolute;
	background-color: #37bd32;
	border-radius: 50px;
	margin-top: 3px;
	margin-left: 3px;
}
.bx-timeman-timecontrol-selector-radio-text {
	display: inline-block;
	vertical-align: top;
	line-height: 18px;
	margin-left: 3px;
}
.bx-timeman-timecontrol-selector-radio-input {
	width: 15px;
    height: 15px;
    padding: 0;
    vertical-align: top;
    margin: 0;
	opacity: 0;
    margin-top: -2px;
    margin-left: 1px;
	position: absolute;
}

.bx-timeman-timecontrol-message-user-comment {
    width: 430px;
    height: 116px;
    padding-top: 10px;
    padding-left: 1px;
    box-sizing: border-box;
}
.bx-timeman-timecontrol-message-user-comment-textarea {
	width: 100%;
	height: 100%;
	resize: none;
	padding: 5px 10px;
	box-sizing: border-box;
	outline:0px;
	border: 1px solid #bbbbbb;
	transition: all .2s;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bx-timeman-timecontrol-message-user-comment-textarea:focus {
	border-color: #37bd32;
}

.bx-timeman-timecontrol-message-user-commit {
    padding-left: 48px;
    padding-top: 12px;
 }
.bx-timeman-timecontrol-message-user-commit-button {
	display: inline-block;
	vertical-align: top;
    padding-top: 3px;
}
.bx-timeman-timecontrol-message-user-commit-checkbox {
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
    padding-left: 15px;
}

.bx-timeman-timecontrol-button-input {
	background-color: #e591a6;
	border: 2px solid #e591a6;
	color: #fff;
	border-radius: 5px;
	padding: 0 10px;
	margin: 0;
	font-size: 13px;
	line-height: 28px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	transition: .3s all;
	opacity: 1;
	max-width: 168px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.bx-timeman-timecontrol-button-input:focus-within,
.bx-timeman-timecontrol-button-input:hover {
	border-color: #ea6d8d;
}

.bx-timeman-timecontrol-message-user-commit-button-disabled .bx-timeman-timecontrol-button-input {
	opacity: .5;
}

.bx-timeman-timecontrol-message-user-commit-checkbox {
	display: inline-block;
}

.bx-timeman-timecontrol-checkbox {
	display: inline-block;
	margin-left: 22px;
	cursor: pointer;
}
.bx-timeman-timecontrol-checkbox:first-child {
	margin: 0;
}
.bx-timeman-timecontrol-checkbox-input {
	border: 2px solid #b6b7b7;
	background-color: #faf9f9;
	width: 12px;
	height: 12px;
	display: inline-block;
	position: relative;
}
.bx-timeman-timecontrol-checkbox:hover .bx-timeman-timecontrol-checkbox-input {
	border-color: #37bd32;
}
.bx-timeman-timecontrol-checkbox-input-checked {
	border-color: #37bd32;
}
.bx-timeman-timecontrol-checkbox-input-checked::before {
	content: "";
	height: 6px;
	width: 6px;
	position: absolute;
	background-color: #37bd32;
	margin-top: 3px;
	margin-left: 3px;
}

.bx-timeman-timecontrol-checkbox-text {
	display: inline-block;
	vertical-align: top;
	line-height: 17px;
	margin-left: 3px;
	font-size: 13px;
}
.bx-timeman-timecontrol-checkbox-input-input {
	width: 12px;
    height: 12px;
    padding: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
}

#bx-timeman-timecontrol-tooltip,
#bx-timeman-timecontrol-confirm,
#bx-timeman-timecontrol-dialog { -webkit-animation: imOpacityFrom05To1 .15s 1; animation: imOpacityFrom05To1 .15s 1; }
#bx-timeman-timecontrol-dialog { padding: 0; }
#bx-timeman-timecontrol-dialog .popup-window-content { margin-bottom: -11px; }

.bx-timeman-timecontrol-confirm { padding: 10px 10px 7px 10px; width: 430px; font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif; color:#444444;}
.bx-timeman-timecontrol-confirm-without-buttons { padding: 10px 10px 15px 10px; font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif; color:#444444; }
.bx-timeman-timecontrol-confirm-title { font-weight: bold; font-size: 15px; text-align: center; margin-bottom: 4px;}