a.bx-form-menu
{
	display: inline-block;
	height: 33px;
	margin-right: 4px;
	vertical-align: top;
}

div.bx-crm-view-tab-block a.bx-form-menu
{
	margin: 9px 1px 1px 1px;
	width: 27px;
	height: 19px;
	float: right;
}

div.bx-crm-edit-form
{
	position: relative;
}

div.bx-crm-edit-form a.bx-form-menu span
{
	background-position: 2px 2px;
	background-repeat: no-repeat;
	background-image:url(images/buttons/menu.gif);
	border: 0 none;
	cursor: pointer;
	display: inline-block;
	height: 17px;
	width:25px;
}

div.bx-crm-edit-form-menu-wrapper
{
	position: absolute;
	top:11px;
	right: 20px;
	z-index: 200;
}

div.bx-crm-view-tab-block a.bx-context-button:hover
{
	border:1px solid #AEB6C2;
	background-color:#DBE3F2;
	margin: 8px 0 0 0;
	width: 27px;
	height: 19px;
	float: right;
}

/* settings window */
option.bx-section {background-color:#E8E8E8 !important;}

div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.form-settings
{
	background: url("images/buttons/settings.gif") 0 0 !important;
}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.form-settings-off
{
	background: url("images/buttons/settings_off.gif") 0 0 !important;
}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.form-settings-on
{
	background: url("images/buttons/settings_on.gif") 0 0 !important;
}

.crm-offer-tab-table tr:hover td {
	background-color: inherit;
}

.interface_form_recur_replication-params {
	opacity: 1;
}
.interface_form_recur_replication-params.nodisplay {
	display: none;
}
.interface_form_recur_replication-params.invisible{
	opacity: 0;
}

.crm-offer-item-inp-int {
	width: 50px;
}

.crm-offer-item-inp-int .crm-offer-item-inp {
	width: auto;
}

.replication-panel-daily .bx-crm-edit-recur-tab.daily,
.replication-panel-weekly .bx-crm-edit-recur-tab.weekly,
.replication-panel-monthly .bx-crm-edit-recur-tab.monthly,
.replication-panel-yearly .bx-crm-edit-recur-tab.yearly {
	background: #bceefc;
}

.bx-crm-edit-recur-tab-container {
	background: #eeeff1;
	border-radius: 2px;
	font-size: 0;
	display: inline-block;
}

.bx-crm-edit-recur-tab {
	display: inline-block;
	line-height: 35px;
	background: #eeeff1;
	padding: 0 17px;
	border-radius: 2px;
	font-size: 14px;
	color: #535c69;
	cursor: pointer;

	-webkit-transition: background 0.3s linear;
	transition: background 0.3s linear;
}

.interface_form_recur_option-tab-active, .interface_form_recur_option-tab:hover  {
	background: #bceefc;
}

.interface_form_recur_replication-panel {
	-webkit-transition: height 0.2s linear;
	transition: height 0.2s linear;
	overflow: hidden;
}

.recur-options-field .interface_form_recur_options-field-left {
	display: inline-block;
	vertical-align: top;
	margin: 0 30px 5px 0;
}

.recur-options-field .interface_form_recur_options-field {
	margin: 10px 0;
}

.recur-options-field .interface_form_recur_options-field.interface_form_recur_options-field-nol {
	display: table;
}

.recur-options-field .interface_form_recur_replication-panel .interface_form_recur_options-field {
	padding: 0 0 10px 0;
	margin: 0;
}

.recur-options-field .interface_form_recur_options-field-left {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 2px 0;
}

.interface_form_recur_-main-clock-monkeyfix
{
	visibility: hidden;
	height: 0;
	width: 0;
	overflow: hidden;
	display: inline-block;
	margin-top: -3px;
	margin-left: -7px;
}

.interface_form_recur_options-inp-container-timer:after {
	content: '';
	position: absolute;
	width: 18px;
	height: 15px;
	background: url(/bitrix/js/interface_form_recur_s/css/images/media.png) no-repeat 0 -315px;
	right: 6px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
	opacity: 0.7;
}

.interface_form_recur_options-timezone-indicator {
	background: url(/bitrix/js/interface_form_recur_s/css/images/media.png) no-repeat 0 -330px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: 0;
	width: 18px;
	height: 19px;
	font-size: 0;
	cursor: help;
}

span.webform-button.disabled {
	opacity: 0.5;
	cursor: not-allowed !important;
}

span.webform-button.disabled input {
	cursor: not-allowed !important;
}