.task-mobile-no-data {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	box-sizing: border-box;
	min-height: 550px;
}

.task-mobile-no-data-image {
	margin: auto auto 45px auto;
	background-repeat: no-repeat;
	background-position: center;
}

.task-mobile-no-data-text {
	color: #515e68;
	opacity: .5;
	font: 18px/24px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 270px;
	text-align: center;
}

.task-mobile-no-data-comment, .task-comments-block {
	/*background: #eef2f4 url(images/pattern-light-grey-v2.svg) 0 0 repeat;*/
}

.task-mobile-no-data-comment .task-mobile-no-data-image {
	width: 74px;
	height: 68px;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2275%22%20height%3D%2269%22%3E%3Cpath%20fill%3D%22%23AEB5BD%22%20fill-rule%3D%22evenodd%22%20d%3D%22M17.19%2016.107h31.372c.636%200%201.15.515%201.15%201.15v3.657a1.15%201.15%200%200%201-1.15%201.15H17.191a1.15%201.15%200%200%201-1.15-1.15v-3.657c0-.635.515-1.15%201.15-1.15zm0%2012.95h31.372c.636%200%201.15.515%201.15%201.15v3.658a1.15%201.15%200%200%201-1.15%201.15H17.191a1.15%201.15%200%200%201-1.15-1.15v-3.658c0-.635.515-1.15%201.15-1.15zM5.135%2042.941c0%204.491%203.749%208.145%208.356%208.145h12.654v9.528c0%201.974.162%202.612.201%202.726%200%20.001.082.03.289.03%201.51-.086%205.717-5.339%207.976-8.16a208.223%20208.223%200%200%201%202.676-3.294l.695-.83h23.393c4.61%200%208.359-3.654%208.359-8.145v-29.57c0-4.49-3.75-8.143-8.359-8.143H13.49c-4.607%200-8.356%203.652-8.356%208.144V42.94zM13.49.566h47.884c7.165%200%2012.992%205.745%2012.992%2012.806V42.94c0%207.062-5.827%2012.807-12.992%2012.807h-21.23c-.639.78-1.283%201.585-1.925%202.387-4.254%205.312-7.927%209.898-11.58%209.898-5.129%200-5.129-5.198-5.129-7.419v-4.866h-8.02C6.328%2055.748.5%2050.003.5%2042.941v-29.57C.5%206.312%206.328.567%2013.49.567z%22%20opacity%3D%22.3%22/%3E%3C/svg%3E);
}

.task-mobile-no-data-checklist .task-mobile-no-data-image {
	width: 65px;
	height: 59px;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2265%22%20height%3D%2260%22%3E%3Cg%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.2%22%20transform%3D%22translate%280%20.536%29%22%3E%3Crect%20width%3D%2242.106%22%20height%3D%225.664%22%20x%3D%2222.164%22%20y%3D%224.925%22%20rx%3D%221%22/%3E%3Crect%20width%3D%2242.106%22%20height%3D%225.664%22%20x%3D%2222.164%22%20y%3D%2227.089%22%20rx%3D%221%22/%3E%3Crect%20width%3D%2242.106%22%20height%3D%225.664%22%20x%3D%2222.164%22%20y%3D%2246.79%22%20rx%3D%221%22/%3E%3Cpath%20fill-rule%3D%22nonzero%22%20d%3D%22M4.679%204.679v7.705h7.705V4.679H4.679zm0-4.679h7.705a4.679%204.679%200%200%201%204.679%204.679v7.705a4.679%204.679%200%200%201-4.68%204.679H4.68A4.679%204.679%200%200%201%200%2012.383V4.68A4.679%204.679%200%200%201%204.679%200zm0%2024.38v7.705h7.705V24.38H4.679zm0-4.679h7.705a4.679%204.679%200%200%201%204.679%204.68v7.704a4.679%204.679%200%200%201-4.68%204.679H4.68A4.679%204.679%200%200%201%200%2032.084V24.38a4.679%204.679%200%200%201%204.679-4.679zm0%2026.843v7.705h7.705v-7.705H4.679zm0-4.679h7.705a4.679%204.679%200%200%201%204.679%204.68v7.704a4.679%204.679%200%200%201-4.68%204.679H4.68A4.679%204.679%200%200%201%200%2054.248v-7.704a4.679%204.679%200%200%201%204.679-4.679z%22/%3E%3C/g%3E%3C/svg%3E);
}

.task-mobile-no-data-file .task-mobile-no-data-image {
	width: 64px;
	height: 74px;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2264%22%20height%3D%2272%22%3E%3Cpath%20fill%3D%22%23E6E8EA%22%20d%3D%22M60.297%2027.37L39.34%206.412c-8.027-8.027-22.514-9.099-31.72.106-9.427%209.428-8.745%2023.284-.208%2031.822L34.95%2065.877c6.81%206.81%2016.874%208.161%2024.116.92%207.071-7.072%205.844-17.764-.2-23.808L33.487%2017.612c-4.02-4.021-10-4.363-14.568.205-4.547%204.547-4.416%2010.975-.514%2014.877L35.56%2049.847a3.038%203.038%200%200%200%204.297-4.297L22.703%2028.397c-1.567-1.568-1.62-4.15.514-6.283%202.078-2.078%204.224-1.956%205.974-.205l25.377%2025.377c3.86%203.86%204.653%2010.761.2%2015.213-4.576%204.577-10.87%203.732-15.521-.919L11.709%2034.043c-6.253-6.254-6.746-16.273.209-23.228%206.679-6.679%2017.341-5.89%2023.125-.106L56%2031.667a3.038%203.038%200%201%200%204.297-4.297z%22/%3E%3C/svg%3E);
}