.bx-sender-stat-wrapper {
	padding: 13px 30px;
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bx-sender-stat {
	width: 100%;
	min-height: 800px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #fff;
}

.bx-sender-block-first {
	display: block;
	/*overflow: hidden;*/
	margin: 0 0 20px 0;
	padding: 7px 0 27px 0;
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bx-sender-last-postings {
	display: block;
	overflow: hidden;
	margin: 30px 0 10px 0;
}


.bx-sender-min-width-80 {
	/*min-width: 80px;*/
	display: inline-block;
}

.bx-sender-click-map {
	border: 1px solid #ced7d8;
}

.bx-sender-click-map-frame {
	border: none;
}

.bx-sender-block {
	display: block;
	overflow: hidden;
	margin: 0 0 10px 0;
	/*padding: 0 24px;*/
}

.bx-sender-block-left-padding {
	padding: 0 24px 0 24px;
}
.bx-sender-block-top-padding {
	padding-top: 10px;
}

.bx-sender-title {
	display: block;
	padding: 0 0 14px 0;
	margin: 0 0 30px 0;
	font: 18px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #000;
	border-bottom: 1px solid #ededed;
}

.bx-sender-block-view-data {
	width: 100%;
	height: 500px;
	display: none;
}

.bx-sender-block-view-text {
	width: 100%;
	height: 500px;
	line-height: 300px;
	text-align: center;
	font-size: 38px;
	color: #bbbbbb;
}

.bx-sender-mailfilter {
	display: block;
	height: 48px;
	padding: 0 24px;
	margin: 0 0 24px 0;
	/*margin: 0 -24px;*/
	overflow: hidden;
	background: #33ade1;
	white-space: nowrap;
}

.bx-sender-mailfilter-half {
	float: left;
	overflow: hidden;
	height: 100%;
	width: 50%;
}

.bx-sender-mailfilter-half-right {
	text-align: right;
}

.bx-sender-mailfilter-half-right .bx-sender-mailfilter-item {
	margin: 0;
}

.bx-sender-mailfilter-half:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 1px;
}

.bx-sender-mailfilter-item {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 14px;
	margin: 0 12px 0 0;
	border-bottom: 2px dotted transparent;
}

.bx-sender-mailfilter-item-total {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	line-height: 48px;
	height: 48px;
	min-width: 90px;
}

.bx-sender-mailfilter-item-total .bx-sender-loader-sm {
	margin: 5px 0 0 0;
}

.bx-sender-mailfilter-item-light {
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px 0 0;
	opacity: .5;
	color: #fff;
	border-bottom: 2px dotted transparent;
}

.bx-sender-mailfilter-item-link {
	display: inline-block;
	vertical-align: middle;
	margin: 0 28px 0 0;
	position: relative;
	cursor: pointer;
	color: #fff;
	border-bottom: 2px dotted #8fd2ef;
}

.bx-sender-mailfilter-item-link:after {
	content: '';
	position: absolute;
	border: 5px solid transparent;
	top: 6px;
	right: -14px;
	border-top: 5px solid #8fd2ef;
}

.bx-sender-mailfilter-result {
	display: block;
	overflow: hidden;
	padding: 40px 0;
	/*margin: 0 -17px;*/
	font-size: 0;
}

.bx-sender-mailfilter-result-item {
	display: inline-block;
	vertical-align: top;
	width: 15%;
	margin: 0 5% 0 0;
	text-align: center;
}

.bx-sender-mailfilter-result-item a {
	text-decoration: none;
}

.bx-sender-mailfilter-result-item.bx-sender-mailfilter-4-items {
	width: 25%;
}

.bx-sender-mailfilter-result-item.bx-sender-mailfilter-2-items {
	width: 45%;
	margin: 0;
}

.bx-sender-mailfilter-result-item.bx-sender-mailfilter-2-items:first-child {
	margin: 0 10% 0 0;
}

.bx-sender-mailfilter-result-title {
	display: block;
	padding: 0 0 6px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #E9EDEE;
	font-size: 12px;
	color: rgba(47,58,69,.7);
	text-align: left;
}

.bx-sender-loader {
	position: relative;
	color: transparent !important;
}

.bx-sender-loader:after {
	content: '' !important;
}

.bx-sender-loader .bx-sender-loader-sm {
	display: block;
}

.bx-sender-mailfilter-result-total {
	position: relative;
	display: block;
	height: 46px;
	padding: 0;
	margin: 0;
	font-size: 40px;
	color: #000;
	text-align: right;
	transition: opacity .3s;
}

.bx-sender-mailfilter-result-total:hover {
	opacity: .5;
}

.bx-sender-mailfilter-result-total-proc:after {
	content: '%';
	display: inline-block;
	margin: 0 0 0 5px;
	font-size: 23px;
	color: #000;
	opacity: .5;
}

.bx-sender-releases {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 0 28px 0;
}

.bx-sender-last-releases {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.bx-sender-releases-item {
	display: block;
	overflow: hidden;
	margin: 0 0 18px 0;
}

.bx-sender-releases-item:last-child {
	margin: 0;
}

.bx-sender-releases-item-info {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0 0 7px 0;
	font-size: 13px;
	color: #000;
	opacity: .7;
}

.bx-sender-releases-section {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.bx-sender-releases-section:hover {
	text-decoration: underline;
}

.bx-sender-releases-title {
	clear: both;
	float: left;
	overflow: hidden;
	color: #1f69bc;
	font-size: 16px;
	text-decoration: none;
}

.bx-sender-releases-title:hover {
	text-decoration: underline;
}

.bx-sender-new-releases {
	float: right;
	overflow: hidden;
	min-width: 145px;
	padding-left: 10px;
	margin: 0 auto;
}

.bx-sender-new-releases:before {
	content: '';
	display: block;
	overflow: hidden;
	width: 100%;
	height: 115px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20191%2064%22%3E%3Cpath%20fill%3D%22%2333ade1%22%20d%3D%22M133.295%2C0H57.668a5.65%2C5.65%2C0%2C0%2C0-5.705%2C5.593V58.406A5.65%2C5.65%2C0%2C0%2C0%2C57.668%2C64h75.627A5.651%2C5.651%2C0%2C0%2C0%2C139%2C58.406V5.594A5.651%2C5.651%2C0%2C0%2C0%2C133.295%2C0ZM82.862%2C37.479L95.342%2C45.8a0.27%2C0.27%2C0%2C0%2C0%2C.3%2C0l12.226-8.256a0.27%2C0.27%2C0%2C0%2C1%2C.338.03l21.056%2C20.653a0.26%2C0.26%2C0%2C0%2C1-.189.444H61.889a0.26%2C0.26%2C0%2C0%2C1-.188-0.444l21.16-20.743h0ZM57.4%2C54.268V21a0.266%2C0.266%2C0%2C0%2C1%2C.415-0.215l20.2%2C13.461a0.257%2C0.257%2C0%2C0%2C1%2C.039.4l-20.2%2C19.807A0.266%2C0.266%2C0%2C0%2C1%2C57.4%2C54.268Zm55.459-20.1%2C20.284-13.683a0.265%2C0.265%2C0%2C0%2C1%2C.415.214v33.57a0.266%2C0.266%2C0%2C0%2C1-.453.184L112.823%2C34.565A0.257%2C0.257%2C0%2C0%2C1%2C112.861%2C34.167ZM133.295%2C5.333a0.262%2C0.262%2C0%2C0%2C1%2C.265.26v8.37l-0.117-.162L95.62%2C39.337a0.27%2C0.27%2C0%2C0%2C1-.3%2C0l-37.8-25.195a0.259%2C0.259%2C0%2C0%2C1-.116-0.215V5.594a0.263%2C0.263%2C0%2C0%2C1%2C.266-0.26h75.627Z%22/%3E%3Cpath%20fill%3D%22%2333ade1%22%20d%3D%22M0%2C3.84H35.075V8.96H1.3Z%22/%3E%3Cpath%20fill%3D%22transparent%22%20d%3D%22M156%2C3.84h35.075V8.96H157.3Z%22/%3E%3Cpath%20fill%3D%22%2333ade1%22%20d%3D%22M5.2%2C16.64H35.075v5.12H6.5Z%22/%3E%3Cpath%20fill%3D%22%2333ade1%22%20d%3D%22M11.692%2C29.44H35.075v5.12H12.991Z%22/%3E%3C/svg%3E%0A') 15% center no-repeat;
	background-size: 100%;
}

.bx-sender-block-row {
	display: block;
	overflow: hidden;
	font-size: 0;
}

.bx-sender-block-col-2 {
	display: inline-block;
	overflow: hidden;
	padding: 15px 0;
	vertical-align: top;
	width: 45%;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.bx-sender-block-col-margin {
	margin: 0 10% 0 0;
}

.bx-sender-tittle-statistic {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	overflow: hidden;
	margin: 0 0 15px 0;
	white-space: nowrap;
}

.bx-sender-title-statistic-text {
	float: left;
	overflow: hidden;
	font-size: 14px;
	color: #525C69;
	margin: 0 7px 0 0;
	/*opacity: .5;*/
}

.bx-sender-title-statistic-text a {
	text-decoration: none;
	transition: opacity .3s
}

.bx-sender-title-statistic-text a:hover {
	opacity: .5;
}

.bx-sender-title-statistic-text-bold {
	opacity:1;
	font-weight: bold;
}

.bx-sender-title-statistic-number-bold {
	font: bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bx-sender-title-statistic-link {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #1f69bc;
	text-decoration: none;
	cursor: pointer;
}

.bx-sender-title-statistic-link:hover {
	text-decoration: underline;
}

.bx-sender-graph {
	display: block;
	overflow: hidden;
	margin: 30px 0 14px 0;
}

.bx-sender-graph-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 5px 0;
	overflow: hidden;
}

.bx-sender-graph-info-title {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 15px;
	color: #000;
}

.bx-sender-graph-info-param {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 24px;
	height: 27px;
	min-width: 10px;
	text-align: right;
}

.bx-sender-graph-info-param:after {
	content: '%';
}

.bx-sender-graph-scale {
	display: block;
	overflow: hidden;
	height: 13px;
	background: #ebf0f2;
	/*-webkit-box-shadow: inset -1px 2px 0 #e1e9eb;*/
	/*-moz-box-shadow: inset -1px 2px 0 #e1e9eb;*/
	/*box-shadow: inset -1px 2px 0 #e1e9eb;*/
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.bx-sender-graph-scale-inner {
	display: block;
	overflow: hidden;
	height: 13px;
	background-color: #A2CF1B!important;
	/*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;*/
	/*box-shadow: 0 1px 1px rgba(0,0,0,.25), inset 0 1px 0 #cbdc00;*/
	/*border: solid 1px;*/
	-webkit-transition: background-color .4s;
	transition: background-color .4s;
	/*border-color: #97c004 #7ea502 #648900;*/
	/*background-image: -webkit-linear-gradient(bottom, #729e00, #97ba00)!important;*/
	/*background-image: -moz-linear-gradient(bottom, #729e00, #97ba00)!important;*/
	/*background-image: -ms-linear-gradient(bottom, #729e00, #97ba00)!important;*/
	/*background-image: -o-linear-gradient(bottom, #729e00, #97ba00)!important;*/
	/*background-image: linear-gradient(bottom, #729e00, #97ba00)!important;*/
}

.bx-sender-tittle-statistic-proc,
.bx-sender-tittle-statistic-half-text {
	float: left;
	overflow: hidden;
	font-size: 14px;
	color: #525C69;
	opacity: .7;
}

.bx-sender-tittle-statistic-half-proc {
	float: right;
}

.bx-sender-tittle-statistic-proc:after {
	content: '%';
}

.bx-sender-tittle-statistic-line {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 0 4px 0 7px;
	border-bottom: 1px solid #e2eaec;
}

.bx-sender-stat-popup-item-chain {
	display: block;
	overflow: hidden;
	height: auto !important;
	padding: 5px 0;
}

.bx-sender-stat-popup-item-chain:hover {
	background: #3a92fd;
}

.bx-sender-stat-popup-item-chain:hover .bx-sender-stat-popup-item-chain-name,
.bx-sender-stat-popup-item-chain:hover .bx-sender-stat-popup-item-chain-date {
	color: #fff;
}

.bx-sender-stat-popup-item-chain .menu-popup-item-icon {
	display: none;
}

.bx-sender-stat-popup-item-chain-date {
	display: block;
	overflow: hidden;
	font-size: 12px;
	padding: 2px 0;
	line-height: normal;
	color: #a4a4a4;
}

.bx-sender-stat-popup-item-chain-name {
	display: block;
	overflow: hidden;
	width: 100%;
	font-size: 12px;
	padding: 2px 0;
	line-height: normal;
	color: #000;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.bx-gadget-speed-ruler {
	position: absolute;
	top: 50%;
	width: 100%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22171%22%20height%3D%2217%22%20viewBox%3D%220%200%20171%2017%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%200h1v17H0V0zm8.094%200h1v17h-1V0zm8.093%200h1v17h-1V0zm8.094%200h1v17h-1V0zm8.094%200h1v17h-1V0zm8.094%200h1v17h-1V0zm8.093%200h1v17h-1V0zm8.095%200h1v17h-1V0zm8.094%200h1v17h-1V0zm8.092%200h1v17h-1V0zm8.094%200h1v17h-1V0zm9.105%200h1v17h-1V0zm8.095%200h1v17h-1V0zm8.093%200h1v17h-1V0zm8.094%200h1v17h-1V0zm8.093%200h1v17h-1V0zm8.094%200h1v17h-1V0zm8.092%200h1v17h-1V0zm8.094%200h1v17h-1V0zm8.093%200h1v17h-1V0zm8.093%200h1v17h-1V0zm8.094%200h1v17h-1V0z%22%20opacity%3D%22.3%22/%3E%3C/svg%3E');
	background-repeat: repeat;
	background-position: right 0;
	height: 17px;
	transform: translate(0,-50%);
}

.bx-gadget-speed-ruler-end,
.bx-gadget-speed-ruler-start {
	background-color: #fff;
	display: inline-block;
	padding: 0 5px 0 0;
}

.bx-gadget-speed-ruler-end {
	float: right;
	text-align: right;
	padding: 0 0 0 5px;
}

.bx-gadget-speed-graph {
	position: relative;
	height: 47px;
	font-size: 0;
}

.bx-gadget-speed-graph-box {
	display: inline-block;
	height: 47px;
	vertical-align: top;
	width: 20%;
}

.bx-gadget-speed-graph-part {
	display: inline-block;
	margin: 0 0 12px 0;
	width: 100%;
	text-align: center;
}

.bx-gadget-speed-graph-part:before {
	content: '';
	display: inline-block;
	height: 47px;
	vertical-align: middle;
	width: 14px;
}

.bx-gadget-speed-graph-text {
	display: block;
	font: bold 9px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #2F3A45;
	text-transform: uppercase;
	text-align: center;
}

.bx-gadget-speed-graph-varyfast {
	background-color: #2FC6F6;
	border-radius: 0 3px 3px 0;
}
.bx-gadget-speed-graph-fast {
	background-color: #9DCF00;
}
.bx-gadget-speed-graph-notfast {
	background-color: #F9E900;
}
.bx-gadget-speed-graph-slow {
	background-color: #FFA900;
}
.bx-gadget-speed-graph-veryslow {
	background-color: #FF5752;
	border-radius: 3px 0 0 3px;
}

.bx-gadget-speed-pointer {
	position: absolute;
	top: 0;
	left: -15%;
	-webkit-box-shadow: 0 2px 3px rgba(47,58,69,.22);
	box-shadow: 0 2px 3px rgba(47,58,69,.22);
	-webkit-transition: left 0.55s cubic-bezier(0.23, 1, 0.32, 1);
	transition: left 0.55s cubic-bezier(0.23, 1, 0.32, 1);
}

.bx-gadget-speed-value {
	position: absolute;
	top: -22px;
	left: -22px;
	padding: 5px 8px;
	height: 34px;
	width: 51px;
	background-color: #545C6A;
	font: bold 14px/26px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: 0 2px 8px rgba(47,58,69,.56);
	box-shadow: 0 2px 8px rgba(47,58,69,.56);
	box-sizing: border-box;
}

.bx-gadget-speed-value:before {
	content: '';
	position: absolute;
	left: 21px;
	bottom: -4px;
	display: block;
	width: 9px;
	height: 9px;
	background-color: #545C6A;
	transform: rotate(45deg);
}

.bx-gadget-speed-value-percent {
	font: bold 9px/26px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bx-gadgets-speed-ready .bx-gadget-speed-waiter {
	opacity: 0;
}


.bx-faceid-tracker-user-loader-item {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.bx-sender-insert {
	display: block;
	position: relative;
	height: 500px;
}

.bx-sender-insert-last-postings {
	height: 186px;
}

.bx-sender-insert-loader .bx-faceid-tracker-loader {
	display: block;
}

.bx-faceid-tracker-loader {
	display: none;
	position: relative;
	height: 100%;
	min-height: 100px;
	width: 100%;
	background: #ccc;
}

.bx-faceid-tracker-loader:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.bx-faceid-tracker-circular {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 120px;
	width: 120px;
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.bx-faceid-tracker-path {
	stroke: #E8EEF0;
	stroke-width: 2;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

.bx-sender-resizer {
	display: block;
	overflow: hidden;
	-webkit-transition: .4s;
	transition: .4s;
}

.bx-sender-loader-sm,
.bx-sender-loader-sm:before,
.bx-sender-loader-sm:after {
	background: #e2ebed;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 6px;
	height: 16px;
	border-radius: 2px;
}
.bx-sender-loader-sm {
	display: none;
	color: #e2ebed;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	border-radius: 2px;
}
.bx-sender-loader-sm:before,
.bx-sender-loader-sm:after {
	position: absolute;
	top: 0;
	content: '';
}
.bx-sender-loader-sm:before {
	left: -12px;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.bx-sender-loader-sm:after {
	left: 12px;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 10px;
	}
	40% {
		box-shadow: 0 -12px;
		height: 16px;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 10px;
	}
	40% {
		box-shadow: 0 -12px;
		height: 16px;
	}
}

.adm-workarea .adm-btn.adm-btn-save.bx-sender-btn {
	display: inline-block;
	font-size: 16px !important;
	height: 31px !important;
	line-height: 32px !important;
	text-shadow: 0 1px rgba(0,0,0,.3);
}

.adm-workarea .adm-btn.adm-btn-save.bx-sender-btn:active {
	height: 31px !important;
	padding: 6px 15px 5px !important;
}

