.b24-tracker-margin {
	margin: 80px 0 0 0;
}

.b24-tracker-body-scroll-off {
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	height: 100%;
}

.b24-tracker-wrapper {
	position: fixed;
	width: 100%;
	z-index: 5004;
	top: 0;
	left: 0;
	right: 0;
}

.b24-tracker-wrapper-down .b24-tracker-wrapper {
	bottom: 0;
	top: auto;
}

.b24-tracker-inner {
	background: rgba(0, 0, 0, .7);
	padding: 8px 28px 16px 24px;
	display: flex;
	align-items: flex-end;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.b24-tracker-title {
	color: #fff;
	opacity: .8;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
}

.b24-tracker-btn-block {
	margin-left: auto;
	display: flex;
}

.b24-tracker-btn {
	display: inline-block;
	box-sizing: border-box;
	margin: 0 12px 0 0;
	padding: 0 20px;
	min-width: 80px;
	height: 39px;
	outline: none;
	border: none;
	border-radius: 2px;
	background-color: #3bc8f5;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font: 600 12px/37px "OpenSans-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 160ms background-color linear, 160ms color linear, 160ms opacity linear, 160ms border-color linear;
}

.b24-tracker-btn:hover {
	background-color: #3eddff;
}

.b24-tracker-btn:active {
	background-color: #12b1e3;
}

.b24-tracker-selector {
	box-sizing: border-box;
	width: 237px;
	height: 32px;
	outline: none;
	border: none;
	background-color: #fff;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%205.65674L1.41406%204.24243L5.65625%208.48511L9.89844%204.24268L11.3125%205.65674L7.07031%209.89917L5.65625%2011.3135L4.24219%209.89941L0%205.65674Z%22%20fill%3D%22%235E6675%22/%3E%0A%3C/svg%3E%0A);
	background-position: right 10px top 8px;
	background-repeat: no-repeat;
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	position: relative;
	display: flex;
	align-items: center;
}

.b24-tracker-selector-disabled {
	cursor: not-allowed;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20opacity%3D%22.3%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%205.65674L1.41406%204.24243L5.65625%208.48511L9.89844%204.24268L11.3125%205.65674L7.07031%209.89917L5.65625%2011.3135L4.24219%209.89941L0%205.65674Z%22%20fill%3D%22%235E6675%22/%3E%0A%3C/svg%3E%0A);
}

.b24-tracker-selector-disabled .b24-tracker-selected {
	opacity: .3;
}

.b24-tracker-selected {
	padding: 0 30px 0 15px;
	width: 237px;
	box-sizing: border-box;
}

.b24-tracker-item-name {
	color: #535c69;
	font: 14px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-left: 24px;
	position: relative;
	width: 237px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.b24-tracker-item-name:before, .b24-tracker-item-name-changed:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.b24-tracker-item-name-changed {
	/*padding-left: 24px;*/
	position: relative;
	margin-left: 44px;
}

.b24-tracker-item-name-changed:after {
	position: absolute;
	width: 14px;
	height: 17px;
	content: '';
	top: -1px;
	left: -30px;
	opacity: .7;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2214%22%20height%3D%225%22%20viewBox%3D%220%200%2014%205%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M10.6299%200.0117188C11.236%200.672526%2011.7601%201.17611%2012.2021%201.52246C12.6442%201.86426%2013.0612%202.11947%2013.4531%202.28809V2.5957C13.002%202.81445%2012.5645%203.09473%2012.1406%203.43652C11.7168%203.77376%2011.2109%204.27051%2010.623%204.92676H10.0967C10.5251%204.01074%2010.974%203.30664%2011.4434%202.81445H0.540039V2.12402H11.4434C11.097%201.68197%2010.8555%201.35384%2010.7188%201.13965C10.582%200.925456%2010.3792%200.549479%2010.1104%200.0117188H10.6299Z%22%20fill%3D%22%23535C69%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
}

.b24-tracker-item-name-google:before {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2251%22%20height%3D%2247%22%20viewBox%3D%220%200%20258%20238%22%3E%0A%20%20%20%20%3Crect%20width%3D%2276%22%20height%3D%22230%22%20x%3D%2252.409%22%20y%3D%223.593%22%20fill%3D%22%23FFB806%22%20transform%3D%22scale%28-1%201%29%20rotate%28-30%200%20456.004%29%22%20rx%3D%2238%22/%3E%0A%20%20%20%20%3Crect%20width%3D%2276%22%20height%3D%22230%22%20x%3D%22132.409%22%20y%3D%223.593%22%20fill%3D%22%233889DB%22%20transform%3D%22rotate%28-30%20170.409%20118.593%29%22%20rx%3D%2238%22/%3E%0A%20%20%20%20%3Crect%20width%3D%2276%22%20height%3D%2276.069%22%20x%3D%2213.926%22%20y%3D%22147.449%22%20fill%3D%22%232B9952%22%20transform%3D%22scale%28-1%201%29%20rotate%28-30%200%20379.275%29%22%20rx%3D%2238%22/%3E%0A%3C/svg%3E%0A);
}

.b24-tracker-item-name-fb:before {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10%2020c5.523%200%2010-4.477%2010-10S15.523%200%2010%200%200%204.477%200%2010s4.477%2010%2010%2010z%22%20fill%3D%22%2338659F%22/%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.297%208.976H7v2.02h1.297V17h2.663v-6.003h1.788s.168-.969.25-2.028H10.97V7.587c0-.206.29-.483.577-.483H13V5h-1.974c-2.795%200-2.73%202.022-2.73%202.324v1.652z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
}

.b24-tracker-item-name-vk:before {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10%2020c5.523%200%2010-4.477%2010-10S15.523%200%2010%200%200%204.477%200%2010s4.477%2010%2010%2010z%22%20fill%3D%22%233871BA%22/%3E%0A%20%20%3Cpath%20d%3D%22M14.942%2013.419a.734.734%200%200%200-.038-.069c-.19-.328-.555-.732-1.094-1.21l-.01-.01-.007-.006-.005-.006h-.006a6.499%206.499%200%200%201-.464-.449c-.118-.146-.145-.294-.08-.443.046-.114.217-.353.515-.718.157-.193.28-.348.372-.465.661-.84.947-1.376.86-1.61l-.035-.054c-.022-.033-.082-.063-.177-.09a.942.942%200%200%200-.367-.014l-1.65.01a.224.224%200%200%200-.114.003l-.074.017-.029.013-.023.017a.25.25%200%200%200-.063.057.37.37%200%200%200-.057.096%208.78%208.78%200%200%201-.613%201.232c-.141.226-.27.423-.39.589a2.847%202.847%200%200%201-.297.367c-.08.078-.153.14-.218.188-.065.048-.114.068-.149.06a5.2%205.2%200%200%201-.097-.021.37.37%200%200%201-.129-.134.58.58%200%200%201-.066-.214%202.273%202.273%200%200%201-.017-.485c.004-.113.006-.19.006-.23%200-.138.003-.289.008-.451.006-.163.01-.291.015-.386.004-.095.006-.196.006-.301%200-.106-.007-.19-.02-.25a.83.83%200%200%200-.06-.175.3.3%200%200%200-.118-.131.679.679%200%200%200-.192-.074A3.981%203.981%200%200%200%209.292%208c-.71-.008-1.166.036-1.369.131a.767.767%200%200%200-.217.164c-.07.08-.079.125-.03.132.23.033.392.111.488.235l.034.066c.027.047.054.131.08.252.027.12.044.254.052.4.019.266.019.494%200%20.684-.02.19-.037.338-.055.443a.857.857%200%200%201-.146.378.097.097%200%200%201-.028.028.446.446%200%200%201-.155.027.373.373%200%200%201-.195-.077%201.358%201.358%200%200%201-.237-.21%202.826%202.826%200%200%201-.278-.376c-.103-.16-.21-.35-.32-.569l-.092-.159a13.443%2013.443%200%200%201-.235-.446%208.42%208.42%200%200%201-.264-.567.363.363%200%200%200-.137-.175l-.029-.016a.63.63%200%200%200-.223-.082l-1.57.01c-.16%200-.269.035-.326.104l-.023.033A.17.17%200%200%200%204%208.5c0%20.04.011.09.034.148.23.514.479%201.01.748%201.489.269.478.503.863.701%201.155.199.292.401.568.607.827.207.26.343.425.41.498.067.073.12.128.157.165l.144.13c.091.088.226.194.403.316.178.122.375.242.59.361.216.119.467.216.753.29.287.075.566.105.837.09h.658a.466.466%200%200%200%20.304-.12l.023-.027a.533.533%200%200%200%20.063-.252%201.73%201.73%200%200%201%20.037-.424c.028-.126.06-.221.097-.285a.702.702%200%200%201%20.22-.24.388.388%200%200%201%20.046-.02c.092-.03.2%200%20.324.085.124.086.24.192.35.317.108.127.24.268.392.425.153.157.286.274.4.35l.115.066c.077.044.176.084.298.12a.67.67%200%200%200%20.32.028l1.467-.022a.69.69%200%200%200%20.338-.069c.08-.045.128-.095.143-.15a.404.404%200%200%200%20.003-.186.662.662%200%200%200-.04-.145z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
}

.b24-tracker-item-name-ya:before {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15.6504%200H0V9.46381V10.4851V16H3.30469V10.4851H4.25V16H7.55469V10.4851H8.36523V12.1191H11.6699V10.4851H15.6504V0Z%22%20fill%3D%22%23FFCE00%22/%3E%0A%3Crect%20x%3D%2212.3105%22%20y%3D%2210.451%22%20width%3D%224.65476%22%20height%3D%224.49362%22%20fill%3D%22%23E0B300%22/%3E%0A%3Crect%20x%3D%224.04688%22%20y%3D%222.7915%22%20width%3D%227.21825%22%20height%3D%221.3617%22%20fill%3D%22%23262022%22/%3E%0A%3Crect%20x%3D%224.04688%22%20y%3D%225.78723%22%20width%3D%227.21825%22%20height%3D%221.3617%22%20fill%3D%22%23262022%22/%3E%0A%3C/svg%3E%0A);
}

.b24-tracker-item-name-ads:before {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10%2020c5.523%200%2010-4.477%2010-10S15.523%200%2010%200%200%204.477%200%2010s4.477%2010%2010%2010z%22%20fill%3D%22%23FFA900%22/%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.313%208.814h-2.75c-.241%200-.438-.2-.438-.443%200-.244.197-.444.438-.444h2.75c.24%200%20.437.2.437.444a.442.442%200%200%201-.438.443zm0%201.647h-2.75c-.241%200-.438-.2-.438-.444%200-.243.197-.443.438-.443h2.75c.24%200%20.437.2.437.443a.442.442%200%200%201-.438.444zm0%201.647h-2.75c-.241%200-.438-.2-.438-.444s.197-.443.438-.443h2.75c.24%200%20.437.2.437.443a.442.442%200%200%201-.438.444zm-6.17-.216c-1.114%200-2.018-.916-2.018-2.046S6.029%207.8%207.144%207.8c1.114%200%202.018.916%202.018%202.046s-.904%202.046-2.018%202.046zM13.5%206.534h-1V4.507A.505.505%200%200%200%2012%204c-.275%200-.5.228-.5.507v2.027h-6c-.825%200-1.5.684-1.5%201.52v4.94c0%20.836.675%201.52%201.5%201.52h8c.825%200%201.5-.684%201.5-1.52v-4.94c0-.836-.675-1.52-1.5-1.52z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
}

.b24-tracker-list {
	position: absolute;
	top: 33px;
	left: 0;
	overflow: hidden;
	box-sizing: border-box;
	min-width: 237px;
	box-shadow: 0 7px 21px rgba(83, 92, 105, .12);
}

.b24-tracker-list-inner {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 300px;
	background: #fff;
}

.b24-tracker-wrapper-down .b24-tracker-list {
	 bottom: 32px;
	 top: auto;
}

.b24-tracker-list-closed .b24-tracker-list {
	height: 0;
}

.b24-tracker-item {
	padding: 8px 20px 8px 15px;
	transition: all .1s linear;
}

.b24-tracker-item:hover {
	background: #f0f0f0;
}

.b24-tracker-search {
	margin-right: 10%;
}

.b24-tracker-channel {
	margin-right: 60px;
}

.b24-tracker-item-name-search, .b24-tracker-item-name-result {
	padding-left: 0;
	transition: color .15s linear;
}

.b24-tracker-item:hover .b24-tracker-item-name-search {
	color: #535c69;
}

.b24-tracker-item:hover .b24-tracker-item-name-changed:after {
	opacity: 1;
}

.b24-tracker-item-name-empty {
	padding-left: 0;
}

.b24-tracker-item-name-result {
	color: #525c69;
	padding-left: 0;
	padding-right: 30px;
}

.b24-tracker-list .b24-tracker-item-name {
	width: 100%;
	max-width: 340px;
}

.b24-tracker-switch {
	background: rgba(255, 255, 255, .15);
	border: 1px solid rgba(255, 255, 255, .44);
	border-radius: 2px;
	width: 39px;
	height: 37px;
	position: relative;
	cursor: pointer;
	transition: background .16s ease;
}

.b24-tracker-switch:hover {
	background: rgba(255, 255, 255, .26);
}

.b24-tracker-switch:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 13px;
	height: 15px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213%22%20height%3D%2215%22%20viewBox%3D%220%200%2013%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.719727%207.76562C0.323242%208.16309%200.323242%208.80762%200.719727%209.20508L5.24121%2013.7251L5.30762%2013.7925C5.56348%2014.0474%205.9209%2014.1387%206.24707%2014.0669C6.43066%2014.0266%206.60449%2013.9351%206.74707%2013.7925L6.81543%2013.7251C6.82324%2013.7166%206.83301%2013.7078%206.84082%2013.699L11.335%209.20508C11.7314%208.80762%2011.7314%208.16333%2011.335%207.76587L11.2666%207.69849C10.8701%207.30103%2010.2256%207.30103%209.8291%207.69849L6.02832%2011.4988L2.22754%207.69824C1.8291%207.30078%201.18457%207.30078%200.788086%207.69824L0.719727%207.76562Z%22%20fill%3D%22white%22/%3E%0A%3Crect%20x%3D%225%22%20y%3D%220.364258%22%20width%3D%222%22%20height%3D%227.80285%22%20rx%3D%221%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
}

.b24-tracker-wrapper-down .b24-tracker-switch:before {
	transform: rotate(180deg);
	transform-origin: 25% 25%;
}

/***** SHADOW ****/
.b24-tracker-shadow-highlight {
	position: relative !important;
	z-index: 5003 !important;
	background: white !important;
	color: blue !important;
	border-radius: 8px !important;
	border: 2px solid white !important;
	transition: background, color, border-radius, box-shadow 0.15s ease !important;
	text-decoration: none !important;
	box-shadow: 0 0 10px 5px rgb(255, 255, 255) !important;
}

.b24-tracker-shadow {
	position: fixed;
	z-index: 5001;
	opacity: .3;
	top: 0;
	visibility: hidden;
}

.b24-tracker-shadow-show {
	-webkit-animation: show .3s linear forwards;
	animation: show .3s linear forwards;
}

.b24-tracker-shadow-hide {
	-webkit-animation: hidden .3s linear forwards;
	animation: hidden .3s linear forwards;
}

.b24-tracker-btn-device {
	padding-right: 15px;
	border-right: 1px solid rgba(255, 255, 255, .1);
	margin-right: 32px;
	font-size: 0;
}

.b24-tracker-btn-device-icon {
	cursor: pointer;
	height: 39px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	opacity: .3;
	border: none;
	outline: none;
	transition: opacity .2s ease;
}

.b24-tracker-btn-device-icon:hover {
	opacity: .6;
}

.b24-tracker-btn-device-icon-desktop {
	margin-right: 10px;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2238%22%20height%3D%2224%22%20viewBox%3D%220%200%2038%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M36.59%2022.057c0%20.214-.199.387-.444.387H1.855c-.244%200-.443-.173-.443-.387v-.813H15.09c.044.345.366.618.774.618h6.273c.407%200%20.73-.273.774-.618H36.59v.813zM5.182%2019.185H32.83V2H5.182v17.185zm29.97.662c.021-.103.033-.208.033-.316V1.583c0-.87-.72-1.583-1.6-1.583H4.427c-.88%200-1.599.713-1.599%201.583v17.948c0%20.108.011.213.033.316H0v2.318C0%2023.178.83%2024%201.854%2024h34.293A1.845%201.845%200%200%200%2038%2022.165v-2.318h-2.847z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
	width: 50px;
}

.b24-tracker-btn-device-icon-mobile {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213%22%20height%3D%2221%22%20viewBox%3D%220%200%2013%2021%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%202a2%202%200%200%201%202-2h9a2%202%200%200%201%202%202v17a2%202%200%200%201-2%202H2a2%202%200%200%201-2-2V2zm1.625-.32h9.75v15.96h-9.75V1.68zm5.701%2017.64c0%20.464-.364.84-.812.84a.827.827%200%200%201-.813-.84c0-.464.364-.84.813-.84.448%200%20.812.376.812.84z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
	width: 35px;
}

.b24-tracker-btn-active {
	opacity: .8;
}

.b24-source-tracker-viewer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5004;
	overflow: hidden;
	background: #eef2f4;
	display: flex;
	justify-content: center;
}
.b24-source-tracker-viewer-hide {
	display: none;
}

.b24-source-tracker-viewer-iframe {
	box-shadow: 0 3px 26px 0 rgba(0, 0, 0, 0.25);
	width: 375px;
	height: calc(100vh - 81px);
	margin: 80px 0 0 0;
	border: none;
	background: white;
}

.b24-tracker-wrapper-down .b24-source-tracker-viewer-iframe{
	margin: 0;
}

@-webkit-keyframes show {
	0% { opacity: 0; }
	50% { opacity: 0.2; }
	100% {
		opacity: 0.6;
		visibility: visible;
	}
}

@keyframes show {
	0% { opacity: 0; }
	50% { opacity: 0.2; }
	100% {
		opacity: 0.6;
		visibility: visible;
	}
}

@-webkit-keyframes hidden {
	0% { opacity: 0.6;
		visibility: visible;
	}
	50% { opacity: 0.4; }
	99.999% {visibility: visible;}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes hidden {
	0% { opacity: 0.6;
		visibility: visible;
	}
	50% { opacity: 0.4; }
	99.999% {visibility: visible;}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}