.socialnetwork-group-sidebar-block-inner {
	background: transparent;
	padding: 6px 17px;
	border: none;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	word-wrap: break-word;
}

.socialnetwork-group-users-inner {
	background: transparent;
	padding: 4px 0 10px;
}

.socialnetwork-group-users-inner.socialnetwork-group-owner,
.socialnetwork-group-user.socialnetwork-group-owner {
	padding-bottom: 0;
}

.socialnetwork-group-member .socialnetwork-group-users-inner,
.socialnetwork-group-moderator .socialnetwork-group-users-inner {
	padding-top: 5px;
}

.socialnetwork-group-title {
	position: relative;
	padding: 0 0 12px 0;
	margin: 0 0 12px 0;
	border-bottom: 1px solid #ebf1f4;
	font: bold 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #535c69;
}

.socialnetwork-group-title-link,
a.socialnetwork-group-title-link.dashed {
	color: #999;
	display: block;
	margin: 0 0 0 10px;
	position: absolute;
	right: 2px;
	top: 0;
	font-weight: normal;
	border-bottom: 1px dashed;
	cursor: pointer;
	text-decoration: none;
}

.socialnetwork-group-title-link:hover,
a.socialnetwork-group-title-link.dashed:hover {
	text-decoration: none;
	color: #777;
}

a.socialnetwork-group-title-link {
	text-decoration: underline;
	border-bottom: none;
}

a.socialnetwork-group-title-link:hover {
	text-decoration: underline;
}

.socialnetwork-group-user-avatar {
	display: block;
	float: left;
	height: 42px;
	margin: 0 11px 0 0;
	width: 42px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.socialnetwork-group-user-info {
	overflow: hidden;
}

.socialnetwork-group-user-name {
	font-size: 14px;
	line-height: normal;
	margin: 0;
	padding: 0;
}

.socialnetwork-group-user-name a {
	color: #0b66c3;
	font-size: 14px;
	font-weight: bold;
}

.socialnetwork-group-user-name a:hover {
	text-decoration: underline;
}

.socialnetwork-group-user-position {
	color: #808080;
}

.socialnetwork-group-layout-row {
	border-bottom: 1px solid #ebf1f4;
}

.socialnetwork-group-layout {
	margin: 0 0 30px 0;
	width: 100%;
	border-collapse: collapse;
}

.socialnetwork-group-layout-left-column {
	padding: 16px 10px 16px 4px;
	color: #535c69;
	font-size: 13px;
	white-space: nowrap;
	vertical-align: top;
	max-width: 120px;
}

.socialnetwork-group-layout-right-column {
	padding: 16px 0 16px 0;
	color: #000;
	vertical-align: top;
	max-width: 120px;
}

.socialnetwork-group-sidebar-tag-box {
	overflow: hidden;
}

.socialnetwork-group-description-table {
	margin: 4px 0 20px;
}

.socialnetwork-group-description-hide-table {
	display: none;
}

.socialnetwork-group-description {
	text-align: left;
	vertical-align: top;
}

.socialnetwork-group-desc-box {
	margin-bottom: 30px;
}

.socialnetwork-group-desc-box .socialnetwork-group-title {
	margin: 0;
}

.socialnetwork-group-desc-title {
	color: #555;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}

.socialnetwork-group-desc-text {
	padding: 9px 9px 9px 4px;
	border-radius: 1px;
	color: #535c69;
	font-size: 13px;
}

.socialnetwork-group-desc-more-link {
	border-bottom: 1px dashed;
	cursor: pointer;
}

.socialnetwork-group-desc-full {
	display: none;
}

.socialnetwork-group-desc-open .socialnetwork-group-desc-full {
	display: inline;
}

.socialnetwork-group-desc-open .socialnetwork-group-desc-more {
	display: none;
}

.socialnetwork-group-desc-close .socialnetwork-group-desc-more {
	display: none;
}

.socialnetwork-group-moderator {
	margin-bottom: 30px;
}

.socialnetwork-group-description-left-col {
	color: #7f7f7f;
	padding: 0 8px 0 11px;
	vertical-align: top;
	width: 80px;
}

.socialnetwork-group-description,
.socialnetwork-group-description-left-col {
	padding-bottom: 14px;
}

.socialnetwork-group-join-request-sent {
	padding: 20px;
	position: relative;
	background-color: #ffffff;
}


.socialnetwork-group-search {
	margin: 18px 0 14px 0;
}

.socialnetwork-group-search-item {
	height: 34px;
	border: 1px solid #dee0e3;
	border-radius: 17px;
	padding: 0 14px;
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.socialnetwork-group-search-item:active {
	border: 1px solid #c6c8ca;
}

.socialnetwork-group-search-field {
	padding: 0 35px 0 5px;
	width: 100%;
	height: 34px;
	border: medium none;
	background: none;
	box-shadow: none;
	box-sizing: border-box;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	outline: medium none;
	text-indent: 0;
}

.socialnetwork-group-search-icon {
	position: absolute;
	right: 28px;
	top: 26px;
	display: block;
	height: 32px;
	width: 35px;
	cursor: pointer;
}

.socialnetwork-group-search-icon:before {
	position: absolute;
	top: 9px;
	right: 0;
	content: '';
	height: 16px;
	width: 16px;
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214.219%22%20height%3D%2214.25%22%20viewBox%3D%220%200%2014.219%2014.25%22%3E%0A%09%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23a5adb3%22%20d%3D%22M13.895%2012.32l-3.662-3.663c-.015-.015-.034-.026-.05-.04A5.544%205.544%200%201%200%208.6%2010.2c.013.016.024.034.04.05l3.662%203.662a1.127%201.127%200%200%200%201.593-1.593zM5.553%209.8A4.232%204.232%200%201%201%209.785%205.57%204.233%204.233%200%200%201%205.553%209.8z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.socialnetwork-group-sidebar-block {
	background: #fff;
	margin-bottom: 17px;
}

.socialnetwork-group-users-list {
	margin: 0;
	padding: 0;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}

.socialnetwork-group-user {
	margin: 0 !important;
	padding: 7px 7px 7px 0;
	overflow: hidden;
}

.socialnetwork-group-member {
	margin: 0;
}

.socialnetwork-group-member-info {
	padding-left: 0;
}

.socialnetwork-group-member-avatar {
	display: block;
	height: 42px;
	width: 42px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.socialnetwork-group-member {
	margin-top: 14px;
}

.socialnetwork-group-member-user {
	display: inline-block;
	width: 46px;
	box-sizing: border-box;
	padding: 7px 0 5px 0;
	position: relative;
}

.socialnetwork-group-more-members {
	color: #737373;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-align: right;
}

.socialnetwork-group-more-members a.socialnetwork-group-members-text {
	border-bottom: 1px dashed #8f8f8f;
	color: #737373;
	text-decoration: none;
}

.socialnetwork-group-user-name-extranet {
	color: #d9930a;
	position: relative;
	padding-left: 16px;
}

.socialnetwork-group-user-name-extranet:before {
	background: url(../../../../images/template_sprite.png?10) no-repeat scroll -35px -1607px;
	content: "";
	height: 13px;
	left: 0;
	position: absolute;
	top: 1px;
	width: 13px;
}

.socialnetwork-group-extranet-user:before {
	background: #fff;
	border-radius: 50%;
	content: "";
	height: 13px;
	right: 0;
	position: absolute;
	bottom: 1px;
	width: 13px;
	z-index: 1;
}

.socialnetwork-group-extranet-user:after {
	background: url(../../../../images/template_sprite.png?10) no-repeat scroll -35px -1607px;
	content: "";
	height: 13px;
	right: 0;
	position: absolute;
	bottom: 1px;
	width: 13px;
	z-index: 2;
}

.socialnetwork-group-user-name-extranet a {
	color: #d9930a !important;
}

.socialnetwork-group-user-position {
	color: #555;
	font-size: 13px;
}

.socialnetwork-group-more-members a.socialnetwork-group-members-text,
.socialnetwork-group-settings-link {
	border-bottom: 1px dashed #8d949c;
	font-size: 12px;
	color: #8d949c !important;
	font-weight: normal;
}

.socialnetwork-group-more-members a.socialnetwork-group-members-text:hover,
.socialnetwork-group-settings-link:hover {
	border-bottom: 1px dashed transparent;
}

.socialnetwork-group-title-buttons {
	margin-left: 15px;
}

.socialnetwork-group-actions-button .webform-small-button-icon {
	width: 10px;
	height: 13px;
	margin: 8px 0 0 5px;
}

.socialnetwork-group-actions-button .webform-small-button-icon:before,
.socialnetwork-group-actions-button .webform-small-button-icon:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	width: 8px;
	height: 2px;
	background: #7a818a;
	transition: background 0.25s linear;
}

.socialnetwork-group-actions-button:hover .webform-small-button-icon:before,
.socialnetwork-group-actions-button:hover .webform-small-button-icon:after {
	background: #535c69;
}

.socialnetwork-group-actions-button.webform-button-active .webform-small-button-icon:before,
.socialnetwork-group-actions-button.webform-button-active .webform-small-button-icon:after {
	background: #fff;
}

.socialnetwork-group-actions-button .webform-small-button-icon:before {
	transform: rotate(45deg);
}

.socialnetwork-group-actions-button .webform-small-button-icon:after {
	transform: rotate(-45deg);
	margin-left: 5px;
}

.socialnetwork-group-notification-button .webform-small-button-icon {
	width: 16px;
	height: 16px;
	margin: 7px -10px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%2211%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M-1-1h12v13H-1z%22/%3E%3Cg%3E%3Cpath%20d%3D%22M6.854-78.365zm.8%2085.7c-.3%200-.9-.2-1-1v-2.1c0-1-.8-1.8-1.7-1.9v-1.8c0-.3-.2-.5-.5-.5h-.7c-.3%200-.5.2-.5.5v1.8c-1%20.1-1.7.9-1.7%201.9v2.1c0%20.8-.6.9-1%201h-.2c-.1%200-.3.1-.3.3v1.2c0%20.1.1.3.3.3h2.9v.6c0%20.3.2.5.5.5h.7c.3%200%20.5-.2.5-.5v-.6h2.9c.1%200%20.3-.1.3-.3v-1.2c0-.2-.1-.3-.3-.3h-.2z%22%20fill%3D%22%237a818a%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-size: 100%;
	transition: background 0.25s linear;
}

.socialnetwork-group-notification-button.webform-button-active .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%2211%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M-1-1h12v13H-1z%22/%3E%3Cg%3E%3Cpath%20d%3D%22M6.854-78.365zm.8%2085.7c-.3%200-.9-.2-1-1v-2.1c0-1-.8-1.8-1.7-1.9v-1.8c0-.3-.2-.5-.5-.5h-.7c-.3%200-.5.2-.5.5v1.8c-1%20.1-1.7.9-1.7%201.9v2.1c0%20.8-.6.9-1%201h-.2c-.1%200-.3.1-.3.3v1.2c0%20.1.1.3.3.3h2.9v.6c0%20.3.2.5.5.5h.7c.3%200%20.5-.2.5-.5v-.6h2.9c.1%200%20.3-.1.3-.3v-1.2c0-.2-.1-.3-.3-.3h-.2z%22%20fill%3D%22%23FFFFFF%22/%3E%3C/g%3E%3C/svg%3E');
}

.socialnetwork-group-chat-button .webform-small-button-icon {
	width: 18px;
	height: 18px;
	margin: 9px -10px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2216px%22%20height%3D%2215px%22%20viewBox%3D%220%200%2016%2015%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M6.75%2C12%20L3%2C15%20L3%2C12%20L1.00087166%2C12%20C0.448105505%2C12%200%2C11.544239%200%2C10.9975267%20L0%2C1.00247329%20C0%2C0.448822582%200.444630861%2C0%201.00087166%2C0%20L14.9991283%2C0%20C15.5518945%2C0%2016%2C0.455760956%2016%2C1.00247329%20L16%2C10.9975267%20C16%2C11.5511774%2015.5553691%2C12%2014.9991283%2C12%20L6.75%2C12%20Z%20M5.21311514%2C11%20L7.0456543%2C10%20L14%2C10%20L14%2C2%20L2%2C2%20L2%2C10%20L5.00350952%2C10.0026855%20L5.00350952%2C11%20L5.21311514%2C11%20Z%20M3%2C5%20L5%2C5%20L5%2C7%20L3%2C7%20L3%2C5%20Z%20M7%2C5%20L9%2C5%20L9%2C7%20L7%2C7%20L7%2C5%20Z%20M11%2C5%20L13%2C5%20L13%2C7%20L11%2C7%20L11%2C5%20Z%22%20id%3D%22Combined-Shape-Copy%22%20fill%3D%22%237A818A%22%3E%3C/path%3E%0A%3C/svg%3E') no-repeat 0 0;
	background-size: 100%;
	transition: background 0.25s linear;
}

.sonet-sgm-error-text-block {
	padding: 20px;
}

.sonet-sgm-wait-cont {
	height: 31px;
}

.sonet-sgm-wait-icon {
	height: 31px;
	width: 31px;
	display: inline-block;
	position: relative;
	left: 1px;
	top: 1px;
}

.sonet-sgm-wait-text {
	height: 31px;
	display: inline-block;
	position: relative;
	padding: 0 10px 0 5px;
	left: 1px;
	top: -11px;
	color: #7f7f7f;
}

.sonet-sgm-notify-hint-content {
	padding: 8px;
}

.sonet-group-user-request-form {
	width: 90%;
	margin-top: 10px;
}

.sonet-group-user-request-form.sonet-group-user-request-form-invisible {
	display: none;
}

.sonet-group-user-request-join-message-cont {
	padding-right: 18px;
}

.sonet-group-user-request-join-message-text {
	position: relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #80868e;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	outline: 0;
	width: 100%;
	min-height: 75px;
	line-height: 18px;
	padding: 0 8px;
}

.socialnetwork-group-sidebar-tag {
	display: inline-block;
}

.socialnetwork-group-sidebar-tag:after {
	content: ',';
	margin: 0 5px 0 0;
}
.socialnetwork-group-sidebar-tag:last-child:after {
	content: '';
	margin: 0;
}