.ivr-wrap {}
.ivr-notice {
	background: #fffffd;
	border: 1px solid #f0eed1;
	border-radius: 2px;
	padding: 15px 18px;
}
.ivr-notice-title {
	font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #31c2f3;
	text-align: left;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 0;
}
.ivr-notice p {
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #535c69;
	margin: 0 0 15px;
}
.ivr-notice-icon {
	position: relative;
	padding-left: 30px;
}
.ivr-notice-icon:before {
	position: absolute;
	top: 0;
	left: 0;
	width:20px;
	height: 20px;
	background: url(images/ivr-sprite.svg) no-repeat 0 0;
	content: "";
}
/**/
.ivr-section-title{
	background: #d5f1fc;
	font: bold 16px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	padding: 11px 19px;
	text-align: left;
}

/**/
.ivr-uploader-container {
	display: inline-block;
}

.ivr-uploader-subcontainer {
	display: inline-block;
	vertical-align: middle;
	height: 36px;
	padding: 0 10px;
	background-color: #f1f5f7;
}

.ivr-uploader-wrap{
	display: inline-block;
	vertical-align: middle;
}

.ivr-uploader-delete-icon {
	display: inline-block;
	vertical-align: middle;
	height: 36px;
	line-height: 36px;
	cursor: pointer;
	margin-left: 10px;
	color: #a1a8af;
	transition: color .2s ease;
}

.ivr-uploader-delete-icon:hover {
	color: #de4d5f;
}

/**/
.ivr-root-lvl {
	padding: 0 19px;
	/*overflow-x: auto;*/
}

/* IVR-BLOCK */
.ivr-block {
	padding-bottom: 20px;
}
.ivr-block-title {
	margin: 5px 0 14px 0;
	padding: 0;
	font: bold 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}
.ivr-block-row {
	margin: 5px 0;
}
.ivr-block-description {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #9b9b9b;
}

.ivr-block-description-animated {
	overflow: hidden;
	transition: max-height .2s;
}

/*IVR-TREE*/
.ivr-logic-tree {
	position: relative;
	border-top: 1px solid #e8e9ea;
	padding-top: 20px;
}
.bx-retina .ivr-logic-tree {
	border-top-width: .5px;
}
.ivr-logic-tree-section {
	position: relative;
	padding-left: 120px;
	padding-top: 25px;
	box-sizing: border-box;
	min-height: 100px;
}
.ivr-logic-tree-section-number-container{
	position: absolute;
	left: 0;
	top: 5px;
	width: 80px;
	height: 80px;
	border-radius: 7px;
	background-color: #3bc8f5;
}
.ivr-logic-tree-section-number{
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 80px;
	text-align: center;
}
.ivr-logic-tree-section-number-value {
	color: #fff;
	font: bold 53px/80px "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
}
.ivr-logic-tree-section-number-value-change-btn {
	position: absolute;
	width: 22px;
	height: 20px;
	left: 57px;
	top: 59px;
	opacity: 0;
	z-index: 10;
	background: url(images/ivr-sprite.svg) no-repeat center -39px;
	transition: opacity .2s ease-in;
}
.ivr-logic-tree-section-number:hover .ivr-logic-tree-section-number-value-change-btn {
	opacity: .8;
}

.ivr-logic-tree-section-number-value-change-btn:hover {
	cursor: pointer;
	animation: numberChange .4s ease;
	transform: rotate(360deg);
}
@keyframes numberChange {
	from {
		transform: rotate(0deg);
	}
  	to {
		  transform: rotate(360deg);
	}
}

.ivr-logic-tree-section-remove-btn {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -13px;
	right: -13px;
	z-index: 10;
	opacity: 0;
	cursor: pointer;
	transition: opacity .2s ease-in;
}
.ivr-logic-tree-section-number:hover .ivr-logic-tree-section-remove-btn {
	opacity: .4;
}
.ivr-logic-tree-section-number:hover .ivr-logic-tree-section-remove-btn:hover {
	opacity: 1;
}
.ivr-logic-tree-section-remove-btn:before,
.ivr-logic-tree-section-remove-btn:after {
	content:'';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 9px;
	background-color: #525c68;
}

.ivr-logic-tree-section-remove-btn:before {
	transform: translate(-50%, -50%) rotate(-45deg);
}
.ivr-logic-tree-section-remove-btn:after{
	transform: translate(-50%, -50%) rotate(45deg);
}

.ivr-logic-tree-section-number-container:after {
	position: absolute;
	content:'';
	height: 2px;
	top: 50%;
	margin-top: -1px;
	left: 100%;
	width: 30px;
	margin-left: 5px;
	z-index: 20;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjIiIHZpZXdCb3g9IjAgMCA0IDIiPjxjaXJjbGUgY3g9IjIiIGN5PSIxIiByPSIxIiBmaWxsPSIjQ0JDRUQxIi8+PC9zdmc+) repeat-x center;
	background-size: 4px 2px;
	opacity: 1;
	transition: opacity .3s ease-in;
}
.ivr-logic-tree-section-empty > .ivr-logic-tree-section-number-container:after {
	opacity: 0;
}
.ivr-logic-tree-section-line {
	position: absolute;
	top: 90px;
	bottom: 1px;
	left: 39px;
	width: 1px;
	background: #bfc3c6;
}

.ivr-logic-tree-section-new-btn {
	position: absolute;
	left: 16px;
	top: 5px;
	width: 44px;
	height: 44px;
	border-radius: 3px;
	background-color: #fff;
	border: 2px solid #33bbf2;
	text-align: center;
	cursor: pointer;
	transition: all .2s ease-in;
}
.ivr-logic-tree-section-new-btn:hover {
	background-color: #33bbf2;
}
.ivr-logic-tree-section-new-btn:before,
.ivr-logic-tree-section-new-btn:after {
	position: absolute;
	background: #6f757f;
	left: 50%;
	top: 50%;
	content:'';
}
.ivr-logic-tree-section-new-btn:hover:before,
.ivr-logic-tree-section-new-btn:hover:after{
	background-color: #fff;
}
.ivr-logic-tree-section-new-btn:after{
	width:  4px;
	height: 18px;
	margin-top: -9px;
	margin-left:-2px;
}
.ivr-logic-tree-section-new-btn:before {
	width: 18px;
	height: 4px;
	margin-top: -2px;
	margin-left: -9px;
}
.ivr-logic-tree-section-new .ivr-logic-tree-section-number-value,
.ivr-logic-tree-section-new .ivr-logic-tree-section-number-action,
.ivr-logic-tree-section-new .ivr-logic-tree-section-line {
	display: none;
}

/*TREE SECTION ACTION*/
.ivr-logic-tree-section-number-action {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: -28px;
	width: 16px;
	height: 16px;
	z-index: 50;
	border-radius: 50%;
	background-color: #b9bcc2;
	cursor: pointer;
	transition: all .3s ease-in;
}
.ivr-logic-tree-section-number-action:hover {
	background-color: #d3354c;
}
.ivr-logic-tree-section-number-action:before,
.ivr-logic-tree-section-number-action:after {
	content:'';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 9px;
	background-color: #fff;
	animation: .3s ease-in;
}

.ivr-logic-tree-section-number-action:before {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	animation-name: sectionAction1rev;
}
@keyframes sectionAction1rev {
	0% {
		width: 4px;
		height:14px;
	}
	0%,49% {
		transform: translate(-50%, -50%) rotate(-180deg);
	}
	50% {
		width: 2px;
		height:2px;
	}
	51%,100% {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	100% {
		width: 2px;
		height: 9px;
	}
}

.ivr-logic-tree-section-number-action:after{
	transform: translate(-50%, -50%) rotate(45deg);
	animation-name: sectionAction2rev;
}
@keyframes sectionAction2rev {
	0% {
		width: 4px;
		height:14px;
	}
	0%,49% {
		transform: translate(-50%, -50%) rotate(-90deg);
	}
	50% {
		width: 2px;
		height:2px;
	}
	51%,100% {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	100% {
		width: 2px;
		height: 9px;
	}
}
/***/
.ivr-logic-tree-section.ivr-logic-tree-section-empty > div > .ivr-logic-tree-section-number-action {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: -32px;
	width: 24px;
	height: 24px;
	z-index: 50;
	border-radius: 50%;
	background-color: #65cff5;
	cursor: pointer;
}
.ivr-logic-tree-section.ivr-logic-tree-section-empty > div > .ivr-logic-tree-section-number-action:hover {
	background-color: #33bbf2;
}
.ivr-logic-tree-section.ivr-logic-tree-section-empty > div > .ivr-logic-tree-section-number-action:before,
.ivr-logic-tree-section.ivr-logic-tree-section-empty > div > .ivr-logic-tree-section-number-action:after {
	width: 4px;
	height: 14px;
	animation: .3s ease-in;
}

.ivr-logic-tree-section.ivr-logic-tree-section-empty > div > .ivr-logic-tree-section-number-action:before {
	transform: translate(-50%, -50%) rotate(-180deg);
	animation-name: sectionAction1;
}
@keyframes sectionAction1 {
	0% {
		width: 2px;
		height: 9px;
	}
	0%,49% {
		transform: translate(-50%, -50%) rotate(-45deg)
	}
	50% {
		width: 2px;
		height:2px;
	}
	51%,100% {
		transform: translate(-50%,-50%) rotate(-180deg)
	}
	100% {
		width: 4px;
		height:14px;
	}
}

.ivr-logic-tree-section.ivr-logic-tree-section-empty > div > .ivr-logic-tree-section-number-action:after {
	transform: translate(-50%, -50%) rotate(-90deg);
	animation-name: sectionAction2;
}
@keyframes sectionAction2 {
	0% {
		width: 2px;
		height: 9px;
	}
	0%,49% {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	50% {
		width: 2px;
		height:2px;
	}
	51%,100% {
		transform: translate(-50%, -50%) rotate(-90deg);
	}
	100% {
		width: 4px;
		height: 14px;
	}
}

/**/
.ivr-logic-tree-section-title {
	background: #ebf1f4;
	border-radius: 1px;
	color: #333;
	height: 20px;
	padding: 10px 150px 10px 15px;
	position: relative;
}
.ivr-logic-tree-section-title-text {
	font: bold 16px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
}
.ivr-logic-tree-section-collapse-btn {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -10px;
	height: 20px;
	font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #80868e;
	cursor: pointer;
	text-transform: lowercase;
	transition: color 250ms ease;
}
.ivr-logic-tree-section-collapse-btn:hover {
	color: #575757;
}

.ivr-logic-tree-subsection-content {
	overflow-y: hidden;
	transition: height .3s ease;
	white-space: nowrap;
}

/**/
.ivr-logic-tree-section-content {
	min-width: 500px;
}

/*Form*/
.ivr-input-text {
	display: inline-block;
	margin-right: 10px;
	padding: 0 5px;
	width: 100%;
	min-width: 200px;
	height: 36px;
	border: 1px solid #c6cdd3;
	border-radius: 1px;
	background-color: #fff;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	vertical-align: middle;
	outline: none;
	box-sizing: border-box;
}
.ivr-title-editable,
.ivr-title-editable.ivr-block-row {
	display: block;
	margin: 0;
	padding: 9px 0;
	border-bottom: 1px solid rgba(82,92,105,.1);
}
.ivr-title-editable > .ivr-input-text {
	display: block;
	width: 100%;
	height: 32px;
	border: none;
	font: 18px/24px 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	outline: none;
}

.ivr-input-select {
	display: inline-block;
	margin-right: 10px;
	padding: 7px 25px 6px 10px;
	width: auto;
	min-width: 200px;
	height: 36px;
	border-radius: 2px;
	border: 1px solid #c6cdd3;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.122%204.55L10.558.113l1.414%201.414-4.436%204.436-1.478%201.478L.401%201.785%201.88.307l4.242%204.242z%22/%3E%3C/svg%3E');
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 12px 8px;
	background-position: center right 10px;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	vertical-align: middle;
	outline: none;
	-webkit-appearance: none;
	box-sizing: border-box;
}
.ivr-input-select::-ms-expand {
	display: none;
}
.ivr-dot-btn-box {
	display: flex;
	align-items: center;
}
.ivr-dot-btn {
	margin-right: 10px;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1058d0;
	border-bottom: 1px dotted;
	transition: border-bottom .3s;
	cursor: pointer;
}
.ivr-dot-btn:hover {
	border-bottom: 1px dotted transparent;
}

.ivr-dot-btn-box .ivr-dot-btn {
	margin: 0;
}

.ivr-input-textarea {
	width: 100%;
	min-width: 300px;
	height: auto;
	min-height: 20px;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 5px;
	background: #fff;
	border: 1px solid #d5dde5;
	border-radius: 2px;
	outline: none;
	/*margin-right: 10px;*/
	resize: vertical;
	transition: height .1s ease-in;
	box-sizing: border-box;
}

.ivr-input-text-additional {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #1058d0;
	border-bottom: 1px dotted;
	cursor: pointer;
}
.ivr-input-text-additional:hover {
	border-bottom-style: solid;
}

.ivr-input-text-additional-block {
	max-height: 210px;
	overflow: hidden;
	transition: max-height .3s ease;
}

.ivr-input-text-additional-block.ivr-input-text-additional-block-folded {
	max-height: 0;
}

.ivr-input-number {
	width: auto;
	background-color:  #fff;
	background-position: right -22px;
	padding:0 0 0 5px;
	border: 1px solid #c6cdd3;
	border-radius: 1px;
	color: #000;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 36px;
	vertical-align: middle;
	outline: none;
	/*margin-right: 10px;*/
}

.ivr-group-show-config {
	cursor: pointer;
	color: #2067b0;
	border-bottom: dashed 1px #2067b0;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin-left: 10px;
}

.ivr-group-settings-container {
	overflow: hidden;
	transition: max-height .3s ease-out;
	margin: 10px 0 0 -3px;
}

/*Keypad*/
.ivr-keypad-container {
	padding: 5px;
	width: 150px;
	overflow: hidden;
}
.ivr-keypad-btn {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	background: #3bc8f5;
	text-align: center;
	margin: 5px;
	cursor: pointer;
	float: left;
	transition: background 250ms ease;
}
.ivr-keypad-btn:hover {
	background: #33bbf2;
}
.ivr-keypad-btn-occupied,
.ivr-keypad-btn-occupied:hover {
	cursor: default;
	background: #ced1d4;
}

.ivr-keypad-btn-value {
	color: #fff;
	font: bold 26px/40px "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
}
.ivr-keypad-btn-value-star {
	line-height: 15px;
	position: relative;
	bottom: -15px;
}

/**/
.ivr-help-icon {
	display: inline-block;
	position: relative;
	width: 20px;
	vertical-align: middle;
	margin: 0 5px 0 0;
	height: 16px;
	cursor: pointer;
}
.ivr-help-icon:before{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: -9px;
	height: 18px;
	width: 18px;
	content: '';
	opacity: .4;
	transition: all 250ms ease;
	background: url(images/ivr-sprite.svg) no-repeat 2px -18px;
}
.ivr-help-icon:hover:before{
	animation: helpIcon .5s ease-in-out;
	opacity: .8;
	transform: scale(1.2);
}
@keyframes helpIcon {
	  0% {
		  transform: scale(1) rotate(0deg);
	  }
	20%, 60% {
		transform: scale(1.1) rotate(15deg);
	}
	40%, 80% {
		transform: scale(1.1) rotate(-15deg);
	}
	50%,100% {
		transform: scale(1.2) rotate(0deg);
	}
}

.ivr-play-btn {
	display: inline-block;
	line-height: 22px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	vertical-align: middle;
	position: relative;
}
.ivr-play-btn:after {
	width: 22px;
	height:22px;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	background: url(images/ivr-sprite.svg) no-repeat -1px -80px;
	transform: translateX(-50%) translateY(-50%) rotate(0deg);
}
.ivr-play-btn.active:after {
	background: url(images/ivr-sprite.svg) no-repeat -1px -110px;
	animation: playIcon 2s infinite linear;
}
.ivr-play-btn.active:before{
	width: 6px;
	height: 6px;
	z-index: 10;
	background-color: #00aeef;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	opacity: .7;
	transform: translate(-50%, -50%);
	transition: opacity 250ms ease;
}
.ivr-play-btn.active:hover:before {
	opacity: 1;
}
@keyframes playIcon {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.ivr-hint-box {
	display: inline-block;
	vertical-align: middle;
}