.rpa-fields-controller-field-container + .rpa-fields-controller-field-container {
	margin-top: 13px;
}

.rpa-fields-controller-field-subtitle {
	color: #a3a9b1;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 3px;
}

.rpa-fields-controller-field-title {
	color: #424956;
	word-break: break-word;
	font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rpa-fields-controller-footer {
	margin-top: 10px;
}

.rpa-fields-controller-select-field-button, .rpa-fields-controller-create-field-button {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 2px;
	border-bottom: 1px dashed;
	color: #80868e;
	text-decoration: none;
	white-space: nowrap;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 220ms all ease;
}

.rpa-fields-controller-field-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(82, 92, 105, .1);
	padding-bottom: 14px;
}

.rpa-fields-controller-switcher .ui-switcher-enabled {
	background-color: #bbed22;
	color: rgba(81, 92, 105, .25);
}

.rpa-fields-controller-field-row + .rpa-fields-controller-field-row {
	margin-top: 14px;
}

.rpa-fields-controller-container .ui-userfieldfactory-configurator {
	margin-top: 10px;
}

.rpa-fields-controller-field-wrapper-gear {
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	background: no-repeat center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23767676%22%20d%3D%22M703.2162%2C375.493606%20C703.03489%2C376.345928%20702.36463%2C377.016206%20701.51234%2C377.197463%20C699.8874%2C377.543055%20698.47582%2C376.131018%20698.82147%2C374.506376%20C698.98493%2C373.738143%20699.75689%2C372.966103%20700.5251%2C372.802606%20C702.14973%2C372.456805%20703.56186%2C373.868528%20703.2162%2C375.493606%20M706.5609%2C374.126224%20L705.37221%2C373.927905%20L705.37221%2C373.927905%20C705.28776%2C373.582645%20705.1655%2C373.252265%20705.00681%2C372.943435%20C705.00014%2C372.930442%20705.00169%2C372.914811%20705.01086%2C372.903443%20L705.75675%2C371.978576%20C705.9186%2C371.779157%20705.91125%2C371.492244%20705.74062%2C371.299793%20L705.26785%2C370.767705%20C705.09648%2C370.575446%20704.8123%2C370.53479%20704.59553%2C370.671741%20L703.57896%2C371.310795%20L703.57896%2C371.310795%20C703.13826%2C371.00289%20702.63989%2C370.774341%20702.10251%2C370.639678%20C702.08826%2C370.636098%20702.07745%2C370.624467%20702.07502%2C370.609954%20L701.88013%2C369.438726%20C701.83839%2C369.185675%20701.61941%2C369%20701.36236%2C369%20L700.64991%2C369%20C700.39338%2C369%20700.17365%2C369.185675%20700.13284%2C369.438726%20L699.93687%2C370.610391%20C699.93444%2C370.624868%20699.92365%2C370.636464%20699.90942%2C370.640027%20C699.47453%2C370.749019%20699.06605%2C370.921037%20698.69186%2C371.145936%20C698.67925%2C371.153516%20698.66341%2C371.152957%20698.65143%2C371.1444%20L697.70436%2C370.468497%20C697.49601%2C370.319636%20697.20982%2C370.342915%20697.02799%2C370.524364%20L696.52467%2C371.028056%20C696.34322%2C371.209889%20696.31994%2C371.496086%20696.4692%2C371.704447%20L697.14669%2C372.653413%20C697.15523%2C372.665376%20697.15582%2C372.681215%20697.14826%2C372.693824%20C696.92555%2C373.065123%20696.75532%2C373.471174%20696.64644%2C373.902111%20C696.64284%2C373.916344%20696.63125%2C373.927102%20696.61679%2C373.929512%20L695.4387%2C374.126242%20C695.18604%2C374.167963%20695%2C374.386976%20695%2C374.644044%20L695%2C375.355956%20C695%2C375.613006%20695.18604%2C375.832037%20695.4387%2C375.873758%20L696.61675%2C376.070471%20C696.63123%2C376.072898%20696.64284%2C376.083674%20696.64642%2C376.097924%20C696.73499%2C376.44975%20696.86115%2C376.786295%20697.027%2C377.099579%20C697.03391%2C377.112642%20697.03245%2C377.128516%20697.02316%2C377.140025%20L696.28095%2C378.059285%20C696.11966%2C378.258513%20696.12643%2C378.545618%20696.29707%2C378.737894%20L696.76947%2C379.269999%20C696.94085%2C379.462608%20697.22519%2C379.50253%20697.44198%2C379.365928%20L698.45281%2C378.730926%20C698.4652%2C378.723137%20698.48099%2C378.723452%20698.49311%2C378.73166%20C698.92454%2C379.023218%20699.41123%2C379.237918%20699.93289%2C379.365928%20L699.93289%2C379.365928%20L700.13286%2C380.561239%20C700.17367%2C380.814307%20700.39338%2C381%20700.64991%2C381%20L701.36236%2C381%20C701.61942%2C381%20701.83839%2C380.814325%20701.88013%2C380.561257%20L702.07535%2C379.389801%20C702.07778%2C379.375306%20702.08859%2C379.363693%20702.10284%2C379.36013%20C702.53211%2C379.25264%20702.93528%2C379.08366%20703.30594%2C378.862726%20C703.31855%2C378.855216%20703.33433%2C378.85581%20703.34626%2C378.864332%20L704.33369%2C379.569574%20C704.54168%2C379.718977%20704.82807%2C379.69554%20705.00971%2C379.513515%20L705.51325%2C379.009981%20C705.69448%2C378.828706%20705.71902%2C378.542666%20705.56852%2C378.333921%20L704.86559%2C377.348351%20C704.85705%2C377.336388%20704.85647%2C377.320566%20704.86403%2C377.307974%20C705.0874%2C376.935419%20705.25854%2C376.528582%20705.36682%2C376.095706%20C705.37038%2C376.081456%20705.38199%2C376.070646%20705.39647%2C376.068218%20L706.5613%2C375.873724%20C706.81471%2C375.831985%20707%2C375.612971%20707%2C375.355921%20L707%2C374.644009%20C706.99962%2C374.386976%20706.81433%2C374.167963%20706.5609%2C374.126224%22%20transform%3D%22translate%28-695%20-369%29%22%20opacity%3D%221%22/%3E%0A%3C/svg%3E%0A);
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 150ms ease, border-color 150ms ease;
}

.rpa-fields-controller-edit .rpa-fields-controller-field-wrapper {
	display: none;
}

.rpa-fields-controller-field-settings {
	display: none;
}

.rpa-fields-controller-edit .rpa-fields-controller-field-settings {
	display: block;
}