table.bizproc-table-main
{
	width: 100%;
	border: 1px solid #ABC4D0;
	border-collapse:collapse;
	padding: 0;
	font-size:100%;
}
table.bizproc-table-main td, table.bizproc-table-main tbody td
{
	font-weight:normal;
	font-size:100%;
	border:none;
	padding:1em;
}

table.bizproc-table-main th
{
	font-weight:normal;
	font-size:100%;
	background-color:#F0F5F7;
	padding:1em;
	border:none;	
}

