.intranet-ai-center-icon {
	display: inline-block;
	vertical-align: middle;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 1px solid transparent;
	box-sizing: border-box;
}

.intranet-ai-center-icon i {
	position: relative;
	display: block;
	padding-top: 100%;
	width: 100%;
	border-radius: 50%;
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.intranet-ai-center-icon-alice i {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%22-11%20-11%2042%2042%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.45%2019c-3.018-.126-5.596-.31-8.026-1.338C.55%2016.87-.279%2015.74.084%2013.355c.51-3.354%202.22-6.194%204.221-8.882C5.42%202.977%206.67%201.597%208.285.57c1.195-.76%202.344-.762%203.54.006%201.694%201.088%202.97%202.564%204.134%204.14%201.745%202.364%203.187%204.888%203.85%207.755.187.81.204%201.67.185%202.506-.025%201.071-.681%201.798-1.6%202.325-1.277.733-2.691%201.088-4.131%201.303-1.399.21-2.817.296-3.814.395z%22%20fill%3D%22%23FEFEFE%22/%3E%0A%3C/svg%3E%0A);
}

.intranet-ai-center-icon-google i {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2225%22%20height%3D%2224%22%20viewBox%3D%22-9%20-9%2042%2042%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M.017%206.93L0%207.07v.841a.49.49%200%200%200%20.006.018c.004.013.008.027.01.04.014.113.026.226.038.34.025.24.05.48.1.715.367%201.76%201.245%203.222%202.651%204.345%201.775%201.416%203.802%201.925%206.036%201.549%201.655-.28%203.063-1.055%204.196-2.293%201.536-1.68%202.18-3.668%201.957-5.931a6.863%206.863%200%200%200-.816-2.666C12.933%201.769%2011.033.44%208.475.07a7.036%207.036%200%200%200-2.668.134C3.993.64%202.53%201.614%201.429%203.117a7.298%207.298%200%200%200-1.37%203.479l-.042.335zm24.358%201.527l.018-.063V8.01a.132.132%200%200%200-.006-.01c-.005-.008-.01-.015-.01-.023a1.503%201.503%200%200%200-2.98.403c.09.695.665%201.253%201.347%201.305.743.058%201.396-.39%201.592-1.092l.039-.136zm-9.338%2011.255a3.677%203.677%200%200%201%203.688-3.673%203.677%203.677%200%200%201-.025%207.351c-2.028-.01-3.67-1.66-3.663-3.678zm6.683-7.677a3.007%203.007%200%201%200-6.014-.012%203.007%203.007%200%200%200%206.014.012z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
}

.intranet-ai-center-icon-crm i {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%22-8%20-7%2042%2042%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.937%2022.46c-.414%200-.736.17-.967.508-.232.339-.347.805-.347%201.4%200%201.236.47%201.855%201.41%201.855.284%200%20.56-.04.826-.12.267-.078.535-.173.805-.285v1.468c-.537.237-1.143.356-1.82.356-.97%200-1.713-.281-2.23-.844-.517-.562-.776-1.375-.776-2.439%200-.665.126-1.25.376-1.753.25-.504.61-.892%201.081-1.163.47-.27%201.023-.406%201.66-.406.693%200%201.357.15%201.99.453l-.532%201.366a5.988%205.988%200%200%200-.712-.28%202.49%202.49%200%200%200-.764-.115zm4.715%202.756v2.338H8.916V21.13h2.105c1.746%200%202.62.633%202.62%201.899%200%20.744-.364%201.32-1.09%201.727l1.871%202.8h-1.968l-1.363-2.339h-.44zm0-1.305h.325c.607%200%20.91-.268.91-.804%200-.442-.298-.664-.892-.664h-.343v1.468zm7.154%203.643l-1.314-4.627h-.04c.062.788.093%201.4.093%201.837v2.79h-1.538V21.13h2.311l1.34%204.562h.036l1.314-4.562h2.316v6.425h-1.596v-2.817c0-.146.003-.309.007-.487.005-.18.024-.617.06-1.314h-.04l-1.296%204.618h-1.653zM21.174%2017.962h3.217c.606-1.523.942-3.193.942-4.94%200-7.394-5.977-13.37-13.13-12.895C6.303.52%201.427%205.361.75%2011.515a13.42%2013.42%200%200%200%20.86%206.447h3.216a10.28%2010.28%200%200%201-1.224-5.779c.381-4.862%204.208-8.758%208.858-9.026%205.473-.316%209.971%204.203%209.971%209.865%200%201.801-.459%203.489-1.257%204.94zm-6.781-1.788a2.529%202.529%200%200%201-3.33.029c-1.297-1.108-1.38-3.15-.252-4.377.513-.558%201.177-.846%201.85-.86l6.718-4.359-3.977%207.34a3.025%203.025%200%200%201-1.01%202.227z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A);
}

.intranet-ai-center-icon-segment i {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2222%22%20height%3D%2223%22%20viewBox%3D%22-9%20-9%2042%2042%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M17%208h4a1%201%200%200%201%201%201v4a1%201%200%200%201-1%201h-4a1%201%200%200%201-1-1V9a1%201%200%200%201%201-1zm-9%209h4a1%201%200%200%201%201%201v4a1%201%200%200%201-1%201H8a1%201%200%200%201-1-1v-4a1%201%200%200%201%201-1zm9%200h4a1%201%200%200%201%201%201v4a1%201%200%200%201-1%201h-4a1%201%200%200%201-1-1v-4a1%201%200%200%201%201-1zm-3-2.812v.073l-14-.073s.683-1.806.915-2.722c.232-.916%201.532-1.596%202.728-2.119.62-.27.752-.433%201.376-.71.035-.168.05-.34.042-.512l.53-.064s.07.129-.042-.628c0%200-.595-.158-.623-1.363%200%200-.447.151-.474-.579-.018-.495-.4-.925.15-1.28l-.28-.756S4.028.528%205.317.766c-.523-.84%203.885-1.54%204.178%201.038a7.989%207.989%200%200%201%200%202.343s.659-.077.22%201.196c0%200-.243.915-.615.708%200%200%20.06%201.158-.525%201.354%200%200%20.042.616.042.658l.49.076s-.014.514.082.57c.446.293.936.515%201.45.658%201.52.392%202.29%201.064%202.29%201.653%200%200%201.071%202.216%201.071%203.168z%22/%3E%0A%3C/svg%3E%0A);
}