.bx-sonet-profile-edit-error {
	text-align: center; font-weight: bold;
}

.bx-sonet-profile-edit-layout ul.bx-sonet-profile-edit-menu {
	list-style-image: none; list-style-position: outside; list-style-type: none; margin: 0; padding: 0;
	width: 220px; text-align: right; float: left;
	position: relative; left: 1px;
}

.bx-sonet-profile-edit-layout ul.bx-sonet-profile-edit-menu li {display: block;}
.bx-sonet-profile-edit-layout ul.bx-sonet-profile-edit-menu li.bx-sonet-switcher-current {
	font-weight: bold; 
	border-top: solid 1px #C4C4C4;
	border-bottom: solid 1px #C4C4C4;
	border-left: solid 1px #C4C4C4;
	background-color: white;
}
.bx-sonet-profile-edit-layout ul.bx-sonet-profile-edit-menu li a {
	display: block; 
	text-decoration: none; 
	font-size: 1.1em; 
	padding-top: 15px; 
	padding-right: 10px;
}
.bx-sonet-profile-edit-layout ul.bx-sonet-profile-edit-menu li div {
	height: 45px; 
}

.bx-sonet-profile-edit-layout ul.bx-sonet-profile-edit-menu li a:hover {text-decoration: underline;}

.bx-sonet-profile-edit-layout div.bx-sonet-profile-edit-layers {
	margin-left: 220px;
	border: solid 1px #C4C4C4;
}

div.bx-sonet-profile-edit-layout  div.bx-sonet-profile-fieldset
{
	min-height: 350px;
	padding-top: 10px;
}

* HTML div.bx-sonet-profile-fieldset {
	height: 350px;
}

.bx-sonet-profile-edit-layout div.bx-sonet-profile-edit-layers table.bx-sonet-profile-fieldset-table{
	width: 95%;
}

.bx-sonet-profile-edit-layout div.bx-sonet-profile-edit-layers table.bx-sonet-profile-fieldset-table td{
	padding: 4px;
}

.bx-sonet-profile-edit-layout div.bx-sonet-profile-edit-layers table.bx-sonet-profile-fieldset-table td.bx-sonet-profile-fieldcaption{
	width: 40%; font-weight: bold; vertical-align: top; text-align: right;
}

.bx-sonet-profile-edit-layout div.bx-sonet-profile-edit-layers table.bx-sonet-profile-fieldset-table td.bx-sonet-profile-field{
	width: 60%;
}

.bx-sonet-profile-edit-layout div.bx-sonet-profile-edit-layers td.bx-sonet-profile-field input[type|="text"]{
	width: 80%;
}

.bx-sonet-profile-edit-layout div.bx-sonet-profile-edit-layers td.bx-sonet-profile-field select{
	width: 80%;
}

.bx-sonet-profile-edit-layout div.bx-sonet-profile-edit-buttons {
	clear: both;
	text-align: right;
	margin: 15px 0px;
}

.required-field
{
	font-weight:bold;
	color:#FF0000;
}
