.sale-personal-section-index-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 15px 0;
	padding: 0;
	height: 87%;
	border-radius: 3px;
	background-size: cover;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	opacity: .8;
	transition: all 0.3s;
	justify-content: space-around;
	background-color: var(--theme-color-primary, #51cbce);
}

@media (max-width: 992px) {
	.sale-personal-section-index-block {
		margin: 8px 0;
		height: auto;
	}
}

.sale-personal-section-index-block:hover { opacity: 1; }

.sale-personal-section-index-block-link,
.sale-personal-section-index-block-link:hover,
.sale-personal-section-index-block-link:active,
.sale-personal-section-index-block-link:focus,
.sale-personal-section-index-block-link:visited {
	display: block;
	padding: 25px 5px;
	width: 100%;
	color: #fff;
	text-decoration: none;
}

.sale-personal-section-index-block-link { color: #fff; }

.sale-personal-section-index-block-ico { font-size: 64px; }

.sale-personal-section-index-block-name {
	color: #fff;
	font-size: 15px;
	margin: 0;
	padding: 0;
}