/* TITLE */
.voximplant-title-light,
.voximplant-title-dark {
	display: block;
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	max-width: 100%;
	border-bottom: 1px solid rgba(82,92,105,.10);
	font: 18px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.voximplant-title-light {
	border-bottom: 1px solid rgba(82,92,105,.10);
	color: #333;
}

.bitrix24-light-theme .voximplant-title-light {
	border-bottom: 1px solid rgba(255,255,255,.20);
	color: #fff; /*#000*/
}

.voximplant-title-dark {
	color: #333;
}

.voximplant-subtitle {
	display: block;
	margin: 0 0 5px 0;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
	opacity: .5;
}

.sender-campaign-selector-title {
	display: block;
	margin: 0 0 6px 0;
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868E;
}
/* END OF TITLE */

/* CONTAINER */
.voximplant-config-root {
	overflow-x: auto;
	overflow-y: visible;
}

.voximplant-config-page {
	display: none;
}

.voximplant-config-page.active {
	display: block;
}

.voximplant-container {
	padding: 20px;
	background: #fff;
	/*margin: 0 20px;*/
}

.voximplant-container-split.voximplant-container {
	display: flex;
}
/* END OF CONTAINER */

/* ROW */
.voximplant-row {
	margin: 0 0 18px 0;
}

.voximplant-control-row {
	margin: 0 0 16px 0;
}
/* END OF ROW */

/* SPLIT CONTAINER */

.voximplant-container-split .voximplant-container-column {
	flex-basis: 48%;
	margin: 0 4% 0 0;
}

.voximplant-container-split .voximplant-container-column:last-child {
	margin: 0;
}

/* END OF SPLIT CONTAINER */

/* LABEL */
.voximplant-start-label {
	display: block;
	margin: 0 0 6px 0;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgba(83,91,106,.52);
}

.voximplant-start-label-blue {
	color: #0b66c3;
}
/* END OF LABEL */

/* TEXT */
.voximplant-start-text-dark-bold {
	display: inline-block;
	font: bold 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.voximplant-start-text-darkgrey {
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #535b6a;
}

.voximplant-start-head-entity {
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #535b6a;
}

.voximplant-start-head-entity-bold {
	font: bold 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #535b6a;
}

.voximplant-start-head-text strong {
	color: #333;
}
/* END OF TEXT */

/* HEAD INFO */
.voximplant-start-head-subtitle {
	display: block;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #535b6a;
	opacity: .5;
}

.voximplant-start-head-info .voximplant-start-head-info-item {
	margin: 0 0 14px 0;
}

.voximplant-start-head-info .voximplant-start-head-info-item:last-child {
	margin: 0;
}
.voximplant-start-sip-info {
	max-width: 240px;
}
/* END OF HEAD INFO */

/* RECTANGLE ROUNDED */
.voximplant-start-payment-btn-box {
	display: block;
	text-align: center;
}
/*.voximplant-start-payment-btn {*/
	/*display: inline-block;*/
	/*font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	/*color: #177CE2;*/
	/*border-bottom: 1px solid transparent;*/
	/*transition: border-bottom .3s;*/
	/*text-decoration: none;*/
	/*box-sizing: border-box;*/
	/*cursor: pointer;*/
/*}*/
/*.voximplant-start-payment-btn:hover {*/
	/*border-bottom: 1px solid #177CE2;*/
/*}*/
.voximplant-start-payment-link {
	display: inline-block;
	border-bottom: 1px dashed rgba(39,107,179,.4);
	color: #2066B0;
	transition: border-bottom .3s;
}

.voximplant-start-payment-link:hover {
	border-bottom: 1px dashed transparent;
}
/* END OF RECTANGLE ROUNDED */

/* PAYMENT */
.voximplant-start-payment {
	display: flex;
	margin: 0 0 8px 0;
}

.voximplant-start-payment-icon {
	align-self: center;
	display: inline-block;
	margin: 0 7px 0 0;
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
}

.voximplant-start-payment-rented-number .voximplant-start-payment-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cpath%20fill%3D%22%23A8ADB4%22%20d%3D%22M6%200a6%206%200%201%200%200%2012A6%206%200%200%200%206%200zm0%2010a.565.565%200%200%201-.566-.565v-.36c-.48-.05-.946-.208-1.262-.434a.279.279%200%200%201-.1-.32l.217-.609a.28.28%200%200%201%20.416-.139c.328.216.756.344%201.145.344.478%200%20.8-.245.8-.61%200-.247-.102-.518-.851-.822-.825-.323-1.671-.795-1.671-1.838%200-.82.526-1.462%201.361-1.686v-.396a.565.565%200%200%201%201.13%200V2.9a2.7%202.7%200%200%201%201.04.334.28.28%200%200%201%20.122.342l-.227.6a.279.279%200%200%201-.4.142c-.171-.098-.49-.28-1.003-.28-.634%200-.683.39-.683.51%200%20.257.137.43.955.778C7.201%205.643%208%206.12%208%207.236c-.002.855-.57%201.542-1.436%201.768v.431a.565.565%200%200%201-.565.565z%22%20opacity%3D%22.749%22/%3E%3C/svg%3E');
}

.voximplant-start-payment-anchored-number .voximplant-start-payment-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23A8ADB4%22%20d%3D%22M9.201%204.414l-1.93%201.829c-1.064%201.01-2.792%201.01-3.857%200A2.6%202.6%200%200%201%203%205.72l.897-.85c.042-.04.095-.064.145-.091.062.2.17.39.337.548a1.419%201.419%200%200%200%201.928%200L8.237%203.5a1.247%201.247%200%200%200%200-1.829%201.42%201.42%200%200%200-1.93%200l-.685.651a3.598%203.598%200%200%200-1.74-.18L5.343.758c1.066-1.01%202.793-1.01%203.858%200a2.492%202.492%200%200%201%200%203.657zM4.38%207.678l-.687.65a1.42%201.42%200%200%201-1.929%200%201.248%201.248%200%200%201%200-1.828l1.93-1.828a1.418%201.418%200%200%201%201.928%200c.167.157.275.347.337.548.051-.028.103-.051.146-.091L7%204.279a2.558%202.558%200%200%200-.414-.522c-1.065-1.01-2.793-1.01-3.858%200L.798%205.586a2.492%202.492%200%200%200%200%203.657c1.066%201.01%202.794%201.01%203.859%200l1.462-1.386a3.596%203.596%200%200%201-1.74-.179z%22%20opacity%3D%22.749%22/%3E%3C/svg%3E');
}

.voximplant-start-payment-sip-connector .voximplant-start-payment-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2013%22%3E%3Cpath%20fill%3D%22%23A8ADB4%22%20fill-rule%3D%22evenodd%22%20d%3D%22M2.108%202l.565-2h.673l.564%202H9a1%201%200%200%201%201%201v3a1%201%200%200%201-1%201H1a1%201%200%200%201-1-1V3a1%201%200%200%201%201-1h1.108zM1%204v1h6V4H1zm8%200H8v1h1V4zM1%208h8a1%201%200%200%201%201%201v3a1%201%200%200%201-1%201H1a1%201%200%200%201-1-1V9a1%201%200%200%201%201-1zm0%202v1h6v-1H1zm8%200H8v1h1v-1z%22%20opacity%3D%22.749%22/%3E%3C/svg%3E');
}
/* END OF PAYMENT */

/* DIVISION */
.voximplant-start-division {
	display: block;
	margin: 0 10px;
	width: 1px;
	min-height: 100%;
	background: #d8d8d8;
}
/* END OF DIVISION */

/* LINK */
.voximplant-start-link {
	display: inline-block;
	display: none;
	height: 15px;
	border-bottom: 1px dashed transparent;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #2066b0;
	transition: border-bottom .3s;
}

.voximplant-start-link:hover {
	border-bottom: 1px dashed #2066b0;
}
/* END OF LINK */

/* WRAP */
.voximplant-start-wrap {
	margin: 0 18px 0 0;
}
/* END OF WRAP */

/* HEAD BOX */
.voximplant-start-head-box-container {
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px 0;
}

.voximplant-start-head-box {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 49.4%;
	padding: 14px 18px 16px 18px;
	min-width: 49.4%;
	margin: 0 1.2% 0 0;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-sizing: border-box;
}

.voximplant-start-head-box:last-child {
	margin: 0;
}

.voximplant-start-head-box-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 14px 0;
	padding: 0 0 12px 0;
	border-bottom: 1px solid rgba(82,92,105,.10);
}

.voximplant-start-head-box-title .voximplant-title-dark {
	padding: 0;
	margin: 0;
	border-bottom: none;
}

.voximplant-start-head-box-content .voximplant-start-label {
	margin: 0 0 9px 0;
}

.voximplant-start-head-box-row-amount {
	display: flex;
}
.voximplant-start-head-box-row-amount.right {
	justify-content: flex-end;
}

.voximplant-start-head-box-refresh-btn {
	align-self: center;
	display: inline-block;
	margin: 0 15px 0 0;
	width: 22px;
	min-width: 22px;
	height: 25px;
	border: none;
	background-color: transparent;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2221%22%20height%3D%2225%22%20viewBox%3D%220%200%2021%2025%22%3E%0A%20%20%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M328.720919%2C312.374869%20L326.327114%2C308.644896%20L327.812666%2C307.691482%20L331.505066%2C313.445917%20L331.760742%2C313.844328%20L330.27519%2C314.797049%20L325.607896%2C317.792403%20L324.655176%2C316.307544%20L328.112828%2C314.088508%20C327.246762%2C313.770594%20326.312137%2C313.59565%20325.336284%2C313.59565%20C320.863693%2C313.59565%20317.23781%2C317.221533%20317.23781%2C321.694125%20C317.23781%2C326.166717%20320.863693%2C329.791906%20325.336284%2C329.791906%20C329.808876%2C329.791906%20333.434066%2C326.166717%20333.434066%2C321.694125%20L335.252897%2C321.694125%20C335.252897%2C327.170711%20330.813564%2C331.610737%20325.336284%2C331.610737%20C319.859698%2C331.610737%20315.419672%2C327.170711%20315.419672%2C321.694125%20C315.419672%2C316.217538%20319.859698%2C311.777512%20325.336284%2C311.777512%20C326.526009%2C311.777512%20327.664976%2C311.989418%20328.720919%2C312.374869%20Z%22%20transform%3D%22translate%28-315%20-307%29%22/%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	transition: transform .3s ease-in-out;
	cursor: pointer;
}

.voximplant-start-head-box-refresh-btn:hover {
	transform: scale(.9);
}

.voximplant-start-head-box-info-sum {
	overflow: hidden;
}

.voximplant-start-head-box-info-sum:nth-child(2)
{
	max-width: 64%;
}

.voximplant-start-head-box-info-sum .voximplant-start-head-subtitle {
	margin: 0 0 14px 0;
}
.voximplant-start-head-box-no-balance {
	position: relative;
	font: 21px/28px "OpenSans-Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	text-overflow: ellipsis;
	text-align: end;
	overflow: hidden;
}
.voximplant-start-head-box-amount {
	position: relative;
	padding: 0 25px 0 0;
	max-width: 100%;
	/*max-width: calc(100% - 25px);*/
	font: 52px/42px "OpenSans-Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.voximplant-start-head-box-amount:after {
	content: '';
	position: absolute;
	top: 4px;
	right: 0;
	display: inline-block;
	width: 25px;
	height: 43px;
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 1300px) {
	.voximplant-start-head-box-amount {
		font: 32px/32px "OpenSans-Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
	}

	.voximplant-start-head-box-amount:after {
		height: 30px;
		transform: scale(.7);
	}
}

.voximplant-start-head-box-amount.currency-RUR:after {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2228%22%3E%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.43%2019.016h7.057v1.903H5.43v6.975H3.521V20.92H.987v-1.903H3.52V.733h6.7c6.515%200%209.771%202.6%209.771%207.803%200%202.625-.898%204.638-2.695%206.038-1.797%201.4-4.342%202.099-7.637%202.099H5.43v2.343zm0-3.978h3.762c3.083%200%205.31-.505%206.683-1.514%201.372-1.01%202.058-2.648%202.058-4.914%200-2.093-.648-3.645-1.946-4.654-1.298-1.01-3.307-1.514-6.027-1.514H5.43v12.596z%22%20opacity%3D%22.6%22/%3E%3C/svg%3E');
}
.voximplant-start-head-box-amount.currency-USD:after {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2016%2032%22%3E%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M15.458%2021.145c0%201.645-.613%202.987-1.837%204.026-1.225%201.04-2.92%201.695-5.084%201.967v4.379H7.034v-4.305c-1.138-.024-2.378-.164-3.72-.417-1.342-.254-2.41-.566-3.201-.937v-1.911c.928.445%202.038.822%203.33%201.132%201.293.309%202.49.463%203.59.463v-9.425c-1.793-.545-3.123-1.089-3.988-1.633-.866-.544-1.497-1.188-1.893-1.93-.396-.742-.594-1.645-.594-2.709%200-1.534.585-2.823%201.754-3.869C3.48%204.931%205.055%204.285%207.034%204.038V.475h1.503V4c2.437.112%204.608.557%206.512%201.336l-.612%201.67c-1.744-.767-3.71-1.212-5.9-1.336v9.018c2.635.816%204.447%201.707%205.436%202.672.99.965%201.485%202.226%201.485%203.785zm-2.041-.074c0-1.052-.39-1.92-1.17-2.607-.779-.687-2.016-1.277-3.71-1.772v8.74c1.509-.162%202.7-.626%203.572-1.393.872-.766%201.308-1.756%201.308-2.968zM2.58%209.845c0%201.064.352%201.936%201.057%202.616.705.68%201.837%201.256%203.396%201.726V5.782c-1.472.198-2.582.668-3.33%201.41-.75.742-1.123%201.626-1.123%202.653z%22%20opacity%3D%22.6%22/%3E%3C/svg%3E');
}
.voximplant-start-head-box-amount.currency-EUR:after {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2020%2029%22%3E%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M13.97%202.388c-2.153%200-3.934.776-5.344%202.329-1.41%201.552-2.37%203.807-2.876%206.763h9.314V13H5.601l-.074%201.93v.445c0%20.804.025%201.343.074%201.615h8.331v1.521h-8.22c.372%202.684%201.284%204.778%202.737%206.28%201.454%201.504%203.319%202.255%205.595%202.255%201.83%200%203.605-.402%205.325-1.206v1.744c-1.002.42-1.933.709-2.793.863-.86.155-1.728.232-2.607.232-2.82%200-5.093-.866-6.818-2.598-1.726-1.731-2.849-4.255-3.368-7.57H.443v-1.521h3.191c-.049-.47-.074-1.17-.074-2.097l.074-1.893H.443V11.48h3.414c.483-3.365%201.614-5.993%203.396-7.886%201.78-1.892%204.02-2.839%206.716-2.839%201.089%200%202.085.105%202.988.316.903.21%201.818.563%202.746%201.057l-.724%201.596c-1.633-.89-3.303-1.336-5.01-1.336z%22%20opacity%3D%22.6%22/%3E%3C/svg%3E');
	background-position: center 1px;
}

.voximplant-start-head-box-info {
	display: block;
	margin: 24px auto 0 auto;
	max-width: 190px;
	font: 16px "OpenSans-Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	text-align: center;
	opacity: .5;
}

.voximplant-start-record-limit-info {
	border-top: 1px solid rgba(82,92,105,.10);
	padding-top: 10px;
	margin-top: 15px;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	text-align: right;
}

/* END OF HEAD BOX */

/* TILE GRID */
.voximplant-tile-item {
	position: relative;
	padding: 17px 12px 12px 12px;
	background: #fff;
	transition: box-shadow .3s, transform .3s;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	cursor: pointer;
}

.voximplant-tile-item:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0 4px 10px;
	transform: translate(0, -1px);
}

.voximplant-tile-img {
	display: block;
	margin: 0 auto 12px auto;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60% auto;
	border: 1px solid transparent;
	box-sizing: border-box;
}

.voximplant-tile-name {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0 11px 0 12px;
	max-width: 160px;
	font: 13px "OpenSans-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.voximplant-tile-lock {
	position: absolute;
	top: 3px;
	right: 0;
	display: none;
	width: 9px;
	height: 13px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%209%2013%22%3E%3Cpath%20fill%3D%22%2316B9EB%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.012%2010.18h-1.03V8.897a.809.809%200%200%201-.303-.631c0-.45.366-.813.819-.813.452%200%20.818.364.818.813a.809.809%200%200%201-.304.631v1.283zM2.256%203.447a2.233%202.233%200%200%201%202.242-2.225c1.238%200%202.241.996%202.241%202.225v1.61H2.256v-1.61zm5.668%201.61v-1.61C7.924%201.57%206.39.046%204.498.046%202.605.046%201.07%201.569%201.07%203.447v1.61H.031v6.952h8.933V5.057h-1.04z%22/%3E%3C/svg%3E') no-repeat;
}

.voximplant-tile-locked-state .voximplant-tile-lock {
	display: inline-block;
}
/* END OF TILE GRID */

/* TILES */
.voximplant-start-block {
	padding-bottom: 10px;
}

.voximplant-start-wrap {
	/*padding-top: 25px;*/
	/*border-top: 1px solid rgba(82, 92, 105, .1);*/
	margin: 0 0 20px 0;
}

.voximplant-start-slider {
	padding: 0 21px 0 25px;
}

.bitrix24-light-theme .voximplant-start-wrap {
	border-color: rgba(255, 255, 255, .2);
}

.bitrix24-default-theme .voximplant-start-wrap {
	margin-right: 20px;
}

.voximplant-tile-item-selected {
	border: none;
	border-radius: 3px;
}

.voximplant-tile-item-selected:before {
	content: '';
	position: absolute;
	top: -8px;
	right: -8px;
	width: 28px;
	height: 28px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2028%2028%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22b%22%20width%3D%2220%22%20height%3D%2220%22%20rx%3D%2210%22/%3E%3Cfilter%20x%3D%22-35%25%22%20y%3D%22-25%25%22%20width%3D%22170%25%22%20height%3D%22170%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22a%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%222%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.11404611%200%22%20in%3D%22shadowBlurOuter1%22/%3E%3C/filter%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%284%202%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%3Cuse%20fill%3D%22%239DCF00%22%20xlink%3Ahref%3D%22%23b%22/%3E%3C/g%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M12.627%2013.81L18.402%208%2020%209.607%2012.652%2017l-.025-.025-.025.025L8%2012.373l1.598-1.607z%22/%3E%3C/g%3E%3C/svg%3E') no-repeat;
}

.voximplant-tile-item-selected .voximplant-tile-img {
	border-color: rgba(255, 255, 255, .6);
}

.voximplant-tile-item-selected .voximplant-tile-name {
	color: #fff;
}

.voximplant-start-logo-number-rental .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2023%2023%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M13.071%2016.44c-.546-.582-1.23-.582-1.772%200-.415.442-.725.584-1.133%201.035-.111.123-.205.15-.34.067-.27-.157-.555-.285-.812-.458-1.202-.814-2.209-1.86-3.1-3.038-.443-.585-.836-1.211-1.112-1.917-.055-.142-.045-.236.063-.352.415-.432.554-.59.961-1.032.568-.615.568-1.335-.003-1.954-.324-.353-.637-.84-.901-1.222-.264-.383-.471-.837-.81-1.194-.546-.574-1.229-.574-1.772.004-.418.443-.819.897-1.244%201.332-.393.401-.592.892-.634%201.466-.066.934.147%201.816.446%202.675.613%201.778%201.547%203.357%202.679%204.805%201.529%201.958%203.354%203.507%205.49%204.625.96.502%201.957.889%203.04.953.745.045%201.393-.158%201.912-.784.356-.428.756-.818%201.132-1.227.558-.608.561-1.343.007-1.943-.661-.716-1.431-1.129-2.097-1.842z%22/%3E%3Cpath%20fill-rule%3D%22nonzero%22%20d%3D%22M15.597.35a6.969%206.969%200%201%200%200%2013.938%206.969%206.969%200%200%200%200-13.938zm0%2011.384a.656.656%200%200%201-.656-.656v-.364c-.558-.056-1.1-.23-1.466-.48a.306.306%200%200%201-.115-.36l.247-.654a.333.333%200%200%201%20.488-.165c.38.238.877.38%201.328.38.556%200%20.93-.271.93-.673%200-.274-.119-.572-.988-.907-.959-.357-1.941-.878-1.941-2.029%200-.906.611-1.613%201.58-1.86V3.56a.656.656%200%201%201%201.312%200l.001.337c.441.048.838.17%201.207.369.138.074.198.24.14.385l-.257.642a.333.333%200%200%201-.468.169c-.2-.108-.569-.31-1.166-.31-.736%200-.793.431-.793.563%200%20.284.16.475%201.11.859.903.35%201.83.876%201.83%202.107-.002.944-.66%201.702-1.667%201.952v.444a.656.656%200%200%201-.656.656z%22/%3E%3C/g%3E%3C/svg%3E');
	background-color: #2fc6f6;
}

.voximplant-tile-item-selected.voximplant-start-logo-number-rental,
.voximplant-tile-item-selected.voximplant-start-logo-documents-download {
	background-color: #2fc6f6;
}

.voximplant-start-logo-documents-download .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2020%2025%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M12.976%2016.508h4.754a.263.263%200%200%200%20.267-.257V7.767a.263.263%200%200%200-.267-.258h-5.09a.263.263%200%200%201-.269-.256V2.366a.263.263%200%200%200-.267-.257h-5.09a.263.263%200%200%200-.268.257V6H4.871V1.273c0-.533.45-.964%201.005-.964h7.954c.267%200%20.523.102.71.282l4.939%204.741c.25.24.392.568.392.91v11.103c0%20.532-.45.964-1.004.964h-5.89v-1.8zm1.27-13.42v2.524a.1.1%200%200%200%20.101.097h2.629c.028%200%20.052-.01.072-.028a.093.093%200%200%200%200-.136l-2.63-2.524a.101.101%200%200%200-.07-.029c-.056%200-.102.044-.102.096z%22/%3E%3Cpath%20d%3D%22M7.96%2014.55h4.192l-5.764%205.24-5.764-5.24h4.192V9.31H7.96v5.24zM.871%2022.323h11.005v2H.871v-2z%22/%3E%3C/g%3E%3C/svg%3E');
	background-color: #2fc6f6;
}

.voximplant-start-logo-package-of-numbers-5 .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M8.237%204.928c.323%200%20.596.248.57.57v2.33c0%20.323-.247.57-.57.57h-2.33a.561.561%200%200%201-.57-.57v-2.33c0-.322.247-.57.57-.57h2.33zm5.083%200c.323%200%20.57.248.57.57v2.33c0%20.323-.247.57-.57.57h-2.33a.561.561%200%200%201-.57-.57v-2.33c0-.297.247-.57.57-.57h2.33zM.848%2013.482c-.322%200-.595-.248-.57-.57v-2.33c0-.323.247-.571.57-.571h2.33c.323%200%20.57.248.57.57v2.33c0%20.323-.247.571-.57.571H.848zm7.39-3.497c.322%200%20.595.273.57.57v2.331c0%20.323-.248.57-.57.57H5.906a.561.561%200%200%201-.57-.57v-2.33c0-.323.247-.57.57-.57h2.33zm5.082%200c.323%200%20.57.273.57.57v2.331c0%20.323-.247.57-.57.57h-2.33a.561.561%200%200%201-.57-.57v-2.33c0-.323.247-.57.57-.57h2.33zM.848%2018.565c-.322%200-.595-.273-.57-.57v-2.33c0-.298.247-.571.57-.571h2.33c.323%200%20.57.248.57.57v2.33c0%20.298-.247.571-.57.571H.848zm7.39-3.497c.322%200%20.595.248.57.57v2.331c0%20.298-.248.57-.57.57H5.906a.561.561%200%200%201-.57-.57v-2.33c0-.297.247-.57.57-.57h2.33zm5.082%200c.323%200%20.57.248.57.57v2.331c0%20.298-.247.57-.57.57h-2.33a.561.561%200%200%201-.57-.57v-2.33c0-.297.247-.57.57-.57h2.33zM3.178%208.424H.848c-.322%200-.595-.273-.57-.595v-2.33c0-.298.248-.571.57-.571H3.18c.323%200%20.57.248.57.57v2.356c0%20.322-.248.57-.57.57z%22/%3E%3Cpath%20fill%3D%22%23FFA900%22%20d%3D%22M9.871.309h10v14h-10z%22/%3E%3Ctext%20fill%3D%22%23FFF%22%20font-family%3D%22OpenSans-Bold%2C%20Open%20Sans%22%20font-size%3D%2217%22%20font-weight%3D%22bold%22%20transform%3D%22translate%28-.129%20-6.691%29%22%3E%3Ctspan%20x%3D%2210.558%22%20y%3D%2218.867%22%3E5%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E');
	background-color: #9dcf00;
}

.voximplant-tile-item-selected.voximplant-start-logo-package-of-numbers-5 {
	background-color: #9dcf00;
}

.voximplant-start-logo-package-of-numbers-10 .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2028%2021%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M8.237%206.928c.323%200%20.596.248.57.57v2.33c0%20.323-.247.57-.57.57h-2.33a.561.561%200%200%201-.57-.57v-2.33c0-.322.247-.57.57-.57h2.33zm5.083%200c.323%200%20.57.248.57.57v2.33c0%20.323-.247.57-.57.57h-2.33a.561.561%200%200%201-.57-.57v-2.33c0-.297.247-.57.57-.57h2.33zM.848%2015.482c-.322%200-.595-.248-.57-.57v-2.33c0-.323.247-.571.57-.571h2.33c.323%200%20.57.248.57.57v2.33c0%20.323-.247.571-.57.571H.848zm7.39-3.497c.322%200%20.595.273.57.57v2.331c0%20.323-.248.57-.57.57H5.906a.561.561%200%200%201-.57-.57v-2.33c0-.323.247-.57.57-.57h2.33zm5.082%200c.323%200%20.57.273.57.57v2.331c0%20.323-.247.57-.57.57h-2.33a.561.561%200%200%201-.57-.57v-2.33c0-.323.247-.57.57-.57h2.33zM.848%2020.565c-.322%200-.595-.273-.57-.57v-2.33c0-.298.247-.571.57-.571h2.33c.323%200%20.57.248.57.57v2.33c0%20.298-.247.571-.57.571H.848zm7.39-3.497c.322%200%20.595.248.57.57v2.331c0%20.298-.248.57-.57.57H5.906a.561.561%200%200%201-.57-.57v-2.33c0-.297.247-.57.57-.57h2.33zm5.082%200c.323%200%20.57.248.57.57v2.331c0%20.298-.247.57-.57.57h-2.33a.561.561%200%200%201-.57-.57v-2.33c0-.297.247-.57.57-.57h2.33zM3.178%2010.424H.848c-.322%200-.595-.273-.57-.595v-2.33c0-.298.248-.571.57-.571H3.18c.323%200%20.57.248.57.57v2.356c0%20.322-.248.57-.57.57z%22/%3E%3Cpath%20fill%3D%22%2355D0E0%22%20d%3D%22M9.871%202.309h10v14h-10z%22/%3E%3Ctext%20fill%3D%22%23FFF%22%20font-family%3D%22OpenSans-Bold%2C%20Open%20Sans%22%20font-size%3D%2217%22%20font-weight%3D%22bold%22%20letter-spacing%3D%22-1.05%22%20transform%3D%22translate%28-.129%20-4.691%29%22%3E%3Ctspan%20x%3D%229.54%22%20y%3D%2218.448%22%3E1%3C/tspan%3E%20%3Ctspan%20x%3D%2218.194%22%20y%3D%2218.448%22%3E0%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E');
	background-color: #55d0e0;
}

.voximplant-tile-item-selected.voximplant-start-logo-package-of-numbers-10 {
	background-color: #55d0e0;
}

.voximplant-start-logo-sip-connector-box .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2026%2022%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%28.871%20.309%29%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M11.8710938%2C3.00106164%20L20.8710938%2C0.30859375%20L20.8710938%2C18.3085938%20L11.8710938%2C18.3085938%20L11.8710938%2C3.00106164%20Z%20M24.8710937%2C2.04541595%20L24.8710938%2C18.3085938%20L21.8710938%2C18.3085938%20L21.8710938%2C0.30859375%20L24.8710937%2C2.04541595%20Z%22/%3E%0A%20%20%20%20%3Crect%20width%3D%2213%22%20height%3D%2215%22%20x%3D%224%22%20y%3D%226%22%20fill%3D%22%2300B4AC%22%20rx%3D%222%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M2.04786851%2C8%20L2.67286851%2C3%20L3.34573701%2C3%20L3.97073701%2C8%20L14%2C8%20C14.5522847%2C8%2015%2C8.44771525%2015%2C9%20L15%2C12%20C15%2C12.5522847%2014.5522847%2C13%2014%2C13%20L1%2C13%20C0.44771525%2C13%206.76353751e-17%2C12.5522847%200%2C12%20L0%2C9%20C-6.76353751e-17%2C8.44771525%200.44771525%2C8%201%2C8%20L2.04786851%2C8%20Z%20M1%2C15%20L14%2C15%20C14.5522847%2C15%2015%2C15.4477153%2015%2C16%20L15%2C19%20C15%2C19.5522847%2014.5522847%2C20%2014%2C20%20L1%2C20%20C0.44771525%2C20%206.76353751e-17%2C19.5522847%200%2C19%20L0%2C16%20C-6.76353751e-17%2C15.4477153%200.44771525%2C15%201%2C15%20Z%20M1.66666667%2C17%20L1.66666667%2C18%20L10%2C18%20L10%2C17%20L1.66666667%2C17%20Z%20M13.3333333%2C17%20L11.6666667%2C17%20L11.6666667%2C18%20L13.3333333%2C18%20L13.3333333%2C17%20Z%20M1.66666667%2C10%20L1.66666667%2C11%20L10%2C11%20L10%2C10%20L1.66666667%2C10%20Z%20M13.3333333%2C10%20L11.6666667%2C10%20L11.6666667%2C11%20L13.3333333%2C11%20L13.3333333%2C10%20Z%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
	background-color: #00b4ac;
}

.voximplant-start-logo-number-settings .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2025%2024%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M12.136%2018.163c.619.662%201.33%201.05%201.946%201.715.515.557.521%201.23.018%201.78-.34.37-.702.723-1.022%201.11-.468.569-1.06.746-1.743.695-.994-.072-1.912-.439-2.8-.912-1.972-1.051-3.664-2.495-5.091-4.309C2.388%2016.9%201.512%2015.441.928%2013.803c-.286-.791-.492-1.602-.443-2.457.031-.526.207-.974.563-1.337.384-.393.745-.804%201.123-1.205.49-.522%201.116-.514%201.625.02.314.33.51.75.757%201.104.247.354.54.804.841%201.132.532.574.54%201.234.028%201.791-.368.4-.493.543-.868.934-.097.105-.106.19-.053.322.261.65.63%201.23%201.043%201.771.832%201.091%201.768%202.063%202.88%202.825.239.161.502.282.75.43.126.077.212.054.312-.058.368-.407.65-.534%201.025-.935.49-.526%201.116-.517%201.625.023zM20.078%208.691a3.106%203.106%200%200%201-2.387%202.387%203.158%203.158%200%200%201-3.769-3.77c.23-1.075%201.31-2.157%202.386-2.386a3.158%203.158%200%200%201%203.77%203.77m4.337-1.857l-1.585-.264c-.113-.46-.276-.901-.488-1.313a.05.05%200%200%201%20.006-.053l.994-1.234a.7.7%200%200%200-.021-.905l-.63-.71a.7.7%200%200%200-.897-.127l-1.355.852a5.962%205.962%200%200%200-1.969-.895.05.05%200%200%201-.037-.04l-.26-1.561a.7.7%200%200%200-.69-.585h-.95a.698.698%200%200%200-.69.585l-.26%201.562a.05.05%200%200%201-.037.04%205.96%205.96%200%200%200-1.624.674.05.05%200%200%201-.053-.002l-1.263-.901a.7.7%200%200%200-.902.074l-.671.672a.7.7%200%200%200-.074.902l.903%201.265a.05.05%200%200%201%20.002.054%205.976%205.976%200%200%200-.669%201.611.05.05%200%200%201-.04.037l-1.57.262a.7.7%200%200%200-.585.69v.95a.7.7%200%200%200%20.585.69l1.57.262a.05.05%200%200%201%20.04.037c.118.469.287.918.508%201.335a.05.05%200%200%201-.005.054l-.99%201.226a.7.7%200%200%200%20.021.905l.63.71a.7.7%200%200%200%20.897.127l1.348-.846a.05.05%200%200%201%20.053%200%205.96%205.96%200%200%200%201.92.846l.267%201.594a.698.698%200%200%200%20.69.585h.95a.7.7%200%200%200%20.69-.585l.26-1.562a.05.05%200%200%201%20.036-.04%205.952%205.952%200%200%200%201.605-.663.05.05%200%200%201%20.053.002l1.317.94c.277.2.66.169.901-.074l.672-.671a.698.698%200%200%200%20.073-.902l-.937-1.314a.05.05%200%200%201-.002-.054c.298-.496.526-1.039.67-1.616a.05.05%200%200%201%20.04-.037l1.553-.259a.699.699%200%200%200%20.585-.69v-.95a.7.7%200%200%200-.585-.69%22/%3E%3C/g%3E%3C/svg%3E');
	background-color: #00b4ac;
}

.voximplat-start-logo-contractor-documents .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2023%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M16.667%206.092h.431v15.554a.43.43%200%200%201-.43.43H.564a.43.43%200%200%201-.43-.43V1.39a.43.43%200%200%201%20.43-.43h11.39v.425l-.001.005v4.271c0%20.237.193.43.432.43h4.281zm-3.85-4.88l4.029%204.02h-4.03v-4.02zm-7.82%206.784a1.998%201.998%200%201%200%200-3.996%201.998%201.998%200%200%200%200%203.996zm-1.75%201.633v1h8.85v-1h-8.85zm0%202.222v1h8.85v-1h-8.85zm0%202v1h8.85v-1h-8.85z%22/%3E%3C/svg%3E');
	background-color: #228BBC;
}

.voximplant-tile-item-selected.voximplant-start-logo-sip-connector-box,
.voximplant-tile-item-selected.voximplant-start-logo-number-settings {
	background-color: #00b4ac;
}

.voximplant-start-logo-sip-connector-cloud .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2028%2020%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%28.871%20.309%29%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M22.684%2012.993H12.438c-.088%200-.175-.003-.261-.01C9.86%2012.933%208%2011.056%208%208.749a4.22%204.22%200%200%201%201.255-2.997%204.281%204.281%200%200%201%201.428-.934%204.453%204.453%200%200%201%201.31-3.509A4.536%204.536%200%200%201%2015.188%200a4.519%204.519%200%200%201%203.702%201.922c.386-.136.802-.21%201.236-.21%201.914.003%203.487%201.449%203.67%203.298%201.834.397%203.207%202.016%203.205%203.952-.002%202.231-1.828%204.039-4.08%204.038-.08%200-.158-.002-.236-.007z%22/%3E%3Crect%20width%3D%2213%22%20height%3D%2215%22%20x%3D%224%22%20y%3D%224%22%20fill%3D%22%2300B4AC%22%20rx%3D%222%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M2.048%206l.625-5h.673l.625%205H14a1%201%200%200%201%201%201v3a1%201%200%200%201-1%201H1a1%201%200%200%201-1-1V7a1%201%200%200%201%201-1h1.048zM1%2013h13a1%201%200%200%201%201%201v3a1%201%200%200%201-1%201H1a1%201%200%200%201-1-1v-3a1%201%200%200%201%201-1zm.667%202v1H10v-1H1.667zm11.666%200h-1.666v1h1.666v-1zM1.667%208v1H10V8H1.667zm11.666%200h-1.666v1h1.666V8z%22/%3E%3C/g%3E%3C/svg%3E');
	background-color: #1eae43;
}

.voximplant-tile-item-selected.voximplant-start-logo-sip-connector-cloud {
	background-color: #1eae43;
}

.voximplant-start-logo-bind-number .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2023%2023%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill-rule%3D%22nonzero%22%20d%3D%22M21.783%206.652l-2.628%202.627a3.715%203.715%200%200%201-5.254%200%203.712%203.712%200%200%201-.565-.75l1.221-1.22c.058-.059.13-.092.199-.132.084.288.231.561.458.788a1.86%201.86%200%200%200%202.627%200l2.628-2.627a1.86%201.86%200%200%200%200-2.628%201.86%201.86%200%200%200-2.628%200l-.934.936a4.662%204.662%200%200%200-2.37-.258l1.99-1.991a3.716%203.716%200%200%201%205.256%205.255zm-6.948%204.32l-.934.935a1.861%201.861%200%200%201-2.628%200%201.86%201.86%200%200%201%200-2.628L13.9%206.652a1.859%201.859%200%200%201%202.627%200c.226.226.374.5.459.787.069-.04.14-.072.198-.13l1.22-1.221a3.652%203.652%200%200%200-.564-.75%203.716%203.716%200%200%200-5.254%200L9.959%207.966a3.716%203.716%200%200%200%205.255%205.255l1.992-1.992a4.659%204.659%200%200%201-2.37-.257z%22/%3E%3Cpath%20d%3D%22M12.604%2017.044c.619.662%201.33%201.05%201.945%201.715.516.558.522%201.232.018%201.782-.34.37-.702.722-1.022%201.11-.468.567-1.059.745-1.743.694-.994-.072-1.912-.439-2.8-.912-1.971-1.052-3.664-2.495-5.09-4.31-1.057-1.341-1.932-2.8-2.517-4.438-.285-.791-.491-1.602-.442-2.458.03-.525.206-.973.562-1.336.384-.394.746-.805%201.123-1.205.49-.523%201.117-.514%201.625.019.315.331.51.75.757%201.104.247.354.54.805.842%201.132.531.575.54%201.235.028%201.792-.368.4-.494.543-.868.933-.098.105-.106.191-.053.323.26.65.63%201.229%201.042%201.77.833%201.092%201.769%202.064%202.88%202.825.24.162.503.282.75.43.126.078.212.055.313-.057.368-.408.65-.535%201.024-.935.491-.526%201.117-.517%201.626.022z%22/%3E%3C/g%3E%3C/svg%3E');
	background-color: #f7a700;
}

.voximplant-start-logo-settings .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2026%2021%22%3E%3Cpath%20d%3D%22M8.83%209v2H1.666v1h7.178c.05.708.224%201.381.499%202H1a1%201%200%200%201-1-1v-3a1%201%200%200%201%201-1h1.048l.625-5h.673l.625%205h4.858zm1.957%207a5.978%205.978%200%200%200%204.042%201.565H15V20a1%201%200%200%201-1%201H1a1%201%200%200%201-1-1v-3a1%201%200%200%201%201-1h9.787zm-9.12%202v1H10v-1H1.667zm11.666%200h-1.666v1h1.666v-1zm7.745-9.309a3.106%203.106%200%200%201-2.387%202.387%203.158%203.158%200%200%201-3.769-3.77c.23-1.075%201.31-2.157%202.386-2.386a3.158%203.158%200%200%201%203.77%203.77m4.337-1.857l-1.585-.264c-.113-.46-.276-.901-.488-1.313a.05.05%200%200%201%20.006-.053l.994-1.234a.7.7%200%200%200-.021-.905l-.63-.71a.7.7%200%200%200-.897-.127l-1.355.852a5.962%205.962%200%200%200-1.969-.895.05.05%200%200%201-.037-.04l-.26-1.561a.7.7%200%200%200-.69-.585h-.95a.698.698%200%200%200-.69.585l-.26%201.562a.05.05%200%200%201-.037.04%205.96%205.96%200%200%200-1.624.674.05.05%200%200%201-.053-.002l-1.263-.901a.7.7%200%200%200-.902.074l-.671.672a.7.7%200%200%200-.074.902l.903%201.265a.05.05%200%200%201%20.002.054%205.976%205.976%200%200%200-.669%201.611.05.05%200%200%201-.04.037l-1.57.262a.7.7%200%200%200-.585.69v.95a.7.7%200%200%200%20.585.69l1.57.262a.05.05%200%200%201%20.04.037c.118.469.287.918.508%201.335a.05.05%200%200%201-.005.054l-.99%201.226a.7.7%200%200%200%20.021.905l.63.71a.7.7%200%200%200%20.897.127l1.348-.846a.05.05%200%200%201%20.053%200%205.96%205.96%200%200%200%201.92.846l.267%201.594a.698.698%200%200%200%20.69.585h.95a.7.7%200%200%200%20.69-.585l.26-1.562a.05.05%200%200%201%20.036-.04%205.952%205.952%200%200%200%201.605-.663.05.05%200%200%201%20.053.002l1.317.94c.277.2.66.169.901-.074l.672-.671a.698.698%200%200%200%20.073-.902l-.937-1.314a.05.05%200%200%201-.002-.054c.298-.496.526-1.039.67-1.616a.05.05%200%200%201%20.04-.037l1.553-.259a.699.699%200%200%200%20.585-.69v-.95a.7.7%200%200%200-.585-.69%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-color: #f7a700;
}

.voximplant-start-logo-rest-app .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2021%2022%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.415.008c-.022.006-.044.02-.067.03l-10%203.959c-.25.117-.34.373-.348.673v12.743c.003.285.152.556.349.632l9.902%203.916a.651.651%200%200%200%20.416.01l9.991-3.947c.197-.08.344-.356.342-.642V4.752c.005-.388-.091-.616-.35-.735L10.6.04c-.068-.035-.122-.05-.185-.031zm.059%201.357l8.299%203.294-8.299%203.274L2.168%204.65l8.306-3.284z%22/%3E%3C/svg%3E');
}

.voximplant-start-logo-rest-app-1 .voximplant-tile-img,
.voximplant-tile-item-selected.voximplant-start-logo-rest-app-1 {
	background-color: #ffa900;
}

.voximplant-start-logo-rest-app-2 .voximplant-tile-img,
.voximplant-tile-item-selected.voximplant-start-logo-rest-app-2 {
	background-color: #ff769a;
}

.voximplant-start-logo-rest-app-3 .voximplant-tile-img,
.voximplant-tile-item-selected.voximplant-start-logo-rest-app-3 {
	background-color: #4ecfe1;
}

.voximplant-start-logo-rest-app-4 .voximplant-tile-img,
.voximplant-tile-item-selected.voximplant-start-logo-rest-app-4 {
	background-color: #af6d49;
}

.voximplant-start-logo-rest-app-5 .voximplant-tile-img,
.voximplant-tile-item-selected.voximplant-start-logo-rest-app-5 {
	background-color: #0bae3e;
}

.voximplant-start-logo-rest-app-6 .voximplant-tile-img,
.voximplant-tile-item-selected.voximplant-start-logo-rest-app-6 {
	background-color: #a7acb3;
}

.voximplant-start-logo-rest-app-with-icon .voximplant-tile-img {
	background-color: #ffffff;
	width:100%;
}
.voximplant-tile-item-selected.voximplant-start-logo-rest-app-with-icon {
	background-color: #ffffff;
}
.voximplant-tile-item-selected.voximplant-start-logo-rest-app-with-icon .voximplant-tile-name {
	color: #525C69;
}


.voximplant-tile-item-selected.voximplant-start-logo-bind-number,
.voximplant-tile-item-selected.voximplant-start-logo-settings {
	background-color: #f7a700;
}

.voximplant-start-logo-access-rights .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2025%2020%22%3E%3Cpath%20d%3D%22M17.297%2016.102c0-.82-1.05-1.757-3.116-2.303a6.95%206.95%200%200%201-1.973-.918c-.133-.077-.113-.794-.113-.794l-.666-.103c0-.058-.056-.918-.056-.918.796-.273.714-1.886.714-1.886.506.286.835-.99.835-.99.598-1.774-.298-1.667-.298-1.667a11.4%2011.4%200%200%200%200-3.266C12.226-.335%206.228.64%206.94%201.813%205.186%201.483%205.586%205.56%205.586%205.56l.38%201.055c-.747.495-.228%201.094-.202%201.783.037%201.017.646.806.646.806.038%201.679.848%201.897.848%201.897.152%201.055.057.875.057.875l-.72.09c.009.24-.01.48-.058.714-.847.386-1.03.613-1.872.99-1.628.729-3.397%201.677-3.711%202.953C.64%2018%20.524%2019.841.524%2019.841h17.342l-.57-3.739zm3.171-7.757v1.173h-.93V8.345a.744.744%200%200%201%20.466-1.322c.408%200%20.739.333.739.744a.744.744%200%200%201-.275.578zM17.98%203.578a2.03%202.03%200%200%201%202.024-2.036%202.03%202.03%200%200%201%202.023%202.036v1.72H17.98v-1.72zm5.116%201.72v-1.72A3.102%203.102%200%200%200%2020.004.466a3.102%203.102%200%200%200-3.093%203.112v1.72h-.939v5.893h8.063V5.3h-.939z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-color: #ff799c;
}

.voximplant-tile-item-selected.voximplant-start-logo-access-rights {
	background-color: #ff799c
}

.voximplant-start-logo-device-connection .voximplant-tile-img {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M8.506%2017.083c-.04%201.132.255%202.103.21%203.236-.038.948-.647%201.549-1.606%201.59-.647.027-1.298.019-1.943.078-.943.088-1.643-.278-2.22-.927-.84-.942-1.342-2.078-1.72-3.281C.39%2015.106-.254%2012.334.1%209.469.359%207.35.89%205.285%201.85%203.321c.46-.952%201.012-1.85%201.836-2.563C4.193.32%204.76.08%205.416.073%206.123.065%206.826.021%207.535.001%208.46-.027%209.022.534%209%201.455c-.015.57-.219%201.113-.316%201.645-.098.53-.241%201.188-.265%201.744-.039.978-.632%201.57-1.606%201.609-.7.028-.945.043-1.641.057-.185.007-.27.076-.342.238-.355.806-.546%201.644-.664%202.488-.236%201.7.148%203.387.467%205.043.07.354.2.693.292%201.043.044.18.143.235.337.225.706-.035%201.079.102%201.784.08.927-.032%201.489.529%201.46%201.456zM16.343%2015.165v1.619c0%202.312-1.486%203.344-3.822%203.538-.437.037-.783.044-1.482.044a1%201%200%201%201%200-2c.645%200%20.952-.006%201.315-.037%201.428-.119%201.989-.508%201.989-1.545v-1.62h-2.365a2%202%200%200%201-2-2V7.93a1%201%200%200%201%201-1h1.097v-4a.824.824%200%200%201%201.647%200v4h3.486v-4a.824.824%200%200%201%201.647%200v4h1.24a1%201%200%200%201%201%201v5.235a2%202%200%200%201-2%202h-2.752z%22/%3E%3C/g%3E%3C/svg%3E');
	background-color: #468ee5;
}

.voximplant-tile-item-selected.voximplant-start-logo-device-connection {
	background-color: #468ee5;
}

.voximplant-start-logo-common .voximplant-tile-img {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2225%22%20height%3D%2226%22%20viewBox%3D%220%200%2025%2026%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cg%3E%0A%3Cg%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M%2011.9912%200.0357666C%2012.0116%200.0251465%2012.0314%200.0148315%2012.0505%200.0090332C%2012.1235%20-0.0119019%2012.1858%200.00463867%2012.2653%200.0452271L%2023.8947%204.66113C%2024.1931%204.79938%2024.3047%205.06384%2024.2983%205.51459L%2024.2983%2020.1678C%2024.3005%2020.4999%2024.1309%2020.8199%2023.9032%2020.9131L%2012.3425%2025.4929C%2012.189%2025.5349%2012.0033%2025.5439%2011.8616%2025.4808L%200.403687%2020.9373C%200.176086%2020.8486%200.00323486%2020.5345%200%2020.204L%200%205.41846C%200.00860596%205.06989%200.113831%204.77386%200.403687%204.63715L%2011.9731%200.045105L%2011.9912%200.0357666ZM%2021.7218%205.40631L%2012.1191%201.58374L%202.508%205.39429L%2012.1191%209.20477L%2021.7218%205.40631Z%22%20fill%3D%22%23FFFFFF%22/%3E%0A%3C/g%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A);
}

.voximplant-start-logo-custom .voximplant-tile-img {
	width: 180px;
	/*background-size: contain;*/
}
/* END OF TILES */

/* BANNER */
.voximplant-license-banner {
	display: block;
	overflow: hidden;
	margin: 20px 0 75px;
	height: 97px;
	background: #2fc6f6 url(images/voximplant-license-banner-bg.png) right center no-repeat;
	text-decoration: none;
	cursor: pointer;
}

.voximplant-license-banner:before {
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}

.voximplant-license-banner-icon,
.voximplant-license-banner-title {
	display: inline-block;
	vertical-align: middle;
}

.voximplant-license-banner-title {
	color: #fff;
	font-size: 27px;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, sans-serif;
	pointer-events: none;
}

.voximplant-license-banner-title span {
	font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, sans-serif;
}

.voximplant-license-banner-icon {
	position: relative;
	margin: auto 15px auto 25px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background: #fff;
}

.voximplant-license-banner-icon:before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	border: 1px solid rgba(255, 255, 255, .7);
	border-radius: 50%;
	content: '';
	transform: translate(-50%, -50%);
}

.voximplant-license-banner-icon-arrow {
	display: block;
	margin: 10px auto 0;
	width: 20px;
	height: 20px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%239DCF00%22%20d%3D%22M12.7272727%2C9.61538462%20L20%2C9.61538462%20L10%2C19.2307692%20L0%2C9.61538462%20L7.27272727%2C9.61538462%20L7.27272727%2C0%20L12.7272727%2C0%20L12.7272727%2C9.61538462%20Z%22%3E%3C/path%3E%3C/svg%3E') center center no-repeat;
	opacity: 1;
	transition: .23s;
	transform: translateY(0);
}

.voximplant-license-banner:hover .voximplant-license-banner-icon-arrow {
	opacity: .7;
	transform: translateY(-7px);
	animation: voximplant-license-banner-icon-arrow-animate .7s linear .23s infinite;
}

@keyframes voximplant-license-banner-icon-arrow-animate {
	0% {
		opacity: .7;
		transform: translateY(-7px);
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: .7;
		transform: translateY(-7px);
	}
}

.voximplant-license-banner-icon:after {
	position: absolute;
	bottom: 11px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 4px;
	background: #9dcf00;
	content: '';
}
/* END OF BANNER */


/* BLACKLIST */
.voximplant-blacklist-popup {
	color: #535c69;
	padding: 0 18px;
	/*display: block;
	padding: 17px 18px;
	width: 467px;
	height: 241px;
	background: #fff;
	box-sizing: border-box;*/
}

.voximplant-blacklist-popup-title {
	display: block;
	margin: 0 0 18px 0;
	font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.voximplant-blacklist-input-box {
	display: flex;
	align-items: center;
	margin: 0 0 13px 0;
	cursor: pointer;
}

.voximplant-blacklist-popup-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 23px 0;
	border-bottom: 1px solid rgba(82,92,105,.1);
}

.voximplant-blacklist-checkbox {
	margin: 0 8px 0 0;
}

.voximplant-blacklist-label {
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.voximplant-blacklist-popup-row .voximplant-control-row {
	width: 50%;
	margin: 0;
}

.voximplant-blacklist-popup-row .voximplant-control-row:first-child {
	margin: 0 6% 0 0;
}

.voximplant-blacklist-popup-control-box {
	padding: 16px 0 0 0;
	border-top: 1px solid rgba(82,92,105,.1);
	text-align: center;
}

.voximplant-blacklist-box {
	margin: 0 0 17px 0;
}

.voximplant-blacklist-textarea {
	padding: 13px 9px;
	width: 100%;
	height: 100%;
	max-height: 367px;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	outline: none;
	resize: none;
	box-sizing: border-box;
}

.voximplant-blacklist-textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #333;
	opacity: .5;
}

.voximplant-blacklist-textarea::-moz-placeholder { /* Firefox 19+ */
	color: #333;
	opacity: .5;
}

.voximplant-blacklist-textarea:-ms-input-placeholder { /* IE 10+ */
	color: #333;
	opacity: .5;
}

.voximplant-blacklist-textarea:-moz-placeholder { /* Firefox 18- */
	color: #333;
	opacity: .5;
}
/* END OF BLACKLIST */

/* MULTIPLE NUMBER SETTINGS */
.voximplant-tuning-number-wrap {
	margin: -9px 0 0 0;
}

.voximplant-tuning-number-box {
	display: inline-block;
	margin: 14px 7px 0 0;
	height: 29px;
	background: #ecedef;
}

.voximplant-tuning-number-group-state.voximplant-tuning-number-box {
	background: #bcedfc;
}

.voximplant-tuning-number-item {
	display: inline-block;
	padding: 0 5px 0 11px;
	line-height: 29px;
	box-sizing: border-box;
}

.voximplant-tuning-number-btn-box {
	position: relative;
	display: inline-block;
	margin: 0 0 0 5px;
	padding: 0 8px 0 7px;
	height: 29px;
	vertical-align: middle;
	cursor: pointer;
}

.voximplant-tuning-number-btn-box:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	height: 14px;
	border-left: 1px solid rgba(177,182,189,.3);
}

.voximplant-tuning-number-btn-box:hover .voximplant-tuning-number-btn {
	opacity: .5;
}

.voximplant-tuning-number-btn {
	display: inline-block;
	padding: 6px 0;
	width: 14px;
	height: 14px;
	border: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20d%3D%22M9.565%207.576a2.588%202.588%200%200%201-1.989%201.989%202.632%202.632%200%200%201-3.14-3.141c.19-.897%201.091-1.798%201.988-1.989a2.632%202.632%200%200%201%203.14%203.141M13.18%206.03l-1.321-.22a4.98%204.98%200%200%200-.406-1.094.04.04%200%200%201%20.005-.045l.828-1.027a.583.583%200%200%200-.018-.754l-.525-.592a.583.583%200%200%200-.747-.106l-1.13.71a4.968%204.968%200%200%200-1.64-.746.041.041%200%200%201-.03-.033L7.977.821a.583.583%200%200%200-.575-.488H6.61a.581.581%200%200%200-.575.488L5.82%202.123a.04.04%200%200%201-.03.033%204.967%204.967%200%200%200-1.354.562.04.04%200%200%201-.045-.002l-1.052-.751a.584.584%200%200%200-.751.062l-.56.56a.583.583%200%200%200-.061.751l.753%201.055c.009.013.01.03.001.045a4.98%204.98%200%200%200-.557%201.342.04.04%200%200%201-.033.03l-1.31.22a.583.583%200%200%200-.487.574v.792c0%20.285.207.528.488.575l1.309.218a.041.041%200%200%201%20.033.03c.098.392.238.766.423%201.114a.041.041%200%200%201-.005.045l-.824%201.021a.583.583%200%200%200%20.018.754l.524.591c.19.214.507.259.748.107l1.123-.706a.04.04%200%200%201%20.045.001c.479.324%201.02.563%201.6.705l.222%201.328c.045.281.289.488.574.488h.792a.583.583%200%200%200%20.575-.488l.217-1.301a.041.041%200%200%201%20.03-.033%204.96%204.96%200%200%200%201.337-.553.04.04%200%200%201%20.045.002l1.097.783c.231.166.55.14.751-.062l.56-.56a.581.581%200%200%200%20.061-.75l-.78-1.096a.04.04%200%200%201-.003-.045c.249-.414.439-.866.559-1.347a.041.041%200%200%201%20.033-.03l1.294-.216a.582.582%200%200%200%20.488-.576v-.79a.583.583%200%200%200-.488-.576%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	transition: opacity .3s;
}
/* END OF MULTIPLE NUMBER SETTINGS */

/* MULTISELECT POPUP */
.voximplant-popup-multiselect-content {
	padding: 6px;
}

.voximplant-select-item {
	position: relative;
	margin: 0 0 3px 0;
	height: 32px;
	font: 13px/33px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #535C6A;
	transition: background .3s;
	cursor: pointer;
}

.voximplant-select-item:hover {
	background: #d4f8fd;
}

.voximplant-select-checkbox {
	position: absolute;
	top: 3px;
	left: 0;
	margin: 8px;
	z-index: 100;
}

.voximplant-select-label {
	display: inline-block;
	position: relative;
	width: 100%;
	line-height: 21px;
	padding: 6px 0 6px 28px;
	box-sizing: border-box;
}

.voximplant-select-item .voximplant-select-checkbox:checked + .voximplant-select-label {
	background: #d4f8fd;
}
/* END OF MULTISELECT POPUP */

/* NUMBER SETTINGS */
.voximplant-control-row {
	overflow: hidden;
	transition: max-height 0.3s ease;
}

.voximplant-control-row:empty {
	display: none;
}

.voximplant-control-row.inactive {
	max-height: 0!important;
	margin: 0!important;
}

.voximplant-control-subtitle {
	display: block;
	margin: 0 0 8px 0;
	max-width: 100%;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525C69;
	opacity: .5;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.voximplant-control-select,
.voximplant-control-input {
	display: inline-block;
	padding: 7px 25px 6px 10px;
	width: 100%;
	max-width: 542px;
	min-width: 180px;
	height: 39px;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.122%204.55L10.558.113l1.414%201.414-4.436%204.436-1.478%201.478L.401%201.785%201.88.307l4.242%204.242z%22/%3E%3C/svg%3E') center right 10px no-repeat;
	background-size: 12px 8px;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: border-color .3s;
	outline: none;
	vertical-align: middle;
	-webkit-appearance: none;
	box-sizing: border-box;
}

.voximplant-control-select {
	min-width: 120px;
}

.voximplant-control-input:focus {
	border-color: #66afe9;;
}

.voximplant-control-select::-ms-expand {
	display: none;
}

.voximplant-control-select:disabled,
.voximplant-control-input:disabled {
	opacity: 0.5;
}

.voximplant-control-input {
	padding: 7px 10px 6px 10px;
	background-image: none;
}

.voximplant-control-full-length.voximplant-control-select,
.voximplant-control-full-length.voximplant-control-input {
	max-width: 100%;
}

.voximplant-number-settings-inner .voximplant-number-settings-inner .voximplant-control-select {
	max-width: 518px;
}

.voximplant-start-head-box-title .voximplant-control-select {
	display: inline-block;
	margin: 0;
	padding: 0 27px 0 0;
	width: auto;
	min-width: auto;
	height: 32px;
	border: none;
	font: 18px "OpenSans-Regular", "Helvetica Neue", Arial;
	color: #333;
	cursor: pointer;
}

.voximplant-number-settings-wrap {
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.voximplant-number-settings-row {
	margin: 0 0 44px 0;
}

.voximplant-number-settings-row .voximplant-control-row {
	margin: 0 0 13px 0;
}

.tel-set-inner .voximplant-control-row {
	margin: 0 0 16px 0;
}

.voximplant-number-settings-row .ui-alert {
	margin: 0 0 20px 0;
}

.voximplant-number-settings-inner {
	padding: 0 0 0 22px;
}

.voximplant-control-select-flexible {
	display: flex;
	align-items: center;
}

.voximplant-control-multiple-inline {
	display: flex;
}

.voximplant-control-select-flexible .voximplant-control-select {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	margin: 0 19px 0 0;
}

.voximplant-control-select + .ui-hint {
	margin: 0 0 0 -19px;
}

.voximplant-link {
	display: inline-block;
	border-bottom: 1px dashed rgba(155,155,155,.4);
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #9b9b9b;
	transition: border-bottom .3s;
	cursor: pointer;
}

.voximplant-link:hover {
	border-bottom: 1px dashed transparent;
	color: #9b9b9b;
}

.voximplant-number-settings-choice {
	position: relative;
	margin: 0 0 13px 0;
}

.voximplant-number-settings-choice .ui-hint {
	position: absolute;
	top: -5px;
}

.voximplant-number-settings-checkbox {
	position: absolute;
	top: 0;
	left: 0;
	margin: 3px;
}

.voximplant-number-settings-label {
	padding: 0 0 0 24px;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.voximplant-number-settings-bold-text .voximplant-number-settings-label {
	font-weight: bold;
}

.voximplant-number-settings-inner {}
.voximplant-number-settings-text {
	display: block;
	margin: 0 0 17px 0;
	color: #525C69;
}

.voximplant-control-divide {
	display: block;
	margin: 0 17px;
	height: 2px;
	width: 17px;
	background: rgba(82,92,105,.3);
}

.voximplant-control-date.voximplant-control-select-flexible .voximplant-control-select {
	margin: 0;
	max-width: 119px;
	min-width: auto;
}

.voximplant-control-select-multiple.voximplant-control-select {
	padding: 7px 10px 6px 10px;
	height: auto;
	background: transparent;
	overflow-y: auto;
}

.voximplant-control-description {
	margin: 5px 0 0 0;
	font: italic 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A8ADB4;
}

.voximplant-control-description .voximplant-control-subtitle {
	font: italic 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.voximplant-control-missed-call .voximplant-control-row:nth-child(1) .voximplant-control-select {
	max-width: 151px;
	min-width: auto;
}

.voximplant-control-missed-call .voximplant-control-row:nth-child(1) {
	margin: 0 20px 0 0;
}

.voximplant-control-missed-call .voximplant-control-row:nth-child(2) .voximplant-control-select {
	min-width: 301px;
}

.voximplant-control-row .sender-ui-tile-selector-wrap {
	padding-top: 4px;
	min-height: 39px !important;
	max-width: 542px;
	box-sizing: border-box;
}

.voximplant-control-row .sender-ui-tile-input {
	height: 26px;
}

.voximplant-audio-player-box {
	display: flex;
	margin: 0 0 15px 0;
}

.voximplant-audio-player {
	margin: 0 13px 0 0;
}

.voximplant-audio-player-control .voximplant-control-description {
	margin: 3px 0 0 0;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.voximplant-audio-player-btn {
	margin: 0 0 21px 0;
}
/* END OF NUMBER SETTINGS */

.voximplant-container .ui-ctl-element {
	height: auto;
}

.voximplant-container .ui-ctl {
	width: 100%;
}

/* GROUPS */
.voximplant-edit-title {
	display: block;
	margin: 0 0 17px 0;
	padding: 0 0 9px 0;
	border-bottom: 1px solid rgba(82,92,105,.1);
}

.voximplant-edit-title-input {
	display: block;
	width: 100%;
	height: 32px;
	border: none;
	outline: none;
	font: 18px/24px 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.voximplant-edit-title-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #A8ADB4;
}

.voximplant-edit-title-input::-moz-placeholder { /* Firefox 19+ */
	color: #A8ADB4;
}

.voximplant-edit-title-input:-ms-input-placeholder { /* IE 10+ */
	color: #A8ADB4;
}

.voximplant-edit-title-input:-moz-placeholder { /* Firefox 18- */
	color: #A8ADB4;
}

.voximplant-options-popup {
	/*padding: 20px;
	width: 396px;
	background: #fff;
	box-sizing: border-box;*/
}
.voximplant-control-settings {
	overflow: hidden;
	transition: max-height 0.3s ease;
	position: relative;
}

.voximplant-control-settings .voximplant-control-subtitle {
	margin: 0 0 20px 0;
	overflow: visible;
	white-space: normal;
}

.voximplant-control-settings-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.5;
	background-color: white;
	display: none;
}

.voximplant-control-settings-overlay.active {
	display: block;
}

.voximplant-control-settings-row {
	display: flex;
	margin: 0 0 20px 0;
}

.voximplant-control-settings-name {
	margin: 0 12px 0 0;
	width: 62px;
	min-width: 62px;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #525C69;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.voximplant-control-settings-value-box {
	position: relative;
	font: bold 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	word-break: break-word;
}

.voximplant-control-settings-input {
	display: none;
	margin: 0;
	font: bold 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
}

.voximplant-control-settings-value {
	display: inline-block;
}

.voximplant-control-settings-active .voximplant-control-settings-input {
	display: inline-block;
}

.voximplant-control-settings-active .voximplant-control-settings-value {
	display: none;
}

.voximplant-control-settings-btn {
	display: inline-block;
	padding: 5px;
	margin: -2px 0 0 0;
	width: 10px;
	height: 10px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.53.333l2.137%202.16L3.47%208.667l-2.138-2.16L7.53.333zM.34%209.39a.224.224%200%200%200%20.057.213c.056.056.137.078.214.056L3%209.015.985%207%20.34%209.389z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px auto;
	vertical-align: middle;
	transition: opacity .3s;
	opacity: .5;
	cursor: pointer;
}

.voximplant-control-settings-btn:hover {
	opacity: 1;
}

.voximplant-options-popup .voximplant-control-row:last-child {
	margin: 0;
}

.voximplant-options-popup .ui-btn {
	text-align: center;
}

.voximplant-btn-box {
	text-align: center;
}
/* END OF GROUPS */

/* MARKETPLACE TILE GRID */
.voximplant-grid {
	margin: 0 0 17px 0;
}

.voximplant-marketplace-tile-item {
	position: relative;
	padding: 10px;
	height: 100px;
	background: #fff;
	text-align: center;
	transition: box-shadow .3s, transform .3s;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-sizing: border-box;
	cursor: pointer;
}

.voximplant-marketplace-tile-item:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0 4px 10px;
	transform: translate(0, -1px);
}

.voximplant-marketplace-content {
	overflow: hidden;
}

.voximplant-marketplace-tile-badge {
	display: none;
	position: absolute;
	top: -7px;
	left: 10px;
	padding: 0 7px;
	height: 14px;
	border-radius: 12px;
	background: #2FC6F6;
	font: 8px/14px 'OpenSans-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.14);
}

.voximplant-marketplace-tile-badge-show.voximplant-marketplace-tile-badge {
	display: inline-block;
}

.voximplant-marketplace-tile-img {
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 10px 0;
	height: 40px;
	/*border-bottom: 1px solid rgba(82,92,105,.1);*/
}

.voximplant-marketplace-tile-img-item {
	display: inline-block;
	width: 130px;
	height: 40px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.voximplant-marketplace-tile-name {
	display: block;
	margin: 0 0 7px 0;
	max-width: 100%;
	font: 14px 'OpenSans-SemiBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.voximplant-marketplace-tile-desc {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 31px;
	font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #828b95;
	overflow: hidden;
}

.voximplant-marketplace-tile-counter {
	background: #9dcf00;
	color: #fff;
}

.voximplant-marketplace-tile-counter-head {
	text-align: left;
}

.voximplant-marketplace-tile-counter-name {
	display: block;
	font: 10px 'OpenSans-SemiBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	opacity: .8;
}

.voximplant-marketplace-tile-counter-value {
	display: block;
	/*margin: 0 0 9px 0;*/
	max-width: 100%;
	font: 34px 'OpenSans-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.voximplant-marketplace-tile-counter-link-box {
	display: block;
	text-align: right;
}

.voximplant-marketplace-tile-counter-link {
	position: relative;
	display: inline-block;
	padding: 0 22px 0 0;
	cursor: pointer;
}

.voximplant-marketplace-tile-counter-link:after {
	content: '';
	position: absolute;
	top: 7px;
	right: 0;
	width: 15px;
	height: 5px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2015%205%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12%202V0l3%202.5L12%205V3H0V2h12z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') no-repeat;
	transition: opacity .3s;
	opacity: .7;
}

.voximplant-marketplace-tile-counter-link:hover:after {
	opacity: 1;
}

.voximplant-marketplace-tile-integration {
	position: relative;
	background: #55d0e0;
	color: #fff;
}

.voximplant-marketplace-tile-integration-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0 20px;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
}

.voximplant-marketplace-tile-integration-logo {
	display: inline-block;
	margin: 0 0 5px 0;
	width: 43px;
	height: 44px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2042%2044%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22M21.265%209.376c-.445%200-.888%200-1.333.089-5.066.533-9.331%204.62-10.131%209.686a11.461%2011.461%200%200%200%202.31%208.976c2.222%202.755%203.379%205.954%203.379%209.065%200%20.533.355.888.888.888h9.776c.533%200%20.888-.355.888-.888%200-3.378%201.067-6.399%203.021-8.71a11.794%2011.794%200%200%200%202.755-7.553c.09-6.309-5.154-11.553-11.553-11.553zM28.73%2027.33c-2.044%202.4-3.288%205.599-3.466%208.977h-7.998c-.178-3.288-1.422-6.487-3.733-9.332-1.688-2.133-2.4-4.887-1.954-7.643.621-4.266%204.265-7.732%208.531-8.177.355%200%20.8-.088%201.155-.088%205.42%200%209.865%204.444%209.865%209.864%200%202.4-.889%204.621-2.4%206.4zM7.77%2019.041c.137-.515-.113-.95-.629-1.088l-5.152-1.38c-.515-.138-.95.113-1.087.628-.138.515.113.95.628%201.088l5.065%201.357c.515.138%201.06-.175%201.174-.605zM11.01%209.927a.96.96%200%200%200%20.622.267.802.802%200%200%200%20.621-.267.86.86%200%200%200%200-1.244L8.7%205.128a.86.86%200%200%200-1.245%200%20.86.86%200%200%200%200%201.245l3.556%203.554zM35.037%2019.041c-.138-.515.113-.95.628-1.088l5.152-1.38c.515-.138.95.113%201.088.628.138.515-.113.95-.628%201.088l-5.066%201.357c-.515.138-1.06-.175-1.174-.605zM21.3%207.28c-.533%200-.888-.355-.888-.888V1.058c0-.533.355-.888.888-.888s.888.355.888.888v5.244c0%20.533-.443.978-.888.978zM32.159%209.927a.96.96%200%200%201-.622.267.802.802%200%200%201-.621-.267.86.86%200%200%201%200-1.244l3.554-3.555a.86.86%200%200%201%201.245%200%20.86.86%200%200%201%200%201.245l-3.556%203.554zM25.2%2039.148h-7.87c-.454%200-.756.355-.756.888%200%20.534.302.889.756.889h7.872c.454%200%20.756-.355.756-.889%200-.533-.379-.888-.758-.888zM24.462%2041.903h-6.393c-.37%200-.615.355-.615.888s.246.888.615.888h6.394c.369%200%20.614-.355.614-.888%200-.532-.307-.888-.615-.888z%22/%3E%3Cpath%20d%3D%22M20.187%2026.009v-.611c0-.7.128-1.282.382-1.747.255-.464.7-.945%201.336-1.441.758-.598%201.246-1.063%201.465-1.394.22-.33.33-.725.33-1.183%200-.535-.178-.945-.535-1.231-.356-.287-.868-.43-1.536-.43-.605%200-1.165.086-1.68.258-.442.147-.875.32-1.298.519-.07.033-.277-.04-.31-.106l-.579-1.214c-.04-.086.034-.345.114-.386a8.388%208.388%200%200%201%203.915-.951c1.247%200%202.236.305%202.968.916.732.611%201.098%201.454%201.098%202.53%200%20.477-.07.901-.21%201.274-.14.372-.352.727-.635%201.064-.283.337-.771.776-1.465%201.317-.592.464-.988.85-1.188%201.155-.2.305-.3.716-.3%201.231v.43h-1.872zm-.391%203.044c0-.96.468-1.44%201.403-1.44.458%200%20.808.125%201.05.376s.363.606.363%201.064c0%20.452-.123.81-.368%201.074s-.593.396-1.045.396c-.452%200-.799-.129-1.04-.386-.242-.258-.363-.62-.363-1.084z%22/%3E%3C/g%3E%3C/svg%3E') no-repeat;
}

.voximplant-marketplace-tile-integration-text {
	display: block;
	max-width: 100%;
	font: 16px 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* END OF MARKETPLACE TILE GRID */

.voximplant-button-panel {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	padding: 10px 0;
	background-color: #fff;
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .05);
	text-align: center;
	transform: translateY(0);
	transition: all 300ms ease;
}

.voximplant-button-panel:empty {
	transform: translateY(100%);
}

.voximplant-slider-pagetitle-wrap {
	min-height: 74px;
	box-sizing: border-box;
	position: relative;
	padding-left: 20px;
}

.voximplant-slider-pagetitle {
	font: 26px/26px "OpenSans-Light", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 21px 0 21px 5px;
	display: block;
	word-wrap: break-word;
}

.voximplant-number-group-numbers {
	display: flex;
	flex-direction: column;
}

.voximplant-loader-overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	opacity: 0.6;
	z-index: 50;
}

.voximplant-loader-overlay.active {
	display: block;
}

.voximplant-container.voximplant-options-popup {
	margin: 20px;
}

.voximplant-marketplace-default-icon .voximplant-marketplace-tile-img-item {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #ff5752;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2021%2022%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.415.008c-.022.006-.044.02-.067.03l-10%203.959c-.25.117-.34.373-.348.673v12.743c.003.285.152.556.349.632l9.902%203.916a.651.651%200%200%200%20.416.01l9.991-3.947c.197-.08.344-.356.342-.642V4.752c.005-.388-.091-.616-.35-.735L10.6.04c-.068-.035-.122-.05-.185-.031zm.059%201.357l8.299%203.294-8.299%203.274L2.168%204.65l8.306-3.284z%22/%3E%3C/svg%3E');
	background-size: 22px auto;
}

.voximplant-hide {
	display: none;
}
