.ui-tile-selector-item [data-role="tile-item-name"] {
	overflow: hidden;
	max-width: 400px;
	text-overflow: ellipsis;
	display: inline-block;
}

.ui-tile-selector-selector-wrap {
	width: 100%;
}

.crm-analytics-source-wrap {
	/*padding: 20px;*/
	/*background: #fff;*/
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.crm-analytics-source-block {
	background: #fff;
	padding: 23px 22px 29px;
}

.crm-analytics-source-block + .crm-analytics-source-block {
	margin-top: 27px;
}

.crm-analytics-source-header {
	font: 22px/28px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	margin: 27px 0 15px;
}

.crm-analytics-source-block .crm-analytics-source-header {
	margin-top: 0;
}

.crm-analytics-source-desc-text {
	font-size: 14px;
	line-height: 20px;
	color: #525c69;
}

.crm-analytics-source-title {
	padding-bottom: 16px;
	margin-bottom: 12px;
	border-bottom: 1px solid #eeeff0;
}

.crm-analytics-source-title-text {
	font: 16px/22px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.crm-analytics-source-block-desc {
	display: flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.crm-analytics-source-icon {
	display: block;
	border-radius: 50%;
	border: 1px solid #ececec;
	width: 95px;
	height: 95px;
	margin-right: 24px;
	flex-shrink: 0;
}

.bx-ie .crm-analytics-source-icon.ui-icon {
	width: 95px;
}

.crm-analytics-source-connect-btn {
	margin-top: 15px;
	padding-left: 60px;
	position: relative;
}

.crm-analytics-source-connect-btn-icon {
	position: absolute;
	top: 2px;
	left: 0;
	width: 39px;
	height: 36px;
}

.crm-analytics-source-section {
	width: 100%;
}

.crm-analytics-source-user {
	background: #def6fe;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-analytics-source-block-utm .crm-analytics-source-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-analytics-source-info {
	flex-shrink: 0;
}

.crm-analytics-source-utm-copy-text {
	color: #828b95;
	font-size: 14px;
	line-height: 22px;
	border-bottom: 1px dashed rgba(130, 139, 149, .4);
	transition: all .2s linear;
	cursor: pointer;
}

.crm-analytics-source-utm-copy-text:hover {
	border-color: rgba(130, 139, 149, .8);
}

.crm-analytics-source-utm-title {
	font: 16px/24px 'OpenSans-Bold', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525c69;
	margin-right: 15px;
}

.crm-analytics-source-utm-header {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.crm-analytics-source-utm-title-edit {
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: .5;
	transition: all .2s linear;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20opacity%3D%221%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9.47656%200.000289917C9.88281%20-0.00770569%2010.2754%200.148285%2010.5664%200.43428C10.8516%200.724274%2011.0098%201.11726%2011%201.52425C10.9922%201.93224%2010.8184%202.31723%2010.5215%202.59723L10.1758%202.94322C9.96094%202.46123%209.66406%202.01924%209.30078%201.63625C8.9375%201.29326%208.51758%201.01826%208.06055%200.823273L8.4043%200.480286C8.68164%200.180283%209.06836%200.0102997%209.47656%200.000289917ZM7.28906%201.59726L1.55273%207.33209C2.0293%207.56009%202.46875%207.85208%202.86523%208.20207C3.18945%208.58006%203.46094%209.00006%203.66992%209.45204L9.40234%203.71919C9.17969%203.2272%208.87695%202.77621%208.50586%202.38524C8.15234%202.04924%207.73633%201.78325%207.28906%201.59726ZM0.800781%208.15707L0%2011L2.93164%2010.158C2.75%209.70003%202.48242%209.28104%202.14062%208.92505C1.76172%208.56906%201.30078%208.30707%200.800781%208.15707Z%22%20fill%3D%22%23525C68%22/%3E%0A%3C/svg%3E%0A)
	no-repeat center;
}

.crm-analytics-source-utm-title-edit:hover {
	opacity: 1;
}

.crm-analytics-source-utm-block {
	border: 1px solid #e1e1e1;
	padding: 14px 15px 14px 17px;
	border-radius: 2px;
	margin-bottom: 19px;
	position: relative;
}

.crm-analytics-source-utm-input {
	border: none;
	outline: none;
	background: #eff6fc;
	margin-right: 16px;
	border-radius: 2px;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	color: #0063c6;
	width: 522px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 6px 30px 9px 8px;
}

.crm-analytics-source-utm-field {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.crm-analytics-source-utm-delete {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: .5;
	transition: all .2s linear;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9.95898%204.73921L8.46289%203.24289L6.21875%205.48738L3.97461%203.2429L2.47656%204.73921L4.72266%206.9843L2.47852%209.22816L3.97461%2010.7245L6.21875%208.48038L8.46289%2010.7245L9.95898%209.22818L7.71484%206.9837L9.95898%204.73921Z%22%20fill%3D%22%23B0B8C1%22/%3E%0A%3C/svg%3E%0A)
	no-repeat center;
}

.crm-analytics-source-utm-delete:hover {
	opacity: 1;
}

.crm-analytics-source-info-link {
	margin-right: 15px;
}

.crm-analytics-source-utm-field-btn {
	flex-shrink: 0;
}


/************* UTM-source ********************/
.crm-analytics-utm-editor-title {
	margin-bottom: 15px;
}

.crm-analytics-utm-editor-title-block {
	padding: 7px 0 15px;
	border-bottom: 1px solid #ebf1f4;
	margin-bottom: 20px;
}

.crm-analytics-utm-editor-field-decs {
	color: #b4b9bf;
	font-size: 13px;
	line-height: 19px;
	font-style: italic;
	margin-top: 10px;
}

.crm-analytics-utm-editor-field {
	display: flex;
	flex-direction: column;
}

.crm-analytics-utm-editor-field-title {
	color: #828b95;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 12px;
}

.crm-analytics-utm-editor-field-input {
	border: 1px solid #c6cdd3;
	outline: none;
	border-radius: 2px;
	color: #333;
	padding: 7px 9px 9px;
	width: 100%;
	overflow: hidden;
	font: 15px/21px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

.crm-analytics-utm-editor-field-input-block {
	display: flex;
	align-items: center;
}

.crm-analytics-utm-editor-field-input-decs {
	border-radius: 2px;
	background: #d3f3fd;
	font: 15px/21px "OpenSans-Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #535c69;
	/*padding: 8px 11px 9px;*/
	padding: 12px 11px;
	margin-right: 8px;
}

.crm-analytics-utm-editor-color-select {
	color: #2066b0;
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px dashed rgba(39, 107, 179, .4);
	transition: border .2s linear;
	cursor: pointer;
	margin-left: 26px;
}

.crm-analytics-utm-editor-color-select:hover {
	border-color: rgba(39, 107, 179, 1);
}

.crm-analytics-utm-editor-field-color {
	display: flex;
	align-items: center;
}

.crm-analytics-utm-editor-subject {
	padding-bottom: 19px;
	margin-bottom: 19px;
	border-bottom: 1px solid #eeeff0;
}

.crm-analytics-utm-editor-subject-text {
	font: 16px/22px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.crm-analytics-utm-editor-color-icon {
	width: 59px;
}

.crm-analytics-source-contact-block {
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}

.crm-analytics-source-contact + .crm-analytics-source-contact {
	margin-top: 34px;
}

.crm-analytics-source-contact-item {
	width: 49%;
	background: rgba(221, 246, 255, .53);
	border-radius: 4px;
	padding: 16px 21px 17px 13px;
	box-sizing: border-box;
}

.crm-analytics-source-contact-title {
	border-bottom: 1px solid rgba(151, 151, 151, .1);
	padding-bottom: 10px;
	margin-bottom: 13px;
	display: flex;
	align-items: center;
}

.crm-analytics-source-contact-title-text {
	color: #525c69;
	font-weight: 600;
	padding-left: 7px;
}

.crm-analytics-source-contact-content {
	display: flex;
	flex-direction: column;
}

.crm-analytics-source-contact-value + .crm-analytics-source-contact-value {
	margin-top: 10px;
}

.crm-analytics-source-contact-title-icon {
	width: 23px;
	height: 23px;
}

.crm-analytics-source-contact-title-icon.ui-icon > i {
	background-color: #2fc6f6;
}

.bx-ie .crm-analytics-source-contact-title-icon.ui-icon {
	width: 23px;
}

.crm-analytics-source-contact-replace .crm-analytics-source-contact-item {
	background: rgba(233, 242, 200, .53);
}

.crm-analytics-source-contact-settings {
	margin-top: 27px;
	border-top: 1px solid rgba(151, 151, 151, .1);
	padding-top: 24px;
}

.crm-analytics-source-contact-notice {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.crm-analytics-source-contact-notice-text {
	color: #707070;
	font-style: italic;
}

.crm-analytics-source-contact-notice-link {
	color: #2066b0;
	border-bottom: 1px dashed rgba(39, 107, 179, .4);
	transition: border .2s linear;
}

.crm-analytics-source-contact-notice-link:hover {
	border-color: rgba(39, 107, 179, 1);
}