.bx-sender-hidden {
	display: none;
}

.bx-sender-message-editor {
	margin: 0 0 10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sender-message-editor-more-wrap {
	border-radius: 2px;
	border: 1px solid rgba(198,205,211,.67);
}
.sender-message-editor-test-wrap {
	margin: 27px 0 0 0;
}
.sender-message-editor-more {
	display: block;
	padding: 15px 17px;
	min-height: 68px;
	line-height: 38px;
	cursor: pointer;
	overflow: hidden;
	box-sizing: border-box;
}

.sender-message-editor-more-caption {
	position: relative;
	display: inline-block;
	float: left;
	padding-left: 26px;
	color: rgb(94, 102, 117);
	font-weight: bold;
	cursor: pointer;
}

.sender-message-editor-more-caption::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 7px;
	margin: auto;
	width: 11px;
	height: 7px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.484%202.742l4.114%204.114%201.37-1.37L6.17.685%205.484%200%200%205.485l1.37%201.37%204.114-4.113z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	transition: transform .3s;
	opacity: .5;
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.sender-message-editor-more.sender-more-active .sender-message-editor-more-caption::before {
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.sender-message-editor-more-list {
	padding-left: 10px;
	min-height: 20px;
	color: rgba(94, 102, 117, 0.7);
	overflow: hidden;
}

.sender-message-editor-more-list::before {
	content: "( ";
}

.sender-message-editor-more-list::after {
	content: ")";
}

.sender-message-editor-more-list-item {
	margin-right: 5px;
	line-height: 18px;
}

.sender-message-editor-more-list-item::after {
	content: ",";
}

.sender-message-editor-more-list .sender-message-editor-more-list-item:last-child::after {
	content: "";
}

.bx-sender-message-editor-more-fields {
	padding: 20px;
	background: #F8F9FA;
}

.bx-sender-message-editor-field {
	margin: 0 0 30px;
}
/*.bx-sender-message-editor-field .bx-sender-caption {*/
	/*margin: 0 0 10px;*/
	/*font: 16px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;*/
/*}*/
.bx-sender-message-editor-field .bx-sender-value {
	display: flex;
	align-items: center;
}

.sender-message-title {
	display: block;
	margin: 0 0 6px 0;
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868E;
}

.bx-sender-form-control {
	display: inline-block;
	padding: 7px 30px 7px 14px;
	min-width: 308px;
	height: 38px;
	border: none;
	-webkit-box-shadow: inset 0 0 0 1px #C6CDD3;
	box-shadow: inset 0 0 0 1px #C6CDD3;
	border-radius: 2px;
	font: 15px/17px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	box-sizing: border-box;
	vertical-align: middle;
	transition: border-color .3s ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	text-indent: 1px;
	text-overflow: '';
}

.bx-sender-form-control:focus {
	-webkit-box-shadow: inset 0 0 0 1px rgba(81, 203, 238, 1);
	box-shadow: inset 0 0 0 1px rgba(81, 203, 238, 1);
}


.bx-sender-message-editor-field-input {
	width: 100%;
}
.bx-sender-message-editor-field-checkbox {
	margin: -7px 10px 0 0;
}

.bx-sender-message-editor-field-text {
	width: 100%;
	height: 100px;
}

.bx-sender-message-editor-field-select {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2219%22%20height%3D%227%22%20viewBox%3D%220%200%2019%207%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20points%3D%223.546%207.425%203.546%201.607%201.607%201.607%201.607%208.394%201.607%209.364%209.364%209.364%209.364%207.425%22%20transform%3D%22rotate%28-45%20.657%203.485%29%22/%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	background-position: right center;
	font: 15px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sender-message-editor-field-file-cloud {
	padding: 12px;
	width: 100%;
	background: white;
}

.sender-message-editor-field-file-cloud .diskuf-selectdialog-switcher {
	display: none;
}

.bx-sender-message-iframe-full {
	display: none;
	width: 100%;
	border: none;
}

.bx-sender-insert-loader .bx-faceid-tracker-loader {
	display: block;
}

.bx-faceid-tracker-loader {
	display: none;
	position: relative;
	height: 100%;
	min-height: 100px;
	width: 100%;
	background: #ccc;
}

.bx-faceid-tracker-loader:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.bx-faceid-tracker-circular {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 120px;
	width: 120px;
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.bx-faceid-tracker-path {
	stroke: #E8EEF0;
	stroke-width: 2;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}