.sale-accountpay-fixedpay-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sale-accountpay-fixedpay-list .sale-accountpay-fixedpay-item {
	display: inline-block;
	margin-bottom: 5px;
	padding: 0 9px;
	min-width: 55px;
	height: 40px;
	border-radius: 2px;
	background: #d1ecf0;
	color: #000;
	vertical-align: middle;
	text-align: center;
	font-size: 13px;
	line-height: 40px;
	cursor: pointer;
	transition: background 300ms ease;
}

.sale-accountpay-fixedpay-list .sale-accountpay-fixedpay-item:hover { background: #d1e6f0; }

.bx-sap .control-label.input-lg {
	vertical-align: middle;
	font-weight: normal;
	font-size: 14px;
	line-height: 29px;
}

/*pay*/
.sale-accountpay-pp-company {
	z-index: 100;
	padding-bottom: 20px;
}

.sale-accountpay-pp .sale-accountpay-pp-company {
	border: 1px solid transparent;
	transition: all 100ms ease;
}

.sale-accountpay-pp-company-graf-container {
	position: relative;
	padding-top: 50%;
	width: auto;
	height: 0;
	border: 2px solid #c3cace;
	border-radius: 2px;
	transition: 180ms linear all;
	background: #fff;
}
.sale-accountpay-pp-company-graf-container:hover{ border-color: #a8afb2;}

.sale-accountpay-pp-company.bx-selected .sale-accountpay-pp-company-graf-container {border-color: var(--theme-color-primary);}

.sale-accountpay-pp-company.bx-error .sale-accountpay-pp-company-graf-container { border-color: #db4a29; }

.sale-accountpay-pp-company.bx-warning .sale-accountpay-pp-company-graf-container { border-color: #ccbe71; }

input[type=checkbox].sale-accountpay-pp-company-checkbox {
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 100;
	margin: 0;
	padding: 0;
}

.sale-accountpay-pp-company-image {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.sale-accountpay-pp-company-smalltitle {
	padding-top: 9px;
	padding-bottom: 5px;
	color: #a3a3a3;
	text-align: center;
	font-size: 11px;
}

.sale-accountpay-pp-company-title {
	font-weight: bold;
	font-size: 19px;
}

.sale-accountpay-pp-company-selected { padding: 4px 0; }

ul.sale-accountpay-pp-list {
	margin: 10px 0;
	padding: 0;
	color: #000;
	list-style: none;
	font-size: 13px;
}

ul.sale-accountpay-pp-list li {
	clear: both;
	padding: 5px 0;
}

.sale-accountpay-pp-list-termin {
	display: block;
	color: #8d8d8d;
}

.sale-accountpay-pp-list-description { display: block; }

.sale-accountpay-pp-delivery-cost {
	position: absolute;
	right: -2px;
	bottom: -2px;
	padding: 2px 4px;
	border-radius: 1px;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-size: 14px;
	line-height: 14px;
}

.sale-accountpay-pp-field .form-control { background: #fff; }

.sale-accountpay-pp-price {
	padding: 4px 0;
	text-align: right;
}

.sale-accountpay-service-small {
	color: #a3a3a3;
	font-size: 11px;
}

#loading_screen {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1150;
	margin-top: -32px;
	margin-left: -32px;
	width: 64px;
	height: 64px;
}