.crm-field{position:relative;display:inline-block;margin:0 3px 0 0; /*vertical-align:middle;*/}
.crm-field-empty .crm-field{min-width:30px;}
.crm-field-value{display:none; padding:0 4px 0 0; left:-5px; position:absolute; top:-4px; width:100%;}
.crm-fields-edit .crm-field-text {display:inline-block; visibility:hidden;}
.crm-fields-edit .crm-field-text-lhe {display:none;}
.crm-fields-edit .crm-field-value{display:inline-block;}
.crm-field input[type="text"]{
    margin:0;
    min-width: 25px;
    border:1px solid #b7b7b7;
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.13) inset;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.13) inset;
    -khtml-box-shadow:0 1px 2px rgba(0,0,0,0.13) inset;
    box-shadow:0 1px 2px rgba(0,0,0,0.13) inset;
    font:12px/16px Arial,sans-serif;
    vertical-align:-3px;
    outline:none;
}
.crm-fields-edit .crm-field.crm-field-input .crm-element-input{
    display:block;
    width:100%;
    padding:3px 0 3px 3px;*padding:3px 0 3px 2px;
}
.crm-fields-edit .crm-element-select{display:inline; margin:-2px 0;font:12px Arial,sans-serif;}
.crm-fields-edit .crm-element-textarea{
    background:#fff;
    width:400px;
    height:150px;
    margin:0 0 0 -5px;*margin:-1px 0 -1px -5px;
    padding:1px 5px 2px 3px;*padding:1px 5px 2px 3px;
    border:1px solid #b7b7b7;
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.13) inset;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.13) inset;
    -khtml-box-shadow:0 1px 2px rgba(0,0,0,0.13) inset;
    box-shadow:0 1px 2px rgba(0,0,0,0.13) inset;
    vertical-align:top;
    font:12px/16px "Helvetica Noue",Helvetica,Arial,sans-sherif;
    color:#555;
    resize:none;
    overflow:auto;
    position:relative;
    z-index:5;
}
.crm-field-icon{
    display:inline-block;
    width:15px;
    height:16px;
    margin:3px;
    vertical-align:middle;
    cursor:pointer;
}
.crm-fields-edit .crm-field-lhe { display:none; }

.bx-edit-table tbody td.bx-field-value:hover .crm-field-icon {background:url("images/lead-mini-sprite.png") no-repeat 0 -55px;}
.crm-fields-edit .crm-field-icon { background: none repeat scroll 0 0 transparent !important; }
.crm-fields-edit .crm-field-icon-lhe { display:none; }
.crm-field-lhe-wrap { border:1px solid #dedede; margin:10px; }

.bx-edit-table tbody td.bx-field-value:hover .crm-field-icon-lock {background:url("images/lead-mini-sprite.png") no-repeat 0 -154px;}

table.bx-edit-table td.bx-padding {padding-top:6px!important;}
.crm-field input[type="text"] {margin:1px 0 0 2px}
.crm-fields-edit .crm-element-select {margin:4px 0 0;}

#add_interrelationships {
    width: 600px;
}

#add_interrelationships div.param-block {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}

#add_interrelationships div.param-block .param-label {
    font-weight: bold;
}

#add_interrelationships #add-interrelationships-form {
    display: inline-block;
    width: 100%;
}

#add_interrelationships #add-interrelationships-form input, #add_interrelationships #add-interrelationships-form select {
    width: 100%;
}

#add_interrelationships #company-list-search {
    display: none;
    background: #FFF;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    clear: both;
    padding: 5px;
    margin: 15px 10px;
    max-height: 200px;
    overflow: auto;
}

#add_interrelationships #company-list-search-result {
    margin: 0px;
    padding: 0px;
}

#add_interrelationships #company-list-search-result li {
    list-style: none;
    margin: 0px 0px 5px;
    padding: 0px 10px 5px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

#add_interrelationships #company-list-search-result li:last-child {
    border-bottom: none;
    margin-bottom: -5px;
}

div#add_interrelationships_result {
    clear: both;
}

div#add_interrelationships span.access-title-bar, div#edit_interrelationships span.access-title-bar, div#del_interrelationships span.access-title-bar{
    font-size: 18px;
    display: block;
    line-height: 49px;
    text-align: center;
}

#interrelationships-list .crm-lead-header-inner-edit-btn{
    opacity: 0.7 !important;
    background-color: transparent !important;
    display: inline-block;
}

#interrelationships-list .crm-lead-header-inner-edit-btn:hover {
    opacity: 1 !important;
    background-color: transparent !important;
}

#interrelationships-list .crm-offer-title-del {
    height: 30px;
    background-position: center -3226px;
}

#interrelationships-list table.main-grid-table tbody td.nav_elem{
    width: 95px;
    text-align: right;
}

.crm-lead-header-header-left .date_create {
    margin: 0 0 10px 14px;
    font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
}