.bx-disk-document-edit-confirm {
	padding: 0 13px 0;
	width: 409px;
}

.bx-disk-document-edit-confirm-title {
	border-bottom: 1px solid #dfe1e1;
	color: #555656;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	padding: 6px 0 10px;
}

.bx-disk-document-edit-confirm-text-wrap {
	font-size: 13px;
	border-bottom: 1px solid #dfe1e1;
	padding: 15px 7px;
}

.bx-disk-document-edit-confirm-text-alignment {
	display: inline-block;
	height: 64px;
	margin-left: -1px;
	vertical-align: middle;
	width: 1px;
}

.bx-disk-document-edit-confirm-text {
	display: inline-block;
	vertical-align: middle;
	width: 395px;
}

.bx-disk-document-edit-confirm-popup .popup-window-button-text{
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 67px;
}

.bx-disk-document-edit-confirm-center {
	padding: 22px 7px;
	text-align: center;
}

.bx-disk-document-edit-name-input {
	background-color: #fff;
	border: 1px solid;
	border-color: #B9BCBE #BDC1C3 #C1C5C8;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
	display:inline-block;
	color: #78797a;
	height: 26px;
	font-size: 15px;
	padding: 3px 9px;
	width: 307px;
}

.bx-disk-document-edit-confirm-extension {
	display: inline-block;
	color: #78797a;
	font-size: 15px;
	margin-left: 6px;
	vertical-align: middle;
}
