/* DYNAMIC GRAPH */
.crm-report-column-funnel-wrapper {
	display: flex;
}

.crm-report-column-funnel-item {}
.crm-report-column-funnel-visual {}
.crm-report-column-funnel-card {
	padding: 0 19px;
	border-left: 1px solid rgba(224,224,224,.6);
}

.crm-report-column-funnel-card-title.crm-report-column-funnel-th {
	/*display: block;*/
	padding-bottom: 8px;
	font: 14px/16px "OpenSans-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.crm-report-column-funnel-card-subtitle {
	/*display: block;*/
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A8ADB4;
	opacity: .84;
}

.crm-report-column-funnel-card-info {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.crm-report-column-funnel-card-info-box {
	display: flex;
	align-items: baseline;
}

.crm-report-column-funnel-card-info-box:first-child {
	margin: 0 8% 0 0;
}

.crm-report-column-funnel-card-info-box:last-child {
	margin: 0;
}

.crm-report-column-funnel-card-info-price,
.crm-report-column-funnel-card-info-value-box {
	display: flex;
	align-items: baseline;
	/*margin: 0 14px 0 0;*/
	max-width: 100%;
	font: 1.8vw "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.crm-report-column-funnel-card-info-percent {
	font: 1.2vw "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #FF5752;
}

.crm-report-column-funnel-card-info-value {
	display: inline-block;
	margin: 0 5px 0 0;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.crm-report-column-funnel-card-info-value-clickable {
	border-bottom: 1px dashed transparent;
}

.crm-report-column-funnel-card-info-value-clickable:hover {
	color: #2066B0;
	border-bottom: 1px dashed #2066B0;
	cursor: pointer;
}

.crm-report-column-funnel-card-info-symbol {
	display: inline-block;
}

.crm-report-column-funnel-card-info-price .crm-report-column-funnel-card-info-symbol,
.crm-report-column-funnel-card-info-value-box .crm-report-column-funnel-card-info-symbol {
	font: 1.4vw "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #828B95;
}

.crm-report-column-funnel-card-info-percent .crm-report-column-funnel-card-info-symbol {
	font: .9vw "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #828B95;
	opacity: .72;
}

.crm-report-column-funnel-card-info-item:first-child {
	border-right: 1px solid rgba(224,224,224,.6);
	margin: 0 15px 0 0;
	padding: 0 15px 0 0;
}

.crm-report-column-funnel-card-info-item:last-child {
	border-right: none;
	margin: 0;
	padding: 0;
}

.crm-report-column-funnel-card-tooltip {
	align-self: flex-end;
	display: inline-block;
	margin: 3px 0 0 0;
	width: 20px;
	height: 20px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23B1B7C5%22%20d%3D%22M11.273%205.637A5.637%205.637%200%201%201%200%205.637a5.637%205.637%200%200%201%2011.273%200zM3.46%204.16c0%20.134.056.258.168.373a.552.552%200%200%200%20.411.172c.276%200%20.464-.164.562-.492.105-.314.232-.551.383-.712.151-.161.387-.242.706-.242.273%200%20.496.08.668.24a.77.77%200%200%201%20.26.587c0%20.12-.029.23-.085.331a1.248%201.248%200%200%201-.21.277%209.101%209.101%200%200%201-.402.368c-.212.186-.38.346-.505.481a1.607%201.607%200%200%200-.3.47A1.62%201.62%200%200%200%205%206.647c0%20.194.051.341.154.44a.53.53%200%200%200%20.381.148c.29%200%20.463-.151.519-.453.032-.142.056-.242.072-.298a.914.914%200%200%201%20.067-.17.963.963%200%200%201%20.133-.187c.06-.069.138-.148.237-.238.357-.32.605-.546.743-.681.137-.135.257-.296.357-.482.1-.185.15-.402.15-.648%200-.314-.088-.604-.264-.871a1.808%201.808%200%200%200-.746-.634%202.54%202.54%200%200%200-1.115-.233c-.453%200-.85.093-1.189.279-.34.186-.598.42-.775.703-.177.283-.266.563-.266.838zm2.125%204.773a.661.661%200%200%200%20.453-.174.608.608%200%200%200%20.196-.48.627.627%200%200%200-.187-.46.627.627%200%200%200-.462-.188.647.647%200%200%200-.662.649c0%20.206.067.366.199.481a.685.685%200%200%200%20.463.172z%22/%3E%3C/svg%3E') center no-repeat;
	transition: opacity .3s;
	opacity: .5;
	cursor: pointer;
}

.crm-report-column-funnel-card-tooltip:hover {
	opacity: 1;
}
/* END OF DYNAMIC GRAPH */

/* TABLE */
.crm-report-column-funnel-table {
	/*table-layout: fixed;*/
	margin: 0 0 0 47px;
	width: -webkit-calc(100% - 47px);
	width: calc(100% - 47px);
	border-collapse: collapse;
}

.crm-report-column-funnel-tr,
.crm-report-column-funnel-td,
.crm-report-column-funnel-th {
	padding: 0 1.9%;
	border-left: 1px solid rgba(224,224,224,.6);
	vertical-align: bottom;
	text-align: left;
	word-wrap: break-word;
}

.crm-report-column-funnel-td-last {
	width: 15%;
	min-width: 120px;
}
/* END OF TABLE */

/* THROUGH FUNNEL WIDGET */
.crm-report-column-funnel-widget {
	position: relative;
}

.crm-report-column-funnel-widget.crm-report-column-funnel-tr,
.crm-report-column-funnel-widget .crm-report-column-funnel-td {
	position: relative;
	padding: 0;
	border-left: none;
	box-sizing: border-box;
}

.crm-report-column-funnel-td .crm-report-column-funnel-card-info:first-child {
	margin: 0 0 16px 0;
}

.crm-report-column-funnel-td .crm-report-column-funnel-card-info:last-child {
	margin: 0;
}

.crm-report-column-funnel-through-funnel-widget {
	display: flex;
	flex-direction: column-reverse;
	flex: 3;
	margin: 0 0 17px 0;
	height: 190px;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid rgba(224,224,224,.6);
	overflow: hidden;
}

.crm-report-column-funnel-through-funnel-widget-mirror {
	position: relative;
}

.crm-report-column-funnel-through-funnel-widget-mirror.crm-report-column-funnel-through-funnel-widget {
	flex: 1;
	opacity: .17;
	border-radius: 0;
}

.crm-report-column-funnel-through-funnel-widget-item {
	display: block;
	width: 100%;
	height: 0;
	border-top: 2px solid #fff;
	transition: height 0.5s;
}

.crm-report-column-funnel-through-funnel-widget-item-clickable:hover {
	cursor: pointer;
}

.crm-report-column-funnel-through-funnel-widget-2 .crm-report-column-funnel-through-funnel-widget-item {
	height: 17px;
}

.crm-report-column-funnel-through-funnel-widget-columns {
	flex-direction: row;
	align-items: flex-end;
}

.crm-report-column-funnel-through-funnel-widget-columns .crm-report-column-funnel-through-funnel-widget-item {
	margin: 0 4px 0 0;
	/*min-width: 20px;*/
	min-width: 3px;
	border-bottom: none;
	border-radius: 2px 2px 0 0;
}

.crm-report-column-funnel-through-funnel-widget-conversion {
	width: 100%;
	border-bottom: 2px solid #fff;
	background: #fff;
	text-align: right;
}
.crm-report-column-funnel-through-funnel-widget-title {
	display: block;
	margin: 0 0 1px 0;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgba(51,51,51,.56);
	text-align: right;
	z-index: 1;
}
.crm-report-column-funnel-through-funnel-widget-value-box {
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
}
.crm-report-column-funnel-through-funnel-widget-value {
	margin: 0 4px 0 0;
	font: 1.8vw/1.8vw "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}
.crm-report-column-funnel-through-funnel-widget-percent {
	font: 1.5vw/1.5vw "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #828B95;
}
.crm-report-column-funnel-through-funnel-widget-conversion-inline .crm-report-column-funnel-through-funnel-widget-conversion {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.crm-report-column-funnel-through-funnel-widget-conversion-inline .crm-report-column-funnel-through-funnel-widget-title {
	margin: 0 10px 0 0;
	word-break: break-word;
}
/* END OF THROUGH FUNNEL WIDGET */

/* MODAL */
.crm-report-column-funnel-modal {
	/*position: absolute;*/
	display: inline-block;
	top: 350px;
	padding: 15px 16px 1px 13px;
	min-width: 157px;
	border-left: 3px solid transparent;
	background: #fff;
	box-shadow: 0 6px 21px 0 rgba(83,92,105,.15);
	box-sizing: border-box;
}

.crm-report-column-funnel-modal-hidden
{
	display: none;
}

.crm-report-column-funnel-modal-head {}
.crm-report-column-funnel-modal-title {
	display: block;
	margin: 0 0 17px 0;
	padding: 0 0 12px 0;
	border-bottom: 1px solid rgba(130,139,149,.19);
	font: 13px "OpenSans-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}
.crm-report-column-funnel-modal-title {
	display: flex;
	align-items: center;
}
.crm-report-column-funnel-modal-title-icon {
	display: inline-block;
	margin: 0 11px 0 0;
	width: 16px;
	height: 16px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cimage%20width%3D%2216%22%20height%3D%2216%22%20x%3D%2218%22%20y%3D%2215%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%28-18%20-15%29%22%20xlink%3Ahref%3D%22data%3Aimage/png%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGOGCHvlwAAAQdJREFUOBHVU70OAUEQnmUJ0VBpNFpaoRGP4A28gPdAcZ3SY+g1EpJLKElUOo1ExD93sr655C67LiE5lUm+3DeT/WZuZnaFmlGHotkDsp5AAhVNT2fo8rGI4kAmAwZiL9NkL1J6yOC18o1qpasRMxLMVykaDLPGAd2Rch9KYMzAfQpyXF1i8gTKyXgwMm8GoT/48xa4Pxk3+/7m/XwP9AQOqlkAf9lCvlJk7Y90BwiIbbaU09fIaykCayADsF8A2kACcHYH6h9ONAKvArzwlrFGBN7NERXq+sH1kAT4BOAErK3rLcD/bMWm9/CmOOVftwZn8Svw87wAPIckwL4/D9DAxmCsYa16AXV/X3FACYX4AAAAAElFTkSuQmCC%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}
.crm-report-column-funnel-modal-subtitle {
	display: block;
	margin: 0 0 2px 0;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A8ADB4;
	opacity: .84;
}
.crm-report-column-funnel-modal-main .crm-report-column-funnel-card-subtitle {
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.crm-report-column-funnel-modal-main {}
.crm-report-column-funnel-modal-content {
	display: flex;
	align-items: center;
}
.crm-report-column-funnel-modal-content,
.crm-report-column-funnel-modal-main .crm-report-column-funnel-card-info {
	margin: 0 0 18px 0;
}
.crm-report-column-funnel-modal-value {
	font: 20px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.crm-report-column-funnel-modal-value-grey {
	color: #828B95;
}
.crm-report-column-funnel-modal-value-black {
	color: #333;
}
.crm-report-column-funnel-modal-arrow-right {
	margin: 0 7px 0 11px;
	color: #A8ADB4;
}
.crm-report-column-funnel-modal-main .crm-report-column-funnel-card-info-price,
.crm-report-column-funnel-modal-main .crm-report-column-funnel-card-info-value-box {
	margin: 0 30px 0 0;
	font: 20px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.crm-report-column-funnel-modal-main .crm-report-column-funnel-card-info-value-box {
	margin: 0;
}
.crm-report-column-funnel-modal-main .crm-report-column-funnel-card-info-price .crm-report-column-funnel-card-info-symbol,
.crm-report-column-funnel-modal-main .crm-report-column-funnel-card-info-value-box .crm-report-column-funnel-card-info-symbol {
	font: 18px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.crm-report-column-funnel-modal-main .crm-report-column-funnel-card-info-percent {
	font: 21px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.crm-report-column-funnel-modal-main .crm-report-column-funnel-card-info-percent .crm-report-column-funnel-card-info-symbol {
	font: 15px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* END OF MODAL */

/* TOOLTIP */
.crm-report-column-funnel-tooltip {
	position: relative;
	/*top: 400px;*/
	/*left: 220px;*/
	display: inline-block;
	align-items: center;
	padding: 0 0 0 5px;
	height: 20px;
	background: #fff;
	border-radius: 2px;
	box-shadow: -1px 2px 4px -1px rgba(0,0,0,.21);
}
.crm-report-column-funnel-tooltip-triangle {
	position: absolute;
	top: 2px;
	right: -7px;
	display: block;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 3px 2px 3px 2px;
	box-shadow: 1px 2px 4px -1px rgba(0,0,0,.21);
	transform: rotate(45deg);
	z-index: -1;
}
.crm-report-column-funnel-tooltip-value-box {
	display: flex;
	align-items: baseline;
}
.crm-report-column-funnel-tooltip-value {
	font: 700 11px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
}
.crm-report-column-funnel-tooltip-percent {
	font: 700 9px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #828B95;
}
/* END OF TOOLTIP */

.crm-report-column-funnel-scale {
	position: absolute;
	bottom: 18px;
	left: -44px;
	display: flex;
	flex: 1;
	/*width: 26px;*/
	height: 190px;
	border-right: 1px solid #E0E0E0;
}
.crm-report-column-funnel-scale-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.crm-report-column-funnel-scale-box:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: -19px;
	display: block;
	width: 19px;
	height: 1px;
	background: #E0E0E0;
}
.crm-report-column-funnel-scale-item {
	margin: 0 8px 0 0;
	font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #808992;
}
.crm-report-column-funnel-scale-single-value.crm-report-column-funnel-scale-box {
	justify-content: flex-end;
}
/* GRID STYLES */
.crm-report-column-funnel-grid {}
.crm-report-column-funnel-grid-user,
.crm-report-column-funnel-grid-user-name {
	display: flex;
	align-items: center;
}
.crm-report-column-funnel-grid-user {
	margin: 14px 0;
}
.crm-report-column-funnel-grid-user-icon,
.crm-report-column-funnel-grid-company-icon {
	display: inline-block;
	margin: 0 9px 0 0;
	width: 23px;
	height: 23px;
	border-radius: 100%;
}
.crm-report-column-funnel-grid-user-name {
	max-width: 100%;
	font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #2066B0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.crm-report-column-funnel-grid-company .crm-report-column-funnel-grid-user-name {
	font: 500 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
}
.crm-report-column-funnel-grid-company-icon {
	display: none;
}
.crm-report-column-funnel-grid-company .crm-report-column-funnel-grid-company-icon {
	display: inline-block;
}
.crm-report-column-funnel-grid-company-icon i {
	border-radius: 0;
}
.crm-report-column-funnel-grid-company .crm-report-column-funnel-grid-user-icon i {
	display: none;
}
.crm-report-column-funnel-grid-value,
.crm-report-column-funnel-grid-value-bold {
	display: inline-block;
	margin: 18px 0;
}
.crm-report-column-funnel-grid-value {
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
}
.crm-report-column-funnel-grid-value-black-bold,
.crm-report-column-funnel-grid-value-bold {
	display: inline-block;
	border-bottom: 1px dashed transparent;
	font: bold 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	transition: color .3s, border-bottom .3s;
	cursor: pointer;
}
.crm-report-column-funnel-grid-value-bold {
	color: #515C69;
}
.crm-report-column-funnel-grid-value-black-bold:hover {
	color: #2066B0;
	border-bottom: 1px dashed #2066B0;
}
.crm-report-column-funnel-grid-value-box {
	display: flex;
	align-items: center;
}
.crm-report-column-funnel-grid-value-box:first-child {
	margin: 0 0 5px 0;
}
.crm-report-column-funnel-grid-value-box:last-child {
	margin: 0;
}
.crm-report-column-funnel-grid-value-box .crm-report-column-funnel-grid-value-dark-grey {
	margin: 0 6px 0 0;
}
.crm-report-column-funnel-grid-value-dark-grey {
	display: block;
	font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
}
.crm-report-column-funnel-grid-value-grey {
	display: block;
	font: bold 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A8ADB4;
}
.crm-report-column-funnel-grid-value-up .crm-report-column-funnel-grid-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4.5px 7px 4.5px;
	border-color: transparent transparent #7cd500 transparent;
}
.crm-report-column-funnel-grid-value-down .crm-report-column-funnel-grid-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 4.5px 0 4.5px;
	border-color: #ff5852 transparent transparent transparent;
}
.crm-report-column-funnel-grid-rating {
	display: flex;
	align-items: center;
}
.crm-report-column-funnel-grid-rating-icon {
	display: inline-block;
	margin: 0 8px 0 0;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.crm-report-column-funnel-grid-rating-value {
	display: inline-block;
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
	border-right: 1px solid rgba(82,92,105,.17);
	font: 13px/10px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #364150;
}
.crm-report-column-funnel-grid-rating-text {
	font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.crm-report-column-funnel-grid-rating-bold .crm-report-column-funnel-grid-rating-value,
.crm-report-column-funnel-grid-rating-bold .crm-report-column-funnel-grid-rating-text {
	font-weight: bold;
}
.crm-report-column-funnel-grid-rating-success .crm-report-column-funnel-grid-rating-text {
	color: #6F9300;
}
.crm-report-column-funnel-grid-rating-success .crm-report-column-funnel-grid-rating-icon {
	background: #B3E600;
}
.crm-report-column-funnel-grid-rating-warning .crm-report-column-funnel-grid-rating-text {
	color: #E22E29;
}
.crm-report-column-funnel-grid-rating-warning .crm-report-column-funnel-grid-rating-icon {
	background: #FF5752;
}
.crm-report-column-funnel-grid-rating-normal .crm-report-column-funnel-grid-rating-text {
	color: #1DB0DE;
}
.crm-report-column-funnel-grid-rating-normal .crm-report-column-funnel-grid-rating-icon {
	background: #2FC6F6;
}
/* END OF GRID STYLES */

.crm-report-column-funnel-wrapper {
	padding: 15px 20px 20px 20px;
}

.crm-report-column-funnel-card-flexed-container {
	display: flex;
}

.crm-report-column-funnel-card-flex-item {
	flex: 1;
}