.document-view-sms {
	background: #fff;
}

.document-view-sms-slider {
	margin: 0 21px 0 24px;
}

.document-view-sms-block {
	padding: 15px 20px 15px 19px;
}

.document-view-sms-block-title {
	border-bottom: 1px solid #e1e3e5;
}

.document-view-sms-title {
	color: #555c6d;
	font-family: "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.document-view-sms-block-option {
	background-color: #f8fafb;
	border-bottom: 1px solid #f3f5f6;
	padding-top: 7px;
	padding-bottom: 7px;
}

.document-view-sms-option {
	font-size: 13px;
	line-height: 19px;
	color: #b0b7bd;
}

.document-view-sms-option:nth-child(2) {
	color: #525c69;
	margin-top: 4px;
}

.document-view-sms-option-value {
	color: #0063c6;
	padding-bottom: 2px;
	border-bottom: 1px dashed #7baee0;
	transition: all .3s linear;
	cursor: pointer;
}

.document-view-sms-option-value:hover {
	border-color: #0063c6;
}

.document-view-sms-option-value-recipient {
	border: none;
	cursor: default;
	margin-right: 6px;
}

.document-view-sms-block-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 12px;
}

.document-view-sms-block-textarea {
	padding: 0;
}

.document-view-sms-textarea {
	padding: 12px 25px 14px 19px;
	outline: none;
	border: none;
	border-bottom: 1px solid #f3f5f6;
	color: #000;
	line-height: 19px;
	width: 100%;
	min-height: 77px;
	resize: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: auto;
}

.document-view-sms-symbol-text {
	color: #b0b7bd;
	font: 12px/20px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.document-view-sms-symbol-sum {
	color: #89929e;
}