.catalog-stores-item-info {
	border-left:1px solid #d3d3d3;
	width: 250px;
	max-width: 250px !important;
	min-width: 250px;
}

.catalog-store-item-image-container img{
	max-width:100%;
	height:auto;
}

@media (max-width: 767px) {
	.catalog-stores-item-info {
		min-width: 0 !important;
		max-width: 100% !important;
		width: 100%;
		border-left: none;
	}
}