.tasks-scrum-entity-title-btn {
	height: 20px;
}

.tasks-scrum-entity-title-btn-dod {
	padding-left: 10px;
}

.tasks-scrum-entity-title-btn-dod .tasks-scrum-entity-dod-icon {
	background: url(images/dod.svg) no-repeat 0 center;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.tasks-scrum-entity-title-btn-task .tasks-scrum-entity-tasks-icon {
	background: url(images/number-task.svg) no-repeat 0 center;
	width: 13px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
}

.tasks-scrum-entity-title-btn-burn-down-chart .tasks-scrum-entity-burn-down-chart-icon {
	background: url(images/burn-down-chart.svg) no-repeat 0 center;
	width: 23px;
	height: 21px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.tasks-scrum-entity-tasks-title {
	font: 13px "OpenSans-Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(82, 92, 105, 0.9);
	letter-spacing: 0;
	text-align: center;
	padding: 0 12px 0 0;
	font-size: 14px;
	color: #525c69;
}