.tasks-scrum-sprint-dragndrop {
	width: 18px;
	height: 17px;
	background: no-repeat center url(images/dragndrop.svg);
	opacity: 0;
	transition: 170ms linear all;
	cursor: -webkit-grab;
	cursor: grab;
	z-index: 10;
	padding-left: 2px;
}

.tasks-scrum-sprint-header-empty {
	padding-right: 18px;
}

.tasks-scrum-sprint-header:hover .tasks-scrum-sprint-dragndrop { opacity: .5; }

.tasks-scrum-sprint-dragndrop:hover { opacity: 1; }

.tasks-scrum-sprint-sprint-add-drop {
	margin: 10px 0 0;
	width: 100%;
	height: 70px;
}

.tasks-scrum-sprint-sprint-add-drop .ui-ctl-label-text small {
	font-size: 10px;
	padding-top: 0;
}

.tasks-scrum-sprint {
	margin: 0 0 10px;
	background-color: #fff;
	border-radius: 1px;
	overflow: hidden;
}

.tasks-scrum-sprint-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 8px 0;
}

.tasks-scrum-sprint-header-active { background-color: #eaf5c5; }

.tasks-scrum-sprint-header-completed { background-color: #eaeaea; }

.tasks-scrum-sprint-header-planned { background-color: #d1eef9; }

.tasks-scrum-sprint-header-name-container { min-width: 0; }

.tasks-scrum-sprint-header-name {
	display: block;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #333;
	letter-spacing: 0.4px;
	min-width: 1px;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	border: none;
	border-bottom: 1px solid transparent;
	background: none;
	outline: none;
	padding: 0;
}

input.tasks-scrum-sprint-header-name { border-bottom: 1px solid rgba(51, 51, 51, 0.45);}

.tasks-scrum-sprint-header-edit {
	background: no-repeat center url(images/edit.svg);
	width: 22.5px;
	height: 22.5px;
	min-width: 22.5px;
	max-width: 22.5px;
	opacity: 0;
	transition: 170ms linear all;
}

.tasks-scrum-sprint-header:hover .tasks-scrum-sprint-header-edit { opacity: .5; }

.tasks-scrum-sprint-header-title-edit .tasks-scrum-sprint-header-edit { opacity: 0; }

.tasks-scrum-sprint-header-edit:hover {
	cursor: pointer;
	opacity: 1;
}

.tasks-scrum-sprint-header-remove {
	background: no-repeat center url(images/remove.svg);
	width: 22.5px;
	height: 22.5px;
	min-width: 22.5px;
	max-width: 22.5px;
	opacity: 0;
	transition: 170ms linear all;
}

.tasks-scrum-sprint-header:hover .tasks-scrum-sprint-header-remove { opacity: .5; }

.tasks-scrum-sprint-header-title-edit .tasks-scrum-sprint-header-remove { opacity: 0; }

.tasks-scrum-sprint-header-remove:hover {
	cursor: pointer;
	opacity: 1;
}

.tasks-scrum-sprint-header-params {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-scrum-sprint-header-stats {
	color: #6b6f76;
	text-decoration: none;
	font-size: 12px;
}

.tasks-scrum-sprint-header-stats .ui-ctl-label-text {
	padding: 0;
	font-size: 12px;
}

.tasks-scrum-sprint-header-stats-kanban {
	color: #545c6a;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

.bitrix24-light-theme .tasks-scrum-sprint-header-stats-kanban {
	color: #fff;
}

.tasks-scrum-sprint-date {
	display: flex;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #525c69;
	letter-spacing: 0;
}

.tasks-scrum-sprint-date .tasks-scrum-sprint-date-separator {
	padding: 0 5px 0 5px;
	cursor: default;
}

.tasks-scrum-sprint-date-start {
	border-bottom: 1px dashed rgba(66, 87, 105, 0.4);
	text-decoration: none;
	cursor: pointer;
	line-height: 13px;
}

.tasks-scrum-sprint-date-end {
	border-bottom: 1px dashed rgba(66, 87, 105, 0.4);
	text-decoration: none;
	cursor: pointer;
	line-height: 13px;
}

.tasks-scrum-sprint-header-button { padding: 0 0 0 15px; }

.tasks-scrum-sprint-header-tick { cursor: pointer; }

.tasks-scrum-sprint-header-tick .ui-btn.ui-btn-light {
	--ui-btn-background-hover: transparent;
	--ui-btn-background-active: transparent;
	--ui-btn-border-color-hover: transparent;
}

.tasks-scrum-sprint-sub-header {
	display: flex;
	padding: 10px 10px 9px 20px;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2066b0;
	border-bottom: 1px solid #dce2e6;
}

.tasks-scrum-sprint-story-point-title {
	font: bold 10px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*text-transform: uppercase;*/
	opacity: 0.65;
	color: #525c69;
	letter-spacing: 0.1px;
	margin-left: 5px;
}

.tasks-scrum-sprint-story-point-done-title,
.tasks-scrum-sprint-story-point-in-work-title {
	opacity: 0.56;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c69;
	margin-left: 10px;
}

.tasks-scrum-sprint-story-point {
	background: rgba(82, 92, 105, 0.11);
	border-radius: 4px;
	font: 13px "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(82, 92, 105, 0.9);
	letter-spacing: 0;
	text-align: center;
	padding: 0 8px;
	margin-left: 5px;
	min-height: 19px;
}

.tasks-scrum-sprint-story-point-in-work {
	color: #009ed0;
	background: rgba(0, 166, 218, 0.1);
}

.tasks-scrum-sprint-story-point-done {
	background: rgba(92, 151, 0, 0.1);
	color: #599100;
}

.tasks-scrum-sprint-header-event-params {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	white-space: nowrap;
	margin-left: auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tasks-scrum-sprint-actions {
	justify-content: flex-end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 11px 0 15px;
}

.tasks-scrum-sprint-action { padding: 0 15px 7px 0; }

.tasks-scrum-sprint-items {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 0 10px 10px 10px;
}

.tasks-scrum-sprint-items.tasks-scrum-sprint-items-group-mode {
	padding: 0 10px 10px 26px;
}

.tasks-scrum-sprint-content {
	display: none;
}

.tasks-scrum-sprint-start-popup,
.tasks-scrum-sprint-start-popup-duration,
.tasks-scrum-sprint-start-popup-taken {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.tasks-scrum-sprint-start-popup-content-title { font-weight: bold; }

.tasks-scrum-sprint-start-popup-content-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 0;
}

.tasks-scrum-sprint-complete-popup,
.tasks-scrum-sprint-complete-popup-result,
.tasks-scrum-sprint-complete-popup-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.tasks-scrum-sprint-complete-popup-result-header {
	font-weight: bold;
	padding: 0 0 10px 0;
}

.tasks-scrum-sprint-complete-popup-move-header {
	font-weight: bold;
	padding: 10px 0 10px 0;
}

.tasks-scrum-sprint-complete-popup-move-select {
	padding: 2px 0 10px 0;
}

.tasks-scrum-sprint-complete-popup-result-completed,
.tasks-scrum-sprint-complete-popup-result-uncompleted {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum-sprint-complete-popup-move-sprint {
	display: none;
}