.btn-add-element {background-image:url(images/add_element.gif);}
.btn-edit-sections {background-image:url(images/edit_sections.gif);}
.btn-edit-list {background-image:url(images/edit_list.gif);}
.btn-list-bizproc {background-image:url(images/list_bizproc.gif);}
.btn-list-excel {background-image:url(images/excel.gif);}
.bp-comments {padding: 5px 5px 5px 25px;display: inline-block;width: 30px;}
.bp-comments a {color: #3c454b; text-align: center;  display: inline-block;}
.bp-comments-icon {display: block; width: 16px; height: 16px; background: url(images/bp-sprite.png) no-repeat 0 -18px;}
.bp-comments .bp-comments-icon {background: url(images/bp-sprite.png) no-repeat 0 0; margin: 0 auto 5px;}

.bx-lists-alert {
	background-color: #fffcde;
	color: #000;
	font-size: 15px;
	min-height: 45px;
	text-align: center;
	padding: 12px 40px 12px 60px;
	position: relative;
	width: 280px;
}
.bx-lists-aligner {
	display: inline-block;
	height: 45px;
	margin-left: -1px;
	vertical-align: middle;
	width: 1px;
}
.bx-lists-alert-text {
	display: inline-block;
	vertical-align: middle;
}
.bx-lists-alert-footer {
	text-align: center;
}
.bx-lists-alert-popup {
	background-color: #fffcde !important;
	border: 1px solid #f0f0f0 !important;
	border-radius: 3px !important;
	-webkit-box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17) !important;
	box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17) !important;
}