.bx-step-opacity {
	transition: 300ms opacity ease;
}

#workarea-content {
	background-color: transparent !important;
}

.workarea-content-paddings {
	padding: 0 15px 0 0 !important;
}

.crm-table {
	width: 100%;
}

.crm-table-left-column {
	width: 50%;
	vertical-align: top;
	padding-right: 5px;
}

.crm-table-right-column {
	width: 50%;
	vertical-align: top;
	padding-left: 5px;
}

.crm-block-inner-table {
	width: 100%;
	border-spacing: 0;
}

.crm-footer-container {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 900;
	padding: 10px 0 10px 0;
	background-color: #fff;
	text-align: center;
}

.crm-order-buyer-group-edit-field-select {
	padding: 5px 30px 5px 10px;
	/*height: 38px;*/
	width: 100%;
	border: 1px solid #caced7;
	border-radius: 0;
	font: 13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance:none;
	outline: none;
}