.crm-rq-wrapper {}

.crm-rq-org-list {}

.crm-rq-org-item {
	padding: 9px 18px 13px;
	border: 1px solid #e9ebee;
	border-radius: 2px;
	margin-bottom: 14px;
	transition: 250ms linear all;
	position: relative;
	cursor: pointer;
}

/*.crm-rq-org-item:hover,*/
.crm-rq-org-item.crm-rq-org-item-selected {
	background-color: #f5f8f9;
	border-color: #f5f8f9;
}

.crm-rq-org-item::after,
.crm-rq-org-item::before {
	content: '';
	position: absolute;
	top: -10px;
	right: 10px;
	opacity: 0;
	transition: 250ms linear transform;
}

.crm-rq-org-item::after {
	display: block;
	width: 20px;
	height: 20px;
	background-color: #9dcf00;
	border-radius: 50%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	z-index: 10;
}

.crm-rq-org-item::before {
	box-sizing: border-box;
	background-color: transparent;
	width: 7px;
	height: 11px;
	border: 2px solid #fff;
	transform: rotate(45deg) translate(-2px, 6px);
	z-index: 20;
	border-top: none;
	border-left: none;
}

.crm-rq-org-item.crm-rq-org-item-selected::after,
.crm-rq-org-item.crm-rq-org-item-selected::before {opacity: 1;}

.crm-rq-org-name {
	font: bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #424956;
}

.crm-rq-org-description {
	font: 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #424956;
	margin-bottom: 11px;
}

.crm-rq-org-requisite-title {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a3a9b1;
	margin-bottom: 13px;
}

.crm-rq-org-requisite-list {}

.crm-rq-org-requisite-item {
	display: block;
	margin-bottom: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-start;
}

.crm-rq-org-requisite-btn {
	margin-right: 20px;
	margin-top: 3px;
}

.crm-rq-org-requisite-info {
	font: 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #424956;
	display: block;
}

.crm-rq-org-requisite-item-selected,
.crm-rq-org-requisite-item:hover .crm-rq-org-requisite-info {
	color: #222;
	cursor: pointer;
}

.crm-rq-link {
	font: 13px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #80868e;
	border-bottom: 1px dashed #e8e9eb;
}

.crm-rq-link:hover {
	border-bottom: 1px dashed;
}

.crm-rq-add-rq {
	cursor: pointer;
	vertical-align: middle;
	font: 13px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #80868e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.crm-rq-add-rq span { margin-right: 5px; }

/**/
.crm-rq-popup-wrapper {}

.crm-rq-popup-items-list {}

.crm-rq-popup-item {
	padding: 12px 20px 13px;
	border-bottom: 1px solid #f2f2f2;
}

.crm-rq-popup-items-list .crm-rq-popup-item:last-child {
	border-bottom: none;
}

.crm-rq-popup-item-name {
	font: 15px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #424956;
	margin-bottom: 6px;
}

.crm-rq-popup-item-desc {
	font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a1a5ac;
}

.crm-rq-popup-item-helper {
	font: 300 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #535c69;
}

.crm-rq-popup-item-add-new {
	padding: 0;
}

.crm-rq-popup-item-add-new-btn {
	border: none;
	outline: 0;
	padding: 14px 20px;
	background-color: #effaff;
	display: block;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.crm-rq-popup-item-add-new-btn-text {
	font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #a1a5ac;
	margin-left: 10px;
}

.crm-rq-inner-form {
	padding: 0;
	background-color: transparent;
}
/**/