.disk-file-transform-file-container {
	position: relative;
	min-height: 300px;
	max-width: 800px;
	background: #f5f7f8;
}

.disk-file-transform-file-loader-container {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.disk-file-transform-file-loader-title {
	display: block;
	margin: 0 0 7px;
	padding: 0;
	color: rgba(95, 103, 116, .46);
	font: 600 15px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.disk-file-transform-file-loader-desc {
	display: block;
	margin: 0 0 28px 0;
	color: rgba(95, 103, 116, .46);
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.disk-file-transform-file-loader-inner {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	overflow: hidden;
	margin: auto;
	width: 270px;
	height: 125px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	/*cursor: pointer;*/
}

.disk-file-transform-file-loader-button {
	position: relative;
	z-index: 10;
	width: 42px;
	height: 33px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2042%2034%22%3E%3Cpath%20fill%3D%22%23D7DCDF%22%20d%3D%22M37.625%201.522c-1.237-.413-8.87-.825-16.5-.825-7.63%200-15.262.412-16.5.825C1.325%202.552.5%209.772.5%2017.197c0%207.425.825%2014.644%204.125%2015.675%201.237.413%208.87.825%2016.5.825%207.63%200%2015.263-.413%2016.5-.825%203.3-1.03%204.125-8.25%204.125-15.675%200-7.425-.825-14.644-4.125-15.675zM17%2026.478V7.916l12.375%209.28L17%2026.48z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.disk-file-transform-file-loader-button-sad {
	margin: 0 0 34px 0;
	width: 74px;
	height: 74px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2275%22%20height%3D%2274%22%20viewBox%3D%220%200%2075%2074%22%3E%3Cg%20fill%3D%22none%22%20transform%3D%22translate%28.5%29%22%3E%3Ccircle%20cx%3D%2236.995%22%20cy%3D%2236.995%22%20r%3D%2236.995%22%20fill%3D%22%23E8EBED%22/%3E%3Cg%20fill%3D%22%23F5F7F8%22%20transform%3D%22translate%2819.203%2021.544%29%22%3E%3Cpath%20d%3D%22M.558%2032.286c-1.31%201.353.754%203.42%202.065%202.065%209.19-9.496%2020.98-9.554%2030.23-.11%201.32%201.35%203.385-.718%202.066-2.064-10.34-10.556-24.083-10.513-34.362.11z%22/%3E%3Ccircle%20cx%3D%226.547%22%20cy%3D%225.813%22%20r%3D%225.81%22/%3E%3Ccircle%20cx%3D%2228.518%22%20cy%3D%225.813%22%20r%3D%225.81%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.disk-file-transform-file-loader-video .disk-file-transform-file-loader-button { opacity: .44; }

.disk-file-transform-file-loader-inner:hover .disk-file-transform-file-loader-button { opacity: .8; }

.disk-file-transform-file-disable .disk-file-transform-file-loader-inner:hover .disk-file-transform-file-loader-button {
	opacity: 1;
	cursor: default;
}

.disk-file-transform-file-loader-link-conteiner { width: 100%; }

.disk-file-transform-file-loader-link {
	display: inline-block;
	border-bottom: 1px solid #0f6bc9;
	color: #0f6bc9;
	transition: border-bottom .3s;
}

.disk-file-transform-file-loader-link:hover { border-bottom: 1px solid transparent; }

.disk-file-transform-file-circular {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 125px;
	height: 125px;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	-webkit-animation: transformerUfFileCircularRotate 2s linear infinite;
	animation: transformerUfFileCircularRotate 2s linear infinite;
}

.disk-file-transform-file-path {
	-webkit-animation: transformerUfFilePathDash 1.5s ease-in-out infinite;
	animation: transformerUfFilePathDash 1.5s ease-in-out infinite;
	stroke: rgba(215, 220, 223, .74);
	stroke-width: 1.5;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
}

.disk-file-transform-file-inner-path {
	stroke: rgba(215, 220, 223, .17);
	stroke-width: 1.5;
	stroke-dasharray: 200, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
}

@-webkit-keyframes transformerUfFileCircularRotate {
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes transformerUfFileCircularRotate {
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes transformerUfFilePathDash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes transformerUfFilePathDash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}