.tm-report-workshift {
	margin: 0 0 10px;
	padding: 5px 10px;
}

.tm-header-btn-right {
	margin-right: 10px;
}

.tm-grid-worktime-popup-violation {
	color: #ff5752;
}

.timeman-grid-worktime-shift {
	padding: 0 8px 0 6px !important;
	margin: 0 4px 6px;
	border-radius: 2px;
	border-left-width: 3px !important;
	position: relative;
}

.timeman-grid-worktime-inner {
	display: flex;
}

.timeman-grid-worktime-inner-clickable {
	cursor: pointer;
}

.timeman-grid-worktime-shift .timeman-grid-worktime-inner {
	color: #535c69;
}

.timeman-grid-worktime-shift .timeman-grid-worktime-container {
	display: flex;
	flex-direction: column;
	padding: 1px 12px 1px 1px;
	white-space: nowrap;
}

.timeman-grid-worktime-shift-past .timeman-grid-worktime-name {
	line-height: 14px;
}

.timeman-grid-worktime-shift-past .timeman-grid-worktime-inner {
	padding: 2px 0 3px;
}

.timeman-grid-worktime-shift-future .timeman-grid-worktime-inner {
	padding: 3px 0 4px;
}

.timeman-grid-worktime-shift-future .timeman-grid-worktime-duration-value,
.timeman-grid-worktime-shift-future .timeman-grid-worktime-duration-value span {
	font-size: 11px;
	line-height: 14px;
	color: rgba(83, 92, 105, .7);
}

/* Color sets for shifts */

.timeman-grid-worktime-shift-past-missed-shift {
	border: 1px solid #f44336;
}

.timeman-grid-worktime-shift-past-no-shiftplan {
	border: 1px solid #f1f422;
}

.timeman-grid-worktime-shift-past-day {
	border: 1px solid #cad999;
}

.timeman-grid-worktime-shift-past-night {
	border: 1px solid #97e3fb;
}

.timeman-grid-worktime-shift-past-evening {
	border: 1px solid #ecdcff;
}

.timeman-grid-worktime-shift-future-day {
	background-color: #dfefaa;
}

.timeman-grid-worktime-shift-future-night {
	background-color: #cbf1fd;
}

.timeman-grid-worktime-shift-future-evening {
	background-color: #e2cbfd;
}

.timeman-grid-worktime-duration {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.timeman-grid-worktime-duration-value {
	color: #535c69;
	white-space: nowrap;
	font-size: 14px;
	line-height: 12px;
}

.timeman-grid-worktime-duration-value span {
	color: #abadb4;
	padding: 0 2px;
	font-size: 11px;
	line-height: 11px;
}

.timeman-grid-worktime-interval {
	color: rgba(141, 151, 167, 0.7);
	line-height: 12px;
	font-size: 0;
	margin-top: 3px;
}

.timeman-grid-worktime-interval span {
	font-size: 11px;
}

.timeman-grid-worktime-interval span:nth-child(2) {
	margin: 0 2px;
}

.tm-violation-hint-title {
	margin-bottom: 6px;
	display: inline-block;
	font-weight: bold;
}

.timeman-grid-worktime-icon-container {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.timeman-report-container-view-interval .timeman-grid-worktime-interval {
	visibility: visible;
}

.timeman-grid-worktime,
.timeman-grid-worktime:hover,
.main-grid-cell-content .timeman-grid-worktime,
.main-grid-cell-content .timeman-grid-worktime:hover {
	text-decoration: none;
	outline: none;
	padding: 3px 13px 2px;
}

.timeman-grid-user-delete {
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 17px;
	margin-top: -2px;
	cursor: pointer;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20opacity%3D%221%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.46491%205.28984L8.46474%203.17387L5.28979%203.174L5.28992%200.000431584L3.17395%200.00025895L3.17391%203.17391H0.000215792L0.000388425%205.28988L3.174%205.28979L3.17391%208.46478L5.28988%208.46495V5.28988L8.46491%205.28984Z%22%20transform%3D%22translate%285.98535%29%20rotate%2845%29%22%20fill%3D%22%23525C69%22/%3E%0A%3C/svg%3E%0A) no-repeat center;
	margin-left: auto;
	opacity: 0;
	transition: all .2s linear;
}

.timeman-grid-user-delete:hover {
	opacity: 0.6;
}

.timeman-grid-shift-plan-menu {
	position: absolute;
	right: 2px;
	top: -5px;
	width: 24px;
	height: 13px;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
	opacity: 0;
	transition: opacity .2s linear;
}

.timeman-grid-shift-plan-menu:before {
	content: '';
	width: 16px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: .4;
	display: block;
	transition: opacity .2s linear;
	transform: translate(-50%, -50%);
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%224%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M2%200a2%202%200%20110%204%202%202%200%20010-4zm6%200a2%202%200%20110%204%202%202%200%20010-4zm6%200a2%202%200%20110%204%202%202%200%20010-4z%22/%3E%3C/svg%3E);
}

.timeman-grid-worktime-shift:hover .timeman-grid-shift-plan-menu {
	opacity: 1;
}

.timeman-grid-worktime-shift:hover .timeman-grid-shift-plan-menu:hover:before {
	opacity: .8;
}

.timeman-grid-worktime-add:hover, .timeman-grid-cell-user:hover .timeman-grid-user-delete:hover {
	opacity: 1;
}

.timeman-grid-worktime-record-cell {
	cursor: pointer;
}

.timeman-grid-worktime-link {
	display: inline-block;
	white-space: nowrap;
	width: 100%;
	box-sizing: border-box;
	text-decoration: none !important;
}

.timeman-grid-worktime-add {
	opacity: 0;
	min-height: 39px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 8px 7px;
	cursor: pointer;
	padding: 0 5px 0 !important;
}

.timeman-grid-worktime-add:hover .timeman-grid-add-btn {
	opacity: 1;
}

.timeman-grid-worktime-add + .timeman-grid-worktime-add {
	border-top: 1px solid #efefef;
}

.tm-report-workshift--absence {
	border: 1px solid red;
}

.tm-pagetitle-btn {
	margin-left: 10px;
}

.timeman-report-container {
	padding: 15px 18px;
}

.timeman-filter-wrap {
	margin-right: 58px;
}

.timeman-top-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	margin-bottom: 30px;
}

.timeman-top-title-container, .timeman-top-title-month {
	display: flex;
	align-items: center;
}

.timeman-top-title {
	cursor: pointer;
	color: #333;
	font: 24px/33px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 0;
}

.timeman-top-title-today-separator-right {
	padding-right: 16px;
	border-right: 1px solid #e5e7e9;
}

.timeman-top-title-today {
	cursor: pointer;
}

.timeman-top-title-today-text {
	display: inline-block;
	padding: 0 2px;
	border-bottom: 1px dashed transparent;
	color: #525c69;
	vertical-align: middle;
	font: 300 17px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: all 220ms ease;
}

.timeman-top-title-today-text:hover {
	color: #000;
}

.timeman-top-title-settings {
	width: 14px;
	height: 14px;
	text-align: center;
	cursor: pointer;
	margin-left: 16px;
	opacity: .8;
	transition: opacity .2s linear;
	margin-right: 10px;
}

.timeman-top-title-settings:hover {
	opacity: 1;
}

.timeman-top-title-settings-icon {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: top;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2210%22%3E%3Cpath%20fill%3D%22%23C0C5CA%22%20fill-rule%3D%22evenodd%22%20d%3D%22M4%200h11v2H4V0zm0%204h11v2H4V4zm0%204h11v2H4V8zM0%200h2v2H0V0zm0%204h2v2H0V4zm0%204h2v2H0V8z%22/%3E%3C/svg%3E) no-repeat top 2px center;
}

.timeman-top-title-right {
	display: flex;
	align-items: center;
}

.timeman-navigation-previous, .timeman-navigation-next {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: .5;
	transition: opacity 220ms ease;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%227%22%20height%3D%2212%22%20viewBox%3D%220%200%207%2012%22%3E%3Cpolygon%20fill%3D%22%23535C6B%22%20fill-rule%3D%22evenodd%22%20points%3D%22.001%207.835%205.161%2012.995%200%2018.154%20.835%2018.99%205.995%2013.829%206.832%2012.996%205.996%2012.16%20.836%207%22%20transform%3D%22rotate%28-180%203.416%209.495%29%22/%3E%3C/svg%3E) no-repeat center;
}

.timeman-navigation-next {
	transform: rotate(180deg);
}

.timeman-navigation-previous:hover, .timeman-navigation-next:hover {
	opacity: 1;
}

.timeman-navigation-current {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

/* Grid styles*/

.timeman-grid-worktime-duration-diff {
	color: #ff5752;
	font-size: 11px;
	line-height: 12px;
}

.timeman-report-container .main-grid-cell-head {
	padding: 0 0 0 9px;
	height: 38px;
	border-bottom: 2px #fff solid;
	background-color: #e0f7fe;
	box-sizing: border-box;
}

.timeman-report-container .main-grid-cell-head .main-grid-head-title {
	color: #525c69;
	font-size: 15px;
	font-family: 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	letter-spacing: 0;
	line-height: 16px;
	padding-right: 0;
}

.timeman-report-container .timeman-grid-cell-stat-head.main-grid-cell-head .main-grid-head-title {
	text-transform: none;
	font: 12px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align: center;
}

.timeman-report-container .main-grid-cell-head.timeman-grid-cell-stat-head {
	padding-top: 2px;
	border-right: none;
	background-color: #cff2fd;
	text-align: center;
}

.timeman-report-container .main-grid-cell-head.timeman-grid-cell-stat-head:first-child {
	border-left: 2px solid #edeef0;
}

.timeman-report-container .main-grid-cell-head .main-grid-cell-head-container {
	padding: 4px 0 0;
	border-right: 1px #e8eaeb solid;
	height: 100%;
	display: flex;
	align-items: center;
	z-index: 0;
}

.timeman-report-container .main-grid-cell-head:first-child .main-grid-head-title {
	font: 14px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-transform: none;
}

.timeman-report-container .main-grid-cell-head:first-child {
	border-width: 2px;
}

/* Background for empty cells */

.timeman-report-container .timeman-grid-cell-empty.main-grid-cell {
	background-color: #f6f7f7;
	border-bottom: none;
	height: 35px;
	pointer-events: none;
}

.timeman-report-container .timeman-grid-cell-empty.main-grid-cell .main-grid-cell-content {
	margin: 4px 8px;
}

.timeman-report-container .timeman-grid-cell-empty.main-grid-cell:first-child .main-grid-cell-content {
	font-weight: 700;
	color: rgba(82, 92, 105, .75);
	line-height: 25px;
}

/* The background end */

.timeman-report-container .main-grid-cell {
	border-right: 1px #e8eaeb solid;
	border-top: 1px #e8eaeb solid;
	border-bottom: none;
}

.timeman-report-container .main-grid-cell:first-child .main-grid-cell-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.timeman-report-container .main-grid-cell .main-grid-cell-content {
	margin-right: 0;
	margin-left: 0;
}

.timeman-report-container .main-grid-cell .main-grid-cell-content {
	margin-top: 6px;
	margin-bottom: 2px;
}

.timeman-report-container .main-grid-plus-button {
	display: none;
}

.timeman-grid-user {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 3px 0 3px 18px;
}

.timeman-grid-user-info {
	display: flex;
	flex-direction: column;
	margin-right: 5px;
}

.timeman-grid-user-avatar {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	margin-right: 9px;
}

.timeman-grid-user-company {
	color: #a8adb4;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
	text-overflow: ellipsis;
}

.timeman-grid-user-avatar-value {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}

.timeman-grid-user-name {
	color: #2066b0;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
	text-overflow: ellipsis;
}

.timeman-grid-worktime-name {
	font-weight: 700;
	font-size: 11px;
	color: #535c69;
	line-height: 14px;
	margin-bottom: 1px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 95px;
}

.timeman-grid-head-title-date {
	font-size: 12px;
	display: inline-block;
	padding: 1px 5px;
	border-radius: 10px;
	background-color: #2fc6f6;
	color: #fff;
	font-weight: normal;
	line-height: 15px;
	margin: 0 4px;
	font-family: "OpenSans-Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.timeman-grid-head-title-text {
	font-size: 12px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: rgba(130, 139, 149, .65);
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 2px;
}

.timeman-grid-worktime-today {
	margin-bottom: 5px;
	display: flex;
}

.timeman-report-container .timeman-grid-cell-absence-full .timeman-grid-worktime,
.timeman-report-container .timeman-grid-cell-absence-start .timeman-grid-worktime,
.timeman-report-container .timeman-grid-cell-absence-middle .timeman-grid-worktime,
.timeman-report-container .timeman-grid-cell-absence-end .timeman-grid-worktime {
	display: flex;
	align-items: center;
}

.timeman-report-container .timeman-grid-cell-absence-full .timeman-grid-worktime-inner,
.timeman-report-container .timeman-grid-cell-absence-start .timeman-grid-worktime-inner,
.timeman-report-container .timeman-grid-cell-absence-middle .timeman-grid-worktime-inner,
.timeman-report-container .timeman-grid-cell-absence-end .timeman-grid-worktime-inner {
	background-color: rgba(255, 169, 0, .26);
	height: 42px;
	width: 100%;
	border-radius: 2px;
	align-items: flex-start;
	padding-left: 11px;
	padding-right: 6px;
	padding-top: 9px;
	color: rgba(51, 51, 51, .5);
	box-sizing: border-box;
}

.timeman-report-container .timeman-grid-cell-absence-middle .timeman-grid-worktime-inner {
	border-radius: 0;
}

.timeman-report-container .timeman-grid-cell-absence-start .timeman-grid-worktime-inner {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.timeman-report-container .timeman-grid-cell-absence-end .timeman-grid-worktime-inner {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.timeman-grid-worktime-absence-desc {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 99px;
	padding-bottom: 9px;
}

.timeman-report-container .main-grid-cell.timeman-grid-cell-stat .main-grid-cell-content {
	border-right: 0;
	margin: 10px 0 0;
	text-align: center;
}

.timeman-report-container .main-grid-cell.timeman-grid-cell-stat {
	position: relative;
	background-color: #f7fdff;
}

.timeman-report-container .main-grid-cell.timeman-grid-cell-stat .timeman-grid-worktime-duration-value,
.timeman-report-container .main-grid-cell.timeman-grid-cell-stat .timeman-grid-worktime-duration-value span,
.timeman-report-container .main-grid-cell.timeman-grid-cell-stat .timeman-grid-worktime-duration-diff {
	font-size: 13px;
	line-height: 14px;
}

.timeman-report-container .main-grid-cell.timeman-grid-cell-stat .timeman-grid-worktime-duration-value span {
	padding: 0;
}

.timeman-report-container .main-grid-cell.timeman-grid-cell-stat .timeman-grid-worktime-duration-diff span {
	color: #ffaaa7;
}

.timeman-report-container .main-grid-cell.timeman-grid-cell-stat .timeman-grid-worktime-duration {
	justify-content: center;
}

.timeman-report-container .main-grid-cell-head.timeman-grid-cell-settings-head {
	min-width: 60px;
	max-width: 60px;
	border-right-width: 3px;
}

.timeman-report-container .main-grid-cell-head.timeman-grid-cell-settings-head .main-grid-cell-head-container {
	text-align: right;
	padding-right: 8px;
}

.timeman-report-container .main-grid-cell.timeman-grid-cell-settings {
	border-right-width: 3px;
}

.timeman-grid-settings {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.timeman-grid-settings-icon {
	width: 26px;
	height: 28px;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all .2s linear;
	cursor: pointer;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: 10px;
}

.timeman-grid-settings-icon-time {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M7.15723%200C3.20459%200%200%203.20459%200%207.15698C0%2011.1096%203.20459%2014.3142%207.15723%2014.3142C11.1099%2014.3142%2014.314%2011.1096%2014.314%207.15698C14.314%203.20459%2011.1099%200%207.15723%200ZM6.23975%203.64502H7.83594V6.74854H10.23V8.30029H6.23975V3.64502ZM1.78906%207.15723C1.78906%2010.1211%204.19287%2012.5249%207.15674%2012.5249C10.1211%2012.5249%2012.5249%2010.1211%2012.5249%207.15723C12.5249%204.19312%2010.1211%201.78931%207.15674%201.78931C4.19287%201.78931%201.78906%204.19312%201.78906%207.15723Z%22%20transform%3D%22translate%280.290527%200.293701%29%22%20fill%3D%22%23525C69%22/%3E%0A%3C/svg%3E%0A);
}

.timeman-grid-settings-icon-workshift {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2217%22%20height%3D%2212%22%20viewBox%3D%220%200%2017%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cg%20opacity%3D%221%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M2.89014%201.05493L3.94531%200L6.40674%202.46143L7.46143%203.51636L6.40674%204.57153L3.94531%207.03296L2.89014%205.97803L4.60742%204.26074H0V2.7688H4.604L2.89014%201.05493Z%22%20transform%3D%22translate%289%201%29%22%20fill%3D%22%23525C69%22/%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.1722%208.26363C10.1722%207.82219%209.56028%207.31794%208.35533%207.02409C7.94709%206.91671%207.55902%206.7502%207.20498%206.5305C7.12755%206.48877%207.13932%206.10326%207.13932%206.10326L6.75124%206.04756C6.75124%206.01626%206.71805%205.55396%206.71805%205.55396C7.18238%205.40682%207.13461%204.53881%207.13461%204.53881C7.42949%204.69306%207.62153%204.00616%207.62153%204.00616C7.97031%203.05181%207.44785%203.10952%207.44785%203.10952C7.53925%202.52692%207.53925%201.9348%207.44785%201.3522C7.21557%20-0.580454%203.71839%20-0.0557877%204.13306%200.575409C3.11097%200.397857%203.34419%202.59107%203.34419%202.59107L3.56588%203.15901C3.1305%203.42534%203.43315%203.74737%203.44821%204.11801C3.46963%204.66532%203.82476%204.55191%203.82476%204.55191C3.84665%205.4552%204.31898%205.57283%204.31898%205.57283C4.4077%206.14011%204.3524%206.04356%204.3524%206.04356L3.93208%206.0915C3.93777%206.22051%203.92662%206.34968%203.89889%206.47612C3.40468%206.68386%203.2983%206.8057%202.80714%207.00878C1.85824%207.40095%200.826976%207.91096%200.643645%208.59765C0.460314%209.28433%200%2012%200%2012H11L10.1722%208.26363Z%22%20fill%3D%22%23525C69%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A);
}

.timeman-report-container .main-grid-cell:first-child:hover .timeman-grid-settings-icon {
	opacity: .2;
}

.timeman-report-container .main-grid-cell:first-child:hover .timeman-grid-settings-icon:hover {
	opacity: 1;
}

.timeman-grid-settings-icon-head {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.8296%206.57056L15.4146%206.83496C15.7524%206.89062%2015.9995%207.18262%2016%207.52533V8.47455C16%208.81732%2015.7529%209.10931%2015.415%209.16498L13.8618%209.42432C13.8428%209.42755%2013.8271%209.44196%2013.8223%209.46094C13.6782%2010.0381%2013.4497%2010.5806%2013.1519%2011.0773C13.1421%2011.0941%2013.1426%2011.1152%2013.1543%2011.1312L14.0913%2012.4453C14.292%2012.7236%2014.2593%2013.1049%2014.0176%2013.3466L13.3462%2014.018C13.104%2014.2607%2012.7222%2014.292%2012.4448%2014.0928L11.1284%2013.1525C11.1123%2013.1411%2011.0913%2013.1403%2011.0747%2013.1503C10.5806%2013.4449%2010.043%2013.6702%209.47021%2013.8135C9.45166%2013.8182%209.43701%2013.8337%209.43359%2013.8531L9.17334%2015.415C9.11768%2015.7524%208.82568%2016%208.48291%2016H7.5332C7.19141%2016%206.89844%2015.7524%206.84375%2015.415L6.57715%2013.8212C5.88184%2013.6506%205.23291%2013.3643%204.65771%2012.9755C4.64111%2012.9646%204.62012%2012.9642%204.60352%2012.9745L3.25586%2013.8212C2.9668%2014.0034%202.58789%2013.9501%202.35938%2013.6934L1.72949%2012.9839C1.50195%2012.7275%201.49268%2012.3447%201.70801%2012.079L2.69775%2010.8534C2.70996%2010.838%202.71191%2010.8168%202.70264%2010.7994C2.48145%2010.3817%202.31348%209.93298%202.19531%209.46393C2.19043%209.44489%202.1748%209.43054%202.15576%209.42731L0.584961%209.16504C0.248047%209.10938%200%208.81732%200%208.47461V7.52539C0%207.18262%200.248047%206.89062%200.584961%206.83496L2.15576%206.57269C2.1748%206.56946%202.19043%206.55511%202.19531%206.53613C2.34033%205.96155%202.56738%205.42017%202.86426%204.92511C2.87451%204.90826%202.87354%204.88715%202.8623%204.87122L1.95898%203.60596C1.75977%203.32812%201.79102%202.94653%202.03271%202.7041L2.7041%202.03247C2.94629%201.79053%203.32812%201.75952%203.60596%201.95801L4.86865%202.85919C4.88477%202.87061%204.90576%202.87134%204.92236%202.86127C5.42139%202.5614%205.96582%202.33203%206.5459%202.18671C6.56494%202.18195%206.5791%202.1665%206.58252%202.14722L6.84375%200.584961C6.89844%200.247559%207.19141%200%207.5332%200H8.48291C8.82568%200%209.11768%200.247559%209.17334%200.584961L9.43359%202.14661C9.43652%202.16595%209.45117%202.18146%209.47021%202.18622C10.1865%202.36578%2010.8511%202.67053%2011.4385%203.08105L12.7939%202.229C13.083%202.04639%2013.4619%202.10059%2013.6904%202.35693L14.3208%203.06641C14.5483%203.323%2014.5581%203.70557%2014.3423%203.97144L13.3477%205.20459C13.3354%205.21973%2013.3335%205.2406%2013.3423%205.25793C13.5542%205.66968%2013.7168%206.11017%2013.8296%206.57056ZM8.6582%2010.9299C9.79443%2010.6883%2010.688%209.79456%2010.9297%208.65814C11.3906%206.49139%209.50781%204.60907%207.3418%205.07013C6.31738%205.28815%205.28809%206.3175%205.07031%207.34186C4.60938%209.508%206.49121%2011.3907%208.6582%2010.9299Z%22%20fill%3D%22%23535C69%22/%3E%0A%3C/svg%3E%0A);
	background-position: top 7px center;
	opacity: .3;
}

.timeman-filter-wrap + .ui-btn-icon-setting {
	min-width: 0;
	padding-right: 0;
	padding-left: 37px;
	outline: none;
}

.timeman-report-wrap {
	background: #fff;
}

.timeman-report-inner {
	padding: 0 14px 0 16px;
}

.timeman-report-pagetitle {
	display: flex;
	align-items: center;
}

.timeman-report-container-plan .timeman-grid-user-avatar {
	width: 34px;
	height: 34px;
}

.timeman-report-container-plan .timeman-grid-user-name {
	font-size: 15px;
}

.timeman-report-container.timeman-report-container-plan .main-grid-cell-head {
	border-bottom: none;
}

.timeman-report-container.timeman-report-container-plan .main-grid-cell:first-child {
	border-right: 2px solid #edeef0;
	height: 100%;
}

.timeman-report-container.timeman-report-container-plan .main-grid-cell-head:first-child {
	border-right: 2px solid #edeef0;
	box-sizing: border-box;
}

.timeman-report-container.timeman-report-container-plan .main-grid-cell-head:first-child .main-grid-cell-head-container {
	border-right: none;
}

.timeman-report-container-plan .main-grid-cell-head:first-child .main-grid-head-title {
	font-weight: 700;
	color: #525c69;
	line-height: 25px;
}

.timeman-grid-user-delete:hover, .timeman-grid-shift-plan-delete:hover {
	opacity: 0.6;
}

.timeman-grid-add-btn {
	width: 16px;
	height: 16px;
	background-color: #2fc6f6;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	transition: all .2s linear;
	opacity: .7;
}

.timeman-grid-add-btn:before, .timeman-grid-add-btn:after {
	content: '';
	width: 8px;
	height: 2px;
	background-color: #fff;
	left: 4px;
	top: 7px;
	position: absolute;
}

.timeman-hide {
	display: none !important;
}

.timeman-grid-add-btn:after {
	transform: rotate(90deg);
}

.timeman-grid-user.timeman-grid-user-add {
	cursor: pointer;
	align-items: center;
	min-height: 48px;
}

.timeman-grid-user-add .timeman-grid-add-btn {
	background-color: #69d6f9;
}

.timeman-grid-user-add:hover .timeman-grid-add-btn {
	background-color: #2fc6f6;
}

.timeman-grid-add-btn-text {
	margin-left: 6px;
	color: #2066b0;
	font-size: 12px;
}

.main-grid-cell-head.main-grid-sticked-column .main-grid-cell-head-container {
	height: 100%;
}

.main-grid-cell-head.main-grid-sticked-column .main-grid-cell-head-container .main-grid-head-title {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body.timeman-print-mode .timeman-grid-user-avatar {
	display: none;
}

body.timeman-print-mode .timeman-grid-add-btn {
	display: none;
}

body.timeman-print-mode .timeman-report-container {
	padding: 0;
}

body.timeman-print-mode .timeman-grid-worktime-shift {
	background: none;
}

body.timeman-print-mode .timeman-grid-worktime-shift .timeman-grid-worktime-inner {
	display: none;
}

body.timeman-print-mode .timeman-grid-worktime-shift:after {
	content: '';
	background-color: #69d6f9;
	width: 24px;
	height: 24px;
	display: inline-block;
}

.main-grid:not(.main-grid-ondrag) .main-grid-row:not(.tm-department-name-row):hover > .main-grid-cell:not(.main-grid-fixed-column),
.main-grid:not(.main-grid-ondrag) .main-grid-row:not(.tm-department-name-row):hover > .main-grid-cell:first-child {
	background-color: #fff !important;
}

.main-grid-row:not(.tm-department-name-row) td.main-grid-fixed-column:nth-child(3),
.main-grid-row:not(.tm-department-name-row) td.main-grid-fixed-column:nth-child(5),
.main-grid-row:not(.tm-department-name-row) td.main-grid-fixed-column:nth-child(7),
.main-grid-row:not(.tm-department-name-row) td.main-grid-fixed-column:hover:nth-child(3),
.main-grid-row:not(.tm-department-name-row) td.main-grid-fixed-column:hover:nth-child(5),
.main-grid-row:not(.tm-department-name-row) td.main-grid-fixed-column:hover:nth-child(7) {
	background-color: #f2fcff !important;
	text-align: center;
	border-right: none;
	height: 100%;
	padding-top: 12px;
}

.main-grid-row-head:not(.tm-department-name-row) th.main-grid-fixed-column:nth-child(3) .main-grid-cell-head-container,
.main-grid-row-head:not(.tm-department-name-row) th.main-grid-fixed-column:nth-child(5) .main-grid-cell-head-container,
.main-grid-row-head:not(.tm-department-name-row) th.main-grid-fixed-column:nth-child(7) .main-grid-cell-head-container {
	border-right: none;
}

.tm-department-name-row td.main-grid-cell {
	border-top: none;
}

.tm-department-name-row td.main-grid-fixed-column:nth-child(3),
.tm-department-name-row td.main-grid-fixed-column:nth-child(5),
.tm-department-name-row td.main-grid-fixed-column:nth-child(7) {
	background: #eef9fc !important;
	border-right: none;
}

.main-grid-row-head:not(.tm-department-name-row) th.main-grid-fixed-column:nth-child(7) .main-grid-cell-head-container,
.tm-department-name-row td.main-grid-fixed-column:nth-child(7),
.main-grid-row:not(.tm-department-name-row) td.main-grid-fixed-column:nth-child(7),
.main-grid-row:not(.tm-department-name-row) td.main-grid-fixed-column:hover:nth-child(7) {
	border-right: 2px solid #edeef0;
}

.timeman-report-container .main-grid-cell-head:hover .main-grid-resize-button {
	opacity: 0;
}

.timeman-grid-worktime-inner.timeman-grid-worktime {
	display: flex;
}

.timeman-grid-worktime-absence-block {
	padding: 0 !important;
	margin: 0;
}

.timeman-report-container .main-grid-row-custom > .main-grid-cell {
	padding-left: 0;
}

.timeman-report-container .timeman-grid-cell-absence-start .timeman-grid-worktime-inner {
	margin-right: 0;
	margin-left: 4px;
	width: auto;
}

.timeman-report-container .timeman-grid-cell-absence-full .timeman-grid-worktime-inner {
	margin-right: 6px;
	margin-left: 6px;
	width: auto;
}

.timeman-report-container .timeman-grid-cell-absence-middle .timeman-grid-worktime-inner {
	margin-right: 0;
	margin-left: 0;
	width: auto;
}

.timeman-report-container .timeman-grid-cell-absence-end .timeman-grid-worktime-inner {
	margin-right: 4px;
	margin-left: 0;
	width: auto;
}

.tm-department-name-row td {
	padding: 0 0 0 9px;
	background-color: #f6f7f8;
	box-sizing: border-box;
}

.tm-worktime-list-holiday-cell,
.main-grid:not(.main-grid-ondrag) .main-grid-row:not(.tm-department-name-row):hover >
.tm-worktime-list-holiday-cell.main-grid-cell:not(.main-grid-fixed-column) {
	background-color: #f4f5f5!important;
}

span.tm-department-name a {
	font-weight: 700;
	color: #7a828c;
	line-height: 25px;
	display: inline-block !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 227px;
}

.timeman-grid-stat {
	display: block;
}

.timeman-grid-stat span {
	padding: 0 2px;
	opacity: .5;
}

.tm-department-name-row + .main-grid-row td.main-grid-cell {
	border-top: none;
}

.timeman-report-container .main-grid-cell-head-stat {
	background: #cef2fd;
}

.main-grid-cell-head-stat.main-grid-cell-head .main-grid-head-title {
	color: #525c69;
	font-size: 12px;
	text-transform: none;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.main-grid-cell-head-stat.main-grid-cell-head .main-grid-cell-head-container {
	justify-content: center;
}

.timeman-report-container .timeman-grid-cell-absence .main-grid-cell-content {
	margin-top: 4px;
}

.tm-settings-popup-violations-wrapper {
	margin: 15px 0 0 0;
}

div + .timeman-entity-config-block {
	margin-top: 15px;
}

.tm-settings-popup-wrapper {
	padding: 10px;
}

.timeman-entity-config-block .period-setting-label {
	display: block;
	margin-bottom: 5px;
}

.tm-settings-popup-violations-schedules-link {
	border-bottom: 1px dashed rgba(35, 105, 177, .4);
	cursor: pointer;
	padding: 5px 2px 3px 0;
	transition: border .2s linear;
	font: 400 14px Arial;
	margin: 3px 0 0 0;
	display: inline-block;
	color: #2369b1;
}

.timeman-grid-worktime-today .timeman-grid-worktime-duration-value {
	font-weight: 600;
}

.timeman-grid-column-header-today {
	background-color: #beebf9 !important;
}

.timeman-grid-column-header-today .main-grid-head-title {
	font-weight: 700;
}

.timeman-grid-worktime-expired-text {
	color: red !important;
}