.timeman-record-violation-icon {
	display: inline-block;
	width: 11px;
	height: 11px;
	background-repeat: no-repeat;
	background-position: center;
	flex-shrink: 0;
}

.timeman-record-violation-icon-confirmed {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2211%22%3E%3Cpath%20fill%3D%22%23a8c842%22%20fill-rule%3D%22evenodd%22%20d%3D%22M4.877%206.174L3.645%204.942l-.87.871L4.83%207.868l.048.047%203.823-3.823-.87-.871-2.954%202.953zM5.5%2011a5.5%205.5%200%20110-11%205.5%205.5%200%20010%2011z%22%20opacity%3D%22.6%22/%3E%3C/svg%3E);
}

.timeman-record-violation-icon-notice {
	opacity: .6;
	transition: opacity .2s linear;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23A8ADB4%22%20d%3D%22M6.097%2011.8a5.492%205.492%200%201%200%200-10.985%205.492%205.492%200%200%200%200%2010.984zm-.7-7.902c0-.393.314-.708.708-.708H6.2c.393%200%20.708.315.708.708v2.65a.705.705%200%200%201-.708.708h-.096a.705.705%200%200%201-.708-.709V3.898zM7.049%209.04c0%20.49-.402.892-.892.892a.896.896%200%200%201-.892-.892c0-.49.403-.892.892-.892.49%200%20.892.403.892.892z%22%20opacity%3D%221%22/%3E%3C/svg%3E);
}

.timeman-record-violation-icon-notice:hover {
	opacity: .8;
}

.timeman-record-violation-icon-warning {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2211%22%3E%3Cpath%20fill%3D%22%23FF5752%22%20d%3D%22M5.492%2010.985A5.492%205.492%200%20105.492%200a5.492%205.492%200%20000%2010.985zm-.7-7.901c0-.394.314-.709.708-.709h.096c.393%200%20.708.315.708.709v2.649a.705.705%200%2001-.708.708H5.5a.705.705%200%2001-.708-.708v-2.65zm1.652%205.14c0%20.49-.402.892-.892.892a.896.896%200%2001-.892-.892c0-.49.403-.891.892-.891.49%200%20.892.402.892.891z%22/%3E%3C/svg%3E);
}

.timeman-record-violation-icon-alert {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%0A%20%20%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M114.877104%2C6.17399087%20L113.645296%2C4.9421823%20L112.774488%2C5.8129899%20L114.829715%2C7.86821688%20L114.830568%2C7.86736433%20L114.877957%2C7.91475352%20L118.700926%2C4.09178409%20L117.830119%2C3.22097649%20L114.877104%2C6.17399087%20Z%20M115.5%2C11%20C112.462434%2C11%20110%2C8.53756612%20110%2C5.5%20C110%2C2.46243388%20112.462434%2C0%20115.5%2C0%20C118.537566%2C0%20121%2C2.46243388%20121%2C5.5%20C121%2C8.53756612%20118.537566%2C11%20115.5%2C11%20Z%22%20transform%3D%22translate%28-110%29%22/%3E%0A%3C/svg%3E%0A);
}