.bx-flag-16 {
	height: 16px;
	width: 16px;
	background: url("/bitrix/images/sale/flag/sprite-16.png") 0 -4128px;
}
.bx-flag-24 {
	height: 24px;
	width: 24px;
	background: url("/bitrix/images/sale/flag/sprite-24.png") 0 -6192px;
}
.bx-flag-32 {
	height: 32px;
	width: 32px;
	background: url("/bitrix/images/sale/flag/sprite-32.png") 0 -8256px;
}

/**************** 16x16 *************/
.bx-flag-16.ad {
	background-position: 0 0;
}
.bx-flag-16.ae {
	background-position: 0 -16px;
}
.bx-flag-16.af {
	background-position: 0 -32px;
}
.bx-flag-16.ag {
	background-position: 0 -48px;
}
.bx-flag-16.ai {
	background-position: 0 -64px;
}
.bx-flag-16.al {
	background-position: 0 -80px;
}
.bx-flag-16.am {
	background-position: 0 -96px;
}
.bx-flag-16.an {
	background-position: 0 -112px;
}
.bx-flag-16.ao {
	background-position: 0 -128px;
}
.bx-flag-16.aq {
	background-position: 0 -144px;
}
.bx-flag-16.ar {
	background-position: 0 -160px;
}
.bx-flag-16.as {
	background-position: 0 -176px;
}
.bx-flag-16.at {
	background-position: 0 -192px;
}
.bx-flag-16.au {
	background-position: 0 -208px;
}
.bx-flag-16.aw {
	background-position: 0 -224px;
}
.bx-flag-16.ax {
	background-position: 0 -240px;
}
.bx-flag-16.az {
	background-position: 0 -256px;
}
.bx-flag-16.ba {
	background-position: 0 -272px;
}
.bx-flag-16.bb {
	background-position: 0 -288px;
}
.bx-flag-16.bd {
	background-position: 0 -304px;
}
.bx-flag-16.be {
	background-position: 0 -320px;
}
.bx-flag-16.bf {
	background-position: 0 -336px;
}
.bx-flag-16.bg {
	background-position: 0 -352px;
}
.bx-flag-16.bh {
	background-position: 0 -368px;
}
.bx-flag-16.bi {
	background-position: 0 -384px;
}
.bx-flag-16.bj {
	background-position: 0 -400px;
}
.bx-flag-16.bl {
	background-position: 0 -416px;
}
.bx-flag-16.bm {
	background-position: 0 -432px;
}
.bx-flag-16.bn {
	background-position: 0 -448px;
}
.bx-flag-16.bo {
	background-position: 0 -464px;
}
.bx-flag-16.br {
	background-position: 0 -480px;
}
.bx-flag-16.bs {
	background-position: 0 -496px;
}
.bx-flag-16.bt {
	background-position: 0 -512px;
}
.bx-flag-16.bw {
	background-position: 0 -528px;
}
.bx-flag-16.by {
	background-position: 0 -544px;
}
.bx-flag-16.bz {
	background-position: 0 -560px;
}
.bx-flag-16.ca {
	background-position: 0 -576px;
}
.bx-flag-16.cc {
	background-position: 0 -592px;
}
.bx-flag-16.cd {
	background-position: 0 -608px;
}
.bx-flag-16.cf {
	background-position: 0 -624px;
}
.bx-flag-16.cg {
	background-position: 0 -640px;
}
.bx-flag-16.ch {
	background-position: 0 -656px;
}
.bx-flag-16.ci {
	background-position: 0 -672px;
}
.bx-flag-16.ck {
	background-position: 0 -688px;
}
.bx-flag-16.cl {
	background-position: 0 -704px;
}
.bx-flag-16.cm {
	background-position: 0 -720px;
}
.bx-flag-16.cn {
	background-position: 0 -736px;
}
.bx-flag-16.co {
	background-position: 0 -752px;
}
.bx-flag-16.cr {
	background-position: 0 -768px;
}
.bx-flag-16.cu {
	background-position: 0 -784px;
}
.bx-flag-16.cv {
	background-position: 0 -800px;
}
.bx-flag-16.cw {
	background-position: 0 -816px;
}
.bx-flag-16.cx {
	background-position: 0 -832px;
}
.bx-flag-16.cy {
	background-position: 0 -848px;
}
.bx-flag-16.cz {
	background-position: 0 -864px;
}
.bx-flag-16.de {
	background-position: 0 -880px;
}
.bx-flag-16.dj {
	background-position: 0 -896px;
}
.bx-flag-16.dk {
	background-position: 0 -912px;
}
.bx-flag-16.dm {
	background-position: 0 -928px;
}
.bx-flag-16.do {
	background-position: 0 -944px;
}
.bx-flag-16.dz {
	background-position: 0 -960px;
}
.bx-flag-16.ec {
	background-position: 0 -976px;
}
.bx-flag-16.ee {
	background-position: 0 -992px;
}
.bx-flag-16.eg {
	background-position: 0 -1008px;
}
.bx-flag-16.eh {
	background-position: 0 -1024px;
}
.bx-flag-16.er {
	background-position: 0 -1040px;
}
.bx-flag-16.es {
	background-position: 0 -1056px;
}
.bx-flag-16.et {
	background-position: 0 -1072px;
}
.bx-flag-16.eu {
	background-position: 0 -1088px;
}
.bx-flag-16.fi {
	background-position: 0 -1104px;
}
.bx-flag-16.fj {
	background-position: 0 -1120px;
}
.bx-flag-16.fk {
	background-position: 0 -1136px;
}
.bx-flag-16.fm {
	background-position: 0 -1152px;
}
.bx-flag-16.fo {
	background-position: 0 -1168px;
}
.bx-flag-16.fr {
	background-position: 0 -1184px;
}
.bx-flag-16.ga {
	background-position: 0 -1200px;
}
.bx-flag-16.gb {
	background-position: 0 -1216px;
}
.bx-flag-16.gd {
	background-position: 0 -1232px;
}
.bx-flag-16.ge {
	background-position: 0 -1248px;
}
.bx-flag-16.gg {
	background-position: 0 -1264px;
}
.bx-flag-16.gh {
	background-position: 0 -1280px;
}
.bx-flag-16.gi {
	background-position: 0 -1296px;
}
.bx-flag-16.gl {
	background-position: 0 -1312px;
}
.bx-flag-16.gm {
	background-position: 0 -1328px;
}
.bx-flag-16.gn {
	background-position: 0 -1344px;
}
.bx-flag-16.gq {
	background-position: 0 -1360px;
}
.bx-flag-16.gr {
	background-position: 0 -1376px;
}
.bx-flag-16.gs {
	background-position: 0 -1392px;
}
.bx-flag-16.gt {
	background-position: 0 -1408px;
}
.bx-flag-16.gu {
	background-position: 0 -1424px;
}
.bx-flag-16.gw {
	background-position: 0 -1440px;
}
.bx-flag-16.gy {
	background-position: 0 -1456px;
}
.bx-flag-16.hk {
	background-position: 0 -1472px;
}
.bx-flag-16.hn {
	background-position: 0 -1488px;
}
.bx-flag-16.hr {
	background-position: 0 -1504px;
}
.bx-flag-16.ht {
	background-position: 0 -1520px;
}
.bx-flag-16.hu {
	background-position: 0 -1536px;
}
.bx-flag-16.ic {
	background-position: 0 -1552px;
}
.bx-flag-16.id {
	background-position: 0 -1568px;
}
.bx-flag-16.ie {
	background-position: 0 -1584px;
}
.bx-flag-16.il {
	background-position: 0 -1600px;
}
.bx-flag-16.im {
	background-position: 0 -1616px;
}
.bx-flag-16.in {
	background-position: 0 -1632px;
}
.bx-flag-16.iq {
	background-position: 0 -1648px;
}
.bx-flag-16.ir {
	background-position: 0 -1664px;
}
.bx-flag-16.is {
	background-position: 0 -1680px;
}
.bx-flag-16.it {
	background-position: 0 -1696px;
}
.bx-flag-16.je {
	background-position: 0 -1712px;
}
.bx-flag-16.jm {
	background-position: 0 -1728px;
}
.bx-flag-16.jo {
	background-position: 0 -1744px;
}
.bx-flag-16.jp {
	background-position: 0 -1760px;
}
.bx-flag-16.ke {
	background-position: 0 -1776px;
}
.bx-flag-16.kg {
	background-position: 0 -1792px;
}
.bx-flag-16.kh {
	background-position: 0 -1808px;
}
.bx-flag-16.ki {
	background-position: 0 -1824px;
}
.bx-flag-16.km {
	background-position: 0 -1840px;
}
.bx-flag-16.kn {
	background-position: 0 -1856px;
}
.bx-flag-16.kp {
	background-position: 0 -1872px;
}
.bx-flag-16.kr {
	background-position: 0 -1888px;
}
.bx-flag-16.kw {
	background-position: 0 -1904px;
}
.bx-flag-16.ky {
	background-position: 0 -1920px;
}
.bx-flag-16.kz {
	background-position: 0 -1936px;
}
.bx-flag-16.la {
	background-position: 0 -1952px;
}
.bx-flag-16.lb {
	background-position: 0 -1968px;
}
.bx-flag-16.lc {
	background-position: 0 -1984px;
}
.bx-flag-16.li {
	background-position: 0 -2000px;
}
.bx-flag-16.lk {
	background-position: 0 -2016px;
}
.bx-flag-16.lr {
	background-position: 0 -2032px;
}
.bx-flag-16.ls {
	background-position: 0 -2048px;
}
.bx-flag-16.lt {
	background-position: 0 -2064px;
}
.bx-flag-16.lu {
	background-position: 0 -2080px;
}
.bx-flag-16.lv {
	background-position: 0 -2096px;
}
.bx-flag-16.ly {
	background-position: 0 -2112px;
}
.bx-flag-16.ma {
	background-position: 0 -2128px;
}
.bx-flag-16.mc {
	background-position: 0 -2144px;
}
.bx-flag-16.md {
	background-position: 0 -2160px;
}
.bx-flag-16.me {
	background-position: 0 -2176px;
}
.bx-flag-16.mf {
	background-position: 0 -2192px;
}
.bx-flag-16.mg {
	background-position: 0 -2208px;
}
.bx-flag-16.mh {
	background-position: 0 -2224px;
}
.bx-flag-16.mk {
	background-position: 0 -2240px;
}
.bx-flag-16.ml {
	background-position: 0 -2256px;
}
.bx-flag-16.mm {
	background-position: 0 -2272px;
}
.bx-flag-16.mn {
	background-position: 0 -2288px;
}
.bx-flag-16.mo {
	background-position: 0 -2304px;
}
.bx-flag-16.mp {
	background-position: 0 -2320px;
}
.bx-flag-16.mq {
	background-position: 0 -2336px;
}
.bx-flag-16.mr {
	background-position: 0 -2352px;
}
.bx-flag-16.ms {
	background-position: 0 -2368px;
}
.bx-flag-16.mt {
	background-position: 0 -2384px;
}
.bx-flag-16.mu {
	background-position: 0 -2400px;
}
.bx-flag-16.mv {
	background-position: 0 -2416px;
}
.bx-flag-16.mw {
	background-position: 0 -2432px;
}
.bx-flag-16.mx {
	background-position: 0 -2448px;
}
.bx-flag-16.my {
	background-position: 0 -2464px;
}
.bx-flag-16.mz {
	background-position: 0 -2480px;
}
.bx-flag-16.na {
	background-position: 0 -2496px;
}
.bx-flag-16.nc {
	background-position: 0 -2512px;
}
.bx-flag-16.ne {
	background-position: 0 -2528px;
}
.bx-flag-16.nf {
	background-position: 0 -2544px;
}
.bx-flag-16.ng {
	background-position: 0 -2560px;
}
.bx-flag-16.ni {
	background-position: 0 -2576px;
}
.bx-flag-16.nl {
	background-position: 0 -2592px;
}
.bx-flag-16.no {
	background-position: 0 -2608px;
}
.bx-flag-16.np {
	background-position: 0 -2624px;
}
.bx-flag-16.nr {
	background-position: 0 -2640px;
}
.bx-flag-16.nu {
	background-position: 0 -2656px;
}
.bx-flag-16.nz {
	background-position: 0 -2672px;
}
.bx-flag-16.om {
	background-position: 0 -2688px;
}
.bx-flag-16.pa {
	background-position: 0 -2704px;
}
.bx-flag-16.pe {
	background-position: 0 -2720px;
}
.bx-flag-16.pf {
	background-position: 0 -2736px;
}
.bx-flag-16.pg {
	background-position: 0 -2752px;
}
.bx-flag-16.ph {
	background-position: 0 -2768px;
}
.bx-flag-16.pk {
	background-position: 0 -2784px;
}
.bx-flag-16.pl {
	background-position: 0 -2800px;
}
.bx-flag-16.pn {
	background-position: 0 -2816px;
}
.bx-flag-16.pr {
	background-position: 0 -2832px;
}
.bx-flag-16.ps {
	background-position: 0 -2848px;
}
.bx-flag-16.pt {
	background-position: 0 -2864px;
}
.bx-flag-16.pw {
	background-position: 0 -2880px;
}
.bx-flag-16.py {
	background-position: 0 -2896px;
}
.bx-flag-16.qa {
	background-position: 0 -2912px;
}
.bx-flag-16.ro {
	background-position: 0 -2928px;
}
.bx-flag-16.rs {
	background-position: 0 -2944px;
}
.bx-flag-16.ru {
	background-position: 0 -2960px;
}
.bx-flag-16.rw {
	background-position: 0 -2976px;
}
.bx-flag-16.sa {
	background-position: 0 -2992px;
}
.bx-flag-16.sb {
	background-position: 0 -3008px;
}
.bx-flag-16.sc {
	background-position: 0 -3024px;
}
.bx-flag-16.sd {
	background-position: 0 -3040px;
}
.bx-flag-16.se {
	background-position: 0 -3056px;
}
.bx-flag-16.sg {
	background-position: 0 -3072px;
}
.bx-flag-16.sh {
	background-position: 0 -3088px;
}
.bx-flag-16.si {
	background-position: 0 -3104px;
}
.bx-flag-16.sk {
	background-position: 0 -3120px;
}
.bx-flag-16.sl {
	background-position: 0 -3136px;
}
.bx-flag-16.sm {
	background-position: 0 -3152px;
}
.bx-flag-16.sn {
	background-position: 0 -3168px;
}
.bx-flag-16.so {
	background-position: 0 -3184px;
}
.bx-flag-16.sr {
	background-position: 0 -3200px;
}
.bx-flag-16.ss {
	background-position: 0 -3216px;
}
.bx-flag-16.st {
	background-position: 0 -3232px;
}
.bx-flag-16.sv {
	background-position: 0 -3248px;
}
.bx-flag-16.sy {
	background-position: 0 -3264px;
}
.bx-flag-16.sz {
	background-position: 0 -3280px;
}
.bx-flag-16.tc {
	background-position: 0 -3296px;
}
.bx-flag-16.td {
	background-position: 0 -3312px;
}
.bx-flag-16.tf {
	background-position: 0 -3328px;
}
.bx-flag-16.tg {
	background-position: 0 -3344px;
}
.bx-flag-16.th {
	background-position: 0 -3360px;
}
.bx-flag-16.tj {
	background-position: 0 -3376px;
}
.bx-flag-16.tk {
	background-position: 0 -3392px;
}
.bx-flag-16.tl {
	background-position: 0 -3408px;
}
.bx-flag-16.tm {
	background-position: 0 -3424px;
}
.bx-flag-16.tn {
	background-position: 0 -3440px;
}
.bx-flag-16.to {
	background-position: 0 -3456px;
}
.bx-flag-16.tr {
	background-position: 0 -3472px;
}
.bx-flag-16.tt {
	background-position: 0 -3488px;
}
.bx-flag-16.tv {
	background-position: 0 -3504px;
}
.bx-flag-16.tw {
	background-position: 0 -3520px;
}
.bx-flag-16.tz {
	background-position: 0 -3536px;
}
.bx-flag-16.ua {
	background-position: 0 -3552px;
}
.bx-flag-16.ug {
	background-position: 0 -3568px;
}
.bx-flag-16.us {
	background-position: 0 -3584px;
}
.bx-flag-16.uy {
	background-position: 0 -3600px;
}
.bx-flag-16.uz {
	background-position: 0 -3616px;
}
.bx-flag-16.va {
	background-position: 0 -3632px;
}
.bx-flag-16.vc {
	background-position: 0 -3648px;
}
.bx-flag-16.ve {
	background-position: 0 -3664px;
}
.bx-flag-16.vg {
	background-position: 0 -3680px;
}
.bx-flag-16.vi {
	background-position: 0 -3696px;
}
.bx-flag-16.vn {
	background-position: 0 -3712px;
}
.bx-flag-16.vu {
	background-position: 0 -3728px;
}
.bx-flag-16.wf {
	background-position: 0 -3744px;
}
.bx-flag-16.ws {
	background-position: 0 -3760px;
}
.bx-flag-16.ye {
	background-position: 0 -3776px;
}
.bx-flag-16.yt {
	background-position: 0 -3792px;
}
.bx-flag-16.za {
	background-position: 0 -3808px;
}
.bx-flag-16.zm {
	background-position: 0 -3824px;
}
.bx-flag-16.zw {
	background-position: 0 -3840px;
}
.bx-flag-16._abkhazia {
	background-position: 0 -3856px;
}
.bx-flag-16._basque-country {
	background-position: 0 -3872px;
}
.bx-flag-16._british-antarctic-territory {
	background-position: 0 -3888px;
}
.bx-flag-16._commonwealth {
	background-position: 0 -3904px;
}
.bx-flag-16._england {
	background-position: 0 -3920px;
}
.bx-flag-16._gosquared {
	background-position: 0 -3936px;
}
.bx-flag-16._kosovo {
	background-position: 0 -3952px;
}
.bx-flag-16._mars {
	background-position: 0 -3968px;
}
.bx-flag-16._nagorno-karabakh {
	background-position: 0 -3984px;
}
.bx-flag-16._nato {
	background-position: 0 -4000px;
}
.bx-flag-16._northern-cyprus {
	background-position: 0 -4016px;
}
.bx-flag-16._olympics {
	background-position: 0 -4032px;
}
.bx-flag-16._red-cross {
	background-position: 0 -4048px;
}
.bx-flag-16._scotland {
	background-position: 0 -4064px;
}
.bx-flag-16._somaliland {
	background-position: 0 -4080px;
}
.bx-flag-16._south-ossetia {
	background-position: 0 -4096px;
}
.bx-flag-16._united-nations {
	background-position: 0 -4112px;
}
.bx-flag-16._unknown {
	background-position: 0 -4128px;
}
.bx-flag-16._wales {
	background-position: 0 -4144px;
}
/**************** 24x24 *************/
.bx-flag-24.ad {
	background-position: 0 0;
}
.bx-flag-24.ae {
	background-position: 0 -24px;
}
.bx-flag-24.af {
	background-position: 0 -48px;
}
.bx-flag-24.ag {
	background-position: 0 -72px;
}
.bx-flag-24.ai {
	background-position: 0 -96px;
}
.bx-flag-24.al {
	background-position: 0 -120px;
}
.bx-flag-24.am {
	background-position: 0 -144px;
}
.bx-flag-24.an {
	background-position: 0 -168px;
}
.bx-flag-24.ao {
	background-position: 0 -192px;
}
.bx-flag-24.aq {
	background-position: 0 -216px;
}
.bx-flag-24.ar {
	background-position: 0 -240px;
}
.bx-flag-24.as {
	background-position: 0 -264px;
}
.bx-flag-24.at {
	background-position: 0 -288px;
}
.bx-flag-24.au {
	background-position: 0 -312px;
}
.bx-flag-24.aw {
	background-position: 0 -336px;
}
.bx-flag-24.ax {
	background-position: 0 -360px;
}
.bx-flag-24.az {
	background-position: 0 -384px;
}
.bx-flag-24.ba {
	background-position: 0 -408px;
}
.bx-flag-24.bb {
	background-position: 0 -432px;
}
.bx-flag-24.bd {
	background-position: 0 -456px;
}
.bx-flag-24.be {
	background-position: 0 -480px;
}
.bx-flag-24.bf {
	background-position: 0 -504px;
}
.bx-flag-24.bg {
	background-position: 0 -528px;
}
.bx-flag-24.bh {
	background-position: 0 -552px;
}
.bx-flag-24.bi {
	background-position: 0 -576px;
}
.bx-flag-24.bj {
	background-position: 0 -600px;
}
.bx-flag-24.bl {
	background-position: 0 -624px;
}
.bx-flag-24.bm {
	background-position: 0 -648px;
}
.bx-flag-24.bn {
	background-position: 0 -672px;
}
.bx-flag-24.bo {
	background-position: 0 -696px;
}
.bx-flag-24.br {
	background-position: 0 -720px;
}
.bx-flag-24.bs {
	background-position: 0 -744px;
}
.bx-flag-24.bt {
	background-position: 0 -768px;
}
.bx-flag-24.bw {
	background-position: 0 -792px;
}
.bx-flag-24.by {
	background-position: 0 -816px;
}
.bx-flag-24.bz {
	background-position: 0 -840px;
}
.bx-flag-24.ca {
	background-position: 0 -864px;
}
.bx-flag-24.cc {
	background-position: 0 -888px;
}
.bx-flag-24.cd {
	background-position: 0 -912px;
}
.bx-flag-24.cf {
	background-position: 0 -936px;
}
.bx-flag-24.cg {
	background-position: 0 -960px;
}
.bx-flag-24.ch {
	background-position: 0 -984px;
}
.bx-flag-24.ci {
	background-position: 0 -1008px;
}
.bx-flag-24.ck {
	background-position: 0 -1032px;
}
.bx-flag-24.cl {
	background-position: 0 -1056px;
}
.bx-flag-24.cm {
	background-position: 0 -1080px;
}
.bx-flag-24.cn {
	background-position: 0 -1104px;
}
.bx-flag-24.co {
	background-position: 0 -1128px;
}
.bx-flag-24.cr {
	background-position: 0 -1152px;
}
.bx-flag-24.cu {
	background-position: 0 -1176px;
}
.bx-flag-24.cv {
	background-position: 0 -1200px;
}
.bx-flag-24.cw {
	background-position: 0 -1224px;
}
.bx-flag-24.cx {
	background-position: 0 -1248px;
}
.bx-flag-24.cy {
	background-position: 0 -1272px;
}
.bx-flag-24.cz {
	background-position: 0 -1296px;
}
.bx-flag-24.de {
	background-position: 0 -1320px;
}
.bx-flag-24.dj {
	background-position: 0 -1344px;
}
.bx-flag-24.dk {
	background-position: 0 -1368px;
}
.bx-flag-24.dm {
	background-position: 0 -1392px;
}
.bx-flag-24.do {
	background-position: 0 -1416px;
}
.bx-flag-24.dz {
	background-position: 0 -1440px;
}
.bx-flag-24.ec {
	background-position: 0 -1464px;
}
.bx-flag-24.ee {
	background-position: 0 -1488px;
}
.bx-flag-24.eg {
	background-position: 0 -1512px;
}
.bx-flag-24.eh {
	background-position: 0 -1536px;
}
.bx-flag-24.er {
	background-position: 0 -1560px;
}
.bx-flag-24.es {
	background-position: 0 -1584px;
}
.bx-flag-24.et {
	background-position: 0 -1608px;
}
.bx-flag-24.eu {
	background-position: 0 -1632px;
}
.bx-flag-24.fi {
	background-position: 0 -1656px;
}
.bx-flag-24.fj {
	background-position: 0 -1680px;
}
.bx-flag-24.fk {
	background-position: 0 -1704px;
}
.bx-flag-24.fm {
	background-position: 0 -1728px;
}
.bx-flag-24.fo {
	background-position: 0 -1752px;
}
.bx-flag-24.fr {
	background-position: 0 -1776px;
}
.bx-flag-24.ga {
	background-position: 0 -1800px;
}
.bx-flag-24.gb {
	background-position: 0 -1824px;
}
.bx-flag-24.gd {
	background-position: 0 -1848px;
}
.bx-flag-24.ge {
	background-position: 0 -1872px;
}
.bx-flag-24.gg {
	background-position: 0 -1896px;
}
.bx-flag-24.gh {
	background-position: 0 -1920px;
}
.bx-flag-24.gi {
	background-position: 0 -1944px;
}
.bx-flag-24.gl {
	background-position: 0 -1968px;
}
.bx-flag-24.gm {
	background-position: 0 -1992px;
}
.bx-flag-24.gn {
	background-position: 0 -2016px;
}
.bx-flag-24.gq {
	background-position: 0 -2040px;
}
.bx-flag-24.gr {
	background-position: 0 -2064px;
}
.bx-flag-24.gs {
	background-position: 0 -2088px;
}
.bx-flag-24.gt {
	background-position: 0 -2112px;
}
.bx-flag-24.gu {
	background-position: 0 -2136px;
}
.bx-flag-24.gw {
	background-position: 0 -2160px;
}
.bx-flag-24.gy {
	background-position: 0 -2184px;
}
.bx-flag-24.hk {
	background-position: 0 -2208px;
}
.bx-flag-24.hn {
	background-position: 0 -2232px;
}
.bx-flag-24.hr {
	background-position: 0 -2256px;
}
.bx-flag-24.ht {
	background-position: 0 -2280px;
}
.bx-flag-24.hu {
	background-position: 0 -2304px;
}
.bx-flag-24.ic {
	background-position: 0 -2328px;
}
.bx-flag-24.id {
	background-position: 0 -2352px;
}
.bx-flag-24.ie {
	background-position: 0 -2376px;
}
.bx-flag-24.il {
	background-position: 0 -2400px;
}
.bx-flag-24.im {
	background-position: 0 -2424px;
}
.bx-flag-24.in {
	background-position: 0 -2448px;
}
.bx-flag-24.iq {
	background-position: 0 -2472px;
}
.bx-flag-24.ir {
	background-position: 0 -2496px;
}
.bx-flag-24.is {
	background-position: 0 -2520px;
}
.bx-flag-24.it {
	background-position: 0 -2544px;
}
.bx-flag-24.je {
	background-position: 0 -2568px;
}
.bx-flag-24.jm {
	background-position: 0 -2592px;
}
.bx-flag-24.jo {
	background-position: 0 -2616px;
}
.bx-flag-24.jp {
	background-position: 0 -2640px;
}
.bx-flag-24.ke {
	background-position: 0 -2664px;
}
.bx-flag-24.kg {
	background-position: 0 -2688px;
}
.bx-flag-24.kh {
	background-position: 0 -2712px;
}
.bx-flag-24.ki {
	background-position: 0 -2736px;
}
.bx-flag-24.km {
	background-position: 0 -2760px;
}
.bx-flag-24.kn {
	background-position: 0 -2784px;
}
.bx-flag-24.kp {
	background-position: 0 -2808px;
}
.bx-flag-24.kr {
	background-position: 0 -2832px;
}
.bx-flag-24.kw {
	background-position: 0 -2856px;
}
.bx-flag-24.ky {
	background-position: 0 -2880px;
}
.bx-flag-24.kz {
	background-position: 0 -2904px;
}
.bx-flag-24.la {
	background-position: 0 -2928px;
}
.bx-flag-24.lb {
	background-position: 0 -2952px;
}
.bx-flag-24.lc {
	background-position: 0 -2976px;
}
.bx-flag-24.li {
	background-position: 0 -3000px;
}
.bx-flag-24.lk {
	background-position: 0 -3024px;
}
.bx-flag-24.lr {
	background-position: 0 -3048px;
}
.bx-flag-24.ls {
	background-position: 0 -3072px;
}
.bx-flag-24.lt {
	background-position: 0 -3096px;
}
.bx-flag-24.lu {
	background-position: 0 -3120px;
}
.bx-flag-24.lv {
	background-position: 0 -3144px;
}
.bx-flag-24.ly {
	background-position: 0 -3168px;
}
.bx-flag-24.ma {
	background-position: 0 -3192px;
}
.bx-flag-24.mc {
	background-position: 0 -3216px;
}
.bx-flag-24.md {
	background-position: 0 -3240px;
}
.bx-flag-24.me {
	background-position: 0 -3264px;
}
.bx-flag-24.mf {
	background-position: 0 -3288px;
}
.bx-flag-24.mg {
	background-position: 0 -3312px;
}
.bx-flag-24.mh {
	background-position: 0 -3336px;
}
.bx-flag-24.mk {
	background-position: 0 -3360px;
}
.bx-flag-24.ml {
	background-position: 0 -3384px;
}
.bx-flag-24.mm {
	background-position: 0 -3408px;
}
.bx-flag-24.mn {
	background-position: 0 -3432px;
}
.bx-flag-24.mo {
	background-position: 0 -3456px;
}
.bx-flag-24.mp {
	background-position: 0 -3480px;
}
.bx-flag-24.mq {
	background-position: 0 -3504px;
}
.bx-flag-24.mr {
	background-position: 0 -3528px;
}
.bx-flag-24.ms {
	background-position: 0 -3552px;
}
.bx-flag-24.mt {
	background-position: 0 -3576px;
}
.bx-flag-24.mu {
	background-position: 0 -3600px;
}
.bx-flag-24.mv {
	background-position: 0 -3624px;
}
.bx-flag-24.mw {
	background-position: 0 -3648px;
}
.bx-flag-24.mx {
	background-position: 0 -3672px;
}
.bx-flag-24.my {
	background-position: 0 -3696px;
}
.bx-flag-24.mz {
	background-position: 0 -3720px;
}
.bx-flag-24.na {
	background-position: 0 -3744px;
}
.bx-flag-24.nc {
	background-position: 0 -3768px;
}
.bx-flag-24.ne {
	background-position: 0 -3792px;
}
.bx-flag-24.nf {
	background-position: 0 -3816px;
}
.bx-flag-24.ng {
	background-position: 0 -3840px;
}
.bx-flag-24.ni {
	background-position: 0 -3864px;
}
.bx-flag-24.nl {
	background-position: 0 -3888px;
}
.bx-flag-24.no {
	background-position: 0 -3912px;
}
.bx-flag-24.np {
	background-position: 0 -3936px;
}
.bx-flag-24.nr {
	background-position: 0 -3960px;
}
.bx-flag-24.nu {
	background-position: 0 -3984px;
}
.bx-flag-24.nz {
	background-position: 0 -4008px;
}
.bx-flag-24.om {
	background-position: 0 -4032px;
}
.bx-flag-24.pa {
	background-position: 0 -4056px;
}
.bx-flag-24.pe {
	background-position: 0 -4080px;
}
.bx-flag-24.pf {
	background-position: 0 -4104px;
}
.bx-flag-24.pg {
	background-position: 0 -4128px;
}
.bx-flag-24.ph {
	background-position: 0 -4152px;
}
.bx-flag-24.pk {
	background-position: 0 -4176px;
}
.bx-flag-24.pl {
	background-position: 0 -4200px;
}
.bx-flag-24.pn {
	background-position: 0 -4224px;
}
.bx-flag-24.pr {
	background-position: 0 -4248px;
}
.bx-flag-24.ps {
	background-position: 0 -4272px;
}
.bx-flag-24.pt {
	background-position: 0 -4296px;
}
.bx-flag-24.pw {
	background-position: 0 -4320px;
}
.bx-flag-24.py {
	background-position: 0 -4344px;
}
.bx-flag-24.qa {
	background-position: 0 -4368px;
}
.bx-flag-24.ro {
	background-position: 0 -4392px;
}
.bx-flag-24.rs {
	background-position: 0 -4416px;
}
.bx-flag-24.ru {
	background-position: 0 -4440px;
}
.bx-flag-24.rw {
	background-position: 0 -4464px;
}
.bx-flag-24.sa {
	background-position: 0 -4488px;
}
.bx-flag-24.sb {
	background-position: 0 -4512px;
}
.bx-flag-24.sc {
	background-position: 0 -4536px;
}
.bx-flag-24.sd {
	background-position: 0 -4560px;
}
.bx-flag-24.se {
	background-position: 0 -4584px;
}
.bx-flag-24.sg {
	background-position: 0 -4608px;
}
.bx-flag-24.sh {
	background-position: 0 -4632px;
}
.bx-flag-24.si {
	background-position: 0 -4656px;
}
.bx-flag-24.sk {
	background-position: 0 -4680px;
}
.bx-flag-24.sl {
	background-position: 0 -4704px;
}
.bx-flag-24.sm {
	background-position: 0 -4728px;
}
.bx-flag-24.sn {
	background-position: 0 -4752px;
}
.bx-flag-24.so {
	background-position: 0 -4776px;
}
.bx-flag-24.sr {
	background-position: 0 -4800px;
}
.bx-flag-24.ss {
	background-position: 0 -4824px;
}
.bx-flag-24.st {
	background-position: 0 -4848px;
}
.bx-flag-24.sv {
	background-position: 0 -4872px;
}
.bx-flag-24.sy {
	background-position: 0 -4896px;
}
.bx-flag-24.sz {
	background-position: 0 -4920px;
}
.bx-flag-24.tc {
	background-position: 0 -4944px;
}
.bx-flag-24.td {
	background-position: 0 -4968px;
}
.bx-flag-24.tf {
	background-position: 0 -4992px;
}
.bx-flag-24.tg {
	background-position: 0 -5016px;
}
.bx-flag-24.th {
	background-position: 0 -5040px;
}
.bx-flag-24.tj {
	background-position: 0 -5064px;
}
.bx-flag-24.tk {
	background-position: 0 -5088px;
}
.bx-flag-24.tl {
	background-position: 0 -5112px;
}
.bx-flag-24.tm {
	background-position: 0 -5136px;
}
.bx-flag-24.tn {
	background-position: 0 -5160px;
}
.bx-flag-24.to {
	background-position: 0 -5184px;
}
.bx-flag-24.tr {
	background-position: 0 -5208px;
}
.bx-flag-24.tt {
	background-position: 0 -5232px;
}
.bx-flag-24.tv {
	background-position: 0 -5256px;
}
.bx-flag-24.tw {
	background-position: 0 -5280px;
}
.bx-flag-24.tz {
	background-position: 0 -5304px;
}
.bx-flag-24.ua {
	background-position: 0 -5328px;
}
.bx-flag-24.ug {
	background-position: 0 -5352px;
}
.bx-flag-24.us {
	background-position: 0 -5376px;
}
.bx-flag-24.uy {
	background-position: 0 -5400px;
}
.bx-flag-24.uz {
	background-position: 0 -5424px;
}
.bx-flag-24.va {
	background-position: 0 -5448px;
}
.bx-flag-24.vc {
	background-position: 0 -5472px;
}
.bx-flag-24.ve {
	background-position: 0 -5496px;
}
.bx-flag-24.vg {
	background-position: 0 -5520px;
}
.bx-flag-24.vi {
	background-position: 0 -5544px;
}
.bx-flag-24.vn {
	background-position: 0 -5568px;
}
.bx-flag-24.vu {
	background-position: 0 -5592px;
}
.bx-flag-24.wf {
	background-position: 0 -5616px;
}
.bx-flag-24.ws {
	background-position: 0 -5640px;
}
.bx-flag-24.ye {
	background-position: 0 -5664px;
}
.bx-flag-24.yt {
	background-position: 0 -5688px;
}
.bx-flag-24.za {
	background-position: 0 -5712px;
}
.bx-flag-24.zm {
	background-position: 0 -5736px;
}
.bx-flag-24.zw {
	background-position: 0 -5760px;
}
.bx-flag-24._abkhazia {
	background-position: 0 -5784px;
}
.bx-flag-24._basque-country {
	background-position: 0 -5808px;
}
.bx-flag-24._british-antarctic-territory {
	background-position: 0 -5832px;
}
.bx-flag-24._commonwealth {
	background-position: 0 -5856px;
}
.bx-flag-24._england {
	background-position: 0 -5880px;
}
.bx-flag-24._gosquared {
	background-position: 0 -5904px;
}
.bx-flag-24._kosovo {
	background-position: 0 -5928px;
}
.bx-flag-24._mars {
	background-position: 0 -5952px;
}
.bx-flag-24._nagorno-karabakh {
	background-position: 0 -5976px;
}
.bx-flag-24._nato {
	background-position: 0 -6000px;
}
.bx-flag-24._northern-cyprus {
	background-position: 0 -6024px;
}
.bx-flag-24._olympics {
	background-position: 0 -6048px;
}
.bx-flag-24._red-cross {
	background-position: 0 -6072px;
}
.bx-flag-24._scotland {
	background-position: 0 -6096px;
}
.bx-flag-24._somaliland {
	background-position: 0 -6120px;
}
.bx-flag-24._south-ossetia {
	background-position: 0 -6144px;
}
.bx-flag-24._united-nations {
	background-position: 0 -6168px;
}
.bx-flag-24._unknown {
	background-position: 0 -6192px;
}
.bx-flag-24._wales {
	background-position: 0 -6216px;
}

/**************** 32x32 *************/
.bx-flag-32.ad {
	background-position: 0 0;
}
.bx-flag-32.ae {
	background-position: 0 -32px;
}
.bx-flag-32.af {
	background-position: 0 -64px;
}
.bx-flag-32.ag {
	background-position: 0 -96px;
}
.bx-flag-32.ai {
	background-position: 0 -128px;
}
.bx-flag-32.al {
	background-position: 0 -160px;
}
.bx-flag-32.am {
	background-position: 0 -192px;
}
.bx-flag-32.an {
	background-position: 0 -224px;
}
.bx-flag-32.ao {
	background-position: 0 -256px;
}
.bx-flag-32.aq {
	background-position: 0 -288px;
}
.bx-flag-32.ar {
	background-position: 0 -320px;
}
.bx-flag-32.as {
	background-position: 0 -352px;
}
.bx-flag-32.at {
	background-position: 0 -384px;
}
.bx-flag-32.au {
	background-position: 0 -416px;
}
.bx-flag-32.aw {
	background-position: 0 -448px;
}
.bx-flag-32.ax {
	background-position: 0 -480px;
}
.bx-flag-32.az {
	background-position: 0 -512px;
}
.bx-flag-32.ba {
	background-position: 0 -544px;
}
.bx-flag-32.bb {
	background-position: 0 -576px;
}
.bx-flag-32.bd {
	background-position: 0 -608px;
}
.bx-flag-32.be {
	background-position: 0 -640px;
}
.bx-flag-32.bf {
	background-position: 0 -672px;
}
.bx-flag-32.bg {
	background-position: 0 -704px;
}
.bx-flag-32.bh {
	background-position: 0 -736px;
}
.bx-flag-32.bi {
	background-position: 0 -768px;
}
.bx-flag-32.bj {
	background-position: 0 -800px;
}
.bx-flag-32.bl {
	background-position: 0 -832px;
}
.bx-flag-32.bm {
	background-position: 0 -864px;
}
.bx-flag-32.bn {
	background-position: 0 -896px;
}
.bx-flag-32.bo {
	background-position: 0 -928px;
}
.bx-flag-32.br {
	background-position: 0 -960px;
}
.bx-flag-32.bs {
	background-position: 0 -992px;
}
.bx-flag-32.bt {
	background-position: 0 -1024px;
}
.bx-flag-32.bw {
	background-position: 0 -1056px;
}
.bx-flag-32.by {
	background-position: 0 -1088px;
}
.bx-flag-32.bz {
	background-position: 0 -1120px;
}
.bx-flag-32.ca {
	background-position: 0 -1152px;
}
.bx-flag-32.cc {
	background-position: 0 -1184px;
}
.bx-flag-32.cd {
	background-position: 0 -1216px;
}
.bx-flag-32.cf {
	background-position: 0 -1248px;
}
.bx-flag-32.cg {
	background-position: 0 -1280px;
}
.bx-flag-32.ch {
	background-position: 0 -1312px;
}
.bx-flag-32.ci {
	background-position: 0 -1344px;
}
.bx-flag-32.ck {
	background-position: 0 -1376px;
}
.bx-flag-32.cl {
	background-position: 0 -1408px;
}
.bx-flag-32.cm {
	background-position: 0 -1440px;
}
.bx-flag-32.cn {
	background-position: 0 -1472px;
}
.bx-flag-32.co {
	background-position: 0 -1504px;
}
.bx-flag-32.cr {
	background-position: 0 -1536px;
}
.bx-flag-32.cu {
	background-position: 0 -1568px;
}
.bx-flag-32.cv {
	background-position: 0 -1600px;
}
.bx-flag-32.cw {
	background-position: 0 -1632px;
}
.bx-flag-32.cx {
	background-position: 0 -1664px;
}
.bx-flag-32.cy {
	background-position: 0 -1696px;
}
.bx-flag-32.cz {
	background-position: 0 -1728px;
}
.bx-flag-32.de {
	background-position: 0 -1760px;
}
.bx-flag-32.dj {
	background-position: 0 -1792px;
}
.bx-flag-32.dk {
	background-position: 0 -1824px;
}
.bx-flag-32.dm {
	background-position: 0 -1856px;
}
.bx-flag-32.do {
	background-position: 0 -1888px;
}
.bx-flag-32.dz {
	background-position: 0 -1920px;
}
.bx-flag-32.ec {
	background-position: 0 -1952px;
}
.bx-flag-32.ee {
	background-position: 0 -1984px;
}
.bx-flag-32.eg {
	background-position: 0 -2016px;
}
.bx-flag-32.eh {
	background-position: 0 -2048px;
}
.bx-flag-32.er {
	background-position: 0 -2080px;
}
.bx-flag-32.es {
	background-position: 0 -2112px;
}
.bx-flag-32.et {
	background-position: 0 -2144px;
}
.bx-flag-32.eu {
	background-position: 0 -2176px;
}
.bx-flag-32.fi {
	background-position: 0 -2208px;
}
.bx-flag-32.fj {
	background-position: 0 -2240px;
}
.bx-flag-32.fk {
	background-position: 0 -2272px;
}
.bx-flag-32.fm {
	background-position: 0 -2304px;
}
.bx-flag-32.fo {
	background-position: 0 -2336px;
}
.bx-flag-32.fr {
	background-position: 0 -2368px;
}
.bx-flag-32.ga {
	background-position: 0 -2400px;
}
.bx-flag-32.gb {
	background-position: 0 -2432px;
}
.bx-flag-32.gd {
	background-position: 0 -2464px;
}
.bx-flag-32.ge {
	background-position: 0 -2496px;
}
.bx-flag-32.gg {
	background-position: 0 -2528px;
}
.bx-flag-32.gh {
	background-position: 0 -2560px;
}
.bx-flag-32.gi {
	background-position: 0 -2592px;
}
.bx-flag-32.gl {
	background-position: 0 -2624px;
}
.bx-flag-32.gm {
	background-position: 0 -2656px;
}
.bx-flag-32.gn {
	background-position: 0 -2688px;
}
.bx-flag-32.gq {
	background-position: 0 -2720px;
}
.bx-flag-32.gr {
	background-position: 0 -2752px;
}
.bx-flag-32.gs {
	background-position: 0 -2784px;
}
.bx-flag-32.gt {
	background-position: 0 -2816px;
}
.bx-flag-32.gu {
	background-position: 0 -2848px;
}
.bx-flag-32.gw {
	background-position: 0 -2880px;
}
.bx-flag-32.gy {
	background-position: 0 -2912px;
}
.bx-flag-32.hk {
	background-position: 0 -2944px;
}
.bx-flag-32.hn {
	background-position: 0 -2976px;
}
.bx-flag-32.hr {
	background-position: 0 -3008px;
}
.bx-flag-32.ht {
	background-position: 0 -3040px;
}
.bx-flag-32.hu {
	background-position: 0 -3072px;
}
.bx-flag-32.ic {
	background-position: 0 -3104px;
}
.bx-flag-32.id {
	background-position: 0 -3136px;
}
.bx-flag-32.ie {
	background-position: 0 -3168px;
}
.bx-flag-32.il {
	background-position: 0 -3200px;
}
.bx-flag-32.im {
	background-position: 0 -3232px;
}
.bx-flag-32.in {
	background-position: 0 -3264px;
}
.bx-flag-32.iq {
	background-position: 0 -3296px;
}
.bx-flag-32.ir {
	background-position: 0 -3328px;
}
.bx-flag-32.is {
	background-position: 0 -3360px;
}
.bx-flag-32.it {
	background-position: 0 -3392px;
}
.bx-flag-32.je {
	background-position: 0 -3424px;
}
.bx-flag-32.jm {
	background-position: 0 -3456px;
}
.bx-flag-32.jo {
	background-position: 0 -3488px;
}
.bx-flag-32.jp {
	background-position: 0 -3520px;
}
.bx-flag-32.ke {
	background-position: 0 -3552px;
}
.bx-flag-32.kg {
	background-position: 0 -3584px;
}
.bx-flag-32.kh {
	background-position: 0 -3616px;
}
.bx-flag-32.ki {
	background-position: 0 -3648px;
}
.bx-flag-32.km {
	background-position: 0 -3680px;
}
.bx-flag-32.kn {
	background-position: 0 -3712px;
}
.bx-flag-32.kp {
	background-position: 0 -3744px;
}
.bx-flag-32.kr {
	background-position: 0 -3776px;
}
.bx-flag-32.kw {
	background-position: 0 -3808px;
}
.bx-flag-32.ky {
	background-position: 0 -3840px;
}
.bx-flag-32.kz {
	background-position: 0 -3872px;
}
.bx-flag-32.la {
	background-position: 0 -3904px;
}
.bx-flag-32.lb {
	background-position: 0 -3936px;
}
.bx-flag-32.lc {
	background-position: 0 -3968px;
}
.bx-flag-32.li {
	background-position: 0 -4000px;
}
.bx-flag-32.lk {
	background-position: 0 -4032px;
}
.bx-flag-32.lr {
	background-position: 0 -4064px;
}
.bx-flag-32.ls {
	background-position: 0 -4096px;
}
.bx-flag-32.lt {
	background-position: 0 -4128px;
}
.bx-flag-32.lu {
	background-position: 0 -4160px;
}
.bx-flag-32.lv {
	background-position: 0 -4192px;
}
.bx-flag-32.ly {
	background-position: 0 -4224px;
}
.bx-flag-32.ma {
	background-position: 0 -4256px;
}
.bx-flag-32.mc {
	background-position: 0 -4288px;
}
.bx-flag-32.md {
	background-position: 0 -4320px;
}
.bx-flag-32.me {
	background-position: 0 -4352px;
}
.bx-flag-32.mf {
	background-position: 0 -4384px;
}
.bx-flag-32.mg {
	background-position: 0 -4416px;
}
.bx-flag-32.mh {
	background-position: 0 -4448px;
}
.bx-flag-32.mk {
	background-position: 0 -4480px;
}
.bx-flag-32.ml {
	background-position: 0 -4512px;
}
.bx-flag-32.mm {
	background-position: 0 -4544px;
}
.bx-flag-32.mn {
	background-position: 0 -4576px;
}
.bx-flag-32.mo {
	background-position: 0 -4608px;
}
.bx-flag-32.mp {
	background-position: 0 -4640px;
}
.bx-flag-32.mq {
	background-position: 0 -4672px;
}
.bx-flag-32.mr {
	background-position: 0 -4704px;
}
.bx-flag-32.ms {
	background-position: 0 -4736px;
}
.bx-flag-32.mt {
	background-position: 0 -4768px;
}
.bx-flag-32.mu {
	background-position: 0 -4800px;
}
.bx-flag-32.mv {
	background-position: 0 -4832px;
}
.bx-flag-32.mw {
	background-position: 0 -4864px;
}
.bx-flag-32.mx {
	background-position: 0 -4896px;
}
.bx-flag-32.my {
	background-position: 0 -4928px;
}
.bx-flag-32.mz {
	background-position: 0 -4960px;
}
.bx-flag-32.na {
	background-position: 0 -4992px;
}
.bx-flag-32.nc {
	background-position: 0 -5024px;
}
.bx-flag-32.ne {
	background-position: 0 -5056px;
}
.bx-flag-32.nf {
	background-position: 0 -5088px;
}
.bx-flag-32.ng {
	background-position: 0 -5120px;
}
.bx-flag-32.ni {
	background-position: 0 -5152px;
}
.bx-flag-32.nl {
	background-position: 0 -5184px;
}
.bx-flag-32.no {
	background-position: 0 -5216px;
}
.bx-flag-32.np {
	background-position: 0 -5248px;
}
.bx-flag-32.nr {
	background-position: 0 -5280px;
}
.bx-flag-32.nu {
	background-position: 0 -5312px;
}
.bx-flag-32.nz {
	background-position: 0 -5344px;
}
.bx-flag-32.om {
	background-position: 0 -5376px;
}
.bx-flag-32.pa {
	background-position: 0 -5408px;
}
.bx-flag-32.pe {
	background-position: 0 -5440px;
}
.bx-flag-32.pf {
	background-position: 0 -5472px;
}
.bx-flag-32.pg {
	background-position: 0 -5504px;
}
.bx-flag-32.ph {
	background-position: 0 -5536px;
}
.bx-flag-32.pk {
	background-position: 0 -5568px;
}
.bx-flag-32.pl {
	background-position: 0 -5600px;
}
.bx-flag-32.pn {
	background-position: 0 -5632px;
}
.bx-flag-32.pr {
	background-position: 0 -5664px;
}
.bx-flag-32.ps {
	background-position: 0 -5696px;
}
.bx-flag-32.pt {
	background-position: 0 -5728px;
}
.bx-flag-32.pw {
	background-position: 0 -5760px;
}
.bx-flag-32.py {
	background-position: 0 -5792px;
}
.bx-flag-32.qa {
	background-position: 0 -5824px;
}
.bx-flag-32.ro {
	background-position: 0 -5856px;
}
.bx-flag-32.rs {
	background-position: 0 -5888px;
}
.bx-flag-32.ru {
	background-position: 0 -5920px;
}
.bx-flag-32.rw {
	background-position: 0 -5952px;
}
.bx-flag-32.sa {
	background-position: 0 -5984px;
}
.bx-flag-32.sb {
	background-position: 0 -6016px;
}
.bx-flag-32.sc {
	background-position: 0 -6048px;
}
.bx-flag-32.sd {
	background-position: 0 -6080px;
}
.bx-flag-32.se {
	background-position: 0 -6112px;
}
.bx-flag-32.sg {
	background-position: 0 -6144px;
}
.bx-flag-32.sh {
	background-position: 0 -6176px;
}
.bx-flag-32.si {
	background-position: 0 -6208px;
}
.bx-flag-32.sk {
	background-position: 0 -6240px;
}
.bx-flag-32.sl {
	background-position: 0 -6272px;
}
.bx-flag-32.sm {
	background-position: 0 -6304px;
}
.bx-flag-32.sn {
	background-position: 0 -6336px;
}
.bx-flag-32.so {
	background-position: 0 -6368px;
}
.bx-flag-32.sr {
	background-position: 0 -6400px;
}
.bx-flag-32.ss {
	background-position: 0 -6432px;
}
.bx-flag-32.st {
	background-position: 0 -6464px;
}
.bx-flag-32.sv {
	background-position: 0 -6496px;
}
.bx-flag-32.sy {
	background-position: 0 -6528px;
}
.bx-flag-32.sz {
	background-position: 0 -6560px;
}
.bx-flag-32.tc {
	background-position: 0 -6592px;
}
.bx-flag-32.td {
	background-position: 0 -6624px;
}
.bx-flag-32.tf {
	background-position: 0 -6656px;
}
.bx-flag-32.tg {
	background-position: 0 -6688px;
}
.bx-flag-32.th {
	background-position: 0 -6720px;
}
.bx-flag-32.tj {
	background-position: 0 -6752px;
}
.bx-flag-32.tk {
	background-position: 0 -6784px;
}
.bx-flag-32.tl {
	background-position: 0 -6816px;
}
.bx-flag-32.tm {
	background-position: 0 -6848px;
}
.bx-flag-32.tn {
	background-position: 0 -6880px;
}
.bx-flag-32.to {
	background-position: 0 -6912px;
}
.bx-flag-32.tr {
	background-position: 0 -6944px;
}
.bx-flag-32.tt {
	background-position: 0 -6976px;
}
.bx-flag-32.tv {
	background-position: 0 -7008px;
}
.bx-flag-32.tw {
	background-position: 0 -7040px;
}
.bx-flag-32.tz {
	background-position: 0 -7072px;
}
.bx-flag-32.ua {
	background-position: 0 -7104px;
}
.bx-flag-32.ug {
	background-position: 0 -7136px;
}
.bx-flag-32.us {
	background-position: 0 -7168px;
}
.bx-flag-32.uy {
	background-position: 0 -7200px;
}
.bx-flag-32.uz {
	background-position: 0 -7232px;
}
.bx-flag-32.va {
	background-position: 0 -7264px;
}
.bx-flag-32.vc {
	background-position: 0 -7296px;
}
.bx-flag-32.ve {
	background-position: 0 -7328px;
}
.bx-flag-32.vg {
	background-position: 0 -7360px;
}
.bx-flag-32.vi {
	background-position: 0 -7392px;
}
.bx-flag-32.vn {
	background-position: 0 -7424px;
}
.bx-flag-32.vu {
	background-position: 0 -7456px;
}
.bx-flag-32.wf {
	background-position: 0 -7488px;
}
.bx-flag-32.ws {
	background-position: 0 -7520px;
}
.bx-flag-32.ye {
	background-position: 0 -7552px;
}
.bx-flag-32.yt {
	background-position: 0 -7584px;
}
.bx-flag-32.za {
	background-position: 0 -7616px;
}
.bx-flag-32.zm {
	background-position: 0 -7648px;
}
.bx-flag-32.zw {
	background-position: 0 -7680px;
}
.bx-flag-32._abkhazia {
	background-position: 0 -7712px;
}
.bx-flag-32._basque-country {
	background-position: 0 -7744px;
}
.bx-flag-32._british-antarctic-territory {
	background-position: 0 -7776px;
}
.bx-flag-32._commonwealth {
	background-position: 0 -7808px;
}
.bx-flag-32._england {
	background-position: 0 -7840px;
}
.bx-flag-32._gosquared {
	background-position: 0 -7872px;
}
.bx-flag-32._kosovo {
	background-position: 0 -7904px;
}
.bx-flag-32._mars {
	background-position: 0 -7936px;
}
.bx-flag-32._nagorno-karabakh {
	background-position: 0 -7968px;
}
.bx-flag-32._nato {
	background-position: 0 -8000px;
}
.bx-flag-32._northern-cyprus {
	background-position: 0 -8032px;
}
.bx-flag-32._olympics {
	background-position: 0 -8064px;
}
.bx-flag-32._red-cross {
	background-position: 0 -8096px;
}
.bx-flag-32._scotland {
	background-position: 0 -8128px;
}
.bx-flag-32._somaliland {
	background-position: 0 -8160px;
}
.bx-flag-32._south-ossetia {
	background-position: 0 -8192px;
}
.bx-flag-32._united-nations {
	background-position: 0 -8224px;
}
.bx-flag-32._unknown {
	background-position: 0 -8256px;
}
.bx-flag-32._wales {
	background-position: 0 -8288px;
}