.report-widget-number-diagram-content {
    position: relative;
    height: 100%;
}

.report-widget-number-value {
    position: absolute;
    top: 32px;
    right: 10px;
    color: #fff;
    font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
    text-decoration: none;
    border: none;
}

.report-widget-number-value span,
.report-widget-number-value span:hover {
    color: #fff;
    font-size: 72px;
    line-height: 80px;
    opacity: 1;
}
