.bx-sender-audio {
	width: 100%;
}
.bx-sender-audio .video-js {
	margin-bottom: 10px;
}
.bx-sender-audio-file .file-input {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.bx-sender-audio-file .file-input .webform-field-upload-list.webform-field-upload-list-single{
	flex-basis: 100%;
	margin: 0 0 0 10px;
}
.bx-sender-audio-file .file-input .webform-field-upload-list li {
	margin-bottom: 10px;
}
.bx-sender-audio-file .webform-field-upload-notice{
	margin-left: 10px;
	color: #80868e;
}