/* ======================================================== Webforms ==============================================================*/
.webform { font: normal normal normal 12px/normal Verdana, sans-serif; }

.webform-corners-top, .webform-corners-bottom { height: 4px; position: relative; overflow: hidden; }

.webform-left-corner, .webform-right-corner { width: 4px; height: 16px; overflow: hidden; position: relative; }

.webform-right-corner { position: absolute; top: -4px; right: 0; }

.webform-corners-bottom .webform-left-corner, .webform-corners-bottom .webform-right-corner { margin-top: -8px; }

.webform-content { padding: 7px 20px 15px 16px; }

.webform-main-fields {
	background-color: #f4f0d2;
	margin: 0 0 3px 0;
}

.webform-main-fields .webform-round-corners {
	background-color: #ebe6c2;
}

.webform-main-fields .webform-left-corner, .webform-main-fields .webform-right-corner {
	background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 0;
}

.webform-main-fields .webform-content .webform-left-corner, .webform-main-fields .webform-content .webform-right-corner {
	background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -17px;
}

.webform-main-fields .webform-content .webform-content {
	padding: 5px 10px;
	border-right: 1px solid #e5e1c5;
}

.webform-main-fields .webform-field-round-corners .webform-corners-bottom {
	background: url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -161px;
}

.webform-additional-fields { background-color: #eee; }

.webform-additional-fields .webform-round-corners { background-color: #e5e5e5; }

.webform-additional-fields .webform-left-corner, .webform-additional-fields .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -34px; }

.webform-additional-fields .webform-content .webform-left-corner, .webform-additional-fields .webform-content .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -5px 0; }

.webform-additional-fields-content { margin: 15px 0 0 0; }

.webform-additional-fields .webform-content .webform-content { padding: 7px 10px; border-right: 1px solid #dfdfdf; }

.webform-additional-fields .webform-field-round-corners .webform-corners-bottom { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -165px; }

.webform-main-block { background-color: #f8f6e4; }

.webform-main-block .webform-content { border-left: 1px solid #e8e6d6; border-right: 1px solid #e8e6d6; padding: 14px 20px 11px 15px; }

.webform-main-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -386px; }

.webform-main-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -383px; }

.webform-main-block .webform-left-corner, .webform-main-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -5px -17px; }

.webform-main-content { overflow: hidden; }

.webform-main-title { white-space: nowrap; float: left; margin-right: 0.5em; color: #4c431f; }

.webform-main-text { overflow: hidden; color: #000; }

.webform-main-block-topless .webform-corners-top, .webform-main-block-bottomless .webform-corners-bottom { display: none; }

.webform-main-block-topless .webform-content { border-top: 1px solid #e8e6d6; }

.webform-main-block-bottomless .webform-content { border-bottom: 1px solid #e8e6d6; }

.webform-additional-block { background-color: #f3f3f3; }

.webform-additional-block .webform-content { border-left: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; padding: 11px 20px 7px 16px; }

.webform-additional-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -160px; }

.webform-additional-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -157px; }

.webform-additional-block .webform-left-corner, .webform-additional-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -5px -34px; }

.webform-additional-content { overflow: hidden; }

.webform-additional-title { white-space: nowrap; float: left; margin-right: 0.5em; color: #4c431f; }

.webform-additional-text { overflow: hidden; color: #000; }

.webform-additional-block-topless .webform-corners-top, .webform-additional-block-bottomless .webform-corners-bottom { display: none; }

.webform-additional-block-topless .webform-content { border-top: 1px solid #e1e1e1; }

.webform-additional-block-bottomless .webform-content { border-bottom: 1px solid #e1e1e1; }

.webform-warning-block { background-color: #ffe168; }

.webform-warning-block .webform-content { border-left: 1px solid #ebd165; border-right: 1px solid #ebd165; padding: 11px 20px 11px 16px; }

.webform-warning-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -172px; }

.webform-warning-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -169px; }

.webform-warning-block .webform-left-corner, .webform-warning-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -10px -34px; }

.webform-warning-content { overflow: hidden; }

.webform-warning-title { white-space: nowrap; float: left; margin-right: 0.5em; color: #4c431f; }

.webform-warning-text { overflow: hidden; color: #000; }

.webform-warning-block-topless .webform-corners-top, .webform-warning-block-bottomless .webform-corners-bottom { display: none; }

.webform-warning-block-topless .webform-content { border-top: 1px solid #ebd165; }

.webform-warning-block-bottomless .webform-content { border-bottom: 1px solid #ebd165; }

.webform-error-block { background-color: #ffebeb; margin-bottom: 17px; }

.webform-error-block .webform-content { border-left: 1px solid #ffa7a7; border-right: 1px solid #ffa7a7; padding: 6px 18px 6px 10px; color: #d10000; }

.webform-error-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -152px; }

.webform-error-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -149px; }

.webform-error-block .webform-left-corner, .webform-error-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -15px -34px !important; }

.webform-error-block-topless .webform-corners-top, .webform-error-block-bottomless .webform-corners-bottom { display: none; }

.webform-error-block-topless .webform-content { border-top: 1px solid #ffa7a7; }

.webform-error-block-bottomless .webform-content { border-bottom: 1px solid #ffa7a7; }

.webform-error-list { padding: 0.3em 0 0.3em 2em; margin: 0; }

.webform-error-list li { margin: 0; padding: 0; }

.webform-additional-select-block { background-color: #fff !important; }

.webform-additional-select-block .webform-content { border-left: 1px solid #dedede; border-right: 1px solid #dedede; padding: 5px !important; }

.webform-additional-select-block .webform-corners-top { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -156px; }

.webform-additional-select-block .webform-corners-bottom { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -153px; }

.webform-additional-select-block .webform-left-corner, .webform-additional-select-block .webform-right-corner { background: scroll transparent url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -10px 0 !important; }

.webform-additional-select-block-topless .webform-corners-top, .webform-additional-select-block-bottomless .webform-corners-bottom { display: none; }

.webform-additional-select-block-topless .webform-content { border-top: 1px solid #dedede; }

.webform-additional-select-block-bottomless .webform-content { border-bottom: 1px solid #dedede; }

.webform-row { margin: 0 0 11px 0; }

/* Webforms controls */
.webform-field { margin: 0; color: #171717; }

.webform-field-label { margin: 0 0 2px 4px; color: #7a7869; }

.webform-field-textbox { border: none; background-color: #fff; }

.webform-field-textbox-double { border: 1px solid #f9f7e8; background-color: #fff; }

.webform-field-textbox-inner { border: 1px solid #d9d9d9; padding: 3px 6px 4px; }

span.webform-field-textbox, span.webform-field-textbox-double { display: inline-block; }

span.webform-field-textbox-inner { display: inline-block; }

.webform-field-textbox input, .webform-field-textbox-double input { font: normal normal normal 13px/normal Arial, Helvetica, sans-serif; border: 0; padding: 0; color: #000; background-color: #fff; margin: 0; }

.webform-field-textbox input[type="text"], .webform-field-textbox-double input[type="text"] { outline: none; }

.webform-field-textbox input.inactive, .webform-field-textbox-double input.inactive { color: #999; }

.webform-field-textbox-clearable { position: relative; }

.webform-field-textbox-clearable .webform-field-textbox-inner { padding-right: 20px; }

.webform-field-textbox-clear { width: 20px; outline: none; height: 24px; display: block; position: absolute; right: 0; top: 0; background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -17px 10px; cursor: pointer; }

.webform-field-textbox-empty .webform-field-textbox-clear { display: none; cursor: default; }

.webform-field-combobox { border: 1px solid #f9f7e8; background-color: #fff; display: inline-block; white-space: nowrap; }

.webform-field-combobox-inner { border: 1px solid #d9d9d9; padding: 5px 0 5px 8px; }

.webform-additional-fields .webform-field-combobox { border: 1px solid #f6f6f6; }

.webform-field-combobox input { width: 238px; border: 0; padding: 0; color: #000; background-color: #fff; vertical-align: top; }

.webform-field-combobox input[type="text"] { outline: none; }

.webform-field-combobox-arrow { display: inline-block; width: 25px; background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -15px -14px; vertical-align: top; text-decoration: none !important; outline: none; }

.webform-field-combobox input, .webform-field-combobox-arrow { font: normal normal normal 15px/normal Arial, Helvetica, sans-serif; }

.webform-field-combobox-disabled .webform-field-combobox-arrow { display: none; }

.webform-field-combobox-disabled input { color: #999; }

.webform-field-date { border: 1px solid #d9d9d9; background-color: #fff; display: inline-block; vertical-align: top; padding: 3px 6px 4px 6px; }

.webform-field-date input { width: 140px; border: 0; padding: 0; color: #191919; background-color: #fff; vertical-align: top; font: normal normal normal 13px/normal Arial, Helvetica, sans-serif; }

.webform-field-date input[type="text"] { outline: none; }

.webform-field-textarea { border: 1px solid #f9f7e8; background-color: #fff; }

.webform-field-textarea-inner { border: 1px solid #d9d9d9; padding: 8px; }

.webform-additional-fields .webform-field-textarea { border: 1px solid #f6f6f6; }

.webform-field-textarea textarea { width: 99%; height: 100px; font: normal normal normal 14px/normal Arial, Helvetica, sans-serif; border: 0; padding: 0; color: #000; outline: none; background-color: #fff; resize: none; }

.webform-field-textarea textarea.inactive { color: #999; }

.webform-field-checkbox-options .webform-field-checkbox-option { margin: 0; height: 19px; }

.webform-field-checkbox-option input, .webform-field-checkbox-option label { vertical-align: middle; }

.webform-field-checkbox-option input { margin: 0; padding: 0; width: 14px; }

.webform-field-checkbox-option label { margin: 0 0 0 5px; }

.webform-field-checkbox-option-disabled label { color: #a9a792; }

.webform-field-upload-list { margin: 0 0 11px 2.8em; padding: 0; }

.webform-field-upload-list a.upload-file-name { margin: 0 0 0 -4px; color: #0069c4; text-decoration: underline; white-space: normal; word-wrap: break-word; }

.webform-field-upload-list a.upload-file-name:hover { color: #1c91e7; }

.webform-field-upload-list li { margin: 0 0 3px -5px; white-space: nowrap; color: #888; }

.webform-field-upload-list li.uploading { color: #bbb; }

.webform-field-upload-list li.uploading a.upload-file-name { cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }

.webform-field-upload-list a.delete-file { vertical-align: top; display: inline-block; width: 15px; height: 16px; background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -280px; margin: 0 0 0 6px; outline: none; }

.webform-field-upload-list a.delete-file:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -17px -280px; }

.webform-field-upload-list i { vertical-align: top; display: none; width: 15px; height: 15px; background: url(/bitrix/js/main/core/images/popup/upload-waiting.gif) no-repeat 0 2px; margin: 0 0 0 8px; }

.webform-field-upload-list li.uploading i { display: inline-block; }

.webform-field-upload-list:empty {
	margin: 0;
	padding: 0;
}

.webform-field-upload {
	overflow: hidden;
	width: 250px;
	height: 27px;
}

.webform-field-upload:hover .webform-button,
.webform-field-upload:hover .webform-button-text {
	color: #535c69;
	cursor: pointer !important;
}

.webform-field-upload input {
	margin-top: -50px;
	margin-left: -410px;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	opacity: 0;
	font-size: 150px;
	height: 100px;
}

.webform-field-action-link,
.webform-field-action-link:link,
.webform-field-action-link:visited,
.webform-field-action-link:hover,
.webform-field-action-link:active { border-bottom: 1px dashed #938f79; text-decoration: none; color: #757361; outline: none; font-size: 13px; display: inline-block; cursor: pointer; }

.webform-field-action-link.selected { border: 0; color: #2f2e27 !important; padding-bottom: 1px; cursor: default; }

.webform-field-additional-link { text-decoration: none; outline: none; cursor: pointer; }

.webform-field-additional-link i { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -177px; width: 15px; height: 15px; display: inline-block; vertical-align: middle; }

.webform-field-additional-link.selected i { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -193px; }

.webform-field-additional-link span { vertical-align: middle; border-bottom: 1px dashed #4d4d4d; color: #171717; margin: 0 0 0 5px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; }

/* Webforms buttons */
.webform-buttons {
	margin: 15px 0 0 0;
	text-align: center;
}

.webform-button,
.webform-small-button,
.webform-button-upload {
	background: #ecedef;
	-webkit-box-shadow: 0 0 0 1px #c6cdd3 inset;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	border-radius: 2px;
	cursor: pointer;
	color: #7a818a;
	display: inline-block;
	height: 47px;
	line-height: 47px;
	margin: 0 16px 0 0;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	outline: none;
	padding: 0 18px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: background-color 0.2s linear, color 0.2s linear;
	transition: background-color 0.2s linear, color 0.2s linear;
	border: none;
}

.webform-button:link,
.webform-button:visited,
.webform-small-button:link,
.webform-small-button:visited,
.webform-button-upload:link,
.webform-button-upload:visited {
	color: #7a818a;
}

.webform-small-button,
.webform-button.webform-button-upload,
.webform-small-button.webform-button-upload,
.webform-field-upload {
	height: 39px;
	line-height: 39px;
	margin: 0 12px 0 0;
}

.webform-button-text,
.webform-small-button-text,
.webform-button-upload .webform-button-text {
	background: none !important;
	border: none;
	color: #7a818a;
	display: inline;
	height: auto;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 47px;
	text-shadow: none !important;
	text-transform: uppercase;
	padding: 0;
	-webkit-transition: color 0.25s linear;
	transition: color 0.25s linear;
}

.webform-small-button-icon {
	display: inline-block;
	height: 20px;
	line-height: 39px;
	position: relative;
	cursor: pointer;
	vertical-align: top;
	outline: none;
	text-decoration: none !important;
	background: none;
	border: none;
}

.webform-small-button.webform-small-button-dropdown .webform-small-button-icon {
	margin: -2px -5px 0 5px;
	width: 12px;
	height: 8px;
	background-repeat: no-repeat;
	vertical-align: middle;
	-webkit-transition: background-image 0.25s linear;
	transition: background-image 0.25s linear;
}

.webform-small-button.webform-small-button-dropdown .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A');
}

.webform-small-button:active.webform-small-button-dropdown .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A');
}

.webform-button-active.webform-small-button.webform-small-button-dropdown .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A');
}

.webform-button-disable.webform-small-button.webform-small-button-dropdown .webform-small-button-icon {
	opacity: .3;
	cursor: default;
}

.webform-small-button-transparent.webform-small-button-dropdown .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A');
}

.webform-small-button-accept.webform-small-button-dropdown .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A');
}

.webform-small-button-accept:active.webform-small-button-dropdown .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A');
}

.webform-button-active.webform-small-button-accept.webform-small-button-dropdown .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A');
}

.webform-small-button-decline.webform-small-button-dropdown .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A');
}

.webform-small-button-blue.webform-small-button-dropdown .webform-small-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.656%2C5.235%20L2.413%2C0.992%20L0.999%2C2.406%20L5.949%2C7.356%20L6.656%2C8.063%20L12.313%2C2.406%20L10.899%2C0.992%20L6.656%2C5.235%20Z%22%20transform%3D%22translate%28-1%20-1%29%22/%3E%0A%3C/svg%3E%0A');
}

.webform-button-disable.webform-small-button-blue .webform-small-button-text {
	color: #95e3fa !important;
}

.webform-button-text,
.webform-small-button-text,
.webform-button-upload .webform-button-text {
	background: none !important;
	border: none;
	color: #7a818a;
	display: inline;
	height: auto;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 47px;
	text-shadow: none !important;
	text-transform: uppercase;
	padding: 0;
	-webkit-transition: color 0.25s linear;
	transition: color 0.25s linear;
	vertical-align: top !important;
	cursor: pointer;
	text-decoration: none !important;
	outline: none;
}

.webform-small-button-text {
	line-height: 39px;
	height: auto;
}

.webform-button-upload .webform-button-text {
	display: inline-block;
	height: auto;
	line-height: 39px;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
	vertical-align: top;
}

.webform-button-upload {
}

.webform-button:hover,
.webform-button:hover .webform-button-text,
.webform-small-button:hover,
.webform-small-button:hover .webform-small-button-text,
.webform-button-upload:hover,
.webform-field-upload:hover .webform-button-upload {
	background: #cfd4d8;
	color: #535c69;
}

.webform-button:active,
.webform-button-active,
.webform-button-active:link,
.webform-button-active:visited,
.webform-button-active:active,
.webform-button-active:hover,
.webform-small-button:active,
.webform-small-button-active,
.webform-small-button-active:link,
.webform-small-button-active:visited,
.webform-small-button-active:active,
.webform-small-button-active:hover,
.webform-small-button-active:hover .webform-button-text,
.webform-small-button-active:hover .webform-small-button-text,
.webform-button-active:hover .webform-small-button-text,
.webform-button-active:hover .webform-button-text,
.webform-button-transparent.webform-button-active,
.webform-small-button-transparent.webform-button-active,
.webform-small-button-transparent.webform-small-button-active,
.webform-field-upload:active .webform-button-upload,
.webform-field-upload:active .webform-button-text {
	background: #868d95;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
}

.webform-button:active .webform-button-text,
.webform-button-active .webform-button-text,
.webform-button-active .webform-small-button-text,
.webform-small-button:active .webform-small-button-text,
.webform-small-button-active .webform-small-button-text,
.webform-field-upload:active .webform-small-button-text {
	color: #fff;
}

.webform-button-accept,
.webform-button-accept:link,
.webform-button-accept:visited,
.webform-button-accept .webform-button-text,
.webform-button-create,
.webform-button-create:link,
.webform-button-create:visited,
.webform-button-create .webform-button-text,
.webform-button-blue,
.webform-button-blue:link,
.webform-button-blue:visited,
.webform-button-blue .webform-button-text,
.webform-small-button-accept,
.webform-small-button-accept:link,
.webform-small-button-accept:visited,
.webform-small-button-accept .webform-small-button-text,
.webform-small-button-create,
.webform-small-button-create:link,
.webform-small-button-create:visited,
.webform-small-button-create .webform-small-button-text {
	background: #bbed21;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #535c69;
}

.webform-button-accept:hover,
.webform-button-create:hover,
.webform-small-button-accept:hover,
.webform-small-button-create:hover {
	background: #d2f95f;
	color: #535c69;
}

.webform-button-accept:active,
.webform-button-create:active,
.webform-small-button-accept:active,
.webform-small-button-create:active,
.webform-button-accept.webform-button-active,
.webform-button-create.webform-button-active,
.webform-small-button-accept.webform-button-active,
.webform-small-button-accept.webform-small-button-active,
.webform-small-button-create.webform-button-active,
.webform-small-button-create.webform-small-button-active {
	background: #b2e233 !important;
	color: #535c69;
}

.webform-button-accept:active .webform-button-text,
.webform-button-create:active .webform-button-text,
.webform-button-accept.webform-button-active .webform-button-text,
.webform-button-create.webform-button-active .webform-button-text,
.webform-small-button-accept:active .webform-small-button-text,
.webform-small-button-create:active .webform-small-button-text,
.webform-small-button-accept.webform-button-active .webform-small-button-text,
.webform-small-button-accept.webform-small-button-active .webform-small-button-text {
	color: #535c69;
}

.webform-button-decline,
.webform-button-decline:link,
.webform-button-decline:visited,
.webform-button-decline .webform-button-text,
.webform-small-button-decline,
.webform-small-button-decline:link,
.webform-small-button-decline:visited,
.webform-small-button-decline .webform-small-button-text {
	background: #f1361b;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
}

.webform-button-decline:hover,
.webform-button-decline:hover .webform-button-text,
.webform-small-button-decline:hover,
.webform-small-button-decline:hover .webform-small-button-text {
	background: #cc1a00;
	color: #fff;
}

.webform-button-decline:active,
.webform-button-decline.webform-button-active,
.webform-small-button-decline:active,
.webform-small-button-decline.webform-button-active,
.webform-small-button-decline.webform-small-button-active {
	background: #d24430 !important;
	color: #fff;
}

.webform-button-blue,
.webform-button-blue:link,
.webform-button-blue:visited,
.webform-button-blue .webform-button-text,
.webform-small-button-blue,
.webform-small-button-blue:link,
.webform-small-button-blue:visited,
.webform-small-button-blue .webform-small-button-text {
	background: #3bc8f5;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
}

.webform-button-blue:hover,
.webform-button-blue:hover .webform-button-text,
.webform-small-button-blue:hover,
.webform-small-button-blue:hover .webform-small-button-text {
	background: #3fddff;
	color: #fff;
}

.webform-button-blue:active,
.webform-button-blue.webform-button-active,
.webform-small-button-blue:active,
.webform-small-button-blue.webform-button-active,
.webform-small-button-blue.webform-small-button-active {
	background: #13b1e3 !important;
	color: #fff;
}

.webform-button-transparent,
.webform-small-button-transparent {
	-webkit-box-shadow: inset 0 0 0 1px #a1a6ac;
	box-shadow: inset 0 0 0 1px #a1a6ac;
	background: none;
	color: #535c69;
}

.webform-button-disable,
.webform-button-disable .webform-button-text,
.webform-button-disable .webform-small-button-text,
.webform-small-button-disable,
.webform-small-button-disable .webform-small-button-text {
	color: #b6c1cf !important;
	cursor: default;
}

.webform-button-disable,
.webform-small-button-disable {
	background: #ecedef !important;
	-webkit-box-shadow: 0 0 0 1px #c6cdd3 inset !important;
	box-shadow: 0 0 0 1px #c6cdd3 inset !important;
}

.webform-button-create.webform-button-disable,
.webform-button-create.webform-button-disable .webform-button-text,
.webform-button-accept.webform-button-disable,
.webform-button-accept.webform-button-disable .webform-button-text,
.webform-small-button-create.webform-button-disable,
.webform-small-button-accept.webform-button-disable,
.webform-small-button-create.webform-button-disable .webform-small-button-text,
.webform-small-button-accept.webform-button-disable .webform-small-button-text,
.webform-small-button-create.webform-small-button-disable,
.webform-small-button-accept.webform-small-button-disable,
.webform-small-button-create.webform-small-button-disable .webform-small-button-text,
.webform-small-button-accept.webform-small-button-disable .webform-small-button-text {
	background: #bbed21 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: #a0c83c !important;
}

.webform-button-decline.webform-button-disable,
.webform-button-decline.webform-button-disable .webform-button-text,
.webform-small-button-decline.webform-button-disable,
.webform-small-button-decline.webform-small-button-disable,
.webform-small-button-decline.webform-small-button-disable .webform-small-button-text,
.webform-small-button-decline.webform-button-disable .webform-small-button-text {
	background: #f1361b !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: #f8a498 !important;
}

.webform-button-blue.webform-button-disable,
.webform-small-button-blue.webform-button-disable,
.webform-small-button-blue.webform-small-button-disable {
	background: #3bc8f5 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: #95e3fa !important;
}

.webform-button-link {
	display: inline-block;
	cursor: pointer;
	margin: 8px 15px 0 0;
	border-bottom: 1px solid transparent;
	font: normal normal normal 14px/normal "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transition: border-bottom-color 0.25s linear;
	transition: border-bottom-color 0.25s linear;
	text-decoration: none !important;
}

.webform-button-link:hover {
	border-bottom: 1px solid;
}

.webform-button-link-cancel {
	color: #d20000 !important;
}

.webform-small-button-link {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px 0 0;
	text-decoration: underline !important;
}

.webform-small-button-separate-wrap {
	display: inline-block;
	height: 39px;
	vertical-align: middle;
	border-radius: 0;
	box-shadow: none;
	padding-right: 0;
	font-size: 0;
	position: relative;
	margin-right: 12px;
}

.webform-small-button-separate-wrap .webform-small-button {
	margin: 0;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	border-radius: 0;
	padding-right: 44px;
	vertical-align: top;
}

.webform-small-button-right-part {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%3E%3Cpath%20fill%3D%22%23535c68%22%20d%3D%22M4%2C4L0%2C0.015H8Z%22/%3E%3C/svg%3E%0A') no-repeat center center;
	cursor: pointer;
	display: block;
	height: 37px;
	vertical-align: top;
	width: 30px;
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.25s linear;
	border-radius: 0;
	position: absolute;
	right: 1px;
	top: 1px;
	margin: 0;
}

.webform-small-button-right-part:before,
.webform-small-button-accept + .webform-small-button-right-part:before {
	background: rgba(83, 92, 104, 0.2);
	content: '';
	display: block;
	height: 26px;
	margin-top: 6px;
	width: 1px;
}

.webform-small-button-accept + .webform-small-button-right-part:before,
.webform-small-button-decline + .webform-small-button-right-part:before {
	margin-top: 7px;
}

.webform-small-button-right-part:after {
	display: none;
}

.webform-small-button-right-part:hover {
	background-color: #cfd4d8;
}

.webform-small-button-separate-wrap .webform-small-button-accept,
.webform-small-button-separate-wrap .webform-small-button-blue,
.webform-small-button-separate-wrap .webform-small-button-decline {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.webform-small-button-blue + .webform-small-button-right-part,
.webform-small-button-decline + .webform-small-button-right-part {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4%2C4L0%2C0.015H8Z%22/%3E%3C/svg%3E%0A') no-repeat center center #ecedef;
	height: 39px;
	width: 31px;
	top: 0;
	right: 0;
}

.webform-small-button-accept + .webform-small-button-right-part {
	background-color: #bbed21;
}

.webform-small-button-accept + .webform-small-button-right-part:hover {
	background-color: #d2f95f;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%3E%3Cpath%20fill%3D%22%23535c68%22%20d%3D%22M4%2C4L0%2C0.015H8Z%22/%3E%3C/svg%3E%0A');
}

.webform-small-button-decline + .webform-small-button-right-part,
.webform-small-button-decline + .webform-small-button-right-part:hover,
.webform-small-button-blue + .webform-small-button-right-part,
.webform-small-button-blue + .webform-small-button-right-part:hover {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4%2C4L0%2C0.015H8Z%22/%3E%3C/svg%3E%0A');
}

.webform-small-button-decline + .webform-small-button-right-part:before,
.webform-small-button-blue + .webform-small-button-right-part:before {
	background-color: rgba(255, 255, 255, 0.8);
}

.webform-small-button-decline + .webform-small-button-right-part {
	background-color: #f1361b;
}

.webform-small-button-decline + .webform-small-button-right-part:hover {
	background-color: #cc1a00;
}

.webform-small-button-blue + .webform-small-button-right-part {
	background-color: #3bc8f5;
}

.webform-small-button-blue + .webform-small-button-right-part:hover {
	background-color: #3fddff;
}

.webform-small-button-blue + .webform-small-button-right-part:active {
	background-color: #13b1e3;
}

.bx24-top-toolbar-add .webform-small-button-blue + .webform-small-button-right-part,
.bx24-top-toolbar-add .webform-small-button-blue + .webform-small-button-right-part:hover {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4%2C4L0%2C0.015H8Z%22/%3E%3C/svg%3E%0A');
}

.bx24-top-toolbar-add .webform-small-button-right-part:before {
	height: 18px;
	margin-top: 8px;
}

.bx24-top-toolbar-add .webform-small-button-icon {
	height: 11px;
	margin: 11px 9px 0 -6px;
	width: 11px;
	position: relative;
}

.bx24-top-toolbar-add .webform-small-button-icon:before {
	display: block;
	content: "";
	width: 11px;
	height: 3px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 4px;
}

.bx24-top-toolbar-add .webform-small-button-icon:after {
	display: block;
	content: "";
	width: 3px;
	height: 11px;
	background: #fff;
	position: absolute;
	left: 4px;
	top: 0;
}

/*region Loading*/
.webform-button-wait,
.webform-small-button-wait {
	color: transparent !important;
	position: relative;
}

.webform-button-wait .webform-button-text,
.webform-small-button-wait .webform-small-button-text {
	opacity: 0;
}

.webform-button-wait:before,
.webform-small-button-wait:before {
	background: none !important;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 50%;
	color: #fff;
	display: block;
	content: '_';
	font-size: 10px;
	font-family: "OpenSans-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 10px;
	height: 21px;
	top: 13px;
	left: 50%;
	margin: 0 0 0 -11px;
	padding-right: 6px;
	position: absolute;
	text-align: right;
	width: 15px;
}

.webform-small-button-wait:before {
	top: 10px;
}

.webform-button-wait:after,
.webform-small-button-wait:after {
	background: #fff !important;
	content: '';
	display: block;
	height: 7px;
	margin: 0 0 0 -1px;
	position: absolute;
	top: 17px;
	left: 50%;
	padding: 0;
	width: 1px;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-animation: webform-button-clock 1s infinite linear;
	animation: webform-button-clock 1s infinite linear;
}

.webform-small-button-wait:after {
	top: 14px;
}

.webform-button-create.webform-button-wait:before,
.webform-button-accept.webform-button-wait:before,
.webform-small-button-accept.webform-small-button-wait:before,
.webform-small-button-transparent.webform-small-button-wait:before,
.webform-button-transparent.webform-button-wait:before {
	color: #535c69;
	-webkit-box-shadow: inset 0 0 0 1px #535c69;
	box-shadow: inset 0 0 0 1px #535c69;
}

.webform-button-create.webform-button-wait:after,
.webform-button-accept.webform-button-wait:after,
.webform-small-button-accept.webform-small-button-wait:after,
.webform-small-button-transparent.webform-small-button-wait:after,
.webform-button-transparent.webform-button-wait:after {
	background: #535c69 !important;
}

@-webkit-keyframes webform-button-clock {
	0% {
		-webkit-transform: rotate(0deg)
	}
	50% {
		-webkit-transform: rotate(180deg)
	}
	100% {
		-webkit-transform: rotate(360deg)
	}

	0% {
		transform: rotate(0deg);
		margin-left: -1px;;
	}
	50% {
		transform: rotate(180deg);
		margin-left: 0;
	}
	100% {
		transform: rotate(360deg);
		margin-left: -1px;;
	}
}

@keyframes webform-button-clock {
	0% {
		transform: rotate(0deg);
		margin-left: -1px;
	}
	50% {
		transform: rotate(180deg);
		margin: 0;
	}
	100% {
		transform: rotate(360deg);
		margin-left: -1px;
	}
}

/*endregion*/

/*region Triangle Icon*/
.webform-button-icon-triangle {
	display: inline-block;
	margin: -2px 0 0 3px;
	width: 0;
	height: 0;
	vertical-align: middle;
}

.webform-button-icon-triangle-down .webform-button-icon-triangle {
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #fff transparent transparent transparent;
}

.webform-button-icon-triangle-up .webform-button-icon-triangle {
	border-style: solid;
	border-width: 0 4px 5px 4px;
	border-color: transparent transparent #fff transparent;
}

/*endregion*/

/*region Deprecated selectors */
.webform-button-left,
.webform-button-right,
.webform-small-button-left,
.webform-button-upload .webform-button-left,
.webform-small-button-right,
.webform-button-upload .webform-button-right {
	display: none;
}

/*endregion*/

/*===========================================Users popups======================================================================*/
.finder-box {
	padding: 2px 6px 6px 6px;
	background: #fff;
	font: normal normal normal 12px/normal Arial, Helvetica, sans-serif;
	overflow: hidden;
	width: 395px;
}

.finder-box-multiple { width: 595px; }

.finder-box-layout { width: 100%; }

.finder-box-left-column { vertical-align: top; padding: 0; }

.finder-box-multiple .finder-box-left-column { padding: 0 15px 0 0; }

.finder-box-right-column { vertical-align: top; width: 200px; background: #f5f5f5; border: 1px solid #e2e2e2; }

/*.finder-box-right-column { display: none; }
.finder-box-multiple .finder-box-right-column { display:table-cell;}*/

.finder-box-search { margin: 0 0 7px 0; }

.finder-box-search-textbox { width: 100%; border: 1px solid; border-color: #b0b0b0 #e2e2e2 #e2e2e2 #b0b0b0; font-size: 15px; }

.finder-box-tabs { margin: 0 0 7px 0; white-space: nowrap; }

.finder-box-tab, .finder-box-tab-left, .finder-box-tab-right, .finder-box-tab-text { display: inline-block; height: 21px; vertical-align: top; cursor: pointer; }

.finder-box-tab-left, .finder-box-tab-right { width: 4px; }

.finder-box-tab { margin: 0 3px 0 0; }

.finder-box-tab-left { }

.finder-box-tab-right { }

.finder-box-tab-text { line-height: 21px; padding: 0 5px; font-weight: bold; color: #333; }

.finder-box-tab:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -621px; }

.finder-box-tab:hover .finder-box-tab-left { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -599px; }

.finder-box-tab:hover .finder-box-tab-right { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -4px -599px; }

.finder-box .finder-box-tab-selected { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) repeat-x 0 -643px; }

.finder-box .finder-box-tab-selected .finder-box-tab-left { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -8px -599px; }

.finder-box .finder-box-tab-selected .finder-box-tab-right { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -12px -599px; }

.finder-box-tabs-content { margin: 7px 0 0 0; max-height: 200px; min-height: 150px; overflow: auto; position: relative; }

.finder-box-tab-content { display: none; }

.finder-box-tab-content-selected { display: block; }

.finder-box .finder-box-item { display: block; cursor: pointer; position: relative; color: #000; margin: 0 5px 2px 0; text-decoration: none; overflow: hidden; }

.finder-box-item-text { padding: 3px 5px; }

.finder-box-item-icon { width: 17px; height: 21px; position: absolute; right: 0; top: 0; background: #fff; }

.finder-box-item-left { margin: 0 3px 0 0; }

.finder-box-item:hover { background: #f0f0f0; }

.finder-box-item:hover .finder-box-item-icon { background: #f0f0f0 url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -19px -469px; }

.finder-box-item-selected:hover .finder-box-item-icon { background: #f0f0f0 url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -20px -577px; }

.finder-box-item-selected .finder-box-item-text { color: #666; }

.finder-box-tab-columns { width: 100%; table-layout: fixed; }

.finder-box-tab-columns td { width: 50%; padding: 0; vertical-align: top; }

.finder-box-selected-items { max-height: 235px; overflow-x: hidden; overflow-y: auto; }

.finder-box-selected-title { color: #6e6e6e; height: 32px; line-height: 32px; margin: 0 8px; }

.finder-box-selected-item { overflow: hidden; margin: 0 5px 10px 5px; }

.finder-box-selected-item-icon { float: left; cursor: pointer; width: 13px; height: 15px; background: url(/bitrix/js/main/core/images/controls-sprite.png?2) no-repeat 0 -282px; }

.finder-box-selected-item-icon:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png?2) no-repeat -17px -282px; }

.finder-box-selected-item .finder-box-selected-item-text { text-decoration: none; overflow: hidden; padding: 0 0 0 4px; display: block; color: #000; }

.finder-box-selected-item .finder-box-selected-item-text:hover { text-decoration: underline; }

.finder-box-tab-note { font-style: italic; display: inline-block; margin: 0 0 0 5px; }

.company-structure { padding: 0 0 0 3px; }

.company-department { padding: 10px 0 0; }

.company-department-first { padding: 3px 0 0 0; }

.company-department-inner { display: inline-block; overflow: hidden; cursor: pointer; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; }

.company-department-arrow { float: left; width: 16px; height: 17px; background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -16px -175px; }

.company-department-opened .company-department-arrow { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -16px -191px; }

.company-department-text { display: inline-block; overflow: hidden; padding: 1px 5px 1px 5px; color: #000; font: normal normal normal 12px/normal Arial, Helvetica, sans-serif; }

.company-department-inner:hover .company-department-text, .company-department-inner:hover .company-department-arrow { background-color: #f0f0f0; }

.company-department-children { display: none; margin-left: 3px; padding: 0 0 0 13px; }

.company-department-children-opened { display: block; border-left: 1px solid #f0f0f0; }

.company-department-employees { margin: 0 0 0 -10px; padding: 5px 0 0 0; }

.company-department-employee { cursor: pointer; position: relative; margin: 5px 10px 0 0; }

.company-department-employee-avatar { width: 24px; height: 24px; background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat 0 -664px; position: absolute; top: 3px; left: 3px; }

.company-department-employee-info { padding: 2px 0; margin: 0 0 0 32px; }

.company-department-employee-name { color: #000; }

.company-department-employee-position { color: #b2b2b2; font-size: 11px; line-height: 11px; }

.company-department-employee-icon { position: absolute; top: 10px; right: 5px; width: 11px; height: 11px; }

.company-department-employee:hover { background-color: #f0f0f0; }

.company-department-employee:hover .company-department-employee-icon { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -19px -474px; }

.company-department-employee-selected:hover .company-department-employee-icon { background: url(/bitrix/js/main/core/images/controls-sprite.png?1) no-repeat -19px -584px; }

.company-department-employees-loading { font-style: italic; }

/*intranet structure*/
.structure-department-head { background: url("/bitrix/js/main/core/images/controls-sprite.png?1") no-repeat 0 -281px; visibility: hidden; height: 16px; position: absolute; width: 15px; cursor: pointer; margin-right: 15px; }

.structure-department-head:hover { background-position: -17px -281px !important; }

/******************************* titlebar buttons *****************************************/

.intranet-title-buttons {
	position: absolute;
	right: 0;
	top: 5px;
	white-space: nowrap;
}

.intranet-title-button {
	cursor: pointer;
	display: inline-block;
	height: 19px;
	margin-left: 5px;
	outline: medium none;
	text-decoration: none !important;
	vertical-align: top;
}

.intranet-title-link {
	color: #0069c4;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 19px;
	line-height: 19px;
	margin: 0 0 0 5px;
	text-decoration: underline;
	vertical-align: top;
}

.intranet-title-button-create-icon {
	background: url("/bitrix/js/main/core/images/controls-sprite.png?1") no-repeat scroll -19px -470px transparent;
	display: inline-block;
	height: 19px;
	vertical-align: top;
	width: 11px;
}

.invite-dialog-sonetgroup-wrap {
	margin-bottom: 10px;
	background: #fff;
	line-height: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 500px;
}

.invite-dialog-inv-block {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 520px;
	line-height: 20px;
}

.invite-dialog-inv-link {
	border-bottom: 1px dashed #2067b0;
	color: #2067b0;
	cursor: pointer;
}

a.invite-dialog-inv-link, a.invite-dialog-inv-link:active, a.invite-dialog-inv-link:visited, a.invite-dialog-inv-link:hover { text-decoration: none; }

.invite-dialog-inv-form {
	background-color: #f9fafa;
	padding: 21px 16px 15px 15px;
	min-width: 490px;
}

.invite-dialog-inv-form .errortext {
	padding-bottom: 10px;
	color: #f00;
}

.invite-dialog-inv-form-table {
	border: none;
	border-spacing: 0;
	width: 100%;
}

.invite-dialog-inv-form-l {
	color: #555;
	font-size: 14px;
	text-shadow: 0 1px #fcfdfd;
	padding: 9px 10px 18px 3px;
	vertical-align: top;
	width: 85px;
}

.invite-dialog-inv-form-r {
	padding: 0 0 18px 0;
}

.invite-dialog-inv-form-footer .invite-dialog-inv-form-l,
.invite-dialog-inv-form-footer .invite-dialog-inv-form-r {
	border-top: 1px solid #e5e8e9;
	padding-bottom: 0;
}

.invite-dialog-inv-form-footer .invite-dialog-inv-form-l {
	padding-top: 29px;
}

.invite-dialog-inv-form-footer .invite-dialog-inv-form-r {
	padding-top: 20px;
}

.invite-dialog-inv-form-inp {
	background-color: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 30px;
	padding: 0 0 0 3%;
	width: 97%;
	font-size: 13px;
}

.invite-dialog-inv-form-textarea {
	resize: none;
	background-color: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 10px;
	width: 93%;
	font-size: 13px;
	height: 75px;
	color: #a1a1a1;
	overflow: auto;
}

.invite-dialog-inv-form-textarea-active {
	color: #000 !important;
}

.invite-dialog-inv-form-select {
	background-color: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 32px;
	outline: none;
	padding: 5px 3px 5px 0;
	width: 100%;
}

.invite-dialog-inv-form-hidden-text {
	height: 32px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 7px;
}

.invite-dialog-inv-form-checkbox-wrap {
	padding-top: 12px;
}

.invite-dialog-inv-form-checkbox {
	margin-top: 2px;
	vertical-align: top;
}

.invite-dialog-inv-form-checkbox-label {
	color: #555;
	display: inline-block;
	margin-left: 5px;
	font-size: 13px;
	vertical-align: middle;
}

.invite-dialog-inv-text-bold {
	color: #555;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 0 10px 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.invite-dialog-inv-success-block {
	padding: 10px;
}

.invite-dialog-box-info-set {
	background-color: #fafcfc;
	border: 1px solid #d9e5e7;
	margin-top: 4px;
	color: #555;
}

.invite-dialog-box-info-set.invite-dialog-box-info-set-inactive {
	background-color: #f3f7f8;
	border: 1px solid #f3f7f8;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.invite-dialog-box-info-block {
	overflow: hidden;
	padding: 7px;
	white-space: nowrap;
}

.invite-dialog-box-info-set-inactive .invite-dialog-box-info-block-body {
	display: none;
}

.invite-dialog-box-info-btn {
	border: 1px solid;
	border-color: #fafcfc;
	border-radius: 2px;
	color: #2067b0;
	cursor: pointer;
	display: inline-block;
	height: 23px;
	line-height: 23px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	text-shadow: 0 1px #fff;
	padding: 0 5px;
}

.invite-dialog-box-info-set.invite-dialog-box-info-set-inactive .invite-dialog-box-info-btn {
	border: 1px solid #f3f7f8;
}

.invite-dialog-box-info-btn-active {
	border-color: #adb2ba #bac0c7 #dae0e3;
	background-image: -webkit-linear-gradient(top, #dae3e6, #e4ebed);
	background-image: -moz-linear-gradient(top, #dae3e6, #e4ebed);
	background-image: -ms-linear-gradient(top, #dae3e6, #e4ebed);
	background-image: -o-linear-gradient(top, #dae3e6, #e4ebed);
	background-image: linear-gradient(to bottom, #dae3e6, #e4ebed);
}

.invite-dialog-box-info-btn-text {
	border-bottom: 1px dashed #2067b0;
}

.invite-dialog-box-info-btn-active .invite-dialog-box-info-btn-text {
	border-bottom: none;
}

.invite-dialog-box-info-text {
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	margin: 0 8px;
}

.invite-dialog-box-info-left,
.invite-dialog-box-info-right {
	display: inline-block;
	margin-right: 3%;
	vertical-align: top;
	width: 47%;
}

.invite-dialog-box-info-right {
	margin: 0 0 0 3%;
}

.invite-dialog-box-info-label {
	display: block;
	color: #555;
	font-size: 14px;
	padding-bottom: 5px;
}

.invite-dialog-box-info-close-open {
	background: url(../../images/intranet/intranet-mail-popup-arrows.png) no-repeat right 100px;
	color: #8a8b8b;
	cursor: pointer;
	font-size: 12px;
	float: right;
	padding-right: 11px;
}

.invite-dialog-box-info-open {
	background-position: right 7px;
}

.invite-dialog-box-info-close {
	background-position: right -10px;
}

.invite-dialog-form-table {
	width: 100%;
	margin-bottom: 6px;
}

.invite-dialog-form-table td {
	vertical-align: top;
	text-align: right;
	padding: 0;
}

.invite-dialog-form-table td:first-child {
	text-align: left;
}

.bx-hint-help-icon {
	background: #bfc5ca none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	margin-left: 7px;
	right: 0;
	text-align: center;
	top: 12px;
	vertical-align: middle;
	width: 16px;
	cursor: help;
}

.webform-rounded-cogwheel.webform-small-button {
	position: relative;
	padding: 0 10px 0 7px;
	margin: 0;
	width: 20px;
	font-size: 0;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	text-align: center;
	box-shadow: none;
}

.webform-rounded-cogwheel.webform-small-button:hover {
	background: transparent;
	box-shadow: none;
}

.webform-small-button.webform-cogwheel {
	padding: 0 10px !important;
	height: 39px;
	line-height: 0;
	box-sizing: border-box;
	border: 1px solid #c8d1d6;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: .3s;
	transition: .3s;
}

.webform-small-button.webform-cogwheel.webform-button-disable {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.webform-small-button.webform-cogwheel.webform-button-disable .webform-button-icon {
	opacity: .45 !important;
}

.webform-small-button.webform-cogwheel:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: calc(100% - 2px);
	margin: 0 0 0 -3px;
}

.webform-rounded-cogwheel .webform-button-icon,
.webform-cogwheel .webform-button-icon {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23828993%22%20d%3D%22M10.9549333%2C8.65814133%20C10.7131867%2C9.79457067%209.81950667%2C10.6882747%208.68312%2C10.9299507%20C6.51653333%2C11.39074%204.63442667%2C9.508024%205.09529333%2C7.34183467%20C5.31324%2C6.317524%206.34252%2C5.28813733%207.3668%2C5.07014133%20C9.53297333%2C4.60907333%2011.4158133%2C6.49137067%2010.9549333%2C8.65814133%20M15.4145333%2C6.83496533%20L13.8296133%2C6.57054%20L13.8296133%2C6.57054%20C13.7170133%2C6.11019333%2013.554%2C5.66968667%2013.3424133%2C5.25791333%20C13.33352%2C5.24058933%2013.3355867%2C5.219748%2013.3478133%2C5.20459067%20L14.3423333%2C3.97143467%20C14.5581333%2C3.70554267%2014.5483333%2C3.322992%2014.3208267%2C3.06639067%20L13.6904667%2C2.35694%20C13.4619733%2C2.10059467%2013.0830667%2C2.04638667%2012.79404%2C2.228988%20L11.4386133%2C3.08106%20L11.4386133%2C3.08106%20C10.8510133%2C2.67052%2010.18652%2C2.365788%209.47001333%2C2.18623733%20C9.45101333%2C2.181464%209.4366%2C2.165956%209.43336%2C2.14660533%20L9.17350667%2C0.584968%20C9.11785333%2C0.247566667%208.82588%2C0%208.48314667%2C0%20L7.53321333%2C0%20C7.19117333%2C0%206.8982%2C0.247566667%206.84378667%2C0.584968%20L6.58249333%2C2.147188%20C6.57925333%2C2.16649067%206.56486667%2C2.181952%206.54589333%2C2.18670267%20C5.96604%2C2.33202533%205.4214%2C2.56138267%204.92248%2C2.861248%20C4.90566667%2C2.87135467%204.88454667%2C2.87060933%204.86857333%2C2.8592%20L3.60581333%2C1.957996%20C3.32801333%2C1.75951467%202.94642667%2C1.79055333%202.70398667%2C2.03248533%20L2.03289333%2C2.70407467%20C1.79096%2C2.94651867%201.75992%2C3.32811467%201.95893333%2C3.60592933%20L2.86225333%2C4.87121733%20C2.87364%2C4.887168%202.87442667%2C4.90828667%202.86434667%2C4.92509867%20C2.5674%2C5.420164%202.34042667%2C5.96156533%202.19525333%2C6.536148%20C2.19045333%2C6.55512533%202.175%2C6.56946933%202.15572%2C6.57268267%20L0.584933333%2C6.83498933%20C0.248053333%2C6.89061733%200%2C7.18263467%200%2C7.525392%20L0%2C8.474608%20C0%2C8.81734133%200.248053333%2C9.10938267%200.584933333%2C9.16501067%20L2.15566667%2C9.42729467%20C2.17497333%2C9.43053067%202.19045333%2C9.44489867%202.19522667%2C9.46389867%20C2.31332%2C9.933%202.48153333%2C10.3817267%202.70266667%2C10.7994387%20C2.71188%2C10.816856%202.70993333%2C10.8380213%202.69754667%2C10.8533667%20L1.70793333%2C12.0790467%20C1.49288%2C12.344684%201.50190667%2C12.7274907%201.72942667%2C12.9838587%20L2.35929333%2C13.693332%20C2.5878%2C13.950144%202.96692%2C14.0033733%203.25597333%2C13.8212373%20L4.60374667%2C12.974568%20C4.62026667%2C12.9641827%204.64132%2C12.9646027%204.65748%2C12.9755467%20C5.23272%2C13.3642907%205.88164%2C13.6505573%206.57718667%2C13.8212373%20L6.57718667%2C13.8212373%20L6.84381333%2C15.4149853%20C6.89822667%2C15.7524093%207.19117333%2C16%207.53321333%2C16%20L8.48314667%2C16%20C8.82589333%2C16%209.11785333%2C15.7524333%209.17350667%2C15.4150093%20L9.4338%2C13.853068%20C9.43704%2C13.8337413%209.45145333%2C13.8182573%209.47045333%2C13.8135067%20C10.0428133%2C13.6701867%2010.5803733%2C13.44488%2011.0745867%2C13.1503013%20C11.0914%2C13.140288%2011.11244%2C13.14108%2011.1283467%2C13.1524427%20L12.44492%2C14.0927653%20C12.72224%2C14.2919693%2013.1040933%2C14.26072%2013.34628%2C14.01802%20L14.0176667%2C13.3466413%20C14.2593067%2C13.1049413%2014.2920267%2C12.7235547%2014.09136%2C12.445228%20L13.15412%2C11.1311347%20C13.1427333%2C11.115184%2013.14196%2C11.094088%2013.15204%2C11.0772987%20C13.4498667%2C10.5805587%2013.6780533%2C10.0381093%2013.8224267%2C9.46094133%20C13.8271733%2C9.44194133%2013.8426533%2C9.427528%2013.86196%2C9.42429067%20L15.4150667%2C9.16496533%20C15.7529467%2C9.10931333%2016%2C8.81729467%2016%2C8.47456133%20L16%2C7.52534533%20C15.9994933%2C7.18263467%2015.75244%2C6.89061733%2015.4145333%2C6.83496533%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	background-size: cover;
}

.webform-rounded-cogwheel .webform-button-icon {
	vertical-align: top;
	margin: 11px 0 0 0;
}

.webform-small-button.webform-cogwheel:active,
.webform-small-button.webform-cogwheel:hover {
	background: #cfd4d8;
}

.sonet-filter-menu-settings-icon.webform-rounded-cogwheel {
	opacity: .45;
	-webkit-transition: .3s;
	transition: .3s;
}

.sonet-filter-menu-settings-icon.webform-rounded-cogwheel:hover {
	opacity: 1;
}

/*border: 1px solid #c8d1d6;*/