/*Base*/
span.req {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	opacity: .6;
	color: #ab2424;
}

.lists-section-icon {
	width: 18px !important;
}

.lists-section-icon span {
	display: block;
	width: 16px;
	height: 16px;
	background: transparent url(/bitrix/images/lists/icons-files.png) no-repeat -72px 0;
}

.lists-section-text a {
	color: #535c69 !important;
}

.ui-btn.lists-list-back {
	padding: 0 15px 0 24px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2211%22%3E%3Cpath%20fill%3D%22%239FA6AE%22%20fill-rule%3D%22evenodd%22%20d%3D%22M9.7%209.2C6.8%209.3%204.4%206.9%204.3%204v-.2h3.3L3.8%200%200%203.8h3v.1c0%203.6%202.9%206.6%206.6%206.6.6%200%201.1-.1%201.6-.2v-.9c-.5%200-1.2-.2-1.5-.2z%22/%3E%3C/svg%3E) no-repeat left 6px center;
}

/* PopUp style */
.bx-lists-popup-content {
	background: #eef2f4;
}

.bx-lists-popup-title {
	padding: 6px 0 11px 0;
	font-weight: bold;
	font-size: 14px;
	color: #80868e;
}

.bx-lists-popup-buttons {
	padding: 0;
	margin: 10px 10px 7px 10px;
	text-align: center;
	position: relative;
	zoom: 1;
}

.bx-lists-template-name {
	font-weight: bold;
	font-size: 14px;
	color: #000;
	margin: 15px 0 10px;
	display: block;
	padding: 0 15px 0;
}

.bx-lists-popup-label {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	opacity:.6;
	color:#000;
}

.bx-lists-popup-error {
	display: none;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	color: red;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bx-lists-popup-input{
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	height:36px;
	vertical-align:middle;
	border:1px solid #c5cdd3;
	border-radius:2px;
	background-color:#fff;
}

/* Alert style */
.bx-lists-alert {
	background-color: #fffcde;
	color: #000;
	font-size: 15px;
	min-height: 45px;
	text-align: center;
	padding: 12px 40px 12px 60px;
	position: relative;
	width: 280px;
}

.bx-lists-aligner {
	display: inline-block;
	height: 45px;
	margin-left: -1px;
	vertical-align: middle;
	width: 1px;
}

.bx-lists-alert-text {
	display: inline-block;
	vertical-align: middle;
}

.bx-lists-alert-footer {
	text-align: center;
}

.bx-lists-alert-popup {
	background-color: #fffcde !important;
	border: 1px solid #f0f0f0 !important;
	border-radius: 3px !important;
	-webkit-box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17) !important;
	box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17) !important;
}

.lists-pagetitle-flexible-space {
	float: left;
}

.lists-align-right-container {
	float: right;
	margin-top: 18px;
	margin-bottom: 18px;
}

.lists-file-preview-data {
	cursor: pointer;
	color: #2067b0;
}