.crm-ml-entity-wrapper {
	padding: 0 15px 0 21px;
}

.crm-ml-entity-wrapper-animation-hide {
	animation: hideContent .3s linear forwards;
	-webkit-animation: hideContent .3s linear forwards;
}

.crm-ml-entity-wrapper-animation-show {
	animation: showReport .3s linear forwards;
	-webkit-animation: showReport .3s linear forwards;
}

@keyframes hideContent {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@-webkit-keyframes hideContent {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes showReport {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes showReport {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.crm-ml-entity-title .pagetitle-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-ml-entity-content {
	background: #fff;
	padding: 20px 20px 100px;
}

.crm-ml-entity-content-img-block {
	height: 220px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 45px;
	position: relative;
}

.crm-ml-entity-content-img {
	width: 100%;
	height: 100%;
	background: url(img/network.jpg) center;
	background-size: cover;
	animation: changeScale 10s infinite cubic-bezier(.43,.21,.36,1.12) both;
}

.crm-ml-entity-content-text-block {
	text-align: center;
	margin: 0 auto;
	max-width: 680px;
	color: #333;
}

.crm-ml-entity-content-title {
	font: 28px/34px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-ml-entity-content-text-notice {
	font-size: 14px;
	line-height: 20px;
	color: #535c69;
	margin: 45px 0 85px;
}

.crm-ml-entity-content-text {
	font: 22px/28px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-ml-entity-content-decs-block {
	margin: 30px 0;
}

.crm-ml-entity-content-desc {
	text-align: left;
	color: #525C69;
	padding: 10px 0;
}

@-webkit-keyframes changeScale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes changeScale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(1);
	}
}

.crm-ml-entity-progress-circle-wrapper {
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 0;
	background: #fff;
	border-radius: 50%;
}

.crm-ml-entity-progress-circle-wrapper-animate .crm-ml-entity-progress-circle-number {
	opacity: 1;
}

.crm-ml-entity-progress-circle-number {
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 46px;
	line-height: 46px;
	letter-spacing: -1px;
	color: #333;
	margin: -3% 0 0 0;
	opacity: 0;
	transition: 1s;
	z-index: 9;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	display: flex;
	align-items: flex-end;
}

.crm-ml-entity-progress-circle-bar-bg {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	stroke: #e7eef1;
	stroke-width: 5px;
	fill: #fff;
	stroke-dasharray: 400%;
}

.crm-ml-entity-progress-circle-bar-animate .crm-ml-entity-progress-circle-bar-progress {
	 opacity: 1;
}

.crm-ml-entity-progress-circle-bar-progress {
	opacity: .3;
	stroke-width: 5px;
	fill: transparent;
	stroke: #9dcf00 !important;
	transition: 1s cubic-bezier(0.65, 0.07, 0.37, 1.05);
	transform-origin: 50% 50%;
	transform: rotate(-90deg);
}

.crm-ml-entity-progress-circle-number span {
	content: '%';
	color: #333;
	opacity: .5;
	font-size: 34px;
	line-height: 40px;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition: .5s;
}

.crm-ml-entity-progress, .crm-ml-entity-content-circle, .crm-ml-entity-content-circle-start {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.crm-ml-entity-content-circle {
	width: 419px;
	height: 387px;
	background: url(img/circle.svg) no-repeat top -15px center;
}

.crm-ml-entity-content-circle-start {
	width: 419px;
	height: 387px;
	background: url(img/circle-start.svg) no-repeat top -15px center;
}

.crm-ml-entity-wrapper {
	padding: 0 15px 0 21px;
}

.crm-ml-entity-report {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.crm-ml-entity-title .pagetitle-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-ml-entity-report-block {
	background: #fff;
	padding: 15px 0;
	width: 100%;
}

.crm-ml-entity-report-block + .crm-ml-entity-report-block {
	margin-top: 15px;
}

.crm-ml-entity-report-title {
	color: #333;
	font: 22px/28px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 0 18px 18px;
}

.crm-ml-entity-report-title.with-border {
	border-bottom: 1px solid rgba(82, 92, 105, .1);
	padding-bottom: 18px;
}

.crm-ml-entity-report-title-result {
	font-size: 32px;
	line-height: 38px;
	padding-left: 7px;
}

.crm-ml-entity-report-title-result:after {
	content: '%';
	color: #828b95;
	font-size: 25px;
	line-height: 34px;
}

.crm-ml-entity-report-title-icon {
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%229%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3%205H.98a.4.4%200%200%201-.28-.686L4.22.866a.4.4%200%200%201%20.56%200L8.3%204.314A.4.4%200%200%201%208.02%205H6v2.6a.4.4%200%200%201-.4.4H3.4a.4.4%200%200%201-.4-.4V5z%22/%3E%3C/svg%3E) no-repeat top 3px center;
	border-radius: 50%;
	margin: 0 1px;
}

.crm-ml-entity-report-title-mark {
	text-transform: uppercase;
	font: 9px/14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 700;
	border-radius: 20px;
	padding: 3px 12px 3px 9px;
	vertical-align: middle;
	display: inline-block;
}

.crm-ml-entity-report-title-success .crm-ml-entity-report-title-mark {
	background: rgba(123, 213, 0, .22);
	color: #589309;
}

.crm-ml-entity-report-title-success .crm-ml-entity-report-title-icon {
	background-color: #9dcf00;
}

.crm-ml-entity-report-title-middle .crm-ml-entity-report-title-mark {
	background: rgba(255, 169, 0, .22);
	color: #b87c00;
}

.crm-ml-entity-report-title-fail .crm-ml-entity-report-title-mark {
	background: rgba(255, 87, 82, .22);
	color: #d2000d;
}

.crm-ml-entity-report-title-fail .crm-ml-entity-report-title-icon {
	background-color: #ff5752;
	transform: rotate(180deg);
}

.crm-ml-entity-report-detail {
	font-size: 13px;
	line-height: 18px;
	color: #525c69;
	margin: 0 18px;
}

.crm-ml-entity-report-detail-link {
	color: #0b66c3;
}

.crm-ml-entity-report-detail-text {
	margin-right: 3px;
}

.crm-ml-entity-report-detail-text:after {
	content: ':';
}

.crm-ml-entity-report-subtitle {
	font: 18px/24px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-ml-entity-report-block-chart, .crm-ml-entity-report-block-event {
	width: 48.9%;
}

.crm-ml-entity-report-stat, .crm-ml-entity-report-info {
	display: flex;
}

.crm-ml-entity-report-info {
	margin-top: 20px;
}

.crm-ml-entity-report-info-detail {
	font: 18px/24px  'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-ml-entity-report-info-text {
	color: #828b95;
	font: 12px/14px  'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-bottom: 24px;
}

.crm-ml-entity-report-info-value {
	color: #333;
	font: 30px/38px  'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-right: 3px;
}

.crm-ml-entity-report-info-days {
	color: #525c69;
}

.crm-ml-entity-report-info-dif-green {
	color: #779c00;
}

.crm-ml-entity-report-info-dif-red {
	color: #d2000d;
}

.crm-ml-entity-report-info-item {
	padding: 10px 16px 10px 15px;
	display: flex;
	flex-direction: column;
	max-width: 165px;
	width: 100%;  /* ie */
	box-sizing: border-box;
	position: relative;
}

.crm-ml-separator-left:before {
	content: '';
	height: 116px;
	width: 1px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(224, 224, 224, .6);
}

.crm-ml-entity-report-block-event .crm-ml-entity-report-title {
	display: flex;
	align-items: center;
}

.crm-ml-entity-report-block-event:before {
	content: '';
	position: absolute;
	top: 40px;
	left: -20px;
	border: 10px solid transparent;
	border-right-color: #fff;
}

.crm-ml-entity-report-arrows {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-top: 7px;
}

.crm-ml-entity-report-arrow + .crm-ml-entity-report-arrow {
	margin-left: 20px;
}

.crm-ml-entity-report-arrow {
	width: 21px;
	height: 21px;
	cursor: pointer;
	opacity: .5;
	transition: opacity .2s linear;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%2213%22%3E%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20opacity%3D%221%22%20d%3D%22M7.86%201.551L3.898%205.512%202.872%206.5l1.026.989L7.86%2011.45l-1.398%201.398L.114%206.5%206.462.153z%22/%3E%3C/svg%3E) no-repeat center;
}

.crm-ml-entity-report-arrow:hover{
	opacity: 1;
}

.crm-ml-entity-report-arrow-next {
	transform: rotate(180deg);
}

.crm-ml-entity-chart {
	height: 145px;
	flex-grow: 1;
}

.crm-ml-entity-report-event {
	padding: 18px;
}

.crm-ml-entity-report-event-name {
	display: block;
	color: #333;
	font: 14px/16px  'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
}

.crm-ml-entity-report-event-name:before {
	content: "\2014";
	padding-right: 10px;
}

.crm-ml-entity-report-act-link {
	cursor: pointer;
}

.crm-ml-button-hidden {
	display: none!important;
}