.user-profile-block-wrap {
	margin-left: 10px;
	margin-top: 13px;
	overflow: hidden;
}

.user-profile-block-wrap-l {
	float: left;
	min-width: 180px;
	padding-right: 35px;
	text-align: center;
}

.user-profile-block-wrap-r {
	float: right;
	padding-left: 15px;
	width: 205px;
}

.user-profile-block-wrap-cont {
	color: #555;
	font-size: 14px;
	overflow: hidden;
}


td.user-profile-img-block {
	text-align: center;
}

.user-profile-img-block {
	padding: 0 43px 0 0 !important;
	width: 200px;
}

.user-profile-img-wrap {
	border: 1px solid #c9d7da;
	margin: 0 0 10px;
	padding: 0;
	width: 178px;
}

.user-profile-img-wrap td {
	height: 200px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

.user-profile-img-wrap img,
.user-profile-img-default {
	display: inline-block;
	padding: 2px;
}

.user-profile-img-default {
	height: 200px;
	width: 200px;
	border: none;
	border-radius: 50%;
}
.user-profile-block {
	color: #555555;
	font-size: 14px;
	margin-top: -28px;
	width: 100%;
}

.user-profile-link {
	color: #2067b0;
	cursor: pointer;
	text-decoration: none;
	transition: border-bottom-color 0.2s linear 0s;
}

.user-profile-block a,
.user-profile-link {
	border-bottom: 1px solid transparent;
}

.user-profile-block a:hover,
.user-profile-link:hover {
	border-bottom: 1px solid;
}

.user-profile-block-right {
	overflow: hidden;
	word-wrap: break-word;
}
.user-profile-block td {
	padding: 0 14px 6px 0;
	vertical-align: top;
}
.user-profile-block-title {
	font-weight: bold;
	padding: 28px 14px 10px 0 !important;
}

.user-profile-status td {
	padding: 7px 14px 6px 0;
	vertical-align: middle;
}
.user-profile-status .employee-admin {
	margin-top: 0;
}
.user-profile-nowrap {
	width: 145px;
}

.user-profile-text {
	color: #555555;
}

.user-profile-right {
	width: 230px;
}

.user-profile-events {
	margin-bottom: 25px;
	padding: 10px 6px 6px;
	background: #fff;
	color: #555555;
	border: 1px solid #b5cdd1;
}

.user-profile-events {
	width: 190px;
}

.user-profile-events-title {
	color: #555555;
	font-weight: bold;
	padding: 0 0 10px 12px;
}

.user-profile-events-cont {
	background-color: #f5f5f5;
}

.user-profile-events-item {
	color: #555555;
	cursor: pointer;
	display: block;
	margin-bottom: 2px;
	padding: 8px 1px 6px 30px;
	position: relative;
	text-decoration: none;

	-webkit-transition: none;
	transition: none;
}
.user-profile-events-item i {
	background: url("../images/template_sprite.png?10") no-repeat 30px 30px;
	display: block;
	height: 15px;
	left: 10px;
	position: absolute;
	top: 10px;
	width: 15px;
}
.user-profile-events-item:link, .user-profile-events-item:active, .user-profile-events-item:visited {
	color: #555555;
	text-decoration: none;
}

.user-profile-events-item:hover {
	background-color: #e8eded;
}

.user-profile-item-active {
	background: none repeat 0 0 #dbe3e6 !important;
	color: #2466a0 !important;
	font-weight: bold;
	text-shadow: 0 1px 0 #ffffff;
}

.user-profile-edit i {
	background-position: -113px -1002px !important;
}

.user-profile-add-sub i {
	background-position: -162px -867px !important;
}
.user-profile-dismiss i {
	background-position: -91px -1002px !important;
}

.user-profile-pass-app i {
	background-position: -36px -331px;
}

.user-profile-sync-settings i {
	background-position: -2px 0px;
}

.user-profile-adm-mode i {
	background-position: -69px -333px;
}

.user-profile-security i {
	background-position: -7px -333px;
}

.user-profile-codes i {
	background-position: -101px -331px;
}

.user-profile-right-block {
	color: #555555;
	margin-bottom: 25px;
	padding-left: 25px;
	position: relative;
}

.user-profile-otp-on {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: inline-block;
	background-color: transparent;
	box-sizing: border-box;
	padding: 0 15px;
	transition: border .3s ease, background .3s ease, color .3s ease;
	text-align: center;
	vertical-align: middle;
	color: #7aa548;
	border: 1px solid #aee38e;border-radius: 9px;line-height: 18px;
	height: 20px;
	font-size: 13px;
	padding-bottom: 2px;
	font-weight: normal;
	margin-right: 10px;
}

.user-profile-otp-off {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: inline-block;
	background-color: transparent;
	box-sizing: border-box;
	padding: 0 15px;
	transition: border .3s ease, background .3s ease, color .3s ease;
	text-align: center;
	vertical-align: middle;
	color: #F51919;
	border: 1px solid #FF8989;
	border-radius: 9px;line-height: 18px;
	height: 20px;
	font-size: 13px;
	padding-bottom: 2px;
	font-weight: normal;
	margin-right: 10px;
}

.user-profile-otp-link {
	display: inline-block;
	color:#818791;
	border-bottom:1px solid #818791;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	transition: border .2s ease,  color .2s ease;
	font-size: 14px;
	padding-bottom: 1px;
	margin-right: 10px;
}

.user-profile-otp-link:hover{
	color:#5a5c60;
	border-bottom: 1px solid #fff;
}

.user-profile-otp-days {
	display: inline-block;
	color:#939394;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin-right: 10px;
}

td.user-profile-mail-link {
	overflow: visible;
	vertical-align: middle;
}


.user-profile-mail-link-block {
	height: 42px;
	line-height: 42px;
	position: relative;
}

.user-profile-short-link {
	color: #000000;
	display: inline-block;
	max-width: 100px;
	overflow: hidden;
	vertical-align: top;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.user-profile-show-link-btn {
	display: inline-block;
	margin-top: 1px;
	font-size: 12px;
	line-height: normal;
}

.user-profile-link-input {
	border: 1px solid #d9dbde;
	height: 40px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 40px;
	margin-left: -10px;
	max-width: 220px;
	left: 0;
	top: 100px;
	opacity: 0;
	position: absolute;
	padding: 0 9px;
	width: 0;
}


.user-profile-show-input .user-profile-link-input {
	position: static;
	-webkit-transition: width 0.25s linear;
	transition: width 0.25s linear;
}

.employee-dept-post {
	background-color: #fdce5a;
	border-radius: 2px;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 19px;
	margin-top: 3px;
	min-width: 93px;
	padding: 2px 7px;
	text-align: center;
	height: 20px;
}

.employee-dept-extranet {
	background-color: #9faab8;
	background-image: linear-gradient(to bottom, #abb4c0, #949faf);
	color: #ffffff;
	text-shadow: 1px 1px 0 #848e9a;
}

.employee-dept-integrator {
	background-color: #48B2BE;
	color: #ffffff;
	text-shadow: 1px 1px 0 #848e9a;
}

.employee-dept-admin {
	background-color: #47B0DF;
	color: #ffffff;
	text-shadow: 1px 1px 0 #848e9a;
}

employee-dept-invited
.employee-info-block .employee-dept-extranet {
	margin-top: 8px;
}

.employee-dept-fired {
	background-color: #d7d7d7;
	background-image: linear-gradient(to bottom, #dfdfdf, #d1d1d1);
	color: #404040;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.employee-info-block .employee-dept-fired {
	margin-top: 8px;
}
.employee-dept-inactive, .employee-dept-invited {
	background-color: #bdd36b;
	background-image: linear-gradient(to bottom, #c9db86, #b0cb4f);
	color: #373e1d;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}
.employee-info-block .employee-dept-inactive, .employee-info-block .employee-dept-invited {
	margin-top: 8px;
}