/* DISC VOLUME */

.crm-volume-wrap {
	padding: 0;
	position: relative;
}

.grid-mode .crm-volume-wrap {
	padding: 15px;
}

.crm-volume-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px 0 0 0;
	font: 16px/22px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
}
.crm-volume-wrap-state {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 800px;
}

.crm-volume-left-block {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 0 30px 0 0;
	max-width: 500px;
}

.crm-volume-right-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.crm-volume-main-title {
	margin: 0 0 25px 0;
	font: 41px/56px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.crm-volume-item:last-child {
	margin: 25px 0 0 0;
}

.crm-volume-logo-main {
	margin: 12px 16px 0 auto;
	width: 267px;
	height: 302px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20267%20302%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%22133.5%22%20cy%3D%22133.5%22%20r%3D%22133.5%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.285%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M254.02%20110.93c2.778-5.35%201.442-10.49-3.142-12.86-4.726-2.444-9.465-.642-12.304%204.778-7.022%2013.41-13.997%2026.842-21.004%2040.26-5.07%209.71-10.165%2019.41-15.328%2029.266-1.358-.677-2.492-1.22-3.606-1.798-9.02-4.692-18.022-9.42-27.06-14.077-5.9-3.04-12.123-.484-13.43%205.43-.94%204.247%201.054%207.876%205.746%2010.316%2018.244%209.487%2036.496%2018.96%2054.748%2028.433%207.588%203.937%2015.128%207.973%2022.79%2011.76%204.325%202.14%209.267.46%2011.423-3.48%202.28-4.168.916-9.138-3.287-11.76-1.27-.793-2.632-1.443-3.964-2.137-9.2-4.793-18.4-9.58-27.803-14.476.57-1.147%201.008-2.056%201.473-2.95%2011.586-22.235%2023.195-44.455%2034.747-66.706M238.884%20221.44c-26.898-13.947-53.782-27.92-80.636-41.948-2.468-1.29-4.322-.883-6.227.96-17.07%2016.518-34.174%2032.998-51.247%2049.512-2.61%202.525-2.344%205.04.835%206.796%204.134%202.28%208.392%204.335%2012.903%206.644.516-.65.928-1.252%201.423-1.777%2012.27-13.038%2024.557-26.058%2036.812-39.108%201.57-1.672%203.254-2.94%205.267-1.007%201.906%201.832.64%203.536-.784%205.042-4.1%204.338-8.195%208.678-12.3%2013.01-8.284%208.735-16.573%2017.466-25.178%2026.534l13.696%207.21c.985-1.364%201.707-2.332%202.395-3.323%209.507-13.71%2019.012-27.423%2028.505-41.14%201.18-1.707%202.552-3.394%204.706-1.78%201.988%201.488%201.21%203.407-.02%205.156-2.94%204.185-5.844%208.396-8.763%2012.596L138.582%20256c5.047%202.606%209.57%204.94%2014.378%207.42.86-1.553%201.643-2.898%202.36-4.28%207.412-14.248%2014.808-28.505%2022.223-42.752.927-1.78%202.065-3.72%204.44-2.6%202.584%201.216%201.754%203.236.697%205.237-3.638%206.885-7.192%2013.812-10.78%2020.722l-13.684%2026.342c3.29%201.73%206.275%203.302%209.413%204.953.525-.968%201.023-1.787%201.43-2.65%207.128-15.066%2014.25-30.137%2021.358-45.212.962-2.038%202.182-3.82%204.713-2.56%202.45%201.22%201.492%203.188.62%205.02-3.08%206.484-6.136%2012.978-9.204%2019.466l-13.6%2028.768%2014.353%207.458c.617-1.555%201.187-2.885%201.68-4.244%205.52-15.198%2011.013-30.408%2016.563-45.597.686-1.876%201.212-4.338%204.2-3.213%202.81%201.058%202.027%203.113%201.282%205.16-3.535%209.715-7.04%2019.44-10.554%2029.163-2.587%207.164-5.168%2014.33-7.787%2021.592%205.138%202.627%209.918%205.07%2014.887%207.613.29-1.117.436-1.58.528-2.05%203.373-17.318%206.753-34.635%2010.095-51.96.38-1.97.94-3.772%203.394-3.276%202.498.504%202.592%202.307%202.16%204.53-2.912%2014.93-5.738%2029.877-8.545%2044.826-.668%203.56-2.683%207.96-1.328%2010.51%201.478%202.785%206.12%203.934%209.443%205.682%204.072%202.142%206.026%201.06%206.743-3.522%201.072-6.853%202.188-13.7%203.278-20.552%202.6-16.35%205.176-32.702%207.817-49.045.388-2.394.154-4.253-2.27-5.512%22%20opacity%3D%22.391%22/%3E%3Cg%20transform%3D%22translate%2852%2047%29%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M159.378%20157.453l-2.17-15.358c0-2.137-.564-4.216-1.61-6.033l-8.81-94.09c0-1.212-.184-2.38-.525-3.48l-1.118-11.99c0-3.05-1.207-5.977-3.354-8.134-2.145-2.158-5.055-3.37-8.09-3.368H29.35c-3.036%200-5.946%201.21-8.093%203.368-2.146%202.157-3.352%205.083-3.353%208.135l-1.12%2011.988c-.34%201.1-.522%202.27-.522%203.482l-9.096%2097.123c-.244.96-.374%201.964-.374%203l-2.17%2015.358C4.218%20158.725%204%20160.08%204%20161.488c0%20.113%200%20.226.004.338l-.004.03c0%202.553.79%204.92%202.133%206.865%202.373%203.663%206.496%206.085%2011.184%206.085h129.366c4.69%200%208.812-2.423%2011.184-6.085%201.345-1.945%202.133-4.312%202.133-6.864l-.004-.03c.003-.112.004-.225.004-.338%200-1.407-.218-2.763-.622-4.035z%22%20opacity%3D%22.111%22/%3E%3Cpath%20fill%3D%22%23F1F1F1%22%20d%3D%22M26.65%200h109.7c3.19%200%206.25%201.272%208.508%203.54%202.256%202.268%203.524%205.345%203.525%208.553L159%20125.907c0%203.208-1.27%206.285-3.526%208.553-2.256%202.268-5.316%203.54-8.506%203.54H16.032c-3.19%200-6.25-1.272-8.506-3.54C5.27%20132.192%204%20129.115%204%20125.907L14.617%2012.093c0-3.208%201.27-6.285%203.525-8.553C20.4%201.272%2023.46%200%2026.65%200z%22/%3E%3Cpath%20fill%3D%22%2315AAD2%22%20d%3D%22M25.233%2016h112.534c6.817%200%2012.343%205.532%2012.343%2012.356L161%20144.644c0%206.824-5.526%2012.356-12.342%2012.356H14.342C7.526%20157%202%20151.468%202%20144.644L12.89%2028.356C12.89%2021.532%2018.416%2016%2025.233%2016z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M15.408%20121H148.59c3.31%200%206.482%201.33%208.82%203.694%202.34%202.366%203.655%205.574%203.655%208.92L164%20154.386c0%206.966-5.585%2012.613-12.474%2012.613H12.473C5.583%20167%200%20161.352%200%20154.387l2.935-20.774C2.935%20126.648%208.52%20121%2015.408%20121z%22/%3E%3Crect%20width%3D%22164%22%20height%3D%2228%22%20y%3D%22140%22%20fill%3D%22%23F1F1F1%22%20fill-rule%3D%22nonzero%22%20rx%3D%2214%22/%3E%3Cpath%20fill%3D%22%23BFBFBF%22%20d%3D%22M46.448%205h71.104c1.904%200%203.448.895%203.448%202s-1.544%202-3.448%202H46.448C44.544%209%2043%208.105%2043%207s1.544-2%203.448-2z%22/%3E%3Ccircle%20cx%3D%2239%22%20cy%3D%22153%22%20r%3D%222%22%20fill%3D%22%237BD500%22%20fill-rule%3D%22nonzero%22/%3E%3Ccircle%20cx%3D%2233%22%20cy%3D%22153%22%20r%3D%222%22%20fill%3D%22%23FF5752%22%20fill-rule%3D%22nonzero%22/%3E%3Ccircle%20cx%3D%2227%22%20cy%3D%22153%22%20r%3D%222%22%20fill%3D%22%23D3D3D3%22%20fill-rule%3D%22nonzero%22/%3E%3Ccircle%20cx%3D%2221%22%20cy%3D%22153%22%20r%3D%222%22%20fill%3D%22%23D3D3D3%22%20fill-rule%3D%22nonzero%22/%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M41.438%20104.993c-10.96-.275-18.638-8.94-17.283-19.16%201.13-8.517%208.227-15.42%2016.765-17.205-.42-1.99-.542-4.062-.328-6.175C41.84%2050.1%2053.688%2041%2066.804%2041c8.113%200%2015.352%203.484%2019.806%208.96%202.8-1.035%205.86-1.602%209.052-1.602%2012.403%200%2023.283%208.546%2024.98%2019.85.366-.02.736-.03%201.11-.03%2010.357%200%2019.778%207.73%2021.093%2017.655%201.332%2010.053-6.075%2018.602-16.75%2019.14V105H41.44v-.007z%22%20opacity%3D%22.073%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M41.438%20101.993c-10.96-.275-18.638-8.94-17.283-19.16%201.13-8.517%208.227-15.42%2016.765-17.205-.42-1.99-.542-4.062-.328-6.175C41.84%2047.1%2053.688%2038%2066.804%2038c8.113%200%2015.352%203.484%2019.806%208.96%202.8-1.035%205.86-1.602%209.052-1.602%2012.403%200%2023.283%208.546%2024.98%2019.85.366-.02.736-.03%201.11-.03%2010.357%200%2019.778%207.73%2021.093%2017.655%201.332%2010.053-6.075%2018.602-16.75%2019.14V102H41.44v-.007z%22/%3E%3Cpath%20fill%3D%22%238DBA00%22%20d%3D%22M82%2055c11.598%200%2021%208.283%2021%2018.5S93.598%2092%2082%2092s-21-8.283-21-18.5S70.402%2055%2082%2055z%22/%3E%3Cpath%20fill%3D%22%23F1F1F1%22%20d%3D%22M80.5%2063c1.38%200%202.5.932%202.5%202.08v9.84c0%201.148-1.12%202.08-2.5%202.08s-2.5-.932-2.5-2.08v-9.84c0-1.15%201.12-2.08%202.5-2.08z%22/%3E%3Cpath%20fill%3D%22%23F1F1F1%22%20d%3D%22M94%2076c0%201.104-1.065%202-2.378%202H80.378C79.065%2078%2078%2077.105%2078%2076s1.065-2%202.378-2H91.62c1.315%200%202.38.896%202.38%202z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.crm-volume-button-container {
	position: relative;
	margin: 20px 0 25px 0;
	padding: 40px 0 0 0;
	border-top: 1px solid rgba(168,173,180,.2);
}

.crm-volume-button-margin-top {
	margin: 20px 0 0 0;
}



.crm-volume-wrap #bx-crm-volume-process
{
	display: none;
}

.crm-volume-wrap.crm-volume-running #bx-crm-volume-process {
	display: block;
}


.crm-volume-title {
	margin: 0;
	width: 100%;
	color: #525C69;
	text-align: center;
}

.crm-volume-link {
	color: #525C69;
}

.crm-volume-loader {
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 400px;
	overflow: hidden;
}

.crm-volume-loader-logo {
	margin: 65px auto 0 auto;
	width: 267px;
	height: 267px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20267%20267%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%22133.5%22%20cy%3D%22133.5%22%20r%3D%22133.5%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.285%22/%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M211.378%20202.453l-2.17-15.358c0-2.137-.564-4.216-1.61-6.033l-8.81-94.09c0-1.212-.184-2.38-.525-3.48l-1.118-11.99c0-3.05-1.207-5.977-3.354-8.134-2.145-2.158-5.055-3.37-8.09-3.368H81.35c-3.036%200-5.946%201.21-8.093%203.368-2.146%202.157-3.352%205.083-3.353%208.135l-1.12%2011.988c-.34%201.1-.522%202.27-.522%203.482l-9.096%2097.123c-.244.96-.374%201.964-.374%203l-2.17%2015.358c-.404%201.272-.622%202.628-.622%204.035%200%20.113%200%20.226.004.338l-.004.03c0%202.553.79%204.92%202.133%206.865%202.373%203.663%206.496%206.085%2011.184%206.085h129.366c4.69%200%208.812-2.423%2011.184-6.085%201.345-1.945%202.133-4.312%202.133-6.864l-.004-.03c.003-.112.004-.225.004-.338%200-1.407-.218-2.763-.622-4.035z%22%20opacity%3D%22.111%22/%3E%3Cpath%20fill%3D%22%23F1F1F1%22%20d%3D%22M78.65%2043h109.7c3.19%200%206.25%201.272%208.508%203.54%202.256%202.268%203.524%205.345%203.525%208.553L211%20168.907c0%203.208-1.27%206.285-3.526%208.553-2.256%202.268-5.316%203.54-8.506%203.54H68.032c-3.19%200-6.25-1.272-8.506-3.54-2.257-2.268-3.525-5.345-3.526-8.553L66.617%2055.093c0-3.208%201.27-6.285%203.525-8.553C72.4%2044.272%2075.46%2043%2078.65%2043z%22/%3E%3Cpath%20fill%3D%22%2315AAD2%22%20d%3D%22M77.233%2059h112.534c6.817%200%2012.343%205.532%2012.343%2012.356L213%20187.644c0%206.824-5.526%2012.356-12.342%2012.356H66.342C59.526%20200%2054%20194.468%2054%20187.644L64.89%2071.356C64.89%2064.532%2070.416%2059%2077.233%2059z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M67.408%20164H200.59c3.31%200%206.482%201.33%208.82%203.694%202.34%202.366%203.655%205.574%203.655%208.92L216%20197.386c0%206.966-5.585%2012.613-12.474%2012.613H64.473C57.583%20210%2052%20204.352%2052%20197.387l2.935-20.774c0-6.965%205.584-12.612%2012.473-12.613z%22/%3E%3Crect%20width%3D%22164%22%20height%3D%2228%22%20x%3D%2252%22%20y%3D%22183%22%20fill%3D%22%23F1F1F1%22%20fill-rule%3D%22nonzero%22%20rx%3D%2214%22/%3E%3Cpath%20fill%3D%22%23BFBFBF%22%20d%3D%22M98.448%2048h71.104c1.904%200%203.448.895%203.448%202s-1.544%202-3.448%202H98.448C96.544%2052%2095%2051.105%2095%2050s1.544-2%203.448-2z%22/%3E%3Ccircle%20cx%3D%2291%22%20cy%3D%22196%22%20r%3D%222%22%20fill%3D%22%237BD500%22%20fill-rule%3D%22nonzero%22/%3E%3Ccircle%20cx%3D%2285%22%20cy%3D%22196%22%20r%3D%222%22%20fill%3D%22%23FF5752%22%20fill-rule%3D%22nonzero%22/%3E%3Ccircle%20cx%3D%2279%22%20cy%3D%22196%22%20r%3D%222%22%20fill%3D%22%23D3D3D3%22%20fill-rule%3D%22nonzero%22/%3E%3Ccircle%20cx%3D%2273%22%20cy%3D%22196%22%20r%3D%222%22%20fill%3D%22%23D3D3D3%22%20fill-rule%3D%22nonzero%22/%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M93.438%20147.993c-10.96-.275-18.638-8.94-17.283-19.16%201.13-8.517%208.227-15.42%2016.765-17.205-.42-1.99-.542-4.062-.328-6.175C93.84%2093.1%20105.688%2084%20118.804%2084c8.113%200%2015.352%203.484%2019.806%208.96%202.8-1.035%205.86-1.602%209.052-1.602%2012.403%200%2023.283%208.546%2024.98%2019.85.366-.02.736-.03%201.11-.03%2010.357%200%2019.778%207.73%2021.093%2017.655%201.332%2010.053-6.075%2018.602-16.75%2019.14V148H93.44v-.007z%22%20opacity%3D%22.073%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M93.438%20144.993c-10.96-.275-18.638-8.94-17.283-19.16%201.13-8.517%208.227-15.42%2016.765-17.205-.42-1.99-.542-4.062-.328-6.175C93.84%2090.1%20105.688%2081%20118.804%2081c8.113%200%2015.352%203.484%2019.806%208.96%202.8-1.035%205.86-1.602%209.052-1.602%2012.403%200%2023.283%208.546%2024.98%2019.85.366-.02.736-.03%201.11-.03%2010.357%200%2019.778%207.73%2021.093%2017.655%201.332%2010.053-6.075%2018.602-16.75%2019.14V145H93.44v-.007z%22/%3E%3Cpath%20fill%3D%22%238DBA00%22%20d%3D%22M134%2098c11.598%200%2021%208.283%2021%2018.5s-9.402%2018.5-21%2018.5-21-8.283-21-18.5S122.402%2098%20134%2098z%22/%3E%3Cpath%20fill%3D%22%23F1F1F1%22%20d%3D%22M132.5%20106c1.38%200%202.5.932%202.5%202.08v9.84c0%201.148-1.12%202.08-2.5%202.08s-2.5-.932-2.5-2.08v-9.84c0-1.15%201.12-2.08%202.5-2.08z%22/%3E%3Cpath%20fill%3D%22%23F1F1F1%22%20d%3D%22M146%20119c0%201.104-1.065%202-2.378%202h-11.244c-1.313%200-2.378-.895-2.378-2s1.065-2%202.378-2h11.242c1.315%200%202.38.896%202.38%202z%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.crm-volume-loader-progress-bar {
	margin: 0 0 28px 0;
	width: 100%;
	font: 16px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	text-align: center;
}

.crm-volume-loader-progress-bar-number {
	display: block;
	margin: 0 0 10px 0;
}

.crm-volume-loader-progress-bar-line {
	position: relative;
	margin: 0 auto;
	height: 7px;
	max-width: 267px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	background: #EDEEF0;
	overflow: hidden;
}

.crm-volume-loader-progress-bar-line-active {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 7px;
	background: #9DCF00;
}

.crm-volume-circular {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 380px;
	width: 380px;
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.crm-volume-path {
	stroke: rgba(47,198,246,.7);
	stroke-width: .6;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

.crm-volume-info {
	width: 100%;
	text-align: center;
}

.grid-mode .crm-volume-info-control-panel {
	margin: -15px -15px 15px -15px;
}

.crm-volume-info-control-panel-link {
	display: inline-block;
	border-bottom: 1px solid transparent;
	color: #2C77B1;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-transition: border-bottom .3s;
	transition: border-bottom .3s;
	vertical-align: middle;
	line-height: normal;
}

.crm-volume-info-control-panel-link:hover {
	border-bottom: 1px solid #2C77B1;
	color: #2C77B1;
}



.crm-volume-alert {
	margin: -15px -15px 15px -15px;
}



/* running state */
.crm-volume-wrap.crm-volume-running #bx-crm-volume-starter ,
.crm-volume-wrap.crm-volume-running #bx-crm-volume-buttons {
	display: none;
}

.crm-volume-wrap #bx-crm-volume-process
{
	display: none;
}

.crm-volume-wrap.crm-volume-running #bx-crm-volume-process {
	display: block;
}

.popup-window.crm-volume-alert-popup
{
	padding: 0;
}

.crm-volume-border {
	border-bottom: 4px solid #eef2f4;
}

.crm-volume-header-container {
	margin: 0 0 23px 0;
}

.crm-volume-header-icon {
	display: inline-block;
	margin: 0 20px 0 0;
	width: 70px;
	height: 70px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.crm-volume-header-icon-default-disk {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2070%2070%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2235%22%20cy%3D%2235%22%20r%3D%2235%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.285%22/%3E%3Cg%20transform%3D%22translate%2812.88%2010.356%29%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M41.12%2041.784l-.56-3.967c0-.552-.146-1.09-.416-1.558L37.87%2011.964c0-.313-.048-.615-.136-.9l-.29-3.095c0-.788-.31-1.543-.865-2.1-.555-.557-1.307-.87-2.09-.87H7.545c-.783%200-1.535.313-2.09.87-.553.557-.865%201.312-.865%202.1l-.29%203.095c-.087.285-.134.587-.134.9L1.818%2037.042c-.064.248-.097.508-.097.775l-.56%203.96c-.103.33-.16.682-.16%201.047v.095c0%20.664.207%201.28.56%201.784.613.938%201.67%201.56%202.874%201.56h33.412c1.24%200%202.32-.652%202.923-1.63.322-.49.51-1.08.51-1.715v-.008-.088c0-.362-.056-.71-.16-1.04z%22%20opacity%3D%22.111%22/%3E%3Cpath%20fill%3D%22%23F1F1F1%22%20d%3D%22M6.802%200h28.102c.817%200%201.6.328%202.18.91.577.585.902%201.377.902%202.203l2.72%2029.3c0%20.826-.326%201.618-.904%202.202-.578.583-1.362.91-2.18.91H4.083c-.817%200-1.6-.327-2.18-.91C1.326%2034.03%201%2033.24%201%2032.413l2.72-29.3c0-.826.325-1.618.903-2.202C5.2.33%205.985%200%206.803%200z%22/%3E%3Cpath%20fill%3D%22%2315AAD2%22%20d%3D%22M6.005%204h29.088c1.762%200%203.19%201.435%203.19%203.205l2.816%2030.16c0%201.77-1.43%203.206-3.192%203.206H3.19C1.428%2040.57%200%2039.137%200%2037.367l2.815-30.16C2.815%205.435%204.243%204%206.005%204z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M3.992%2032H38.5c.856%200%201.68.342%202.285.95.606.61.946%201.436.946%202.297l.762%205.348c0%201.793-1.447%203.247-3.232%203.247H3.232C1.447%2043.842%200%2042.388%200%2040.595l.76-5.348C.76%2033.454%202.207%2032%203.992%2032z%22/%3E%3Crect%20width%3D%2242.492%22%20height%3D%227.314%22%20y%3D%2236%22%20fill%3D%22%23F1F1F1%22%20fill-rule%3D%22nonzero%22%20rx%3D%223.657%22/%3E%3Cpath%20fill%3D%22%23BFBFBF%22%20d%3D%22M11.893%201h18.415c.493%200%20.893.234.893.522%200%20.29-.4.523-.892.523H11.893c-.493%200-.893-.234-.893-.523%200-.288.4-.522.893-.522z%22/%3E%3Ccircle%20cx%3D%2210.522%22%20cy%3D%2239.522%22%20r%3D%221%22%20fill%3D%22%237BD500%22%20fill-rule%3D%22nonzero%22/%3E%3Ccircle%20cx%3D%228.522%22%20cy%3D%2239.522%22%20r%3D%221%22%20fill%3D%22%23FF5752%22%20fill-rule%3D%22nonzero%22/%3E%3Ccircle%20cx%3D%227.522%22%20cy%3D%2239.522%22%20r%3D%221%22%20fill%3D%22%23D3D3D3%22%20fill-rule%3D%22nonzero%22/%3E%3Ccircle%20cx%3D%225.522%22%20cy%3D%2239.522%22%20r%3D%221%22%20fill%3D%22%23D3D3D3%22%20fill-rule%3D%22nonzero%22/%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M10.49%2027.716c-2.82-.072-4.8-2.335-4.45-5.005.29-2.224%202.12-4.026%204.318-4.493-.108-.52-.14-1.06-.085-1.613.322-3.227%203.374-5.604%206.752-5.604%202.09%200%203.954.91%205.1%202.34.722-.27%201.51-.418%202.332-.418%203.195%200%205.997%202.232%206.434%205.185.096-.005.19-.008.287-.008%202.668%200%205.094%202.02%205.433%204.61.343%202.627-1.565%204.86-4.314%205v.008H10.49v-.002z%22%20opacity%3D%22.073%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.49%2026.716c-2.82-.072-4.8-2.335-4.45-5.005.29-2.224%202.12-4.026%204.318-4.493-.108-.52-.14-1.06-.085-1.613.322-3.227%203.374-5.604%206.752-5.604%202.09%200%203.954.91%205.1%202.34.722-.27%201.51-.418%202.332-.418%203.195%200%205.997%202.232%206.434%205.185.096-.005.19-.008.287-.008%202.668%200%205.094%202.02%205.433%204.61.343%202.627-1.565%204.86-4.314%205v.008H10.49v-.002z%22/%3E%3Cpath%20fill%3D%22%238DBA00%22%20d%3D%22M21.573%2014c3.077%200%205.572%202.105%205.572%204.702s-2.495%204.702-5.572%204.702C18.495%2023.404%2016%2021.3%2016%2018.702S18.495%2014%2021.573%2014z%22/%3E%3Cpath%20fill%3D%22%23F1F1F1%22%20d%3D%22M20.697%2016c.384%200%20.696.255.696.57v2.692c0%20.314-.312.57-.696.57-.385%200-.697-.256-.697-.57V16.57c0-.315.312-.57.697-.57z%22/%3E%3Cpath%20fill%3D%22%23F1F1F1%22%20d%3D%22M24.18%2019.522c0%20.29-.28.523-.622.523H20.62c-.342%200-.62-.234-.62-.523%200-.288.278-.522.62-.522h2.938c.343%200%20.622.234.622.522z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.crm-volume-header-block {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 100px);
}

.crm-volume-header-title {
	margin: 0 0 5px 0;
	font: 27px/37px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.crm-volume-header-amount-info {
	display: inline-block;
	margin: 0 30px 0 0;
	font: 18px/22px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #79818D;
}



.crm-volume-percent-diagram {
	position: relative;
	margin: 0 0 13px 0;
	height: 30px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
	display: flex;
}
.crm-volume-percent-diagram > .crm-volume-percent-part {
	height: 30px;
	min-width: 2px;
}

.crm-volume-percent-legend {
	margin: 0 0 13px 0;
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #535C69;
}

.crm-volume-percent-legend-title {
	display: inline-block;
	margin: 0 15px 0 0;
}

.crm-volume-percent-legend-part {
	display: inline-block;
	margin: 0 23px 0 0;
}

.crm-volume-percent-legend-part:last-child {
	margin: 0;
}

.crm-volume-percent-legend-part-circle {
	display: inline-block;
	margin: 0 5px 0 0;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
}

.crm-volume-percent-legend-part-text {
	display: inline-block;
}

#bx-crm-volume-show-full-legend {
	cursor: pointer;
}



/*************** stepper ***************/
.crm-volume-stepper {
	margin: -15px -15px 15px -15px;
}

.crm-volume-header-link {
	display: inline-block;
	border-bottom: 1px solid #468EE5;
	font: 13px/18px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #468EE5;
	-webkit-transition: border-bottom .3s;
	transition: border-bottom .3s;
	vertical-align: top;
	cursor: pointer;
}

.crm-volume-header-link:hover {
	color: #468EE5;
	border-bottom: 1px solid transparent;
}

#bx-crm-volume-cancel-workers {
	margin-left: 10px;
}

.crm-volume-cancel-link {
	color: #468EE5;
	cursor: pointer;
}
.crm-volume-cancel-link:hover {
	color: #468EE5;
	border-bottom: 1px solid #468EE5;
}
#bx-crm-volume-process-cancel {
	margin-left: 10px;
}

/* modal */
.tac {
	text-align: center;
}
.crm-volume-popup-buttons {
	padding:20px 10px 10px;
	text-align:center;
}
.crm-volume-popup-content {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:16px;
	min-width:500px;
	color:#000;
	border-radius:2px;
	background-color:#edf1f3;
}
.crm-volume-popup-content .crm-volume-popup-content{
	font-size:14px;
	padding: 20px;
	color:#535c69;
	/*background-color:#f8fafa;*/
	background-color: #eef2f4;
}
.crm-volume-popup-container.crm-volume-popup-content
{
	padding: 20px;
	background-color: #eef2f4;
}
.crm-volume-popup-content-title{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding-bottom:20px;
	color:#535b69;
	border-bottom:1px solid #cfd4d8;
}
.crm-volume-popup-content-title.noborder{
	border: none;
}
.crm-volume-popup-container {
	min-width: 400px;
	max-width: 750px;
}

/* filter */
.crm-volume-popup-container .main-ui-square-item {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	flex-basis: min-content;
	overflow: visible;
	padding: 0 13px;
	margin: 0 3px 3px 0;
	height: 30px;
	border-radius: 2px;
	background: #bcedfc;
	font: 15px/30px "Helvetica Neue", Arial, Helvetica, sans-serif;
	vertical-align: middle;
	-webkit-transition: background 0.2s linear;
	transition: background 0.2s linear;
	z-index: 2;
	box-sizing: border-box;
	min-width: 180px;
	max-width: 550px;
}

.crm-volume-popup-container .main-ui-square-delete {
	display: none;
}