.disk-breadcrumbs {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	overflow: hidden;
	padding-left: 12px;
	font-family: 'OpenSans-Regular', "Helvetica Neue", Helvetica, sans-serif;
	font-size: 0;
}

.disk-breadcrumbs-item {
	flex: 0 1 auto;
	flex-shrink: 0;
	white-space: nowrap;
}

.disk-breadcrumbs-item-title,
.disk-breadcrumbs-item-title:hover {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: #525C69;
	transition: .1s;
	cursor: pointer;
}

.bitrix24-light-theme .disk-breadcrumbs-item-title {
	color: #fff;
	opacity: 1;
}

.bitrix24-dark-theme .disk-breadcrumbs-item-title {
	color: rgba(51,51,51,.8);
	opacity: 1;
}

.bitrix24-dark-theme .disk-breadcrumbs-item-title:hover {
	color: #1f2127;
}

.disk-breadcrumbs-item-title:hover {
	opacity: 1;
}

.disk-breadcrumbs-item-arrow {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 100%;
	margin: 0 4px;
	opacity: .5;
	transition: .1s;
	cursor: pointer;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%226px%22%20height%3D%2210px%22%20viewBox%3D%220%200%206%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%20%3Cg%20stroke-width%3D%221%22%20transform%3D%22translate%28-478.000000%2C%20-217.000000%29%22%3E%3Cpath%20d%3D%22M477.5%2C223.5%20L482%2C223.5%20L482%2C225%20L477.5%2C225%20L476%2C225%20L476%2C219%20L477.5%2C219%20L477.5%2C223.5%20Z%22%20id%3D%22Path%22%20fill%3D%22%239299A2%22%20transform%3D%22translate%28479.000000%2C%20222.000000%29%20scale%28-1%2C%201%29%20rotate%2845.000000%29%20translate%28-479.000000%2C%20-222.000000%29%20%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E') center center no-repeat;
}

.bitrix24-light-theme .disk-breadcrumbs-item-arrow {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%226px%22%20height%3D%2210px%22%20viewBox%3D%220%200%206%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%20%3Cg%20stroke-width%3D%221%22%20transform%3D%22translate%28-478.000000%2C%20-217.000000%29%22%3E%3Cpath%20d%3D%22M477.5%2C223.5%20L482%2C223.5%20L482%2C225%20L477.5%2C225%20L476%2C225%20L476%2C219%20L477.5%2C219%20L477.5%2C223.5%20Z%22%20id%3D%22Path%22%20fill%3D%22%23fff%22%20transform%3D%22translate%28479.000000%2C%20222.000000%29%20scale%28-1%2C%201%29%20rotate%2845.000000%29%20translate%28-479.000000%2C%20-222.000000%29%20%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E');
}

.bitrix24-dark-theme .disk-breadcrumbs-item-arrow {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%226px%22%20height%3D%2210px%22%20viewBox%3D%220%200%206%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%20%3Cg%20stroke-width%3D%221%22%20transform%3D%22translate%28-478.000000%2C%20-217.000000%29%22%3E%3Cpath%20d%3D%22M477.5%2C223.5%20L482%2C223.5%20L482%2C225%20L477.5%2C225%20L476%2C225%20L476%2C219%20L477.5%2C219%20L477.5%2C223.5%20Z%22%20id%3D%22Path%22%20fill%3D%22%23333%22%20transform%3D%22translate%28479.000000%2C%20222.000000%29%20scale%28-1%2C%201%29%20rotate%2845.000000%29%20translate%28-479.000000%2C%20-222.000000%29%20%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E');
}

.disk-breadcrumbs-item-arrow:hover {
	opacity: 1;
}

.disk-breadcrumbs-item:last-child .disk-breadcrumbs-item-arrow {
	opacity: 0;
}

.disk-breadcrumbs-item-back {
	display: inline-block;
	vertical-align: top;
	height: 54px;
	width: 30px;
	opacity: .5;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2013%2012%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23535C6A%22%20d%3D%22M4.65%2C7%20L8.2%2C10.55%20L6.8%2C11.95%20L2.25%2C7.4%20L2.2%2C7.45%20L0.8%2C6.05%20L0.85%2C6%20L0.8%2C5.95%20L2.2%2C4.55%20L2.25%2C4.6%20L6.8%2C0.05%20L8.2%2C1.45%20L4.65%2C5%20L13%2C5%20L13%2C7%20L4.65%2C7%20Z%22%3E%3C/path%3E%3C/svg%3E') 2px 21px no-repeat;
	cursor: pointer;
	transition: .1s;
}

.bitrix24-light-theme .disk-breadcrumbs-item-back {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2013%2012%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4.65%2C7%20L8.2%2C10.55%20L6.8%2C11.95%20L2.25%2C7.4%20L2.2%2C7.45%20L0.8%2C6.05%20L0.85%2C6%20L0.8%2C5.95%20L2.2%2C4.55%20L2.25%2C4.6%20L6.8%2C0.05%20L8.2%2C1.45%20L4.65%2C5%20L13%2C5%20L13%2C7%20L4.65%2C7%20Z%22%3E%3C/path%3E%3C/svg%3E');
}

.disk-breadcrumbs-item-back:hover {
	opacity: 1;
}