.bx-messenger-list-sidebar {
	width: auto;
}

.bx-vue-list-icon-avatar-top-right {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "OpenSans-Bold","Helvetica Neue",Arial,Helvetica,sans-serif;;
	font-size: 11px;
	color: #fff;
	height: 10px;
	width: 10px;
	top: 0;
	left: 25px;
	background: #f84932;
	border-radius: 50%;
	padding: 3px;
}

.bx-vue-list-avatar-bottom-right-open {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23A3BB47%22%20cx%3D%225.5%22%20cy%3D%225.5%22%20r%3D%225.5%22/%3E%3Cpath%20d%3D%22M8.726%203.065c-.007-.17-.093-.244-.245-.215-.47.111-.939.23-1.408.341-.727.178-1.461.364-2.189.541-.773.186-1.54.379-2.314.564-.165.037-.33.081-.503.119-.033-.245-.052-.267-.264-.267h-.126c-.218%200-.251.037-.251.281V6.564c0%20.186.053.238.212.238h.172c.198%200%20.231-.03.257-.26.02%200%20.033-.007.053%200%20.304.074.609.156.92.23.079.015.092.052.092.126v1.045c0%20.282.205.527.443.527h2.136c.218%200%20.41-.2.443-.445.02-.156.02-.319.033-.49.767.193%201.534.379%202.3.572.153.037.239-.045.246-.215v-.134-4.56c-.007-.044-.007-.088-.007-.133zM5.802%207.892c0%20.081-.022.118-.111.118H3.48c-.08%200-.125-.03-.125-.111v-.994c.163.03.311.06.46.09.622.133%201.252.274%201.875.407.089.015.119.052.111.134a2.85%202.85%200%200%200%200%20.356z%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}

.bx-vue-list-avatar-bottom-right-chat {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%2347A0BA%22%20cx%3D%225.5%22%20cy%3D%225.5%22%20r%3D%225.5%22/%3E%3Cpath%20d%3D%22M7.863%204.724v-.982c0-1.2-1.062-2.176-2.366-2.176-1.303%200-2.365.976-2.365%202.176v.982h-.505v4.024h5.74V4.724h-.504zM5.905%207.646h-.81l.121-1.103a.486.486%200%200%201-.252-.413c0-.27.24-.488.533-.488.293%200%20.534.218.534.488a.468.468%200%200%201-.252.413l.126%201.103zm1.068-2.922H4.028v-.982c0-.746.66-1.355%201.475-1.355.81%200%201.47.609%201.47%201.355v.982z%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}

.bx-vue-list-avatar-bottom-right-online {
	background-color: #58cc47;
	border-radius: 50%;
}

.bx-vue-list-avatar-bottom-right-mobile-online {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2211%22%20height%3D%2211%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%225.5%22%20cy%3D%225.5%22%20r%3D%225.5%22/%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22/%3E%3C/mask%3E%3Cuse%20fill%3D%22%2321B0DD%22%20xlink%3Ahref%3D%22%23a%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M3.3%201.757h4.4a.3.3%200%200%201%20.3.3v6.971a.3.3%200%200%201-.3.3H3.3a.3.3%200%200%201-.3-.3V2.057a.3.3%200%200%201%20.3-.3zm.815%201.355v3.919h2.77V3.112h-2.77zM5.441%208.62h.088a.483.483%200%200%200%20.483-.483v-.077a.483.483%200%200%200-.483-.483H5.44a.483.483%200%200%200-.483.483v.077c0%20.267.216.483.483.483z%22%20mask%3D%22url%28%23b%29%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}

.bx-vue-list-avatar-bottom-right-away {
	background-color: #f79d54;
	border-radius: 50%;
}

.bx-vue-list-avatar-bottom-right-dnd {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2211%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%225.5%22%20cy%3D%225.5%22%20r%3D%225.5%22%20fill%3D%22%23828B95%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.329%207.618a2.334%202.334%200%200%200%203.174-3.174.758.758%200%200%201-.205.373L4.702%207.413a.758.758%200%200%201-.373.205zM3.42%206.71a.758.758%200%200%201%20.205-.373L6.221%203.74a.758.758%200%200%201%20.373-.205A2.334%202.334%200%200%200%203.42%206.71zm2.042%202.487a3.62%203.62%200%201%201%200-7.239%203.62%203.62%200%200%201%200%207.24z%22%20opacity%3D%22.9%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}

.bx-vue-list-avatar-bottom-right-offline {
	background-color: #ccc;
	border-radius: 50%;
}

.bx-vue-list-avatar-bottom-right-birthday {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2211%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%225.5%22%20cy%3D%225.5%22%20r%3D%225.5%22%20fill%3D%22%23EDEEF0%22/%3E%3Cpath%20fill%3D%22%236DAA3A%22%20d%3D%22M2.614%209.286h2.29v-2.27h-2.29v2.27zm-.953-3.232h3.247V4.637H1.661v1.417zm4.261%203.232h2.29v-2.27h-2.29v2.27zm-.028-4.65v1.418H9.14V4.637H5.894zm1.332-.487a1.45%201.45%200%201%200-1.45-1.45c0%20.222-.005.682-.01.947h-.711c-.005-.27-.005-.668-.005-.867a1.45%201.45%200%201%200-1.45%201.45h1.27v.398h1.01V4.15h.194%201.152zm-.849-1.45a.848.848%200%201%201%20.849.848h-.853c.004-.27.004-.65.004-.849zm-2.782.923a.848.848%200%201%201%20.849-.848c0%20.2.004.578.004.848-.275.005-.663%200-.853%200z%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}

.bx-vue-list-avatar-bottom-right-absent {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2211%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%225.5%22%20cy%3D%225.5%22%20r%3D%225.5%22%20fill%3D%22%23EDEEF0%22/%3E%3Cpath%20fill%3D%22%23CC7449%22%20d%3D%22M3.484%209.708s.321-3.05%202.086-4.815c.578-.257.514-.048.546.144-.963%201.784-.53%204.655-.53%204.655l-2.102.016z%22/%3E%3Cpath%20fill%3D%22%236EA441%22%20d%3D%22M5.73%204.732c-.17-.164-1.492-1.235-4.044.033.177-.45%201.429-2.504%202.89-2.248%201.46.257%201.155%202.214%201.155%202.214v.001zm.017%200s.305-1.91%201.574-2.15c1.27-.242%202.327%201.38%202.327%201.38-.696-.096-1.4-.129-2.102-.097a4.477%204.477%200%200%200-1.799.866v.001z%22/%3E%3Cpath%20fill%3D%22%236EA441%22%20d%3D%22M5.717%204.82l-.099-.232.121-.179c.104.033.212.05.32.053.053-.014.158.112.21.097.717-.183%201.989-.345%202.43-.069.738.462.986%202.085%201.014%202.485-2.389-2.193-3.997-2.157-3.997-2.157v.001z%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}