.sender-template-edit-wrap {
	padding: 20px;
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bx-sender-caption {
	display: block;
	margin: 0 0 6px 0;
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868E;
}

.bx-sender-form-control {
	display: inline-block;
	padding: 7px 30px 7px 14px;
	min-width: 308px;
	height: 38px;
	border: none;
	-webkit-box-shadow: inset 0 0 0 1px #C6CDD3;
	box-shadow: inset 0 0 0 1px #C6CDD3;
	border-radius: 2px;
	font: 15px/17px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	box-sizing: border-box;
	vertical-align: middle;
	transition: border-color .3s ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	text-indent: 1px;
	text-overflow: '';
}

.bx-sender-form-control:focus {
	-webkit-box-shadow: inset 0 0 0 1px rgba(81, 203, 238, 1);
	box-shadow: inset 0 0 0 1px rgba(81, 203, 238, 1);
}

.bx-sender-letter-field-input {
	width: 100%;
}

.bx-sender-letter-steps {
	margin: -15px;
	background: #eef2f4;
}
.bx-sender-letter-step {
	padding: 25px;
	margin: 0 0 30px 0;
	background: #ffffff;
}
.bx-sender-letter-step-caption {
	margin: 0 0 30px 0;
	font: 26px/25px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.bx-sender-letter-step-content {

}


.bx-sender-letter-types {
	height: 40px;
}
.bx-sender-letter-type {
	background: #85c2f7;
	color: white;
	padding: 15px;
	float: left;
	margin: 0 10px 0 0;
	cursor: pointer;
	font: 20px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bx-sender-letter-type:hover {
	background: #5cb4ff;
}


.bx-sender-letter-field {
	margin: 0 0 30px;
}
.bx-sender-letter-field .bx-sender-caption {
	margin: 0 0 10px;
	font: 16px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.bx-sender-letter-field .bx-sender-value {

}

.bx-sender-message-editor-field-text {
	width: 100%;
	height: 100px;
}

.bx-sender-message-editor-field-select {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2219%22%20height%3D%227%22%20viewBox%3D%220%200%2019%207%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20points%3D%223.546%207.425%203.546%201.607%201.607%201.607%201.607%208.394%201.607%209.364%209.364%209.364%209.364%207.425%22%20transform%3D%22rotate%28-45%20.657%203.485%29%22/%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	background-position: right center;
	font: 15px/38px "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 0 30px 0 14px;
}
