#workarea-content {
	background-color: transparent !important;
}

#footer {
	display: none;
}

.workarea-content-paddings {
	background-color: #eef2f4;
	padding: 0 !important;
}

.tasks-iframe-header {
	background-color: #eef2f4;
}

.tasks-main-table {
	width: 100%;
	padding-bottom: 60px;
}

.tasks-import-results-panel {
	width: 100%;
}

.tasks-import-results-inner-panel {
	width: 100% !important;
}

.tasks-import-results-inner-panel-row {
	margin-bottom: 10px !important;
}

.tasks-import-results-inner-panel-row-content {
	margin-bottom: 0 !important;
}

.tasks-circle-loader-circular {
	height: 15px;
	width: 15px;
	-webkit-animation: rotate 1s linear infinite;
	animation: rotate 1s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.tasks-circle-loader-path {
	stroke: #868d95;
	stroke-width: 7px;
	stroke-dasharray: 60, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

.tasks-import-results-counts {
	margin-bottom: 10px !important;
}

.tasks-import-results-counts-labels {
	font-size: 14px !important;
}

.tasks-import-results-counts-total {
	font-weight: bold !important;
	color: #868d95;
}

.tasks-import-results-counts-processed {
	font-weight: bold !important;
	color: #0cafe2;
}

.tasks-import-results-counts-successful {
	font-weight: bold !important;
	color: green;
}

.tasks-import-results-counts-error {
	font-weight: bold !important;
	color: red;
}

.tasks-import-results-button {
	vertical-align: bottom;
}

.tasks-import-results-error-messages {
	overflow: auto;
	padding: 5px 0 !important;
}

.tasks-import-results-error-messages-danger {
	color: red;
}

.tasks-first-step-column {
	vertical-align: top
}

.tasks-first-step-column-inner {
	width: 100% !important;
}

.task-form-field {
	padding: 10px 20px 5px 13px !important;
}

.tasks-second-step-column {
	vertical-align: top;
}

.tasks-second-step-column-inner {
	width: 100% !important;
}

.tasks-matching-fields-table-td {
	width: 33%;
	vertical-align: bottom;
}

.tasks-field-error {
	border-color: #ff5752 !important;
}

.tasks-file-label-container {
	border: 1px solid #ccc;
	background: #fff;
	padding: 7px 9px;
}

.tasks-file-name {
	display: inline-block;
	width: 100%;
	border: none;
	background: transparent;
	font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: default;
}

.tasks-import-example-table-container {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.tasks-import-example-table {
	width: 100%;
	border-collapse: collapse;
}

.tasks-import-example-table table,
.tasks-import-example-table td,
.tasks-import-example-table th
{
	border: 1px solid #ccc !important;
}

.tasks-import-example-table td, th {
	padding: 7px !important;
}

.tasks-import-required-fields {
	background-color: transparent;
	margin-bottom: 10px;
	font-weight: bold;
}

.tasks-progress {
	width: 100%;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.tasks-progress::-webkit-progress-bar {
	-webkit-appearance: none;
	background-color: #fff;
}

.tasks-progress::-webkit-progress-value {
	-webkit-appearance: none;
	background-color: #0cafe2;
}

.tasks-force-import-stop {
	float: right;
	margin-bottom: 10px;
}

.tasks-footer-buttons-container {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 900;
	padding: 10px 0;
	background-color: #fff;
	box-shadow: 0 -2px 4px 0 #c6c9cb;
	text-align: center;
}

.tasks-entity-card-container {
	float: left;
	box-sizing: border-box;
	width: 41.6%;
}

.tasks-entity-card-widget {
	position: relative;
	z-index: 140;
	box-sizing: border-box;
	margin-bottom: 15px;
	padding: 0 15px;
	border-radius: 1px;
	background-color: #f9fafb;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
}

.tasks-entity-card-widget .tasks-entity-widget-content-block {
	margin: 0 -15px 20px;
	padding: 0 15px;
}

.tasks-entity-card-widget-title {
	padding: 11px 0;
}

.tasks-entity-card-widget-title-text {
	display: inline-block;
	height: 23px;
	color: #525c69;
	vertical-align: middle;
	text-transform: uppercase;
	font: 600 11px/23px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-entity-widget-content {
	padding: 10px 0 15px;
	border-top: 1px solid #e8ecee;
}

.tasks-entity-widget-content-block,
.tasks-entity-widget-content-block-inner {
	position: relative;
	margin: 0 0 10px;
	transition: 220ms all ease;
}

.tasks-entity-widget-content-block-title {
	margin-bottom: 5px;
	color: #a3a9b1;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-entity-widget-content-select {
	display: block;
	box-sizing: border-box;
	padding: 10px 20px 10px 13px;
	min-height: 39px;
	max-width: 100%;
	width: 100%;
	outline: none;
	border: 1px solid #c4c7cc;
	border-radius: 1px;
	background: #fff no-repeat calc(100% - 6px) center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%3E%20%20%3Cpath%20fill%3D%22%23979797%22%20fill-rule%3D%22evenodd%22%20d%3D%22M349.545942%2C95.4246212%20L349.545942%2C89.6066017%20L347.606602%2C89.6066017%20L347.606602%2C96.3942911%20L347.606602%2C97.363961%20L355.363961%2C97.363961%20L355.363961%2C95.4246212%20L349.545942%2C95.4246212%20Z%22%20transform%3D%22rotate%28-45%2067.431%20465.144%29%22/%3E%3C/svg%3E);
	color: #424956;
	font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 220ms all ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.tasks-entity-widget-content-select:hover:after,
.tasks-entity-widget-content-select:hover:before { background-color: #767676; }

.tasks-entity-widget-content-select:focus,
.tasks-entity-widget-content-select:hover { border-color: #64a6f3; }

.tasks-alerts-text {
	margin-top: 5px;
}