.sender-message-tester {
	display: flex;
	padding: 24px 24px 37px 28px;
	background: rgba(47,198,246,.08);
}

.sender-message-tester-icon {
	position: relative;
	margin: 0 29px 0 0;
	width: 114px;
	height: 114px;
	background: rgba(47,198,246,.18);
	border-radius: 100%;
	background-repeat: no-repeat;
}

.sender-message-tester-icon:before {
	content: '';
	position: absolute;
	top: 12px;
	left: 20px;
	display: block;
	width: 74px;
	height: 77px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2098%20103%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%2338BBE5%22%20fill-rule%3D%22nonzero%22%20d%3D%22M98%2047H0l49-28%22/%3E%3Cpath%20fill%3D%22%231DB2E1%22%20fill-rule%3D%22nonzero%22%20d%3D%22M0%2047h98v56H0%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M74.11%206L88%2019.626V92H10V6%22/%3E%3Crect%20width%3D%2214.935%22%20height%3D%2216.288%22%20x%3D%2219%22%20y%3D%2221%22%20fill%3D%22%23A8ADB4%22%20opacity%3D%22.308%22%20rx%3D%222%22/%3E%3Crect%20width%3D%2236.272%22%20height%3D%221.576%22%20x%3D%2238%22%20y%3D%2221%22%20fill%3D%22%23A8ADB4%22%20opacity%3D%22.308%22%20rx%3D%22.788%22/%3E%3Crect%20width%3D%2236.272%22%20height%3D%221.576%22%20x%3D%2238%22%20y%3D%2225%22%20fill%3D%22%23A8ADB4%22%20opacity%3D%22.308%22%20rx%3D%22.788%22/%3E%3Crect%20width%3D%2255.474%22%20height%3D%221.576%22%20x%3D%2219%22%20y%3D%2242%22%20fill%3D%22%23A8ADB4%22%20opacity%3D%22.308%22%20rx%3D%22.788%22/%3E%3Crect%20width%3D%2236.272%22%20height%3D%221.576%22%20x%3D%2238%22%20y%3D%2229%22%20fill%3D%22%23A8ADB4%22%20opacity%3D%22.308%22%20rx%3D%22.788%22/%3E%3Crect%20width%3D%2255.474%22%20height%3D%221.576%22%20x%3D%2219%22%20y%3D%2246%22%20fill%3D%22%23A8ADB4%22%20opacity%3D%22.308%22%20rx%3D%22.788%22/%3E%3Crect%20width%3D%2216.536%22%20height%3D%221.576%22%20x%3D%2238%22%20y%3D%2233%22%20fill%3D%22%23A8ADB4%22%20opacity%3D%22.308%22%20rx%3D%22.788%22/%3E%3Crect%20width%3D%2255.474%22%20height%3D%221.576%22%20x%3D%2219%22%20y%3D%2250%22%20fill%3D%22%23A8ADB4%22%20opacity%3D%22.308%22%20rx%3D%22.788%22/%3E%3Crect%20width%3D%2224.537%22%20height%3D%221.576%22%20x%3D%2219%22%20y%3D%2254%22%20fill%3D%22%23A8ADB4%22%20opacity%3D%22.308%22%20rx%3D%22.788%22/%3E%3Cpath%20fill%3D%22%23E0E3E9%22%20fill-rule%3D%22nonzero%22%20opacity%3D%22.472%22%20d%3D%22M74%206v14h14%22/%3E%3Cpath%20fill%3D%22%2367D9FE%22%20fill-rule%3D%22nonzero%22%20d%3D%22M0%2047l49.402%2028.017L0%20103.037%22/%3E%3Cpath%20fill%3D%22%2367D9FE%22%20fill-rule%3D%22nonzero%22%20d%3D%22M98%2047L49%2075l49%2028%22/%3E%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22nonzero%22%20d%3D%22M49%2065L0%20103h98%22/%3E%3Cpath%20fill%3D%22%2344C5D6%22%20fill-rule%3D%22nonzero%22%20d%3D%22M23.155%200C34.84%200%2044.31%209.47%2044.31%2021.155c0%2011.684-9.47%2021.156-21.155%2021.156C11.47%2042.31%202%2032.84%202%2021.156%202%209.47%2011.472%200%2023.155%200z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M11.355%2031h3.57V17.885H9L11.355%2031zM34.99%2019.527c.084-.76-.4-1.468-1.14-1.67h-7.43c-.336-.63-.363-1.38-.07-2.032.433-1.39.482-2.868.142-4.283-.285-1.297-1.323-2.298-2.634-2.542-.56.08-1.043.435-1.286.944v3.195c-1.024%201.992-2.193%203.908-3.497%205.732-.44.074-2.138.293-2.138.293v10.02h.496c1.395.732%202.852%201.34%204.355%201.815h9c.786-.21%201.32-.937%201.286-1.747-.028-.6-.315-1.156-.786-1.53%201.012-.03%201.842-.81%201.93-1.814-.124-.544-.46-1.015-.932-1.31.943-.158%201.653-.94%201.715-1.888-.072-.533-.3-1.034-.65-1.442.885-.134%201.564-.854%201.64-1.743z%22/%3E%3C/g%3E%3C/svg%3E');
}

.sender-message-tester-icon-phone {
	background: none;
}

.sender-message-tester-icon-phone:before {
	top: 0;
	left: 0;
	width: 114px;
	height: 114px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20153%20153%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%2276.5%22%20cy%3D%2276.5%22%20r%3D%2276.5%22/%3E%3Cpath%20id%3D%22c%22%20d%3D%22M46.174%200h68.606c2.76%200%205%202.24%205%205v125.22c0%202.762-2.24%205-5%205H46.174c-2.76%200-5-2.238-5-5V5c0-2.76%202.24-5%205-5z%22/%3E%3Cpath%20id%3D%22d%22%20d%3D%22M0%202.993C0%201.34%201.337%200%203.005%200h60.898c1.66%200%203.005%201.35%203.005%202.993v100.693c0%201.653-1.336%202.993-3.005%202.993H3.005c-1.66%200-3.005-1.35-3.005-2.994V2.993z%22/%3E%3Cpath%20id%3D%22f%22%20d%3D%22M67.267%2062.23h16.91c4.412%200%207.997-3.586%207.997-8.01V8.01C92.174%203.58%2088.594%200%2084.176%200H8C3.584%200%200%203.585%200%208.008V54.22c0%204.43%203.58%208.01%208%208.01h39.768L68.312%2077.2%2067.267%2062.23z%22/%3E%3Cpath%20id%3D%22g%22%20d%3D%22M74.862%2062.23h9.314c4.413%200%207.998-3.586%207.998-8.01V8.01C92.174%203.58%2088.594%200%2084.176%200H8C3.584%200%200%203.585%200%208.008V54.22c0%204.43%203.58%208.01%208%208.01h49.724l17.138%2020.12V62.23z%22/%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22/%3E%3C/mask%3E%3Cuse%20fill%3D%22%232FC6F6%22%20fill-opacity%3D%22.183%22%20xlink%3Ahref%3D%22%23a%22/%3E%3Cpath%20fill%3D%22%23C4DBE7%22%20d%3D%22M65.972%2026.626c0-7.728%206.267-13.993%2014.008-13.993h50.59c7.736%200%2014.008%206.273%2014.008%2013.993V133.86c0%207.728-6.267%2013.993-14.008%2013.993H79.98c-7.736%200-14.008-6.273-14.008-13.993V26.626z%22%20mask%3D%22url%28%23b%29%22/%3E%3Cg%20transform%3D%22translate%2820.587%207.954%29%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23c%22/%3E%3Cpath%20stroke%3D%22%2389929E%22%20stroke-opacity%3D%22.606%22%20stroke-width%3D%222%22%20d%3D%22M46.174-1h68.606c3.314%200%206%202.686%206%206v125.22c0%203.314-2.686%206-6%206H46.174c-3.313%200-6-2.686-6-6V5c0-3.314%202.687-6%206-6z%22/%3E%3Ccircle%20cx%3D%2269.482%22%20cy%3D%226.317%22%20r%3D%221.17%22%20fill%3D%22%2389929E%22/%3E%3Crect%20width%3D%2214.037%22%20height%3D%222.339%22%20x%3D%2273.459%22%20y%3D%225.147%22%20fill%3D%22%2389929E%22%20rx%3D%221.17%22/%3E%3Ccircle%20cx%3D%2280.711%22%20cy%3D%22126.096%22%20r%3D%224.913%22%20fill%3D%22%2389929E%22/%3E%3Cg%20transform%3D%22translate%2847.257%2010.76%29%22%3E%3Cmask%20id%3D%22e%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23d%22/%3E%3C/mask%3E%3Cuse%20fill%3D%22%231EC6F9%22%20xlink%3Ahref%3D%22%23d%22/%3E%3Cuse%20fill%3D%22%231D6C9C%22%20fill-opacity%3D%22.417%22%20opacity%3D%22.463%22%20xlink%3Ahref%3D%22%23f%22%20transform%3D%22translate%28-33.22%2020.12%29%22%20mask%3D%22url%28%23e%29%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%287.486%2026.202%29%22%3E%3Cmask%20id%3D%22h%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23g%22/%3E%3C/mask%3E%3Cuse%20fill%3D%22%23B3E600%22%20xlink%3Ahref%3D%22%23g%22/%3E%3Cellipse%20cx%3D%224.679%22%20cy%3D%225.849%22%20fill%3D%22%23525C69%22%20opacity%3D%22.045%22%20mask%3D%22url%28%23h%29%22%20rx%3D%2214.505%22%20ry%3D%2214.271%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%280%2020.12%29%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M33.35%2045.5c-3.972%200-7.192-3.164-7.192-7.068%200-3.905%203.22-7.07%207.193-7.07%203.974%200%207.194%203.165%207.194%207.07%200%203.904-3.22%207.07-7.193%207.07zm20.404%200c-3.973%200-7.193-3.164-7.193-7.068%200-3.905%203.22-7.07%207.194-7.07%203.973%200%207.193%203.165%207.193%207.07%200%203.904-3.22%207.07-7.193%207.07zm20.403%200c-3.973%200-7.193-3.164-7.193-7.068%200-3.905%203.22-7.07%207.193-7.07%203.973%200%207.193%203.165%207.193%207.07%200%203.904-3.22%207.07-7.193%207.07z%22/%3E%3Cellipse%20cx%3D%2212.163%22%20cy%3D%2211.954%22%20fill%3D%22%23FF5752%22%20rx%3D%2212.163%22%20ry%3D%2211.954%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M13.765%2016.376H11.29v-4.774c0-.58.014-1.11.038-1.592-.152.185-.34.38-.567.58l-1.023.845L8.472%209.88%2011.57%207.36h2.195v9.018z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.sender-message-tester-desc {
	margin: 0 0 13px 0;
	color: #525C69;
}

.sender-message-tester-text-bold {
	font-weight: bold;
}

.sender-message-tester-destination-wrap, .sender-message-tester-tags-wrap {
	padding: 7px 7px 1px;
	min-height: 36px !important;
	border: 1px solid #e4e4e4;
	border-radius: 1px;
	background: #fff;
	overflow: hidden;
}

.sender-message-tester-destination-wrap .sender-message-tester-destination {
	padding-right: 30px;
}

.sender-message-tester-destination-sonetgroups {
	background-color: #D5F1FC;
	color: #0063C6 !important;
}

.sender-message-tester-destination {
	display: inline-block;
	position: relative;
	margin: 0 6px 6px 0;
	padding: 0 30px 0 13px;
	height: 30px;
	border-radius: 1px;
	font: bold 13px/29px "Helvetica Neue", Arial, Helvetica, sans-serif;
	overflow: hidden;
	vertical-align: middle;
	z-index: 2;
	transition: background-color 0.2s linear;
}

.feed-add-destination-input-box {
	display: none;
}

.feed-add-destination-inp {
	background: #fff;
	border: none;
	color: #555;
	display: inline-block;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 7px 7px 0;
	height: 30px;
	min-width: 108px;
	outline: none;
	padding: 0;
	vertical-align: middle;
}

.sender-message-tester-destination .sender-message-tester-del-but {
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: 30px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%238AC4E6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.073%203.657l2.12-2.12L5.778.12l-2.12%202.12L1.537.12.12%201.538l2.12%202.12-2.12%202.12%201.417%201.417%202.12-2.12%202.12%202.12%201.417-1.417-2.12-2.12z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.6;
	transition: opacity .3s;
	cursor: pointer;
}

.sender-message-tester-destination .sender-message-tester-del-but:hover {
	opacity: 1;
}

.sender-message-tester-control {
	margin: 0 0 13px 0;
}

.sender-message-tester-control-title {
	display: block;
	margin: 0 0 7px 0;
	color: rgba(82,92,105,.75);
}

.sender-message-tester-control-list {
	display: flex;
	flex-wrap: wrap;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sender-message-tester-control-list-title {
	margin: 6px 10px 0 0;
	color: #525C69;
}

.sender-message-tester-control-list-item {
	margin: 6px 12px 0 0;
	color: #828B95;
	cursor: pointer;
}

.sender-test-button-bottom {
	display: flex;
	align-items: center;
}

.sender-test-result-line {
	display: flex;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
	margin: 0 0 0 10px;
}

.sender-test-result-line-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.073%203.657l2.12-2.12L5.778.12l-2.12%202.12L1.537.12.12%201.538l2.12%202.12-2.12%202.12%201.417%201.417%202.12-2.12%202.12%202.12%201.417-1.417-2.12-2.12z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	transition: opacity .3s;
	opacity: .3;
	cursor: pointer;
}

.sender-test-result-line-icon:hover {
	opacity: 1;
}

.sender-message-tester-right {
	width: 100%;
}