.mobile-task-checklist-wrapper {
	height: auto;
	overflow: hidden;
	opacity: 1;
	transition: .4s;
}

.mobile-task-checklist-section-collapse .mobile-task-checklist-wrapper {
	opacity: 0;
	height: 0;
}

.mobile-task-checklist-section {
	display: block;
	overflow: hidden;
	background: #fff;
	padding-right: 16px;
	margin-bottom: 6px;
}

.mobile-task-checklist-head {
	display: flex;
	overflow: hidden;
	padding: 10px 0;
	position: relative;
}

.mobile-task-checklist-head:after {
	content: '';
	position: absolute;
	left: 1px;
	right: 0;
	bottom: 0;
	height: 1px;
	background: #525c69;
	opacity: .1;
}

.mobile-task-checklist-counter {
	display: block;
	width: 29px;
	margin-right: 11px;
}

.mobile-task-checklist-controls {
	display: flex;
}

.mobile-task-checklist-counter-progress {
	margin-top: 5px;
}

.mobile-task-checklist-setting,
.mobile-task-checklist-visible {
	flex: 1;
	position: relative;
	min-width: 38px;
}

.mobile-task-checklist-setting:before,
.mobile-task-checklist-visible:before {
	content: '';
	position: absolute;
	opacity: .76;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.mobile-task-checklist-setting:before {
	width: 16px;
	height: 4px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%224%22%20viewBox%3D%220%200%2016%204%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M2%2C0%20C3.1045695%2C0%204%2C0.8954305%204%2C2%20C4%2C3.1045695%203.1045695%2C4%202%2C4%20C0.8954305%2C4%200%2C3.1045695%200%2C2%20C0%2C0.8954305%200.8954305%2C0%202%2C0%20Z%20M8%2C0%20C9.1045695%2C0%2010%2C0.8954305%2010%2C2%20C10%2C3.1045695%209.1045695%2C4%208%2C4%20C6.8954305%2C4%206%2C3.1045695%206%2C2%20C6%2C0.8954305%206.8954305%2C0%208%2C0%20Z%20M14%2C0%20C15.1045695%2C0%2016%2C0.8954305%2016%2C2%20C16%2C3.1045695%2015.1045695%2C4%2014%2C4%20C12.8954305%2C4%2012%2C3.1045695%2012%2C2%20C12%2C0.8954305%2012.8954305%2C0%2014%2C0%20Z%22/%3E%3C/svg%3E') center no-repeat;
}

.mobile-task-checklist-visible:before {
	width: 9px;
	height: 9px;
	top: 20px;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-135deg);
	border-top: 2px solid #525C69;
	border-left: 2px solid #525C69;
	transition: .25s;
}

.mobile-task-checklist-section-collapse .mobile-task-checklist-visible:before {
	transform: translate(-50%,-50%) rotate(45deg);
}

.mobile-task-checklist-head-title {
	flex: 1;
	position: relative;
}

.mobile-task-checklist-head-title-text {
	padding: 9px 0;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	opacity: .79;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	font-size: 13px !important;
	color: #525c69;
}

.mobile-task-checklist-head-title-text a {
	font-size: 13px !important;
}

/*.mobile-task-checklist-head-title-text:before,*/
.mobile-task-checklist-add-text:before,
.mobile-task-checklist-item-param-attach:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.mobile-task-checklist-add-button {
	display: flex;
	height: 40px;
	padding: 10px 0;
}

.mobile-task-checklist-add-button:before {
	content: '';
	width: 29px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20x%3D%227%22%20fill%3D%22%232FC6F6%22/%3E%3Crect%20width%3D%222%22%20height%3D%2216%22%20x%3D%227%22%20fill%3D%22%232FC6F6%22%20transform%3D%22rotate%2890%208%208%29%22/%3E%3C/svg%3E') 5px center no-repeat;
}

.mobile-task-checklist-add-text {
	flex: 1;
	opacity: .5;
}

.mobile-task-checklist-item {
	display: flex;
	padding: 10px 0;
	position: relative;
}

.mobile-task-checklist-item:after {
	content: '';
	position: absolute;
	left: 1px;
	right: 0;
	bottom: 0;
	height: 1px;
	background: #525c69;
	opacity: .1;
}

.mobile-task-checklist-head-title:after,
.mobile-task-checklist-item-title:after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: -14px;
	right: 30px;
	height: 1px;
	background: transparent;
	transition: .15s;
}

.mobile-task-checklist-head-title:after {
	right: -45px;
}

.mobile-task-checklist-item-title.mobile-task-checklist-error:after,
.mobile-task-checklist-head-title.mobile-task-checklist-error:after {
	background: #ff5752;
	left: -44px;
	right: 0;
}

.mobile-task-checklist-head-title.mobile-task-checklist-error:after {
	right: -75px;
}

.mobile-checklist-item-show {
	transition: 250ms cubic-bezier(.14, .35, .31, 1) all, 250ms cubic-bezier(1, .01, .69, 1) opacity;
}

.mobile-checklist-item-hide {
	transition: 250ms linear all, 250ms cubic-bezier(1, .01, .69, 1) opacity;
}

.mobile-task-checklist-item-hidden {
	display: none;
}

.mobile-task-checklist-item-checker {
	position: relative;
	width: 25px;
	height: 25px;
	margin: 6px 16px 0 0;
	border-radius: 100%;
	background: transparent;
	border: 2px solid transparent;
}

.mobile-task-checklist-item-checker:after {
	content: '';
	height: 6px;
	width: 10px;
	border: 2px solid #fff;
	box-sizing: border-box;
	border-top: none;
	border-right: none;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-5px, -4px) rotate(-45deg);
}

.mobile-task-checklist-item-checker:empty {
	border: 2px solid rgba(168,173,180,.73);
}

.mobile-task-checklist-item-checked .mobile-task-checklist-item-checker {
	background: #2fc6f6;
	border: 2px solid #2fc6f6;
}

.mobile-task-checklist-item-checked .mobile-task-checklist-item-checker * {
	display: none;
}

.mobile-task-checklist-item-checked .mobile-task-checklist-item-checker:after {
	opacity: 1;
}

.mobile-task-checklist-item-title {
	flex: 1;
	width: 100%;
	min-height: 22px;
	position: relative;
	font-size: 18px;
	line-height: 21px;
	padding: 9px 0;
	color: #333;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	word-break: break-word;
	background: left 13px no-repeat;
	transition: .25s;
}

.mobile-task-checklist-item-important .mobile-task-checklist-item-title {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2216%22%20viewBox%3D%220%200%2012%2016%22%3E%3Cpath%20fill%3D%22%23F16C0A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7%2C16%20C8.2565572%2C15.0536671%208.996868%2C13.5730455%209%2C12%20C9%2C9.8%207.48%2C10.148%206%2C7%20C4.25074236%2C8.08392189%203.1332216%2C9.94645649%203%2C12%20C3.09633002%2C13.549467%203.81822444%2C14.9932558%205%2C16%20L4.29%2C16%20C1.76154351%2C15.0733805%200.0590378675%2C12.6922538%200%2C10%20C0%2C5.46%204.49%2C1.213%207%2C0%20C6.52%2C4.191%2012%2C5.287%2012%2C10.75%20C12%2C14.627%207.71%2C16%207.71%2C16%20L7%2C16%20L7%2C16%20Z%22/%3E%3C/svg%3E');
	padding-left: 20px;
}

.mobile-task-checklist-item-edit-mode .mobile-task-checklist-item-text {
	display: none;
}

.mobile-task-checklist-item-input {
	position: absolute;
	width: calc(100% - 10px);
	top: -1px;
	right: 0;
	left: 0;
	bottom: 1px;
	display: none;
	border: none;
	outline: none;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 21px;
	padding: 0;
	color: #333;
	word-break: break-all;
}

.mobile-task-checklist-head .mobile-task-checklist-item-input {
	top: 1px;
	bottom: 0;
	font-size: 13px;
	color: #525c69;
	outline: none;
}

.mobile-task-checklist-item-edit-mode .mobile-task-checklist-item-input {
	display: block;
	margin: 0;
}

.mobile-task-checklist-item-checked .mobile-task-checklist-item-title a,
.mobile-task-checklist-item-checked .mobile-task-checklist-item-title {
	text-decoration: line-through;
	font-size: 18px;
}

.mobile-task-checklist-item-title a {
	display: inline-block;
}

.mobile-task-checklist-item-param {
	display: block;
}

.mobile-task-checklist-item-edit-mode .mobile-task-checklist-item-param {
	display: none;
}

.mobile-task-checklist-item-param-attach {
	display: block;
	width: 50px;
	height: 40px;
	text-align: center;
	font-family: "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #525C69;
	opacity: .5;
}

.mobile-task-checklist-item-param-attach:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	width: 16px;
	height: 18px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2218%22%20viewBox%3D%220%200%2016%2018%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M14.5541812%2C7.20259465%20C14.6727721%2C7.32118554%2014.6727721%2C7.51345937%2014.5541812%2C7.63205027%20L13.7583724%2C8.42785908%20C13.6397815%2C8.54644997%2013.4475077%2C8.54644997%2013.3289168%2C8.42785908%20L7.64258689%2C2.74152916%20C6.29479602%2C1.39373829%204.08932004%2C1.39373829%202.74152916%2C2.74152916%20C1.39373829%2C4.08932004%201.39373829%2C6.29479602%202.74152916%2C7.64258689%20L10.4904954%2C15.3915531%20C11.3357318%2C16.2367895%2012.70842%2C16.2367895%2013.5536565%2C15.3915531%20C14.3988929%2C14.5463167%2014.3988929%2C13.1736284%2013.5536565%2C12.328392%20L6.41732246%2C5.19205803%20C6.0741504%2C4.84888597%205.53523009%2C4.84888597%205.19205803%2C5.19205803%20C4.84888597%2C5.53523009%204.84888597%2C6.0741504%205.19205803%2C6.41732246%20L10.2657557%2C11.4910202%20C10.3843466%2C11.6096111%2010.3843466%2C11.8018849%2010.2657557%2C11.9204758%20L9.46994691%2C12.7162846%20C9.35135602%2C12.8348755%209.15908219%2C12.8348755%209.04049129%2C12.7162846%20L3.9667936%2C7.64258689%20C2.9497261%2C6.62551939%202.9497261%2C4.98386109%203.9667936%2C3.9667936%20C4.98386109%2C2.9497261%206.62551939%2C2.9497261%207.64258689%2C3.9667936%20L14.7789209%2C11.1031276%20C16.2980037%2C12.6222104%2016.2980037%2C15.0977347%2014.7789209%2C16.6168175%20C13.259838%2C18.1359004%2010.7843138%2C18.1359004%209.26523095%2C16.6168175%20L1.51626473%2C8.86785132%20C-0.505421578%2C6.84616501%20-0.505421578%2C3.53795104%201.51626473%2C1.51626473%20C3.53795104%2C-0.505421578%206.84616501%2C-0.505421578%208.86785132%2C1.51626473%20L14.5541812%2C7.20259465%20Z%22/%3E%3C/svg%3E') center no-repeat;
}

.mobile-task-checklist-item-controls {
	display: flex;
	width: 38px;
	position: relative;
}

.mobile-task-checklist-item-setting {
	flex: 1;
	position: relative;
	min-width: 38px;
	height: 40px;
	opacity: .5;
}

.mobile-task-checklist-item-setting:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 16px;
	height: 4px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%224%22%20viewBox%3D%220%200%2016%204%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M2%2C0%20C3.1045695%2C0%204%2C0.8954305%204%2C2%20C4%2C3.1045695%203.1045695%2C4%202%2C4%20C0.8954305%2C4%200%2C3.1045695%200%2C2%20C0%2C0.8954305%200.8954305%2C0%202%2C0%20Z%20M8%2C0%20C9.1045695%2C0%2010%2C0.8954305%2010%2C2%20C10%2C3.1045695%209.1045695%2C4%208%2C4%20C6.8954305%2C4%206%2C3.1045695%206%2C2%20C6%2C0.8954305%206.8954305%2C0%208%2C0%20Z%20M14%2C0%20C15.1045695%2C0%2016%2C0.8954305%2016%2C2%20C16%2C3.1045695%2015.1045695%2C4%2014%2C4%20C12.8954305%2C4%2012%2C3.1045695%2012%2C2%20C12%2C0.8954305%2012.8954305%2C0%2014%2C0%20Z%22/%3E%3C/svg%3E') center no-repeat;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item {
	position: relative;
	padding-left: 18px;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item {
	padding-left: 36px;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item {
	padding-left: 54px;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item:after {
	left: 18px;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item:after {
	left: 36px;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item:after {
	left: 54px;
}

.mobile-task-checklist
.mobile-task-checklist 
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item-wrapper {
	padding-left: 0;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item:before {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	top: 28px;
	left: 4px;
	background: #edeef0;
	border-radius: 100%;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item:before {
	box-shadow: 14px 0 0 #edeef0;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item-wrapper-animate .mobile-task-checklist-item:before {
	animation: .7s mobile-task-checklist-item-animation-2 ease-in-out 2;
}

@keyframes mobile-task-checklist-item-animation-2 {
	0% {
		background: #525c69;
		box-shadow: 14px 0 0 #edeef0;
	}
	100% {
		background: #edeef0;
		box-shadow: 14px 0 0 #525c69;
	}
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item:before {
	box-shadow: 15px 0 0 #edeef0, 30px 0 0 #edeef0;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item-wrapper-animate .mobile-task-checklist-item:before {
	animation: .7s mobile-task-checklist-item-animation-3 ease-in-out 2;
}

@keyframes mobile-task-checklist-item-animation-3 {
	0% {
		background: #525c69;
		box-shadow: 15px 0 0 #edeef0, 30px 0 0 #edeef0;
	}
	50% {
		background: #edeef0;
		box-shadow: 15px 0 0 #525c69, 30px 0 0 #edeef0;
	}
	100% {
		background: #edeef0;
		box-shadow: 15px 0 0 #edeef0, 30px 0 0 #525c69;
	}
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item:before {
	box-shadow: 10px 0 0 #edeef0, 20px 0 0 #edeef0, 30px 0 0 #edeef0;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item-wrapper-animate .mobile-task-checklist-item:before {
	animation: .7s mobile-task-checklist-item-animation-4 ease-in-out 2;
}

@keyframes mobile-task-checklist-item-animation-4 {
	0% {
		background: #525c69;
		box-shadow: 10px 0 0 #edeef0, 20px 0 0 #edeef0, 30px 0 0 #edeef0;
	}
	33% {
		background: #edeef0;
		box-shadow: 10px 0 0 #525c69, 20px 0 0 #edeef0, 30px 0 0 #edeef0;
	}
	66% {
		background: #edeef0;
		box-shadow: 10px 0 0 #edeef0, 20px 0 0 #525c69, 30px 0 0 #edeef0;
	}
	100% {
		background: #edeef0;
		box-shadow: 10px 0 0 #edeef0, 20px 0 0 #edeef0, 30px 0 0 #525c69;
	}
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item:before {
	box-shadow: 8px 0 0 #edeef0, 16px 0 0 #edeef0, 24px 0 0 #edeef0, 32px 0 0 #edeef0;
}

.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist
.mobile-task-checklist-item-wrapper-animate .mobile-task-checklist-item:before {
	animation: .7s mobile-task-checklist-item-animation-5 ease-in-out 2;
}

@keyframes mobile-task-checklist-item-animation-5 {
	0% {
		background: #525c69;
		box-shadow: 8px 0 0 #edeef0, 16px 0 0 #edeef0, 24px 0 0 #edeef0, 32px 0 0 #edeef0;
	}
	25% {
		background: #edeef0;
		box-shadow: 8px 0 0 #525c69, 16px 0 0 #edeef0, 24px 0 0 #edeef0, 32px 0 0 #edeef0;
	}
	50% {
		background: #edeef0;
		box-shadow: 8px 0 0 #edeef0, 16px 0 0 #525c69, 24px 0 0 #edeef0, 32px 0 0 #edeef0;
	}
	75% {
		background: #edeef0;
		box-shadow: 8px 0 0 #edeef0, 16px 0 0 #edeef0, 24px 0 0 #525c69, 32px 0 0 #edeef0;
	}
	100% {
		background: #edeef0;
		box-shadow: 8px 0 0 #edeef0, 16px 0 0 #edeef0, 24px 0 0 #edeef0, 32px 0 0 #525c69;
	}
}

.mobile-tasks-progressround-status {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 9px;
}

.mobile-tasks-ui-progressround-track {
	margin: 0;
}

.mobile-task-checklist-add-new {
	clear: both;
}

.mobile-task-checklist-add-new {
	display: inline-block;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	border-bottom: 1px dashed rgba(51,51,51,.6);
	color: #333;
	opacity: .5;
	padding: 0 0 2px 0;
	margin: 0 0 5px 5px;
	font-size: 13px;
}

.mobile-task-checklist-item-checker .ui-progressround {
	margin-top: -2px;
}

.mobile-task-checklist-counter-circle-bar {
	display: inline-block;
	width: 29px;
	height: 29px;
}