.pagetitle-inner-container-load {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.docs-template-load-subject .pagetitle {
	flex: 1;
}

.docs-template-load-title-inner {
	margin-bottom: 10px;
}

.docs-template-load-title {
	font-size: 13px;
	line-height: 19px;
	color: #a9adb2;
}

.docs-template-load-drag-zone {
	width: 100%;
	height: 111px;
	border: 2px dashed #a7b0b5;
	background: #f8fafa;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.docs-template-load-drag-text {
	color: #828b95;
	font-size: 15px;
	line-height: 22px;
}

.docs-template-load-drag-line {
	text-decoration: underline;
	cursor: pointer;
}

.docs-template-load-notice {
	text-align: center;
	margin-top: 5px;
}

.docs-template-load-notice-text {
	font-size: 12px;
	line-height: 18px;
	color: #a9adb2;
}

.docs-template-load-drag {
	margin-bottom: 35px;
}

.docs-template-load-block-section, .docs-template-load-input {
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	overflow: hidden;
	min-height: 38px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	padding-left: 5px;
	font-size: 14px;
}

.docs-template-load-block-section-inner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0 55px 0 12px;
	border-radius: 1px;
	background: #c9efff;
	color: #1069c3;
	vertical-align: middle;
	font-size: 13px;
	line-height: 32px;
	font-weight: bold;
	-webkit-transition: background-color .2s linear;
	transition: background-color .2s linear;
	margin: 0 4px 4px 0;
}

.docs-template-load-block-section-inner:hover {
	background-color: #86e2ff;
}

.docs-template-load-block-item {
	display: flex;
	flex-wrap: wrap;
}

.docs-template-load-block-search {
	width: 30px;
	height: 32px;
	background: url(images/search.svg) no-repeat top 7px left 6px;
	cursor: pointer;
}

.docs-template-load-block-delete {
	position: absolute;
	width: 30px;
	height: 31px;
	background: url(images/delete.svg) no-repeat center;
	cursor: pointer;
	right: 0;
	top: 0;
}

.docs-template-close-drag-zone {
	position: absolute;
	width: 30px;
	height: 31px;
	background: url(images/delete.svg) no-repeat center;
	cursor: pointer;
	right: 0;
	top: 0;
	display: none;
}

.docs-template-load-block-title-inner {
	margin-bottom: 5px;
}

.docs-template-load-block-arrow {
	width: 38px;
	height: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	box-sizing: border-box;
	padding-top: 18px;
}

.docs-template-load-block-arrow-icon {
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-bottom: 0;
	border-top-color: #5e6675;
	display: inline-block;
	vertical-align: top;
}

.docs-template-load-block-section {
	padding: 4px 20px 0 4px;
	min-height: 42px;
	box-sizing: border-box;
}

.docs-template-load-crm, .docs-template-load-buttons, .docs-template-load-user, .docs-template-load-numerator,
.docs-template-load-result, .template-edit-hidden {
	display: none;
}

.docs-template-load-result {
	margin-bottom: 27px;
}

.docs-template-load-block-wrap {
	margin-bottom: 26px;
}

.docs-template-load-block-link {
	border-bottom: 1px solid transparent;
	color: #2067b0;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	margin: 6px 0 9px 15px;
	line-height: 17px;
	text-decoration: none;
	vertical-align: top;
	position: relative;

	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.docs-template-load-block-link:before {
	left: -11px;
	top: 5px;
	height: 7px;
	width: 8px;
	content: '';
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%227%22%20viewBox%3D%220%200%208%207%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%231069C3%22%20fill-rule%3D%22evenodd%22%20points%3D%22305.602%2021.022%20308.189%2021.022%20308.189%2022.413%20305.602%2022.413%20305.602%2025%20304.211%2025%20304.211%2022.413%20301.624%2022.413%20301.624%2021.022%20304.211%2021.022%20304.211%2018.435%20305.602%2018.435%22%20transform%3D%22translate%28-301%20-18%29%22/%3E%0A%3C/svg%3E%0A);
	position: absolute;
}

.docs-template-load-block-link:before:hover {
	text-transform: none;
}

.docs-template-load-block-link:hover {
	border-bottom: 1px solid;
	color: #2067b0;
}

.docs-template-load-buttons {
	background: #fff;
	padding: 15px;
	position: fixed;
	bottom: 0;
	left: 240px;
	right: 64px;
	z-index: 9;
	margin: 30px 0 0 0;
	box-shadow: 0 0 9px 0 #c6c9cb;
}

.docs-template-load-wrap-slider {
	background: #fff;
	padding: 23px 21px 150px 23px;
}

.docs-template-load-slider {
	padding: 0 26px;
}

.docs-template-load-buttons-slider {
	left: 0;
	right: 0;
}

.docs-template-load-buttons-inner {
	font-size: 0;
}

.docs-template-error-message, .docs-template-info-message, .docs-template-success-message {
	margin: 12px 0 3px;
	padding: 14px 20px 14px 19px;
	border-radius: 3px;
	background-color: #f8f4bc;
	color: #616a77;
	font-size: 13px;
	line-height: 17px;
	display: none;
}

.docs-template-error-message {
	background-color: red;
	color: white;
}

.docs-template-load-providers-popup {
	min-width: 732px;
	padding: 6px;
	box-sizing: border-box;
}

.docs-template-success-message {
	background-color: green;
	color: white;
}

.docs-template-load-num-btn-block {
	font-size: 0;
	display: flex;
	flex: 1;
	align-items: center;
}

.docs-template-load-num-select-wrap{
	display: flex;
}

.docs-template-load-num-btn {
	color: #216bb6;
	cursor: pointer;
	font-size: 13px;
	line-height: 20px;
	margin-right: 10px;
	border-bottom: 1px dashed rgba(33, 107, 182, .5);
	text-decoration: none;
	text-transform: lowercase;
	transition: border-color .3s linear;
}

.docs-template-load-num-btn:last-child {
	margin-right: 0;
}

.docs-template-load-num-btn:hover {
	border-color: rgba(33, 107, 182, 1);
}

.docs-template-load-select {
	padding: 9px 30px 9px 12px;
	width: 375px;
	display: flex;
	margin: 0 26px 0 0;
	height: 38px;
	border-radius: 2px;
	border: 1px solid #c6cdd3;
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPath%3C/title%3E%3Cpath%20d%3D%22M5.485%204.228L1.37.114%200%201.484l4.8%204.8.685.687%205.486-5.485L9.6.115%205.484%204.227z%22%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') no-repeat center right 13px;
	background-size: 11px 11px;
	font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #475767;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	box-sizing: border-box;
	cursor: pointer;
}

.docs-template-load-row {
	display: flex;
	align-items: center;
}

.docs-template-load-box {
	margin: 38px 0 18px 0;
}

.docs-template-load-caption {
	font: 13px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #A9ADB2;
}

.docs-template-load-input-container {
	display: flex;
	flex-direction: column;
}

.docs-template-load-check-container {
	display: flex;
	align-items: center;
}

.docs-template-load-input {
	color: #475767;
	padding-left: 11px;
	margin-top: 5px;
}

.docs-template-load-check-container .docs-template-load-input {
	padding: 0;
	margin: 0 11px 0 0;
	min-height: 100%;
}

.docs-template-load-check-container .docs-template-load-title {
	color: #535c6a;
}

.docs-template-load-popup-item {
	display: flex;
	align-items: center;
	padding: 8px 10px 8px 7px;
	transition: background-color 0.3s linear;
}

.docs-template-load-popup-item-selected {
	background: #d4f8fd;
}

.docs-template-load-popup-input {
	outline: none;
	margin: 0 12px 0 0;
	padding: 0;
}

.docs-template-load-popup-label {
	color: #535c6a;
	font-size: 13px;
	cursor: pointer;
	display: block;
	width: 100%;
}

.docs-template-load-action {
	font-size: 14px;
	line-height: 19px;
	color: #a9adb2;
	cursor: pointer;
	border-bottom: 1px dashed;
}

.docs-template-load-result-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0 25px;
	border-bottom: 1px solid #edeef0;
}

.docs-template-load-result-name {
	color: #2067b0;
	font-size: 13px;
	line-height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 120px;
}

.docs-template-load-result-size {
	color: #5c6470;
	font-size: 13px;
	line-height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 60px;
}

.docs-template-load-result-location-link {
	border-bottom: 1px dashed rgba(92, 100, 112, .4);
	display: inline-block;
	color: #5c6470;
	text-decoration: none;
	transition: all .2s linear;
	width: 205px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.docs-template-load-result-location-link:hover {
	color: #5c6470;
}

.docs-template-load-result-location-link:hover {
	border-color: rgba(92, 100, 112, 1);
}

.docs-template-load-result-default {
	width: 140px;
}

.docs-template-load-result-default-text {
	color: #828b95;
	font-size: 12px;
	line-height: 16px;
	transition: all .2s linear;
	border-bottom: 1px dashed rgba(130, 139, 149, .4);
	cursor: pointer;
}

.docs-template-load-result-default:hover .docs-template-load-result-default-text {
	border-color: rgba(130, 139, 149, 1);
}

.docs-template-load-result-delete {
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: .4;
	flex-shrink: 0;
}

.docs-template-load-result-delete:hover {
	opacity: 1;
}

.docs-template-load-result-delete-icon {
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: top;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNy43ODcgMUw1IDMuNzg3IDIuMjEzIDEgMSAyLjIxMyAzLjc4NyA1IDEgNy43ODcgMi4yMTMgOSA1IDYuMjEzIDcuNzg3IDkgOSA3Ljc4NyA2LjIxMyA1IDkgMi4yMTMiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	transition: opacity 0.2s linear;
}

.docs-template-load-result-img {
	width: 18px;
	height: 15px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	flex-shrink: 0;
	margin-right: 5px;
	background-image: url(images/word.png);
}

.docs-template-load-result-preview {
	display: flex;
	align-items: center;
}