.adm-submenu-item-link-icon {
    display:block;
    width:16px;
    height:16px;
    float: left;
    padding-right: 7px;
    background:transparent url(images/icons-files.png) no-repeat -72px 0;
}

/* for tabs */
.adm-detail-content-item-block-view-tab {
    background:#fff;
    border:1px solid #c5cecf;
    padding:17px 22px 22px;
}

.adm-detail-content-item-block-view-tab .adm-detail-content-item-block-view-tab {
    background:#f5f9f9;
    border:1px solid #dce7ed;
    margin-bottom:15px;
}
.adm-detail-subtabs-block {
    text-align:left;
    white-space:nowrap;
}
.adm-detail-subtabs-block {
    text-align:left;
    white-space:nowrap;
}
.adm-detail-subtabs {
    border-radius:2px 2px 0 0;
    display:inline-block;
    cursor:pointer;
    color:#1c53a2;
    font-size:13px;
    font-weight:bold;
    text-shadow:0 1px #fff;
    height:25px;
    margin-right:7px;
    padding:10px 15px 0;
    vertical-align:top;
}
.adm-detail-subtab-active {
    background:#fff;
    border:1px solid #c6cfd0;
    border-bottom:none;
    color:#000;
    margin-bottom:-1px;
    padding:10px 14px 0;
}
.adm-detail-content-item-block-view-tab .adm-detail-subtab-active {
    background:#f5f9f9;
    border:1px solid #dce7ed;
    border-bottom:none;
}
.adm-detail-content-item-block table {
    border:none;
    font-size:13px;
    margin:0;
}
.adm-detail-content-item-block-view-tab > table {margin-bottom:15px; border-spacing: 0;}
.adm-detail-content-item-block-view-tab > table > tbody > tr > td:first-child {text-align:right;}
.adm-detail-content-item-block-view-tab > table > tbody > tr > td:last-child {text-align:left;}
.adm-detail-content-item-block-view-tab > table > tbody > tr > td {padding:5px 4px 7px;}
.adm-detail-title-view-tab {
    border-bottom:1px solid #DDD;
    font-size:18px;
    margin-bottom:14px;
    text-align:left;
    padding:0 0 15px;
}
/**/
.adm-detail-title {
    color:#000;
    font-size:20px;
    padding:3px 53px 12px 3px;
    position:relative;
    min-height: 25px;
}
.adm-detail-content-cell-l {
    text-align:right;
    padding:5px 4px 7px 0;
}
.adm-detail-content-cell-r {
    padding:5px 0 7px 4px;
}
.adm-detail-content-cell {
    padding:5px 0 7px;
}
/* File input control*/
.add-file-popup-btn:active:before,
.add-file-popup-btn.adm-btn-active:before {top:11px;}

.bx-ie8 .add-file-popup-btn:active:before,
.bx-ie8 .add-file-popup-btn.adm-btn-active:before,
.bx-ie9 .add-file-popup-btn:active:before,
.bx-ie9 .add-file-popup-btn.adm-btn-active:before {top:9px;}

/* File input control - body */
.adm-input-file-top-shift{position: relative; top: -1px;}
.adm-input-file-ext-class{position: relative; overflow: hidden; cursor: pointer !important;}
.adm-input-file-ext-class input[type="file"]{font-size: 300px;opacity: 0;position: absolute;right: 0;top: 0; cursor: pointer !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}

.adm-input-file-control .adm-input-file {max-width: 450px;}
.adm-input-file-control .adm-input-file input[type="file"]{font-size: 300px;}
.adm-input-file-control .adm-input-file-none{display: none !important;}

.adm-input-file-desc{display: block; margin-top: 2px;}
.adm-input-file-desc-link{display: inline-block !important;color: #3f4b54!important;font-size: 11px !important;text-decoration: none !important;border-bottom: 1px dotted #3f4b54;cursor: pointer !important;margin-top:7px;}
.adm-input-file-desc input[type="text"]{display: none;}
.adm-input-file-show-desc .adm-input-file-desc-link{display: none !important;}
.adm-input-file-show-desc input[type="text"]{display: inline!important; margin-top: 10px !important;}
.adm-input-file-exist-cont{display: block;vertical-align: top !important;}
.adm-input-file-exist-cont .adm-input-file-preview{vertical-align: top !important;display: inline-block !important; text-align: center !important;position: relative;border: 1px solid #F5F9F9;}
.adm-input-file-hint-row{display: block; padding: 3px 0; word-wrap: break-word; }
/*.adm-input-file-hint-row a{white-space: nowrap !important;}*/
.adm-input-file-exist-cont img{border: 1px solid #e4e6e6;}
.adm-input-file-name{color: #2d3e4a !important; display: inline-block; vertical-align: top;font-weight:bold;}
.adm-input-file-exist-cont .adm-input-file-img-wrap {border: 1px solid #cacdcd;}
.adm-input-file-deleted img {opacity: 0.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";}
.adm-input-file-deleted .adm-input-file-name{}
.adm-input-file-del-lbl {position: absolute; top: 50%; left: 50%; font-size: 12px; color: #4f5d67; text-shadow:1px 1px #fff;text-align: center !important; display: none;}
.adm-input-file-deleted .adm-input-file-del-lbl{display: block !important;}
.adm-input-file-ex-wrap {margin: 0 0 12px 0;}
.adm-input-file-desc-inp-cont{margin: 8px 0 0 0;}
.adm-input-file-deleted .adm-input-file-desc-inp-cont{display: none;}
.adm-input-file-deleted .add-file-popup-btn{display: none;}
.adm-input-file-deleted .adm-input-file-name{text-decoration: line-through!important; color: #959da1 !important; text-shadow:1px 1px #fff;}
.adm-input-file-bordered,
.adm-input-file-deleted .adm-input-file-preview{border: 1px solid #CACDCD !important;}
.add-file-popup-btn {margin: 0 0 0 10px!important;}
.adm-input-file-new {/*margin: 0 0 14px 0!important;*/}
.adm-input-cont-bordered {border-bottom: 2px solid #edefef; padding: 0 0 14px 0; margin: 0 0 14px 0!important;}
.adm-input-file-not-found{color: #2D3E4A !important;display: inline-block;vertical-align:top;margin-top: 7px;}
.adm-input-fake-inp {
    width: 0!important;
    height: 0!important;
    line-height: 0!important;
    position: absolute!important;
    color: #000!important;
    top: 2px!important;
    opacity: 0!important;
}

.adm-btn-load {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border:none;
    background:#B7C4C9!important;
    background: -webkit-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96))!important;
    background: -moz-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96))!important;
    background: -ms-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96))!important;
    background: -o-linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96))!important;
    background: linear-gradient(top, rgba(179, 194, 200, 0.96), rgba(202, 215, 219, 0.96))!important;
    -webkit-box-shadow: 0 1px 1px 1px rgba(103, 109, 123, 0.78) inset !important;
    box-shadow: 0 1px 1px 1px rgba(103, 109, 123, 0.78) inset !important;
    color:#b1bec2!important;
    cursor:default;
    height:29px!important;
    text-shadow:none !important;
    padding:5px 13px!important;
}
.adm-btn-green.adm-btn-load,
.adm-btn-save.adm-btn-load
{
    background: #698F00 !important;
    -webkit-box-shadow: 0 2px 1px rgba(66, 84, 17, 0.71) inset !important;
    box-shadow: 0 2px 1px rgba(66, 84, 17, 0.71) inset !important;
    border: solid 1px;
    border-color:transparent #698F00 #698F00 !important;
    color:#7a9d1e !important;
    cursor:default;
    height:29px !important;
    padding:6px 13px !important;
    text-shadow:none;
}
/*Float form*/
div.float-form {position:absolute; background-color:#F8F9FC; border:1px solid #B8C1DD; padding:5px; z-index:2;}
div.float-form td {font-size:70%; padding:3px; white-space:nowrap;}
div.float-form div.data {width:400px; height:300px; overflow:scroll; font-size:70%; background-color:white; margin-bottom:5px; border:1px solid #B8C1DD; padding:5px;}
div.float-form-shadow {position:absolute; background-color:#797979; z-index:1; opacity: 0.5; filter: alpha(opacity=50);}

/* Frame */
.internal-page-iframe {
    overflow: auto;
    width: 100%;
    height: 100vh;
}