.crm-ml-entity-wrapper {
	padding: 0 15px 0 21px;
}

.crm-ml-entity-report {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.crm-ml-entity-title .pagetitle-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-ml-entity-report-block {
	background: #fff;
	padding: 15px 20px;
	width: 100%;
}

.crm-ml-entity-report-block + .crm-ml-entity-report-block {
	margin-top: 15px;
}

.crm-ml-entity-report-title {
	color: #333;
	font: 22px/28px 'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	border-bottom: 1px solid rgba(82, 92, 105, .1);
	padding-bottom: 18px;
	margin-bottom: 17px;
}

.crm-ml-entity-report-title-result {
	font-size: 32px;
	line-height: 38px;
}

.crm-ml-entity-report-title-result:after {
	content: '%';
	color: #828b95;
	font-size: 25px;
	line-height: 34px;
}

.crm-ml-entity-report-title-icon {
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%229%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3%205H.98a.4.4%200%200%201-.28-.686L4.22.866a.4.4%200%200%201%20.56%200L8.3%204.314A.4.4%200%200%201%208.02%205H6v2.6a.4.4%200%200%201-.4.4H3.4a.4.4%200%200%201-.4-.4V5z%22/%3E%3C/svg%3E) no-repeat top 3px center;
	border-radius: 50%;
}

.crm-ml-entity-report-title-mark {
	text-transform: uppercase;
	font: 9px/14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 700;
	border-radius: 20px;
	padding: 3px 12px 3px 9px;
	vertical-align: middle;
	display: inline-block;
}

.crm-ml-entity-report-title-success .crm-ml-entity-report-title-mark {
	background: rgba(123, 213, 0, .22);
	color: #589309;
}

.crm-ml-entity-report-title-success .crm-ml-entity-report-title-icon {
	background-color: #9dcf00;
}

.crm-ml-entity-report-title-middle .crm-ml-entity-report-title-mark {
	background: rgba(255, 169, 0, .22);
	color: #b87c00;
}

.crm-ml-entity-report-title-fail .crm-ml-entity-report-title-mark {
	background: rgba(255, 87, 82, .22);
	color: #d2000d;
}

.crm-ml-entity-report-title-fail .crm-ml-entity-report-title-icon {
	background-color: #ff5752;
	transform: rotate(180deg);
}

.crm-ml-entity-report-detail {
	font-size: 13px;
	line-height: 18px;
	color: #525c69;
}

.crm-ml-entity-report-detail-link {
	color: #0b66c3;
	transition: opacity .2s linear;
}

.crm-ml-entity-report-detail-link:hover {
	opacity: .9;
}

.crm-ml-entity-report-detail-text {
	margin-right: 3px;
}

.crm-ml-entity-report-detail-text:after {
	content: ':';
}

.crm-ml-entity-report-subtitle {
	font: 18px/24px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-ml-entity-report-chart {
	border-bottom: 1px solid rgba(224, 224, 224, .6);
	height: 106px;
	padding: 0 13px 0 29px;
	margin-top: 39px;
	display: flex;
}

.crm-ml-entity-report-chart-scale {
	width: 1px;
	height: 100%;
	background: #e0e0e0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.crm-ml-entity-report-chart-scale-item {
	font-size: 10px;
	line-height: 16px;
	color: #808992;
	font-weight: 500;
	margin-right: 8px;
}

.crm-ml-entity-report-chart-column {
	display: flex;
	overflow: hidden;
}

.crm-ml-entity-report-chart-column-item {
	width: 50px;
	height: 100%;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
	display: flex;
	align-items: flex-end;
}

.crm-ml-entity-report-chart-column-item-inner {
	width: 100%;
	height: 0;
	transition: height .3s linear;
}

.crm-ml-entity-report-chart-column-item-inner-green {
	background-color: #9dcf00;
	height: 75%;
}

.crm-ml-entity-report-chart-column-item-inner-yellow {
	background-color: #ffc238;
	height: 51%;
}

.crm-ml-entity-report-chart-column-item-inner-red {
	background-color: #f65c2f;
	height: 30%;
}

.crm-ml-entity-report-block-chart, .crm-ml-entity-report-block-event {
	width: 44%;
}

.crm-ml-entity-report-stat, .crm-ml-entity-report-info {
	display: flex;
}

.crm-ml-entity-report-stat .crm-ml-entity-report-chart {
	margin-top: 0;
	margin-right: 37px;
	padding-right: 2px;
}

.crm-ml-entity-report-stat .crm-ml-entity-report-chart-column-item {
	width: 44px;
}

.crm-ml-entity-report-info-detail {
	font: 18px/24px  'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-ml-entity-report-info-text {
	color: #828b95;
	font: 12px/14px  'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-bottom: 24px;
}

.crm-ml-entity-report-info-value {
	color: #333;
	font: 30px/38px  'OpenSans-Light', "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-right: 3px;
}

.crm-ml-entity-report-info-days {
	color: #525c69;
}

.crm-ml-entity-report-info-dif-green {
	color: #779c00;
}

.crm-ml-entity-report-info-dif-red {
	color: #d2000d;
}

.crm-ml-entity-report-info-item {
	padding: 10px 16px 10px 15px;
	display: flex;
	flex-direction: column;
	max-width: 165px;
	width: 100%;  /* ie */
	box-sizing: border-box;
	position: relative;
}

.crm-ml-entity-report-info-item:before {
	content: '';
	height: 106px;
	width: 1px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(224, 224, 224, .6);
}

.crm-ml-entity-report-block-stat .crm-ml-entity-report-title {
	margin-bottom: 40px;
}

.crm-ml-entity-report-block-event .crm-ml-entity-report-title {
	display: flex;
	align-items: center;
}

.crm-ml-entity-report-block-event:before {
	content: '';
	position: absolute;
	top: 40px;
	left: -20px;
	border: 10px solid transparent;
	border-right-color: #fff;
}

.crm-ml-entity-report-arrows {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-top: 7px;
}

.crm-ml-entity-report-arrow + .crm-ml-entity-report-arrow {
	margin-left: 20px;
}

.crm-ml-entity-report-arrow {
	width: 21px;
	height: 21px;
	cursor: pointer;
	opacity: .5;
	transition: opacity .2s linear;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%2213%22%3E%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20opacity%3D%221%22%20d%3D%22M7.86%201.551L3.898%205.512%202.872%206.5l1.026.989L7.86%2011.45l-1.398%201.398L.114%206.5%206.462.153z%22/%3E%3C/svg%3E) no-repeat center;
}

.crm-ml-entity-report-arrow:hover{
	opacity: 1;
}

.crm-ml-entity-report-arrow-next {
	transform: rotate(180deg);
}