body{
	background: #DFE2E4;
}
.mobile-grid {
	background: #dfe2e4;
	padding: 1px 0;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mobile-grid-item {
	position: relative;
	background: #fff;
	margin: 11px;
}

.mobile-grid-field-data {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	display: block;
	font-size: 14px;
	color: #0c74d5;
	line-height: 40px;
	background: #fff;
	text-decoration: none;
}

.mobile-grid-field-data img {
	max-width:100%;
	height:auto;
}

.mobile-grid-field-phone .mobile-grid-field-icon,
.mobile-grid-field-mail .mobile-grid-field-icon {
	position: absolute;
	right: 18px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
}

.mobile-grid-field-phone .mobile-grid-field-icon {
	width: 23px;
	height: 23px;
}

.mobile-grid-field-mail .mobile-grid-field-icon {
	width: 26px;
	height: 18px;
}


.mobile-grid-field-textarea-fn {
	display: block;
	color: #6f6f6f;
	font-size: 12px;
}

.mobile-grid-field {
	position: relative;
	padding: 8px 18px 0;
	overflow: hidden;
}

.mobile-grid-field:first-child:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-style: solid;
	border-width: 1px;
	border-image: url(images/borderg.png) 3 0 0 repeat;
}

.mobile-grid-field:before {
	content: '';
	position: absolute;
	top: 0;
	left: 15px;
	right: -1px;
	z-index: 1;
	border-style: solid;
	border-width: 1px;
	border-image: url(images/borderg.png) 3 0 0 repeat;
}

.mobile-grid-field:nth-of-type(2):before {display: none;}
.mobile-grid-field:first-child:before {display: none;}

.mobile-grid-field-name .mobile-grid-field-data {
	color: #000;
	line-height: normal;
	padding: 12px 0 11px;
}

.mobile-grid-field-textarea-title {
	position: absolute;
	top: 6px;
	left: 18px;
	font-size: 10px;
	color: rgba(0,0,0,.5);
	text-transform: lowercase;
}

.mobile-grid-field-textarea-title span {color: #3d4853;}

.mobile-grid-change {
	position: relative;
	font-size: 10px;
	color: #566573;
	text-align: center;
	padding: 2px 0;
}

.mobile-grid-change p {
	display: inline-block;
	padding: 0 10px;
	background-color: #dfe2e4;
	z-index: 2;
	position: relative;
	top: 0;
	bottom: 0;
	margin: auto;
}

.mobile-grid-change p span {font-weight: bold;}

.mobile-grid-field-lead-title {
	display: block;
	font-size: 17px;
	color: #000;
	padding: 10px 18px 19px 43px;
	position: relative;
	line-height: 22px;
	word-break: break-word;
}

.mobile-grid-field-lead-title-arrow {
	position: absolute;
	width: 8px;
	height: 14px;
	display: block;
	right: 0;
	top: -7px;
	bottom: 0;
	margin: auto;
}

.mobile-grid-field-lead-title-arrow:before {
	position: absolute;
	top: 3px;
	right: -1px;
	content: '';
	z-index: 2;
	width: 10px;
	height: 2px;
	background: #8b919d;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.mobile-grid-field-lead-title-arrow:after {
	position: absolute;
	top: 5px;
	right: 3px;
	content: '';
	z-index: 2;
	width: 2px;
	height: 10px;
	background: #8b919d;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.mobile-grid-action-panel {
	height: 45px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	background: #f1f3f4;
}

.mobile-grid-action-panel a {
	display: inline-block;
	font-size: 11px;
	color: #5f686d;
	line-height: 45px;
	font-weight: bold;
	padding: 0 0 0 16px;
	text-decoration: none;
	text-align: left;
	max-width: 40%;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mobile-grid-action-panel a:last-child {
	text-align: right;
	float: right;
	padding-right: 16px;
	max-width: 100%;
	text-overflow: inherit;
}

.mobile-grid-action-dis {
	opacity: .4;
}

.mobile-grid-field-title-logo {
	position: absolute;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	top: 0;
	bottom: 0;
	left: 17px;
	margin: auto;
	text-align: center;
	line-height: 33px;
	background: #fff;
	border: 1px solid #C2CACF;
	overflow: hidden;
	font-size: 0;
}

.mobile-grid-field-title-logo img {
	display: inline-block;
	vertical-align: middle;
}

.mobile-grid-field-title-icon {
	position: absolute;
	width: 33px;
	height:33px;
	background: #717e8a;
	border-radius: 50%;
	top: 0;
	bottom: 0;
	left: 17px;
	margin: auto;
	text-align: center;
	line-height: 33px;
}

.mobile-grid-field-title-icon img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	max-width: 20px;
	max-height: 20px;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	height: auto;
}

.mobile-grid-field-progress {
	display: table;
	height: 10px;
	background: #e6e9ec;
	margin: 15px 0 21px;
	width: 100%;
	border-radius: 9px;
	overflow: hidden;
}

.mobile-grid-field-progress-step {
	display: table-cell;
	border-right: 1px solid rgba(255,255,255,.6);
	line-height: 9px;
}

.mobile-grid-field-progress-step:last-child {border-right: 1px solid transparent;}

.mobile-grid-field-call {
	display: block;
	position: relative;
	margin: 16px 0;
	border: 1px solid #dbdee2;
	border-radius: 18px;
	height: 36px;
	padding: 0 51px 0 51px;
	line-height: 36px;
	font-size: 12px;
}

.mobile-grid-field-call img:first-child,
.mobile-grid-field-call img:last-child  {
	position: absolute;
	left: 16px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 28px;
	height: 17px;
}

.mobile-grid-field-call img:last-child {
	left: auto;
	right: 6px;
	width: 25px;
	height:25px;
}

.mobile-grid-field-link {
	color: #0c74d5;
}

.mobile-grid-field-search {
	background: #fff;
	padding: 3px 16px 3px 0;
	z-index: 1;
	margin-bottom:13px;
}

.mobile-grid-field-search img {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 16px;
	z-index: 2;
}

.mobile-grid-field-search .mobile-grid-field-data {
	border: none;
	color: rgba(0,0,0,.6);
	font-size: 14px;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding-left: 35px;
	outline: none;
}

.mobile-grid-field.mobile-grid-field-search:first-child:after {
	border-image: url(images/borderg.png) 0 0 2 repeat;
}

.mobile-grid-field-search-close {
	width: 48px;
	height: 48px;
	right: 16px;
	top: 0;
	bottom: 0;
	margin: auto -16px auto auto;
	position: absolute;
	z-index: 2;
}

.mobile-grid-field-search-close:before,
.mobile-grid-field-search-close:after {
	content: '';
	position: absolute;
	width: 13px;
	height: 2px;
	background: #9498a3;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.mobile-grid-field-search-close:after {
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

.mobile-grid-field-folder-list {background: #DFE2E4;}

.mobile-grid-field-folder {
	font-family: "San Francisco Display", "Helvetica Neue", Helvetica, sans-serif;
	position: relative;
	margin-bottom: 13px;
}
.mobile-grid-field-folder-list .mobile-grid-field-folder:last-child{margin-bottom: 0;}

.mobile-grid-field-item-icon-folder {
	position: absolute;
	left: 16px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 2;
	width: 24px;
	height: 19px;
	overflow: hidden;
}

.mobile-grid-field-item-folder {
	position: relative;
	width: 100%;
	display: block;
	font-size: 17px;
	color: #000;
	line-height: 20px;
	outline: none;
	box-sizing: border-box;
	text-decoration: none;
	background: #fff;
	border: 1px solid;
	padding: 13px 70px 13px 45px;
	border-image: url(images/borderg.png) 2 0 2 repeat;
}

.mobile-grid-field-folder:first-child .mobile-grid-field-item-folder {
	border-image: url(images/borderg.png) 0 0 2 repeat;
}

.mobile-grid-field-item-folder:before {
	position: absolute;
	top: 21px;
	right: 20px;
	content: '';
	z-index: 1;
	width: 2px;
	height: 10px;
	background: #8b919d;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.mobile-grid-field-item-folder:after {
	position: absolute;
	top: 19px;
	right: 16px;
	content: '';
	z-index: 1;
	width: 10px;
	height: 2px;
	background: #8b919d;
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.ios.bx-core.bx-no-touch {
	height: 100%;
}

.mobile-grid-empty {
	height: 100%;
	width: 100%;
	margin-top: -50px;
}

/* empty search */

.mobile-grid-empty-search{
	height:50vh;
	width:100%;
	box-sizing: border-box;
	position: relative;
}
.mobile-grid-empty-search-box{
	position: absolute;
	top:50%;
	left:50%;
	width:80%;
	margin:0 auto;
	text-align: center;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.mobile-grid-empty-search-icon{
	display: inline-block;
	width:95px;
	height:95px;
	background: url(images/search.svg) no-repeat center;
	background-size:contain;
	margin-bottom:40px;
}
.mobile-grid-empty-search-text{
	font-family: "SanFranciscoText", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: Bold;
	font-size:18px;
	color: #556574;
}