.disk-external-link-setting-popup {
	clear: both;
	display: block;
	overflow: hidden;
	padding: 5px 5px 0 5px;
	opacity: 1;
	transition: .2s;
}

.disk-external-link-setting-popup-disabled {
	opacity: .25;
	pointer-events: none;
}

.disk-external-link-setting-checkbox {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.disk-external-link-setting-popup-label {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
	font-size: 14px;
	color: #535c69;
	cursor: pointer;
}

.disk-external-link-setting-popup-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 20px;
}

.disk-external-link-setting-popup-flex .disk-external-link-setting-popup-input {
	display: block;
}

.disk-external-link-setting-popup-flex .disk-external-link-setting-popup-dropdown {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.disk-external-link-setting-popup-flex .disk-external-link-setting-popup-input-auto {
	height: auto;
}

.disk-external-link-setting-popup-input + .disk-external-link-setting-popup-dropdown {
	margin-left: 10px;
}

.disk-external-link-setting-popup-input,
.disk-external-link-setting-popup-dropdown,
.disk-external-link-setting-popup-input {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0 12px;
	color: #535c69;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Helvetica, Arial, sans-serif;
	background: #fff;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	box-sizing: border-box;
}

.disk-external-link-setting-popup-dropdown {
	position: relative;
	padding: 0 30px 0 12px;
	cursor: pointer;
}

.disk-external-link-setting-popup-dropdown:after {
	content: '';
	width: 6px;
	height: 6px;
	position: absolute;
	right: 11px;
	top: 10px;
	border-right: 2px solid #535c69;
	border-bottom: 2px solid #535c69;
	transform: rotate(45deg);
}

.disk-external-link-setting-popup-flex .disk-external-link-setting-popup-input {
	width: 28px;
	padding: 0 5px;
	text-align: center;
}

.disk-detail-public-link-settings-popup {
	min-width: 230px;
}

.disk-external-link-setting-password,
.disk-external-link-setting-time-limit {
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
	padding-left: 20px;
	font-size: 14px;
	color: #000;
}

.disk-external-link-setting-password {
	margin-bottom: 0;
}

.disk-external-link-setting-popup-password {
	display: flex;
}

.disk-external-link-setting-popup-input-password {
	border-right: none;
}

.disk-external-link-setting-popup-password-show {
	display: block;
	width: 35px;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%229%22%20viewBox%3D%220%200%2017%209%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C6A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M8.333%2C0%20C3.3875%2C0%200.1355%2C3.6645%200%2C3.82%20L1.406%2C5.049%20C1.434%2C5.0175%204.2545%2C1.8675%208.333%2C1.8675%20C12.4115%2C1.8675%2015.232%2C5.0175%2015.259%2C5.0475%20L16.666%2C3.82%20C16.5305%2C3.6645%2013.2785%2C0%208.333%2C0%20M8.208%2C3.934%20C6.827%2C3.934%205.708%2C5.053%205.708%2C6.434%20C5.708%2C7.8145%206.827%2C8.934%208.208%2C8.934%20C9.589%2C8.934%2010.708%2C7.8145%2010.708%2C6.434%20C10.708%2C5.053%209.589%2C3.934%208.208%2C3.934%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	border: 1px solid #c6cdd3;
	border-left: none;
	border-radius: 0 2px 2px 0;
	transition: .1s;
	cursor: pointer;
}

.disk-external-link-setting-popup-password-show:active {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2217%22%20height%3D%227%22%20viewBox%3D%220%200%2017%207%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22a%22%20points%3D%220%200%2016.666%200%2016.666%206.115%200%206.115%22/%3E%0A%20%20%3C/defs%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23535C6A%22%20d%3D%22M14.3276901%2C3.17854622%20L15%2C4.5%20L13.336%2C5.347%20L12.6898155%2C4.07642308%20C11.6671913%2C4.53940789%2010.4739269%2C4.90402433%209.1415%2C5.0124%20L9.1415%2C6.1154%20L7.2745%2C6.1154%20L7.2745%2C4.9874%20C6.1945%2C4.8719%205.21%2C4.5939%204.3385%2C4.2334%20L3.6765%2C5.5339%20L2.0125%2C4.6869%20L2.674%2C3.3874%20C1.0405%2C2.3949%200.072%2C1.3119%200%2C1.2289%20L1.407%2C0.0014%20C1.434%2C0.0319%204.2545%2C3.1819%208.333%2C3.1819%20C12.4115%2C3.1819%2015.232%2C0.0319%2015.26%2C-0.0001%20L16.666%2C1.2289%20C16.5986247%2C1.30627637%2015.760731%2C2.24934298%2014.3276901%2C3.17854622%20Z%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
}