.rpa-type-permissions {
	width: 100%;
}

.rpa-type-form .rpa-automation-options-item {
	height: 116px;
	background-position: top 20px center;
	padding-bottom: 10px;
}

.rpa-automation-options-item-person {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2238%22%20height%3D%2242%22%3E%3Cg%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M11.942%202.087c-1.118-1.843%208.305-3.372%208.93%202.266.247%201.7.247%203.426%200%205.126%200%200%201.408-.167.469%202.615%200%200-.518%202.002-1.312%201.552%200%200%20.128%202.532-1.123%202.961%200%200%20.09%201.35.09%201.44l1.04.164c-.036.423.024.85.177%201.246.952.64%201.998%201.127%203.101%201.441.15.04.295.082.439.127-4.226%201.827-7.182%206.032-7.182%2010.926%200%201.203.179%202.364.51%203.458L.573%2035.408s1.472-7.919%201.965-9.921c.493-2.003%203.272-3.494%205.829-4.635%201.323-.591%201.607-.944%202.942-1.553.074-.37.104-.746.089-1.122l1.132-.14s.148.286-.09-1.37c0%200-1.272-.346-1.332-2.98%200%200-.955.331-1.012-1.267-.04-1.082-.855-2.022.318-2.798l-.598-1.655s-.628-6.4%202.126-5.88z%22/%3E%3Cpath%20d%3D%22M28.468%2022.815a9.136%209.136%200%20110%2018.272%209.136%209.136%200%20010-18.272zm-1.327%204.933a.7.7%200%2000-.7.7v7.007a.7.7%200%20001.13.552l4.51-3.503a.7.7%200%20000-1.105l-4.51-3.503a.7.7%200%2000-.43-.148z%22/%3E%3C/g%3E%3C/svg%3E);
}

.rpa-type-form .rpa-automation-options-item-afterend {
	background-position: top 23px center;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2255%22%20height%3D%2232%22%3E%3Cg%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M38.855.032c8.788%200%2015.911%207.124%2015.911%2015.91%200%208.788-7.123%2015.912-15.91%2015.912-8.788%200-15.911-7.124-15.911-15.911%200-8.787%207.123-15.91%2015.91-15.91zm-2.83%208.05a.7.7%200%2000-.7.7v14.322a.7.7%200%20001.13.553l9.221-7.161a.7.7%200%20000-1.106l-9.221-7.161a.7.7%200%2000-.43-.147z%22/%3E%3Cpath%20d%3D%22M15.91.032c3.213%200%206.203.952%208.704%202.59a19.724%2019.724%200%2000-1.855%202.311A12.898%2012.898%200%200015.91%202.98c-7.16%200-12.965%205.804-12.965%2012.964s5.805%2012.964%2012.965%2012.964c2.514%200%204.86-.716%206.848-1.954.56.816%201.18%201.59%201.855%202.31a15.834%2015.834%200%2001-8.703%202.59C7.123%2031.854%200%2024.73%200%2015.944%200%207.156%207.123.033%2015.91.033zm-2.83%208.05a.7.7%200%2001.43.147l6.074%204.716a19.65%2019.65%200%20000%205.994l-6.074%204.718a.7.7%200%2001-1.13-.553V8.782a.7.7%200%2001.7-.7z%22/%3E%3C/g%3E%3C/svg%3E);
}

.rpa-automation-options-item-shedule {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2244%22%20height%3D%2241%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20d%3D%22M34.606%2022.453a9.136%209.136%200%20110%2018.272%209.136%209.136%200%20010-18.272zm-1.327%204.933a.7.7%200%2000-.694.605l-.006.095v7.006a.7.7%200%20001.043.61l.086-.057%204.51-3.503a.7.7%200%2000.078-1.036l-.077-.07-4.511-3.503a.7.7%200%2000-.43-.147zM21.41%204.659v1.038a3.306%203.306%200%20003.119%203.3l.187.005a3.306%203.306%200%20003.3-3.118l.006-.187V4.659l4.027.001a3%203%200%20013%203v11.81a12.148%2012.148%200%2000-3.494.379v-8.216a1%201%200%2000-1-1H4.994a1%201%200%2000-.993.884l-.007.116v18.685a1%201%200%2000.884.993l.116.007h17.489A12.13%2012.13%200%200022.966%2035L3.5%2035a3%203%200%2001-3-3V7.66a3%203%200%20013-3h3.959v1.037a3.306%203.306%200%20006.607.187l.005-.187-.001-1.038h7.34zm-9.186%2016.368a.6.6%200%2001.6.6v3.62a.6.6%200%2001-.6.6h-3.62a.6.6%200%2001-.6-.6v-3.62a.6.6%200%2001.6-.6h3.62zm6.798%200a.6.6%200%2001.6.6v3.62a.6.6%200%2001-.6.6h-3.621a.6.6%200%2001-.6-.6v-3.62a.6.6%200%2001.6-.6h3.621zm-6.798-6.798a.6.6%200%2001.6.6v3.621a.6.6%200%2001-.6.6h-3.62a.6.6%200%2001-.6-.6v-3.621a.6.6%200%2001.6-.6h3.62zm6.798%200a.6.6%200%2001.6.6v3.621a.6.6%200%2001-.6.6h-3.621a.6.6%200%2001-.6-.6v-3.621a.6.6%200%2001.6-.6h3.621zm6.798%200a.6.6%200%2001.6.6v3.621a.6.6%200%2001-.6.6h-3.621a.6.6%200%2001-.6-.6v-3.621a.6.6%200%2001.6-.6h3.62zM24.629.5c.944%200%201.71.766%201.71%201.71v2.9a1.71%201.71%200%2011-3.42%200v-2.9c0-.944.766-1.71%201.71-1.71zM10.757.5c.944%200%201.71.766%201.71%201.71v2.9a1.71%201.71%200%2011-3.42%200v-2.9c0-.944.766-1.71%201.71-1.71z%22/%3E%3C/svg%3E);
}

.rpa-type-text {
	text-align: center;
}

.rpa-type-form .rpa-automation-options-subject {
	min-height: 34px;
}

.rpa-type-access-desc-text {
	color: #333;
}

.rpa-type-access-desc {
	position: relative;
	padding-left: 50px;
	margin-bottom: 22px;
	min-height: 37px;
}

.rpa-type-access-desc:before {
	content: '';
	width: 31px;
	height: 40px;
	position: absolute;
	left: 8px;
	top: 0;
	display: block;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2227%22%20height%3D%2235%22%3E%3Cpath%20fill%3D%22%2316B9EB%22%20fill-rule%3D%22evenodd%22%20d%3D%22M14.944%2029.144h-2.902v-3.573a2.244%202.244%200%2001-.856-1.76c0-1.25%201.033-2.264%202.307-2.264s2.308%201.014%202.308%202.264c0%20.711-.335%201.345-.857%201.76v3.573zM7.176%2010.39c0-3.424%202.828-6.2%206.317-6.2%203.489%200%206.317%202.776%206.317%206.2v4.483H7.176V10.39zm15.973%204.483V10.39c0-5.233-4.323-9.475-9.656-9.475-5.332%200-9.655%204.242-9.655%209.475v4.483H.907V34.24H26.08V14.872h-2.931z%22/%3E%3C/svg%3E) no-repeat center;
}

.rpa-type-form .ui-ctl-checkbox .rpa-automation-label {
	cursor: pointer;
}

.rpa-type-image-wrap {
	display: flex;
	margin-bottom: 18px;
}

.rpa-type-image-block {
	margin-right: 10px;
	width: 322px;
	height: 190px;
	background: #eef2f4;
	padding: 14px 20px;
}

.rpa-type-btn-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 5px;
}

.rpa-type-btn-block .ui-btn + .ui-btn {
	margin-left: 0;
	margin-top: 5px;
}

.rpa-type-image-inner {
	height: 100%;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .14);
	position: relative;
}

.rpa-type-image-header {
	height: 36px;
	position: relative;
}

.rpa-type-image-header:before, .rpa-type-image-header:after, .rpa-type-image-footer:after {
	content: '';
	position: absolute;
	background: #d8d8d8;
	display: block;
}

.rpa-type-image-header:before {
	width: 70px;
	height: 7px;
	left: 15px;
	top: 15px;
}

.rpa-type-image-header:after {
	width: 44px;
	height: 4px;
	right: 13px;
	top: 17px;
}

.rpa-type-image-footer {
	height: 29px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.rpa-type-image-footer:after {
	width: 44px;
	height: 2px;
	left: 15px;
	bottom: 14px;
}

.rpa-type-image {
	width: 100%;
	height: calc(100% - 65px);
	justify-content: center;
	align-items: center;
	font-size: 75px;
	display: flex;
	color: #fff;
	background-size: contain;
	position: absolute;
	top: 36px;
	bottom: 0;
	left: 0;
	right: 0;
}

.rpa-type-image-palette-list {
	display: flex;
	align-items: center;
	padding-left: 17px;
}

.rpa-type-image-palette-item {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.rpa-type-image-palette-item + .rpa-type-image-palette-item {
	margin-left: 9px;
}

.rpa-type-image-palette-item-selected {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2),
				0 0 0 2px #fff,
				0 0 0 4px #a8aeb6;
}

.rpa-type-image-delete {
	position: absolute;
	top: -8px;
	right: -8px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	opacity: .7;
	transition: all .2s linear;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
	background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23515E68%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6.121.464L7.536%201.88l-2.122%202.12%202.122%202.122L6.12%207.536%204%205.414%201.88%207.536.464%206.12%202.585%204%20.465%201.88%201.878.464l2.12%202.121L6.121.465z%22%20opacity%3D%22.45%22/%3E%3C/svg%3E) no-repeat center;
}

.rpa-type-image-delete:hover {
	opacity: 1;
}

.rpa-automation-section-image .rpa-automation-options-item {
	background-position: center;
	height: 80px;
	width: 82px;
}

.rpa-automation-section-image .rpa-automation-options-item + .rpa-automation-options-item {
	margin-left: 10px;
}

.rpa-automation-section-image .rpa-automation-options-item.rpa-tile-item-icon-plane {
	background-size: 45px;
}
