.disk-public-link-block {
	display: block;
	overflow: hidden;
	opacity: 0;
	transition: .3s;
}

.disk-public-link-block-show {
	/*height: 50px;*/
	/*animation: disk-show-copy-link .2s linear forwards;*/
	/*animation-delay: .4s;*/

	opacity: 1;
}

@keyframes disk-show-copy-link {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.disk-public-link-block-hide {
	/*height: 0;*/
	/*opacity: 0;*/
	/*animation: disk-hide-copy-link .2s linear forwards;*/
	transition-delay: .3s;
}

.disk-public-link-block-hide .disk-public-link-input-copy,
.disk-public-link-block-hide .disk-public-link-input,
.disk-public-link-block-hide .disk-public-link-config {
	pointer-events: none;
}

@keyframes disk-hide-copy-link {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.disk-public-link-copy {
	display: flex;
	overflow: hidden;
	margin-bottom: 5px;
	box-sizing: border-box;
}

.disk-public-link-copy-center {
	align-items: center;
}

.disk-public-link-input {
	flex: 1;
	height: 32px;
	padding: 0 6px 0 0;
	border: 1px solid rgba(163,168,171,.34);
	border-left: none;
	border-radius: 1px;
	font-size: 14px;
	color: rgba(163,168,171,.8);
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.disk-public-link-input:focus {
	color: #333;
}

.disk-public-link-input-copy {
	display: block;
	height: 30px;
	width: 22px;
	border: 1px solid rgba(163,168,171,.34);
	border-right: none;
	border-radius: 1px;
	cursor: pointer;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213px%22%20height%3D%2215px%22%20viewBox%3D%220%200%2013%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cg%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate%28-894.000000%2C%20-1091.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28894.000000%2C%201091.000000%29%22%20fill%3D%22%23a3a8ab%22%20opacity%3D%22.48%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M9.57894737%2C0%20L1.36842105%2C0%20C0.615789474%2C0%200%2C0.613636364%200%2C1.36363636%20L0%2C10.9090909%20L1.36842105%2C10.9090909%20L1.36842105%2C1.36363636%20L9.57894737%2C1.36363636%20L9.57894737%2C0%20Z%20M11.6315789%2C2.72727273%20L4.10526316%2C2.72727273%20C3.35263158%2C2.72727273%202.73684211%2C3.34090909%202.73684211%2C4.09090909%20L2.73684211%2C13.6363636%20C2.73684211%2C14.3863636%203.35263158%2C15%204.10526316%2C15%20L11.6315789%2C15%20C12.3842105%2C15%2013%2C14.3863636%2013%2C13.6363636%20L13%2C4.09090909%20C13%2C3.34090909%2012.3842105%2C2.72727273%2011.6315789%2C2.72727273%20Z%20M11.6315789%2C13.6363636%20L4.10526316%2C13.6363636%20L4.10526316%2C4.09090909%20L11.6315789%2C4.09090909%20L11.6315789%2C13.6363636%20Z%22%20id%3D%22Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') left 5px center no-repeat;
}

.disk-public-link-config {
	display: block;
	position: relative;
	overflow: hidden;
	width: 28px;
	height: 32px;
	opacity: .5;
	cursor: pointer;
	transition: .1s;
}

.disk-public-link-config:hover {
	opacity: 1;
}

.disk-public-link-config:before {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	top: 50%;
	left: 9px;
	margin-top: -7px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20transform%3D%22translate%28-1162.000000%2C%20-597.000000%29%22%3E%3Cg%20transform%3D%22translate%28951.000000%2C%20139.000000%29%22%20fill%3D%22%23828B95%22%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22M220.563687%2C465.575873%20C220.352151%2C466.570249%20219.570155%2C467.352241%20218.575783%2C467.563708%20C216.679956%2C467.966899%20215.033057%2C466.319521%20215.436329%2C464.424104%20C215.627038%2C463.527831%20216.527689%2C462.627117%20217.423964%2C462.43637%20C219.31943%2C462.032936%20220.96697%2C463.679947%20220.563687%2C465.575873%20M224.487717%2C463.980595%20L223.100912%2C463.749222%20L223.100912%2C463.749222%20C223.002387%2C463.346419%20222.85975%2C462.960976%20222.674612%2C462.600674%20C222.66683%2C462.585516%20222.668638%2C462.567279%20222.679337%2C462.554017%20L223.549542%2C461.475005%20C223.738367%2C461.24235%20223.729792%2C460.907618%20223.530723%2C460.683092%20L222.979158%2C460.062322%20C222.779227%2C459.83802%20222.447683%2C459.790588%20222.194785%2C459.950364%20L221.008787%2C460.695927%20L221.008787%2C460.695927%20C220.494637%2C460.336705%20219.913205%2C460.070065%20219.286262%2C459.912958%20C219.269637%2C459.908781%20219.257025%2C459.895212%20219.25419%2C459.87828%20L219.026818%2C458.511847%20C218.978122%2C458.216621%20218.722645%2C458%20218.422753%2C458%20L217.591562%2C458%20C217.292277%2C458%20217.035925%2C458.216621%20216.988313%2C458.511847%20L216.759682%2C459.878789%20C216.756847%2C459.895679%20216.744258%2C459.909208%20216.727657%2C459.913365%20C216.220285%2C460.040522%20215.743725%2C460.24121%20215.30717%2C460.503592%20C215.292458%2C460.512435%20215.273978%2C460.511783%20215.260002%2C460.5018%20L214.155087%2C459.713247%20C213.912012%2C459.539575%20213.578123%2C459.566734%20213.365988%2C459.778425%20L212.778782%2C460.366065%20C212.56709%2C460.578204%20212.53993%2C460.9121%20212.714067%2C461.155188%20L213.504472%2C462.262315%20C213.514435%2C462.276272%20213.515123%2C462.294751%20213.506303%2C462.309461%20C213.246475%2C462.742643%20213.047873%2C463.21637%20212.920847%2C463.71913%20C212.916647%2C463.735735%20212.903125%2C463.748286%20212.886255%2C463.751097%20L211.511817%2C463.980616%20C211.217047%2C464.02929%20211%2C464.284805%20211%2C464.584718%20L211%2C465.415282%20C211%2C465.715174%20211.217047%2C465.97071%20211.511817%2C466.019384%20L212.886208%2C466.248883%20C212.903102%2C466.251714%20212.916647%2C466.264286%20212.920823%2C466.280911%20C213.024155%2C466.691375%20213.171342%2C467.084011%20213.364833%2C467.449509%20C213.372895%2C467.464749%20213.371192%2C467.483269%20213.360353%2C467.496696%20L212.494442%2C468.569166%20C212.30627%2C468.801599%20212.314168%2C469.136554%20212.513248%2C469.360876%20L213.064382%2C469.981666%20C213.264325%2C470.206376%20213.596055%2C470.252952%20213.848977%2C470.093583%20L215.028278%2C469.352747%20C215.042733%2C469.34366%20215.061155%2C469.344027%20215.075295%2C469.353603%20C215.57863%2C469.693754%20216.146435%2C469.944238%20216.755038%2C470.093583%20L216.755038%2C470.093583%20L216.988337%2C471.488112%20C217.035948%2C471.783358%20217.292277%2C472%20217.591562%2C472%20L218.422753%2C472%20C218.722657%2C472%20218.978122%2C471.783379%20219.026818%2C471.488133%20L219.254575%2C470.121435%20C219.25741%2C470.104524%20219.270022%2C470.090975%20219.286647%2C470.086818%20C219.787462%2C469.961413%20220.257827%2C469.76427%20220.690263%2C469.506514%20C220.704975%2C469.497752%20220.723385%2C469.498445%20220.737303%2C469.508387%20L221.889305%2C470.33117%20C222.13196%2C470.505473%20222.466082%2C470.47813%20222.677995%2C470.265767%20L223.265458%2C469.678311%20C223.476893%2C469.466824%20223.505523%2C469.13311%20223.32994%2C468.889574%20L222.509855%2C467.739743%20C222.499892%2C467.725786%20222.499215%2C467.707327%20222.508035%2C467.692636%20C222.768633%2C467.257989%20222.968297%2C466.783346%20223.094623%2C466.278324%20C223.098777%2C466.261699%20223.112322%2C466.249087%20223.129215%2C466.246254%20L224.488183%2C466.019345%20C224.783828%2C465.970649%20225%2C465.715133%20225%2C465.415241%20L225%2C464.584677%20C224.999557%2C464.284805%20224.783385%2C464.02929%20224.487717%2C463.980595%22%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E') center center no-repeat;
	animation-duration: .7s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.disk-public-link-config:hover:before {
	animation-name: disk-element-rotate-empty;
}