.crm-recyclebin-list-toolbar{
    font: 13px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.crm-recyclebin-list-config{
    display: flex;
    padding: 17px 1px;
    color: #535c69;
}

.bitrix24-light-theme .crm-recyclebin-list-info-text {
    color: #fff;
}