.crm-webform-editor-wrapper {
	background: #eef2f4;
	padding: 10px;
}

.crm-webform-editor-activate {
	background: #fff;
	margin: 0 0 20px;
	padding: 10px;
	display: flex;
	align-items: center;
}

.crm-webform-editor-activate-text {
	padding: 0 0 0 10px;
	color: #848484;
}

.crm-webform-editor-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-bottom: 10px;
}

.crm-webform-editor-form {
	margin: 0 20px 0 0;
	word-break: break-word;
	width: 100%;
	border-radius: 10px;

	background: #efefef url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='251' viewBox='0 0 250 251'%3E%3Cpath fill='%23e0e0e0' d='M196,42.8 C196,42.9 196.1,43 196.2,43 C196.5,43.7 197,44.2 197.7,44.6 C198.3,45 199.1,45.2 199.8,45.2 C200.1,45.2 200.4,45.2 200.8,45.1 L236.8,36.4 C239,35.9 240.3,33.7 239.8,31.5 L234.3,8.5 C234.2,8.3 234,8.1 233.8,8.2 L227,9.9 L225.9,5.3 C225.9,5.2 225.8,5.1 225.7,5 C225.6,4.9 225.5,4.9 225.4,5 L189.4,13.7 C189.2,13.8 189,14 189.1,14.2 L196,42.8 Z M233.4,9.2 L238.6,30.9 L238.8,31.8 C239.2,33.5 238.2,35.2 236.5,35.6 C234.8,36 233.1,35 232.7,33.2 L227.3,10.7 L233.4,9.2 Z M225.2,5.9 L231.9,33.5 C232.2,34.7 233.1,35.7 234.2,36.2 L200.6,44.3 C199.8,44.5 198.9,44.4 198.2,43.9 C197.6,43.6 197.2,43.1 197,42.5 L196.8,41.9 L190,14.4 L225.2,5.9 Z M198.7,172.2 C198.8,172.4 198.9,172.5 199.1,172.5 L199.3,172.5 L214.7,166.3 C214.9,166.2 215,166 214.9,165.8 C214.8,165.6 214.6,165.5 214.4,165.6 L199,171.8 C198.7,171.8 198.6,172 198.7,172.2 Z M150.4,124.7 L148.1,119.2 C148.1,119.1 148,119 147.9,119 L147.6,119 L147.4,119.1 L147.7,115.3 C147.7,115.1 147.5,114.9 147.3,114.9 C147.1,114.9 146.9,115.1 146.9,115.3 L146.6,119.5 L143.6,120.7 L143.3,120.4 C143.1,120.2 142.9,120.2 142.7,120.4 C142.5,120.6 142.5,120.8 142.7,121 L142.8,121.1 L142.2,121.3 C142,121.4 141.9,121.6 142,121.8 L144.3,127.3 C144.4,127.5 144.5,127.6 144.7,127.6 L144.9,127.6 L150.4,125.3 C150.3,125.1 150.4,124.9 150.4,124.7 Z M146.4,120.3 L146.2,123.3 L144.1,121.2 L146.4,120.3 Z M144.7,126.5 L142.8,121.7 L143.3,121.5 L146.3,124.5 C146.4,124.6 146.5,124.6 146.6,124.6 L146.7,124.6 C146.9,124.5 147,124.4 147,124.2 L147.4,119.8 L147.6,119.7 L149.5,124.5 L144.7,126.5 Z M155.2,130.8 C155.3,131 155.4,131.1 155.6,131.1 L155.8,131.1 L170.9,124.9 C171.1,124.8 171.2,124.6 171.1,124.4 C171,124.2 170.8,124.1 170.6,124.2 L155.5,130.4 C155.2,130.4 155.1,130.6 155.2,130.8 Z M198,169.9 L198.2,169.9 L213.6,163.7 C213.8,163.6 213.9,163.4 213.8,163.2 C213.8,163.1 213.7,163 213.6,163 L213.3,163 L197.9,169.2 C197.7,169.3 197.6,169.5 197.7,169.7 C197.7,169.8 197.8,169.9 198,169.9 Z M238.7,49.4 L238.9,49.1 C239,48.9 239,48.7 238.8,48.5 C238.6,48.4 238.4,48.4 238.2,48.6 L238,49 C237.6,49.5 237.2,50.1 237,50.7 C236.8,51.4 236.8,52.1 237,53 C237.1,53.2 237.1,53.5 237.2,53.7 C237.4,54.2 237.5,54.6 237.6,55.1 C237.7,55.7 237.5,56.3 237.2,56.8 C237.1,57 237.2,57.3 237.4,57.4 C237.5,57.4 237.5,57.5 237.6,57.5 C237.7,57.5 237.9,57.4 238,57.3 C238.4,56.6 238.6,55.8 238.5,55 C238.4,54.5 238.3,53.9 238.1,53.4 C238,53.2 238,53 237.9,52.8 C237.7,52.1 237.7,51.5 237.8,51 C238,50.4 238.3,49.9 238.7,49.4 Z M154.3,128.7 C154.4,128.9 154.5,129 154.7,129 L154.9,129 L170,122.8 C170.2,122.7 170.3,122.5 170.2,122.3 C170.1,122.1 169.9,122 169.7,122.1 L154.6,128.3 C154.3,128.3 154.2,128.5 154.3,128.7 Z M233.8,48.7 L233.8,48.7 L234,48.4 C234.1,48.2 234.1,48 233.9,47.8 C233.7,47.7 233.5,47.7 233.3,47.9 L233.1,48.2 C232.7,48.7 232.3,49.3 232.1,49.9 C231.9,50.6 231.9,51.3 232.1,52.2 C232.2,52.4 232.2,52.7 232.3,52.9 C232.5,53.4 232.6,53.9 232.7,54.3 C232.8,54.9 232.6,55.5 232.3,56 C232.2,56.2 232.3,56.5 232.5,56.6 C232.6,56.6 232.6,56.7 232.7,56.7 C232.8,56.7 233,56.6 233.1,56.5 C233.5,55.8 233.7,55 233.6,54.2 C233.5,53.7 233.4,53.1 233.2,52.6 C233.1,52.4 233.1,52.2 233,52 C232.8,51.3 232.8,50.7 232.9,50.2 C233.1,49.7 233.5,49.2 233.8,48.7 Z M121.2,185.5 C121.1,185.6 121.1,185.7 121.2,185.8 L122.6,190.4 C122.7,190.6 122.8,190.7 123,190.7 L123.1,190.7 L127.7,189.3 C127.8,189.3 127.9,189.2 127.9,189.1 C128,189 128,188.9 127.9,188.8 L126.5,184.2 C126.4,184 126.3,183.9 126.1,183.9 L125.9,183.9 L121.3,185.3 C121.3,185.4 121.2,185.5 121.2,185.5 Z M125.9,184.9 L127.1,188.7 L123.3,189.9 L122.1,186.1 L125.9,184.9 Z M151.6,122.2 L151.6,122.2 C151.7,122.4 151.8,122.5 152,122.5 L152.2,122.5 L167.3,116.3 C167.5,116.2 167.6,116 167.5,115.8 C167.4,115.6 167.2,115.5 167,115.6 L151.9,121.8 C151.6,121.7 151.5,121.9 151.6,122.2 Z M201.8,180.1 C201.9,180.3 202,180.4 202.2,180.4 L202.4,180.4 L217.8,174.2 C218,174.1 218.1,173.9 218,173.7 C217.9,173.5 217.7,173.4 217.5,173.5 L202.1,179.7 C201.8,179.6 201.7,179.9 201.8,180.1 Z M150.9,196.8 L151.3,197.1 C151.6,197.3 152,197.5 152.5,197.5 C153.2,197.5 153.8,197.2 154.1,196.7 L159.1,189.6 L162.1,185.4 C164.1,186.4 166.3,186.9 168.5,186.9 C173.2,186.9 177.6,184.6 180.3,180.8 C182.5,177.7 183.4,173.8 182.8,170 C182.2,166.2 180.1,162.9 176.9,160.6 C174.4,158.9 171.6,157.9 168.5,157.9 C163.8,157.9 159.4,160.2 156.7,164 C152.5,169.9 153.4,177.8 158.4,182.7 L150.4,194 C150.1,194.4 150,195 150.1,195.5 C150.1,196 150.4,196.5 150.9,196.8 Z M157.4,164.5 C159.9,160.9 164.1,158.8 168.5,158.8 C171.3,158.8 174.1,159.7 176.4,161.3 C179.4,163.4 181.3,166.5 181.9,170.1 C182.5,173.7 181.7,177.3 179.6,180.2 C177.1,183.8 172.9,185.9 168.5,185.9 C165.7,185.9 162.9,185 160.6,183.4 C154.5,179.1 153.1,170.6 157.4,164.5 Z M159,183.3 C159.4,183.6 159.7,183.9 160.1,184.2 C160.5,184.5 160.9,184.7 161.3,185 L158.6,188.8 L156.3,187.1 L159,183.3 Z M151.1,194.5 L155.9,187.7 L158.2,189.4 L153.4,196.2 C153.2,196.5 152.9,196.6 152.6,196.7 C152.3,196.8 152,196.7 151.7,196.5 L151.3,196.2 C151,196 150.9,195.7 150.8,195.4 C150.8,195 150.9,194.7 151.1,194.5 Z M172.8,218.8 C172.7,218.6 172.5,218.4 172.3,218.5 L145.6,225.7 C145.4,225.8 145.2,226 145.3,226.2 C145.4,226.4 145.5,226.5 145.7,226.5 L145.8,226.5 L172.5,219.3 C172.7,219.3 172.9,219 172.8,218.8 Z M198.1,155.5 L198.1,155.5 C199.5,155.5 201,155.2 202.3,154.7 C208.1,152.3 210.9,145.7 208.5,140 C206.8,135.9 202.9,133.1 198.5,133 C198.3,133 198.1,133.2 198.1,133.4 C198.1,133.6 198.3,133.8 198.5,133.8 C202.6,134 206.2,136.5 207.8,140.3 C210,145.7 207.4,151.8 202,154 C196.6,156.2 190.5,153.6 188.3,148.2 C186.7,144.4 187.6,140 190.5,137 C190.7,136.8 190.7,136.6 190.5,136.4 C190.3,136.2 190.1,136.2 189.9,136.4 C186.8,139.6 185.9,144.4 187.6,148.5 C189.4,152.8 193.6,155.5 198.1,155.5 Z M153.9,133.3 L151.6,127.8 C151.6,127.7 151.5,127.6 151.4,127.6 L151.1,127.6 L145.6,129.9 C145.5,129.9 145.4,130 145.4,130.1 L145.4,130.4 L147.7,135.9 C147.8,136.1 147.9,136.2 148.1,136.2 L148.3,136.2 L153.8,133.9 C153.9,133.8 154,133.5 153.9,133.3 Z M148.2,135.2 L146.3,130.4 L151.1,128.5 L153,133.3 L148.2,135.2 Z M242.2,54.4 L242.2,54.4 C242.4,54.9 242.5,55.3 242.6,55.8 C242.7,56.4 242.5,57 242.2,57.5 C242.1,57.7 242.2,58 242.4,58.1 C242.5,58.1 242.5,58.2 242.6,58.2 C242.7,58.2 242.9,58.1 243,58 C243.4,57.3 243.6,56.5 243.5,55.7 C243.4,55.2 243.3,54.6 243.1,54.1 C243,53.9 243,53.7 242.9,53.5 C242.7,52.8 242.7,52.2 242.8,51.7 C243,51.2 243.3,50.7 243.7,50.2 L243.9,49.9 C244,49.7 244,49.5 243.8,49.3 C243.6,49.2 243.4,49.2 243.2,49.4 L243,49.7 C242.6,50.2 242.2,50.8 242,51.4 C241.8,52.1 241.8,52.8 242,53.7 C242,53.9 242.1,54.1 242.2,54.4 Z M179.4,225.6 L174,205.4 C174,205.3 173.9,205.2 173.8,205.1 C173.7,205 173.6,205 173.5,205.1 L146.3,212.4 C146,212.5 145.8,212.6 145.5,212.7 L145.4,212.7 C145.3,212.8 145.1,212.8 145,212.9 C144.8,213 144.7,213 144.5,213.1 C144.4,213.1 144.4,213.2 144.3,213.2 L143.7,213.5 C142.5,214.3 141.4,215.4 140.7,216.7 C139.8,218.3 139.4,220 139.5,221.8 C139.5,222.1 139.5,222.3 139.6,222.6 L139.6,222.7 C139.6,223 139.7,223.3 139.8,223.6 L139.9,224 L146.9,249.9 L147.8,249.9 L140.9,224 C143.1,222.1 145.7,221.7 147.5,221.7 C148.5,221.7 149.2,221.8 149.3,221.8 L149.4,221.8 C149.6,221.8 149.8,221.6 149.8,221.4 C149.8,221.3 149.7,221.2 149.6,221.1 C149.5,221 149.5,220.9 149.4,220.8 L171.4,214.9 C171.6,214.8 171.8,214.6 171.7,214.4 C171.6,214.2 171.4,214 171.2,214.1 L148.9,220.1 C147.4,217.6 146.8,215.3 147.3,213 L173.4,206 L178.6,225.5 L177.6,225.5 C176.5,225.5 175.4,225.6 174.3,225.9 C172.3,226.4 170.5,227.4 169,228.8 L148.1,234.4 C147.9,234.5 147.7,234.7 147.8,234.9 C147.9,235.1 148,235.2 148.2,235.2 L148.3,235.2 L167.9,229.9 C167.4,230.5 167,231.1 166.6,231.8 C166.1,232.6 165.7,233.5 165.5,234.4 L149.3,238.8 C149.1,238.9 148.9,239.1 149,239.3 C149.1,239.5 149.2,239.6 149.4,239.6 L149.5,239.6 L165.2,235.4 C164.9,236.7 164.8,238 164.9,239.3 L150.4,243.2 C150.2,243.3 150,243.5 150.1,243.7 C150.2,243.9 150.3,244 150.5,244 L150.6,244 L165,240.1 C165.1,240.6 165.2,241 165.3,241.5 C165.5,242.3 165.8,243 166.1,243.7 L151.6,247.6 C151.4,247.7 151.2,247.9 151.3,248.1 C151.4,248.3 151.5,248.4 151.7,248.4 L151.8,248.4 L166.5,244.5 C167.2,245.7 168,246.8 169,247.7 L160.2,250.1 L163.4,250.1 L169.7,248.4 C170.6,249.1 171.6,249.7 172.6,250.1 L175.5,250.1 C171,249.3 167.2,246 166,241.5 C165.2,238.4 165.6,235.2 167.2,232.5 C167.8,231.5 168.5,230.6 169.4,229.8 C170.8,228.5 172.5,227.5 174.5,227 C175.5,226.7 176.6,226.6 177.6,226.6 C183,226.6 187.7,230.2 189.1,235.4 C190.8,241.7 187,248.3 180.7,250 C180.3,250.1 179.9,250.2 179.5,250.2 L182.5,250.2 C183.3,249.8 184.1,249.4 184.8,248.9 L185.1,250.1 L186,250.1 L185.5,248.3 C189.3,245.2 191.2,240.1 189.8,235.1 C188.5,229.9 184.4,226.3 179.4,225.6 Z M148.4,221 L147.4,221 C145.5,221 142.9,221.4 140.6,223.2 C140.6,223.1 140.5,223 140.5,222.8 C140.5,222.7 140.5,222.6 140.4,222.5 C140.4,222.3 140.4,222.1 140.3,221.9 L140.3,221 C140.4,218.3 141.9,215.8 144.2,214.3 L144.3,214.3 C144.5,214.2 144.7,214.1 144.9,213.9 C145,213.8 145.1,213.8 145.2,213.8 C145.3,213.7 145.5,213.7 145.6,213.6 C145.7,213.5 145.9,213.5 146,213.5 C146.1,213.5 146.2,213.4 146.3,213.4 C145.9,215.7 146.6,218.3 148.4,221 Z M146.9,230.9 L146.9,230.9 L173.7,223.7 C173.9,223.6 174.1,223.4 174,223.2 C173.9,223 173.7,222.8 173.5,222.9 L146.8,230.1 C146.6,230.2 146.4,230.4 146.5,230.6 C146.6,230.7 146.7,230.9 146.9,230.9 Z M200.7,177.5 C200.8,177.7 200.9,177.8 201.1,177.8 L201.3,177.8 L216.7,171.6 C216.9,171.5 217,171.3 216.9,171.1 C216.8,170.9 216.6,170.8 216.4,170.9 L201,177.1 C200.8,177 200.7,177.3 200.7,177.5 Z M148.1,149.2 L152.7,151.1 L153.1,151.1 L179.7,140.2 C179.8,140.2 179.9,140.1 179.9,140 L181.8,135.4 L181.8,135.1 L169.3,104.7 C169.3,104.6 169.2,104.5 169.1,104.5 L164.5,102.6 L164.2,102.6 L158,105 L157.6,104 C157.4,103.6 157.1,103.2 156.7,103.1 C156.3,102.9 155.8,102.9 155.4,103.1 L154.3,103.5 C153.5,101.9 151.8,100.8 149.9,100.8 C149.3,100.8 148.6,100.9 148,101.2 C145.6,102.2 144.4,104.8 145.2,107.2 L144.1,107.6 C143.7,107.8 143.3,108.1 143.2,108.5 C143,108.9 143,109.4 143.2,109.8 L143.6,110.8 L137.5,113.3 C137.4,113.3 137.3,113.4 137.3,113.5 L135.4,118.1 L135.4,118.4 L147.9,148.8 C147.9,149.1 148,149.2 148.1,149.2 Z M144.1,108.9 L144.1,108.9 C144.2,108.7 144.4,108.5 144.6,108.4 L146,107.8 C146.2,107.7 146.3,107.5 146.2,107.3 C145.4,105.2 146.3,102.9 148.4,102 C148.9,101.8 149.4,101.7 149.9,101.7 C151.6,101.7 153,102.7 153.7,104.2 C153.7,104.3 153.8,104.4 153.9,104.4 L154.2,104.4 L155.6,103.8 C155.8,103.7 156.1,103.7 156.3,103.8 C156.5,103.9 156.7,104.1 156.8,104.3 L157.4,105.7 L158.2,107.5 C158.3,107.6 158.3,107.8 158.2,107.9 L157.9,108.2 L146.1,113 C145.8,113.1 145.5,113 145.4,112.7 L144.6,110.9 L144,109.5 C144,109.3 144,109.1 144.1,108.9 Z M138.1,114.1 L138.1,114.1 L144.1,111.6 L144.7,113.1 C144.9,113.6 145.4,113.9 145.9,113.9 C146.1,113.9 146.2,113.9 146.4,113.8 L158.2,109 C158.5,108.9 158.8,108.6 158.9,108.3 C159,108 159,107.6 158.9,107.3 L158.3,105.8 L164.3,103.3 L168.6,105.1 L180.9,135.2 L179.1,139.5 L152.8,150.3 L148.5,148.5 L136.2,118.4 L138.1,114.1 Z M199.7,174.9 C199.8,175.1 199.9,175.2 200.1,175.2 L200.3,175.2 L215.7,169 C215.9,168.9 216,168.7 215.9,168.5 C215.9,168.4 215.8,168.3 215.7,168.3 L215.4,168.3 L200,174.5 C199.7,174.4 199.6,174.7 199.7,174.9 Z M161.6,182.2 C163.6,183.7 166,184.4 168.5,184.4 C172.4,184.4 176.1,182.5 178.3,179.3 C180.2,176.7 180.9,173.5 180.3,170.3 C179.8,167.1 178,164.4 175.4,162.5 C173.4,161 171,160.3 168.5,160.3 C164.6,160.3 160.9,162.2 158.7,165.4 C156.8,168 156.1,171.2 156.7,174.4 C157.2,177.6 159,180.3 161.6,182.2 Z M159.4,165.9 C161.5,163 164.9,161.2 168.5,161.2 C170.8,161.2 173.1,161.9 175,163.3 C177.4,165 179,167.6 179.5,170.6 C180,173.5 179.3,176.5 177.6,178.9 C175.5,181.8 172.1,183.6 168.5,183.6 C166.2,183.6 163.9,182.9 162,181.5 C159.6,179.8 158,177.2 157.5,174.2 C157,171.3 157.7,168.3 159.4,165.9 Z M61.4,124.4 L61.7,124.4 L70.2,121.6 C70.4,121.5 70.5,121.3 70.5,121.1 L65.2,105.1 C65.2,105 65.1,104.9 65,104.9 C64.9,104.9 64.8,104.8 64.7,104.9 L56.2,107.7 C56,107.8 55.9,108 55.9,108.2 L61.2,124.2 C61.2,124.3 61.3,124.4 61.4,124.4 Z M64.5,105.7 L69.6,121 L61.9,123.6 L56.8,108.3 L64.5,105.7 Z M249.5,74.5 L250,74.5 L250,73.7 L249.6,73.7 L246.9,73.3 L248.3,69.5 L249.9,69.7 L249.9,68.9 L248.6,68.7 L249.1,67.4 L249.9,67.5 L249.9,66.7 L249.4,66.6 L249.9,65.3 L249.9,62.3 C249.8,62.2 249.7,62.2 249.6,62.2 L225.3,58.6 C225,58.6 224.6,58.7 224.4,58.9 C224.2,59.1 224,59.4 224.1,59.8 L225.2,75.7 C225.3,76.9 226.1,77.9 227.3,78.2 L227.1,79.3 C227,80.1 227.5,80.8 228.3,80.9 L240.4,82.7 L240.6,82.7 C240.9,82.7 241.2,82.6 241.4,82.4 C241.7,82.2 241.9,81.9 241.9,81.5 L242.1,80.5 L242.2,80.5 C243.4,80.5 244.5,79.8 244.9,78.7 L245.9,76.1 L249.2,76.6 C249.4,76.6 249.7,76.7 249.9,76.7 L250,76.7 L250,75.9 L249.3,75.9 L246.1,75.4 L246.6,74.1 L249.5,74.5 Z M241,81.3 C241,81.4 240.9,81.6 240.8,81.7 C240.7,81.8 240.6,81.8 240.5,81.8 L228.3,80 C228,80 227.8,79.7 227.8,79.4 L227.9,78.4 L241.1,80.3 L241,81.3 Z M244,78.2 C243.7,79.1 242.7,79.6 241.8,79.5 L227.8,77.4 C226.9,77.3 226.1,76.5 226.1,75.5 L225,59.6 C225,59.5 225,59.4 225.1,59.4 C225.1,59.4 225.2,59.3 225.3,59.3 L249.6,62.9 C249.7,62.9 249.7,63 249.8,63 L249.8,63.2 L248.4,66.6 L247.2,69.7 L244,78.2 Z M151.1,120.3 L151.3,120.3 L166.4,114.1 C166.6,114 166.7,113.8 166.6,113.6 C166.5,113.4 166.3,113.3 166.1,113.4 L151,119.6 C150.8,119.7 150.7,119.9 150.8,120.1 C150.8,120.2 151,120.3 151.1,120.3 Z M230.1,226.1 L204.9,230.3 C204.7,230.3 204.5,230.6 204.6,230.8 C204.6,231 204.8,231.1 205,231.1 L205.1,231.1 L230.3,226.9 C230.5,226.9 230.7,226.6 230.6,226.4 C230.5,226.2 230.3,226 230.1,226.1 Z M219,134.4 C218.7,133.7 218.7,133 218.9,132.3 L221.5,125.4 L243.5,133.6 C243.9,133.7 244.3,133.8 244.7,133.8 C246.2,133.8 247.5,132.9 248,131.5 L249.9,126.4 L249.9,124 L247.2,131.1 C246.8,132.2 245.8,132.9 244.7,132.9 C244.4,132.9 244.1,132.8 243.8,132.7 L221.4,124.3 L221.1,124.3 L212.3,128.1 L217.1,123.3 C217.2,123.2 217.2,123.1 217.2,122.9 C217.2,122.8 217.1,122.6 216.9,122.6 L213.6,121.3 C212.9,121 212.4,120.5 212.1,119.9 C211.8,119.2 211.8,118.5 212,117.8 L220.6,94.8 C221,93.7 222,93 223.1,93 C223.4,93 223.7,93.1 224,93.2 L249.8,102.9 L249.8,102 L224.3,93 C223.9,92.9 223.5,92.8 223.1,92.8 C221.6,92.8 220.3,93.7 219.8,95.1 L211.2,118.1 C210.9,119 210.9,119.9 211.3,120.8 C211.7,121.7 212.4,122.3 213.3,122.6 L216,123.6 L210.1,129.5 C210,129.6 209.9,129.9 210.1,130 C210.2,130.2 210.4,130.2 210.6,130.1 L220.5,125.8 L218.1,132.1 C217.8,133 217.8,133.9 218.2,134.8 C218.6,135.7 219.3,136.3 220.2,136.6 L250,147.7 L250,146.8 L220.5,135.8 C219.8,135.5 219.3,135 219,134.4 Z M229.1,217.3 C229.1,217.1 228.9,216.9 228.6,217 L203.4,221.2 C203.2,221.2 203,221.5 203.1,221.7 C203.1,221.9 203.3,222 203.5,222 L203.6,222 L228.8,217.8 C228.9,217.7 229.1,217.5 229.1,217.3 Z M229.8,221.8 C229.8,221.6 229.5,221.4 229.3,221.5 L204.1,225.7 C203.9,225.7 203.7,226 203.8,226.2 C203.8,226.4 204,226.5 204.2,226.5 L204.3,226.5 L229.5,222.3 C229.7,222.3 229.8,222.1 229.8,221.8 Z M128.9,180.5 C128.9,180.6 129,180.7 129.1,180.7 L129.4,180.7 L134,179.3 C134.2,179.2 134.3,179 134.3,178.8 L132.9,174.2 C132.8,174 132.7,173.9 132.5,173.9 L132.3,173.9 L127.7,175.3 C127.6,175.3 127.5,175.4 127.5,175.5 C127.4,175.6 127.4,175.7 127.5,175.8 L128.9,180.5 Z M132.3,174.9 L133.5,178.7 L129.7,179.9 L128.5,176.1 L132.3,174.9 Z M102.1,127 C102.1,126.8 102,126.6 101.7,126.6 C101.5,126.6 101.3,126.7 101.3,127 L101.3,127.3 C101.2,127.9 101.2,128.5 101.3,129.1 C101.4,129.8 101.8,130.4 102.4,131 L102.9,131.5 C103.3,131.8 103.6,132.1 103.9,132.5 C104.2,132.9 104.4,133.5 104.4,134.1 C104.4,134.3 104.6,134.5 104.8,134.5 C104.9,134.5 104.9,134.5 105,134.4 C105.1,134.3 105.2,134.2 105.2,134.1 C105.2,133.3 105,132.6 104.6,132 C104.3,131.6 103.9,131.2 103.5,130.9 C103.3,130.8 103.2,130.6 103,130.5 C102.5,130 102.2,129.5 102.1,129 C102,128.5 102,128 102.1,127.4 L102.1,127 Z M103,206.8 C103.3,207.7 104.1,208.3 105,208.3 C105.2,208.3 105.4,208.3 105.6,208.2 L143.6,196.6 C144.7,196.3 145.3,195.1 145,194 L137.4,169 L135.7,163.5 C135.7,163.4 135.6,163.2 135.5,163.1 C135.2,162.5 134.6,162.1 133.9,162.1 L133.6,162.1 C133.4,162.1 133.2,162.1 133.1,162.2 L131.7,162.6 L131.2,161.1 C131.1,160.9 131,160.8 130.8,160.8 L130.6,160.8 C130.4,160.9 130.3,161.1 130.3,161.3 L130.8,162.8 L127.3,163.9 L126.8,162.4 C126.7,162.2 126.6,162.1 126.4,162.1 L126.2,162.1 C126,162.2 125.9,162.4 125.9,162.6 L126.4,164.1 L122.9,165.2 L122.4,163.7 C122.3,163.5 122.1,163.4 121.9,163.4 C121.7,163.5 121.6,163.7 121.6,163.9 L122.1,165.4 L118.6,166.5 L118.1,165 C118,164.8 117.9,164.7 117.7,164.7 L117.5,164.7 C117.3,164.8 117.2,165 117.2,165.2 L117.7,166.7 L114.2,167.8 L113.7,166.3 C113.6,166.1 113.5,166 113.3,166 L113.1,166 C112.9,166.1 112.8,166.3 112.8,166.5 L113.3,168 L109.8,169.1 L109.3,167.6 C109.2,167.4 109,167.3 108.8,167.3 C108.6,167.4 108.5,167.6 108.5,167.8 L109,169.3 L105.5,170.4 L105,168.9 C104.9,168.7 104.8,168.6 104.6,168.6 L104.4,168.6 C104.2,168.7 104.1,168.9 104.1,169.1 L104.6,170.6 L101.1,171.7 L100.6,170.2 C100.6,170.1 100.5,170 100.4,170 L100,170 C99.8,170.1 99.7,170.3 99.7,170.5 L100.2,172 L96.7,173.1 L96.2,171.6 C96.1,171.4 96,171.3 95.8,171.3 L95.6,171.3 C95.4,171.4 95.3,171.6 95.3,171.8 L95.8,173.3 L94.7,173.6 C94.6,173.8 94.1,174.2 93.9,174.7 L93.9,174.7 C93.7,175.1 93.6,175.6 93.7,176.1 L93.7,176.3 L103,206.8 Z M144.2,194.2 C144.4,194.9 144,195.6 143.4,195.8 L105.4,207.4 C104.8,207.6 104,207.2 103.8,206.6 L96.3,182 L136.7,169.7 L144.2,194.2 Z M94.2,176 C94.2,175.7 94.2,175.5 94.3,175.2 L94.6,174.9 L94.6,174.8 C94.7,174.8 94.7,174.7 94.8,174.7 C94.9,174.7 95,174.6 95,174.6 L96.4,174.1 L96.4,174.1 L96.7,175.2 C96.8,175.4 96.9,175.5 97.1,175.5 L97.2,175.5 C97.4,175.4 97.5,175.2 97.5,175 L97.2,173.9 L100.7,172.8 L101,173.9 C101.1,174.1 101.2,174.2 101.4,174.2 L101.5,174.2 C101.7,174.1 101.8,173.9 101.8,173.7 L101.5,172.6 L105,171.5 L105.3,172.6 C105.4,172.8 105.5,172.9 105.7,172.9 L105.8,172.9 C106,172.8 106.1,172.6 106.1,172.4 L105.8,171.3 L109.3,170.2 L109.6,171.3 C109.7,171.5 109.8,171.6 110,171.6 L110.1,171.6 C110.3,171.5 110.4,171.3 110.4,171.1 L110.1,170 L113.6,168.9 L113.9,170 C114,170.2 114.1,170.3 114.3,170.3 L114.4,170.3 C114.6,170.2 114.7,170 114.7,169.8 L114.4,168.7 L117.9,167.6 L118.2,168.7 C118.3,168.9 118.4,169 118.6,169 L118.7,169 C118.9,168.9 119,168.7 119,168.5 L118.7,167.4 L122.2,166.3 L122.5,167.4 C122.6,167.6 122.7,167.7 122.9,167.7 L123,167.7 C123.2,167.6 123.3,167.4 123.3,167.2 L123,166.1 L126.5,165 L126.8,166.1 C126.9,166.3 127,166.4 127.2,166.4 L127.3,166.4 C127.5,166.3 127.6,166.1 127.6,165.9 L127.3,164.8 L130.8,163.7 L131.1,164.8 C131.2,165 131.3,165.1 131.5,165.1 L131.6,165.1 C131.8,165 131.9,164.8 131.9,164.6 L131.6,163.5 L133,163.1 C133.1,163.1 133.2,163 133.4,163 L133.6,163 C134,163.1 134.3,163.3 134.5,163.7 C134.5,163.8 134.6,163.8 134.6,163.9 L136.1,169 L95.7,181.3 L94.2,176.2 L94.2,176 L94.2,176 Z M129.8,182.9 C129.7,183 129.7,183.1 129.8,183.2 L131.2,187.8 C131.3,188 131.4,188.1 131.6,188.1 L131.7,188.1 L136.3,186.7 C136.4,186.7 136.5,186.6 136.5,186.5 C136.6,186.4 136.6,186.3 136.5,186.2 L135.1,181.6 C135,181.4 134.8,181.3 134.6,181.3 L130,182.7 C129.9,182.8 129.8,182.8 129.8,182.9 Z M134.5,182.2 L135.7,186 L131.9,187.2 L130.7,183.4 L134.5,182.2 Z M242.1,170.4 L242.1,170.4 C241.8,170.6 241.6,171 241.6,171.4 L241.6,191.9 C241.6,193.5 242.6,194.8 244.1,195.3 L243.8,196.7 C243.7,197.1 243.8,197.6 244,198 C244.2,198.4 244.6,198.6 245,198.7 L249.8,199.8 L249.8,199 L245.1,198 C244.9,198 244.7,197.8 244.6,197.6 C244.5,197.4 244.4,197.2 244.5,197 L244.8,195.6 L249.8,196.7 L249.8,195.8 L244.6,194.6 L244.5,194.6 C243.2,194.3 242.4,193.2 242.4,191.9 L242.4,171.4 C242.4,171.3 242.5,171.1 242.6,171 C242.7,170.9 242.8,170.9 242.9,170.9 L243,170.9 L249.9,172.4 L249.9,171.5 L243.2,170 C242.8,170.1 242.4,170.2 242.1,170.4 Z M189.7,199.1 C189.7,198.9 189.6,198.8 189.4,198.8 L186.6,198.8 L188.6,196.8 C188.7,196.7 188.7,196.5 188.6,196.4 C188.5,196.3 188.3,196.3 188.2,196.4 L186.2,198.4 L186.2,194.2 C186.2,194 186.1,193.9 185.9,193.9 C185.7,193.9 185.6,194 185.6,194.2 L185.6,198.4 L183.6,196.4 C183.5,196.3 183.3,196.3 183.2,196.4 C183.1,196.5 183.1,196.7 183.2,196.8 L185.2,198.8 L182.4,198.8 C182.2,198.8 182.1,198.9 182.1,199.1 C182.1,199.3 182.2,199.4 182.4,199.4 L185.2,199.4 L183.2,201.4 C183.1,201.5 183.1,201.7 183.2,201.8 C183.3,201.9 183.3,201.9 183.4,201.9 C183.5,201.9 183.6,201.9 183.6,201.8 L185.6,199.8 L185.6,204 C185.6,204.2 185.7,204.3 185.9,204.3 C186.1,204.3 186.2,204.2 186.2,204 L186.2,199.8 L188.2,201.8 C188.3,201.9 188.3,201.9 188.4,201.9 C188.5,201.9 188.6,201.9 188.6,201.8 C188.7,201.7 188.7,201.5 188.6,201.4 L186.6,199.4 L189.4,199.4 C189.5,199.4 189.7,199.2 189.7,199.1 Z M105.3,195.7 C105.4,195.9 105.5,196 105.7,196 L105.8,196 L110.4,194.6 C110.5,194.6 110.6,194.5 110.6,194.4 C110.7,194.3 110.7,194.2 110.6,194.1 L109.2,189.5 C109.2,189.3 109,189.2 108.8,189.2 L108.6,189.2 L104,190.6 C103.8,190.7 103.7,190.9 103.7,191.1 L105.3,195.7 Z M108.7,190.1 L109.9,193.9 L106.1,195.1 L104.9,191.3 L108.7,190.1 Z M234.5,159 C234.5,159.2 234.6,159.3 234.8,159.3 C235,159.3 235.1,159.2 235.1,159 C235.1,157 236.1,155.3 237.3,155.3 C237.5,155.3 237.6,155.2 237.6,155 C237.6,154.8 237.5,154.7 237.3,154.7 C236.1,154.7 235.1,153 235.1,151 C235.1,150.8 235,150.7 234.8,150.7 C234.6,150.7 234.5,150.8 234.5,151 C234.5,153 233.5,154.7 232.3,154.7 C232.1,154.7 232,154.8 232,155 C232,155.2 232.1,155.3 232.3,155.3 C233.6,155.3 234.5,157 234.5,159 Z M234.8,153 C235.1,153.9 235.6,154.7 236.2,155.1 C235.6,155.5 235.1,156.2 234.8,157.2 C234.5,156.3 234,155.5 233.4,155.1 C234,154.6 234.5,153.9 234.8,153 Z M112.6,188.2 C112.5,188.3 112.5,188.4 112.6,188.5 L114,193.1 C114,193.2 114.1,193.3 114.2,193.3 L114.5,193.3 L119.1,191.9 C119.2,191.9 119.3,191.8 119.3,191.7 C119.4,191.6 119.4,191.5 119.3,191.4 L117.9,186.8 C117.8,186.6 117.7,186.5 117.5,186.5 L117.3,186.5 L112.7,187.9 C112.7,188 112.6,188.1 112.6,188.2 Z M117.3,187.5 L118.5,191.3 L114.7,192.5 L113.5,188.7 L117.3,187.5 Z M111.9,185.9 L112.2,185.9 L116.8,184.5 C117,184.4 117.1,184.2 117.1,184 L115.7,179.4 C115.7,179.3 115.6,179.2 115.5,179.2 L115.1,179.2 L110.5,180.6 C110.3,180.7 110.2,180.9 110.2,181.1 L111.7,185.7 C111.7,185.8 111.8,185.9 111.9,185.9 Z M115,180.1 L116.2,183.9 L112.4,185.1 L111.2,181.3 L115,180.1 Z M243.2,215.8 C242.9,214.1 241.3,212.9 239.6,213.2 L237.1,213.6 L239,206.6 C239.1,206.4 239,206.2 238.8,206.1 C238.6,206 238.4,206.1 238.3,206.2 L232.8,213.7 L231.9,208 C231.6,206.3 230,205.1 228.3,205.4 L200.4,210 C199.6,210.1 198.8,210.6 198.3,211.3 C197.8,212 197.6,212.8 197.8,213.7 L201,235 C201.3,236.7 202.9,237.9 204.6,237.6 L207.1,237.2 L205.2,244.2 C205.1,244.4 205.2,244.6 205.4,244.7 L205.6,244.7 C205.7,244.7 205.9,244.6 205.9,244.5 L211.4,237 L212.3,242.7 C212.4,243.5 212.9,244.3 213.6,244.8 C214.1,245.2 214.8,245.4 215.4,245.4 L215.9,245.4 L243.8,240.8 C244.6,240.7 245.4,240.2 245.9,239.5 C246.4,238.8 246.6,238 246.4,237.1 L243.2,215.8 Z M211.8,235.5 C211.7,235.6 211.6,235.6 211.6,235.6 L211.6,235.6 L211.5,235.7 L206.7,242.2 L208.2,236.7 C208.2,236.6 208.2,236.4 208.1,236.3 C208,236.2 207.9,236.2 207.8,236.2 L207.7,236.2 L204.6,236.7 C203.3,236.9 202.1,236 201.9,234.8 L198.4,213.5 C198.3,212.9 198.4,212.3 198.8,211.8 C199.2,211.3 199.7,211 200.3,210.9 L228.2,206.3 C229.5,206.1 230.7,207 230.9,208.2 L232,214.9 L234.4,229.5 C234.5,230.1 234.4,230.7 234,231.2 C233.6,231.7 233.1,232 232.5,232.1 L211.8,235.5 Z M245.4,239 C245,239.5 244.5,239.8 243.9,239.9 L216,244.5 C215.4,244.6 214.8,244.5 214.3,244.1 C213.8,243.7 213.5,243.2 213.4,242.6 L212.4,236.3 L232.7,233 C233.5,232.9 234.3,232.4 234.8,231.7 C235.3,231 235.5,230.2 235.3,229.3 L232.9,214.9 L237.6,208.5 L236.1,214 C236.1,214.1 236.1,214.3 236.2,214.4 C236.3,214.5 236.4,214.6 236.6,214.5 L239.7,214 C241,213.8 242.2,214.7 242.4,215.9 L245.9,237.2 C245.9,237.9 245.8,238.5 245.4,239 Z M120.5,183.3 L120.8,183.3 L125.4,181.9 C125.6,181.8 125.7,181.6 125.7,181.4 L124.3,176.8 C124.3,176.7 124.2,176.6 124.1,176.6 L123.7,176.6 L119.1,178 C118.9,178.1 118.8,178.3 118.8,178.5 L120.3,183.1 C120.3,183.2 120.4,183.3 120.5,183.3 Z M123.6,177.5 L124.8,181.3 L121,182.5 L119.8,178.7 L123.6,177.5 Z M248.4,116.7 C248.6,116.7 248.7,116.6 248.8,116.4 C248.9,116.2 248.8,115.9 248.6,115.9 L221.3,105.7 C221.1,105.6 220.8,105.7 220.8,105.9 C220.8,106.1 220.8,106.4 221,106.4 L248.3,116.6 C248.3,116.7 248.3,116.7 248.4,116.7 Z M154.7,136.3 L149.2,138.6 C149.1,138.6 149,138.7 149,138.8 L149,139.1 L151.3,144.6 C151.4,144.8 151.5,144.9 151.7,144.9 L151.9,144.9 L157.4,142.6 C157.5,142.6 157.6,142.5 157.6,142.4 L157.6,142.1 L155.2,136.5 C155.1,136.3 154.9,136.2 154.7,136.3 Z M151.8,143.9 L149.9,139.1 L154.7,137.2 L156.6,142 L151.8,143.9 Z M120.2,194.2 C120.2,194.1 120.1,194 120,194 C119.9,193.9 119.8,193.9 119.7,194 L115.1,195.4 C114.9,195.5 114.8,195.7 114.8,195.9 L116.2,200.5 C116.3,200.7 116.4,200.8 116.6,200.8 L116.7,200.8 L121.3,199.4 C121.4,199.4 121.5,199.3 121.5,199.2 C121.6,199.1 121.6,199 121.5,198.9 L120.2,194.2 Z M116.9,199.8 L115.7,196 L119.5,194.8 L120.7,198.6 L116.9,199.8 Z M111.6,196.8 C111.5,196.6 111.4,196.5 111.2,196.5 L111,196.5 L106.4,197.9 C106.3,197.9 106.2,198 106.2,198.1 C106.1,198.2 106.1,198.3 106.2,198.4 L107.6,203 C107.7,203.2 107.8,203.3 108,203.3 L108.1,203.3 L112.7,201.9 C112.8,201.9 112.9,201.8 112.9,201.7 C113,201.6 113,201.5 112.9,201.4 L111.6,196.8 Z M108.2,202.4 L107,198.6 L110.8,197.4 L112,201.2 L108.2,202.4 Z M249.9,110.7 L223.1,100.7 C222.9,100.7 222.6,100.8 222.6,101 C222.5,101.2 222.6,101.5 222.8,101.5 L249.9,111.6 L249.9,110.7 L249.9,110.7 Z M158.7,139.5 C158.8,139.7 158.9,139.8 159.1,139.8 L159.3,139.8 L174.4,133.6 C174.6,133.5 174.7,133.3 174.6,133.1 C174.5,132.9 174.3,132.8 174.1,132.9 L159,139.1 C158.7,139.1 158.6,139.3 158.7,139.5 Z M217.5,115.6 C217.3,115.5 217,115.6 217,115.8 C217,116 217,116.3 217.2,116.3 L244.5,126.5 L244.6,126.5 C244.8,126.5 244.9,126.4 245,126.2 C245.1,126 245,125.7 244.8,125.7 L217.5,115.6 Z M149.3,105.4 C149.5,105.4 149.6,105.4 149.8,105.3 C150.1,105.2 150.3,104.9 150.5,104.6 C150.6,104.3 150.6,104 150.5,103.6 C150.2,103 149.5,102.7 148.9,102.9 C148.3,103.2 148,103.9 148.2,104.5 C148.4,105.1 148.8,105.4 149.3,105.4 Z M149.2,103.8 L149.4,103.8 C149.6,103.8 149.7,103.9 149.8,104.1 L149.8,104.4 C149.8,104.5 149.7,104.6 149.6,104.6 C149.4,104.7 149.2,104.6 149.1,104.4 C148.9,104.1 149,103.9 149.2,103.8 Z M246.5,121.7 C246.7,121.7 246.8,121.6 246.9,121.4 C247,121.2 246.9,120.9 246.7,120.9 L219.4,110.7 C219.2,110.6 218.9,110.7 218.9,110.9 C218.8,111.1 218.9,111.4 219.1,111.4 L246.4,121.6 C246.4,121.7 246.5,121.7 246.5,121.7 Z M203,197.6 L203,197.6 C203.2,197.6 203.4,197.6 203.6,197.5 L228.9,187.4 C229.3,187.2 229.6,186.9 229.8,186.5 C230,186.1 230,185.6 229.8,185.2 L224.1,170.9 L221,163.3 C221,163.2 220.9,163.1 220.8,163.1 L220.5,163.1 L217.8,164.2 L215.9,159.4 C215.9,159.3 215.8,159.2 215.7,159.2 L215.4,159.2 L194.1,167.7 C193.9,167.8 193.8,168 193.9,168.2 L195.8,173 L193.1,174.1 C192.9,174.2 192.8,174.4 192.9,174.6 L196,182.2 L201.7,196.5 C201.7,197.2 202.3,197.6 203,197.6 Z M220.5,164 L223.2,170.9 L220.8,171.8 L218,164.9 L220.5,164 Z M222,172.2 L221.3,172.9 L221.2,172.5 L222,172.2 Z M194.7,168.2 L215.3,160 L217.2,164.8 L220.7,173.5 L212.2,182 L200.1,181.7 L199.7,180.6 L196.6,173 L194.7,168.2 Z M199.2,181.8 L198.2,181.8 L199.1,181.5 L199.2,181.8 Z M193.6,174.7 L196,173.8 L198.8,180.7 L196.4,181.6 L193.6,174.7 Z M212.3,182.9 C212.4,182.9 212.5,182.9 212.6,182.8 L223.6,171.8 L229.1,185.5 C229.2,185.7 229.2,185.9 229.1,186.1 C229,186.3 228.9,186.5 228.6,186.5 L203.3,196.6 C202.9,196.8 202.4,196.6 202.2,196.1 L196.7,182.4 L212.3,182.9 Z M228.3,212.7 C228.3,212.5 228,212.3 227.8,212.4 L202.6,216.6 C202.4,216.6 202.2,216.9 202.3,217.1 C202.3,217.3 202.5,217.4 202.7,217.4 L202.8,217.4 L228,213.2 C228.2,213.1 228.3,212.9 228.3,212.7 Z M99,140.2 L99,140.2 C98.9,140.5 99,140.8 99.1,141.1 L107.5,153.6 C108.1,154.5 109.3,155 110.4,154.7 L110.8,155.6 C111.1,156.3 111.8,156.6 112.5,156.3 L123.2,152.1 C123.3,152.1 123.3,152.1 123.4,152 C123.6,151.9 123.8,151.6 123.9,151.4 C124,151.1 124,150.7 123.9,150.4 L123.5,149.5 C124.5,148.9 125,147.8 124.8,146.7 L124.4,144.1 L127.4,142.9 L128,142.6 C130,141.5 130.9,139 130,136.8 C129.1,134.4 126.3,133.2 123.9,134.1 L122.9,134.5 L122.5,131.7 C122.5,131.4 122.3,131.1 122,131 C121.7,130.8 121.4,130.8 121.1,130.9 L99.5,139.4 C99.3,139.6 99.1,139.9 99,140.2 Z M123.3,151.1 C123.3,151.2 123.2,151.3 123.1,151.3 L112.3,155.6 C112,155.7 111.7,155.6 111.6,155.3 L111.2,154.4 L120.2,150.9 L122.9,149.8 L123.3,150.7 L123.3,151.1 Z M124.4,134.9 L124.4,134.9 C126.4,134.1 128.7,135.1 129.5,137.1 C130.3,139.1 129.3,141.4 127.3,142.2 L124.5,143.3 L124.3,142 L126.8,141 C126.9,141 127,140.9 127.1,140.8 C128.2,140.2 128.7,138.8 128.2,137.5 C127.7,136.2 126.1,135.5 124.8,136 L123.3,136.6 L123.1,135.3 L124.4,134.9 Z M124.1,141.2 L123.5,137.4 L125.1,136.8 C126,136.4 127.1,136.9 127.5,137.9 C127.9,138.9 127.4,139.9 126.4,140.3 L124.1,141.2 Z M99.9,140.3 L121.5,131.8 L121.7,131.8 C121.8,131.8 121.8,131.9 121.8,132 L122.3,135.2 L123,139.3 L124.2,146.8 C124.3,147.7 123.8,148.6 123,148.9 L110.6,153.8 C109.8,154.1 108.8,153.8 108.3,153.1 L99.9,140.6 C99.9,140.5 99.8,140.5 99.9,140.4 C99.8,140.3 99.8,140.3 99.9,140.3 Z M106.4,125.3 C106.4,125.1 106.3,124.9 106,124.9 C105.8,124.9 105.6,125 105.6,125.3 L105.6,125.6 C105.5,126.2 105.5,126.8 105.6,127.4 C105.7,128 106.1,128.7 106.7,129.3 L107.2,129.8 C107.6,130.1 107.9,130.4 108.2,130.8 C108.5,131.2 108.7,131.8 108.7,132.4 C108.7,132.6 108.9,132.8 109.1,132.8 C109.2,132.8 109.2,132.8 109.3,132.7 C109.4,132.6 109.5,132.5 109.5,132.4 C109.5,131.6 109.3,130.9 108.9,130.3 C108.6,129.9 108.2,129.5 107.8,129.2 C107.6,129.1 107.5,128.9 107.3,128.8 C106.8,128.3 106.5,127.8 106.4,127.3 C106.3,126.8 106.3,126.3 106.4,125.7 C106.4,125.7 106.4,125.3 106.4,125.3 Z M128.8,191.6 C128.8,191.5 128.7,191.4 128.6,191.4 C128.5,191.3 128.4,191.3 128.3,191.4 L123.7,192.8 C123.5,192.9 123.4,193.1 123.4,193.3 L124.8,197.9 C124.8,198 124.9,198.1 125,198.1 L125.3,198.1 L129.9,196.7 C130.1,196.6 130.2,196.4 130.2,196.2 L128.8,191.6 L128.8,191.6 Z M125.5,197.2 L124.3,193.4 L128.1,192.2 L129.3,196 L125.5,197.2 Z M110.7,123.6 C110.7,123.4 110.6,123.2 110.3,123.2 C110.1,123.2 109.9,123.3 109.9,123.6 L109.9,123.9 C109.8,124.5 109.8,125.1 109.9,125.8 C110,126.5 110.4,127.1 111,127.7 L111.5,128.2 C111.9,128.5 112.2,128.8 112.5,129.2 C112.8,129.6 113,130.2 113,130.8 C113,131 113.2,131.2 113.4,131.2 C113.5,131.2 113.5,131.2 113.6,131.1 C113.7,131 113.8,130.9 113.8,130.8 C113.8,130 113.6,129.3 113.2,128.7 C112.9,128.3 112.5,127.9 112.1,127.6 C111.9,127.5 111.8,127.3 111.6,127.2 C111.1,126.7 110.8,126.2 110.7,125.7 C110.6,125.2 110.6,124.7 110.7,124.1 L110.7,123.6 Z M157.8,137.4 C157.9,137.6 158,137.7 158.2,137.7 L158.4,137.7 L173.5,131.5 C173.7,131.4 173.8,131.2 173.7,131 C173.6,130.8 173.4,130.7 173.2,130.8 L158.1,137 C157.9,136.9 157.8,137.2 157.8,137.4 Z M56.6,46.6 C56.6,46.8 56.8,47 57,47 L57.1,47 L82.5,43.5 C82.7,43.5 82.9,43.3 82.9,43 C82.9,42.8 82.7,42.6 82.4,42.6 L57,46.1 C56.7,46.1 56.5,46.4 56.6,46.6 Z M31,74.4 C30.8,74.4 30.6,74.6 30.6,74.8 L31,80.2 C31,80.4 31.2,80.6 31.4,80.6 C31.6,80.6 31.8,80.4 31.8,80.2 L31.4,74.8 C31.4,74.6 31.2,74.4 31,74.4 Z M11.8,2.6 C17.7,0.3 24.4,1.7 28.8,6.2 C35,12.4 35,22.5 28.8,28.8 C22.6,35 12.5,35 6.2,28.8 C1.8,24.4 0.4,17.8 2.5,11.9 C2.6,11.7 2.5,11.4 2.3,11.4 C2.1,11.3 1.8,11.4 1.8,11.6 C-0.5,17.7 1,24.7 5.7,29.3 C9,32.6 13.3,34.2 17.6,34.2 C21.9,34.2 26.2,32.6 29.5,29.3 C36,22.8 36,12.1 29.5,5.6 C24.8,0.9 17.8,-0.6 11.6,1.8 C11.4,1.9 11.3,2.1 11.4,2.3 C11.3,2.5 11.6,2.6 11.8,2.6 Z M26.2,73.8 L24.5,79.3 C24.4,79.5 24.6,79.8 24.8,79.8 L24.9,79.8 C25.1,79.8 25.2,79.7 25.3,79.5 L27,74 C27.1,73.8 26.9,73.5 26.7,73.5 C26.5,73.5 26.2,73.6 26.2,73.8 Z M17.5,160.8 L17.8,160.4 C17.9,160.2 17.9,160 17.7,159.8 C17.5,159.7 17.3,159.7 17.1,159.9 L16.8,160.3 C16.3,160.9 15.7,161.6 15.4,162.4 C15.1,163.2 15,164.2 15.3,165.3 C15.4,165.6 15.4,165.9 15.5,166.2 C15.7,166.8 15.8,167.5 15.8,168.1 C15.8,168.9 15.6,169.6 15.1,170.4 C15,170.6 15,170.8 15.2,171 C15.3,171 15.4,171.1 15.4,171.1 C15.5,171.1 15.7,171 15.7,170.9 C16.3,170 16.6,169.1 16.6,168.1 C16.6,167.4 16.4,166.7 16.2,166.1 C16.1,165.8 16.1,165.5 16,165.2 C15.8,164.2 15.8,163.4 16.1,162.8 C16.6,162 17,161.4 17.5,160.8 Z M22,71.9 L18.6,76.1 C18.5,76.3 18.5,76.5 18.7,76.7 C18.8,76.8 18.9,76.8 19,76.8 C19.1,76.8 19.2,76.7 19.3,76.6 L22.7,72.4 C22.8,72.2 22.8,72 22.6,71.8 C22.4,71.7 22.2,71.8 22,71.9 Z M62.8,218.2 C62.6,218.2 62.4,218.4 62.4,218.6 L62.4,229.5 C62.4,229.7 62.6,229.9 62.8,229.9 L75,229.9 C75.2,229.9 75.4,229.7 75.4,229.5 C75.4,229.3 75.2,229.1 75,229.1 L63.2,229.1 L63.2,218.6 C63.2,218.4 63,218.2 62.8,218.2 Z M62.8,246.2 C61.9,246.2 61.2,246.9 61.2,247.8 C61.2,248.7 61.9,249.4 62.8,249.4 C63.7,249.4 64.4,248.7 64.4,247.8 C64.3,246.9 63.6,246.2 62.8,246.2 Z M62.8,248.5 C62.4,248.5 62.1,248.2 62.1,247.8 C62.1,247.4 62.4,247.1 62.8,247.1 C63.2,247.1 63.5,247.4 63.5,247.8 C63.5,248.2 63.2,248.5 62.8,248.5 Z M49.7,35.8 L52.8,35.4 L53.2,38.5 C53.3,39.2 53.9,39.7 54.6,39.7 L54.8,39.7 L57.4,39.3 C57.8,39.2 58.1,39.1 58.3,38.8 C58.5,38.5 58.6,38.1 58.6,37.8 L58,34.6 L61.1,34.2 C61.8,34.1 62.4,33.4 62.3,32.7 L61.9,30.1 C61.8,29.7 61.7,29.4 61.4,29.2 C61.1,29 60.7,28.9 60.4,28.9 L57.3,29.3 L56.9,26.2 C56.8,25.5 56.1,24.9 55.4,25 L52.8,25.4 C52.4,25.5 52.1,25.6 51.9,25.9 C51.7,26.2 51.6,26.6 51.6,26.9 L52,30 L49,30.5 C48.6,30.6 48.3,30.7 48.1,31 C47.9,31.3 47.8,31.7 47.8,32 L48.2,34.6 C48.2,35.4 48.9,35.9 49.7,35.8 Z M48.7,31.5 C48.8,31.4 48.9,31.3 49.1,31.3 L52.6,30.8 C52.7,30.8 52.8,30.7 52.9,30.6 C53,30.5 53,30.4 53,30.3 L52.5,26.8 C52.5,26.7 52.5,26.5 52.6,26.4 C52.7,26.3 52.8,26.2 53,26.2 L55.6,25.8 C55.9,25.8 56.1,26 56.1,26.3 L56.6,29.8 C56.6,29.9 56.7,30 56.8,30.1 C56.9,30.2 57,30.2 57.1,30.2 L60.7,29.7 C60.8,29.7 60.9,29.7 61,29.8 C61.1,29.9 61.2,30 61.2,30.2 L61.6,32.8 C61.6,33.1 61.4,33.4 61.1,33.4 L57.6,33.9 C57.4,33.9 57.2,34.1 57.2,34.4 L57.7,37.9 C57.7,38 57.7,38.2 57.6,38.3 C57.5,38.4 57.4,38.5 57.2,38.5 L54.6,38.9 C54.3,38.9 54,38.7 54,38.4 L53.5,34.9 C53.5,34.8 53.4,34.7 53.3,34.6 C53.2,34.5 53.1,34.5 53,34.5 L52.9,34.5 L49.5,35 C49.2,35 49,34.8 49,34.5 L48.6,31.9 C48.6,31.8 48.6,31.7 48.7,31.5 Z M82.6,229.5 C82.6,228.6 81.9,227.9 81,227.9 C80.1,227.9 79.4,228.6 79.4,229.5 C79.4,230.4 80.1,231.1 81,231.1 C81.9,231.1 82.6,230.4 82.6,229.5 Z M80.3,229.5 C80.3,229.1 80.6,228.8 81,228.8 C81.4,228.8 81.7,229.1 81.7,229.5 C81.7,229.9 81.4,230.2 81,230.2 C80.6,230.3 80.3,229.9 80.3,229.5 Z M42.9,229.5 C42.9,230.4 43.6,231.1 44.5,231.1 C45.4,231.1 46.1,230.4 46.1,229.5 C46.1,228.6 45.4,227.9 44.5,227.9 C43.6,228 42.9,228.7 42.9,229.5 Z M45.2,229.5 C45.2,229.9 44.9,230.2 44.5,230.2 C44.1,230.2 43.8,229.9 43.8,229.5 C43.8,229.1 44.1,228.8 44.5,228.8 C44.9,228.8 45.2,229.1 45.2,229.5 Z M51.8,43.8 L54.5,63 C54.5,63.2 54.7,63.4 54.9,63.4 L55,63.4 L80.4,59.9 L80.9,59.8 C81.1,59.8 81.3,59.7 81.5,59.7 L81.7,59.7 C81.8,59.7 81.9,59.6 82,59.6 C82.2,59.6 82.4,59.5 82.5,59.4 L82.6,59.4 C84.1,58.8 85.5,57.9 86.5,56.5 C87.7,54.9 88.3,53.1 88.2,51.1 L88.2,51 C88.2,50.7 88.2,50.4 88.1,50.1 L83.3,15.6 C83.3,15.4 83.1,15.2 82.8,15.2 L48.9,20 C48.7,20 48.5,20.2 48.5,20.5 L48.8,22.3 C47.6,23.1 46.5,24 45.6,25.2 C43.7,27.7 42.9,30.8 43.3,34 C44,38.7 47.4,42.5 51.8,43.8 Z M87.3,50.7 L87.3,52.1 C87.3,52.3 87.3,52.4 87.2,52.6 L87.2,52.8 C87.2,53 87.1,53.2 87.1,53.3 L87.1,53.4 C87,53.6 87,53.8 86.9,54 L86.9,54.1 L86.6,54.7 C86.1,55.7 85.3,56.6 84.4,57.4 C84.2,57.5 84.1,57.6 83.9,57.7 L83.8,57.8 C83.7,57.9 83.5,58 83.4,58 C83.3,58 83.3,58.1 83.2,58.1 C83.1,58.2 82.9,58.2 82.8,58.3 C82.7,58.3 82.6,58.4 82.5,58.4 C82.4,58.4 82.3,58.5 82.2,58.5 C82.1,58.5 81.9,58.6 81.8,58.6 C81.7,58.6 81.6,58.6 81.5,58.7 C81.4,58.7 81.3,58.7 81.2,58.8 C81.8,56.6 81.5,54.2 80.3,51.6 L80.3,51.5 C80.9,51.6 81.7,51.7 82.6,51.7 C84.5,51.7 86.2,51.3 87.7,50.4 C87.3,50.6 87.3,50.6 87.3,50.7 Z M82.5,16.1 L87.2,49.5 C85.8,50.4 84.1,50.9 82.2,50.9 C80.5,50.9 79.3,50.5 79.3,50.5 C79.1,50.4 79,50.5 78.8,50.6 C78.7,50.7 78.7,50.9 78.8,51.1 C78.9,51.2 78.9,51.3 79,51.5 L58.1,54.4 C57.9,54.4 57.7,54.6 57.7,54.9 C57.7,55.1 57.9,55.3 58.1,55.3 L58.2,55.3 L79.4,52.3 C80.5,54.7 80.7,57 80,59 L55.2,62.4 L52.7,44 C53.5,44.2 54.2,44.2 55,44.2 C55.5,44.2 56.1,44.2 56.6,44.1 C58.5,43.8 60.3,43.1 61.8,42 L81.7,39.2 C81.9,39.2 82.1,39 82.1,38.7 C82.1,38.5 81.9,38.3 81.6,38.3 L63.1,41 C64.2,39.9 65.2,38.6 65.8,37.2 L81.2,35.1 C81.4,35.1 81.6,34.9 81.6,34.6 C81.6,34.4 81.4,34.2 81.1,34.2 L66.2,36.3 C66.6,35.2 66.8,34 66.9,32.8 L80.7,30.9 C80.9,30.9 81.1,30.7 81.1,30.4 C81.1,30.2 80.9,30 80.6,30 L66.9,32 C66.9,31.6 66.9,31.2 66.8,30.7 C66.7,30 66.5,29.3 66.3,28.6 L80.1,26.7 C80.3,26.7 80.5,26.5 80.5,26.2 C80.5,25.9 80.3,25.8 80,25.8 L66,27.7 C65.5,26.5 64.9,25.5 64.1,24.6 L79.5,22.5 C79.7,22.5 79.9,22.3 79.9,22 C79.9,21.8 79.7,21.6 79.4,21.6 L63.4,23.8 C61.2,21.6 58.3,20.3 55.1,20.3 C54.6,20.3 54,20.3 53.4,20.4 C52,20.6 50.8,21 49.6,21.6 L49.4,20.5 L82.5,16.1 Z M46.2,25.7 C47.1,24.5 48.2,23.6 49.4,22.8 C50.6,22.1 52,21.6 53.4,21.4 C53.9,21.3 54.4,21.3 54.9,21.3 C60.4,21.3 65,25.4 65.8,30.8 C66.6,36.8 62.4,42.4 56.4,43.2 C55.9,43.3 55.4,43.3 54.9,43.3 C49.4,43.3 44.8,39.2 44,33.8 C43.7,31 44.5,28.1 46.2,25.7 Z M62.8,209.7 C61.9,209.7 61.2,210.4 61.2,211.3 C61.2,212.2 61.9,212.9 62.8,212.9 C63.7,212.9 64.4,212.2 64.4,211.3 C64.3,210.4 63.6,209.7 62.8,209.7 Z M62.8,212 C62.4,212 62.1,211.7 62.1,211.3 C62.1,210.9 62.4,210.6 62.8,210.6 C63.2,210.6 63.5,210.9 63.5,211.3 C63.5,211.7 63.2,212 62.8,212 Z M84.1,229.5 C84.1,223.8 81.9,218.4 77.9,214.4 C73.9,210.4 68.5,208.2 62.8,208.2 C57.1,208.2 51.7,210.4 47.7,214.4 C43.7,218.4 41.5,223.8 41.5,229.5 C41.5,235.2 43.7,240.6 47.7,244.6 C50.2,247.1 53.2,248.9 56.5,249.9 L60.7,249.9 C56,249.4 51.7,247.4 48.3,244 C44.4,240.1 42.3,235 42.3,229.5 C42.3,224 44.4,218.9 48.3,215 C52.2,211.1 57.3,209 62.8,209 C68.3,209 73.4,211.1 77.3,215 C81.2,218.9 83.3,224 83.3,229.5 C83.3,235 81.2,240.1 77.3,244 C73.9,247.4 69.6,249.4 64.9,249.9 L69.1,249.9 C72.4,248.9 75.4,247.1 77.9,244.6 C81.9,240.6 84.1,235.2 84.1,229.5 Z M83,77.9 C83,77.7 82.9,77.6 82.7,77.6 L79.9,77.6 L81.9,75.6 C82,75.5 82,75.3 81.9,75.2 C81.8,75.1 81.6,75.1 81.5,75.2 L79.5,77.2 L79.5,73 C79.5,72.8 79.4,72.7 79.2,72.7 C79,72.7 78.9,72.8 78.9,73 L78.9,77.2 L76.9,75.2 C76.8,75.1 76.6,75.1 76.5,75.2 C76.4,75.3 76.4,75.5 76.5,75.6 L78.5,77.6 L75.7,77.6 C75.5,77.6 75.4,77.7 75.4,77.9 C75.4,78.1 75.5,78.2 75.7,78.2 L78.5,78.2 L76.5,80.2 C76.4,80.3 76.4,80.5 76.5,80.6 C76.6,80.7 76.6,80.7 76.7,80.7 C76.8,80.7 76.9,80.7 76.9,80.6 L78.9,78.6 L78.9,82.8 C78.9,83 79,83.1 79.2,83.1 C79.4,83.1 79.5,83 79.5,82.8 L79.5,78.6 L81.5,80.6 C81.6,80.7 81.6,80.7 81.7,80.7 C81.8,80.7 81.9,80.7 81.9,80.6 C82,80.5 82,80.3 81.9,80.2 L79.9,78.2 L82.7,78.2 C82.9,78.2 83,78.1 83,77.9 Z M192.1,137.4 L196.7,148.7 C196.7,148.8 196.8,148.8 196.8,148.9 L201.1,152.4 C201.2,152.5 201.3,152.5 201.4,152.5 L201.6,152.5 L201.9,152.2 L202.5,146.7 L202.5,146.5 L197.9,135.2 L197,133.1 L196.4,131.6 C196,130.5 194.9,129.8 193.7,129.8 C193.3,129.8 193,129.9 192.6,130 C191.8,130.3 191.2,130.9 190.9,131.7 C190.6,132.5 190.6,133.3 190.9,134.1 L191.2,135.3 L192.1,137.4 Z M201,151.3 L197.8,148.7 L201.4,147.3 L201,151.3 Z M197.1,135.8 L201.4,146.3 L197.4,147.9 L193.1,137.4 L197.1,135.8 Z M196.8,135.1 L192.7,136.8 L192.1,135.4 L196.2,133.7 L196.8,135.1 Z M191.4,131.9 C191.6,131.3 192.1,130.9 192.7,130.6 C193,130.5 193.2,130.4 193.5,130.4 C194.3,130.4 195.1,130.9 195.4,131.7 L195.9,132.8 L191.8,134.5 L191.4,133.6 C191.2,133.1 191.2,132.5 191.4,131.9 Z M48.4,144.6 C48.1,144.5 47.7,144.4 47.3,144.4 C47,144.4 46.6,144.5 46.3,144.6 C44.7,145.1 43.8,146.9 44.3,148.6 C44.7,149.9 45.9,150.7 47.3,150.7 C47.6,150.7 48,150.6 48.3,150.5 C49.9,150 50.8,148.2 50.3,146.5 C50.1,145.9 49.7,145.3 49.2,145 L53.8,136.6 L57,135.6 L58.7,140.6 C58.1,140.9 57.6,141.4 57.3,142 C56.9,142.7 56.9,143.6 57.1,144.4 C57.5,145.7 58.7,146.5 60.1,146.5 C60.4,146.5 60.8,146.4 61.1,146.3 C62.7,145.8 63.6,144 63.1,142.3 C62.7,141 61.5,140.2 60.1,140.2 C59.9,140.2 59.7,140.2 59.5,140.3 L57.8,135.3 L61,134.3 L69.7,138.3 C69.5,138.9 69.5,139.6 69.7,140.2 C70.1,141.5 71.3,142.3 72.7,142.3 C73,142.3 73.4,142.2 73.7,142.1 C75.3,141.6 76.2,139.8 75.7,138.1 C75.3,136.8 74.1,136 72.7,136 C72.4,136 72,136.1 71.7,136.2 C71,136.4 70.4,136.9 70.1,137.5 L62.2,133.9 L79.9,128 C80.7,127.7 81.2,126.8 80.9,126 L80,123.2 C79.9,122.8 79.6,122.5 79.2,122.3 C78.8,122.1 78.4,122.1 78,122.2 L76.5,122.7 L68,98.1 L69.5,97.6 C70.3,97.3 70.8,96.4 70.5,95.6 L69.6,92.8 C69.3,92 68.4,91.5 67.6,91.8 L22.8,106.7 C22.4,106.8 22.1,107.1 21.9,107.5 C21.7,107.9 21.7,108.3 21.8,108.7 L22.7,111.5 C22.9,112.1 23.5,112.6 24.2,112.6 C24.4,112.6 24.5,112.6 24.7,112.5 L26.2,112 L34.4,136.6 L32.9,137.1 C32.1,137.4 31.6,138.3 31.9,139.1 L32.8,141.9 C32.9,142.3 33.2,142.6 33.6,142.8 C33.8,142.9 34.1,143 34.3,143 C34.5,143 34.6,143 34.8,142.9 L52.5,137 L48.4,144.6 Z M49.4,146.8 C49.8,148 49.1,149.3 47.9,149.7 C46.7,150.1 45.4,149.4 45,148.2 C44.6,147 45.3,145.7 46.5,145.3 C46.7,145.2 47,145.2 47.2,145.2 C48.2,145.2 49.1,145.9 49.4,146.8 Z M59.8,141.1 C60.8,141.1 61.7,141.7 62,142.7 C62.4,143.9 61.7,145.2 60.5,145.6 C60.3,145.7 60,145.7 59.8,145.7 C58.8,145.7 57.9,145.1 57.6,144.1 C57.4,143.5 57.5,142.9 57.7,142.3 C58,141.8 58.4,141.3 59,141.2 C59.3,141.1 59.6,141.1 59.8,141.1 Z M70.4,138.1 C70.7,137.6 71.1,137.1 71.7,137 C71.9,136.9 72.2,136.9 72.4,136.9 C73.4,136.9 74.3,137.5 74.6,138.5 C75,139.7 74.3,141 73.1,141.4 C71.9,141.8 70.6,141.1 70.2,139.9 C70,139.3 70.1,138.7 70.4,138.1 Z M24.4,111.7 C24,111.8 23.6,111.6 23.4,111.2 L22.5,108.4 C22.4,108.2 22.5,108 22.5,107.8 C22.6,107.6 22.7,107.5 22.9,107.4 L67.7,92.5 L67.9,92.5 C68.2,92.5 68.5,92.7 68.6,93 L69.5,95.8 C69.6,96.2 69.4,96.6 69,96.8 L28.4,110.3 L26.3,111.1 L24.4,111.7 Z M27,111.8 L67.2,98.4 L75.4,123 L35.2,136.4 L27,111.8 Z M34.5,142.1 L34.3,142.1 C34.2,142.1 34.1,142.1 34,142 C33.8,141.9 33.7,141.8 33.6,141.6 L32.7,138.8 C32.6,138.4 32.8,138 33.2,137.8 L35.1,137.2 L76.1,123.6 L78,123 L78.2,123 C78.3,123 78.4,123 78.5,123.1 C78.7,123.2 78.8,123.3 78.9,123.5 L79.8,126.3 C79.9,126.7 79.7,127.1 79.3,127.3 L56.9,134.8 L34.5,142.1 Z M18.7,211.7 C18.1,211.7 17.6,211.7 17,211.8 C11.6,212.7 7.9,217.9 8.8,223.3 C9.6,228.1 13.7,231.6 18.6,231.6 L20.2,240.8 C20.3,241.5 20.9,242.1 21.7,242.1 L22,242.1 L22.3,242 C23.1,241.9 23.7,241.1 23.5,240.3 L22.5,234.5 L22,231 C23.9,230.3 25.6,229.1 26.8,227.4 C28.3,225.2 28.9,222.6 28.5,220 C27.7,215.2 23.6,211.7 18.7,211.7 Z M19.5,231.6 C19.8,231.6 20.1,231.5 20.3,231.5 C20.6,231.5 20.9,231.4 21.1,231.3 L21.6,234.1 L19.9,234.4 L19.5,231.6 Z M22.7,240.4 C22.8,240.8 22.5,241.1 22.1,241.2 L21.8,241.3 C21.4,241.4 21.1,241.1 21,240.7 L20.1,235.3 L21.8,235 L22.7,240.4 Z M26.1,226.9 C24.7,228.9 22.6,230.2 20.2,230.6 C19.7,230.7 19.2,230.7 18.7,230.7 C14.2,230.7 10.5,227.5 9.7,223.1 C8.9,218.1 12.2,213.4 17.2,212.6 C17.7,212.5 18.2,212.5 18.7,212.5 C23.2,212.5 26.9,215.7 27.7,220.1 C28.1,222.5 27.5,225 26.1,226.9 Z M18.7,213.3 C18.2,213.3 17.8,213.3 17.3,213.4 C12.8,214.2 9.7,218.5 10.5,223 C11.2,227 14.6,229.9 18.7,229.9 C19.2,229.9 19.6,229.9 20.1,229.8 C22.3,229.4 24.2,228.2 25.5,226.4 C26.8,224.6 27.3,222.4 26.9,220.2 C26.2,216.3 22.8,213.3 18.7,213.3 Z M24.8,226 C23.6,227.6 21.9,228.7 20,229 C19.6,229.1 19.2,229.1 18.7,229.1 C15,229.1 11.9,226.5 11.3,222.9 C10.6,218.8 13.4,215 17.4,214.3 C17.8,214.2 18.2,214.2 18.7,214.2 C22.4,214.2 25.5,216.8 26.1,220.4 C26.4,222.4 25.9,224.4 24.8,226 Z M42.6,195.6 L42.6,195.6 C42.9,196.3 43.4,196.8 44.1,197.2 C44.7,197.6 45.5,197.8 46.2,197.8 C46.5,197.8 46.8,197.8 47.2,197.7 L83.2,189 C85.4,188.5 86.7,186.3 86.2,184.1 L80.7,161.1 C80.6,160.9 80.4,160.7 80.2,160.8 L73.6,162.4 L72.5,157.8 C72.5,157.7 72.4,157.6 72.3,157.5 C72.2,157.4 72.1,157.4 72,157.5 L36,166.2 C35.8,166.3 35.6,166.5 35.7,166.7 L42.6,195.3 C42.4,195.4 42.5,195.5 42.6,195.6 Z M79.8,161.8 L85,183.5 L85.2,184.4 C85.6,186.1 84.6,187.8 82.9,188.2 C81.2,188.6 79.5,187.6 79.1,185.8 L73.7,163.3 L79.8,161.8 Z M36.5,166.8 L71.6,158.4 L71.6,158.4 L78.3,186 C78.6,187.2 79.5,188.2 80.6,188.7 L47,196.8 C46.2,197 45.3,196.9 44.6,196.4 C44,196.1 43.6,195.6 43.4,195 L43.2,194.4 L36.5,166.8 Z M25,182.8 L23.4,182.4 L25.1,178.8 C25.3,178.4 25.3,178 25.1,177.7 C24.9,177.3 24.6,177.1 24.2,177 L0,171.7 L0,172.6 L24,177.9 C24.1,177.9 24.2,178 24.3,178.1 C24.4,178.2 24.4,178.4 24.3,178.5 L15.6,197.1 C15.1,198.2 13.8,198.9 12.5,198.6 L9.6,198 L0,195.8 L0,196.7 L8.7,198.6 L11.9,199.3 L11.6,200.7 C11.6,200.9 11.4,201.1 11.2,201.2 C11,201.3 10.8,201.4 10.6,201.3 L0,199 L0,199.9 L10.4,202.2 L10.8,202.2 C11.1,202.2 11.4,202.1 11.7,201.9 C12.1,201.7 12.3,201.3 12.4,200.9 L12.7,199.4 L13.1,199.4 C14.5,199.4 15.8,198.6 16.3,197.3 L17.9,194 L22.2,195 C22.6,195.1 23.1,195.2 23.6,195.2 C26.5,195.2 29.1,193.1 29.7,190.3 C30.1,188.7 29.8,187 28.9,185.6 C28,184.1 26.7,183.2 25,182.8 Z M21.8,185.8 L24.2,186.3 C25.6,186.6 26.5,188.1 26.2,189.5 C25.9,190.9 24.5,191.8 23,191.5 L19.4,190.7 L21.8,185.8 Z M29,190.1 C28.5,192.6 26.2,194.4 23.7,194.4 C23.3,194.4 22.9,194.4 22.5,194.3 L18.3,193.4 L19.1,191.6 L22.8,192.4 C23.1,192.5 23.3,192.5 23.6,192.5 C25.2,192.5 26.7,191.4 27,189.8 C27.4,188 26.2,186.1 24.4,185.6 L22.1,185.1 L22.6,184 L23,183.2 L24.8,183.6 C26.2,183.9 27.4,184.8 28.2,186 C29,187.2 29.3,188.7 29,190.1 Z M49.1,128.2 C49.2,128.4 49.3,128.5 49.5,128.5 L49.6,128.5 L58.1,125.7 C58.2,125.7 58.3,125.6 58.3,125.5 C58.3,125.4 58.4,125.3 58.3,125.2 L52.2,106.9 C52.1,106.7 51.9,106.6 51.7,106.6 L43.2,109.4 C43.1,109.4 43,109.5 43,109.6 C43,109.7 42.9,109.8 43,109.9 L49.1,128.2 Z M51.7,107.5 L57.5,125 L49.8,127.6 L44,110.1 L51.7,107.5 Z M5.2,158.1 L5.5,157.7 C5.6,157.5 5.6,157.3 5.4,157.1 C5.2,157 5,157 4.8,157.2 L4.5,157.6 C4,158.2 3.4,158.9 3.1,159.7 C2.8,160.5 2.7,161.5 3,162.6 C3.1,162.9 3.1,163.2 3.2,163.5 C3.4,164.1 3.5,164.8 3.5,165.4 C3.5,166.2 3.3,166.9 2.8,167.7 C2.7,167.9 2.7,168.1 2.9,168.3 C3,168.3 3.1,168.4 3.1,168.4 C3.2,168.4 3.4,168.3 3.4,168.2 C4,167.3 4.3,166.4 4.3,165.4 C4.3,164.7 4.1,164 3.9,163.4 C3.8,163.1 3.8,162.8 3.7,162.5 C3.5,161.5 3.5,160.7 3.8,160.1 C4.2,159.3 4.7,158.7 5.2,158.1 Z M37.2,132.5 L37.5,132.5 L46,129.7 C46.2,129.6 46.3,129.4 46.3,129.2 L42.3,117.1 C42.3,117 42.2,116.9 42.1,116.9 C42,116.9 41.9,116.8 41.8,116.9 L33.3,119.7 C33.1,119.8 33,120 33,120.2 L37,132.3 L37.2,132.5 Z M41.6,117.7 L45.4,129 L37.7,131.6 L33.9,120.3 L41.6,117.7 Z M0.4,62.7 C0.3,62.5 0.2,62.4 2.22044605e-16,62.3 L2.22044605e-16,64.9 L0.5,63.6 C0.6,63.4 0.6,63 0.4,62.7 Z M2.6,71.9 C2.8,70.4 1.8,69 0.3,68.7 L2.22044605e-16,68.7 L2.22044605e-16,69.5 L0.2,69.5 C1.3,69.7 2,70.7 1.8,71.7 C1.7,72.6 0.9,73.3 2.22044605e-16,73.4 L2.22044605e-16,74.2 C1.3,74.3 2.4,73.3 2.6,71.9 Z M11.4,159.4 L11.4,159.4 L11.7,159 C11.8,158.8 11.8,158.6 11.6,158.4 C11.4,158.3 11.2,158.3 11,158.5 L10.7,158.9 C10.2,159.5 9.6,160.2 9.3,161 C9,161.8 8.9,162.8 9.2,163.9 C9.3,164.2 9.3,164.5 9.4,164.8 C9.6,165.4 9.7,166.1 9.7,166.7 C9.7,167.5 9.5,168.2 9,169 C8.9,169.2 8.9,169.4 9.1,169.6 C9.2,169.6 9.3,169.7 9.3,169.7 C9.4,169.7 9.6,169.6 9.6,169.5 C10.2,168.6 10.5,167.7 10.5,166.7 C10.5,166 10.3,165.3 10.1,164.7 C10,164.4 10,164.1 9.9,163.8 C9.7,162.8 9.7,162 10,161.4 C10.4,160.7 10.9,160.1 11.4,159.4 Z M18.4,24.4 C18.4,24.4 18.5,24.5 18.6,24.5 L26.5,26.9 L26.6,26.9 C26.7,26.9 26.8,26.9 26.9,26.8 C27,26.7 27.1,26.5 27,26.4 L24.7,18.4 C24.7,18.3 24.6,18.3 24.6,18.2 L11.6,5.2 L9.1,2.8 L7.6,1.3 C6.8,0.5 5.6,0 4.4,0 C3.2,0 2.1,0.5 1.2,1.3 C-0.4,2.9 -0.4,5.6 1.2,7.2 L18.4,24.4 Z M25.9,25.9 L19.4,23.9 L24,19.3 L25.9,25.9 Z M23.7,18.5 L18.7,23.5 L6.3,11.1 L11.3,6.1 L23.7,18.5 Z M10.7,5.6 L5.7,10.6 L3.9,8.7 L8.9,3.7 L10.7,5.6 Z M1.8,1.9 C2.5,1.2 3.4,0.8 4.4,0.8 C5.4,0.8 6.3,1.2 7,1.9 L8.2,3.1 L3.2,8.1 L1.8,6.6 C0.5,5.3 0.5,3.2 1.8,1.9 Z M1.6,148.4 L1.6,148.4 C3,148.4 4.4,147.5 4.9,146.1 L13.5,123.1 C14.2,121.3 13.3,119.2 11.4,118.5 L8.7,117.5 L14.6,111.6 C14.7,111.5 14.8,111.2 14.6,111.1 C14.5,110.9 14.3,110.9 14.1,111 L4.2,115.3 L6.6,109 C7.3,107.2 6.4,105.1 4.5,104.4 L0,102.6 L0,103.5 L4.3,105.1 C5.7,105.6 6.4,107.2 5.9,108.6 L3.2,115.9 L0,124.3 L0,126.7 L3.9,116.3 L12.5,112.5 L7.7,117.3 C7.6,117.4 7.6,117.5 7.6,117.7 C7.6,117.8 7.7,118 7.9,118 L11.2,119.2 C12.6,119.7 13.3,121.3 12.8,122.7 L4.2,145.7 C3.7,147.1 2.1,147.8 0.7,147.3 L0,147.1 L0,148 L0.4,148.1 C0.8,148.3 1.2,148.4 1.6,148.4 Z M0.3,111.8 C0.5,111.8 0.6,111.7 0.7,111.5 C0.8,111.3 0.7,111 0.5,111 L2.22044605e-16,110.8 L2.22044605e-16,111.7 L0.1,111.7 C0.2,111.8 0.2,111.8 0.3,111.8 Z M4.8,72.2 C5.2,69.5 3.3,67 0.6,66.6 L0,66.5 L0,67.3 L0.5,67.4 C2.8,67.7 4.3,69.8 4,72.1 C3.7,74.1 2,75.6 0,75.6 L0,76.4 C2.4,76.4 4.4,74.6 4.8,72.2 Z M32.1,49.6 L31.7,49.8 L28.4,46.1 C27,44.6 25.2,43.7 23.2,43.7 C21.1,43.7 19,44.7 17.6,46.4 C16.2,48.1 15.7,50.3 16.2,52.5 L17.4,57.3 L17,57.5 C16.9,57.5 16.9,57.6 16.8,57.6 C14.4,61.3 15.5,68.2 17.4,71 C17.5,71.1 17.6,71.2 17.7,71.2 L17.9,71.2 L23.1,68.5 C24.7,69.9 26.8,70.6 28.8,70.6 C30.2,70.6 31.6,70.3 32.9,69.6 C33.9,69.1 34.7,68.4 35.4,67.6 L44,70.3 C44.5,70.4 44.5,70.6 44.4,71 L41.4,80.6 L34.7,84.1 C33.7,84.6 33.1,85.7 33.1,86.8 L33.1,92.6 C33.1,92.9 33.3,93.2 33.5,93.3 C33.6,93.4 33.8,93.4 33.9,93.4 C34,93.4 34.2,93.4 34.3,93.3 L54.5,82.6 C54.8,82.5 54.9,82.2 54.9,81.9 C54.9,81.6 54.8,81.3 54.5,81.2 L49.9,78 C49,77.4 47.7,77.3 46.7,77.8 L45.3,78.5 C45.8,76.7 47,72.9 47.8,70.4 C48.2,69.1 47.7,68.1 46.4,67.7 L37.2,64.8 C37.7,63.5 37.9,62.1 37.7,60.7 L40,59.5 L41.6,62.5 C41.1,63 41,63.7 41.3,64.3 C41.6,64.8 42.1,65.1 42.6,65.1 C42.8,65.1 43.1,65 43.3,64.9 C44,64.5 44.3,63.6 43.9,62.9 C43.6,62.3 42.9,62 42.3,62.1 L40.7,59.1 L42.8,58 C43,57.9 43.1,57.7 43,57.5 C41.7,54.4 36.6,49.6 32.2,49.5 C32.2,49.5 32.2,49.5 32.1,49.6 Z M42.3,63.1 C42.4,63 42.5,63 42.6,63 C42.8,63 43.1,63.1 43.2,63.4 C43.4,63.7 43.2,64.1 42.9,64.3 C42.6,64.5 42.2,64.3 42,64 C41.9,63.7 42,63.2 42.3,63.1 Z M17.1,52.4 C16.7,50.4 17.1,48.5 18.3,47 C19.5,45.5 21.4,44.6 23.2,44.6 C24.4,44.6 26.2,45 27.8,46.7 L30.9,50.2 L18.2,56.9 L17.1,52.4 Z M32.7,68.8 C29.9,70.3 26.5,69.9 24.1,68 L36.9,61.2 C37.1,64.4 35.5,67.4 32.7,68.8 Z M47.1,78.6 C47.4,78.4 47.8,78.3 48.2,78.3 C48.6,78.3 49.1,78.4 49.5,78.7 L54.3,81.9 L34.1,92.6 L34.1,86.8 C34.1,86 34.6,85.2 35.3,84.8 L47.1,78.6 Z M46.2,68.6 C47.1,68.9 47.4,69.4 47.1,70.3 C46.2,73.3 44.7,78.2 44.4,79.2 L42.7,80.1 L45.4,71.3 C45.7,70.4 45.4,69.8 44.5,69.6 L36.2,67 C36.5,66.6 36.7,66.2 36.9,65.8 L46.2,68.6 Z M42.2,57.5 L40,58.7 L18.1,70.3 C16.5,67.6 15.6,61.5 17.6,58.2 L18.2,57.9 L31.9,50.7 L32.5,50.4 C36.3,50.5 40.8,54.7 42.2,57.5 Z M152.8,2.8 L152.9,2.8 L163.4,0 L160.2,0 L152.7,2 C152.5,2.1 152.3,2.3 152.4,2.5 C152.4,2.7 152.6,2.8 152.8,2.8 Z M150,10.2 L150.1,10.2 L185.7,0.6 C185.8,0.6 185.9,0.5 186,0.4 C186.1,0.3 186.1,0.2 186,0.1 L186,0 L185,0 L150.3,9.3 L147.8,0 L146.9,0 L149.6,9.9 C149.6,10.1 149.8,10.2 150,10.2 Z M213.4,79.1 C213.6,79.2 213.8,79.2 214,79.2 C214.5,79.2 215,78.9 215.2,78.5 L216.2,76.4 C216.4,76.1 216.4,75.7 216.3,75.4 C216.2,75.1 216,74.8 215.6,74.6 L182.5,58 C181.9,57.7 181,58 180.7,58.6 L179.7,60.7 C179.5,61 179.5,61.4 179.6,61.7 C179.7,62 179.9,62.3 180.3,62.5 L181.3,63 L172.3,81 L171.2,80.5 C170.6,80.2 169.7,80.5 169.4,81.1 L168.4,83.2 C168.2,83.5 168.2,83.9 168.3,84.2 C168.4,84.5 168.7,84.8 169,85 L181.9,91.5 L175.7,93.3 C175.5,92.8 175.1,92.4 174.6,92.1 C174.2,91.9 173.9,91.8 173.5,91.8 C172.5,91.8 171.7,92.3 171.2,93.2 C170.6,94.5 171.1,96 172.3,96.6 C172.7,96.8 173,96.9 173.4,96.9 C174.4,96.9 175.2,96.4 175.7,95.5 C175.9,95 176,94.5 175.9,94.1 L183,92 L185.2,93.1 L183.4,96.6 C183.2,96.5 182.9,96.5 182.7,96.5 C181.7,96.5 180.9,97 180.4,97.9 C179.8,99.2 180.3,100.7 181.5,101.3 C181.9,101.5 182.2,101.6 182.6,101.6 C183.6,101.6 184.4,101.1 184.9,100.2 C185.5,99.1 185.1,97.7 184.1,97 L185.9,93.5 L188.1,94.6 L190.7,101.5 C190.3,101.7 189.9,102.1 189.7,102.6 C189.4,103.2 189.3,103.9 189.6,104.5 C189.8,105.1 190.3,105.7 190.9,106 C191.3,106.2 191.6,106.3 192,106.3 C193,106.3 193.8,105.8 194.3,104.9 C194.9,103.6 194.4,102.1 193.2,101.5 C192.8,101.3 192.5,101.2 192.1,101.2 C191.9,101.2 191.8,101.2 191.6,101.3 L189.3,95.2 L202.2,101.7 C202.4,101.8 202.6,101.8 202.8,101.8 C203.3,101.8 203.8,101.5 204,101.1 L205,99 C205.2,98.7 205.2,98.3 205.1,98 C205,97.7 204.8,97.4 204.4,97.2 L203.3,96.7 L212.3,78.7 L213.4,79.1 Z M175,95.1 C174.6,95.9 173.5,96.3 172.7,95.9 C171.9,95.5 171.5,94.4 171.9,93.6 C172.2,93 172.8,92.7 173.4,92.7 C173.7,92.7 173.9,92.8 174.2,92.9 C175.1,93.3 175.4,94.3 175,95.1 Z M184.3,99.8 C183.9,100.6 182.8,101 182,100.6 C181.2,100.2 180.8,99.1 181.2,98.3 C181.5,97.7 182.1,97.4 182.7,97.4 C183,97.4 183.2,97.5 183.5,97.6 C184.4,97.9 184.7,99 184.3,99.8 Z M192.1,102 C192.4,102 192.6,102.1 192.9,102.2 C193.7,102.6 194.1,103.7 193.7,104.5 C193.3,105.3 192.2,105.7 191.4,105.3 C191,105.1 190.7,104.7 190.5,104.3 C190.4,103.9 190.4,103.4 190.6,103 C190.8,102.3 191.4,102 192.1,102 Z M180.7,61.8 L180.4,61.5 L180.4,61.1 L181.4,59 C181.5,58.8 181.7,58.7 181.8,58.7 C181.9,58.7 182,58.7 182,58.8 L215.1,75.4 L215.4,75.7 L215.4,76.1 L214.4,78.2 C214.3,78.4 214,78.5 213.7,78.4 L212.3,77.7 L182,62.5 L180.7,61.8 Z M204.1,97.9 L204.1,97.9 L204.4,98.2 L204.4,98.6 L203.4,100.7 C203.3,100.9 203.1,101 203,101 C202.9,101 202.8,101 202.8,100.9 L189,94 L169.7,84.3 L169.4,84 L169.4,83.6 L170.4,81.5 C170.5,81.3 170.7,81.2 170.8,81.2 C170.9,81.2 171,81.2 171,81.3 L172.4,82 L202.7,97.2 L204.1,97.9 Z M202.6,96.2 L173,81.4 L182,63.4 L210.4,77.6 L211.6,78.2 L202.6,96.2 Z M112.7,112.2 C113.5,112.1 114.2,111.7 114.6,111 L122.4,95.6 C122.4,95.5 122.5,95.4 122.4,95.3 C122.4,95.2 122.3,95.1 122.2,95.1 L118.1,93.3 C117.9,93.2 117.7,93.3 117.6,93.5 L109.3,110 C109.2,110.2 109.2,110.5 109.3,110.8 C109.4,111 109.6,111.3 109.8,111.4 L111.7,112.2 C112,112.2 112.3,112.3 112.7,112.2 Z M110,110.4 L110,110.3 L118.2,94.2 L121.6,95.7 L114,110.7 C113.8,111.2 113.3,111.5 112.8,111.5 C112.4,111.5 112.2,111.4 112,111.3 L110,110.4 L110,110.4 Z M113,117.1 C114.1,117 115.1,116.4 115.6,115.5 L131.2,89.8 L131.3,89.8 C131.6,89.9 132,90 132.3,90 C133.1,89.9 133.9,89.4 134.2,88.7 L135.4,85.9 C135.6,85.4 135.6,84.7 135.4,84.2 C135.2,83.6 134.8,83.2 134.2,83 L123.9,78.5 L125.2,75.4 C125.6,74.6 125.6,73.7 125.2,72.8 C124.9,72 124.2,71.3 123.4,71 L118.1,68.7 C117.6,68.5 117.1,68.4 116.5,68.4 C115.2,68.5 114.2,69.3 113.7,70.4 L112.4,73.5 L102.2,69 C101.7,68.8 101,68.8 100.5,69 C99.9,69.2 99.5,69.6 99.3,70.2 L98.1,73 C97.6,74.1 98.1,75.4 99.3,75.9 L99.4,75.9 L91,105.1 C90.6,106.6 91.3,108.1 92.7,108.7 L111.3,116.8 C111.9,117.1 112.4,117.2 113,117.1 Z M114.6,70.7 C115,69.8 115.8,69.2 116.8,69.2 C117.2,69.2 117.6,69.2 118,69.4 L123.3,71.7 C123.9,72 124.4,72.5 124.7,73.1 C124.9,73.7 124.9,74.4 124.7,75.1 L123.4,78.2 L122.1,77.6 L123.4,74.5 C123.6,73.9 123.4,73.3 122.8,73 L117.5,70.7 C117,70.5 116.3,70.7 116,71.3 L114.7,74.4 L113.4,73.8 L114.6,70.7 Z M121.2,77.3 L115.3,74.7 L116.6,71.6 C116.7,71.4 116.9,71.4 117,71.4 L122.3,73.7 C122.5,73.8 122.5,74 122.5,74.1 L121.2,77.3 Z M98.8,73.3 L100,70.5 C100.2,70.1 100.4,69.9 100.8,69.7 C100.9,69.6 101.1,69.6 101.2,69.6 C101.4,69.6 101.7,69.6 101.9,69.7 L112.6,74.3 L115.2,75.4 L133.9,83.6 C134.3,83.8 134.5,84 134.7,84.4 C134.8,84.8 134.8,85.2 134.7,85.5 L133.5,88.3 C133.2,89 132.3,89.4 131.6,89 L130.7,88.6 L99.9,75.4 L99.5,75.2 C98.8,74.9 98.5,74 98.8,73.3 Z M100,76.3 L130.4,89.5 L127.9,93.6 L98.8,80.9 L100,76.3 Z M91.8,105.4 L98.5,81.7 L127.5,94.3 L114.9,115.2 C114.3,116.3 112.8,116.7 111.7,116.2 L93.1,108 C92,107.6 91.5,106.4 91.8,105.4 Z M169.2,40.6 L169.4,40.6 C170.3,40.6 171,39.9 171.1,39.1 C171.2,38.2 170.5,37.3 169.6,37.2 C168.6,37.1 167.8,37.8 167.7,38.7 C167.6,39.7 168.3,40.5 169.2,40.6 Z M169.4,38 L169.4,38 C170,38.1 170.3,38.5 170.3,39 C170.2,39.5 169.8,39.8 169.3,39.8 C168.8,39.7 168.5,39.3 168.5,38.8 C168.6,38.4 169,38 169.4,38 Z M175.5,41.3 L175.7,41.3 C176.6,41.3 177.3,40.6 177.4,39.8 C177.5,38.9 176.8,38 175.9,37.9 C174.9,37.8 174.1,38.5 174,39.4 C174,39.9 174.1,40.3 174.4,40.7 C174.7,41 175.1,41.2 175.5,41.3 Z M175.7,38.7 L175.7,38.7 C176.3,38.8 176.6,39.2 176.6,39.7 C176.5,40.2 176.1,40.5 175.6,40.5 C175.4,40.5 175.1,40.4 175,40.2 C174.8,40 174.8,39.8 174.8,39.5 C174.9,39 175.3,38.7 175.7,38.7 Z M180.8,0.6 L180.8,0.6 C181.4,0.4 181.9,0.3 182.4,0 L179.4,0 C178.8,0.1 178.1,0.2 177.5,0.2 C176.8,0.2 176.1,0.1 175.5,0 L172.6,0 C174.1,0.6 175.8,1 177.5,1 C178.6,1 179.7,0.9 180.8,0.6 Z M57.5,50.2 C57.3,50.3 57.1,50.5 57.1,50.7 C57.1,50.9 57.3,51.1 57.5,51.1 L57.6,51.1 L83,47.6 C83.2,47.6 83.4,47.4 83.4,47.1 C83.4,46.9 83.2,46.7 82.9,46.7 L57.5,50.2 Z M98.9,249.6 C92.5,243.3 92.5,233.2 98.7,227 C101.8,223.9 105.9,222.3 110.1,222.3 C112,222.3 113.9,222.7 115.8,223.4 L116.1,223.4 C116.2,223.4 116.3,223.3 116.4,223.2 C116.5,223 116.4,222.7 116.2,222.7 C110,220.3 103,221.8 98.3,226.5 C91.8,233 91.8,243.4 98.1,250 L99.3,250 C99.2,249.9 99,249.8 98.9,249.6 Z M182.4,245.7 L182.4,245.7 L180.6,239.1 L184.4,238.1 C184.6,238.1 184.7,237.9 184.7,237.8 C184.7,237.6 184.7,237.5 184.6,237.4 L175.6,229.9 C175.5,229.8 175.4,229.8 175.2,229.8 C175.1,229.8 175,229.9 174.9,230.1 L170.9,241.1 C170.8,241.2 170.9,241.4 171,241.5 C171.1,241.6 171.3,241.7 171.4,241.6 L175.2,240.6 L177,247.2 C177,247.3 177.1,247.4 177.2,247.5 C177.3,247.5 177.3,247.6 177.4,247.6 L177.5,247.6 L182,246.4 C182.3,246.1 182.5,245.9 182.4,245.7 Z M177.8,246.5 L176,239.9 C175.9,239.7 175.8,239.6 175.6,239.6 L175.5,239.6 L172.1,240.5 L175.6,230.8 L183.5,237.4 L180.1,238.3 C180,238.3 179.9,238.4 179.8,238.5 C179.7,238.6 179.7,238.7 179.8,238.8 L181.6,245.4 L177.8,246.5 Z M123.1,220.8 C121.9,220.8 120.7,221.3 119.9,222.1 L103,239 C103,239 102.9,239.1 102.9,239.2 L100.6,247.2 C100.6,247.3 100.6,247.5 100.7,247.6 C100.8,247.7 100.9,247.7 101,247.7 L101.1,247.7 L109,245.3 C109.1,245.3 109.1,245.3 109.2,245.2 L124.6,229.8 L126.4,228 C127.2,227.2 127.6,226.2 127.6,225.1 C127.6,224 127.2,222.9 126.4,222.2 C125.5,221.3 124.3,220.8 123.1,220.8 Z M101.6,246.7 L103.5,240.1 L108.1,244.7 L101.6,246.7 Z M108.9,244.3 L103.9,239.3 L116.3,226.9 L121.3,231.9 L108.9,244.3 Z M121.8,231.4 L116.8,226.4 L118.6,224.6 L123.6,229.6 L121.8,231.4 Z M125.7,227.5 L124.2,229 L119.2,224 L120.4,222.8 C121.1,222.1 122,221.7 123,221.7 C124,221.7 124.9,222.1 125.6,222.8 C126.2,223.4 126.6,224.3 126.6,225.2 C126.7,226 126.4,226.8 125.7,227.5 Z M198.9,74.4 L198.9,74.4 C198.9,74.3 198.8,74.2 198.7,74.2 L192.4,71.1 C192.2,71 191.9,71.1 191.8,71.3 L185,84.8 C185,84.9 184.9,85 185,85.1 C185,85.2 185.1,85.3 185.2,85.3 L191.5,88.4 L191.7,88.4 C191.9,88.4 192,88.3 192.1,88.2 L198.9,74.7 C199,74.6 199,74.5 198.9,74.4 Z M191.6,87.4 L186.1,84.6 L192.5,71.8 L198,74.6 L191.6,87.4 Z M206.9,80.2 L206.9,80.2 L200.6,77.1 C200.4,77 200.1,77.1 200,77.3 L194.1,89.2 C194.1,89.3 194,89.4 194.1,89.5 C194.1,89.6 194.2,89.7 194.3,89.7 L200.6,92.8 L200.8,92.8 C201,92.8 201.1,92.7 201.2,92.6 L207.1,80.7 C207.1,80.6 207.2,80.5 207.1,80.4 C207,80.4 207,80.3 206.9,80.2 Z M200.6,91.9 L195.1,89.1 L200.7,78 L206.2,80.8 L200.6,91.9 Z M125.2,232.1 C125,232.2 124.9,232.4 125,232.6 C127.2,238.4 125.7,245.1 121.3,249.5 C121.2,249.6 121,249.7 120.9,249.9 L122.1,249.9 C126.6,245.3 128,238.4 125.7,232.4 C125.7,232.2 125.4,232.1 125.2,232.1 Z M187.5,74.2 L181.2,71.1 C181.1,71.1 181,71 180.9,71.1 C180.8,71.1 180.7,71.2 180.7,71.3 L176.2,80.2 C176.1,80.4 176.2,80.7 176.4,80.8 L182.7,83.9 L182.9,83.9 C183.1,83.9 183.2,83.8 183.3,83.7 L187.8,74.8 C187.8,74.5 187.7,74.3 187.5,74.2 Z M182.7,82.9 L177.2,80.1 L181.3,71.9 L186.8,74.7 L182.7,82.9 Z M76.1,0 L74.5,0 C71,2 67,3.1 62.8,3.1 C58.5,3.1 54.5,2 51,0 L49.4,0 C53.2,2.5 57.8,4 62.7,4 C67.7,4 72.3,2.5 76.1,0 Z M95.9,40.2 C96,40.3 96.1,40.4 96.2,40.4 L96.4,40.4 L101,38 C102.4,39.2 104.2,39.9 106,39.9 C107.2,39.9 108.5,39.6 109.6,39 C110.4,38.6 111.2,38 111.8,37.3 L119.3,39.6 C119.7,39.7 119.7,39.8 119.6,40.2 L117,48.6 L111.2,51.7 C110.3,52.2 109.7,53.1 109.7,54.1 L109.7,59.4 C109.7,59.5 109.7,59.5 109.8,59.6 C109.9,59.7 109.9,59.8 110.1,59.9 C110.2,59.9 110.2,60 110.3,60 L110.5,60 C110.6,60 110.8,60 110.9,59.9 L128.6,50.5 C128.8,50.4 129,50.1 129,49.8 C129,49.5 128.9,49.3 128.6,49.1 L124.4,46.3 C123.6,45.7 122.4,45.7 121.6,46.2 L120.5,46.8 L120.5,46.6 C120.7,45.8 121.1,44.8 121.4,43.7 L121.7,42.8 C122,41.8 122.3,40.7 122.6,39.8 C123,38.6 122.5,37.7 121.3,37.3 L113.3,34.8 C113.7,33.7 113.9,32.5 113.7,31.3 L115.6,30.3 L116.9,32.8 C116.5,33.2 116.4,33.9 116.7,34.4 C116.9,34.8 117.4,35.1 117.9,35.1 C118.1,35.1 118.3,35 118.5,34.9 C118.8,34.7 119.1,34.4 119.2,34.1 C119.3,33.8 119.3,33.4 119.1,33.1 C119,32.9 118.9,32.8 118.8,32.7 C118.5,32.5 118.1,32.3 117.7,32.4 L116.4,29.9 L118.2,28.9 C118.4,28.8 118.5,28.6 118.4,28.4 C117.3,25.6 112.8,21.4 108.9,21.3 L108.7,21.3 L108.4,21.5 L105.6,18.3 C104.4,17 102.7,16.2 101,16.2 C99.1,16.2 97.3,17.1 96.1,18.6 C94.8,20 94.4,22 94.8,24 L95.8,28.1 L95.5,28.3 C95.5,28.3 95.4,28.3 95.4,28.4 L95.4,28.4 C93.3,31.7 94.3,37.7 95.9,40.2 Z M117.7,33.2 C117.8,33.2 117.9,33.1 117.9,33.1 C118.1,33.1 118.3,33.2 118.4,33.4 C118.5,33.5 118.5,33.7 118.4,33.8 C118.4,33.9 118.3,34 118.1,34.1 C118,34.1 118,34.2 117.9,34.2 C117.7,34.2 117.5,34.1 117.4,33.9 C117.3,33.7 117.4,33.4 117.7,33.2 Z M109.2,38.2 C108.3,38.7 107.3,38.9 106.4,39 C104.8,39.1 103.1,38.6 101.8,37.6 L112.9,31.7 C113,34.4 111.6,36.9 109.2,38.2 Z M121.9,46.9 C122.2,46.8 122.5,46.7 122.8,46.7 C123.2,46.7 123.6,46.8 123.9,47 L128.1,49.7 L110.5,59 L110.5,54 C110.5,53.3 110.9,52.6 111.5,52.3 L121.9,46.9 Z M121,38.1 C121.7,38.3 122,38.8 121.7,39.5 C121.6,39.7 121.6,40 121.5,40.2 C121.3,40.7 121.2,41.2 121,41.8 C120.9,42 120.9,42.2 120.8,42.4 C120.3,43.9 119.9,45.4 119.6,46.3 C119.5,46.7 119.4,47 119.3,47.2 L118,48 L120.3,40.4 C120.5,39.6 120.3,39.1 119.5,38.8 L112.3,36.6 C112.5,36.3 112.7,36 112.9,35.6 L121,38.1 Z M95.6,23.8 C95.2,22.1 95.6,20.4 96.7,19.1 C97.7,17.8 99.4,17 101,17 C102.1,17 103.6,17.3 105,18.8 L107.7,21.8 L96.7,27.6 L95.6,23.8 Z M96,28.9 L96.5,28.6 L108.5,22.3 L109,22 C112.3,22.2 116.3,25.7 117.5,28.2 L115.6,29.2 L96.4,39.4 C95,37 94.3,31.8 96,28.9 Z M69.1,0 L64.9,0 C64.2,0.1 63.5,0.1 62.8,0.1 C62.1,0.1 61.4,0.1 60.7,0 L56.5,0 C58.5,0.6 60.6,0.9 62.8,0.9 C64.9,0.9 67,0.6 69.1,0 Z M89.4,144.1 C89.3,144 89.1,144 89,144.2 C87.8,145.8 85.9,146.5 85,145.8 C84.9,145.7 84.7,145.7 84.6,145.9 C84.5,146 84.5,146.2 84.7,146.3 C85.6,147 85.4,149 84.1,150.6 C84,150.7 84,150.9 84.2,151 C84.3,151.1 84.5,151.1 84.6,150.9 C85.8,149.3 87.7,148.6 88.6,149.3 C88.7,149.4 88.9,149.4 89,149.2 C89.1,149.1 89.1,148.9 88.9,148.8 C88,148.1 88.2,146.1 89.5,144.5 C89.6,144.4 89.6,144.2 89.4,144.1 Z M87.9,148.4 C87.2,148.3 86.3,148.6 85.5,149.1 C85.8,148.2 85.9,147.3 85.6,146.6 C86.3,146.7 87.2,146.4 88,145.9 C87.6,146.8 87.6,147.7 87.9,148.4 Z M103.8,42.3 C103.6,42.3 103.5,42.4 103.4,42.6 L101.9,47.5 C101.8,47.7 102,48 102.2,48 L102.3,48 C102.5,48 102.6,47.9 102.7,47.7 L104.2,42.8 C104.3,42.6 104.1,42.3 103.9,42.3 L103.8,42.3 Z M107.7,43.1 C107.5,43.1 107.3,43.3 107.3,43.5 L107.7,48.2 C107.7,48.4 107.9,48.6 108.1,48.6 C108.3,48.6 108.5,48.4 108.5,48.2 L108.1,43.5 C108.1,43.3 107.9,43.1 107.7,43.1 Z M99.8,40.9 L96.9,44.6 C96.8,44.8 96.8,45 97,45.2 C97.1,45.3 97.2,45.3 97.3,45.3 C97.4,45.3 97.5,45.2 97.6,45.1 L100.5,41.4 C100.6,41.2 100.6,41 100.4,40.8 C100.3,40.7 100.2,40.7 100.1,40.7 C100,40.7 99.9,40.8 99.8,40.9 Z M98.1,0.2 C101.4,3.5 105.7,5.1 110,5.1 C114.3,5.1 118.6,3.5 121.9,0.2 C122,0.1 122,0 122.1,0 L120.9,0 C117.8,2.9 113.9,4.3 110,4.3 C106.1,4.3 102.2,2.9 99.1,0 L97.9,0 C98,0.1 98,0.2 98.1,0.2 Z M162.9,40 L163.1,40 C164,40 164.7,39.3 164.8,38.5 C164.9,37.6 164.2,36.7 163.3,36.6 C162.3,36.5 161.5,37.2 161.4,38.1 C161.3,39 162,39.8 162.9,40 Z M163.1,37.3 C163.7,37.4 164,37.8 164,38.3 C163.9,38.8 163.5,39.2 163,39.1 C162.5,39 162.2,38.6 162.2,38.1 C162.3,37.7 162.6,37.3 163.1,37.3 Z M62.8,205.2 C49.4,205.2 38.4,216.1 38.4,229.6 C38.4,238.1 42.8,245.6 49.5,250 L51,250 C43.9,245.9 39.2,238.3 39.2,229.6 C39.2,216.6 49.8,206.1 62.7,206.1 C75.7,206.1 86.2,216.7 86.2,229.6 C86.2,238.3 81.4,245.9 74.4,250 L76,250 C82.6,245.6 87.1,238.1 87.1,229.6 C87.1,216.1 76.2,205.2 62.8,205.2 Z M151.6,73.7 L151.8,73.7 C152.7,73.7 153.5,73 153.6,72.1 C153.7,71.1 153,70.2 152,70.1 C151,70 150.1,70.7 150,71.7 C149.9,72.7 150.6,73.6 151.6,73.7 Z M151.7,71 L151.7,71 C152.3,71.1 152.7,71.5 152.6,72 C152.5,72.5 152.1,72.9 151.6,72.8 C151.3,72.8 151.1,72.7 151,72.5 C150.8,72.3 150.8,72.1 150.8,71.8 C150.9,71.3 151.3,71 151.7,71 Z M105.8,87.9 L101.7,86.1 L101.4,86.1 C101.3,86.1 101.2,86.2 101.2,86.3 L95.2,102.5 C94.8,103.6 95.3,104.9 96.4,105.4 L98.3,106.2 C98.4,106.3 98.6,106.3 98.8,106.3 C98.9,106.3 99,106.3 99.1,106.2 C99.3,106.1 99.5,105.9 99.6,105.6 L106,88.3 C106.1,88.2 106,88 105.8,87.9 Z M98.9,105.5 C98.8,105.6 98.7,105.6 98.7,105.6 L96.8,104.8 C96.1,104.5 95.7,103.7 96,102.9 L101.8,87.1 L105.2,88.6 L98.9,105.5 Z M114,91.5 L109.9,89.7 L109.6,89.7 C109.5,89.7 109.4,89.8 109.4,89.9 L102,106.8 C101.9,107 101.9,107.3 102,107.5 C102.1,107.7 102.3,107.9 102.5,108 L105.6,109.3 C105.7,109.4 105.9,109.4 106.1,109.4 C106.5,109.4 106.8,109.2 106.9,108.8 L114.2,91.9 C114.3,91.8 114.2,91.6 114,91.5 Z M106.1,108.6 C106.1,108.7 105.9,108.7 105.9,108.7 L102.8,107.4 L102.7,107.3 L102.7,107.2 L109.9,90.7 L113.3,92.2 C113.3,92.2 106.1,108.6 106.1,108.6 Z M129.4,16.9 C130.6,16.9 131.6,18.6 131.6,20.6 C131.6,20.8 131.7,20.9 131.9,20.9 C132.1,20.9 132.2,20.8 132.2,20.6 C132.2,18.6 133.2,16.9 134.4,16.9 C134.6,16.9 134.7,16.8 134.7,16.6 C134.7,16.4 134.6,16.3 134.4,16.3 C133.2,16.3 132.2,14.6 132.2,12.6 C132.2,12.4 132.1,12.3 131.9,12.3 C131.7,12.3 131.6,12.4 131.6,12.6 C131.6,14.6 130.6,16.3 129.4,16.3 C129.2,16.3 129.1,16.4 129.1,16.6 C129.1,16.8 129.2,16.9 129.4,16.9 Z M131.9,14.5 C132.2,15.4 132.7,16.2 133.3,16.6 C132.7,17 132.2,17.7 131.9,18.7 C131.6,17.8 131.1,17 130.5,16.6 C131.1,16.2 131.6,15.5 131.9,14.5 Z M140.7,74.8 L162,77.1 L162.5,77.1 C163.5,77.1 164.5,76.7 165.4,76.1 C166.4,75.3 166.9,74.2 167.1,73 L169.4,51.6 L179.1,52.6 L179.6,52.6 C182.1,52.6 184.2,50.7 184.5,48.2 L186.1,33.2 C186.4,30.5 184.4,28.1 181.7,27.8 L159.9,25.5 C157.2,25.2 154.8,27.2 154.5,29.9 L154.2,32.9 L145.3,32 C144.1,31.9 142.9,32.2 141.9,33 C140.9,33.8 140.4,34.9 140.2,36.1 L136.6,69.9 C136.5,71.1 136.8,72.3 137.6,73.3 C138.4,74.1 139.4,74.7 140.7,74.8 Z M154.9,33.4 L154.9,33.4 L155.3,29.9 C155.5,27.8 157.3,26.3 159.3,26.3 L159.7,26.3 L181.5,28.6 C183.7,28.8 185.4,30.8 185.1,33.1 L183.5,48.1 C183.3,50.3 181.3,52 179,51.7 L169,50.7 L163,50.1 C162.9,50.1 162.7,50.1 162.7,50.2 L158.3,54.7 L159.3,50.2 C159.3,50.1 159.3,50 159.2,49.9 C159.1,49.8 159,49.7 158.9,49.7 L157.3,49.5 C156.2,49.4 155.2,48.9 154.6,48 C153.9,47.2 153.6,46.1 153.7,45 L154.9,33.4 Z M153.9,48.5 L153.9,48.5 C154.7,49.5 155.9,50.2 157.2,50.3 L158.3,50.4 L157.1,55.9 C157.1,56.1 157.1,56.3 157.3,56.4 L157.5,56.4 C157.6,56.4 157.7,56.4 157.8,56.3 L163.1,50.9 L164.1,51 L162.3,68 C162.3,68.3 162.1,68.6 161.9,68.8 C161.7,69 161.4,69.1 161.1,69 L143.4,67.1 C143.1,67.1 142.8,66.9 142.6,66.7 C142.4,66.5 142.3,66.2 142.4,65.9 L145.3,38.4 C145.4,37.8 145.9,37.3 146.6,37.4 L153.7,38.2 L153,44.9 C152.7,46.2 153.1,47.5 153.9,48.5 Z M137.4,69.9 L141,36.1 C141.1,35.1 141.6,34.2 142.4,33.6 C143.2,33 144.2,32.7 145.1,32.8 L154,33.7 L153.6,37.3 L146.5,36.5 C145.4,36.4 144.4,37.2 144.3,38.3 L141.4,65.8 C141.3,66.3 141.5,66.8 141.8,67.3 C142.1,67.7 142.6,68 143.1,68 L160.8,69.9 L161,69.9 C161.5,69.9 161.9,69.7 162.2,69.5 C162.6,69.2 162.9,68.7 162.9,68.2 L164.7,51.2 L168.3,51.6 L166,73 C165.9,74 165.4,74.9 164.6,75.5 C163.8,76.1 162.8,76.4 161.9,76.3 L140.7,74 C139.7,73.9 138.8,73.4 138.2,72.6 C137.6,71.8 137.3,70.8 137.4,69.9 L137.4,69.9 Z M176.4,176.2 L169.7,171.8 L174.1,165.1 L172.8,164.3 L167.6,172.2 L175.5,177.4 L176.4,176.2 Z M219.8,23.3 C223,23.3 225.6,20.7 225.6,17.5 C225.6,14.3 223,11.7 219.8,11.7 C216.6,11.7 214,14.3 214,17.5 C214,20.7 216.6,23.3 219.8,23.3 Z M219.8,12.6 C222.5,12.6 224.7,14.8 224.7,17.5 C224.7,20.2 222.5,22.4 219.8,22.4 C217.1,22.4 214.9,20.2 214.9,17.5 C214.9,14.8 217.1,12.6 219.8,12.6 Z M223.6,17.4 L223.4,16.4 L220.1,17.1 L219.4,13.9 L218.4,14.1 L219.4,18.3 L223.6,17.4 Z M200.6,22.4 C201.9,22.1 203.1,22.5 203.5,23.9 C204.2,27.2 198.2,28.3 199.2,35.5 L207.3,33.7 L207,32.4 L200.7,33.8 C200.3,28.7 205.9,27.6 205,23.5 C204.6,21.7 203,20.5 200.4,21.1 C198.9,21.4 197.5,22.3 196.8,23 L197.5,24.1 C198.2,23.4 199.3,22.7 200.6,22.4 Z M212.6,28.7 L213.4,32.2 L214.9,31.9 L214.1,28.4 L216.1,28 L215.8,26.7 L213.8,27.1 L211.9,18.5 L210.8,18.7 L206.4,28.9 L206.6,30 L212.6,28.7 Z M211,21.2 C211.1,21.9 211.3,23 211.6,24.2 L212.3,27.4 L209.6,28 C209.1,28.1 208.4,28.3 208,28.4 L211,21.2 Z M46.8,176.5 C48.1,176.2 49.3,176.6 49.7,178 C50.4,181.3 44.4,182.4 45.4,189.6 L53.5,187.8 L53.2,186.5 L46.9,187.9 C46.5,182.8 52.1,181.7 51.2,177.6 C50.8,175.8 49.2,174.6 46.6,175.2 C45.1,175.5 43.7,176.4 43,177.1 L43.7,178.2 C44.4,177.5 45.5,176.8 46.8,176.5 Z M58.8,182.9 L59.6,186.4 L61.1,186.1 L60.3,182.6 L62.3,182.2 L62,180.9 L60,181.3 L58.1,172.7 L57,172.9 L52.6,183.1 L52.8,184.2 L58.8,182.9 Z M57.3,175.4 C57.4,176.1 57.6,177.2 57.9,178.4 L58.6,181.6 L55.9,182.2 C55.4,182.3 54.7,182.5 54.3,182.6 L57.3,175.4 Z M66,177.5 C69.2,177.5 71.8,174.9 71.8,171.7 C71.8,168.5 69.2,165.9 66,165.9 C62.8,165.9 60.2,168.5 60.2,171.7 C60.2,174.9 62.8,177.5 66,177.5 Z M66,166.8 C68.7,166.8 70.9,169 70.9,171.7 C70.9,174.4 68.7,176.6 66,176.6 C63.3,176.6 61.1,174.4 61.1,171.7 C61.2,169 63.3,166.8 66,166.8 Z M69.8,171.6 L69.6,170.6 L66.3,171.3 L65.6,168.1 L64.6,168.3 L65.6,172.5 L69.8,171.6 Z M19.3,221.2 L18.3,215.2 L17.2,215.4 L18.4,222.6 L25.6,221.4 L25.4,220.3 L19.3,221.2 Z'/%3E%3C/svg%3E") 0 0 repeat;
}

.crm-webform-editor-form-inner {
	height: 100%;
	border-radius: 6px;
	overflow: hidden;
	padding: 22px 23px;
}

.crm-webform-editor-setup {
	min-width: 300px;
	background: #fff;
	padding: 20px;
	word-break: break-word;
}

.crm-webform-editor-field { margin: 0 0 20px; }

.crm-webform-editor-field-label {
	margin: 0 0 5px;
	color: #a09e9e;
}

.crm-webform-editor-field-content {}

.crm-webform-editor-field-color {
	display: inline-block;
	width: 27px;
	height: 27px;
	border: solid 1px #d8d8d8;
	border-radius: 50%;
	margin: 0 10px 0 0;
}

.crm-webform-editor-field-color-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.crm-webform-editor-btn-more-fields {
	color: #aeaeac;
	border-bottom: dashed 1px;
	cursor: pointer;
}