.bx-vi-block form
{
	margin: 0;
	padding: 15px;
	background: #f8f8f8;
	border-radius: 4px 0 0 4px;
}
.bx-vi-block .webform-small-button.webform-small-button-wait
{
	position: relative;
}
.bx-vi-block .webform-small-button span.wait {
	display: none;
}
.bx-vi-block .webform-small-button.webform-small-button-wait span.wait {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background:url("/bitrix/components/bitrix/main.post.form/templates/.default/images/waiter-button-light.gif") no-repeat 0 0;
	background-position: 50% 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top:0;
	left:0;
}
.bx-vi-options dl, .bx-vi-options dt, .bx-vi-options dd
{
	margin: 0;
	padding: 0;
}
.bx-vi-options dl, .bx-vi-options dt
{
	padding-bottom: 15px;
}
.bx-vi-options dd span
{
	color: #5e5e5e;
	margin-left: 15px;
	font-size: 90%;
}

.bx-vi-options form {
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 40px;
}

.bx-vi-filter input{
	width: 260px;
}

.bx-vi-numbers-table {
	width: 520px
}
.bx-vi-numbers-table>tr>td{
	padding: 0 13px;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	border-bottom: 1px solid #EDEDED;
	line-height: 52px;
}
.bx-vi-numbers-table>tr:first-child td{
	border-bottom: none;
}

.bx-vi-numbers-table>tr:last-child td{
	border-bottom: none;
}

.bx-vi-phone {
	margin: 0 3px 12px;
	background: #e3e9ea url("./images/phone.png") no-repeat scroll 14px 20px;
	padding: 8px 17px 8px 131px;
	border-radius: 3px;
	min-height: 153px;
}
.bx-vi-phone td{
	border-bottom: none !important;
	padding: 5px 10px;
	font-size: 13px;
}

.bx-vi-phone-password {
	line-height: 22px;
	vertical-align: top;
}
.bx-vi-phone-password-input {}

.bx-vi-phone-enable{
	color: #7DB277;
}

.bx-vi-phone-icon{
	display: inline-block;
	width: 10px;
	height: 19px;
	cursor: pointer;
	margin-left: 10px;
	font-size: 19px;
	color: #A5A8A9;
	line-height: 15px;
	vertical-align: text-top;
	margin-top: 2px;
}

.bx-vi-phone-edit{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAkElEQVQoz2NgIAIsWLaaC4htGYgFQMX8QHwMiH8CcRAxGkSB+DwQ/4dikEYDfBpkgPg6kgYQ7gZiRlwaVID4HpqGWnw26ALxEzQN+fg0mAHxayTFf4E4CZ8GNiB+hKThFxCH4tMgDnWWORB/BOJvQOxFKGjnQJ0F0+hASIMREP+DOmcasTE+G4iLgViM2FQCAGi1m8Or3hzVAAAAAElFTkSuQmCC) no-repeat center;
}

.vi-numbers-error {
	border:1px solid #ffa7a7;
	padding: 6px 18px 6px 10px;
	color: #d10000;
	border-radius: 4px;
	background-color: #ffebeb;
	margin-top: 5px;
	display: none;
}
.bx-interface-grid td { vertical-align: middle !important; }

.bx-vi-numbers-table > tr > td {
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 5px 13px 7px;

}

.voximplant-user-filter .main-ui-filter-search {
	width: 100%;
}

#voximplant-user-settings {
	padding: 20px 20px 10px;
}

#voximplant-user-settings .popup-window-buttons {
	padding: 0 0 10px;
}