@font-face{
	font-family: "OpenSans-Regular";
	src: url("fonts/OpenSans-Regular.eot");
	src: local("Open Sans"),
	url("fonts/OpenSans-Regular.woff") format("woff"),
	url("fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "OpenSans-Light";
	src: url("fonts/OpenSans-Light.eot");
	src: local("Open Sans Light"),
	url("fonts/OpenSans-Light.woff") format("woff"),
	url("fonts/OpenSans-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "OpenSans-Semibold";
	src: url("fonts/OpenSans-Semibold.eot");
	src: local("Open Sans Semibold"),
	url("fonts/OpenSans-Semibold.woff") format("woff"),
	url("fonts/OpenSans-Semibold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url("fonts/OpenSans-Bold.eot");
	src: local("Open Sans Bold"),
	url("fonts/OpenSans-Bold.woff") format("woff"),
	url("fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('fonts/OpenSans-Semibold.eot');
	src: local('Open Sans Semibold'),
	url('fonts/OpenSans-Semibold.woff') format('woff'),
	url('fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url('fonts/OpenSans-Regular.eot');
	src: local('Open Sans'),
	url('fonts/OpenSans-Regular.woff') format('woff'),
	url('fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #337e96;
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #2067b0;
	text-decoration: none;

	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

a:hover {
	color: #2067b0;
	text-decoration: none;
}

h1 {
	margin: 0;
	padding: 0;
}

/* Transparent theme */

.page-theme-transparent .content {background: rgba(255, 255, 255, 0.85);}
.page-theme-transparent .crm-webform-block {background: transparent;}

/* Image theme */

.page-theme-image {
	background-size: cover;
	background-attachment: fixed;
}
.page-theme-image .left-cloud,
.page-theme-image .right-cloud,
.page-theme-image .bottom-cloud {
	display: none;
}


.main-wrapper {
	height: 100%;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

.main-wrapper-content-cell {
	padding: 95px 10px 0;
	vertical-align: top;
}

.main-wrapper-footer-cell {
	vertical-align: bottom;
	height: 75px;
	padding: 0 10px 25px 10px;
}

.content-wrap {
	position: relative;
	margin: 0 auto;
	width: 1000px;
}

.flexible .content-wrap {
	width: auto;
	min-width: 300px;
	max-width: 1000px;
}

.flexible-middle-width .content-wrap {
	width: auto;
	min-width: 300px;
	max-width: 600px;
}

.content {
	margin: 10px 0 10px 0;
	background-color: #ffffff;
	border-radius: 3px;
	min-height: 400px;
}

.main-title {
	color: #ffffff;
	font-size: 0;
	font-weight: bold;
	height: 95px;
	left: 0;
	line-height: 95px;
	max-width: 100%;
	font-family: "OpenSans-Semibold", Helvetica, Arial, sans-serif;
	padding-right: 80px;
	position: absolute;
	top: -95px;
	box-sizing: border-box;
}

.main-title:before {
	background: url(images/sprite.png?2) no-repeat 0 0;
	content: '';
	height: 38px;
	position: absolute;
	right: 0;
	top: 17px;
	width: 60px;
}

.main-title-inner {
	box-sizing: border-box;
	display: inline-block;
	font-size: 37px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	padding-right: 54px;
}

.title-num {
	color: #c2d1d6;
	font-size: 37px;
	display: inline-block;
	vertical-align: top;
	margin-left: -44px;
	width: 44px;
}

.left-cloud,
.right-cloud {
	position: absolute;
	background: url(images/sprite.png?2) no-repeat 100px 100px;
}

.left-cloud {
	left: 105px;
	top: 122px;
	width: 95px;
	height: 67px;
	background-position: 0 -200px;
}

.right-cloud {
	background-position: 0 -81px;
	top: 265px;
	right: 85px;
	width: 109px;
	height: 68px;
}


.bottom-cloud {
	background: url(images/sprite.png?2) no-repeat 0 -284px;
	bottom: 100px;
	height: 51px;
	position: absolute;
	right: 30px;
	width: 80px;
}


.feed-post-block {
	border: none;
}

.ui-btn.pub-btn-lang {
	border-color: rgba(255, 255, 255, .4);
	color: #70a5b5;
}
.ui-btn.pub-btn-lang:hover { color:#fff; background-color: rgba(255, 255, 255, .3); }
.ui-btn.pub-btn-lang:active { color:#fff; background-color: rgba(255, 255, 255, .4); }
.ui-btn.pub-btn-lang.ui-btn-dropdown:before { border-color: #70a5b5; }
.ui-btn.pub-btn-lang.ui-btn-dropdown:hover:before { border-color: #fff; }

.lang-popup-item .menu-popup-item-icon {
	border: 1px solid #ccd3d7;
	background: url("images/flags.png?1") no-repeat 0 0;
	background-size: 100px 400px;
	height: 18px;
	width: 24px;
}

.footer-logo {
	float: right;
	font-size: 0;
	text-decoration: none;
}

.footer-logo-none .footer-logo {
	display: none;
}

.footer-logo-text {
	color: #71a5b6;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding:1px 9px 0 0;
	vertical-align: top;
}

.footer-logo-img {
	background: url(images/sprite.png?2) no-repeat;
	display: inline-block;
	height: 20px;
	vertical-align: top;
}

.footer-logo.ru .footer-logo-img {
	background-position: 0 -367px;
	width: 101px;
}
.footer-logo.ua .footer-logo-img {
	background-position: 0 -408px;
	width: 92px;
}
.footer-logo.en .footer-logo-img {
	background-position: 0 -450px;
	width: 77px;
}


.external-page-popup-content {
	border-radius: 3px;
	color: #32373e;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	font-size: 18px;
	min-height: 130px;
	padding: 23px 41px 17px;
	text-align: center;
	width: 585px;
}


.external-page-popup-title,
.error-block-title {
	color: #2974c5;
	font-size: 27px;
	line-height: 30px;
	padding-bottom: 19px;
}

.external-page-popup-title-small {
	font-size: 23px;
}

.external-page-popup-close-btn {
	background:url("images/sprite.png?2") no-repeat right -472px;
	cursor: pointer;
	height: 50px;
	opacity: 0.5;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
}

.external-page-popup-close-btn:hover {
	opacity: 1;
}

.external-page-popup-inp-wrap {
	margin: 12px 0 40px;
}

.external-page-popup-inp-block {
	margin-bottom: 28px;
}

.external-page-popup-inp {
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #888e92;
	border-radius: 2px;
	color: #464646;
	height: 57px;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	font-size: 18px;
	padding: 0 17px;
	width: 100%;
}

.external-page-popup-footer {
	text-align: center;
	padding-bottom: 17px;
}

.external-page-popup-green-button,
.external-page-popup-link {
	border-radius: 3px;
	color: #535c69;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	height: 55px;
	line-height: 55px;
	padding: 0 32px;
	text-transform: uppercase;
}

.external-page-popup-green-button {
	background-color: #bbed21;
}
.external-page-popup-green-button:hover {
	background-color: #d2fb52;
}

#mail-entry-loader {
	background: url("images/loader.gif") center no-repeat;
	position: absolute;
	margin-top: -50px;
	top: 50%;
	width: 100%;
	height: 100px;
}


.error-block {
	text-align: center;
	position: absolute;
	top: 50%;
	margin: -150px 0 0 0;
	width: 100%;
	height: 300px;
	background: #fff;
}

.bx-ie8 .error-block {
	top: 24%;
}


.error-block-text {
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.pub-template-error-image {
	margin: auto;
	width: 314px;
	height: 174px;
	background: url(images/404.png);
}

.intranet-pub-title-user-logo {
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 30px;
}

.iframe-body {
	background: transparent;
	padding: 20px;
}
.iframe-body .content-wrap {
	position: initial;
	width: 100%;
}
.iframe-body .main-wrapper-content-cell {
	padding: 0;
}
.iframe-body .main-wrapper-footer {
	display: none;
}
.iframe-body .content {
	background-color: transparent;
	margin: 0;
}
.iframe-body .intranet-user-consent-view-wrapper {
	background-color: transparent;
	padding: 0;
	padding-bottom: 20px;
}

.feed-com-text a.blog-p-user-name,
.feed-com-text a.blog-p-user-name:link,
.feed-com-text a.blog-p-user-name:visited {
	color: currentColor;
	cursor: not-allowed;
	text-decoration: none;
	pointer-events: none;
}
