.crm-fr-main-div {
	margin-top: -30px;
}

.crm-fr-main-div rect[fill="#e6f8fe"] {
	/*stroke-dasharray: 3000,200;*/
	stroke-width: 2px;
	stroke: #2FC6F6;
}

.crm-fr-main-div g[transform="translate(84,20)"] {
	transform: translate(20px,20px);
}

/*.crm-fr-main-div g[transform="translate(84,20)"] > rect {*/
/*	width: 100%;*/
/*}*/

.crm-report-financial-rating-modal {
	display: block;
	top: 350px;
	padding: 15px 16px 0 13px;
	min-width: 157px;
	border-left: 3px solid transparent;
	background: #fff;
	box-shadow: 0 6px 21px 0 rgba(83,92,105,.15);
	box-sizing: border-box;
}
.crm-report-financial-rating-modal-title {
	display: block;
	margin: 0 0 17px 0;
	/*padding: 0 14px;*/
	/*padding: 0 0 12px 0;*/
	/*border-bottom: 1px solid rgba(130,139,149,.19);*/
	font: 18px "OpenSans-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	text-align: left;
}

.crm-report-financial-rating-group-values {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(224,224,224,.6);
}

.crm-report-financial-rating-group-values:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

.crm-report-financial-rating-modal-inner,
.crm-report-financial-rating-modal-value-box {
	display: flex;
	align-items: center;
}

.crm-report-financial-rating-modal-value-box {
	margin-right: 10px;
}

.crm-report-financial-rating-modal-value {
	font: 20px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-report-financial-rating-modal-line {
	display: block;
	margin: 0 0 12px 0;
	/*font: 20px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;*/
	color: #333;
	text-align: left;
}

.crm-report-financial-rating-modal-line:first-child {
	padding-right: 15px;
}

/*.crm-report-financial-rating-group-values > .crm-report-financial-rating-modal-line {*/
/*	padding: 0 15px;*/
/*}*/

/*.crm-report-financial-rating-group-values > .crm-report-financial-rating-modal-line:first-child {*/
/*	border-right: 1px solid rgba(224,224,224,.6);*/
/*}*/

.crm-report-financial-rating-modal-subtitle {
	display: block;
	margin: 0 0 2px 0;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A8ADB4;
	opacity: .84;
}

.crm-report-financial-rating-modal-value-divider {
	padding: 0 7px;
	font: 20px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-report-financial-rating-modal-percent {
	display: inline-block;
	font: 20px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #2fc6f6;
}

.crm-report-financial-rating-value-up,
.crm-report-financial-rating-value-down {
	position: relative;
	padding-left: 15px;
	font: 14px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525c69;
}

.crm-report-financial-rating-value-up:before,
.crm-report-financial-rating-value-down:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	transform: translateY(-50%);
}

.crm-report-financial-rating-value-up:before {
	border-width: 0 5.5px 7px 5.5px;
	border-color: transparent transparent #7cd500 transparent;
}

.crm-report-financial-rating-value-down:before {
	border-width: 7px 5.5px 0 5.5px;
	border-color: #ff5752 transparent transparent transparent;
}

/* region Star icons */
.crm-report-financial-rating-icon-rating {
	display: block;
	width: 31px;
	height: 31px;
	border-radius: 50%;
	overflow: hidden;
}
.crm-report-financial-rating-icon-rating-1 {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2031%2031%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23FDFDFD%22%20cx%3D%2215.5%22%20cy%3D%2215.5%22%20r%3D%2215.5%22/%3E%3Cpath%20d%3D%22M15.195%2022.734l-5.154%201.653a1%201%200%2001-1.306-.949l-.02-5.412a1%201%200%2000-.189-.581l-3.165-4.391a1%201%200%2001.499-1.535L11%209.827a1%201%200%2000.494-.359l3.198-4.366a1%201%200%20011.614%200l3.198%204.366a1%201%200%2000.494.36l5.141%201.691a1%201%200%2001.499%201.535l-3.165%204.39a1%201%200%2000-.189.582l-.02%205.412a1%201%200%2001-1.306.949l-5.154-1.653a1%201%200%2000-.61%200z%22%20fill%3D%22%239DCF00%22%20opacity%3D%22.948%22/%3E%3Ctext%20font-family%3D%22OpenSans-Bold%2C%20Open%20Sans%22%20font-size%3D%2213%22%20font-weight%3D%22bold%22%20fill%3D%22%23FDFDFD%22%3E%3Ctspan%20x%3D%2212.399%22%20y%3D%2219.694%22%3E1%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.crm-report-financial-rating-icon-rating-2 {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2031%2031%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23FDFDFD%22%20cx%3D%2215.5%22%20cy%3D%2215.5%22%20r%3D%2215.5%22/%3E%3Cpath%20d%3D%22M15.195%2022.734l-5.154%201.653a1%201%200%2001-1.306-.949l-.02-5.412a1%201%200%2000-.189-.581l-3.165-4.391a1%201%200%2001.499-1.535L11%209.827a1%201%200%2000.494-.359l3.198-4.366a1%201%200%20011.614%200l3.198%204.366a1%201%200%2000.494.36l5.141%201.691a1%201%200%2001.499%201.535l-3.165%204.39a1%201%200%2000-.189.582l-.02%205.412a1%201%200%2001-1.306.949l-5.154-1.653a1%201%200%2000-.61%200z%22%20fill%3D%22%2314CBC3%22%20opacity%3D%22.948%22/%3E%3Ctext%20font-family%3D%22OpenSans-Bold%2C%20Open%20Sans%22%20font-size%3D%2213%22%20font-weight%3D%22bold%22%20fill%3D%22%23FDFDFD%22%3E%3Ctspan%20x%3D%2212.399%22%20y%3D%2219.694%22%3E2%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.crm-report-financial-rating-icon-rating-3 {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2031%2031%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23FDFDFD%22%20cx%3D%2215.5%22%20cy%3D%2215.5%22%20r%3D%2215.5%22/%3E%3Cpath%20d%3D%22M15.195%2022.734l-5.154%201.653a1%201%200%2001-1.306-.949l-.02-5.412a1%201%200%2000-.189-.581l-3.165-4.391a1%201%200%2001.499-1.535L11%209.827a1%201%200%2000.494-.359l3.198-4.366a1%201%200%20011.614%200l3.198%204.366a1%201%200%2000.494.36l5.141%201.691a1%201%200%2001.499%201.535l-3.165%204.39a1%201%200%2000-.189.582l-.02%205.412a1%201%200%2001-1.306.949l-5.154-1.653a1%201%200%2000-.61%200z%22%20fill%3D%22%23F7A700%22%20opacity%3D%22.948%22/%3E%3Ctext%20font-family%3D%22OpenSans-Bold%2C%20Open%20Sans%22%20font-size%3D%2213%22%20font-weight%3D%22bold%22%20fill%3D%22%23FDFDFD%22%3E%3Ctspan%20x%3D%2212.399%22%20y%3D%2219.694%22%3E3%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}
/* endregion */
