.timeman-schedule-form-slider .timeman-schedule-form-inner {
	margin-bottom: 80px;
}

.timeman-schedule-form-excluded-link-wrapper {
	align-items: center;
	padding: 10px 18px;
	min-height: 42px;
	background: rgba(234, 241, 244, .3);
	box-sizing: border-box;
}

.timeman-schedule-form-excluded-link {
	float: right;
	cursor: pointer;
}

.timeman-schedule-form-limit + .timeman-schedule-form-limit {
	margin-top: 22px;
}

.timeman-schedule-form-slider .timeman-schedule-form-buttons {
	background: #fff;
	padding: 14px 20px 13px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	box-shadow: 0 -2px 4px 0 #c6c9cb;
}

.timeman-schedule-disabled {
	opacity: 0.5;
}

.timeman-schedule-form-wrap {
	background: #fff;
}

.timeman-schedule-form-inner {
	padding: 0 19px 32px 0;
}

.timeman-schedule-form-block-control {
	transition: height 0.3s cubic-bezier(0, 1.1, 1, 1);
	overflow: hidden;
}

.timeman-schedule-form-block-control .timeman-schedule-form-settings-inner {
	margin-bottom: 25px;
}

.timeman-schedule-form-title-inner {
	padding-bottom: 13px;
	margin-bottom: 18px;
	border-bottom: 1px solid rgba(216, 216, 216, .3);
	overflow: hidden;
}

.timeman-schedule-form-title-text {
	font: 16px/23px "OpenSans-Regular", Helvetica, Arial, sans-serif;
	color: #333;
}

.timeman-schedule-form-title-input::-webkit-input-placeholder {
	color: #b3b3b3;
}

.timeman-schedule-form-title-input::-moz-placeholder {
	color: #b3b3b3;
}

.timeman-schedule-form-title-input:-moz-placeholder {
	color: #b3b3b3;
}

.timeman-schedule-form-title-input:-ms-input-placeholder {
	color: #b3b3b3;
}

.timeman-schedule-form-settings-name-block {
	margin-bottom: 6px;
}

.timeman-schedule-users-exclude-container:after {
	content: '';
	position: absolute;
	top: -11px;
	right: 48px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10.5px 11px 10.5px;
	border-color: transparent transparent rgba(247, 204, 0, .18) transparent;
}

.timeman-schedule-users-exclude-container {
	margin: 0 0 26px 0;
	position: relative;
	padding: 15px 18px 20px 18px;
	background: rgba(247, 204, 0, .18);
}

.timeman-schedule-form-settings-name {
	color: #525c69;
	opacity: .5;
	font-size: 12px;
}

.timeman-schedule-form-title-input, .timeman-schedule-form-settings-select {
	border: 1px solid #c4c7cc;
	border-radius: 1px;
	outline: none;
	width: 370px;
	color: #424956;
	font-size: 15px;
	padding: 7px 30px 9px 9px;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	box-sizing: border-box;
	background: #fff no-repeat right 11px center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%3E%20%20%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M349.545942%2C95.4246212%20L349.545942%2C89.6066017%20L347.606602%2C89.6066017%20L347.606602%2C96.3942911%20L347.606602%2C97.363961%20L355.363961%2C97.363961%20L355.363961%2C95.4246212%20L349.545942%2C95.4246212%20Z%22%20transform%3D%22rotate%28-45%2067.431%20465.144%29%22/%3E%3C/svg%3E);
	-o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.timeman-schedule-form-settings-select::-ms-expand {
	display: none;
}

.timeman-schedule-form-settings-inner {
	margin-bottom: 18px;
	margin-right: 50px;
}

.timeman-schedule-form-settings-inner:last-child {
	margin-right: 0;
}

.timeman-schedule-form-settings-users {
	border: 1px solid #c6cdd3;
	border-radius: 1px;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 4px 0 0 5px;
	background-color: #fff;
	min-height: 42px;
	box-sizing: border-box;
}

.timeman-schedule-form-settings-user-inner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0 34px 0 10px;
	border-radius: 1px;
	background-color: #c9efff;
	color: #1069c3;
	vertical-align: middle;
	font-size: 13px;
	line-height: 32px;
	font-weight: 700;
	margin: 0 5px 4px 0;
	-webkit-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

.timeman-schedule-form-settings-user:last-of-type .timeman-schedule-form-settings-user-inner {
	margin-right: 13px;
}

.timeman-schedule-form-settings-user-inner:hover {
	background-color: #86e2ff;
}

.timeman-schedule-form-settings-user-link {
	border-bottom: 1px solid transparent;
	color: #1069c3;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	margin: 5px 7px 7px 0;
	font-size: 13px;
	line-height: 17px;
	text-decoration: none;
	vertical-align: top;
	position: relative;
	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.timeman-schedule-form-settings-user-link-add {
	padding-left: 11px;
}

.timeman-schedule-form-settings-user-link-add:before, .timeman-schedule-form-settings-user-link-add:after {
	content: '';
	height: 8px;
	background: #1069c3;
	width: 2px;
	position: absolute;
	top: 5px;
	left: 3px;
}

.timeman-schedule-form-settings-user-link:before:hover, .timeman-schedule-form-settings-user-link:after:hover {
	text-transform: none;
}

.timeman-schedule-form-settings-user-link:after {
	transform: rotate(90deg);
}

.timeman-schedule-form-settings-user-link:hover {
	border-bottom: 1px solid;
	color: #1069c3;
}

.timeman-schedule-form-settings-user-delete {
	position: absolute;
	width: 32px;
	height: 32px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Ctitle%3EShape%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20using%20Figma%3C/desc%3E%0A%20%20%20%20%3Cg%20id%3D%22Canvas%22%20transform%3D%22translate%28-5201%20-200%29%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Shape%22%20opacity%3D%220.2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path0_fill%22%20transform%3D%22translate%285201%20200%29%22%20fill%3D%22%23525C69%22/%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22path0_fill%22%20d%3D%22M%206.31579%200.315789L%204%202.63158L%201.68421%200.315789C%201.26316%20-0.105263%200.736842%20-0.105263%200.315789%200.315789C%20-0.105263%200.736842%20-0.105263%201.26316%200.315789%201.68421L%202.63158%204L%200.315789%206.31579C%20-0.105263%206.73684%20-0.105263%207.26316%200.315789%207.68421C%200.736842%208.10526%201.26316%208.10526%201.68421%207.68421L%204%205.36842L%206.31579%207.68421C%206.73684%208.10526%207.26316%208.10526%207.68421%207.68421C%208.10526%207.26316%208.10526%206.73684%207.68421%206.31579L%205.36842%204L%207.68421%201.68421C%208.10526%201.26316%208.10526%200.736842%207.68421%200.315789C%207.26316%200%206.63158%200%206.31579%200.315789Z%22/%3E%0A%20%20%20%20%3C/defs%3E%0A%3C/svg%3E%0A') no-repeat center;
	cursor: pointer;
	right: 0;
	top: 0;
}

.timeman-schedule-form-block {
	margin-top: 30px;
}

.timeman-schedule-form-block:first-child {
	margin-top: 0;
}

.timeman-schedule-form-worktime-inner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-color: #f8f9fa;
	border-radius: 2px;
	margin-bottom: 11px;
	padding: 16px 30px 21px 21px;
	position: relative;
}

.timeman-schedule-form-worktime-inner:last-child {
	margin-bottom: 17px;
}

.timeman-schedule-form-worktime-title {
	color: #525c69;
	font-size: 12px;
	line-height: 20px;
	opacity: .5;
}

.timeman-schedule-form-worktime-value-text {
	border-bottom: 1px dashed rgba(35, 105, 177, .4);
	color: #2369b1;
	cursor: pointer;
	font-size: 15px;
	line-height: 19px;
	transition: border .2s linear;
}

.timeman-schedule-form-workdays {
	padding: 2px 0 0 0;
}

.timeman-schedule-form-worktime-input-value-text {
	-webkit-appearance: none !important;
	background: none;
	max-width: 42px;
	display: inline;
	cursor: pointer;
	width: auto;
	border: none !important;
	color: #2369b1;
	font-size: 15px;
	line-height: 19px;
	box-sizing: border-box;
}

.timeman-schedule-form-worktime-value-text:hover,
.timeman-schedule-form-worktime-add-link:hover,
.timeman-schedule-form-violation-detail-text:hover {
	border-color: rgba(35, 105, 177, 1);
}

.timeman-schedule-form-worktime-value {
	display: flex;
	cursor: pointer;
}

.timeman-schedule-form-worktime-duration {
	color: #80868e;
	font-size: 15px;
	line-height: 19px;
	cursor: default;
}

.timeman-schedule-form-worktime-item {
	margin-right: 50px;
}

.timeman-schedule-form-worktime-item:last-child {
	margin-right: 0;
}

.timeman-schedule-form-worktime-add {
	margin-left: 21px;
	color: #2369b1;
	font-size: 14px;
}

.timeman-schedule-form-worktime-add-link {
	border-bottom: 1px dashed rgba(35, 105, 177, .4);
	cursor: pointer;
	padding-bottom: 3px;
	transition: border .2s linear;
}

.timeman-schedule-form-worktime-delete {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	width: 35px;
	height: 35px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	opacity: .3;
	transition: opacity .2s linear;
}

.timeman-schedule-form-worktime-delete:hover {
	opacity: .8;
}

.timeman-schedule-form-worktime-delete-icon {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M6.31579%200.315789L4%202.63158L1.68421%200.315789C1.26316%20-0.105263%200.736842%20-0.105263%200.315789%200.315789C-0.105263%200.736842%20-0.105263%201.26316%200.315789%201.68421L2.63158%204L0.315789%206.31579C-0.105263%206.73684%20-0.105263%207.26316%200.315789%207.68421C0.736842%208.10526%201.26316%208.10526%201.68421%207.68421L4%205.36842L6.31579%207.68421C6.73684%208.10526%207.26316%208.10526%207.68421%207.68421C8.10526%207.26316%208.10526%206.73684%207.68421%206.31579L5.36842%204L7.68421%201.68421C8.10526%201.26316%208.10526%200.736842%207.68421%200.315789C7.26316%200%206.63158%200%206.31579%200.315789Z%22%20fill%3D%22%23525C69%22/%3E%0A%3C/svg%3E%0A) no-repeat center;
}

.timeman-schedule-form-violation-title {
	padding: 16px 0 16px 12px;
	border-top: 1px solid rgba(216, 216, 216, .3);
	border-bottom: 1px solid rgba(216, 216, 216, .3);
	cursor: pointer;
	height: 57px;
	box-sizing: border-box;
}

.timeman-schedule-form-violation-title-text {
	color: #535c69;
	font-weight: 700;
	line-height: 23px;
	padding-left: 25px;
	position: relative;
}

.timeman-schedule-form-violation-title-text:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 17px;
	height: 15px;
	transform: rotate(-90deg);
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2217%22%20height%3D%2215%22%20viewBox%3D%220%200%2017%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%3Cg%20id%3D%22Canvas%22%20fill%3D%22none%22%3E%0A%3Crect%20id%3D%22Bitmap%20Copy%22%20width%3D%2217%22%20height%3D%2215%22%20fill%3D%22url%28%23pattern0%29%22/%3E%0A%3C/g%3E%0A%3Cdefs%3E%0A%3Cpattern%20id%3D%22pattern0%22%20patternContentUnits%3D%22objectBoundingBox%22%20width%3D%221%22%20height%3D%221%22%3E%0A%3Cuse%20xlink%3Ahref%3D%22%23image0%22%20transform%3D%22scale%280.0588235%200.0666667%29%22/%3E%0A%3C/pattern%3E%0A%3Cimage%20id%3D%22image0%22%20width%3D%2217%22%20height%3D%2215%22%20xlink%3Ahref%3D%22data%3Aimage/png%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAABEAAAAPCAYAAAACsSQRAAAAAXNSR0IArs4c6QAAANlJREFUOBFj/A8EDBQCJgr1g7UPd0POX7rK8O37D6xB9fPnL4ZV67YwvHj5GkUeJUzOXrjCsGPPQYZlqzZgGAQyYOW6zQx3HzxiOHjkJG5DNNSUGUSEhRhev32HYhDMgKfPXzJISYgzBPi4oRjCiJ5Ovn77zrB89UawQaJAA4P9PRk2b9/DADMgItiXgZ2dDb8hIFlkg5iYGBn+/fsPdgE2A0DqMVwCEgQBZIPkZKQYQvy9MFwAUQkkQd7BBb58/fYfGNi4pOHiOF0Ct4UIBkoUE6EeqxKqGAIA912svidUmbkAAAAASUVORK5CYII%3D%22/%3E%0A%3C/defs%3E%0A%3C/svg%3E%0A) no-repeat center;
}

.timeman-schedule-form-violation-container {
	background: #f8f9fa;
	padding: 21px 29px 0 20px;
	display: none;
}

.timeman-schedule-form-violation-block {
	position: relative;
	cursor: pointer;
	padding: 0 0 23px 30px;
	margin-bottom: 21px;
	border-bottom: 1px solid rgba(216, 216, 216, .4);
}

.timeman-schedule-form-violation-block:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.timeman-schedule-form-checkbox {
	margin: 0;
	cursor: pointer;
	padding: 0;
	position: absolute;
	left: 0;
	top: 5px;
}

.timeman-schedule-form-violation-label {
	color: #333;
	cursor: pointer;
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 16px;
	display: inline-block;
	vertical-align: top;
}

.timeman-schedule-form-violation-options {
	display: flex;
	margin-bottom: 16px;
}

.timeman-schedule-form-violation-option {
	background: #fcfcfc;
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding: 12px 27px 11px 13px;
	margin-right: 19px;
	transition: all .2s linear;
}

.timeman-schedule-form-violation-hidden-input:checked + .timeman-schedule-form-violation-option,
.timeman-schedule-form-violation-option-selected {
	border-color: transparent;
	background: #c9f2ff;
}

.timeman-schedule-form-violation-option:last-child {
	margin-right: 0;
}

.violation-option-right-time {
	color: #424956;
	font-size: 15px;
	line-height: 23px;
}

.timeman-schedule-form-violation-detail {
	display: flex;
}

.timeman-schedule-form-violation-detail-inner {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.timeman-schedule-form-violation-detail-inner:first-child {
	margin-right: 57px;
}

.timeman-schedule-form-violation-detail-inner .timeman-schedule-form-settings-inner {
	margin-bottom: 0;
}

.timeman-schedule-form-violation-detail-title,
.timeman-schedule-form-violation-detail-inner .timeman-schedule-form-settings-name {
	font-size: 12px;
	color: #a7acb3;
	margin-bottom: 2px;
	opacity: 1;
}

.timeman-schedule-form-violation-detail-text {
	color: #2369b1;
	font-size: 15px;
	line-height: 19px;
	cursor: pointer;
	border-bottom: 1px dashed rgba(35, 105, 177, .4);
	transition: border .2s linear;
}

.timeman-schedule-form-violation-hidden-input {
	margin: 0;
	cursor: pointer;
	padding: 0;
	position: absolute;
	left: 0;
	top: 6px;
}

.timeman-schedule-form-violation-hidden-label {
	padding-left: 24px;
	vertical-align: top;
	cursor: pointer;
	color: #424956;
	font-size: 15px;
	line-height: 23px;
}

.timeman-schedule-form-violation-value {
	margin-bottom: 16px;
	cursor: pointer;
	position: relative;
}

.timeman-schedule-form-violation-help {
	margin-top: -1px;
}

.timeman-schedule-form-violation-detail-start-end .timeman-schedule-form-violation-detail {
	margin-left: 20px;
}

.timeman-schedule-form-settings-select-detail {
	width: 174px;
	background: #fff;
	cursor: auto;
}

.timeman-schedule-form-violation-block-period {
	padding-bottom: 24px;
	border-bottom: none;
	margin-bottom: 0;
}

.timeman-schedule-form-violation-block-period .timeman-schedule-form-violation-detail-inner {
	margin-bottom: 16px;
}

.timeman-schedule-form-violation-block-period .timeman-schedule-form-violation-detail-title {
	margin-bottom: 5px;
}

.timeman-schedule-form-violation-block .timeman-schedule-form-settings-user-link-add {
	margin-left: 14px;
}

.timeman-schedule-form-violation .timeman-schedule-form-settings-users {
	margin-right: 28px;
}

.timeman-schedule-form-violation-detail-checkbox-block {
	display: flex;
	align-items: center;
}

.timeman-schedule-form-violation-detail-checkbox-inner {
	position: relative;
}

.timeman-schedule-form-violation-detail-checkbox-inner:first-child {
	margin-right: 44px;
}

.timeman-schedule-form-violation-detail-checkbox-input {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 3px;
}

.timeman-schedule-form-violation-detail-checkbox-block {
	margin: 7px 0 20px;
}

.timeman-schedule-form-limit-title-text {
	color: #424956;
	font-size: 15px;
	line-height: 23px;
	font-weight: 700;
}

.timeman-schedule-form-limit-item {
	position: relative;
}

.timeman-schedule-form-limit-title {
	margin-bottom: 16px;
}

.timeman-schedule-form-limit-item {
	margin-bottom: 12px;
}

.timeman-schedule-form-limit-item:last-child {
	margin-bottom: 0;
}

.timeman-schedule-form-limit-input {
	margin: 12px 0 0 24px;
}

.timeman-schedule-form-buttons {
	margin: 20px 0 0 0;
}

.timeman-schedule-form-buttons-inner {
	text-align: center;
}

.timeman-schedule-form-violation-inner {
	max-height: 21px;
	overflow: hidden;
	transition: max-height .2s linear;
}

.timeman-schedule-form-violation-block .timeman-schedule-form-checkbox:checked + .timeman-schedule-form-violation-inner {
	max-height: 400px;
}

.timeman-schedule-form-wrap-open .timeman-schedule-form-violation-container {
	display: block;
}

.timeman-schedule-form-wrap-open .timeman-schedule-form-violation-title-text:before {
	transform: rotate(0);
}

.timeman-schedule-form-worktime-subject, .timeman-schedule-form-worktime-subject-edit {
	width: 100%;
	margin-bottom: 10px;
}

.timeman-schedule-form-worktime-subject-text {
	font-size: 17px;
	line-height: 25px;
	color: #525c69;
}

.timeman-schedule-form-worktime-subject-text-input {
	-webkit-appearance: none;
	background: none;
	display: inline;
	width: 100%;
	border: none;
	font-family: inherit;
}

.timeman-schedule-form-worktime-subject.hidden {
	display: none;
}

.timeman-schedule-form-worktime-subject-edit input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: initial;
	min-width: initial;
	height: initial;
	min-height: initial;
	border: none;
	background: none;
	padding: 0;
	font-size: 17px;
	line-height: 25px;
}

.timeman-schedule-form-worktime-subject-edit.hidden {
	display: none;
}

.timeman-schedule-form-worktime-subject-edit-icon {
	position: relative;
	cursor: pointer;
	opacity: .4;
	transition: opacity .2s linear;
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 18px;
}

.timeman-schedule-form-worktime-subject-edit-icon:after {
	width: 16px;
	height: 18px;
	position: absolute;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20fill%3A%20%23525c68%3B%20fill-rule%3A%20evenodd%3B%20%7D%3C/style%3E%3C/defs%3E%3Cpath%20id%3D%22Shape_2_copy_8%22%20data-name%3D%22Shape%202%20copy%208%22%20class%3D%22cls-1%22%20d%3D%22M.8%208.157L0%2011l2.933-.842a3.848%203.848%200%200%200-.792-1.233A3.4%203.4%200%200%200%20.8%208.157zm6.49-6.56L1.552%207.332a5.68%205.68%200%200%201%201.312.87%205.38%205.38%200%200%201%20.806%201.25c.354-.356%203.984-3.985%205.732-5.733a4.845%204.845%200%200%200-.895-1.334%203.93%203.93%200%200%200-1.22-.786zM10.567.434A1.51%201.51%200%200%200%208.406.48l-.344.343a4.164%204.164%200%200%201%201.24.813%204.693%204.693%200%200%201%20.876%201.307l.346-.346a1.51%201.51%200%200%200%20.04-2.163z%22/%3E%3C/svg%3E') no-repeat center;
	content: '';
	top: -2px;
	left: 2px;
}

.timeman-schedule-form-worktime-subject-edit-icon:hover {
	opacity: 1;
}

.timeman-schedule-form-quarter-text {
	font: 14px/17px "OpenSans-Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.timeman-schedule-form-quarter-list {
	display: flex;
	align-items: center;
}

.timeman-schedule-form-quarter-item {
	border-bottom: 3px solid transparent;
	padding: 13px 2px 17px 2px;
	margin-right: 40px;
	cursor: pointer;
	transition: all .2s linear;
	color: #535c69;
}

.timeman-schedule-form-quarter-item:last-child {
	margin-right: 0;
}


.timeman-schedule-form-quarter-switcher {
	display: none;
}

#quarter-1:checked ~ .timeman-schedule-form-quarter-list label[for="quarter-1"],
#quarter-2:checked ~ .timeman-schedule-form-quarter-list label[for="quarter-2"],
#quarter-3:checked ~ .timeman-schedule-form-quarter-list label[for="quarter-3"],
#quarter-4:checked ~ .timeman-schedule-form-quarter-list label[for="quarter-4"] {
	border-color: #1058d0;
	color: #1058d0;
}

.timeman-schedule-form-calendar {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.timeman-schedule-form-calendar-item {
	border: 1px solid #d8dde0;
	border-radius: 3px;
	overflow: hidden;
	padding: 12px 14px 24px;
}

.timeman-schedule-form-calendar-item + .timeman-schedule-form-calendar-item {
	margin-left: 30px;
}

.timeman-schedule-form-calendar-days {
	margin-left: 6px;
}

.timeman-schedule-form-calendar-days-block {
	color: rgba(82, 92, 105, .6);
}

.timeman-schedule-form-calendar-days-value-holiday {
	font-size: 13px;
	line-height: 17px;
	border: 1px solid rgba(151, 151, 151, .2);
	padding: 0 7px;
	color: #ff5752ba;
	border-radius: 10px;
}

.timeman-schedule-form-quarter-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 26px;
	border-bottom: 1px solid rgba(216, 216, 216, .3);
}

.timeman-schedule-form-title-input {
	cursor: auto;
	background: none;
	padding-right: 7px;
}

.timeman-schedule-form-quarter-settings {
	display: flex;
	margin-right: 3px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.timeman-schedule-form-quarter-settings-icon {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20opacity%3D%221%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.2363%205.33856L12.5244%205.55341C12.7988%205.59863%2013%205.83588%2013%206.11432V6.88556C13%207.16406%2012.7988%207.40131%2012.5244%207.44653L11.2627%207.65723C11.2471%207.65985%2011.2344%207.67157%2011.2305%207.68701C11.1133%208.15594%2010.9277%208.59668%2010.6855%209.00031C10.6777%209.01392%2010.6787%209.03107%2010.6875%209.04407L11.4492%2010.1118C11.6123%2010.3379%2011.5859%2010.6478%2011.3896%2010.8441L10.8438%2011.3896C10.6475%2011.5869%2010.3369%2011.6122%2010.1113%2011.4504L9.04199%2010.6863C9.0293%2010.6771%209.01172%2010.6765%208.99805%2010.6846C8.59668%2010.924%208.16016%2011.1071%207.69434%2011.2234C7.67969%2011.2274%207.66797%2011.2399%207.66504%2011.2556L7.45312%2012.5247C7.4082%2012.7988%207.1709%2013%206.89258%2013H6.12109C5.84277%2013%205.60449%2012.7988%205.56055%2012.5247L5.34375%2011.2297C4.7793%2011.0911%204.25195%2010.8585%203.78418%2010.5426C3.77148%2010.5338%203.75391%2010.5334%203.74023%2010.5418L2.64551%2011.2297C2.41016%2011.3777%202.10254%2011.3345%201.91699%2011.1259L1.40527%2010.5494C1.2207%2010.3411%201.21289%2010.03%201.3877%209.81421L2.19141%208.81836C2.20215%208.80591%202.20312%208.7887%202.19629%208.77454C2.0166%208.43518%201.87988%208.07056%201.7832%207.68939C1.7793%207.67395%201.76758%207.66229%201.75195%207.65967L0.475586%207.44659C0.201172%207.40137%200%207.16406%200%206.88562V6.11438C0%205.83588%200.201172%205.59863%200.475586%205.55341L1.75195%205.34033C1.76758%205.33771%201.7793%205.32605%201.7832%205.31061C1.90137%204.84375%202.08594%204.40387%202.32715%204.00165C2.33594%203.98798%202.33496%203.97083%202.3252%203.95789L1.5918%202.92981C1.42969%202.7041%201.45508%202.39404%201.65137%202.19708L2.19727%201.65137C2.39355%201.45483%202.7041%201.42963%202.92969%201.59088L3.95605%202.32312C3.96875%202.3324%203.98633%202.33295%204%202.32477C4.40527%202.08112%204.84766%201.89478%205.31836%201.77667C5.33398%201.77283%205.3457%201.76025%205.34863%201.74457L5.56055%200.475281C5.60449%200.201172%205.84277%200%206.12109%200H6.89258C7.1709%200%207.4082%200.201172%207.45312%200.475281L7.66504%201.74414C7.66699%201.75983%207.67871%201.77246%207.69434%201.77631C8.27637%201.92218%208.81641%202.1698%209.29395%202.50336L10.3955%201.81104C10.6299%201.66272%2010.9375%201.70673%2011.123%201.91504L11.6357%202.49146C11.8203%202.69995%2011.8281%203.01074%2011.6533%203.22681L10.8447%204.22876C10.835%204.24103%2010.833%204.258%2010.8408%204.27203C11.0127%204.60663%2011.1455%204.96454%2011.2363%205.33856ZM7.04883%208.94165C7.99512%208.74023%208.74023%207.99548%208.94141%207.04846C9.32617%205.2428%207.75684%203.67419%205.95117%204.05847C5.09766%204.24011%204.24023%205.09796%204.05859%205.95154C3.6748%207.75671%205.24316%209.32562%207.04883%208.94165Z%22%20fill%3D%22%23525C68%22/%3E%0A%3C/svg%3E%0A) no-repeat center;
	vertical-align: middle;
	opacity: .4;
	transition: opacity .2s linear;
}

.timeman-schedule-form-quarter-settings:hover .timeman-schedule-form-quarter-settings-icon {
	opacity: 1;
}


/* Calendar style */

.timeman-schedule-form-wrap .bx-calendar-name-day-wrap {
	background: #fff;
	margin: 0 7px;
	padding: 0 0 12px 0;
	border-bottom: 1px solid #f3f3f4;
}

.timeman-schedule-form-wrap .bx-calendar-name-day {
	font: 12px/14px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #979da5;
	width: 15px;
	margin-right: 15px;
}

.timeman-schedule-form-wrap .bx-calendar-name-day:last-child {
	margin-right: 0;
}

.timeman-schedule-form-wrap .bx-calendar-cell {
	font: 14px/15px "OpenSans-Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525c69;
	width: 26px;
	margin: 2px 2px;
	border-radius: 10px;
	padding: 2px 1px 0;
}

.timeman-schedule-form-wrap .bx-calendar-weekend {
	color: #c2c6ca;
}

.timeman-schedule-form-wrap .bx-calendar-range {
	border-bottom: none;
}

.timeman-schedule-form-wrap .bx-calendar-date-hidden {
	opacity: 0;
	cursor: default;
}

.timeman-schedule-form-wrap .bx-calendar-range-noline,
.timeman-schedule-form-wrap .bx-calendar-left-arrow,
.timeman-schedule-form-wrap .bx-calendar-right-arrow,
.timeman-schedule-form-wrap .bx-calendar-top-year {
	display: none;
}

.timeman-schedule-form-wrap .bx-calendar {
	width: 230px;
	text-align: center;
}

.timeman-schedule-form-wrap .bx-calendar-cell-block {
	padding-bottom: 0;
	margin-top: 5px;
}

.timeman-schedule-form-wrap .bx-calendar-header {
	text-align: left;
	margin-bottom: 8px;
}

.timeman-schedule-form-wrap .bx-calendar-top-month {
	background: none;
	font: 18px/24px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	cursor: auto;
}

.timeman-schedule-form-wrap .bx-calendar-header-content {
	width: auto;
}

.timeman-schedule-form-wrap .bx-calendar-active {
	background: #FF5752;
	color: #fff;
}

/* Popups */
.popup-window-workdays {
	min-width: 208px;
}

/* Popup separator styles */

.menu-popup .menu-popup-items .main-buttons-submenu-item.main-buttons-submenu-separator {
	margin-top: 4px;
	margin-bottom: 4px;
	height: 0;
	border-top: none;
	border-bottom: 1px rgba(0, 0, 0, .1) solid;
}

.menu-popup .menu-popup-items .main-buttons-submenu-item.main-buttons-submenu-separator.main-buttons-hidden-label {
	z-index: 2;
	margin: 8px 16px;
	height: 0;
	border-top: none;
	border-bottom: 1px rgba(0, 0, 0, .1) solid;
}

.menu-popup .menu-popup-items .main-buttons-submenu-item.main-buttons-submenu-separator.main-buttons-hidden-label .menu-popup-item-icon {
	display: none;
}

.menu-popup .menu-popup-items .main-buttons-submenu-item.main-buttons-submenu-separator:hover {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	background: none;
	box-shadow: none;
	cursor: default;
}

.menu-popup .menu-popup-items .main-buttons-submenu-item.main-buttons-submenu-separator {
	padding: 0;
}

.menu-popup .menu-popup-items .main-buttons-submenu-item.main-buttons-submenu-separator .menu-popup-item-text {
	position: relative;
	top: -8px;
	box-sizing: border-box;
	padding-right: 0;
	padding-left: 0;
	width: 100%;
	height: 1px;
	text-align: center;
}

.menu-popup .menu-popup-items .main-buttons-submenu-item.main-buttons-submenu-separator .menu-popup-item-text span {
	position: relative;
	display: inline-block;
	padding: 0 12px;
	height: 16px;
	border-radius: 30px;
	background: #fff;
	color: #b1b6bc;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	line-height: 16px;
}

.menu-popup .menu-popup-items .main-buttons-submenu-item.main-buttons-submenu-separator .menu-popup-item-text span {
	top: -19px;
}

.menu-popup .menu-popup-items .main-buttons-submenu-item.main-buttons-submenu-separator.main-buttons-manage {
	margin-top: 12px;
	margin-bottom: 12px;
}

.main-buttons-submenu-item-no-hidden.menu-popup-item {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	opacity: .6;
	height: 20px;
	cursor: default !important;
}

.main-buttons-submenu-item-no-hidden.menu-popup-item .menu-popup-item-text {
	line-height: 20px;
}

.main-buttons-submenu-item-no-hidden.menu-popup-item:hover {
	background: transparent;
}

.timeman-schedule-form-calendar .bx-calendar-holiday {
	background-color: #FF5752;
	color: #fff;
	text-decoration: none;
}

.timeman-schedule-form-calendar .bx-calendar-shortcut,
.timeman-schedule-form-calendar .bx-calendar-shortcut.bx-calendar-weekend {
	background-color: #eee;
	color: #000;
	text-decoration: none;
}

#workshift_form .timeman-schedule-form-inner {
	min-width: 300px;
	padding: 32px;
}

#user_form .timeman-schedule-form-inner {
	min-width: 300px;
	padding: 32px;
}

#schedule_form_CALENDAR_template-name-popup .popup-window-buttons {
	text-align: left;
}

.timeman-workcalendar-popup-input {
	width: 100%;
	box-sizing: border-box;
	height: 32px;
	border: 1px solid #ccc;
	padding: 8px;
}

.timeman-schedule-form-settings-inner.hidden {
	display: none;
}

.timeman-schedule-form-settings-input {
	border: 1px solid #c6cdd3;
	border-radius: 1px;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 8px;
	background-color: #fff;
	min-height: 38px;
	box-sizing: border-box;
	width: 100%;
	color: #535c69;
}

.timeman-schedule-form-wrap-shift .timeman-schedule-form-worktime-inner {
	background: #fff;
	padding: 5px 0 0 0;
}

.timeman-schedule-form-wrap-shift .timeman-schedule-form-worktime-duration {
	margin-left: 50px;
}

.timeman-schedule-form-title-input.timeman-schedule-form-settings-input,
.timeman-schedule-form-settings-name .timeman-schedule-form-settings-input {
	border: 0;
	background: transparent;
	min-height: 19px;
	padding: 0;
}

#user_form .timeman-schedule-form-settings-settings_group, #user_form .timeman-schedule-form-settings-users {
	margin: 0 !important;
}

.timeman-schedule-form-settings-watch .timeman-schedule-form-settings-control-block div {
	display: inline-block;
}

.timeman-schedule-form-settings-watch .timeman-schedule-form-settings-control-block div:first-child {
	margin-right: 44px;
}

.timeman-schedule-form-users-outer-block.hidden {
	display: none;
}

.bx-tm-popup-edit-clock-wnd-clock {
	height: auto;
	width: auto;
	display: block;
	padding: 0;
	text-align: center;
}

.timeman-pick-time-hide-clock .bxc-clock-cont.bxc-iconkit-c {
	display: none;
}

[id^="popup-window-titlebar-timeman-break-time"] .popup-window-titlebar-text {
	padding-left: 5px;
}

.bx-tm-popup-edit-clock-wnd-clock .bx-tm-clock-caption {
	width: 50%;
	display: inline-block;
	margin: 0;
	padding: 0 0 5px;
	font: normal 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #545c68;
}

.timeman-hide {
	display: none !important;
}

.bx-calendar-left-arrow,
.bx-calendar-right-arrow,
.bx-calendar-top-year {
	display: none;
}

.bx-calendar-range-noline {
	display: block !important;
}

.bx-calendar-tm-template, .bx-calendar-tm-template:focus, .bx-calendar-tm-template:hover {
	background: #ffb7b4;
	color: #fff !important;
}

.timeman-schedule-form-block-title-slider {
	margin-top: 15px;
}

.timeman-schedule-form-worktime-days {
	width: 100%;
	margin-top: 18px;
}

.timeman-schedule-form-worktime-days-inner {
	border-radius: 30px;
	background-color: rgba(82, 92, 105, .04);
	display: inline-block;
	padding: 3px;
}

.timeman-schedule-form-worktime-day-label {
	color: #525c69;
	font-size: 13px;
}

.timeman-schedule-form-worktime-day {
	border-radius: 20px;
	transition: all .2s linear;
	padding: 7px;
	display: inline-block;
}

.timeman-schedule-form-worktime-day:first-child {
	padding-left: 14px;
}

.timeman-schedule-form-worktime-day:last-child {
	padding-right: 14px;
}

.timeman-schedule-form-worktime-day:hover {
	background-color: rgba(82, 92, 105, .07);
}

.timeman-schedule-form-settings-outer-report-period .timeman-schedule-form-settings-inner-report-period {
	margin-right: 15px;
}

.timeman-schedule-form-settings-outer-report-period .timeman-schedule-form-settings-inner-start-week-day .timeman-schedule-form-settings-select {
	width: auto;
}

.timeman-schedule-form-settings-outer-report-period {
	display: flex;
}

.timeman-schedule-form-settings-select-calendar-year {
	width: auto;
	margin-left: 5px;
}

.timeman-schedule-form-title-input-break-duration-part {
	width: 75px;
	box-sizing: border-box;
	margin: 0 5px;
}

.timeman-schedule-form-title-break-duration-parts-wrapper {
	text-align: center;
}

.timeman-schedule-form-error {
	margin-top: 10px;
}

.timeman-schedule-form-error-link {
	font-size: 13px;
	line-height: 16px;
}

.timeman-schedule-form-violation-detail-text-separator {
	margin: 0 5px;
}

.timeman-schedule-form-settings-number {
	padding-right: 10px;
}