.catalog-set-constructor {
	margin-bottom: 20px;
	padding: 10px 20px;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	background: #fff;
}

.bx-retina .catalog-set-constructor { border-width: .5px; }

.catalog-set-constructor-title {
	display: block;
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e0e0e0;
	font-weight: bold;
	font-size: 15px;
}

.catalog-set-constructor-product-item-image {
	max-width: 100%;
	width: 150px;
	height: auto;
	border-radius: 3px;
}

.catalog-set-constructor-product-info { text-align: left; }

.catalog-set-constructor-product-name {
	text-overflow: ellipsis;
	font: 400 13px/21px "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.catalog-set-constructor-product-new-price { white-space: nowrap; }

.catalog-set-constructor-product-old-price {
	display: block;
	padding: 3px 0;
	color: #b8b8b8;
	text-decoration: line-through;
	font-size: 11px;
	line-height: 11px;
}

.bx-modal-description {
	color: #8e8e8e;
	font-size: 80%;
}

.catalog-set-constructor-items-list-table {
	margin-bottom: 20px;
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #edeef0;
}

.catalog-set-constructor-items-list-table tr > td { border-bottom: 1px solid #edeef0; }

.catalog-set-constructor-items-list-table-cell-name,
.catalog-set-constructor-items-list-table-cell-del,
.catalog-set-constructor-items-list-table-cell-price { padding: 3px 5px; }

.catalog-set-constructor-items-list-table-cell-price { text-align: right; }

.catalog-set-constructor-items-list-table-cell-img,
.catalog-set-constructor-items-list-table-cell-del {
	width: 50px;
	height: 50px;
	text-align: center;
}

.catalog-set-constructor-items-list-table-cell-img img {
	display: block;
	width: 50px;
	height: auto;
}

.catalog-set-constructor-items-list-table-cell-del { text-align: center; }

.catalog-set-constructor-items-list-table-cell-delete-btn {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	opacity: .7;
	cursor: pointer;
	transition: 250ms linear all;
}

.catalog-set-constructor-items-list-table-cell-delete-btn:hover { opacity: 1; }

.catalog-set-constructor-items-list-table-cell-delete-btn:after,
.catalog-set-constructor-items-list-table-cell-delete-btn:before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 2px;
	border-radius: 1px;
	background-color: #333;
	content: '';
}

.catalog-set-constructor-items-list-table-cell-delete-btn:after { transform: translate(-50%, -50%) rotate(45deg) }

.catalog-set-constructor-items-list-table-cell-delete-btn:before { transform: translate(-50%, -50%) rotate(135deg) }

.catalog-set-constructor-result-table { width: 100%; }

.catalog-set-constructor-result-table td {
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: bottom;
}

.catalog-set-constructor-result-table-title {
	padding-right: 5px;
	text-align: right;
	font-size: 13px;
	line-height: 20px;
}

.catalog-set-constructor-result-table-value {
	padding-left: 5px;
	text-align: right;
}

.catalog-set-constructor-result-table-value strong {
	font-size: 14px;
	line-height: 14px;
}

.catalog-set-constructor-result-btn-container {
	margin: 10px;
	text-align: center;
}

@media (max-width: 768px) {
	.catalog-set-constructor-result-btn-container {
		display: inline-block;
		max-width: 140px;
		width: 100%;
		vertical-align: middle;
	}
}

.catalog-set-constructor-result-price {
	display: inline-block;
	box-sizing: border-box;
	padding: 5px 0;
	max-width: 140px;
	width: 100%;
	border: 1px solid #d3d3d3;
	border-radius: 2px;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	line-height: 1.5;
}

.catalog-set-constructor-result-btn-container .btn {
	display: inline-block;
	max-width: 140px;
	width: 100%;
}

/**/
.catalog-set-constructor-slider {
	position: relative;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	background: #f9f9f9;
}

.catalog-set-constructor-slider:before {
	position: absolute;
	top: 10px;
	left: 50%;
	display: block;
	width: 20px;
	height: 20px;
	border-top: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	background-color: #f9f9f9;
	content: "";
	-webkit-transform: rotate(45deg) translateX(-21px) translateY(-8px);
	-moz-transform: rotate(45deg) translateX(-21px) translateY(-8px);
	-ms-transform: rotate(45deg) translateX(-21px) translateY(-8px);
	-o-transform: rotate(45deg) translateX(-21px) translateY(-8px);
	transform: rotate(45deg) translateX(-21px) translateY(-8px);
}

.catalog-set-constructor-slider-container {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.catalog-set-constructor-slider .catalog-set-constructor-slider-item {
	margin: 0 5px;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
}

.catalog-set-constructor-slider-box {
	position: relative;
	padding: 10px;
}

.catalog-set-constructor-slider-slide { }

.catalog-set-constructor-slider-item-container {
	position: relative;
	float: left;
	/**/
	min-height: 20px;
}

.catalog-set-constructor-slider-item {
	overflow: hidden;
	padding-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 3px;
	background: #fff;
	transition: all 300ms ease;
}

.catalog-set-constructor-slider-item-notavailable {
	display: inline-block;
	padding: 0 15px;
	height: 30px;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	background: #dedede;
	vertical-align: middle;
	font-weight: bold;
	line-height: 28px;
}

.catalog-set-constructor-slider-item-col,
.catalog-set-constructor-slider-item-scu,
.catalog-set-constructor-slider-item-add-btn,
.catalog-set-constructor-slider-item-custom { padding: 5px 15px; }

.catalog-set-constructor-slider-item-img {
	position: relative;
	padding: 10px;
	padding-top: 109% !important;
	height: 0;
}

.catalog-set-constructor-slider-item-img-container {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	overflow: hidden;
	left: 5px;
	text-align: center;
}

.catalog-set-constructor-slider-item-img img {
	position: absolute;
	top: 50%;
	max-width:100%;
	height: auto;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.catalog-set-constructor-slider-item-title {
	position: relative;
	overflow: hidden;
	padding: 5px 10px;
	height: 35px;
	vertical-align: top;
	font-size: 14px;
	line-height: 15px;
}

.catalog-set-constructor-slider-item-title:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	content: "";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
	transition: opacity 200ms ease;
}

.catalog-set-constructor-slider-item-price {
	padding: 5px 10px 0;
	min-height: 50px;
	text-align: center;
}

/**/
.catalog-set-constructor-slider-item-col { text-align: center; }

.catalog-set-constructor-slider-item-col-minus,
.catalog-set-constructor-slider-item-col-plus {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	line-height: 20px;
}

.catalog-set-constructor-slider-item-col-minus { }

.catalog-set-constructor-slider-item-col-input {
	display: inline-block;
	width: 25px;
	height: 20px;
	vertical-align: middle;
	font-size: 11px;
}

.catalog-set-constructor-slider-item-col-plus { }

/**/
.catalog-set-constructor-slider-item-scu { }

.catalog-set-constructor-slider-item-add-btn { text-align: center; }

.catalog-set-constructor-slider-item-custom {
	color: #b8b8b8;
	font-size: 12px;
}

.catalog-set-constructor-slider-item-price-new {
	display: block;
	font-weight: bold;
}
