#workarea-content {
	background-color: #eef2f4 !important;
}

.sale-domain-verification-grid-wrapper { margin-bottom: 50px }

.sale-domain-verification-wrapper {
	padding: 15px 0 15px 15px;
	background-color: #fff;
}
