
.visualconsructor-configuration-popup-container
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.visualconsructor-configuration-popup-item
{
    background-color: transparent;
    display: block;
    cursor: pointer;
    height: 36px;
    position: relative;
    text-decoration: none;
    outline: none;
    white-space: nowrap;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

.visualconsructor-configuration-popup-item-text{
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #525c68;
    line-height: 36px;
    padding: 0 15px 0 9px;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.visualconsructor-configuration-popup-item:hover
{
    background-color: #f6f8f9;
}