/*******************************************************************************
 * Project:------------crm
 * Component-----------crm.interface.toolbar
 * File Path-----------/modules/crm/install/components/bitrix/crm.interface.toolbar/templates/slider/style.css
 * Last Modified:------07.04.17 10:29
 *
 * @version:-----------2017.4.7
 ******************************************************************************/

.webform-small-button-blue.crm-top-toolbar-add { margin-right: 0; }

.crm-entity-actions-container {
	position: relative;
	display: inline-block;
	/*margin-right: 12px;*/
	/*padding-right: 18px;*/
	white-space: nowrap;
}

/*.crm-entity-actions-container:after {*/
	/*position: absolute;*/
	/*top: 4px;*/
	/*right: 0;*/
	/*bottom: 4px;*/
	/*width: 1px;*/
	/*background-color: #d8dfe2;*/
	/*content: '';*/
/*}*/

.webform-small-button.webform-small-button-transparent.crm-bizproc-starter-icon-not-available,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-call-icon,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-call-icon-not-available,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-sms-icon,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-sms-icon-not-available,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-mail-icon,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-mail-icon-not-available,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-im-icon,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-im-icon-not-available {
	box-sizing: border-box;
	/*margin-right: 6px;*/
	width: 42px;
	background-image: url(images/icons-sprite.svg) !important;
	background-repeat: no-repeat !important;
	opacity: .85;
}

.webform-small-button.webform-small-button-transparent.crm-contact-menu-call-icon { background-position: center -4px !important; }

.webform-small-button.webform-small-button-transparent.crm-contact-menu-sms-icon { background-position: center -91px !important; }

.webform-small-button.webform-small-button-transparent.crm-contact-menu-mail-icon { background-position: center -179px !important; }

.webform-small-button.webform-small-button-transparent.crm-contact-menu-im-icon { background-position: center -266px !important; }

.crm-bizproc-starter-icon,
.bx-ie .ui-btn.crm-bizproc-starter-icon {
	background-position: center -355px;
	background-image: url(images/icons-sprite.svg);
	background-repeat: no-repeat;
	padding: 0;
	width: 39px;
	min-width: 0;
}

.webform-small-button.webform-small-button-transparent.crm-contact-menu-call-icon:hover,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-sms-icon:hover,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-mail-icon:hover,
.webform-small-button.webform-small-button-transparent.crm-contact-menu-im-icon:hover { opacity: 1; }

.webform-small-button.webform-small-button-transparent.crm-contact-menu-call-icon-not-available { background-position: center -48px !important; }

.webform-small-button.webform-small-button-transparent.crm-contact-menu-sms-icon-not-available { background-position: center -135px !important; }

.webform-small-button.webform-small-button-transparent.crm-contact-menu-mail-icon-not-available { background-position: center -223px !important; }

.webform-small-button.webform-small-button-transparent.crm-contact-menu-im-icon-not-available { background-position: center -310px !important; }

.webform-small-button.webform-small-button-transparent.crm-bizproc-starter-icon-not-available { background-position: center -399px !important; }

.crm-add-button-wrapper.webform-small-button {
	margin: 0 19px 0 12px;
	padding: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.document-toolbar-menu {
	min-width: 150px;
}

.crm-bizproc-starter-icon {
	margin: 0 12px;
}

.crm-btn-dropdown-document {
	margin-left: 12px;
}

.crm-iframe-header .pagetitle-inner-container .ui-btn-split.ui-btn-primary {
	margin-right: 0;
}