.imopenlines-iframe-quick-control-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	margin: 0 0 11px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.imopenlines-iframe-quick-search {
	top: 0;
	margin: 0 10px 0 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.imopenlines-iframe-quick-search::before {
	position: absolute;
	top: 7px;
	left: 8px;
	display: inline-block;
	width: 16px;
	height: 16px;
	content: '';
}

.imopenlines-iframe-quick-search-process::after {
	position: absolute;
	top: 7px;
	right: 8px;
	display: inline-block;
	width: 16px;
	height: 16px;
	content: '';
	-webkit-animation: imRotate360 1.2s linear infinite;
	animation: imRotate360 1.2s linear infinite;
}

.imopenlines-iframe-quick-search-input {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 8px;
	width: 100%;
	height: 32px;
	outline: none;
	border: 1px solid #d0d3d7;
	border-radius: 1px;
	font: 14px/32px "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: border-color .3s;
}

.imopenlines-iframe-quick-search-input:focus { border-color: #687580; }

.imopenlines-iframe-quick-search-input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(102, 117, 132, .56);
}

.imopenlines-iframe-quick-search-input::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(102, 117, 132, .56);
	opacity: 1;
}

.imopenlines-iframe-quick-search-input:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(102, 117, 132, .56);
}

.imopenlines-iframe-quick-search-button {
	display: inline-block;
	margin: 0 4px 0 0;
	width: 34px;
	height: 27px;
	border-radius: 60px;
	background-color: #f3f4f5;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: background .3s;
}

.imopenlines-iframe-quick-search-button:hover { background-color: #cfd4d8; }

.imopenlines-iframe-quick-search-button:last-child { margin: 0; }

.imopenlines-iframe-quick-search-add {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23868F99%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6%204V0H4v4H0v2h4v4h2V6h4V4H6z%22%20opacity%3D%22.8%22/%3E%3C/svg%3E');
	background-size: 10px 10px;
}

.imopenlines-iframe-quick-search-settings {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cpath%20fill%3D%22%239BA2AB%22%20d%3D%22M8.216%206.494c-.18.852-.85%201.522-1.704%201.703-1.625.346-3.036-1.066-2.69-2.69.163-.77.935-1.54%201.703-1.704%201.625-.346%203.037%201.066%202.69%202.69m3.346-1.367l-1.188-.198c-.084-.345-.207-.676-.365-.985-.007-.013-.005-.028.004-.04l.747-.924c.162-.2.154-.488-.016-.68l-.472-.532c-.172-.193-.456-.233-.672-.096l-1.017.64c-.442-.31-.94-.538-1.477-.672-.015-.004-.026-.016-.028-.03L6.88.44C6.838.185%206.62%200%206.362%200H5.65c-.257%200-.476.186-.517.44l-.196%201.17c-.003.015-.013.026-.028.03-.435.11-.844.28-1.218.506-.013.008-.03.007-.04-.002l-.948-.676c-.208-.148-.494-.125-.676.056l-.503.504c-.182.182-.205.468-.056.676l.677.95c.008.01.01.027%200%20.04-.22.37-.392.777-.5%201.208-.004.014-.016.025-.03.028L.44%205.126c-.254.042-.44.26-.44.518v.712c0%20.257.186.476.44.518l1.177.196c.014.003.026.014.03.028.088.352.214.688.38%201.002.007.013.005.03-.004.04l-.742.92c-.16.2-.154.486.017.678l.472.532c.17.193.455.233.672.096l1.01-.635c.013-.007.03-.007.04.002.433.29.92.506%201.44.634l.2%201.195c.042.254.26.44.518.44h.712c.257%200%20.476-.186.518-.44l.195-1.17c.003-.015.014-.026.028-.03.43-.107.832-.276%201.203-.497.013-.008.028-.007.04%200l.988.707c.208.15.494.126.676-.056l.503-.504c.18-.18.206-.467.056-.676l-.704-.986c-.01-.012-.01-.027-.002-.04.223-.373.395-.78.503-1.212.003-.015.015-.025.03-.028l1.164-.194c.255-.042.44-.26.44-.518v-.712c0-.257-.186-.476-.44-.518%22/%3E%3C/svg%3E');
	background-size: 12px 12px;
}

.imopenlines-iframe-quick-result {
	overflow-y: auto;
	max-height: 130px;
}

.imopenlines-iframe-quick-result.imopenlines-iframe-quick-result-with-message {
	overflow-y: auto;
	max-height: 107px;
}

.imopenlines-iframe-quick-result::before,
.imopenlines-iframe-quick-result::after {
	position: fixed;
	z-index: 99;
	display: block;
	width: 100%;
	height: 2px;
	content: '';
}

.imopenlines-iframe-quick-result::after {
	bottom: 0;
	height: 12px;
	background: linear-gradient(rgba(255, 255, 255, .05), #fff);
}

.imopenlines-iframe-quick-result-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	overflow: hidden;
	margin: 0 16px 0 0;
	border-top: 1px solid rgba(216, 216, 216, .40);
	transition: background 3s;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.imopenlines-iframe-quick-result-block.imopenlines-iframe-quick-result-block-fresh { background-color: #f8f4bc; }

.imopenlines-iframe-quick-result-item {
	display: inline-block;
	box-sizing: border-box;
	padding: 6px 3px;
	max-width: 430px;
	max-height: 44px;
	color: #828b95;
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
	transition: color .3s;
}

.imopenlines-iframe-quick-result-edit {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: no-repeat center url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%2387909A%22%20d%3D%22M8.062%200L9.99%201.93%203.073%208.844l-1.93-1.93L8.064%200zM.007%209.723c-.02.074.002.15.054.205.055.054.132.075.205.054l2.287-.616-1.93-1.93-.615%202.287z%22%20opacity%3D%221%22/%3E%3C/svg%3E');
	background-size: 10px 10px;
	opacity: 0;
	cursor: pointer;
	transition: opacity .3s;
}

.imopenlines-iframe-quick-result-edit:hover { opacity: 1 !important; }

.imopenlines-iframe-quick-result-block:hover .imopenlines-iframe-quick-result-edit { opacity: .6; }

.quick-result-hide { display: none; }

.quick-result-main::before {
	position: fixed;
	z-index: 99;
	display: block;
	margin-left: -21px;
	width: 20px;
	height: 15px;
	content: '';
}

.quick-result-item-more {
	display: block;
	margin: 10px 0;
	padding: 4px 10px;
	min-width: 24px;
	border-radius: 4px;
	background-color: #1eb4aa;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	opacity: 1;
	cursor: pointer;
	transition: opacity .5s;
}

#quick-all-url { cursor: pointer; }

.quick-hidden { display: none; }

.quick-edit-result.quick-edit-error { color: #f00; }

.imopenlines-iframe-quick-category-item { cursor: pointer; }

.imopenlines-iframe-quick-category-item-selected { font-weight: bold; }

#quick-create-url { cursor: pointer; }

@-webkit-keyframes imRotate360 {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes imRotate360 {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* INFO STYLES */

.imopenlines-iframe-quick-info { padding: 30px 40px; }

.imopenlines-iframe-quick-info-header {
	margin: 0 0 30px;
	color: #828b95;
	text-align: center;
	font: 18px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.imopenlines-iframe-quick-info-list {
	margin: 0 auto;
	padding: 0 0 0 24px;
	max-width: 430px;
	color: #525c69;
	font: 13px/24px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.imopenlines-iframe-quick-info-list-item {
	position: relative;
	list-style: none;
}

.imopenlines-iframe-quick-info-list-item:before {
	position: absolute;
	top: 7px;
	left: -20px;
	width: 13px;
	height: 10px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2013%2010%22%3E%3Cpath%20fill%3D%22%2303C7F6%22%20d%3D%22M11.006.078l-6.4%206.477L1.41%203.673c-.088-.09-.23-.09-.316%200l-1.03%201.04c-.086.09-.086.232%200%20.32l4.382%204.082c.088.088.23.088.317%200l1.028-1.04%206.56-6.637c.103-.105.103-.274%200-.378l-.97-.982c-.103-.104-.27-.104-.374%200z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	content: '';
}

.imopenlines-iframe-quick-link {
	display: inline-block;
	border-bottom: 1px solid rgba(150, 158, 166, .5);
	color: #525c69;
	text-decoration: none;
	font: 13px/16px "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
	transition: .3s border-bottom;
}

.imopenlines-iframe-quick-link:hover { border-bottom: 1px solid transparent; }

.imopenlines-iframe-quick-check-icon {
	display: inline-block;
	margin: 0 2px;
	width: 15px;
	height: 15px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%227.5%22%20cy%3D%227.5%22%20r%3D%227.5%22%20fill%3D%22%23D9D9DA%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M7.5%208.053L4.458%205.01%203.256%206.214l4.242%204.243.002-.002.002.002%204.242-4.243-1.202-1.202L7.5%208.054z%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	vertical-align: middle;
}

/* END OF INFO STYLES */

/* EDIT STYLES */

.imopenlines-iframe-quick-edit {
	padding: 12px 13px 20px 13px;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.imopenlines-iframe-quick-edit-header {
	margin: 0 0 12px 0;
	color: #828b95;
}

.imopenlines-iframe-quick-edit-title { display: inline-block; }

.imopenlines-iframe-quick-edit-select-container {
	position: relative;
	display: inline-block;
}

.imopenlines-iframe-quick-edit-select {
	display: inline-block;
	border-bottom: 1px dashed rgba(135, 144, 154, .5);
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
	transition: border-bottom .3s;
}

.imopenlines-iframe-quick-edit-select:hover { border-bottom: 1px dashed transparent; }

.imopenlines-iframe-quick-category-list {
	position: absolute;
	top: 20px;
	left: 0;
	visibility: hidden;
	margin: 0;
	padding: 13px 0;
	background: #fff;
	box-shadow: 0 6px 16px rgba(0, 0, 0, .12);
	list-style: none;
	opacity: 0;
	transition: opacity .3s;
}

.imopenlines-iframe-quick-category-item {
	display: block;
	overflow: hidden;
	padding: 0 16px;
	max-width: 200px;
	height: 28px;
	white-space: nowrap;
	line-height: 28px;
	cursor: pointer;
	transition: background .3s;
}

.imopenlines-iframe-quick-category-item:hover { background: #f6f8f9; }

.imopenlines-iframe-quick-edit-active .imopenlines-iframe-quick-category-list {
	visibility: visible;
	opacity: 1;
}

.imopenlines-iframe-quick-edit-textarea-container { margin: 0 0 13px; }

.imopenlines-iframe-quick-edit-textarea {
	box-sizing: border-box;
	padding: 10px 12px;
	min-height: 130px;
	width: 100%;
	outline: none;
	border: 1px solid #d0d3d7;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	resize: vertical;
}

.imopenlines-iframe-quick-edit-textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgba(130, 139, 149, .5);
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.imopenlines-iframe-quick-edit-textarea::-moz-placeholder { /* Firefox 19+ */
	color: rgba(130, 139, 149, .5);
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	opacity: 1;
}

.imopenlines-iframe-quick-edit-textarea:-moz-placeholder { /* Firefox 18- */
	color: rgba(130, 139, 149, .5);
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.imopenlines-iframe-quick-edit-button {
	margin: 0 5px 0 0;
	padding: 0 15px;
	height: 27px;
	outline: none;
	border: 0;
	border-radius: 60px;
	font: 13px/27px "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
	transition: background .3s;
}

.imopenlines-iframe-quick-edit-button:last-child { margin: 0; }

.imopenlines-iframe-quick-edit-save {
	background: #00cbfa;
	color: #fff;
}

.imopenlines-iframe-quick-edit-button:hover.imopenlines-iframe-quick-edit-save { background: #3fddff; }

.imopenlines-iframe-quick-edit-cancel {
	background: #eff0f1;
	color: #828b95;
}

.imopenlines-iframe-quick-edit-button:hover.imopenlines-iframe-quick-edit-cancel { background: #cfd4d8; }

.imopenlines-iframe-quick-search-wrap { padding: 8px 19px; }

.imopenlines-iframe-quick-menu {
	margin: 0 0 10px;
	width: 377px;
}

.imopenlines-iframe-quick-menu .main-buttons-inner-container {
	padding: 0 3px;
	height: 28px !important;
	background: transparent;
}

.imopenlines-iframe-quick-menu .main-buttons { height: 28px; }

.imopenlines-iframe-quick-menu .imopenlines-iframe-quick-menu-item,
.imopenlines-iframe-quick-menu .main-buttons-item-link,
.imopenlines-iframe-quick-menu .main-buttons-item-more { height: 24px; }

.imopenlines-iframe-quick-menu .main-buttons-item { margin: 0 25px 0 0; }

.imopenlines-iframe-quick-menu .main-buttons-item.main-buttons-item-more { margin: 0; }

.imopenlines-iframe-quick-menu .main-buttons-item-link,
.imopenlines-iframe-quick-menu .main-buttons-item-more {
	color: #828b95;
	font: bold 12px/24px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.imopenlines-iframe-quick-menu-item.main-buttons-item-active .main-buttons-item-link { color: #0354d3; }

.imopenlines-iframe-quick-menu-item.main-buttons-item-active {
	height: 26px !important;
	border-bottom: 2px solid #0354d3;
}

.imopenlines-iframe-quick-menu .main-buttons-item-more:hover { background: transparent; }

.imopenlines-iframe-quick-menu .main-buttons-item-more.main-buttons-item:after { top: 16px; }

.imopenlines-iframe-quick-menu .main-buttons-item-active.main-buttons-item-more.main-buttons-item:after { border-color: #0354d3 transparent transparent transparent; }

.imopenlines-iframe-quick-menu .main-buttons-item-more.main-buttons-item-more:hover:after { border-color: #545c6a transparent transparent transparent; }

.imopenlines-iframe-quick-search-notification {
	margin-left: -5px;
	padding: 7px 10px;
	background-color: #f8f4bc;
	color: #a18537;
	font: 13px/16px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.imopenlines-iframe-quick-edit-result {
	margin: 10px 0 5px;
	padding: 7px 10px;
	background-color: #fae5e8;
	color: #da3c4f;
	font: 13px/16px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.imopenlines-iframe-quick-edit-textarea.imopenlines-iframe-quick-edit-textarea-result { min-height: 97px; }

.imopenlines-iframe-quick-search-not-found {
	width: 100%;
	color: #c6c8cc;
}

.imopenlines-iframe-quick-search-not-found-inner {
	margin-top: 28px;
	text-align: center;
}

.imopenlines-iframe-quick-search-not-found-smile {
	padding: 17px;
	font-size: 30px;
}

.imopenlines-iframe-quick-search-progress {
	width: 100%;
	color: #c6c8cc;
}

.imopenlines-iframe-quick-search-progress-inner {
	margin-top: 100px;
	text-align: center;
}

.imopenlines-iframe-quick-search-progress-loader {
	position: absolute;
	top: 60px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 50px;
	height: 50px;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	-webkit-animation: imopenlinesIframeQuickSearchProgressLoaderRotate 2s linear infinite;
	animation: imopenlinesIframeQuickSearchProgressLoaderRotate 2s linear infinite;
}

.imopenlines-iframe-quick-search-progress-loader-path {
	-webkit-animation: imopenlinesIframeQuickSearchProgressLoaderPathDash 1.5s ease-in-out infinite;
	animation: imopenlinesIframeQuickSearchProgressLoaderPathDash 1.5s ease-in-out infinite;
	stroke: rgba(185, 190, 197, .74);
	stroke-width: 2.5;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
}

.imopenlines-iframe-quick-search-progress-loader-inner-path {
	stroke: rgba(215, 220, 223, .17);
	stroke-width: 2.5;
	stroke-dasharray: 200, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
}

@-webkit-keyframes imopenlinesIframeQuickSearchProgressLoaderRotate {
	100% { transform: rotate(360deg); }
}

@keyframes imopenlinesIframeQuickSearchProgressLoaderRotate {
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes imopenlinesIframeQuickSearchProgressLoaderPathDash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes imopenlinesIframeQuickSearchProgressLoaderPathDash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}