div.news-list img.preview-picture
{
	float:left;
	margin:0 4px 6px 0;
}

p.news-item
{
	margin:0;
	margin-bottom:15px;
}

.news-date-time
{
	font-size:95%;
	display:block;
	color:#82929a;
}

.journal{
	width:100%;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	font-size:9pt;
	color:rgb(96,96,96);
	font-family:Tahoma;
	border:0;
	padding: 5;
	border-spacing: 0;
}

th.top-left-corner{
	background-color:#afbcbf;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	font-size:10pt;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(203,203,203);
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(203,203,203);
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:rgb(203,203,203);
	border-top-left-radius:5px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:rgb(203,203,203);
	color: #000000;
}

th.top-header{
	background-image:initial;
	background-color:#afbcbf;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	font-size:10pt;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(203,203,203);
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(203,203,203);
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:rgb(203,203,203);
	color: #000000;
}

th.top-right-corner{
	background-image:initial;
	background-color:#afbcbf;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	font-size:10pt;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(203,203,203);
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(203,203,203);
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:rgb(203,203,203);
	border-top-left-radius:0px;
	border-top-right-radius:5px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	color: #000000;
}

td.left-col{
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:rgb(195,208,230);
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	font-size:9pt;
	text-align:left;
}

td.col{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
}

td.col-number{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	text-align: right;
}

td.right-col{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	text-align:center;
}

td.bottom-left-corner{
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:rgb(195,208,230);
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:5px;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	text-align:left;
}

td.bottom{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	font-size:9pt;
	text-align:left;
}

td.bottom-right-corner{
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:0px;
	text-align:right;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	text-align:center;
}

