.sender-message-editor-mail-wrapper {
	width: 100%;
}

.sender-template-preview {
	width: 100%;
}

.sender-template-preview-frame {
	width: 800px;
	height: 600px;
}

.sender-template-caption{
	font-weight: bold;
	font-size: 14px;
}
.sender-template-list-caption{
	font-weight: bold;
	margin-left: 20px;
}
.sender-template-type-selector{
	width: 300px;
	-webkit-user-select: none;
	overflow: hidden;
	margin-bottom: 30px;
}
.sender-template-type-selector-title {
	position: relative;
	font-weight: bold;
	margin-bottom: 30px;
	height: 15px;
	font-size: 14px;
}

.sender-template-type-selector-title:after {
	content: '';
	position: absolute;
	left: 0;
	right: 30px;
	top: 30px;
	margin: auto;
	height: 1px;
	background: rgb(224, 224, 224);
}

.sender-template-type-selector-button{
	padding: 7px 13px;
	margin-bottom: 10px;
	display: inline-block;
	float: left;
	clear: left;
	font-weight: normal;
	cursor: pointer;
}
.sender-template-type-selector-button:hover, .sender-template-type-selector-button-selected{
	color: #fff;
	background-color: #5CC3EF;
}

.sender-template-list-container {
	width: 100%; margin-left: 20px;
}
.sender-template-btn-close{
	background: url("/bitrix/panel/main/images/popup_sprite.png") no-repeat 0 -30px;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	width: 28px;
	background-position: 0 -90px
}
.sender-template-list-type-blockempty{
	margin: 50px 0;
	font-size: 38px;
	color: #dddddd;
	text-align: center;
}
.sender-template-list-type-block{
	width: 140px;
	margin-right: 40px;
	text-align: center;
	margin-bottom: 40px;
	display: inline-block;
	vertical-align: bottom;
}
.sender-template-list-type-block-caption{

}
.sender-template-list-type-block-img{
	height: 185px;
	width: 140px;
	background-color: #ECECEC;
	margin-top: 10px;
	cursor: pointer;
}
.sender-template-list-type-block-img img{
	height: 185px;
	width: 140px;
}