@icon-set: url(/bitrix/js/tasks/css/images/media.png);

.bg-image (@y: 0, @x: 0) {
	background: @icon-set no-repeat @x @y;
}
.box-sizing (@value) {
	-webkit-box-sizing: @value;
	-moz-box-sizing: @value;
	box-sizing: @value;
}

.tasks-rights-footer {
	margin: 10px 0 0 7px;
}

.tasks-rights-user-link {
	display: inline-block;
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tasks-rights-table {
	width: 550px;
}
.tasks-rights-table-gap-col {
	width: 5%;
}
.tasks-rights-table-al-col {
	width: 42%;
}