.sender-template-edit-wrap {
	padding: 20px;
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bx-sender-caption {
	display: block;
	margin: 0 0 6px 0;
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868E;
}

.bx-sender-form-control {
	display: inline-block;
	padding: 7px 30px 7px 14px;
	min-width: 308px;
	height: 38px;
	border: none;
	-webkit-box-shadow: inset 0 0 0 1px #C6CDD3;
	box-shadow: inset 0 0 0 1px #C6CDD3;
	border-radius: 2px;
	font: 15px/17px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	box-sizing: border-box;
	vertical-align: middle;
	transition: border-color .3s ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	text-indent: 1px;
	text-overflow: '';
}

.bx-sender-form-control:focus {
	-webkit-box-shadow: inset 0 0 0 1px rgba(81, 203, 238, 1);
	box-shadow: inset 0 0 0 1px rgba(81, 203, 238, 1);
}

.bx-sender-letter-field-input {
	width: 100%;
}

.bx-sender-letter-steps {
	margin: -15px;
	background: #eef2f4;
}
.bx-sender-letter-step {
	padding: 25px;
	margin: 0 0 30px 0;
	background: #ffffff;
}
.bx-sender-letter-step-caption {
	margin: 0 0 30px 0;
	font: 26px/25px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.bx-sender-letter-step-content {

}


.bx-sender-letter-types {
	height: 40px;
}
.bx-sender-letter-type {
	background: #85c2f7;
	color: white;
	padding: 15px;
	float: left;
	margin: 0 10px 0 0;
	cursor: pointer;
	font: 20px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bx-sender-letter-type:hover {
	background: #5cb4ff;
}


.bx-sender-letter-field {
	margin: 0 0 30px;
}
.bx-sender-letter-field .bx-sender-caption {
	margin: 0 0 10px;
	font: 16px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.bx-sender-letter-field .bx-sender-value {

}

.bx-sender-message-editor-field-text {
	width: 100%;
	height: 100px;
}

.bx-sender-message-editor-field-select {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2219%22%20height%3D%227%22%20viewBox%3D%220%200%2019%207%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20points%3D%223.546%207.425%203.546%201.607%201.607%201.607%201.607%208.394%201.607%209.364%209.364%209.364%209.364%207.425%22%20transform%3D%22rotate%28-45%20.657%203.485%29%22/%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	background-position: right center;
	font: 15px/38px "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 0 30px 0 14px;
}


/*******************************************/

.sender-mailing-container {
	background: rgb(244, 249, 249);
	border: 1px solid rgb(230, 230, 230);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 3px;
	padding: 20px;
}

.sender-mailing-group-container {
	min-height: 27px;
	padding: 13px 17px;
}

.sender-mailing-group-container.sender-mailing-group-add {
	background: #e4f2f7;
	color: #345f71;
}
.sender-mailing-group-container.sender-mailing-group-add .adm-white-container-p {
	border-left: 1px solid #d7e5ea;
}

.sender-mailing-group-container.sender-mailing-group-del {
	background: #fde4e1;
	color: #9e2f2f
}
.sender-mailing-group-container.sender-mailing-group-del .adm-white-container-p {
	border-left: 1px solid #f1cecc;
}
.sender-mailing-group-container.sender-mailing-group-ok {
	background: #E7F0CF;
	color: #738A37;
}
.sender-mailing-group-container.sender-mailing-group-ok .adm-white-container-p {
	border-left: 1px solid #D4E49A;
}

.sender-mailing-group-container .sender-mailing-group-container-title {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	line-height: 27px;
	padding-right: 27px;
	padding-left: 38px;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	float: left;
	position: relative;
	display: table;
}

.sender-mailing-group-container .sender-mailing-group-container-title span {
	display: table-cell;
}

.sender-mailing-group-container .sender-mailing-group-container-title:before {
	content: '';
	position: absolute;
	width: 23px;
	height: 23px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	background: url("/bitrix/themes/.default/images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4642px!important;
}
.sender-mailing-group-container.sender-mailing-group-del .sender-mailing-group-container-title:before {
	background: url("/bitrix/themes/.default/images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4672px!important;
}
.sender-mailing-group-container.sender-mailing-group-ok .sender-mailing-group-container-title:before {
	background: url("/bitrix/themes/.default/images/sender/bx-admin-sprite-small-2.png") no-repeat 0 -4702px!important;
}

.sender-mailing-group-container .adm-white-container-p {
	font-weight: normal;
	padding-left: 25px;
	display: block;
	overflow: hidden;
	height: 27px;
	min-height: 27px;
	display: table;
}
.sender-mailing-group-container .adm-white-container-p span {
	display: table-cell;
	vertical-align: middle;
}