.salescenter-paysystem {
	margin-bottom: 57px;
}

.salescenter-paysystem-item {
	background-color: #fff;
	border-radius:2px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.14);
	transition: 180ms linear all;
}

.salescenter-paysystem-item:hover{
	-webkit-transform: translateY(-3px);
	-moz-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	-o-transform: translateY(-3px);
	transform: translateY(-3px);
	cursor: pointer;
	box-shadow: 0 2px 2px 1px rgba(0,0,0,.14);
}

.salescenter-paysystem-item-title,
.salescenter-paysystem-marketplace-app-item-title {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 5px;
	box-sizing: border-box;
	height: 45px;
	text-align: center;
	color: #525c69;
	font: 13px/14px "OpenSans-Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.salescenter-paysystem-item-image {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 27px;
	background-repeat: no-repeat;
	background-position: center;
}

.salescenter-paysystem-item-status-selected {
	position: absolute;
	opacity: 0;
	right: 0;
	top: 0;
	transition: .1s;
}

.salescenter-paysystem-item-selected .salescenter-paysystem-item-status-selected {
	opacity: 1;
}

.salescenter-paysystem-item-status-selected:before {
	position: absolute;
	bottom: 14px;
	top: -4px;
	right: -5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #97c70f url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.627%205.81L10.402%200%2012%201.607%204.652%209l-.025-.025L4.602%209%200%204.373l1.598-1.607z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E)
	no-repeat center;
	content: '';
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.ui-page-slider-workarea-content-padding {
	padding: 0;
	overflow-x: visible;
}

.salescenter-paysystem-title,
.salescenter-paysystem-title-app {
	color: #333;
	font: 16px/22px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-bottom: 13px;
	padding-bottom: 13px;
	border-bottom: 1px solid rgba(82,92,105,.10);
}

.salescenter-paysystem-item-selected .salescenter-paysystem-item-title { color: #fff; }

.salescenter-paysystem-integration-marketplace-tile-item {
	padding: 10px;
	background: #fff;
	text-align: center;
	transition: box-shadow .3s, transform .3s;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	cursor: pointer;
}


.salescenter-paysystem-integration-marketplace-tile-counter {
	background: #9dcf00;
	color: #fff;
}

.salescenter-paysystem-integration-marketplace-tile-counter-head {
	text-align: left;
}

.salescenter-paysystem-integration-marketplace-tile-counter-name {
	display: block;
	font: 10px 'OpenSans-SemiBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	opacity: .8;
}

.salescenter-paysystem-integration-marketplace-tile-counter-value {
	display: block;
	max-width: 100%;
	font: 34px 'OpenSans-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.salescenter-paysystem-integration-marketplace-tile-counter-link-box {
	position: relative;
	display: block;
	text-align: right;
	top: 25px;
}

.salescenter-paysystem-integration-marketplace-tile-counter-link {
	padding: 0 22px 0 0;
	cursor: pointer;
}

.salescenter-paysystem-integration-marketplace-tile-counter-link:after {
	content: '';
	position: absolute;
	top: 7px;
	right: 0;
	width: 15px;
	height: 5px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2015%205%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M12%202V0l3%202.5L12%205V3H0V2h12z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') no-repeat;
	transition: opacity .3s;
	opacity: .7;
}

.salescenter-paysystem-integration-marketplace-tile-counter-link:hover:after {
	opacity: 1;
}

.salescenter-item-label {
	position: absolute;
	top: 6px;
	left: -1px;
	height: 16px;
	background: #2FC6F6;
}

.salescenter-item-label:after {
	content: '';
	position: absolute;
	border-right: 5px solid transparent;
	border-left: 4px solid #2FC6F6;
	border-bottom: 8px solid #2FC6F6;
	border-top: 8px solid #2FC6F6;
}

.salescenter-item-label-text {
	overflow: hidden;
	color: #FFFFFF;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 8px/11px "OpenSans-Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-left: 6px;
	display: inline-block;
}
