table.bx-edit-table td.bx-padding {
	padding-top: 6px!important;
}

table#tab_bizproc_edit_table td.field-name {
	width: 26% !important;
}

table#tab_bizproc_edit_table tr:nth-of-type(2)  {
	display: none;
}

table#tab_bizproc_edit_table tr:nth-of-type(3) td {
	background-image: none !important;
}

select[name=SOURCE_ID] > option[disabled] {
	display: none;
}