.mail-set-singleselect {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 150px;
	height: 40px;
	margin: -13px 10px;
	border: 1px solid #ccd0d2;
	background: #fff;
	-webkit-box-shadow: inset 0 1px 2px #e4e8e9;
	-moz-box-shadow: inset 0 1px 2px #e4e8e9;
	box-shadow: inset 0 1px 2px #e4e8e9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.mail-set-singleselect:before {
	content: attr(placeholder);
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	height: 40px;
	padding: 0 0 0 12px;
	line-height: 40px;
	white-space: nowrap;
	color: #1169c3;
	overflow-x: hidden;
	cursor: pointer;
	-webkit-box-shadow: inset 0 1px 2px #e4e8e9;
	-moz-box-shadow: inset 0 1px 2px #e4e8e9;
	box-shadow: inset 0 1px 2px #e4e8e9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mail-set-singleselect:after {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 4px solid transparent;
	border-top: 4px solid #777979;
	position: absolute;
	top: 17px;
	right: 13px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mail-set-singleselect label {
	display: inline-block;
	min-width: 100%;
	height: 32px;
	line-height: 32px;
	white-space: nowrap;
	padding: 0 10px;
	background: #fff;
	cursor: pointer;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-webkit-box-shadow: inset 0 1px 2px #e4e8e9;
	-moz-box-shadow: inset 0 1px 2px #e4e8e9;
	box-shadow: inset 0 1px 2px #e4e8e9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mail-set-singleselect-line {
	display: inline-block;
	border: none;
	background: transparent;
	box-shadow: none;
	padding: 0;
	width: auto;
	height: 19px;
	margin: 0 3px;
}

.mail-set-singleselect-line label {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.mail-set-singleselect-line input[type="radio"]:checked + label {
	background: transparent;
	height: 19px;
	line-height: 17px;
	color: #2066b0;
	border: none;
	padding: 0;
	border-bottom: 1px dashed rgba(32, 102, 176, .5);
}

.mail-set-singleselect-line:before {
	padding: 0;
	box-shadow: none;
}

.mail-set-singleselect-line:after {
	display: none;
}

.mail-set-singleselect-line:before {
	height: 19px;
	line-height: 17px;
}

.mail-set-singleselect input,
.mail-set-singleselect label {
	display: none;
}

.mail-set-singleselect div {
	min-width: 100%;
	max-height: 320px;
	overflow-x: hidden;
}

.mail-set-singleselect input[type="radio"]:checked ~ div {
	position: absolute;
	top: 50%;
	left: 25px;
	z-index: 999;
	overflow-y: auto;
	background: #fff;
	-webkit-box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
	-moz-box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
	box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.mail-set-singleselect-line input[type="radio"]:checked ~ div {
	left: 0px;
}

.mail-set-singleselect input[type="radio"]:checked ~ div > label,
.mail-set-singleselect input[type="radio"]:checked + label {
	display: block;
	z-index: 0 !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.mail-set-singleselect input[type="radio"]:checked ~ div > label:hover {
	background: #f6f8f9;;
}

.mail-set-singleselect input[type="radio"]:not(:checked) ~ div > input[type="radio"]:checked + label {
	position: relative;
	z-index: -1;
}

.mail-set-singleselect-option-disabled {
	background: #fff !important;
	color: #bbb;
}

.mail-signature-edit-wrap {
	background: #fff;
	padding: 13px 12px 19px 12px;
}

.mail-signature-edit-wrap .bx-html-editor {
	border-color: transparent;
}

.mail-signature-is-iframe {
	border-bottom: 1px solid rgba(216, 216, 216, 1);
	margin-bottom: 18px;
}

.mail-signature-edit-sender-text {
	color: #525c69;
	font-size: 15px;
	line-height: 20px;
}