.crm-iframe-popup, .crm-iframe-popup.crm-form-page, .crm-iframe-popup.crm-detail-page{ padding-bottom:0 !important; }
.crm-check-add-table{
	width:100%;
	max-width: 500px;
}
.crm-check-add-table .crm-entity-card-widget {	padding: 20px 10px; }
.crm-footer-container {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 900;
	padding: 10px 0 10px 0;
	background-color: #fff;
	text-align: center;
}

.crm-entity-widget-content-block-hidden-title { display: none; }
.crm-entity-card-container { width:100%!important; }