.sender-segment-selector-title {
	display: block;
	margin: 0 0 6px 0;
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868E;
}

.sender-segment-selector-main {
	margin: 8px 0 0 0;
}

.sender-segment-selector-main-sum {
	display: flex;
	align-items: center;
	padding: 10px 18px;
	margin: 0 0 8px 0;
	min-height: 42px;
	background: rgba(234,241,244,.3);
	box-sizing: border-box;
}

.sender-segment-selector-block {
	display: flex;
	align-items: center;
	color: #525C69;
}

.sender-segment-selector-block-name {
	display: inline-block;
	margin: 0 7px 0 0;
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sender-segment-selector-block-number {
	font: 18px/22px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sender-segment-selector-duration {
	margin: 0 0 0 10px;
	color: #d0d1d2;
	opacity: 0;
	font: 13px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	transition: opacity .5s;
	display: none;
}
.sender-segment-selector-duration-active {
	display: initial;
	opacity: 1;
}
.sender-segment-selector-duration-warn {
	position: relative;
	/*color: #E56A61;*/
}

.sender-segment-selector-duration-warn:after {
	content: '';
	position: absolute;
	top: 1px;
	right: -20px;
	display: block;
	width: 14px;
	height: 14px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%23E2574C%22%20d%3D%22M7%200C3.134%200%200%203.134%200%207s3.134%207%207%207%207-3.133%207-7c0-3.866-3.134-7-7-7zm0%2012.687c-3.14%200-5.687-2.546-5.687-5.687C1.313%203.86%203.86%201.313%207%201.313c3.14%200%205.687%202.546%205.687%205.687%200%203.14-2.546%205.687-5.687%205.687zM7%203.07c-.5%200-.88.262-.88.684V7.63c0%20.423.38.684.88.684.49%200%20.88-.27.88-.684V3.754c0-.412-.39-.684-.88-.684zm0%206.118c-.48%200-.873.392-.873.874%200%20.48.392.873.873.873.482%200%20.874-.392.874-.873%200-.483-.392-.874-.874-.874z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.sender-segment-selector-link {
	display: inline-block;
	margin: 0 0 0 auto;
	border-bottom: 1px solid transparent;
	color: rgba(82,92,105,.62);
	transition: border-bottom .3s;
	cursor: default;
}
.sender-segment-selector-link:hover {
	color: #808080;
}

.sender-segment-selector-link-active {
	color: #1968B8;
	cursor: pointer;
}
.sender-segment-selector-link-active:hover {
	border-bottom: 1px solid #1968B8;
	color: #1968B8;
}

.sender-segment-selector-exclude {
	display: block;
	margin: 0 0 26px 0;
	position: relative;
	padding: 15px 18px 20px 18px;
	background: rgba(247,204,0,.18);
}

.sender-segment-selector-exclude:after {
	content: '';
	position: absolute;
	top: -11px;
	right: 48px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10.5px 11px 10.5px;
	border-color: transparent transparent rgba(247,204,0,.18) transparent;
}

.sender-close-icon {
	position: absolute;
	top: 6px;
	right: 4px;
	width: 16px;
	height: 16px;
	text-align: center;
	transition: opacity .3s;
	opacity: .2;
	cursor: pointer;
}

.sender-close-icon:hover {
	opacity: 1;
}

.sender-close-icon-item {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.073%203.657l2.12-2.12L5.778.12l-2.12%202.12L1.537.12.12%201.538l2.12%202.12-2.12%202.12%201.417%201.417%202.12-2.12%202.12%202.12%201.417-1.417-2.12-2.12z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}