.intranet-user-profile-menu-sidebar {
	position: relative;
	float: left;
	padding: 0;
}

.intranet-user-profile-security-container {
	/*padding: 15px 15px 20px;*/
	overflow-x: auto;
	overflow-y: visible;
}

.intranet-user-profile-security-content {
	min-height: 400px;
}

.intranet-user-profile-security {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 21px;
	color: #515c69;
}

.intranet-user-profile-security .ui-page-slider-wrapper {
	padding: 0 5px;
}