.crm-order-product-list-wrapper { margin-bottom: 10px; }

.symbol_ruble { font-family: 'rubleBitrix', "Helvetica Neue", Helvetica, Arial, sans-serif }

.crm-order-product-container { }

.crm-order-product-set-item-container { padding-left: 66px; }

.crm-order-product-info-name { margin-bottom: 16px; }

.crm-order-product-info-name-text { }

.crm-order-product-inner-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.crm-order-product-info-image-container {
	position: relative;
	max-width: 110px;
	width: 110px;
	height: 110px;
	border: 1px solid #e0e0e0;
}

.crm-order-product-info-image {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
}

.crm-order-product-info-properties-container {
	padding-left: 26px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/*region scu*/
.crm-order-product-properties-scu { margin-bottom: 20px; }

.crm-order-product-info-properties-container div:last-child { margin-bottom: 5px; }

.crm-order-product-properties-scu-title {
	margin-bottom: 5px;
	padding-left: 3px;
}

.crm-order-product-properties-scu-title-text {
	color: #525c69;
	font: 10px/11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-order-product-properties-scu-inner { }

.crm-order-product-properties-scu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.crm-order-product-properties-scu-list-item {
	margin-right: 1px;
	margin-bottom: 1px;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: 250ms all linear;
}

.crm-order-product-properties-scu-list-item:hover,
.crm-order-product-properties-scu-list-item.selected {
	border-color: #359fd0 !important;
	cursor: pointer;
}

.crm-order-product-properties-scu-list-item-inner {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 2px;
}

/*color*/
.crm-order-product-properties-scu-color .crm-order-product-properties-scu-list-item {
	box-sizing: content-box;
	padding: 3px;
	width: 24px;
	height: 24px;
}

.crm-order-product-properties-scu-color .crm-order-product-properties-scu-list-item-inner { box-shadow: inset 0 0 0 1px rgba(151, 151, 151, .21); }

/*image*/
.crm-order-product-properties-scu-image .crm-order-product-properties-scu-list-item {
	box-sizing: content-box;
	padding: 3px;
	width: 24px;
	height: 24px;
}

.crm-order-product-properties-scu-image .crm-order-product-properties-scu-list-item-inner {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
}

/*text*/
.crm-order-product-properties-scu-text .crm-order-product-properties-scu-list-item {
	box-sizing: content-box;
	margin-right: 6px;
	margin-bottom: 4px;
	padding: 1px 5px;
	width: auto;
	height: 20px;
	border-color: #c1cfda;
	border-radius: 2px;
}

.crm-order-product-properties-scu-text .crm-order-product-properties-scu-list-item-inner {
	display: block;
	min-width: 20px;
	width: auto;
	height: 20px;
	color: #000;
	vertical-align: middle;
	text-align: center;
	font: bold 11px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**/

/*endregion*/

/*region price*/
.crm-order-product-info-price { position: relative; }

.crm-order-product-info-price-current {
	margin-bottom: 1px;
	min-height: 28px;
	color: #000;
	white-space: nowrap;
	font: 500 15px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-order-product-info-price-old {
	position: absolute;
	top: 44px;
	color: #9b9b9b;
	text-decoration: line-through;
	white-space: nowrap;
	font: 13px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-order-product-info-price-desc {
	color: rgba(83, 92, 105, .62);
	font: 11px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region amount*/
.crm-order-product-control-amount { }

.crm-order-product-control-amount-field {
	position: relative;
	margin-top: -8px;
	margin-bottom: 2px;
	padding: 1px 5px;
	width: 61px;
	height: 27px;
	border: 1px solid #c6cdd3;
	text-align: left;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-order-product-control-amount-desc {
	color: rgba(83, 92, 105, 0.62);
	font: 11px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region additional*/
.crm-order-product-control-additional { }

.crm-order-product-control-additional-nds {
	position: relative;
	display: inline-block;
	padding-right: 15px;
	white-space: nowrap;
	cursor: pointer;
}

.crm-order-product-control-additional-nds span {
	border-bottom: 1px dashed;
	color: #196fba;
	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-order-product-control-additional-nds:hover span { border-bottom-style: solid; }

.crm-order-product-control-additional-nds:after {
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	margin-top: -3px;
	border: 3px solid transparent;
	border-top-color: #a9adb4;
	content: '';
}

/*endregion*/

/*region discounts*/
.crm-order-product-control-discounts {
	border-top: 1px solid #eef2f4;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.crm-order-product-control-discounts-title {
	margin-bottom: 6px;
	color: #535c69;
	text-transform: uppercase;
	font: 11px/12px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-order-product-control-discounts-list { padding-top: 15px; }

.crm-order-product-control-discounts-list-item {
	margin-bottom: 10px;
	padding-top: 3px;
}

.crm-order-product-control-discounts-list-item-label {
	position: relative;
	display: block;
	padding-bottom: 3px;
	padding-left: 25px;
}

.crm-order-product-control-discounts-list-item-input {
	position: absolute;
	top: -1px;
	left: 0;
	display: block;
}

.crm-order-product-control-discounts-list-item-label-text {
	display: inline-block;
	font-size: 14px;
}

.crm-order-product-control-discounts-list-item-desc {
	padding-left: 25px;
	color: #76888a;
	font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-order-product-control-discounts-list-add-item-btn {
	border-bottom: 1px dashed;
	color: rgba(83, 92, 105, 0.82);
	text-decoration: none;
	font: 12px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 250ms linear all;
}

.crm-order-product-control-discounts-list-add-item-btn:hover {
	border-bottom: 1px solid;
	color: #333;
	text-decoration: none !important;
}

.crm-order-product-control-discounts-list-add-item-container {
	position: relative;
	padding: 5px 13px 13px;
	max-width: 450px;
	border-radius: 3px;
	background-color: #f4f4f5;
}

.crm-order-product-control-discounts-list-add-item-close {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: rgba(130, 139, 149, 0.31);
	transition: 220ms linear all;
}

.crm-order-product-control-discounts-list-add-item-close:hover {
	background-color: rgba(130, 139, 149, 1);
	cursor: pointer;
}

.crm-order-product-control-discounts-list-add-item-close:after,
.crm-order-product-control-discounts-list-add-item-close:before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background-color: #fff;
	content: '';
	transform: translate(-50%, -50%) rotate(45deg);
}

.crm-order-product-control-discounts-list-add-item-close:after {
	width: 2px;
	height: 9px;
}

.crm-order-product-control-discounts-list-add-item-close:before {
	width: 9px;
	height: 2px;
}

.crm-order-product-control-discounts-list-add-item-title {
	color: #76888a;
	font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-order-product-control-discounts-list-add-item-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.crm-order-product-control-discounts-list-add-item-field {
	margin-right: 6px;
	max-width: 100px;
	height: 32px;
	color: #000;
	text-align: right;
	font-size: 15px;
}

.crm-order-product-control-discounts-list-add-item-type {
	margin-right: 26px;
	border-bottom: 1px dashed;
	color: #196fba;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
}

.crm-order-product-control-discounts-list-add-item-text {
	margin-right: 6px;
	color: #333;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region total*/
.crm-order-total-wrapper {
	padding: 20px;
	background-color: #fff;
}

.crm-order-total-discounts {
	margin-bottom: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #eef2f4;
}

/*endregion*/

.crm-order-total-container-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.crm-order-total-container-column { flex: 1; }

.crm-order-total-box {
	margin-top: 17px;
	padding: 24px 25px;
	border-radius: 5px;
	background-color: #f0f2f4;
}

.crm-order-total-box-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.crm-order-total-box .crm-order-total-box-row:last-child { margin-bottom: 0; }

.crm-order-total-box-row-column {
	color: #333;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-order-total-box-row .crm-order-total-box-row-column:first-child { padding-right: 10px; }

.crm-order-total-box-row .crm-order-total-box-row-column:last-child {
	padding-left: 10px;
	white-space: nowrap;
}

.crm-order-total-box-row-final {
	margin: 17px -12px 0;
	padding: 14px 12px;
	border-radius: 5px;
	background-color: #e4e8eb;
}

.crm-order-total-box-row-final .crm-order-total-box-row-column { font-weight: bold; }

/*region promotion*/
.crm-order-product-control-promotion-title {
	margin-bottom: 6px;
	color: #535c69;
	text-transform: uppercase;
	font: 11px/12px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-order-promotional-code-box { padding-right: 10px; }

.crm-order-product-control-discounts-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.crm-order-product-control-discounts-field-container {
	padding-right: 10px;
	max-width: 400px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.crm-order-product-control-discounts-field {
	box-sizing: border-box;
	width: 100%;
	height: 39px;
}

.crm-order-product-control-discounts-field-description {
	padding-top: 10px;
	color: #76888a;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-order-product-refresh-stub {
	position: fixed;
	z-index: 1;
	opacity: 1;
	transition: 100ms all ease-out;
}

/*endregion*/