.fields.money
{
	display: block;
	white-space: nowrap;
}

.fields.money .separator
{
	display: block;
	margin: 0;
	border: none;
}

.currency-money-popup-full-width { width: auto !important; }