div.news-list img.preview-picture
{
	float:left;
	margin:0 4px 6px 0;
}

p.news-item
{
	margin:0;
	margin-bottom:15px;
}

.news-date-time
{
	font-size:95%;
	display:block;
	color:#82929a;
}

.adm-btn,
.adm-workarea input[type="button"],
.adm-workarea input[type="reset"],
.adm-workarea input[type="submit"] {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:none;
	border-top:1px solid #fff;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.3), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	box-shadow: 0 0 1px rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.3), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	background-image: -webkit-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -moz-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -ms-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -o-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: linear-gradient(bottom, #d7e3e7, #fff)!important;
	color:#3f4b54;
	cursor:pointer;
	display:inline-block;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	line-height:18px;
	height: 29px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	text-decoration:none;
	position:relative;
	vertical-align:middle;
	-webkit-font-smoothing: antialiased;
}

.adm-detail-toolbar {
	background:url("/bitrix/panel/main/images/filter-bg.gif") repeat scroll 0 0;
	border-radius:4px;
	border-bottom:1px solid #a0abb0;
	margin-bottom:16px;
	overflow:hidden;
	padding:12px 0 10px 9px;
}

.adm-detail-toolbar-right { float:right; text-align:right; padding-right: 13px;}

.adm-detail-toolbar-right .adm-btn {margin-left:10px;}

.journal{
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	font-size:9pt;
	color:rgb(96,96,96);
	font-family:Tahoma;
	border:0;
	padding: 5;
	border-spacing: 0;
}

th.top-left-corner{
	background-color:#afbcbf;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	font-size:10pt;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(203,203,203);
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(203,203,203);
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:rgb(203,203,203);
	border-top-left-radius:5px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:rgb(203,203,203);
}

th.top-header{
	background-image:initial;
	background-color:#afbcbf;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	font-size:10pt;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(203,203,203);
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(203,203,203);
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:rgb(203,203,203);
	color: #000000;
}

th.top-right-corner{
	background-image:initial;
	background-color:#afbcbf;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	font-size:10pt;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(203,203,203);
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(203,203,203);
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:rgb(203,203,203);
	border-top-left-radius:0px;
	border-top-right-radius:5px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	color: #000000;
}

td.left-col{
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:rgb(195,208,230);
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	font-size:9pt;
	text-align:center;
}

td.col{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
}

td.col-number{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	text-align: right;
}

td.right-col{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
}

td.bottom-left-corner{
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:rgb(195,208,230);
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:5px;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	text-align:center;
}

td.bottom{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	font-size:9pt;
	text-align:left;
}

td.bottom-right-corner{
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:0px;
	text-align:right;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
}

th.colspan3{
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:rgb(195,208,230);
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:rgb(195,208,230);
	padding-top:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-left:5px;
	vertical-align:middle;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:rgb(195,208,230);
}
