.main-kanban-dropzone[data-id="delete"] .main-kanban-dropzone-bg {
	background: rgb(197, 197, 197) !important;
}

.main-kanban-dropzone[data-id="delete"] .main-kanban-dropzone-title::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M14.9171481%2C4.05422857%20L14.1381742%2C15.2060291%20C14.078121%2C16.0692771%2013.277699%2C16.7414692%2012.3117178%2C16.7414692%20L4.76905264%2C16.7414692%20C3.80307144%2C16.7414692%203.00264058%2C16.0692771%202.94259619%2C15.2060291%20L2.16362231%2C4.05422857%20L0.99088986%2C4.05422857%20C0.611692165%2C4.05422857%200.304574098%2C3.77952929%200.304574098%2C3.44035898%20C0.304574098%2C3.10195477%200.611692165%2C2.82648939%200.99088986%2C2.82648939%20L16.0898366%2C2.82648939%20C16.4690343%2C2.82648939%2016.7761524%2C3.10195477%2016.7761524%2C3.44035898%20C16.7761524%2C3.77952929%2016.4690343%2C4.05422857%2016.0898366%2C4.05422857%20L14.9171481%2C4.05422857%20Z%20M13.4570196%2C4.05422857%20L3.62392656%2C4.05422857%20L4.28364621%2C14.7400775%20C4.31024012%2C15.1736168%204.71087503%2C15.5135532%205.19731368%2C15.5135532%20L11.8836764%2C15.5135532%20C12.370093%2C15.5135532%2012.7707477%2C15.1736168%2012.7973438%2C14.7400775%20L13.4570196%2C4.05422857%20Z%20M8.54036325%2C6.52952285%20C8.86942124%2C6.52952285%209.13697765%2C6.73090084%209.13697765%2C6.97856837%20L9.13697765%2C13.1340931%20C9.13697765%2C13.3817606%208.86942124%2C13.5831386%208.54036325%2C13.5831386%20C8.21130525%2C13.5831386%207.94374884%2C13.3817606%207.94374884%2C13.1340931%20L7.94374884%2C6.97856837%20C7.94374884%2C6.73090084%208.21130525%2C6.52952285%208.54036325%2C6.52952285%20Z%20M5.98461271%2C6.52952285%20C6.31845507%2C6.52952285%206.59320848%2C6.72729985%206.60837941%2C6.97796821%20L6.98215281%2C13.1665788%20C6.99493157%2C13.3865927%206.76890099%2C13.5723356%206.47738186%2C13.5825538%20C6.46939524%2C13.5825538%206.46140842%2C13.5831551%206.45342119%2C13.5831551%20C6.14274415%2C13.5831551%205.88637171%2C13.4004129%205.86958554%2C13.1665799%20L5.4207344%2C6.97796928%20C5.40396214%2C6.74353613%205.64275757%2C6.54335846%205.95345505%2C6.53012409%20C5.96383794%2C6.53012409%205.97422001%2C6.52952285%205.98460249%2C6.52952285%20L5.98461271%2C6.52952285%20Z%20M11.0961138%2C6.52952285%20C11.4075882%2C6.52952285%2011.6607711%2C6.7200825%2011.6607711%2C6.95451566%20C11.6607711%2C6.96233025%2011.6607711%2C6.97014454%2011.6599723%2C6.97795897%20L11.2135133%2C13.1347148%20C11.1959424%2C13.3859833%2010.919602%2C13.5831601%2010.5849622%2C13.5831601%20C10.2734878%2C13.5831601%2010.0203049%2C13.3926005%2010.0203049%2C13.1581673%20C10.0203049%2C13.1503527%2010.0203049%2C13.1425384%2010.0211038%2C13.134724%20L10.4675627%2C6.97796821%20C10.4851336%2C6.72669969%2010.761474%2C6.52952285%2011.0961138%2C6.52952285%20Z%20M6.71048071%2C0.0812263395%20L10.3702458%2C0.0812263395%20C11.3817105%2C0.0812263395%2012.2009848%2C0.900522644%2012.2009848%2C1.9119654%20L12.2009848%2C2.82648939%20L4.87969772%2C2.82648939%20L4.87969772%2C1.9119654%20C4.87969772%2C0.900500682%205.69899403%2C0.0812263395%206.71043678%2C0.0812263395%20L6.71048071%2C0.0812263395%20Z%20M6.801417%2C1.45385786%20C6.49858154%2C1.45385786%206.25236439%2C1.70007502%206.25236439%2C2.00291047%20L6.25236439%2C2.82648939%20L10.8283885%2C2.82648939%20L10.8283885%2C2.00291047%20C10.8283885%2C1.70007502%2010.5821713%2C1.45385786%2010.2793358%2C1.45385786%20L6.801417%2C1.45385786%20Z%22%20transform%3D%22translate%280%20.158%29%22/%3E%3C/svg%3E') center top no-repeat;
	margin-right: 5px;
}