table.bx-interface-grid {width:100%; cursor:default; color:black; border-collapse:separate;}
table.bx-interface-grid > tbody > tr > td {padding:6px; border-right:1px solid #EDEDED;  vertical-align: middle;}
table.bx-interface-grid td.bx-left {border-left:1px solid #EDEDED;}
body table.bx-interface-grid tr td.bx-left {
	border-left: 1px solid #EDEDED;
	border-right: 1px solid #EDEDED;
	border-top: 0 none;
	text-align: center;
	vertical-align: middle;
}
table.bx-interface-grid td.bx-right {}
table.bx-interface-grid tr.bx-grid-head td {
	padding:5px !important;
	border-right:1px solid #EBEBEB;
	border-bottom:1px solid #CDCDCD;
	border-top:none; border-left:none;
	color:black;
	font-weight:bold;
	background-color:#D9D9D9;
	background-image:url(images/listhead.png);
	background-repeat:repeat-x;
	background-position:top;
	cursor:default;
}
table.bx-interface-grid tr.bx-grid-head td.bx-left {border-left:1px solid #D6D6D6; border-radius: 4px 0 0 4px;}
table.bx-interface-grid tr.bx-grid-head td.bx-right {border-right:1px solid #D6D6D6; border-radius: 0 4px 4px 0;}

table#tab_params_edit_table td.bx-field-value {vertical-align: middle;}

table#tab_params_edit_table td.bx-field-value span.crm-dup-control-type-info {
	margin: 4px 0;
	padding: 4px;
	display: block;
}
.crm-dup-control-type-info span.bold { font-weight: bold; }