.landing-item-add-developer-site
{
	background-color: rgba(255,255,255, .15);
	box-shadow: none;
	cursor: pointer;
}

.landing-item.landing-item-add-developer-site:hover {
	box-shadow: none;
	transform: none;
}

.landing-item-add-developer-site .landing-item-inner {
	border: 2px dashed rgba(82,92,105,.3);
}

.landing-item-add-developer-site:hover .landing-item-add-icon:before,
.landing-item-add-developer-site:hover .landing-item-add-icon:after {
	background-color: #b0b8c0;
}

.landing-item-add-developer-site:hover .landing-item-inner {
	border-color: rgba(82,92,105,.5);
}

.bitrix24-light-theme .landing-item-add-developer-site .landing-item-inner {
	border-color: rgba(255,255,255, .53);
}

.bitrix24-light-theme .landing-item-add-developer-site:hover .landing-item-inner {
	border-color: rgba(255,255,255, 1);
}

.bitrix24-light-theme .landing-item-add-developer-site:hover .landing-item-add-icon {
	background-color: rgba(255,255,255,.40);
}

.bitrix24-light-theme .landing-item-add-developer-site:hover .landing-item-add-icon:before,
.bitrix24-light-theme .landing-item-add-developer-site:hover .landing-item-add-icon:after {
	background-color: #fff;
}