
.mail-uf-message-wrapper {
	margin-bottom: 10px;
	padding: 10px 15px;
	background: rgb(255,254,239);
	font-size: 13px;
	line-height: 18px;
	color: #333;
}

.mail-uf-message-separator {
	margin: 6px 0;
	border-top: 1px solid rgb(237,237,225);
}

.mail-uf-message-h {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

.mail-uf-message-date {
	font-size: 12px;
	line-height: normal;
	color: rgb(168,173,180);
}

.mail-uf-message-rcpt {
	color: rgb(168,173,180);
}

.mail-uf-message-body {
	max-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mail-uf-message-body-expand {
	line-height: 20px;
}

.mail-uf-message-files {
	line-height: 27px;
	color: #5e6675 !important;
	border-bottom: 1px dashed;
}

.mail-uf-message-counter {
	float: right;
	border: 1px solid rgb(220,220,210);
	border-radius: 20px;
	padding: 0 5px;
	font-size: 12px;
	color: #5e6675 !important;
}

.mail-uf-message-counter-icon {
	display: inline-block;
	width: 11px;
	height: 8px;
	background: url(images/mail.svg);
}
