
.crm-mail-template-edit-form-switches-wrapper {
	float: right;
	font: 13px/24px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
}

.crm-mail-template-edit-form-switch {
	display: inline-block;
	border-left: 1px solid rgba(82,92,105,.1);
	padding: 0 14px;
}

.crm-mail-template-edit-form-switch:first-child {
	border-left: none;
}

.crm-mail-template-edit-form-switch-checkbox,
.crm-mail-template-edit-form-switch-label {
	vertical-align: middle;
}
