.crm-iframe-popup.crm-detail-page.template-bitrix24.crm-iframe-popup-no-scroll.crm-order-payment-voucher-wrapper  { padding: 0 15px; }
.crm-order-payment-voucher-wrapper .crm-entity-card-container{
	width:100%;
	max-width: 500px;
}
.crm-order-payment-voucher-wrapper .crm-entity-widget-content-block-edit-action-btn.crm-entity-widget-content-block-edit-action-btn-added{
	margin: 10px 0 50px;
}
