.intranet-socnet-email {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #858c96;
	position: relative;
}

.intranet-socnet-email-intro {
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}

.ui-page-slider-wrapper .intranet-socnet-email-intro {
	margin: -15px -15px 20px -15px;
	padding: 0 0 25px 0;
	background: #eef2f4;
}

.intranet-socnet-email-tr {
	display: flex;
	padding-bottom: 13px;
	margin-bottom: 13px;
	border-bottom: 1px solid rgba(82,92,105,.1);
}

.intranet-socnet-email-td {
	flex: 1;
	font-size: 14px;
	line-height: 20px;
	align-self: center;
	padding: 0 5px;
}

.intranet-socnet-email-td:last-of-type {
	text-align: right;
}

.intranet-socnet-email-link-copy {
	color: #2066b0;
	display: inline-block;
	border-bottom: 1px dashed rgba(39,107,179,.4);
	cursor: pointer;
}

.intranet-socnet-email-link-copy:hover {
	border-bottom: 1px dashed rgba(39,107,179,.6);
}

.intranet-socnet-email-warning {
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
	padding-top: 20px;
	border-top: 1px solid rgba(82,92,105,.1);
}

.ui-page-slider-wrapper .intranet-socnet-email-warning {
	bottom: -25px;
}

.intranet-socnet-email-warning .ui-alert-warning {
	background: #fdfae1;
	color: #525c69;
	font-size: 13px;
}

.intranet-socnet-email-warning .ui-alert-warning a {
	color: #2066b0;
	display: inline-block;
	border-bottom: 1px dashed rgba(39,107,179,.4);
	cursor: pointer;
}

.intranet-socnet-email-warning .ui-alert-warning a:hover {
	border-bottom: 1px dashed rgba(39,107,179,.6);
}