.reports-constructor {font-family:Arial, sans-serif;}
.report-table-wrap {/*overflow-x: auto; */position: relative;}
.reports-list-left-corner {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -117px 0; font-size: 1px; height: 2px; left:0; position: absolute; top:0; width: 2px; z-index: 1;}
.reports-list-right-corner {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -117px -2px; font-size: 1px; height: 2px; right: 0; position: absolute; top:0; width: 2px; z-index: 1;}
.reports-title-buttons { float:right; white-space: nowrap;}
.reports-title-button {cursor: pointer; display: inline-block; height: 19px; outline: medium none; text-decoration: none !important; vertical-align: top;}
.reports-title-button-back-icon,
.reports-title-button-create-icon,
.reports-title-button-excel-icon,
.reports-title-button-edit-icon {background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat ; display: inline-block; height: 19px; vertical-align: top; width: 12px;}
.reports-title-button-back-icon {background-position:-1px -578px;}
.reports-title-button-create-icon {background-position:-19px -470px;}
.reports-title-button-excel-icon {background-position:0px -1253px; width: 14px}
.reports-title-button-edit-icon {background-position:-4px -402px; width:13px;}

.reports-link {display: inline-block; color: #0069C4; cursor:pointer; font-size: 12px;font-family: Arial,Helvetica,sans-serif; height: 19px; line-height: 19px; margin:0 0 0 5px; vertical-align: top; text-decoration: underline;}
.reports-constructor .webform-content {padding-top:2px;}
.reports-title-label {color:#92907E; font-size:13px; padding:5px 0 6px 4px;}
.reports-new-title-wrap {background-color:#fff; border: 1px solid #D9D9D9; margin-bottom:8px; height:27px; padding:4px 12px 0;}
* + html .reports-new-title-wrap { height:28px; padding:3px 12px 0;}
.reports-new-title {background-color:#fff; border:none; color: #000; font-size: 19px; margin-left: -12px; outline:none; padding: 0 11px; width: 100%; }
.reports-reporting-period {height:23px; margin:0; width:233px;}

.reports-dashed {color:#0069c4; border-bottom:1px #0069c4 dashed;}

.reports-content-block {background-color:#eee;/* border:1px solid #ddd;*/ color:#303030; margin-bottom:5px; padding:10px;}
.reports-content-block-title {color:#777; display:inline-block; font-size:13px; font-weight:bold; padding:0 8px 8px; vertical-align:middle;}

.reports-checkbox {margin:0; height:13px; width:13px; vertical-align:middle;}

.reports-add-columns-block {border-top:1px solid #d6d6d6; position:relative; padding:12px 0 23px;}
.reports-add-columns-bl {padding:20px 0 0;}
.reports-forming-column {padding:12px 10px 0;}
.reports-add-col-checkbox {display:inline-block; margin-right:6px; position:relative; vertical-align:middle;}
.reports-checkbox-arrow {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -108px 0;  display:block; left:14px; height:12px; top:1px;  position:absolute;  width:5px;}
.reports-add-col-buttons-bl {display:inline-block; margin-right:8px; vertical-align:middle;}
.reports-add-col-title {display:inline-block; cursor:default; font-size:14px; height:21px; padding-right:57px; position:relative;  vertical-align:middle;}
.reports-add-col-tit-text {display:inline-block; vertical-align:top;}
.reports-add-col-input {display: none; position:relative; padding-left:5px; vertical-align:top; }
.reports-add-col-input input {background:#fff; border:1px solid #c9c9c9; height:17px; color:#000; max-width:150px; outline:none; margin:0; padding:0 1px;}
.reports-add-col-inp-title {display:inline-block; font-size:11px; color:#a6a6a6; top:-12px; left:5px; position:absolute;}
.reports-add-col-title:hover .reports-add-col-tit-prcnt,
.reports-add-col-title:hover .reports-add-col-tit-prcnt-close,
.reports-add-col-title:hover .reports-add-col-tit-edit,
.reports-add-col-title:hover .reports-add-col-tit-remove {display:block;}
.reports-add-col-select {margin-left:5px; vertical-align:middle; min-width:80px; display: none}
.reports-add-col-button-down,
.reports-add-col-button-up {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat; cursor:pointer; display:inline-block; margin-right:1px; height:21px; width:29px;}
.reports-add-col-button-down {background-position:0 -86px;}
.reports-add-col-button-up {background-position: -30px -86px;}
.reports-add-col-button-down:hover {background-position: -61px -86px;}
.reports-add-col-button-up:hover {background-position: -91px -86px;}

.reports-add-col-tit-prcnt,
.reports-add-col-tit-prcnt-close,
.reports-add-col-tit-edit,
.reports-add-col-tit-remove {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat; cursor:pointer; display:none; height:17px;  position:absolute; width:17px;}

.reports-add-col-tit-prcnt {background-position:-30px -134px; top:1px; right:34px;}
.reports-add-col-tit-prcnt-close {background-position:-47px -134px; top:1px; right:34px;}
.reports-add-col-tit-edit {background-position:-64px 3px; top:1px; right:17px;}
.reports-add-col-tit-remove {background-position:-87px 3px; top:1px; right:0;}

.reports-add-col-tit-prcnt:hover {background-position:-65px -134px; background-color:#e0e0e0;}
.reports-add-col-tit-prcnt-close:hover {background-position:-82px -134px; background-color:#e0e0e0;}
.reports-add-col-tit-edit:hover {background-position:-64px -12px; background-color:#e0e0e0;}
.reports-add-col-tit-remove:hover {background-position:-87px -12px; background-color:#e0e0e0;}

.reports-add-column {font-size:14px; padding:8px 0 0 23px; position:relative;}
.reports-checkbox-title {color:#a6a6a6; display:inline-block; line-height:11px; font-size:11px; margin-right:15px; vertical-align:middle; width:60px;}
.reports-add-column-link {display:inline-block; cursor:pointer; vertical-align:middle;}

.reports-sort-column {border-top:1px solid #e0e0e0; padding:14px 0 6px 0;}
.reports-sort-column .reports-content-block-title {color:#555; font-weight:normal; padding-bottom:0;}
.reports-sort-select {vertical-align:middle; width:215px;}
.reports-sort-type-select {vertical-align:middle;}
.report-column-disabled-sort:hover {cursor: default!important; background-color: #F4F0D2!important; border-right-color: #ECE8CB!important; border-top-color: #ECE8CB!important}

.reports-limit-results {display: none;}
.reports-title-filter {display:block; border-bottom:1px solid #d6d6d6; }
.reports-filter-block {padding:19px 0 26px 6px; position:relative;/* width:634px;*/}

.reports-title-sharing {padding: 0 8px 8px; display:block; border-bottom:1px solid #d6d6d6; height: 15px;}
.report-sharing-block {padding:19px 0 26px 6px; width: 634px;}

/*.reports-filter-block {width:641px\9;}*/
.reports-filter-block .reports-filter-item .reports-filter-column-helper {display: inline-block; vertical-align: top;}
.reports-filter-item,
.reports-filter-andor-item {margin-top:12px; position:relative; padding-right: 160px;}
.reports-limit-res-select {margin:0 8px; vertical-align:middle; width:80px;}
.reports-limit-res-select-lable {display:inline-block; vertical-align:middle;}
.reports-filter-select {height:22px; color:#343434; margin:0 5px; vertical-align:top; width:193px;}
.reports-filter-select-small {height:22px; color:#343434; margin:0 5px 0 0; width:115px; vertical-align:middle;}
.reports-filter-select-small[multiple="multiple"] {height: auto;}
.reports-filter-input {color:#343434; border-width:1px; height:16px; margin:0 5px 0 0; padding:2px; vertical-align:middle; width:110px;}
.reports-filter-item-name {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat 0 -109px; cursor:pointer; display:inline-block; font-size:13px; margin-right:2px; line-height:14px; height:20px; padding:3px 0 0 7px; vertical-align:top; width:148px;}
.reports-filter-item-name  .reports-dashed {display:inline-block; vertical-align:middle; overflow:hidden; max-width:140px; white-space:nowrap;}
.reports-filter-butt-wrap {display:block; text-align:right; margin-top:-1px; top:0; right:0; position:absolute; white-space:nowrap; width:155px;}
.reports-filter-butt-wrap {width:160px\9;}
.reports-filter-del-item,
.reports-filter-add-item {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat 0 0; color:#000; cursor:pointer; display:inline-block; font-size:22px; height:27px; margin-right:5px; text-align:center; padding-right:2px; vertical-align:middle; width:27px;}
.reports-filter-del-item i,
.reports-filter-add-item i {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat; display:inline-block; margin-top:7px; text-align:center; height:10px; vertical-align:top; width:10px;}
.reports-filter-add-item i {background-position:-122px -6px;}
.reports-filter-del-item i {background-position:-122px 4px;}
.reports-filter-del-item:hover,
.reports-filter-add-item:hover {background-position:-31px 0;}
.reports-filter-and-or { display:inline-block; cursor:pointer; height:27px; margin-right:9px;  vertical-align:middle;}
.reports-filter-and-or i {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat right -29px; display:inline-block; margin-left:-7px; height:27px; vertical-align:top; width:7px;}
.reports-filter-and-or:hover .reports-filter-and-or-text {background-position: 0 -58px;}
.reports-filter-and-or:hover i {background-position: right -58px;}
.reports-filter-and-or-text {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat 0 -29px; color:#000; display:inline-block; margin-right:7px; font-size:12px; padding:5px 6px 0 11px; height:22px; vertical-align:top;}
.reports-filter-and-or-disable {cursor:default;}
.reports-filter-and-or-disable .reports-filter-and-or-text{color:#999;}
.reports-filter-and-or-disable:hover .reports-filter-and-or-text {background-position: 0 -29px;}
.reports-filter-and-or-disable:hover i {background-position: right -29px;}
.reports-filter-sub-lev {padding-left:24px;}
.reports-filter-sub-lev .reports-filter-select {width:178px;}
.reports-filter-sub-lev .reports-filter-select-small {width:106px;}
.reports-filter-sub-lev .reports-filter-input {width:100px;}
.reports-filter-2-lev .reports-filter-select {width:178px;}
.reports-filter-2-lev .reports-filter-select-small {width:106px;}
.reports-filter-2-lev .reports-filter-input {width:100px;}
.reports-filter-3-lev .reports-filter-select {width:163px;}
.reports-filter-3-lev .reports-filter-select-small {width:97px;}
.reports-filter-3-lev .reports-filter-input {width:91px;}
.reports-filter-4-lev .reports-filter-select {width:148px;}
.reports-filter-4-lev .reports-filter-select-small {width:88px;}
.reports-filter-4-lev .reports-filter-input {width:82px;}
.reports-filter-5-lev .reports-filter-select {width:133px;}
.reports-filter-5-lev .reports-filter-select-small {width:79px;}
.reports-filter-5-lev .reports-filter-input {width:73px;}
.reports-filter-6-lev .reports-filter-select {width:118px;}
.reports-filter-6-lev .reports-filter-select-small {width:70px;}
.reports-filter-6-lev .reports-filter-input{width:64px;}

.report-filter-calendar {display:inline-block; vertical-align:middle;}
.report-filter-calendar .reports-filter-input {margin-right:3px; width:85px;}
.report-filter-calendar .reports-filt-calen-img {display:inline-block; cursor:pointer; vertical-align:middle;}
.reports-filter-sub-lev .report-filter-calendar .reports-filter-input {width:75px;}
.reports-filter-2-lev .report-filter-calendar .reports-filter-input {width:75px;}
.reports-filter-3-lev .report-filter-calendar .reports-filter-input {width:66px;}
.reports-filter-4-lev .report-filter-calendar .reports-filter-input {width:57px;}
.reports-filter-5-lev .report-filter-calendar .reports-filter-input {width:48px;}
.reports-filter-6-lev .report-filter-calendar .reports-filter-input {width:39px;}

.report-filter-vcc {display:inline-block; vertical-align:middle;}

.reports-filter-checkbox-title {right:4px; bottom:0; padding-right:12px; position:absolute;}
.reports-filter-checkbox-arrow {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -108px -14px; height:12px; right:0; top:-3px; position:absolute; width:7px;}
.reports-filter-checkbox-tit-text {color:#a6a6a6; display:inline-block; font-size:11px;}

.reports-filter-quan-item {padding:0 0 5px 5px;}
.reports-filter-quan-item .reports-checkbox {margin-right:5px;}
.reports-filter-quan-inp {margin-left:5px; width:36px; vertical-align:middle; padding: 2px; border-width: 1px; background-color: #eeeeee; height:14px;}

.reports-add_col-popup-title {color:#4c4c4c; padding-left:10px;}
.reports-add_col-popup-cont {font-family:Arial, sans-serif; overflow:hidden; width:305px;}
.reports-add_col-popup {max-height:200px; overflow:auto; padding: 10px 0 0 17px;}

.reports-preview-table-report {margin-top:25px; padding-top:10px; position:relative;}
.reports-preview-table-report .webform-small-button-accept {position:absolute; right:0; top:0;}
.reports-prev-table-title {color:#4c4c4c; display:inline-block; font-size:15px; padding-bottom:12px;}
.reports-list {font: 12px Arial,Helvetica,sans-serif; overflow-x:auto; position: relative;}
.reports-preview-table-report .reports-list-left-corner {background-position:-117px -5px; top:0; left:0;}
.reports-preview-table-report .reports-list-right-corner {background-position:-117px -7px; top:0; right:0;}

.reports-list-table {border-bottom: 1px solid #E5E5E5; position: relative; min-width: 100%; width: 100%}
.reports-list-table th {background: none repeat scroll 0 0 #F4F0D2; border-top: 1px solid #ece8cb; border-right: 1px solid #ece8cb; color: #58564C; font: 12px Arial,Helvetica,sans-serif; overflow: hidden; padding: 8px 17px 8px; text-align: left;}
.reports-list-item {position:relative;}
.reports-list-table th:hover {background-color: #e9e8c4; border-top-color:#e5e0b9; border-right-color:#e5e0b9; cursor:pointer;}
td.reports-first-column {border-left: 1px solid #e5e5e5;}
th.reports-first-column {border-left: 1px solid #ece8cb;}
th.reports-first-column:hover {border-left: 1px solid #e5e0b9;}
.reports-list-table td {border-top: 1px solid #e5e5e5; border-right:1px solid #e5e5e5; padding: 14px 17px 14px ; text-align: left; overflow:hidden; vertical-align:middle; }
.reports-list-item:hover td{background-color: #F9F9F9;}
.reports-head-cell {position:relative;}
.reports-head-cell-title {display: block; overflow: hidden; text-overflow:ellipsis;}
.reports-table-arrow {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -135px 0; display:none; left:-10px; top:5px; height:8px; position:absolute; width:5px;}
.reports-head-cell-top .reports-table-arrow {background-position:-135px -10px; top:4px;}
.reports-list-table th:hover .reports-table-arrow,
.reports-selected-column .reports-table-arrow {display:block;}
.reports-list-table th.reports-selected-column {background-color:#E6E0B5;  border-color:#DED8AF;}
.reports-pretotal-column {border-right: none!important; padding-left: 0px!important;}
.reports-total-column {background-color: #F0F0F0; font: 12px Arial,Helvetica,sans-serif; padding: 8px 17px 8px!important;}

.task-head-cell-sort-clear {cursor: pointer; display:none; height: 13px; right:-11px; outline: medium none; position: absolute; top:1px; width: 14px;}
.reports-head-cell-sort-clear-icon {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -117px -16px; display: block; height: 13px; width: 14px;}
th.reports-selected-column .task-head-cell-sort-clear {display:block;}
.task-head-cell-sort-clear:hover {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -10px -133px;}

.reports-list-wrap .reports-list-table td, .reports-list-wrap .reports-list-table th {border-right:none;}
.reports-list-table td.reports-last-column, .reports-list-table th.reports-last-column {border-right:1px solid;}
.reports-list-table td.reports-numeric-column {text-align: right;}
.reports-list-table td.reports-last-column {border-right-color:#e5e5e5;}
.reports-list-table th.reports-last-column {border-right-color:#ece8cb;}
.reports-list-table th.reports-last-column:hover {border-right-color:#e4e0c6;}
.reports-list .reports-list-table th.reports-first-column {font-size:14px; width: 50%}
.reports-list .reports-list-table th.reports-second-column {font-size:14px; width: 30%}
.reports-list .reports-list-table th.reports-last-column {font-size:14px; width: 20%}

.reports-list .reports-list-table td.reports-first-column {font-size:14px; width: 40%}
.reports-list .reports-list-table td.reports-menu-column {font-size:14px; width: 10%}
.reports-list .reports-list-table td.reports-second-column {font-size:14px; width: 30%}
.reports-list .reports-list-table td.reports-last-column {font-size:14px; width: 20%}

.reports-list-table  .reports-date-column {color:#888888;}
.reports-list-table  .reports-title-link,
.reports-list-table  .reports-title-link:link,
.reports-list-table  .reports-title-link:visited {color: #000000; font-size: 14px; text-decoration: none;}
.reports-list-table  .reports-title-link:hover {color: #000000; text-decoration: underline;}

.reports-menu-button {cursor: pointer; display: inline-block; height: 19px; outline: medium none; width: 22px;}
.reports-menu-button-icon {background:url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -18px -324px; display:inline-block; height: 19px; width: 22px;}
.reports-menu-button:hover, .reports-menu-button-selected {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -126px -87px;}
.reports-menu-button:hover .reports-menu-button-icon, .reports-menu-button-selected .reports-menu-button-icon{background-position:-18px -337px;}

.filter-date-interval .filter-date-interval-from-wrap,
.filter-date-interval .filter-date-interval-to-wrap {display:none;}
.filter-field-date-combobox span.filter-date-interval-before,
.filter-field-date-combobox span.filter-date-interval-after {display:inline-block; vertical-align:top;}
.reports-constructor .filter-date-interval-from,
.reports-constructor .filter-date-interval-to {background-color:#fff; border:1px solid #d9d9d9; height:17px; vertical-align:top; width:100px;}
.filter-date-interval-before .filter-date-interval-from-wrap {display:inline-block;}
.filter-date-interval-after .filter-date-interval-to-wrap {display:inline-block;}
.reports-constructor .filter-date-interval-calendar {display:inline-block; cursor:pointer; margin:1px 0 0 3px; vertical-align:top;}
/*.reports-constructor */.filter-date-interval-hellip {display:inline-block; line-height:12px; margin:0 3px; vertical-align:top;}
* + html .reports-constructor .filter-date-interval-hellip {line-height:15px;}
.reports-constructor   span.filter-date-interval-after.filter-date-interval-before {display:inline-block; margin-top:0 ; vertical-align:top;}
.reports-page-filter-report .filter-date-interval-after.filter-date-interval-before {display:block; margin-top:5px;}

.filter-textbox {padding:2px; margin:0; border-width:1px; outline:none; height:16px;}
* + html .filter-textbox {height:14px;}
.filter-dropdown {height:22px; padding:0; border-width:1px;}
.filter-field-group,
.filter-field-user {position:relative;}
div.filter-field span.webform-field-textbox-inner {background-color:#fff; padding: 0 20px 0 4px; position:relative; width:200px;}
div.filter-field input.webform-field-textbox {height:20px; width:200px; padding:0;}
.filter-field .webform-field-textbox-clear {top:-3px; right:-3px;}
.filter-field-calendar {width:90px;}

.reports-add-popup-item {color:#000; cursor:default; font-size:13px; margin-right:5px; padding:6px 5px; min-height:9px; display: flex}
.reports-add-popup-item:hover {background-color:#f8f8f8;}
.reports-add-popup-checkbox-block {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -143px 0; height:12px; margin:0 6px 0 0; overflow:hidden; width:13px;}
.reports-add-popup-checked .reports-add-popup-checkbox-block {background-position:-143px -15px;}
.reports-add-popup-checkbox {margin:-15px 0 0 -15px; height:15px; padding:0; width:15px;}
.reports-add-popup-arrow {background:url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -18px -178px; height: 12px; margin:0 5px 0 0; width: 12px;}
.reports-add-pop-left-bord {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -149px -86px; display:none; height:11px; width:6px; margin:-5px 7px 0 -13px; vertical-align:top;}
.reports-add-popup-it-children .reports-add-pop-left-bord {display:inline-block;}
.reports-add-popup-item-last .reports-add-pop-left-bord {margin-left:-12px;}
.reports-add-popup-arrow-open .reports-add-popup-arrow {background-position:-18px -194px; display:inline-block; height: 12px; width: 12px;}
.reports-add-popup-it-text {display:inline-block; line-height:16px; margin-top:-2px; max-width:250px; overflow:hidden; text-overflow:ellipsis; vertical-align:top;}
.reports-add-popup-it-node .reports-add-popup-it-text {max-width:230px;}
* + HTML .reports-add-popup-it-text {line-height:16px;}
.reports-add-popup-it-node {cursor:pointer;}
.reports-add-popup-it-node .reports-add-popup-it-text {color:#555;}
.reports-add-popup-it-children {display:none; padding:0 0 6px 6px;}
.reports-child-opened {display:block;}
.reports-add-popup-it-children .reports-add-popup-item {border-left:1px solid #e3e3e3; padding:3px 0 3px 12px;}
* + html .reports-add-popup-it-children .reports-add-popup-item {padding-bottom:4px;}
.reports-add-popup-it-children .reports-add-popup-item-last {border:none; padding-bottom:0;}
* + html .reports-add-popup-it-children .reports-add-popup-item-last {height:4px;}
.reports-add-popup-it-children .reports-add-popup-it-text {max-width:230px;}

.reports-add_filcol-popup-cont {padding-bottom:10px;}
.reports-add_filcol-popup-cont .reports-add-popup-checkbox-block {display:none;}
.reports-add_filcol-popup-cont .reports-add-popup-it-text {color:#000; cursor:pointer;}
.reports-add_filcol-popup-cont .reports-add_col-popup {padding-left:22px;}
.reports-add_filcol-popup-cont .reports-add-popup-it-node .reports-add-popup-it-text {color:#555;}
.reports-add_filcol-popup-cont .reports-add-popup-it-node .reports-add-popup-it-text:hover {text-decoration:none; color:#555;}
.reports-add_filcol-popup-cont .reports-add-popup-item {padding:5px 5px 5px;}

.reports-add-popup-it-text.uf, .reports-add-col-tit-text.uf {color: #143c78;}

.report-select-popup-link,
.report-select-popup-link:link,
.report-select-popup-link:visited {border-bottom: 1px dashed #939393; color:#939393; display:inline-block; margin-left:5px; vertical-align:middle; text-decoration:none; max-width:307px; overflow:hidden; white-space:nowrap;}
.report-select-popup-link:hover {color:#696969; border-color:#696969; text-decoration:none;}
.report-select-popup-link.report-select-popup-link-active {color:#000; border-color:#000;}
.report-select-popup-link.report-select-popup-link-active:hover {color:#3f3f3f; border-color:#3f3f3f;}

.reports-filter-sub-lev .report-select-popup-link {max-width:283px;}
.reports-filter-2-lev .report-select-popup-link {max-width:283px;}
.reports-filter-3-lev .report-select-popup-link {max-width:259px}
.reports-filter-4-lev .report-select-popup-link {max-width:235px;}
.reports-filter-5-lev .report-select-popup-link {max-width:211px;}
.reports-filter-6-lev .report-select-popup-link {max-width:187px;}


.reports-menu-popup-item-edit .menu-popup-item-icon {
    background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -84px -207px;
}
.reports-menu-popup-item-delete .menu-popup-item-icon {
    background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -63px -207px;
}
.reports-menu-popup-item-copy .menu-popup-item-icon {
    background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -42px -207px;
}
.reports-menu-popup-item-export .menu-popup-item-icon {
    background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -105px -207px;
}
.reports-menu-popup-item-sharing .menu-popup-item-icon {
    background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -21px -207px;
}

.task-filter-items { list-style: none; margin:0; padding:0; }
.task-filter-item { display: block; font-size:12px; line-height:23px;}
.task-filter .task-filter-item-link { display: block; height:23px; cursor:pointer; color: #303030 !important; text-decoration:none; outline: none; position: relative;}
.task-filter-item-left { display:inline-block; width:3px; height:23px; vertical-align:top; white-space:nowrap;}
.task-filter-item-text { display:inline-block; height:23px; padding-left: 12px; vertical-align:top;}
.task-filter-item-text .task-item-updates { vertical-align:super; margin-right:4px;}
.task-filter-item-number { display:inline-block; height:23px; text-align:right; padding-right: 13px; position:absolute; top:0; right:0; vertical-align:top;}
.task-filter-item-selected .task-filter-item-link {background: #fada84 url("/bitrix/js/report/css/images/sprites.png") repeat-x 0 -157px !important; }
.task-filter-item-selected .task-filter-item-left {background: #fada84 url("/bitrix/js/report/css/images/sprites.png") no-repeat 0 -133px !important; }
.task-filter-item-selected .task-filter-item-number {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat right -133px !important;}
.task-filter-item-link:hover { background: #e7e7e7; }
.task-filter-item-link:hover .task-filter-item-left {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat -5px -133px; }
.task-filter-item-link:hover .task-filter-item-number {background:url("/bitrix/js/report/css/images/sprites.png") no-repeat right -181px;}

.reports-description-wrap {background-color: #FFFFFF; border: 1px solid #D9D9D9; margin-bottom: 8px; padding: 4px 12px 7px;}
.reports-description {background:#fff; border:none; height:60px; margin:0; padding:0; outline:none; font-family:Arial, sans-serif; font-size:12px; resize:none; width:100%;}

.report-red-neg-val { color: red; }

/* Alert style */
.bx-report-alert {
    background-color: #fffcde;
    color: #000;
    font-size: 15px;
    min-height: 45px;
    text-align: center;
    padding: 12px 40px 12px 60px;
    position: relative;
    width: 280px;
}
.bx-report-aligner {
    display: inline-block;
    height: 45px;
    margin-left: -1px;
    vertical-align: middle;
    width: 1px;
}
.bx-report-alert-text {
    display: inline-block;
    vertical-align: middle;
}
.bx-report-alert-footer {
    text-align: center;
}
.bx-report-alert-popup {
    background-color: #fffcde !important;
    border: 1px solid #f0f0f0 !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17) !important;
    box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17) !important;
}

/* Sharing */
table.bx-report-popup-shared-people-list{
    width:100%;
    margin-bottom:25px;
    border-collapse:collapse;
}
table.bx-report-popup-shared-people-list td{
    padding-bottom:3px;
    border-bottom:1px solid #e4e8ea;
}
table.bx-report-popup-shared-people-list thead td{
    font-size:13px;
    color:rgba(0,0,0,.6);
}
/*== MODAL WINDOW ==*/
/* General */
.bx-report-popup-container{
    /*padding:10px;*/
    background:#F8FAFB;
}
.bx-report-popup-title{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    line-height:30px;
    height:30px;
    margin-bottom:10px;
    vertical-align:top;
    color:#7f858d;
    padding-top: 10px;
    padding-left: 10px;
}
.bx-report-popup-content,
.bx-report-popup-content-small{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:16px;
    min-width:500px;
    padding:20px;
    color:#000;
    border-radius:2px;
    background-color:#edf1f3;
}
.bx-report-popup-construct-content {
    background-color:#eee;
}
.bx-report-popup-content-small{
    margin-bottom: 10px;
    padding:20px 0;
}
.bx-report-popup-content .bx-report-popup-content{
    font-size:14px;
    padding:15px;
    color:#535c69;
    background-color:#f8fafa;
}
.bx-report-popup-content-title{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:15px;
    font-weight:bold;
    padding-bottom:20px;
    color:#535b69;
    border-bottom:1px solid #cfd4d8;
}
.bx-report-popup-content-title.noborder{
    border:none;
}
hr.bx-report-popup-delimiter{
    height:0;
    border:none;
    border-bottom:1px solid #cfd4d8;
}
/*Popup share list*/
.bx-report-popup-share-list{
    font-size:12px;
    color:#c0c2c6;
}
.bx-report-people{
    font-size:13px;
    line-height:19px;
    vertical-align:middle;
    text-decoration:none;
    color:#535c69;
}
.bx-report-avatar{
    line-height:19px;
    display:inline-block;
    width:19px;
    height:19px;
    margin-right:5px;
    vertical-align:middle;
    border-radius:50%;
    -webkit-background-size:19px auto;
    background-size:19px auto;
}
span.req{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    opacity:.6;
    color:#ab2424;
}
.bx-report-popup-label{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    opacity:.6;
    color:#000;
}
.bx-report-popup-input{
    display:block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    height:36px;
    vertical-align:middle;
    border:1px solid #c5cdd3;
    border-radius:2px;
    background-color:#fff;
}
.bx-report-popup-buttons{
    padding:20px 10px 10px;
    text-align:center;
}
.bx-report-popup-shared-people-list-col1{
    min-width:50%;
}
.bx-report-filepage-used-people-link{
    font-size:15px;
    font-weight:bold;
    line-height:33px;
    display:block;
    padding:8px 0;
    -webkit-transition:background .2s ease;
    -moz-transition:background .2s ease;
    -ms-transition:background .2s ease;
    -o-transition:background .2s ease;
    transition:background .2s ease;
    vertical-align:middle;
    text-decoration:none;
    color:#535b69;
}
.bx-report-filepage-used-people-link:hover{
    background:#f2f2f2;
}
table.bx-report-popup-shared-people-list .bx-report-filepage-used-people-link:hover{
    background:transparent !important;
}
.bx-report-filepage-used-people-permission-read-only{
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
}
.bx-report-filepage-used-people-permission{
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    color:#0b65c3;
    /*border-bottom:1px solid #0b65c3;*/
    /*cursor: pointer;*/
}
.bx-report-filepage-used-people-permission:hover{
    /*border-bottom:none;*/
}
.bx-report-popup-shared-people-list-col1{
    min-width:50%;
}
.bx-report-filepage-used-people-avatar{
    line-height:33px;
    display:inline-block;
    width:33px;
    height:33px;
    margin-right:10px;
    vertical-align:middle;
    border-radius:50%;
    background-image: url("/bitrix/js/report/css/images/default_avatar.png");
    background-repeat:no-repeat;
    background-position:center;
    -webkit-background-size:cover;
    background-size:cover;
}
.bx-report-filepage-used-people-avatar.group{
    background-image: url("/bitrix/js/report/css/images/default_groupe.png");
}

/* Button */
.bx-report-btn{
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    display:inline-block;
    /*margin-bottom:10px;*/
    padding:0 15px;
    cursor:pointer;
    -webkit-transition:background .5s ease;
    -moz-transition:background .5s ease;
    -ms-transition:background .5s ease;
    -o-transition:background .5s ease;
    transition:background .5s ease;
    text-align:center;
    vertical-align:middle;
    text-decoration:none;
    text-transform:uppercase;
    color:#535b69;
    border:none;
    position: relative;
    border-radius:2px;
}

.bx-report-table-sidebar-cell .bx-report-btn,
.bx-report-sidebar-section .bx-report-btn{
    margin-bottom:10px;
}

.bx-report-btn-big{
    line-height:40px;
    height:40px;
}
.bx-report-btn-medium{
    line-height:32px;
    height:32px;
}
.bx-report-btn-small{
    line-height:29px;
    height:29px;
}
.bx-report-btn-gray{
    color:#fff;
    background-color:#868d96;
}
.bx-report-btn-gray:hover{
    color:#fff;
    background-color:#6c7177;
}
.bx-report-btn-green{
    background-color:#bbed21;
}
.bx-report-btn-green:hover{
    color:#535b69;
    background-color:#a9de04;
}
.bx-report-btn-lightgray{
    background-color:#d9dfe3;
}
.bx-report-btn-lightgray:hover{
    color:#535b69;
    background-color:#cfd3d6;
}
.bx-report-btn-transparent{
    background-color:transparent;
}
.bx-report-btn-transparent:hover{
    color:#535b69;
    background-color:#e5e8eb;
}

.bx-report-btn-transparent.border{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:border .5s ease, background .5s ease;
    -moz-transition:border .5s ease, background .5s ease;
    -ms-transition:border .5s ease, background .5s ease;
    -o-transition:border .5s ease, background .5s ease;
    transition:border .5s ease, background .5s ease;
    border:1px solid #c4cace !important;
    border-right:2px;
}
.bx-report-btn-transparent.border:hover{
    color:#535b69;
    border-color:#9fa4ab !important;
}

.bx-report-btn.clock{
    color: rgba(0,0,0,.0);
    /*font-size: 0px;*/
}
.bx-report-btn.clock:before{
    font-family:'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:10px;
    line-height:10px;
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    width:15px;
    height:20px;
    margin:-10px 0 0 -10px;
    padding-right:5px;
    content:'_';
    text-align:right;
    vertical-align:middle;
    color:#fff;
    border-radius:50%;
    background:none !important;
    box-shadow:inset 0 0 0 1px #fff;
}
.bx-report-btn.clock:after{
    box-sizing: border-box;
    position: absolute;
    /*top: 50%;*/
    top: 13px;
    left: 50%;
    display: block;
    width: 1px;
    height: 7px;
    margin: 0;
    padding: 0;
    content: '';
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-animation: clock 1s infinite linear;
    animation: clock 1s infinite linear;
    background: #fff !important;
}

.bx-report-btn.transparent.clock:before,
.bx-report-btn.lightgray.clock:before,
.bx-report-btn.green.clock:before{
    color: #535C69;
    box-shadow: inset 0 0 0 1px #535C69;
}
.bx-report-btn.transparent.clock:after,
.bx-report-btn.lightgray.clock:after,
.bx-report-btn.green.clock:after{
    background: #535C69 !important;
}

.bx-report-popup-content .feed-add-destination-inp {
    background: #F8FAFA;
    border: none;
    color: #555;
    display: inline-block;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 7px 7px 0;
    height: 30px;
    min-width: 108px;
    outline: none;
    padding: 0;
    vertical-align: middle;
}

.feed-add-destination-link,
.feed-add-post-tags-add {
    border-bottom: 1px solid transparent;
    color: #2067b0;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    margin: 7px 7px 7px 18px;
    line-height: 17px;
    vertical-align: top;
    position: relative;

    -webkit-transition: border-bottom-color 0.2s linear;
    transition: border-bottom-color 0.2s linear;
}

.feed-add-destination-link:before,
.feed-add-post-tags-add:before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAH0lEQVQoz2NgQAIK6Rv+gzADLkCeApggLkxYAe0dCQDF5T3p5/14OgAAAABJRU5ErkJggg==) no-repeat center;
    content: '';
    height: 8px;
    left: -14px;
    position: absolute;
    top: 5px;
    width: 8px;
}

.feed-add-destination-link:hover,
.feed-add-post-tags-add:hover {
    border-bottom: 1px solid;
}

.feed-add-destination-input-box {
    display: none;
}

.bx-report-filepage-used-people-del{
    display:inline-block;
    width:20px;
    height:15px;
    cursor:pointer;
    -webkit-transition:opacity .2s;
    -moz-transition:opacity .2s;
    -o-transition:opacity .2s;
    transition:opacity .2s;
    opacity:.4;
    background:url("/bitrix/js/report/css/images/sprites.png") no-repeat 0 -207px;
}

.bx-report-filepage-used-people-del.active,
.bx-report-filepage-used-people-del:hover{
    opacity:1;
}
.bx-report-popup-shared-permision-container{
    margin-top:10px;
    margin-bottom:10px;
}
.bx-report-popup-shared-permision-input{
    line-height:16px;
    height:16px;
    vertical-align:middle;
}
.bx-report-popup-shared-permision-list{
    width:100%;
    margin-bottom:20px;
    border-collapse:collapse;
}
.bx-report-popup-shared-permision-list td{
    font-size:14px;
    padding:5px 8px;
    vertical-align:top;
    color:#535b69;
}
.bx-report-popup-shared-permision-list-col1{
    width:30%;
    text-align:right;
}
.bx-report-popup-shared-permision-list-col2{
    font-weight:bold;
    width:70%;
}
.bx-report-popup-shared-permision-list-col2 span{
    font-size:12px;
    font-weight:normal;
    display:block;
    padding-top:3px;
    opacity:.6;
}
.filter-wrapper{
    padding: 0 5px 10px 10px;
}
.filter-lable{
    padding: 0 5px 0 0;
}
.filter-delete-user
{
    margin-left: 5px;
}
.file-wrapper {
    display: block; text-align: left;
    margin-top: 10px;
}
.bx-report-input-file {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.bx-report-input-file span.bx-lists-small-button {
    color: #535c69;
    font-size: 12px;
    line-height: 38px;
    font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.bx-report-input-file input[type="file"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 2;
    height: 40px;
    background: transparent;
    font-size: 0px; width: 170px;
}
.bx-report-input-file-name {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #535c69;
    font-weight: normal;
}
.bx-report-description-import {
    font-size:12px;
    color:#80868e;
    font-weight: bold;
}
.bx-report-popup-content-import
{
    min-width:340px;
}
.report-destination-wrap-construct
{
    background-color: #f8fafa;
}
.reports-content-block .feed-add-destination-inp {
    background: #F8FAFA;
    border: none;
    color: #555;
    display: inline-block;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 7px 7px 0;
    height: 30px;
    min-width: 108px;
    outline: none;
    padding: 0;
    vertical-align: middle;
}
.report-lable-field-inner {
    display: inline-block;
    padding: 7px 60px 7px 0;
    margin: 0;
    position: relative;
}
.reports-lable-title {
    color:#777;
    font-size:13px;
    font-weight:bold;
    float: left;
    padding: 0 7px 0 0;
}
.report-options-help {
    width: 15px;
    height: 15px;
    background: url("/bitrix/js/report/css/images/sprites.png") no-repeat -3px -228px;
    cursor: help;
    float: left;
    font-size: 0;
}
.report-entity-title
{
    font-size: 16px;
    line-height: 5px;
    padding: 15px 5px 15px 15px;
    font-weight: bold;
    color: #535c69;
}
.report-entity-title.report-entity-title-blue {
    background-color: #d6f1fb;
}
.report-table-title
{
    padding: 15px 5px 15px 15px;
    font-weight: bold;
    color: #535c69;
}
.reports-list-wrap
{
    margin-top: 10px;
    margin-bottom: 45px;
}

.reports-title-excel-icon .menu-popup-item-icon,
.reports-title-copy-icon .menu-popup-item-icon,
.reports-title-edit-icon .menu-popup-item-icon {
	width: 16px;
	height: 16px;
	background-size: cover;
}

.reports-title-edit-icon .menu-popup-item-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2011%2011%22%3E%0A%20%20%3Cpath%20fill%3D%22%23525C6A%22%20d%3D%22M477.632728%2C2623%20L479.990424%2C2625.3577%20L472.756366%2C2632.59007%20L470.398669%2C2630.23237%20L477.632728%2C2623%20Z%20M469.008709%2C2633.6642%20C468.985065%2C2633.75371%20469.010398%2C2633.84829%20469.074576%2C2633.91416%20C469.140443%2C2633.98003%20469.235021%2C2634.00536%20469.324532%2C2633.98003%20L472.119652%2C2633.22678%20L469.761956%2C2630.86908%20L469.008709%2C2633.6642%20Z%22%20transform%3D%22translate%28-469%20-2623%29%22/%3E%0A%3C/svg%3E%0A');
}

.reports-title-copy-icon .menu-popup-item-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%0A%20%20%3Cpath%20fill%3D%22%23525C6A%22%20d%3D%22M1.89826027%2C8.47191961%20L1.89826027%2C2.09378006%20C1.89826027%2C1.98625485%201.98625485%2C1.89826027%202.09378006%2C1.89826027%20L8.47191961%2C1.89826027%20C8.57944483%2C1.89826027%208.66749277%2C1.98625485%208.66749277%2C2.09378006%20L8.66749277%2C2.40130751%20L10.565753%2C2.40130751%20L10.565753%2C0.640348669%20C10.565753%2C0.288156901%2010.2775428%2C0%209.92540436%2C0%20L0.640348669%2C0%20C0.288156901%2C0%200%2C0.288156901%200%2C0.640348669%20L0%2C9.92540436%20C0%2C10.2775428%200.288156901%2C10.565753%200.640348669%2C10.565753%20L2.29458273%2C10.565753%20L2.29458273%2C8.6674394%20L2.09378006%2C8.6674394%20C1.98625485%2C8.6674394%201.89826027%2C8.57949819%201.89826027%2C8.47191961%20L1.89826027%2C8.47191961%20Z%20M12.1209465%2C11.9139615%20C12.1209465%2C12.0278225%2012.0278225%2C12.1209465%2011.9139615%2C12.1209465%20L5.16139736%2C12.1209465%20C5.04753633%2C12.1209465%204.95435731%2C12.0278225%204.95435731%2C11.9139615%20L4.95435731%2C5.16139736%20C4.95435731%2C5.04753633%205.04753633%2C4.95435731%205.16139736%2C4.95435731%20L11.9139615%2C4.95435731%20C12.0278225%2C4.95435731%2012.1209465%2C5.04753633%2012.1209465%2C5.16139736%20L12.1209465%2C11.9139615%20Z%20M13.2686069%2C3.05446862%20L3.71344529%2C3.05446862%20C3.35100812%2C3.05446862%203.05446862%2C3.35100812%203.05446862%2C3.71344529%20L3.05446862%2C13.2686069%20C3.05446862%2C13.6309891%203.35100812%2C13.9275835%203.71344529%2C13.9275835%20L13.2686069%2C13.9275835%20C13.6309891%2C13.9275835%2013.9275835%2C13.6309891%2013.9275835%2C13.2686069%20L13.9275835%2C3.71344529%20C13.9275835%2C3.35100812%2013.6309891%2C3.05446862%2013.2686069%2C3.05446862%20L13.2686069%2C3.05446862%20Z%22/%3E%0A%3C/svg%3E%0A');
}

.reports-title-excel-icon .menu-popup-item-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%2318823A%22%20d%3D%22M11.3273082%2C8.70746558%20L13.973787%2C8.70746558%20L13.973787%2C7.61047879%20L11.3273082%2C7.61047879%20L11.3273082%2C8.70746558%20Z%20M11.3241022%2C12.4912035%20L13.9731563%2C12.4912035%20L13.9731563%2C11.3796483%20L11.3241022%2C11.3796483%20L11.3241022%2C12.4912035%20Z%20M11.3238219%2C10.6158767%20L13.9722628%2C10.6158767%20L13.9722628%2C9.50630407%20L11.3238219%2C9.50630407%20L11.3238219%2C10.6158767%20Z%20M11.3249782%2C6.79737279%20L13.9730161%2C6.79737279%20L13.9730161%2C5.6883666%20L11.3249782%2C5.6883666%20L11.3249782%2C6.79737279%20Z%20M11.3266951%2C4.86986161%20L13.9711766%2C4.86986161%20L13.9711766%2C3.75922687%20L11.3266951%2C3.75922687%20L11.3266951%2C4.86986161%20Z%20M15.0097823%2C13.689833%20C13.1586206%2C13.6898684%2011.307459%2C13.6898684%209.45627988%2C13.689833%20C9.33014196%2C13.689833%209.3300894%2C13.689656%209.33007188%2C13.5583808%20C9.33003684%2C13.2367956%209.33268224%2C12.9151926%209.32823237%2C12.5936782%20C9.32712866%2C12.5137554%209.3524088%2C12.4949386%209.42774118%2C12.495806%20C9.7576444%2C12.4996649%2010.0876177%2C12.4958591%2010.4175385%2C12.4987444%20C10.4855128%2C12.4993463%2010.5082526%2C12.479786%2010.5074643%2C12.4088379%20C10.5039604%2C12.0932004%2010.5060803%2C11.7775098%2010.5056948%2C11.4618369%20C10.5056598%2C11.4359748%2010.5020684%2C11.4101305%2010.4993354%2C11.3733642%20L10.3918379%2C11.3733642%20C10.0706592%2C11.3733465%209.74946296%2C11.37124%209.42831931%2C11.3748689%20C9.35267159%2C11.3757008%209.32607751%2C11.3547598%209.328355%2C11.2754389%20C9.33373338%2C11.0897313%209.33403121%2C10.9036342%209.32824989%2C10.7179619%20C9.32572713%2C10.6372249%209.35384538%2C10.619541%209.42847698%2C10.6203729%20C9.75838021%2C10.6240549%2010.088371%2C10.6200543%2010.4182743%2C10.6234707%20C10.4883684%2C10.6241965%2010.5079899%2C10.6019632%2010.5073066%2C10.532803%20C10.5042057%2C10.2171655%2010.5043284%2C9.90145723%2010.5072541%2C9.58580203%20C10.5078672%2C9.5197219%2010.4879655%2C9.5000023%2010.4225139%2C9.50060415%20C10.0896674%2C9.50361343%209.75678596%2C9.50017931%209.42395704%2C9.50338331%20C9.35305701%2C9.50407367%209.32677828%2C9.48530996%209.32851268%2C9.40993648%20C9.33312021%2C9.20941258%209.33315525%2C9.00867627%209.32851268%2C8.80817007%20C9.32672572%2C8.7317699%209.35538706%2C8.71413909%209.42516586%2C8.71474095%20C9.74923521%2C8.71760861%2010.0733571%2C8.71599776%2010.3974615%2C8.71598006%20L10.4987923%2C8.71598006%20C10.5016129%2C8.68268332%2010.5056248%2C8.65705138%2010.5056598%2C8.63141944%20C10.5060978%2C8.31870271%2010.5036626%2C8.00595057%2010.5076044%2C7.69326924%20C10.508568%2C7.61741782%2010.48299%2C7.59941528%2010.4122652%2C7.60012334%20C10.0852877%2C7.60336274%209.75820502%2C7.59904354%209.43124501%2C7.60327423%20C9.3496583%2C7.60433633%209.3263403%2C7.57827955%209.32837252%2C7.49759559%20C9.33348812%2C7.29415092%209.33234937%2C7.09045844%209.32879298%2C6.88696067%20C9.32763672%2C6.82079203%209.34888745%2C6.80080691%209.41390104%2C6.80135566%20C9.74089609%2C6.80415251%2010.0679262%2C6.80261247%2010.3949563%2C6.80259477%20L10.4995807%2C6.80259477%20C10.5019282%2C6.76968747%2010.5056423%2C6.74131178%2010.5056773%2C6.71293609%20C10.5061153%2C6.40021935%2010.5037502%2C6.08746722%2010.5075694%2C5.77478589%20C10.5084804%2C5.69939471%2010.4832178%2C5.68020616%2010.4122301%2C5.68087882%20C10.0823269%2C5.684012%209.75235362%2C5.68029466%209.42245039%2C5.68378188%20C9.35006124%2C5.68454305%209.32691843%2C5.66328341%209.3285302%2C5.58937917%20C9.3330151%2C5.38294293%209.33275231%2C5.17632968%209.32865283%2C4.96987574%20C9.32719874%2C4.897069%209.34906265%2C4.87287089%209.42248543%2C4.87364976%20C9.74362908%2C4.87706617%2010.0648253%2C4.87510129%2010.386004%2C4.87508359%20L10.4980039%2C4.87508359%20C10.5010172%2C4.84371633%2010.5055722%2C4.81833221%2010.5056073%2C4.7929481%20C10.5061153%2C4.47431902%2010.5036801%2C4.15567225%2010.507622%2C3.83709628%20C10.5085505%2C3.762838%2010.481168%2C3.74926086%2010.4156464%2C3.74980961%20C10.082835%2C3.75250026%209.74997101%2C3.74919006%209.41715961%2C3.75250026%20C9.34731073%2C3.75319062%209.3280747%2C3.73069187%209.32872291%2C3.66190339%20C9.33177124%2C3.33445891%209.33166612%2C3.00696133%209.32879298%2C2.67951685%20C9.32819733%2C2.61164886%209.3461895%2C2.58831813%209.41677418%2C2.58838894%20C11.2942145%2C2.5901768%2013.1716549%2C2.58978737%2015.0490952%2C2.59001749%20C15.0720453%2C2.59001749%2015.0949604%2C2.59320378%2015.1252861%2C2.59545188%20C15.1273884%2C2.63917487%2015.1310499%2C2.67972927%2015.1310499%2C2.72028367%20C15.1313126%2C6.33727241%2015.1312951%2C9.95426115%2015.1312601%2C13.5712499%20C15.1312601%2C13.6896206%2015.1310323%2C13.6898153%2015.0097823%2C13.689833%20L15.0097823%2C13.689833%20Z%20M6.57679636%2C11.0393702%20C6.19121725%2C10.9954525%205.80570823%2C10.950632%205.4197437%2C10.9100599%20C5.35003498%2C10.9027137%205.31394552%2C10.8752054%205.28565208%2C10.8093023%20C4.99304714%2C10.1277901%204.69685076%2C9.44783564%204.40156539%2C8.76750946%20C4.39468036%2C8.75159571%204.38679674%2C8.7361422%204.37342963%2C8.70789042%20C4.35967709%2C8.73658474%204.34970869%2C8.75490591%204.34186011%2C8.77409446%20C4.08755204%2C9.39512023%203.83399729%2C10.0164292%203.57739421%2C10.6364814%20C3.5673207%2C10.6608388%203.52681641%2C10.6907723%203.50353345%2C10.6883294%20C3.10891446%2C10.647067%202.71478601%2C10.6011313%202.320605%2C10.555762%20C2.31585731%2C10.555231%202.31175783%2C10.5489823%202.3007558%2C10.540043%20C2.36195021%2C10.4194242%202.42360012%2C10.2971414%202.48593327%2C10.175195%20C2.87689076%2C9.41029051%203.26744531%2C8.6451559%203.66031238%2C7.88124269%20C3.68667871%2C7.82997881%203.68301721%2C7.79105296%203.65903348%2C7.74193098%20C3.23582323%2C6.87462264%202.81404955%2C6.00657084%202.39208316%2C5.13864294%20C2.37827806%2C5.11023185%202.36582194%2C5.08113039%202.34521941%2C5.03581426%20C2.43563578%2C5.03062768%202.50788478%2C5.02524639%202.58023889%2C5.02257345%20C2.9010672%2C5.01069567%203.2219831%2C5.0011722%203.54268877%2C4.98681619%20C3.60137794%2C4.98417865%203.6253967%2C5.00936804%203.64568388%2C5.05813599%20C3.90007955%2C5.66954978%204.15568404%2C6.28046793%204.41106077%2C6.89147458%20C4.42076638%2C6.9146991%204.43136547%2C6.93751648%204.44686993%2C6.97249487%20C4.52451483%2C6.76182795%204.5928045%2C6.56208292%204.67130784%2C6.36653318%20C4.85550424%2C5.90761881%205.04369502%2C5.45031528%205.2337253%2C4.99382603%20C5.24642669%2C4.96329074%205.28714121%2C4.92571021%205.31657339%2C4.92409936%20C5.76823475%2C4.89935251%206.2201589%2C4.87995154%206.67206553%2C4.85989561%20C6.68814811%2C4.85918754%206.70449349%2C4.86462194%206.73261173%2C4.86906504%20C6.7153904%2C4.90517634%206.70314451%2C4.93379985%206.68851602%2C4.96113114%20C6.18985076%2C5.89202368%205.69165852%2C6.82314635%205.19059314%2C7.75271126%20C5.15814766%2C7.81289676%205.16159894%2C7.85626571%205.19180196%2C7.91436241%20C5.71984684%2C8.92962085%206.24580694%2C9.94597679%206.77201231%2C10.9622088%20C6.78767444%2C10.9924432%206.80128682%2C11.0238104%206.82390405%2C11.0716756%20C6.72954588%2C11.0592668%206.65332003%2C11.0481148%206.57679636%2C11.0393702%20L6.57679636%2C11.0393702%20Z%20M15.870621%2C1.69321826%20C13.7275728%2C1.69321826%2011.584507%2C1.69268721%209.44147619%2C1.69505923%20C9.35428335%2C1.69516544%209.32721626%2C1.67438374%209.3280747%2C1.58270707%20C9.33269975%2C1.09008882%209.33024707%2C0.597399768%209.33024707%2C0.104746115%20L9.33024707%2C0.00641364263%20C9.3096971%2C0.00216525498%209.30388074%2C-0.000737809918%209.29874763%2C0.000164972457%20C8.00224249%2C0.2273298%206.70589502%2C0.455539024%205.40924973%2C0.681995787%20C3.64100627%2C0.990835868%201.87262266%2C1.29877317%200.103941226%2C1.604958%20C0.0272773993%2C1.61823422%200.000122707477%2C1.64340591%200.000175264945%2C1.72724076%20C0.00254035101%2C5.9075303%200.00257538932%2C10.0878198%207.33847247e-08%2C14.2681094%20C-5.24840833e-05%2C14.3564758%200.0281183188%2C14.3820193%200.108758994%2C14.3951539%20C0.47168583%2C14.4541888%200.833614074%2C14.5195785%201.19587518%2C14.5828618%20C2.52706825%2C14.8154256%203.85822628%2C15.0482196%205.18945439%2C15.2806595%20C6.3970323%2C15.4914857%207.60464524%2C15.7020995%208.81229322%2C15.9125009%20C8.98089758%2C15.9418856%209.14979977%2C15.9695532%209.33024707%2C16%20L9.33024707%2C15.892445%20L9.33024707%2C14.6445342%20C9.33024707%2C14.6238941%209.33194643%2C14.6030947%209.33007188%2C14.582614%20C9.32528915%2C14.5303057%209.34604935%2C14.5050278%209.39971053%2C14.5084442%20C9.42877481%2C14.5103029%209.45808435%2C14.5084973%209.48727127%2C14.5084973%20C11.6157086%2C14.5084796%2013.7441634%2C14.508515%2015.8725832%2C14.5082141%20C15.914927%2C14.5082141%2015.9572533%2C14.5043374%2016%2C14.5022309%20L16%2C1.69321826%20L15.870621%2C1.69321826%20Z%22/%3E%0A%3C/svg%3E%0A');
}

/* long running process dialog -> */
.bx-report-dialog-long-run-proc-options { margin-top: 10px; }
.bx-report-dialog-long-run-proc-options > div > span { line-height: 16px; }
.bx-report-dialog-long-run-proc-options > div > span input,
.bx-report-dialog-long-run-proc-options > div > span label { vertical-align: middle; }
.bx-report-dialog-long-run-proc-options input[type="checkbox"] { margin: 0 4px 0 0; }

div.bx-report-dialog-long-run-proc-popup { font-family: Arial; font-size: 14px; overflow: hidden; }
div.bx-report-dialog-long-run-proc div.bx-report-dialog-long-run-proc-popup { width: 520px; }
/* long running process dialog <- */