.group-delete {
	display:inline-block;
	cursor: pointer;
	width: 13px;
	height:13px;
	vertical-align:middle;
	background:url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -283px;
}
.group-delete:hover {
	background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px -283px;
}
.checkboxes input:checked + label + label
{
	font-weight: bold;
}
.command-code {
	font-family: monospace;
}
.command-code-add {
	color: green;
}
.command-code-del {
	color: red;
	text-decoration: line-through;
}