/* VIEW SWITCHER */
.crm-view-switcher {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 53px;
	font: 13px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #545c6a;
}

.crm-view-switcher-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}

.crm-view-switcher-name {
	margin: 0 18px 0 0;
}

.crm-view-switcher-list-item {
	margin: 0 18px 0 0;
	font: 14px/30px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #545c6a;
	-webkit-transition: color .3s;
	transition: color .3s;
	cursor: pointer;
}

.crm-view-switcher-list-item:hover {
	color: #1f2127;
}

.crm-view-switcher-list-item-active {
	border-bottom: 2px solid #b1b8bf;
	font: 14px/30px 'OpenSans-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #545c6a;
}
/* END OF VIEW SWITCHER */

.ui-btn.ui-btn-light-border.crm-robot-btn {
	height: 27px;
	line-height: 25px;
	padding: 0 12px;
	font-size: 13px;
	background: rgba(255,255,255,.15);
	margin-right: 20px;
	font-family: 'OpenSans-SemiBold', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bitrix24-dark-theme .ui-btn.ui-btn-light-border.crm-robot-btn {
	border: 1px solid rgba(0, 0, 0, .06);
	background: rgba(0, 0, 0, .07);
}

.bx-ie .ui-btn.ui-btn-light-border.crm-robot-btn {
	background: rgba(255,255,255,.15);
}

.crm-robot-btn.ui-btn-light-border.ui-btn:not(.ui-btn-disabled):hover {
	background: #55D0E0;
	border-color: #55D0E0;
	color: #fff;
}