.sitemap-window {
	padding: 0 20px 20px 20px;
}

.sitemap-title {
	font: 26px/26px "OpenSans-Light", Helvetica, Arial, sans-serif;
	padding: 21px 0 21px 5px;
}

.sitemap-content {
	display: block;
	-moz-columns: 250px auto;
	-webkit-columns: 250px auto;
	columns: 250px auto;
	padding: 32px 30px 30px 24px;
	background: #fff;
}

.sitemap-section {
	width: 250px;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid-column;
	padding-bottom: 10px;
}

.sitemap-section-title {
	display: block;
	padding: 5px 21px 8px 20px;

	font-size: 22px;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 25px;
}

.sitemap-section-item {
	display: block;
	font-size: 14px;
	font-family: "Helvetica New", Helvetica, Arial, sans-serif;
	color: #535c69;
	padding: 11px 21px 12px 21px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 25px;
	margin-bottom: 4px;
}

.sitemap-section-item:last-child {
	margin-bottom: 13px;
}

.sitemap-section-item:hover,
.sitemap-section-title:hover {
	background: #f5f5f6;
	color: #000;
}