table.bx-interface-grid tr.bx-grid-gutter td {
	padding:0px !important;
}

table.bx-interface-grid tr.bx-grid-sorting  td {
	padding:0px !important;
}

table.bx-interface-grid tr.bx-grid-footer table.bx-grid-footer {
	color: #E0E0E0 !important;
}

table.bx-interface-grid tr.bx-grid-head td.bx-sorted {
    /**background-color: #C0C0C0 !important;**/
}

table.bx-interface-grid tr.bx-grid-head td {
    /**background-color: #D9D9D9;
    background-image: url("/bitrix/components/bitrix/main.interface.grid/templates/.default/images/listhead.png") !important;**/
}

table.bx-interface-grid table.bx-grid-sorting td.bx-sort-sign {
    background-image: url("/bitrix/components/bitrix/main.interface.grid/templates/.default/images/sort_no.gif") !important;
	background-color: transparent !important;
}

table.bx-interface-grid table.bx-grid-sorting td.bx-sort-up {
    background-image: url("/bitrix/components/bitrix/main.interface.grid/templates/.default/images/sort_up.gif") !important;
	background-color: transparent !important;
}

table.bx-interface-grid table.bx-grid-sorting td.bx-sort-down {
    background-image: url("/bitrix/components/bitrix/main.interface.grid/templates/.default/images/sort_down.gif") !important;
	background-color: transparent !important;
}

table.bx-interface-grid td {
	padding:6px !important;
}

table.bx-edit-table td.bx-padding {
	padding-top: 6px!important;
}


.crm-field input[type="text"] {margin:1px 0 0 2px}
.crm-fields-edit .crm-element-select {margin:4px 0 0;}

#add_interrelationships {
	width: 600px;
}

#add_interrelationships div.param-block {
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}

#add_interrelationships div.param-block .param-label {
	font-weight: bold;
}

#add_interrelationships #add-interrelationships-form {
	display: inline-block;
	width: 100%;
}

#add_interrelationships #add-interrelationships-form input, #add_interrelationships #add-interrelationships-form select {
	width: 100%;
}

#add_interrelationships #company-list-search {
	display: none;
	background: #FFF;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	clear: both;
	padding: 5px;
	margin: 15px 10px;
	max-height: 200px;
	overflow: auto;
}

#add_interrelationships #company-list-search-result {
	margin: 0px;
	padding: 0px;
}

#add_interrelationships #company-list-search-result li {
	list-style: none;
	margin: 0px 0px 5px;
	padding: 0px 10px 5px;
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

#add_interrelationships #company-list-search-result li:last-child {
	border-bottom: none;
	margin-bottom: -5px;
}

div#add_interrelationships_result {
	clear: both;
}

div#add_interrelationships span.access-title-bar, div#edit_interrelationships span.access-title-bar, div#del_interrelationships span.access-title-bar{
	font-size: 18px;
	display: block;
	line-height: 49px;
	text-align: center;
}

#interrelationships-list .crm-lead-header-inner-edit-btn{
	opacity: 0.7 !important;
	background-color: transparent !important;
	display: inline-block;
}

#interrelationships-list .crm-lead-header-inner-edit-btn:hover {
	opacity: 1 !important;
	background-color: transparent !important;
}

#interrelationships-list .crm-offer-title-del {
	height: 30px;
	background-position: center -3226px;
}

#interrelationships-list table.main-grid-table tbody td.nav_elem{
	width: 95px;
	text-align: right;
}

.crm-lead-header-header-left .date_create {
	margin: 0 0 10px 14px;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
}
