.docs-config-wrap {
	background: #fff;
	padding: 23px 21px 150px 23px;
}

.docs-config-block-wrap {
	margin-bottom: 26px;
}

.docs-config-check-container {
	display: flex;
	align-items: center;
}

.docs-config-input {
	color: #475767;
	padding-left: 11px;
	margin-top: 5px;
}

.docs-config-check-container .docs-config-input {
	padding: 0;
	margin: 0 11px 0 0;
	min-height: 100%;
}

.docs-config-check-container .docs-config-title {
	color: #535c6a;
}