.tasks-checklist-notification-balloon-message-container {
	margin: -9px -20px;
}

.tasks-checklist-notification-balloon-message {
	vertical-align: middle;
	margin-left: 7px;
}

.tasks-checklist-notification-balloon-avatar {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: url(/bitrix/js/main/core/images/finder_sprite.min.svg?10) no-repeat center #535c6a;
}

.tasks-checklist-notification-balloon-avatar-img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #000;
}

.tasks-checklist-loader-files {
	display: none!important;
}

.diskuf-extended {
	display: block;
	overflow: hidden;
	margin: 0 -10px;
}

.diskuf-extended-item {
	background-color: transparent;
	display: block;
	cursor: pointer;
	height: 36px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	outline: none;
	white-space: nowrap;
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c68;
	line-height: 36px;
}

.diskuf-extended-item:hover,
.diskuf-extended-item-active {
	color: #333;
	background-color: #f6f8f9;
}

.diskuf-extended-item label {
	cursor: pointer;
}