.bx-crm-wood-section{
	margin:10px 0;
	padding:0;
	list-style:none;
}
.bx-crm-parent  .bx-crm-wood-section {
	height: 0;
	overflow: hidden;
}

.bx-crm-parent.bx-crm-open > .bx-crm-wood-section {
	height: auto;
	overflow: visible;
}
.bx-crm-wood-section .bx-crm-wood-section{
	margin:0;
	padding-left:20px;
}
li.bx-crm-section-container{
	margin:0;
	padding:0;
}
div.bx-crm-section-container{
	-webkit-transition:background .2s ease;
	transition:background .2s ease;
}
div.bx-crm-section-container table{
	width:100%;
}
div.bx-crm-section-container td{
	height:24px;
	vertical-align:middle;
	padding: 0;
}
li.bx-crm-section-container.bx-crm-close{
	height:30px;
}
li.bx-crm-section-container>.bx-crm-section-container:hover{
	border-radius:2px;
	background:#e6e9eb;
}
li.bx-crm-section-container.selected>.bx-crm-section-container {
	border-radius:2px;
	background:#d9dee1 !important;
}

.bx-crm-wf-arrow{
	width:17px !important;
}
.bx-crm-wf-arrow span{
	display:block;
	width:17px;
	height:17px;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	opacity:.8;
	border-radius:50%;
	background:url(images/sprite.png) no-repeat 5px -89px;
}
.bx-crm-wf-arrow span:hover{
	cursor:pointer;
	background-color:#c9d1d5;
}

.bx-crm-wf-section-empty span {
	background: none;
}

li.bx-crm-section-container.bx-crm-close>div .bx-crm-wf-arrow span{
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	transform:rotate(-90deg);
}
li.bx-crm-section-container.bx-crm-open>div .bx-crm-wf-arrow span{
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
}

.bx-crm-wf-section-icon{
	width:16px !important;
}
.bx-crm-wf-section-icon span{
	display:block;
	width:16px;
	height:16px;
	background:transparent url(images/icons-files2.png) no-repeat -72px 0;
}
.bx-crm-wf-section-name{
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:13px;
	cursor:pointer;
	text-align:left;
	color:#535b69;
	/*width: 100%;*/
}
.bx-crm-wf-section-name span{
	display:block;
	overflow:hidden;
	/*max-width: 75%;*/
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	max-width:500px;
	padding-left:5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
}
.bx-crm-wf-section-name.tal { font-size:20px; }

.crm-offer-tab-table tr:hover td {
	background-color: inherit;
}