.sale-personal-account-wallet-container {
	max-width: 430px;
	width: 100%;
}

.sale-personal-account-wallet-title {
	padding: 11px 17px;
	border-radius: 3px 3px 0 0;
	background-color: #e39a20;
	color: #fff;
	text-transform: uppercase;
	font: bold 12px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sale-personal-account-wallet-list-container {
	border-radius: 0 0 3px 3px;
	background-color: #f5a623;
	color: #fff;
}

.sale-personal-account-wallet-list { }

.sale-personal-account-wallet-list-item {
	position: relative;
	overflow: hidden;
	padding: 11px 17px 12px;
	border-bottom: 1px solid #e39a20;
	font-size: 15px;
}

.sale-personal-account-wallet-list .sale-personal-account-wallet-list-item:last-child { border-bottom: none; }

.sale-personal-account-wallet-currency {
	display: inline-block;
	float: left;
	vertical-align: middle;
	font-size: 15px;
	line-height: 22px;
}

.sale-personal-account-wallet-currency-item {
	color: #955d00;
	font: bold 14px/17px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.sale-personal-account-wallet-currency-item + .sale-personal-account-wallet-currency-item { font: bold 11px "Helvetica Neue", Arial, Helvetica, sans-serif; }

.sale-personal-account-wallet-sum {
	display: inline-block;
	float: right;
	vertical-align: middle;
	white-space: nowrap;
	font-weight: bold;
	font-size: 22px;
}