
.feed-add-grat-block {
	background-color: #eef2f4;
	border-radius: 2px;
	margin: 0 19px 15px;
	padding: 37px 24px 37px 86px;
	position: relative;
}

.feed-add-grat-medal {
	background: none repeat 0 0;
	left: 28px;
	position: absolute;
	text-align: center;
	top: 29px;
	width: 50px;
}

.feed-add-grat-box.feed-add-grat-medal-heart {
	background-position: -13px -8px;
	background-color: #fe5857;
}

.feed-add-grat-box.feed-add-grat-medal-heart:hover {color: #ffd4d4;}

.feed-add-grat-box.feed-add-grat-medal-gift {
	background-position: -74px -8px;
	background-color: #5cd1df;
}

.feed-add-grat-box.feed-add-grat-medal-gift:hover {
	color: #cef1f5;
}

.feed-add-grat-box.feed-add-grat-medal-cup {
	background-position: -135px -8px;
	background-color: #ffa800;
}

.feed-add-grat-box.feed-add-grat-medal-cup:hover {
	color: #ffe5b2;
}

.feed-add-grat-box.feed-add-grat-medal-money {
	background-position: -196px -8px;
	background-color: #05b5ab;
}

.feed-add-grat-box.feed-add-grat-medal-money:hover {
	color: #b4e9e6;
}

.feed-add-grat-box.feed-add-grat-medal-crown {
	background-position: -257px -8px;
	background-color: #a7abb0;
}

.feed-add-grat-box.feed-add-grat-medal-crown:hover {
	color: #e4e6e7;
}

.feed-add-grat-box.feed-add-grat-medal-drink {
	background-position: -318px -8px;
	background-color: #2fc7f7;
}

.feed-add-grat-box.feed-add-grat-medal-drink:hover {
	color: #c0eefd;
}

.feed-add-grat-box.feed-add-grat-medal-cake {
	background-position: -379px -8px;
	background-color: #b47153;
}

.feed-add-grat-box.feed-add-grat-medal-cake:hover {
	color: #ecdad2;
}

.feed-add-grat-box.feed-add-grat-medal-thefirst {
	background-position: -13px -191px;
	background-color: #ffd200;
}

.feed-add-grat-box.feed-add-grat-medal-thefirst:hover {
	color: #fff1b2;
}

.feed-add-grat-box.feed-add-grat-medal-flag {
	background-position: -74px -191px;
	background-color: #fb6dba;
}

.feed-add-grat-box.feed-add-grat-medal-flag:hover {
	color: #fed3ea;
}

.feed-add-grat-box.feed-add-grat-medal-star {
	background-position: -134px -190px;
	background-color: #29ad49;
}

.feed-add-grat-box.feed-add-grat-medal-star:hover {
	color: #bee6c8;
}

.feed-add-grat-box.feed-add-grat-medal-thumbsup {
	background-position: -196px -191px;
	background-color: #6e54d1;
}

.feed-add-grat-box.feed-add-grat-medal-thumbsup:hover {
	color: #dfd9f5;
}

.feed-add-grat-box.feed-add-grat-medal-beer {
	background-position: -257px -191px;
	background-color: #ae914b;
}

.feed-add-grat-box.feed-add-grat-medal-beer:hover {
	color: #e9e1ce;
}

.feed-add-grat-box.feed-add-grat-medal-flowers {
	background-position: -318px -191px;
	background-color: #ff7b9d;
}

.feed-add-grat-box.feed-add-grat-medal-flowers:hover {
	color: #ffd7e1;
}

.feed-add-grat-box.feed-add-grat-medal-smile {
	background-position: -379px -191px;
	background-color: #bada0b;
}

.feed-add-grat-box.feed-add-grat-medal-smile:hover {
	color: #eaf4b5;
}

.feed-add-grat-medal-other {
	color: #9ea3a9;
	cursor: pointer;
	font-size: 12px;
	padding: 3px 10px 0 0;
	text-shadow: 0 1px #f8fafb;
}

.feed-add-grat-medal-arrow {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -132px -698px;
	bottom: 5px;
	height: 4px;
	position: absolute;
	right: 2px;
	width: 6px;
}

.feed-add-grat-label {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -144px -42px;
	color: #858788;
	float: left;
	font-size: 14px;
	margin-top: 15px;
	padding: 0 0 0 20px;
}

.feed-add-grat-popup {
	background-color: #fff;
	padding: 5px;
}

.feed-add-grat-list-title {
	color: #555;
	font-size: 12px;
	font-weight: bold;
	margin: 8px 20px 6px 10px;
	white-space: nowrap;
}

.feed-add-grat-list {
	text-align: left;
}

.feed-add-grat-box {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/medals-2.png") no-repeat 100px 100px;
	background-clip: content-box;
	border-radius: 50%;
	border: 3px solid #fff;
	cursor: pointer;
	display: inline-block;
	height: 45px;
	margin: 7px;
	vertical-align: top;
	width: 45px;
}

.feed-add-grat-box:hover {
	box-shadow: 0 0 0 3px #ddd;

	-webkit-transition: box-shadow 0.25s linear;
	transition: box-shadow 0.25s linear;
}

.feed-add-grat-medal .feed-add-grat-box,
.feed-add-grat-medal .feed-add-grat-box:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	margin: 6px 0 5px 0;
}

.feed-add-grat-form {
	overflow: hidden;
	padding-left: 17px;
}

.feed-add-grat-form .feed-add-post-grat-wrap {
	background-color: #fff;
	border-color: #e4e4e4;
	min-height: 31px;
}

.feed-add-grat-input-box {
	display: none;
}

.feed-add-post-grat {
	border-radius: 1px;
	font-size: 13px;
	display: inline-block;
	font-weight: bold;
	margin: 0 6px 6px 0;
	height: 30px;
	line-height: 29px;
	overflow: hidden;
	padding: 0 30px 0 13px;
	position: relative;
	vertical-align: middle;
	z-index: 2;

	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
}

.feed-add-post-grat a:link,
.feed-add-post-grat a:visited,
.feed-add-post-grat a:active,
.feed-add-post-grat a:hover {
	text-decoration: none;
}

.feed-add-post-grat-hover {
	background-color: #86e2ff !important;
}

.feed-add-post-grat-hover .feed-add-post-del-but {
	opacity: 1;
}

.feed-add-grat-link,
.feed-add-grat-link:link,
.feed-add-grat-link:visited {
	border-bottom: 1px solid transparent;
	color: #2067b0;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 17px;
	margin: 7px 7px 7px 18px;
	text-decoration: none;
	vertical-align: top;
	position: relative;
}


.feed-add-grat-link:hover {
	border-bottom: 1px solid;
}

.feed-add-grat-link:before {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -148px -481px;
	content: "";
	height: 8px;
	left: -14px;
	position: absolute;
	top: 5px;
	width: 8px;
}

.feed-add-grat-inp {
	background: #fff;
	border: medium none;
	color: #555;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 20px;
	margin: 0 9px 9px 0;
	min-width: 108px;
	outline: medium none;
	padding: 0;
	vertical-align: middle;
}

.feed-add-post-form-variants {
	border-bottom: 1px solid #f0f1f2;
	min-height: 40px;
	padding: 0 10px 0 23px;
	position: relative;
}

.feed-add-post-form-arrow {
	background: #185ccd;
	top: 40px;
	left: 0;

	position: absolute;
	height: 1px;
	width: 0;
}

.blog-post-edit-open .feed-add-post-form-arrow {
	display: block;
}

.feed-add-post-form-link {
	color: #80868e;
	cursor: pointer;
	display: inline-block;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	margin-right: 42px;
	position: relative;
	text-transform: uppercase;
}

.bx-quirks .feed-add-post-form-link {
	float: left;
}

.feed-add-post-form-link:hover {
	color: #000;
}

.feed-add-post-form-link-active {
	color: #185ccd !important;
}

.feed-add-post-form-link:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 1px;
	background: #185ccd;
	display: none;
}

.feed-add-post-form-link-active:after {
	display: block;
}

.feed-add-post-form-link-more {
	margin-right: 16px;
}

.feed-add-post-form-link-more .feed-add-post-form-link-icon {
	display: none;
}

.feed-add-post-form-popup .menu-popup-item-text {
	font-size: 14px;
}

.feed-add-post-more-icon {
	position: absolute;
	right: -13px;
	top: 18px;

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 3px 0 3px;
	border-color: #80868e transparent transparent transparent;
}

.feed-add-post-more-icon-waiter {
	width: 15px;
	height: 15px;
	position: absolute;
	right: -18px;
	top: 12px;
	display: none;
}

.feed-add-post-form-link-active .feed-add-post-more-icon {
	border-top-color: #185ccd;
}

.feed-add-post-form-lists .menu-popup-item-icon {
	text-align: center;
}

.feed-add-post-form-lists-default-new .menu-popup-item-icon {
	background: url(images/sprite.png) no-repeat -19px -453px;
}

.feed-add-post-form-lists-default-new:hover .menu-popup-item-icon {
	background: url(images/sprite.png) no-repeat 0px -453px;
}

.feed-add-post-form-lists-default-market .menu-popup-item-icon {
	background: url(images/sprite.png) no-repeat -19px -472px;
}

.feed-add-post-form-lists-default-settings .menu-popup-item-icon {
	background: url(images/sprite.png) no-repeat -19px -434px;
}

.feed-add-post-form-lists-default-settings:hover .menu-popup-item-icon {
	background: url(images/sprite.png) no-repeat 0px -434px;
}

.feed-add-post-more-icon-lists {
	background: url("/bitrix/components/bitrix/socialnetwork.log.ex/templates/.default/images/log/live_feed_sprite_6.png?3") no-repeat -88px -779px;
	height: 3px;
	position: absolute;
	right: -12px;
	top: 9px;
	width: 6px;
}

.feed-add-post.feed-add-post-edit-form-file .wduf-selectdialog {
	margin: 10px;
}

.feed-add-post-destination-wrap {
	min-height: 31px !important;
}

form.comments-form .feed-add-post-buttons {
	display: block !important;
}

.template-bitrix24 .blog-post-edit .task-info {
	margin: 0;
}

.blog-post-edit .task-info-panel {
	padding: 16px 10px 16px 0;
}

.blog-post-edit .tasks-uf-panel .tasks-uf-panel-items {
	min-width: 0;
}

.feed-add-post-micro {
	color: #80868e;
	font-size: 18px;
	font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
	margin: 0;
	height: 18px;
	padding: 19px 2px 27px 22px;
	position: relative;
	cursor: text;
}
.feed-add-post-micro-dnd-ready.feed-add-post-micro {
	background: rgba(248,250,250,0.9);
	border: 2px dashed #a7b0b5;
	padding: 17px 0 25px 16px;
	cursor: default;
}
.feed-add-post-micro .feed-add-post-micro-dnd,
.feed-add-post-micro-dnd-ready.feed-add-post-micro .feed-add-post-micro-title{
	display: none;
}
.feed-add-post-micro-dnd-ready.feed-add-post-micro .feed-add-post-micro-dnd {
	display: block;
}
.feed-add-post-block .task-message-label {
	max-width: none;
}

.feed-add-post-loader-cont {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 29px;
	width: 29px;
}

.feed-add-post-loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1500;
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.feed-add-post-loader-inner-path {
	stroke: rgba(215,220,223,.17);
	stroke-width: 1.5;
	stroke-dasharray: 200, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
}

.feed-add-post-loader-path {
	stroke: rgba(215,220,223,.74);
	stroke-width: 1.5;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

.feed-add-post-expire-date {
	position: relative;
	overflow: hidden;
}

.feed-add-post-expire-date-wrap {
	background-color: #f3f6f8;
	padding: 17px 21px 16px;
	margin: 8px 18px 9px 17px;
}

.feed-add-post-expire-date-inner {
	font-size: 0;
}

.feed-add-post-expire-date-text {
	color: #535c69;
	margin-right: 9px;
	font-size: 13px;
	line-height: 22px;
}

.feed-add-post-expire-date-period {
	color: #0b66c3;
}

.feed-add-post-expire-date-duration, .feed-add-post-expire-date-final {
	border-bottom: 1px dashed #0b66c3;
	cursor: pointer;
	font-weight: bold;
	padding: 0 1px;
	font-size: 13px;
	line-height: 22px;
}

.feed-add-post-expire-date-duration {
	margin-right: 8px;
}

.feed-add-post-expire-date-options .menu-popup-item-text:first-letter {
	text-transform: uppercase;
}

.feed-add-post-expire-date-final {
	display: none;
}

.feed-add-post-expire-date-customize .feed-add-post-expire-date-final {
	display: inline;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}