.sender-call-text-editor-wrap {
	flex: 1;
	border: 1px solid #C6CDD3;
	border-radius: 2px;
}

.sender-call-text-editor-textarea {
	display: block;
	padding: 12px;
	width: 100%;
	min-height: 120px;
	border: none;
	border-bottom: 1px solid #C6CDD3;
	font: 14px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
	resize: none;
	outline: none;
	-webkit-appearance: none;
	box-sizing: border-box;
}

.sender-call-text-editor-count {
	display: flex;
	align-items: center;
	padding: 10px 13px;
	min-height: 40px;
	background: #F8FAFB;
	font: 12px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

.sender-call-text-editor-count-inner {
	margin: 0 0 0 auto;
}

.sender-call-text-editor-count-name {
	display: inline-block;
	color: #B0B7BD;
}

.sender-call-text-editor-count-number {
	display: inline-block;
	color: #89929E;
}