.rpa-item-detail .rpa-stageflow-wrap {
	position: relative;
	height: 32px;
}

.rpa-item-detail .main-ui-loader {
	z-index: 1000;
}

#ui-page-slider-content .rpa-item-detail {
	white-space: normal;
}

.rpa-item-detail-tabs {
	margin: 20px 0 24px 2px;
}

.rpa-item-detail-tabs-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.rpa-item-detail-tabs-item {
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	cursor: pointer;
}

.rpa-item-detail-tabs-item + .rpa-item-detail-tabs-item {
	margin-left: 36px;
}

.rpa-item-detail-tabs-item-link {
	display: block;
	overflow: hidden;
	max-width: 100%;
	color: #515e68;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: color .2s linear;
	font: 14px/25px "OpenSans-SemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rpa-item-detail-tabs-item-current {
	border-bottom: 2px solid #2165af;
}

.rpa-item-detail-tabs-item-current .rpa-item-detail-tabs-item-link {
	color: #2165af;
}

.bitrix24-light-theme .rpa-item-detail-tabs-item-link {
	color: #fefefe;
}

.bitrix24-light-theme .rpa-item-detail-tabs-item-current {
	border-color: rgba(255,255,255,.4);
}

.bitrix24-light-theme .rpa-item-detail-tabs-item-current .rpa-item-detail-tabs-item-link {
	color: #fff;
}

.rpa-item-detail-tabs-content {
	position: relative;
}

.rpa-item-detail-tabs-content .rpa-item-detail-tab-content.rpa-item-detail-tab-content-hidden {
	display: none;
}

.rpa-entity-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 120;
	background-color: rgba(0, 0, 0, .2);
}

.rpa-item-detail .ui-entity-editor-section-edit {
	z-index: 140;
}

.rpa-item-detail .rpa-item-detail-editor-container {
	float: left;
	box-sizing: border-box;
	width: 41.6%;
}

.rpa-item-detail .ui-item-detail-stream-container {
	position: relative;
	z-index: 110;
	float: right;
	box-sizing: border-box;
	padding-left: 63px;
	width: 58.4%;
}

.rpa-item-detail-editor-container .field-item .main-ui-control.main-ui-select {
	padding-right: 28px !important;
}

.rpa-item-detail-editor-container .main-ui-select-name {
	width: 100%;
}

.rpa-item-detail-editor-container .ui-entity-editor-content-block-new-fields .ui-ctl-checkbox  {
	margin-bottom: 0;
}

.feed-add-destination-link {
	border-bottom: 1px solid transparent;
	color: #2067b0;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	margin: 7px 7px 7px 18px;
	line-height: 17px;
	vertical-align: top;
	position: relative;

	-webkit-transition: border-bottom-color 0.2s linear;
	transition: border-bottom-color 0.2s linear;
}

.feed-add-destination-link:before {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAH0lEQVQoz2NgQAIK6Rv+gzADLkCeApggLkxYAe0dCQDF5T3p5/14OgAAAABJRU5ErkJggg==) no-repeat center;
	content: '';
	height: 8px;
	left: -14px;
	position: absolute;
	top: 5px;
	width: 8px;
}

.feed-add-destination-link:hover {
	border-bottom: 1px solid;
}

.rpa-item-detail .ui-entity-editor-header-title-text {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
}

.rpa-item-detail .ui-entity-editor-header-title {
	width: calc(100% - 65px);
}