/*.crm-main-wrap-flat {*/
	/*margin-bottom: 10px;*/
	/*margin-top: 10px;*/
/*}*/

.bx-filter-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 8px;
	margin-top: 8px;
	min-height: 64px;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	overflow: hidden;
}

.bx-filter-wrap .bx-filter-folded {
	margin-bottom: 0;
	margin-top: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.bx-filter-folded .bx-filter-tabs-block {
	padding-left: 10px;
}

.bx-filter-tabs-block {
	padding-right:70px;
	white-space:nowrap;
	position: relative;
}

.bx-filter-tab {
	background-color: #fff;
	display:inline-block;
	border-radius: 2px 2px 0 0;
	border:1px solid #a1a6ac;
	border-bottom:none;
	color:#535c69;
	cursor:pointer;
	font-size:12px;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	height: 41px;
	line-height: 41px;
	margin-left:8px;
	text-transform: uppercase;
	padding:0 20px;
	position:relative;
	vertical-align:top;
	z-index: 2;

	-webkit-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;
}

.bx-filter-tab:hover {
	background-color: #f8fafb;
}

.bx-filter-add-tab {
	padding: 0 23px 0 22px;
}

.bx-filter-add-tab:after {
	background: url("images/filter/filter-sprite.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
	content:"";
	height:12px;
	left:16px;
	top:15px;
	position:absolute;
	width:14px;
}

.bx-filter-main-table {margin: auto 0; border-spacing:0; width:670px !important;}

.bx-ie8 .bx-filter-main-table,
.bx-ie9 .bx-filter-main-table {border-spacing:0; width:800px;}

.bx-filter-main-table-cell {padding:0;}


.bx-filter-tab:first-child {margin:0;}



.bx-filter-tab-active,
.bx-filter-tab-active:hover {
	background-color: #eef2f4;
	border-color: #eef2f4;
}

.bx-current-filter-tab {
	background-color: #ecf7c8;
	border-color: #ecf7c8;
}

.bx-current-filter-tab:hover {
	background-color: #e4f5ae;
}



.bx-filter-content {
	overflow: hidden;
}

.bx-filter-content-inner {
	background-color: #eef2f4;
	border-radius: 0 2px 2px;
	overflow:hidden;
	padding:10px 0 14px 0;
	position: relative;
	z-index: 3;

	-webkit-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;
}

.bx-current-filter .bx-filter-content-inner {
	background-color: #ecf7c8;
}

.bx-filter-item {
	padding:0 14px 18px 11px;
}

.bx-input-help-icon-wrap {padding-right:30px!important;}

.bx-input-help-icon {
	background:url("images/filter/filter-sprite.png") no-repeat center -130px;
	right:0;
	top:0;
	height:27px;
	text-decoration:none;
	position:absolute;
	width:30px;
}
.bx-input-help-icon:hover {background-position:center -100px;}

.bx-filter-content .bx-select-wrap {float:right; max-width:250px; min-width:100px;}

.bx-select-wrap:after{
	background: url("images/filter/filter-sprite.png") no-repeat -9px -641px;
	content: "";
	height: 10px;
	margin-top: -5px;
	right: 8px;
	position: absolute;
	top: 50%;
	width: 5px;
	z-index: 0;
}

.bx-filter-wrap .bx-select-wrap {
	background-color: #ffffff;
	border-radius:2px;
	display:inline-block;
	vertical-align:top;
	position:relative;
}

.bx-filter-wrap .bx-select {
	background: transparent;
	border: 1px solid #c6cdd3;
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	color: #535c69;
	display:inline-block;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:15px;
	height: 36px;
	text-shadow:0 1px #fff;
	outline:none;
	overflow:hidden;
	padding: 0 0 0 5px;
	min-width:100px;
	vertical-align:top;
	-webkit-appearance: none;
	position:relative;
	width:100%;
	z-index:1;
}

.bx-filter-content-table-wrap {padding: 0 18px;}

.bx-filter-content-table {
	border:none;
	border-spacing:0;
	width:100%;
}

.bx-filter-item-left {
	color:#535c69;
	border:none;
	font-size:14px;
	min-width:114px;
	height: 24px;
	text-align:left;
	text-overflow:ellipsis;
	vertical-align:top;
	padding: 9px 12px 6px 0;
}

.bx-filter-item-center {
	border:none;
	vertical-align:top;
	overflow:hidden;
	padding:0 0 8px 0;
	width:100%;
}

.bx-workarea .bx-filter-content-table .bx-input-wrap {padding-right:12px;}

.bx-filter-calendar-separate {
    background-color: #87919C;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 3px;
    margin: 17px -4px 0 6px;
    vertical-align: top;
    width: 15px;
}


.bx-calendar-icon {
    background: url("images/filter/filter-sprite.png") no-repeat center -503px;
    border: medium none !important;
    cursor: pointer;
    height: 15px;
    outline: medium none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
}

.bx-calendar-icon:hover {background-position:center -525px}

.bx-filter-box-sizing {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: start;
	-moz-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	font-size:13px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	width:100%;
}

.bx-filter-alignment {margin:0 0 -5px -12px;}



.bx-filter-box-sizing .bx-input-wrap {
	display: block;
	margin:0 0 5px 12px;
	vertical-align: top;
	padding:0;
	position: relative;

	-webkit-box-flex: 10;
	-moz-box-flex: 10;
	-webkit-flex: 10 10 auto;
	-ms-flex: 10 10 auto;
	flex: 10 10 auto;

}

.bx-filter-wrap .bx-input,
.bx-filter-wrap input[type="text"],
.bx-filter-wrap input[type="password"],
.bx-filter-wrap input[type="email"] {
	background:#fff;
	border:1px solid #c6cdd3;
	border-radius: 2px;
	color: #313232;
	display:inline-block;
	font-size: 13px;
	height: 36px;
	margin: 0;
	outline:none;
	vertical-align:middle;
	padding: 0 8px;
	width:100%;

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.bx-flexwrap .bx-workarea .bx-filter-box-sizing .bx-input-wrap,
.bx-boxdirection .bx-workarea .bx-filter-box-sizing .bx-input-wrap {

	-webkit-box-flex: 10;
	-moz-box-flex: 10;
	-webkit-flex: 10 1 auto;
	-ms-flex: 10 1 auto;
	flex: 10 1 auto;

	margin-left:12px;
	min-width:90px;
	padding-right:0;
}

.bx-filter-box-sizing .bx-select-wrap {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	float:none;
	margin:0 0 5px 12px;
}

.bx-no-flexwrap .bx-workarea .bx-filter-box-sizing .bx-input-wrap {
	display:inline-block;
	margin-left:12px;
	padding:0;
	vertical-align:top;
	width:190px;
}

.bx-ie8 .bx-workarea .bx-filter-box-sizing .bx-input-wrap { width: 150px; }

.bx-calendar-separate {
	background-color:#87919c;
	-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.5);
	box-shadow:0 1px 0 0 rgba(255,255,255,0.5);
	display:inline-block;
	margin:12px -4px 0 6px;
	height:3px;
	vertical-align:top;
	width:15px;
}

.bx-calendar-block .bx-select-wrap {max-width:150px;}

.bx-filter-item-right {
	border:none;
	vertical-align:top;
	padding:0 0 8px 0;
	width:29px;
	white-space:nowrap;
}

.bx-filter-bottom-separate {
	background-color: #d8dde0;
	height:1px;
	margin: 0 18px 13px;
}

.bx-current-filter .bx-filter-bottom-separate {
	background-color:#d6e1bb;
}

.bx-filter-bottom {padding: 0 18px;}

.bx-filter-content-first .bx-filter-bottom {
	border:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	margin-top:-5px;
	padding-top:0;
}


.bx-filter-setting-block {
	float:right;
	margin-top: 4px;
}

.bx-filter-add-button,
.bx-filter-item-delete,
.bx-filter-setting {
	border: 1px solid #a1a6ac;
	border-radius: 2px;
	-webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5);
	cursor:pointer;
	display:inline-block;
	height:30px;
	vertical-align:top;
	position:relative;
	width: 32px;

	-webkit-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;
}

.bx-filter-setting {margin-right: 7px;}

.bx-ie8 .bx-filter-add-button,
.bx-ie8 .bx-filter-item-delete,
.bx-ie8 .bx-filter-setting {border:1px solid #8b999d;}

.bx-filter-item-delete {
	margin: 2px 0 0 12px;
}

.bx-filter-add-button:after,
.bx-filter-item-delete:after,
.bx-filter-setting:after {
	background: url("images/filter/filter-sprite.png") no-repeat scroll center 0;
	content:"";
	height: 16px;
	position:absolute;
	left: 9px;
	top: 9px;
	width: 16px;
}

.bx-filter-item-delete:after {
	height: 2px;
	top: 14px;
	left: 8px;
	background-color: #535c69;
}

.bx-filter-setting:after {
	background-position: center -26px;
	left: 9px;
	top:7px;
}

.bx-filter-add-button:hover,
.bx-filter-item-delete:hover,
.bx-filter-setting:hover {
	background-color: #cfd4d8;
}




.bx-filter-text-wrap {
	display:inline-block;
	color:#000;
	font-size:13px;
	margin:4px 0 0 12px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	vertical-align:top;
}


.bx-filter-main-table br {display:none;}
.bx-filter-main-table label + br {display:block; }
.bx-chrome .bx-filter-main-table label + br { margin-top:5px;}
.bx-filter-main-table label.bx-designed-checkbox-label + br {display:none;}

.bx-ie8 .bx-filter-main-table input[type="checkbox"] {margin-left:12px;}

.bx-filter-text-search {margin:6px 0 0 12px;}

.bx-filter-switcher-tab {
	border: 1px solid transparent;
	display: block;
	cursor: pointer;
	right: 18px;
	top: 5px;
	height: 30px;
	position: absolute;
	z-index: 2;
	width: 32px;

	-webkit-transition: border-color 0.25s linear;
	transition: border-color 0.25s linear;

}

.bx-filter-switcher-tab-icon {
	background-color: #535c69;
	display: block;
	margin-top: 14px;
	height: 2px;
	margin-left: 8px;
	width: 16px;
}

.bx-filter-switcher-tab:hover {
	border: 1px solid #a1a6ac;
}


.bx-filter-folded .bx-filter-switcher-tab-icon {
	background: url("images/filter/filter-sprite.png") no-repeat center -342px;
	height: 14px;
	margin-top: 8px;
	width: 16px;
}

.bx-filter-folded .bx-filter-tab {
	border-radius: 2px;
	border: 1px solid #a1a6ac;
	z-index: 2;
	height: 38px;
	line-height: 38px;
	background-color: transparent;
}

.bx-filter-folded .bx-filter-add-tab:after {
	top: 13px;
}



.bx-filter-folded .bx-filter-tab-active:hover {
	background-position: 0 -39px;
}

.bx-filter-folded .bx-current-filter-tab {
	background-color: #818992;
	border-color: #818992;
	color: #fff;
	position: relative;
}




.bx-filter-tabs-block-underlay {
	background-color: #eef2f4;
	height: 64px;
	border-radius: 2px;
	top: -12px;
	left: -1px;
	opacity: 0;
	right: 0;
	position: absolute;
	z-index: 1;

	-webkit-transition: opacity 0.25s linear;
	transition: opacity 0.25s linear;
}

.bx-filter-folded .bx-filter-tabs-block-underlay {
	opacity: 1;
}

.bx-ie8 .bx-filter-tabs-block-underlay { display: none; }
.bx-ie8 .bx-filter-folded .bx-filter-tabs-block-underlay { display: block; }


.bx-filter-wrap .bx-btn,
.bx-filter-wrap input[type="button"],
.bx-filter-wrap input[type="reset"],
.bx-filter-wrap input[type="submit"] {
	background: transparent;
	border-radius: 2px;
	border: 1px solid #a1a6ac;
	box-shadow:none;
	color: #535c69;
	cursor:pointer;
	display:inline-block;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	font-size:12px;
	height: 40px;
	line-height: 38px;
	margin-left:12px;
	min-width: 55px;
	text-transform: uppercase;
	text-decoration:none;
	padding:0 15px;
	position:relative;
	vertical-align:middle;
	-webkit-font-smoothing: antialiased;

	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.bx-filter-wrap .bx-btn:hover,
.bx-filter-wrap input[type="button"]:hover,
.bx-filter-wrap input[type="reset"]:hover,
.bx-filter-wrap input[type="submit"]:hover {
	text-decoration: none;
	background:#cfd4d8!important;
}

.bx-filter-wrap .bx-btn:active,
.bx-filter-wrap .bx-btn.bx-btn-active,
.bx-filter-wrap input[type="submit"]:active,
.bx-filter-wrap input[type="button"]:active {
	background-color: #868d95!important;
	color: #fff;
}

.bx-filter-bottom .bx-btn,
.bx-filter-bottom input[type="button"],
.bx-filter-bottom input[type="reset"],
.bx-filter-bottom input[type="submit"] {
    margin:0 10px 0 0;
    min-width: 90px;
}

.bx-filter-wrap .bx-select-wrap-multiple {
	border-radius: 2px;
	border:1px solid #c6cdd3;

	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	display:inline-block;
	float:left;
	min-width:100px;
	margin:0 0 5px 12px;
	overflow:hidden;
	position:relative;
}

.bx-filter-wrap .bx-select-multiple {
	background-color: #fff;
	border-radius:4px;
	border:none;
	color: #535c69;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	margin:0;
	outline:none;
	padding:0;
	width:100%;
}

.bx-filter-wrap select[multiple],
.bx-filter-wrap select[size] {
    height: auto;
    min-height: 27px;
}

.bx-filter-box-sizing .bx-user-field-wrap {
	display: block;
	margin:0 0 5px 12px;
	vertical-align: top;
	padding:0;
	position: relative;
	-webkit-box-flex: 10;
	-moz-box-flex: 10;
	-webkit-flex: 10 10 auto;
	-ms-flex: 10 10 auto;
	flex: 10 10 auto;

}
.bx-filter-box-sizing .bx-user-field-wrap input[type="text"] {
	width: auto;
}

.crm-filter-popup-item .menu-popup-item-icon {background:url("images/filter/filter-sprite.png") no-repeat 100px 100px; width:12px}
.crm-filter-popup-item .menu-popup-item-left,
.crm-filter-popup-item .menu-popup-item-right{display:none;}
.crm-filter-popup-item .menu-popup-item-text {margin-left:5px;}
.crm-filter-popup-item.menu-popup-item-checked .menu-popup-item-icon {background-position: center -616px;}
.crm-filter-popup-item .popup-window-hr {}

.bx-filter-item-row .bx-filter-date-days-suffix { margin-left: 12px; margin-top: 8px; }

.crm-filter-name-container {
	position: relative;
	display: inline-block;
}

.crm-filter-name-clean {
	position: absolute;
	top: 12px;
	right: -17px;
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(images/filter/crm-filter-clean.svg) center center no-repeat;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	transition: opacity .3s ease;
	cursor: pointer;
	opacity: .5;
}

.crm-filter-name-clean:hover {
	opacity: 1;
}
