/* Sale paysystem */

.sale-paysystem-wrapper {
	position: relative;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #424956;
}

.sale-paysystem-sberbank-button {
	display: inline-block;
	margin: 26px 10px 26px 0;
}

.sale-paysystem-sberbank-button-item {
	padding: 0 22px;
	height: 38px;
	border: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f59023;
	font: bold 13px/35px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	-webkit-transition: background .3s ease;
	-moz-transition: background .3s ease;
	transition: background .3s ease;
}

.sale-paysystem-sberbank-button-item:hover {
	background: #ff911a;
}

.sale-paysystem-sberbank-button-descrition {
	display: inline-block;
	margin: 0 0 15px 0;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868e;
}