.report-configuration-custom-select-item .report-configuration-label
{
	display: inline-block;
	margin-right: 5px;
	max-width: 100%;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgba(82, 92, 105, .5);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.report-field-custom-select {
	display: inline-block;
	color: #0a51ae;
	border-bottom: 1px dashed #0a51ae;
	white-space: nowrap;
	cursor: pointer;
}

.visualconstructor-select-popup-wrapper {
	padding-top: 10px;
	padding-bottom: 10px;
}


.visualconstructor-select-item-wrapper:hover {
	background-color: #f6f8f9;
}


