.b24-tariff-lock .menu-popup-item-icon {
	min-height: 12px;
	width: 9px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%208%2010%22%3E%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20d%3D%22M4.344%207.346v1.472c0%20.184-.152.335-.337.335h-.074c-.185%200-.337-.15-.337-.335V7.346c-.334-.145-.57-.473-.57-.858%200-.52.423-.937.944-.937.52%200%20.944.42.944.938%200%20.385-.236.713-.57.858zM2.02%202.984C2.025%202.78%202.093.982%203.97.982s1.946%201.797%201.948%202v.982H2.02v-.98zm4.888.98v-.982C6.908%201.95%206.294%200%203.97%200%201.646%200%201.032%201.95%201.032%202.982v.982H0v6.01h8v-6.01H6.908z%22%20opacity%3D%22.636%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
}

.main-ui-filter-search input[type="text"].main-ui-filter-search-filter {
	padding: 0 50px 0 15px;
	height: 30px;
	font-size: 15px;
	margin: 4px 1px;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
}

.main-grid-cell-content a.sender-letter-list-link {
	display: inline-block;
	font: 13px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #0063C6;
	transition: color .3s;
	cursor: pointer;
}

.main-grid-cell-content a.sender-letter-list-link:hover {
	color: #1d1dc6;
	text-decoration: none;
}

.sender-letter-list-desc-small-black {
	display: block;
	font: 11px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #484848;
	text-transform: lowercase;
}

.sender-letter-list-desc-normal-black {
	display: block;
	font: 13px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #525C69;
}

.sender-letter-list-desc-small-grey {
	display: block;
	font: 11px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A5A9AB;
	white-space: nowrap;
}

.sender-letter-list-desc-normal-grey {
	display: block;
	font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A5A9AB;
	white-space: nowrap;
}

.sender-letter-list-desc-green {
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #64AD00;
}

.sender-letter-list-button {
	display: flex;
	align-items: center;
	padding: 0 14px;
	margin: 0 11px 0 0;
	width: 100%;
	max-width: 115px;
	height: 32px;
	border-radius: 2px;
	font: 10px/32px  'OpenSans-Bold', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #58626E;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
	cursor: pointer;
}

.sender-letter-list-block-flexible {
	display: flex;
	/*flex-wrap: wrap;*/
	align-items: center;
}

.sender-letter-list-button-green {
	background: rgba(123,213,0,.15);
}

.sender-letter-list-button-red {
	background: rgba(255,87,82,.15);
}

.sender-letter-list-button-grey {
	background: rgba(168,173,180,.15);
}

.sender-letter-list-button-icon {
	margin: 0 6px 0 0;
}

.sender-letter-list-button-icon-play {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 5px;
	border-color: transparent transparent transparent #7cd500;
}

.sender-letter-list-button-icon-resume {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 5px;
	border-color: transparent transparent transparent rgba(83,92,105,.7);
}

.sender-letter-list-button-icon-stop {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 3px 7px;
	border-color: rgba(83,92,105,.7);
}

.sender-letter-list-button-icon-pause {
	display: inline-block;
	width: 6px;
	height: 9px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%206%209%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%200h2v9H0V0zm4%200h2v9H4V0z%22%20opacity%3D%22.7%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.sender-letter-list-circular {
	margin: 0 4px 0 0;
	height: 12px;
	width: 12px;
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.sender-letter-list-inner-path {
	stroke: rgba(205,0,0,.17);
	stroke-width: 4;
	stroke-dasharray: 200, 200;
	stroke-dashoffset: 0;
	stroke-linecap: round;
}

.sender-letter-list-path {
	stroke: rgba(205,0,0,1);
	stroke-width: 4;
	stroke-dasharray: 20, 200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

.sender-letter-list-icon-subject {
	display: inline-block;
	margin: 0 4px -1px 0;
	width: 9px;
	height: 11px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23A8ADB4%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.728%205.562c.276.236.53.5.762.788.598.747.972%201.576%201.122%202.488.09.544-.28%201.06-.824%201.15-.054.008-.108.012-.162.012H1.623c-.552%200-1-.448-1-1%200-.074.008-.148.025-.22.224-.998.586-1.808%201.084-2.43.21-.26.458-.508.746-.74.648.7%201.575%201.136%202.604%201.136%201.05%200%201.996-.457%202.646-1.184zm-2.646.013c-1.313%200-2.377-1.064-2.377-2.377C2.705%201.885%203.77.82%205.082.82%206.394.82%207.458%201.886%207.458%203.2c0%201.313-1.064%202.377-2.376%202.377z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.sender-letter-list-icon-time {
	display: inline-block;
	margin: 0 4px -1px 10px;
	width: 11px;
	height: 11px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20fill%3D%22%23A8ADB4%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6%205h2v1H5V2.785h1V5zm-.43%205.91C2.58%2010.91.16%208.487.16%205.5S2.58.09%205.57.09c2.986%200%205.408%202.422%205.408%205.41s-2.422%205.41-5.41%205.41zm0-1.377c2.226%200%204.03-1.806%204.03-4.033%200-2.227-1.804-4.033-4.03-4.033-2.23%200-4.034%201.806-4.034%204.033%200%202.227%201.805%204.033%204.033%204.033z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.sender-letter-list-desc-text {
	display: inline-block;
	margin: 0 4px 0 0;
}

.sender-letter-list-icon-speedo {
	display: inline-block;
	width: 11px;
	height: 7px;
	margin: 0 0 0 10px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2011%207%22%3E%3Cpath%20fill%3D%22%23E5312C%22%20fill-rule%3D%22evenodd%22%20d%3D%22M10.45.565l-.117-.117c-.252-.252-3.508%202.576-4.652%203.584A1.481%201.481%200%201%200%206.85%205.237C7.844%204.11%2010.705.818%2010.45.564m-.08%202.503L8.826%204.61c.068.272.105.557.105.85v.03h1.988v-.03c0-.858-.198-1.67-.55-2.392m-4.91-1.08c.28%200%20.553.034.814.097L7.824.536A5.46%205.46%200%200%200%200%205.46v.03h1.988v-.03A3.472%203.472%200%200%201%205.46%201.988%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}