.invite-main-wrap {font-size:13px; color:#000; font-family:Arial, Helvetica, sans-serif;}
.sonet-slider-frame-popup .invite-main-wrap {
	padding: 15px 15px 20px;
}
.invite-main-wrap + .invite-main-wrap {padding-top: 20px;}
.invite-title {font-size:15px; color:#000; padding-bottom:15px;}
.invite-list {border:none; border-top:1px solid #ededed; width:100%;}
.invite-list td {border-top: 2px solid white; border-bottom: 2px solid white; font-size:13px; padding:0;}
.invite-list input {margin:8px 0 0; padding:0; height:13px; width:13px;}
.invite-list-header input {
	/*margin-top: 2px; */
	height: 13px;
	width: 13px;
}
td.invite-list-header {background:#f7f7f7; border-top:1px solid #fff; border-bottom:1px solid #e5e5e5; font-size:13px; color:#636363; height:35px; vertical-align:top; padding:7px 5px 0 6px;}
td.invite-list-header {height:26px\9; padding-top:9px\9;}
*html td.invite-list-header {height:35px;}
td.invite-list-checkbox {width:26px;}
td.invite-list-img {width:41px;}
span.invite-list-img-image {
	float: left;
	display: inline-block;
	margin: 0 8px 0 0;
	height: 30px;
	width: 30px;
	border: none;
	border-radius: 100%;
	background: url("images/group-list-sprite.png?2") no-repeat 0 -243px;
	vertical-align: top;
}
td.invite-list-name {width:160px; white-space:nowrap;}
.invite-user-link,
.invite-user-link:hover,
.invite-user-link:visited,
.invite-user-link:active {
	color: #0069c4;
	display: inline-block;
	max-width: 160px;
	font-size: 13px;
	/*margin-top: 6px; */
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.invite-active-block {
	position: relative;
	margin: 0 0 2px;
	/*margin: 5px 0 2px;*/
	/*padding: 2px 5px 2px 6px;*/
	/*white-space: nowrap;*/
}
*html .invite-active-block {height:34px!important;}
.invite-list-message .invite-active-block {
	padding: 4px 0;
	max-width: 176px;
}
.invite-list-checkbox .invite-active-block {border-radius:3px 0 0 3px;}
.invite-list-message .invite-active-block {border-radius:0 3px 3px 0;}

tr.invite-list-active {background:#fff3d3;}
*html .invite-list-active .invite-active-block {background:none;}
*html .invite-list-active td {background:#fff3d3;}
*html .invite-list-active td.invite-list-header {background:#f7f7f7;}

.invite-buttons-block {border-top:1px solid #e5e5e5; margin-top: 14px; padding:15px 0 0 0;}

.sonet-group-requests-smbutton { margin: 0 12px 0 0; background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -551px;}
.sonet-group-requests-smbutton:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -985px; }
.sonet-group-requests-smbutton:hover .webform-small-button-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -927px; }
.sonet-group-requests-smbutton:hover .webform-small-button-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -22px -927px; }

.sonet-group-requests-smbutton, .sonet-group-requests-smbutton-left, .sonet-group-requests-smbutton-icon, .sonet-group-requests-smbutton-right, .sonet-group-requests-smbutton-text { display: inline-block; vertical-align: middle; height: 27px; cursor: pointer; text-decoration: none !important; outline: none; }
.sonet-group-requests-smbutton-accept { margin: 0 12px 0 0; background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat-x 0 -356px; }
.sonet-group-requests-smbutton-left { width: 4px; background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -15px -493px; margin-right: 8px; }
.sonet-group-requests-smbutton-accept .sonet-group-requests-smbutton-left { width: 4px; background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat 0 -328px; margin-right: 6px; }
.sonet-group-requests-smbutton-text { font: normal normal normal 13px/24px Arial, Helvetica, sans-serif; color: #4F4F4F; }
.sonet-group-requests-smbutton-accept .sonet-group-requests-smbutton-text { font: normal normal normal 13px/24px Arial, Helvetica, sans-serif; color: white; text-shadow: #75AB6F -1px -1px 0/*, #72C868 1px 1px 0*/; }
.sonet-group-requests-smbutton-right { width: 6px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -22px -493px; margin-left: 8px; }
.sonet-group-requests-smbutton-accept .sonet-group-requests-smbutton-right { width: 6px; background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -328px; margin-left: 6px; }

.sonet-group-requests-smbutton-accept:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) repeat-x 0 -1044px; }
.sonet-group-requests-smbutton-accept:hover .sonet-group-requests-smbutton-left { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -1016px; }
.sonet-group-requests-smbutton-accept:hover .sonet-group-requestsinvite-list-img-image-smbutton-right { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -6px -1016px; }

.sonet-group-request-main {
	position: relative;
	min-height: 300px;
	display: flex;
}

.sonet-group-request-content {
	display: table;
	width: 100%;
	border-collapse: collapse;
}

.sonet-group-request-row {
	display: table-row;
}

.sonet-group-request-first-row .sonet-group-request-cell {
	padding: 8px 2.3% 0 0;
}

.sonet-group-request-head {
	border-bottom: 1px solid rgba(82,92,105,.1);
}

.sonet-group-request-cell {
	display: table-cell;
	padding: 0 2.3% 0 0;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	vertical-align: middle;
}

.sonet-group-request-cell:last-child {
	padding: 0;
}

.sonet-group-request-desc {
	max-width: 160px;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #8B8B8B;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.sonet-group-request-user-box {
	overflow: hidden;
}

.invite-list-header {
	padding: 10px 20px 20px 0;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #6F7888;
}

.sonet-group-request-no-request {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.sonet-group-request-no-request-icon {
	margin: 0 auto 49px auto;
	width: 147px;
	height: 147px;
	border-radius: 100%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2273.5%22%20cy%3D%2273.5%22%20r%3D%2273.5%22%20fill%3D%22%2380868E%22%20opacity%3D%22.2%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M81.709%2061.528s-.754%202.387-.873%202.707c-.273.41-.504.848-.688%201.306.159%200%201.76.754%201.76.754l6.227%201.961-.09%202.977a7.377%207.377%200%200%200-3.012%202.24%2010.53%2010.53%200%200%201-1.097%201.874c5.673%202.32%208.991%205.716%209.126%209.518.093.676%203.535%2013.13%203.732%2015.936H123c.022-.117-.795-16.23-.795-16.35%200%200-1.504-3.88-3.89-4.275a18.58%2018.58%200%200%201-6.73-2.22%2024.755%2024.755%200%200%200-4.325-2.004%206.511%206.511%200%200%201-1.741-2.489%207.342%207.342%200%200%200-3.011-2.24l-.09-2.978%206.228-1.962s1.606-.753%201.76-.753a12.075%2012.075%200%200%200-.858-1.516c-.118-.32-.705-2.486-.705-2.486a16.058%2016.058%200%200%200%203.167%203.093%2044.876%2044.876%200%200%201-2.715-6.204%2039.77%2039.77%200%200%201-1.038-6.007%2089.812%2089.812%200%200%200-1.996-11.18%2010.507%2010.507%200%200%200-3.294-4.678%2015.19%2015.19%200%200%200-7.539-2.696h-.318c-2.702.21-5.3%201.14-7.525%202.696a10.543%2010.543%200%200%200-3.292%204.68%2089.25%2089.25%200%200%200-1.994%2011.181%2038.794%2038.794%200%200%201-.989%206.146%2039.486%2039.486%200%200%201-2.762%206.067%2016.095%2016.095%200%200%200%203.161-3.098zM95.347%20110c0-4.762-5.304-24.9-5.304-24.9%200-2.944-3.816-6.306-11.344-8.265a25.476%2025.476%200%200%201-7.181-3.292c-.477-.278-.41-2.848-.41-2.848l-2.425-.38c0-.209-.206-3.29-.206-3.29%202.9-.982%202.6-6.77%202.6-6.77%201.842%201.033%203.04-3.54%203.04-3.54%202.179-6.363-1.084-5.979-1.084-5.979.57-3.885.57-7.833%200-11.718-1.45-12.888-23.285-9.39-20.697-5.186-6.382-1.19-4.928%2013.441-4.928%2013.441l1.384%203.783c-2.718%201.773-.83%203.922-.737%206.4.133%203.65%202.346%202.894%202.346%202.894.137%206.023%203.083%206.815%203.083%206.815.555%203.783.21%203.14.21%203.14l-2.625.32c.035.858-.034%201.718-.207%202.56-3.092%201.386-3.75%202.199-6.815%203.55-5.924%202.615-12.365%206.017-13.514%2010.595C29.383%2091.91%2026%20110%2026%20110h69.347z%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.sonet-group-request-no-request-text {
	font: 14px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A8ADB4;
}
