.mobile-text-body {
	display: flex;
	height: 100%;
	overflow: hidden;
	flex-direction: column;
}

.mobile-text-wrapper {
	flex: 1;
	position: relative;
	border-bottom: 1px solid rgba(82,92,105,.1);
}

.mobile-text-wrapper-inner {
	position: absolute;
	overflow: auto;
	top: 20px;
	left: 20px;
	bottom: 15px;
	right: 20px;
}

/*525C69*/

.mobile-text-button {
	padding: 28px 0 5px 0;
	text-align: center;
}
.mobile-text-button:last-child {
	padding: 5px 0 20px 0;
}

.mobile-text-title {
	height: 40px;
	margin-bottom: 15px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: #333;
}

.mobile-text-title:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 37px;
	height: 37px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2237%22%20height%3D%2237%22%20viewBox%3D%220%200%2037%2037%22%3E%3Ccircle%20cx%3D%2218.457%22%20cy%3D%2218.457%22%20r%3D%2218.457%22%20fill%3D%22%23FF5752%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M21.135383%2C8.74162677%20C20.9745123%2C8.70129555%2020.8049602%2C8.75931342%2020.702549%2C8.8897353%20L12.1692212%2C19.7570304%20L12.1616294%2C19.7669054%20C11.9673402%2C20.0250712%2012.0145167%2C20.3923942%2012.2699053%2C20.5928277%20C12.3747772%2C20.6751331%2012.5042455%2C20.7198688%2012.6375716%2C20.7198688%20L17.2506688%2C20.7198688%20L15.1811519%2C28.0535857%20L15.1783797%2C28.0638996%20C15.1221478%2C28.2840347%2015.2515747%2C28.510039%2015.4715426%2C28.5720797%20C15.6335009%2C28.6177591%2015.8071002%2C28.5624583%2015.9127685%2C28.4315255%20L24.6410959%2C17.6163185%20L24.6489164%2C17.6064197%20C24.8465242%2C17.3508749%2024.8042289%2C16.9830425%2024.551581%2C16.7792519%20C24.445696%2C16.6938431%2024.3137472%2C16.6472624%2024.1776953%2C16.6472624%20L19.5856677%2C16.6472624%20L21.4408259%2C9.25140329%20L21.443295%2C9.24101272%20C21.4930593%2C9.01932685%2021.3570726%2C8.79720566%2021.135383%2C8.74162677%20Z%20M27.1455852%2C21.6608663%20C26.8123524%2C21.4685247%2026.3862493%2C21.5826688%2026.1938573%2C21.9158141%20C26.0014652%2C22.2489595%2026.1156392%2C22.6749508%2026.448872%2C22.8672924%20L28.073802%2C23.8052%20C28.4070348%2C23.9975416%2028.8331379%2C23.8833975%2029.0255299%2C23.5502522%20C29.2179219%2C23.2171068%2029.103748%2C22.7911155%2028.7705152%2C22.5987739%20L27.1455852%2C21.6608663%20Z%20M10.7387019%2C21.8570868%20C10.5463099%2C21.5239415%2010.1202068%2C21.4097974%209.78697399%2C21.602139%20L8.162044%2C22.5400467%20C7.82881122%2C22.7323882%207.71463724%2C23.1583795%207.90702927%2C23.4915249%20C8.09942131%2C23.8246703%208.52552441%2C23.9388143%208.85875719%2C23.7464727%20L10.4836872%2C22.8085651%20C10.81692%2C22.6162235%2010.9310939%2C22.1902322%2010.7387019%2C21.8570868%20Z%20M29.537285%2C17.1078548%20L27.6609775%2C17.1078548%20C27.2761934%2C17.1078548%2026.9642643%2C17.4197021%2026.9642643%2C17.8043852%20C26.9642643%2C18.1890684%2027.2761934%2C18.5009156%2027.6609775%2C18.5009156%20L29.537285%2C18.5009156%20C29.9220691%2C18.5009156%2030.2339982%2C18.1890684%2030.2339982%2C17.8043852%20C30.2339982%2C17.4197021%2029.9220691%2C17.1078548%2029.537285%2C17.1078548%20Z%20M8.94259456%2C17.072839%20L7.06628702%2C17.072839%20C6.68150295%2C17.072839%206.36957383%2C17.3846863%206.36957383%2C17.7693694%20C6.36957383%2C18.1540526%206.68150295%2C18.4658999%207.06628702%2C18.4658999%20L8.94259456%2C18.4658999%20C9.32737863%2C18.4658999%209.63930775%2C18.1540526%209.63930775%2C17.7693694%20C9.63930775%2C17.3846863%209.32737863%2C17.072839%208.94259456%2C17.072839%20Z%20M8.96761863%2C11.9264752%20C8.63438585%2C11.7341337%208.20828274%2C11.8482777%208.01589071%2C12.1814231%20C7.82349867%2C12.5145684%207.93767266%2C12.9405597%208.27090544%2C13.1329013%20L9.89583543%2C14.0708089%20C10.2290682%2C14.2631505%2010.6551713%2C14.1490065%2010.8475633%2C13.8158611%20C11.0399554%2C13.4827158%2010.9257814%2C13.0567244%2010.5925486%2C12.8643829%20L8.96761863%2C11.9264752%20Z%20M28.9166685%2C12.08768%20C28.7242764%2C11.7545346%2028.2981733%2C11.6403906%2027.9649405%2C11.8327322%20L26.3400106%2C12.7706398%20C26.0067778%2C12.9629814%2025.8926038%2C13.3889727%2026.0849958%2C13.722118%20C26.2773879%2C14.0552634%2026.703491%2C14.1694074%2027.0367237%2C13.9770659%20L28.6616537%2C13.0391582%20C28.9948865%2C12.8468167%2029.1090605%2C12.4208253%2028.9166685%2C12.08768%20Z%22/%3E%3C/svg%3E') center center no-repeat;
}

.mobile-text {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 17px;
	margin: 0 0 15px 0;
}

.mobile-text a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 15px;
	color: #1d54a2;
	line-height: 17px;
}

.mobile-text a:hover {
	border-bottom: 1px solid #1d54a2;
}

.disclaimer-mobile-button-container{
	margin-bottom: 50px;
}

.mobile-text-button button
{
    height: 50px;
    font-size: 14px;
}