.bx_profile .main-profile-block-date-info { margin-bottom: 15px; }

.bx_profile .main-profile-form-password-annotation {
	margin-top: 15px;
	margin-bottom: 0;
	color: grey;
	font-weight: lighter;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.bx_profile .main-profile-social-block { margin-top: 40px; }


