.feed-comments-block .feed-com-all-hide {display: none;}
.blog-post-popup-menu .menu-popup-item-icon, .blog-comment-popup-menu .menu-popup-item-icon{width:0px;}
.blog-comment-wait { height: 31px; width: 31px; background: url(images/wait.gif) no-repeat 0 0;}

#microblog-link .blog-post-new-link {
	cursor: text;
	border: 1px solid #C2C2C2;
	border-radius: 2px;
	color: #999;
	display: block;
	height: 30px;
	text-align: left;
	font-family: arial;
	line-height:30px;
}
#microblog-link .blog-post-new-link span {padding-left:10px;}

.feed-post-text-block table.data-table, .feed-com-text table.data-table {
	border-collapse: collapse;
}

.feed-com-text table.data-table {
	width: 100%;
	/*table-layout: fixed;*/
	/*word-wrap: break-word;*/
	overflow: auto;
}

.feed-post-text-block table.data-table td, .feed-com-text table.data-table td, .feed-post-text-block table.data-table th, .feed-com-text table.data-table th {border: 1px solid grey; padding: 3px;}

table.blogquote, table.blogcode { font-size:1em; margin:0.5em 1em; width:100%; border:1px solid;}
table.blogquote td,
table.blogcode td {
	padding: 4px 40px 8px 27px;
	height: 18px;
}
table.blogcode td {font-family:"Courier New"; white-space:pre-wrap;}
table.blogcode pre {font-family:"Courier New"; font-size: 12px; margin: 0; line-height: 15px; white-space:pre-wrap;}

div.blog-post-quote, div.blog-post-code {padding-top: 0.6em; padding-bottom: 0.6em;}
div.feed-com-block div.blog-post-quote, div.feed-com-block div.blog-post-code {padding-right: 20px;}

div.blog-post-quote span, div.blog-post-code span {padding-left:0.6em;}
div.blog-post-quote span, div.blog-post-code span.bx-font {padding-left:0;}
div.blog-post-quote table.blogquote, div.blog-post-code table.blogcode {margin: 0;}

.blog-p-user-name {
	border-bottom: 1px solid transparent;
	text-decoration: none;
}

.blog-p-user-name-extranet {
	color: #d9930a !important;
}

.blog-p-user-name:hover {
	border-bottom: 1px solid;
}

/*div.blog-post-quote table span, div.blog-post-code table span {display: block;}*/
div.blog-post-code table.blogcode { border-color: #E8E8E8; color: #7D7D7D; background-color: #F7F7F7;}
div.blog-post-quote table.blogquote {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%2214%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%2011.813C2.563%2010.6%203.844%209.171%203.844%207.531c-1.104-.121-2.01-.551-2.719-1.29C.417%205.5.063%204.646.063%203.675c0-1.033.348-1.903%201.046-2.612C1.807.354%202.677%200%203.72%200c1.146%200%202.146.46%203%201.382C7.573%202.303%208%203.422%208%204.738%208%208.685%205.74%2011.773%201.219%2014L0%2011.813z%22%20opacity%3D%22.303%22/%3E%3C/svg%3E');
	background-position: 12px 9px;
	background-repeat: no-repeat;
	border-color: #edede6;
	color: #525C69;
}

div.feed-com-block table.blogquote,
div.feed-com-block table.blogcode {
	background-color: #F3F6F7;
	border-style: solid;
	border-width: 1px;
	border-color: #E0E2E3;
	border-radius: 8px;
}

div.feed-com-block table.blogquote table.blogquote {
	border-style: solid;
	border-width: 1px;
	border-color: #E3E5E5;
}

table.blogquote a.blog-p-user-name {
	color: #333333;
}

.feed-add-post-block .feed-cancel-com {margin-top: 25px;}
.feed-com-add-block .feed-add-photo-block {width: 102px;}
.feed-add-img-title {overflow: hidden;}

.feed-destination-edit {
	background: url(images/pnc.png) no-repeat -1px -7px;
	cursor: pointer;
	height: 23px;
	margin: -2px 5px 0 8px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 23px;

	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
.feed-destination-edit:hover {background: url(images/pnc.png) no-repeat -24px -7px;}
.feed-destination-edit.feed-destination-edit-pressed {background: url(images/pnc.png) no-repeat -50px -7px;}
.feed-post-title-block:hover .feed-destination-edit{
	opacity: 1;
	visibility: visible;
}
/*
.blog-notify-bar {
	width: 100%;
	height: 2em;
	line-height: 2em;
	background: url("/bitrix/js/main/core/images/panel/sprite03.png") repeat-x scroll 0 -1178px #FFEB8D;
	position:relative;
	margin-bottom: 10px;
}
.blog-notify-close {
	display: block;
	height: 12px;
	margin: 3px 6px 0 0;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 12px;
}
.blog-notify-close a {
	background: url("/bitrix/js/main/core/images/panel/sprite03.png") no-repeat scroll -268px -243px transparent;
	display: block;
	height: 12px;
	width: 12px;
	cursor:pointer;
}
.blog-notify-text {
	text-align: center !important;
}
.blog-notify-text a {
	color: #ff0000;
	cursor:pointer;
	text-decoration:underline;
	margin-left: 9px;
}
*/

.feed-com-reply {
	/*border-bottom: 1px solid transparent;*/
	color: #999;
	margin-left: 12px;
	font-size: 11px;
	line-height: 14px;
}

.feed-com-reply:hover {
	/*border-bottom: 1px solid;*/
}
.feed-answer-writing { display: inline-block; background: url('images/writing-recent.gif?1') no-repeat scroll 5px 2px transparent; height: 15px; width: 21px; margin-right: 6px; vertical-align: middle;}

.feed-com-answer-avatar {
	border:1px solid #eeeeee;
	border-radius:1px;
	box-shadow:inset 0 0 1px #f0f0f0;
	height:19px;
	padding:2px;
	width:19px;
	display: inline-block;
	margin-right: 5px;
}
.feed-com-answer-avatar.feed-com-answer-noavatar {background: url('images/answer_sprite.png') 1px 1px no-repeat;}

.bx-notifyManager-animation-spbc {position: fixed !important;}

.bx-spbc-notifier-item {width: 200px; padding: 0; display:block; padding: 0; font: 11px "Helvetica Neue",Helvetica,Arial,sans-serif; color: #76797a;}
.bx-spbc-notifier-item-avatar { float: left; margin-right: 6px; background: url('images/answer_sprite.png') 0 0 no-repeat; background-color: #FFF; display: inline-block; width: 21px; height: 21px; padding: 0px; vertical-align: top; margin-top: 2px; margin-bottom:-2px }
.bx-spbc-notifier-item-avatar-img { display: inline-block; width: inherit; height: inherit; border:0 }
.bx-spbc-notifier-item-content { display: block; padding: 0; min-height: 39px; overflow: hidden;}
.bx-spbc-notifier-item-name { display: block; overflow:hidden; text-overflow: ellipsis; white-space:nowrap; }
.bx-spbc-notifier-item-time { background: url('images/answer_sprite.png') no-repeat -46px 0px; padding-left: 12px; display: block; margin-left: 28px; color: #76797a; margin-top: 2px; line-height: 11px;}
.bx-spbc-notifier-item-text { font-size: 12px; color: #76797a; word-wrap: break-word; margin-top: 3px; display: inline-block;}
.bx-spbc-notifier-item-text2 { font-size: 12px; color: #000; word-wrap: break-word; display: inline-block;}

.bx-spbc-notifier-item-delete { position:relative; z-index: 4; cursor: pointer; display: block; float:right; width: 15px; height: 15px; background: url('images/answer_sprite.png') -24px 4px no-repeat; margin-top: -4px; margin-right: -2px;}

/* share */
.feed-add-post-destination-block-post {
/*	border-top: 1px solid #ebeded;*/
	border-bottom: 1px solid #ebeded;
/*	padding-top: 20px;*/
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	position: static;
}
.feed-add-post-buttons-post {
	padding-top: 12px;
}
.feed-add-post-buttons-post .feed-cancel-com {margin-top: 25px;}

.feed-add-post-destination-wrap .feed-add-post-destination-undelete {padding-right:11px !important;}
.feed-post-block-new .feed-add-destination-inp {background-color: #fdf9e5;}