#workarea-content {
	background: #ebf1f4 !important;
}

.docs-template-wrap-slider {
	padding: 0 25px;
}

.docs-template-pagetitle-inner {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
}

.docs-template-info-message {
	margin: 12px 0 3px;
	padding: 14px 20px 14px 19px;
	border-radius: 3px;
	background-color: #f8f4bc;
	color: #616a77;
	font-size: 13px;
	line-height: 17px;
}

.docs-template-info-message.docs-template-error-message {
	background-color: red;
	display: none;
	color: white;
}

.docs-template-info-link {
	margin-left: 15px;
	color: #4a90e2;
	text-decoration: underline;
	cursor: pointer;
}

.docs-template-info-link:hover {
	color: #4a90e2;
	text-decoration: none;
}

.docs-template-grid {
	width: 100%;
	height: 621px;
}

.docs-template-grid-img {
	width: 100%;
	height: 100%;
	background: url(images/grid-picture.jpg) no-repeat;
}

.ui-btn-primary-docs-template {
	min-width: 123px;
}

.pagetitle-container-docs-template .main-ui-filter-search {
	max-width: 285px;
	min-width: 260px;
	margin-right: 12px;
}

.docs-template-pagetitle-inner .pagetitle {
	margin-right: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}