.leac-title-wrap
{
	margin-top: -6px;
	min-height: 64px;
	box-sizing: border-box;
	padding: 21px 0 10px 5px;
	position: relative;
}
.leac-title-menu
{
	float: left;
	text-align: left;
	z-index: 2;
	white-space: nowrap;
	margin-top: -20px;
	padding-right: 20px;
}
.leac-title-menu:before {
	content: "";
	height: 64px;
	display: inline-block;
	vertical-align: middle;
}
.leac-title-menu > div, .leac-title-menu > span
{
	display: inline-block;
	vertical-align: middle;
	float: none;
	position: relative;
}
.leac-grid-title {
	background-color: #e3e8ea;
	color: #5e6675;
	font-size: 14px;
	padding: 4px 105px 0 42px;
	position: relative;
	height: 36px;
	line-height: 30px;
}
.leac-grid-container
{
	margin-bottom: 20px;
}