.bx-disk-aggregator-icon-main {width: 64px; height: 64px;vertical-align:middle}
.bx-disk-aggregator-icon {width: 64px; height: 64px;}
.bx-disk-aggregator-common-div {float:left;}
.bx-disk-aggregator-list {list-style: none;padding: 0 0 10px 50px;width: 45%;height: 50px;display: block;float: left;margin:10px 0px 10px 0px;white-space: nowrap;}
.bx-disk-aggregator-list-folder {list-style: none;padding: 0 0 10px 50px;width: 45%;height: 50px;display: block;float: left;margin: 10px 0px 10px 0px}
.bx-disk-aggregator-a-link {font-size: 17px;margin-left:5px;}
.bx-disk-aggregator-a-link:hover {text-decoration:none;}
.bx-disk-aggregator-p-link {color: #2067b0;font-size:17px;display:inline-block;margin-left:5px;}
.bx-disk-aggregator-p-link:hover {cursor: pointer;}
.bx-disk-aggregator-p-link::selection {background: transparent;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;}
.bx-disk-aggregator-storage-title {color: #555;font-size: 24px;padding: 0;font-weight: normal;text-shadow: 0 1px 0 #FFF;-webkit-font-smoothing: antialiased;text-align:center;width:90%;}
.bx-disk-aggregator-description-div {float:left;background-color:rgb(214,241,251);border: 1px solid rgb(193, 234, 249);font-size: 0.95em;padding: 0pt 15px;margin-top:130px;}
.bx-disk-aggregator-nd-link {color: #2067b0;font-size:14px;margin-right:20px;}
.bx-disk-aggregator-nd-link::selection {background: transparent;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;}
.bx-disk-aggregator-nd-link:hover {cursor: pointer;}
.bx-disk-aggregator-group-div{margin-top:300px;}
