.pagetitle-inner-container .pagetitle-menu {
	order: 5;
	display: flex;
}

.pagetitle-inner-container .pagetitle-container {
	display: flex;
}

.crm-order-instagram-view .crm-order-instagram-edit-content-inner {
	margin: 20px 0;
}

.crm-order-instagram-view .crm-order-instagram-edit-desc {
	margin: 0;
}

.crm-order-instagram-view .crm-order-instagram-edit-content-logo {
	top: -15px;
}

.crm-order-instagram-view-item-img {
	display: block;
	width: 240px;
	height: 240px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 16px 34px 13px 16px;
}

.crm-order-instagram-view-item-img-1 {
	background-image: url(img/img1.png);
}

.crm-order-instagram-view-item-img-2 {
	background-image: url(img/img2.png);
}

.crm-order-instagram-view-item-img-3 {
	background-image: url(img/img3.png);
}

.crm-order-instagram-view-item-detail {
	transition: border .2s linear;
	border: 1px solid transparent;
	position: relative;
	border-radius: 2px;
	cursor: pointer;
}

.crm-order-instagram-view-list {
	display: flex;
	flex-wrap: wrap;
}

.crm-order-instagram-view-item {
	display: flex;
	justify-content: space-between;
	margin: 0 17px 19px 0;
	box-sizing: border-box;
	position: relative;
}

.crm-order-instagram-view-item:hover .crm-order-instagram-view-item-detail {
	border-color: #c6c6c6;
}

.crm-order-instagram-view-item-selected:hover .crm-order-instagram-view-item-detail {
	border-color: #2fc6f6;
}

.crm-order-instagram-view-item-selected:before {
	content: '';
	position: absolute;
	right: 9px;
	top: 18px;
	width: 18px;
	height: 14px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2219%22%20height%3D%2215%22%20viewBox%3D%220%200%2019%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.27386%2010.5149L16.4048%200.383972L18.2947%202.27384L6.27386%2014.2947L0%208.02079L1.88986%206.13092L6.27386%2010.5149Z%22%20fill%3D%22%232FC6F6%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
}

.crm-order-instagram-view-item-input:checked + .crm-order-instagram-view-item-detail,
.crm-order-instagram-view-item-selected .crm-order-instagram-view-item-detail {
	 border-color: #2fc6f6;
}

.crm-order-instagram-view-item-selected .crm-order-instagram-view-item-detail {
	cursor: auto;
}

.crm-order-instagram-view-item-detail:before {
	content: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(47, 198, 246, .1);
	width: 100%;
	height: 100%;
	z-index: 9;
}

.crm-order-instagram-view-item-input:checked + .crm-order-instagram-view-item-detail:before,
.crm-order-instagram-view-item-selected .crm-order-instagram-view-item-detail:before {
	content: '';
}

.crm-order-instagram-view-item:nth-child(3n) {
	margin-right: 0;
}

.crm-order-instagram-view-item-input {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 9px;
	top: 16px;
}

.crm-order-instagram-view-imported .crm-order-instagram-edit-decs-text {
	color: #0063c6;
	font: 18px/20px 'OpenSans-Regular', Helvetca, Arial, sans-sarif;
}

.crm-order-instagram-view-imported .crm-order-instagram-view-item-input,
.crm-order-instagram-view-item-selected .crm-order-instagram-view-item-input {
	display: none;
}

.crm-order-instagram-view-imported .crm-order-instagram-view-item-img {
	width: 198px;
	height: 198px;
	margin-right: 16px;
	margin-bottom: 9px;
}

.crm-order-instagram-view-imported .crm-order-instagram-view-item {
	margin-right: 50px;
}

.crm-order-instagram-view-imported .crm-order-instagram-view-btn {
	display: none;
}

.crm-order-instagram-view-imported .crm-order-instagram-view-item:hover .crm-order-instagram-view-item-detail {
	border-color: transparent;
}

.crm-order-instagram-view-imported .crm-order-instagram-view-item-input:checked + .crm-order-instagram-view-item-detail {
	border-color: transparent;
}

.crm-order-instagram-view-imported .crm-order-instagram-view-item-input:checked + .crm-order-instagram-view-item-detail:before {
	content: none;
}

.crm-order-instagram-view-item-decs-block {
	text-align: center;
}

.crm-order-instagram-view-item-decs {
	cursor: pointer;
}

.crm-order-instagram-view-item-decs:first-child {
	margin-bottom: 7px;
}

.crm-order-instagram-view-item-name {
	color: #525c69;
}

.crm-order-instagram-view-item-price {
	color: #333;
	font: 18px/20px 'OpenSans-SemiBold', Helvetca, Arial, sans-sarif;
	cursor: pointer;
}

.crm-order-instagram-view-item-price-no {
	font-size: 14px;
	line-height: 18px;
}

.crm-order-instagram-view-item-price-no + .crm-order-instagram-view-item-edit {
	top: 2px;
}

.crm-order-instagram-view-item-currency {
	color: #828b95;
	font-size: 17px;
	margin-left: 3px;
}

.crm-order-instagram-view-item-edit {
	cursor: pointer;
	width: 15px;
	height: 18px;
	opacity: 0;
	transition: all .2s linear;
	display: inline-block;
	vertical-align: top;
	margin-left: 2px;
	position: absolute;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11%202.47083L8.55127%200L1.45264%207.06238L3.90137%209.5332L11%202.47083ZM0.0775146%2010.9208C0.0107422%2010.8519%20-0.0155029%2010.7527%200.0090332%2010.6589L0.791382%207.72968L3.24011%2010.2005L0.337036%2010.9899C0.244141%2011.0164%200.145874%2010.9899%200.0775146%2010.9208Z%22%20fill%3D%22%23525C69%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
}

.crm-order-instagram-grid-item-title-wrapper:hover .crm-order-instagram-view-item-edit {
	opacity: .3;
}

.crm-order-instagram-grid-item-title-wrapper:hover .crm-order-instagram-view-item-edit:hover {
	opacity: 1;
}

/* Grid style */

.crm-order-instagram-grid {
	margin: 10px 0;
	width: 966px;
}

.crm-order-instagram-grid .ui-grid-tile-item::before {
	padding-top: 92%;
}

.crm-order-instagram-grid-imported .ui-grid-tile-item::before {
	padding-top: 120%;
}

.crm-order-instagram-grid-item {
	box-shadow: none;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 16px 39px 13px 15px;
	border-radius: 2px;
	transition: border-color .15s linear;
}

.crm-order-instagram-grid-item:hover {
	border-color: #c6c6c6;
}

.crm-order-instagram-grid-item-image {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	background: no-repeat center center;
	background-size: contain;
	margin: 0;
	height: 240px;
	width: 240px;
}

.crm-order-instagram-grid-item-image-img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	max-height: 100%;
	transform: translate(-50%, -50%);
}

.crm-order-instagram-grid #crm-order-import-instagram .ui-grid-tile-item {
	width: calc(32% - 18px);
}

.crm-order-instagram-grid .ui-grid-tile-item-checkbox {
	top: 17px;
}

.crm-order-instagram-grid .crm-order-instagram-grid-item:before {
	background: rgba(47, 198, 246, .1);
}

.ui-grid-tile-item-selected .crm-order-instagram-grid-item {
	border-color: #2fc6f6;
}

.crm-order-instagram-grid-item-title {
	flex: 1;
	position: relative;
}

.crm-order-instagram-grid-item-title-input {
	width: 100%;
	top: -3px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	font-size: 14px;
	line-height: 20px;
	color: #525c69;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 170px;

	position: absolute;
	padding: 0 5px;
	height: 24px;
	background: #fff;
	opacity: 0;
	border: 1px solid rgba(130,139,149,.67);
	pointer-events: none;
	border-radius: 2px;
	box-sizing: border-box;
	z-index: 99;
	transition: .2s;
}

.crm-order-instagram-grid-item-title-link {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-decoration: none;
	opacity: 1;
	transition: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	color: #525c69;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 170px;
}

.crm-order-instagram-grid-item-title-link:hover {
	color: #000;
	border-color: transparent;
}

.crm-order-instagram-grid-item-title-wrapper-price .crm-order-instagram-grid-item-title-input {
	top: 3px;
}

.crm-order-instagram-grid-item-title-wrapper {
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
}

.crm-order-instagram-grid-item-title-wrapper-price {
	top: 20px;
}

.crm-order-instagram-grid-item-bottom {
	margin: 6px 0 0 0;
	height: 39px;
	clear: both;
	display: flex;
	min-width: 100%;
}

.crm-order-instagram-grid-item-bottom-without-icons .crm-order-instagram-grid-item-title-rename .crm-order-instagram-grid-item-title-input {
	width: calc(100% + 12px);
	opacity: 1;
	pointer-events: auto;
}

.crm-order-instagram-grid-item-title-rename .crm-order-instagram-grid-item-title-link {
	transition: .2s;
	pointer-events: none;
	opacity: 0;
}

.crm-order-instagram-grid-imported .crm-order-instagram-edit-decs-text {
	color: #0063c6;
	font: 18px/20px 'OpenSans-Regular', Helvetca, Arial, sans-sarif;
}

.crm-order-instagram-grid-imported .ui-grid-tile-item-checkbox,
.ui-grid-tile-item-imported .ui-grid-tile-item-checkbox {
	display: none;
}

.crm-order-instagram-grid-imported .crm-order-instagram-grid-item-image {
	width: 100%;
	height: 198px;
}

.crm-order-instagram-grid-imported #crm-order-import-instagram .ui-grid-tile-item {
	margin: 9px 14px;
	width: calc(23.6% - 18px);
}

.crm-order-instagram-grid-imported .crm-order-instagram-grid-item {
	cursor: auto;
	padding: 10px;
}

.crm-order-instagram-grid-imported .crm-order-instagram-grid-item:hover {
	border-color: transparent;
	background: none;
}

.crm-order-instagram-grid-imported .ui-grid-tile-item-selected .crm-order-instagram-grid-item {
	border-color: transparent;
}

.crm-order-instagram-grid-imported .crm-order-instagram-grid-item-title-link,
.crm-order-instagram-grid-imported .crm-order-instagram-grid-item-title-input {
	max-width: 160px;
}

.crm-order-instagram-grid-imported .crm-order-instagram-grid-item:before {
	background: transparent;
}

.ui-grid-tile-item-imported .crm-order-instagram-grid-item:before {
	display: block;
}

.ui-grid-tile-item-imported .crm-order-instagram-grid-item,
.ui-grid-tile-item-imported .crm-order-instagram-grid-item:hover,
.ui-grid-tile-item-imported.ui-grid-tile-item-selected .crm-order-instagram-grid-item {
	border-color: #2fc6f6;
	cursor: auto;
}


.ui-grid-tile-item-imported:after {
	content: '';
	position: absolute;
	right: 9px;
	top: 18px;
	width: 19px;
	height: 14px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2219%22%20height%3D%2215%22%20viewBox%3D%220%200%2019%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.27386%2010.5149L16.4048%200.383972L18.2947%202.27384L6.27386%2014.2947L0%208.02079L1.88986%206.13092L6.27386%2010.5149Z%22%20fill%3D%22%232FC6F6%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
}

.crm-order-instagram-grid-item-title-link-renamed {
	animation: crm-order-instagram-grid-item-title-link-renamed .5s linear forwards;
}

@keyframes crm-order-instagram-grid-item-title-link-renamed {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.crm-order-instagram-view-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 50px 0 100px;
}

.crm-order-instagram-view-block-title {
	font: 37px/44px "OpenSans-Light", Helvetica, Arial, sans-serif;
	margin: 0 0 139px;
	color: #525c69;
	position: relative;
}

.crm-order-instagram-view-block-title-dots {
	position: absolute;
}

.crm-order-instagram-view-block-progressbar {
	width: 270px;
}

.crm-order-instagram-view-block-progressbar .ui-progressbar-track,
.crm-order-instagram-view-block-progressbar .ui-progressbar-bar {
	height: 11px;
	border-radius: 6px;
}

.crm-order-instagram-view-block-process {
	width: 740px;
	display: flex;
	align-items: center;
	margin-bottom: 145px;
	position: relative;
}

.crm-order-instagram-view-block-process:before {
	content: '';
	position: absolute;
	top: -75px;
	left: 175px;
	width: 383px;
	height: 157px;
	background: url(img/progress-icon.svg)
				no-repeat center;
}

.crm-order-instagram-view-block-process-icon,
.bx-ie .ui-icon, .bx-ie .ui-icon-md.crm-order-instagram-view-block-process-icon {
	width: 144px;
}

.crm-order-instagram-view-block-b24-icon {
	width: 270px;
	height: 135px;
	background: url(img/b24-icon.svg) no-repeat center;
	margin-left: auto;
}

.crm-order-instagram-view-block-b24-icon-en {
	background-image: url(img/b24-icon-en.svg);
}

.crm-order-instagram-view-block-empty-icon {
	width: 125px;
	height: 126px;
	margin-bottom: 50px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22125%22%20height%3D%22126%22%20viewBox%3D%220%200%20125%20126%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cg%20opacity%3D%220.2%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M120.755%200H0V121.725V121.725V126H125V0H120.755ZM118.525%20119.476H6.4718V6.52728H118.525V119.476Z%22%20fill%3D%22%23828B95%22/%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M14%20112H112V105.375L85.8686%2078.8736L72.7993%2092.1264L40.1314%2059L14%2085.4982V112H14Z%22%20fill%3D%22%23828B95%22/%3E%0A%3Cpath%20d%3D%22M94.5%2046C100.851%2046%20106%2040.8513%20106%2034.5C106%2028.1487%20100.851%2023%2094.5%2023C88.1487%2023%2083%2028.1487%2083%2034.5C83%2040.8513%2088.1487%2046%2094.5%2046Z%22%20fill%3D%22%23828B95%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A)
				no-repeat center;
	flex-shrink: 0;
}

.crm-order-instagram-view-block-subtitle {
	color: #dcdee1;
	font: 32px/40px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/*.crm-order-instagram-view-footer {
	box-shadow: 0 -2px 4px 0 #c6c9cb;
	overflow: hidden;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	padding: 15px;
	background: #fff;
	text-align: center;
}*/

/* footer */
.crm-entity-section.crm-entity-section-control {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 900;
	box-sizing: border-box;
	padding: 10px 0 0;
	background-color: #fff;
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .05);
	text-align: center;
	transition: all 300ms ease;
	transform: translateY(100%);
}

.crm-entity-wrap.crm-section-control-active .crm-entity-section.crm-entity-section-control { transform: translateY(0); }

.crm-entity-section-control-error-block {
	overflow: hidden;
	margin-top: 10px;
	max-height: 150px;
	transition: all 300ms ease;
}

.crm-entity-section-control-error-text {
	padding: 20px;
	width: 100%;
	background-color: #fae5e8;
	color: #d0011b;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* messages */
.crm-order-instagram-view-message {
	display: block;
	overflow: hidden;
	padding: 10px;
	font-size: 13px;
	color: rgba(83,92,105,.7);
	line-height: 19px;
	margin: 0 0 12px 0;
}

.crm-order-instagram-view-message-success {
	background: #f4fcdb;
}

.crm-order-instagram-view-message-error {
	background: #fad9da;
	color: #d10720;;
}